[2021-10-01 18:21] VandanaKumari18 commented on #2837
/assign
Can i work on this issue ??

[2021-10-01 18:22] drishyadamodaran commented on #3888
/assign

[2021-10-01 18:25] areenoverclouds opened #3898 "[Frontend with HTML/CSS]: History and Versions of HTML"
### Description

I would like to provide documentation on history and different versions of HTML and the features they introduced.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/

[2021-10-01 18:26] Surbhi-sinha commented on #2358
I would definitely extend it. @paramsiddharth

[2021-10-01 18:27] areenoverclouds commented on #3898
/assign

[2021-10-01 18:28] LavleenAgrawal commented on #487
@sitamadex11 yes sir completed...but remaining to attach on github because it isnt allowed to create multiple pull request....and i dont know how to attach it to same pull request...please guide

[2021-10-01 18:36] Ashutosh-Panda commented on #3890
/assign i want to work on this issue with document in c++ language

[2021-10-01 18:37] Asmit2952 commented on #209
I guess I saw another issue and PR was also merged.

[2021-10-01 18:37] Nikita512 commented on #2501
Please assign me this issue, I want to make video for the issue.

[2021-10-01 18:38] Nikita512 commented on #95
@Anant1711 Can I make video for this issue?

[2021-10-01 18:40] #879 closed

[2021-10-01 18:42] roopali-1 opened #3902 "Python strings , Lists , Tuples and Dictionaries"
### Description

in this issue we have to discuss about strings , tuples , lists and dictionaries of python that how they are written , what is the syntax and how they work .

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Cod

[2021-10-01 18:43] roopali-1 commented on #3902
@prathimacode-hub mam i created this issue and i want to work on this one . so kindly assign this issue to me so that i can work on this accordingly .
thank you !!

[2021-10-01 18:50] Adi9235 opened #3904 "Bitmasking"
### Description

what is bitmasking and what are its uses

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-01 18:50] Adi9235 commented on #3904
/assign

[2021-10-01 18:55] Bhuvnesh875 commented on #3851
/assign

[2021-10-01 19:01] SoubhPrat17 commented on #3902
/assign document

[2021-10-01 19:02] sangeetasingh17 commented on #3887
/assign

[2021-10-01 19:06] shubhangi-dwivedi opened #3907 "Merge sort C/CPP"
### Description

##Documentation
I'll write the code of Merge Sort and explain it.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-10-01 19:07] shubhangi-dwivedi commented on #3907
/assign

[2021-10-01 19:16] aroratushar346 opened #3908 "Multiplication without * operator using recursion"
### Description

Writing a c++ program using recursion to multiply the two numbers without using * operator

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-10-01 19:17] aroratushar346 commented on #3908
/assign

[2021-10-01 19:32] #2939 closed

[2021-10-01 19:51] sneha2001sinha commented on #1004
/assign

[2021-10-01 20:06] samipak458 opened #3914 "[Frontend Development: HTML,CSS,JS]: Media Queries"
### Description

What is Media Query?
How to use Media Query?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-10-01 20:07] samipak458 commented on #3914
/assign

[2021-10-01 20:10] vikhyatsingh123 opened #3915 "DSA 2.1.12 longest palindromic substring"
### Description

## Description

Explain and implement Longest Palindromic Substring.

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DS

[2021-10-01 20:11] eshan1925 commented on #1423
/assign

[2021-10-01 20:12] vikhyatsingh123 opened #3916 "DSA 2.1.14 Bracket evaluation of an equation as a string"
### Description

## Description

Code to Check for Balanced Brackets in an expression.

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/D

[2021-10-01 20:15] vikhyatsingh123 opened #3917 "DSA 2.1.19.1 suffix trie and suffix array in strings"
### Description

Explain Suffix Array with code.

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not

[2021-10-01 20:20] vikhyatsingh123 opened #3918 "DSA 2.1.19.2 suffix trie and suffix array in strings"
## Description

Explain suffix trie in strings with code.

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
-

[2021-10-01 20:25] vikhyatsingh123 opened #3919 "DSA 2.2.8.2 finding roots by newton's method"
## Description

Find the root of a number using Newton’s method

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issu

[2021-10-01 20:27] vikhyatsingh123 opened #3920 "DSA 2.2.8.1 Newton Raphson Method"
### Description

Program for Newton Raphson Method with the explanation.

### Domain

DSA

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-10-01 20:38] soma2000-lang commented on #3918
/assign

[2021-10-01 20:39] soma2000-lang commented on #3918
Documentation .
Name -Somasree Majumder
Batch no -1

[2021-10-01 20:40] soma2000-lang commented on #3820
/assign

[2021-10-01 20:43] neilotpal commented on #3916
Neilotpal Singh
DSA Batch-4
I would like to work on this issue via documentation, please assign this issue to me.

[2021-10-01 20:48] soma2000-lang commented on #3513
/assign

[2021-10-01 20:52] soma2000-lang commented on #3213
/assign
Name-Somasree Majumder
batch -1

[2021-10-01 20:56] soma2000-lang commented on #506
/assign

[2021-10-02 01:13] 1PRatgit commented on #3920
Pranjali R
DSA batch 7
Documentation. I want to work on this issue.

[2021-10-02 01:52] adityabisoi commented on #971
@CodingForTheBetter Sure

[2021-10-02 01:53] adityabisoi commented on #552
One issue at a time, pal!

[2021-10-02 01:54] adityabisoi commented on #2927
Already been taken.

[2021-10-02 02:36] #3120 closed

[2021-10-02 02:40] Eswari-Priya commented on #3919
I am Eswari Priya . I belong to dsa batch-2. I'd like to contribute to this issue via documentation. Pls assign this to me @vikhyatsingh123

[2021-10-02 02:44] Eswari-Priya commented on #3915
I am Eswari Priya Repaka and i belong to dsa batch2. I'm interested in working on this issue. Kindly assign it to me @vikhyatsingh123

[2021-10-02 02:59] Anant1711 commented on #95
okay, Assigned!
You have to show How to do install virtual Box and any Virtual Machine on Mac!

[2021-10-02 03:11] twi05 opened #3932 "Maximum Subarray Problem (Kandane's Algorithm)"
### Description

A quite popular programming problem, the Maximum Subarray Problem. We would see how this problem can be solved using a brute force approach and then we would try to improve our approach and come up with a better algorithm, aka, Kadane’s Algorithm.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/g

[2021-10-02 03:11] twi05 commented on #3932
/assign

[2021-10-02 03:27] apprenant-jd00 commented on #137
@ViAsmit can you assign me topic 1-6

[2021-10-02 03:28] #2811 closed

[2021-10-02 03:45] Isha307 commented on #2941
@samridhikapoor Update?

[2021-10-02 03:47] Isha307 commented on #2806
@ishreyakumari Any Update?

[2021-10-02 03:48] Isha307 commented on #2786
@Sumit3301 Any Update?

[2021-10-02 03:48] Isha307 commented on #609
@parvatijay2901 It's been 13 days, Any Update?

[2021-10-02 03:49] Isha307 commented on #610
@mohitmishra786 Any Update?

[2021-10-02 03:50] Isha307 commented on #1259
@das-ankur Any Update?

[2021-10-02 03:52] Isha307 commented on #2203
@aaryan078 Remember that this issue is for video not for documentation.

[2021-10-02 03:53] Isha307 commented on #2779
@riyasai22 Any Update?

[2021-10-02 03:56] #3651 closed

[2021-10-02 03:59] das-ankur commented on #1259
@Isha307 I will upload it by tomorrow. Sorry for being late

[2021-10-02 04:00] Isha307 commented on #1259
okay. @das-ankur

[2021-10-02 04:01] mandeep168 commented on #611
Yes, I am working on it.

[2021-10-02 04:12] Isha307 commented on #611
@mandeep168  Create the PR asap.

[2021-10-02 04:17] sakshi430 opened #3936 "STL in C++"
### Description
Introduction to STL in C++ and to use it in competitive coding.

### Domain
Competitive Programming

### Type of Contribution
Documentation

### Code of Conduct
- [x]  I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-10-02 04:17] sakshi430 commented on #3936
/assign

[2021-10-02 04:46] arsheelsheikh commented on #2426
@AkMo3 ig my PR is not yet merged

[2021-10-02 04:48] HassanRahim26 commented on #3919
Hey @vikhyatsingh123, I would like to work on this issue. Can you please assign me this issue.'
Name: Hassan Rahim
Batch: DSA Batch-2
Type: Documentation

[2021-10-02 04:50] HassanRahim26 commented on #3917
Hey @vikhyatsingh123, I would like to work on this issue. Can you please assign me this issue.'
Name: Hassan Rahim
Batch: DSA Batch-2
Type: Documentation

[2021-10-02 05:03] deepthi1107 commented on #609
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do a video on this issue. Its been 13 days since, the issue has opened, I request @abhisheks008 @Isha307 to look into it. If there is a chance of assigning, please assign me to work on this issue.

[2021-10-02 05:07] Nandani-koli opened #3940 "Different Pattern Questions in Cpp"
### Description

Description
Different pattern questions in cpp will add in CP folder of C_Cpp
Example :-
Rectangle pattern
Hollow rectangle
Different Pyramid
Floyd's Triangle
Different number patterns
0-1
Butterfly
Star
Palindrom
Rhombus
Zigzag

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/w

[2021-10-02 05:07] Nandani-koli commented on #3940
/assign

[2021-10-02 05:15] #2366 closed

[2021-10-02 05:17] roopali-1 commented on #1087
@adityabisoi i would like to work on this issue as audio contribution .. can you please assign this to me as audio ...

[2021-10-02 05:18] Sumit3301 commented on #2786
@Isha307  will be making a PR today.

[2021-10-02 05:33] mohitmishra786 commented on #610
@Isha307  i am getting the issue of `fatal: 'Machine_Learning' could be both a local file and a tracking branch.` if I am trying with my lappy

[2021-10-02 05:41] Isha307 commented on #610
@mohitmishra786
have u tried these 3 commands?
1. git config core.protectNTFS false
2. git reset
3. git checkout *

[2021-10-02 05:41] Nandani-koli opened #3943 "String Characteristics, Accessing Character, Campare &Swap"
### Description

String & functions in cpp
1. String Characteristics
2. Accessing character in string
3. Comparing & Swapping

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-con

[2021-10-02 05:42] Abhay3008 commented on #3919
/assign

[2021-10-02 05:42] Nandani-koli commented on #3943
/assign

[2021-10-02 05:43] #3943 closed

[2021-10-02 05:45] ashish-reddy-20-08 commented on #2941
@Isha307 , please assign the issue to me .

[2021-10-02 05:45] amaan118921 commented on #1448
Sir pushed again my pr, please review @sitamadex11

[2021-10-02 05:50] #122 closed

[2021-10-02 06:05] ishikajn8126 commented on #2837
@Aryamanz29 @Muskan-creator  since this issue has been inactive for quite some days. Can I work on it?

I'll add :
- resources where contributors can find links to good first issues
- resources for best practices while contributing in open source
- some self-written content from my experience

Type: Documentation

[2021-10-02 06:05] Cyber-Prajwal opened #3944 "Looping Techniques & Functions"
### Description

In looping techniques, we will discuss different functions that can be used accordingly in different scenarios, like looping through dictionaries etc.

Functions needed to be covered are:
I.) zip()
2.) enumerate()
3.)reversed()
4.)sorted()
5.)set()
6.)sorted() in combination with set()
7.)iteritem()
8.)items()

Document

### Domain

Python_Domain

### Type of Contribution

Documen

[2021-10-02 06:05] Cyber-Prajwal commented on #3944
/assign document

[2021-10-02 06:05] Cyber-Prajwal commented on #3944
/assign document

[2021-10-02 06:07] shreyarai05 commented on #3800
mam how would i inform you?

[2021-10-02 06:07] Anant1711 commented on #786
@LegendSumeet Are you planning to submit your work?

[2021-10-02 06:07] #1675 closed

[2021-10-02 06:19] gunjan-g commented on #3035
@sarav18302 if any such thing happens, please inform the mentors or supervisors in the group itself with the issue no and please look for the issues before creating them that they are not taken up by others

[2021-10-02 06:31] LegendSumeet commented on #786
I have done with documentation @Anant1711 For video I am planning because it's getting plag

[2021-10-02 06:34] Anant1711 commented on #786
Okay!
But please do fast!

[2021-10-02 06:43] PrachiDoshi2170 commented on #2837
Ishika I am almost done documenting this stuff I will upload it today

[2021-10-02 06:43] mohitmishra786 commented on #610
@Isha307  it didn't help

[2021-10-02 06:53] shreyarai05 opened #3947 "Data Science With python:Introduction to plotly and cufflinks"
### Description

Briefly explaining the topic using example and code snippet.

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-10-02 06:55] Debasmita-01 commented on #3563
no the branch exists please recheck and ask ur mentors in discord for further doubts

[2021-10-02 06:55] shreyarai05 commented on #3947
@prathimacode-hub
mam please assign me this issue

[2021-10-02 06:56] naveeramesh commented on #3563
Okay

[2021-10-02 06:57] iamprofessor1 opened #3948 "[Create New Issue]: Maximum Subarray Sum"
### Description

I would like to write a code on Maximum Subarray Sum using Kadane's Algorithm .

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-10-02 06:58] iamprofessor1 commented on #3948
/assign

[2021-10-02 07:11] sanjana-iyengar commented on #3947
I would like to contribute.

Full name: Sanjana Alaham
Batch Number: 19
GitHub Profile Link: https://github.com/sanjana-iyengar
Contribution: Documentation

[2021-10-02 07:20] amaan118921 commented on #1446
/assign

[2021-10-02 07:20] samridhikapoor commented on #2941
I am done making the ppt. I will record the video and upload it by today evening for sure.

[2021-10-02 07:20] shreyarai05 commented on #3947
I would want to contribute.
Name: Shreya Rai
Serial no:155
Batch:5
Approach : Theory explaining the topic along with examples.
type:Documentation

[2021-10-02 07:21] shreyarai05 commented on #3947
/assign

[2021-10-02 07:22] CodingForTheBetter commented on #971
Hi @Randrita, Just a few quick questions, are there any expectations on how long the audio file must be. How detailed am I supposed to talk about the boolean data type? Lately, where may I find the documentation for this topic so I can get an idea of what has been done so far? Thank you, sorry for so many questions 😅

[2021-10-02 07:22] prathimacode-hub commented on #3902
Do you want to work on this? I guess already an issue is assigned to you. @roopali-1

[2021-10-02 07:27] ishreyakumari commented on #2806
@Isha307 Its almost completed. I will create pull request today. Sorry for delay.

[2021-10-02 07:28] SoubhPrat17 commented on #3902
Please let me work on this. I haven't worked on a single issue

[2021-10-02 07:29] brassgolem-25 commented on #3918
Name - Tushar Tiwari
Batch - 6
Documentation

[2021-10-02 07:31] GyaniRoman23 commented on #1313
Hey @Debasmita-01 Could you please close this issue as the PR has been merged.

[2021-10-02 07:36] Saviour1001 commented on #3592
Closing as the PR got merged

[2021-10-02 07:36] #3592 closed

[2021-10-02 07:51] Randrita commented on #971
@CodingForTheBetter audio must cross 2 mins :) no max limitation though! check the python folder in the python branch of GWOC repo! check if there any documentation available on this topic or not! Hopefully, it is!

[2021-10-02 07:57] code-reaper08 commented on #3140
I couldn't find any, btw, I've left a comment on your PR, have a look, and do the needful 😄

[2021-10-02 08:00] #1414 closed

[2021-10-02 08:01] #1537 closed

[2021-10-02 08:09] ishkapoor2000 commented on #242
### I am interested in contributing to this issue
Hi @praveenscience, I'm **Ish Kapoor** (Batch 6, Frontend with HTML, CSS, JS & Bootstrap).
I am interested in working on this issue. I can work on proper Documentation along with animations (including the code) and it's working.

[2021-10-02 08:16] ishkapoor2000 commented on #865
/assign

[2021-10-02 08:17] SaniyaBhargav opened #3961 "C_CPP: Reverse a stack using extra stack"
### Description

Description

I will explain how to reverse a stack using an extra stack in C using documentation.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-10-02 08:17] SaniyaBhargav commented on #3961
/assign

[2021-10-02 08:18] ishkapoor2000 commented on #499
/assign

[2021-10-02 08:19] CodingForTheBetter commented on #971
Great, thank you and when would you like to see this audio contribution completed?

[2021-10-02 08:20] ViAsmit commented on #137
@apprenant-jd00  I think topics 5-8 are already completed. see that video, and add only those topics which haven't been covered yet. I have assigned to you

[2021-10-02 08:20] ishkapoor2000 commented on #1057
/assign

[2021-10-02 08:22] ViAsmit commented on #2933
@Tani21 have you been able to complete the issue?

[2021-10-02 08:24] Saviour1001 commented on #1753
Closing as PR #3205 got merged

[2021-10-02 08:24] #1753 closed

[2021-10-02 08:33] aaryan078 commented on #2203
@Isha307  sorry  i can't do it in video format

[2021-10-02 08:33] HastiSutaria commented on #1966
/unassign

[2021-10-02 08:36] Mann-tech13 commented on #3682
/assign documentation

[2021-10-02 08:37] Mann-tech13 commented on #3677
/assign documentation

[2021-10-02 08:47] AVS18 opened #3963 "Introduction to Django"
### Description

Give a short note of Django and advantages of using Django in projects

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/m

[2021-10-02 08:48] apprenant-jd00 commented on #137
@ViAsmit I found only documentations and not the video. Can you provide the link of contributions made on video

[2021-10-02 08:50] Gauravmauryaios commented on #3898
/assign this project

[2021-10-02 08:50] AVS18 opened #3964 "Installing Django in Operating System"
### Description

Explain how to install Django in windows and ubuntu (primarily).

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-10-02 08:51] #1310 closed

[2021-10-02 08:53] AVS18 opened #3965 "How to setup a Virtual Environment and install Django in it"
### Description

Give a step by step creation of a virtual environment and install Django in the environment

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-o

[2021-10-02 08:53] jiteshjitsun opened #3966 "Merge Two Sorted Lists"
### Description

Here I am going to add a code for merging two sorted Linked List using replace method.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-10-02 08:54] AVS18 opened #3967 "Create a sample application in Django"
### Description

Give a step by step commands used to create a sample application using Django.

Once application is created, explain how to run the application and show the output.

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-10-02 08:54] jiteshjitsun commented on #3966
/assign

[2021-10-02 08:57] bhumitbedse commented on #3915
/assign

[2021-10-02 08:57] abhinav-exp commented on #3967
/assign

[2021-10-02 08:57] kritebh commented on #3967
/assign I'm interested

[2021-10-02 08:57] yashvardhan-verma commented on #3964
/assign
I would like to contribute to this issue with documentation

[2021-10-02 08:58] kritebh commented on #3965
/assign I'm interested

[2021-10-02 08:58] #1762 closed

[2021-10-02 08:59] yashvardhan-verma commented on #3963
/assign
I would like to contribute with documentation

[2021-10-02 09:01] abhinav-exp commented on #3963
/assign

[2021-10-02 09:02] roopali-1 commented on #3902
Now 1 issue got assigned to me .. if someone is not worked in this then i
will ..
As of now i am already working on 1 issue..

On Sat, 2 Oct 2021, 12:52 pm Prathima Kadari, ***@***.***>
wrote:

[2021-10-02 09:04] abhisheks008 commented on #1966
@HastiSutaria What happened?

[2021-10-02 09:14] #3774 closed

[2021-10-02 09:16] Dhruvpandey08 opened #3968 "Parameters and Arguments"
### Description

To Describe about what are Parameters and Arguments in Python

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-10-02 09:16] Dhruvpandey08 commented on #3968
/assign

[2021-10-02 09:19] 2024-SANDHYA commented on #3140
Not video, but documentation as here this issue is labeled with documentation.
![image](https://user-images.githubusercontent.com/75671152/135710531-d2110ee5-ef91-4cc5-94da-f5461052fa12.png)

[2021-10-02 09:20] Kajal13081 opened #3970 "Android-Java 3.4: Android-Share-App-Data"
### Description

What is sharing app data in android and how we can do it?
ACTION_SEND and Example of ACTION_SEND in android
What is ShareActionProvider?
Sending data through links, URL, html text, text, images, multiple types, api etc. to other apps.
Share in Facebook and other social media
Receiving data from other apps

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

##

[2021-10-02 09:20] Kajal13081 commented on #3970
/assign

[2021-10-02 09:22] Kajal13081 commented on #3970
@VikasPandey121 I want to work on this issue.

[2021-10-02 09:25] #1490 closed

[2021-10-02 09:27] HastiSutaria commented on #1966
@abhisheks008 I had to give my PC for repairing! So I won't be able to shoot the video.

[2021-10-02 09:29] Rashmiii1001 commented on #3967
/assign

[2021-10-02 09:29] Robinrai2612 commented on #3967
/assign
I would like yo work on this issue with documentation.

[2021-10-02 09:30] Rashmiii1001 commented on #3965
/assign

[2021-10-02 09:30] Robinrai2612 commented on #3967
/assign
I would like to work on this issue with documentation.

[2021-10-02 09:40] parvatijay2901 commented on #609
@Isha307 I'm sorry, I was in hospital since some days and couldn't let you know too earlier. I will make the PR by today night. Thanks

[2021-10-02 09:44] #684 closed

[2021-10-02 09:47] #2967 closed

[2021-10-02 09:50] #2981 closed

[2021-10-02 09:53] Suravihere commented on #1990
I am adding a documentation.
[cascading.txt](https://github.com/girlscript/winter-of-contributing/files/7271246/cascading.txt)

[2021-10-02 09:53] singhnikhiljsr commented on #3515
@ruchitadamodar1922 Please review the PR.
https://github.com/girlscript/winter-of-contributing/pull/3976

[2021-10-02 09:56] hardikk2002 commented on #2698
@SMD-1 Any updates?

[2021-10-02 10:09] Aaksha-sharma commented on #564
@adityabisoi I have made PR for this issue from the past 4 days and I have also sent the link multiple times its not reviewed till now.
Link - https://github.com/girlscript/winter-of-contributing/pull/3489

[2021-10-02 10:11] Aaksha-sharma commented on #2804
I have done the requested changes @abhisheks008 please see to it.
link- https://github.com/girlscript/winter-of-contributing/pull/3867

[2021-10-02 10:19] ashutoshlovpry opened #3978 "visualization of data"
### Description

visualization of data from csv file as a graph format

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-10-02 10:20] ashutoshlovpry commented on #3978
/assign

[2021-10-02 10:23] ashutoshlovpry commented on #3978
serial no.-116
batch-4
name-ashutosh singh

[2021-10-02 10:36] RIYANSHGARG commented on #3398
I have created a pull request @koshimagoyal  kindly review it .

[2021-10-02 10:43] Saviour1001 commented on #3504
Closing as the PR is now merged

[2021-10-02 10:43] #3504 closed

[2021-10-02 10:53] #2927 closed

[2021-10-02 10:55] #3830 closed

[2021-10-02 10:58] #1649 closed

[2021-10-02 10:59] nakshatra-garg opened #3985 "Data Science with Python: Implementing Fashion MNIST using CNNs"
### Description

Description:

Explain implementation of Fashion MNIST using CNNs in Tensorflow.

can I work on this issue @prathimacode-hub

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gi

[2021-10-02 10:59] nakshatra-garg commented on #3985
/assign

[2021-10-02 11:11] vartikavr opened #3988 "C_CPP : Storage Classes in C++"
### Description

Documentation on <b>storage classes in C++</b>.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proje

[2021-10-02 11:12] vartikavr commented on #3988
/assign

[2021-10-02 11:17] ujju20 commented on #3480
/assign

[2021-10-02 11:20] shecoderfinally opened #3990 "Overview and Introduction to Lambda Functions in Python."
### Description

@adityabisoi
I would like to make the documentation contribution.
Description :
Overview and Introduction to Lambda Functions in Python.
Note :
Changes should be made inside the Python/ directory & Python branch.
Issue only for GWOC'21 contributors.
Issue will be assigned on a first come first serve basis, 1 Issue == 1 PR.
In the PR, keep this issue's title as your PR's title.
Mus

[2021-10-02 11:20] ujju20 commented on #2614
/assign

[2021-10-02 11:20] shecoderfinally commented on #3990
/assign

[2021-10-02 11:22] ikavyajain opened #3991 "School Management System In C"
### Description

My documentation includes a SCHOOL MANAGEMENT SYSTEM!
It is a menu driven program which includes:
- The basic information of a student(Name,Roll Number, Marks)
- Shows the students records
- Sorts file on the basis of marks
- Prints student's information using Roll no.
- Calculates the average marks of the student

Hope this Student Records Management System helps you and your pre

[2021-10-02 11:23] ikavyajain commented on #3991
/assign

[2021-10-02 11:23] ujju20 commented on #2454
Please assign it to me.

[2021-10-02 11:25] #1227 closed

[2021-10-02 11:27] deepthi1107 commented on #1527
Hello, I am Deepthi M with serial number:198, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation of the issue.

[2021-10-02 11:32] shaurya24sri commented on #713
@Randrita .Please Review my PR https://github.com/girlscript/winter-of-contributing/pull/3992

[2021-10-02 11:37] Narcos101 commented on #3964
/assign

[2021-10-02 11:38] deepthi1107 commented on #1034
Hello, I am Deepthi M with serial number:198, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation of the issue.

[2021-10-02 11:44] prathimacode-hub commented on #1034
Issue assigned to @deepthi1107 for audio contribution

[2021-10-02 11:55] prathimacode-hub commented on #3978
Don't create issues without informing. @ashutoshlovpry

[2021-10-02 12:19] AkMo3 commented on #2426
@arsheelsheikh If you are not following the instructions written in the PR template, appropriate labels will not be placed by it, and we won't even come to know that it actually exists. Just adhere to the instructions strictly.

[2021-10-02 12:24] #2797 closed

[2021-10-02 12:29] Rosy-Chadha commented on #2164
/assign video

[2021-10-02 12:31] Rosy-Chadha commented on #1614
\assign video

[2021-10-02 12:37] shecoderfinally opened #4003 "Inheritance Basics"
### Description

I would like to make the documentation contribution.
Description :
Inheritance Basics

Note :
Changes should be made inside the Python/ directory & Python branch.
Issue only for GWOC'21 contributors.
Issue will be assigned on a first come first serve basis, 1 Issue == 1 PR.
In the PR, keep this issue's title as your PR's title.
Must Follow : Contributing Guidelines & Code of Condu

[2021-10-02 12:37] shecoderfinally commented on #4003
/assign

[2021-10-02 12:40] AkMo3 commented on #1614
@Rosy-Chadha You have been assigned video

[2021-10-02 12:46] ashish-reddy-20-08 commented on #419
@prathimacode-hub, Can you please assign me a video contribution for this mam.
M. Ashish Reddy
Batch -5
Approach - A detailed explanation with examples

[2021-10-02 12:48] prathimacode-hub commented on #419
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-10-02 12:49] SMD-1 commented on #2698
I will submit it by tomorrow morning

[2021-10-02 12:49] #3398 closed

[2021-10-02 13:06] deepthi1107 commented on #1567
Hello, I am Deepthi M with serial number:198, Batch-5. I would like to do audio on this issue.
my approach: A detail explanation.

[2021-10-02 13:09] Varun270 commented on #3902
@prathimacode-hub I am already working on creating documentation for dictionaries in python. Here is the issue that I created 2 days ago-  #3700. I created this after getting a go-ahead from Randrita and then assigned it to myself. I assume that the issue creator somehow didn't check whether an issue like this already exists or not. Kindly close this issue.

[2021-10-02 13:13] palakshivlani-11 commented on #3963
/assign

[2021-10-02 13:13] palakshivlani-11 commented on #3948
/assign

[2021-10-02 13:14] palakshivlani-11 commented on #3932
/assign

[2021-10-02 13:14] palakshivlani-11 commented on #3920
/assign

[2021-10-02 13:14] palakshivlani-11 commented on #3919
/assign

[2021-10-02 13:14] VANSHIKAAGARWAL571 opened #4007 "CPP: Documentation on keywords and Identifiers in c++"
### Description

I want to make documentation on keywords and Identifiers in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-10-02 13:14] palakshivlani-11 commented on #3916
/assign

[2021-10-02 13:15] palakshivlani-11 commented on #3915
/assign

[2021-10-02 13:15] palakshivlani-11 commented on #3967
/assign

[2021-10-02 13:16] palakshivlani-11 commented on #3480
/assign

[2021-10-02 13:17] palakshivlani-11 commented on #3373
/assign

[2021-10-02 13:17] palakshivlani-11 commented on #3295
/assign

[2021-10-02 13:17] palakshivlani-11 commented on #3269
/assign

[2021-10-02 13:18] palakshivlani-11 commented on #3260
/assign

[2021-10-02 13:26] aniketh-varma commented on #2022
/assign

[2021-10-02 13:30] Iamtripathisatyam opened #4008 "Documentation on Escape Sequences in Python"
### Description

Description
I want to make documentation on Escape Sequences in Python.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-10-02 13:37] tamalbag117 commented on #920
/assign

[2021-10-02 13:40] tamalbag117 commented on #1217
/assign

[2021-10-02 13:43] Saviour1001 commented on #1145
Closing this as the PR got merged !

[2021-10-02 13:43] #1145 closed

[2021-10-02 13:49] PranshuSrivastava commented on #4008
/assign

[2021-10-02 13:50] PranshuSrivastava commented on #4007
/assign

[2021-10-02 13:55] harichandana1406 commented on #389
@prathimacode-hub Can you review and merge pull request?

[2021-10-02 13:56] Iamtripathisatyam opened #4011 "Documentation on OS Module in Python"
### Description

Description
I want to make a Documentation on OS Module in Python.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_O

[2021-10-02 13:56] Iamtripathisatyam commented on #4011
/assign

[2021-10-02 13:58] afreenabegum commented on #3261
Hi mam @nimisha-yadav .I want to work on this issue. Can you assign it to me?
Helpful if you assign to me!!
Thank you.

[2021-10-02 14:20] harshmathurx opened #4013 "[JS]: React JS introduction"
### Description

Description
Basic introduction of React.js as a frontend framework and provide some examples along with the life cycle methods of React.
Futher the Front-end frameworks directory will be mentioned in it for in depth learning

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/

[2021-10-02 14:20] harshmathurx commented on #4013
/assign

[2021-10-02 14:23] #3902 closed

[2021-10-02 14:25] dikshatakyar commented on #3140
@code-reaper08 , I will be doing the necessary changes in a day or two. Also,please add the VIDEO label in this issue.

[2021-10-02 14:27] Akshat-2002-coder opened #4017 "divide and conquer algorithm"
### Description

give a brief description about DAC

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-02 14:27] Akshat-2002-coder commented on #4017
/assign

[2021-10-02 14:28] Akshat-2002-coder commented on #4017
/assign

[2021-10-02 14:28] #2982 closed

[2021-10-02 14:36] VANSHIKAAGARWAL571 opened #4018 "Documentation in C++ on keywords and Identifiers"
### Description

I want to make documentation on Keywords and Identifiers in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-10-02 14:36] #680 closed

[2021-10-02 14:36] VANSHIKAAGARWAL571 commented on #4018
/assign

[2021-10-02 14:37] VANSHIKAAGARWAL571 commented on #4018
/assign

[2021-10-02 14:48] riyasai22 commented on #2779
Extremely sorry for the delay! @Isha307
Kindly review my PR.

[2021-10-02 14:49] eshan1925 commented on #1426
Hey @rahulsain I have corrected the issues, please merge the PR if there are no issues.

[2021-10-02 15:12] #2779 closed

[2021-10-02 15:20] miraj0507 opened #4025 "What_are_Classes_&_Object_Programming(A).md"
### Description

Classes and Object Programming
(intro to OOPS)
Complete Beginner to Advance Audio Series.

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-10-02 15:20] miraj0507 commented on #4025
/assign

[2021-10-02 15:20] miraj0507 commented on #4025
/assign

[2021-10-02 15:26] sanjana-iyengar commented on #1966
/assign
I would like to contribute.

Full name: Sanjana Alaham
Batch Number: 6
GitHub Profile Link: https://github.com/sanjana-iyengar
Contribution: Video

[2021-10-02 15:30] miraj0507 commented on #4025
/assign

[2021-10-02 15:31] AkMo3 commented on #3391
@sunidhii09 See the issue comment. Actually, he had commented using the correct sign!

[2021-10-02 15:42] ShikhaSwati60 opened #4028 "Cpp: Valid Parentheses"
### Description

Valid/balanced parentheses problem is solved using stack data structure. I will provide a detailed C++ code for this problem.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscr

[2021-10-02 15:42] ShikhaSwati60 commented on #4028
/assign

[2021-10-02 15:51] pankaj-sawnani commented on #2407
@prathimacode-hub I have created pull request. Please check it.

[2021-10-02 15:51] Rohit-dubey45 opened #4033 "CPP: Ternary search in c++"
### Description

Here , i will provide detail documentation of ternary search in c++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-10-02 15:52] Rohit-dubey45 commented on #4033
/assign

[2021-10-02 15:52] Randrita commented on #971
@CodingForTheBetter as early as you can :P try to finish it in 3 days!!

[2021-10-02 15:54] nandini7637 opened #4034 "Java 18.3 : Numeric type wrappers"
### Description
 Add audio, documentation, and video regarding the **Numeric type wrappers**

 **Location of File to be added** The files should be added inside the _`Numeric type wrappers`_ which will be inside _`Type Wrapper`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb`

[2021-10-02 15:57] hardikk2002 commented on #2698
Hey! that's awesome. Take your time.
Also, add one more point something like **prerequisites for getting started with express**.

[2021-10-02 15:57] nandini7637 opened #4035 "Java 19.1 : Autoboxing and methods"
### Description
 Add audio, documentation, and video regarding the **Autoboxing and methods**

 **Location of File to be added** The files should be added inside the _`Autoboxing and methods`_ which will be inside _`Autoboxing`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb`

[2021-10-02 16:11] sunidhii09 commented on #3391
With due respect, it's wrong, he used (\) which is different from the one mentioned (/), that's why the bot assigned it to me when I commented. Nevermind though, it doesn't matter now. :) @AkMo3

[2021-10-02 16:18] Tani21 commented on #2933
I'm working on it. We get 12 days to do it right?

On Sat, 2 Oct, 2021, 1:52 PM ASMIT VIMAL, ***@***.***> wrote:

[2021-10-02 16:25] Yash-Chandrani commented on #4035
/assign documentation

[2021-10-02 16:26] SourabhSaraswat-191939 commented on #621
@Techno-Simpola, any updates?
Please do it fast. This is the only week 1 issue that is still pending. Give us an update on what is going on.

[2021-10-02 16:26] rajmadhu0406 commented on #4034
/assign documentation

[2021-10-02 16:27] shashank725 opened #4037 "How to Dockerize a normal Django website"
### Description

Give a step by step commands to Dockerize a Django website.

Add Database (except SQLite), gunicorn and nginx to the application.

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](

[2021-10-02 16:28] madildev commented on #621
I am working on it.. Will get to as soon as it gets done..

On Sat, Oct 2, 2021, 9:26 PM Sourabh Saraswat 191939 <
***@***.***> wrote:

[2021-10-02 16:28] shashank725 commented on #4037
/assign

[2021-10-02 16:29] SourabhSaraswat-191939 commented on #2063
Hey @Prateek-8168, any updates?
It's being too long, we are not getting any updates from your side.
If you are facing any problems while working on this issue. Let us know. We will help you out.

[2021-10-02 16:32] adityarawat1337x commented on #3655
Should i start making it in a Week 6 folder accouding to the readme?

[2021-10-02 16:33] SourabhSaraswat-191939 commented on #2063
@madildev, This is the already assigned issue. We will be going to raise new issues soon. You can work on that.
Or you can also work on issues on which the assigned person is not active, if we found any then we will assign that to you and then you can start working on that. I will ping you If I found any.

[2021-10-02 16:34] Aryamanz29 opened #4038 "Opensource : Migrate `4.Open_Source_Programs/4.4_Linux_Foundation_Mentorship_Programs.ipynb` to `MARKDOWN.md`"
<hr>

## Description 📜

Opensource : Migrate `4.Open_Source_Programs/4.4_Linux_Foundation_Mentorship_Programs.ipynb` to `MARKDOWN.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girl

[2021-10-02 16:34] RIYANSHGARG commented on #534
Is this issue open ? as already 15 days are passed if there is no pull request for it or no one is working on it then I would like to work on it .

[2021-10-02 16:34] SourabhSaraswat-191939 commented on #2303
Hey @Dhruvsinghjadon, any updates?
It's being too long, we are not getting any updates from your side.
If you are facing any problems while working on this issue. Let us know. We will help you out.

[2021-10-02 16:34] madildev commented on #2063
No its not like that.. Just stuck in a bit of mess.. I am working with it..
Will get it done with it really soon..

On Sat, Oct 2, 2021, 9:30 PM Sourabh Saraswat 191939 <
***@***.***> wrote:

[2021-10-02 16:35] SourabhSaraswat-191939 commented on #2309
Hey @shivang02, any updates?
It's being too long, we are not getting any updates from your side.
If you are facing any problems while working on this issue. Let us know. We will help you out.

[2021-10-02 16:36] mukeshmjn commented on #534
@pankaj-Makhijani any updates?
If you dont make a pr I will assign to @RIYANSHGARG tomorrow .. @RIYANSHGARG just wait till tomorrow..

[2021-10-02 16:36] madildev commented on #2063
No, issue just let me know when the issue related to Vue becomes available.. Thanks..

[2021-10-02 16:36] RIYANSHGARG commented on #534
ok sir .

[2021-10-02 16:37] Aryamanz29 opened #4039 "Opensource : Migrate `1.Background/1._History_Of_Free_And_Open_Source.ipynb` to `MARKDOWN.md`"
<hr>

## Description 📜

Opensource : Migrate `1.Background/1._History_Of_Free_And_Open_Source.ipynb` to `MARKDOWN.md`

## NOTE :arrow_down:

You have to delete that `.pynb` file and add `.md` file

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.gith

[2021-10-02 16:38] SourabhSaraswat-191939 commented on #621
@madildev, you should start working on an issue when it is assigned to you. Because if you and the assigned person both send us the PR. Then we have to consider the PR of the assigned person as per the rules.

[2021-10-02 16:40] mukeshmjn commented on #621
@SourabhSaraswat-191939 its already been 14days .. @madildev u can work on it!

[2021-10-02 16:40] madildev commented on #621
Acknowledged.

On Sat, Oct 2, 2021, 9:38 PM Sourabh Saraswat 191939 <
***@***.***> wrote:

[2021-10-02 16:40] Aryamanz29 opened #4040 "Opensource : Migrate `2.Getting_Started_With_Open_Source/2._GettingStarted_With_Open_Source.ipynb` to `MARKDOWN.md`"
<hr>

## Description 📜

Opensource : Migrate `2.Getting_Started_With_Open_Source/2._GettingStarted_With_Open_Source.ipynb` to `MARKDOWN.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.co

[2021-10-02 16:42] Aryamanz29 opened #4041 "Opensource : Migrate `3.Share_Things_With_Community/3.6_Finding_Github_Issues.ipynb` to `MARKDOWN.md`"
<hr>

## Description 📜

Opensource : Migrate `3.Share_Things_With_Community/3.6_Finding_Github_Issues.ipynb` to `MARKDOWN.md`

## NOTE  👇 :
You have to delete that `.pynb` file and add `.md` file

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-10-02 16:44] SourabhSaraswat-191939 commented on #621
Yes, you are right @mukeshmjn .
You can reassign it to @madildev.

[2021-10-02 16:45] mukeshmjn commented on #621
Done already

done already!

[2021-10-02 16:46] rajmadhu0406 opened #4042 "Add links to roadmap"
### Description

I want to add links to the roadmap so that anyone can directly click on the respective topic and go to that folder, instead of browsing through the whole repository.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTIN

[2021-10-02 16:46] rajmadhu0406 commented on #4042
/assign

[2021-10-02 16:46] madildev commented on #621
Thanks, I will get it get it done.

[2021-10-02 16:47] rajmadhu0406 commented on #4042
/assign

[2021-10-02 16:51] s4marth commented on #4039
Can you please explain the task, sir?

[2021-10-02 16:52] rex2828 commented on #4041
/assign

[2021-10-02 16:53] AbhishekBhatt072003 commented on #3865
/assign video

[2021-10-02 16:55] AbhishekBhatt072003 commented on #3865
\assign video

[2021-10-02 17:05] Pranshu321 opened #4046 "Frontend : CSS general rule in document form"
### Description

### CSS general rule
In this i deeply explain about that should be followed while writing the css , which benefit's reader and developer for understanding of code of css.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-10-02 17:06] Pranshu321 commented on #4046
/assign

[2021-10-02 17:07] rex2828 commented on #4041
I am not able to find any file named MARKDOWN.md. I have to create it or what?

[2021-10-02 17:10] #3706 closed

[2021-10-02 17:18] 124015001 opened #4051 "C_CPP: File Pointer Manipulation Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-02 17:18] 124015001 commented on #4051
/assign

[2021-10-02 17:22] mayur-23 opened #4052 "Leaders in an array"
### Description

This is a problem based on array . An element is leader if it is greater than all the elements to its right side. And the rightmost element is always a leader. I will be providing different approches to solve this problem and submit a detailed documentation.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](htt

[2021-10-02 17:23] shivang02 commented on #2309
Hi @SourabhSaraswat-191939 , really sorry I got busy with other tasks and delayed this but I'll finish it by Tuesday. I noticed that Filters have been deprecated so I am confused if I should explain it in details anyways.

[2021-10-02 17:24] mayur-23 commented on #4052
/assign

[2021-10-02 17:27] rajraii opened #4054 "Merge Sort"
### Description

Description
Hey there i ill be making a PR where ill be covering all aspect of merge sort

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-10-02 17:28] rajraii commented on #4054
/assign

[2021-10-02 17:30] Arya-Gupta commented on #3634
I want to contribute to this issue : JavaScript stack
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-3634
Contribution Approaches-What is the call stack, relation between call stack and the data structure stack, what is stack overflow
Type-Audio

[2021-10-02 17:32] Harshkumar62367 commented on #4040
/assign

[2021-10-02 17:39] xerexcoded opened #4056 "Rust : Adding README for topics"
### Description

**Description**

Add README , giving a brief of what Rust is and how it works .
Also the topics to be covered

### Domain

Rust

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-con

[2021-10-02 17:40] xerexcoded commented on #4056
/assign documentation

[2021-10-02 17:49] ViAsmit commented on #137
@apprenant-jd00 ..yeah I think video part is not done for any part of this topic .. ok then..you can take any topics...
OR will you able to take all the topics..and make two videos? If possible...
Or if you can't...then you can work on any part you like...

[2021-10-02 17:50] rajmadhu0406 commented on #3722
/assign audio

[2021-10-02 17:51] ViAsmit commented on #2933
Yes @Tani21  you have 12 days.. I was just checking out....

[2021-10-02 17:52] rajmadhu0406 commented on #3868
/assign audio

[2021-10-02 17:55] Harshkumar62367 commented on #4040
Hey @Aryamanz29  sir?
I have 1 query, during submitting the pull request should we also delete the old .ipynb repository and then add our .md file or should we just add  our .md  file without doing anything with the old .ipynb file?

[2021-10-02 17:55] rajmadhu0406 commented on #2426
/assign audio

[2021-10-02 18:00] Harshkumar62367 commented on #4041
Hey @rex2828 , there are no files named Markdown.md , it's just the format in which we have to provide a new doc file. The 3.6 Finding_Github_Issues is in .ipynb format due to shared from google colab, we just have to change the contents of doc in .md format  from .ipynb format.
Hope, this clear your doubts.

[2021-10-02 18:04] shubhmittal07 opened #4059 "Android Kotlin: 06.01 Buttons"
<hr>

## Description :scroll:

* Give a step-by-step tutorial of implementing buttons in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:
Android Development with Kotlin
- [x] Android Dev (Kotlin)

<hr>

<hr>

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ directory under

[2021-10-02 18:04] shubhmittal07 commented on #4059
/assign

[2021-10-02 18:05] ankushsingh24 opened #4060 "C_CPP : LCM and GCD in C++"
### Description

This documentation will explain LCM and GCD by a problem in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-10-02 18:05] shubhmittal07 commented on #4059
I will be contributing in documentation.

[2021-10-02 18:06] ankushsingh24 commented on #4060
/assign

[2021-10-02 18:09] Aryamanz29 commented on #4040
You have to delete that `.pynb` file and add `.md` file

[2021-10-02 18:09] ketkikaushik commented on #1900
\assign audio

[2021-10-02 18:10] prithwishpramanik commented on #3649
/assign video

[2021-10-02 18:11] Aryamanz29 commented on #4039
@s4marth  Sure , Happy docs 🎉🎉

[2021-10-02 18:16] #3636 closed

[2021-10-02 18:18] Aryamanz29 commented on #3799
@ELLIPSIS009  Assigned happy docs 🎉🎉, Add your doc to `Misc` folder

[2021-10-02 18:20] Aryamanz29 commented on #3799
@Meghna2080  @riyapandey730  You can grab this one :arrow_right:  https://github.com/girlscript/winter-of-contributing/issues/4038

[2021-10-02 18:23] Meghna2080 commented on #4038
/assign

[2021-10-02 18:24] Arya-Gupta commented on #3245
I want to contribute to this issue : [Frontend with HTML,CSS,JS]: HTML LIST
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-3245
Contribution Approaches-what is a list, why do we need lists, types of lists-ordered,unordered
Type-Audio

[2021-10-02 18:25] preeti003 commented on #1452
/assign

[2021-10-02 18:37] #1043 closed

[2021-10-02 18:38] aniket-24 opened #4066 "Shell Sort in C++"
### Description

In this, we will get a brief idea about Shell Sort in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-10-02 18:38] aniket-24 commented on #4066
/assign

[2021-10-02 18:38] aniket-24 commented on #4066
/assign

[2021-10-02 18:49] arsheelsheikh commented on #2426
@AkMo3 sorry for the inconvenience caused I'll correct all the mistakes and do it again. ASAP

[2021-10-02 18:50] Harshkumar62367 commented on #4040
Okk thanks sir.

[2021-10-02 18:53] iamayushkr commented on #1442
/assign

[2021-10-02 18:54] iamayushkr commented on #1442
/assign

[2021-10-02 18:56] aniket-24 commented on #4066
Please assign Hacktoberfest Label!

[2021-10-02 19:31] triptic1412 commented on #3301
Hello, I'm Tripti
DSA Batch 1
I would like to work on the video

[2021-10-02 19:32] tejas342 commented on #3689
@adityabisoi please verify this issue

[2021-10-02 19:57] shrutigrover25 opened #4073 "Segregate even and odd numbers"
### Description

Given an array A[], write a function that segregates even and odd numbers. The function should put even numbers first then odd numbers.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.c

[2021-10-02 19:57] shrutigrover25 commented on #4073
/assign

[2021-10-02 20:22] Sarthak-Agg commented on #3198
good job @WajihaFatim

[2021-10-02 20:30] Sarthak-Agg commented on #3204
@ShivaniPaliwal29  have made your contribution to this issue?

[2021-10-02 20:35] #2990 closed

[2021-10-02 20:35] Sarthak-Agg commented on #3214
who is willing to make a contribution to this issue ?
@WajihaFatim  @Nay907  @7sakshi7

[2021-10-02 20:38] Sarthak-Agg commented on #3213
@soma2000-lang  have made your contribution?

[2021-10-02 20:56] hariketsheth opened #4079 "[FrontEnd HTML CSS]: Add Form Validation"
### Description

- Would like to contribute for Form Validations

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-10-02 20:57] hariketsheth commented on #4079
/assign

[2021-10-02 20:57] hariketsheth commented on #4079
/assign

[2021-10-02 21:20] aastha01chauhan opened #4080 "sieve of eratosthenes in java"
### Description

Sieve of Eratosthenes is a simple and ancient algorithm used to find the prime numbers up to any given limit. It is one of the most efficient ways to find small prime numbers.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-10-02 22:08] pankaj-Makhijani commented on #534
@mukeshmjn Please check my PR and let me know if any changes are required.

[2021-10-02 23:03] uniquenikki commented on #3392
assign me/assign

[2021-10-02 23:37] SaloniJain24 commented on #3915
/assign

[2021-10-02 23:46] SaloniJain24 opened #4084 "Spiral of matrix in C++"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-02 23:51] SaloniJain24 opened #4085 "Find kth max and min element in array in python"
### Description

Description

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-03 00:03] SaloniJain24 commented on #4085
/assign

[2021-10-03 00:04] SaloniJain24 commented on #4084
/assign

[2021-10-03 01:54] Minal5 commented on #3865
\assign audio

[2021-10-03 01:57] rahulsain commented on #1426
Dont reply or tag me in issue when you have opened a PR, instead reply or mention me in that PR

[2021-10-03 01:59] Minal5 commented on #3112
@garvitraj @AkMo3 \assign documentation

[2021-10-03 02:01] #2503 closed

[2021-10-03 02:13] Kalpana-Kathait11 opened #4089 "Linked list inertion and deletion Operations"
### Description

This issue for singly, doubly, and circular linked list operation how to inert or add elements from the beginning, middle, and end.,And how to delete elements from beginning middle and end. These operations are for all types of linked lists.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com

[2021-10-03 02:20] adityabisoi commented on #3689
@rachita11 @tejas342 Go ahead

[2021-10-03 03:08] Sumit3301 commented on #2786
@Isha307 can I upload the video on youtube and make PR by adding file in .md file??

[2021-10-03 03:12] tanvideshmukh29 commented on #3915
I would love to work on this issue .
Can u please assign to me
Name-Tanvi Deshmukh
Batch-6

[2021-10-03 03:21] tanvideshmukh29 commented on #3915
I would love to work on this issue .
Can u please assign to me
Name-Tanvi Deshmukh
Batch-6
Type Documentation

[2021-10-03 03:22] tamalbag117 commented on #4080
/assign

[2021-10-03 03:26] tamalbag117 commented on #4080
Hey, @aastha01chauhan please assigned me this issue. I think there is a problem with the Github action bot. please
assigned me manually.

[2021-10-03 03:34] tamalbag117 commented on #4080
@praveenscience @sumitaccess007 @salil-naik @aastha01chauhan, please assigned me to this issue, I will provide documentation for this issue currently I have no issue to work with and I already submitted my PR request in my old issue.

[2021-10-03 03:43] Rijudas149 commented on #4089
/assign

[2021-10-03 04:27] VARUN-K-BANSAL opened #4093 "Detect Loop in Singly Linked List"
### Description

documentation for detecting whether a loop is present or not in the Singly Linked List.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-10-03 04:28] VARUN-K-BANSAL commented on #4093
/assign

[2021-10-03 04:48] Kalpana-Kathait11 opened #4095 "CSS Layout"
### Description

This domain is to CSS Layouts for display, floats, position, flex Box, and CSS grid. CSS  layout creates complex responsive web design layouts more easily and consistently across browsers.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing

[2021-10-03 05:09] geeythree commented on #2786
@Sumit3301 GWOC team has mentioned that videos have to be uploaded on google drive only.

[2021-10-03 05:09] radha919 commented on #3920
/assign

[2021-10-03 05:09] Nay907 commented on #3214
I want to contribute to this issue @Sarthak-Agg

[2021-10-03 05:10] radha919 commented on #3292
/assign

[2021-10-03 05:12] geeythree commented on #610
@mohitmishra786 please try to delete the clone and fork once again. Don't forget to make a copy of your file.

[2021-10-03 05:17] WajihaFatim commented on #4095
/assign

[2021-10-03 05:18] WajihaFatim commented on #3198
Thank you sir, can you close the issue so that I can work on more

[2021-10-03 05:19] WajihaFatim commented on #4095
But All have been merged but the supervisors are not closing then what can I do ?

[2021-10-03 05:19] WajihaFatim commented on #4095
Please assign me this issue

[2021-10-03 05:20] WajihaFatim commented on #2619
@EkjotKaur close the issue please

[2021-10-03 05:20] WajihaFatim commented on #2617
@EkjotKaur close the issue please

[2021-10-03 05:23] Pragati1122 commented on #1708
/assign

[2021-10-03 05:26] SourabhSaraswat-191939 commented on #2309
@shivang02  Yes,  it is deprecated in Vue3. But many of the developers use Vue2. So we have to take care of them also. Go with the Vue2 Filters concept.
And @shivang02, every issue after assigning to a contributor has 12 days of the time period to create a PR. Otherwise, the issue is reassigned to anyone else after 12 days. Please take care of these things.
No problem you can submit it by Tuesday.

[2021-10-03 05:28] geeythree opened #4098 "ML 3.1 What is Clustering? Validate its necessity using real-world applications. (A)"
### Description

### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_What is Clustering? Validate its necessity using real-world applications._**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet

[2021-10-03 05:28] #3968 closed

[2021-10-03 05:29] ron352 commented on #4098
Sarmistha Sarna
Batch :01
https://github.com/ron352
type : audio

[2021-10-03 05:31] geeythree opened #4099 "ML 3.1 What is Clustering? Validate its necessity using real-world applications. (V)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_What is Clustering? Validate its necessity using real-world applications._**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learn

[2021-10-03 05:31] ashish-reddy-20-08 commented on #4099
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make : video

[2021-10-03 05:31] abhisheks008 opened #4100 "ML 3.9 : Outlier Detection using Random Forest - Isolation Forest (A)"
### Description

### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Outlier Detection using Random Forest - Isolation Forest_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learn

[2021-10-03 05:33] Isha307 opened #4101 "ML 3.5: Hierarchical Clustering (A)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- Hierarchical Clustering
### Implement Support Vector Machine without using any standard ML library like scikit-learn or more.

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "

[2021-10-03 05:33] Dhruvpandey08 opened #4102 "Parameters and Arguments in Python"
### Description

To Describe briefly about Parameters and Arguments in python

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-10-03 05:33] RC2208 commented on #4100
Ritika Chand
Batch 1
https://github.com/RC2208
/assign

[2021-10-03 05:33] Dhruvpandey08 commented on #4102
/assign

[2021-10-03 05:33] geeythree opened #4103 "ML 3.2 k-means Clustering (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_k-means Clustering_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pref

[2021-10-03 05:33] deepthi1107 commented on #4103
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do documentation on this issue.

[2021-10-03 05:34] abhisheks008 opened #4104 "ML 3.9 : Outlier Detection using Random Forest - Isolation Forest (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Outlier Detection using Random Forest - Isolation Forest_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approac

[2021-10-03 05:34] Isha307 opened #4105 "ML 3.5: Hierarchical Clustering (V)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- Hierarchical Clustering
### Implement Support Vector Machine without using any standard ML library like scikit-learn or more.

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "

[2021-10-03 05:34] SrijanShovit commented on #4103
Hello, I would like to work on this issue.
ML Batch-3

[2021-10-03 05:35] SrijanShovit commented on #4103
/assign

[2021-10-03 05:35] hrugved06 commented on #4104
/assign
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation
I would like to work on it

[2021-10-03 05:36] geeythree commented on #4103
@SrijanShovit Please don't self assign

[2021-10-03 05:36] Isha307 opened #4107 "ML 3.5: Hierarchical Clustering (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- Hierarchical Clustering
### Implement Support Vector Machine without using any standard ML library like scikit-learn or more.

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "

[2021-10-03 05:36] abhisheks008 opened #4108 "ML 3.9 : Outlier Detection using Random Forest - Isolation Forest (V)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Outlier Detection using Random Forest - Isolation Forest_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approac

[2021-10-03 05:36] uttarabahad commented on #4107
Name- Uttara Bahad
Batch Number- 3
GitHub Link- https://github.com/uttarabahad
Type of contribution- Documentation

[2021-10-03 05:37] geeythree opened #4109 "ML 3.2: k-means Clustering (A)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_k-means Clustering_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pref

[2021-10-03 05:38] abhisheks008 opened #4110 "ML 3.10 : Outlier Detection using Local Outlier Filter (LOF) (A)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Outlier Detection using Local Outlier Filter (LOF)_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one

[2021-10-03 05:39] Shivangik01 commented on #4100
Name: Shivangi Kochrekar
Batch: 3
I would like to work on this issue.
Type: Audio

[2021-10-03 05:40] VidhiBhatt01 commented on #4109
BHATT VIDHI SAMIR
ML batch 3
https://github.com/VidhiBhatt01
I would like to contribute in documentation format.
Please assign

[2021-10-03 05:40] geeythree opened #4111 "ML 3:2: k-means Clustering (V)"
### Description

### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_k-means Clustering_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow an

[2021-10-03 05:40] Isha307 opened #4112 "3.6: Contrast between k- means, k- medoids and Hierarchical Clustering (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- Contrast between k- means, k- medoids and Hierarchical Clustering
  ---Do plotting and visually justify the contrast between both.
### Implement Support Vector Machine without using any standard ML library like sciki

[2021-10-03 05:40] abhisheks008 opened #4113 "ML 3.10 : Outlier Detection using Local Outlier Filter (LOF) (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Outlier Detection using Local Outlier Filter (LOF)_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one

[2021-10-03 05:41] Isha307 opened #4114 "3.6: Contrast between k- means, k- medoids and Hierarchical Clustering (A)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- Contrast between k- means, k- medoids and Hierarchical Clustering
  ---Do plotting and visually justify the contrast between both.
### Implement Support Vector Machine without using any standard ML library like sciki

[2021-10-03 05:41] RC2208 commented on #4113
Ritika Chand
Batch 1
Documentation
https://github.com/RC2208
/assign

[2021-10-03 05:41] Isha307 opened #4115 "3.6: Contrast between k- means, k- medoids and Hierarchical Clustering (V)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- Contrast between k- means, k- medoids and Hierarchical Clustering
  ---Do plotting and visually justify the contrast between both.
### Implement Support Vector Machine without using any standard ML library like sciki

[2021-10-03 05:42] abhisheks008 opened #4116 "ML 3.10 : Outlier Detection using Local Outlier Filter (LOF) (V)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Outlier Detection using Local Outlier Filter (LOF)_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one

[2021-10-03 05:42] geeythree opened #4117 "ML 3.3: k-medoids (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_k-medoids_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docum

[2021-10-03 05:43] nehakale8 commented on #4117
Neha Kale
Batch 3
I would liek to be assigned this issue
Type Documentation

[2021-10-03 05:44] geeythree opened #4118 "ML 3:3: k-medoids (A)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_k-medoids_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docum

[2021-10-03 05:44] SrijanShovit commented on #4112
Hello , I would like to work on this issue via documentation.

[2021-10-03 05:44] ayushi424 commented on #4112
Full name: Ayushi Shrivastava
Batch Number: 1
GitHub Profile Link: https://github.com/ayushi424
Which type of Contribution you want to make :
 Documentation
@Isha307 Please look :)

[2021-10-03 05:44] abhisheks008 opened #4119 "ML 3.11 : Implement K-Means without using any ML Library like scikit-learn or more (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement K-means without using any ML Library like scikit learn or, more_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learn

[2021-10-03 05:44] Isha307 opened #4120 "ML 3.7 : BIRCH (A)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- BIRCH
### Implement Support Vector Machine without using any standard ML library like scikit-learn or more.

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning",

[2021-10-03 05:45] m0hit-kumar commented on #4111
/assign

[2021-10-03 05:45] Isha307 opened #4122 "3.7 BIRCH (V)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- BIRCH
### Implement Support Vector Machine without using any standard ML library like scikit-learn or more.

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning",

[2021-10-03 05:45] Isha307 opened #4123 "3.7 BIRCH (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- BIRCH
### Implement Support Vector Machine without using any standard ML library like scikit-learn or more.

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning",

[2021-10-03 05:46] geeythree opened #4124 "ML 3.3: k-medoids (V)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_k-medoids_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docum

[2021-10-03 05:47] geeythree opened #4125 "ML 3.4: DBSCAN (V)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_DBSCAN_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Document

[2021-10-03 05:47] abhisheks008 opened #4127 "ML 3.12 : Implement K-Medoids without using any ML library like scikit-learn or, more (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement K-Medoids without using any ML library like scikit learn or, more_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Lea

[2021-10-03 05:47] ShubhamPatel01 commented on #4111
Hello, I would like to work on this issue
Name: Shubham Patel
Batch: 1
GitHub id: https://github.com/ShubhamPatel01
Approach: What is k means clustering, how to implement it, and applications of k means clustering algorithm.

[2021-10-03 05:49] geeythree opened #4128 "ML 3.4: DBSCAN (A)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_DBSCAN_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Document

[2021-10-03 05:49] abhisheks008 commented on #4104
Sorry @hrugved06 you've been unassigned due to violating the rules of not to use `/assign`

[2021-10-03 05:49] Isha307 opened #4129 "3.8 : What is Outlier Detection. How is it important in ML? (A)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- Outlier Detection
### Implement Support Vector Machine without using any standard ML library like scikit-learn or more.

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machin

[2021-10-03 05:50] abhisheks008 commented on #4111
Sorry @m0hit-kumar  you've been unassigned due to violating the rules of not to use /assign

[2021-10-03 05:50] Isha307 opened #4130 "3.8 : What is Outlier Detection. How is it important in ML? (V)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- Outlier Detection
### Implement Support Vector Machine without using any standard ML library like scikit-learn or more.

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machin

[2021-10-03 05:51] abhisheks008 commented on #4111
@ShubhamPatel01 This is a video contribution, would you like contribute in this?

[2021-10-03 05:51] geeythree opened #4131 "ML 3.4: DBSCAN (D)"
### Description

### 📌  Issues for Week 3
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_DBSCAN_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Document

[2021-10-03 05:51] hrugved06 commented on #4104
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

[2021-10-03 05:52] abhisheks008 commented on #4107
@uttarabahad issue assigned, complete this issue in 3 days.

[2021-10-03 05:52] sanjana-iyengar commented on #4130
I would like to contribute.

Full name: Sanjana Alaham
Batch Number: 6
GitHub Profile Link: https://github.com/sanjana-iyengar
Contribution: Video

[2021-10-03 05:52] Ruchika-20 commented on #4119
I would like to work on this issue

[2021-10-03 05:53] Ruchika-20 commented on #4119
/assign

[2021-10-03 05:55] divya-chhoriya commented on #4123
Please assign this to me

[2021-10-03 05:56] ELLIPSIS009 commented on #4131
i want to work on this

[2021-10-03 05:58] ashish-reddy-20-08 commented on #4099
@geeythree @abhisheks008 , Can you please assign me this issue, I am ready with the PR.

[2021-10-03 05:58] ShubhamPatel01 commented on #4111
Yes, I would like to contribute

[2021-10-03 06:00] geeythree commented on #4111
@ShubhamPatel01 Amazing! This issue has been assigned to you. Please make sure that you complete the work and make a PR within 3 days.

[2021-10-03 06:01] Mohdtalibakhtar commented on #4098
Mohd Talib Akhtar
Batch : 03
Github : https://github.com/Mohdtalibakhtar
Type : Documentation

[2021-10-03 06:01] abhisheks008 commented on #4119
Sorry @Ruchika-20  you've been unassigned due to violating the rules of not to use /assign

[2021-10-03 06:03] geeythree commented on #4099
@ashish-reddy-20-08 You've been assigned, buddy. 😄

[2021-10-03 06:03] iamsunil25 commented on #2627
@garvitraj you can review my pr

[2021-10-03 06:05] abhisheks008 commented on #4123
Issue assigned @divya-chhoriya make sure you make the PR within 3 days.

[2021-10-03 06:07] abhisheks008 commented on #4104
This issue will not be assigned to you. Go with another one and maintain proper guidelines. @hrugved06

[2021-10-03 06:08] abhisheks008 commented on #4100
Great issue assigned to @Shivangik01 . Complete this issue within 3 days positively.

[2021-10-03 06:08] ashish-reddy-20-08 commented on #4099
@geeythree @Isha307 @abhisheks008 , Can you please evaluate the PR.
PR link: https://github.com/girlscript/winter-of-contributing/pull/4133

[2021-10-03 06:08] geeythree commented on #4131
@ELLIPSIS009 Assigned! 😄 Please make sure that you complete the work and make a PR within 3 days.

[2021-10-03 06:09] ashish-reddy-20-08 commented on #4105
@Isha307 , Can you please assign me this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08

[2021-10-03 06:10] jaya6400 commented on #3172
Can I work on the document part @pjdurden @Subhradeep10
Name - Jaya Dubey
Batch - 3

[2021-10-03 06:10] geeythree commented on #4117
@nehakale8 Assigned! 😄 Please make sure that you complete the work and make a PR within within 3 days.

[2021-10-03 06:10] abhisheks008 commented on #4113
issue assigned to @RC2208 Complete this issue within 3 days.

[2021-10-03 06:11] BhaswatiRoy commented on #4098
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Machine Learning
Type-Audio
Batch-6
Issue Number-
Contribution Approaches-what is clustering, different algorithms of clustering, main principle behind clustering, sample usecases in real life

[2021-10-03 06:12] abhisheks008 commented on #4105
one issue at a time @ashish-reddy-20-08

[2021-10-03 06:12] abhisheks008 commented on #4130
issue assigned @sanjana-iyengar

[2021-10-03 06:12] ashish-reddy-20-08 commented on #4105
@abhisheks008 , I have completed the PR for the first issue
PR LINK: https://github.com/girlscript/winter-of-contributing/pull/4133

[2021-10-03 06:12] hrugved06 commented on #4103
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation
I would like to work on the issue

[2021-10-03 06:13] ashish-reddy-20-08 commented on #4105
@abhisheks008 , Can you please assign sir , As i have done PR also sir.

[2021-10-03 06:13] BhaswatiRoy commented on #4103
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Machine Learning
Batch-6
Issue Number-4103
Type-Audio
Contribution Approaches-abou clustering , explain k means, application and use cases, how is k means different from hierarchical

[2021-10-03 06:15] Isha307 commented on #4105
okay

[2021-10-03 06:15] abhisheks008 commented on #4098
@ron352 Issue assigned!

[2021-10-03 06:15] geeythree commented on #4105
@ashish-reddy-20-08 Please wait until we review the PR.

[2021-10-03 06:20] abhisheks008 commented on #4103
Issue assigned to @deepthi1107

[2021-10-03 06:22] ashish-reddy-20-08 commented on #4105
@geeythree @Isha307 @abhisheks008 , Mam and sir others will take up the good issues if we dont comment soon  , right mam and sir, that is the reason i have made the PR soon by completing the first issue and now asking for the second one .
Can you please make it soon mam and sor , as i want to work more and learn new things , if the team helps me by making the merging soon then it would be help me

[2021-10-03 06:22] deepthi1107 commented on #4103
thanks @abhisheks008 for assigning me.

[2021-10-03 06:24] #4099 closed

[2021-10-03 06:26] hrugved06 commented on #4119
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation
I would like to work on this issue

[2021-10-03 06:26] geeythree commented on #4105
@ashish-reddy-20-08 issue has already been assigned to you. Also, you need not address us as Sir or Ma'am 😄

[2021-10-03 06:28] AnantDuhan commented on #4095
/assign

[2021-10-03 06:31] priyall commented on #4127
Name: Priyal Palkhiwala
Batch: 5
[Profile link](https://github.com/priyall)
Contribution type: Documentation
I would like to contribute to this issue.

[2021-10-03 06:31] nehakale8 commented on #4117
Yesss!
Thank you @geeythree 😄

[2021-10-03 06:35] nimisha-yadav commented on #3261
Assigning this to you, all the best!

[2021-10-03 06:36] #1018 closed

[2021-10-03 06:37] ChetansMittal commented on #4112
Chetan Sanjay Agarwal
Github link - github.com/chetansmittal
Batch number 6
Contribution type -Documentation

[2021-10-03 06:39] pallavidhere23 commented on #4130
/assign

[2021-10-03 06:40] pallavidhere23 commented on #4119
/assign

[2021-10-03 06:41] BhaswatiRoy commented on #4118
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Machine Learning
Batch-6
Issue Number-4118
Type-Audio
Contribution Approaches-what is k medoids, similarity with k means, underlying principle, use cases

[2021-10-03 06:42] Yugal41735 commented on #4112
Yugal Agarwal
Github => https://github.com/Yugal41735
Batch - 1
Contribution => documentation

[2021-10-03 06:43] itsajay1029 opened #4136 "String Methods in Javascript"
### Description

Useful Methods that can be used in String objects in Javascript while front-end development.

Methods:
1. length
2. slice()
3. substring()
4. replace()
5. toUpperCase()
6. toLowerCase()
7. concat()
8. trim()
9. charAt()
10. charCodeAt()
11. split()

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guid

[2021-10-03 06:43] itsajay1029 commented on #4136
/assign

[2021-10-03 06:45] Yugal41735 commented on #4104
Yugal Agarwal
Github => https://github.com/Yugal41735
Batch - 1
Contribution => documentation

[2021-10-03 06:46] ujju20 commented on #1239
Please Review my PR for this issue
#3984

[2021-10-03 06:50] Nay907 commented on #4118
I would like to contribute to this issue:
Name- Nayanika Mishra
Batch Number- 3
GitHub Profile Link- https://github.com/Nay907
Which type of Contribution you want to make : Audio

[2021-10-03 06:51] deepthi1107 commented on #4124
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do video on this issue.

[2021-10-03 06:56] ashish-patwal commented on #2686
PTAL @hritikksingh @adityabisoi

[2021-10-03 06:58] m0hit-kumar commented on #4111
@geeythree can you elaborate what I did wrong or what violation."To get assigned to this particular issue please use /assign ". I just follow this

[2021-10-03 07:00] RC2208 commented on #4113
Yess also its local outlier Factor right? not filter

[2021-10-03 07:05] geeythree commented on #4111
@mohit355 Hey, we had asked all the contributors in ML domain to comment on the issues to get them assigned. The thing is, in some cases somebody might have already commented on the issue and a new person might just come in and self assign the issue, then the first person to have commented would not get a fair chance. We just want to make it fair for everyone. There are plenty more issues that you

[2021-10-03 07:05] hritikksingh commented on #2686
What is PTAL?

[2021-10-03 07:06] #3704 closed

[2021-10-03 07:08] m0hit-kumar commented on #4111
but here I was the one to comment first.

[2021-10-03 07:09] Harshil-Jani commented on #3619
@Aryamanz29 Any Updates on this issue? Can I work for it?

[2021-10-03 07:14] ashish-patwal commented on #2686
Please Take A Look

[2021-10-03 07:15] tanvideshmukh29 commented on #4104
Tanvi Deshmukh
batch-5
iwould like to contribute to this issue.. plz assign it to me.

[2021-10-03 07:16] tanvideshmukh29 commented on #4104
Tanvi Deshmukh
batch-5
type-documentation
iwould like to contribute to this issue.. plz assign it to me.

[2021-10-03 07:16] pallavidhere23 commented on #4104
/assign

[2021-10-03 07:16] tanvideshmukh29 commented on #4104
Tanvi Deshmukh
batch-5
I would like to contribute to this issue.. plz assign it to me.

[2021-10-03 07:16] uttarabahad commented on #3847
@ghulamyazdani Created a PR. Can you please review it? https://github.com/girlscript/winter-of-contributing/pull/4143

[2021-10-03 07:17] tanvideshmukh29 commented on #4112
Tanvi Deshmukh
batch-5
I would like to contribute to this issue.. plz assign it to me.

[2021-10-03 07:17] tanvideshmukh29 commented on #4113
Tanvi Deshmukh
batch-5
I would like to contribute to this issue.. plz assign it to me.

[2021-10-03 07:18] tanvideshmukh29 commented on #4127
Tanvi Deshmukh
batch-5
I would like to contribute to this issue.. plz assign it to me.

[2021-10-03 07:20] aastha01chauhan commented on #4080
/assign

[2021-10-03 07:21] ShubhamPatel01 commented on #4111
Please check the discord pinned messages, you will understand why you were not given the issue.

[2021-10-03 07:21] aastha01chauhan opened #4146 "Binary exponentiation in Java"
### Description

Binary exponentiation (also known as exponentiation by squaring) is a trick which allows to calculate an using only O(logn) multiplications (instead of O(n) multiplications required by the naive approach).

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter

[2021-10-03 07:21] aastha01chauhan commented on #4146
/aasign

[2021-10-03 07:22] aastha01chauhan commented on #4146
Please assign this issue to me.

[2021-10-03 07:22] aastha01chauhan commented on #4146
/assign

[2021-10-03 07:24] AdityaNikhil commented on #4125
**Full name** : Aditya Nikhil
**Batch Number** : 2
**GitHub Profile Link** : github.com/adityanikhil
**Which type of Contribution you want to make** :
Video

[2021-10-03 07:26] AdityaStark7 commented on #4119
Aditya Kumar
batch: 04
Documentation

[2021-10-03 07:26] amitrakshar01 commented on #4112
/assign

[2021-10-03 07:26] AdityaNikhil commented on #4129
**Full name** : Aditya Nikhil
**Batch Number** : 2
**GitHub Profile Link** : github.com/adityanikhil
**Which type of Contribution you want to make** :
Audio

[2021-10-03 07:31] ron352 commented on #4120
Sarmistha Sarna
Batch :01
https://github.com/ron352
type : audio

Can I work on this?
@Isha307 @abhisheks008

[2021-10-03 07:38] tanvideshmukh29 commented on #4119
Tanvi Deshmukh
batch-5
I would like to contribute to this issue.. plz assign it to me.

[2021-10-03 07:38] adityabisoi commented on #2686
YCSWOT @ashish-patwal

[2021-10-03 07:39] brassgolem-25 commented on #4046
@Pranshu321 same issue is opened way before. Check it here #2313

[2021-10-03 07:41] Pranshu321 commented on #4046
Sorry ..... I will be closing this

[2021-10-03 07:41] tanvideshmukh29 commented on #2778
Is  the issue still on?

[2021-10-03 07:42] #4046 closed

[2021-10-03 07:53] #3198 closed

[2021-10-03 07:54] afreenabegum commented on #3261
@nimisha-yadav thank you mam.
I'll give my best.

[2021-10-03 07:57] ashish-reddy-20-08 commented on #4105
@Isha307 , Mam can you please evaluate my PR soon. So that I can work on other issues.
Name: M. Ashish Reddy
Batch - 2
PR LINK : https://github.com/girlscript/winter-of-contributing/pull/4151

[2021-10-03 07:57] Isha307 commented on #4120
@ron352 you can work on this 👍

[2021-10-03 07:57] Pranshu321 opened #4152 "Frontend :- How does Browser Rendering Works? in document form"
### Description

In this i deeply explain about the how browser rendering works and with good examples in document form .

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscrip

[2021-10-03 07:57] Pranshu321 commented on #4152
/assign

[2021-10-03 08:01] #1115 closed

[2021-10-03 08:13] #1302 closed

[2021-10-03 08:16] #4105 closed

[2021-10-03 08:16] ashish-reddy-20-08 commented on #4130
@Isha307 , Can you please assign me this issue.
Name: M. Ashish
Batch - 2

[2021-10-03 08:16] vishnu95075 commented on #4146
/assign

[2021-10-03 08:21] #1748 closed

[2021-10-03 08:22] parvatijay2901 commented on #609
@Isha307 https://github.com/girlscript/winter-of-contributing/pull/4157

[2021-10-03 08:23] rahulsinghal1904 commented on #4119
I would like to work on this issue.
Name : Rahul Singhal
Batch : 1
Github Profile link: https://github.com/rahulsinghal1904
Approach : Intro about K-means and its required implementation without scikit-learn
Type : Documentation

[2021-10-03 08:26] rahulsinghal1904 commented on #4104
I would like to work on this issue.
Name : Rahul Singhal
Batch : 1
Github Profile link: https://github.com/rahulsinghal1904
Approach : Implementation of outlier detection using Random Forest.
Type : Documentation

[2021-10-03 08:31] prathimacode-hub commented on #3800
Thanks for informing in thread. Issue assigned to @shreyarai05 for documentation

[2021-10-03 08:38] prathimacode-hub opened #4159 "Data Science with Python : LSTM Artificial Neural Networks"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to LSTM Artificial Neural Networks completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all th

[2021-10-03 08:39] mukeshmjn commented on #3392
@LegendSumeet status?..its been two more days now

[2021-10-03 08:40] prathimacode-hub opened #4160 "Data Science with Python : DBSCAN Algorithm"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to DBSCAN Algorithm along with sample code completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go wit

[2021-10-03 08:41] LegendSumeet commented on #3392
Yeah today It's done just Add images today I will raise the PR @mukeshmjn

[2021-10-03 08:43] prathimacode-hub opened #4161 "Data Science with Python : Adaboost Algorithm"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to Adaboost Algorithm along with sample code completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go w

[2021-10-03 08:45] mukeshmjn commented on #3392
@LegendSumeet u have time till today ..otherwise i will reassign

[2021-10-03 08:45] parvatijay2901 commented on #4101
Name: Parvati Jayakumar
Batch: 3
GitHub profile: https://github.com/parvatijay2901
Contribution type: Audio

Please check the PR I've created (https://github.com/girlscript/winter-of-contributing/pull/4157). If that is fine, please assign this to me. Thank you.

[2021-10-03 08:45] LegendSumeet commented on #3392
ohk @mukeshmjn

[2021-10-03 08:46] #534 closed

[2021-10-03 08:47] prathimacode-hub opened #4162 "Data Science with Python : Hand Made Graphs Visualization using Cutecharts Library"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to Hand Made Graphs Visualization using Cutecharts Library along with sample code and visualizations completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choic

[2021-10-03 08:48] #2664 closed

[2021-10-03 08:49] prathimacode-hub opened #4163 "Data Science with Python : MNIST Digits Classification"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to MNIST Digits Classification along with sample code completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You

[2021-10-03 08:56] #3936 closed

[2021-10-03 08:58] Praannjaal commented on #4115
Name - Pranjal Mittal
Batch - 6
Type - documentation
Please assign me this issue!
/assign

[2021-10-03 08:59] #3052 closed

[2021-10-03 09:00] ron352 commented on #4159
Sarna
serial no :614
type : audio
@prathimacode-hub  mam can i work on this?

[2021-10-03 09:01] vishnu95075 opened #4166 "[C_CPP]: Nested Function"
### Description

## Function
- Nested Function and its examples .
-  Nested Function using auto keyword

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-10-03 09:02] vishnu95075 commented on #4166
/assign

[2021-10-03 09:09] photon149 opened #4167 "Python : Ciphers"
### Description

I would like to give a Introduction, properly syntactical codes, images wherever required and proved conclusion for Ciphers in python.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://g

[2021-10-03 09:09] prathimacode-hub opened #4168 "Data Science with Python : Gmail Spam Detection"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to Gmail Spam Detection along with sample code completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go

[2021-10-03 09:09] photon149 commented on #4167
/assign

[2021-10-03 09:13] adityabisoi commented on #4167
You can go ahead.

[2021-10-03 09:15] divya-chhoriya commented on #4163
/assign

[2021-10-03 09:16] divya-chhoriya commented on #4163
@prathimacode-hub Please assign this issue to me

[2021-10-03 09:17] prathimacode-hub opened #4169 "Data Science with Python : K Medoid Algorithm"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to K Medoid Algorithm along with sample code completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go w

[2021-10-03 09:20] prathimacode-hub opened #4170 "Data Science with Python : Breast Cancer Prediction"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to Data Science with Python : Breast Cancer Prediction along with sample code completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documenta

[2021-10-03 09:21] prathimacode-hub opened #4171 "Data Science with Python : Elbow Method In KMeans Clustering"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to Elbow Method In KMeans Clustering along with sample code completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video

[2021-10-03 09:23] LegendSumeet commented on #3392
https://github.com/girlscript/winter-of-contributing/pull/4172
review it

[2021-10-03 09:27] ayushijindal commented on #4171
Approach: Taking Exemplary dataset to make understand the concept
Format: documentation
Serial no:253

[2021-10-03 09:27] prathimacode-hub commented on #4163
Issue assigned to @divya-chhoriya for documentation

[2021-10-03 09:27] SudhansuuRanjan commented on #4166
/assign

[2021-10-03 09:29] prathimacode-hub commented on #4171
Issue assigned to @ayushijindal for documentation

[2021-10-03 09:31] prathimacode-hub commented on #4159
This is created on contributor's request. If not claimed by the time, it will be assigned to next on queue. @ron352

[2021-10-03 09:31] #4103 closed

[2021-10-03 09:32] uttarabahad commented on #4160
Name-Uttara Bahad
Serial No-328
Type: Documentation
Approach-Introduction, Sample example code with explanation, Advantages/ Disadvantages, Use.

[2021-10-03 09:33] SudhansuuRanjan commented on #2847
/assign

[2021-10-03 09:33] 7sakshi7 commented on #3214
yes..I am

[2021-10-03 09:34] SudhansuuRanjan commented on #380
/assign

[2021-10-03 09:37] ron352 commented on #4159
Ok mam

[2021-10-03 09:42] pankaj-Makhijani commented on #2992
@v-rohan I would like to work on this issue.

[2021-10-03 09:42] ron352 commented on #4109
Sarmistha Sarna
batch :01
https://github.com/ron352
type : audio

[2021-10-03 09:44] photon149 commented on #4169
/assign

[2021-10-03 09:44] ankushsingh24 opened #4174 "C_CPP : Array Rotation in C++"
### Description

This documentation will explain Array Rotation from a specific index in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-10-03 09:44] ankushsingh24 commented on #4174
/assign

[2021-10-03 09:46] photon149 commented on #4169
Name: Shiwansh Raj
- Batch: 10
- Sr. No: 368
- [GitHub Profile](https://github.com/photon149)
-  [x]  Documentation
- Approach: Introduction, properly commented code, images wherever required, proved conclusion
@prathimacode-hub , can you assign this to me manually , I have asked for the same on discord
 :)

[2021-10-03 09:51] prathimacode-hub commented on #4160
Issue assigned to @uttarabahad

[2021-10-03 09:52] Sakshi1700 commented on #4168
/assign

[2021-10-03 09:57] Raj82862 commented on #228
/assign

[2021-10-03 09:58] aswinikalyan30 commented on #4159
Good evening ma'am,  I would like to work on "LSTM Artificial Neural Network" for documentation
Name: Aswini Kalyan
Serial Number: 406
Batch: 11
Type: Documentation
Approach:
-Introduction
-Variations
-Model training on stock price as example
-Applications
Github: https://github.com/aswinikalyan30

[2021-10-03 10:01] SudhansuuRanjan commented on #210
/assign

[2021-10-03 10:03] geeythree commented on #4118
Assigned @BhaswatiRoy. Make sure you complete the work and make a PR within 3 days! 😃

[2021-10-03 10:06] VaishnaviPhadtare opened #4179 "[Create New Issue]: Html_tables"
### Description

HTML_Tables

what is html tables :-
Table - rows ,cells ,headers
basic styling for html tables

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-o

[2021-10-03 10:08] SudhansuuRanjan commented on #4179
/assign

[2021-10-03 10:08] VaishnaviPhadtare commented on #4179
/assign

[2021-10-03 10:08] pankaj-Makhijani commented on #4170
I would like to work on this.
Pankaj Makhijani - 432
Batch - 12
Issue No - #4170
Type: Doccumentation

[2021-10-03 10:09] SudhansuuRanjan commented on #4179
Do you really wanna work on it??

[2021-10-03 10:09] VaishnaviPhadtare commented on #4179
yes

[2021-10-03 10:11] #4113 closed

[2021-10-03 10:13] #4098 closed

[2021-10-03 10:13] pranav7kaushik commented on #4104
/assign

[2021-10-03 10:16] #4120 closed

[2021-10-03 10:21] prathimacode-hub commented on #4159
Issue assigned to @aswinikalyan30 for documentation

[2021-10-03 10:22] ron352 commented on #4109
Sarmistha Sarna
batch :01
https://github.com/ron352
type : audio

@geeythree @abhisheks008

[2021-10-03 10:24] abhisheks008 commented on #4109
Go ahead :rocket: Issue assigned to @ron352

[2021-10-03 10:24] #3575 closed

[2021-10-03 10:25] abhisheks008 commented on #4119
@hrugved06 Issue assigned to you.

[2021-10-03 10:26] abhisheks008 commented on #4124
Issue assigned to @deepthi1107

[2021-10-03 10:27] abhisheks008 commented on #4125
Issue assigned to @AdityaNikhil

[2021-10-03 10:29] abhisheks008 commented on #4127
Issue assigned @priyall

[2021-10-03 10:30] ShubhamPatel01 commented on #4171
Hello, could you assign this to me.
Name: Shubham Patel
Serial No. 104
Approach: What is elbow method and why it is used.
Type: Video

[2021-10-03 10:30] abhisheks008 commented on #4130
@ashish-reddy-20-08 Issue assigned

[2021-10-03 10:30] prathimacode-hub commented on #4169
Issue assigned to @photon149 for documentation

[2021-10-03 10:31] abhisheks008 commented on #4115
@Praannjaal This is a Video contribution. Do not /assign any issue in ML domain.

[2021-10-03 10:50] pankaj-sawnani commented on #2407
@prathimacode-hub I have made requested changes and created pull request again.

[2021-10-03 10:50] 101Priyanshi commented on #3417
@abhisheks008 @darpankhanna

[2021-10-03 10:50] SwarnaliBhunia commented on #3645
/assign video

[2021-10-03 11:03] am-dusky opened #4190 "Kth largest element using Priority Queue"
### Description

In this document , I will be discussing how to find kth largest element of an array using Priority Queue . I will be providing algorithm as well as code  for that.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-10-03 11:03] am-dusky commented on #4190
/assign

[2021-10-03 11:20] ron352 commented on #4128
Sarmistha Sarna
batch :01
https://github.com/ron352
type : audio

@geeythree @abhisheks008

[2021-10-03 11:21] #609 closed

[2021-10-03 11:26] riyasai22 commented on #4110
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: Audio

[2021-10-03 11:29] #3392 closed

[2021-10-03 11:31] Aneeshcoder commented on #4170
Issue #4170
Name : Aneesh Panchal
ID num : 464
Type : Documentation
Method : Will use a kaggle dataset for Breast Cancer Prediction, visualize the dataset using different libraries and compare the predictions by different ML algorithms.

[2021-10-03 11:33] tavneetgill commented on #4114
I want to work on this issue.
Name-Tavneet Kaur Gill
Batch No-2
Github link-https://github.com/tavneetgill
Type-Audio

[2021-10-03 11:38] mayankkuthar commented on #2966
@Aryamanz29 I would like to work on this issue, Kindly assign me this.

[2021-10-03 11:45] Anushka-Gamad commented on #4034
/assign Audio

[2021-10-03 11:46] abhisheks008 commented on #4110
Assigned @riyasai22

[2021-10-03 11:50] Ruchika-20 commented on #4119
I've used the label /assign sir....kindly have a look

[2021-10-03 11:52] tavneetgill commented on #2409
I would like to contribute to this issue.
Name: Tavneet Kaur Gill
Serial number: 323
Type: Audio
Approach: Definition of Theano ,Implementation, sample code, usage

[2021-10-03 11:56] anisha-01-phoenix opened #4196 "Goldbach’s Conjecture"
### Description

In this documentation I will be explaining about the famous Goldbach's Conjecture and how to implement it in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-o

[2021-10-03 11:56] anisha-01-phoenix commented on #4196
/assign

[2021-10-03 12:01] vishvarana commented on #1531
I am working on this issue, but due to exams I am not able to give enough time to it, can you add pinned label so that it doesn't get unassigned? My exams are until 6th of this month

[2021-10-03 12:02] subhendudash02 opened #4197 "[JS] Topic: External Libraries - Bootstrap"
### Description

# Description
Introducing the Bootstrap library in front-end web development and the significance of JavaScript in Bootstrap.

<b>Mode: </b> Documentation

# Directory
`JavaScript/Topics/External_Libraries/Bootstrap`

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-o

[2021-10-03 12:03] subhendudash02 commented on #4197
/assign

[2021-10-03 12:05] subhendudash02 commented on #4197
@paramsiddharth I guess the bot unassigned me😅, did I do something wrong?

[2021-10-03 12:18] abuzarbagewadi commented on #4119
Abuzar Bagewadi
Batch: 2
Github Profile: https://github.com/abuzarbagewadi
Documentation
I would like to work on this issue

[2021-10-03 12:19] BhaswatiRoy commented on #4118
yah sure thank you

[2021-10-03 12:23] GyaniRoman23 commented on #2966
Hey @mayankkuthar I have finished this issue, just having some problems while making a PR. Will do it today!!

[2021-10-03 12:24] kajaljha09 opened #4200 "Upper Triangular Matrix"
### Description

I will explain about Upper Triangular Matrix along with a program in C++ using both row major and column major mapping.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-10-03 12:24] kajaljha09 commented on #4200
/assign

[2021-10-03 12:26] WajihaFatim commented on #4200
/assign

[2021-10-03 12:29] WajihaFatim commented on #2619
@EkjotKaur please close the issues so that I can assign myself new one

[2021-10-03 12:30] Karan-0206 opened #4201 "Python: Itertools module"
### Description

A brief description on what the intertools module contain abd how it is useful in various scenarios

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-cont

[2021-10-03 12:30] Karan-0206 commented on #4201
/assign

[2021-10-03 12:31] Kalpana-Kathait11 opened #4202 "Map in Python"
### Description

This issue is for use of map() in python.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pro

[2021-10-03 12:33] Kalpana-Kathait11 commented on #4202
/assign

[2021-10-03 12:33] adityabisoi commented on #4201
Go ahead.

[2021-10-03 12:34] #1165 closed

[2021-10-03 12:38] SaloniThete commented on #4162
I would like to work on this.
Name:Saloni Thete
SR.No: 821
Type: Documentation
Approach: Detailed explaination with examples

[2021-10-03 12:39] Pooja-Goyal-1 commented on #1447
@rahulsain I would like to work on this issue. Please assign me

[2021-10-03 12:43] SaloniThete commented on #4170
I would like to work on this.
Name: Saloni Thete
Sr.No: 821
Type: Documentation
Approach: Exploration of Breast Cancer Prediction Dataset using libraries and visualization with detailed explaination.
@prathimacode-hub , kindly assign :)

[2021-10-03 12:45] ron352 commented on #4160
Mam is it up for audio?.

[2021-10-03 12:46] #499 closed

[2021-10-03 12:47] SaloniThete commented on #4168
I would like to work on this.
Name: Saloni Thete
Sr.No: 821
Type : Documentation
issue no: 4168
Approach: Explanation of Gmail Spam Detection with python code.
@prathimacode-hub , kindly assign :)

[2021-10-03 12:49] SaloniThete commented on #4161
I would like to work on this.
Name: Saloni Thete
Sr.No: 821
Type: Documentation
Issue no: 4161
Approach: Detailed Explanation of Algorithm with example.
@prathimacode-hub , kindly assign :)

[2021-10-03 12:54] priyankapiba opened #4206 "Recursion in Python"
### Description

Recursion is essential in coding which reduces the time complexity as well as space complexity.
Add python code to demonstrate recursion.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:

[2021-10-03 12:54] Parth-001-git commented on #3920
@vikhyatsingh123
Parth Sharma
DSA batch 5
Audio.

[2021-10-03 12:54] priyankapiba commented on #4206
@adityabisoi please assign me this issue.

[2021-10-03 12:58] prathimacode-hub commented on #2403
Issue assigned to @tavneetgill for audio contribution

@SaloniThete, for documentation, audio and video it's already assigned. You can try for some other issue.

[2021-10-03 13:00] Anant1711 commented on #3645
Assigned for video!

[2021-10-03 13:00] prathimacode-hub commented on #4171
Issue assigned to @ShubhamPatel01 for video contribution

[2021-10-03 13:02] prathimacode-hub commented on #4170
Issue assigned to @Aneeshcoder for documentation

You can choose audio / video for it @SaloniThete

[2021-10-03 13:05] prathimacode-hub opened #4207 "Data Science with Python : Graph Neural Networks"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to Graph Neural Networks along with sample code completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can g

[2021-10-03 13:07] #3317 closed

[2021-10-03 13:07] Manas1820 commented on #4207
/assign

[2021-10-03 13:08] Manas1820 commented on #4207
/ assign

[2021-10-03 13:08] #2461 closed

[2021-10-03 13:09] Manas1820 commented on #4207
/assign

[2021-10-03 13:10] Saviour1001 commented on #3673
Closing this as the PR got merged

[2021-10-03 13:10] #3673 closed

[2021-10-03 13:11] prathimacode-hub commented on #419
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-10-03 13:11] Saviour1001 commented on #4093
Closing as the PR got merged

[2021-10-03 13:11] #4093 closed

[2021-10-03 13:12] Saviour1001 commented on #2813
Closing as the PR #4088 got merged

[2021-10-03 13:12] #2813 closed

[2021-10-03 13:13] Saviour1001 commented on #4033
Closing as the PR got merged !

[2021-10-03 13:13] #4033 closed

[2021-10-03 13:16] Subhradeep10 commented on #3172
@jaya6400 Assigned to you, Go for it

[2021-10-03 13:19] rahulsinghal1904 commented on #4161
Name: Rahul Singhal
Serial No. 608
I would like to contribute through Documentation
Approach:
Definition, Theory explaining how it works, Code implementation

[2021-10-03 13:21] Nay907 commented on #4128
I would like to work on this issue
Name- Nayanika Mishra
Batch Number- 3
GitHub Profile Link- https://github.com/Nay907
Type of Contribution : Audio

[2021-10-03 13:25] parvatijay2901 commented on #990
@Saviour1001  @Suvraneel  @kashishahuja2002 Please guide me on which folder I should add the files. I had created this issue by seeing the 'Algorithmic approaches' in the roadmap.

[2021-10-03 13:26] SaloniThete commented on #2403
Sure,Thanks :)

[2021-10-03 13:28] SaloniThete commented on #4170
Sure I would like to work on the video.
@prathimacode-hub ,/assign

[2021-10-03 13:29] priyankapiba commented on #4206
/assign

[2021-10-03 13:30] ashish-reddy-20-08 commented on #4130
@Isha307 , @abhisheks008 , Can you please evaluate the PR.

PR LINK: https://github.com/girlscript/winter-of-contributing/pull/4210

[2021-10-03 13:37] Riyamittal15 opened #4213 "[C/CPP]: The intersection point of two linked lists"
### Description

Description:
In this document , I will be adding how to find intersection point of two linked lists . I will be providing algorithm, code and some sample input output test cases for that.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-10-03 13:38] Riyamittal15 commented on #4213
/assign

[2021-10-03 13:41] Saviour1001 commented on #990
@parvatijay2901 as Sieve is a math topic, you can place it in [Competitive Programming](https://github.com/girlscript/winter-of-contributing/tree/C_CPP/C_CPP/Competitive%20Programming).

[2021-10-03 13:44] h2o-Noob opened #4215 "[Create New Issue]:"
### Description

Description

- I will upload a project called "Roman Numeral Converter" which is a web-app that converts numbers to roman numerals, it is based on pure HTML CSS & JAVASCRIPT.
- I will write detailed explanation of how did I used JavaScript to write the algorithim and it would cover many important topics OOPS, EventListeners and many more important CSS topics.

### Domain

Frontend

[2021-10-03 13:45] h2o-Noob commented on #4215
/assign

[2021-10-03 13:50] ShubhamPatel01 commented on #4169
Hello, could you assign this to me.
Name: Shubham Patel
Serial No. 104
Type: Video
Approach: Introduction to K medoid Algorithm, Working of K medoid algorithm and implementing it, And Application of K medoid  algorithm

[2021-10-03 13:52] Sonali-Sharma-1 commented on #528
@rahulsain Can I work on this task?

[2021-10-03 13:54] Sonali-Sharma-1 commented on #507
@shahishree03  Could you assign me this task ?

[2021-10-03 13:55] Sonali-Sharma-1 commented on #691
@rahulsain  Could you assign me this task ?

[2021-10-03 14:05] Saviour1001 commented on #3578
Closing this as the PR got merged

[2021-10-03 14:05] #3578 closed

[2021-10-03 14:09] saloni33 opened #4218 "Android Java : Add Firebase to Android project"
### Description

Documentation on how to integrate firebase with the android project

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-10-03 14:09] saloni33 commented on #4218
can i work on this issue

[2021-10-03 14:12] LegendSumeet commented on #691
yes lets collab

[2021-10-03 14:15] VARUN-K-BANSAL opened #4220 "Traversal of the Binary Search Tree"
### Description

Adding documentation for type of traversals of BST (Preorder, postorder and inorder)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.git

[2021-10-03 14:15] VARUN-K-BANSAL commented on #4220
/assign

[2021-10-03 14:15] LegendSumeet commented on #4166
assign me @vishnu95075

[2021-10-03 14:19] LegendSumeet commented on #4218
@saloni33 assign me

[2021-10-03 14:21] LegendSumeet commented on #4162
I would like to work on this. @prathimacode-hub

[2021-10-03 14:21] nidhi333-9 commented on #283
@praveenscience  plz assign this topic to me, I'm interested in this topic too.

[2021-10-03 14:22] yashh18 commented on #4168
/assign

[2021-10-03 14:22] prathimacode-hub commented on #4169
Issue assigned to @ShubhamPatel01 for video contribution

[2021-10-03 14:23] yashh18 commented on #4168
@prathimacode-hub Can i get assigned to this issue for audio contribution?

[2021-10-03 14:24] abhinav-exp commented on #3967
Hi @AVS18 , I have added a pull request related to this issue. Kindly review it and Do tell if any improvements are needed.

[2021-10-03 14:24] saloni33 commented on #4218
/assign

[2021-10-03 14:25] PurviBhoyar21 commented on #4129
Hello Supervisors and mentors
I am Purvi Bhoyar from ML batch 1
Please assign me this issue
I would love to work
Thank you

[2021-10-03 14:34] Harshit9557 commented on #2933
/assign

[2021-10-03 14:36] Sonali-Sharma-1 commented on #691
Where can i connect with you ?
Slack / skype ?

[2021-10-03 14:36] Adityanr commented on #3708
documentation done. closing issue.

[2021-10-03 14:36] #3708 closed

[2021-10-03 14:44] tandrimasingha opened #4224 "Queue Data Structure"
### Description

Write a program of implementation of Queue Data Structure with proper commenting the program

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-10-03 14:45] tandrimasingha commented on #4224
/assign

[2021-10-03 14:47] shrutigrover25 opened #4227 "[Create New Issue]: Infix to Postfix Conversion"
### Description

Given an infix expression, you have to convert it into postfix.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-10-03 14:47] shrutigrover25 commented on #4227
/assign

[2021-10-03 14:48] LegendSumeet commented on #542
@rahulsain merge it

[2021-10-03 14:49] goelesha commented on #3301
@rohit-goyal The issue is for the video.
@triptic1412 Assigning the issue to you for the video. Make sure to submit a PR within 7 days.

[2021-10-03 14:51] Drontitan commented on #283
/assign

[2021-10-03 14:54] prathimacode-hub commented on #4162
This issue is created on request of contributor at issue thread. If not claimed by tomorrow, it will be assigned on FCFS basis. @SaloniThete @LegendSumeet

[2021-10-03 14:56] prathimacode-hub commented on #4161
Issue assigned to @rahulsinghal1904 for documentation

If there is any issue you have up on mind to work on, you can add up your request in issue topics assignment thread along with your details. Once it's approved, issue details will be provided for you to claim it. @rahulsinghal1904

[2021-10-03 14:57] mukeshmjn commented on #4166
/assign

[2021-10-03 14:58] SaloniThete commented on #4162
sure.I'll work on this.

[2021-10-03 14:58] mukeshmjn commented on #4166
/assign

[2021-10-03 15:01] SaloniThete commented on #4161
@prathimacode-hub as per rules.it was to be FCFS basis and while requesting to assign there was only my comment but it has been assigned to rahulsingh1904.
I request to look forward to this please.

[2021-10-03 15:02] mukeshmjn commented on #3603
/assign

[2021-10-03 15:04] rahulsain commented on #528
Status?

[2021-10-03 15:10] Gulshanaggarwal commented on #740
/assign

[2021-10-03 15:13] PranaySanjule opened #4231 "C/CPP : DNF(Dutch National Flag) Sort Algorithm in c++"
## Description 📜

I will create a folder DNF Sort in the directory(C_CPP/Algorithmic Approaches/Sorting/) ( under the CPP Domain ) and inside that folder, I will add documentation to explain DNF(Dutch National Flag) Sort Algorithm with code.
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-10-03 15:13] PranaySanjule commented on #4231
/assign

[2021-10-03 15:17] #4039 closed

[2021-10-03 15:18] #4041 closed

[2021-10-03 15:22] #921 closed

[2021-10-03 15:38] prathimacode-hub commented on #4162
Read the message properly only if its not claimed. @SaloniThete

[2021-10-03 15:39] SaloniThete commented on #4162
May I ask how to claim it, please?

[2021-10-03 15:43] #126 closed

[2021-10-03 15:45] prathimacode-hub commented on #2409
Issue assigned to @tavneetgill for audio contribution

[2021-10-03 15:48] prathimacode-hub commented on #2713
I said about details that needs to be given here while selecting issue @das-ankur

[2021-10-03 15:49] LegendSumeet commented on #4166
@mukeshmjn assign me

[2021-10-03 15:52] LegendSumeet commented on #4231
/assign

[2021-10-03 15:55] LegendSumeet commented on #3031
@amino19 assign me

[2021-10-03 15:56] LegendSumeet commented on #1551
@avishj assign me

[2021-10-03 15:57] LegendSumeet commented on #1427
@avishj assign me

[2021-10-03 15:57] Saviour1001 commented on #4066
Closing as the PR got merged !

[2021-10-03 15:57] #4066 closed

[2021-10-03 15:59] LegendSumeet commented on #1299
@avishj assign me

[2021-10-03 15:59] LegendSumeet commented on #1289
assign me @avishj

[2021-10-03 16:00] LegendSumeet commented on #689
@rahulsain assign me

[2021-10-03 16:01] LegendSumeet commented on #560
I would like to work on this!! @rahulsain

[2021-10-03 16:01] LegendSumeet commented on #1279
assign me @avishj

[2021-10-03 16:02] LegendSumeet commented on #123
@Rohit-2602 assign me

[2021-10-03 16:03] LegendSumeet commented on #118
@VikasPandey121 assign me

[2021-10-03 16:03] prathimacode-hub commented on #4162
First add your choice of issue title in issue thread with details to get it assigned. @SaloniThete

[2021-10-03 16:03] LegendSumeet commented on #55
@VikasPandey121 assign me

[2021-10-03 16:05] LegendSumeet commented on #1461
@amino19 assign me

[2021-10-03 16:09] LegendSumeet commented on #691
You can develop small sample apps and use code screenshots to make the doc more illustrative.
@Sonali-Sharma-1 you just work on these and get ready by tomorrow or a day after

[2021-10-03 16:11] SaloniThete opened #4241 "Hand Made Graphs Visualization using Cutecharts Library"
### Description

A detailed explanation of Hand Made Graphs Visualization using Cutecharts Library with examples.
Fixes #4162

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlsc

[2021-10-03 16:11] WajihaFatim commented on #4200
@kajaljha09 I have done my part .please check

[2021-10-03 16:14] HarshS1611 commented on #529
Please assign me for this issue

[2021-10-03 16:14] soma2000-lang commented on #3213
I will be doing it by tonight

On Sun, Oct 3, 2021, 02:09 Sarthak Aggarwal ***@***.***>
wrote:

[2021-10-03 16:17] apprenant-jd00 commented on #137
@ViAsmit I'll take topics 1-6

[2021-10-03 16:18] AditiGoyal05 commented on #2101
/assign video

[2021-10-03 16:19] dhruti29 commented on #3260
@nimisha-yadav Please review my PR...!!

[2021-10-03 16:23] #2357 closed

[2021-10-03 16:24] arp99 opened #4247 "[JS]: Vanilla and DOM Manipulation"
### Description

### Directory
Flavours/Vanilla and DOM Manipulation

### Decription
1. Talk about what is DOM manipulation
2.  Talk about how to do some manipulations using Vanilla JS

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md)

[2021-10-03 16:24] arp99 commented on #4247
/assign

[2021-10-03 16:29] nandini7637 opened #4249 "Java 19.2 : Autoboxing/Unboxing in expressions"
### Description
 Add audio, documentation, and video regarding the **Autoboxing/Unboxing in expressions**

 **Location of File to be added** The files should be added inside the _`Autoboxing/Unboxing in expressions`_ which will be inside _`Autoboxing`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be

[2021-10-03 16:33] 124015001 opened #4250 "C_CPP: Input and Output Operations in Files"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-03 16:33] 124015001 commented on #4250
/assign

[2021-10-03 16:36] rahulsain commented on #560
Already assigned on work issue

[2021-10-03 16:39] Kalpana-Kathait11 commented on #4202
[README.md](https://github.com/girlscript/winter-of-contributing/files/7274125/README.md)

[2021-10-03 16:40] Kalpana-Kathait11 commented on #4202
# Map() and filter() in Python

## Map() :
Map() is built-in function in python.The map function takes two input a function and iterable object.

**Syntax:** **map(function,iterator)**

**Function:** It is  mandatory function to be given to map, which will be applied to all the elements available in the iterator.

**Iterator:** An iterable is compulsory object. It can be a list, a tuple, etc. We c

[2021-10-03 16:43] parvatijay2901 commented on #990
@Saviour1001 @Suvraneel @kashishahuja2002 I somehow can't figure out in which folder I should keep the image that I want to upload. Please help.

[2021-10-03 16:44] jaya6400 commented on #3570
/assign documentation @AkMo3 @garvitraj

[2021-10-03 16:45] VaibhavMalik4187 opened #4253 "[Create New Issue]: DSA : Height Balanced Tree"
### Description

I will be explaining the concept of height-balanced trees and their implementation using C++

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-10-03 16:45] VaibhavMalik4187 commented on #4253
/assign

[2021-10-03 16:47] jaya6400 commented on #3570
/assign video

[2021-10-03 16:48] rajmadhu0406 commented on #4249
/assign documentation

[2021-10-03 16:51] Jonty512 opened #4254 "Java Annotations"
### Description

Annotations in Java - Backend Development With Java

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-10-03 16:52] Jonty512 commented on #4254
/assign documentation

[2021-10-03 16:57] surjyaneeh commented on #477
I have made a PR. Kindly review it.

[2021-10-03 17:00] jaya6400 commented on #3570
\assign documentation
@AkMo3 @garvitraj please assign

[2021-10-03 17:04] Prateek-8168 commented on #2020
I have already taken this issue, but I have already made this documentation, but I don't know how to contribute in this.

[2021-10-03 17:06] RahulRam29 opened #4255 "File I/O with Member Functions"

[2021-10-03 17:06] RahulRam29 commented on #4255
/assign

[2021-10-03 17:07] Saviour1001 commented on #1929
Closing this issue as the PR got merged

[2021-10-03 17:07] #1929 closed

[2021-10-03 17:07] Isha307 commented on #4101
@parvatijay2901 you can work on this.

[2021-10-03 17:11] Saviour1001 commented on #990
@parvatijay2901 just drag and drop the image in the issues section, GitHub will host it and provide you with a link to the image. Paste this line in the markdown file wherever you want the image. Here is a [video](https://www.youtube.com/watch?v=pp1NzgH-EK0). As shown in the video after the image gets uploaded you will get a line that will have the address to the image. Copy that line and paste it

[2021-10-03 17:14] parvatijay2901 commented on #990
@Saviour1001 Got it, Thanks. I've created the PR.

[2021-10-03 17:25] Parth-001-git commented on #560
@rahulsain  I would like to work on audio.

[2021-10-03 17:27] Parth-001-git commented on #542
@rahulsain  I would like to work on this audio too.

[2021-10-03 17:35] eshan1925 commented on #1451
/assign

[2021-10-03 17:36] eshan1925 commented on #1449
/assign

[2021-10-03 17:40] preeti003 commented on #560
/assign

[2021-10-03 17:42] Parth-001-git commented on #3915
I am Parth Sharma and I belong to dsa batch 5. I'm interested in working on this issue via audio. Kindly assign it to me @vikhyatsingh123

[2021-10-03 17:42] shaurya24sri opened #4262 "Heap sort C++"
### Description

Heap sort program in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-03 17:42] shaurya24sri commented on #4262
/assign

[2021-10-03 17:43] shaurya24sri commented on #4262
/assign

[2021-10-03 17:43] eshan1925 commented on #1449
/assign

[2021-10-03 17:44] shaurya24sri commented on #4262
/assign

[2021-10-03 17:45] Parth-001-git commented on #560
@preeti003  are you working on documentation?

[2021-10-03 17:47] #4262 closed

[2021-10-03 17:50] Saviour1001 commented on #3359
Closing this as #3969 got merged !

[2021-10-03 17:50] #3359 closed

[2021-10-03 17:50] amino19 commented on #1427
@LegendSumeet: Yep sure to pick this up, you just need to write:
[code]
& it'll gonna auto the process. :slightly_smiling_face:

[2021-10-03 17:50] shaurya24sri opened #4267 "Heap sort in C"
### Description

Heap sort Program in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-03 17:50] shaurya24sri commented on #4267
/assign

[2021-10-03 17:51] shaurya24sri commented on #4267
/assign

[2021-10-03 17:51] ketkikaushik opened #4268 "FRONTEND: Introduction to Bootstrap"
### Description

This documentation will contain the following information-

- What is Bootstrap?
- Installing Bootstrap.
- Why use Bootstrap?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:/

[2021-10-03 17:51] amino19 commented on #1551
/assign @LegendSumeet

[2021-10-03 17:52] ketkikaushik commented on #4268
/assign

[2021-10-03 17:54] anandhu720 commented on #1943
@AdityaPandey03 any updates

[2021-10-03 17:54] amino19 commented on #3031
Need to write:
[code]

[2021-10-03 17:56] LegendSumeet commented on #3031
/assign

[2021-10-03 17:58] LegendSumeet commented on #3031
@amino19 kindly assign me by you

[2021-10-03 18:00] Aditya-droid-byte opened #4269 "[Create New Issue]: Insertion in linked list using recursion"
### Description

 I am going to explain how to insert a node in the linked list with the help of recursion.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-10-03 18:01] Aditya-droid-byte commented on #4269
/assign

[2021-10-03 18:05] Saviour1001 commented on #3414
Closing this as the PR got merged

[2021-10-03 18:05] #3414 closed

[2021-10-03 18:07] #3728 closed

[2021-10-03 18:07] #2201 closed

[2021-10-03 18:10] ron352 commented on #4159
@prathimacode-hub mam is its audio section is still on?
Can I work on that?

[2021-10-03 18:12] #3071 closed

[2021-10-03 18:13] Gauravmauryaios commented on #4200
/ assign

[2021-10-03 18:18] #4060 closed

[2021-10-03 18:18] #3733 closed

[2021-10-03 18:20] prettylittleminds opened #4274 "C_CPP: Introduction to Arrays"
### Description

I want to contribute using **videography** on "**Introduction to Arrays**" using C. I would be covering every topic from the very basics.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-10-03 18:20] prettylittleminds commented on #4274
/assign

[2021-10-03 18:22] preeti003 commented on #560
yes

[2021-10-03 18:24] harshgupta1249 opened #4275 "C_CPP : Right View of a Binary Tree"
### Description

I will add a documentation: explanation and code for the right view of a Binary Tree.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-10-03 18:24] harshgupta1249 commented on #4275
/assign

[2021-10-03 18:24] harshgupta1249 commented on #4275
/assign

[2021-10-03 18:30] #3447 closed

[2021-10-03 18:30] shreya0204 commented on #864
@Suvraneel It's been 7+ days please review this pr.

[2021-10-03 18:51] achsahxavier commented on #3128
Is this issue open for audio contribution??
@adityabisoi
If yes, please assign it to me.
Thank you.

[2021-10-03 18:56] Ayushias0203 commented on #1650
/assign

[2021-10-03 19:00] I-ArchanaDash opened #4283 "C_CPP: goto control instructions"
### Description

I would like to work on this issue in the form of Documentation.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-10-03 19:01] I-ArchanaDash commented on #4283
/assign

[2021-10-03 19:02] #4283 closed

[2021-10-03 19:04] ketkikaushik opened #4284 "C/CPP: Operator Precedence"
### Description

This documentation will contain relevant information about **Operator Precedence**, i.e. , in what order an expressions is evaluated with example.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https

[2021-10-03 19:04] ketkikaushik commented on #4284
/assign

[2021-10-03 19:04] ketkikaushik commented on #4284
/assign

[2021-10-03 19:07] i-sanmatidash opened #4285 "C_CPP: goto control instruction"
### Description

I would like to work on this issue.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-03 19:07] rex2828 opened #4286 "Python : Dictionary Comprehension"
### Description

## Description

Create a video on Python Dictionary Comprehension
- What is Dictionary Comprehension in Python?
- Using Dictionary Comprehension
- Conditionals in Dictionary Comprehension
- Nested Dictionary Comprehension

## Domain

- [x] Python_Domain

## Type of Contribution

- [x]  Video

### Domain

Python_Domain

### Type of Contribution

Video

### Code of Conduct

- [X] I

[2021-10-03 19:07] rex2828 commented on #4286
/assign

[2021-10-03 19:07] i-sanmatidash commented on #4285
/assign

[2021-10-03 19:11] Kamya123 opened #4288 "[Create New Issue]: Complete Concept of OOPS"
### Description

Description 📜
----
It will include the following points -
- Introduction
- Class
- Objects
- Encapsulation
- Abstraction
- Polymorphism
- Inheritance
- Dynamic Binding
- Message Passing

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CON

[2021-10-03 19:12] Kamya123 commented on #4288
/assign

[2021-10-03 19:16] Subhrato20 commented on #4104
I would like to work on this issue.
Name : Subhrato Som
Batch : 2
Type : Documentation

[2021-10-03 19:19] m0hit-kumar commented on #4241
i will love to contribute pls assign it to me

[2021-10-03 19:20] soma2000-lang commented on #4241
/assign

[2021-10-03 19:23] itsbittoosharma commented on #4249
/assign

[2021-10-03 19:24] itsbittoosharma commented on #4249
/assign documentation

[2021-10-03 19:30] anisha-01-phoenix opened #4292 "Types of Notifications in Android Application"
### Description

In this I will be explaining about the different types of Notifications that can be implemented in our App. These include :
* Simple Notification
* Big Text Style Notification
* Big Picture Style Notification
* Inbox Style Notification
* Performing Actions on Notifications

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow

[2021-10-03 19:30] anisha-01-phoenix commented on #4292
@VikasPandey121 Can I work on this Issue?

[2021-10-03 19:31] anisha-01-phoenix commented on #4292
/assign

[2021-10-03 19:32] samikshaupadhyay opened #4293 "Prerequisites for classification in Machine Learning"
### **Description**
Cover the prerequisite libraries and functions needed for Classification in Machine Learning
Libraries covered

- PyTorch
- Keras
- Numpy
- Matplotlib
- Pandas
- Seaborn
- Sklearn

### **Type of Contribution**
Documentation

**### Code of Conduct**

- [ ] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) &

[2021-10-03 19:34] itsbittoosharma commented on #4249
\assign documentation

[2021-10-03 19:50] I-ArchanaDash opened #4294 "C_CPP: this Pointer"
### Description

I would like to work on this issue in the form of Documentation.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-10-03 19:51] I-ArchanaDash commented on #4294
/assign

[2021-10-03 19:52] m0hit-kumar commented on #4293
please assign it to me

[2021-10-03 19:53] VikasPandey121 commented on #55
Okay @LegendSumeet, I am assigning this issue to you.

[2021-10-03 19:54] I-ArchanaDash commented on #4294
@Saviour1001  Pls assign it to me as I have 2 issues opened not 3 and none of C_CPP domain

[2021-10-03 19:54] VikasPandey121 commented on #118
One issue is already been assigned to you. Would you like to work on both issues?

[2021-10-03 19:54] m0hit-kumar commented on #4286
I will love to contribute pls assign it to me

[2021-10-03 19:56] Saurabh-kumar09 commented on #562
/assign Audio

[2021-10-03 19:58] Suvraneel commented on #4294
@I-ArchanaDash
![image](https://user-images.githubusercontent.com/63473496/135769530-6056d115-daa6-49d9-a6ae-a906802ac4a8.png)

No you've 3 assigns
Close/Unassign yourself from unecessary/merged ones

[2021-10-03 19:59] #1002 closed

[2021-10-03 19:59] warmachine028 commented on #4293
I guess you should self assign yourself .. read other issues people are doing like this :
/*assign

[2021-10-03 19:59] I-ArchanaDash commented on #4294
/assign

[2021-10-03 20:00] heet-kumar opened #4295 "Frontend with Framework: React 3.1 List and Keys"
### Description

## Description
Contributors are required to create documentation and explain about List and Keys which should cover questions like :-
- What is List in React ?
- What is keys in React ?
- When do we have to use this ?
- How to implement List and keys with code (also give theory explanation of the code) ?
- You can take 2-3 examples with codes of different types to explain this etc

[2021-10-03 20:01] heet-kumar opened #4296 "Frontend with Framework: React 3.2 Composition vs Inheritance"
## Description
Contributors are required to create documentation and explain about Composition and Inheritance which should cover questions like :-
- What is Composition in React ?
- When do we use Composition ?
- What is Inheritance in React ?
- When do we use Inheritance ?
- How to implement Composition and Inheritance with code (also give theory explanation of the code) ?
- You can take 2-3 exa

[2021-10-03 20:01] heet-kumar opened #4297 "Frontend with Framework: React 3.3 Basic Hooks useState and useEffect"
### Description

## Description
Contributors are required to create documentation and explain about Hooks useState and useEffect which should cover questions like :-
- What is useState in React ?
- When do we use useState ?
- What is useEffect in React ?
- When do we use useEffect ?
- How to implement useState and useEffect with code (also give theory explanation of the code) ?
- You can take 2-3

[2021-10-03 20:02] m0hit-kumar commented on #4293
In the previous issue, I done the self-assign but owner assign it to the person who came after me.

[2021-10-03 20:02] m0hit-kumar commented on #4293
/assign

[2021-10-03 20:04] Saurabh-kumar09 commented on #565
/assign Audio

[2021-10-03 20:07] Saurabh-kumar09 commented on #568
- please assign me Audio section on this topic.

[2021-10-03 20:14] warmachine028 opened #4300 "Type Hinting in Python"
### Description

A detailed  explanation of Type Hinting:
- What is Type Hinting?
- How we use type Hinting in python?
- Why we need type hinting in a Dynamic Type Language?
- Basics
- Advanced

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONT

[2021-10-03 20:15] warmachine028 commented on #4300
/assign

[2021-10-03 20:16] hardikk2002 opened #4301 "MERN_Express: 4.0 Intro to Postman"
### Description

### :pushpin: Minimum points to be covered.
- What's a `Postman` brief detail about.
- Why do we `use` it.
- How to `install` on different platforms, if steps are not similar.
- Alternatives of Postman. Examples only.

### :file_folder: Project Directory
`Branch MERN>MERN/Topic/Backend/Express/`

### :paintbrush: Filename
`4.0_Introduction_to_Postman(D).md`

## Happy Contributing

[2021-10-03 20:23] warmachine028 commented on #4293
Did it work?

[2021-10-03 20:24] hardikk2002 opened #4303 "MERN_Express: 4.1 Getting Started with Postman"
### Description

### :pushpin: Minimum points to be covered.
- What's a `Postman` and why do we need it.
- Show UI, and tell about basic features.
- Tell about the use of different tabs, like `Params, Authorization, Body, and etc ...`

### :file_folder: Project Directory
Branch MERN>MERN/Topic/Backend/Express/

### :paintbrush: Filename
4.1_Getting_Started_with_Postman(V).md

## Happy Contributing

[2021-10-03 20:27] aishapervin commented on #4303
@hardikk2002 assign me plz

[2021-10-03 20:28] aishapervin commented on #4303
@hardikk2002 all of the others issues in which i contributed is merged but not closed still.I am not able to take up new issues plz assign me this issue.Thankyou

[2021-10-03 20:31] hardikk2002 commented on #4303
Oh, you actually cant work on more than 3 issues at a time. So you need to first close the Previous issues or have to ask the publisher to close them. :eyes:

[2021-10-03 20:34] aishapervin commented on #4303
@hardikk2002 i have already commented but nobody has closed the issue.All the  PR's are merged but not closed,and it has been a lot of days.Nobody listens.

[2021-10-03 20:35] soma2000-lang commented on #4301
/assign

[2021-10-03 20:35] hardikk2002 opened #4306 "MERN_Express: 4.0 Intro to Postman (A)"
### Description

### :pushpin: Minimum points to be covered.
- What's a `Postman` brief detail about.
- Why do we `use` it.
- Alternatives of Postman. Examples only.

### :file_folder: Project Directory
`Branch MERN>MERN/Topic/Backend/Express/`

### :paintbrush: Filename
`4.0_Introduction_to_Postman(A).md`

## Happy Contributing :partying_face::raised_hands:

---

Doubt? Reach me on Discord.

hack

[2021-10-03 20:38] hardikk2002 commented on #4301
@soma2000-lang actually cant work on more than 3 issues at a time. So you need to first close the Previous issues or have to ask the publisher to close them. :eyes:
Also if PRs are linked with issues then, PRs should also be merged first.

[2021-10-03 20:40] Iamtripathisatyam commented on #4011
@adityabisoi sir, Please approved it, so that I could start working on it!

[2021-10-03 20:43] hardikk2002 commented on #4303
Tag publisher or supervisor directly on discord and request them to close the completed issues and merged PRs.
I can't help from my side I don't have access to this Repo. 🤷 Still you can reach me on discord.

[2021-10-03 20:43] pjdurden commented on #3172
@eshan1925 kindly dont abuse the assign bot. First submit pr for the open issues you have and then ask for new issues.

[2021-10-03 20:44] eshan1925 commented on #3172
Already done....i was assigned to an issue whose PR was already merged...

[2021-10-03 20:45] eshan1925 commented on #3172
By the way i dont want to get assigned to this issue for now😁
Thankyou

[2021-10-03 20:49] hardikk2002 commented on #4303
Tag publisher or supervisor directly on discord and request them to close the completed issues and merged PRs.

Still, you can reach me on discord if your previous issues or PRs are from the MERN domain. :shrug:

[2021-10-03 20:55] soma2000-lang commented on #4301
@hardikk2002 Actually I have done  working on 2 issues and made successfull prs .just waiting for them to get merged

[2021-10-03 20:58] #168 closed

[2021-10-03 21:02] pjdurden opened #4309 "DSA 2.1.15 String Matching Algorithms"
## Description
Give an introduction and explain the working of various String Matching Algorithms.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see tha

[2021-10-03 21:05] pjdurden opened #4310 "DSA 2.1.13.1 1's and 2's Compliment of Binary String"
## Description
Give an introduction and explain the algorithm for finding 1's and 2's complement of Binary String.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In

[2021-10-03 21:07] pjdurden opened #4311 "DSA 2.1.13.2 n-bit Gray Codes"
## Description
Give an introduction and explain the working of algorithms for generating n-bit gray codes.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you

[2021-10-03 21:10] pjdurden opened #4312 "DSA 2.1.13.3 Alternate Binary String problem"
## Description
Give an introduction and explain the working of algorithms for the following problem-
"Minimum number of characters to be removed to make a binary string alternate".

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/

[2021-10-03 21:12] pjdurden opened #4313 "DSA 2.1.13.4 Powet Set Lexicographic order"
## Description
Give an introduction and explain the working of an algorithm for finding Powet Set in Lexicographic order.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues)

[2021-10-03 21:14] pjdurden opened #4314 "DSA 2.1.13.5 Lexicographically minimum string rotation"
## Description
Give an introduction and explain the working of algorithms for Lexicographically minimum string rotation.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-10-03 21:16] pjdurden opened #4315 "DSA 2.1.13.5 Lexicographical String pattern problem"
## Description
Give an introduction and explain the working of an algorithm for finding Lexicographically largest subsequence such that every character occurs at least k times.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/wint

[2021-10-03 21:17] pjdurden opened #4316 "DSA 2.2.6.1 Sublist Search(searching and sorting)"
## Description
Give an introduction and explain the working of the Sublist Search Algorithm.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the

[2021-10-03 21:18] pjdurden opened #4317 "DSA 2.2.6.2 Fibonacci Search(Searching and Sorting)"
## Description
Give an introduction and explain the working of an algorithm for Fibonacci Seach.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that

[2021-10-03 21:19] pjdurden opened #4318 "DSA 2.2.6.3 Exponential Search(Searching and Sorting)"
## Description
Give an introduction and explain the working of an algorithm for Exponential Search.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see th

[2021-10-03 21:20] pjdurden opened #4319 "DSA 2.2.6.4 Interpolation Search(Searching and Sorting)"
## Description
Give an introduction and explain the working of an algorithm for Interpolation Search.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see

[2021-10-03 21:21] pjdurden opened #4320 "DSA 2.2.21 External Sorting (Big Data)"
## Description
Give an introduction and explain the working of an algorithm for External Sorting used commonly for large datasets.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.m

[2021-10-03 21:32] #494 closed

[2021-10-03 21:32] Gagarod commented on #3531
@sumitaccess007 I have made a pr regarding the documentation part

[2021-10-03 21:33] #452 closed

[2021-10-03 21:34] #448 closed

[2021-10-03 21:34] #446 closed

[2021-10-03 21:35] #111 closed

[2021-10-03 21:50] NikitaEmberi opened #4322 "Overview on Stacking Classifier"
### Description

This issue will help readers in acquiring all the knowledge that one needs to know about Stacking Classifiers and its importance in increasing the performance accuracy of models.
@abhisheks008 sir, if the issue sounds good enough, please could you assign this issue to me. Thank you.
Name-Nikita Bhrugumaharshi Emberi
Domain-Machine Learning
Batch-6
Serial No-992
Issue Number-2943
C

[2021-10-03 21:52] NikitaEmberi commented on #4322
/assign
Name-Nikita Bhrugumaharshi Emberi
Domain-Machine Learning
Batch-6
Serial No-992
Issue Number-2943
Choice-Documentation

[2021-10-03 23:57] shreya024 commented on #4297
I would like to work on this issue.Kindly assign me this.

[2021-10-04 00:14] shreya024 commented on #4297
/assign

[2021-10-04 00:34] shreya024 commented on #1306
My PR #2803 regarding this issue has been merged.Kindly,close this issue so that I can take up other issues.Thank you.

[2021-10-04 00:46] aisharay commented on #4317
/assign

[2021-10-04 01:13] geeky01adarsh commented on #4318
/assign

[2021-10-04 01:13] geeky01adarsh commented on #4318
/assign documentation

[2021-10-04 01:13] geeky01adarsh commented on #4318
/assign

[2021-10-04 01:15] geeky01adarsh commented on #4312
/assign

[2021-10-04 01:43] dhruti29 commented on #4319
I would like to work on this issue. (documentation)
Batch -2
Dhruti Gandhi

[2021-10-04 01:43] dhruti29 commented on #4320
I would like to work on this issue. (documentation)
Batch -2
Dhruti Gandhi

[2021-10-04 01:44] dhruti29 commented on #4317
I would like to work on this issue. (documentation)
Batch -2
Dhruti Gandhi

[2021-10-04 01:44] dhruti29 commented on #4316
I would like to work on this issue. (documentation)
Batch -2
Dhruti Gandhi

[2021-10-04 01:44] dhruti29 commented on #4309
I would like to work on this issue. (documentation)
Batch -2
Dhruti Gandhi

[2021-10-04 01:44] utkarshpathak2504 commented on #4320
I would like to work on the documentation part of this issue.
Utkarsh Pathak
DSA Batch-4

[2021-10-04 01:46] dhruti29 commented on #4309
/assign
documentation

[2021-10-04 01:49] ayushjha952 commented on #4309
I would like to work on the documentation part can you please assign it to me.
Ayush Jha
Batch - 3.

[2021-10-04 01:49] ayushjha952 commented on #4309
/assign

[2021-10-04 01:51] utkarshpathak2504 commented on #4315
I would like to work on this issue(documentation part). Please assign it to me.
Utkarsh Pathak
DSA Batch-4

[2021-10-04 01:54] sonali-t commented on #4313
I would like to work on this issue(documentation part). Please assign it to me.
Sonali Tomar
DSA Batch-4

[2021-10-04 01:54] ayushjha952 commented on #4310
I would like to work on the documentation part can you assign it to me.
Ayush Jha
Batch 3.

[2021-10-04 01:57] Safwan310 commented on #4301
/assign

[2021-10-04 02:01] Safwan310 commented on #4295
/assign

[2021-10-04 02:03] sonali-t commented on #4316
@pjdurden I would like to work on this issue(documentation part). Please assign it to me.
Sonali Tomar
DSA Batch-4

[2021-10-04 02:05] purohitmansi commented on #4227
Please do assign this to me. I would like to work on this.

[2021-10-04 02:06] purohitmansi commented on #4224
Please do assign this to me. I would like to work on this in C++.

[2021-10-04 02:07] utkarshpathak2504 commented on #4314
I would like to work on this issue( documentation part)
Utkarsh Pathak
DSA Batch-4

[2021-10-04 02:08] purohitmansi opened #4327 "[Create New Issue]: Recursion"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-04 02:09] sonali-t commented on #4319
@pjdurden I would like to work on this issue(documentation part). Please assign it to me.
Sonali Tomar
DSA Batch-4

[2021-10-04 02:09] sonali-t commented on #4314
@pjdurden I would like to work on this issue(documentation part). Please assign it to me.
Sonali Tomar
DSA Batch-4

[2021-10-04 02:10] purohitmansi commented on #4327
I have opened the issue to work on it. Please do assign this to me.
/assign

[2021-10-04 02:16] aisharay commented on #4317
I am working on it(documentation)
Aisha ray

[2021-10-04 02:49] koshimagoyal opened #4328 "[FRONTEND WITH FRAMEWORK]: Angular(3.1) -> Built-in Directives"
### Description

- What are directives?
- What are different types of directives?
- What are built-in structural directives?
- What are built-in attribute directives?
- How to host a directive without a DOM element?
- Explain with code snippets/syntax.
- Reference :- https://angular.io/guide/built-in-directives
(Week 3 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR

[2021-10-04 02:56] koshimagoyal opened #4329 "[FRONTEND WITH FRAMEWORK]: Angular(3.2) -> Structural Directives"
### Description

- What is structural directive?
- How to create structural directive?
- How to test structural directive?
- What is shorthand for structural directive?
- How to improve template type checking for custom directive?
- Explain with code snippets/syntax.
- Reference :- https://angular.io/guide/structural-directives
(Week 3 Issue)

Note:-

1. Don't copy paste, we would be merging after

[2021-10-04 02:58] RIYANSHGARG commented on #4328
I would like to work on this. Kindly, assign it to me

[2021-10-04 02:58] RIYANSHGARG commented on #4329
I would like to work on this. Kindly, assign it to me

[2021-10-04 02:58] RIYANSHGARG commented on #4328
/assign

[2021-10-04 02:59] adityabisoi commented on #4293
@m0hit-kumar Go ahead

[2021-10-04 03:01] koshimagoyal opened #4330 "[FRONTEND WITH FRAMEWORK]: Angular(3.3) -> Attribute Directives"
### Description

- What is attribute directive?
- How to build attribute directive?
- How to handle user events?
- How to pass value into an attribute directive?
- How to bind it with second property?
- How to deactivate attribute directive processing?
- Reference :- https://angular.io/guide/attribute-directives
(Week 3 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the P

[2021-10-04 03:02] riyasai22 commented on #4110
@abhisheks008 Kindly review my PR #4271

[2021-10-04 03:04] adityabisoi commented on #4011
@Iamtripathisatyam Go ahead

[2021-10-04 03:05] SARANYA233 opened #4331 "Data Science with Python : Getting Started With Seaborn"
### Description

Need to create a Documentation

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-10-04 03:05] SARANYA233 commented on #4331
/assign

[2021-10-04 03:23] samikshaupadhyay commented on #4293
/assign

[2021-10-04 03:27] m0hit-kumar commented on #4293
yes but you have to comment first and then use /assignn

[2021-10-04 03:34] samikshaupadhyay opened #4333 "Use of important python Libraries"
### **Description**
Use of important python Libraries

### **Type of Contribution**
Documentation

### **Domain**
Python

**### Code of Conduct**

- [x] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct ](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)of this proje

[2021-10-04 03:34] samikshaupadhyay commented on #4333
I would like to work on this

[2021-10-04 03:34] Narcos101 commented on #4296
/assign

[2021-10-04 03:34] samikshaupadhyay commented on #4333
/assign

[2021-10-04 03:35] #4130 closed

[2021-10-04 03:43] queenish001 commented on #3123
@Deepanshu-bhalla What's your status on this Issue?

[2021-10-04 03:44] aisharay commented on #4313
/assign
documentation
Aisha ray
DSA batch 7

[2021-10-04 03:47] aisharay commented on #4319
/assign
Documentation
Aisha ray
DSA batch 7

[2021-10-04 03:47] ayushjha952 commented on #4312
I want to work on the **documentation** part can you please assign it to me .
Ayush Jha
Batch -3 .

[2021-10-04 03:51] #2786 closed

[2021-10-04 03:56] varunborar commented on #4249
/assign Documentation

[2021-10-04 04:04] anandhu720 opened #4335 "Frontend With FrameWork : Introduction to Hooks in React"
### Description

Description
Contributors are required to create documentation and explain what is  Hooks which should cover questions like :-

What Hooks are in React ?
Why to use Hooks in React ?
Advantages of Hooks ?
Where we need to use hooks ?

Note :
Plagiarism is strictly prohibited.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Develo

[2021-10-04 04:06] rakeshbodavula opened #4336 "Documentation on Counting Sort and Radix Sort in C"
### Description

I would like to add a documentation on the Linear Sort Algorithms which are Counting sort and Radix sort in C

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-co

[2021-10-04 04:06] SMD-1 commented on #4335
/assign

[2021-10-04 04:06] rakeshbodavula commented on #4336
/assign

[2021-10-04 04:07] utkarshpathak2504 commented on #4336
/assign

[2021-10-04 04:15] bakisama commented on #3510
/assign

[2021-10-04 04:16] aastha01chauhan opened #4339 "Shortest Night Path"
### Description

It is a classic DP problem. Given a square chessboard of N x N size, the position of Knight and position of a target is given. We need to find out the minimum steps a Knight will take to reach the target position.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscrip

[2021-10-04 04:17] aastha01chauhan commented on #4339
/assign

[2021-10-04 04:17] aastha01chauhan commented on #4339
/assign

[2021-10-04 04:18] heet-kumar commented on #4297
Go for it @shreya024

[2021-10-04 04:20] aastha01chauhan commented on #4339
please add hacktoberfest label too

[2021-10-04 04:21] rakeshbodavula opened #4341 "Usage of Macros in C++ for effective CP"
### Description

I would like to make a documentation on usage of macros in C++ which reduces the typing time and improve the performance in CP

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:/

[2021-10-04 04:23] CSAURABH commented on #4330
@mukeshmjn can i work on this issue.

[2021-10-04 04:24] #4110 closed

[2021-10-04 04:24] Iamtripathisatyam commented on #4011
Ok sir, thank you!

[2021-10-04 04:25] Supriyo-455 commented on #528
@rahulsain I am working on this, sorry it was quite bit late I had some problems due to that I was unable to be regular. Just give me 3 days and it will be completed.

[2021-10-04 04:26] VanshikaSable commented on #3080
@goelesha  mam i cant see strings folder in dsa branch . i can see only  arrays and algorithms folder. what should i do now.please help.

[2021-10-04 04:28] abhisheks008 commented on #4129
Hey @AdityaNikhil One issue at a time. Please complete your previous issue first!

[2021-10-04 04:29] abhisheks008 commented on #4129
@PurviBhoyar21 This is an audio contribution, would you like to work in this?

[2021-10-04 04:29] PurviBhoyar21 commented on #4129
Yes
PLEASE  @abhisheks008
assign me

[2021-10-04 04:30] Hritik157 commented on #4330
/ assign

[2021-10-04 04:30] #2621 closed

[2021-10-04 04:31] #2614 closed

[2021-10-04 04:32] Subhradeep10 commented on #4309
@dhruti29 Don't do self assign..
@ayushjha952 @dhruti29 Assigned to both of you

[2021-10-04 04:33] abhisheks008 commented on #4104
issue assigned to @Yugal41735

[2021-10-04 04:33] mukeshmjn commented on #4330
Assigned to u @CSAURABH

[2021-10-04 04:34] VanshikaSable commented on #3080
![image](https://user-images.githubusercontent.com/88393681/135794981-bee60967-93a6-418e-8026-d6c73724494f.png)

[2021-10-04 04:35] abhisheks008 commented on #4129
Ok then Issue assigned to @PurviBhoyar21

[2021-10-04 04:35] Megha0606 opened #4342 "Enumeration CPP"
### Description

Enum is a data type that contain fixed set of constraints. I would like to make a detail documentation on this topic

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winte

[2021-10-04 04:35] Megha0606 commented on #4342
/assign

[2021-10-04 04:38] ron352 commented on #4128
@abhisheks008  is this issue still on?

[2021-10-04 04:38] #4109 closed

[2021-10-04 04:38] #4322 closed

[2021-10-04 04:40] HassanRahim26 commented on #4311
Can you please assign me this issue.

[2021-10-04 04:46] rahulsain commented on #528
Okay

[2021-10-04 04:46] Sin-Sumit opened #4344 "Files are located in wrong directory in Backend_Development_with_Python"
### Description

Code of Conduct & Contributing Guidelines is located inside the .github directory which is not a suitable location because the .github directory is used for some other purposeful actions.
The .github directory is used by GitHub for some actions.

Please change that & add YAML files.

### Domain

Backend Dev (Python)

### Type of Contribution

Documentation

### Code of Conduct

-

[2021-10-04 04:46] NikitaEmberi opened #4345 "OverView of Stacking Classifier"
### Description

This issue will help readers know everything about implementation of stacking classifiers and its importance in increasing the performance accuracy of models.
@abhisheks008 Please could you assign this issue to me under hacktoberfest label.

### Domain

Machine Learning

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://

[2021-10-04 04:47] NikitaEmberi commented on #4345
I would like to work on this issue
Name-Nikita Bhrugumaharshi Emberi
Domain-Machine Learning
Batch-6
Serial No-992
Issue Number-2943
Choice-Documentation

[2021-10-04 04:47] Sin-Sumit commented on #4344
/assign

[2021-10-04 04:47] Aniketsinghcoder commented on #4327
/assign

[2021-10-04 04:49] purohitmansi commented on #4327
Please do checkout for other issue. I have made to contribute in this.

[2021-10-04 04:49] Aniketsinghcoder commented on #4320
/assign

[2021-10-04 04:49] Sin-Sumit commented on #4344
@2024-SANDHYA Please take a look before I start working on it.

[2021-10-04 04:52] jaissumi1402 opened #4346 "Flutter: Create a documentation on drawer widget"
### Description

I will create a documentation on drawer widget with proper images and examples.

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blo

[2021-10-04 04:53] jaissumi1402 commented on #4346
@ViAsmit can I work on this issue?

[2021-10-04 04:53] jaissumi1402 commented on #4346
/assign

[2021-10-04 04:53] Aniketsinghcoder commented on #4320
I would like to work on the documentation task of this issue.
Aniket Singh
DSA Batch-3

[2021-10-04 04:53] jaissumi1402 commented on #4346
@ViAsmit can I work on this issue?

[2021-10-04 04:54] NikitaEmberi commented on #4122
Name-Nikita Bhrugumaharshi Emberi
Domain-Machine Learning
Batch-6
Serial No-992
Issue Number-2943
Choice-Video

[2021-10-04 04:55] NikitaEmberi commented on #4116
Name-Nikita Bhrugumaharshi Emberi
Domain-Machine Learning
Batch-6
Serial No-992
Issue Number-2943
Choice-Video

[2021-10-04 04:56] Aniketsinghcoder commented on #4310
/assign

[2021-10-04 05:00] umang345 opened #4347 "Qualifiers"
### Description

Qualifiers : Backend Development with Java

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-10-04 05:00] abhisheks008 commented on #4128
Issue assigned to @ron352

[2021-10-04 05:00] umang345 commented on #4347
/assign documentation

[2021-10-04 05:01] Sin-Sumit opened #4348 "Code of Conduct & Contribution Guidelines should be in front."
### Description

Code of Conduct & Contribution Guidelines files are placed inside the .github directory, both files should be in front with others like License, README, not inside any directory.

Because beginners most of the time not able to find these important files.

Please put them in front.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follo

[2021-10-04 05:02] Sin-Sumit commented on #4348
/assign

[2021-10-04 05:02] rakeshbodavula opened #4349 "Usage of Macros Effectively for CP"
### Description

I would like to add a documentation on how to use macros while doing CP

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-10-04 05:02] rakeshbodavula commented on #4349
/assign

[2021-10-04 05:07] #4349 closed

[2021-10-04 05:10] sakshi430 opened #4353 "Mutable and Immutable objects in Python"
### Description 📜
Explain with code and examples about mutable and immutable objects in python.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-10-04 05:10] sakshi430 commented on #4353
/assign

[2021-10-04 05:14] prathimacode-hub commented on #4168
Issue assigned to @yashh18 for audio contribution

[2021-10-04 05:14] prathimacode-hub commented on #4168
Text me on Discord, i have to talk to you. @SaloniThete

[2021-10-04 05:16] prathimacode-hub commented on #4159
Yes, it's available. Issue assigned to @ron352 for audio contribution

[2021-10-04 05:16] roopali-1 commented on #2249
@adityabisoi is this issue open for audio ??
if yes then I would like to work in this as audio contribution. Kindly assign it to me
thank you !!

[2021-10-04 05:17] #3468 closed

[2021-10-04 05:18] yashh18 commented on #4168
@Sakshi1700 I have been assigned the audio contribution for this.
Can you please let me know when you are done with the documentation, so I"ll make an audio explaining it!
Connect with me on discord : @yashhh#7188

[2021-10-04 05:18] ron352 commented on #4114
Sarmistha Sarna
Batch -01
https://github.com/ron352
type: audio

[2021-10-04 05:23] achsahxavier commented on #1859
@prathimacode-hub
Name: Achsah Xavier
S. No.: 882
Batch: 20
Type: Audio
Approach: I would explain aboutPyBrain library, its features, advantages and workflow.

Pleasw assign it to me for audio contribution.
Thank you.

[2021-10-04 05:23] SaloniThete commented on #4168
@prathimacode-hub yes mam I have texted you on Discord. kindly check the message.

[2021-10-04 05:24] aishapervin commented on #3211
@Sarthak-Agg plz close this issue,now that it is merged.I am not able to take up new issues.Thankyou.

[2021-10-04 05:29] Sakshi1700 commented on #4168
@yashh18 yeah sure.

[2021-10-04 05:31] anandhu720 commented on #4329
@RIYANSHGARG We have told you guys many times please assgin one work at a time.By getting multiple tasks assigned you are decreasing the chance of others to get work.Please don't do this again.

[2021-10-04 05:35] LegendSumeet commented on #118
@VikasPandey121 yes i can work on both

[2021-10-04 05:41] RIYANSHGARG commented on #4329
I commented just to work consecutively, I will create pull req for the other one by today or tomorrow. As there are limited issues created so what I do I try to find another task so that after the previous task I can instantly start working on the new issue. I dont assign myself more than 2 at a time. So like I will do this issue till day after tomorrow If you assign it to me that will be better a

[2021-10-04 05:42] DwipshikhaLodh opened #4354 "Problems which uses Dynamic Programming Algorithm || 0/1 Knapsack"
### Description

Description: Here I'll be describing how dp algorithm can be used to solve few standard problems.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-10-04 05:43] DwipshikhaLodh commented on #4354
/assign

[2021-10-04 05:45] #4241 closed

[2021-10-04 05:46] nimisha-yadav opened #4355 "DSA 2.1 Strings: Subsequence - Documentation"
## Description
What are subsequences and how do you implement them in strings? Give examples. Also, write a program to show how to generate all possible subsequences.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://git

[2021-10-04 05:46] nimisha-yadav opened #4356 "DSA 2.1 Strings: Subsequence - Video"
## Description
What are subsequences and how do you implement them in strings? Give examples. Also, write a program to show how to generate all possible subsequences.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/

[2021-10-04 05:46] nimisha-yadav opened #4357 "DSA 2.1 Strings: Subsequence - Audio"
## Description
What are subsequences and how do you implement them in strings? Give examples. Also, write a program to show how to generate all possible subsequences.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/

[2021-10-04 05:47] nimisha-yadav opened #4358 "DSA 2.1 Strings: Substrings - Audio"
## Description
What are substrings? Give examples. How do you implement them? Mention atleast three approaches.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBU

[2021-10-04 05:47] nimisha-yadav opened #4359 "DSA 2.1 Strings: Substrings - Video"
## Description
What are substrings? Give examples. How do you implement them? Mention atleast three approaches.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBU

[2021-10-04 05:47] nimisha-yadav opened #4360 "DSA 2.1 Strings: Substrings - Documentation"
## Description
What are substrings? Give examples. How do you implement them? Mention atleast three approaches.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/

[2021-10-04 05:48] nimisha-yadav opened #4361 "DSA 2.1 Strings: Binary Strings - Audio"
## Description
What are Binary Strings? Give examples.
Given a binary string, count number of substrings that start and end with 1.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/b

[2021-10-04 05:48] nimisha-yadav opened #4362 "DSA 2.1 Strings: Binary Strings - Video"
## Description
What are Binary Strings? Give examples.
Given a binary string, count number of substrings that start and end with 1.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/b

[2021-10-04 05:48] nimisha-yadav opened #4363 "DSA 2.1 Strings: Binary Strings - Documentation"
## Description
What are Binary Strings? Give examples.
Given a binary string, count number of substrings that start and end with 1.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contri

[2021-10-04 05:48] nimisha-yadav opened #4364 "DSA 2.1 Binary Strings (Problem 1) - Documentation"
## Description
Given a Binary string, find the largest Prime Number possible by the decimal representation of a subsequence of the given binary string. If no prime number can be obtained, print -1.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to

[2021-10-04 05:48] nimisha-yadav opened #4365 "DSA 2.1 Binary Strings (Problem 2) - Documentation"
## Description
Given a binary string str, how can you remove the minimum number of characters from the given binary string such that the characters in the remaining string form a sorted order.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Iss

[2021-10-04 05:48] nimisha-yadav opened #4366 "DSA 2.1 Binary Strings (Problem 3) - Documentation"
## Description
Given a binary string S, find the maximum length of substrings required to be flipped repeatedly to make all the characters of a binary string equal to ‘0’.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https:

[2021-10-04 05:49] uzma024 commented on #4360
Uzma Firoz Khan
branch 10 DSA
Documentation
I would like to work on this issue please assign it to me.

[2021-10-04 05:49] shrey-ya commented on #4202
/assign

[2021-10-04 05:49] uniquenikki commented on #4329
assign me/assign

[2021-10-04 05:50] nimisha-yadav opened #4367 "DSA 2.1 Strings Anagram: Introduction - Audio"
## Description
What is an anagram of a string? Give examples. Write a function to check whether two given strings are anagram of each other or not.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-o

[2021-10-04 05:50] nimisha-yadav opened #4368 "DSA 2.1 Strings Anagram: Introduction - Video"
## Description
What is an anagram of a string? Give examples. Write a function to check whether two given strings are anagram of each other or not.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-o

[2021-10-04 05:50] nimisha-yadav opened #4369 "DSA 2.1 Strings Anagram: Introduction -Documentation"
## Description
What is an anagram of a string? Give examples. Write a function to check whether two given strings are anagram of each other or not.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/

[2021-10-04 05:50] nimisha-yadav opened #4370 "DSA 2.1 Anagram Problems (Problem 1) - Documentation"
## Description
Given two strings S1 and S2, find the lexicographically smallest and the largest anagrams of S1 such that it contains the string S2 as a substring.

**Important: Do not use assign command for this issue.**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github

[2021-10-04 05:50] nimisha-yadav opened #4371 "DSA 2.1 Anagram Problems (Problem 2) - Documentation"
## Description
Given a word and a text, return the count of the occurrences of anagrams of the word in the text.
Example:
Input : aabaabaa
        aaba
Output : 4

**Important: Do not use assign command for this issue.**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github

[2021-10-04 05:50] nimisha-yadav opened #4372 "DSA 2.1 Anagram Problems (Problem 3) - Documentation"
## Description
Given two strings s1 and s2, the task is to find the minimum number of steps required to convert s1 into s2. The only operation allowed is to swap adjacent elements in the first string. Every swap is counted as a single step.

**Important: Do not use assign command for this issue.**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention you

[2021-10-04 05:51] #2101 closed

[2021-10-04 05:51] shrey-ya commented on #3112
\assign documentation

[2021-10-04 05:52] uzma024 commented on #4360
Also, is it not Hacktoberfest accepted?

[2021-10-04 05:52] shrey-ya commented on #3112
Somehow I was unassigned, can you assign me this again as I have started working on it.

[2021-10-04 05:53] reeyah commented on #4370
/assign

[2021-10-04 05:54] ishrutik opened #4373 "DSA: Arrays: Plus One"
### Description

Given a large integer in the form of array, You need to increment the integer by 1 and return the updated array.
Code will be in C plus plus

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://githu

[2021-10-04 05:54] ishrutik commented on #4373
/assign

[2021-10-04 05:55] DhruvBajaj01 opened #4374 "Data Science with Python : Binary search algorithm"
### Description

Welcome to 'DSWP' Team, good to see you here

This issue will help readers in acquiring all the knowledge to learn about knowing Binary Search Algorithm. Tutorial to Binary Search Algorithm and how it's applied using visual representations and sample code and techniques

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Pytho

[2021-10-04 05:55] reeyah commented on #4371
/assign

[2021-10-04 05:55] prathimacode-hub commented on #4162
Issue assigned to @SaloniThete for documentation

[2021-10-04 05:56] motasimmakki commented on #4372
/assign

[2021-10-04 05:58] shahhilag commented on #4364
Respected Sir,
I would like to work on this issue.My name is Hilag Shah from DSA batch 1

[2021-10-04 05:59] silicolicious commented on #4355
Mageshkrishna R
DSA batch 6

Willing to take up this issue, assign it to me.

[2021-10-04 06:00] shahhilag commented on #3256
Respected Sir,
I would like to work on this issue.
I am Hilag Shah from DSA batch 1

[2021-10-04 06:02] GenMech commented on #4369
/assign Documentation

[2021-10-04 06:04] GenMech commented on #4363
/assign Documentation

[2021-10-04 06:05] rajmadhu0406 commented on #4368
Can you assign this issue to me?
Raj Madhu
batch - 6

[2021-10-04 06:05] DhruvBajaj01 opened #4376 "Data Science with Python : Regularization in Regression"
### Description

Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to Regularization in Regression along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentatio

[2021-10-04 06:06] nimisha-yadav commented on #4360
Assigning this issue to you @uzma024, all the best!

[2021-10-04 06:06] Varun270 commented on #4363
Name - Varun Shrivastava
Batch - DSA batch 2
@nimisha-yadav Please assign this issue to me

[2021-10-04 06:07] rajmadhu0406 commented on #4366
Can you assign this issue to me?
Raj Madhu
Batch - 6

[2021-10-04 06:07] prathimacode-hub commented on #4331
Don't create issues without informing. @SARANYA233

[2021-10-04 06:08] rajmadhu0406 commented on #4365
can you assign this issue to me?
Raj Madhu
Batch - 6

[2021-10-04 06:08] areenoverclouds opened #4378 "C/CPP: Runtime Errors in C++"
### Description

I would like to provide documentation on types of runtime errors in C++, their reasons, and the ways to fix them.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-o

[2021-10-04 06:09] PurviBhoyar21 commented on #4374
hello @prathimacode-hub
Please assign me this issue
I would love to work on it and is it under hacktoberfest?
thank you

[2021-10-04 06:09] areenoverclouds commented on #4378
/assign

[2021-10-04 06:10] 2024-SANDHYA commented on #4344
Ask mentors/supervisors of your domain. I am not the mentor for this domain, at least know whom to ask what.

[2021-10-04 06:11] nimisha-yadav commented on #4366
Assigning this issue to you @rajmadhu0406, all the best!

[2021-10-04 06:11] uzma024 commented on #4360
Thank You!

[2021-10-04 06:11] surjyaneeh commented on #4374
Name: Surjyanee Halder
Sl. No. :966
Type: Documentation
Approach : introduction, steps, uses, python code samples, conclusion

[2021-10-04 06:12] PurviBhoyar21 commented on #4376
Hello supervisors and mentors
I want to work on it

Thank you

[2021-10-04 06:13] Isha307 commented on #4122
@NikitaEmberi issue assigned to you, Try to create PR within 3 days.

[2021-10-04 06:14] vanshikapandey commented on #4358
Hey I wanted to take up this issue and work upon it. I will complete the issue in the format stated by you Kindly assign this issue to me.
Name : Vanshika Pandey
Batch no: 10

[2021-10-04 06:15] nimisha-yadav commented on #4363
Assigning this issue to you @Varun270, all the best!

@GenMech it was clearly mentioned to not use assign command, please see to it in future issues.

[2021-10-04 06:15] #842 closed

[2021-10-04 06:15] Isha307 commented on #4114
@tavneetgill you can work on this.

[2021-10-04 06:17] DhruvBajaj01 opened #4379 "Data Science with Python : Noise Removal for Image Processing"
### Description

Welcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to the Noise Removal model for digital image processing along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the cho