[2021-09-21 05:50] NiharikaDinesh commented on #1067
Please assign me to this issue

[2021-09-21 05:51] DhruvBajaj01 commented on #372
This file/issue will be mentored by me. @prathimacode-hub

[2021-09-21 05:52] DhruvBajaj01 commented on #370
The file will be reviewed and mentored by me . @prathimacode-hub

[2021-09-21 05:52] SourabhSaraswat-191939 commented on #540
Hey @a12baghel2, are there any updates regarding this issue?
If you are facing any problem while working then you can discuss it here or on Discord.

[2021-09-21 05:52] SourabhSaraswat-191939 commented on #621
Hey @Techno-Simpola, are there any updates regarding this issue?
If you are facing any problem while working then you can discuss it here or on Discord.

[2021-09-21 05:53] #1497 closed

[2021-09-21 05:54] mayankkuthar commented on #634
@Aryamanz29  If Anyone is not working on this Issue Kindly Assign this to me, I would love to work o this one. :octocat:

[2021-09-21 05:56] eshan1925 commented on #1499
/assign document

[2021-09-21 05:56] Baalamurgan commented on #1476
/assign

[2021-09-21 05:57] Baalamurgan commented on #1476
Can I contribute?? @Surbhi-sinha

[2021-09-21 05:58] Drontitan commented on #341
@praveenscience pls check my issue

[2021-09-21 05:58] mayankkuthar commented on #646
@Aryamanz29 If Anyone is not working on this issue, I would love to work on this one, Kindly Assign it to me, 😄

[2021-09-21 05:59] Ananyagupta43 commented on #1498
@mukeshmjn Sir I created this issue.Please check it and please remove the Frontend Dev HTML/CSS/JS tag.

[2021-09-21 06:02] msbuddhu commented on #1422
/assign

[2021-09-21 06:02] riyasr21 commented on #1468
\assign audio

[2021-09-21 06:05] Elisha-s commented on #1292
/assign

[2021-09-21 06:05] AkMo3 commented on #1468
@riyasr21 You have been assigned audio.

[2021-09-21 06:06] mukeshmjn commented on #1498
Removed the tag @Ananyagupta43 . @anandhu720 will check it

[2021-09-21 06:07] Pawanupadhyay10 commented on #1359
Assign/ this to me

[2021-09-21 06:08] Elisha-s commented on #1255
/assign

[2021-09-21 06:08] Ananyagupta43 commented on #1498
ok sir .

[2021-09-21 06:09] Elisha-s commented on #1231
/assign

[2021-09-21 06:10] Pawanupadhyay10 commented on #1419
hey pls assign this issue to me

[2021-09-21 06:10] Pawanupadhyay10 commented on #1421
Pls assign this to me

[2021-09-21 06:11] Pawanupadhyay10 commented on #1341
/assign

[2021-09-21 06:12] Pawanupadhyay10 commented on #1145
/assign

[2021-09-21 06:13] Pawanupadhyay10 commented on #1136
/assign

[2021-09-21 06:14] vishnu95075 commented on #1295
Ofcouse @priyankapiba  you do .

[2021-09-21 06:14] Elisha-s commented on #1010
Batch - 17 (frontend with HTML,CSS,JS&BOOTSTRAP)
Elisha Singh
Please assign this issue to me sir

[2021-09-21 06:16] ilakkiya-v commented on #1075
/assign

[2021-09-21 06:19] ilakkiya-v commented on #40
/assign

[2021-09-21 06:19] b33pl0g1c commented on #40
Hi @Anant1711 nobody is assigned to this task, Can I work on the documentation of this?

[2021-09-21 06:21] Abhay3008 commented on #634
I'll be making PR tonight, @mayankkuthar you can improve it afterwards.

[2021-09-21 06:23] shreya024 commented on #1159
/assign

[2021-09-21 06:23] sandeepkumar00110 commented on #1419
/assign

[2021-09-21 06:28] ilakkiya-v commented on #40
@Anant1711  hello! I've been assigned this task. I would like to take up the documentation for this!

[2021-09-21 06:28] ruhirani011 commented on #1048
@code-reaper08 sir ,@Alankrita9 is not my account ,Don't know why she wrote my name.

[2021-09-21 06:28] akarshan2602 commented on #1273
/assign

[2021-09-21 06:28] VAISHNAVI0715 opened #1507 "CSS Buttons"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [x ] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 06:28] akarshan2602 commented on #1270
/assign

[2021-09-21 06:29] VAISHNAVI0715 commented on #1507
/assign

[2021-09-21 06:29] priyankapiba commented on #1295
Please assign me this issue.

[2021-09-21 06:31] subhoshreep opened #1508 "C_CPP: Function overloading concepts c++"
<hr>

## Description 📜
This covers the overloading concept documentation with coding demonstrations of the concept.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 06:31] subhoshreep commented on #1508
/assign

[2021-09-21 06:32] mayankkuthar commented on #634
@Abhay3008 Ok Great 👍

[2021-09-21 06:35] Anant1711 commented on #40
Okay go for it!

[2021-09-21 06:38] Zuber8040 opened #1511 "DNS & Working of DNS?"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [x] Frontend Dev HTML/CSS/JS
- [ ] Frontend Dev React/Angular/Vue
- [ ] Golang
- [ ] Interview Prep
- [ ] Java_Doma

[2021-09-21 06:38] Zuber8040 commented on #1511
/assign

[2021-09-21 06:38] #1511 closed

[2021-09-21 06:39] Zuber8040 opened #1512 "DNS & Working of DNS?"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [x ] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 06:39] Zuber8040 commented on #1512
/assign

[2021-09-21 06:39] akarshan2602 commented on #1273
Uh well im new to open source so i don't know anything, Can anyone help me with the procedure to start and submition? Will be really grateful...

[2021-09-21 06:40] nickel-28 commented on #31
I would like to work on this issue. Please assign this to me @kunal-kumar-chaudhary

[2021-09-21 06:41] nickel-28 commented on #293
I would like to work on this issue. Please assign me this

[2021-09-21 06:41] a12baghel2 commented on #540
No  No, I will send PR by today.

[2021-09-21 06:41] cenacrharsh commented on #1512
/assign

[2021-09-21 06:43] Surbhi-sinha opened #1513 "JS browser object model(BOM)"
<hr>

## Description 📜

In this particular section, I would be making a document-based contribution to javascript browser object modeling and its basic functionality.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Pytho

[2021-09-21 06:44] Surbhi-sinha commented on #1513
In this particular section, I would be making a document-based contribution to javascript browser object modeling and its basic functionality. Please assign it to me.
/assign

[2021-09-21 06:44] Surbhi-sinha commented on #1513
/assign

[2021-09-21 06:45] medhatiwari commented on #1481
@Anant1711 Should I also explain different topologies?

[2021-09-21 06:55] Anant1711 commented on #1481
NO, you have to explain LAN with respect to cybersecurity, (BUS, RING topologies are not useful in this).
You have to explain What is LAN what area it will be covered, its advantages (for security purposes), its disadvantages/limitations for Security purposes!

[2021-09-21 06:55] Shubhrajyoti24 commented on #1138
/assign

[2021-09-21 06:56] medhatiwari commented on #1481
Got it!
Thank-you

[2021-09-21 07:00] SouravKr2001 commented on #1051
I am interested plz assign it to me

[2021-09-21 07:00] Shubhrajyoti24 commented on #1421
/assign

[2021-09-21 07:01] Suvraneel commented on #1513
@Surbhi-sinha remove non-domains 7 reopen

[2021-09-21 07:01] #1513 closed

[2021-09-21 07:06] Nandani-koli opened #1515 "Data Types in cpp"
<hr>

## Description 📜

Documentation detail of different data types of Cpp
1. Basic Data types
2. User-Defined Datatypes
3. Derived data types
4. Symbolic Constants

<hr>

## Domain of Contribution 📊

- [ ]  C/CPP

<hr>

[2021-09-21 07:07] Nandani-koli commented on #1515
/assign

[2021-09-21 07:09] pspiagicw commented on #1096
/assign

[2021-09-21 07:10] pspiagicw commented on #1087
/assign

[2021-09-21 07:12] Shubhrajyoti24 commented on #1136
/assign

[2021-09-21 07:14] prak895 commented on #1515
/assign

[2021-09-21 07:14] Shubhrajyoti24 commented on #1051
/assign

[2021-09-21 07:16] Himanshu664 commented on #202
@paramsiddharth sir why my PR is not merged yet

[2021-09-21 07:17] Karan-0206 opened #1516 "CSS Margin and Padding"
<hr>

## Description 📜

Documentation on Hoe to use margin and padding effectively in CSS.

<hr>

## Domain of Contribution 📊

- [ x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 07:17] Karan-0206 commented on #1516
/assign
documentation

[2021-09-21 07:18] ankurg132 commented on #557
This issue is now open for video contributions.

[2021-09-21 07:19] siddhi-244 opened #1517 "Open source : How to make a pr using git."
<hr>

## Description 📜

How to make a pr.
<hr>

## Domain of Contribution 📊

- [x] Open Source

<hr>

[2021-09-21 07:20] siddhi-244 commented on #1517
/assign

[2021-09-21 07:20] Tanya205 commented on #1244
Hi, I would like to contribute to this issue.
Tanya Malhotra
Batch - 6
Sr No. - 889

[2021-09-21 07:22] Tanya205 commented on #1160
Hi, I would like to contribute to this issue.
Tanya Malhotra
Batch - 6
Sr No. - 889

[2021-09-21 07:24] #1517 closed

[2021-09-21 07:24] #1167 closed

[2021-09-21 07:24] abhi-2024 commented on #1048
/assign
Documentation
Batch - 18

[2021-09-21 07:24] amitrakshar01 commented on #1160
/assign

[2021-09-21 07:25] abhi-2024 commented on #529
I have learnt HTML thoroughly and I believe I can give a good insight on this topic.

/assign

Documentation
Batch -18

[2021-09-21 07:27] Tanya205 commented on #1230
Hi, I would like to contribute to this issue.
Tanya Malhotra
ML Batch - 6
Sr No. - 889
https://github.com/Tanya205
Documentation

[2021-09-21 07:27] Tanya205 commented on #1067
Hi, I would like to contribute to this issue.
Tanya Malhotra
ML Batch - 6
Sr No. - 889
https://github.com/Tanya205
Documentation

[2021-09-21 07:28] tjanhvi commented on #1067
Please assign me this issue

[2021-09-21 07:31] prathimacode-hub commented on #1137
Ok great, I had created a issue, comment it using the same details to get it assigned. @m0hit-kumar

[2021-09-21 07:31] cookieg13 opened #1518 "Depth First Search (Graph)"
<hr>

## Description 📜

I will explain the basic concept behind DFS traversal of a graph with proper code and logic.

<hr>

## Domain of Contribution 📊

- [ X] C/CPP

<hr>

[2021-09-21 07:32] cookieg13 commented on #1518
/assign

[2021-09-21 07:32] prathimacode-hub opened #1519 "Data Science with Python : CatBoost Algorithm"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with CatBoost Algorithm. Tutorial to CatBoost Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you pre

[2021-09-21 07:32] ViAsmit commented on #1007
@supriya-045 please make a PR , and then ask your mentor to review it...if there is any fault he will let you know.

[2021-09-21 07:32] abhisheks008 commented on #599
**No problem, hope you'll be back with a bang!**

[2021-09-21 07:33] ViAsmit commented on #1007
@PranavMasekar if someone is already assigned, you can't be assigned that issue.. Also....we will add new issues by today..

[2021-09-21 07:35] prathimacode-hub opened #1521 "Data Science with Python : Naive Bayes Classification"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Naive Bayes Classification . Tutorial to Naive Bayes Classification  and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow

[2021-09-21 07:38] prathimacode-hub opened #1524 "Getting introduced to Activation Functions in Neural Networks"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Activation Functions in Neural Networks. Tutorial to Activation Functions in Neural Networks  and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the a

[2021-09-21 07:42] prathimacode-hub opened #1525 "Data Science with Python : IRIS Dataset Classification using Different Approaches"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with IRIS Dataset Classification. Tutorial to IRIS Dataset Classification and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow

[2021-09-21 07:42] abhi-2024 opened #1526 "Font awesome , custom bullets and custom fonts."
- Documentation

[2021-09-21 07:43] abhi-2024 commented on #1526
/assign

Please assign me this work. I know CSS3 and HTML very well and implemented almost all properties. So, I think I will do it very nicely.

[2021-09-21 07:44] ShubhamPatel01 commented on #445
Hello, this message is regarding timely update of issue assigned. I have completed making graphs to show in my video presentation and will be recording the video by end of the week.

[2021-09-21 07:45] prathimacode-hub opened #1527 "Data Science with Python : K means Clustering Algorithm"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with K means Clustering Algorithm. Tutorial to K means Clustering Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follo

[2021-09-21 07:45] Alankrita9 commented on #1277
# HTML Classes and Ids #1277
***
The only difference between Classes and Ids  is that “id” is unique in a page and can only apply to at most one element, while “class” selector can apply to multiple elements.
***

**CLASS SELECTORS**
--
A Class is a style definition that you create in pretty much the same way as you created a global style , but it isn't necessarily bound to any one tag . Instead ,

[2021-09-21 07:47] siddhi-244 commented on #199
/assign

[2021-09-21 07:48] anuragIsingh opened #1529 "Fundamental of OOP's"
<hr>

## Description 📜

Defining what exactly OOP's is  in C++ and enlisting the features of OOP's

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 07:48] prathimacode-hub opened #1530 "Data Science with Python : Recurrent Neural Networks"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Recurrent Neural Networks. Tutorial to Recurrent Neural Networks and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and

[2021-09-21 07:48] anuragIsingh commented on #1529
/assign

[2021-09-21 07:48] Anusha19011901 commented on #1527
/assign

[2021-09-21 07:49] anuragIsingh commented on #1529
/assign

[2021-09-21 07:49] SourabhSaraswat-191939 commented on #540
Great 👍🏻

[2021-09-21 07:51] m0hit-kumar commented on #1519
ds-with-python-batch4
Name: Mohit Kumar

Topic: CatBoost Algorithm
@paramsiddharth
Preference: Documentation

Github profile: https://github.com/m0hit-kumar

Approaches- What is CatBoost
Advantages of CatBoost library
CatBoost in comparison to other boosting algorithms,
Handling Categorical features
Solving various ML challenges using CatBoost
using an appropriate dataset

[2021-09-21 07:51] prathimacode-hub opened #1531 "Data Science with Python : Handwritten Equation solver using CNN"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Handwritten Equation solver using CNN. Tutorial to Handwritten Equation solver using CNN and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approa

[2021-09-21 07:51] #1159 closed

[2021-09-21 07:52] #1051 closed

[2021-09-21 07:52] adityaraj079 opened #1532 "C_CPP : Vectors in C++ Standard Template Library (STL)"
<hr>

## Description 📜

This documentation will explain vectors of STL in C++
<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [x] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev HTML/CSS/JS
- [ ] Frontend Dev React/Angular

[2021-09-21 07:52] prathimacode-hub commented on #730
Issue assigned to @mahmoudmohamed22 for documentation

[2021-09-21 07:52] m0hit-kumar commented on #1137
@paramsiddharth mam done pls assigned it to me now

[2021-09-21 07:53] AkMo3 opened #1533 "Java 3.6: Casting"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Casting**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Casting` folder which is inside the `Primitive Data Types` folder present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in

[2021-09-21 07:53] adityaraj079 commented on #1532
/assign

[2021-09-21 07:54] AkMo3 opened #1534 "Java 4.1: Single dimension arrays"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Single dimension arrays**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Single dimension arrays` folder which is inside the `Arrays` folder present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. A

[2021-09-21 07:54] AkMo3 opened #1536 "Java 4.2: Multidimension array"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Multidimension array**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Multidimension array` folder which is inside the `Arrays` folder present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio s

[2021-09-21 07:56] prathimacode-hub commented on #424
@BhaswatiRoy Audio / Video?

[2021-09-21 07:56] Manas1820 commented on #1530
I would like to contribute to this issue.
Manas Gupta
DS-WITH-PYTHON  - 15
Sr No. - 498
https://github.com/Manas1820
Documentation

[2021-09-21 07:56] alisha-a commented on #1534
/assign document

[2021-09-21 07:57] emily876 opened #1537 "Update roadmap for Frontend web development"
<hr>

## Description 📜

The readme file for frontend web dev in HTML, CSS, and js is not complete. So I want to include topics for
- JavaScript, HTML, and CSS Project
- Deploying Your App
<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 07:57] emily876 commented on #1537
/assign

[2021-09-21 07:58] AkMo3 commented on #1534
@alisha-a You have been assigned Documentation.

[2021-09-21 07:59] ketkikaushik commented on #1533
/assign documentation

[2021-09-21 07:59] Surbhi-sinha commented on #1476
@baalamurgan you can also contribute but I also want to contribute to the same.
/assign

[2021-09-21 08:01] cookieg13 opened #1538 "HTML Forms"
<hr>

## Description 📜

I will explaining in detail about HTML forms and the different attributes related to it.

<hr>

## Domain of Contribution 📊

- [X] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 08:01] cookieg13 commented on #1538
/assign

[2021-09-21 08:03] Kamya123 opened #1539 "No directory found for FrontEnd with HTML, CSS and JS"
<hr>

## Description 📜

There is not any particular folder found for FrontEnd with HTML, CSS and JS.

<hr>

## Domain of Contribution 📊

- [ ] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 08:07] Apoorv-17 commented on #348
Hello, I am Apoorv Yadav with serial number: 537. I would like to do documentation on this issue.

[2021-09-21 08:09] AkMo3 commented on #1537
@emily876 On which content are you willing to work?

[2021-09-21 08:11] AkMo3 commented on #1533
@ketkikaushik You have been assigned Documentation.

[2021-09-21 08:12] AkMo3 commented on #1537
My bad, mistakes have been corrected!. Go on with your work 👍

[2021-09-21 08:13] prathimacode-hub commented on #1137
This is my github username : prathimacode-hub. @m0hit-kumar

[2021-09-21 08:13] prathimacode-hub commented on #1530
Also say your approach to get it assigned? @Manas1820

[2021-09-21 08:14] GenMech commented on #1536
/assign

[2021-09-21 08:14] GenMech commented on #1536
/assign Document

[2021-09-21 08:15] Manas1820 commented on #1530
Work on documentation including a basic overview of Recurrent Neural Networks with their types and  a basic diagram of how it works and a basic example

[2021-09-21 08:15] prathimacode-hub commented on #1519
Issue assigned to @m0hit-kumar for documentation

[2021-09-21 08:15] vaibhavch11 opened #1542 "CSS Gradients"
<hr>

## Description 📜

I will explaining in detail about CSS Gradients which gives our website and app more beautiful layout.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 08:16] Apoorv-17 commented on #422
I would like to work on this.
Apoorv Yadav
Type: Documentation
Batch: 15
Issue: 422
Approach:
what is cross validation technique,
how it works,
how features impact the overall performance,
useful features and not important
Decide powerful preventive measures against overfitting and underfitting

[2021-09-21 08:16] Deepthi562 commented on #1444
/assign

[2021-09-21 08:16] vaibhavch11 commented on #1542
/assign

[2021-09-21 08:16] prathimacode-hub commented on #1530
Ok, issue assigned to @Manas1820 for documentation

[2021-09-21 08:16] vaibhavch11 commented on #1542
/assign

[2021-09-21 08:17] BhaswatiRoy commented on #424
Audio

[2021-09-21 08:18] aniket7515 commented on #1534
/assign document

[2021-09-21 08:18] vaibhavch11 commented on #1542
/assign

[2021-09-21 08:18] vaibhavch11 commented on #1542
/assign

[2021-09-21 08:20] vishvarana commented on #1531
Serial number - 495
Batch - 15
Choice : Documentation
Approach : Step by step explanation of the process from reading and understanding the data, why and which models to be used, optical character recognition of written equation to mathematical equation and then building the cnn model ,with examples, images and code

[2021-09-21 08:20] srini047 commented on #1525
I would like to work on this issue.
Name: Sriniketh J
Batch No: 17
Serial No: 613
Type: Documentation

[2021-09-21 08:20] vishvarana commented on #1531
/assign

[2021-09-21 08:21] srini047 commented on #1525
!assign

[2021-09-21 08:27] Sneha-0308 commented on #1534
/assign video

[2021-09-21 08:28] aniket7515 commented on #1538
/assign document

[2021-09-21 08:31] AkMo3 commented on #1536
@GenMech We cannot assign you this issue as you are already assigned in 4 issues. Please complete them first.

[2021-09-21 08:32] themonikanayak opened #1547 "DSA: Spiral Print of 2D Array"
<hr>

## Description 📜

Write documentation regarding the approach as well as code for a spiral print of a 2d array.
<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] Competitive Programming

- [x] DSA

- [x] Interview Prep

<hr>

[2021-09-21 08:32] themonikanayak commented on #1547
/assign

[2021-09-21 08:32] 0904-mansi opened #1548 "Javascript variables"
<hr>

## Description 📜

There is no tutorial for Javascript Variables.

<hr>

## Domain of Contribution 📊

- [x] JavaScript

<hr>

[2021-09-21 08:32] vaibhavch11 commented on #1227
/assign I pertain skills required for this task. hence, kindly assign.

[2021-09-21 08:32] AkMo3 commented on #1534
@Sneha-0308 You have assigned video content

[2021-09-21 08:33] lohith1392 commented on #1548
/assign

[2021-09-21 08:35] RupinVijan commented on #1277
/assign

[2021-09-21 08:35] vikky-10 commented on #1538
/assign

[2021-09-21 08:35] sheki018 commented on #1536
/assign Document

[2021-09-21 08:38] siddhi-244 commented on #632
@Aryamanz29 plz see to it. I have completed all my issues.

[2021-09-21 08:38] ayushi424 commented on #1527
Name: Ayushi Shrivastava
Batch: 19
Sno: 811
Approach to be followed:
Getting a  example dataset to implement this ML model.
- Data Preprocessing
- Data Visualization
- Data Training
- Data modelling
- Performance check by accuracy score.

[2021-09-21 08:38] uditkatyal commented on #446
@pjdurden  pls assign this issue to me
type : documentation
name : udit
DSA batch 3

[2021-09-21 08:39] ayushi424 commented on #1527
**/assign**

[2021-09-21 08:39] ELLIPSIS009 commented on #1524
I would like to work on this
Abhinav Mathur- 573
Type: Documentation
Approach: what is activation function in NN, example, types of activation functions, how it works, python implementation

[2021-09-21 08:40] aniket7515 commented on #1516
/assign document

[2021-09-21 08:40] amino19 opened #1551 "GoLang: 9.0.DOC Object-Oriented Programming"
<hr>

## Description 📜
**Object-Oriented Programming**
with some description about:
- Structs
- Composition
- Polymorphism

**Reference:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/object-oriented-programming-in-golang/)
- [Golang docs](https://golangdocs.com/object-oriented-programming-in-golang)

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a `R

[2021-09-21 08:40] harshit995 commented on #1538
/assign document

[2021-09-21 08:42] aniket7515 commented on #1414
/assign document

[2021-09-21 08:42] harshit995 commented on #232
/assign document

[2021-09-21 08:43] aniket7515 commented on #1379
/assign document

[2021-09-21 08:43] harshit995 commented on #1379
/assign document

[2021-09-21 08:44] harshit995 commented on #1507
/assign document

[2021-09-21 08:44] aniket7515 commented on #1507
/assign document

[2021-09-21 08:45] aniket7515 commented on #1445
/assign document

[2021-09-21 08:46] aniket7515 commented on #1402
/assign document

[2021-09-21 08:46] Isha307 opened #1554 "ML 1.11: Skewness (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Skewness**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're

[2021-09-21 08:47] harshit995 commented on #1516
/assign document

[2021-09-21 08:48] Isha307 opened #1555 "ML 1.11: Skewness (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Skewness**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're

[2021-09-21 08:49] Isha307 opened #1556 "ML 1.11: Skewness (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Skewness**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're

[2021-09-21 08:53] Isha307 opened #1557 "ML 1.12: Confusion Matrix (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Confusion Matrix**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options

[2021-09-21 08:53] deepthi1107 commented on #1554
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do documentation on this issue.

[2021-09-21 08:55] Isha307 opened #1558 "ML 1.12: Confusion Matrix (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Confusion Matrix**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options

[2021-09-21 08:56] prathimacode-hub commented on #392
Issue assigned to @Deepika-Pavundoss for video contribution.

@Subhrato20, documentation and video is already taken.

[2021-09-21 08:56] Isha307 opened #1560 "ML 1.12: Confusion Matrix (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Confusion Matrix**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options

[2021-09-21 08:57] adrishyantee commented on #1223
I would love to take up this issue. Please assign it to me.

[2021-09-21 08:58] vanshhhhh commented on #1557
/assign

[2021-09-21 08:58] Arjun2905 commented on #1533
/assign audio

[2021-09-21 08:58] Isha307 commented on #1554
Great, I am assigning it to you.

[2021-09-21 08:59] #219 closed

[2021-09-21 09:00] Arjun2905 commented on #1534
/assign audio

[2021-09-21 09:03] vanshhhhh commented on #1557
Vansh Sharma, Batch 3, [Github profile](https://github.com/vanshhhhh)

[2021-09-21 09:07] #1521 closed

[2021-09-21 09:08] ujju20 commented on #584
I want to work on the Documentation of this issue.
Please Assign me this issue.

[2021-09-21 09:10] vishnu95075 opened #1562 "C_CPP : Union in C"
<hr>

## Description 📜

code example of Union of C

<hr>

##C_C++ 📊

- [x] C/CPP

<hr>

[2021-09-21 09:10] ujju20 commented on #1239
/assign

[2021-09-21 09:10] vishnu95075 commented on #1562
/assign

[2021-09-21 09:10] ujju20 commented on #862
/assign

[2021-09-21 09:13] Baalamurgan commented on #1476
Cool. We both will work together.

[2021-09-21 09:15] RIYANSHGARG commented on #1445
I have made a pull request. kindly consider it.@moulikagrawal

[2021-09-21 09:15] Surbhi-sinha commented on #1476
sure
but it is not assigned yet to me.

[2021-09-21 09:18] 0199prabha commented on #1538
/assign

[2021-09-21 09:18] garvitraj commented on #1534
@Arjun2905 assigned audio

[2021-09-21 09:20] arsheelsheikh commented on #1547
/assign

[2021-09-21 09:21] ayushijindal commented on #1319
Approach: using the optimal dataset to explain linear regression
Id: 253
format: Documentation

[2021-09-21 09:23] likitarai1 commented on #1049
@EkjotKaur I have created the video. Can you please guide me on how to submit the video.

[2021-09-21 09:24] ravireddy07 commented on #1176
/assign

[2021-09-21 09:26] AkMo3 commented on #1534
@Arjun2905 You have been already assigned #1199, you cannot be assigned another issue.

[2021-09-21 09:27] Arjun2905 commented on #124
@Rohit-2602  please go through my pull request
https://github.com/girlscript/winter-of-contributing/pull/1246

[2021-09-21 09:29] 0199prabha commented on #1438
/assign

[2021-09-21 09:31] Baalamurgan commented on #1476
It is assigned to me.
Try giving /assign comment alone or ask a reviewer to assign you.

[2021-09-21 09:34] sriya26 commented on #1524
I would like to work on the documentation of this
Sriya Rallabandi-458
Approach: Introduction to various activation functions, mathematics behind it, Code required for the same.

[2021-09-21 09:35] sriya26 commented on #1524
/assign

[2021-09-21 09:36] prathimacode-hub opened #1567 "Data Science with Python : Linear Regression Algorithm"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Linear Regression Algorithm. Tutorial to Linear Regression Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow

[2021-09-21 09:36] ayushijindal commented on #1567
Approach: using the optimal dataset to explain linear regression
Id: 253
format: Documentation

[2021-09-21 09:39] prathimacode-hub commented on #1567
Issue assigned to @ayushijindal for documentation

[2021-09-21 09:39] ashish-reddy-20-08 commented on #1567
Hello, I am M. Ashish Reddy. I would like to do documentation on this issue. @prathimacode-hub
Batch number: 5
serial number:174.

I am done with my first issue @prathimacode-hub. So can you please assign this

[2021-09-21 09:40] prathimacode-hub commented on #1527
Issue assigned to @ayushi424 for documentation

[2021-09-21 09:40] ELLIPSIS009 commented on #1524
@sriya26 as per the guidelines, The issues will be assigned on a first come first serve basis, so technically i am working on the documentation you can work on either video or audio.

[2021-09-21 09:41] prathimacode-hub commented on #1525
Issue assigned to @srini047 for documentation. Also let me know of your approach you would follow.

[2021-09-21 09:41] ELLIPSIS009 commented on #1524
/assign

[2021-09-21 09:41] ashish-reddy-20-08 commented on #347
Hello @prathimacode-hub . I have created a pull request. Can you please look into that.

Link for the pull request: https://github.com/girlscript/winter-of-contributing/pull/1568

[2021-09-21 09:44] soumiksamanta007 commented on #386
Update @prathimacode-hub

I had internal exams until yesterday. I have started writing the documentation. I am a beginner in data science and as this topic is new for me, it is taking a bit of time. I am trying to complete as soon as possible.

[2021-09-21 09:45] prathimacode-hub commented on #1524
@ELLIPSIS009, Sorry to say but this issue is created on contributors request as per their mention in given thread and that too if it's responded in below 4 hours other person in queue is considered. So it would be her say first. But no worries you can take audio or video. FCFS basis comes only when issues are created on my own.

Issue is assigned to @sriya26 for documentation.

[2021-09-21 09:45] amino19 opened #1570 "GoLang: 9.1.DOC OOP - Structs"
<hr>

## Description 📜
**Structs**
Basic-Intermediate-Advanced information about `Structs` in Golang, also needs to create some examples.
Also, need to include `Why Structs Instead of Classes in Golang?`
This must be inside the `Object-Oriented Programming` folder.

**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/structures-in-golang/)
- [Go By Example](https://gobyexample.com/st

[2021-09-21 09:46] anandhu720 commented on #1498
Please dont create this issue right now.We are planning issues as per roadmap.

[2021-09-21 09:46] #1319 closed

[2021-09-21 09:46] #1498 closed

[2021-09-21 09:46] Saurav-Singh-Rauthan opened #1571 "CSS rem and em"
<hr>

## Description 📜

What is the difference between normal pixel values , rem and em

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 09:47] #1230 closed

[2021-09-21 09:47] Saurav-Singh-Rauthan commented on #1571
/assign

[2021-09-21 09:47] Saurav-Singh-Rauthan commented on #1571
/assign

[2021-09-21 09:47] ELLIPSIS009 commented on #1524
ohh well i didnt know that it was self assign so i waited for your approval

[2021-09-21 09:48] prathimacode-hub commented on #1126
If you're interested for video, let me know. Documentation is already been assigned. @shripaddhopate

[2021-09-21 09:49] amino19 opened #1572 "GoLang: 9.1.DOC OOP - Composition"
<hr>

## Description 📜
**Composition**
Basic-Intermediate-Advanced information about `Composition` in Golang, also needs to create some examples.
Also, need to include `Why Composition Instead of Inheritance?`
This must be inside the `Object-Oriented Programming` folder.

**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/inheritance-in-golang/)
- [Go Docs](https://golangdocs.com/in

[2021-09-21 09:49] prathimacode-hub commented on #1125
Issue is assigned to @Aaksha-sharma for audio contribution

[2021-09-21 09:51] prathimacode-hub commented on #1038
Yes, if you're interested, you can choose audio. @Praannjaal

[2021-09-21 09:54] prathimacode-hub commented on #767
@Sakshi21112003 is assigned for video contribution

@shripaddhopate, you can chose audio

[2021-09-21 09:54] amino19 opened #1573 "GoLang: 9.3.DOC OOP - Polymorphism"
<hr>

## Description 📜
**Polymorphism**
Basic-Intermediate-Advanced information about `Polymorphism` in Golang, also needs to create some examples.
This must be inside the `Object-Oriented Programming` folder.

**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/polymorphism-in-golang/)
- [Go By Example](https://golangdocs.com/polymorphism-in-golang)
- [golangbot](https://golangbot.c

[2021-09-21 09:55] prathimacode-hub commented on #735
Labels are tagged for issues that are been assigned to. @m0hit-kumar

[2021-09-21 09:56] prathimacode-hub commented on #732
Issue assigned to @BhaswatiRoy for audio contribution

[2021-09-21 09:57] prathimacode-hub commented on #731
@vanshika230 @rachita11 @IshaDagar @Subhrato20 @Praannjaal, you can chose audio / video

[2021-09-21 09:58] prathimacode-hub commented on #470
Issue assigned to @farhan-naqvi for video contribution

[2021-09-21 09:59] sarav18302 commented on #1532
/assign

[2021-09-21 09:59] ydasc815 opened #1576 "Android-Kotlin: 05.3 Android Content Provider"
<hr>

## Description 📜

- Prepare an exhaustive documentation about Content Providers in Android.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)

<hr>

## References
[Android Content Provider Basics - Official Docs](https://developer.android.com/guide/topics/providers/content-provider-basics)

<hr>

## Please Read it Carefully Before Contributing
* Changes should be

[2021-09-21 10:00] prathimacode-hub commented on #1530
Hey @Manas1820, Recurrent neural networks is already assigned earlier. Can you this topic to concurrent neural networks?

[2021-09-21 10:01] vishnu95075 commented on #1572
/assign

[2021-09-21 10:02] prathimacode-hub commented on #348
That's awesome but can you do it again? If you are upto, I shall assign you for video? @nakshatra-garg

[2021-09-21 10:02] prathimacode-hub commented on #350
If you would like to for video, let me know? @shripaddhopate

[2021-09-21 10:03] vishnu95075 commented on #691
/assign

[2021-09-21 10:04] prathimacode-hub commented on #367
Yes exactly. There are subfolders inside machine learning, choose the sub repo according to your issue title in it and follow the remaining process. @ishreyakumari

[2021-09-21 10:05] prathimacode-hub commented on #373
You can do update your progress here @GopinathBalaji

[2021-09-21 10:06] srini047 commented on #1525
Approach: Perform Data Analysis, Data Visualizations, Data Preprocessing, and Model Building using different Algorithms like DecisionTree, KNN, LogisticRegression. Also, visualize DecisionTree pictorially.

[2021-09-21 10:12] amino19 opened #1579 "GoLang: 10.0.DOC Defer and Error Handling"
<hr>

## Description 📜
**Defer and Error Handling**
with some description about:

- [Defer](https://www.geeksforgeeks.org/defer-keyword-in-golang/)
- [Error & Exception Handling](https://golangdocs.com/errors-exception-handling-in-golang)
- [Custom Errors](https://www.digitalocean.com/community/tutorials/creating-custom-errors-in-go)
- [Panic](https://www.geeksforgeeks.org/panic-in-golang/) and [R

[2021-09-21 10:12] amaan118921 commented on #1448
sir i would like to go with this one

[2021-09-21 10:16] 1anshu-56 commented on #1334
/assign

[2021-09-21 10:20] sushovanb02 opened #1581 "[Frontend_Web_Development_HTML_CSS_JS] Topic: Function and Scope"
# Functions and Scope
Functions and Scope in JavaScript
# Directory
```Frontend_Web_Development_HTML_CSS_JS/Web_Development/Javascript/1.Functions_And_Scope```
## Description 📜
- What is scope?
- What is the lifetime of JavaScript variables?
- Basic function syntax.
- What are parameters in functions?
- Types of functions.
- Why use functions?

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev

[2021-09-21 10:20] sushovanb02 commented on #1581
/assign

[2021-09-21 10:21] lohith1392 commented on #1581
/assign

[2021-09-21 10:23] sushovanb02 commented on #1581
@code-reaper08 @praveenscience  Please assign me this

[2021-09-21 10:23] amaan118921 commented on #1448
/assign

[2021-09-21 10:24] nakshatra-garg commented on #348
Yes, I can do it again. @prathimacode-hub

[2021-09-21 10:25] amaan118921 commented on #1448
/assign

[2021-09-21 10:39] Akhilkumar272002 commented on #552
@adityabisoi  #1552 Solved.

[2021-09-21 10:39] akarshlahariya11 commented on #1364
/assign

[2021-09-21 10:41] ishreyakumari opened #1582 "Housing price prediction using multiple Regression models"
<hr>

## Description 📜

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Housing Dataset using regression.  It will cover different regression models and at last accuracy score will be compared to find best suited model for the dataset.
- Introduction about dataset used
- Coding from scratch with explanation
- Comparing of results of multiple models

[2021-09-21 10:44] sarav18302 commented on #1384
\assign Can I work on this issue because I have been working on Number theory for Competitive programming

[2021-09-21 10:46] #1582 closed

[2021-09-21 10:50] Raghavshalu commented on #474
@nimisha-yadav can u please tell me we have to do program in it ya we have to do algo about prb & how much range queries we have to do?

[2021-09-21 10:54] vishnu95075 opened #1585 "Ternary operator in c code example"
<hr>

## Description 📜
write a programm find second max number in three number using Ternary operator

<hr>

##C_C++ 📊

- [x] C/CPP

<hr>

[2021-09-21 10:55] vishnu95075 commented on #1585
/ @priyankapiba

[2021-09-21 10:56] Ayushi2811 commented on #446
I was the one to ask first but its not assigned to me can I know why??

[2021-09-21 10:57] Ayushi2811 commented on #199
/assign

[2021-09-21 10:57] muskan612 commented on #1585
/assign

[2021-09-21 11:02] vishnu95075 opened #1589 "Preprocessor in c"
<hr>

## Description 📜
wright a example of Preprocessor in c

<hr>

##C_C++ 📊

- [x] C/CPP

<hr>

[2021-09-21 11:02] vishnu95075 commented on #1589
/assign

[2021-09-21 11:03] vishnu95075 commented on #1589
/assign

[2021-09-21 11:04] #1585 closed

[2021-09-21 11:06] mayankkuthar commented on #319
@Aryamanz29  would like to work on this Issue Please Assign me.

[2021-09-21 11:06] ShubhamGupta-29 opened #1590 "CSS Media Queries"
<hr>

## Description 📜
Discuss about Media Queries in CSS

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [x] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev HTML/CSS/JS
- [ ] Frontend Dev React/Angular/Vue
- [ ] Golang
-

[2021-09-21 11:07] ShubhamGupta-29 commented on #1590
/assign

[2021-09-21 11:12] #1590 closed

[2021-09-21 11:13] ShubhamGupta-29 opened #1592 "CSS Media Queries"
<hr>

## Description 📜

Discuss about CSS Media Queries

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev HTML/CSS/JS
- [ ] Frontend Dev React/Angular/Vue
- [ ] Golang
- [

[2021-09-21 11:15] rishitajain01 commented on #1532
/assign

[2021-09-21 11:18] rishitajain01 commented on #1467
\assign audio

[2021-09-21 11:21] AkMo3 commented on #1467
@rishitajain01 Audio content have been assigned to you

[2021-09-21 11:24] rishitajain01 commented on #250
\assign documentation & video

[2021-09-21 11:24] isaxena2002 commented on #1445
/assign

[2021-09-21 11:30] sarav18302 commented on #1515
/assign

[2021-09-21 11:37] freq31 opened #1597 "Topic:Search Engine Code"
<hr>

## Description 📜
Write the code for word search engine using tries

<hr>

## Domain of Contribution 📊
Competitve Programming

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [x] C/CPP
- [x] Competitive Programming
- [ ] Cyber Security
- [x] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev HTML/CSS/JS
- [ ] Fronten

[2021-09-21 11:37] #227 closed

[2021-09-21 11:39] freq31 commented on #1597
Title:Search Engine code,Topic:Tries, Contribution:Documentation ,Language:C++

[2021-09-21 11:43] gracyashhh commented on #245
@prathimacode-hub I have made the PR for audio contribution. Please do check.

[2021-09-21 11:44] Ananyagupta43 opened #1601 "FrontEnd:How CSS can be added to HTML?"
<hr>

## Description 📜

- What is CSS?
- What is Inline styling?
- How to apply Inline styling ?
- What is Internal CSS and How to apply it?
- What is external CSS and How to apply it?
-

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 11:44] Ananyagupta43 commented on #1601
/assign

[2021-09-21 11:50] khush2706 commented on #389
Hi,
Sorry for the late reply. Actually there was a death at my home and I was
occupied by that. Apparently I am running a bit late on my issue, therefore
I wanted to know if it would be alright if I submitted it a bit
late...maybe by 25th..?
I apologize for this hindrance.

On Mon, Sep 20, 2021, 12:33 PM Shivang Dubey ***@***.***>
wrote:

[2021-09-21 12:00] vansh16100 commented on #1223
/assign

[2021-09-21 12:04] shripaddhopate commented on #350
Yes I would like to contribute

[2021-09-21 12:05] silicolicious opened #1606 "Types of Pointers"
<hr>

## Description 📜

This documentation will contain the contents related to *Types of Pointers*

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

## Mode of Contribution

- [x] Documentation

[2021-09-21 12:06] silicolicious commented on #1606
/assign

[2021-09-21 12:06] silicolicious commented on #1606
/assign

[2021-09-21 12:14] Samhitha-Jasti commented on #1223
/assign

[2021-09-21 12:15] rajatsinghchauhan opened #1607 "Information related to Colors in css"
<hr>

## Description 📜
-CSS Background Color
-CSS Text Color
-CSS Border Color
CSS Color Values

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 12:16] PVenkatArvind commented on #1606
/assign documentation

[2021-09-21 12:16] rajatsinghchauhan commented on #1607
/assign

[2021-09-21 12:17] Samhitha-Jasti commented on #1223
@vansh16100 i want to work on this issue, i typed assign first.

[2021-09-21 12:17] samridhikapoor commented on #1560
I would like to contribute for this issue. I request you to assign me the same.
Thanks

Name: Samridhi Kapoor
Batch No.: 3
Github Profile link: https://github.com/samridhikapoor
Type of contribution I want to make: Video (as specified)

[2021-09-21 12:40] SathiyaEthi commented on #599
Hi abhisheks008 ,
I would like to contribute to this
Full name: Sathiya Govindaraj
Batch Number: 1
GitHub profile: https://github.com/Khushi-Agrawal-1
Type: Audio

[2021-09-21 12:42] 0199prabha commented on #1601
/assign

[2021-09-21 12:44] rwiteshbera opened #1611 "MERN_NodeJs 1.4 Environment Setup on Linux"
#  Environment Setup of NodeJs on Linux
<hr>

## Description 📜

Project Directory
[code]

[2021-09-21 12:44] Raghavshalu opened #1612 "priority queue"
<hr>

## Description 📜

- Explain about priority queue

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 12:48] supriya-045 commented on #1612
/assign

[2021-09-21 12:48] Raghavshalu commented on #1612
/assign

[2021-09-21 12:49] garvitraj opened #1613 "Java 5.1: Arithmetic Operators"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Arithmetic Operators**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Arithmetic Operators folder which is inside the `Operator` folder present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio

[2021-09-21 12:50] Raghavshalu commented on #1612
@supriya-045 u make your other issue it was made by me...soo please

[2021-09-21 12:50] rwiteshbera commented on #1611
/assign

[2021-09-21 12:52] garvitraj opened #1614 "Java 5.2: Bitwise Operators"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Bitwise Operators**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Bitwise Operators`  folder which is inside the `Operator`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio s

[2021-09-21 12:52] ArpitaGupta4086 commented on #1613
/assign document

[2021-09-21 12:53] tejaswini5801 commented on #1614
/assign Document

[2021-09-21 12:54] garvitraj opened #1615 "Java 5.3: Relational and Boolean Operators"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Relational and Boolean Operators**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Relational and Boolean Operators`  folder which is inside the `Operator`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/

[2021-09-21 12:54] Harsh-Chaudhary7 commented on #1615
/assign

[2021-09-21 12:55] garvitraj commented on #1615
what

[2021-09-21 13:00] PranaySanjule commented on #1548
/assign

[2021-09-21 13:00] Ruchika-20 commented on #348
I would love to work on this issue. My approach regarding this issue will be description of the issue which will include definition, real world applications , code and all other necessary explaination part.
Name : Ruchika Singh
Batch : 10
Type : Documentation
Serial No: 331

[2021-09-21 13:01] garvitraj commented on #1615
@pragmatic-philosopher09 go with document

[2021-09-21 13:01] kiruthikvishaal opened #1616 "HTML FORMS"
<hr>

## Description 📜

Add audio, documentation, and video regarding the <b>HTML Lists<b>.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 13:02] kiruthikvishaal commented on #1616
/assign

[2021-09-21 13:07] #994 closed

[2021-09-21 13:08] #1150 closed

[2021-09-21 13:09] prathimacode-hub commented on #338
Share your PR link. @nayakaj

[2021-09-21 13:11] PranaySanjule commented on #1047
/assign

[2021-09-21 13:13] prathimacode-hub commented on #338
@Rijudas149 @nayakaj @Yashesvinee, I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:14] PranaySanjule commented on #860
/assign

[2021-09-21 13:14] keshav12122000 commented on #1043
/assign

[2021-09-21 13:14] Dracarys0511 commented on #668
@Aryamanz29 sir is it fine for merging?

[2021-09-21 13:14] prathimacode-hub commented on #249
@darkhorse-2000 @vanshhhhh @anjalikumawat2002 , I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:16] prathimacode-hub commented on #245
@gracyashhh, @vandana3869, I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:16] prathimacode-hub commented on #223
@Adityanr, @vandana3869, I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:17] prathimacode-hub commented on #206
@Rijudas149, @Yukti-20, @LavleenAgrawal, I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:18] prathimacode-hub commented on #79
@archismansaha, @BhaswatiRoy , I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:19] Saviour1001 commented on #953
Closing the issue as the PR got merged , you can open new ones !!

[2021-09-21 13:19] #953 closed

[2021-09-21 13:20] prathimacode-hub commented on #78
@shaurya24sri, @shubhrastogi07, @tejas342, I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:20] aniketpathak028 opened #1621 "Frontend_Web_Development_HTML_CSS_JS: Developer Console"
# Developer Console

Create a tutorial on Developer Console

# Directory
[code]

# Description 📜
Creating a tutorial on Developer Console for Front_End_Web_Development_HTML_CSS_JS branch and discussing the following:
- What is Developer Console?
- Working with the Console in a Browser
- Chrome
- Firefox
- Other Browsers
- Understanding Other Development Tools

# Domain of Contribution 📊

- [x] Fro

[2021-09-21 13:20] aniketpathak028 commented on #1621
/assign

[2021-09-21 13:21] prathimacode-hub commented on #77
@subhoshreep, @I-ArchanaDash, @lohith1392, I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:21] BhaswatiRoy commented on #1558
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Machine Learning
Batch-6
Issue Number-1558
Contribution Approaches-about confusion matrix, how it helps in determining accuracy, about TP TN FP FN
/assign

[2021-09-21 13:23] aryan-mehta05 commented on #1013
@anandhu720 can I work on this, please?

[2021-09-21 13:23] prathimacode-hub commented on #48
@kunal-kumar-chaudhary, I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:23] aryan-mehta05 commented on #1013
\assign

[2021-09-21 13:24] prathimacode-hub commented on #47
@Purvibhoyar  I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:24] sonali-t commented on #1290
/assign

[2021-09-21 13:24] prathimacode-hub commented on #46
@samruddhikadam, @Pranav120602,  I am a mentor for this issue. If any queries, feel free to ask. If you had made a PR, Add up your PR links here.

[2021-09-21 13:28] ankushsingh24 opened #1623 "C_CPP : Structure in C++"
<hr>

## Description 📜

This documentation will explain Structure in C++

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 13:28] ankushsingh24 commented on #1623
/assign

[2021-09-21 13:28] PranaySanjule commented on #1068
/assign

[2021-09-21 13:29] BhaswatiRoy commented on #79
okay sure!

[2021-09-21 13:31] shaurya24sri commented on #78
@prathimacode-hub Kindly review my pr  https://github.com/girlscript/winter-of-contributing/pull/1363

[2021-09-21 13:32] #600 closed

[2021-09-21 13:32] #1136 closed

[2021-09-21 13:33] vishnu95075 opened #1624 "Use of Break/continue statement in C/CPP"
<hr>

## Description 📜
Wright a programm Use of Break/continue statement in C/CPP

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 13:33] vishnu95075 commented on #1624
/assign

[2021-09-21 13:34] Shubhrajyoti24 opened #1626 "C/CPP - Encapsulation Documentation"
<hr>

## Description 📜

Documentation for Introduction to OOPs - Data Encapsulation concept with examples.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 13:35] KhushiBhambri opened #1627 "Implementation of Trie"
<hr>

## Description 📜

Implementing Trie and its structure using C++.

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x ] Competitive Programming
- [x ] DSA

<hr>

[2021-09-21 13:37] Ananya-Patra9437 opened #1629 "c/cpp: Strings and its function"
<hr>

## Description 📜
The function of string in C++.

<hr>

## Domain of Contribution 📊

 C/CPP
Documentation

<hr>

[2021-09-21 13:37] ug2510 opened #1630 "Features of C++"
Domain
C/C++

Name the file: Features of C++ Part 1-converted.pdf

Type of Contribution
Documentation

Code of Conduct
I follow Contributing Guidelines & Code of conduct of this project.

[2021-09-21 13:38] atarax665 commented on #1224
@pranshukas Great, I will be leaving some constructive feedback on your PR.

[2021-09-21 13:38] sunidhii09 commented on #1530
yeah I'm working on it currently.

[2021-09-21 13:38] Ananya-Patra9437 commented on #1629
/assign

[2021-09-21 13:39] ug2510 commented on #1630
/assign

[2021-09-21 13:39] #1068 closed

[2021-09-21 13:39] #1562 closed

[2021-09-21 13:40] abhisheks008 commented on #1263
@BhaswatiRoy that's why we request you guys not to use self assign, it'll not help you out everytime. Nevertheless the issue is assigned to you. try to complete this issue within this friday. Happy contribution.

Type of contribution : **Audio**

[2021-09-21 13:40] achsahxavier opened #1631 "Insertion and Extraction Operators in C++"
<hr>

## Description 📜

In this we will get a brief idea about the insertion and extraction operators used in C++ and also get to know about cin and cout.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 13:40] KhushiBhambri commented on #216
/assign

[2021-09-21 13:41] achsahxavier commented on #1631
/assign
documentation

[2021-09-21 13:42] abhisheks008 commented on #1558
@BhaswatiRoy one issue at a time!

[2021-09-21 13:44] Palak-Srivastava commented on #1466
\assign Document

[2021-09-21 13:44] Ananya-Patra9437 commented on #499
/assign

[2021-09-21 13:44] afridihannan opened #1633 "C_CPP Cycle Sort"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev HTML/CSS/JS
- [ ] Frontend Dev React/Angular/Vue
- [ ] Golang
- [ ] Interview Prep
- [ ] Java_Doma

[2021-09-21 13:44] afridihannan commented on #1633
/assign

[2021-09-21 13:44] atarax665 commented on #1224
Issue title should be something like ```Competitive Programming: Edit Distance Problem in Dynamic Programming (Documentation)```

[2021-09-21 13:45] afridihannan commented on #1633
/assign

[2021-09-21 13:45] Ash515 opened #1634 "Introduction to SQL and Databases and RDBMS"
<hr>

## Description 📜

Write an Introduction of  SQL and Databases and RDBMS

<hr>

## Domain of Contribution 📊

- [ ] Database

<hr>

[2021-09-21 13:47] moulikagrawal commented on #1621
@aniketpathak028 assigned

[2021-09-21 13:47] a12baghel2 commented on #540
@anandhu720  I have completed the task. Kindly review my PR.

[2021-09-21 13:48] abhisheks008 commented on #599
Great @SathiyaEthi issue assigned. Try to complete this issue within this friday.  Happy contributions!

[2021-09-21 13:48] vishnu95075 commented on #1295
@priyankapiba  you assigne issue for me . i am also assign you good issue for you.

[2021-09-21 13:48] archismansaha commented on #79
@prathimacode-hub yes mam this is my Pr link

https://github.com/girlscript/winter-of-contributing/pull/1001#issuecomment-922603393

[2021-09-21 13:49] abhisheks008 commented on #610
@mohitmishra786 please update us on the issue you've taken.

[2021-09-21 13:51] Pranav120602 commented on #46
Hello @prathimacode-hub , I had submitted my PR a couple of days back. Pls, review it -
https://github.com/girlscript/winter-of-contributing/pull/1037

[2021-09-21 13:51] aswinikalyan30 commented on #1320
Can I work on this issue?

[2021-09-21 13:55] aniket-24 opened #1638 "Radix Sort in C++"
<hr>

## Description 📜

In this, we will get a brief idea about the The Radix Sort Algorithm

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 13:55] aniket-24 commented on #1638
/assign

[2021-09-21 13:56] vishnu95075 opened #1639 "All Data type in java"
<hr>

## Description 📜
wright program example  for all data type in java

<hr>

## Domain of Contribution 📊

- [x] Java_Domain

<hr>

[2021-09-21 13:57] sitamadex11 commented on #1388
when you are commenting first then don't worry wait for assigning yourself because supervisor will definitely assign you.

[2021-09-21 13:58] aniket-24 commented on #1638
/assign

[2021-09-21 13:58] Saviour1001 commented on #1382
Closing Issues as the PR is merged , you can open new issues !

[2021-09-21 13:58] #1382 closed

[2021-09-21 13:59] KishkinJ10 commented on #55
Can I work on the documentation part on how to configure AVD in android studio?? @VikasPandey121

[2021-09-21 14:00] vishnu95075 opened #1642 "History of java"
<hr>

## Description 📜

History of java

<hr>

## Domain of Contribution 📊

- [x] Java_Domain

<hr>

[2021-09-21 14:01] VandanaKumari18 opened #1643 "sorting(bubble & insertion) and complexity"
<hr>

##bubble sort and insertion sort in C/C++ and find it's complexity📜

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] DSA
- [x] documentation

<hr>

[2021-09-21 14:01] VandanaKumari18 commented on #1643
/assign

[2021-09-21 14:02] vishnu95075 commented on #1642
/assign

[2021-09-21 14:03] bakisama commented on #159
@pratishthaa Do I need to cover the installation on Android Studio too? It was done in another issue but is needed to emulate the android device to run the default source code

[2021-09-21 14:04] #1642 closed

[2021-09-21 14:09] KishkinJ10 opened #1644 "Java Spring Boot " Hello World " Program using Spring Initializer"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] Frontend Dev HTML/CSS/JS
- [ ] Interview Prep
- [ ] Java_Domain
- [ ] Open Source

<hr>

[2021-09-21 14:09] #1149 closed

[2021-09-21 14:12] BhaswatiRoy commented on #1263
Yah sorry .........also thanks will finish asap

[2021-09-21 14:13] KishkinJ10 commented on #1644
/assign

[2021-09-21 14:14] gliitch-pop opened #1646 "CPP: Introduction to function in C++"
<hr>

## Description 📜
I will contribute the documentation of implementation of function in C++

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 14:14] gliitch-pop commented on #1646
/assign

[2021-09-21 14:15] gliitch-pop commented on #1646
/assign

[2021-09-21 14:17] #1151 closed

[2021-09-21 14:18] krkaustubh commented on #1151
mera wala kyu liya re chetanwa

[2021-09-21 14:20] anandhu720 commented on #1013
already assigned bro

[2021-09-21 14:20] vatsal1704 commented on #1616
/assign

[2021-09-21 14:21] krkaustubh opened #1649 "CPP: Different Searching Techniques"
<hr>

## Description 📜

Here, I will provide documentation of different searching techniques.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 14:21] krkaustubh commented on #1649
/assign

[2021-09-21 14:22] ravireddy07 commented on #1226
try again @veerviren

[2021-09-21 14:22] RAMESSESII2 commented on #1548
/assign

[2021-09-21 14:23] mohitmishra786 commented on #610
I am working on it, I will make a PR on this after tomorrow as tomorrow I do have some other important work to do.

[2021-09-21 14:23] vatsal1704 commented on #1390
/assign

[2021-09-21 14:24] Sakshamgupta90 commented on #1607
/assign

[2021-09-21 14:24] Varun270 commented on #798
@Muskan-creator Hey I have created the documentation for this issue can you please rename this issue with the suggested naming convention so that it would be easy for me to name the commit message and PR.

[2021-09-21 14:25] GopinathBalaji commented on #373
I am done with the documentation. I just to submit it in a pull request. It's a little confusing😅

[2021-09-21 14:27] Varun270 commented on #798
<img width="389" alt="name_convention" src="https://user-images.githubusercontent.com/75975268/134189408-9b9b4551-151f-43a2-b843-db7efb952719.png">
As you can see all the doc files here follow the name convention and I don't know what should be the serial number of this issue.

[2021-09-21 14:29] akj1608 opened #1650 "HTML Lists"
<hr>

## Description 📜

I will create a well Formatted Documentation on HTML LISTS.

<hr>

## Domain of Contribution 📊

- [ ] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 14:29] miraj0507 opened #1651 "CPP : INTRODUCTION TO OOPs"
<hr>

## Description 📜

This is a complete introduction to OOPs in C++.
DOCUMENTATION

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 14:30] akj1608 commented on #1650
/assign

[2021-09-21 14:37] SHAIMA-HAQUE opened #1653 "Introduction to CSS"
<hr>

## Description 📜

- A brief history of CSS.
- What it is?
- The change that the use of CSS brings to a website.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 14:37] SHAIMA-HAQUE commented on #1653
/assign

[2021-09-21 14:37] SHAIMA-HAQUE commented on #1653
/assign

[2021-09-21 14:38] RaghavvGupta opened #1655 "Opensource_Documentation_Intel_OpenSourceCommunity"
<hr>

## Description 📜

I'll provide all the details about Intel Opensource community in documentation format.

<hr>

## Domain of Contribution 📊

- [x] Open Source

Documentaion

<hr>

[2021-09-21 14:39] RaghavvGupta commented on #1655
/assign

[2021-09-21 14:43] Surbhi-sinha commented on #1476
not me you have to prepare the PR because it is initially assigned to you.

[2021-09-21 14:43] Sejalm12 commented on #786
can i do this task in Documentation?

[2021-09-21 14:45] FirdausJawed commented on #395
I have made the pull request
it has not any conflicts
kindly /merge it

[2021-09-21 14:47] AnantDuhan commented on #1227
/assign please assign me this task

[2021-09-21 14:48] AnantDuhan commented on #880
/assign please assign me this task

[2021-09-21 14:49] ViAsmit commented on #159
@bakisama what you can do is refer to that link which contains installation in your video... Rather than repeating the same thing

[2021-09-21 14:52] bhumitbedse opened #1659 "Python | Basic Data-Structure (List)"
<hr>

## Description 📜

In this Document, I Explain what is the List in Python
Issue number : #1659

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev HTML/CSS/JS
- [ ] Fro

[2021-09-21 14:52] bhumitbedse commented on #1659
/assign

[2021-09-21 14:54] Ananyagupta43 commented on #1601
@moulikagrawal Sir I had a conversation with a mentor and she told me that one issue can be allotted to a single student only and priority will be given to that student who opened the issue.

[2021-09-21 14:55] Harshil-Jani commented on #632
/assign

[2021-09-21 14:56] Anant1711 commented on #788
`Documentation` is Done!
Is anyone willing to contribute Video?

[2021-09-21 14:57] Anant1711 commented on #786
@LegendSumeet took Both!

[2021-09-21 14:57] LegendSumeet commented on #788
OHK I CAN ?

[2021-09-21 14:59] Anant1711 commented on #291
@ShreyaTyagi0XD When are you going to submit your Video?

[2021-09-21 15:00] pilipi-puu-puu opened #1663 "HTML_Form"
<hr>

## Description 📜
This documentation will contain a form using HTML.📄
More specifically there will be :
- input
- label
- select
- textarea
- button>
- fieldset
- datalist
- output
- option

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 15:00] pilipi-puu-puu commented on #1663
/assign

[2021-09-21 15:00] Anant1711 commented on #171
@NIRBHAYKAUSHIK11 When you are going to submit your work?
Today is 5th day from assigning date!

[2021-09-21 15:01] #498 closed

[2021-09-21 15:03] Divyanshigarg commented on #1624
/assign

[2021-09-21 15:04] Saurabh-crypto16 opened #1665 "Frontend Web Development => Objects and Arrays"
<hr>

## Description 📜

Objects and Arrays in javascript.
What is an object? Syntax examples and properties
What is an array? Syntax examples and properties

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 15:04] Saurabh-crypto16 commented on #1665
/assign

[2021-09-21 15:04] prathimacode-hub commented on #78
Why have you closed your PR? @shaurya24sri

[2021-09-21 15:05] SB2318 commented on #1534
/assign audio

[2021-09-21 15:08] Divyanshigarg commented on #1659
/assign

[2021-09-21 15:09] Anant1711 commented on #788
I guess you didn't submit your previous task work also `Documentation` and `VIdeo` both!
first, submit this, only then I can assign you a new task!

[2021-09-21 15:12] #1633 closed

[2021-09-21 15:12] shaurya24sri commented on #78
https://github.com/girlscript/winter-of-contributing/pull/1658 PR link

[2021-09-21 15:13] shikhar13012001 commented on #1301
/assign

[2021-09-21 15:13] shikhar13012001 commented on #1301
Is this still open can I work on this ?

[2021-09-21 15:15] akshara20 commented on #1073
/assign

[2021-09-21 15:19] Divyanshigarg commented on #73
/assign

[2021-09-21 15:21] Divyanshigarg commented on #72
I am a Gwoc contributor from batch 16 which include front-end with JavaScript.Kindly provide me this domain for contribution.

[2021-09-21 15:23] AkMo3 commented on #1614
@tejaswini5801 Have been appointed for documentation.

[2021-09-21 15:24] Divyanshigarg commented on #246
sir I too wants to contribute in this issue. Please assign me if possible.

[2021-09-21 15:25] ankushsingh24 opened #1668 "Competitive Programming : Recursion"
<hr>

## Description 📜

This documentation will explain Recursion in C++ language

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-21 15:25] Divyanshigarg commented on #275
/assign

[2021-09-21 15:27] gaurav879 commented on #574
\assign
I would like to contribute.

[2021-09-21 15:27] Ravinayak07 commented on #298
Sir I have submitted the PR. please Check

[2021-09-21 15:29] aman34503 opened #1670 "Polymorphism in Cpp (oops)"
<hr>

## Description 📜
In this, we will get a brief idea about the oops concept of polymorphism in cpp.

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] Competitive Programming

<hr>

[2021-09-21 15:31] Anant1711 opened #1671 "Cybersecurity: 3 Computer Viruses?"
## Description
### What are Computer Viruses?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidel

[2021-09-21 15:32] Anant1711 opened #1672 "Cybersecurity: 3.1 Macro Virus"
## Description
### What are Macro Viruses?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guideline

[2021-09-21 15:33] Anant1711 opened #1673 "Cybersecurity: 3.2 Multipartite virus"
## Description
### What are the Multipartite Viruses?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contributio

[2021-09-21 15:34] 0199prabha commented on #1601
Okay, So i'll be able to contribute to this domain or not? i mean what
about the priority?

On Tue, 21 Sept 2021 at 20:24, Ananya Gupta ***@***.***>
wrote:

[2021-09-21 15:35] Anant1711 opened #1674 "Cybersecurity 3.3 Overwrite virus"
## Description
### What are Overwrite Viruses?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guide

[2021-09-21 15:35] #957 closed

[2021-09-21 15:36] Anant1711 opened #1675 "Cybersecurity 3.4 Browser Hijacker"
## Description
### What are Browser Hijacker?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidel

[2021-09-21 15:36] aman34503 commented on #73
i want to work on it, could yoou please assign it to me, this looks quite interesting for me

[2021-09-21 15:37] Anant1711 opened #1676 "Cybersecurity: 3.5 Polymorphic virus"
## Description
### What are Polymorphic Viruses?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Gui

[2021-09-21 15:37] vatsal1704 opened #1677 "Flex Properties"
<hr>

## Description 📜

 We will be going through different types of flex properties in detail.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS
- [x] Frontend Dev React/Angular/Vue

<hr>

[2021-09-21 15:38] moulikagrawal commented on #1601
you both can contribute, priority will be given on the content else you can divide subtopics among yourself

[2021-09-21 15:38] prathimacode-hub commented on #1659
Add the issue number here? @bhumitbedse

[2021-09-21 15:41] bhumitbedse commented on #1659
Where in title ?

On Tue, Sep 21, 2021, 9:09 PM Prathima Kadari ***@***.***>
wrote:

[2021-09-21 15:44] TammanaNiharika commented on #1670
/assign

[2021-09-21 15:44] bhumitbedse commented on #1659
Updated @prathimacode-hub

[2021-09-21 15:46] iamKushGupta commented on #1672
Documentation for now...

[2021-09-21 15:46] Ravinayak07 commented on #844
FrontEnd

[2021-09-21 15:47] #1677 closed

[2021-09-21 15:48] 0199prabha commented on #1601
so it will be better if we have divide it into subtopics @
ContributorAuthor
Ananyagupta43 <https://github.com/Ananyagupta43>

On Tue, 21 Sept 2021 at 21:08, Moulik Agrawal ***@***.***>
wrote:

[2021-09-21 15:49] Anna-cod commented on #76
@prathimacode-hub @amitrakshar01
![image](https://user-images.githubusercontent.com/66874392/134203615-f91e9d07-d835-4c50-944d-4bf17abbf323.png)

I am having this error while using "git push origin main" command. Kindly guide

[2021-09-21 15:49] Shreya241 commented on #1653
/assign

[2021-09-21 15:49] rohit-goyal commented on #579
Hello
My name is Rohit Goyal
I would like to work on the documentation part
Pls assign me this issue
i am from Python Batch-6

[2021-09-21 15:49] ekesel commented on #564
@adityabisoi Sir, I have generated a PR to this issue for documentation.
PR -  Python: OOP-class #564 #1680

[2021-09-21 15:51] Ravinayak07 commented on #844
@sifa123 can you please add the frontend labels to this issue

[2021-09-21 15:51] rohit-goyal commented on #564
Hello
My name is Rohit Goyal
I would like to work on the documentation part
Pls assign me this issue
i am from Python Batch-6

[2021-09-21 15:51] rohit-goyal commented on #578
Hello
My name is Rohit Goyal
I would like to work on the documentation part
Pls assign me this issue
i am from Python Batch-6

[2021-09-21 15:53] vatsal1704 opened #1682 "CSS Animations"
<hr>

## Description 📜

I will be documenting CSS Animations.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 15:53] vatsal1704 commented on #1682
/assign

[2021-09-21 15:54] rohit-goyal commented on #1659
Hello
My name is Rohit Goyal
I would like to work on the documentation part
Pls assign me this issue
i am from Python Batch-6
and DSA batch-2

[2021-09-21 15:54] #651 closed

[2021-09-21 15:55] rohit-goyal commented on #1638
Hello
My name is Rohit Goyal
I would like to work on the documentation part
Pls assign me this issue
i am from DSA batch-2

[2021-09-21 15:57] lohith1392 commented on #1682
/assign

[2021-09-21 15:57] #1201 closed

[2021-09-21 15:58] Anant1711 commented on #1676
Assigned!

[2021-09-21 15:58] Anant1711 commented on #1672
Assigned!

[2021-09-21 16:00] rohit-goyal commented on #927
Hello
My name is Rohit Goyal
I would like to contribution documentation part
i am from C/CPP Batch-2

[2021-09-21 16:01] ViAsmit opened #1685 "Flutter: Basic Views and Viewgroups"
<hr>

## Description 📜

Add a README File, which explains basic views and view groups,

Reference:
https://flutter.dev/docs
For structure of folder and files, view previous commits by other contrbutors

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

[2021-09-21 16:02] Harsh-Chaudhary7 commented on #1671
/assign documentation

[2021-09-21 16:02] Aryamanz29 commented on #668
Merged  🎉🎉

[2021-09-21 16:02] #668 closed

[2021-09-21 16:03] ViAsmit opened #1686 "Flutter: Dynamic Views (List View and GridView)"
<hr>

## Description 📜

Add a README File, which explains dynamic views - GridView and ListView.,

Reference:
https://flutter.dev/docs
For the structure of folders and files, view previous commits by other contributors

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

[2021-09-21 16:03] ViAsmit opened #1687 "Flutter: Dynamic Views"
<hr>

## Description 📜

Add a README File, which explains basic views and view groups,

Reference:
https://flutter.dev/docs
For the structure of folders and files, view previous commits by other contributors

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

[2021-09-21 16:05] #508 closed

[2021-09-21 16:05] ananddasani opened #1690 "Android-Java 3.4 : Android-Share-App-Data"
<hr>

## Description 📜

Documentation for Sharing the data between State and intent in the apps.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Java)
<hr>

[2021-09-21 16:05] ananddasani commented on #1690
Can I work on this issue ?

[2021-09-21 16:05] ViAsmit opened #1691 "Flutter: Animations"
<hr>

## Description 📜

Add a README File, which explains animations in a flutter,

Reference:
https://flutter.dev/docs
For the structure of folders and files, view previous commits by other contributors

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)
<hr>

[2021-09-21 16:07] pilipi-puu-puu commented on #1663
@Saviour1001 Can you please check this?

[2021-09-21 16:08] RK1905101 commented on #1691
can i contribute in this for documentation?

[2021-09-21 16:08] ViAsmit opened #1694 "Flutter: Shared Preference"
<hr>

## Description 📜

Add a README File, which explains what is shared preference

Reference:
https://flutter.dev/docs
For the structure of folder and files, view previous commits by other contributors

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)
<hr>

[2021-09-21 16:09] Suvraneel commented on #699
@Diksha-11 This one is already taken by the author ...

[2021-09-21 16:09] Aryamanz29 commented on #1655
We don't need this issue now, Thanks

[2021-09-21 16:09] #881 closed

[2021-09-21 16:11] Divyanshigarg commented on #1694
/assign

[2021-09-21 16:11] Ab2602 commented on #1390
@code-reaper08 I had created this issue and I want to work on this as documentation .

[2021-09-21 16:11] prithwishpramanik commented on #1675
/assign documentation

[2021-09-21 16:13] Pulkit007 opened #1695 "HTML - Different types of lists"
<hr>

## Description 📜

Describe the different types of lists and their use cases

<hr>

## Domain of Contribution 📊

- [ ] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 16:13] Pulkit007 commented on #1695
/assign

[2021-09-21 16:13] Divyanshigarg commented on #1690
/assign

[2021-09-21 16:14] Divyanshigarg commented on #1687
/assign

[2021-09-21 16:14] Divyanshigarg commented on #1685
/assign

[2021-09-21 16:15] Divyanshigarg commented on #1674
/assign

[2021-09-21 16:17] Anuj2403 commented on #476
/assign

[2021-09-21 16:18] Niranjan5601 commented on #1686
/assign

[2021-09-21 16:18] Anuj2403 commented on #180
/assign

[2021-09-21 16:18] #288 closed

[2021-09-21 16:19] #1687 closed

[2021-09-21 16:20] veerviren commented on #1226
/ assign Documentation

[2021-09-21 16:20] Aryamanz29 commented on #31
Guys for this issue we can have multiple contributors so I'm assigning everyone, Happy Learning 🎉🎉

[2021-09-21 16:21] veerviren commented on #1226
@ravireddy07 it still not assigning me

[2021-09-21 16:22] Tanushree-coder commented on #1393
I want to work on this issue in the documentation section.
Tanushree here ! (Batch-1, Android-Dev-Kotlin)
@sitamadex11

[2021-09-21 16:22] Aryamanz29 commented on #31
Just put  your `doc` inside `section-2` and make sure you all have a `different doc name`

[2021-09-21 16:22] jaigora24 commented on #1639
/assign

[2021-09-21 16:22] jaigora24 commented on #1615
/assign document

[2021-09-21 16:23] jaigora24 commented on #1536
/assign document

[2021-09-21 16:23] tejas342 commented on #78
@prathimacode-hub please review my pr #1385

[2021-09-21 16:23] jaigora24 commented on #1533
/assign document

[2021-09-21 16:24] jaigora24 commented on #1196
\assign document

[2021-09-21 16:24] jaigora24 commented on #1534
\assign document

[2021-09-21 16:24] Aryamanz29 commented on #319
@mayankkuthar  Assigning this to you , Since @Soumili1818  (Inactivity)

[2021-09-21 16:25] jaigora24 commented on #1613
\assign document

[2021-09-21 16:26] Aryamanz29 commented on #632
@siddhi-244  Happy Learning  🎉🎉

[2021-09-21 16:27] ravireddy07 commented on #1226
It takes 1-2 min to get assigned. Just `/assign` will work

[2021-09-21 16:27] Umesh-JNU opened #1697 "HTML Links and Images"
<hr>

## Description 📜
This section describes the HTML links and images.

<hr>

## Domain of Contribution 📊
- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 16:27] #638 closed

[2021-09-21 16:28] Aryamanz29 commented on #646
@FirdausJawed  Try to raise PR by today

[2021-09-21 16:29] Saviour1001 commented on #1024
Closing this issue as the PR got merged ! You can open new issues !

[2021-09-21 16:29] #1024 closed

[2021-09-21 16:29] AkMo3 commented on #1536
@jaigora24 You can clearly see that this issue had already been assigned for documentation content. Why are you spamming all issues to assign documentation to you when they already have been assigned?

[2021-09-21 16:31] Aryamanz29 commented on #648
@Sakshi-1101  Any updates ?? Already 3 days passed?

[2021-09-21 16:32] #650 closed

[2021-09-21 16:32] Aryamanz29 commented on #652
@ELLIPSIS009  Any updates ?? Already 3 days passed??

[2021-09-21 16:33] tavneetgill commented on #606
I want to contribute this issue.
Full name-Tavneet Kaur Gill
Batch Number-2
GitHub Profile Link-https://github.com/tavneetgill
Contribution Type-Audio
Issue number-606
Contribution approaches-detailed explanation with examples and sample codes, formulas, statistical data required etc.

[2021-09-21 16:33] Aryamanz29 commented on #662
@LegendSumeet  Any updates on this ??

[2021-09-21 16:33] Safwan310 commented on #1685
/assign

[2021-09-21 16:34] Umesh-JNU commented on #1697
/assign

[2021-09-21 16:34] LegendSumeet commented on #662
Yes just tomorrow last day to work on it @Aryamanz29

[2021-09-21 16:35] Ananyagupta43 commented on #1601
@Knighthawk-Leo sorry for tagging you sir but this the issue I was talking about .

[2021-09-21 16:35] abhisheks008 commented on #606
@tavneetgill this issue is already assigned :(

[2021-09-21 16:35] Aryamanz29 commented on #656
@harshi606  Any updates on this ?? Already 3 days passed

[2021-09-21 16:36] Aryamanz29 commented on #658
@KhafiaAyyub  Any updates on this ?? Already 3 days passed

[2021-09-21 16:36] Aryamanz29 commented on #664
@priyanshuc4423  Any updates on this ?? Already 3 days passed

[2021-09-21 16:36] ashish-reddy-20-08 commented on #1556
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make :Documentation

[2021-09-21 16:36] ELLIPSIS009 commented on #652
Yeah i am working on it, i need 2 days max

[2021-09-21 16:37] Safwan310 commented on #1694
/assign

[2021-09-21 16:37] Aryamanz29 commented on #687
@samik-rathore  Any updates on this ?? Already 3 days passed

[2021-09-21 16:38] Aryamanz29 commented on #677
@Harshkumar62367  Any updates on this ?? Already 3 days passed

[2021-09-21 16:38] Aryamanz29 commented on #676
@PrachiDoshi2170 Any updates on this ?? Already 2 days passed

[2021-09-21 16:39] prishit55 opened #1702 "Competitive Programming: Sieve of Eratosthenes"
<hr>

## Description 📜
C++ code and a documentation for "Sieve of Eratosthenes".

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-21 16:39] Aryamanz29 commented on #670
@AdityaStark7  Any updates on this ?? Already 3 days passed

[2021-09-21 16:41] itsKiranay opened #1704 "Python: *args & **kwargs"
<hr>

## Description 📜
This section describes how to work with *args and **kwargs in python.

<hr>

## Domain of Contribution 📊

- [x] Python_Domain

<hr>

[2021-09-21 16:41] bhavyawig opened #1705 "Sample Problems on Strings with solution in C++"
<hr>

## Description 📜

Adding sample problems from various coding platforms, and their solutions in C++ .

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] Competitive Programming
<hr>

[2021-09-21 16:41] itsKiranay commented on #1704
/assign

[2021-09-21 16:41] KhafiaAyyub commented on #658
@Aryamanz29 Yes, I am working will submit it today .

[2021-09-21 16:42] tavneetgill commented on #606
@abhisheks008 is there any available issue at this time on which I can work on of ML?

[2021-09-21 16:43] abhisheks008 commented on #606
Issues still not being assigned :

1. https://github.com/girlscript/winter-of-contributing/issues/612
2. https://github.com/girlscript/winter-of-contributing/issues/613
3. https://github.com/girlscript/winter-of-contributing/issues/1115
4. https://github.com/girlscript/winter-of-contributing/issues/1555
5. https://github.com/girlscript/winter-of-contributing/issues/1556
6. https://github.com/girls

[2021-09-21 16:44] Suvraneel opened #1707 "Update C_CPP readme with links"
<hr>

## Description 📜

Add links to all code/docs in directories under C_CPP in list format

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>
Documentation

[2021-09-21 16:45] Pragati1122 opened #1708 "C/CPP: Implementation of stack using queue"
<hr>

## Description 📜

I will explain code of push and pop function using queue. ###Documentation

<hr>

## Domain of Contribution 📊

- [ x ] C/CPP

<hr>

[2021-09-21 16:45] Pragati1122 commented on #1708
/assign

[2021-09-21 16:45] #862 closed

[2021-09-21 16:46] Utkarsh1504 opened #1709 "Frontend with Framework - 2.1 Components"
<hr>

## Description 📜
Components- Add Proper documentation on React  Components. It should contain Introduction to React Components, Types of react components, code examples based on them.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ]

[2021-09-21 16:48] Pragati1122 opened #1710 "C/CPP : Implementation of queue using stack"
<hr>

## Description 📜

I will explain enqueue and dequeue function using stack. ###Documentation

<hr>

## Domain of Contribution 📊

- [ x ] C/CPP

<hr>

[2021-09-21 16:48] Pragati1122 commented on #1710
/assign

[2021-09-21 16:48] sushovanb02 opened #1711 "[Frontend_Web_Development_HTML_CSS_JS] Topic: Code Structure"
# Code Structure
The code structure of JavaScript
# Directory
```Frontend_Web_Development_HTML_CSS_JS/Web_Development/Javascript/3.Code_Structure```
## Description 📜
- Functionality and Readability
- Whitespace
- Semicolons
- Indentation
- Identifiers

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

# Format
- [x] Documentation

[2021-09-21 16:49] Manas1820 commented on #1530
Ya, I will surely take this up.

[2021-09-21 16:50] bhavyawig commented on #1705
/assign

[2021-09-21 16:51] radha919 opened #1712 "DSA: Arrays-Find the common longest subsequence from the given two arrays."
<hr>

## Description 📜

Find the longest subsequence in the given two subsequence. We are given the two arrays and we have to find the maximum length of common  subsequence in the given arrays.
Example: 1st array= [1 , 2, 3 ,4 ,5]         2nd array =[1, 2, 3, 6, 7]

maximum length= 3 // as common subsequence is [1, 2, 3] and its length is 3

<hr>

## Domain of Contribution 📊

- [x] DSA

<hr>

[2021-09-21 16:51] ashty3899 commented on #971
/assign

[2021-09-21 16:52] radha919 commented on #1712
/assign

[2021-09-21 16:53] Sakshi-1101 commented on #648
Sorry for the delay sir...
I'll make the PR by tomorrow.

[2021-09-21 16:53] Utkarsh1504 opened #1713 "Frontend with Framworks - 2.3 Functional Components"
<hr>

## Description 📜
add proper documentation on Functional Components in React.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev HTML/CSS/JS
- [×] Frontend Dev React/A

[2021-09-21 16:54] Utkarsh1504 commented on #1713
/assign

[2021-09-21 16:55] mrkc2303 commented on #1392
I want to work on this issue in the documentation section.
Kanishk Chhabra here! (Batch-1, Android-Development-Kotlin)

[2021-09-21 16:55] GopinathBalaji commented on #373
Hello, I am Gopinath Balaji with serial number: 315. I would like to work on the Audio of this issue.
I'll be explaining what is clustering, its different types and an algorithm.
Please assign this issue to me.
@prathimacode-hub

[2021-09-21 16:55] code-rit commented on #1533
/assign documentation

[2021-09-21 16:56] mrkc2303 commented on #1499
I want to work on this issue in the video section.
Kanishk Chhabra here! (Batch-1, Android-Development-Kotlin)

[2021-09-21 16:56] mrkc2303 commented on #1499
/assign

[2021-09-21 16:57] mrkc2303 commented on #1392
/assign

[2021-09-21 16:59] jaigora24 commented on #1697
\assign document

[2021-09-21 17:00] #670 closed

[2021-09-21 17:02] mrkc2303 commented on #829
/assign

[2021-09-21 17:04] KhushiBhambri opened #1716 "Heap Data Structure Using Priority_queue in C++"
<hr>

## Description 📜

In this  documentation, we will discuss about the **Heap data structure.**
1.) Theory
2.)  properties of Heap
3.) Heap using STL - priority_queue
4.) Applications of Heap

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [ ] Competitive Programming
- [x] DSA

<hr>

[2021-09-21 17:05] KhushiBhambri commented on #1716
/assign

[2021-09-21 17:06] shrey-ya commented on #1310
@adityabisoi is this a valid issue?

[2021-09-21 17:18] Ruchika-20 commented on #599
I would like to contribute to this
Full name: Ruchika singh
Batch Number: 3
Type: Documentation

[2021-09-21 17:20] shivani1031 commented on #1707
/assign

[2021-09-21 17:21] Divyanshigarg commented on #1634
[SQL-Intro.docx](https://github.com/girlscript/winter-of-contributing/files/7205055/SQL-Intro.docx)

[2021-09-21 17:22] Kashika02 commented on #1716
Please assign it to me.
Kashika Parmar
Dsa batch 1

[2021-09-21 17:22] divya-ganesh commented on #1244
I would like to contribute to this issue
Divya Ganesh
DSWP batch-2
Documentation

[2021-09-21 17:23] Divyanshigarg commented on #1634
Sir can u check once and review my work. I don't know where and how to add. If I added at wrong place than please guide me.

[2021-09-21 17:24] PrachiDoshi2170 commented on #676
Hey I have almost completed both the works I will upload for PR by tomorrow
evening.

On Tue, 21 Sep, 2021, 10:08 pm Aryaman, ***@***.***> wrote:

[2021-09-21 17:25] divya-ganesh commented on #1067
I would like to contribute to this issue
Divya Ganesh
DSWP batch-2
Documentation

[2021-09-21 17:28] priyall commented on #666
assign me to this @Aryamanz29

[2021-09-21 17:28] Randrita commented on #574
@kalyanirb12 @gaurav879 check properly documentation is already assigned! Choose another part eg. audio/video!

[2021-09-21 17:29] #658 closed

[2021-09-21 17:29] bhumitbedse commented on #1659
@adityabisoi kindly add one mentor in this issue because this is issue created by my own so no mentor is tagged

[2021-09-21 17:30] Techno-Simpola commented on #621
I will be submitting the documents by tomorrow !!
Sorry for the delay

[2021-09-21 17:30] Randrita commented on #579
@rohit-goyal already assigned for docs! choose audio!

[2021-09-21 17:31] Aryamanz29 commented on #666
Assigned , Happy docs 🎉

[2021-09-21 17:32] Randrita commented on #578
@rohit-goyal already assigned for docs! choose another part!

[2021-09-21 17:32] #180 closed

[2021-09-21 17:34] Randrita commented on #971
@ashty3899 do you want to work on audio? as video and documentation is already assigned

[2021-09-21 17:38] iamKushGupta commented on #1673
Can this issue be assigned to me ?

[2021-09-21 17:40] dhruvdy opened #1724 "Insert, Update, Delete a record in database by PHP using MYSQLI extention."
<hr>

## Description 📜

In this documentation, we will discuss about how one can connect to a database and insert, update, delete any record in database using MYSQLI extention.

<hr>

## Domain of Contribution 📊

- [ ] Backend Dev (Java, .NET, Python)
- [x] Backend Dev with PHP
- [x] Database

<hr>

[2021-09-21 17:40] rohit1kumar commented on #529
/assign

[2021-09-21 17:41] dhruvdy commented on #1724
/assign

[2021-09-21 17:42] rohit1kumar commented on #529
/assign

[2021-09-21 17:42] vasu-1 opened #1726 "PHP contribution front page get started"
<hr>

## Description 📜

I am creating issue for index of php backend development and adding folders to it for starting contribution.

<hr>

## Domain of Contribution 📊

- [x] Backend Dev (Java, .NET, Python, PHP)

<hr>

[2021-09-21 17:43] pilipi-puu-puu commented on #1663
@Saviour1001 I'm so sorry, actually I forgot.

[2021-09-21 17:44] vasu-1 commented on #1726
/assign

[2021-09-21 17:47] abhishek213-alb opened #1727 "HTML Text Formatting"
<hr>

## Description 📜

I am creating issue for types of text formatting in HTML

<hr>

## Domain of Contribution 📊

- [ ] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 17:47] abhishek213-alb commented on #1727
/assign

[2021-09-21 17:47] Suvraneel opened #1728 "Sample titlre"
<hr>

## Description 📜

Sample desc

<hr>

## Domain of Contribution 📊

- [ ] C/CPP

<hr>

documentation

[2021-09-21 17:48] SourabhSaraswat-191939 commented on #621
ok @Techno-Simpola

[2021-09-21 17:48] Suvraneel commented on #1728
/assign

[2021-09-21 17:48] iamKushGupta commented on #1673
The documentation part... for now..

[2021-09-21 17:49] amelia2802 opened #1729 "Middle Element of an Array"
<hr>

## Description 📜
A C program where user can find the middle elements of a "n" size array.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 17:50] amelia2802 commented on #1729
/assign

[2021-09-21 17:51] RaunakGN2001 opened #1731 "Frontend: Grid vs Flex"
<hr>

## Description 📜

I will explain everything related to the topic "GRID vs FLEX"

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [x] Frontend Dev HTML/CSS/JS
- [ ] Frontend Dev Reac

[2021-09-21 17:51] eshan1925 commented on #1499
@anantcodes I have created a PR you can merge if everything is good to go.
ThankYou

[2021-09-21 17:51] RaunakGN2001 commented on #1731
/assign

[2021-09-21 17:52] 124015001 opened #1732 "C_CPP: Multilevel Inheritance"
<hr>

## Description 📜

documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 17:52] 124015001 commented on #1732
/assign

[2021-09-21 17:54] vishalsinghhh commented on #721
I would like to work on this.
@paramsiddharth please assign this to me.

[2021-09-21 17:58] tjanhvi commented on #1445
/assign

[2021-09-21 17:59] 4khadija commented on #671
I'm sorry I just need a little more time, I am working on it.

[2021-09-21 18:05] eshan1925 commented on #1694
/assign

[2021-09-21 18:07] #556 closed

[2021-09-21 18:07] sakkshm26 commented on #1348
Shall I add the workflow section in the readme?

[2021-09-21 18:17] Adityanr commented on #223
hi, PR for documentation was already merged. Anything else to add there? @prathimacode-hub

[2021-09-21 18:18] tjanhvi opened #1740 "Documentation for HTML vedio , audio and multimedia support"
<hr>

## Description 📜

Documentation for the html media section like the vedio , audio and multimedia support

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 18:19] BasuDevTyagi10 commented on #1659
/assign
Name: Basudev Tyagi
Batch: Python Batch-3
Type: Documentation

[2021-09-21 18:19] tjanhvi commented on #1740
/assign

[2021-09-21 18:19] jaissumi1402 commented on #909
@nimisha-yadav ma'am can I work on this issue?
Sumi Jaiswal
DSA BATCH 04

[2021-09-21 18:20] tjanhvi commented on #1740
Please assign me this issue.
Contributor = Janhvi Tiwari
Frontend Dev HTML/CSS/JS - batch 2

[2021-09-21 18:22] Saviour1001 commented on #1050
Closing this issue as #1738 got merged !

[2021-09-21 18:22] #1050 closed

[2021-09-21 18:23] shrutigrover25 opened #1743 "Sort 0's 1's and 2's in an array."
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [] Android Dev (Flutter, Java, Kotlin)
- [] Backend Dev (Java, .NET, Python)
- [x] C/CPP
- [] Competitive Programming
- [] Cyber Security
- [] DSA
- [] Database
- [] Datascience with Python
- [] Datascience with R
- [] Frontend Dev HTML/CSS/JS
- [] Frontend Dev React/Angular/Vue
- [] Golang
- [] Interview Prep
- [] Java_Domain
- [] JavaS

[2021-09-21 18:25] sr-sweta opened #1744 "DS (Linked-List)- Reverse Nodes in k- Group"
<hr>

## Description 📜

Data Structure linked-list problem reverse nodes in k-group.

Please assign it to me. I was late and my issue was assigned to some other contributor.

/assign
<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] DSA

<hr>

[2021-09-21 18:27] sr-sweta commented on #1743
/assign

[2021-09-21 18:27] shrutigrover25 commented on #1743
I want to contribute in the above issue. Please **/assign** me this issue as a part of GWOC.

[2021-09-21 18:27] Rajan2531 commented on #313
/assign

[2021-09-21 18:29] BasuDevTyagi10 commented on #1567
I would like to work on this issue. @prathimacode-hub
Name: Basudev Tyagi
Batch: Data Science with Python Batch-13
Type: Documentation

[2021-09-21 18:29] sr-sweta commented on #1743
This is little crazy rule @shrutigrover25 ;)
My issues also got assigned to some other guy. To get assigned one should be super fast :(

[2021-09-21 18:31] shrutigrover25 opened #1748 "Bubble Sort in C++"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [] Android Dev (Flutter, Java, Kotlin)
- [] Backend Dev (Java, .NET, Python)
- [x] C/CPP
- [] Competitive Programming
- [] Cyber Security
- [] DSA
- [] Database
- [] Datascience with Python
- [] Datascience with R
- [] Frontend Dev HTML/CSS/JS
- [] Frontend Dev React/Angular/Vue
- [] Golang
- [] Interview Prep
- [] Java_Domain
- [] JavaS

[2021-09-21 18:31] shrutigrover25 commented on #1748
/assign

[2021-09-21 18:34] Rajan2531 opened #1749 "DSA (Recursion)"
<hr>

## Description 📜

How recursion works.
Different types of recursions.
Few examples to show the flow of recursion.
<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [ ] Competitive Programming
- [x] DSA

- [ ] Interview Prep
- [ ] Java_Domain
- [ ] JavaScript

<hr>

[2021-09-21 18:34] Rajan2531 commented on #1749
/assign

[2021-09-21 18:36] uditkatyal opened #1750 "C_Cpp Break or Continue"
<hr>

## Description 📜

1. What is break and continue statement
2. Difference
3. Use of both statements in code

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 18:36] uditkatyal commented on #1750
/assign

[2021-09-21 18:37] uditkatyal commented on #1750
/assign

[2021-09-21 18:38] #980 closed

[2021-09-21 18:38] VaibhavMalik4187 opened #1751 "Competitive Programming : Wines Problem Dynamic Programming (Documentation + Code)"
<hr>

## Description 📜

Wines Problem Using Dyanmic Programming Code + Documentation
<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-21 18:38] VaibhavMalik4187 commented on #1751
/assign

[2021-09-21 18:39] code-rit opened #1752 "Quick sort implementation and analysis"
<hr>

## Description 📜

 This is the implementation of quick sort algorithm and its time and space complexity analysis

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ x] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev H

[2021-09-21 18:39] code-rit commented on #1752
/assign documentation

[2021-09-21 18:40] Narotam-singh opened #1753 "String and their functions"
<hr>

## Description 📜

Hey , i want to create a documentation on strings and their functions in C

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 18:41] Narotam-singh commented on #1753
/assign

[2021-09-21 18:42] Suvraneel commented on #1750
#1181  duplicate

[2021-09-21 18:42] #1750 closed

[2021-09-21 18:44] BasuDevTyagi10 commented on #1557
I would like to work on this issue.
Name: Basudev Tyagi
Batch: ML Batch-6
Type: Documentation

[2021-09-21 18:47] Akriti-Choudhary opened #1754 "Operator Overloading in C++"
<hr>

## Description 📜

I would like to create documentation on Operator Overloading in Cpp

<hr>

## Domain of Contribution 📊

- [ x] C/CPP

<hr>

[2021-09-21 18:47] Sarfraz-droid commented on #1359
/assign

[2021-09-21 18:48] Akriti-Choudhary commented on #1754
/assign

[2021-09-21 18:49] Sarfraz-droid commented on #1331
/assign

[2021-09-21 18:52] Sarfraz-droid commented on #91
@Debasmita-01 please check out my PR

[2021-09-21 18:54] pspiagicw commented on #1129
PR raised

[2021-09-21 18:54] #660 closed

[2021-09-21 18:58] Aryamanz29 commented on #1129
@pspiagicw Awesome work 🎉🎉

[2021-09-21 18:58] #1129 closed

[2021-09-21 19:05] Sakalya100 commented on #1388
yes I understood @sitamadex11

[2021-09-21 19:10] heet-kumar opened #1757 "FRONTEND WITH FRAMEWORK: REACT 2.4 => Import, Export, Modules"
Contributors are required to prepare documentation to include information about the Import, Export, modules and anything related to the Import, Export, Module.

Also make sure -
- Avoid copy/paste, We will be checking.
- **Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.**
- Task will be assigned on first co

[2021-09-21 19:14] pranjalambesh opened #1758 "C/CPP: Sort functions in C++ SLT"
<hr>

## Description 📜
 The documentation will explain about the sorting functions in C++ in detail

<hr>

## Domain of Contribution 📊

- [ ] C/CPP

<hr>

[2021-09-21 19:15] Akriti-Choudhary opened #1759 "Constructors and Destructors in c++"
### Description

Description
A brief explanation about different types of Constructors and features of Destructor.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-09-21 19:16] Akriti-Choudhary commented on #1759
/assign

[2021-09-21 19:16] YASHMAROO commented on #1757
/assign

[2021-09-21 19:16] pranjalambesh commented on #1758
I made this issue can you please assign it to me
/assign

[2021-09-21 19:21] harsh6768-svg commented on #1359
But why am I unassigned I m working on it

[2021-09-21 19:26] Anadee11 opened #1762 "The CSS Box Model"
### Description

Documentation of :
- What is a CSS Box Model?
- How does it work?
- More about CSS Box Model and it's utility.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-09-21 19:26] Anadee11 commented on #1762
/assign

[2021-09-21 19:29] guptapriya-83900 commented on #590
@geeythree, @abhisheks008
I have created PR.

[2021-09-21 19:30] a-rcane opened #1764 "C_CPP : Red Black Trees in C"
### Description

Red Black Trees in C

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-21 19:30] a-rcane commented on #1764
/assign

[2021-09-21 19:40] Nay907 commented on #1125
Hello , I'm Nayanika Mishra
batch: 9
I would like to work on this issue.

[2021-09-21 19:40] Praannjaal commented on #1567
Name: Pranjal Mittal
Batch: 19
type: Documentation
I would love to work on this issue

[2021-09-21 19:42] Nay907 commented on #1067
Hey! I am Nayanika Mishra
Batch- 9
I would like to contribute to this issue.

[2021-09-21 19:43] Praannjaal commented on #1557
/assign
Name: Pranjal Mittal
Batch: 6
Type: Documentation

[2021-09-21 19:47] heet-kumar opened #1766 "FRONTEND WITH FRAMEWORK: REACT 2.5 => React Props vs State"
Contributors are required to include information about the -
- What is Props?
- What is State?
- Where and how we use React Props and State?
- React Props vs State.
- and also add anything related to that React props and State.

Also make sure -
- Avoid copy/paste, We will be checking.
- **Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Develop

[2021-09-21 19:52] Akshita-Sharma-25 commented on #1762
/assign

[2021-09-21 19:59] Akshita-Sharma-25 commented on #1650
/assign

[2021-09-21 20:13] #124 closed

[2021-09-21 20:27] Sakshi-1101 commented on #648
Sir I am new to open source.
I am not able to see the pull request option?
Please help..

[2021-09-21 20:51] nimisha-yadav commented on #403
@kamleshjoshi8102, any updates?

[2021-09-21 20:51] harshapriyaa opened #1775 "Semantic HTML"
### Description

I am creating issue for semantic html.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-09-21 20:51] nimisha-yadav commented on #409
@Ayushi2811, any updates?

[2021-09-21 20:52] harshapriyaa commented on #1775
/assign

[2021-09-21 20:53] nimisha-yadav commented on #485
@RBiswa787, any updates?

[2021-09-21 20:58] nimisha-yadav commented on #474
Did you get your query answered?

[2021-09-21 21:11] ritika168 opened #1776 "Set in C++ Standard Template Library (STL) [Documentation]"
### Description

In this, I will be contributing via documentation on the topic Set in C++ Standard Template Library. I will be providing codes as well as proper explanation. I am very excited to begin my open source journey!

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributin

[2021-09-21 21:11] ritika168 commented on #1776
/assign

[2021-09-21 21:12] ritika168 commented on #1776
/assign

[2021-09-21 21:21] #1776 closed

[2021-09-21 21:25] ritika168 opened #1778 "SET in C++ using Standard Template Library (STL) [Documentation]"
### Description

All information related to SET in C++ via documentation and with proper explanation along with codes.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributi

[2021-09-21 21:25] ritika168 commented on #1778
/assign

[2021-09-21 21:52] priyashajain commented on #1322
/assign

[2021-09-21 21:53] priyashajain commented on #1322
/assign

[2021-09-21 21:56] nimisha-yadav opened #1779 "DSA 1.2.4.1 NP-Complete Problem - Video"
## Description
What do you understand by NP-Completeness? Discuss in detail, what are NP, P, NP-complete and NP-Hard problems?

## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see tha

[2021-09-21 21:56] nimisha-yadav opened #1780 "DSA 1.2.4.1 NP-Complete Problem - Audio"
## Description
What do you understand by NP-Completeness? Discuss in detail, what are NP, P, NP-complete and NP-Hard problems?

## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not use assign

[2021-09-21 21:57] nimisha-yadav opened #1781 "DSA 1.2.4.1 NP-Complete Problem - Documentation"
## Description
What do you understand by NP-Completeness? Discuss in detail, what is NP, P, NP-complete and NP-Hard problems?

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not use

[2021-09-21 21:58] priyashajain opened #1782 "Recursion with Tower of Hanoi"
### Description

I will create the documentation on the topic Recursion with Tower of Hanoi, where I will explain the concept of recursion with suitable examples, following which I will illustrate the famous Tower of Hanoi problem, and solve it using recursion.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.

[2021-09-21 21:58] priyashajain commented on #1782
/assign

[2021-09-21 21:59] priyashajain commented on #1782
/assign

[2021-09-21 21:59] nimisha-yadav opened #1783 "DSA 1.2.5.1 Approximation Algorithms - Documentation"
## Description
What are approximation algorithms? State their types and properties in detail.

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not use assign command for this issue.

[2021-09-21 21:59] nimisha-yadav opened #1784 "DSA 1.2.5.1 Approximation Algorithms - Audio"
## Description
What are approximation algorithms? State their types and properties in detail.

## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not use assign command for this issue. Follow t

[2021-09-21 21:59] nimisha-yadav opened #1785 "DSA 1.2.5.1 Approximation Algorithms - Video"
## Description
What are approximation algorithms? State their types and properties in detail.

## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not use assign command for this issue. Follow t

[2021-09-21 22:00] nimisha-yadav opened #1787 "DSA 1.2.5.2 Approximation Algorithms Example Problems - Documentation"
## Description
Briefly explain the examples of approximation algorithms.
Vertex cover problem, Travelling salesman problem, Set covering problem.

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#iss

[2021-09-21 22:01] nimisha-yadav opened #1788 "DSA 1.2.5.2 Approximation Algorithms Example Problems - Video"
## Description
Briefly explain the examples of approximation algorithms.
Vertex cover problem, Travelling salesman problem, Set covering problem.

## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
-

[2021-09-21 22:01] nimisha-yadav opened #1789 "DSA 1.2.5.2 Approximation Algorithms Example Problems - Audio"
## Description
Briefly explain the examples of approximation algorithms.
Vertex cover problem, Travelling salesman problem, Set covering problem.

## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
-

[2021-09-21 22:03] priyashajain opened #1790 "HTML Div Tag"
### Description

I will create the documentation on the topic HTML Div Tag, where I will explain in detail the concept and use of div in HTML with suitable examples.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [C

[2021-09-21 22:04] priyashajain commented on #1790
/assign

[2021-09-21 22:04] priyashajain commented on #1790
/assign

[2021-09-21 22:17] prernakumari031 opened #1791 "html_list"
### Description

Describe the different types of lists and their uses

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-09-21 22:29] arsheelsheikh commented on #1787
/assign

[2021-09-21 22:30] arsheelsheikh commented on #1783
/assign

[2021-09-21 22:37] arsheelsheikh commented on #1781
Name- Arsheel Sheikh
Batch- 4
Kindly assign me this issue!

[2021-09-21 23:11] anmolx001 commented on #1758
/assign

[2021-09-21 23:18] anmolx001 commented on #1791
/assign

[2021-09-21 23:22] khushi123456789 commented on #1711
/assign

[2021-09-22 00:05] ShrutiVerma28 commented on #1762
/assign

[2021-09-22 00:05] ShrutiVerma28 commented on #1766
/assign

[2021-09-22 00:08] ShrutiVerma28 commented on #1716
/assign

[2021-09-22 00:10] ShrutiVerma28 commented on #1711
/assign

[2021-09-22 00:22] ShrutiVerma28 opened #1793 "HTML_forms"
### Description

Describe HTML forms, input element and its attributes.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-09-22 00:23] ShrutiVerma28 commented on #1793
/assign

[2021-09-22 00:23] anmolx001 commented on #1793
/assign

[2021-09-22 00:42] arsheelsheikh commented on #1787
I have completed previous issues sorry for inconvenience

[2021-09-22 00:43] arsheelsheikh commented on #1783
I have completed previous issues sorry for the inconvenience

[2021-09-22 00:44] arsheelsheikh commented on #1783
Name- Arsheel Sheikh
DSA Batch- 4

[2021-09-22 00:52] nakshatra-garg commented on #1558
Batch - 1
I want to contribute to the documentation part of this issue.
Approach:
I'll Explain the confusion matrix by taking an appropriate classification example.

[2021-09-22 00:53] nakshatra-garg commented on #1558
Batch - 1
I want to contribute to the documentation part of this issue. @abhisheks008
Approach:
I'll Explain the confusion matrix by taking an appropriate classification example.

[2021-09-22 01:28] a-rcane commented on #1764
@Suvraneel thank you.

[2021-09-22 01:32] Kashika02 commented on #1716
Thankyou Shruti Verma !!

On Wed, Sep 22, 2021, 05:38 ShrutiVerma28 ***@***.***> wrote:

[2021-09-22 02:00] msramesh2k1 commented on #1008
@ViAsmit , Done this issue
@thisisamank can you please validate

[2021-09-22 02:12] kamleshjoshi8102 commented on #403
Please review I have added 2 functions for PrefixSum and Range-product

[2021-09-22 02:20] jainbhupesh533 commented on #606
@tavneetgill  Hey i am working and will merge this issue today

[2021-09-22 02:28] nayakaj commented on #338
https://github.com/girlscript/winter-of-contributing/pull/553
plz check if any issues pl let me know
i added a video

[2021-09-22 02:30] BHANUJATIN opened #1799 "CSS_Selectors"
### Description

In this issue I will define different types of selectors used in CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-09-22 02:32] BHANUJATIN commented on #1799
/assign

[2021-09-22 02:33] Harsh-Chaudhary7 commented on #1781
Harsh Chaudhary
DSA Batch-1
Kindly assign the issue to me.

[2021-09-22 02:41] ishrutik opened #1800 "Queue Implementation"
### Description

Queue implementation using array and linked list

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-09-22 02:42] ishrutik opened #1801 "Queue Implementation"
### Description

Queue implementation using array and linked list

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-09-22 02:43] ishrutik commented on #1801
/assign

[2021-09-22 02:44] Harsh-Chaudhary7 commented on #1788
I want to work on this Kindly assign to me.
Harsh Chaudhary
DSA Batch-1

[2021-09-22 02:46] #1800 closed

[2021-09-22 02:48] chhavi30m commented on #1316
Hey, I want to work on this issue. Can you assign this to me @Debasmita-01 ?
Thank you.

[2021-09-22 02:48] adityabisoi commented on #1659
Please check for existing issues first. This topic has already been covered.

[2021-09-22 02:48] #1659 closed

[2021-09-22 02:49] adityabisoi commented on #1704
@queenish001 Is the mentor for this issue.

[2021-09-22 02:49] tavneetgill commented on #1558
I want to contribute this issue.
Full name-Tavneet Kaur Gill
Batch Number-2
GitHub Profile Link-https://github.com/tavneetgill
Contribution Type-Audio
Issue number-1558
Contribution approaches-basic definition, detailed explanation with examples and sample codes, formulas, where is is used
/assign

[2021-09-22 02:58] anmolx001 opened #1802 "HTML Links and Images"
### Description

Describe HTML links and images elements along with its attributes.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-09-22 02:58] anmolx001 commented on #1802
/assign

[2021-09-22 02:59] ShrutiVerma28 commented on #1802
/assign

[2021-09-22 03:07] rahulsain opened #1803 "Checking new template"
### Description

testing new issue

### Domain

Android Dev (Kotlin)

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 03:08] #1803 closed

[2021-09-22 03:09] Aryan-Mohanty commented on #1787
can i work on this issue ?

[2021-09-22 03:10] Samhitha-Jasti commented on #471
@jiviteshjain Sir i made a pull request of mp3 file on Normalization and Standardization, can you please review it

[2021-09-22 03:11] Aryan-Mohanty commented on #1783
can i work on this issue ?
Aryan Mohanty
DSA batch -6

[2021-09-22 03:11] CSAURABH commented on #1766
/assign

[2021-09-22 03:27] Anant1711 commented on #1673
okay
assigned!

[2021-09-22 03:27] AkMo3 opened #1806 "Java 5.4: Assignment and ternary Operator"
### Description

Add audio, documentation, and video regarding the **Assignment and Ternary Operator**.

____

### Location of File to be added

The files should be added inside the `Assignment and Ternary Opearator`  folder which is inside the `Operator`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` forma

[2021-09-22 03:27] AkMo3 opened #1807 "Java 6.1: If-else blocks"
### Description

Add audio, documentation, and video regarding the **If - else blocks**.

____

### Location of File to be added

The files should be added inside the `If - else blocks`  folder which is inside the `Control Statements`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted

[2021-09-22 03:27] AkMo3 opened #1808 "Java 6.2: Switch Blocks"
### Description

DescriptionAdd audio, documentation, and video regarding the **Switch Blocks**.

____

### Location of File to be added

The files should be added inside the `Switch Blocks`  folder which is inside the `Control Statements`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be subm

[2021-09-22 03:29] ShikhaSwati60 commented on #1808
/assign document

[2021-09-22 03:30] ShikhaSwati60 commented on #1808
\assign document

[2021-09-22 03:31] #1728 closed

[2021-09-22 03:32] shaurya24sri commented on #1629
assign/documentation

[2021-09-22 03:34] RahulJaiswal-18 commented on #1807
\assign Documentation

[2021-09-22 03:34] astharaj300 commented on #1807
\assign Documentation

[2021-09-22 03:35] shaurya24sri commented on #1629
/assign documentation

[2021-09-22 03:36] astharaj300 commented on #1806
\assign documentation

[2021-09-22 03:37] Suvraneel commented on #1707
@shivani1031 What you need to do is :
You need to update the readmes in different folders for all documentation present inside that folder.
eg,

If there is a file called Djikshtra's Algorithm in a certain folder called Algorithmic Approaches/Greedy Approach
Then  Algorithmic Approaches/Greedy Approach/readme.md should have a line for that

I'm looking forward to this one :octocat:

[2021-09-22 03:41] shreya40 commented on #1807
\assign document

[2021-09-22 03:41] astharaj300 commented on #1807
/assign documentation

[2021-09-22 03:41] pragatikesarwani38 commented on #1807
I would like to contribute to this via documentation @AkMo3

[2021-09-22 03:42] shreya40 commented on #1806
/assign document

[2021-09-22 03:44] #1778 closed

[2021-09-22 03:48] rishitajain01 commented on #1630
\assign documentation & audio

[2021-09-22 03:50] Rishita11 commented on #1560
I would like to contribute to this issue. Please assign me.

Name: Rishita Srivastava
Batch No: 1
Github profile link: https://github.com/Rishita11
Type of contribution: Documentation

[2021-09-22 03:54] subhradwip01 commented on #1808
Please assign me for Audio

[2021-09-22 03:55] Subhradeep10 commented on #494
@pjdurden @HassanRahim26 @geeky01adarsh Assigned to you

[2021-09-22 03:56] adityakrm2 commented on #293
I would also like to work on this, thank you.

[2021-09-22 03:56] AkritiAgarwal09 commented on #1244
Hi I would like to contribute to this issue
Akriti Agarwal
ML batch -6
Serial No : 974
Documentation

[2021-09-22 03:58] AkritiAgarwal09 commented on #1244
Hi I would like to contribute to this issue
Akriti Agarwal
DSWP batch -15
Serial No : 505
Documentation

[2021-09-22 03:59] lohith1392 commented on #1793
/assign

[2021-09-22 03:59] supriya-045 opened #1811 "Flutter : Layout Widgets (Single Child Widgets)"
### Description

Documentation to write about layout widgets with brief description.
Part1:Single Child Widgets

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-c

[2021-09-22 03:59] supriya-045 commented on #1811
/assign

[2021-09-22 03:59] sakshi168 commented on #1532
/assign

[2021-09-22 04:00] supriya-045 commented on #1811
/assign

[2021-09-22 04:00] AkritiAgarwal09 commented on #1067
Hi I would like to contribute to this issue
Please assign me this issue

Akriti Agarwal
DSWP batch -15
Serial No : 505

[2021-09-22 04:00] sakshi168 commented on #1758
/assign

[2021-09-22 04:01] lohith1392 commented on #77
@prathimacode-hub I already completed documentation and it is already merged

[2021-09-22 04:02] sakshi168 commented on #1128
/assign
want to contribute in video format

[2021-09-22 04:06] AkritiAgarwal09 commented on #316
Hi I would like to contribute to this issue
Akriti Agarwal
CP batch -5
Serial No : 819

I can work with this issue

[2021-09-22 04:07] KartikChinda opened #1812 "[Create New Issue]: Macros in C"
### Description

I would like to add documentation for the various Macros in C.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-09-22 04:07] KartikChinda commented on #1812
/assign

[2021-09-22 04:07] KartikChinda commented on #1812
@Suvraneel sir please assign me this issue. I would love to work on this!

[2021-09-22 04:08] manishkumar-hub commented on #529
\assign document

[2021-09-22 04:09] Isha307 commented on #1558
@Nay907 you can work on this issue.

[2021-09-22 04:10] AkritiAgarwal09 commented on #1290
/assign

[2021-09-22 04:11] AkritiAgarwal09 commented on #1782
/assign

[2021-09-22 04:12] AkritiAgarwal09 commented on #1716
/assign

[2021-09-22 04:12] AkritiAgarwal09 commented on #1708
/assign

[2021-09-22 04:12] mayankkuthar commented on #31
@Aryamanz29 It would be better if every contributor put their repo and project link in a single doc like in #401 or you can define a name convention of doc name for every contributor to follow.
<b>Example:</b> ```2.4.1_<Contributor's Name>'s_Opensource_project.md```

[2021-09-22 04:12] AkritiAgarwal09 commented on #1244
/assign

[2021-09-22 04:13] AkritiAgarwal09 commented on #1160
/assign

[2021-09-22 04:13] Isha307 commented on #1557
@BasuDevTyagi10 @Praannjaal This issue is already assigned :)

[2021-09-22 04:14] tavneetgill commented on #612
I want to contribute this issue.
Full name-Tavneet Kaur Gill
Batch Number-2
GitHub Profile Link-https://github.com/tavneetgill
Contribution Type-Audio
Issue number-612
Contribution approaches-basic definition, detailed explanation with examples and sample codes, formulas, where it is used

[2021-09-22 04:14] AkMo3 commented on #1806
@shreya40 You already have been assigned an issue. Please merge PR for that first

[2021-09-22 04:15] AkritiAgarwal09 commented on #1067
/assign

[2021-09-22 04:16] KhushiBhambri commented on #1716
Hey  @Kashika02 @AkritiAgarwal09 @ShrutiVerma28   -> The issue has been assigned for documentation to the author of the issue, you can contribute to the audio or video files for the same.
Thankyou !

[2021-09-22 04:17] AkMo3 commented on #1806
@astharaj300 You have been assigned documentation for this issue

[2021-09-22 04:18] AkritiAgarwal09 commented on #1195
/assign

[2021-09-22 04:19] AkritiAgarwal09 commented on #978
/assign

[2021-09-22 04:19] AkMo3 commented on #1808
@ShikhaSwati60 You have been assigned documentation and @subhradwip01 You have been assigned audio

[2021-09-22 04:19] AkritiAgarwal09 commented on #316
/assign

[2021-09-22 04:20] mrkc2303 opened #1813 "CSS Grid"
### Description

In this PR I will briefly explain CSS Grid and its properties

Kanishk Chhabra
Front-End Web Development using HTML, CSS and JS - Batch 3

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of cond

[2021-09-22 04:20] mrkc2303 commented on #1813
/aasign

[2021-09-22 04:20] AkMo3 commented on #1807
@pragatikesarwani38 Documentation content has already been assigned. Only audio and video is available.

[2021-09-22 04:21] AkMo3 commented on #1807
@RahulJaiswal-18 You have been assigned documentation for this issue.

[2021-09-22 04:21] AkritiAgarwal09 commented on #113
/assign

[2021-09-22 04:21] mrkc2303 commented on #1813
/assign

[2021-09-22 04:22] AkritiAgarwal09 commented on #1787
/assign

[2021-09-22 04:24] #590 closed

[2021-09-22 04:29] anmolx001 commented on #1782
/assign

[2021-09-22 04:29] divyanshuss commented on #1103
@Aryamanz29 Thank you.

[2021-09-22 04:30] anmolx001 commented on #1748
/assign

[2021-09-22 04:30] anmolx001 commented on #1710
/assign

[2021-09-22 04:31] anmolx001 commented on #1705
/assign

[2021-09-22 04:36] NamanManjkhola commented on #1806
\assign video

[2021-09-22 04:38] #1131 closed

[2021-09-22 04:40] pranjalambesh commented on #1758
/assign

[2021-09-22 04:42] anirudh09041 opened #1817 "[Virtual Function in CPP]:"
### Description

Description of virtual function in CPP with a code example.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) o

[2021-09-22 04:42] anirudh09041 commented on #1817
/assign

[2021-09-22 04:42] ii-varsha-ii commented on #1532
/assign

[2021-09-22 04:43] pranjalambesh commented on #1651
/assign

[2021-09-22 04:44] ii-varsha-ii commented on #1341
/assign

[2021-09-22 04:45] Shruti-Subu commented on #1789
Can u assign me this?
Name :  Shruti Subu
Batch : DSA BATCH 1

[2021-09-22 04:45] Shruti-Subu commented on #1780
Can u assign me this?
Name : Shruti Subu
Batch : DSA BATCH 1

[2021-09-22 04:54] prathimacode-hub commented on #348
Issue assigned to @nakshatra-garg for video contribution

[2021-09-22 04:55] prathimacode-hub commented on #373
Issue assigned to @GopinathBalaji for audio contribution

[2021-09-22 04:57] ashish-reddy-20-08 commented on #1556
Hello, I am M. Ashish Reddy, I would like to work on this issue. @Isha307 @abhisheks008
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make : Documentation

[2021-09-22 04:57] Ayushi2811 commented on #1787
/assign

[2021-09-22 04:58] Rijudas149 commented on #1817
/assign

[2021-09-22 04:58] Ayushi2811 commented on #1781
/assign

[2021-09-22 04:58] Ayushi2811 commented on #1788
/assign

[2021-09-22 05:00] Ayushi2811 commented on #1788
I dont have 3 opened issues.I only have one issue assigned previously so plz dont change and re assign it to me.U can chk my profile it has only one opened issue

[2021-09-22 05:01] soumyaagr427 commented on #1789
/assign

[2021-09-22 05:01] Ayushi2811 commented on #1781
thanku for assigning it to me .Will do my best!

[2021-09-22 05:02] Knighthawk-Leo commented on #1601
Okay Now I see the issue No worry you both can work and divide the subtopics and next time please specify your batch no. in the issue @Ananyagupta43

[2021-09-22 05:02] Ayushi2811 commented on #409
yes mam i am working on it.Will complete it in a day or two.

[2021-09-22 05:05] NIRBHAYKAUSHIK11 commented on #171
@Anant1711 due to some highly unavoidable reasons I was unable to submit my work. I have completed the task. Can you please guide me how to submit it?

[2021-09-22 05:05] prathimacode-hub opened #1819 "Data Science with Python : Step Wise Regression"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Step Wise Regression. Tutorial to Step Wise Regression and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Doc

[2021-09-22 05:07] Shruti-Subu commented on #1789
@soumyaagr427 we can't use the assign command for this issue.
Its mentioned in the above description.

[2021-09-22 05:07] prathimacode-hub opened #1822 "Data Science with Python : ID3 Classification Algorithm"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about ID3 Classification Algorithm. Tutorial to ID3 Classification Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice

[2021-09-22 05:09] abhisheks008 commented on #1556
@ashish-reddy-20-08 This is a video contribution!

[2021-09-22 05:09] Ananyagupta43 commented on #1601
Ok sir

[2021-09-22 05:10] ashish-reddy-20-08 commented on #1556
sorry sir it was my typing error. Yes sir I am ready for video contribution @abhisheks008.
Can u please assign me this work.

[2021-09-22 05:10] prathimacode-hub opened #1823 "Data Science with Python : Multivariate Adaptive Regression Splines"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Multivariate Adaptive Regression Splines. Tutorial to Multivariate Adaptive Regression Splines and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one

[2021-09-22 05:11] Satyam175 opened #1824 "[Create New Issue]: Basic Concepts of Java"
### Description

<h1>Java Basic Concepts</h1>

<ul>
<li>OOP's</li>
<li>MultiThreading</li>
<li>Streams</li>
<li>Exception Handling</li>
</ul>

<p>
Documents should have proper code explaination with comment lines. For Audio and Video Contributions Audio should be clear .
</p>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow

[2021-09-22 05:12] ashish-reddy-20-08 commented on #1556
Thank you @Isha307 and @abhisheks008

[2021-09-22 05:13] prathimacode-hub opened #1825 "Data Science with Python : Ordinary Least Squares"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Ordinary Least Squares. Tutorial to Ordinary Least Squares and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer

[2021-09-22 05:14] Ananyagupta43 commented on #1601
So we'll divide the subtopics like I'll work on the first 2 and will only mention the last 2 without any explanation and you can go forward in the same way by explanation the last 2 .Is this okay @Knighthawk-Leo sir or should we do something else . Like please specify how to divide these subtopics .

[2021-09-22 05:15] sitamadex11 commented on #1393
yeah you can start working. And you can assign yourself also if you are commenting first by typing simply "/assign".

[2021-09-22 05:15] prathimacode-hub opened #1826 "Data Science with Python : Fuzzy Clustering"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Fuzzy Clustering. Tutorial to Fuzzy Clustering and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentati

[2021-09-22 05:16] SouravKr2001 commented on #987
Ok

[2021-09-22 05:16] prathimacode-hub opened #1827 "Data Science with Python : Adaptive Resonance Theory"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Adaptive Resonance Theory. Tutorial to Adaptive Resonance Theory and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you p

[2021-09-22 05:17] Knighthawk-Leo commented on #1601
Yeah, it can work.

@0199prabha So now you get your subtopics and now start contribution.

[2021-09-22 05:20] prathimacode-hub opened #1828 "Data Science with Python : Q Learning"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Q Learning. Tutorial to Q Learning and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, V

[2021-09-22 05:23] prathimacode-hub opened #1829 "Data Science with Python : Self-Organizing Map"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Self-Organizing Map. Tutorial to Self-Organizing Map and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Docum

[2021-09-22 05:23] anandhu720 commented on #540
@SourabhSaraswat-191939 please suggest any changes if required

[2021-09-22 05:24] vanshhhhh commented on #1828
/assign
I would like to contribute in the documentation of this topic. I will give a overview of what is Q-learning, its applications in real world and other theory related to the topic. I will also try to include implementation of Q-learning in notebook and add some useful links at the end for further reading.
Vansh Sharma (Serial Number : 680, DS-Python Batch 18)

[2021-09-22 05:24] pranjalambesh commented on #1749
/aasign

[2021-09-22 05:24] sanghisha145 commented on #1824
/assign document

[2021-09-22 05:26] prathimacode-hub opened #1830 "Data Science with Python : Hierarchical Clustering"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Hierarchical Clustering. Tutorial to Hierarchical Clustering and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefe

[2021-09-22 05:28] shikhargupta-in commented on #1826
/assign

[2021-09-22 05:28] prathimacode-hub commented on #1828
@vanshhhhh, I have to unassign you as bot says you have more than 3 open issues assigned on your name as part of GWOC.

[2021-09-22 05:28] Nay907 commented on #1558
Thank you @Isha307

[2021-09-22 05:28] ashish-reddy-20-08 commented on #1830
hello, I am M. Ashish Reddy. I would like to do documentation on this issue.
Batch number: 5
serial number:174.

[2021-09-22 05:29] Knighthawk-Leo commented on #1711
So the PR is approved now I am closing this Issue.

[2021-09-22 05:29] #1711 closed

[2021-09-22 05:29] deepthi1107 commented on #1830
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do a video on this issue.
My approach: A clear explanation of the issue and code explanation.

[2021-09-22 05:30] #1470 closed

[2021-09-22 05:30] prathimacode-hub opened #1831 "Data Science with Python : Temporal Difference Learning"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Temporal Difference Learning. Tutorial to Temporal Difference Learning and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice

[2021-09-22 05:31] surjyaneeh commented on #1822
Name: Surjyanee Halder
Type: Documentation
Approach : introduction, property, steps, python code samples, conclusion

[2021-09-22 05:31] priyanshuc4423 commented on #664
added please have a look

[2021-09-22 05:32] daminimehra opened #1833 "[JS]Topic: Iterables, Sets and Maps in JavaScript Objects"
### Description

 # Iterables, Sets and Maps in JavaScript Objects
In this, We'll discuss Iterables, Sets, and Maps in JavaScript Objects

## Directory
Topics/5.Syntax/Objects/

# Description
I want to update the already made README file for Javascript  objects with some additional contents

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contr

[2021-09-22 05:32] prathimacode-hub opened #1834 "Data Science with Python : SARSA Algorithm"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about SARSA Algorithm. Tutorial to SARSA Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation

[2021-09-22 05:33] vanshhhhh commented on #1828
@prathimacode-hub ma'am [one pull request](https://github.com/girlscript/winter-of-contributing/pull/594#event-5324090168) already merged but issue is opened because of other contributors (audio and video) - [check here](https://github.com/girlscript/winter-of-contributing/issues/249).
and the [other one](https://github.com/girlscript/winter-of-contributing/pull/831#issuecomment-924073036) is unde

[2021-09-22 05:33] shreyaaaaa801 commented on #1663
/assign

[2021-09-22 05:34] daminimehra commented on #1833
@paramsiddharth @s4-2
I would like to work on this issue pls assign it to me.

[2021-09-22 05:35] shreyaaaaa801 commented on #1762
/assign

[2021-09-22 05:35] paramsiddharth commented on #395
Could you quote the PR? I haven't found it yet.

[2021-09-22 05:35] prathimacode-hub commented on #1828
Ok, that's the reason bot didn't accept your assignment. Its fine I will do it manually.

Issue is assigned to @vanshhhhh for documentation

[2021-09-22 05:35] vanshhhhh commented on #1828
@prathimacode-hub Thanks for understanding ma'am.

[2021-09-22 05:36] shreyaaaaa801 commented on #1729
/assign

[2021-09-22 05:36] paramsiddharth commented on #72
@Divyanshigarg Please make sure you are allowed to contribute to the JavaScript domain. There's often a clash between us and FEWD. Cheers!

[2021-09-22 05:36] prathimacode-hub commented on #1826
You had assigned it up but haven't provided any details needed. Kindly add all the details asked before getting assigned to issue. @shikhargupta-in

[2021-09-22 05:37] #1581 closed

[2021-09-22 05:37] prathimacode-hub commented on #1822
Issue assigned to @surjyaneeh for documentation

[2021-09-22 05:37] SakshiMishra1 commented on #1833
I would like to work on this issue.

[2021-09-22 05:37] shreyaaaaa801 commented on #1649
/assign

[2021-09-22 05:37] shikhargupta-in commented on #1819
/assign

[2021-09-22 05:38] prathimacode-hub commented on #1828
It's all automated. So in such cases have to be done manually. @vanshhhhh

[2021-09-22 05:39] Satyam175 commented on #1824
<h2>All Changes shall be done in the Basic Concepts Folder and not in our domain branch</h2>
</br>
<p>if you see a issue for a particular type has been assigned then try going with other types</p>
<p>Assigning of issue is based on first come first serve basis or can be done by mentors</p>

[2021-09-22 05:39] prathimacode-hub commented on #1830
Issue is assigned to @ashish-reddy-20-08 for documentation and @deepthi1107 for video contribution

[2021-09-22 05:40] prathimacode-hub commented on #1826
You had taken 2 issues? You can work on only 1 issue at a time in single domain and not more than 3 open issues in overall GWOC repository. @shikhargupta-in

[2021-09-22 05:41] prathimacode-hub commented on #1826
Provide all the details to get it assigned, even if you use /assign. Details are needed to be assigned. @shikhargupta-in

[2021-09-22 05:42] Anant1711 commented on #171
First fork the repo and then select `cyber_security` from branch dropdown and `cyber_security` directory, then go to respective week folder and add your work in a `.md` file! then commit, please add `cybersecurity` before your PR title!

[2021-09-22 05:43] SakshiMishra1 commented on #1833
/assign

[2021-09-22 05:45] daminimehra commented on #1833
/assign

[2021-09-22 05:45] #313 closed

[2021-09-22 05:47] uditkatyal opened #1835 "Bit Manipulation"
### Description

Description
what is bit manipulation
types of bit operators
uses and functioning.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-09-22 05:47] uditkatyal commented on #1835
/assign

[2021-09-22 05:48] daminimehra commented on #1833
/assign

[2021-09-22 05:49] prathimacode-hub opened #1836 "Data Science with Python : Apriori Algorithm"
This issue will helps readers in gaining all the guidance that one needs to know about Apriori Algorithm. Tutorial to Apriori Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three

[2021-09-22 05:50] SaranAgarwal commented on #880
/assign

[2021-09-22 05:50] prathimacode-hub opened #1837 "Data Science with Python : An Introduction to Scientific Python"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about An Introduction to Scientific Python. Tutorial to An Introduction to Scientific Python and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would f

[2021-09-22 05:50] Parth-001-git commented on #1457
/assign

[2021-09-22 05:51] daminimehra commented on #1833
@SakshiMishra1 ?

[2021-09-22 05:51] shikhargupta-in commented on #1826
Sure!

[2021-09-22 05:52] akratikushwah commented on #1833
Hey! I want to work on this issue

[2021-09-22 05:52] SakshiMishra1 commented on #1833
@daminimehra yes?

[2021-09-22 05:52] Khushi-Agrawal-1 commented on #1807
\assign Audio
I would like to contribute to this via audio @AkMo3

[2021-09-22 05:53] neerajdhakad commented on #1697
\assign

[2021-09-22 05:54] akratikushwah commented on #1833
Please assign it to me

[2021-09-22 05:54] ShreyaTyagi0XD commented on #291
In a day or two

On Tue, Sep 21, 2021, 8:29 PM Anant chauhan ***@***.***>
wrote:

[2021-09-22 05:54] shikhargupta-in commented on #1819
@prathimacode-hub may i know the reason i got unassigned to this issue!

[2021-09-22 05:55] akratikushwah commented on #1758
Hey! I want to work on this issue.

[2021-09-22 05:55] akratikushwah commented on #1754
Hey! I want to work on this issue.

[2021-09-22 05:56] Indranshu commented on #1813
/assign

[2021-09-22 05:56] akratikushwah commented on #1748
Hey! I want to work on this issue.

[2021-09-22 05:56] pragmatic-philosopher09 commented on #1831
Can I take up this task, ma'am?

Batch: 13
Serial: 438
Name: Priyanshu

[2021-09-22 05:56] akratikushwah commented on #1732
Hey! I want to work on this issue.

[2021-09-22 05:56] akratikushwah commented on #1729
Hey! I want to work on this issue.

[2021-09-22 05:57] akratikushwah commented on #1710
Hey! I want to work on this issue.

[2021-09-22 05:57] akratikushwah commented on #1705
Hey! I want to work on this issue.

[2021-09-22 05:57] akratikushwah commented on #1695
Hey! I want to work on this issue.

[2021-09-22 05:57] prak895 commented on #1817
/assign

[2021-09-22 05:58] Indranshu commented on #1802
/assign

[2021-09-22 05:58] aryan-mehta05 opened #1840 "MERN_MongoDB: 1.1 What is MongoDB?"
### Description
Introduction to MongoDB in the MERN stack.

### Domain
MERN

### Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/ `

### Type of Contribution
Documentation

### Code of Conduct
- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribu

[2021-09-22 05:58] akratikushwah commented on #1665
Hey! I want to work on this issue.

[2021-09-22 05:58] akratikushwah commented on #1663
Hey! I want to work on this issue.

[2021-09-22 05:58] Indranshu commented on #1799
/assign

[2021-09-22 05:58] pragmatic-philosopher09 commented on #1831
/assign

[2021-09-22 05:58] akratikushwah commented on #1653
Hey! I want to work on this issue.

[2021-09-22 05:58] neerajdhakad commented on #1663
/assign

[2021-09-22 05:58] akratikushwah commented on #1651
Hey! I want to work on this issue.

[2021-09-22 05:58] prathimacode-hub opened #1841 "Data Science with Python : Numpy Cheatsheet"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about An Introduction to Numpy Cheatsheet. Tutorial to An Introduction to Numpy Cheatsheet and how it's applied using code snippets.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would f

[2021-09-22 05:58] akratikushwah commented on #1646
Hey! I want to work on this issue.

[2021-09-22 05:59] puneetkaur2929 opened #1842 "[Create New Issue]: How Internet Works?"
### Description

Via this issue I will try to explain how internet Works through documentation.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-09-22 06:00] akratikushwah commented on #1663
So, Is this issue assigned to me??

[2021-09-22 06:00] puneetkaur2929 commented on #1842
/assign

[2021-09-22 06:00] aryan-mehta05 commented on #1840
/assign

[2021-09-22 06:00] shikhargupta-in commented on #1819
I would love to work on this issue. My approach regarding this issue will include definition, real-world applications, code, and all other necessary explaination part.
Name : Shikhar Gupta
Batch : 7
Type : Documentation
Serial No: 236

[2021-09-22 06:00] shikhargupta-in commented on #1819
/assign

[2021-09-22 06:00] pragmatic-philosopher09 commented on #1831
I'll like to work on documentation giving a clear, concise explanation of the concept with some illustrative examples

[2021-09-22 06:00] rachita11 commented on #1836
/assign
Name - C. Rachita
serial number: 767
Contribution type: Documentation

[2021-09-22 06:01] prathimacode-hub opened #1843 "Data Science with Python : One Hot Encoding"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about getting started with One Hot Encoding. Tutorial to An Introduction to One Hot Encoding and how it's applied using sample code

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would fo

[2021-09-22 06:01] puneetkaur2929 opened #1844 "What is HTTP?"
### Description

Through this issue I will try to document about HTTP.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-09-22 06:02] akratikushwah commented on #1663
/assign

[2021-09-22 06:02] akratikushwah commented on #1670
/assign

[2021-09-22 06:02] puneetkaur2929 commented on #1844
/assign

[2021-09-22 06:02] prathimacode-hub commented on #1836
@rachita11, add your approach here along with details provided

[2021-09-22 06:02] akratikushwah commented on #1651
/assign

[2021-09-22 06:02] akratikushwah commented on #1844
/assign

[2021-09-22 06:03] akratikushwah commented on #1842
/assign

[2021-09-22 06:03] prathimacode-hub commented on #1831
You can proceed. @pragmatic-philosopher09

[2021-09-22 06:03] akratikushwah commented on #1817
/assign

[2021-09-22 06:03] prathimacode-hub commented on #1831
Issue is assigned to @pragmatic-philosopher09 for documentation

[2021-09-22 06:03] 0904-mansi commented on #1615
/assign document

[2021-09-22 06:04] 0904-mansi commented on #1614
/assign document

[2021-09-22 06:04] jaissumi1402 opened #1845 "Flutter: documentation on Appbar Widget"
### Description

I will be adding a documentation on appbar widget with example and images

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-09-22 06:04] akratikushwah commented on #1844
Thanks

[2021-09-22 06:04] jaissumi1402 commented on #1845
/assign

[2021-09-22 06:04] jaissumi1402 commented on #1845
/assign

[2021-09-22 06:04] prathimacode-hub commented on #1826
Details haven't received yet. @shikhargupta-in

[2021-09-22 06:04] 0904-mansi commented on #1613
/assign document

[2021-09-22 06:05] akratikushwah commented on #1844
Through this issue I will try to document about HTTP.

Domain
Frontend Dev HTML/CSS/JS

Type of Contribution
Documentation

Code of Conduct
 I follow Contributing Guidelines & Code of conduct of this project.

[2021-09-22 06:07] Sakalya100 commented on #1841
I would Like to work on this issue @prathimacode-hub
Name: Sakalya
Serial Number: 62 Batch2
Type: Documentation
Approach:
1) Explanation of what is Numpy module in Python
2) Explaining its uses and importance
2) Exploring the functions in Numpy with implementation in Python

[2021-09-22 06:08] prathimacode-hub commented on #1841
Issue assigned to @Sakalya100 for documentation

[2021-09-22 06:09] prathimacode-hub opened #1847 "Data Science with Python : Pandas DataFrame Operations"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about getting started with Pandas DataFrame Operations. Tutorial to Pandas DataFrame Operations and how it's applied using code snippets

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one wou

[2021-09-22 06:10] kumarschitransh commented on #1791
/assign

[2021-09-22 06:10] Sakalya100 commented on #1825
I would Like to work on this issue @prathimacode-hub
Name: Sakalya Mitra
Serial Number: 62 Batch2
Type: Documentation
Approach:

1) Mathematical Explanation of what is least squares
2) Mathematical explanation ordinary least square method
3) Implementing it it in Python

[2021-09-22 06:11] hariharas-wq commented on #1841
hello, I am S.Harihara Sudhan. I would like to do documentation on this issue. My approach would be how the numpy is used for different aspects including array manipulation, data types, sorting arrays and different array methods with a code snippet for each.

[2021-09-22 06:11] kumarschitransh commented on #1844
/assign

[2021-09-22 06:12] prathimacode-hub commented on #1825
Already an issue is assigned to you @Sakalya100

[2021-09-22 06:13] adityagupta-16 commented on #1782
/assign

[2021-09-22 06:13] Sakalya100 commented on #1825
Yes I will work on the one assigned

[2021-09-22 06:14] s4-2 commented on #1833
Hey @akratikushwah, its already assigned to @daminimehra. You can look for some other issue there are a lot issue under the tag of JavaScript.

[2021-09-22 06:16] aasthas09 commented on #1709
/assign

[2021-09-22 06:17] puneetkaur2929 opened #1848 "2Sum Problem"
### Description

Through this issue I will try to mention how to solve 2 sum problem for a given array of integers.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-22 06:17] Tharunya07 commented on #1316
Hey! I want to work on this. Can you assign the issue to me? @Debasmita-01

[2021-09-22 06:17] puneetkaur2929 commented on #1848
/assign

[2021-09-22 06:17] prathimacode-hub opened #1849 "Data Science with Python : Neural Networks Cheatsheet"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Neural Networks Cheatsheet. Tutorial to Neural Networks Cheatsheet and how it's applied using code snippets

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice yo

[2021-09-22 06:18] amankumar11 commented on #1155
@sushovanb02 i am still working on the 5 examples of The DOM under this issue.
I have completed 3 examples with full-fledged running Js, only 2 more examples are left and i will push the changes by Friday forsure.
I will request you to open this issue so that i can make a PR accordingly.

[2021-09-22 06:18] puneetkaur2929 opened #1850 "3 Sum Problem"
### Description

Through this issue I will try to mention how to solve 3 sum problem for a given array of integers.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-22 06:19] puneetkaur2929 commented on #1850
/assign

[2021-09-22 06:19] Tharunya07 commented on #1306
/assign

[2021-09-22 06:19] Tharunya07 commented on #1306
Hey! I want to work on this. Can you assign the issue to me? @Debasmita-01

[2021-09-22 06:20] daminimehra commented on #1833
@s4-2  mam, why was not assigned to me.?

[2021-09-22 06:20] eshan1925 commented on #1499
@anantcodes This is the correct PR. Please merge if there is no issue.

[2021-09-22 06:20] hariharas-wq commented on #1847
hello, I am S.Harihara Sudhan.
Batch no: 8
Serial no:259
I would like to do documentation on this issue.

My approach would be
1. Introduction of pandas and how it is used
2. Code snippets explaining how it is used in different functions.

[2021-09-22 06:21] prathimacode-hub opened #1852 "Data Science with Python : PySpark Cheatsheet"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about PySpark Cheatsheet. Tutorial to PySpark Cheatsheet and how it's applied using code snippets

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Docume

[2021-09-22 06:21] Tharunya07 commented on #1313
Hey! I want to work on this. Can you assign the issue to me? @Debasmita-01

[2021-09-22 06:22] prathimacode-hub opened #1853 "Data Science with Python : Text Analytics"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Text Analytics. Tutorial to Text Analytics and how it's applied using code snippets

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation,

[2021-09-22 06:23] Tharunya07 commented on #1056
/assign

[2021-09-22 06:23] Samhitha-Jasti commented on #1853
I would like to work on this on documentation

[2021-09-22 06:24] Tharunya07 commented on #1056
Hey! I want to work on this. Can you assign the issue to me?

[2021-09-22 06:24] BhoomiVarshney commented on #1830
Hello
I am Bhoomi Varshney
Serial No.: 641
Batch:17
I would like to work on documentation.
My approach would: Why use hierarchical clustering and how to implement it.

[2021-09-22 06:25] prathimacode-hub opened #1855 "Data Science with Python : Understanding Pickling in Python"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Understanding Pickling in Python. Tutorial to Understanding Pickling in Python and how it's applied using code snippets

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow a

[2021-09-22 06:25] Samhitha-Jasti commented on #1853
Anjani Samhitha -209
Batch - 6
Issue No - #1853
Type: Doccumentation
Approach:
Introduction to Text Anlaytics,Topic Analysis and Coding tutorial

[2021-09-22 06:26] Tharunya07 commented on #1306
/assign

[2021-09-22 06:26] prathimacode-hub commented on #1853
Issue assigned to @Samhitha-Jasti for documentation

[2021-09-22 06:27] 124015001 commented on #1732
@akratikushwah This issue has already been merged. See the comments. You can create a new issue.

[2021-09-22 06:27] prathimacode-hub commented on #1847
Issue assigned to @hariharas-wq for documentation

[2021-09-22 06:27] #1732 closed

[2021-09-22 06:28] nimisha-yadav commented on #1780
Assigning this issue to you @Shruti-Subu, all the best!

[2021-09-22 06:28] paramsiddharth commented on #1833
@daminimehra @akratikushwah It was the automation misbehaving, I apologize for that. You are assigned now. I am going to make some changes in the issue description, please monitor.

[2021-09-22 06:29] prathimacode-hub commented on #1819
It was because details were not provided to be fair enough with other contributors. And you can work on only issue at a time.

[2021-09-22 06:31] nimisha-yadav commented on #1787
Assigning this issue to you @Aryan-Mohanty, all the best!

[2021-09-22 06:32] SakshiMishra1 commented on #1833
@paramsiddharth sir I have worked on this issue as I was assigned to it. Please review.

[2021-09-22 06:32] nimisha-yadav commented on #1789
Assigning this issue to you @Shruti-Subu, all the best!

[2021-09-22 06:33] ketakitankk commented on #67
Hi, how shall I provide you with the link to my finished prototype?

[2021-09-22 06:33] prathimacode-hub opened #1856 "Data Science with Python : Tokenization & Lemmatization"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Tokenization & Lemmatization from scratch. Tutorial to Tokenization & Lemmatization and how it's applied using code snippets

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would fol

[2021-09-22 06:34] BhoomiVarshney commented on #1826
Hello Mam,
I am Bhoomi Varshney
Serial No.: 641
Batch:17
I would like to work on documentation for this issue.
My approach would: It uses, benefits and implementations via code.

[2021-09-22 06:34] Suvraneel commented on #1835
@uditkatyal
Observe the changes to your comment & do the same from next time...
Anyway, Go ahead with this :octocat:

[2021-09-22 06:34] Ash-KODES commented on #1850
/assign

[2021-09-22 06:34] nimisha-yadav commented on #1788
Assigning this issue to you @Harsh-Chaudhary7, all the best!

[2021-09-22 06:34] 0199prabha commented on #1601
Okay , so i'll pick the last two subtopics..is that okay? @Ananyagupta43

[2021-09-22 06:35] prathimacode-hub opened #1857 "Data Science with Python : Data Normalization"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Data Normalization. Tutorial to Data Normalization and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documen

[2021-09-22 06:36] nimisha-yadav commented on #1783
Assigning this issue to you @arsheelsheikh, all the best

[2021-09-22 06:36] prathimacode-hub opened #1859 "Data Science with Python : PyBrain Library"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about PyBrain Library. Tutorial to PyBrain Library and how it's applied using code snippets.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentati

[2021-09-22 06:37] ritika168 opened #1860 "C- BASIC SYNTAX [Documenatation]"
### Description

Basic syntax of a C program.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 06:37] ritika168 commented on #1860
/assign

[2021-09-22 06:38] paramsiddharth commented on #1833
@SakshiMishra1 I couldn't find your PR, Sakshi. Are you sure you mentioned the issue number in the PR description?

[2021-09-22 06:38] prathimacode-hub opened #1862 "Data Science with Python : Scikit Learn Cheatsheet"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Scikit Learn Cheatsheet. Tutorial to Scikit Learn Cheatsheet and how it's applied using code snippets.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you pre

[2021-09-22 06:39] ashish-reddy-20-08 commented on #1258
Hello @Isha307.
I have completed the work and created a PR.
You can check my PR in this link  :https://github.com/girlscript/winter-of-contributing/pull/1861

[2021-09-22 06:39] Indranshu opened #1863 "Aria tag in HTML"
In this issue I'll be providing documentation on aria tag and its attributes and why they are important for increasing the accessibility of a website.

Domain: front-end with html css and Javascript

Batch: 7

[2021-09-22 06:39] SakshiMishra1 commented on #1833
Yes sir, above the comments here, there is a comment that I have referenced the issue.

[2021-09-22 06:39] Ash-KODES commented on #1850
@puneetkaur2929 can you please describe the issue(the 3 sum prob question)more descriptively?

[2021-09-22 06:39] Indranshu commented on #1863
/assign

[2021-09-22 06:40] TammanaNiharika commented on #1283
/assign
For documentation

[2021-09-22 06:41] TammanaNiharika commented on #1148
/assign
For documentation

[2021-09-22 06:41] Robinrai2612 commented on #1856
@prathimacode-hub I would like to work on the issue and I will explain the theoretical concepts and coding regarding it.

Type: Documentation
Sr.No: 146

[2021-09-22 06:41] neerajdhakad opened #1864 "CSS Overflow property"
- What is overflow property in CSS ?
- What are the values of overflow property?
- Examples of Overflow property

[2021-09-22 06:41] prathimacode-hub opened #1865 "Data Science with Python : Time Series Analysis using Pandas"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Time Series Analysis using Pandas. Tutorial to Time Series Analysis using Pandas and how it's applied using code snippets and visualizations.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the appro

[2021-09-22 06:42] neerajdhakad commented on #1864
/assign

[2021-09-22 06:42] Shruti-Subu commented on #1780
Hello @nimisha-yadav  thank you for assigning me this . I have also been assigned to DSA#1789 . So just wanted to clarify am i allowed to work on 2 task together?

[2021-09-22 06:42] prathimacode-hub commented on #1856
Issue assigned to @Robinrai2612 for documentation

[2021-09-22 06:43] Shruti-Subu commented on #1789
@nimisha-yadav  Thank you for assigning me this.

[2021-09-22 06:43] pranjalambesh commented on #1749
I want to work with this

[2021-09-22 06:43] akratikushwah commented on #1833
Okay

[2021-09-22 06:43] RBiswa787 commented on #485
Yes..
1. Basic Documentation finished
2. Will add 1 more example in documentation.
3. Convert to markdown and will submit PR by tomorrow EOD.

[2021-09-22 06:44] nimisha-yadav commented on #1780
Yeah, ofcourse

[2021-09-22 06:46] CryptoSingh1337 commented on #1824
can I work on multithreading part?

[2021-09-22 06:46] #1155 closed

[2021-09-22 06:47] anandhu720 commented on #343
@iamsuyashpatel07 any updates on your work.

[2021-09-22 06:47] anandhu720 commented on #345
@Adarshswain any updates on your work

[2021-09-22 06:47] GenMech commented on #1783
/assign Documentation

[2021-09-22 06:48] SakshiMishra1 opened #1867 "[Create New Issue]: React props vs state"
### Description

Description

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 06:48] prathimacode-hub commented on #1826
Issue assigned to @BhoomiVarshney for documentation

[2021-09-22 06:48] code-reaper08 commented on #1155
You can create a new issue, with a **PR** @amankumar11

[2021-09-22 06:48] SakshiMishra1 commented on #1867
/assign

[2021-09-22 06:49] #1867 closed

[2021-09-22 06:51] Ash-KODES commented on #109
/assign

[2021-09-22 06:51] Soumyakanta06 opened #1868 "CSS: Position Absolute and Position Relative"
### Description

There comes a lot of confusion in **position: relative** and **position: absolute** property of CSS. Students often put a hit and trial method to use this. Since due to lack of proper understanding students adopt such hit and trial methods . I would like to contribute on this **propertiey of CSS** which plays a vital role in **Frontend Development**.

### Domain

Frontend Dev HTML

[2021-09-22 06:52] Ash-KODES commented on #110
/assign

[2021-09-22 06:52] Ash-KODES commented on #1868
/assign

[2021-09-22 06:52] GenMech commented on #1781
Gitesh Pareek
Batch-1

[2021-09-22 06:53] nimisha-yadav commented on #1781
@Ayushi2811 once you submit your previous tasks, I'll assign you more. Also, always follow the guidelines mentioned in the note.

[2021-09-22 06:53] Satyam175 opened #1869 "MultiThreading In Java"
### Description

Description
<h1>Java Basic Concepts</h1>

<ul>
<li>MultiThreading</li>

</ul>

<p>
Documents should have proper code explaination with comment lines. For Audio and Video Contributions Audio should be clear .
</p>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/g

[2021-09-22 06:55] Ash-KODES commented on #1850
@puneetkaur2929 I think you have opened this issue for yourself,if you want i can unassign myself from this else i can work on this if you allow?

[2021-09-22 06:56] SakshiMishra1 commented on #1867
@anandhu720 sorry, I wasn't aware of that sir. No complaints from my side after this

[2021-09-22 06:57] Ash-KODES commented on #1868
frontend batch 10

[2021-09-22 06:57] Satyam175 commented on #1824
<p>I have opened another issue for that</p>
<p>for each topic a individual issue will be opened</p>
<p>contributors themselves can create a issue apart from the ones in roadmap</p>

[2021-09-22 06:57] Suvraneel opened #1870 "Update readme with Relative Links"
### Description

Change All absolute or missing links to relative links

Example -

- [Title](relative_link)

Just copy the relative path from url & use it

@kashyap1905

### Domain

C/CPP

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-09-22 06:57] krups2306 commented on #1865
Hello! I would like to contribute
Name: Krupa Bhavsar
Serial No.: 294
Type: Documentation, Audio, Video

[2021-09-22 06:58] Soumyakanta06 commented on #1868
/assign

[2021-09-22 06:58] anandhu720 commented on #1867
please ask your doubts in discord and be active there

[2021-09-22 06:58] Satyam175 opened #1871 "Java Streams"
### Description

<h1>Java Basic Concepts</h1>

<ul>

<li>Streams</li>

</ul>

<p>
Documents should have proper code explaination with comment lines. For Audio and Video Contributions Audio should be clear .
</p>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-o

[2021-09-22 06:59] kashyap1905 commented on #1870
/assign

[2021-09-22 06:59] NiharikaSngh commented on #110
@Ash-KODES I am sorry but how could you do this ? I was assigned this issue on the very first day !!

[2021-09-22 06:59] Satyam175 opened #1872 "OOP's and Collection Framework"
### Description

Description
<h1>Java Basic Concepts</h1>

<ul>
<li>OOP's</li>

</ul>

<p>
Documents should have proper code explaination with comment lines. For Audio and Video Contributions Audio should be clear .
</p>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript

[2021-09-22 07:00] pranjalambesh opened #1873 "C/CPP : Nested Loops in C/C++"
### Description

In this issue nested loops of C/C++ will be explained  thoroughly with well defined examples in form of documentations

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/win

[2021-09-22 07:00] pranjalambesh commented on #1873
/assign

[2021-09-22 07:00] Satyam175 opened #1874 "Exception Handling in Java"
### Description

<h1>Java Basic Concepts</h1>

<ul>

<li>Exception Handling</li>
</ul>

<p>
Documents should have proper code explaination with comment lines. For Audio and Video Contributions Audio should be clear .
</p>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winte

[2021-09-22 07:01] khushali452 commented on #1160
/assign

[2021-09-22 07:04] anandhu720 opened #1876 "Frontend With Framework : Class Components in React"
### Description

Need to add Details of Class Components in React,How It works,Why we use Class Components,dis advantages of class components and any thing relevant regarding class components in react

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributin

[2021-09-22 07:04] paramsiddharth commented on #1833
@SakshiMishra1 Please mention the PR number here.

[2021-09-22 07:06] CryptoSingh1337 commented on #1869
/assign document

[2021-09-22 07:06] GyaniRoman23 commented on #1876
Hey @anandhu720 I would like to work with this issue.

[2021-09-22 07:06] GyaniRoman23 commented on #1876
/assign

[2021-09-22 07:07] #832 closed

[2021-09-22 07:07] anandhu720 opened #1878 "Frontend With Framework : Functional Components in React"
### Description

This need to be include all about Functional Components in React,Why we use Functional Components,Advantages and DisAdvantages and anything relevant to this topic

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-09-22 07:09] amankumar11 opened #1879 "Frontend_Web_Development_HTML_CSS_JS: The DOM Examples"
### Description

5 examples of The DOM javascript using HTML, CSS & Js.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-09-22 07:09] amankumar11 commented on #1879
/assign

[2021-09-22 07:09] amankumar11 commented on #1879
/assign

[2021-09-22 07:11] anandhu720 opened #1880 "Frontend With Framework : Comparing Functional and Class Components"
### Description

Need to add a Comparision of Functional and Class Components.Different methods in them to do a specific task.Synatx,which one is better.

Table form will be better.

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-09-22 07:12] CSAURABH commented on #1880
Can I work on this issue

[2021-09-22 07:12] CSAURABH commented on #1880
/assign

[2021-09-22 07:14] anandhu720 commented on #1880
@CSAURABH bro you are already working on one issue.Please work on one issue at a time.Because it will reduce the chance of other to get work

[2021-09-22 07:15] GyaniRoman23 commented on #1878
@anandhu720  I would like to work on this issue. I have a good understanding of class and functional components, so please do consider me.

[2021-09-22 07:15] uditkatyal commented on #1835
cool I have added  C_CPP domain can you review my PR!

[2021-09-22 07:18] rwiteshbera opened #1882 "JS: JSON Tutorial"
### Description

### I will discuss what is JSON and how to use it?
[code]

### Domain

JavaScript

### Type of Contribution

- [x] Documentation
- [ ] Video
- [ ] Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/m

[2021-09-22 07:19] anandhu720 commented on #1878
@GyaniRoman23 bro only work on a single issue at a time.Because we have many contributers.Most of them are not getting work.

[2021-09-22 07:19] AkritiAgarwal09 commented on #1865
/assign

[2021-09-22 07:19] SakshiMishra1 commented on #1833
@paramsiddharth #1881

[2021-09-22 07:20] GyaniRoman23 commented on #1878
Sure:)

[2021-09-22 07:21] arsheelsheikh commented on #1874
/assign documentation

[2021-09-22 07:21] paramsiddharth commented on #1882
@rwiteshbera I hope you'll be either contributing in a different format or extending the existing contribution! Please note that I am updating the directory path.

[2021-09-22 07:22] Ananyagupta43 commented on #1601
@0199prabha yeah sure! No problem at all.

[2021-09-22 07:22] Anshii12 commented on #1878
Sir, I would like to work on this issue.
Kindly assign it to me.

[2021-09-22 07:22] AkritiAgarwal09 commented on #597
/assign

[2021-09-22 07:23] AkritiAgarwal09 commented on #1860
/assign

[2021-09-22 07:26] nooobcoder commented on #1880
/assign

[2021-09-22 07:26] cenacrharsh commented on #1878
/assign Batch - 3

[2021-09-22 07:27] anandhu720 commented on #1878
@Anshii12 sure

[2021-09-22 07:27] cenacrharsh commented on #1880
/assign Batch-3

[2021-09-22 07:28] cenacrharsh commented on #1876
/assign Batch - 3

[2021-09-22 07:29] pspiagicw commented on #1567
/assign documentation

[2021-09-22 07:29] cenacrharsh commented on #1878
I don't have any issues assigned to me, why was I unassigned @anandhu720?

[2021-09-22 07:30] ritika728 opened #1884 "Ceil and Floor Functions in C++ [Documentation]"
### Description

Proper explanation of ceil and floor functions in C++ with examples.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-09-22 07:30] ELLIPSIS009 commented on #1857
I would like to work on this
Abhinav Mathur- 573
Type: Documentation
Approach: what is data normalization, example, how to do it, how it works, python implementation

[2021-09-22 07:30] ritika728 commented on #1884
/assign

[2021-09-22 07:30] ELLIPSIS009 commented on #1857
/assign

[2021-09-22 07:37] anandhu720 commented on #1878
@cenacrharsh Only one can work on one issue bro.

[2021-09-22 07:38] Naman22Malani opened #1886 "Style in CSS"
### Description

In this document I'll be explaining the different styles in CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gith

[2021-09-22 07:39] gracyashhh commented on #245
@prathimacode-hub Have made the corrections, Please do check now

[2021-09-22 07:39] Naman22Malani commented on #1886
/assign

[2021-09-22 07:40] arsheelsheikh commented on #1886
/assign

[2021-09-22 07:41] samik-rathore commented on #687
I have raised a PR please review it for any changes to be made

[2021-09-22 07:44] samik-rathore commented on #687
@Aryamanz29

[2021-09-22 07:51] shreeshjha opened #1892 "Competitive Programming : : Graphs : : CSES Counting Rooms (Documentation)"
### Description

I'd like to make a detailed document outlining how to approach CSES typical dfs on-grid problems.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter

[2021-09-22 07:52] shreeshjha commented on #1892
/assign

[2021-09-22 07:52] Ash-KODES commented on #1886
/assign

[2021-09-22 08:05] Soumyakanta06 commented on #1886
/assign

[2021-09-22 08:05] Naman22Malani commented on #1886
/assign

[2021-09-22 08:06] Soumyakanta06 commented on #1876
/assign

[2021-09-22 08:06] Rijudas149 commented on #1884
/assign

[2021-09-22 08:07] garvitraj commented on #1807
@Khushi-Agrawal-1 go with the audio

[2021-09-22 08:10] Soumyakanta06 commented on #1868
/assign

[2021-09-22 08:12] garvitraj commented on #1806
@NamanManjkhola go with video

[2021-09-22 08:15] mukeshmjn opened #1896 "FRONTEND WITH FRAMEWORK: Angular ->"
### Description

(This is a week-2 issue so make sure you include the file in week-2 folder)

- What is Interpolation?
- Why is it used?
- Explain with proper examples, syntax and code.
- Reference:- https://angular.io/guide/interpolation

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angu

[2021-09-22 08:18] itsbittoosharma commented on #800
Please check my pr

[2021-09-22 08:20] mukeshmjn commented on #534
As @monotion25 has not been responding since 2 days after been asked too .. @Techno-Simpola u would like to work on this?

[2021-09-22 08:25] #909 closed

[2021-09-22 08:26] garvitraj opened #1899 "Java 6.3: Switch Expressions"
### Description

### Description

Description Add audio, Documentation, and Video regarding the **Switch Expression**.

____

### Location of File to be added

The files should be added inside the `Switch Expression`  folder which is inside the `Control Statements`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.

[2021-09-22 08:27] eshan1925 commented on #1899
/assign

[2021-09-22 08:28] eshan1925 commented on #1899
Will do the document part

[2021-09-22 08:28] garvitraj opened #1900 "Java 7.1: While and Do-while"
### Description

### Description

Description Add audio, Documentation, and Video regarding the **While and Do-while**.

____

### Location of File to be added

The files should be added inside the `While and Do-while`  folder which is inside the `Iteration Statement`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in

[2021-09-22 08:30] garvitraj opened #1903 "Java 7.2: For and For Each"
### Description

### Description

Description Add audio, Documentation, and Video regarding the **For and For Each**.

____

### Location of File to be added

The files should be added inside the `For and For Each`  folder which is inside the `Iteration Statement`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.m

[2021-09-22 08:30] ananddasani commented on #1690
/assign

[2021-09-22 08:33] sifa123 commented on #1791
Hello everyone, @prernakumari031 @arsheelsheikh @kumarschitransh, as @anmolx001  already mentioned this issue in a PR. You guys can work on that PR as a team. Look at the PR and see what other things you can add.

[2021-09-22 08:35] Pranshu321 commented on #1670
This topic is already assigned to me 3-4 days ago how this issue assigned to you.

[2021-09-22 08:35] Soumyakanta06 commented on #1900
/assign

[2021-09-22 08:38] Tanushree-coder commented on #1393
okay sure sir !

[2021-09-22 08:39] Arjun2905 commented on #1261
@Isha307  Please go through my pull request https://github.com/girlscript/winter-of-contributing/pull/1905

[2021-09-22 08:40] dhruti29 commented on #1783
I would like work on this issue.
Batch - 2
Dhruti Gandhi

[2021-09-22 08:40] ananddasani commented on #55
@KishkinJ10 It's already assigned to me.
You can start working on other issue :)

[2021-09-22 08:42] dhruti29 commented on #1781
I would like to work on this issue..
Batch - 2
Dhruti Gandhi

[2021-09-22 08:43] sejalbhardwaj commented on #1727
/assign

[2021-09-22 08:44] Subhradeep10 commented on #110
@NiharikaSngh Chill This task is assigned to you only, and @Ash-KODES Stop doing this, otherwise I have to complain to higher authority

[2021-09-22 08:46] Shraddha-Jaggi commented on #1806
\assign audio

[2021-09-22 08:48] Shraddha-Jaggi commented on #1807
\assign video

[2021-09-22 08:48] anchal-gupta opened #1907 "HTML5 Vs HTML"
### Description

How is HTML5 different from HTML ? What are new fetures in HTML5 and how to use them.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-09-22 08:50] anchal-gupta commented on #1907
/assign

[2021-09-22 08:52] jaissumi1402 opened #1908 "DSA 1.1.3.8 Arrays: Range Queries (for searching an element)"
### Description

Given an array of size N and Q queries in the form of L R X. For each query give the output Yes or No if X present in between the indices L and R.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:/

[2021-09-22 08:52] jaissumi1402 commented on #1908
@nimisha-yadav ma'am can i work on this issue

[2021-09-22 08:55] Surbhi-sinha commented on #1882
can I also work on this adding more functionality ?? @paramsiddharth.

[2021-09-22 08:56] pspiagicw commented on #1092
PR issued!

[2021-09-22 08:58] Surbhi-sinha commented on #1882
/assign

[2021-09-22 09:05] eshan1925 commented on #1899
@garvitraj please assign me the document part of this issue

[2021-09-22 09:05] eshan1925 commented on #1899
/assign document

[2021-09-22 09:06] eshan1925 commented on #1903
/assign document

[2021-09-22 09:07] Rohit570git-hub commented on #1903
/assign document

[2021-09-22 09:07] nimisha-yadav commented on #1908
Yes, now it's okay, go ahead

[2021-09-22 09:10] akratikushwah commented on #1670
I have no idea

[2021-09-22 09:13] 0199prabha commented on #1601
Okay

[2021-09-22 09:25] kritikarag commented on #1307
/assign

[2021-09-22 09:27] Sonal2200 commented on #1697
\assign

[2021-09-22 09:29] maddler-hub opened #1913 "Competitive Programming : Creating a Binary search tree"
### Description

DescriptionLabels: GWOC21, Competitive Programming, Documentation

Format: Documentation

Language:C++

Topic:CompetitiveProgramming/BinarySearchTrees

Description: Program for creating a binary search tree using a recursive function.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https:/

[2021-09-22 09:30] maddler-hub commented on #1913
/assign

[2021-09-22 09:33] kritikarag commented on #548
/assign

[2021-09-22 09:34] gunjan-g opened #1914 "Readme of C/C++"
### Description

Update Readme of C/C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 09:34] gunjan-g commented on #1914
/assign

[2021-09-22 09:34] gunjan-g commented on #1914
/assign

[2021-09-22 09:36] maddler-hub commented on #1223
/assign

[2021-09-22 09:36] yellowberard commented on #1882
/assign

[2021-09-22 09:38] yellowberard opened #1916 "Frontend DEV With HTML CSS JS : CSS Position"
### Description

Documentation about CSS positioning

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-09-22 09:38] yellowberard commented on #1916
/assign

[2021-09-22 09:40] tavneetgill opened #1918 "Frontend Dev with HTML,CSS and JS: HTML Table attributes"
### Description

In this, I will explain all the HTML table attributes in detail with definition, various types of attributes, the specified relevant examples, their use and what difference a specific attribute can create when used properly.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.c

[2021-09-22 09:40] tavneetgill commented on #1918
/assign

[2021-09-22 09:44] Baalamurgan commented on #1476
Okay ON it!

[2021-09-22 09:47] #924 closed

[2021-09-22 09:47] yellowberard opened #1919 "CP Displaying Matrix in Spiral Form"
### Description

Documentation on how to display a  matrix in spiral form

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_O

[2021-09-22 09:47] yellowberard commented on #1919
/assign

[2021-09-22 09:50] shikhargupta-in commented on #1819
Now i can contribute in this issue, right? @prathimacode-hub

[2021-09-22 09:50] rishitajain01 commented on #1532
\assign documentation & audio

[2021-09-22 09:50] yellowberard opened #1921 "C/CPP Reversing a word in a string"
### Description

Documentation on how reverse a word  in a string

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-09-22 09:50] yellowberard commented on #1921
/assign

[2021-09-22 09:51] Techno-Simpola commented on #534
ya sure

[2021-09-22 09:51] Sneha1605 commented on #1900
/assign Document

[2021-09-22 09:51] Techno-Simpola commented on #534
It would be great to work on this topic

[2021-09-22 09:52] mukeshmjn commented on #534
Go for it @Techno-Simpola

[2021-09-22 09:53] rishitajain01 commented on #918
/assign documentation & audio

[2021-09-22 09:54] #1261 closed

[2021-09-22 09:55] sanskarn17 opened #1923 "Shell Sort Algorithm"
### Description

Explanation and code.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 09:55] anjanaaaaaaaa commented on #1808
\assign video

[2021-09-22 09:55] sanskarn17 commented on #1923
/assign

[2021-09-22 10:00] amelia2802 opened #1924 "Fibonacci series without Recursion in C"
### Description

A Fibonacci series program in C without recursion.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-09-22 10:01] amelia2802 commented on #1924
/assign

[2021-09-22 10:02] hitesh22rana opened #1925 "Competitive Programming - JAVA - Valid Parentheses Using Stack"
### Description

**Explanation of Valid Parentheses Using Stack Data Structure.**

Code is implemented in JAVA , but logic can be applied in any programming language.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [C

[2021-09-22 10:03] hitesh22rana commented on #1925
/assign

[2021-09-22 10:03] AkritiAgarwal09 commented on #1925
/assign

[2021-09-22 10:04] vansh16100 commented on #1223
I already started working on it.

[2021-09-22 10:05] hitesh22rana commented on #1925
@AkritiAgarwal09 This issue is opened by me , and I will be working on it . kindly, pull out your name from this issue

[2021-09-22 10:07] hitesh22rana commented on #1925
/assign

[2021-09-22 10:19] aaryan078 commented on #1843
I would like to be assigned this

[2021-09-22 10:23] sheril04 opened #1929 "CPP: File Handling"
### Description

File Handling and I/O Management using CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 10:23] sheril04 commented on #1929
/assign

[2021-09-22 10:24] Aryamanz29 commented on #31
Sure I'll update this in issue description

[2021-09-22 10:29] aaryan078 commented on #140
sorry @ashish-reddy-20-08 ,I unassigned this issue some days back because I got to know that we can only contribute in our own domain .

[2021-09-22 10:30] Nishita5421 commented on #1306
Hey ! can I work on the documentation part of this issue?

[2021-09-22 10:30] AkMo3 commented on #1534
This is available for video content. @Sneha-0308 Have been unassigned as per her choice.

[2021-09-22 10:31] ashish-reddy-20-08 commented on #140
@micepram can u please say whether shall i work on this further

[2021-09-22 10:31] Sakshi1700 commented on #1843
@prathimacode-hub
Ma'am, I would like to contribute to this issue.
Approach: Explaining the approach for one-hot encoding and why it is needed.
Name: Sakshi Verma
Type: Documentation
Batch: 19
Serial Number: 827
Github: https://github.com/Sakshi1700

[2021-09-22 10:31] #677 closed

[2021-09-22 10:32] sanghisha145 commented on #1874
/assign

[2021-09-22 10:33] Nishita5421 commented on #1315
Hey ! Can I work on the documentation part of this issue?

[2021-09-22 10:34] #800 closed

[2021-09-22 10:35] Tanushree-coder commented on #1430
/assign

[2021-09-22 10:37] HumblePlebeian commented on #1481
Hi,
I would like to work on the video form of contribution for this issue.
Could you please assign it to me?

Thanks!

[2021-09-22 10:37] #1092 closed

[2021-09-22 10:38] kashyap1905 commented on #1870
/assign

[2021-09-22 10:38] Anant1711 commented on #1481
That's Great!😊
Go with it!