[2021-09-20 05:23] rahulsinghal1904 commented on #1125
Name: Rahul Singhal
Serial No. 608
Documentation
Approach:
Definition, Theory explaining how it works, Code implementation

[2021-09-20 05:24] Pmair20 commented on #1087
I would like to work on this issue (documentation part along with code sample)
Name: Pritish Mair
Python Batch 1

[2021-09-20 05:24] ArpitaGupta4086 opened #1131 "FrontEnd: Colors in CSS"
<hr>

## Description 📜

I would describe the different ways or methods in which one can specify the colors in CSS.I would also document how we can add text color, background color etc. using CSS.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 05:24] #119 closed

[2021-09-20 05:24] Anant1711 commented on #498
@Nikita512 What is your working status on this topic?
When you will go to submit your work?

[2021-09-20 05:25] lohith1392 commented on #1131
/assign

[2021-09-20 05:25] thepranaygupta commented on #1128
/assign Document

[2021-09-20 05:25] ArpitaGupta4086 commented on #1131
/assign

[2021-09-20 05:26] Pmair20 commented on #1096
/assign

[2021-09-20 05:28] ishika-1205 commented on #1131
/assign

[2021-09-20 05:28] subhendudash02 commented on #951
Hey @code-reaper08! I want to work on this issue in the form of document. Kindly assign me!
Thank you

[2021-09-20 05:28] #1045 closed

[2021-09-20 05:28] snehar-bajwa commented on #1063
/assign

[2021-09-20 05:28] prathimacode-hub commented on #1125
This issue is @rahulsinghal1904 is assigned to documentation

This issue is created from request of a contributor at discord thread.

@deepthi1107, I guess you had already been allotted to an issue. Correct me if i am wrong

@Aaksha-sharma, there are issues coming up. If you want to work on this, you can through audio / video

[2021-09-20 05:29] prathimacode-hub commented on #1126
Issue is assigned to @dev123singh for documentation.

@deepthi1107, if you haven't been assigned to any issue, put up your message in discord thread

[2021-09-20 05:30] SaHill2345 commented on #1061
/assign

[2021-09-20 05:30] SrijanShovit commented on #1093
Hello @v-rohan I would like to work on Documentation part of this issue.

[2021-09-20 05:31] VandanaKumari18 commented on #1129
/assign

[2021-09-20 05:32] Aaksha-sharma commented on #1125
yes I would like to work audio

[2021-09-20 05:32] lohith1392 commented on #1131
\assign document

[2021-09-20 05:32] deepthi1107 commented on #1126
ok @prathimacode-hub

[2021-09-20 05:33] lohith1392 commented on #1131
\assign

[2021-09-20 05:33] deepthi1107 commented on #1125
yes, I have been assigned with the issue, soonly I will do pr.

[2021-09-20 05:34] kalyanirb12 commented on #1050
I would like to contribute by documentation pls assign it to me.

[2021-09-20 05:34] Isha307 commented on #1109
@imcoza First of all this issue is already assigned and second is that you can see this issue is audio type.

[2021-09-20 05:35] divya1467 opened #1135 "Frontend: CSS: selectors and pseudoselectors"
<hr>

## Description 📜

documentation on css selectors including pseudo elements and pseudo classes.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 05:35] AdityaPandey03 commented on #1093
Hello @v-rohan, I would like to work on the documentation part of this issue

[2021-09-20 05:35] divya1467 commented on #1135
/assign

[2021-09-20 05:35] Shubhrajyoti24 opened #1136 "C/CPP - Encapsulation Documentation"
<hr>

## Description 📜

Documentation for Introduction to OOPs - Data Encapsulation concept with examples.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 05:36] aishanii commented on #431
Sure I'll go over it and get back to you!

On Sun, Sep 19, 2021, 23:12 uttarabahad ***@***.***> wrote:

[2021-09-20 05:36] AdityaPandey03 commented on #1093
\assign

[2021-09-20 05:36] Durva15 commented on #1013
@anandhu720 I want to work on this issue

[2021-09-20 05:37] Shubhrajyoti24 commented on #1136
/assign

[2021-09-20 05:38] AdityaPandey03 commented on #1049
hello @EkjotKaur , can I work on the documentation part?

[2021-09-20 05:40] Shubhrajyoti24 commented on #1128
/assign

[2021-09-20 05:42] paramsiddharth commented on #161
@7sakshi7 @anjalirai12 Please note that we already had a document contributed for this, so you may either extend it or contribute a different format. Best of luck!

[2021-09-20 05:42] ishika-1205 commented on #1131
\assign

[2021-09-20 05:42] subhradwip01 commented on #1131
/assign

[2021-09-20 05:43] prathimacode-hub opened #1137 "Data Science with Python : LightGBM Algorithm"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with LightGBM Algorithm. Tutorial to LightGBM Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you pre

[2021-09-20 05:43] kalyanirb12 commented on #699
I would like to contribute through documentation
DSA-batch 1

[2021-09-20 05:43] deeppanchani commented on #976
/assign

[2021-09-20 05:43] Vidit-Ostwal commented on #1137
Name : Vidit

[2021-09-20 05:44] subhradwip01 commented on #1131
I would like to work on the issue with documentation. Batch 18 Frontend Subhradwip Kulavi

[2021-09-20 05:46] Shubhrajyoti24 opened #1138 "C_CPP : Abstraction Documentation"
<hr>

## Description 📜

I'll provide the documentation for Data Abstraction with examples.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 05:47] Shubhrajyoti24 commented on #1138
/assign

[2021-09-20 05:54] Kanishk0412 opened #1139 "Basic Data Types in Python"
<hr>

## Description 📜

In the documentation form, I'll go over all of the data types used in Python and how to assign them.

<hr>

## Domain of Contribution 📊

- [x ] Python

<hr>

[2021-09-20 05:54] Zuber8040 commented on #1136
/assign

[2021-09-20 05:54] swathi-reddy-m commented on #1066
/assign

[2021-09-20 05:57] Zuber8040 commented on #1128
/assign

[2021-09-20 06:00] Safwan310 commented on #1049
I am already working on the documentation bro. You take audio if its available

[2021-09-20 06:01] atarax665 opened #1140 "Competitive Programming : Add basic folder structure according to the proposed roadmap"
<hr>

## Description 📜
Add basic folder structure according to the proposed roadmap for the Competitive Programming domain.

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 06:02] atarax665 commented on #1140
/assign

[2021-09-20 06:04] garvitraj opened #1143 "Improve the Readme file of Main Java Branch"
<hr>

## Description 📜

You are required to improve the readme file of the main Java Branch and Quick navigation and make it more attractive and provide adequate knowledge with that.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

[2021-09-20 06:06] BhaswatiRoy commented on #1139
/assign

[2021-09-20 06:07] BhaswatiRoy commented on #1139
/assign

[2021-09-20 06:07] imcoza commented on #1109
Sorry, I want to work on the documentation part no experience with the audio type.

[2021-09-20 06:08] itsbittoosharma commented on #1102
/assign

[2021-09-20 06:08] Bhavesh0301 commented on #1140
/assign

[2021-09-20 06:08] bindaldhara opened #1144 "Left rotate array by D places"
<hr>

## Description 📜

It rotates the position of elements in the array by D places.

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>
Documentation

[2021-09-20 06:08] bindaldhara commented on #1144
/assign

[2021-09-20 06:09] sharpsailor commented on #1105
\assign Document

[2021-09-20 06:09] BhaswatiRoy commented on #1139
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Python
Batch-3
Issue Number-
Contribution Approach-explain all the datatypes with examples and code samples of each and why we dont need to mention datatype over variable declaration

[2021-09-20 06:10] Zuber8040 commented on #1098
\assign Document

[2021-09-20 06:10] imcoza commented on #1108
Is I am assigned for this issue . If yes, then from when I need to work on this and the last date to submit.

[2021-09-20 06:10] thepranaygupta commented on #1143
/assign

[2021-09-20 06:11] UditJain77 commented on #1143
/assign

[2021-09-20 06:11] ArpitaGupta4086 commented on #1131
@Ayan-thecodeking can you please assign this to me

[2021-09-20 06:12] areenoverclouds opened #1145 "C_CPP : Linear and Binary Search Documentation"
<hr>

## Description 📜

I'll provide documentation for linear and binary searches in an array.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 06:12] #532 closed

[2021-09-20 06:13] itsbittoosharma commented on #1108
/assign

[2021-09-20 06:14] Jaideep25-tech commented on #1143
/assign

[2021-09-20 06:14] SwarnaliBhunia commented on #736
I want to take up the vedio contribution part

[2021-09-20 06:15] ritikaxx commented on #1145
/assign

[2021-09-20 06:16] areenoverclouds commented on #1145
/assign

[2021-09-20 06:16] itsbittoosharma commented on #1102
/assign

[2021-09-20 06:17] ritikaxx commented on #1145
/assign

[2021-09-20 06:17] ritikaxx commented on #1144
/assign

[2021-09-20 06:17] shashank725 commented on #31
I would like to work on this issue.

[2021-09-20 06:19] Bhavesh0301 opened #1148 "Competitive Programming : Find next greater element"
<hr>

## Description 📜

It finds the next greater element of every element in the array.
<hr>

## Domain of Contribution 📊

- [x] Competitive Programming
<hr>

[2021-09-20 06:19] PranaySanjule commented on #1128
/assign

[2021-09-20 06:20] Jaideep25-tech commented on #829
/assign

[2021-09-20 06:20] Bhavesh0301 commented on #1148
/assign

[2021-09-20 06:20] PranaySanjule commented on #1068
/assign

[2021-09-20 06:20] gliitch-pop opened #1149 "CPP : Implementation of function in C++"
<hr>

##Description 📜

Here, I want to  provide the documentation regarding the use of function in C++.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 06:21] ritikaxx commented on #1148
/assign
I will like to be assigned to this issue.

[2021-09-20 06:21] gliitch-pop commented on #1149
/assign

[2021-09-20 06:21] itsbittoosharma commented on #1103
/assign

[2021-09-20 06:21] ritikaxx commented on #1149
/assign

[2021-09-20 06:22] areenoverclouds commented on #1145
Hello, are you a mentor? Aren't we supposed to open our own issues for ourselves? :)

[2021-09-20 06:23] aniketpathak028 opened #1150 "Frontend_Web_Development_HTML_CSS_JS: AJAX"
# AJAX
---
AJAX in javascript

# Directory
---
[code]

# Description 📜
---
creating a tutorial on AJAX in Javascript for Front_End_Web_Development_HTML_CSS_JS branch and discussing the following:
- What is AJAX?
- How does AJAX Work?
- AJAX - The XMLHttpRequest Object
- Fetch API

# Domain of Contribution 📊
---

- [x] Frontend Dev (HTML, CSS, JS)

# Format
---
- [x] Documentation

[2021-09-20 06:24] ritikaxx commented on #1150
/assign

[2021-09-20 06:24] aniketpathak028 commented on #1150
/assign

[2021-09-20 06:24] PranaySanjule commented on #1051
/assign

[2021-09-20 06:25] #441 closed

[2021-09-20 06:28] nayyyhaa commented on #930
Hi @code-reaper08! I want to work on this issue in the form of a document. Kindly assign me!
Thank you :)

[2021-09-20 06:29] afridihannan commented on #1149
/assign

[2021-09-20 06:31] KartikChinda commented on #1098
@Suvraneel sir please assign this issue to me since the self assign bot isn't working. Thanks!

[2021-09-20 06:35] prathimacode-hub commented on #1137
@Vidit-Ostwal, i'm not rejecting you but as mentioned this issue was created on contributors request. To make things a bit easier, I had created a thread in discord where in you can come up with an issue you would like to work on voluntarily until new issues are created, i had also created a thread of PR notice board in discord, wherein you can give all the details asked for reviewing process so t

[2021-09-20 06:36] mayankkuthar commented on #1108
/assign

[2021-09-20 06:36] sneha-chauhan commented on #1143
/assign

[2021-09-20 06:37] krkaustubh opened #1151 "CPP: Different Searching Techniques"
<hr>

## Description 📜

Here I want to provide the documentations of different searching techniques in cpp.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 06:38] VandanaKumari18 commented on #1151
/assign

[2021-09-20 06:38] krkaustubh commented on #1151
/assign

[2021-09-20 06:39] hariketsheth opened #1152 "Competitive Programming : Backtracking"
<hr>

## Description 📜

Would like to add the documentation and coding problems related to the concept of Backtracking.
Can you please assign me for this issue?
Thanks

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] Competitive Programming
- [x] DSA
- [x] Open Source

<hr>

[2021-09-20 06:39] gliitch-pop commented on #1151
/assign

[2021-09-20 06:40] afridihannan commented on #1151
/assign

[2021-09-20 06:41] Mayank-Sh07 commented on #995
Thanks @paramsiddharth! @sushovanb02 we could connect via discord and collaborate. My username is mayank.sh#7956

[2021-09-20 06:43] mayankkuthar commented on #27
If No one is working on this issue, I would like to work on it, Please Assign it to me.

[2021-09-20 06:43] Vidit-Ostwal commented on #1137
I didn't knew it was created on contributor request,

[2021-09-20 06:44] krkaustubh opened #1154 "Competitive Programming: Aggressive Cows(Binary Search)"
<hr>

## Description 📜

Here I will solve Aggressive Cows question in which binary search is used in documentation format.

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 06:44] krkaustubh commented on #1154
/assign

[2021-09-20 06:45] g-animesh02 commented on #1060
/assign

[2021-09-20 06:46] mayankkuthar commented on #31
@kunal-kumar-chaudhary Please Attach your pull request to the issue.

[2021-09-20 06:47] Pranavanbu28 commented on #1135
/assign

[2021-09-20 06:48] preeti-14-7 commented on #1135
/assign

[2021-09-20 06:50] Aaksha-sharma commented on #1139
I want to contribute through Audio in this issue

[2021-09-20 06:50] sumitaccess007 commented on #1143
\assign

[2021-09-20 06:50] sumitaccess007 commented on #1143
\assign Video

[2021-09-20 06:50] #94 closed

[2021-09-20 06:52] Anant1711 commented on #95
@shubhdholakiya I didn't get any response from your side!
Are you ready with your `Video`?

[2021-09-20 06:53] Anant1711 commented on #736
Okay,
I'm assigning this task to you!

[2021-09-20 06:55] sushovanb02 opened #1155 "Frontend_Web_Development_HTML_CSS_JS: The DOM"
# The DOM
DOM in JavaScript
<hr>

# Directory
```Frontend_Web_Development_HTML_CSS_JS/Web_Development/Javascript/7.The DOM```
## Description 📜

Creating a tutorial on DOM in Javascript for Front_End_Web_Development_HTML_CSS_JS branch and discussing the following:
- What is the DOM?
- The DOM tree structure
- Accessing the DOM
- DOM Methods
- What is Document Object?

<hr>

## Domain of Contributio

[2021-09-20 06:55] sumitaccess007 opened #1156 "Java 3.1: Primitive Data Types - Integers"
<hr>

## Description 📜
Primitive Data Types - Integers

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

[2021-09-20 06:55] sumitaccess007 commented on #1156
\assign Video

[2021-09-20 06:56] sushovanb02 commented on #1155
/assign

[2021-09-20 06:56] harichandana1406 commented on #1067
/assign

[2021-09-20 06:56] sumitaccess007 commented on #1156
\assign

[2021-09-20 06:57] sushovanb02 commented on #1155
@praveenscience sir, I have created this issue. Please assign me this as the bot is not working.

[2021-09-20 06:57] aniketpathak028 commented on #1150
@praveenscience I have created this issue but am unable to get assigned using the bot, please assign me this issue.
Thanks

[2021-09-20 06:58] sushovanb02 commented on #1155
and also kindly attach the Frontend label

[2021-09-20 07:02] Pranavanbu28 opened #1158 "CSS values and units"
<hr>

## Description 📜

This documentation will contain information about units in css.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 07:02] Pranavanbu28 commented on #1158
/assign

[2021-09-20 07:02] shivangdubey commented on #348
Do add the resources in the Resource folder.

[2021-09-20 07:03] Pranavanbu28 commented on #1158
@code-reaper08 can you assign this issue to me I'll make a documentation regarding the units in css

[2021-09-20 07:03] shivangdubey commented on #389
@khush2706 any updates?

[2021-09-20 07:04] adityaraj079 opened #1159 "C_CPP : Vectors in C++ Standard Template Library (STL)"
<hr>

## Description 📜

This documentation will explain vectors of STL in C++

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [x] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React,

[2021-09-20 07:04] adityaraj079 commented on #1159
/assign

[2021-09-20 07:06] amitrakshar01 opened #1160 "Machine Learning: Optimization Problems"
<hr>

## Description 📜

What is an Optimization Problem and how to approach it using Mahcine Learning with exampple?

<hr>

## Domain of Contribution 📊

- [x] Machine Learning

<hr>

## Type of contribution

 - [ ] Documentation

[2021-09-20 07:06] ritikaxx commented on #1159
/assign

[2021-09-20 07:06] souvikrajsingh commented on #1107
/assign documentation

[2021-09-20 07:06] Rohit-2602 commented on #1060
yes, you can start working on this @g-animesh02

[2021-09-20 07:07] souvikrajsingh commented on #1106
\assign Documentation

[2021-09-20 07:08] souvikrajsingh commented on #1107
\assign Documentation

[2021-09-20 07:08] shivangdubey commented on #426
@JRManasa any updates on the documentation?

[2021-09-20 07:10] Mukta-Sawant commented on #184
Hey @Debasmita-01  I would like to work on this issue. I'll be making documentation. Kindly assign it to me.
Plugin Name : Remove BG

[2021-09-20 07:13] AbhishekBhatt072003 commented on #1156
\assign documentation

[2021-09-20 07:13] souvikrajsingh commented on #1156
\assign Documentation

[2021-09-20 07:15] Rohit-2602 commented on #1071
@SB2318 you can start working on it. and change the issue title to
"Android-Java 3.3: EventListener in Android"

[2021-09-20 07:19] palakshivlani-11 commented on #1154
assign

[2021-09-20 07:19] palakshivlani-11 commented on #1152
assign

[2021-09-20 07:19] aishanii commented on #431
Hey Uttara, I checked the contributors list and found that you're in Batch
10. I suggest you to reach out to the Mentor alloted to your batch (Ishika
Kesarwani) for reviews.

On Mon, Sep 20, 2021, 11:06 Aishani Singh ***@***.***>
wrote:

[2021-09-20 07:20] palakshivlani-11 commented on #1148
can u please assign this issue to me

[2021-09-20 07:20] soma-v commented on #87
can I contribute in documentation?

[2021-09-20 07:22] JRManasa commented on #426
Hello sir,
kindly guide on how to send m updates please?
Should I send my .ipynb file or just explain what I have done till now ?
Also should I send my updates on discord or here sir ?

[2021-09-20 07:22] soma-v commented on #93
can I contribute in this?

[2021-09-20 07:23] hariketsheth opened #1164 "Competitive Programming : Disjoint Set Union"
<hr>

## Description 📜

Would like to add the documentation for Disjoint Set Union (Trees - Data Structures)
Can you please assign me for this issue?
Thanks

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] Competitive Programming
- [x] DSA
- [x] Open Source

<hr>

[2021-09-20 07:23] kajaljha09 opened #1165 "HTML Iframes"
<hr>

### HTML IFrames 📜
I would like to contribute in the documentation part of HTML iframes with explanations and examples of how to use it .

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 07:24] kajaljha09 commented on #1165
/assign

[2021-09-20 07:27] siddhi-244 opened #1167 "DSA : Arrays : Sort an array of 012"
<hr>

## Description 📜

Sort an array of 012
<hr>

## Domain of Contribution 📊

- [x] DSA
<hr>

[2021-09-20 07:27] siddhi-244 commented on #1167
/assign

[2021-09-20 07:28] siddhi-244 commented on #1167
Siddhi Bhanushali
DSA BATCH 1
DOCUMENTATION

[2021-09-20 07:28] amankumar11 commented on #1029
/assign

[2021-09-20 07:28] aritrabanerjee11 commented on #1068
/assign

[2021-09-20 07:29] prathimacode-hub commented on #1137
That's Ok, just letting you know of things how it's flowing. @Vidit-Ostwal

[2021-09-20 07:29] amankumar11 commented on #1029
@code-reaper08 I am interested in this issue can you please allot this to me

[2021-09-20 07:30] thepranaygupta commented on #1167
/assign Document

[2021-09-20 07:31] am-dusky commented on #1098
@KartikChinda  You can check issue number 960. It is on break and continue in C/CPP and had been already assigned to me

[2021-09-20 07:31] cenacrharsh commented on #1095
/assign
I will contribute in form of documentation.
Batch-3 DSA

[2021-09-20 07:32] subhradwip01 commented on #1165
/assign

[2021-09-20 07:33] amankumar11 commented on #219
I would like to contribute to the documentation part. Can you pls assign this issue to me?

[2021-09-20 07:34] ritikaxx commented on #1167
/assign

[2021-09-20 07:35] ritikaxx commented on #1165
/assign

[2021-09-20 07:35] amankumar11 commented on #1155
I can write some example code for this part using HTML,CSS and JS.

[2021-09-20 07:36] ShikhaSwati60 commented on #1156
/assign Documentation

[2021-09-20 07:39] prathimacode-hub commented on #732
@Praannjaal, for documentation, its already assigned

[2021-09-20 07:39] SaranAgarwal commented on #1131
/assign documentation

[2021-09-20 07:40] ritikaxx opened #1170 "DSA: Median of 2 Sorted Arrays"
<hr>

## Description 📜

Median of 2 sorted Arrays  of different sizes, using an optimized strategy (Documentation + Code)

<hr>

## Domain of Contribution 📊

- [ ] DSA

<hr>

[2021-09-20 07:40] ritikaxx commented on #1170
/assign

[2021-09-20 07:40] Rohit570git-hub commented on #1156
\assign document

[2021-09-20 07:41] prathimacode-hub commented on #735
@m0hit-kumar, issue is assigned to documentation, video. If you are ok, you can take audio.

[2021-09-20 07:42] vikhyatsingh123 opened #1171 "1.1.4.2 Arrays: Order Statistics"
Contribution can be in the forms of

[2021-09-20 07:43] soma-v commented on #184
can I make documentation for material design and autoflow?

[2021-09-20 07:45] cenacrharsh commented on #1057
/assign
I will work on documentation
Batch-5 Frontend with HTML and CSS

[2021-09-20 07:47] prathimacode-hub commented on #767
Ok, but tell the approach - what's the outline of the topic you are going to cover @Sakshi21112003

[2021-09-20 07:47] m0hit-kumar commented on #735
i want to contribute only for documentation, if its already assigned why there is a label of documentation.

[2021-09-20 07:47] ritikaxx commented on #1171
/assign

[2021-09-20 07:49] cenacrharsh opened #1173 "React - Deploying a React App to GitHub Pages"
<hr>

## Description 📜

How to deploy a React app created using create-react-app on GitHub Pages.

<hr>

## Domain of Contribution 📊

- [ ] Frontend Dev (React, Angular, Vue)
<hr>

[2021-09-20 07:50] #1170 closed

[2021-09-20 07:51] ritikaxx commented on #1173
/assign

[2021-09-20 07:51] Sakshi21112003 commented on #869
/assign

[2021-09-20 07:51] cenacrharsh commented on #1173
I have opened this issue, I would like to work on this using documentation.
Please assign this to me, and add the labels.

[2021-09-20 07:52] uttarabahad commented on #431
@aishanii Ok, thank you.

[2021-09-20 07:56] AkMo3 commented on #1156
Issue creation by contributor not allowed. This will be closed.

[2021-09-20 07:56] #1156 closed

[2021-09-20 07:56] m0hit-kumar commented on #1067
I want to contribute to this issue :
Name-Mohit Kumar
Domain-Data Science with Python
Batch-4
Issue Number- 1067
Contribution Approaches-
Import Libraries and image
Convert to Grey Image.
apply different methods to Invert Image
blurring effects
inverted blur image

[2021-09-20 07:57] AdityaPandey03 commented on #1173
Hello @cenacrharsh,  I would like to work on the documentation part of this issue

[2021-09-20 07:57] AdityaPandey03 commented on #1173
/assign

[2021-09-20 07:58] Madhuranaik21 commented on #1171
\assign documentation

[2021-09-20 07:59] cenacrharsh commented on #1173
Actually I am a contributor as well, I opened this issue to work on it, and currently waiting for it to get assigned to me

You can talk with mentors and work on audio or video part, since I will be working on the documentation part.

[2021-09-20 08:00] m0hit-kumar commented on #1126
I want to contribute to this issue :
Name-Mohit Kumar
Domain-Data Science with Python
Batch-4
Issue Number- 1126
Contribution Approaches-
what is a decision tree,
how to make a Decision Tree approach.
how to tune for better results.

[2021-09-20 08:01] geeythree commented on #590
@guptapriya-83900 Sure, no problem. Take care

[2021-09-20 08:02] simran2104 commented on #1139
I want to contribute to this issue :
Python Batch-1
Contribution Approach- Explain Each data Type with sample code and how to use them, their memory sizes, which to use and when.

[2021-09-20 08:02] Varun270 commented on #400
Sorry, I wasn't online at that time, Tell me whenever you are free I will join it at that time.

[2021-09-20 08:03] priyapahwa opened #1174 "Grid vs Flex"
<hr>

## Description 📜

Documentation on Grid vs Flex in CSS.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 08:04] priyapahwa commented on #1174
/assign

[2021-09-20 08:05] SouravKr2001 commented on #1145
I am interested to contribute documentation part plz assign it to me

[2021-09-20 08:06] priyapahwa commented on #1174
/assign

[2021-09-20 08:07] SouravKr2001 commented on #1138
I am interested in contributing plz assign it to me(documentation)

[2021-09-20 08:08] eshan1925 commented on #685
Hey @Aryamanz29 please merge the PR if there is no issue.
Completed two of the assigned tasks.

[2021-09-20 08:08] AdityaPandey03 commented on #1173
oh okay harsh

[2021-09-20 08:08] m0hit-kumar commented on #1137
I want to contribute to this issue :
Name-Mohit Kumar
Domain-Data Science with Python
Batch-4
Issue Number-1137
Contribution Approaches-
What is Light GBM
Advantages of Light GBM
Important parameters of Light GBM
Light GBM vs XGBOOST
Tuning parameters of Light GBM for better performance

[2021-09-20 08:09] SouravKr2001 commented on #987
I am interested please assign it to me(documentation)

[2021-09-20 08:09] aishanii commented on #431
Hey sorry, your issue number has been allotted to me only. I will review it
and get back to you.

On Mon, Sep 20, 2021, 13:22 uttarabahad ***@***.***> wrote:

[2021-09-20 08:10] SouravKr2001 commented on #952
I am interested (documentation)

[2021-09-20 08:12] Neha7703 opened #1175 "Frontend Dev (HTML, CSS, JS): HTML Lists"
<hr>

## Description 📜

I would like to make a documentation on HTML Lists, covering all the information related to lists such as types of lists, list tags, etc. and will provide code snippets.

<hr>

## Domain of Contribution 📊

- [ ] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 08:12] Neha7703 commented on #1175
/assign

[2021-09-20 08:15] ravireddy07 opened #1176 "Competitive_Programming: Introduction to Competitive Programming and a Starter Guide for beginners"
<hr>

## Description 📜

I would like to write a documentation to beginner of Competitive Programming and how to get started.
I'll be discussing following points:

1. Choose language
2. Regarding Problem statements
3. making solutions/algorithms
4. Complexity
5. Practice resources and Platforms

Would be great if anyone can add few more points to be listed/discussed.

<hr>

## Domain of Contributio

[2021-09-20 08:16] ravireddy07 commented on #1176
/assign

[2021-09-20 08:18] SammriddhGupta commented on #1057
/assign

[2021-09-20 08:19] KartikChinda commented on #1098
@am-dusky my bad, I did search the issue up before creating this and for some reason it didn't show your issue. I'll close this up!

[2021-09-20 08:19] #1098 closed

[2021-09-20 08:19] Rohit570git-hub opened #1178 "What to Learn to get started with Android App Development with java"
<hr>

## Description 📜

Technology and language to learn beforehand or along with app development.
Basically, it will be the roadmap to help beginners starting with android app development with java .
<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

[2021-09-20 08:21] vkaash-sharma commented on #1167
/assign

[2021-09-20 08:21] vkaash-sharma commented on #1159
/assign

[2021-09-20 08:21] KartikChinda commented on #1175
Hey @Neha7703 , this issue has already been created and assigned to me. A good practice would be to search the issue before contributing. Cheers!

[2021-09-20 08:21] vkaash-sharma commented on #1149
/assign

[2021-09-20 08:22] vkaash-sharma commented on #1136
/assign

[2021-09-20 08:25] Neha7703 commented on #1175
Kindly check the general channel for Frontend Dev. It is already mentioned there by @code-reaper08 sir that multiple persons can work on a single topic as there are many students and the topics are less. Almost all the issues have already been created and assigned.

[2021-09-20 08:28] Rohit570git-hub commented on #1178
I want to work on this issue, through documentation,
In Android Dev branch

[2021-09-20 08:32] hariketsheth opened #1183 "Competitive Programming : Stacks, Queues and Arrays"
<hr>

## Description 📜

Would like to add the codes for Implementation and Concepts (Stacks, Queues and Arrays - Data Structures)
Can you please assign me for this issue?
Thanks

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] Competitive Programming
- [x] DSA
- [x] Open Source

<hr>

[2021-09-20 08:32] Srishty11760 opened #1184 "Frontend Dev(HTML, CSS, JS): HTML Tables"
<hr>

## Description 📜

I would like to make documentation on HTML tables, covering all the information related to tables .

<hr>

## Domain of Contribution 📊

- [ ] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 08:32] Srishty11760 commented on #1184
/assign

[2021-09-20 08:35] Pradumnasaraf opened #1187 "Android-Java: 2.6 Radio Buttons In Android Studio"
<hr>

## Description 📜

* What are Radio Buttons.
* How to use Radio Buttons.
* How they are different from Check Box

<hr>

## Domain of Contribution 📊
- [x] Android Dev (Flutter, Java, Kotlin)
<hr>

[2021-09-20 08:37] Pradumnasaraf commented on #1187
/assign

[2021-09-20 08:38] Pradumnasaraf commented on #1187
@Rohit-2602 @VikasPandey121

[2021-09-20 08:40] abhisheks008 commented on #1115
@deepthi1107 Issue assigned.

[2021-09-20 08:40] Shobhana-stack commented on #1151
/assign

[2021-09-20 08:40] VandanaKumari18 commented on #1183
/assign

[2021-09-20 08:42] shivangdubey commented on #426
Just let us know about what progress you made on this issue and is there problem you are facing. Choose any platform.

[2021-09-20 08:42] #453 closed

[2021-09-20 08:42] ChetasShree opened #1189 "Competitive Programming : : Two Pointers Technique (Documentation)"
<hr>

## Description 📜

I want to create documentation explaining two pointers technique with code examples.

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 08:43] ChetasShree commented on #1189
/assign

[2021-09-20 08:44] abhisheks008 commented on #875
@mohitmishra786 You have been assigned to an issue previously, complete that first and merge the PR. Why are you creating issues?

[2021-09-20 08:44] hariketsheth commented on #1183
/assign

[2021-09-20 08:44] 95ruchika opened #1190 "HTML semantics"
<hr>

## Description 📜

I will give a brief description about this topic through documentation

<hr>

## Domain of Contribution 📊

- [x ] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 08:45] #875 closed

[2021-09-20 08:45] hariketsheth commented on #1164
/assign

[2021-09-20 08:46] 95ruchika commented on #1190
/assign

[2021-09-20 08:46] ipsita836 opened #1191 "HTML Entities"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ x ] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 08:46] hariketsheth commented on #1152
/assign

[2021-09-20 08:47] imcoza commented on #1108
thanks for telling me

[2021-09-20 08:47] ipsita836 commented on #1191
/assign

[2021-09-20 08:47] imcoza commented on #1108
/assign

[2021-09-20 08:47] ChetasShree opened #1192 "Competitive Programming : : Bubble Sort (Documentation)"
<hr>

## Description 📜

I want to create documentation explaining Bubble Sort with code examples.

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>
/assign

[2021-09-20 08:47] ipsita836 commented on #1191
@code-reaper08 please assign this issue to me

[2021-09-20 08:48] #1124 closed

[2021-09-20 08:48] deepthi1107 commented on #347
Hello mam, I have don PR. Please do evaluate @prathimacode-hub

[2021-09-20 08:49] Rohit-2602 commented on #1187
yes, you can start working on it

[2021-09-20 08:49] 95ruchika commented on #1190
@code-reaper08  can you assign this issue to me, I will make a documentation in this topic html semantics.

[2021-09-20 08:51] Pratyaksha-047 commented on #608
Hey I'd like to take this issue for contribution.
Name- Pratyaksha Gupta
Type- Audio
Github-https://github.com/Pratyaksha-047

[2021-09-20 08:52] Vidit-Ostwal opened #1194 "Competitive Programming : Leetcode Question"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-20 08:52] itsbittoosharma commented on #638
@Aryamanz29 Please close this issue, as my PR is already merged, so that I could take another issue :)

[2021-09-20 08:53] itsbittoosharma commented on #800
@Muskan-creator ?? Please let me know so that I could make a PR

[2021-09-20 08:53] Sakalya100 commented on #517
Hello @rahulsain I want to work on this issue.
Batch- 3 Android with Kotlin
Serial Number- 81

[2021-09-20 08:54] amankumar11 commented on #987
I have completed the documentation part and merged the pull request if any addition is asked to make we can by the mentor we can do it together @SouravKr2001

[2021-09-20 08:54] m0hit-kumar commented on #382
I want to contribute to this issue :
Name-Mohit Kumar
Domain-Data Science with Python
Batch-4
Issue Number- 831
Contribution Approaches-
what is Data Visualizations
what it's used for
Data Visualizations with Seaborn
various techniques and intuition from visualization we can make

[2021-09-20 08:54] Vidit-Ostwal opened #1195 "Competitive Programming : Leetcode Question (Integer to English Words)"
<hr>

## Description 📜

Solving leetcode Question (Integer to English Words)
Difficulty :Hard
Link : https://leetcode.com/problems/integer-to-english-words/

Would be explaining the approach with code in C++
## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 08:55] Vidit-Ostwal commented on #1195
/assign

[2021-09-20 08:55] abhisheks008 commented on #1115
@deepthi1107 Complete your previous issue first and then only you'll be eligible to take up another issue.

[2021-09-20 08:55] #1194 closed

[2021-09-20 08:56] abhisheks008 commented on #608
@Pratyaksha-047 issue assigned.

[2021-09-20 08:56] Pradumnasaraf commented on #1187
Thank you

[2021-09-20 08:57] v-rohan commented on #1093
@SrijanShovit @AdityaPandey03 @AdityaPandey03

If assigned to all three can you collaborate and make the respective video presentation together as well?

[2021-09-20 09:02] garvitraj opened #1196 "Java 2.1: Byte Code"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Bytecode**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Bytecode` folder which is inside the `Fundamental` present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format

[2021-09-20 09:03] Amrita-Mukherjee commented on #1196
/assign

[2021-09-20 09:03] AbhinandanAdhikari commented on #1196
/assign Document

[2021-09-20 09:04] Amrita-Mukherjee commented on #1196
\assign Document

[2021-09-20 09:04] garvitraj opened #1198 "Java 2.2: OPPs Principal"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **OPPs Principal**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `OPPs Principal` folder which is inside the `Fundamental` present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.

[2021-09-20 09:04] amitx007 commented on #1198
\assign Document

[2021-09-20 09:05] lohith1392 commented on #1191
/assign documentation

[2021-09-20 09:05] Binita-tech commented on #1198
\assign Document & Audio

[2021-09-20 09:05] Amrita-Mukherjee commented on #1198
\assign Document

[2021-09-20 09:06] garvitraj opened #1199 "Java 2.3:"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Blocks and lexicals**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Blocks and lexicals` folder which is inside the `Fundamental` folder present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audi

[2021-09-20 09:06] anuragIsingh opened #1200 "Fundamentals Of OOP"
<hr>

## I have introduced what exactly OOP's is and features included in it .

<ol>
<li>Defination of OOP's</li>
<li>Features of OOP's</li>
<li>Concepts related to OOP's</li>

</ol>

<hr>

## Domain of Contribution 📊

- [x] C/CPP
<hr>

[2021-09-20 09:06] adityaraj079 opened #1201 "Flutter: Basic Views and Viewgroups"
<hr>

## Description 📜

One is supposed to add documentation on-

Basic Views and Viewgroups

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Fronte

[2021-09-20 09:06] anuragIsingh commented on #1200
/assign

[2021-09-20 09:06] swayam107 commented on #1199
\assign Document

[2021-09-20 09:06] adityaraj079 commented on #1201
/assign

[2021-09-20 09:07] Binita-tech commented on #1198
\assign Audio & Video

[2021-09-20 09:07] UditJain77 commented on #1199
/assign Document

[2021-09-20 09:07] Gagarod commented on #1196
\assign documentation

[2021-09-20 09:08] garvitraj commented on #1196
@AbhinandanAdhikari  go with the Documentation

[2021-09-20 09:08] Parth-001-git commented on #1159
/assign

[2021-09-20 09:09] Binita-tech commented on #1196
/assign Audio

[2021-09-20 09:09] garvitraj commented on #1198
@amitx007 go with documentation

[2021-09-20 09:09] garvitraj commented on #1198
@Binita-tech go with audio

[2021-09-20 09:10] Parth-001-git commented on #1149
/assign

[2021-09-20 09:10] Parth-001-git commented on #1128
/assign

[2021-09-20 09:11] Parth-001-git commented on #1047
/assign

[2021-09-20 09:11] garvitraj commented on #1199
@swayam107 go with the documentation

[2021-09-20 09:12] garvitraj commented on #1196
@Binita-tech go with the audio

[2021-09-20 09:13] adityabisoi commented on #1139
The topic has already been covered.

[2021-09-20 09:13] #1139 closed

[2021-09-20 09:13] garvitraj commented on #1196
@Binita-tech pls go with one issue at a time

[2021-09-20 09:14] kritika2311 commented on #74
Created my pull request for this issue please verify it @VikasPandey121 sir.
Link - https://github.com/girlscript/winter-of-contributing/pull/1205#issue-737388119

[2021-09-20 09:14] DhruvBajaj01 commented on #348
I will be mentoring and reviewing this issue

[2021-09-20 09:15] DebadritaGhosh02 opened #1206 "Frontend With Framework - React Hooks"
<hr>

## Description 📜

I will describe(documentation including code) different Hooks and their use.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [x

[2021-09-20 09:16] #1200 closed

[2021-09-20 09:16] DebadritaGhosh02 commented on #1206
/assign

[2021-09-20 09:16] vkaash-sharma commented on #1190
/assign

[2021-09-20 09:17] asppanda12 commented on #1029
please assign it to me.
/assign

[2021-09-20 09:18] #1206 closed

[2021-09-20 09:18] adityabisoi commented on #46
@prathimacode-hub Is the mentor of this issue.

[2021-09-20 09:18] Ayushi2811 commented on #1195
/assign

[2021-09-20 09:19] Ayushi2811 commented on #1192
/assign

[2021-09-20 09:20] DebadritaGhosh opened #1208 "Frontend With Framework - React Hooks"
<hr>

## Description 📜

I will describe(documentation including code) different Hooks and their use.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [x

[2021-09-20 09:20] Ayushi2811 commented on #1164
/assign

[2021-09-20 09:20] adityabisoi commented on #47
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:20] adityabisoi commented on #48
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:20] adityabisoi commented on #76
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:20] DebadritaGhosh commented on #1208
/assign

[2021-09-20 09:20] adityabisoi commented on #77
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:20] adityabisoi commented on #78
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:20] adityabisoi commented on #79
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:20] adityabisoi commented on #206
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:20] adityabisoi commented on #223
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:21] adityabisoi commented on #245
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:21] adityabisoi commented on #249
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:21] adityabisoi commented on #338
@prathimacode-hub Is the mentor of this issue. Please reach out to her incase of any queries.

[2021-09-20 09:21] Binita-tech commented on #1196
Ok

[2021-09-20 09:22] adityabisoi commented on #339
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #340
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #412
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #477
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #548
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #549
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #550
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #551
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #552
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #554
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #556
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:23] adityabisoi commented on #557
@ankurg132 Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:24] UditJain77 commented on #1199
\assign audio

[2021-09-20 09:24] adityabisoi commented on #559
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:25] AdityaPandey03 commented on #1093
I am not so comfortable in carrying out the video presentation...would like to take up the documentation part

[2021-09-20 09:26] adityabisoi commented on #561
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:26] adityabisoi commented on #562
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:26] adityabisoi commented on #563
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:26] adityabisoi commented on #564
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:26] adityabisoi commented on #565
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:26] adityabisoi commented on #566
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:26] adityabisoi commented on #567
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:26] adityabisoi commented on #568
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:26] adityabisoi commented on #569
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:27] adityabisoi commented on #570
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:27] adityabisoi commented on #571
@kumarankm Is the mentor of this issue. Please reach out to him in case of queries.

[2021-09-20 09:27] AnantDuhan commented on #1208
I would love to contribute in React Hooks

[2021-09-20 09:28] adityabisoi commented on #572
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #573
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #574
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #575
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #576
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #577
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #578
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #579
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #598
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #713
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:28] adityabisoi commented on #971
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:29] adityabisoi commented on #1087
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:29] adityabisoi commented on #1096
@Randrita Is the mentor for this issue. Please reach out to her in case of queries.

[2021-09-20 09:29] AnantDuhan commented on #1174
Please assign me this issue

[2021-09-20 09:31] veerviren commented on #1111
/assign

[2021-09-20 09:31] ayushikulshreshta30 commented on #1076
Hello, I would like to document this issue.

[2021-09-20 09:32] veerviren commented on #1111
issue was not assigned

[2021-09-20 09:32] #1111 closed

[2021-09-20 09:36] SrijanShovit commented on #1093
Sorry ,but same case with me. I can do the documentation part but not comfortable with video presentation.

[2021-09-20 09:36] ayushikulshreshta30 commented on #1066
Hello, I am Ayushi Kulshrestha a Gwoc Contributor and I'd like to contribute to this issue.

[2021-09-20 09:37] ravireddy07 commented on #1176
@Rishabh510  Assign this to me

[2021-09-20 09:38] GyaniRoman23 commented on #1093
@v-rohan I did the first comment and if the first come first serve rule is being followed here, I request you to please take me into consideration with the documentation part of the issue.

[2021-09-20 09:39] palakshivlani-11 commented on #1171
\assign documentation

[2021-09-20 09:39] ayushikulshreshta30 opened #1213 "Hello, I am Ayushi Kulshrestha (GWOC Contributor) and I'd like to provide documentation for this"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-20 09:39] palakshivlani-11 commented on #1167
\assign documentation

[2021-09-20 09:41] swarajdhore commented on #1190
/assign

[2021-09-20 09:42] ayushikulshreshta30 commented on #1080
/assign

[2021-09-20 09:44] ayushikulshreshta30 commented on #1072
Hello, I am Ayushi Kulshrestha.I'd like to document this. Please /assign me this issue.

[2021-09-20 09:44] braveheartdata opened #1214 "Frontend Dev (HTML, CSS, JS): CSS Positionings"
<hr>

## Description 📜
I would like to make documentation on CSS Static, Relative, and Absolute Positioning.
I would provide theory related to it along with some examples

<hr>

## Domain of Contribution 📊

Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 09:44] ayushikulshreshta30 commented on #1074
Hello @micepram ,
I'd like to document this issue. Please /assign me this issue.

[2021-09-20 09:44] Subhrato20 commented on #1214
/assign

[2021-09-20 09:45] ravireddy07 commented on #1064
I would like to work on this

[2021-09-20 09:45] lohith1392 commented on #1214
/assign documentation

[2021-09-20 09:45] Kareem-negm commented on #437
Hello, the mentor here for any help

[2021-09-20 09:45] #1208 closed

[2021-09-20 09:46] Kareem-negm commented on #735
Hello, the mentor here for any help

[2021-09-20 09:46] Kareem-negm commented on #1027
Hello, the mentor here for any help

[2021-09-20 09:47] Kareem-negm commented on #1126
Hello, the mentor here for any help

[2021-09-20 09:47] rachita11 commented on #731
Name - C. Rachita
serial number: 767
Contribution type: Documentation
Approach: Theory explanation, code snippets and visualization.

[2021-09-20 09:47] Kareem-negm commented on #432
Hello, the mentor here for any help

[2021-09-20 09:47] anandhu720 commented on #1173
guys plese dont open issues by your self,it will create unnecessary chaos.

[2021-09-20 09:47] #1173 closed

[2021-09-20 09:48] ayushjha952 commented on #996
@manjeetdhayal can you assign this issue to me.
I would like to work on the documentation part.
Ayush Jha
Batch - 3

[2021-09-20 09:48] ayushjha952 commented on #996
/assign

[2021-09-20 09:50] areenoverclouds opened #1217 "Competitive Programming : : Sliding window maximum (documentation)"
<hr>

## Description 📜

I would like to provide documentation about the Sliding window maximum problem.

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 09:50] Kareem-negm commented on #428
Hello @prathimacode-hub  , Please put me up as an Assignees

[2021-09-20 09:51] #750 closed

[2021-09-20 09:51] Kareem-negm commented on #423
why this issue has been closed @prathimacode-hub

[2021-09-20 09:51] Ayushi2811 commented on #1217
/assign

[2021-09-20 09:51] areenoverclouds commented on #1217
/assign

[2021-09-20 09:52] Kareem-negm commented on #417
Hello @prathimacode-hub  , Please put me up as an Assignees

[2021-09-20 09:52] Kareem-negm commented on #416
Hello @prathimacode-hub  , Please put me up as an Assignees

[2021-09-20 09:52] Kareem-negm commented on #414
Hello @prathimacode-hub  , Please put me up as an Assignees

[2021-09-20 09:52] Kareem-negm commented on #407
Hello @prathimacode-hub  , Please put me up as an Assignees

[2021-09-20 09:52] Kareem-negm commented on #397
Hello @prathimacode-hub  , Please put me up as an Assignees

[2021-09-20 09:53] Kareem-negm commented on #396
Hello @prathimacode-hub  , Please put me up as an Assignees

[2021-09-20 09:54] RaghavvGupta commented on #300
Hey, I'm so sorry, actually since I'm a beginner I was having trouble using github :'((
But I have created a PR, pls review and tell where I can improve 😃
PS-Thanks for assigning ^_^

[2021-09-20 10:05] VAISHNAVI0715 commented on #996
@manjeetdhayal can you assign this issue to me.
I would like to work on the documentation part.
vaishnavi
Batch - 4

[2021-09-20 10:05] VAISHNAVI0715 commented on #996
/assign

[2021-09-20 10:14] Aryan-Mohanty commented on #1167
can i work on this issue?

[2021-09-20 10:14] Pooja-Goyal-1 commented on #518
I would like to work on this issue. Can someone assign me?

[2021-09-20 10:19] ErzaTitania-2001 commented on #1217
Assigned to @areenoverclouds

[2021-09-20 10:22] kalyanirb12 commented on #971
kalyani rajebhosale
batch 6 python
documentation

[2021-09-20 10:24] kalyanirb12 commented on #574
I would like to contribute
python batch 6
documentation

[2021-09-20 10:24] Srishty11760 commented on #1184
@code-reaper08  please assign this issue to me.

[2021-09-20 10:25] Arjun2905 commented on #1199
\assign audio or video to me.

[2021-09-20 10:27] deepthi1107 commented on #1125
Hello, I am Deepthi M with serial number:172. I would like work on this issue.
a detailed explanation of code dealing with dataset.

[2021-09-20 10:27] PVenkatArvind commented on #1198
\assign Video

[2021-09-20 10:28] onlykingKD opened #1221 "Box Sizing Models CSS"
<hr>

## Description 📜

I want to create documentation on box sizing models HTML/CSS

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 10:28] veerviren opened #1222 "Traversing in a Linked List"
<hr>

## Description 📜

<hr>Hii everyone myself VIREN VARIYA , I try to explained how to traversing in a linked list in best way with description and sample code too , hope u will like it !!

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 10:28] onlykingKD commented on #1221
/assign

[2021-09-20 10:28] Pranav120602 commented on #1196
\assign Video

[2021-09-20 10:28] veerviren commented on #1222
/assign

[2021-09-20 10:29] Samhitha-Jasti opened #1223 "Binary Search Tree"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 10:30] veerviren commented on #1222
/assign

[2021-09-20 10:31] Purvibhoyar commented on #47
@prathimacode-hub
I have submitted my documentation .
Please review
THANK YOU

[2021-09-20 10:31] tjanhvi commented on #1067
As i already told to assign me
Please assign me asi already started on working on it

[2021-09-20 10:32] nayakaj commented on #551
@ankurg132
https://github.com/girlscript/winter-of-contributing/pull/781
plz look into my issue

@ankurg132

[2021-09-20 10:32] pranshukas opened #1224 "Competitive Programming : Edit Distance Problem Dynamic Programming (Documentation + Code)"
<hr>

## Description 📜

Edit Distance Problem Dynamic Programming (Documentation + Code)

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 10:32] Pranav120602 commented on #1222
/assign Documentation

[2021-09-20 10:33] #1222 closed

[2021-09-20 10:33] PVenkatArvind commented on #1190
/assign

[2021-09-20 10:33] pranshukas commented on #1224
/assign

[2021-09-20 10:33] Samhitha-Jasti commented on #1223
/assign

[2021-09-20 10:33] PVenkatArvind commented on #1184
/assign

[2021-09-20 10:34] PVenkatArvind commented on #1191
/assign

[2021-09-20 10:35] veerviren opened #1226 "Traversing in a Linked List"
<hr>

## Description 📜

<hr>Hii everyone myself VIREN VARIYA , I try to explained how to traversing in a linked list in best way with description and sample code too , hope u will like it !!

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 10:35] veerviren commented on #1226
/ assign Documentation

[2021-09-20 10:35] subhradwip01 commented on #1198
\assign video

[2021-09-20 10:36] veerviren commented on #1226
/assign Documentation

[2021-09-20 10:37] preetvadaliya commented on #1226
I want to work on this issue

[2021-09-20 10:37] veerviren commented on #1226
ok fine

[2021-09-20 10:37] preetvadaliya commented on #1226
Please assign it to me

[2021-09-20 10:38] veerviren commented on #1226
but bot is not assign this to me also

[2021-09-20 10:38] sangeetasingh17 commented on #572
sure, thankyou @adityabisoi

[2021-09-20 10:39] veerviren commented on #1226
@preetvadaliya i am closing this

[2021-09-20 10:39] veerviren commented on #1226
/ assign Documentation

[2021-09-20 10:41] veerviren commented on #1223
/assign

[2021-09-20 10:41] subhradwip01 opened #1227 "CSS Flexbox"
<hr>

## Description 📜

I want to make documentation on CSS Flexbox like what is flexbox, basic properties of flexbox, and some examples of code.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience w

[2021-09-20 10:42] veerviren commented on #1226
@preetvadaliya  this is my issue u can create your own if u want

[2021-09-20 10:42] subhradwip01 commented on #1227
/assign

[2021-09-20 10:42] VAISHNAVI0715 commented on #1221
/assign

[2021-09-20 10:43] ChetasShree opened #1229 "Competitive Programming : : Bubble Sort (Documentation)"
<hr>

## Description 📜

I want to create documentation explaining Bubble Sort with code examples.

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 10:43] ChetasShree commented on #1229
/assign

[2021-09-20 10:43] #1192 closed

[2021-09-20 10:46] rohitroy2305 commented on #1198
\assign document

[2021-09-20 10:46] Manas1820 opened #1230 "Deep Learning Algorithm - Recurrent Neural Networks"
<hr>

## Description 📜

Work on documentation including a basic overview of Recurrent Neural Networks with their types and  a basic diagram of how it works and a basic code example

<hr>

## Domain of Contribution 📊

- [x] Datascience with Python
<hr>

[2021-09-20 10:47] pranshukas commented on #1224
/assign

[2021-09-20 10:50] rohitroy2305 commented on #1184
/assign documentation

[2021-09-20 10:51] sayakongit commented on #1227
Hey, please this to me. I am in batch 13 of Web dev. I want to contribute to this topic.

[2021-09-20 10:53] #641 closed

[2021-09-20 10:54] rohitroy2305 opened #1231 "HTML Lists"
<hr>

## Description 📜

I would like to work on the documentation of HTML lists

<hr>

## Front-end Development with HTML,CSS,JS and Bootstrap 📊

- [x ] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 10:55] rohitroy2305 commented on #1231
/ assign documentation

[2021-09-20 10:58] AkhilaAthinarapu1003 opened #1232 "Python Basics"
<hr>

## Description 📜
Hello everyone!!! I would like to provide a documentation on python basics ..

<hr>

## Domain of Contribution
- [ ] Open Source
- [ ] Python

<hr>

[2021-09-20 10:59] sayakongit commented on #1231
Hey, can I contribute to your issue ?

[2021-09-20 11:00] dbmohit commented on #1232
Can i work on this

[2021-09-20 11:02] anantcodes opened #1234 "Android-Kotlin : 02.4 OOPS concepts in Kotlin"
<hr>

## Description 📜

*  Give a description of object oriented programming concept in Kotlin.
*  Required documentation, audio, or video.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Kotlin)
<hr>

## References :
https://www.javatpoint.com/kotlin-class-and-object
https://www.w3schools.com/kotlin/kotlin_oop.php

* Changes should be made in Android_Development/Kotlin/ directory under And

[2021-09-20 11:02] AkMo3 commented on #1196
Slot for audio is empty. Documentation will be done by @Amrita-Mukherjee and video will done @Pranav120602.

[2021-09-20 11:04] lohith1392 commented on #1232
/assign

[2021-09-20 11:05] AbhinandanAdhikari commented on #1196
@AkMo3 I've been assigned for documentation

[2021-09-20 11:05] AkMo3 commented on #1198
@PVenkatArvind You have assigned for video.

[2021-09-20 11:07] AkMo3 commented on #1196
Yeah, my bad. I meant for you only. @AbhinandanAdhikari has been appointed for documentation.

[2021-09-20 11:10] Saurav-Singh-Rauthan opened #1236 "CSS : Transformations"
<hr>

## Description 📜

2D and 3D transformations with CSS

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ x] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [

[2021-09-20 11:10] AkMo3 commented on #1199
@UditJain77 You have been assigned for Audio and @Arjun2905 have been assigned for video.

[2021-09-20 11:10] Saurav-Singh-Rauthan commented on #1236
/assign

[2021-09-20 11:12] divya1467 commented on #1135
@code-reaper08 sir can you please assign me this issue

[2021-09-20 11:12] AkhilaAthinarapu1003 commented on #559
Can i contribute documentation on this issue?

[2021-09-20 11:14] AkhilaAthinarapu1003 commented on #206
I am from python batch 6.I would like to contribute documentation to this issue

[2021-09-20 11:15] Muskan-creator commented on #800
PR should in section -4 of open source directory and in .md file format

On Sun, Sep 19, 2021, 7:57 PM Utkarsh Upadhyay ***@***.***>
wrote:

[2021-09-20 11:16] AkhilaAthinarapu1003 commented on #1231
Can I contribute documentation to this issue?

[2021-09-20 11:18] kashyap1905 opened #1238 "Null & Void Pointers in C"
<hr>

## Description 📜

This will describe Null Pointers & Void Pointers and also the difference between Null Pointers & Void Pointers.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 11:18] kashyap1905 commented on #1238
/assign

[2021-09-20 11:20] anjalikumawat2002 commented on #1095
/assign
I want to contribute to this.
Batch - 3 CP
Anjali Kumawat
TYPE - DOCUMENTATION

[2021-09-20 11:22] ritikaxx commented on #1214
/assign documentation

[2021-09-20 11:23] ritikaxx commented on #1227
/assign

[2021-09-20 11:26] goelesha opened #1239 "DSA 1.1.5.2 Arrays: Standard Problems (Problem 2)"
## Description
Find largest sum contiguous subarray.

## Task
- [x] Documentation
- [x] Audio
- [x] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to

[2021-09-20 11:27] ritikaxx commented on #1239
/assign

[2021-09-20 11:27] pilipi-puu-puu commented on #1054
@Saviour1001 please assign this issue to me.

[2021-09-20 11:28] goelesha opened #1240 "DSA 1.1.5.3 Arrays: Standard Problems (Problem 3)"
## Description
Find smallest sum contiguous subarray.

## Task
- [x] Documentation
- [x] Audio
- [x] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to

[2021-09-20 11:29] baazis commented on #1240
/assign

[2021-09-20 11:30] aniketpathak028 opened #1241 "JS : Promises"
# Promises
---
Promises in Javascript

# Directory
---
[code]

# Description 📜
---
- What is a Promise in Javascript?
- Why do we need Promises?
- How to create a Promise? (Syntax)
- Chained Promises
- Methods in Promises
- Examples

# Domain of Contribution 📊
---
- [x] JavaScript

# Format
---
- [x] Documentation

[2021-09-20 11:30] aniketpathak028 commented on #1241
/assign

[2021-09-20 11:30] goelesha opened #1242 "DSA 1.1.5.4 Arrays: Standard Problems (Problem 4)"
## Description
Find the longest common subsequence in the 2 given sequences.

## Task
- [x] Documentation
- [x] Audio
- [x] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has alread

[2021-09-20 11:37] yellowberard opened #1243 "CSS Grid"
<hr>

## Description 📜

I want to create a documentation on what is CSS Grid and give some sample code also.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 11:37] yellowberard commented on #1243
/assign

[2021-09-20 11:37] AkhilaAthinarapu1003 opened #1244 "Olympics dataset analysis"
<hr>

## Description 📜

I would to like to contribute the documentation on Olympics dataset analysis in python

<hr>

## Domain of Contribution

- [ ] Datascience with Python
- [ ] Machine Learning
- [ ] Open Source
- [ ] Python

<hr>

[2021-09-20 11:37] RitabrataDas343 commented on #1231
This issue has already been created before.
Please check #1010.

[2021-09-20 11:37] divya1467 commented on #1240
can you please assign me the documentation part
Divya(DSA-Batch 5)

[2021-09-20 11:38] Meet-011 commented on #252
Please assign me this topic, I would like to work on this issue.

Name : Meet

Type : Documentation

Approach
1. Will brief about HTML ,CSS, JavaScript
2. Explanation of CSS in detail
3. Styling buttons in CSS with various examples

[2021-09-20 11:38] RitabrataDas343 commented on #1229
/assign

[2021-09-20 11:38] RitabrataDas343 commented on #1229
@Mentors/Supervisors, can I get the issue??

[2021-09-20 11:40] RitabrataDas343 commented on #1183
/assign

[2021-09-20 11:40] Gagarod commented on #1234
/assign documentation

[2021-09-20 11:40] RitabrataDas343 commented on #1183
@Mentors/Supervisors, can I get the issue?

[2021-09-20 11:41] Harshil-Jani commented on #1239
Harshil Jani
DSA batch-2
I would like to work on documenting this !!

[2021-09-20 11:42] Aryamanz29 commented on #1129
/assign

[2021-09-20 11:42] guptapriya-83900 commented on #590
Thank you!

[2021-09-20 11:42] kashyap1905 opened #1247 "File Handling in C - Functions used for File I/O"
<hr>

## Description 📜

This will explain different function that can be used for reading and writing while working with the files in C.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 11:43] kashyap1905 commented on #1247
/assign

[2021-09-20 11:45] BhaswatiRoy commented on #1244
/assign

[2021-09-20 11:49] BhaswatiRoy commented on #1027
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-1027
Contribution Approaches-use of scikit learn to do data analysis, scikit learn in big data analysis

[2021-09-20 11:51] AdityaStark7 commented on #1244
Hey,
I like to contribute to this issue
Batch: 03
Serial No. 374

[2021-09-20 11:51] #797 closed

[2021-09-20 11:51] #685 closed

[2021-09-20 11:51] BhaswatiRoy commented on #731
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-731
Contribution Approaches-knn concept, formula used in knn, principal of proximity, used for supervised learning, why called lazy learner

[2021-09-20 11:53] #657 closed

[2021-09-20 11:54] sakshamlamba109 opened #1250 "Java 2.4: Strong Type Languages"
<hr>

## Description :scroll:

Add audio, documentation and video regarding **Strong Type Languages.**

<hr>

## Domain of Contribution :bar_chart:

- [x] Java

<hr>

## Location of File to be added

  The files should be added inside the `Strong Type Languages` which will be inside `Fundamentals` folder which will be inside of `Java` folder. If the folder is not present, create the folder with th

[2021-09-20 11:54] BhaswatiRoy commented on #732
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-732
Type-Audio
Contribution Approaches-explain svm, hyperplane in 2d and 3d, the concept of extreme points, need for kernel and types of kernel

[2021-09-20 11:54] lakshya7878 commented on #1250
\assign Document

[2021-09-20 11:55] Diksha-11 commented on #699
/assign

[2021-09-20 11:55] AdityaStark7 commented on #1244
/assign

[2021-09-20 11:56] BhaswatiRoy commented on #735
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-735
Type-Audio
Contribution Approaches-what is regression, types of regression like linear, multiple, polynomial, lasso ridge, why logistic regression is called regression

[2021-09-20 11:56] Aryamanz29 commented on #1108
@imcoza  Assigned , Happy Learning 🎉🎉

[2021-09-20 11:56] kashyap1905 commented on #1238
\assign

[2021-09-20 11:58] Diksha-11 commented on #699
is it fine to use /assign?? @Suvraneel @Saviour1001

[2021-09-20 11:58] yashikabhargava commented on #296
/assign

[2021-09-20 12:01] Aryamanz29 commented on #1092
@pspiagicw  Assigned , Happy Learning 🎉🎉

[2021-09-20 12:02] Diksha-11 commented on #734
is it fine to use /assign ?? @Suvraneel @Saviour1001 @2024-SANDHYA

[2021-09-20 12:02] Aryamanz29 commented on #1102
@itsbittoosharma  Assigned, Happy Learning 🎉🎉

[2021-09-20 12:04] Anushka-Gamad commented on #1250
\assign Document

[2021-09-20 12:04] BhaswatiRoy commented on #1038
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-1038
Type-Audio
Contribution Approaches-explain random forest, why it is an ensemble approach, relation with decision tree,

[2021-09-20 12:04] Diksha-11 commented on #740
Sure! but is it fine to use /assign ?? @manjeetdhayal ??

[2021-09-20 12:05] Aryamanz29 commented on #27
@mayankkuthar  Sure

[2021-09-20 12:05] sakshamlamba109 opened #1251 "Java 3.1: Integers"
<hr>

## Description :scroll:

Add audio, documentation and video regarding **Integers**

<hr>

## Domain of Contribution :bar_chart:

- [x] Java

<hr>

## Location of File to be added

  The files should be added inside the `Integers` which will be inside `Primitive Data Types` folder which will be inside of `Java` folder. If the folder is not present, create the folder with this exact name. The

[2021-09-20 12:06] lakshya7878 commented on #1251
\assign Document

[2021-09-20 12:06] Aryamanz29 commented on #31
@shashank725  Go ahead , Happy Learning

[2021-09-20 12:06] sakshamlamba109 opened #1252 "Java 3.2: Floating-Type"
<hr>

## Description :scroll:

Add audio, documentation and video regarding **Floating-Type**

<hr>

## Domain of Contribution :bar_chart:

- [x] Java

<hr>

## Location of File to be added

  The files should be added inside the `Floating-Type` which will be inside `Primitive Data Types` folder which will be inside of `Java` folder. If the folder is not present, create the folder with this exact

[2021-09-20 12:06] v-rohan commented on #1093
Fine I'm assigning this issue to you, @GyaniRoman23

[2021-09-20 12:06] kashyap1905 commented on #1251
\assign document

[2021-09-20 12:07] Anushka-Gamad commented on #1250
\assign audio

[2021-09-20 12:07] Safwan310 commented on #1049
@EkjotKaur, I have completed my task but I am facing an issue while pulling from my remote after fetching upstream. This is the error message, **error: invalid path 'Web_Development/MERN/Topic/Frontend/React/1.1.What is React_Audio? .md'** The problem is there is an additional directory like this Web_Development/MERN/Topic/Frontend/React/1.1.What is React_Audio? .md which does not exist in my loca

[2021-09-20 12:07] kashyap1905 commented on #1252
\assign Document

[2021-09-20 12:07] SushantPatial commented on #1252
\assign Document

[2021-09-20 12:07] AkMo3 commented on #1250
@lakshya7878 You have been assigned for Document and @Anushka-Gamad You have been assigned for Audio.

[2021-09-20 12:07] BhaswatiRoy commented on #1232
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Python
Batch-3
Issue Number-1232
Approaches-hello world,variables, datatype, conversion from one datatype to other,examples of each, arithmetic operation, string operations

[2021-09-20 12:08] Yash-Chandrani commented on #1251
/assign document

[2021-09-20 12:08] Aryamanz29 commented on #300
Where is the link? Please link your PR with this issue

[2021-09-20 12:08] sayakongit commented on #1243
/assign

[2021-09-20 12:09] Diksha-11 commented on #721
I will contribute through Documentation, Code.
Please /assign this to me  @paramsiddharth

[2021-09-20 12:09] adityabisoi commented on #1232
This has been covered already.

[2021-09-20 12:09] #1232 closed

[2021-09-20 12:10] #307 closed

[2021-09-20 12:10] BhaswatiRoy commented on #563
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Python
Batch-3
Issue Number-563
Type-audio
Approach-iteration concept, iteration variable, infinite loop concepts

[2021-09-20 12:10] Aryamanz29 commented on #318
Sure @Soumili1818

[2021-09-20 12:11] AkMo3 commented on #1252
@SushantPatial You have been assigned for Document.

[2021-09-20 12:11] Aryamanz29 commented on #400
Join me @discord voice channel today after 11 PM

[2021-09-20 12:11] ankurg132 commented on #554
This issue is open for audio contributions.

[2021-09-20 12:12] AkMo3 commented on #1251
@kashyap1905 You had been assigned for documents.

[2021-09-20 12:13] ankurg132 commented on #557
This issue is open for video and audio contributions currently.

[2021-09-20 12:14] Diksha-11 commented on #1247
Please assign this issue to me.
I will contribute through Document, code.
Batch 2 C/Cpp

[2021-09-20 12:15] #633 closed

[2021-09-20 12:16] ankurg132 commented on #550
This issue is currently open for audio and video contributions.

[2021-09-20 12:18] Diksha-11 commented on #1240
Please assign this issue to me.
I Will be contributing through  Documentation, Audio, Video in CPP language.
I am from C/Cpp 2 batch. @Suvraneel

[2021-09-20 12:19] deepthi1107 commented on #1126
Hello, I am Deepthi M with serial number:172. I would like to do video on this issue.
My approach: A detail explanation with an example and code.

[2021-09-20 12:20] #678 closed

[2021-09-20 12:22] micepram commented on #1053
Sure, go ahead @deepthi1107!

[2021-09-20 12:22] gulshan1002 commented on #1242
/assign

[2021-09-20 12:23] micepram commented on #1063
Not sure why the bot didn't work, but I've assigned you @snehar-bajwa, all the best!

[2021-09-20 12:23] micepram commented on #1064
Sure @ravireddy07! All the best!

[2021-09-20 12:23] #659 closed

[2021-09-20 12:23] deepthi1107 commented on #1053
thanks!

[2021-09-20 12:24] beecoder-pro commented on #1145
Can you assign this to me?

[2021-09-20 12:25] micepram commented on #1066
Hey @swathi-reddy-m I'll assign you to the issue, @ayushikulshreshta30 can you choose another issue? Since @swathi-reddy-m commented first and we will doing 1 issue / contributor.

[2021-09-20 12:27] micepram commented on #1072
Hey @deepthi1107 you've already been assigned to another issue. Kindly complete that and they you can be assigned on another one. Hey @ayushikulshreshta30 sure, I'll get you assigned, all the best!

[2021-09-20 12:27] deepthi1107 commented on #1230
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do documentation on this issue.
My approach: A documentation with related code and explanation

[2021-09-20 12:28] AshutoshDash1999 opened #1255 "Frond End Web Dev : How does the Internet Work?"
<hr>

## Description 📜

I

<hr>

## Domain of Contribution 📊

- [x ] Frontend Dev (HTML, CSS, JS)

<hr>

## Type of change memo
- [x]  Documentation (Content Creation in the form of codes or tutorials)

<hr>

[2021-09-20 12:28] ketakitankk commented on #67
Can I work on this issue?

[2021-09-20 12:28] beecoder-pro commented on #225
I would like to provide step by step instructions with code snippets for this issue.

[2021-09-20 12:28] Adi7171 commented on #370
@prathimacode-hub I did a PR can u check once

[2021-09-20 12:28] yashikabhargava commented on #665
@Aryamanz29 can you please review my PR.

[2021-09-20 12:29] micepram commented on #1073
Hey @ShreytaSingh, its amazing that you would like to work on this but we are currently only doing Documentation, Audio/Video will follow when a subsections' documentation is complete. Would you like to work on the documentation?

[2021-09-20 12:29] EkjotKaur commented on #1049
Somebody merge an incorrect PR.
Now it will work

[2021-09-20 12:30] AshutoshDash1999 commented on #1255
/assign

[2021-09-20 12:30] deepthi1107 commented on #1072
ok no problem

[2021-09-20 12:30] micepram commented on #1074
Hey @ayushikulshreshta30, I've assigned you to another one where you commented prior. We are trying to do 1 issue / contributor so that everyone can work on something. Could you kindly finish that one and then I'll assign you here.

[2021-09-20 12:30] Diksha-11 opened #1256 "Functional Components and Class Components in React"
Description 📜
What is Functional Components and Class Components in ReactJS

The domain of Contribution 📊 will be Document, Code.

I am a GWOC'21 Contributor from Mern 3 Batch.
@Salonee-Jain @manjeetdhayal  Please /assign this issue to me.

[2021-09-20 12:31] micepram commented on #1075
Hey @deepthi1107, I've assigned you to another one where you commented prior. We are trying to do 1 issue / contributor so that everyone can work on something. Could you kindly finish that one and then I'll assign you here.

[2021-09-20 12:31] adityabisoi commented on #559
Mention type.

[2021-09-20 12:31] micepram commented on #1080
Hey @ayushikulshreshta30 and @deepthi1107, I've assigned you both to another one where y'all commented prior. We are trying to do 1 issue / contributor so that everyone can work on something. Could y'all kindly finish that one and then I'll assign y'all after that.

[2021-09-20 12:32] Manas1820 commented on #1230
Actually, I have already applied to work on this issue and just waiting to get assigned.

[2021-09-20 12:32] kritebh commented on #1256
Please assign this issue to me @Diksha-11

[2021-09-20 12:32] micepram commented on #1076
Hey @ayushikulshreshta30 and @deepthi1107, I've assigned you both to another one where y'all commented prior. We are trying to do 1 issue / contributor so that everyone can work on something. Could y'all kindly finish that one and then I'll assign y'all after that.

[2021-09-20 12:34] SakshiSharma2002 commented on #1242
I would be glad to work on this issue, Please assign this to me!!
Name - Sakshi Sharma
Batch no. - 9

[2021-09-20 12:36] SakshiSharma2002 commented on #1240
I would be glad to work on this issue through documentation, Please assign this to me!!
Name - Sakshi Sharma
Batch no. - 5

[2021-09-20 12:38] SakshiSharma2002 commented on #1239
I would be glad to work on this issue through documentation, Please assign this to me!!
Name - Sakshi Sharma
Batch no. - 5

[2021-09-20 12:42] Safwan310 commented on #1049
Thanks for making the necessary changes @EkjotKaur . I have created a pull request. Please verify the same.

[2021-09-20 12:42] Isha307 opened #1258 "ML 1.9 : Hypothesis Testing (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Hypothesis Testing**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of optio

[2021-09-20 12:44] Isha307 opened #1259 "ML 1.9 : Hypothesis Testing (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Hypothesis Testing**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of optio

[2021-09-20 12:45] akarshan2602 commented on #1242
Hey!
Would love to work on this issue, please assign it to me

[2021-09-20 12:45] yashikabhargava commented on #296
@code-reaper08 can you please assign this issue to me

[2021-09-20 12:46] Isha307 opened #1261 "ML 1.9 : Hypothesis Testing (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Hypothesis Testing**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of optio

[2021-09-20 12:48] akarshan2602 commented on #1184
/assign

[2021-09-20 12:48] akarshan2602 commented on #1167
/assign

[2021-09-20 12:48] miraj0507 commented on #1049
Can i work on the audio part?

[2021-09-20 12:48] shashank725 commented on #31
I have created a hotel management website can i can upload that here?

[2021-09-20 12:50] Knighthawk-Leo commented on #1214
Add images of GIF would be also a great Idea also add that

[2021-09-20 12:50] Isha307 opened #1262 "ML 1.10: P-Value (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **P-Value**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're i

[2021-09-20 12:51] Alankrita9 commented on #1145
/assign

[2021-09-20 12:51] Isha307 opened #1263 "ML 1.10: P-Value (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **P-Value**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're i

[2021-09-20 12:53] Isha307 opened #1264 "ML 1.10: P-Value (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **P-Value**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're i

[2021-09-20 12:55] Ananyagupta43 opened #1265 "[JS]: Closures in Javascript"
<hr>

## Description 📜

- What are closures?
- How closures work?
- What are the advantages of closures?
- What are the Disadvantages of closures?

<hr>

## Domain of Contribution 📊

- [x] JavaScript
<hr>

[2021-09-20 12:55] Alankrita9 commented on #1255
/assign

[2021-09-20 12:56] Ananyagupta43 commented on #1241
@paramsiddharth Can you assign me to the issue that I created just now?

[2021-09-20 12:56] manjeetdhayal commented on #1093
hey @GyaniRoman23 I have assigned it to you, you can work on documentation part.

[2021-09-20 12:58] Ananyagupta43 commented on #1265
@paramsiddharth Sir Can you please assign me this issue that I just created.

[2021-09-20 12:58] RaghavvGupta commented on #300
https://github.com/girlscript/winter-of-contributing/pull/1216

[2021-09-20 12:58] sumitaccess007 commented on #1251
\assign Video

[2021-09-20 12:59] sumitaccess007 commented on #1252
\assign Video

[2021-09-20 12:59] GyaniRoman23 commented on #1093
Thank You @manjeetdhayal :)

[2021-09-20 12:59] Ananyagupta43 commented on #1265
And please remove the java tag .It has been added automatically.

[2021-09-20 12:59] Baba-Yaga-1 commented on #1251
\assign video

[2021-09-20 13:00] Alankrita9 commented on #1048
I would like to work on this issue sir, please assign it to me!!
Name - Ruhi Rani
Batch No. - 17 (Frontend with HTML, CSS, JS)

[2021-09-20 13:00] Alankrita9 commented on #1048
/assign

[2021-09-20 13:01] sumitaccess007 commented on #1239
\assign Video

[2021-09-20 13:01] ashish-reddy-20-08 commented on #1258
Hey, I am M. Ashish Reddy, I would like to work on this issue. @Isha307
Batch Number: 2
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make :  Documentation

[2021-09-20 13:01] sumitaccess007 commented on #1239
\assign

[2021-09-20 13:01] Alankrita9 commented on #529
/assign

[2021-09-20 13:02] sumitaccess007 commented on #1240
\assign

[2021-09-20 13:02] Binita-tech commented on #1104
\assign Document

[2021-09-20 13:02] Suvraneel commented on #1050
@angle361 @KhushiBhambri @afridihannan @kalyanirb12
doc has been assigned to the author... choose among : audio & video

[2021-09-20 13:03] sumitaccess007 commented on #1242
\assign

[2021-09-20 13:04] akarshan2602 commented on #1242
Have i been assigned for this issue?

On Mon, 20 Sep 2021, 6:33 pm Sumit Sharma, ***@***.***> wrote:

[2021-09-20 13:04] akarshan2602 commented on #1242
/assign

[2021-09-20 13:05] EkjotKaur opened #1267 "MERN_NodeJs 1.2 Environment Setup"
# Instructions

## Project directory
`Branch MERN>Web_Development/MERN/Topic/Backend/Node/`

FileName:  1.2_Environment Setup-Windows.md

Explain all the steps to from installing Node on Window and setting it up.

<hr>

## Task

- [ ]  Audio
- [ ]  Documentation
- [ ]  Video

### Send a PR in the following branch only and make documentation in form of markdown file with (.md) extension and in the

[2021-09-20 13:05] AkMo3 commented on #1251
@sumitaccess007 You have been assigned for Video

[2021-09-20 13:05] Suvraneel commented on #1128
@Shubhrajyoti24  doc has already been assigned
Lemme know if you want to contribute audio/video

[2021-09-20 13:06] Alankrita9 commented on #220
I would like to write a Doc on Conventions & Best Practices while writing HTML code/scripts.

I would be mentioning best and bad practices.
an explanation with appropriate examples.
Please Assign this to me. Thanks
@2024-SANDHYA

[2021-09-20 13:07] GyaniRoman23 commented on #1267
Hey @EkjotKaur I would like to work with the documentation part of this issue.

[2021-09-20 13:07] EkjotKaur opened #1268 "MERN_NodeJs 1.2 Environment Setup on macOS"
# Instructions

##Project directory

` Branch MERN>Web_Development/MERN/Topic/Backend/Node/`

FileName: 1.3_Environment Setup-macOs.md

## Environment Setup on macOS

Explain all the steps to from installing Node on macOs and setting it up.

## Task

- [ ]  Audio
- [ ]  Documentation
- [ ]  Video

### Send a PR in the following branch only and make documentation in form of markdown file with (.md)

[2021-09-20 13:08] RaghavvGupta commented on #1238
/assign

[2021-09-20 13:09] Zuber8040 commented on #1255
/assign

[2021-09-20 13:10] ashish-reddy-20-08 commented on #1258
/assign

[2021-09-20 13:10] shahishree03 commented on #507
As ,I have learning app and made2-3 apps beginner friendly and I am able to make contribution ,documentation, Additionally I can make Video as beautiful presentation through adobe illustration. Will make better

[2021-09-20 13:11] imcoza commented on #1264
/assign

[2021-09-20 13:11] deepthi1107 commented on #1262
/assign

[2021-09-20 13:12] pinpan123 commented on #96
Hi @Debasmita-01 can I work on this issue, please?

[2021-09-20 13:12] Binita-tech commented on #529
\assign

[2021-09-20 13:12] imcoza commented on #1258
/assign

[2021-09-20 13:13] atarax665 opened #1269 "Demo"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-20 13:13] #1269 closed

[2021-09-20 13:13] Suravihere opened #1270 "Searching in c/cpp"
<hr>

## Description 📜

I want to contribute in this issue.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [x ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [

[2021-09-20 13:14] Suravihere commented on #1270
/assign

[2021-09-20 13:16] arsheelsheikh commented on #1252
\assign Audio

[2021-09-20 13:17] imcoza commented on #1262
/assign

[2021-09-20 13:17] AkMo3 commented on #1252
@sumitaccess007 You already have been assigned a issue earlier.  @arsheelsheikh You have been assigned for audio content.

Video content spot is left to be assigned for this issue.

[2021-09-20 13:18] Alankrita9 commented on #1238
/assign
I will explain null and void pointers through examples and various functions

[2021-09-20 13:18] Baba-Yaga-1 commented on #1252
\assign video

[2021-09-20 13:19] nayyyhaa commented on #930
Hey @code-reaper08, I've created a PR for the assigned issue. Please review it :)

[2021-09-20 13:21] kunal-kumar-chaudhary commented on #48
hey @prathimacode-hub ! i have created the pull request. please check it! #629

[2021-09-20 13:22] Suravihere opened #1273 "pointers and 1D arrays in c"
<hr>

## Description 📜

I want to contribute in this issue.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [x ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [

[2021-09-20 13:23] Suravihere commented on #1273
/assign

[2021-09-20 13:24] pinpan123 commented on #971
/assign I would like to contribute to this issue via video
Pranjali Singh
PYTHON Batch #6

[2021-09-20 13:24] Vedika-Agrawal commented on #1270
/ assign
I would like to work on this issue.
Batch : 14
Medium : documation

[2021-09-20 13:25] Alankrita9 commented on #1236
/assign

[2021-09-20 13:26] supriya-045 commented on #1007
Please refer to this[ colab ](https://colab.research.google.com/drive/1uYnw83zjqLsbLuJHjOiQ6ga3eUSUm9je?usp=sharing)and review my documentation work on assigned issue ,  should I raise a PR?

[2021-09-20 13:28] Isha307 commented on #1262
@imcoza Read the above comment properly and ask in the the format.

[2021-09-20 13:29] Isha307 commented on #1264
@imcoza You can work on 1 issue at a time and please check the format.

[2021-09-20 13:31] Isha307 commented on #1258
@ashish-reddy-20-08 You can work on this issue 👍

[2021-09-20 13:33] Minal5 commented on #1196
\assign audio

[2021-09-20 13:33] ashish-reddy-20-08 commented on #1258
thank you, @Isha307

[2021-09-20 13:34] Pranshu321 commented on #1136
\assign

[2021-09-20 13:34] yashikabhargava commented on #296
Yashika Bhargava
Batch 11

[2021-09-20 13:35] jaigora24 commented on #1252
/assign document

[2021-09-20 13:35] Alankrita9 commented on #1243
/assign

[2021-09-20 13:36] jaigora24 commented on #1251
\assign document

[2021-09-20 13:36] jaigora24 commented on #1250
\assign Document

[2021-09-20 13:37] jaigora24 commented on #1221
\assign Document

[2021-09-20 13:38] Pranshu321 opened #1275 "C_CPP :- Abstraction Topic in document form"
<hr>

## Description 📜
I would like to work on this issue i submit the abstraction topic in document form . i will describe every point in great detail without leaving any point and with code snippets.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 13:39] sushovanb02 opened #1276 "JS: Scheduling"
# Scheduling
Scheduling in JavaScript
# Directory
```Topics/11.Scheduling```
## Description 📜
- setTimeout()
- setInterval()
- clearTimeout()
- clearInterval()

<hr>

## Domain of Contribution 📊

- [x] JavaScript

<hr>

# Format

- [x] Documentation

[2021-09-20 13:39] Isha307 commented on #1109
@imcoza This is the time, You can learn and explore new things.

[2021-09-20 13:39] sushovanb02 commented on #1276
/assign

[2021-09-20 13:40] Pranshu321 commented on #1275
/assign

[2021-09-20 13:41] sushovanb02 commented on #1276
@paramsiddharth @mentors kindly assign me this issue.

[2021-09-20 13:41] Pranshu321 commented on #1275
/assign

[2021-09-20 13:41] sushovanb02 commented on #1276
@AkMo3 please remove Java label

[2021-09-20 13:42] Alankrita9 opened #1277 "HTML classes and id"
<hr>

## Description 📜

I would like to make documentation on HTML classes and id, covering all the information related to  web development  .

<hr>

## Domain of Contribution 📊

- [ ] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 13:42] Alankrita9 commented on #1277
/assign

[2021-09-20 13:43] jaigora24 commented on #1150
\assign Document

[2021-09-20 13:43] jaigora24 commented on #1131
\assign Document

[2021-09-20 13:43] Op-panda opened #1278 "C++ STL : Vectors"
<hr>

## Description 📜

C++ STL (Standard Template Library) is very important part of C++ .vector is subdomain of C++ STL.
I will be working upon video on Vectors in C++.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 13:43] Ananya-Patra9437 commented on #499
yes,its my pleasure to contribute to this issue.

[2021-09-20 13:43] jaigora24 commented on #1135
\assign Document

[2021-09-20 13:45] jaigora24 commented on #1029
/assign Document

[2021-09-20 13:45] avishj opened #1279 "GoLang: 1.1.DOC Introduction - Downloading & Installing"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Introduction" section under the "Downloading & Installing" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Golang** branch only and push your PR

[2021-09-20 13:45] SB2318 opened #1280 "Explanation of public static void main (String[] args)"
<hr>

## Description 📜
Now, As a Java programmer, we should know this. And this question is also asked in the interview.
Here I will explain each word and its importance.
<hr>

## Domain of Contribution 📊

- [x] Open Source
<hr>

[2021-09-20 13:46] SB2318 commented on #1280
Can i work on this issue?

[2021-09-20 13:46] aniketpathak028 commented on #1241
@paramsiddharth I saw no one had raised this issue in the documentation domain, hence I raised it, please assign me, I am working on it.
Thanks

[2021-09-20 13:46] Op-panda commented on #1278
/assign

[2021-09-20 13:46] SB2318 commented on #1280
Can I work on this issue?

[2021-09-20 13:46] #59 closed

[2021-09-20 13:47] aritrabanerjee11 commented on #1227
/assign

[2021-09-20 13:48] avishj opened #1282 "GoLang: 1.1.DOC Introduction - Getting Started"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Introduction" section under the "Getting Started" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Golang** branch only and push your PR to the s

[2021-09-20 13:49] Jaya3112 commented on #1227
/assign

[2021-09-20 13:50] ksheetiz opened #1283 "Competitive Programming : : Longest Substring Without repeating characters (Documentation)"
<hr>

## Description 📜

I wanted to provide Longest Substring Without Repeating Characters(Sliding Window) code

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [x] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CS

[2021-09-20 13:51] ksheetiz commented on #1283
/assign

[2021-09-20 13:51] avishj opened #1284 "GoLang: 2.1.DOC Variables, Types & Constants - Variables"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Variables, Types & Constants" section under the "Variables" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Golang** branch only and push your P

[2021-09-20 13:51] Sirisha23082002 commented on #945
/assign

[2021-09-20 13:52] #1091 closed

[2021-09-20 13:53] Sirisha23082002 commented on #1057
/assign

[2021-09-20 13:53] vishnupriya129 commented on #1280
/assign Document

[2021-09-20 13:54] Varun270 commented on #400
Yeah sure, Thank you for your time

[2021-09-20 13:54] SB2318 commented on #1280
Sorry maam, I cannot get your word.

[2021-09-20 13:56] aritrabanerjee11 commented on #1277
/assign

[2021-09-20 13:57] ketakitankk opened #1286 "Newsletter sign up page for a product/service"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-20 13:58] ketakitankk commented on #1286
Please check my UI design made on Figma. Thank you!

https://www.figma.com/proto/LdXLgTlbmtYJ5KHWYr0Js7/Login-Signup-Page?node-id=1%3A3&scaling=scale-down&page-id=0%3A1

[2021-09-20 13:59] aritrabanerjee11 commented on #1056
sdf

[2021-09-20 13:59] Yukti-20 commented on #1278
I can write a well-formatted and structured documentation on the topic. May I do this?
Batch - 4
Documentation

[2021-09-20 13:59] Yukti-20 commented on #1278
I can write well-formatted and structured documentation on the topic. May I do this?
Batch - 4
Documentation

[2021-09-20 13:59] rahulsain commented on #507
ok @shahishree03 work on video part as of now as @Sambhavjain1010 was assigned video part , you can both collaborate in video part.

[2021-09-20 14:00] avishj opened #1289 "GoLang: 1.1.DOC Variables, Types & Constants - Basic Types"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Variables, Types & Constants" section under the "Basic Types" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Golang** branch only and push your

[2021-09-20 14:01] vishnu95075 opened #1290 "Data type in c"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Backend Dev (Java, .NET, Python)
- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-20 14:01] Yugal41735 commented on #146
@sitamadex11 I had made a pull request. Please review it.
link of the pr => https://github.com/girlscript/winter-of-contributing/pull/1287

[2021-09-20 14:01] avishj opened #1291 "GoLang: 2.3.DOC Variables, Types & Constants - Constants"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Variables, Types & Constants" section under the "Constants" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Golang** branch only and push your P

[2021-09-20 14:02] Jaya3112 opened #1292 "Frontend : HTML Links"
<hr>

## Description 📜

Explain about the HTML links.
<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 14:02] avishj opened #1293 "GoLang: 2.2.DOC Variables, Types & Constants - Maps"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Variables, Types & Constants" section under the "Maps" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Golang** branch only and push your PR to

[2021-09-20 14:02] Jaya3112 commented on #1292
/assign

[2021-09-20 14:02] Sayalidoshi commented on #569
Hello sir,
I would like to contribute on this issue

[2021-09-20 14:05] avishj opened #1294 "GoLang: 2.5.DOC Variables, Types & Constants - Strings"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Variables, Types & Constants" section under the "Strings" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Golang** branch only and push your PR

[2021-09-20 14:07] vishnu95075 opened #1295 "Data type in C"
<hr>

## Description 📜

Data type in C

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>
/assign

[2021-09-20 14:08] vishnu95075 commented on #1295
/assign

[2021-09-20 14:10] avishj opened #1297 "GoLang: 3.1.DOC Functions and Packages - Functions"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Functions and Packages" section under the "Functions" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Golang** branch only and push your PR to t

[2021-09-20 14:10] manjeetdhayal opened #1298 "MERN_React: 2.5 Using .map() in JSX"
<hr>

## Description 📜

# Instructions

## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## How to use .map() in JSX expressions

# Task

- [ ] Documentation

<hr>

## Domain of Contribution 📊

- [ ] MERN

<hr>

[2021-09-20 14:11] avishj opened #1299 "GoLang: 3.1.DOC Functions and Packages - Packages"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Functions and Packages" section under the "Packages" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Golang** branch only and push your PR to th

[2021-09-20 14:15] manjeetdhayal opened #1300 "MERN_React: 2.5 Using .map() in JSX_Audio"
<hr>

## Description 📜

# Instructions

## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## How to use .map() in JSX expressions Audio

# Task

- [ ] Audio

## Domain of contribution

- [X] MERN

<hr>

[2021-09-20 14:16] manjeetdhayal opened #1301 "MERN_React: 2.5 Using .map() in JSX_Video"
<hr>

## Description 📜

# Instructions

## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## How to use .map() in JSX expressions Video

# Task

- [ ] Video

## Domain of contribution

- [X] MERN

<hr>

[2021-09-20 14:16] Op-panda opened #1302 "HTML Links and Links colors"
<hr>

## Description 📜

I will work on this topic in video format and submit through google drive link.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 14:17] SanskarAgg commented on #1295
/assign

[2021-09-20 14:17] Op-panda commented on #1302
/assign

[2021-09-20 14:17] rajmadhu0406 commented on #1280
/assign document

[2021-09-20 14:18] rajmadhu0406 commented on #1251
/Assign document

[2021-09-20 14:21] Op-panda commented on #1278
please make your own issues

[2021-09-20 14:21] divijasethi commented on #1160
I'd like to contribute,
Divija Sethi
ML-3
https://github.com/divijasethi
Type- Documentation

[2021-09-20 14:23] priyankapiba commented on #1290
Hello! Please tell me how to contribute this?

[2021-09-20 14:24] Praannjaal commented on #1038
I have only opted for documentation , I can work with audio but am I allowed to do so?

[2021-09-20 14:25] Aditi-247 commented on #761
@s4-2 ok Mam . I will start working on documentation part and submit before deadline. Mam I have to submit it before 12 days .

[2021-09-20 14:25] priyankapiba commented on #1295
/assign

[2021-09-20 14:25] vkaash-sharma commented on #1302
/assign

[2021-09-20 14:25] priyankapiba commented on #1290
/assign

[2021-09-20 14:26] Aditi-247 commented on #761
@paramsiddharth ok sir . I will start working on documentation part . I will pull this issue in some days .

[2021-09-20 14:26] #1238 closed

[2021-09-20 14:27] vikhyatsingh123 commented on #1171
@ritikaxx on which part are you working?

[2021-09-20 14:28] Praannjaal commented on #1126
Hello , I'm Pranjal Mittal
Batch : 19
Type: Documentation
Approach: Explaining decision tree , how to make it with a brief of why it is needed and giving suitable examples for it.

[2021-09-20 14:29] Suravihere commented on #1273
/assign

[2021-09-20 14:31] Debasmita-01 commented on #184
Create a new issue and tag me there

[2021-09-20 14:31] sap-phire commented on #1298
/assign

[2021-09-20 14:34] SoubhPrat17 commented on #1292
/assign document

[2021-09-20 14:34] Debasmita-01 commented on #87
Look for other issues please . This issue cant be assigned to more than 3 people .

[2021-09-20 14:38] Knighthawk-Leo commented on #1302
Ohk Assigned Start You can start the work

[2021-09-20 14:39] 23-24 commented on #420
I want to contribute on this issue (documentation)
issue no:420
serial no:500
batch no:15
Approach: introduction, why do we use it, features along with examples

[2021-09-20 14:39] Debasmita-01 opened #1306 "User Research : Introduction"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-20 14:40] Praannjaal commented on #731
I would like to contribute to this issue
Name: Pranjal Mittal
Batch: 19
Type: DOCUMENTATION
Approach: Definition , working , building model step by step , full detailed explanation , examples

[2021-09-20 14:41] Aman-Deshpande commented on #1295
/assign

[2021-09-20 14:42] Pranshu321 opened #1307 "C_CPP :- STL LISTS IN DOCUMENT FORM"
<hr>

## Description 📜
I would like to work on this issue i submit the Lists of stl topic in document form . i will describe every point in great detail without leaving any point and with code snippets and also its functions used or described in STL.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 14:42] BhaswatiRoy commented on #420
I have submitted my pr on last issue now can I work on this issue?

[2021-09-20 14:44] Praannjaal commented on #396
I would like to work on this issue
Name : Pranjal mittal
Batch: 19
Type: Documentation
Approach: Detailed explanation , step by step working ,building models , code implementation and examples

[2021-09-20 14:44] priyashajain opened #1308 "HTML Classes and IDs"
<hr>

## Description 📜

I will create the documentation on HTML Classes and IDs, where I will explain the concepts in detail and provide code snippets for better understanding of the topic.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 14:45] AkMo3 commented on #1280
Technically it is part of `Java` domain, so it cannot be created as all issues of Java are to be created by the Supervisors.

[2021-09-20 14:45] #1280 closed

[2021-09-20 14:46] pranshukas commented on #1224
/assign

[2021-09-20 14:47] ketkikaushik opened #1309 "Control Statements in JAVA (documentaion)"
<hr>

## Description 📜

I want to make a documentation on Control Statements in JAVA. It will contain detailed explanation of all types of control statements with example.

<hr>

## Domain of Contribution 📊

- [x ] Java

<hr>

[2021-09-20 14:48] ritikaxx commented on #1171
@vikhyatsingh123
I am working on the documentation which will include the complexity analysis and code.

[2021-09-20 14:48] awesometushar000 commented on #484
Hey @nimisha-yadav should I prepare documentation and push into your repository?

[2021-09-20 14:48] ketkikaushik commented on #1309
/assign

[2021-09-20 14:48] arsheelsheikh commented on #1309
/assign

[2021-09-20 14:48] MeghaGD commented on #1309
\assign

[2021-09-20 14:49] AkMo3 commented on #1309
Issue creation by contributors are not allowed. Please do not make me repeat every time.

[2021-09-20 14:49] #1309 closed

[2021-09-20 14:49] arsheelsheikh commented on #1308
/assign

[2021-09-20 14:49] ritikaxx commented on #1308
/assign documentation

[2021-09-20 14:50] Priyanshirathore commented on #121
@Rohit-2602 sir, I gave a brief description of the Linear Layout, Table Layout, Relative Layout, and Constraint layout with sample code and UI output screenshots in my documentation till now.
1.1 Overview of Layouts
1.1.1 Linear layout
1.1.2 Relative layout
1.1.3 Constraint layout
1.1.4 Table layout
Should I give a brief about any other type of layout as a sub-topic?

[2021-09-20 14:51] shahishree03 commented on #683
I want to work in this

[2021-09-20 14:52] bhumitbedse opened #1310 "Python | List and Tuples"
<hr>

## Description 📜

Here I explain the brief idea of what is List and Tuple in Python and how to use it
<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS

[2021-09-20 14:52] bhumitbedse commented on #1310
/assign

[2021-09-20 14:52] aummishra commented on #1283
Hello! I'd like to contribute.

[2021-09-20 14:52] amino19 opened #1311 "GoLang: 7.1.DOC Inferface - Interface I"
<hr>

## Description 📜
Basic information about interfaces in Golang, also needs to create some examples.

As the `Interface` is a huge topic, as well as complex to pick up.
**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/interfaces-in-golang)
- [A Tour of Go](https://tour.golang.org/methods/9)

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly mak

[2021-09-20 14:53] kumaradityaraj opened #1312 "Interview Preparation :- Graphs"
I will document different questions on graphs. Please assign me this one.

[2021-09-20 14:53] kumaradityaraj commented on #1312
/assign

[2021-09-20 14:54] Rohit-2602 commented on #121
@Priyanshirathore also add some layout code with their images side by side

[2021-09-20 14:55] priyashajain commented on #1308
/assign

[2021-09-20 14:57] Debasmita-01 opened #1313 "Basics of Visual Design: Part 1"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-20 14:58] GyaniRoman23 commented on #1298
Hey @manjeetdhayal I would like to work with this issue. Kindly consider assigning me this issue.

[2021-09-20 14:59] ayushjha952 commented on #1268
@EkjotKaur can you assign me this issue for the documentation part?

[2021-09-20 15:00] rahulsain commented on #683
@shahishree03 You are already assigned in video part please work on that

[2021-09-20 15:00] Debasmita-01 opened #1315 "Basics of Visual Design :Part 2"
<hr>

## Description 📜

Check #1313 and maintain the same folder order . In this try to talk about how hue, chroma, value, saturation, tones, tints and shades affect the way we perceive colors .

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database

[2021-09-20 15:00] shahishree03 commented on #507
sir , please assigned m again actually ,it was mistook unassigned myself ,please sir

[2021-09-20 15:01] shahishree03 commented on #507
assigned me again

[2021-09-20 15:01] priyashajain commented on #1308
I created this issue. Kindly assign this to me.

[2021-09-20 15:02] Debasmita-01 opened #1316 "Basics of Visual Design : Part 3"
<hr>

## Description 📜

Check #1313  and maintain the same folder order . In this try to discuss how to create effective color palettes for your own designs. Deep dive into talking about methods for creating your own color schemes, from scratch.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Program

[2021-09-20 15:02] prathimacode-hub commented on #420
You can work on other issue when PR is created. @BhaswatiRoy

[2021-09-20 15:03] amino19 opened #1317 "GoLang: 7.1.DOC Inferface - Interface II"
<hr>

## Description 📜
Intermediate information about interfaces in Golang, also needs to create some examples for reference.

This issue is a continuation of  #1311
Reference:
- [Interface Part 1](https://golangbot.com/interfaces-part-1)
- [Interface Part 2](https://golangbot.com/interfaces-part-2)

<hr>

## Domain of Contribution 📊

- [x] Golang

<hr>

## Instructions ✔

* Kindly make a README g

[2021-09-20 15:03] ayushjha952 commented on #1268
/assign

[2021-09-20 15:04] prathimacode-hub commented on #420
Issue is assigned to @ShreytaSingh for video contribution

[2021-09-20 15:04] manjeetdhayal commented on #1298
@sap-phire I have assigned it to you. Go for it.

[2021-09-20 15:04] GyaniRoman23 commented on #1313
Hey @Debasmita-01 I would like to work with this issue. Could you provide me with some description or any resources for it.

[2021-09-20 15:04] ayushijindal opened #1319 "Data Science With Python : Explaining Linear Regression (Documentation)"
<hr>

## Description 📜

Taking optimal dataset to explain linear regression in documentation format
Visualizing both actual and predicted value
format: Documentation
serial no. : 253

<hr>

## Domain of Contribution 📊

- [x] Datascience with Python

<hr>

[2021-09-20 15:04] RupinVijan commented on #1227
/assign

[2021-09-20 15:04] ayushijindal commented on #1319
/assign

[2021-09-20 15:05] Arjun2905 commented on #1261
Arjun Wankhede
ML batch 3
https://github.com/Arjun2905
Type of Contribution : Audio

[2021-09-20 15:06] shahishree03 commented on #1198
\assign document (and \assign video( I have worked on Illustration)

[2021-09-20 15:06] Debasmita-01 opened #1320 "Basics of Visual Design : Part 4"
<hr>

## Description 📜

Check #1313 for folder structure . In this I want you to think abut color contrast and why should we rethink it . Research and share one aspect of design accessibility: making sure that the look and feel (the visual design of the content) are sufficiently inclusive of differently sighted users. Explain every steps .

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flu

[2021-09-20 15:06] Asmit2952 commented on #1316
I want to work on this. Can you assign it to me?

[2021-09-20 15:07] manjeetdhayal opened #1321 "MERN_React: 2.6 Using eventListenrs in JSX"
# Instructions

## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## Using eventListeners in JSX

# Task

- [ ] Documentation

## Domain of contribution
- [X] MERN

[2021-09-20 15:08] Debasmita-01 commented on #1313
is it ok now ?

[2021-09-20 15:09] prathimacode-hub commented on #1137
@Vidit-Ostwal Do you like to work on this issue for documentation?

@m0hit-kumar, are you up for audio or video for this issue?

[2021-09-20 15:09] #1321 closed

[2021-09-20 15:09] shahishree03 commented on #683
okay sir ,please me back , because I was mistook unassigned myself.

[2021-09-20 15:09] priyashajain opened #1322 "C Strings and their functions"
<hr>

## Description 📜

I will create the documentation on the topic C Strings and their functions, where I will explain the topic in detail, giving examples in the form of codes and code snippets.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 15:10] priyashajain commented on #1322
/assign

[2021-09-20 15:10] priyashajain commented on #1322
/assign

[2021-09-20 15:10] ayushijindal commented on #1319
Approach: using the optimal dataset to explain linear regression
Id: 253

[2021-09-20 15:11] AkMo3 commented on #1198
@shahishree03 All the contents have been assigned. You can definitely add illustrations once after the current video assignees have merged their PR, and work in other issues for the time being. Please give me a reminder after a week for this issue, I will assign it to you.

[2021-09-20 15:12] m0hit-kumar commented on #1137
@Vidit-Ostwal for documentation

[2021-09-20 15:12] Ravinayak07 commented on #293
Done Sir

[2021-09-20 15:12] Vidit-Ostwal commented on #1137
Yup, i will take that for documentation

[2021-09-20 15:13] prathimacode-hub commented on #1137
Yes, since @Vidit-Ostwal expressed his interest first for documentation

What about you?  @m0hit-kumar

[2021-09-20 15:14] m0hit-kumar commented on #1137
@prathimacode-hub documentation

[2021-09-20 15:15] Asmit2952 commented on #212
@praveenscience I checked the roadmap and I want to work on this. Can I start documenting it?

[2021-09-20 15:15] manjeetdhayal opened #1325 "MERN_React: 3.2 Using event listeners in components"
# Instructions

## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/MERN/Contributing.md) to get started

## Event listeners

# Task

- [ ] Documentation

## Domain of contribution
- [X] MERN

[2021-09-20 15:16] prathimacode-hub commented on #1137
But @Vidit-Ostwal expressed his interest first for documentation. Anyways you both decide up and come with an answer so that i could assign accordingly. @m0hit-kumar

[2021-09-20 15:16] GyaniRoman23 commented on #1313
Yeah now its good. Thank You :)

[2021-09-20 15:16] GyaniRoman23 commented on #1325
Hey @manjeetdhayal I would like to work with this issue.

[2021-09-20 15:18] shahishree03 commented on #1302
/assign video

[2021-09-20 15:19] gracyashhh commented on #557
I would like to contribute on this in the form of audio  @ankurg132

[2021-09-20 15:19] sap-phire commented on #1298
Thank you.

[2021-09-20 15:20] m0hit-kumar commented on #1137
i really want to work on this @paramsiddharth

[2021-09-20 15:20] manjeetdhayal commented on #1325
Hey @GyaniRoman23 I have assigned it to you. Rock it!

[2021-09-20 15:21] #297 closed

[2021-09-20 15:21] aakankshabhende opened #1327 "C_CPP : Control flow statements of program"
<hr>

## Description 📜
Documentation for Control flow statements of program
I want to work on this issue. Please assign me this
<hr>

## Domain of Contribution 📊

- [x] C/CPP
<hr>

[2021-09-20 15:22] aakankshabhende commented on #1327
/assign

[2021-09-20 15:22] siddhi-244 commented on #1239
Siddhi Bhanushali
DSA BATCH 1
DOCUMENTATION

[2021-09-20 15:22] manjeetdhayal opened #1328 "MERN_React: 3.2 Using event listeners in componetns Audio"
# Instructions

- Audio must be in mp3 format and drive link to be uploaded

## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/MERN/Contributing.md) to get started

## Event listeners_Audio

# Task

- [ ] Audio

## Domain of contribution
- [X] MERN

[2021-09-20 15:22] GenMech opened #1329 "FrontEnd: DNS & Working of DNS?"
<hr>

## DNS & Working of DNS? 📜

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 15:22] GenMech commented on #1329
/assign

[2021-09-20 15:22] siddhi-244 commented on #1242
Siddhi Bhanushali
DSA BATCH 1
DOCUMENTATION

[2021-09-20 15:23] shahishree03 commented on #1198
okay sir
Thank you

[2021-09-20 15:23] GenMech commented on #1329
@code-reaper08 I have created this issue and want to work on this

[2021-09-20 15:23] siddhi-244 commented on #1240
Siddhi Bhanushali
Dsa batch 1
Documentation

[2021-09-20 15:24] m0hit-kumar commented on #1261
is there is something for documentation

[2021-09-20 15:24] GenMech commented on #1329
/assign

[2021-09-20 15:24] PVenkatArvind commented on #1329
/assign

[2021-09-20 15:25] PVenkatArvind commented on #1327
/assign

[2021-09-20 15:25] manjeetdhayal opened #1330 "MERN_React: 3.2 Using event listeners in components Audio"
# Instructions

- Audio must be in mp3 format and drive link to be uploaded

## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/MERN/Contributing.md) to get started

## Event listeners_Audio

# Task

- [ ] Audio

## Domain of contribution
-  [X] MERN

[2021-09-20 15:25] PVenkatArvind commented on #1322
/assign

[2021-09-20 15:25] PVenkatArvind commented on #1308
/assign

[2021-09-20 15:26] Vidit-Ostwal commented on #1137
@m0hit-kumar u already have a better profile of GitHub than me,
Let me work on this on, u can take some other issue,
@prathimacode-hub kindly assign it to me on FCFB (First come First Basis).

[2021-09-20 15:26] manjeetdhayal opened #1331 "MERN_React: 3.2 using event listeners in components Video"
# Instructions

- Video must be in mp4 format and drive link to be uploaded

## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/MERN/Contributing.md) to get started

## Event listeners_Video

# Task

- [ ] Video

## Domain of contribution
-  [X] MERN

[2021-09-20 15:26] Pranav120602 commented on #1322
/assign documentation

[2021-09-20 15:27] Pranav120602 commented on #1322
/assign Video

[2021-09-20 15:27] PVenkatArvind commented on #1295
/assign

[2021-09-20 15:28] shahishree03 commented on #507
I really want my contribution please sir.

[2021-09-20 15:29] sanghisha145 commented on #1250
\assign video

[2021-09-20 15:31] priyankapiba commented on #1295
Hey @vishnu95075 I would like to work with this issue.

[2021-09-20 15:32] sitamadex11 commented on #507
@shahishree03 don't worry. you can proceed .
@rahulsain please look into that.

[2021-09-20 15:38] SMD-1 commented on #1328
issue #1328 and #1330 both are the same both are audio format

[2021-09-20 15:38] Randrita commented on #971
@adityabisoi can you please assign @pinpan123 for the video

[2021-09-20 15:38] m0hit-kumar commented on #1137
@Vidit-Ostwal  no this is my first

[2021-09-20 15:39] SMD-1 commented on #1328
can I do the documentation part of this issue?
/assign

[2021-09-20 15:40] ketkikaushik opened #1333 "C/CPP: Concept of OOPS"
<hr>

## Description 📜

This documentation will contain detailed explanation (with examples) of Concept of OOPS in C/CPP that includes:

- Object
- Class
- Inheritance
- Polymorphism
- Abstraction
- Encapsulation.

<hr>

## Domain of Contribution 📊

- [x ] C/CPP

<hr>

[2021-09-20 15:40] ashish-reddy-20-08 commented on #140
@micepram and @aaryan078
Can I get some updates until where the work is done? So that I can work further on that.

[2021-09-20 15:40] ketkikaushik commented on #1333
/assign

[2021-09-20 15:42] sarav18302 commented on #1333
@ketkikaushik can I contribute to this issue

[2021-09-20 15:47] arpanaditya commented on #1135
/assign

[2021-09-20 15:48] HarshS1611 commented on #529
\assign
Harsh Singh
Batch 12

[2021-09-20 15:48] PVenkatArvind commented on #1333
/assign

[2021-09-20 15:49] sitamadex11 commented on #528
@ydasc815 bro may you please change the numbering from 05.0 to 06.0

[2021-09-20 15:49] PVenkatArvind commented on #1295
/assign video

[2021-09-20 15:49] BhaswatiRoy commented on #420
yes I have already created my pr and also updated in threads

[2021-09-20 15:50] amino19 opened #1334 "GoLang: 8.1 DOC Concurrency - Introduction"
<hr>

## Description 📜
**Introduction to Concurrency**
with some description about:
- Goroutines
- Channels
- Buffered Channels
- Range and Close
- Select
- Default Selection
- sync.Mutex

**Note for contributor:**
The points mentioned above, will be covered in separate PRs, & will be picked by other contributors.

**References:**
- [golangbot](https://golangbot.com/concurrency)
- [Geeks for Geeks

[2021-09-20 15:51] #1330 closed

[2021-09-20 15:52] manjeetdhayal commented on #1328
Documentation part of this is already assigned. You can work on audio or video part.

[2021-09-20 15:53] shreyarai05 commented on #1319
Approach: Brief explanation using dataset to explain linear regression
id:155
format: Documentation

[2021-09-20 15:53] manjeetdhayal commented on #1328
Thanks! I have closed one.

[2021-09-20 15:56] PVenkatArvind commented on #1221
assign

[2021-09-20 15:57] sayakongit commented on #1286
/assign

[2021-09-20 15:57] riyasai22 opened #1335 "FrontEnd: HTML Classes ans IDs"
<hr>

## Description 📜

HTML Classes and IDs

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 15:57] sayakongit commented on #1335
/assign

[2021-09-20 15:59] Randrita commented on #971
@pinpan123 please don't use '#' here cz it will redirect you to an issue. you can simply write 6

[2021-09-20 16:00] riyasai22 commented on #1335
@code-reaper08 I have created this issue and want to work on this.

[2021-09-20 16:01] riyasai22 commented on #1335
/assign document

[2021-09-20 16:03] #491 closed

[2021-09-20 16:04] Aaryan376 opened #1336 "Frontend: HTML Tables"
<hr>

## Description 📜

 Description of Tables in HTML

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 16:04] hafsa1014 commented on #1335
/assign document

[2021-09-20 16:04] Aaryan376 commented on #1336
/assign

[2021-09-20 16:05] hrugved06 commented on #1262
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

[2021-09-20 16:06] trip0le opened #1337 "Flexbox Model CSS"

[2021-09-20 16:06] Aryan-Mohanty commented on #1239
can I work on this issue?
Documentation

[2021-09-20 16:06] tanzeelgcuf commented on #1160
I'd like to collaborate with you.
Developing The ML models, optimization and data analysis

[2021-09-20 16:08] trip0le commented on #1337
@praveenscience Sir, can you please assign me this work?

[2021-09-20 16:08] uditkatyal opened #1339 "Compiler errors in contests"
<hr>

## Description 📜

A lot of times various errors get in our contest, and we are not able to figure out why so
Brief of major errors happening during contests.

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming
- [x] DSA

<hr>

[2021-09-20 16:08] uditkatyal commented on #1339
/assign

[2021-09-20 16:08] hafsa1014 commented on #1337
can you please assign me this work?

[2021-09-20 16:09] uditkatyal commented on #1339
/assign

[2021-09-20 16:09] ankurg132 commented on #557
@adityabisoi you can assign the audio part to @gracyashhh and remove the audio label from this issue.

[2021-09-20 16:10] mayankkuthar commented on #288
@Aryamanz29 If anyone is not working on this issue, please assign it to me. I would love to work on this one.

[2021-09-20 16:11] Suvraneel commented on #853
@ShikhaSwati60  Make a proper PR (Current one is empty)

[2021-09-20 16:11] #853 closed

[2021-09-20 16:11] #630 closed

[2021-09-20 16:12] neilotpal commented on #1239
\assign

[2021-09-20 16:12] hafsa1014 commented on #1227
/assign

[2021-09-20 16:12] Suvraneel commented on #866
Add proper heading to your issue & use PR-template

[2021-09-20 16:12] #866 closed

[2021-09-20 16:13] uditkatyal commented on #1339
@pjdurden  assign this to me

[2021-09-20 16:14] vikhyatsingh123 commented on #1171
@palakshivlani-11 @Madhuranaik21 documentation part is already assigned. So you can ask for other part.

[2021-09-20 16:15] Suvraneel commented on #861
@124015001 Be specific... (eg, Multiple Inheritance)

[2021-09-20 16:15] #861 closed

[2021-09-20 16:17] neilotpal commented on #1167
/assign

[2021-09-20 16:18] siddhi-244 commented on #632
I am srry was busy bciz of my exams will make a pr tomorrow.  Really srry.

[2021-09-20 16:18] Suvraneel commented on #921
@adityarajsahoo Make individual issues for each topic
But yes nice issue... All the best

[2021-09-20 16:18] #27 closed

[2021-09-20 16:21] Siddhartha-Dhar opened #1341 "C_CPP: Single Inheritance Documentation"
<hr>

## Description 📜

Documentation of Single Inheritance in C++
<hr>

## Domain of Contribution 📊

- [x] C/CPP
<hr>

[2021-09-20 16:21] Siddhartha-Dhar commented on #1341
/assign

[2021-09-20 16:22] Suvraneel commented on #832
@bindaldhara Go ahead with documentation (not just the code)

[2021-09-20 16:22] 124015001 commented on #861
@Suvraneel Why is this issue closed?

[2021-09-20 16:23] hafsa1014 commented on #1333
/assign

[2021-09-20 16:24] Suvraneel commented on #1341
@Siddhartha-Dhar Go ahead

[2021-09-20 16:24] prathimacode-hub commented on #1137
@m0hit-kumar, other than this algorithm there is any other algorithm you are interested to work on

[2021-09-20 16:26] m0hit-kumar commented on #1137
@prathimacode-hub what other we have??

[2021-09-20 16:26] prathimacode-hub commented on #1137
As said according to rule, it should be allotted on FCFS basis, since you both aren't deciding up anything. I had to assign this to @Vidit-Ostwal for documentation.

[2021-09-20 16:27] prathimacode-hub commented on #1137
CatBoost Algorithm? @m0hit-kumar

[2021-09-20 16:28] Sirisha23082002 opened #1343 "FrontEnd: DNS & Working of DNS?"
<hr>

Description 📜

I want to work on making documentation of DNS & Working of DNS with some DNS basics and how its a role in the web.

<hr>
Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-20 16:28] prathimacode-hub commented on #1137
Issue assigned to @Vidit-Ostwal for documentation

[2021-09-20 16:29] m0hit-kumar commented on #1137
@prathimacode-hub so assigned me that. i would love to work on it

[2021-09-20 16:29] #665 closed

[2021-09-20 16:29] SouravKr2001 commented on #1071
I want to work on this issue, Please assign it to me(documentation)

[2021-09-20 16:29] SwarnaliBhunia commented on #736
thank you

[2021-09-20 16:31] Aryamanz29 commented on #1104
@Binita-tech  Sure , Happy docs 🎉

[2021-09-20 16:31] hafsa1014 commented on #1343
/assign

[2021-09-20 16:32] Aryamanz29 commented on #667
@LegendSumeet  Sure, Happy Learning 🎉🎉

[2021-09-20 16:33] Arya-Gupta commented on #1343
I want to contribute to this issue : FrontEnd: DNS & Working of DNS?
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-1343
Type-Audio
Contribution Approaches-What is DNS, full form of DNS, how does it work, relation of DNS with web development

[2021-09-20 16:34] SouravKr2001 commented on #1341
I am interested in contributing  documentation  for this issue

[2021-09-20 16:35] hafsa1014 commented on #1030
/assign

[2021-09-20 16:35] Arya-Gupta commented on #1227
I want to contribute to this issue : CSS Flexbox
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-1227
Type-Audio
Contribution Approaches-What is flexbox, How does flexbox work, Advantages of flexbox, Commonly used flexbox properties

[2021-09-20 16:37] sumitaccess007 commented on #1251
Thanks @AkMo3

[2021-09-20 16:38] AkMo3 commented on #1250
@sanghisha145 You have been assigned for video

[2021-09-20 16:40] Isha307 commented on #1261
@Arjun2905 Great, You can work on it 👍

[2021-09-20 16:40] 124015001 opened #1345 "C_CPP: Multilevel Inheritance"
<hr>

documentation
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 16:40] 124015001 commented on #1345
/assign

[2021-09-20 16:40] Isha307 commented on #1261
@m0hit-kumar Check out other issues or wait for it.

[2021-09-20 16:40] 124015001 commented on #1345
/assign

[2021-09-20 16:41] AshmeetSingh987 commented on #584
I want to work on this issue with video /Audio .  Please Assign this issue to me
MERN Batch 2

[2021-09-20 16:41] Arya-Gupta commented on #1214
I want to contribute to this issue : Frontend Dev (HTML, CSS, JS): CSS Positionings
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-1214
Contribution Approaches-CSS position properties, various categories of positioning
Type-Audio

[2021-09-20 16:42] Ananyagupta43 commented on #1265
/assign

[2021-09-20 16:42] Suvraneel commented on #1345
:octocat: Go ahead

[2021-09-20 16:42] VANSHIKAAGARWAL571 opened #1346 "Documentation on Looping in c++"
<hr>

## Description 📜

<hr>
c++ 📊
- [x ] C/CPP

<hr>

[2021-09-20 16:42] #673 closed

[2021-09-20 16:43] VANSHIKAAGARWAL571 commented on #1346
/assign

[2021-09-20 16:44] Arya-Gupta commented on #1155
I want to contribute to this issue : Frontend_Web_Development_HTML_CSS_JS: The DOM
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-1155
Contribution Approaches-What is DOM, full form of DOM, How does the DOM work
Type-Audio

[2021-09-20 16:44] Shambhavi-Singh opened #1347 "C_CPP: Keywords in C++"
<hr>

## Description 📜

This issue deal with the various important keywords in C++ like static, abstract etc.
<hr>

## Domain of Contribution 📊

- [x] C/CPP
<hr>

[2021-09-20 16:45] Shambhavi-Singh commented on #1347
/assign

[2021-09-20 16:45] m0hit-kumar commented on #1261
@Isha307 do you have any issue unassigned pls assigned me that

[2021-09-20 16:46] ChetasShree commented on #1189
/assign

[2021-09-20 16:46] himanshu007-creator opened #1348 "The workflow"
<hr>

## Description 📜

To get started with any contribution in any project other than yours'  there is a certain order of things. There is a certain way of communicating with the maintainers. So it would be good to have a Workflow section in the readme within an opensource folder, to help beginners know how everything works out.

<hr>

## Domain of Contribution 📊

- [x] Open Source

<hr>

[2021-09-20 16:46] Arya-Gupta commented on #1150
I want to contribute to this issue : Frontend_Web_Development_HTML_CSS_JS: AJAX
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-1150
Contribution Approaches-Full form of AJAX, Asynchronous javascript, What is XML, What is JSON, What is a Promise, How does AJAX work
Type-Audio

[2021-09-20 16:48] Suvraneel commented on #1348
Delete non-domains as directed in template

[2021-09-20 16:49] Isha307 commented on #1262
@hrugved06  Great, you can work on it.

[2021-09-20 16:49] Suvraneel commented on #1348
@himanshu007-creator Kindly remake properly

[2021-09-20 16:53] uditkatyal commented on #1339
/assign

[2021-09-20 16:53] yashikabhargava commented on #296
assign/

[2021-09-20 16:55] yashikabhargava commented on #296
/assign

[2021-09-20 16:57] Isha307 commented on #1261
@m0hit-kumar Checkout this https://github.com/girlscript/winter-of-contributing/labels/Up-For-Grabs

[2021-09-20 16:58] code-reaper08 commented on #1048
Ruhi Rani you are already assigned with the account **@ruhirani011**

[2021-09-20 16:59] lohith1392 commented on #1337
/assign

[2021-09-20 17:01] lohith1392 commented on #1337
/assign documentation

[2021-09-20 17:03] trip0le commented on #1337
/assign

[2021-09-20 17:04] Kamya123 commented on #1337
Sir, I want to make documentation on this. I know the use of Flexbox Model very well and I want to contribute in this. Please assign this this task to me.

[2021-09-20 17:04] m0hit-kumar commented on #1261
@Isha307 they are for video and audio only and the rest are already assigned which lie under my domain

[2021-09-20 17:09] pavankapoor31 commented on #1251
\assign document

[2021-09-20 17:11] Kamya123 commented on #1333
/assign
Please assign this issue to me. I want to create Documentation on this. I am currently learning deeply about the concept of OOPS and  I am sure that I will do it in a perfect manner.

[2021-09-20 17:11] pavankapoor31 commented on #1251
\Assign Document

[2021-09-20 17:12] Utsaviranjan commented on #1336
/assign

[2021-09-20 17:16] Utsaviranjan commented on #1243
/assign **I pertain skills required for this task. hence, kindly assign.**

[2021-09-20 17:16] kokila-Manogar opened #1353 "ML 1.3: Central Limit Theorem"
<hr>

## Description 📜
This documentation will contain a detailed explanation (with examples) of the Central Limit Theorem.
and also an audio/Video  about the real-life examples of these concepts for better understanding.

- What is the Central Limit Theorem (CLT)?
- Significance of the Central Limit Theorem
- Statistical Significance
- Practical Applications
- Assumptions Behind the Central Limit

[2021-09-20 17:20] Alankrita9 commented on #1327
/assign

[2021-09-20 17:23] bhumitbedse commented on #1310
I will do this @prathimacode-hub

[2021-09-20 17:24] divyanshuss commented on #632
Can I try to put in something?

[2021-09-20 17:25] siddhi-244 commented on #632
I am doing it

[2021-09-20 17:25] Harsh-Chaudhary7 commented on #1239
Will make sure to provide the documentation within a short period of time and with utmost accuracy.
Harsh Chaudhary
DSA Batch 1
Documentation

[2021-09-20 17:26] Harsh-Chaudhary7 commented on #1242
Will make sure to provide the documentation within a short period of time and with utmost accuracy.
Harsh Chaudhary
DSA Batch 1
Documentation

[2021-09-20 17:27] divyanshuss commented on #1103
would like to contribute @Aryamanz29

[2021-09-20 17:29] ayushijindal commented on #1319
/assign

[2021-09-20 17:31] Binita-tech commented on #1135
\assign Document

[2021-09-20 17:32] NarayanAdithya commented on #1310
Can someone Assign this to me if possible?

[2021-09-20 17:32] Binita-tech commented on #1336
/assign Document

[2021-09-20 17:35] divyanshuss commented on #632
Okay sure. Good luck

[2021-09-20 17:35] harsh6768-svg opened #1356 "Adding NOSQL(MONGODB) IN REACTJS"
<hr>

How to add database NOSQL type(MONGODB) in react js

We will simply create the login form in react and add it with nosql(mongodb) database.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev React/Angular/Vue

<hr>

[2021-09-20 17:35] SrijanShovit commented on #996
I would like to work on documentation part.
Batch - 3
Kindly assign this issue to me.

[2021-09-20 17:35] SrijanShovit commented on #996
/assign

[2021-09-20 17:36] sr-sweta opened #1357 "Competitive Coding: (Backtracking) Word Search"
## Description 📜

Make Leetcode folder inside Competitive coding and add few codes of CP. Below is a backtracking problem
- Word Search

## Domain of Contribution 📊

- [x] C/CPP
- [x] Competitive Programming
- [x] DSA

[2021-09-20 17:37] #226 closed

[2021-09-20 17:38] harsh6768-svg commented on #1356
/assign

[2021-09-20 17:39] #1356 closed

[2021-09-20 17:40] harsh6768-svg opened #1359 "Adding No sql database(Mongodb) in Reactjs"
<hr>

## Description 📜

Adding No SQL Database in React js
simple login form in react using mongodb as backend

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev React/Angular/Vue

<hr>

[2021-09-20 17:47] pranshukas commented on #1224
/assign

[2021-09-20 17:47] monika1024 commented on #785
ok. assign then'

[2021-09-20 17:48] Ramanakablah commented on #1308
/assign

[2021-09-20 17:49] Narotam-singh opened #1362 "Android-Kotlin : 07.1 LinearLayout in Kotlin"
<hr>

## Description 📜

I wanted to work on LinearLayout in Kotlin by making documentation.
Kindly assign this to me @rahulsain

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Kotlin)

<hr>

[2021-09-20 17:49] Narotam-singh commented on #1362
/assign

[2021-09-20 17:50] Anuj2403 commented on #1229
Name - Anuj Rouniyar
Batch -  DSA batch 2
 I want to work on this issue, please assign

[2021-09-20 17:51] Anuj2403 commented on #1189
Name - Anuj Rouniyar
Batch - DSA batch 2
I want to work on this issue, please assign

[2021-09-20 17:53] Anuj2403 commented on #1357
Name - Anuj Rouniyar
Batch - CP batch 1
I want to work on this issue, please assign
/assign

[2021-09-20 17:55] swarajdhore opened #1364 "HTML Block and Inline Elements"
<hr>

## Description 📜

This will be a documentation containing all the details of Block and Inline Elements.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 17:55] swarajdhore commented on #1364
/assign

[2021-09-20 17:56] bhavesh-chaudhari opened #1366 "JS (Request): New Branch for Node.js-based Back-end Development"
<hr>

## Description 📜
### Hello everyone :wave: ! I am opening this issue with an intention to request a new branch for Backend_Development_With_NodeJs .
I am aware that there is a branch named **[`MERN`](https://github.com/girlscript/winter-of-contributing/tree/MERN)** where very few contributions for Node.js have been done till now.
But i think making a separate branch for **Backend_Development

[2021-09-20 17:57] NeerajHazarika commented on #397
@Kareem-negm I have almost completed it, will make a pull request soon.

[2021-09-20 17:58] pilipi-puu-puu opened #1367 "Patterns_problems"
<hr>

## Description 📜
This documentation will contain  detailed explanation of Patterns problems using C/C++.
* Number pattern .
* Star Pattern

... etc...

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 17:58] pilipi-puu-puu commented on #1367
/assign

[2021-09-20 17:59] Ramanakablah commented on #1056
/assign

[2021-09-20 17:59] Rosy03 commented on #770
/assign

[2021-09-20 17:59] HastiSutaria commented on #437
Hello, I wanted to know what further steps I need to take to create a pull
request and submit the solved issue task documentation. So, can you please
guide me with it?

‪On Mon, 20 Sept 2021 at 15:15, ‪Karim Negm‬‏‎ ***@***.***>
wrote:‬

[2021-09-20 17:59] bhavesh-chaudhari commented on #1366
@paramsiddharth @adityabisoi @Aryamanz29 Can you please look into this ?

[2021-09-20 18:02] divyanshuss commented on #680
@Aryamanz29 Can I contribute?

[2021-09-20 18:03] pavankapoor31 opened #1370 "JAVA 3.4: Single Dimensional Array (Implementation)"
<hr>

## Add Implementation of Single Dimension Array in Java📜

<hr>
## Domain of Contribution 📊

- [x] Java_Domain

<hr>

[2021-09-20 18:04] pavankapoor31 commented on #1370
/Assign documentation

[2021-09-20 18:04] pavankapoor31 commented on #1370
/assign documentation

[2021-09-20 18:06] Saviour1001 commented on #987
Closing this issue as the PR got merged, you can open new issues !!

[2021-09-20 18:06] #987 closed

[2021-09-20 18:06] Anuj2403 commented on #1357
/assign

[2021-09-20 18:07] shaurya24sri commented on #1322
/assign documentation

[2021-09-20 18:10] Siddhartha-Dhar opened #1375 "C_CPP: Multiple Inheritance documentation"
<hr>

## Description 📜

Documentation of Multiple Inheritance in C++
<hr>

## Domain of Contribution 📊

- [x] C/CPP
<hr>

[2021-09-20 18:11] Siddhartha-Dhar commented on #1375
/assign

[2021-09-20 18:11] shrey-ya commented on #598
/assign

[2021-09-20 18:11] ayushmaan02 commented on #1024
/assign

[2021-09-20 18:11] uditkatyal opened #1377 "How does the Internet Work? What is HTTP and its request response cycle"
<hr>

## Description 📜
Basics of how the internet works, that everyone should know before starting basic HTML.
Web functioning, browser role, the http request and response circle.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 18:11] uditkatyal commented on #1377
/assign

[2021-09-20 18:12] shrey-ya commented on #559
/assign

[2021-09-20 18:13] sitamadex11 opened #1378 "Android-Kotlin : 09.0 Adapters with ListView in Android (Kotlin)"
<hr>

## Description 📜

* Please brief the different types of adapters and their implementation using ListView :
**Like**
[code]
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

* Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin**

[2021-09-20 18:13] shrey-ya commented on #1251
/assign document

[2021-09-20 18:14] shrey-ya commented on #1370
/assign documentation

[2021-09-20 18:14] abhi-2024 commented on #1302
/assign

[2021-09-20 18:14] shrey-ya commented on #1370
/assign video

[2021-09-20 18:15] Ankush144 opened #1379 "Css_FlexBox"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [X ] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 18:15] shrey-ya commented on #598
/assign documentation

[2021-09-20 18:15] Saviour1001 commented on #1054
This is a fairly vast topic. Write a specific data structure or algorithm you are aiming to implement in C. I am closing this issue for now. You can open a new one. Choose a specific topic and assign. The bots are up to help you !!

[2021-09-20 18:15] #1054 closed

[2021-09-20 18:16] AkMo3 commented on #1251
@shrey-ya @pavankapoor31 @rajmadhu0406 @jaigora24 The audio content is available to take. Please comment with `\assign audio` if you interested.

[2021-09-20 18:16] shaurya24sri commented on #78
@prathimacode-hub Please review my pull request

[2021-09-20 18:16] shrey-ya commented on #579
/assign video

[2021-09-20 18:17] Siddhartha-Dhar opened #1380 "JAVA: Looping in JAVA documentation"
<hr>

## Description 📜

Various Loops structures and implementations of Loops in JAVA
<hr>

## Domain of Contribution 📊

- [x] Java_Domain
<hr>

[2021-09-20 18:17] shrey-ya commented on #562
/assign video

[2021-09-20 18:17] SakshiSharma2002 opened #1381 "C_CPP : Modern C++"
**MODERN C++**

- C++11, C++14, C++17 and C++20

<hr>

## Description 📜

I would like to make a Documentation on Modern C++ with code snippets and all the information related to Modern C++, which will cover these points :

- What is Modern C++ ?
- Versions of Modern C++
- History of Modern C++
- New features of Modern C++
- Differences with Standard C++

<hr>

## Domain of Contribution 📊

- [X] C/

[2021-09-20 18:17] Siddhartha-Dhar commented on #1380
/assign

[2021-09-20 18:17] SakshiSharma2002 commented on #1381
/assign

[2021-09-20 18:17] Ankush144 commented on #1379
/assign

[2021-09-20 18:18] #400 closed

[2021-09-20 18:18] tshukla2001 commented on #1302
/assign

[2021-09-20 18:18] ShikhaSwati60 opened #1382 "C_CPP: Hierarchical Inheritance in C++"
<hr>

## Description 📜
I will provide the detailed documentation on hierarchical inheritance in Cpp

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 18:18] Khushi-Agrawal-1 commented on #599
I'm very sorry but I don't I'll be able to do this issue. I request you to un-assign me.

[2021-09-20 18:19] ShikhaSwati60 commented on #1382
/assign

[2021-09-20 18:19] ShikhaSwati60 commented on #1382
/assign

[2021-09-20 18:23] Perpetual-Incantation opened #1384 "Number Theory in Competitive Programming"
<hr>

## Description 📜

Find all factors of a natural number .
Write the code and describe the algorithm used?

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 18:23] Perpetual-Incantation commented on #1384
/assign

[2021-09-20 18:24] girija0707 commented on #1051
please assign me this issue I would love to work on it under documentation part
/assign

[2021-09-20 18:24] Safwan310 commented on #1384
Wait... What is this??? Why is every domain tagged?

[2021-09-20 18:25] Shiitu commented on #318
I Would Like to work on this issue.

[2021-09-20 18:25] Aryamanz29 commented on #318
Sure , Assigning this to you

[2021-09-20 18:26] shrey-ya commented on #1251
\assign audio

[2021-09-20 18:26] Ab2602 commented on #1336
/assign

[2021-09-20 18:27] Ab2602 commented on #1336
/assign HTML Tables

[2021-09-20 18:29] shrey-ya commented on #1310
/assign

[2021-09-20 18:30] sitamadex11 opened #1388 "Android-Kotlin : 09.1 RecyclerView tutorial in Android (Kotlin)"
<hr>

## Description 📜

* Give a step by step tutorial of RecyclerView in Kotlin :
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development_With_Kotlin** branch.
* Inside **Android_Development_Wi

[2021-09-20 18:33] Ab2602 opened #1390 "Transition and transformation in CSS"
<hr>

## Explain about transition and transformation.

<hr>

## Frontend Web dev HTML/CSS/JV📊

- [x ] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 18:33] Ab2602 commented on #1390
/assign

[2021-09-20 18:34] sitamadex11 opened #1392 "Android-Kotlin : 09.2 ScrollView and HorizontalScrollView in Android (Kotlin)"
<hr>

## Description 📜

* Give a step by step tutorial ScrollView and Horizontal ScrollView in Android (Kotlin)
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development_With_Kotlin** branch.
* In

[2021-09-20 18:34] sakkshm26 commented on #1348
/assign

[2021-09-20 18:35] sakkshm26 commented on #1348
Hey, can I work on this issue?

[2021-09-20 18:35] Sakalya100 commented on #1388
I want to work on this issue in the documentation section.
Myself Sakalya Mitra(Batch 3 Android Dev with Kotlin)
@sitamadex11

[2021-09-20 18:36] rohit85-cmd commented on #1240
Rohit Jindamwar
DSA BATCH 2
Documentation

[2021-09-20 18:36] sinu-02 commented on #1059
/assign

[2021-09-20 18:38] sitamadex11 opened #1393 "Android-Kotlin : 09.3 Spinner in Android (Kotlin)"
<hr>

## Description 📜

* Give a step by step tutorial of Spinner in Android (Kotlin)
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development_With

[2021-09-20 18:39] sitamadex11 commented on #1388
@Sakalya100 Go Ahead👍

[2021-09-20 18:40] girija0707 opened #1395 "HTML STYLE ATTRIBUTE"
<hr>

## Description 📜

This would be a documentation explaining Html style attribute

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 18:40] girija0707 commented on #1395
/assign

[2021-09-20 18:41] VidhiDixit2000 opened #1396 "Frontend : Introduction to HTML"
<hr>

## Description 📜

I want to add Documentation on this topic.
Assign this issue to me.

<hr>

## Domain of Contribution 📊

- [X]  Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 18:42] Sakalya100 commented on #1031
I want to work on this issue . Kindly assign me this @prathimacode-hub
Name: Sakalya Mitra
Serial Number: 62 Batch 2
Type: Video
Approach:
1) Explaining some features numpy by implementing
2) Explaining Color to Gray Scale Image code made in the documentation

Reason for using the same code: To maintain uniformity in documentation and video explanation

[2021-09-20 18:42] ajaykathwate commented on #1095
/assign
I want to contribute to this issue.
Batch - 2 CP
Ajay Kathwate
TYPE - audio

[2021-09-20 18:42] VidhiDixit2000 commented on #1396
/assign

[2021-09-20 18:43] sitamadex11 opened #1397 "Android-Kotlin : 09.4 ViewPager in Android (Kotlin)"
<hr>

## Description 📜

* Give a step by step tutorial of ViewPager in Android (Kotlin)
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development_Wi

[2021-09-20 18:44] arnav1507 opened #1398 "HTML - Classes and Id’s"
<hr>

## Description 📜

I would like to make documentation on HTML Classes and ID, where I will explain the concepts in detail and provide snapshots and code snippets for a better understanding of the topic.
<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [

[2021-09-20 18:45] arnav1507 commented on #1398
/assign

[2021-09-20 18:47] #1398 closed

[2021-09-20 18:48] CSAURABH commented on #1396
@VidhiDixit2000 I already created this issue

[2021-09-20 18:49] arnav1507 opened #1402 "HTML - Classes and Id"
<hr>

## Description 📜

I would like to make documentation on HTML Classes and ID, where I will explain the concepts in detail and provide snapshots and code snippets for better understanding of the topic.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 18:49] sitamadex11 opened #1403 "Android-Kotlin : 09.0 Migrating from ViewPager to ViewPager2 in Android (Kotlin)"
<hr>

## Description 📜

* Brief how to migrate from ViewPager to ViewPager2 in Android (Kotlin) with example
* pros of viewpager 2
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/

[2021-09-20 18:49] arnav1507 commented on #1402
/assign

[2021-09-20 18:52] abhi-2024 opened #1404 "CSS cheatsheet"
## DESCRIPTION

CSS cheatsheet which will guide you through your day to day work.

## Domain

- Frontend Dev HTML/CSS/JS

## Type of Contribution

Audio, Video, Documentation

## Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of Conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-20 18:52] hafsa1014 commented on #1402
/assign

[2021-09-20 18:52] sakkshm26 opened #1405 "CSS - Variables (Custom Properties)"
<hr>

## Description 📜

Use of Variables (Custom Properties) in CSS

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 18:53] hafsa1014 commented on #1405
/assign

[2021-09-20 18:54] VidhiDixit2000 opened #1406 "Frontend : HTML Editors"
<hr>

## Description 📜

I want to add Documentation of HTML Editors.
Assign this issue to me.

<hr>

## Domain of Contribution 📊

- [X]  Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 18:54] sakkshm26 commented on #1405
/assign

[2021-09-20 18:54] sitamadex11 opened #1407 "Android-Kotlin : 09.6 Nested RecyclerView in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Nested RecyclerView in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Dev

[2021-09-20 18:55] VidhiDixit2000 commented on #1406
/assign

[2021-09-20 18:55] sakkshm26 commented on #1405
/assign

[2021-09-20 18:56] Ayan-thecodeking commented on #1131
go ahead @ArpitaGupta4086

[2021-09-20 18:57] sitamadex11 opened #1409 "Android-Kotlin : 09.7 NestedScrollView in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of NestedScrollView in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Develo

[2021-09-20 18:57] sakkshm26 commented on #1405
@praveenscience Sir please assign this issue to me.

[2021-09-20 18:58] chetan-2002 commented on #1151
/assign

[2021-09-20 18:59] Suvraneel commented on #1384
@Perpetual-Incantation  @Safwan310

Delete all other domains from your comment.. like mentioned in PR template directives
Kindly follow the issue template from next time ... & preach this to your fellow contributors

[2021-09-20 19:04] Suvraneel commented on #1384
@Perpetual-Incantation  Perfect ... Preach this to your peers too :)

[2021-09-20 19:04] #889 closed

[2021-09-20 19:04] GenMech commented on #1380
/assign

[2021-09-20 19:08] Animesh312 commented on #1187
/assign

[2021-09-20 19:08] Dracarys0511 commented on #548
Ok sir

[2021-09-20 19:12] 124015001 opened #1413 "C_CPP: Stream Class Model in C++"
<hr>

## Description 📜

documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 19:12] 124015001 commented on #1413
/assign

[2021-09-20 19:13] emily876 opened #1414 "Deploying static HTML and CSS website on Github pages"
<hr>

## Description 📜

I will be showing the steps on how to deploy your website built in HTML, CSS, and JS using GitHub.

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 19:14] emily876 commented on #1414
/assign  Deploying static HTML and CSS website on Github pages #1414
Assign me this
I'm from batch 15
Front end web development !

[2021-09-20 19:16] sitamadex11 opened #1415 "Android-Kotlin : 09.8 Navigation Drawer and Drawer Layout tutorial in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Navigation Drawer and Drawer Layout in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory und

[2021-09-20 19:16] VidhiDixit2000 opened #1416 "Frontend : Basics of Internet : How does Browser Rendering work?"
<hr>

## Description 📜

I want to add Documentation of this issue.
Assign this issue to me.

<hr>

## Domain of Contribution 📊

- [X]  Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 19:17] VidhiDixit2000 commented on #1416
/assign

[2021-09-20 19:17] iamayushkr commented on #135
@ViAsmit Unable to Upload the video coz it's bigger than 25 MB. Should I upload it on Youtube and create a .md file?

[2021-09-20 19:17] sandeepkumar00110 opened #1419 "Implementation of AVL tree in C++"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 19:18] sandeepkumar00110 commented on #1419
i want to work on this

[2021-09-20 19:19] sitamadex11 opened #1420 "Android-Kotlin : 09.0 Navigation Drawer with Fragment in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Navigation Drawer with Fragment in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under *

[2021-09-20 19:19] sunidhisachan opened #1421 "C-CPP : Explain iostream header file"
<hr>

## Description 📜

I want to explain what is contained inside iostream header file.x
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 19:19] mahima-uz opened #1422 "Strings"
<hr>

## Description 📜

Character Arrays/Strings Documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 19:20] mahima-uz commented on #1422
/assign

[2021-09-20 19:20] sunidhisachan commented on #1421
Self issue !
I would like to work on documenting this.

[2021-09-20 19:21] sitamadex11 opened #1423 "Android-Kotlin : 09.10 Navigation Drawer with Navigation Component in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Navigation Drawer with Navigation Component in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** direc

[2021-09-20 19:21] VidhiDixit2000 commented on #1396
Ok

[2021-09-20 19:28] Aryamanz29 commented on #1103
@divyanshuss  Sur, Happy Learning 🎉🎉

[2021-09-20 19:28] sitamadex11 opened #1426 "Android-Kotlin : 09.11 Bottom Navigation in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Nested RecyclerView in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Dev

[2021-09-20 19:28] amino19 opened #1427 "GoLang: 8.2.DOC Concurrency - Goroutines"
<hr>

## Description 📜
**Goroutines**
Basic-Intermediate-Advanced information about `Goroutines` in Golang, also needs to create some examples.
This must be inside `Concurrency` folder.

**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/goroutines-concurrency-in-golang)
- [A Tour of Go](https://tour.golang.org/concurrency/1)
- [gobot](https://golangbot.com/goroutines/)

<hr>

## Do

[2021-09-20 19:31] mahima-uz opened #1428 "Box Model in css"
<hr>

## Description 📜
Box model(border,padding.margin concept will be explained)

<hr>

## Domain of Contribution 📊

- [x ] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 19:31] mahima-uz commented on #1428
/assign

[2021-09-20 19:32] sitamadex11 opened #1429 "Android-Kotlin : 09.12 Bottom Sheet Dialog in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Bottom Sheet Dialog in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Dev

[2021-09-20 19:36] sitamadex11 opened #1430 "Android-Kotlin : 09.13 Date Picker in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Date Picker in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development

[2021-09-20 19:38] sitamadex11 opened #1432 "Android-Kotlin : 09.14 Time Picker in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Time Picker in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development

[2021-09-20 19:39] amino19 opened #1436 "GoLang: 8.3 DOC Concurrency - Channels"
<hr>

## Description 📜
**Channels**
Basic-Intermediate-Advanced information about `Channels` in Golang, also needs to create some examples.
This must be inside `Concurrency` folder.

**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/channel-in-golang)
- [A Tour of Go](https://tour.golang.org/concurrency/2)
- [gobot](https://golangbot.com/channels/)

<hr>

## Domain of Contribution

[2021-09-20 19:41] sitamadex11 commented on #1362
@rahulsain please add the **Android-Dev-Kotlin** label here.

[2021-09-20 19:41] VidhiDixit2000 opened #1437 "C: Input and Output Operators"
<hr>

## Description 📜

I want to add Documentation of this issue.
Assign this issue to me.

<hr>

## Domain of Contribution 📊

- [X]  C/CPP

<hr>

[2021-09-20 19:42] VidhiDixit2000 commented on #1437
/assign

[2021-09-20 19:44] Perpetual-Incantation commented on #1384
Hey, I have edited this before. You can check it out also.

[2021-09-20 19:45] nimisha-yadav commented on #404
Assigning you @mansisingh2803 for audio and video, all the best!

[2021-09-20 19:45] mahika077 opened #1438 "HTML Tables"
<hr>

## Description 📜
HTML Tables
This would basically contain all the information that how can one proceed making rows and columns in a table using HTML.
I will discuss the basic syntax of the same that one can use while making a table in HTML, what are the tags that we use in it? along with their explanation.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-20 19:46] mahika077 commented on #1438
/assign

[2021-09-20 19:47] Kareem-negm commented on #437
Hello @HastiSutaria ,
in this [artical ](https://www.dataschool.io/how-to-contribute-on-github/) you can find how to make a step by step PR
or you can see this [video](https://www.youtube.com/watch?v=Aj4Bo8-yTT0&feature=youtu.be)
if you have any question please let me know

[2021-09-20 19:48] nimisha-yadav commented on #473
Assigning you @mansisingh2803 for audio and video, all the best!

[2021-09-20 19:49] VidhiDixit2000 commented on #1396
/assign

[2021-09-20 19:50] AkMo3 commented on #1380
@Siddhartha-Dhar It is not allowed for contributors to create their own issue. This issue is being closed.

[2021-09-20 19:50] #1380 closed

[2021-09-20 19:52] AkMo3 commented on #1370
Are we not clear when we say that issue creation is not allowed. Why are you guys constantly creating your own issues. This is being closed permanently.

[2021-09-20 19:52] #1370 closed

[2021-09-20 19:53] nimisha-yadav commented on #482
@siddhi-244 and @jaisinha, can you elaborate in which format(Audio/Video/Improvement to Doc) and in what way would you be contributing?

[2021-09-20 19:56] nimisha-yadav commented on #484
Yes, please [refer here](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md) for all the guidelines.

[2021-09-20 19:57] RaghavvGupta commented on #1275
/assign

[2021-09-20 20:00] nimisha-yadav commented on #485
Hey @mansisingh2803, I've assigned you two issues. Once you submit PR for them, I'll assign you more.

[2021-09-20 20:03] imcoza commented on #1264
okay no problem

[2021-09-20 20:03] #1396 closed

[2021-09-20 20:05] Sarfraz-droid commented on #1359
Can I work on a Video for this?

[2021-09-20 20:07] Sarfraz-droid commented on #1301
Can I work on this?

[2021-09-20 20:17] iamayushkr opened #1442 "Column & Row Widgets for Layout"
<hr>

## Description 📜

Use of Column and Row Widget to layout our App

<hr>

## Domain of Contribution 📊

- Android Dev Flutter

<hr>

[2021-09-20 20:18] iamayushkr commented on #1442
/assign

[2021-09-20 20:18] iamayushkr commented on #1442
/assign

[2021-09-20 20:19] amino19 opened #1443 "GoLang: 8.4 DOC Concurrency - Buffered Channels"
<hr>

## Description 📜
**Buffered Channels**
Basic-Intermediate-Advanced information about `Buffered Channels` in Golang, also needs to create some examples.
This must be inside `Concurrency` folder.

**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/buffered-channel-in-golang/)
- [A Tour of Go](https://tour.golang.org/concurrency/3)
- [gobot](https://golangbot.com/goroutines/)

<h

[2021-09-20 20:26] hariketsheth commented on #1183
/assign

[2021-09-20 20:27] hariketsheth commented on #1164
/assign

[2021-09-20 20:28] hariketsheth commented on #1152
/assign

[2021-09-20 20:30] sitamadex11 opened #1444 "Android-Kotlin : 09.0 Checkbox in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Checkbox in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development_Wi

[2021-09-20 20:33] RIYANSHGARG opened #1445 "Frontend Web Development => Introduction to HTML"
- What is Html ?
- Sample code base of Html
- Explaining every Component

[2021-09-20 20:33] sitamadex11 opened #1446 "Android-Kotlin : 09.16 Chips in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Chips in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development_With_

[2021-09-20 20:33] RIYANSHGARG commented on #1445
/assign

[2021-09-20 20:35] sitamadex11 opened #1447 "Android-Kotlin : 09.17 Top App Bar in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Top App Bar in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development

[2021-09-20 20:39] sitamadex11 opened #1448 "Android-Kotlin : 09.18 CardView and MaterialCardView in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of CardView and MaterialCardView in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **A

[2021-09-20 20:42] sitamadex11 opened #1449 "Android-Kotlin : 09.19 Tab Layout in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Tab Layout in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development_

[2021-09-20 20:44] sitamadex11 opened #1451 "Android-Kotlin : 09.20 Flex Layout in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Flex Layout in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development

[2021-09-20 20:46] sitamadex11 opened #1452 "Android-Kotlin : 09.21 GridView in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of GridView in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development_Wi

[2021-09-20 20:48] sitamadex11 opened #1453 "Android-Kotlin : 09.22 Calender View in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Calender View in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Developme

[2021-09-20 20:51] sitamadex11 opened #1454 "Android-Kotlin : 09.0 Analog Clock, Digital Clock and Text Clock in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Analog Clock, Digital Clock, and Text Clock in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** direc

[2021-09-20 20:53] sitamadex11 opened #1455 "Android-Kotlin : 09.0 Expandable ListView in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Expandable ListView in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Dev

[2021-09-20 20:56] HeySitam opened #1456 "Android-Kotlin : 09.25 Expandable RecyclerView in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Expandable RecyclerView in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android

[2021-09-20 20:59] HeySitam opened #1457 "Android-Kotlin : 09.26 Chronometer in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of Chronometer in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Development

[2021-09-20 21:01] sitamadex11 opened #1458 "Android-Kotlin : 09.27 ZoomControls in Android (Kotlin)"
<hr>

## Description 📜

* Give a step-by-step tutorial of ZoomControls in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter, Java, Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in **Android_Development_With_Kotlin/** directory under **Android_Developmen

[2021-09-20 21:47] HumblePlebeian commented on #737
Could you please assign this issue to me?

[2021-09-20 21:50] amino19 opened #1460 "GoLang: 8.5 DOC Concurrency - Range & Close"
<hr>

## Description 📜
**Range and Close**
Basic-Intermediate-Advanced information about `Range and Close` in Golang, also needs to create some examples.
This must be inside `Concurrency` folder.

**Reference:**
- [A Tour of Go](https://tour.golang.org/concurrency/4)
- [Range](https://golangr.com/range-channel) | [Close](https://golangr.com/close-channel)
- [Geeks for Geeks](https://www.geeksforge

[2021-09-20 21:58] amino19 opened #1461 "GoLang: 8.6 DOC Concurrency - Select"
<hr>

## Description 📜
**Buffered Channels**
Basic-Intermediate-Advanced information about `Select` in Golang, also needs to create some examples.
This must be inside `Concurrency` folder.

**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/select-statement-in-go-language/)
- [A Tour of Go](https://tour.golang.org/concurrency/5)
- [gobot](https://golangbot.com/select)

<hr>

## Doma

[2021-09-20 22:24] amino19 opened #1462 "GoLang: 8.7 DOC Concurrency - Mutex"
<hr>

## Description 📜
**Mutex**
Basic-Intermediate-Advanced information about `Mutex` in Golang, also needs to create some examples.
This must be inside `Concurrency` folder.

**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/mutex-in-golang-with-examples)
- [A Tour of Go](https://tour.golang.org/concurrency/9)
- [gobot](https://golangbot.com/mutex)

<hr>

## Domain of Contributio

[2021-09-20 23:49] NeerajHazarika commented on #1264
Please assign me this issue @Isha307
Name : Neeraj Pratap Hazarika
Batch number : ML - 5 ( ID : 783 )
GitHub Profile link : https://github.com/NeerajHazarika
Approach : Video
I have made a pull request on the previous issue, I was working on, It hasn't yet been reviewed. Rather than waiting for tht, I would like to work on a new issue.

[2021-09-21 00:59] khushi123456789 commented on #1438
/assign

[2021-09-21 01:00] khushi123456789 commented on #1428
/assign

[2021-09-21 01:06] khushi123456789 commented on #1236
/assign

[2021-09-21 01:08] khushi123456789 commented on #1174
/assign

[2021-09-21 01:09] khushi123456789 commented on #1167
/assign

[2021-09-21 01:09] khushi123456789 commented on #1149
/assign

[2021-09-21 01:30] sirilalithaadapa commented on #1455
/assign

[2021-09-21 02:00] mahmoudmohamed22 commented on #433
I would be glad to work on this issue.
Name : mahmoud mohamed abdelwahab
Batch : 3
serial number:91
Type : video

[2021-09-21 02:05] mahmoudmohamed22 commented on #730
I would be glad to work on this issue.
Name : mahmoud mohamed abdelwahab
Batch : 3
serial number:91
Type : video
Approach:
Introduction to PyTorch
Explanation with examples of some functions present in PyTorch

[2021-09-21 02:25] ketkikaushik commented on #1333
/assign

[2021-09-21 02:38] NeerajHazarika commented on #1264
/assign

[2021-09-21 02:46] dhruti29 commented on #446
Name: Dhruti Gandhi
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign me.

[2021-09-21 02:48] mansisingh2803 commented on #829
Hey @pallavidhere23  , I think this is your issue . I am unassigning me.

[2021-09-21 02:48] dhruti29 commented on #1310
/assign

[2021-09-21 02:50] siddhi-244 commented on #482
Improvement to doc.

[2021-09-21 02:50] ChetasShree commented on #1229
/assign

[2021-09-21 02:50] dhruti29 commented on #1239
\assign

[2021-09-21 02:52] adityabisoi commented on #1366
@bhavesh-chaudhari Wrong mention XD

[2021-09-21 02:56] adityabisoi commented on #569
This has already been assigned.

[2021-09-21 02:58] shreyarai05 commented on #1295
/assign documents

[2021-09-21 03:00] #1339 closed

[2021-09-21 03:00] #1377 closed

[2021-09-21 03:03] Aryan-Mohanty commented on #829
/assign

[2021-09-21 03:10] rinki19045083 commented on #1242
Please assign it to me
Rinki
dsa batch 3
Documentation

[2021-09-21 03:16] Aryan-Mohanty commented on #1242
Can i work on this issue ?
Documentation

[2021-09-21 03:19] Aryan-Mohanty commented on #1240
Please assign this issue to me.
Documentation

[2021-09-21 03:25] bhavesh-chaudhari commented on #1366
Ohh my mistake, had no idea about that. New here. Sorry for the wrong mention.

[2021-09-21 03:31] trip0le commented on #306
/assign

[2021-09-21 03:34] trip0le opened #1465 "Basics of Neumorphism using HTML and CSS"

[2021-09-21 03:34] AkMo3 opened #1466 "Java 3.3: Characters and Booleans"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Characters and Booleans**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Characters and Booleans` folder which is inside the `Primitive Data Types` folder present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py`/`.ip

[2021-09-21 03:34] AkMo3 opened #1467 "Java 3.4: Literals"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Literals**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Literals` folder which is inside the `Primitive Data Types` folder present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be i

[2021-09-21 03:34] AkMo3 opened #1468 "Java 3.5: Varibles (Init and Scopes)"
<hr>

## Description 📜

Add audio, documentation, and video regarding the **Varibles (Init and Scopes)**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Varibles (Init and Scopes)` folder which is inside the `Primitive Data Types` folder present in the  `Java` main folder.  The documentation file can be in the `.md`/`.py

[2021-09-21 03:34] trip0le commented on #1465
/assign

[2021-09-21 03:34] Yashesvinee commented on #1466
/assign Document

[2021-09-21 03:34] ISHITA-ROY016 commented on #1466
\assign document

[2021-09-21 03:35] ISHITA-ROY016 commented on #1468
\assign document

[2021-09-21 03:35] trip0le opened #1469 "Basics of Glassmorphism using HTML and CSS"

[2021-09-21 03:36] trip0le commented on #1469
/assign

[2021-09-21 03:36] Sirisha23082002 commented on #1467
\assign document

[2021-09-21 03:37] ayush02av opened #1470 "Frontend: CSS Animations"
<hr>

## Description 📜

I will describe how to implement basic yet interesting Animations using just CSS.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

[2021-09-21 03:38] AkMo3 commented on #1466
You have been already assigned an issue. See #1107.

[2021-09-21 03:38] Sirisha23082002 commented on #1467
/assign document

[2021-09-21 03:39] AkMo3 commented on #1466
Documentation assigned to @ISHITA-ROY016.

[2021-09-21 03:39] vnaazleen commented on #237
/assign documentation

[2021-09-21 03:40] AastikSharma05 opened #1471 "Question on Strings Index of leftmost character in a given string"
<hr>

## Description 📜

This will print the Index of the leftmost character in a given string.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 03:40] Harshil-Jani commented on #197
Due to inactivity from supervisors. I am closing this issue.

[2021-09-21 03:40] #197 closed

[2021-09-21 03:40] AkMo3 commented on #1467
Documentation assigned to @Sirisha23082002

[2021-09-21 03:41] vnaazleen commented on #569
/assign documentation

[2021-09-21 03:41] #1471 closed

[2021-09-21 03:42] AkMo3 commented on #1107
Just make confirmation:
@varunborar Had been assigned Documentation.
@shreya40 Had been assigned audio.
@Yashesvinee Had been assigned video.

[2021-09-21 03:42] AastikSharma05 opened #1473 "Index of leftmost character in a given string"
<hr>

## Description 📜

This will print the index of leftmost character in a given string.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 03:43] AastikSharma05 commented on #1473
/assign

[2021-09-21 03:44] AkMo3 commented on #1468
@ISHITA-ROY016 You have been assigned the Issue #1466

[2021-09-21 03:49] Himanshu664 commented on #1241
/assign

[2021-09-21 03:51] aniketpathak028 commented on #1241
/assign

[2021-09-21 03:52] uditkatyal commented on #1239
/assign

[2021-09-21 03:53] AbhishekBhatt072003 commented on #1468
\assign document

[2021-09-21 03:53] #82 closed

[2021-09-21 03:54] uditkatyal commented on #1239
assign this issue @Subhradeep10

[2021-09-21 03:55] AkMo3 commented on #1468
@AbhishekBhatt072003 You have been assigned documentation.

[2021-09-21 03:57] GShreya06 commented on #1467
/assign Video

[2021-09-21 04:00] Anant1711 commented on #95
@shubhdholakiya

[2021-09-21 04:02] sushovanb02 commented on #1276
can someone kindly assign me this issue

[2021-09-21 04:02] sushovanb02 commented on #1276
/assign

[2021-09-21 04:04] Anant1711 commented on #785
Okay!
I'm assigning you this task for the video!

[2021-09-21 04:07] aryanharitsh123 opened #1474 "Adding Sample Problems with solutions."
<hr>

## Description 📜

Adding some example problems from the various platforms and their solutions, on Arrays, Strings, Searching and Sorting,Bit manipulation, etc.

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming
<hr>

[2021-09-21 04:07] aryanharitsh123 commented on #1474
/assign

[2021-09-21 04:09] techabhi08 commented on #1466
\assign document

[2021-09-21 04:10] AbhishekBhatt072003 commented on #1468
Thanks @AkMo3

[2021-09-21 04:12] #83 closed

[2021-09-21 04:12] techabhi08 commented on #1468
\assign document

[2021-09-21 04:13] Kirti-1 commented on #1468
\assign video

[2021-09-21 04:13] arcAman07 commented on #1460
/assign

[2021-09-21 04:14] arcAman07 commented on #1460
/assign

[2021-09-21 04:14] AkMo3 commented on #1468
@Kirti-1 You have been assigned Video content. Audio content is left for assignment.

[2021-09-21 04:14] arcAman07 commented on #1460
I would like to work on this issue

[2021-09-21 04:14] paramsiddharth commented on #1366
If it is for MERN, then I'm not the right person. If it is for the JavaScript domain, we may discuss this further.

[2021-09-21 04:15] Kamya123 commented on #1404
/assign
Please assign me this work. I know CSS3 very well and implemented almost all properties. So, I think I will do it very nicely.

[2021-09-21 04:15] arcAman07 commented on #1293
/assign

[2021-09-21 04:16] radha919 commented on #1242
/assign

[2021-09-21 04:16] arcAman07 commented on #1294
/assign

[2021-09-21 04:18] sharpsailor commented on #1468
\assign document

[2021-09-21 04:19] #873 closed

[2021-09-21 04:20] Pradumnasaraf commented on #1187
It's already assigned @Animesh312, please try finding unassigned issues or open a new issue by consulting your mentor
Have a great day 😀

[2021-09-21 04:20] sanjana-iyengar commented on #1259
/assign
Full name: Sanjana Alaham
Batch Number: 6
GitHub Profile Link: https://github.com/sanjana-iyengar
Contribution :  Video

[2021-09-21 04:20] IshikaMeghaSaha commented on #737
Can I be assigned this?

[2021-09-21 04:21] Surbhi-sinha opened #1476 "JS JSON"
<hr>

## Description 📜

In this section, I would be making a basic documentation-based contribution about introducing JSON and its basic functions.
please assign it to me.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with

[2021-09-21 04:23] Binita-tech opened #1477 "CSS_Position Property"
<hr>

## Description

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev HTML/CSS/JS

<hr>

[2021-09-21 04:23] Binita-tech commented on #1477
/assign

[2021-09-21 04:23] uditkatyal commented on #1240
/assign

[2021-09-21 04:24] I-ArchanaDash commented on #231
/assign

[2021-09-21 04:25] dhruti29 commented on #1239
/assign

[2021-09-21 04:28] Anant1711 commented on #737
Okay!
I'm assigning this task to you for `Video` submission!

[2021-09-21 04:28] lohith1392 commented on #1470
/assign

[2021-09-21 04:28] AkMo3 commented on #1467
Video content assigned to @GShreya06

[2021-09-21 04:30] Vrukshali-26 commented on #244
\assign document

[2021-09-21 04:31] harsh6768-svg opened #1478 "Linked List Interview Questions"
<hr>

## Description 📜

Adding the LinkedLlist questions which are frequently asked in interview

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] Competitive Programming

<hr>

[2021-09-21 04:31] aniketpathak028 commented on #1241
@paramsiddharth why am I not getting assigned here, the bot doesn't seem to work  🙁  pls help

[2021-09-21 04:33] #1333 closed

[2021-09-21 04:33] Anant1711 opened #1479 "Cybersecurity: 2.9.3 Firewall"
<hr>

## Description 📜

### Explain `Firewall` in detail!

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contrib

[2021-09-21 04:34] Surbhi-sinha commented on #1476
this is an extension in the javascript frontend library. I would b adding some basic functionalities and intro.

[2021-09-21 04:34] ViAsmit commented on #135
@iamayushkr Yeah you should upload it to youtube, then add a link to repo.

[2021-09-21 04:35] Himanshu664 commented on #1241
@aniketpathak028 if you want to work on this issue I unassigned myself goodluck.

[2021-09-21 04:35] shreya024 commented on #1306
Can I do this?
Batch -13

[2021-09-21 04:36] ketkikaushik opened #1480 "C/CPP: Concept of OOPS"
<hr>

## Description 📜

This documentation will contain detailed explanation (with examples) of Concept of OOPS in C/CPP that includes:

Object
Class
Inheritance
Polymorphism
Abstraction
Encapsulation.

<hr>

## Domain of Contribution 📊

- [x ] C/CPP

<hr>

[2021-09-21 04:36] Himanshu664 commented on #1276
/assign

[2021-09-21 04:36] ketkikaushik commented on #1480
/assign

[2021-09-21 04:37] Anant1711 opened #1481 "Cybersecurity: 2.9.4 LAN"
## Description
### Explain What is LAN, its advantages, and limitations!

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check

[2021-09-21 04:37] avishj opened #1482 "Golang"

[2021-09-21 04:37] #1482 closed

[2021-09-21 04:38] aniketpathak028 commented on #1241
@Himanshu664 no you can work too!🙂 I got no problem but I was just confused why the bot didn't work!

[2021-09-21 04:38] Anant1711 opened #1484 "Cybersecurity: 2.9.5 WAN"
## Description
### Explain what is WAN, its advantages, security challenges in WAN!

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serv

[2021-09-21 04:39] lakshya7878 commented on #1468
\assign Audio

[2021-09-21 04:40] sushovanb02 commented on #1276
/assign

[2021-09-21 04:40] I-Infinatoo commented on #1479
Can I do the Documentation part ?

[2021-09-21 04:40] m0hit-kumar commented on #1261
@Isha307 i already checked it out, the only left one is for audio and video  not for documentation in my domain.

[2021-09-21 04:41] shahishree03 commented on #1343
I want to work in the documentation part

[2021-09-21 04:41] medhatiwari commented on #1479
Please assign this to me @Anant1711

[2021-09-21 04:41] HumblePlebeian commented on #1484
I would like to work on this topic.
Could you please assign this issue to me?

Thanks!

[2021-09-21 04:42] m0hit-kumar commented on #1137
@prathimacode-hub Mam, if possible can you create a new issue about CatBoost  I would like to contribute.

ds-with-python-batch4
Name: Mohit Kumar

Topic: CatBoost  Algorithm

Preference: Documentation

Github profile: https://github.com/m0hit-kumar

Approaches-  What is CatBoost
Advantages of CatBoost library
CatBoost in comparison to other boosting algorithms,
Handling Categorical features
Solvi

[2021-09-21 04:43] #724 closed

[2021-09-21 04:43] Anant1711 commented on #1479
Go with `Documentation`

[2021-09-21 04:43] I-Infinatoo commented on #1479
/assign the documentation part

[2021-09-21 04:44] bhavesh-chaudhari commented on #1366
Thanks for the response. This is for Node.js which is indeed a part of JavaScript domain.

[2021-09-21 04:45] bhavesh-chaudhari commented on #1366
Thanks for the response. This is for Node.js which is indeed a part of JavaScript domain.

[2021-09-21 04:45] Anant1711 commented on #1484
Go with the `Documentation` part!

[2021-09-21 04:45] medhatiwari commented on #1481
Please assign the `Documentation` part to me @Anant1711

[2021-09-21 04:47] Anant1711 commented on #1481
Okay, Go with the `Documentation` part!

[2021-09-21 04:47] iamKushGupta commented on #1481
Is documentation assigned just now or video ?

[2021-09-21 04:48] iamKushGupta commented on #1481
If not, then Can I be assigned Documentation ?

[2021-09-21 04:48] AkMo3 commented on #1468
@lakshya7878 You already have been assigned for issue #1250

[2021-09-21 04:49] likitarai1 commented on #486
Thanks for assigning. Will complete the task latest by Friday.

[2021-09-21 04:49] Anant1711 commented on #1481
No, the `Documentation` part is taken!

[2021-09-21 04:51] #152 closed

[2021-09-21 04:54] Vrukshali-26 opened #1488 "Java : Adding document for control statements"
<hr>

## Description 📜

Java Control Statements : Adding documents for if-else, switch block and switch expressions
<hr>

## Domain of Contribution 📊

- [x] Java_Domain

<hr>

[2021-09-21 04:54] harsh6768-svg opened #1489 "Basic React Concepts"
<hr>

## Description 📜

All the basic concept used in react like
Transformation
Abstraction
Composition
State
Memoization
Lists
Algebraic Effects

<hr>

## Domain of Contribution 📊

-
- [ ] Frontend Dev React/Angular/Vue

<hr>

[2021-09-21 04:55] Vrukshali-26 commented on #1488
/assign document

[2021-09-21 04:57] #870 closed

[2021-09-21 05:02] Rishika-12 commented on #735
I want to contribute in this issue under documentation.

[2021-09-21 05:02] tannushkaa commented on #1466
/assign Audio

[2021-09-21 05:02] shreya0204 opened #1490 "C_CPP : Introduction to friend class in c++"
<hr>

## Description 📜

I will explain what is friend class along with examples and explanations in documentation.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-21 05:02] harsh6768-svg commented on #1489
/assign

[2021-09-21 05:02] shreya0204 commented on #1490
/assign

[2021-09-21 05:03] harsh6768-svg commented on #1478
/assign

[2021-09-21 05:06] AkMo3 commented on #1466
Audio content assigned to @tannushkaa.

[2021-09-21 05:06] tannushkaa commented on #1467
\assign audio

[2021-09-21 05:09] BhaswatiRoy commented on #1263
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Machine Learning
Batch-6
Issue Number- 1263                                                                                                                                                     Contribution Approaches-about p value, relation in graph, importance

[2021-09-21 05:09] BhaswatiRoy commented on #1263
/assign

[2021-09-21 05:12] BhaswatiRoy commented on #1263
The issues are not in ML domain they are in other domains so kindly please add me again in this issue

[2021-09-21 05:14] tannushkaa commented on #1468
\assign audio

[2021-09-21 05:18] aasthasaxena217 commented on #460
Can I work on this issue?

[2021-09-21 05:20] paramsiddharth commented on #1241
The bot is flawed. 😅😅 Let's not rely on it.

[2021-09-21 05:23] #1488 closed

[2021-09-21 05:25] paramsiddharth commented on #1366
@bhavesh-chaudhari I see! Thank you very much for the suggestion.
Since creating a new branch means creating a new domain, I'll have to do some thinking and discussion on it before creating it.

Let me try bring it to the attention of the relevant folks. Though the programme has already begun, I think it will be hard to create a new domain.

[2021-09-21 05:26] AkMo3 commented on #1468
@tannushkaa You already have been assigned an issue. Please check the issue assignment before commenting in every issue.

[2021-09-21 05:33] bhavesh-chaudhari commented on #1366
Thank you for your efforts and any outcome is fine. Just wanted to bring light upon this.

[2021-09-21 05:34] Rohit570git-hub commented on #1178
/assign document

[2021-09-21 05:35] developer-metalhead commented on #1247
/assign

[2021-09-21 05:36] shripaddhopate commented on #1126
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Type : Documentation , Video
Serial No: 930

[2021-09-21 05:36] shreya024 commented on #1306
/assign

[2021-09-21 05:36] palakshivlani-11 commented on #1467
\assign documentation

[2021-09-21 05:37] shripaddhopate commented on #767
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Type : Documentation , Video
Serial No: 930

[2021-09-21 05:37] developer-metalhead commented on #1275
/assign documents

[2021-09-21 05:37] shripaddhopate commented on #420
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Type : Documentation , Video
Serial No: 930

[2021-09-21 05:38] shripaddhopate commented on #348
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Type : Documentation , Video
Serial No: 930

[2021-09-21 05:38] shripaddhopate commented on #350
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Type : Documentation , Video
Serial No: 930

[2021-09-21 05:39] PranavMasekar commented on #1007
/assign

[2021-09-21 05:39] AkMo3 commented on #1467
@palakshivlani-11 Documentation and Video have already been assigned. Please have a look on my above comments.

For everyone, only Audio is left to be assigned for this issue.

[2021-09-21 05:39] palakshivlani-11 commented on #31
I would like to work on this issue.

[2021-09-21 05:42] HassanRahim26 opened #1497 "Open Source : 4.2 Explain Everything related to `GSOC`"
<hr>

## Description 📜

In this issue I'm going to explain everything related to Google Summer of Code(GSOC).

<hr>

## Domain of Contribution 📊

- [x] Open Source

<hr>

## Type of change 📝

- [x] Documentation (Content Creation in the form of codes or tutorials)

<hr>

[2021-09-21 05:42] HassanRahim26 commented on #1497
/assign

[2021-09-21 05:43] PranavMasekar commented on #1007
@ViAsmit i want to contribute in this issue and i also written /assign but its not assigning the issue to me so pls check it once

[2021-09-21 05:43] HassanRahim26 commented on #1497
/assign

[2021-09-21 05:45] Drontitan commented on #1256
/assign

[2021-09-21 05:47] Ananyagupta43 opened #1498 "Frontend with framework-React:Intro To Redux"
<hr>

## Description 📜

- What is Redux ?
- How Should we use it?
- Why should we use Redux ?
- When should we avoid using Redux ?

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev React/Angular/Vue

<hr>

[2021-09-21 05:47] Ananyagupta43 commented on #1498
/assign

[2021-09-21 05:48] mayankkuthar commented on #1497
It has already been merged and closed Issue #263 and  PR #311

[2021-09-21 05:50] anantcodes opened #1499 "Android-Kotlin : 02.5 Functions in Kotlin"
<hr>

## Description :scroll:

* Give a description of functions in Kotlin.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :
https://kotlinlang.org/docs/functions.html
https://www.geeksforgeeks.org/kotlin-functions/

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in And