[2021-09-17 14:57] rajveer43 commented on #450
Name: Rajveer Rathod
Batch: DSA batch 3
Type: Documentation
I want to work on the documentation of this issue. Assign the documentation part to me.

[2021-09-17 14:59] ShreytaSingh commented on #420
i would like to be assigned for this issue via documentation and video

[2021-09-17 15:01] ShreytaSingh commented on #432
i would love to be assigned for this issue.will be doing via documentation and video

[2021-09-17 15:03] geeky01adarsh commented on #494
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 15:04] geeky01adarsh commented on #493
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 15:04] Raghavshalu commented on #395
please assign to me sir

[2021-09-17 15:08] AJgthb2002 commented on #452
oh okay!

[2021-09-17 15:09] prathimacode-hub commented on #470
Issue assigned to @aryanblouria for documentation.

[2021-09-17 15:09] Aryamanz29 commented on #401
@priyaa-rawat  Assigning this to you, Happy Documenting 🎉

[2021-09-17 15:09] prathimacode-hub commented on #469
Issue assigned to @ron352 for documentation.

[2021-09-17 15:09] ankurg132 commented on #79
Hey @BhaswatiRoy, tell us in which part you want to contribute, is it audio or video?

[2021-09-17 15:10] prathimacode-hub commented on #414
Also brief your approach. @AnnikaD0104

[2021-09-17 15:10] gracyashhh commented on #245
@adityabisoi I'd like to contribute on this issue in the form of an **Audio**, could you please assign this to me.

[2021-09-17 15:11] prathimacode-hub commented on #417
Other issue is already assigned to you. @aryanblouria

[2021-09-17 15:11] prathimacode-hub commented on #426
Kindly let me know of your approach. @JRManasa

[2021-09-17 15:12] prathimacode-hub commented on #431
Issue assigned to @uttarabahad for documentation

[2021-09-17 15:12] Nikita512 opened #498 "Cybersecurity: 1.2 What is the importance and need for information security?"
Please assign me this issue, I want to make documentation/audio content for the issue.
Nikita Agrawal (Batch-1, Cyber Security)

[2021-09-17 15:13] Sakalya100 commented on #491
Done @sitamadex11

[2021-09-17 15:13] prathimacode-hub commented on #432
Ok let me know of your serial number and approach you would be following up. @ShreytaSingh

[2021-09-17 15:14] prathimacode-hub commented on #466
Kindly mention serial number, choice and approach you would follow. @Sakalya100

[2021-09-17 15:14] prathimacode-hub commented on #465
Also provide the details on your approach you would follow. @theshredbox

[2021-09-17 15:15] prathimacode-hub commented on #464
Kindly provide all the details.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're interested to work on.

@BhaswatiRoy

[2021-09-17 15:18] Subhradeep10 commented on #450
@rajveer43 Go for it, Assigned to you

[2021-09-17 15:18] prathimacode-hub commented on #429
Issue is assigned to @GauravPoosarla for documentation

[2021-09-17 15:18] BhaswatiRoy commented on #464
Sure wait

[2021-09-17 15:19] anjalikumawat2002 commented on #249
@adityabisoi I want to contribute this in audio form.
Anjali Kumawat
Batch - 6 Python

[2021-09-17 15:20] BhaswatiRoy commented on #464
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-464
Contribution Ideas- Explanation of why we need dimensionality reduction concepts like pca on big and complex datasets and ways to apply, other approaches rather than pca

[2021-09-17 15:21] HassanRahim26 commented on #493
Hey @pjdurden, I would like to work on this issue. Can you please assign me this issue?
Name:- Hassan Rahim
Batch: DSA batch 2
Type: Documentation

[2021-09-17 15:21] HassanRahim26 commented on #494
Hey @pjdurden, I would like to work on this issue. Can you please assign me this issue?
Name:- Hassan Rahim
Batch: DSA batch 2
Type: Documentation

[2021-09-17 15:22] Sakalya100 commented on #466
Done. Updated @prathimacode-hub

[2021-09-17 15:23] BhaswatiRoy commented on #434
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-434
Contribution Ideas- basic codes explanations and snaps, uses of NumPy in other libs, mathematical calculations of numpy

[2021-09-17 15:25] BhaswatiRoy commented on #428
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-428
Contribution Ideas- all kinds of approaches for clustering and association and some use cases, how is unsupervised learning diff from supervised learning

[2021-09-17 15:28] prathimacode-hub commented on #464
What's the choice? Documentation, Audio, Video @BhaswatiRoy

[2021-09-17 15:28] saketsagarsingh commented on #284
Saket Sagar 118- May I have the honour of working on this issue?

[2021-09-17 15:28] BhaswatiRoy commented on #424
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-424
Contribution Ideas-mathematical logic behind svm, hyperplane and extreme points explanation, how it works for both classification and regression

[2021-09-17 15:31] BhaswatiRoy commented on #420
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-420
Contribution Approaches-all modules of scikit learn like preprocessing, train test split, working over each ml algorithms

[2021-09-17 15:32] anjalikumawat2002 commented on #477
I want to Contribute in this issue.
Type - Documantation
Anjali Kumawat
Batch - 6 python

[2021-09-17 15:33] aaryan078 commented on #66
@ViAsmit  No, i will complete in 2 days

[2021-09-17 15:34] BhaswatiRoy commented on #79
I can contribute on audio

[2021-09-17 15:34] imcoza commented on #498
Assign this issue to me. I want to write documentation on this issue.
Imama Shehzad

[2021-09-17 15:34] BhaswatiRoy commented on #464
I would like to go for documentation

[2021-09-17 15:35] #331 closed

[2021-09-17 15:36] saketsagarsingh commented on #299
May I have the honour of working on this issue?

[2021-09-17 15:37] #385 closed

[2021-09-17 15:39] prathimacode-hub commented on #464
Ok, issue assigned to @BhaswatiRoy for documentation.

[2021-09-17 15:42] BhaswatiRoy commented on #464
Thank You!

[2021-09-17 15:42] anjalikumawat2002 commented on #218
I want to try on this issue.
Anjali Kumawat
Batch - 3

[2021-09-17 15:42] SouravKr2001 commented on #412
I am interested to work with this issue

[2021-09-17 15:44] SouravKr2001 commented on #340
I am interested to work with this issue (documentation)

[2021-09-17 15:45] imcoza commented on #412
You can assign this issue to me .  As I am willing to contribute to this issue in the documentation form.

[2021-09-17 15:46] ViAsmit commented on #66
@msbuddhu sorry for the convenience.. someone already started the work for this topic... I will be adding new topics by tomorrow. You can contribute in those.. thank you

[2021-09-17 15:48] ViAsmit commented on #152
Now no more topics on this issue... This much will be ok..

[2021-09-17 15:49] Ananya-Patra9437 opened #499 "Frontend with HTML and CSS: HTML Form and Form Validation. (Documentation)"
**Documentation**
BATCH - 17

[2021-09-17 15:49] SouravKr2001 commented on #249
I am from Python Batch-1
I want to contribute/work in this issue via documentation

[2021-09-17 15:49] #489 closed

[2021-09-17 15:50] SouravKr2001 commented on #245
I am from Python Batch-1
I want to contribute/work in this issue via documentation

[2021-09-17 15:50] BhaswatiRoy commented on #381
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-381
Contribution Approaches-what is an outlier, how to detect outlier by statistic and data visualization method, ways to remove outliers

[2021-09-17 15:50] Techno-Simpola commented on #489
@SourabhSaraswat-191939  may I contribute and may you
assign this issue to me

[2021-09-17 15:50] anjalikumawat2002 commented on #339
@adityabisoi I want to contribute to this in any formate.
If there is any need for an audio tutorial then I want to try this. because till now I haven't got any assigned.
Anjali Kumawat
Batch - 6 Python

[2021-09-17 15:50] SouravKr2001 commented on #206
I am from Python Batch-1
I want to contribute/work in this issue via documentation

[2021-09-17 15:50] SouravKr2001 commented on #79
I am from Python Batch-1
I want to contribute/work in this issue via documentation

[2021-09-17 15:51] gurpreet-legend commented on #380
Can I work on this ?

[2021-09-17 15:51] SouravKr2001 commented on #77
I am from Python Batch-1
I want to contribute/work in this issue via documentation

[2021-09-17 15:52] BhaswatiRoy commented on #373
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-373
Contribution Approaches-full detailed explanation of clustering and association, all subtype algorithm approaches, how unsupervised learning is different from supervised learning

[2021-09-17 15:52] Adarshswain commented on #499
can i go for it

[2021-09-17 15:55] CrypticMuze commented on #499
Id like to get assigned this issue

[2021-09-17 15:56] riyapandey730 commented on #345
can i do this

[2021-09-17 15:57] riyapandey730 commented on #344
can i work on this

[2021-09-17 15:58] arjyo851 commented on #452
I would like to work on this issue.Can you please assign this to me?
Name: Arjyo Chakraborty
Batch :- DSA - Batch 3

[2021-09-17 15:58] sitamadex11 commented on #495
yeah, you can start working on this issue.

[2021-09-17 15:59] SouravKr2001 commented on #126
I am from Android Development with Java Batch-6
I want to contribute/work in this issue via documentation

[2021-09-17 15:59] JRManasa commented on #426
Introduction to GeoPandas, different data structures ,reading and writing files

[2021-09-17 16:00] SouravKr2001 commented on #121
I am from Android Development with Java Batch-6
I want to contribute/work in this issue via documentation

[2021-09-17 16:00] SouravKr2001 commented on #119
I am from Android Development with Java Batch-6
I want to contribute/work in this issue via documentation

[2021-09-17 16:00] guptapriya-83900 commented on #499
Can I make a contribution in this issue in the form of documentation?

[2021-09-17 16:00] anjalikumawat2002 commented on #79
@adityabisoi I want to work on this issue.
Type - Documantation
Anjali Kumawat
Batch - 6 Python

[2021-09-17 16:00] SouravKr2001 commented on #118
I am from Android Development with Java Batch-6
I want to contribute/work in this issue via documentation

[2021-09-17 16:00] riyapandey730 commented on #187
can i work on this?

[2021-09-17 16:01] SouravKr2001 commented on #75
I am from Android Development with Java Batch-6
I want to contribute/work in this issue via documentation

[2021-09-17 16:01] ShubhamGupta-29 commented on #395
@paramsiddharth sir i want to try this please assign it to me

[2021-09-17 16:02] SouravKr2001 commented on #19
I am from Android Development with Java Batch-6
I want to contribute/work in this issue via documentation

[2021-09-17 16:03] riyapandey730 commented on #299
can i do this?

[2021-09-17 16:07] riyapandey730 commented on #315
can i work on this?

[2021-09-17 16:07] FirdausJawed commented on #499
I wanna work on this issue

[2021-09-17 16:10] JRManasa commented on #426
Basic Intro to GeoPandas, diff data structures, reading and writing files and  mapping tools

[2021-09-17 16:12] FirdausJawed commented on #395
@paramsiddharth  thanks for assigning me this

[2021-09-17 16:13] awesometushar000 commented on #486
Name: Tushar Kumar
Batch: DSA 2
Please assign me the documentation part.

[2021-09-17 16:14] awesometushar000 commented on #484
Name: tushar Kumar
Batch: DSA 2
Please assign me the documentation part

[2021-09-17 16:17] the-pro commented on #344
Someone is already working on it. We will be creating more issues. Keep checking the "Frontend with frameworks" milestone

[2021-09-17 16:18] Raghavshalu commented on #493
I can do this work so...can u please assign me this issue... thank you!
Type:-documentation
Batch:-5

[2021-09-17 16:20] Rohit-2602 commented on #278
yes @Srijan221 you can work on this

[2021-09-17 16:24] riyapandey730 commented on #344
thanks

[2021-09-17 16:24] the-pro commented on #344
@lohith1392 Any progress on this or is this up for grabs

[2021-09-17 16:25] riyapandey730 commented on #268
can i do this ?

[2021-09-17 16:27] riyapandey730 commented on #262
I would like to contribute to this via documentation. I would make a list of top HTML editors along with their features. Please consider me for this..
Riya Pandey
Batch-2

[2021-09-17 16:29] ishukhr commented on #477
I would like to contribute to this issue in the form of documentation,
kindly please assign me this issue.
Thanks
Ishu khare
batch-1 (python)

[2021-09-17 16:35] riyapandey730 commented on #341
I would like to contribute to this via documentation.Please consider me for this..
Riya Pandey
Batch-2

[2021-09-17 16:35] ssubhrojyoti commented on #414
Name - Subhrojyoti Narayan Roy
Batch - DSWP 5
Serial no. 171
Type- Documentation
Approach - 1. What is Dimensionality Reduction?
2.  Approach to an LDA model(Practical with Code Snippets)
3. Mechanism of LDA(Theory)

[2021-09-17 16:38] dhruti29 commented on #436
Name: Dhruti Gandhi
Batch-2
Pls, assign me this issue (Editorial/Documentation).

[2021-09-17 16:40] riyapandey730 commented on #307
I would like to contribute to this via documentation.Please consider me for this..
Riya Pandey
Batch-2

[2021-09-17 16:40] riyapandey730 commented on #294
I would like to contribute to this via documentation.Please consider me for this..
Riya Pandey
Batch-2

[2021-09-17 16:41] riyapandey730 commented on #252
I would like to contribute to this via documentation.Please consider me for this..
Riya Pandey
Batch-2

[2021-09-17 16:51] prathimacode-hub commented on #426
Ok, issue assigned to @JRManasa for documentation.

[2021-09-17 16:52] anjalikumawat2002 commented on #338
@adityabisoi can I contribute to this issue?
Anjali Kumawat
Batch - 6 python

[2021-09-17 16:53] prathimacode-hub commented on #414
Issue assigned to @ssubhrojyoti for documentation

[2021-09-17 16:55] Anant1711 commented on #498
@Nikita512 Please Do not make issues from your side, and this issue has already been done in the documentation format.
But if you want to make `audio` then I'll assign you this task!
But please don't make issues from your side, ask me on discord (DM or on batch-1-cybersecurity channel by mentioning me). I will surely help you!

[2021-09-17 16:57] Anant1711 commented on #498
@imcoza Sorry, this task is already Done!
You can check other active issues!

[2021-09-17 16:58] LegendSumeet opened #505 "ANDROID-JAVA : ANDROID JETPACK"
@sitamadex11
can you assign me to these it include
Foundation: backward compatibility, testing, Kotlin support, etc.
Architecture: data binding, lifecycles, navigation, etc.
Behavior: notifications, preferences, sharing, etc.
UI: animations, layout, emojis, etc.

documentation

[2021-09-17 17:01] mohansaitejatalari commented on #249
I would be thankful and request you to allow me to  resolve this issue by documentation.

[2021-09-17 17:02] LegendSumeet opened #506 "Resources for Competitive Programming, Interview Prep, System Design, & Problem Solving"
@gauravdas014 CAN YOU ASSIGN ME TO THESE?

[2021-09-17 17:03] sitamadex11 opened #507 "Android-Kotlin : 03.2 Create your first app in Kotlin"
## Description :
* Give a stepwise description of how to create your first app in kotlin
* either create documentation or a video.

## References :

* Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
* You have to push your PR to the **Android_Development_With_Kotlin** branch only.
* You can take help to the references but don't

[2021-09-17 17:03] Vidit-Ostwal opened #508 "Error in Contributing.md"
At the lower part of contributing.md the section where the basics of Git are explained.
[Link](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md>)

In the clone section, the given clone URL is wrong,
`$ git clone https://github.com/girlscript/winter-of-contributing.git`

Clone URL should be the user forked repository URL and not the main repository URL
somethin

[2021-09-17 17:03] LegendSumeet commented on #507
YES CAN U ASSIGN ME TO THESE?

[2021-09-17 17:04] Vidit-Ostwal commented on #508
I am raising a pull request to update the CONTRIBUTING.MD

[2021-09-17 17:04] mohansaitejatalari commented on #78
I would like to work on  this  in documentation format.

[2021-09-17 17:04] sitamadex11 commented on #507
yeah sure. Go for it.

[2021-09-17 17:05] LegendSumeet commented on #507
OHK THEN ASSIGN ME TO THESE

[2021-09-17 17:06] sitamadex11 commented on #507
supervisor will definitely assign it to you. Don't worry.

[2021-09-17 17:06] Rishika-Gaur commented on #499
I am interested in doing this topic too.

[2021-09-17 17:07] LegendSumeet commented on #507
OHK @rahulsain assign me i am starting the work

[2021-09-17 17:07] mohansaitejatalari commented on #340
I would like to contribute in documentation format

[2021-09-17 17:11] Rishika-Gaur commented on #286
I am interested in contributing to this topic too.

[2021-09-17 17:11] LegendSumeet opened #511 "Get started tutorials of dotnet (.NET) DOCUMENTATION"
@shikharvashistha can you assign me to these?

[2021-09-17 17:12] Rishika-Gaur commented on #283
I am interested in contributing to this topic too.

[2021-09-17 17:12] sitamadex11 commented on #123
@shekhars08 you can start work on this issue

[2021-09-17 17:12] Aryamanz29 commented on #400
Put your doc in `section-5` @Varun270

[2021-09-17 17:13] Vidit-Ostwal commented on #508
[Merge Request](https://github.com/girlscript/winter-of-contributing/pull/509)
@Moderators kindly review

[2021-09-17 17:13] LegendSumeet opened #512 "Types of Hackers documentation"
@Anant1711 CAN YOU ASSIGN ME TO THESE?

[2021-09-17 17:13] ravireddy07 commented on #220
Hey @2024-SANDHYA , Added the Doc.
Review it once and let me know, if anything required to change.

[2021-09-17 17:13] Rishika-Gaur commented on #274
I am interested in contributing to this topic too.

[2021-09-17 17:14] sitamadex11 opened #514 "Android-Kotlin : 03.3 Use your mobile or create a virtual device to run your app."
## Description :
* Describe how to set up your real device using USB debugging to run your app in android studio.
* Describe how to create an android-virtual-device using AVD manager to run your app in android studio.
* Required documentation or video.

## References :

* Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
* You hav

[2021-09-17 17:15] Rishika-Gaur commented on #252
I am interested in contributing to this topic too.

[2021-09-17 17:15] vandana3869 commented on #223
thanks @adityabisoi

[2021-09-17 17:16] Arya-Gupta commented on #252
I want to contribute to this issue : CSS Button Styling
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-252
Contribution Approaches-What is CSS button styling, About the button tag (using border, margin,padding,color,background-color,box shadow,using the transition property to change styling)

[2021-09-17 17:18] LegendSumeet opened #515 "Beginner-friendly resources for Machine Learning"
@gauravdas014 CAN YOU ASSIGN ME TO THESES ISSUE?

[2021-09-17 17:19] sitamadex11 opened #516 "Android-Kotlin : 04.0 Overview of Android-Manifest file"
## Description :
* Give a brief overview of **AndroidManifest.xml** file.
*  Required documentation or video.

## References :

* Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
* You have to push your PR to the **Android_Development_With_Kotlin** branch only.
* You can take help to the references but don't simply try to copy it

[2021-09-17 17:19] dakshitathakkar commented on #445
I would like to work on this issue, which is issue no. #445
Name - Dakshita Thakkar
Sno - 392
Type : Audio

[2021-09-17 17:21] sitamadex11 opened #517 "Android-Kotlin : 04.1 Overview of Android Resource file"
## Description :
**Give an overview of the Android-Resource file (res)**:-

## References :

* Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
* You have to push your PR to the **Android_Development_With_Kotlin** branch only.
* You can take help to the references but don't simply try to copy it. Just explain in your own word.
*

[2021-09-17 17:22] theshredbox commented on #465
Updated. kindly given an affirmation

[2021-09-17 17:23] sitamadex11 opened #518 "Android-Kotlin : 04.2 Overview of Gradle for Android-Studio"
## Description :
**Give an overview of Gradle for Android-Studio**:-
(**Some key points**)
* What is Gradle?
* short intro of two build.gradle file (application level and project level)

## References :

* Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
* You have to push your PR to the **Android_Development_With_Kotlin** branch

[2021-09-17 17:24] Shruti-Subu commented on #485
Name: Shruti Subu
Batch: DSA batch 3
Type: Documentation
I would like to contribute in this

[2021-09-17 17:25] Vidit-Ostwal commented on #508
@Aryamanz29
Kindly review this.

[2021-09-17 17:25] BhaswatiRoy commented on #417
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Data Science with Python
Batch-19
Serial No-787
Issue Number-417
Contribution Approaches-boosting algorithms, why it is getting famous, about xgboost, how is it different from normal algorithms

[2021-09-17 17:28] sitamadex11 opened #520 "Android-Kotlin : 04.3 Introduction to XML and Android-Layouts"
## Description :
* what is xml?
* basic of user interface.
* Short overview of different layouts like linear layout, relative layout, constraint layout, coordinator layout, etc
*  Required documentation or video.

## References :

* Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
* You have to push your PR to the **Android_Devel

[2021-09-17 17:30] Arya-Gupta commented on #220
I want to contribute to this issue : Front_End: Conventions & Best Practices
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-220
Contribution Approaches-
Usage of best practices and proper convention increases code readability (proper document structure, mentioning the doctype, closing tags, avoiding the usage of inline CSS, using an alt attribute for images and

[2021-09-17 17:32] AkshataABhat commented on #401
Hey, can I work on this issue? @Aryamanz29 @Kajol-Kumari

[2021-09-17 17:36] Arya-Gupta commented on #52
I want to contribute to this issue : Create a Placeholder RoadMap file for FrontEnd.
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-52
Contribution Approaches-
Describe why it is necessary to learn and work using basics of frontend before diving into frameworks and a step-by-step approach.

[2021-09-17 17:37] ayushsoni1010 commented on #184
Hey @Debasmita-01 👋

I would like to work on this issue and I am going to work on the documentation **Anima Plugin**
Kindly assign me this issue :)

[2021-09-17 17:41] nayakaj commented on #412
I am interested to work with this issue plz assign

[2021-09-17 17:42] Aryamanz29 commented on #376
Sorry we don't need that topic

[2021-09-17 17:42] #376 closed

[2021-09-17 17:43] #440 closed

[2021-09-17 17:46] siddhi-244 commented on #310
Please check my pr @Aryamanz29

[2021-09-17 17:48] shubhamjain2001 commented on #476
Hello I am Shubham Jain from CP batch 4 . Please assign this task to me

[2021-09-17 17:50] dhruvjain896 commented on #395
Is this issue still available for assigning

[2021-09-17 17:52] shubhamjain2001 commented on #199
please assign this task to me

[2021-09-17 17:52] dhruvjain896 commented on #380
Can I work on this issue ?

[2021-09-17 17:59] #310 closed

[2021-09-17 18:04] #292 closed

[2021-09-17 18:07] #284 closed

[2021-09-17 18:09] ELLIPSIS009 commented on #401
Hey can i contribute to this issue? @Aryamanz29 @Kajol-Kumari

[2021-09-17 18:13] SourabhSaraswat-191939 opened #523 "FRONTEND WITH FRAMEWORK: VueJS-1.2 => Introduction to VueJS using CDN"
Contributors are required to include an Introduction of VueJS using CDN, which should cover questions like :-
What is VueJS CDN?
How to install VueJS with this?
A basic code, showing an implementation of VueJS with CDN .
etc....

Also, make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development

[2021-09-17 18:13] SourabhSaraswat-191939 commented on #523
If you don't know this framework. Don't worry still, you can contribute.
Here I am attaching some references for you.

https://vuejs.org/v2/guide/
https://www.tutorialspoint.com/vuejs/vuejs_overview.htm
You can also study from any other source to learn.

Note -> These references contents are not to copy/paste. Avoid copy/paste, We will be checking.

[2021-09-17 18:13] iamayushkr commented on #515
I would like to work on this.

[2021-09-17 18:19] SourabhSaraswat-191939 commented on #489
Hey @Techno-Simpola ,
Sorry for the inconvenience as this issue is closed because a similar kind of similar issue is already there.
I will suggest you to work on other issue.
I made one new issue. The task will be assigned on first come first serve.
[https://github.com/girlscript/winter-of-contributing/issues/523](https://github.com/girlscript/winter-of-contributing/issues/523)

[2021-09-17 18:22] Tiwarisonal19 commented on #401
Hey, I too want to work on this issue, can you assign this to me? @Aryamanz29

[2021-09-17 18:23] Rohit-2602 commented on #138
Tag any of the mentor here, with the link of the PR

[2021-09-17 18:23] Narayan1002 commented on #138
Hey, I am currently leaning android development. I would love to contribute and prepare a documented sheet

[2021-09-17 18:24] SourabhSaraswat-191939 opened #524 "FRONTEND WITH FRAMEWORK: VueJS-1.3 => Installation using NPM and about Vue CLI"
Contributors are required to include a procedure of an Installation of VueJS using NPM and about Vue CLI.

Also, make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
The task will be assigned on first come first serve
Check out Contribution Guidelines
and Code O

[2021-09-17 18:26] SourabhSaraswat-191939 commented on #524
If you don't know this framework. Don't worry still, you can contribute.
Here I am attaching some references for you.

https://vuejs.org/v2/guide/
https://www.tutorialspoint.com/vuejs/vuejs_overview.htm
You can also study from any other source to learn.

Note -> These references contents are not to copy/paste. Avoid copy/paste, We will be checking.

[2021-09-17 18:32] RIYANSHGARG commented on #524
I would like to work on this issue . please assign it to me

[2021-09-17 18:33] the-pro commented on #524
@RIYANSHGARG Go Ahead!

[2021-09-17 18:36] FirdausJawed commented on #512
i want to work on this issue

please assign this to me

[2021-09-17 18:37] SourabhSaraswat-191939 commented on #524
Yes Sure, Go ahead @RIYANSHGARG.

[2021-09-17 18:38] anushka-mishra-code commented on #434
I would be glad to work on this issue.
Name : Anushka Mishra
Batch : 9
Serial No.: 291
Type : Documentation
Approach:
               Introduction to Numpy
               How to import it and where to use it
               Functions of numpy with example

[2021-09-17 18:40] #290 closed

[2021-09-17 18:40] FirdausJawed commented on #511
please assign this to me

[2021-09-17 18:40] RIYANSHGARG commented on #524
I will have to write about VUE CLI and how it is installed using npm. right?

[2021-09-17 18:41] LegendSumeet commented on #511
its done

[2021-09-17 18:51] mukeshmjn commented on #524
Yes

[2021-09-17 18:51] ydasc815 opened #528 "Android-Kotlin: 05.0 Introduction to Views in Android"
### Description
- Give an overview of Views in Android. Talk about View and ViewGroups, and how both are different from each other.
- Discuss various Views: ImageView, TextView, Button, EditText.
- Discuss in brief about the basic implementation of each of them.

### Resources

- Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
-

[2021-09-17 18:52] SourabhSaraswat-191939 commented on #524
1)Installation of VueJs using npm.
2)About, what is Vue CLI
3)Installation of Vue CLI using npm
4)Working on Vue CLI commands with examples.
etc...

@RIYANSHGARG you can follow this.

[2021-09-17 18:56] samy0444 commented on #277
@Rohit-2602 can I start working??

[2021-09-17 19:03] #301 closed

[2021-09-17 19:07] anushka-mishra-code commented on #428
I would be glad to work on this issue.
Name : Anushka Mishra
Batch : 9
Serial No.: 291
Type : Documentation
Approach:-

Brief Introduction to Machine Learning and then explaining Unsupervised Learning in detail
Different types of clusterings
How to choose the number  of clusters
PCA  Algorithm

[2021-09-17 19:17] 0shivamh commented on #512
@LegendSumeet do not make an issue by yourself, the mentor will do. and types of hacker issue is already created and assigned.

[2021-09-17 19:18] #512 closed

[2021-09-17 19:24] GenMech opened #529 "Front_End: HTML Forms"
<h1>HTML Forms</h1>

- Creating HTML forms with HTML/CSS

<h3>Description</h3>

- Forms Attributes
- Forms Elements
- Input Types
- Input Attributes
- Input Forms Attributes

[2021-09-17 19:30] uditkatyal commented on #529
Assugn this issue to me
I have worked on numerous projects that used forms in it!

[2021-09-17 19:33] GenMech commented on #529
@ghulamyazdani @praveenscience I have good hold on HTML and i have created this issue , i would like to contribute in this in a well documented form Kindly assign it to me.

[2021-09-17 19:36] Vishaka830 commented on #422
@prathimacode-hub Ma'am, Can I do the documentation for it?
Vishaka Saxena
Serial No: 901
Batch: 20
Issue Number: 422
Type: Documentation
Approach: Introduction of Cross-Validation?
Overfitting & Unfitting
Various validation strategies
Tips & Tricks

[2021-09-17 19:39] anushka-mishra-code commented on #267
I would be glad to work on this issue.
Name : Anushka Mishra
Batch : 1
Serial No.: 175
Type : Documentation
Approach:

Brief Introduction to HTML ,CSS, JavaScript
explaination of CSS in detail
major focus on colors in CSS

[2021-09-17 19:40] anushka-mishra-code commented on #252
I would be glad to work on this issue.
Name : Anushka Mishra
Batch : 1
Serial No.: 175
Type : Documentation
Approach:

Brief Introduction to HTML ,CSS, JavaScript
explaination of CSS in detail
major focus on styling buttons in CSS with examples

[2021-09-17 19:40] Sarthak-Agg commented on #436
task assigned to @RBiswa787 for video representation and @rkadam61001 @msbuddhu @dhruti29 for (Editorial/Documentation)

[2021-09-17 19:44] #295 closed

[2021-09-17 19:45] Narayan1002 commented on #528
hey i am currently learning android development. kindly assign this issue to me. @rahulsain

[2021-09-17 19:47] Narayan1002 commented on #520
hey i am currently learning android development. kindly assign this issue to me. @rahulsain

[2021-09-17 19:51] mukeshmjn opened #531 "FRONTEND WITH FRAMEWORK: Angular -> How to Create a Component using Angular CLI?"
- How to create a component using cli?
- What files are created when you create a component?

Things to be included:-

1.  cli command ?
2. Files created and their use?

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "**Frontend_Web_Development_React_Angular_Vue/Angular/Week1**" directory
3. Tasks would be assigned on Fir

[2021-09-17 19:57] mukeshmjn opened #532 "FRONTEND WITH FRAMEWORK: Angular -> How to create an Angular Component manually without CLI?"
- Briefly explain how to create an Angular Component without Angular CLI?
- What files need to be created?
- What import need to be done?
- Reference:- https://angular.io/guide/component-overview

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "**Frontend_Web_Development_React_Angular_Vue/Angular/Week1**" directory
3. Tas

[2021-09-17 19:59] ankurg132 commented on #79
@SouravKr2001 and @anjalikumawat2002 the documentation part is already assigned, @adityabisoi you can assign the audio part to @BhaswatiRoy and we're still looking for contributors in video part.

[2021-09-17 20:02] ankurg132 commented on #412
The documentation is already assigned, anyone interested to take up the video part can comment stating that they want to work on the video.

[2021-09-17 20:03] nimisha-yadav commented on #483
Assigning this issue to you @geeky01adarsh, all the best!

@aman12207 for future issues, do send in your batch number as well according to the guideline.

[2021-09-17 20:04] mukeshmjn opened #534 "FRONTEND WITH FRAMEWORK: Angular -> Angular Component LifeCycle"
- Briefly Explain Angular Component LifeCycle Hooks.
- What functions/methods are their in lifecyle hooks? like ngoninit, ngOnChanges
- Also, explain these functions use sequentially.

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week1" directory
3. Tasks would be assi

[2021-09-17 20:06] anushka-mishra-code commented on #529
I would be glad to work on this issue.
Name : Anushka Mishra
Batch : 1
Serial No.: 175
Type : Documentation
Approach:

Brief Introduction to HTML ,CSS
Explaination of all the elements , attributes, etc to be used in form
Explaination of how to create  a form with example

[2021-09-17 20:10] nimisha-yadav commented on #482
Assigning this issue to you @Harshil-Jani, all the best!

hey @siddhi-244 and @geeky01adarsh, since you're already working on an issue so newer people are given the chance. Let me know if y'all are interested in audio/video format of this issue, I'll assign them to you.

[2021-09-17 20:10] NikitaEmberi commented on #417
I want to contribute to this issue :
Name-Nikita Emberi
Domain-Data Science with Python
Batch-19
Serial No-797
Issue Number-417
Contribution Approaches-Introduction to Boosting, Different Types of Boosting Algorithms Available, History of XGBoost and its advantages over previous boosting algorithms, Unique features of XGBoostClassifier, XGBoostClassifier HyperParameters.

[2021-09-17 20:12] nimisha-yadav commented on #474
Assigning this issue to you @Raghavshalu, all the best!

Rest of the people, since you're already working on an issue so newer people are given the chance. Let me know if y'all are interested in audio/video format of this issue, I'll assign them to you.

[2021-09-17 20:12] imcoza commented on #340
I want to contribute to this issue in the documentation format.

[2021-09-17 20:14] abhishek4994 commented on #515
I'd like to work on this issue.

[2021-09-17 20:14] nimisha-yadav commented on #484
Assigning this issue to you @awesometushar000, all the best!

[2021-09-17 20:14] harshithatnbr commented on #484
I would like to work on this issue . (video part). I will   explain with slides .Please assign it to me.
(GWOC Contributor Batch 5)

[2021-09-17 20:15] Sejalm12 commented on #148
I would like to take this task for Documentation.

[2021-09-17 20:18] nimisha-yadav commented on #484
Alright, assigning you the video format, all the best @harshithatnbr

[2021-09-17 20:19] harshithatnbr commented on #484
Thanks a lot @nimisha-yadav !

[2021-09-17 20:21] nimisha-yadav commented on #485
Assigning this issue to you @RBiswa787 for doc, all the best!

[2021-09-17 20:22] nimisha-yadav commented on #486
Assigning this issue to you @AJgthb2002 for doc, all the best!

[2021-09-17 20:25] nimisha-yadav commented on #486
Assigning this issue to you @girija0707 for doc, all the best!

Rest individuals are welcome to work for audio/video part, let me know if someone is interested.

[2021-09-17 20:50] NikitaEmberi commented on #432
I want to contribute to this issue :
Name-Nikita Emberi
Domain-Data Science with Python
Batch-19
Serial No-797
Issue Number-417
Choice-Documentation
Contribution Approaches- what is time series forecasting?, 11 different classical time series forecasting methods, math behind each method,  code snippet demonstrating their implementation.

[2021-09-17 20:56] RIYANSHGARG commented on #524
I have send the pull request, please consider it.

[2021-09-17 20:58] RIYANSHGARG commented on #531
I would Like to work on this issue. kindly assign it to me

[2021-09-17 21:04] Sejalm12 commented on #144
Cn i do this task in Documentation?

[2021-09-17 22:00] SouravKr2001 commented on #61
I am interested in the issue (doc...)

[2021-09-17 22:01] SouravKr2001 commented on #74
I am interested in solving this issue (documentation)

[2021-09-17 22:03] ghulamyazdani commented on #274
@AnirudhBot Done 👍🏻 , you can work on it now!

[2021-09-18 00:53] anjalikumawat2002 commented on #79
If there is a need of video part on this issue then I can do this video part also @adityabisoi
Anjali Kumawat
Batch - 6 Python

[2021-09-18 01:59] sitamadex11 commented on #520
in which section do you want to work, doc or video?

[2021-09-18 02:13] anjalikumawat2002 commented on #412
Hello, @adityabisoi  I want to do this task.
Type - Video
Batch - 6 Python
Anjali Kumawat

[2021-09-18 02:25] anjalikumawat2002 commented on #47
Hello @adityabisoi
I want to contribute in this issue  in Video Form.
Anjali Kumawat
Batch - 6
Python

[2021-09-18 02:46] pragatikesarwani38 commented on #185
Okay

[2021-09-18 02:46] #185 closed

[2021-09-18 02:50] Raghavshalu commented on #474
@nimisha-yadav Thank You to assign for me!

[2021-09-18 02:56] lohith1392 commented on #344
@the-pro ya almost done I will submit it by tonight

[2021-09-18 03:21] lohith1392 commented on #344
I was not able to present the information accurately sorry!!!

[2021-09-18 03:23] mukeshmjn commented on #531
Go on!

[2021-09-18 03:23] rahulsain commented on #528
@Narayan1002 You are already assigned to one issue, please work on that

[2021-09-18 03:26] Safwan310 commented on #523
Interested. Please assign this issue to me. Thank you

[2021-09-18 03:29] ayush-sleeping commented on #516
Hey, I would like to contribute on this ( Overview of Android-Manifest file  )
@sitamadex11

[2021-09-18 03:29] adityabisoi commented on #47
One at a time, please

[2021-09-18 03:30] adityabisoi commented on #79
As you say

[2021-09-18 03:35] adityabisoi commented on #412
If you see someone assigned to more than one issues, you can report it in the general channel.

[2021-09-18 03:37] adityabisoi commented on #249
You'll have to comment early on from next time.

[2021-09-18 03:41] cmonitishofficial commented on #119
**Can I work on this issue? @VikasPandey121**

[2021-09-18 03:41] anjalikumawat2002 commented on #47
Ok sir

[2021-09-18 03:46] CSAURABH commented on #534
can i work on this issue

[2021-09-18 03:46] samy0444 commented on #277
@Rohit-2602 , atleast tell me what measures should I take in order to get this issue. I have already edited it, there are only few issues, if I wait for this one to get assigned rest of the issues will be assigned to others. I am supposed to work not wait until this contribution ends.
Once again I'm asking for your review!

[2021-09-18 03:47] CSAURABH commented on #532
@mukeshmjn can i work on this issue (Documentation).

[2021-09-18 03:47] #524 closed

[2021-09-18 03:48] anandhu720 commented on #532
@CSAURABH yes

[2021-09-18 03:50] anandhu720 commented on #523
@Safwan310 ok

[2021-09-18 03:52] anandhu720 commented on #344
@lohith1392 no problem

[2021-09-18 03:52] mohansaitejatalari commented on #477
I will contribute in documentation format

[2021-09-18 03:53] nayakaj commented on #27
@Aryamanz29  completed

[2021-09-18 03:55] mohansaitejatalari commented on #77
I would like to contribute in documentation format

[2021-09-18 03:56] jiviteshjain commented on #471
Hey @Samhitha-Jasti, this issue is already assigned to @pankaj-Makhijani for documentation. If you feel there is something here you can cover in an audio/video tutorial, let us know!

[2021-09-18 04:04] Aryan-Mohanty commented on #344
Can I work on this issue?

[2021-09-18 04:04] anandhu720 commented on #344
@Aryan-Mohanty yes

[2021-09-18 04:10] BhaswatiRoy commented on #79
Yes I can do the audio part.

[2021-09-18 04:12] anandhu720 opened #540 "FRONTEND WITH FRAMEWORK: VueJS-1.4 => Intro to Lifecycle Diagram and Lifecycle Hooks (Theory explanation)"
Contributors are required to include an Intro to Lifecycle Diagram, which should cover questions like :-
Vue instance
What is LifeCycle Hooks and Diagrams
Explain every 8 life cycle hook
etc....

Also, make sure -
Iclude Diagrams and code snippets for better understanding
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside

[2021-09-18 04:17] akashshukla7458 commented on #401
Hey , i would like to contribute in this @Aryamanz29

[2021-09-18 04:26] prathimacode-hub commented on #417
Already an issue is assigned to you. @BhaswatiRoy

This issue is assigned to @NikitaEmberi for documentation

[2021-09-18 04:27] anantcodes opened #542 "Android-Kotlin : 01.2 Git flow & commands"
## Description :
*  Give a stepwise description of the git flow.
* Describe various git commands.
*  Required documentation, audio, or video.

## References :
https://git-scm.com/docs
https://training.github.com/downloads/github-git-cheat-sheet/

* Changes should be made in Android_Development/Kotlin/ directory under Android_Development_With_Kotlin branch.
* You have to push your PR to the Android

[2021-09-18 04:27] prathimacode-hub commented on #465
Ok, issue is assigned to @theshredbox for documentation.

Kindly be more elaborative while working.

[2021-09-18 04:28] prathimacode-hub commented on #432
@NikitaEmberi, Already an issue is assigned to you.

[2021-09-18 04:29] itsbittoosharma opened #543 "Java : 1.1_Introduction to Java, it's basic terminology and it's benefits"
Initializing Java Branch with Introductory topics

[2021-09-18 04:30] itsbittoosharma commented on #543
Sir please assign this to me

[2021-09-18 04:32] Anant1711 commented on #150
Great work Guyz!

[2021-09-18 04:32] #150 closed

[2021-09-18 04:35] Anant1711 commented on #148
Sorry @Sejalm12 , Documentation is already done!

[2021-09-18 04:35] Saurabh-crypto16 commented on #540
I want to do it

[2021-09-18 04:44] a12baghel2 commented on #540
I want to do it.

[2021-09-18 04:44] Anant1711 commented on #148
Documentation is completed!

@ankitjha2711 Any update for video submission?

[2021-09-18 04:45] kunal-kumar-chaudhary commented on #31
i've had  made pull request, but now i see the file structure has been changed. can you tell in which section i have to include my files for making yet another different pull request?

[2021-09-18 04:47] adityabisoi opened #548 "Python: What are Bitwise operators?"
### Description :
What are Bitwise operators?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/wi

[2021-09-18 04:48] PAARTH2608 commented on #343
Can I work on this??

[2021-09-18 04:49] adityabisoi opened #549 "Python: What are built-in methods?"
### Description :
What are built-in methods, give some examples.

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://githu

[2021-09-18 04:50] adityabisoi opened #550 "Python: List & matrix"
### Description :
What are: list & matrix?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/winte

[2021-09-18 04:51] priyanshuc4423 commented on #548
please assign me (DOCUMENTATION)

[2021-09-18 04:51] adityabisoi opened #551 "Python: dict & set"
### Description :
Briefly explain dict & set

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/win

[2021-09-18 04:51] Hanesh-Jogani commented on #549
Please Assign Me this Issue
Documentation

[2021-09-18 04:52] adityabisoi opened #552 "Python: stack & queue"
### Description :
Briefly explain stack & queue

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/

[2021-09-18 04:52] adityabisoi opened #554 "Python: sets"
### Description :
Briefly explain sets in python

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript

[2021-09-18 04:53] Anant1711 commented on #144
The documentation has already taken!
You can submit in Video format If you want!

[2021-09-18 04:53] anandhu720 commented on #540
@a12baghel2 sure

[2021-09-18 04:53] nayakaj commented on #554
i would like to work on this

[2021-09-18 04:53] nayakaj commented on #552
i would love to work on this

[2021-09-18 04:55] nayakaj commented on #551
plz assign me i would love to work

[2021-09-18 04:56] nayakaj commented on #548
plz assign me

[2021-09-18 04:56] Anant1711 commented on #512
ya! Guyz please do not make issues by yourself, Please be active on the discord channel! I'll post there all updated/new issues
@LegendSumeet @FirdausJawed

[2021-09-18 04:56] Ayushi2811 commented on #529
Can i create a vedio on this
Ayushi Chauhan
barch-1
do assign vedio task to me @GenMech

[2021-09-18 04:56] nayakaj commented on #549
please assign me

[2021-09-18 04:57] lohith1392 commented on #550
I am interested ind documentation

[2021-09-18 04:57] lohith1392 commented on #550
Peddi sai lohith
Python batch 4

[2021-09-18 04:58] lohith1392 commented on #552
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 04:59] lohith1392 commented on #551
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 04:59] lohith1392 commented on #554
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:01] Ayushi2811 commented on #499
Can i make a well descriptive vedio on this
Ayushi Chauhan
batch-1

[2021-09-18 05:04] adityabisoi opened #556 "Python: Loops- for loop"
### Description :
What is for loop in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/wi

[2021-09-18 05:04] lohith1392 commented on #556
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:05] adityabisoi opened #557 "Python: Loops- while loop"
### Description :
What is `while` loop in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscrip

[2021-09-18 05:05] LegendSumeet opened #558 "Rust Documentation"
@gauravdas014 assign me to these ?

[2021-09-18 05:05] Mitali-13 commented on #556
I would like to work on this . pls assign
open source
batch 3

[2021-09-18 05:05] adityabisoi opened #559 "Python: if statement"
### Description :
What is if statement in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscrip

[2021-09-18 05:05] lohith1392 commented on #559
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:06] lohith1392 commented on #557
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:06] LegendSumeet commented on #559
can you assign me to these ? @adityabisoi

[2021-09-18 05:07] itsKiranay commented on #559
I can work with this too so please do consider. Thank You!!

[2021-09-18 05:08] naveeramesh commented on #557
I would like to work on this issue @adityabisoi

[2021-09-18 05:08] itsKiranay commented on #557
I would like to work on this!!

[2021-09-18 05:09] itsKiranay commented on #556
I would like to work on this issue. Thank you!!

[2021-09-18 05:09] itsKiranay commented on #554
I would like to work on this issue. Thank you!!

[2021-09-18 05:09] the-pro commented on #343
@iamsuyashpatel07 any updates?

[2021-09-18 05:09] itsKiranay commented on #552
I would like to work on this issue. Thank you!!

[2021-09-18 05:10] itsKiranay commented on #551
I would like to work on this issue. Thank you!!

[2021-09-18 05:10] itsKiranay commented on #550
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:10] ydasc815 opened #560 "Android-Kotlin"

[2021-09-18 05:11] itsKiranay commented on #549
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:11] adityabisoi opened #561 "Python: Loops- break"
### Description :
What is `break` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/win

[2021-09-18 05:11] adityabisoi opened #562 "Python: Loops- pass"
### Description :
What is `pass` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/wint

[2021-09-18 05:11] itsKiranay commented on #548
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:11] adityabisoi opened #563 "Python: Loops- continue"
### Description :
What is `continue` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/

[2021-09-18 05:11] adityabisoi opened #564 "Python: OOP-class"
### Description :
What is `class` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/win

[2021-09-18 05:11] lohith1392 commented on #561
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:11] adityabisoi opened #565 "Python: OOP-object"
### Description :
What is `object` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/wi

[2021-09-18 05:11] adityabisoi opened #566 "Python: OOP-init"
### Description :
What is `__init__` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/

[2021-09-18 05:11] adityabisoi opened #567 "Python: OOP-Inheritance"
### Description :
What is `Inheritance` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscri

[2021-09-18 05:11] adityabisoi opened #568 "Python: OOP-polymorphism"
### Description :
What is `polymorphism` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscr

[2021-09-18 05:11] adityabisoi opened #569 "Python: Functions"
### Description :
What is `Functions` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript

[2021-09-18 05:11] adityabisoi opened #570 "Python: Advanced functions-zip"
### Description :
What is `zip` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/winte

[2021-09-18 05:11] adityabisoi opened #571 "Python: Advanced functions-Filter"
### Description :
What is `Filter` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/wi

[2021-09-18 05:11] nayakaj commented on #556
i would like to work on this issue

[2021-09-18 05:11] adityabisoi opened #572 "Python: Advanced functions-Map"
### Description :
What is `Map` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/winte

[2021-09-18 05:11] adityabisoi opened #573 "Python: Advanced functions-Reduce"
### Description :
What is `Reduce` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/wi

[2021-09-18 05:11] adityabisoi opened #574 "Python: Advanced functions-lambda"
### Description :
What is `lambda` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/wi

[2021-09-18 05:11] adityabisoi opened #575 "Python: Concepts-List comprehension"
### Description :
What is `List comprehension` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/g

[2021-09-18 05:11] adityabisoi opened #576 "Python: Concepts-Decorators"
### Description :
What is `Decorators` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscrip

[2021-09-18 05:11] adityabisoi opened #577 "Python: Concepts-Generators"
### Description :
What is `Generators` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscrip

[2021-09-18 05:11] adityabisoi opened #578 "Python: modules"
### Description :
What is `modules` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/w

[2021-09-18 05:11] lohith1392 commented on #567
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:11] adityabisoi opened #579 "Python: File I/O"
### Description :
What is `file i/o` in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/

[2021-09-18 05:12] nayakaj commented on #557
I would like to work on this!!

[2021-09-18 05:12] lohith1392 commented on #562
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:12] Adarshswain commented on #499
I am from batch-17

[2021-09-18 05:12] lohith1392 commented on #563
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:12] itsKiranay commented on #579
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:12] nayakaj commented on #561
I would like to work on this!!

[2021-09-18 05:12] LegendSumeet commented on #572
@adityabisoi assign me to these issue?

[2021-09-18 05:12] lohith1392 commented on #566
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:12] nayakaj commented on #579
I would like to work on this!!

[2021-09-18 05:13] lohith1392 commented on #578
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:13] nayakaj commented on #578
I would like to work on this!!

[2021-09-18 05:13] itsKiranay commented on #578
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:13] lohith1392 commented on #570
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:13] nayakaj commented on #577
I would like to work on this!!

[2021-09-18 05:13] lohith1392 commented on #569
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:13] nayakaj commented on #576
I would like to work on this!!

[2021-09-18 05:13] itsKiranay commented on #577
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:13] nayakaj commented on #575
I would like to work on this!!

[2021-09-18 05:13] LegendSumeet commented on #577
I would like to work on this!! @adityabisoi

[2021-09-18 05:13] itsKiranay commented on #576
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:13] lohith1392 commented on #568
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:13] nayakaj commented on #574
I would like to work on this!!

[2021-09-18 05:13] itsKiranay commented on #575
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:13] naveeramesh commented on #569
I would like to work on this documentation

[2021-09-18 05:13] lohith1392 commented on #574
### I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:13] LegendSumeet commented on #573
I would like to work on this!! @adityabisoi

[2021-09-18 05:13] itsKiranay commented on #574
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:13] nayakaj commented on #573
I would like to work on this!!

[2021-09-18 05:14] lohith1392 commented on #571
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:14] itsKiranay commented on #573
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:14] nayakaj commented on #572
I would like to work on this!!

[2021-09-18 05:14] LegendSumeet commented on #571
I would like to work on this!! @adityabisoi

[2021-09-18 05:14] itsKiranay commented on #572
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:14] nayakaj commented on #571
I would like to work on this!!

[2021-09-18 05:14] lohith1392 commented on #564
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:14] itsKiranay commented on #571
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:14] lohith1392 commented on #565
I would like to work on this please documentation

Peddi sai lohith
Python batch 4

[2021-09-18 05:14] nayakaj commented on #570
I would like to work on this!!

[2021-09-18 05:14] itsKiranay commented on #570
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:14] nayakaj commented on #569
I would like to work on this!!

[2021-09-18 05:14] itsKiranay commented on #569
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:14] nayakaj commented on #569
I would like to work on this!!

[2021-09-18 05:15] itsKiranay commented on #563
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:15] LegendSumeet commented on #565
I would like to work on this!! @adityabisoi

[2021-09-18 05:15] nayakaj commented on #568
I would like to work on this!!

[2021-09-18 05:15] itsKiranay commented on #562
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:15] nayakaj commented on #567
I would like to work on this!!

[2021-09-18 05:15] prathimacode-hub commented on #420
Documentation is already taken, if you would like to work on video/audio for this issue, you can let me know. Have you been assigned to any other issue? @ShreytaSingh

[2021-09-18 05:15] itsKiranay commented on #561
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:15] nayakaj commented on #566
I would like to work on this!!

[2021-09-18 05:15] nayakaj commented on #565
I would like to work on this!!

[2021-09-18 05:15] prathimacode-hub commented on #420
An issue is already assigned to you. @BhaswatiRoy

[2021-09-18 05:15] itsKiranay commented on #568
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:15] LegendSumeet commented on #560
I would like to work on this!! @ydasc815

[2021-09-18 05:15] nayakaj commented on #564
I would like to work on this!!

[2021-09-18 05:15] #543 closed

[2021-09-18 05:15] nayakaj commented on #563
I would like to work on this!!

[2021-09-18 05:15] itsKiranay commented on #567
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:15] itsKiranay commented on #566
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:16] nayakaj commented on #562
I would like to work on this!!

[2021-09-18 05:16] nayakaj commented on #561
I would like to work on this!!

[2021-09-18 05:16] itsKiranay commented on #565
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:16] itsKiranay commented on #564
I would like to work on this issue via documentation. Thank you!!

[2021-09-18 05:17] LegendSumeet commented on #542
I would like to work on this!! @anantcodes with documentation, audio or video.

[2021-09-18 05:17] #144 closed

[2021-09-18 05:17] Sravani29-2001 commented on #575
I would like to work on this issue via documentation.

[2021-09-18 05:19] naveeramesh commented on #559
I would like to work on this issue for documentation

[2021-09-18 05:20] Sravani29-2001 commented on #576
I would like to work on this issue via documentation.

[2021-09-18 05:21] Sravani29-2001 commented on #579
I would like to work on this!!

[2021-09-18 05:22] tejas342 commented on #554
Hello @adityabisoi
I want to contribute via documentation on this issue
Tejas prajapati python batch-6

[2021-09-18 05:22] ProMinato500 commented on #445
I would like to work on this issue which is issue no. #445
Name - Pradipta Nandi
Sno - 250

[2021-09-18 05:23] ProMinato500 commented on #432
I would like to work on this issue which is issue no. #445
Name - Pradipta Nandi
Sno - 250
Documentation

[2021-09-18 05:23] anantcodes commented on #542
Yeah sure.

[2021-09-18 05:24] HassanRahim26 commented on #579
I would like to work on this issue. Can you please assign me this?
Name:- Hassan Rahim
Batch- Python Batch-6
Type:- Documentation

[2021-09-18 05:24] Rohit-2602 commented on #277
@samy0444 you can start working on this

[2021-09-18 05:24] ProMinato500 commented on #423
I would like to work on this issue which is issue no. #423
Name - Pradipta Nandi
Sno - 250
Documentation

[2021-09-18 05:25] harmankaler2000 commented on #575
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:25] harmankaler2000 commented on #578
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:25] monotion25 commented on #529
please assign it to me

[2021-09-18 05:25] harmankaler2000 commented on #574
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:26] harmankaler2000 commented on #570
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:26] harmankaler2000 commented on #571
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:26] harmankaler2000 commented on #572
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:26] Asmit2952 commented on #514
Can I work on this? @rahulsain

[2021-09-18 05:26] harmankaler2000 commented on #556
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] harmankaler2000 commented on #552
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] harmankaler2000 commented on #551
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] harmankaler2000 commented on #562
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] harmankaler2000 commented on #561
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] harmankaler2000 commented on #559
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] harmankaler2000 commented on #557
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] harmankaler2000 commented on #563
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] monotion25 commented on #534
can i work on this issue?

[2021-09-18 05:27] harmankaler2000 commented on #564
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] Ashi-00 commented on #575
i would like to work on documentation of this
Ashi Dubey, batch - python-5

[2021-09-18 05:27] harmankaler2000 commented on #565
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] harmankaler2000 commented on #566
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:27] Techno-Simpola commented on #534
I also want to work on this, I may work on Documentation part of this issue

[2021-09-18 05:28] harmankaler2000 commented on #549
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:28] harmankaler2000 commented on #548
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:28] harmankaler2000 commented on #550
Hi I'd like to contribute through documentation on this topic
Harmandeep - python - batch 4

[2021-09-18 05:30] manthan89-py commented on #575
I am Interested for this work

[2021-09-18 05:31] manthan89-py commented on #569
I would like to work on this issues through documentation

[2021-09-18 05:32] BhaswatiRoy commented on #420
When I am already assigned any issue then do I need to finish and submit it then only I can apply for other issues?

[2021-09-18 05:32] manthan89-py commented on #574
## **Interested in this work via Documentation**

[2021-09-18 05:33] harshi606 commented on #515
I'd love to work on this ! Can I get assigned to this ?

[2021-09-18 05:33] SaijyotiTripathy commented on #556
Hi I would like to contribute through documentation
Saijyoti - python batch 5

[2021-09-18 05:34] manthan89-py commented on #579
### **I would like to work on this issue via documentation.**

[2021-09-18 05:34] SaijyotiTripathy commented on #566
Hi I would like to contribute through documentation
Saijyoti - python batch 5

[2021-09-18 05:34] SaijyotiTripathy commented on #549
Hi I would like to contribute through documentation
Saijyoti - python batch 5

[2021-09-18 05:34] mukeshmjn commented on #534
@CSAURABH I think you are already working on other issues as well..Let others get a chance too :)/// @monotion25 assigning u this!

[2021-09-18 05:35] manthan89-py commented on #567
#### **Interested in working on this issue through documentation.**

[2021-09-18 05:35] mukeshmjn commented on #534
@monotion25 what you are going to do documentation, audio or video?

[2021-09-18 05:36] manjeetdhayal opened #582 "MERN_React: 2.1 Introduction to JSX"
# Instructions

## Project directory
    Branch MERN>Web_Development/MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## Introduction to JSX
- Write a brief summary on what is JSX?
- Write with the help of code examples.

Please refrain from coping from internet

[2021-09-18 05:36] Sreemoyee26 commented on #556
Hi, I am from batch 4, I would like to contribute on this topic

[2021-09-18 05:36] manthan89-py commented on #556
### Interested in working on this issue via documentation

[2021-09-18 05:36] SaijyotiTripathy commented on #567
Hi I would like to contribute through documentation
Saijyoti - python batch 5

[2021-09-18 05:37] manthan89-py commented on #578
#### Interested in working on this issue via documentation

[2021-09-18 05:37] Sreemoyee26 commented on #557
Hi, I am from batch 4 I would like to contribute in this topic @adityabisoi

[2021-09-18 05:37] harshi606 commented on #322
I would love to work on this issue ! Can I also contribute here ?

[2021-09-18 05:38] manthan89-py commented on #572
#### Interested in working on this issue via documentation

[2021-09-18 05:39] manthan89-py commented on #557
#### Interested in working on this issue via documentation
**I am from Python Batch 3**

[2021-09-18 05:39] Vibhu562 commented on #569
I would like to work on this issue through documentation
Python Batch 5

[2021-09-18 05:40] manthan89-py commented on #552
### Interested in working on this issue via documentation
**I am from Python Batch 3**

[2021-09-18 05:40] Sreemoyee26 commented on #559
Hi I'd like to contribute on this topic
python - batch 4
@adityabisoi

[2021-09-18 05:40] Vibhu562 commented on #561
I would like to work on this issue through documentation.
Python Batch 5

[2021-09-18 05:42] Vibhu562 commented on #559
I would like to work on this issue through documentation.
Vibhu - Python Batch 5

[2021-09-18 05:42] kunal-kumar-chaudhary commented on #471
I can contribute to this through video.
kunal kumar - 582
batch -16
issue no. - #471
type - video
approach - I will explain the concepts first regarding why feature scaling is needed, what are different ways in which we can perform feature scaling, and then will implement it in python. How does graphs looks like before and after feature scaling if we try and plot the independent variable with resp

[2021-09-18 05:42] Vibhu562 commented on #556
I would like to work on this issue through documentation.
Vibhu - Python Batch 5

[2021-09-18 05:43] Vibhu562 commented on #549
I would like to work on this issue through documentation.
Vibhu - Python Batch 5

[2021-09-18 05:43] Sreemoyee26 commented on #563
Hi I'd like to contribute on this topic
python - batch 4
@adityabisoi

[2021-09-18 05:43] manjeetdhayal opened #583 "MERN_React: 2.2 Advanced JSX"
# Instructions

## Project directory
    Branch MERN>Web_Development/MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## Advanced JSX
- using variables in JSX
- Variable attributes in JSX
- JSX conditionals

Please refrain from coping from internet. You can use

[2021-09-18 05:46] kanika56 commented on #563
I would like to contribute on this topic.

[2021-09-18 05:50] Vibhu562 commented on #548
I would like to work on this issue through documentation.
Vibhu - Python Batch 5

[2021-09-18 05:50] Anant1711 commented on #42
@RK1905101
please submit your work today itself, the deadline for any topic is 4 days!
Otherwise, I have to transfer this task to someone else.

[2021-09-18 05:51] harshithatnbr commented on #484
I have a confusion regarding substitution method.
Some  articles are calling this method as substitution method which uses mathematical induction.

![1](https://user-images.githubusercontent.com/56475512/133874087-c42b3fa1-fc9f-4064-972f-fc244ec7f516.png)

Some videos are calling back substitution method as iterative method.
![2](https://user-images.githubusercontent.com/56475512/133877687-e623ed5

[2021-09-18 05:52] Ashi-00 commented on #573
I would like to work on this via DOCUMENTATION
Ashi Dubey
batch->python-5

[2021-09-18 05:52] Anant1711 commented on #41
@astelrastogi
Please submit your work by Today itself, your deadline was of 4 days!
Otherwise, I have to transfer this task to someone else!

[2021-09-18 05:52] Vibhu562 commented on #563
I would like to work on this issue through documentation.
Vibhu - Python Batch 5

[2021-09-18 05:53] Ashi-00 commented on #551
I would like to work on this via DOCUMENTATION
Ashi Dubey
Batch->python-5

[2021-09-18 05:54] Vibhu562 commented on #572
I would like to work on this issue through documentation.
Vibhu - Python Batch 5

[2021-09-18 05:54] manthan89-py commented on #577
### Interested in working on this issue via documentation
### Python Batch 3

[2021-09-18 05:54] priyanshu688 commented on #138
@Rohit-2602 ya got it

[2021-09-18 05:54] manjeetdhayal opened #584 "MERN_React: 1.1 Getting started with React"
# Instructions

## Project directory
    Branch MERN>Web_Development/MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## Getting started with React
- Setting up the React environment
- Create-react-app

Please refrain from coping from internet. You can use any s

[2021-09-18 05:54] Vibhu562 commented on #575
I would like to work on this issue through documentation.
Vibhu - Python Batch 5

[2021-09-18 05:55] manthan89-py commented on #551
### Interested in working on this issue via documentation
### Python Batch 3

[2021-09-18 05:56] Saurabh-crypto16 commented on #584
I want to do the documentation part

[2021-09-18 05:56] manthan89-py commented on #549
### Interested in working on this issue via documentation
### Python Batch 3

[2021-09-18 05:57] Saurabh-crypto16 commented on #582
I want to do the documentation part

[2021-09-18 05:57] Vibhu562 commented on #564
I would like to work on this issue through documentation.
Vibhu - Python Batch 5

[2021-09-18 05:57] kanika56 commented on #562
I would like to contribute on this.

[2021-09-18 05:58] Sreemoyee26 commented on #265
@Pranshu321 hello sir, I would like to work in this issue can u please assign me this?
Frontend Batch 4

[2021-09-18 05:58] Dracarys0511 commented on #577
I would like to work on this. Please give me a chance

[2021-09-18 05:59] kanika56 commented on #561
I would like to contribute on this issue.

[2021-09-18 05:59] Dracarys0511 commented on #577
I would like to work on this. Please assign me this issue.

[2021-09-18 06:00] kanika56 commented on #559
I would like to contribute on this issue.

[2021-09-18 06:00] Dracarys0511 commented on #579
Please assign me this issue.

[2021-09-18 06:03] mohansaitejatalari commented on #575
I will  work on this for documentation

[2021-09-18 06:04] mohansaitejatalari commented on #579
I will work on  this in documentation format

[2021-09-18 06:05] Dracarys0511 commented on #578
I would like to contribute for this. Please assign me this issue.

[2021-09-18 06:05] manjeetdhayal commented on #582
@Saurabh-crypto16  Go fir it, I have assigned it to you. You can work on documentation part

[2021-09-18 06:05] mohansaitejatalari commented on #578
I would be thankful if you  assign me Documentation for this

[2021-09-18 06:05] mohansaitejatalari commented on #574
I will  give documentation for this

[2021-09-18 06:06] debidattasuryaprakash commented on #534
Can I work on this issue?

[2021-09-18 06:07] Saurabh-crypto16 commented on #582
thank you😀

[2021-09-18 06:07] mohansaitejatalari commented on #568
I would like to contribute to the issue in documentation format

[2021-09-18 06:07] Dracarys0511 commented on #575
Please allow me to contribute here. I can contribute in either of the three ways audio/video/documentation.

[2021-09-18 06:07] ayushjha952 commented on #394
Can I work on the documentation part?
Ayush Jha
MERN batch-1

[2021-09-18 06:08] mohansaitejatalari commented on #567
I will give documentation for this

[2021-09-18 06:09] Dracarys0511 commented on #556
I would like to contribute here. I can contribute in any of the three ways audio/video/documentation.

[2021-09-18 06:09] ayushjha952 commented on #584
I want to contribute to the documentation part so can you assign me this issue?
Ayush Jha
MERN Batch-1

[2021-09-18 06:09] achsahxavier commented on #561
I would like to contribute to this issue via documentation/audio.
Python Batch 3

[2021-09-18 06:10] nayakaj commented on #27
@Aryamanz29 plz check

[2021-09-18 06:10] Dracarys0511 commented on #554
Please allow me to contribute here. I can contribute via any of the three ways of audio/video/documentation.

[2021-09-18 06:11] nayakaj commented on #338
@adityabisoi  completed plz check

[2021-09-18 06:11] manjeetdhayal commented on #394
hey @ayushjha952 this is already assigned. You can work on another issues

[2021-09-18 06:12] RK1905101 commented on #42
Sir, actually I was having exams, and so that's why i was unable to do it...
Today is the last, which is at evening and so i'll complete it by tonight itself..
sorry for being delayed sir.

[2021-09-18 06:12] ProMinato500 commented on #584
I want to contribute to the documentation/video/audio of this issue #584.
Name-Pradipta Nandi
SNo. 772

[2021-09-18 06:12] Dracarys0511 commented on #559
I would like to work on this issue. Please assign me this issue. I am ready to contribute in any of the three ways of audio/video/documentation.

[2021-09-18 06:13] Dracarys0511 commented on #561
Please allow me to contribute here. I am ready to contribute via any of the three ways audio/video/documentation.

[2021-09-18 06:13] ayushjha952 commented on #394
okay

[2021-09-18 06:14] Aniketsinghcoder commented on #584
I want to contribute to the documentation part so can you assign me this issue?
Aniket Singh
MERN Batch-1

[2021-09-18 06:14] HumblePlebeian commented on #583
I would love to work on this issue!
Could you please assign it to me?
Thanks!

[2021-09-18 06:15] BasuDevTyagi10 commented on #579
I would like to work on this issue.
Name: Basudev Tyagi
Batch: Python Batch-3
Type: Documentation

[2021-09-18 06:15] Dracarys0511 commented on #572
Please allow me to contribute here. I am ready to contribute in any of the three ways audio/video/documentation.

[2021-09-18 06:15] BasuDevTyagi10 commented on #578
I would like to work on this issue.
Name: Basudev Tyagi
Batch: Python Batch-3
Type: Documentation

[2021-09-18 06:15] BasuDevTyagi10 commented on #576
I would like to work on this issue.
Name: Basudev Tyagi
Batch: Python Batch-3
Type: Documentation

[2021-09-18 06:15] manjeetdhayal commented on #583
yes @HumblePlebeian go for it. I have assigned it to you

[2021-09-18 06:16] BasuDevTyagi10 commented on #566
I would like to work on this issue.
Name: Basudev Tyagi
Batch: Python Batch-3
Type: Documentation

[2021-09-18 06:16] Dracarys0511 commented on #548
Please assign me this issue . I am ready to contribute in any of the three ways.

[2021-09-18 06:17] manjeetdhayal commented on #584
@ayushjha952 I have assigned it you. You can go for documentation part

[2021-09-18 06:17] Dracarys0511 commented on #550
Please assign me this issue . I am comfortable to contribute in any of the three ways.
Geetansh - python - batch 6

[2021-09-18 06:18] manjeetdhayal commented on #584
@ProMinato500 I have assigned it to you. You can work on **video/audio** part

[2021-09-18 06:18] BasuDevTyagi10 commented on #568
I would like to work on this issue.
Name: Basudev Tyagi
Batch: Python Batch-3
Type: Documentation

[2021-09-18 06:18] Dracarys0511 commented on #549
Please assign me this issue. I am comfortable to contribute in any of the three ways.
Geetansh - python - batch 6

[2021-09-18 06:20] ProMinato500 commented on #584
@manjeetdhayal Sorry I mistakenly gave in wrong domain.

[2021-09-18 06:20] abhisheks008 opened #586 "ML 1.1 : Variables, Range, Population Distribution, Sample Distribution (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Variables, Range, Population Distribution, Sample Distribution in ML**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video)

[2021-09-18 06:22] manjeetdhayal commented on #584
@ProMinato500 cool! I have unassigned it from you. Others who want can still work on this issue.

[2021-09-18 06:22] RIYANSHGARG commented on #531
I have added a pull request please consider it.

[2021-09-18 06:23] acrocks1000 commented on #561
I would like to contribute on this issue via documentation
Python Batch 6

[2021-09-18 06:24] acrocks1000 commented on #562
I would like to contribute on this issue via documentation
Python Batch 6

[2021-09-18 06:24] abhisheks008 opened #587 "ML 1.2 : PDFs and CDFs (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **PDFs and CDFs**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options yo

[2021-09-18 06:27] dhruvjain896 commented on #395
@paramsiddharth I created a new branch from main branch in my local computer. Should I create a new js file named "Documentation for difference between const, var and let" and then write the content and code.

[2021-09-18 06:27] Aryan-Mohanty commented on #344
Hey,@anandhu720, I only have to write about npm and the react package, right?

[2021-09-18 06:27] abhisheks008 opened #588 "ML 1.3 : Central Limit Theorem (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Central Limit Theorem**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of op

[2021-09-18 06:29] abhisheks008 opened #589 "ML 1.4 : Variance, Standard Deviation, Expectation (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Variance, Standard Deviation, Expectation in ML**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all

[2021-09-18 06:30] abhisheks008 opened #590 "ML 1.5 : Probability Distributions (Gaussian, Standard, Poisson) (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Probability Distributions (Gaussian, Standard, Poisson)**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go

[2021-09-18 06:32] abhisheks008 opened #591 "ML 1.6 : Maximum Likelihood Estimation (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Maximum Likelihood Estimation**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any numb

[2021-09-18 06:33] abhisheks008 opened #592 "ML 1.7 : Parzen Windows (D)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Parzen Windows**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options y

[2021-09-18 06:36] a12baghel2 commented on #540
Thanks for assigning it to me.

[2021-09-18 06:38] Gagarod commented on #514
Are you working on the documentation part?

[2021-09-18 06:43] anandhu720 commented on #344
what is npm,installation of npm(in all os) all that things need to be included

[2021-09-18 06:44] suvangi2205 commented on #252
I have adequate knowledge in styling buttons with CSS.Can I contribute to the documentation part?
Batch 1

[2021-09-18 06:47] Asmit2952 commented on #514
Yes, I'll be documenting

[2021-09-18 06:48] RC2208 commented on #587
I would like to contribute
Ritika Chand
Batch 1
https://github.com/RC2208
Documentation

[2021-09-18 06:53] guptapriya-83900 commented on #590
I would like to the documentation of this issue. In the documentation, I will be providing the description of everything long with examples and their uses. Please assign m this issue.
ML Batch 1

[2021-09-18 06:54] Priyanshirathore commented on #143
@sitamadex11 sir please look into the PR, I gave the access.
https://github.com/girlscript/winter-of-contributing/pull/193

[2021-09-18 06:55] geeythree commented on #590
Issue has been assigned to you @guptapriya-83900
Happy Contributing! 😄

[2021-09-18 07:00] guptapriya-83900 commented on #590
I have a doubt, If we have been assigned 1 issue can we take another issue during this time?

[2021-09-18 07:00] Varun270 commented on #400
@Aryamanz29 I have Opened the PR, Kindly review it once you get time.

[2021-09-18 07:00] nikhil00shinde opened #597 "DSA: Sorting Algorithm of Count Sort and Radix Sort"
I want to write about the Count Sort and Radix Sort in the section of Searching and Sorting Algorithms. Please assign to me.
 -> I will discuss the code.
 -> Complexity Comparison (Time and Space)
-> Why? and What?

BATCH - 3

[2021-09-18 07:03] geeythree commented on #590
@guptapriya-83900 No, you have to complete an issue first. If any changes were suggested, you need to look into that too. Once your PR has been approved, you can move onto next issue. You may get in touch with your assigned mentors for clarifying any doubt you may have regarding the topic you are working on.

[2021-09-18 07:03] Varun270 opened #598 "Python : Curated List of all Online Python resources"
A list of all the Python resources for a beginner which will include Video links, Blog links.

[2021-09-18 07:04] suvangi2205 commented on #401
Can I contribute on this issue, Ma'am? @Kajol-Kumari @Aryamanz29

[2021-09-18 07:04] Varun270 commented on #598
@adityabisoi Please assign me this issue, I would like to work on it.

[2021-09-18 07:05] Anant1711 commented on #42
Okay!
Great ....

[2021-09-18 07:05] Saurabh-crypto16 commented on #584
I want to work on the video part

[2021-09-18 07:06] vatsal1704 commented on #298
Can I work on this issue?
Batch-5 Frontend Framework

[2021-09-18 07:06] heet-kumar commented on #298
@Ravinayak07 what is the update till know on these issue

[2021-09-18 07:06] Gagarod commented on #518
Can I work on this?

[2021-09-18 07:07] amitrakshar01 commented on #591
I would like to contribute in documentation.

[2021-09-18 07:07] Ayushi2811 commented on #597
I want to contribute towards this issue.please assign it to me
AYUSHI CHAUHAN
BATCH-1
@nikhil00shinde

[2021-09-18 07:09] abhisheks008 commented on #591
Follow the guidelines and provide all the necessary details. Then the issue will be assigned to you.

[2021-09-18 07:12] priyanshinaredi commented on #563
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Priyanshi Naredi
Type: Documentation
Batch: 18

[2021-09-18 07:12] priyanshinaredi commented on #562
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Priyanshi Naredi
Type: Documentation
Batch: 18

[2021-09-18 07:12] priyanshinaredi commented on #559
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Priyanshi Naredi
Type: Documentation
Batch: 18

[2021-09-18 07:12] priyanshinaredi commented on #557
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Priyanshi Naredi
Type: Documentation
Batch: 18

[2021-09-18 07:13] Ajinkyap331 commented on #570
I will be very glad to  contribute to this issue through documentation as a source of contribution

[2021-09-18 07:13] priyanshinaredi commented on #556
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Priyanshi Naredi
Type: Documentation
Batch: 18

[2021-09-18 07:13] priyanshinaredi commented on #550
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Priyanshi Naredi
Type: Documentation
Batch: 18

[2021-09-18 07:16] amitrakshar01 commented on #591
Name: Amitrakshar Sanyal
Batch: Machine Learning Batch 5
GitHub profile link: https://github.com/amitrakshar01
Contribution type: Documentation

[2021-09-18 07:16] priyanshinaredi commented on #589
@abhisheks008
Sir, I would like to contribute to this issue.
Name: Priyanshi Naredi
Type: Documentation
Batch: 4
Github : https://github.com/priyanshinaredi

[2021-09-18 07:16] #531 closed

[2021-09-18 07:17] abhisheks008 opened #599 "ML 1.1 : Variables, Range, Population Distribution, Sample Distribution (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Variables, Range, Population Distribution, Sample Distribution in ML**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video)

[2021-09-18 07:18] abhisheks008 opened #600 "ML 1.1 : Variables, Range, Population Distribution, Sample Distribution (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Variables, Range, Population Distribution, Sample Distribution in ML**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video)

[2021-09-18 07:22] abhisheks008 opened #601 "ML 1.2 : PDFs and CDFs (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **PDFs and CDFs**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options yo

[2021-09-18 07:23] abhisheks008 opened #602 "ML 1.2 : PDFs and CDFs (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **PDFs and CDFs**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options yo

[2021-09-18 07:25] abhisheks008 commented on #591
Issue assigned to you @amitrakshar01
Happy contributing!

[2021-09-18 07:25] Babithakumari commented on #297
I can work on this. Please consider me if it is reassigned

[2021-09-18 07:28] abhisheks008 opened #604 "ML 1.3 : Central Limit Theorem (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Central Limit Theorem**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of op

[2021-09-18 07:29] abhisheks008 opened #605 "ML 1.3 : Central Limit Theorem (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Central Limit Theorem**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of op

[2021-09-18 07:29] Sumit3301 commented on #586
Hi sir
I would like to contribute to this
Full name:Sumit Gaur
Batch Number: 3
github profile: https://github.com/Sumit3301
Type: Documentation

[2021-09-18 07:30] abhisheks008 commented on #589
Issue assigned to you @priyanshinaredi
Happy contributing!

[2021-09-18 07:33] geeythree opened #606 "ML 1.4 : Variance, Standard Deviation, Expectation (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Variance, Standard Deviation, Expectation in ML**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all

[2021-09-18 07:34] geeythree opened #607 "ML 1.4 : Variance, Standard Deviation, Expectation (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Variance, Standard Deviation, Expectation in ML**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all

[2021-09-18 07:37] geeythree opened #608 "ML 1.5 : Probability Distributions (Gaussian, Standard, Poisson) (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Probability Distributions (Gaussian, Standard, Poisson)**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go

[2021-09-18 07:38] prishita-s commented on #588
Prishita Singh
Batch 4
Approach: Documentation
Github profile: https://github.com/prishita-s

[2021-09-18 07:38] geeythree opened #609 "ML 1.5 : Probability Distributions (Gaussian, Standard, Poisson) (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Probability Distributions (Gaussian, Standard, Poisson)**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go

[2021-09-18 07:40] geeythree opened #610 "ML 1.6 : Maximum Likelihood Estimation (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Maximum Likelihood Estimation**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any numb

[2021-09-18 07:41] geeythree opened #611 "ML 1.6 : Maximum Likelihood Estimation (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Maximum Likelihood Estimation**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any numb

[2021-09-18 07:42] Pranav120602 commented on #554
Hello, I would like to contribute here, in a video format
Thanks and Regards,
Pranav - Python Batch 6

[2021-09-18 07:43] geeythree opened #612 "ML 1.7 : Parzen Windows (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Parzen Windows**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options y

[2021-09-18 07:43] geeythree opened #613 "ML 1.7 : Parzen Windows (V)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Parzen Windows**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options y

[2021-09-18 07:44] Pranav120602 commented on #598
Hello @adityabisoi, Kindly assign it to me. I am ready to contribute as a doc, video.
Thanks and Regards,
Pranav Shankar - Batch 6

[2021-09-18 07:46] Pranav120602 commented on #573
Greetings @adityabisoi , I would like to contribute via video.
Thanks and Regards,
Pranav Shankar - Batch 6

[2021-09-18 07:48] Pranav120602 commented on #572
Greetings,
I am interested to contribute via video.
Thanks and Regards,
Pranav Shankar - Batch 6

[2021-09-18 07:48] abhisheks008 commented on #586
Issue assigned @Sumit3301
Happy Contributing!

[2021-09-18 07:50] abhisheks008 commented on #588
Issue Assigned @prishita-s
Happy Contributing!

[2021-09-18 07:57] ELLIPSIS009 commented on #592
hey, can i contribute to this ? @abhisheks008

[2021-09-18 08:00] ELLIPSIS009 commented on #592
Abhinav Mathur
ML Batch - 1
GitHub link: https://github.com/ELLIPSIS009
Type of contribution : Documentation (ipynb)

[2021-09-18 08:02] gsk-007 commented on #506
I am interested in working on this issue.

[2021-09-18 08:04] abhisheks008 commented on #592
Issue assigned @ELLIPSIS009
Happy contributing!

[2021-09-18 08:08] anandhu720 opened #615 "Frontend With Framework - Virtual DOM and Internals"
Need to include
1 What is the Virtual DOM
2  Advantages of Virtual DOM
3 Is the Shadow DOM the same as the Virtual DOM
4 What is React fibre

Please try to add pictures related to the topic.

Also make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
Task will be

[2021-09-18 08:10] Aniketsinghcoder commented on #436
Aniket Singh & DSA-batch-3
Sir, I want to contribute to this issue in the Editorial/Documentation part.
In case if the array is sorted it is easy to find the kth smallest/largest.
but in the case of the unsorted array, we can use heap data structure or quick select algorithm.

[2021-09-18 08:14] DarthSalad commented on #136
@ViAsmit
I would like to work on the Dart: Classes and Objects part
Can you assign the issue to me?

[2021-09-18 08:15] UditJain77 commented on #605
Hi sir
I would like to contribute to this
Full name: Udit Kumar Jain
Batch Number: 1
github profile: https://github.com/UditJain77
Type: Video

[2021-09-18 08:16] vanshhhhh commented on #249
@adityabisoi please go through my PR.

[2021-09-18 08:17] abhisheks008 commented on #605
Issue assigned @UditJain77
Happy contributing!

[2021-09-18 08:20] GyaniRoman23 commented on #615
Hey @anandhu720 I would like to work with this issue.

[2021-09-18 08:22] nickel-28 commented on #299
Please Assign it to me!!!
I want to contribute

[2021-09-18 08:26] RIYANSHGARG commented on #615
I would Like to work on this issue, Kindly assign it to me.

[2021-09-18 08:27] vatsal1704 commented on #615
Hii @anandhu720 can I work on this issue?

[2021-09-18 08:27] astelrastogi commented on #41
Created a PR: https://github.com/girlscript/winter-of-contributing/pull/617

[2021-09-18 08:31] SourabhSaraswat-191939 opened #618 "FRONTEND WITH FRAMEWORK: VueJS-1.5 => Installing Vue-DevTools"
Contributors are required to include a procedure to Install Vue-DevTools, which should cover questions like:-
What is Vue-DevTools?
Why it is needed?
How to install it?
How to open Vue-DevTools in the browser? (you can make GIF, which shows how to open this)
etc....

**And also mention that we will learn, how to use it further in the upcoming topics.**

Also, make sure -
Avoid copy/paste, We will

[2021-09-18 08:34] SourabhSaraswat-191939 commented on #618
If you don't know this framework. Don't worry still, you can contribute.
Here I am attaching some references for you.

https://vuejs.org/v2/guide/
https://www.tutorialspoint.com/vuejs/vuejs_overview.htm
https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_getting_started

You can also study from any other source to learn.

Note -> These references

[2021-09-18 08:39] Nafizza commented on #601
I would like to work on this issue.
Name: Nazhath Nafizza N
Batch : 1
GitHub profile: https://github.com/Nafizza
Type of contribution: Documentation

[2021-09-18 08:40] GyaniRoman23 commented on #618
Hey @SourabhSaraswat-191939 I would suggest you to add the required labels to this issue as it would help make a better clarity for individuals looking for a particular issue inside of a particular domain.

[2021-09-18 08:43] prishita-s commented on #551
I would love to work on this issue!

[2021-09-18 08:43] SourabhSaraswat-191939 opened #621 "FRONTEND WITH FRAMEWORK: VueJS-1.6 => Vue Components"
Contributors are required to include information about Vue Components, which should cover questions like:-
What is VueJs-Components?
Why it is needed?
Code Structure to write a component?
How to write efficient code with components?
An example showing the reusability of components.
etc....

Also, make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Deve

[2021-09-18 08:43] SourabhSaraswat-191939 commented on #621
If you don't know this framework. Don't worry still, you can contribute.
Here I am attaching some references for you.

https://vuejs.org/v2/guide/
https://www.tutorialspoint.com/vuejs/vuejs_overview.htm
https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_getting_started

You can also study from any other source to learn.

Note -> These references

[2021-09-18 08:44] prishita-s commented on #588
Thank You!

[2021-09-18 08:46] Nupurksk commented on #41
@astelrastogi There is a plag of 92%!!
kindly check this again....Plag should not be there but we can have max of 25% not more than this any how.

[2021-09-18 08:47] Nupurksk commented on #41
@astelrastogi There is a plag of 92%!!
kindly check this again....Plag should not be there but we can have max of 25% not more than this any how.

[2021-09-18 08:47] SourabhSaraswat-191939 commented on #618
Hey @GyaniRoman23,
Actually, mentors do not have the right to add labels, milestones, and merging the PR. This thing will be done by supervisors.
When the supervisor sees issues. They add related labels and milestones.
Hope you understand.

[2021-09-18 08:48] Aryamanz29 commented on #22
@Dhruv-194  Updates??

[2021-09-18 08:48] Techno-Simpola commented on #523
@SourabhSaraswat-191939  can you please assign this task to me....... you told me about this!!

[2021-09-18 08:49] Techno-Simpola commented on #621
@SourabhSaraswat-191939  please assign this task to me

[2021-09-18 08:51] Aryamanz29 commented on #27
Complete requested changes

[2021-09-18 08:52] kajaljha09 commented on #297
I can work on this

[2021-09-18 08:53] kajaljha09 commented on #615
I would like to work on this issue

[2021-09-18 08:54] #29 closed

[2021-09-18 08:55] mukeshmjn commented on #621
@Techno-Simpola sure ..Go for it!

[2021-09-18 08:56] Anisha135 commented on #615
I would like to work on this issue

[2021-09-18 08:57] Supriyo-455 commented on #528
@rahulsain Hey, can I work on this?

[2021-09-18 08:57] mansisingh2803 commented on #436
Hii Sarthak!!!
Mansi Singh & DSA batch 4
Please assign this issue to me.

[2021-09-18 08:59] Aryamanz29 commented on #31
@kunal-kumar-chaudhary  Put your doc under `section-2` and follow `file name convention`

[2021-09-18 09:00] Aryamanz29 commented on #187
Any updates????

[2021-09-18 09:01] mukeshmjn opened #622 "FRONTEND WITH FRAMEWORK: Angular -> How to install Angular Material in Angular?"
- CLI command
- Its use?
- Reference:- https://material.angular.io/guide/getting-started

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week1" directory
3. Tasks would be assigned on First Come First Serve Basis.

[2021-09-18 09:02] mansisingh2803 commented on #597
Mansi Singh and dsa batch-4 pls assign this issue to me

[2021-09-18 09:04] RIYANSHGARG commented on #622
I would like to solve this. Kindly assign it to me

[2021-09-18 09:07] Aryamanz29 commented on #285
@LegendSumeet  Any updates ??

[2021-09-18 09:07] #287 closed

[2021-09-18 09:07] paramsiddharth commented on #395
Please note, you should have created a new branch from the `Javascript` branch and not the `main` branch. I'll check the rest for possible errors.

[2021-09-18 09:08] Aryamanz29 commented on #400
I Dont see any PR??

[2021-09-18 09:08] LegendSumeet commented on #285
Yes just today evening it will be done and ready to merge @Aryamanz29

[2021-09-18 09:09] Jaya3112 commented on #615
I would like to work on this issue. please assign me this issue

[2021-09-18 09:10] Aryamanz29 commented on #401
Assigning this to you both @suvangi2205  @akashshukla7458

[2021-09-18 09:11] Aryamanz29 commented on #324
@Ash-KODES  Any updates????

[2021-09-18 09:12] Aryamanz29 commented on #322
@geeythree Any updates?????

[2021-09-18 09:12] mukeshmjn commented on #622
Sure @RIYANSHGARG go for it!

[2021-09-18 09:12] Aryamanz29 commented on #320
@arsheelsheikh  Any updates ????

[2021-09-18 09:13] Harshil-Jani opened #625 "OpenSource : Difference between Linux and Unix"
This is Self Issue.
I want to do documentation on **Difference between Linux and Unix**
Points I plan to cover :
- History of Unix and Linux
- Growth in OpenSource
- Competition and Comparison between them

- [x] Documentation
- [ ] Audio
- [ ] Video

[2021-09-18 09:13] geeythree commented on #322
@Aryamanz29 Hi, I'm sorry for the delay. I'll make a PR by today evening.

[2021-09-18 09:14] Aryamanz29 commented on #319
Removed assignment from @anurag-b72 (due to inactivity), Assigned to @Soumili1818, Happy docs 🎉🎉

[2021-09-18 09:16] Aryamanz29 commented on #318
@manishaag7  Any updates???

[2021-09-18 09:16] GyaniRoman23 commented on #618
Oh!! I get it. Thank you for the information.

[2021-09-18 09:17] ekesel commented on #579
I would like to work on this issue via documentation.

[2021-09-18 09:17] ekesel commented on #578
I would like to work on this issue via documentation.

[2021-09-18 09:18] ekesel commented on #577
I would like to work on this issue via documentation.

[2021-09-18 09:18] #317 closed

[2021-09-18 09:18] ekesel commented on #576
I would like to work on this issue via documentation.

[2021-09-18 09:18] ekesel commented on #575
I would like to work on this issue via documentation.

[2021-09-18 09:18] ekesel commented on #574
I would like to work on this issue via documentation.

[2021-09-18 09:18] ekesel commented on #573
I would like to work on this issue via documentation.

[2021-09-18 09:19] ekesel commented on #572
I would like to work on this issue via documentation.

[2021-09-18 09:19] ekesel commented on #571
I would like to work on this issue via documentation.

[2021-09-18 09:19] ekesel commented on #570
I would like to work on this issue via documentation.

[2021-09-18 09:19] Aryamanz29 commented on #315
@riyapandey730  Assigning this to you, Happy docs 🎉🎉
Removed assignment from @HarshK07  (Due to inactivity)

[2021-09-18 09:19] gurpreet-legend commented on #380
Please review my PR for #492

[2021-09-18 09:19] ekesel commented on #569
I would like to work on this issue via documentation.

[2021-09-18 09:19] ekesel commented on #568
I would like to work on this issue via documentation.

[2021-09-18 09:19] ekesel commented on #567
I would like to work on this issue via documentation.

[2021-09-18 09:19] ekesel commented on #566
I would like to work on this issue via documentation.

[2021-09-18 09:20] ekesel commented on #565
I would like to work on this issue via documentation.

[2021-09-18 09:20] ekesel commented on #564
I would like to work on this issue via documentation.

[2021-09-18 09:20] ekesel commented on #563
I would like to work on this issue via documentation.

[2021-09-18 09:20] ekesel commented on #562
I would like to work on this issue via documentation.

[2021-09-18 09:20] Aryamanz29 commented on #307
@Adarshswain Removed assignment (Due to inactivity)

[2021-09-18 09:20] ekesel commented on #561
I would like to work on this issue via documentation.

[2021-09-18 09:20] ekesel commented on #559
I would like to work on this issue via documentation.

[2021-09-18 09:21] ekesel commented on #557
I would like to work on this issue via documentation.

[2021-09-18 09:21] ekesel commented on #554
I would like to work on this issue via documentation.

[2021-09-18 09:21] ekesel commented on #556
I would like to work on this issue via documentation.

[2021-09-18 09:21] ekesel commented on #551
I would like to work on this issue via documentation.

[2021-09-18 09:21] Aryamanz29 commented on #300
@RaghavvGupta  Any updates ???

[2021-09-18 09:21] ekesel commented on #550
I would like to work on this issue via documentation.

[2021-09-18 09:22] ekesel commented on #549
I would like to work on this issue via documentation.

[2021-09-18 09:22] Aryamanz29 commented on #294
@yashikabhargava  Any updates ??

[2021-09-18 09:22] ekesel commented on #548
I would like to work on this issue via documentation.

[2021-09-18 09:22] Aryamanz29 commented on #293
@Ravinayak07  Any updates ??  Submit PR by today

[2021-09-18 09:23] Aryamanz29 commented on #288
@Purvibhoyar  Any updates ? Please submit PR by today

[2021-09-18 09:28] Aryamanz29 commented on #625
We don't need, refrain from creating the same issues
Thanks

[2021-09-18 09:28] #625 closed

[2021-09-18 09:28] deepthi1107 commented on #600
Hello, I am Deepthi M . I would like to do documentation on this issue.

[2021-09-18 09:30] ashish-reddy-20-08 commented on #607
Hey, I am M. Ashish Reddy I would like to work on this.
my serial number: 260
Batch: 2

[2021-09-18 09:30] Harshil-Jani commented on #307
Can I go with Documentation?
Batch-1

[2021-09-18 09:32] kunal-kumar-chaudhary commented on #48
I have created the pull request. kindly check it.

[2021-09-18 09:32] anandhu720 commented on #615
@GyaniRoman23 sure

[2021-09-18 09:32] Aryamanz29 opened #630 "OpenSource : 5.9 Explain everything related to `Kubernetes`"
### Description :

- **Explain everything related to `Kubernetes`**
-  How to configure our projects with it
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same

[2021-09-18 09:33] anandhu720 commented on #615
guys we follow first come first serve method

[2021-09-18 09:37] anandhu720 commented on #298
@Ravinayak07  any updates

[2021-09-18 09:37] yashikabhargava commented on #294
@Aryamanz29 Yes I'm Working on it. Just have a question how do I checkout new branch from opensource branch, I'm a beginner so a little confused.

[2021-09-18 09:37] Aryamanz29 opened #632 "OpenSource : 5.10 Explain everything related to `Docker`"
### Description :

- **Explain everything related to `Docker`**
-  How to `configure our projects` with it.
-  `Use docker with your project` and document the whole process in steps
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first com

[2021-09-18 09:38] anandhu720 commented on #297
@trip0le  any updates please inform us

[2021-09-18 09:38] siddhi-244 commented on #630
Can I try it?

[2021-09-18 09:38] siddhi-244 commented on #632
Can I try it

[2021-09-18 09:38] anandhu720 commented on #289
@sahil9510  any updates of your work

[2021-09-18 09:39] Aryamanz29 commented on #632
@siddhi-244  Assigning this to you, Happy learning 🎉🎉

[2021-09-18 09:42] Aryamanz29 opened #633 "OpenSource : 5.11 Explain everything related to `terraform`"
### Description :

- **Explain everything related to `terraform`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same iss

[2021-09-18 09:45] Asmit2952 commented on #633
Can I work on this?

[2021-09-18 09:45] Aryamanz29 opened #634 "OpenSource : 5.12 Explain everything related to `Prometheus`"
### Description :

- **Explain everything related to `Prometheus`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same is

[2021-09-18 09:45] PranavMasekar commented on #152
@thisisamank

[2021-09-18 09:45] Asmit2952 commented on #630
Can I work on this?

[2021-09-18 09:46] Aryamanz29 commented on #633
@Asmit2952  Assigned, Happy learning 🎉🎉

[2021-09-18 09:49] Purvibhoyar commented on #288
@Aryamanz29 Yes , Progress is on the way
I will be submitting by today or mostly by tomorrow for Sure.

[2021-09-18 09:49] Aryamanz29 opened #638 "OpenSource : 5.13 Explain everything related to `Vitess`"
### Description :

- **Explain everything related to `Vitess`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 09:50] itsbittoosharma commented on #638
Please assign this to me
I could work on it

[2021-09-18 09:52] Aryamanz29 commented on #638
@itsbittoosharma Assigned, Happy learning 🎉🎉

[2021-09-18 09:52] Harshkumar62367 commented on #630
can i work on this @Aryamanz29 ?

[2021-09-18 09:52] Abhay3008 commented on #634
I need to work on this!

[2021-09-18 10:06] mukeshmjn opened #641 "FRONTEND WITH FRAMEWORK: Angular ->Component Interaction(1.4)"
- How to do component interaction in Angular?
- How to share data between components?
- Explain Different ways to do it.

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week1" directory
3. Tasks would be assigned on First Come First Serve Basis.

[2021-09-18 10:08] geeythree commented on #607
@ashish-reddy-20-08 Please mention the contribution type too.

[2021-09-18 10:11] FirdausJawed commented on #395
@paramsiddharth  sir i am facing issues in doing the pull request

remote: Permission to girlscript/winter-of-contributing.git denied to FirdausJawed.
fatal: unable to access 'https://github.com/girlscript/winter-of-contributing.git/': The requested URL returned error: 403

please tell me what shout I do

[2021-09-18 10:11] 1PRatgit opened #643 "Some Famous Open-Source Software"
**Description** : There are various Open-Source Software Apps. This documentation gives brief notes on some of Open-Source software Apps such as Django, visual studio, Angular, React Native, VLC and many more.
@Aryamanz29 I will able to share my knowledge on these topics if you assign this issue to me.

[2021-09-18 10:12] lohith1392 commented on #634
I would like to work on this please documentation

Peddi sai lohith

[2021-09-18 10:13] lingaraj281 commented on #88
Can i work on this on Video Tutorial

UI UX BATCH-14

[2021-09-18 10:14] priyanshu688 opened #645 "working on getting Toasts and Notifications"
How we are getting notification alerts and toasts in our app.

[2021-09-18 10:14] paramsiddharth commented on #395
Please reply with the output of `git remote -v`.

[2021-09-18 10:15] priyanshu688 commented on #645
@paramsiddharth Kindly assign this issue to me

[2021-09-18 10:15] paramsiddharth commented on #395
@mukeshmjn Are you not working on the issue anymore? :(

[2021-09-18 10:15] lingaraj281 commented on #93
I want to work on this both dark and light mode signup and login pages
UI UX BATCH-14

[2021-09-18 10:16] deepthi1107 commented on #609
Hello, I am Deepthi M . I would like to work on this issue.
batch : 2
github link: https://github.com/deepthi1107
type:video

[2021-09-18 10:16] lingaraj281 commented on #68
I want to work on this
UI UX Batch -14

[2021-09-18 10:18] Aryamanz29 commented on #643
Thanks for suggesting, I'll creating issues try to complete that first

[2021-09-18 10:18] #643 closed

[2021-09-18 10:18] paramsiddharth commented on #645
@priyanshu688 Looks great to me! Tag one of the Android Development supervisors to have the issue tagged and assigned.

[2021-09-18 10:19] FirdausJawed commented on #395
fatal: unable to access 'https://github.com/girlscript/winter-of-contributing.git/': The requested URL returned error: 403
PS C:\Users\FIRDAUS JAWED\Desktop\winter-of-contributing> git remote -v
origin  https://github.com/girlscript/winter-of-contributing.git (fetch)
origin  https://github.com/girlscript/winter-of-contributing.git (push)

[2021-09-18 10:19] Aryamanz29 commented on #634
@Abhay3008  Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 10:20] priyanshu688 commented on #645
@VikasPandey121 can you please assign this issue to me?

[2021-09-18 10:20] Aryamanz29 commented on #630
@Harshkumar62367  Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 10:21] FirdausJawed commented on #395
ignore 1st line that was by mistake

[2021-09-18 10:22] priyanshu688 commented on #645
@paramsiddharth Sir it would be really helpful if you will guide me...as I didn't find anyone...

[2021-09-18 10:23] 1anshu-56 commented on #432
I would like to work on this.
Anshu Priya - 553
Batch - 16
Issue No - #432
Type: Documentation

Approaches:
1.  What is time series forecasting?
2.  Different types of classical time series forecasting methods.

[2021-09-18 10:23] AditiRout commented on #557
hello sir, I am from batch 6
I would like to work on this issue via documentation

[2021-09-18 10:24] paramsiddharth commented on #395
That's the problem. You are pushing to the original repository and not the forked one. That's why you're having permission issues. Fork the repository, add it as remote `origin`, add the parent as remote `upstream`, and try again.

[2021-09-18 10:25] Aryamanz29 opened #646 "OpenSource : 5.14 Explain everything related to `Rook`"
### Description :

- **Explain everything related to `Rook`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-18 10:25] Aryamanz29 opened #647 "OpenSource : 5.15 Explain everything related to `Helm`"
### Description :

- **Explain everything related to `Helm`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-18 10:25] Aryamanz29 opened #648 "OpenSource : 5.16 Explain everything related to `Jaeger`"
### Description :

- **Explain everything related to `Jaeger`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 10:26] FirdausJawed commented on #569
I would like to work on this issue via documentation.

[2021-09-18 10:27] prathimacode-hub commented on #432
Issue is assigned to @1anshu-56 for documentation as all the details have been provided.

@ProMinato500, couldn't assign this issue to you as you had missed saying your approach you would follow up. No worries, many more to come.

[2021-09-18 10:30] HassanRahim26 commented on #648
Hey @Aryamanz29, I would like to work on this issue. Can you please assign me this issue?
Name:-  Hassan Rahim
Batch:- Open-Source Batch-6
Type:- Documentation

[2021-09-18 10:31] HassanRahim26 commented on #647
Hey @Aryamanz29, I would like to work on this issue. Can you please assign me this issue?
Name:- Hassan Rahim
Batch:- Open-Source Batch-6
Type:- Documentation

[2021-09-18 10:31] HassanRahim26 commented on #646
Hey @Aryamanz29, I would like to work on this issue. Can you please assign me this issue?
Name:- Hassan Rahim
Batch:- Open-Source Batch-6
Type:- Documentation

[2021-09-18 10:33] Aryamanz29 opened #649 "OpenSource : 5.18 Explain everything related to `envoy`"
### Description :

- **Explain everything related to `envoy`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue a

[2021-09-18 10:33] Aryamanz29 opened #650 "OpenSource : 5.19 Explain everything related to `containerd`"
### Description :

- **Explain everything related to `containerd`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same is

[2021-09-18 10:33] Aryamanz29 opened #651 "OpenSource : 5.20 Explain everything related to `Harbor`"
### Description :

- **Explain everything related to `Harbor`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 10:33] Aryamanz29 opened #652 "OpenSource : 5.21 Explain everything related to `The Update Framework (TUF)`"
### Description :

- **Explain everything related to `The Update Framework (TUF)`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't cr

[2021-09-18 10:33] Aryamanz29 opened #653 "OpenSource : 5.17 Explain everything related to `Fluentd`"
### Description :

- **Explain everything related to `Fluentd`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 10:35] FirdausJawed commented on #395
ok sir i will do this

[2021-09-18 10:35] HassanRahim26 commented on #653
Hey @Aryamanz29, I would like to work on this issue. Can you please assign me this issue?
Name:- Hassan Rahim
Batch:- Open-Source Batch-6
Type:- Documentation

[2021-09-18 10:35] saurav3232 commented on #578
I would like to work on this issue.
Name: Saurav Kumar
Batch: Python Batch-5
Type: Documentation

[2021-09-18 10:35] mohitmishra786 commented on #610
Mohit Mishra
ML-Batch-1
Profile_Link:- https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:35] HassanRahim26 commented on #652
Hey @Aryamanz29, I would like to work on this issue. Can you please assign me this issue?
Name:- Hassan Rahim
Batch:- Open-Source Batch-1
Type:- Documentation

[2021-09-18 10:36] HassanRahim26 commented on #651
Hey @Aryamanz29, I would like to work on this issue. Can you please assign me this issue?
Name:- Hassan Rahim
Batch:- Open-Source Batch-1
Type:- Documentation

[2021-09-18 10:36] HassanRahim26 commented on #649
Hey @Aryamanz29, I would like to work on this issue. Can you please assign me this issue?
Name:- Hassan Rahim
Batch:- Open-Source Batch-1
Type:- Documentation

[2021-09-18 10:36] saurav3232 commented on #579
I would like to work on this issue.
Name: Saurav Kumar
Batch: Python Batch-5
Type: Documentation

[2021-09-18 10:36] Sakshi-1101 commented on #648
Sir may I contribute to this?

[2021-09-18 10:37] mohitmishra786 commented on #604
Mohit Mishra
ML-Batch-1
Profile_Link:- https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:37] Aryamanz29 commented on #649
@HassanRahim26  Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 10:37] mohitmishra786 commented on #607
Mohit Mishra
ML-Batch-1
Profile_Link:- https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:38] Aryamanz29 commented on #648
@Sakshi-1101 Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 10:38] mohitmishra786 commented on #608
Mohit Mishra
ML-Batch-1
Profile_Link:- https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:38] Aryamanz29 commented on #653
Why @HassanRahim26  spamming ??

[2021-09-18 10:39] mohitmishra786 commented on #650
Mohit Mishra
OpenSource Batch 1
Profile_Link:- https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:39] Aryamanz29 commented on #653
Work on assigned issue first  @HassanRahim26

[2021-09-18 10:39] HassanRahim26 commented on #653
Okay and I'm sorry for spamming.

[2021-09-18 10:39] mohitmishra786 commented on #613
Mohit Mishra
ML-Batch-1
Profile_Link:- https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:40] Aryamanz29 commented on #650
@mohitmishra786   Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 10:40] mohitmishra786 commented on #606
Mohit Mishra
ML-Batch-1
Profile_Link:- https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:40] NamanManjkhola commented on #187
Will raise a pr today itself

[2021-09-18 10:40] Khushi-Agrawal-1 commented on #606
I would like to contribute to this
Full name: Khushi Agrawal
Batch Number: 6
GitHub profile: https://github.com/Khushi-Agrawal-1
Type: Audio

[2021-09-18 10:40] HassanRahim26 commented on #653
Okay :)

[2021-09-18 10:41] 1PRatgit commented on #651
Hello Sir, @Aryamanz29 I would like to work on this issue. I will be sharing my knowledge in the form of documentation in this topic if you assign this issue to me.
Name: Pranjali Revadekar
            Batch 4, opensource.

[2021-09-18 10:41] mohitmishra786 commented on #601
Mohit Mishra
ML-Batch-1
Profile_Link:- https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:41] mohitmishra786 commented on #602
Mohit Mishra
ML-Batch-1
Profile_Link:- https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:43] Aryamanz29 commented on #651
@1PRatgit  Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 10:44] FirdausJawed commented on #646
wanna contribute here

[2021-09-18 10:45] Khushi-Agrawal-1 commented on #599
I would like to contribute to this
Full name: Khushi Agrawal
Batch Number: 6
GitHub profile: https://github.com/Khushi-Agrawal-1
Type: Audio

[2021-09-18 10:45] mohitmishra786 commented on #647
Mohit Mishra
Open Source Batch 1
Link:-https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:45] mohitmishra786 commented on #646
Mohit Mishra
Open Source Batch 1
Link:-https://github.com/mohitmishra786
I want to contribute through documentation

[2021-09-18 10:45] AditiRout commented on #559
Hello Sir, I am from batch  6
I would like to work on this issue via documentation

[2021-09-18 10:47] preestine commented on #252
Hello!
My name is Preeti Chaudhari (Sr.No.2157,Batch:11).
I would be glad to work on the documentation part for this issue.

[2021-09-18 10:48] AditiRout commented on #563
Hello Sir, I am from batch 6
I would like to work on this issue via documentation.

[2021-09-18 10:50] Aryamanz29 opened #656 "OpenSource : 5.22 Explain everything related `CoreDNS`"
### Description :

- **Explain everything related to `CoreDNS`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 10:50] Aryamanz29 opened #657 "OpenSource : 5.23 Explain everything related to `etcd`"
### Description :

- **Explain everything related to `etcd`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-18 10:50] Aryamanz29 opened #658 "OpenSource : 5.24 Explain everything related to `Open Policy Agent`"
### Description :

- **Explain everything related to `Open Policy Agent`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the

[2021-09-18 10:50] Aryamanz29 opened #659 "OpenSource : 5.25 Explain everything related to `TiKV`"
### Description :

- **Explain everything related to `TiKV`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-18 10:50] Aryamanz29 opened #660 "OpenSource : 5.26 Explain everything related to `Linkerd`"
### Description :

- **Explain everything related to `Linkerd`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 10:52] Khushi-Agrawal-1 commented on #657
I would like to contribute to this
Full name: Khushi Agrawal
Batch Number: 2
GitHub profile: https://github.com/Khushi-Agrawal-1
Type: Documentation

[2021-09-18 10:53] #37 closed

[2021-09-18 10:53] CSAURABH commented on #641
@anandhu720 can i work on this issue(Documentation).

[2021-09-18 10:53] #151 closed

[2021-09-18 10:56] SouravKr2001 commented on #117
I am interested (docum..)

[2021-09-18 10:56] Khushi-Agrawal-1 commented on #660
I would like to contribute to this
Full name: Khushi Agrawal
Batch Number: 2
GitHub profile: https://github.com/Khushi-Agrawal-1
Type: Documentation

[2021-09-18 10:56] anandhu720 commented on #641
@CSAURABH sure

[2021-09-18 10:58] AditiRout commented on #561
Hello sir, I  am from batch 6
I would like to work on this issue via documentation.

[2021-09-18 10:58] DeepCoomer commented on #499
I would like to contribute in this issue
Deep Coomer
Batch - 5

[2021-09-18 10:58] KhafiaAyyub commented on #658
Can I work on this issue?

[2021-09-18 10:58] s4marth commented on #659
I would like to work on this.
batch 3 (opensource)

[2021-09-18 10:58] krupesh87 commented on #499
I would like to contribute in this issue.
krupesh patel,
Batch-5.

[2021-09-18 10:58] prettylittleminds commented on #550
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 10:58] Isha307 commented on #604
Issue has been assigned to you @mohitmishra786
Happy Contributing!!

[2021-09-18 10:59] prettylittleminds commented on #549
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:00] Isha307 commented on #601
@mohitmishra786 At one time, you can work on only one issue.

[2021-09-18 11:00] prettylittleminds commented on #579
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:00] prettylittleminds commented on #578
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:01] prettylittleminds commented on #569
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:01] Aryamanz29 commented on #660
@Khushi-Agrawal-1  Assigning this to you, Happy learning 🎉🎉

[2021-09-18 11:01] prettylittleminds commented on #563
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:01] prettylittleminds commented on #562
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:01] prettylittleminds commented on #561
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:01] prettylittleminds commented on #559
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:02] Aryamanz29 commented on #659
@s4marth  Assigning this to you, Happy learning 🎉🎉

[2021-09-18 11:02] prettylittleminds commented on #557
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:02] prettylittleminds commented on #556
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:02] Aryamanz29 commented on #658
@KhafiaAyyub  Assigning this to you, Happy learning 🎉🎉

[2021-09-18 11:02] prettylittleminds commented on #548
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video
Batch: 6

[2021-09-18 11:03] Aryamanz29 commented on #657
@Khushi-Agrawal-1  Assigned to you, Complete that first
Thanks

[2021-09-18 11:04] prettylittleminds commented on #598
@adityabisoi
Sir, I would like to contribute to this issue.
Name: Arushi Rautela
Type: Video / Documentation
Batch: 6

[2021-09-18 11:06] Aryamanz29 opened #662 "OpenSource : 5.27 Explain everything related to `argo`"
### Description :

- **Explain everything related to `argo`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-18 11:08] Aryamanz29 opened #663 "OpenSource : 5.28 Explain everything related to `BuildPacks`"
### Description :

- **Explain everything related to `BuildPacks`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same is

[2021-09-18 11:08] Aryamanz29 opened #664 "OpenSource : 5.29 Explain everything related to `CloudEvents`"
### Description :

- **Explain everything related to `CloudEvents`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same i

[2021-09-18 11:09] Aryamanz29 opened #665 "OpenSource : 5.30 Explain everything related to `Cloud Native :- Container Networking Interface (CNI)`"
### Description :

- **Explain everything related to `Cloud Native Network (CNI)`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't cr

[2021-09-18 11:10] Asmit2952 commented on #663
I already have info present with me, because I was researching about BuildPacks for Mentorship.  Can I work on this?

[2021-09-18 11:10] Aryamanz29 opened #666 "OpenSource : 5.31 Explain everything related to `Contour`"
### Description :

- **Explain everything related to `Contour`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 11:11] Aryamanz29 opened #667 "OpenSource : 5.32 Explain everything related to `Cortex`"
### Description :

- **Explain everything related to `Cortex`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 11:12] abhisheks008 commented on #599
Issue assigned @Khushi-Agrawal-1
Happy contributing!

[2021-09-18 11:12] Aryamanz29 opened #668 "OpenSource : 5.33 Explain everything related to `CRI-O`"
### Description :

- **Explain everything related to `CRI-O`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue a

[2021-09-18 11:13] Aryamanz29 opened #669 "OpenSource : 5.34 Explain everything related to `CrossPlane`"
### Description :

- **Explain everything related to `CrossPlane`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same is

[2021-09-18 11:13] abhisheks008 commented on #600
Issue assigned @deepthi1107
Happy contributing!

[2021-09-18 11:13] Aryamanz29 opened #670 "OpenSource : 5.35 Explain everything related to `DragonFly`"
### Description :

- **Explain everything related to `DragonFly`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same iss

[2021-09-18 11:15] Aryamanz29 opened #671 "OpenSource : 5.36 Explain everything related to `Falco`"
### Description :

- **Explain everything related to `Falco`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue a

[2021-09-18 11:16] Aryamanz29 opened #672 "OpenSource : 5.37 Explain everything related to `Flagger`"
### Description :

- **Explain everything related to `Flagger`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 11:16] Varun270 commented on #400
Here it is showing this -
<img width="649" alt="commit" src="https://user-images.githubusercontent.com/75975268/133886923-8d2793fb-7046-446a-a751-846283b6dbb6.png">

[2021-09-18 11:16] Aryamanz29 opened #673 "OpenSource : 5.38 Explain everything related to `Flux`"
### Description :

- **Explain everything related to `Flux`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-18 11:17] abhisheks008 commented on #604
@mohitmishra786 you are taking an issue of Audio content and you want to contribute through documentation. Atleast read the guidelines first and also the labels assigned to it. This is an Audio contribution not a documentation.

[2021-09-18 11:19] abhisheks008 commented on #602
@mohitmishra786 It is clearly written in the guideline of this issue that it is a video contribution. You can contribute in this issue by making a video over the topic. The documentation of this was already assigned.

[2021-09-18 11:19] Aryamanz29 opened #675 "OpenSource : 5.39 Explain everything related to `gRPC`"
### Description :

- **Explain everything related to `gRPC`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-18 11:19] Varun270 commented on #400
When I tried  Creating a PR, I didn't get the Compare and Pull request option, and when I navigated back here I saw the above commit So I thought my PR has been generated. What should I do now to regenerate the same PR?

[2021-09-18 11:20] Aryamanz29 opened #676 "OpenSource : 5.40 Explain everything related to `KEDA`"
### Description :

- **Explain everything related to `KEDA`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-18 11:20] Varun270 commented on #400
I think If I have to create a new PR, I will have to do some minor changes in the doc file so that I could commit them.

[2021-09-18 11:21] Aryamanz29 opened #677 "OpenSource : 5.41 Explain everything related to `KubeEdge`"
### Description :

- **Explain everything related to `KubeEdge`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issu

[2021-09-18 11:21] lohith1392 commented on #676
I would like to work on this please documentation

Peddi sai lohith

[2021-09-18 11:21] lohith1392 commented on #673
I would like to work on this please documentation

Peddi sai lohith

[2021-09-18 11:21] abhisheks008 commented on #608
This is an Audio contribution, you can contribute by the audio contribution with this issue. @mohitmishra786

[2021-09-18 11:22] AditiRout commented on #569
Hello sir, I am from batch 6
I would like to contribute in this issue via documentation

[2021-09-18 11:22] Aryamanz29 opened #678 "OpenSource : 5.42 Explain everything related to `NATS`"
### Description :

- **Explain everything related to `NATS`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-18 11:23] abhisheks008 commented on #606
@mohitmishra786 would you want to contribute in this issue with audio contribution?

[2021-09-18 11:23] Aryamanz29 opened #680 "OpenSource : 5.43 Explain everything related to `Notary`"
### Description :

- **Explain everything related to `Notary`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 11:24] Subhampreet opened #681 "FRONTEND WITH FRAMEWORK: React -> Getting Started with React"
### NEED TO CONTAIN

- What is React JS?
- Installation and Setup
- Hello World with Stateless Functions
- Absolute Basics of Creating Reusable Components
- Create React App
- Hello World Component

#### You can take refer from [React Official Documentation](https://reactjs.org/)

Also, make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_Re

[2021-09-18 11:24] Aryamanz29 opened #682 "OpenSource : 5.44 Explain everything related to `OpenTelemetry`"
### Description :

- **Explain everything related to `OpenTelemetry`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same

[2021-09-18 11:25] abhisheks008 commented on #606
@Khushi-Agrawal-1  1 issue at a time. Once you successfully merge the PR of your previous issue then only you can get opportunity to contribute in others.

[2021-09-18 11:25] ydasc815 opened #683 "Android-Kotlin: 06.0 Android Activity Lifecycle"
### Description
- Write a documentation explaining the Android Activity Lifecycle in detail.
- You can use your own creativity to make this documentation more illustrative (e.g. by adding screenshots of your code explaining the flow of the app during various lifecycle events).

### Resources

- Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kot

[2021-09-18 11:25] Aryamanz29 opened #684 "OpenSource : 5.45 Explain everything related to `OperatorFramework`"
### Description :

- **Explain everything related to `OperatorFramework`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the

[2021-09-18 11:26] Aryamanz29 opened #685 "OpenSource : 5.46 Explain everything related to `Spiffe`"
### Description :

- **Explain everything related to `Spiffe`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 11:27] shreya024 commented on #681
Can I do this?

[2021-09-18 11:27] KhushiKV commented on #445
@Nithin-Reddy-02 @shivangdubey mentors, Hi I am Khushi, since I have been assigned this issue for Documentation, I thought about updating you with the status, as we were asked to. Should I messages you here only for further communication? So far, I have decided what all resources I would be using to make my contribution and collected most of the data, I will start the Coding part shortly afterward

[2021-09-18 11:28] abhisheks008 commented on #609
@deepthi1107 1 issue at a time. Complete your previous issue first and make the PR, then only you can work on the other issues.

[2021-09-18 11:28] Anshii12 commented on #681
I would like to contribute to this.
Name- Anshita Sharma
Batch- 3

[2021-09-18 11:29] Subhampreet commented on #681
Hey @shreya024, I am assigning you the issue to work on!

[2021-09-18 11:30] abhisheks008 commented on #610
@mohitmishra786 This is an audio contribution, and remember you can take up one issue at a time. Please don't ask for different issues at a time, this will bring wrong impression on you by the team and also read the issue checkbox, title and labels first.

[2021-09-18 11:30] likitarai1 commented on #486
Likita Rai, dsa batch 2.
I am interested in creating a video to solve recurrence relation using master method.
Please assign this to me.

[2021-09-18 11:31] Aryamanz29 opened #686 "OpenSource : 5.48 Explain everything related to `THANOS`"
### Description :

- **Explain everything related to `THANOS`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue

[2021-09-18 11:31] Aryamanz29 opened #687 "OpenSource : 5.47 Explain everything related to `SPIRE`"
### Description :

- **Explain everything related to `SPIRE`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-5`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue a

[2021-09-18 11:31] abhisheks008 commented on #613
@mohitmishra786 This is an video contribution, and remember you can take up one issue at a time. Please don't ask for different issues at a time, this will bring wrong impression on you by the team and also read the issue checkbox, title and labels first.

[2021-09-18 11:32] bumblebee28 commented on #499
Hey @Ananya-Patra9437 , I am familiar with the concept of Form and Form validation and have been learning HTML and CSS. Can I contribute to this issue?

[2021-09-18 11:32] mohitmishra786 commented on #613
ok sure i was not aware of this

[2021-09-18 11:33] Vibhu562 commented on #607
My name is Vibhu . I would like to work on this issue.
My batch No:- 4
Github Profile - https://github.com/Vibhu562
Contribution type: Documentation

[2021-09-18 11:34] Aryamanz29 commented on #663
@Asmit2952  Suree, Happy Learning 🎉🎉

[2021-09-18 11:34] ydasc815 opened #689 "Android-Kotlin: 06.1 Android Services"
### Description
- Write a documentation explaining Services in Android.
- You can use your own creativity to make the doc more illustrative and easy to understand.

### Resources

- Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
- You have to push your PR to the **Android_Development_With_Kotlin** branch only.
- You can take he

[2021-09-18 11:34] samik-rathore commented on #687
I would like to work on this issue

[2021-09-18 11:34] Babithakumari commented on #681
I want to work on this. If there is any reassigning, do consider me !

[2021-09-18 11:35] Saurabh-crypto16 commented on #618
I want to work on it

[2021-09-18 11:35] Aryamanz29 commented on #687
@samik-rathore  Suree, Happy Learning 🎉🎉

[2021-09-18 11:35] samik-rathore commented on #687
Please assign this issue to me
Samiksha Rathore

[2021-09-18 11:36] abhisheks008 commented on #613
@mohitmishra786 Wherever you want to contribute make sure you check all the details first and try to check the labels there, this will help you in future contributions too. If you want to make contribution using a Video then you can take up this issue.

[2021-09-18 11:36] Vibhu562 commented on #607
My name is Vibhu . I would like to work on this issue.
My batch No:- 4
Github Profile - https://github.com/Vibhu562
Contribution type: Documentation

[2021-09-18 11:37] Subhampreet commented on #681
Sure @Babithakumari  and @Anshii12, I would consider you if there's any kind of reassigning done!

[2021-09-18 11:37] sandeepkumar00110 commented on #686
sir, i want to work on this. GSOC , OpenSource Batch-04

[2021-09-18 11:38] Vibhu562 commented on #609
My name is Vibhu . I would like to work on this issue.
My batch No:- 4
Github Profile - https://github.com/Vibhu562
Contribution type: Documentation

[2021-09-18 11:38] bumblebee28 commented on #283
Hey @praveenscience , I am learning front end development and am familiar with the concept of CSS layouts. Could I be assigned this task please?

[2021-09-18 11:39] astelrastogi commented on #41
I've made the changes, pls check https://github.com/girlscript/winter-of-contributing/pull/617

[2021-09-18 11:39] abhisheks008 commented on #609
@Vibhu562 This is a video contribution.

[2021-09-18 11:40] developer-metalhead commented on #670
I would like to work on this issue.

[2021-09-18 11:41] bhavesh-chaudhari commented on #315
@Aryamanz29 can i try this ? I have hosted many static websites with github pages and i am aware about common issues.

[2021-09-18 11:43] mohitmishra786 commented on #608
Ok i will can you please tell me how can I do contribution in audio and video way, am I going to upload my audio of explaining the topic here or what

[2021-09-18 11:44] mohitmishra786 commented on #602
@abhisheks008  can you tell me what should be the length of video and audio

[2021-09-18 11:44] Harshkumar62367 commented on #677
can i work on this @Aryamanz29 ? I can do this alongside with kubernates.

[2021-09-18 11:46] ydasc815 opened #691 "Android-Kotlin: 05.3 Android Broadcasts and Broadcast Receivers"
### Description
- Create a documentation about Broadcasts and Broadcast Receivers in Android.
- You can develop small sample apps and use code screenshots to make the doc more illustrative.

### Resources

- Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
- You have to push your PR to the **Android_Development_With_Kotlin** bran

[2021-09-18 11:47] bumblebee28 commented on #244
I am proficient in java and familiar with the concept of classes in java. Can I be assigned this issue please?

[2021-09-18 11:47] Aryamanz29 commented on #677
@Harshkumar62367  Assigning this to you, Happy docs 🎉

[2021-09-18 11:48] LegendSumeet commented on #691
yes i can do that can @ydasc815 assign me to these?

[2021-09-18 11:48] Aryamanz29 commented on #686
@sandeepkumar00110  Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 11:49] Aryamanz29 commented on #307
@Harshil-Jani  Assigning this to you, Happy learning 🎉🎉

[2021-09-18 11:51] #299 closed

[2021-09-18 11:52] farhan-naqvi commented on #470
Syed Farhan Naqvi
Serial Number: 454
Documentation

Approach: Data Preprocessing steps using NLTK

[2021-09-18 11:54] nakshatra-garg commented on #423
S.no 609
I would like to work on the documentation part of this issue.
Approach:
Explain basic code to get started with seaborn
Show various seaborn visualization tools
Show different types of charts and plots

[2021-09-18 11:56] farhan-naqvi commented on #419
Syed Farhan Naqvi
Serial Number: 454
Documentation

Approach: Sentiment analysis using NLTK

[2021-09-18 11:59] mandeep168 commented on #611
I want to take this issue.
Mandeep Kaur
ML-batch-3
https://github.com/mandeep168
Video

[2021-09-18 12:03] SourabhSaraswat-191939 commented on #618
👍🏻

[2021-09-18 12:04] SourabhSaraswat-191939 commented on #618
@Saurabh-crypto16, Go for it.

[2021-09-18 12:05] rahulsain commented on #645
Hello @Priyanshu046 in which language will you proceed further (Java,Kotlin or Flutter)

[2021-09-18 12:06] SourabhSaraswat-191939 commented on #621
@Techno-Simpola  Sure, Go for it 👍🏻

[2021-09-18 12:07] RIYANSHGARG commented on #622
I have generated a pull request, please consider it.

[2021-09-18 12:08] priyanshuc4423 commented on #645
wrong userid bro

[2021-09-18 12:08] abhisheks008 commented on #611
Issue assigned @mandeep168
Happy contributing!

[2021-09-18 12:09] Adi7171 commented on #682
I would like to be assigned this

[2021-09-18 12:10] #23 closed

[2021-09-18 12:11] #622 closed

[2021-09-18 12:11] riyasai22 commented on #602
I would like to take up this issue in video format.
Name: Riya Srisailam Sailesh
ML Batch-11
Github Profile: https://github.com/riyasai22

[2021-09-18 12:11] priyanshuc4423 commented on #664
please assign me

[2021-09-18 12:12] Aryamanz29 commented on #682
@Adi7171  Assigned, Happy Learning 🎉🎉

[2021-09-18 12:12] Saurabh-crypto16 commented on #618
Assign me @SourabhSaraswat-191939

[2021-09-18 12:12] Aryamanz29 commented on #664
@priyanshuc4423  Assigned, Happy Learning 🎉🎉

[2021-09-18 12:14] AJgthb2002 commented on #339
@adityabisoi  I have a doubt. Should I add my file (document) inside 'How to install' folder or inside the 'Installing software' folder?

[2021-09-18 12:19] FirdausJawed commented on #395
kindly review the pull request

[2021-09-18 12:23] Nithin-Reddy-02 commented on #445
Hello @KhushiKV, you can communicate here or even in the discord as per your comfort. Its a good thing you have started working and completed collecting the data, take your own time and start the coding part and make sure the resources you use are well recognised/cited. You can keep updating about your work whenever possible and finally ping me if you have any doubt or if you need anything, I'd be

[2021-09-18 12:25] Nupurksk commented on #41
_Now it's Perfectly Fine_

[2021-09-18 12:26] #41 closed

[2021-09-18 12:30] mansisingh2803 commented on #485
I would like to work on this issue.
Mansi Singh
Batch-4
Type : audio and video

[2021-09-18 12:32] daminimehra commented on #69
Sir, I want to work on it.
please assign it to me.

[2021-09-18 12:34] mansisingh2803 commented on #473
Hey can u assign this issue to me for video and audio.
Mansi Singh
DSA batch -4

[2021-09-18 12:38] mansisingh2803 commented on #485
@nimisha-yadav pls assign

[2021-09-18 12:39] mansisingh2803 commented on #482
@nimisha-yadav pls assign this issue to me for video and audio type
Mansi Singh
Batch -4

[2021-09-18 12:40] jaya6400 commented on #446
Name - Jaya Dubey
Batch - DSA 3
Type - Documentation
Want to work on this problem and create a Documentaion for clear understanding.
Please assign me this issue:)

[2021-09-18 12:42] mansisingh2803 commented on #404
I would like to work on this issue pls assign this issue to me
Mansi Singh
DSA batch - 4

[2021-09-18 12:43] mansisingh2803 commented on #404
For type video and audio

[2021-09-18 12:44] ELLIPSIS009 commented on #652
@Aryamanz29  can I work on this? I can do it alongside OpenSource 5.7

[2021-09-18 12:48] Asmit2952 commented on #514
@sitamadex11 @rahulsain I had a doubt, I have already created a PR for Android_Development_Kotlin branch and it's in 'In Progress' state. Now if I add this new documentation and push changes to remote branch, that'll be added as a commit to previous PR right?

I won't be able to create a new PR in the same branch unless it's merged? Am I getting something wrong?

[2021-09-18 12:50] rahulsain commented on #514
Yes the commit will automatically show in that PR

On Sat, 18 Sep, 2021, 6:18 pm Asmit Malakannawar, ***@***.***>
wrote:

[2021-09-18 12:53] Asmit2952 commented on #514
So I want to create a new PR, do I have to wait until the previous one is merged? (Considering PRs are in same branch : Android_Development _Kotlin).

[2021-09-18 12:55] rahulsain commented on #514
Yes, if you want to make new PR then make a new branch on your local

On Sat, 18 Sep, 2021, 6:23 pm Asmit Malakannawar, ***@***.***>
wrote:

[2021-09-18 12:59] mansisingh2803 commented on #252
I would like to contribute to this issue
Mansi Singh
Batch-7
Type : video

[2021-09-18 13:03] Samhitha-Jasti commented on #471
@jiviteshjain Yes I can take the audio contribution on the topic "Introduction to Normalization, Types of Normalization, Uses and Coding tutorial"

[2021-09-18 13:06] deepthi1107 commented on #600
thanks!

[2021-09-18 13:08] Dracarys0511 commented on #668
Can I contribute here in form of documentation?

[2021-09-18 13:08] radha919 commented on #506
I am interested in working in this.

[2021-09-18 13:11] goelesha opened #699 "DSA 1.1.5.1 Arrays: Standard Problems (Problem 1)"
## Description
Find the Relative complement of 2 sorted arrays.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assign

[2021-09-18 13:12] harshithapasupuleti commented on #554
I would like to work on this issue via documentation

[2021-09-18 13:14] harshithapasupuleti commented on #557
I would like to work on this via documentation

[2021-09-18 13:16] akratikushwah opened #701 "Can you please assign this task to me?"

[2021-09-18 13:17] akratikushwah opened #702 "Please assign this task to me"

[2021-09-18 13:17] akratikushwah opened #703 "please assign this task to me"

[2021-09-18 13:23] riyasai22 commented on #183
I have been working with grids for quite a while and have a fair idea on it.
Can I contribute to this issue in a documentation format.
It would be great if you could assign me this issue.
Name: Riya Srisailam Sailesh, UI/UX Batch-10

[2021-09-18 13:24] abhisheks008 commented on #602
@mohitmishra786 length of the content completely depends on you. Whenever you search for some content in YouTube you get different types of length of the videos but they demonstrate the same things. So it's up to you how precisely and easily you can create a video or an audio file which will cover the topic.

[2021-09-18 13:24] LegendSumeet commented on #183
its has been assign to two people so better try next time issue ?

[2021-09-18 13:24] Samhitha-Jasti commented on #350
I would like to work on this by **Documentation.**
Topic: **NLP in chat bot, steps involved in creating bot and code in python.**
By **Anjani Samhitha- 209**
Batch 6 and Issue Number 350

[2021-09-18 13:26] abhisheks008 commented on #608
Yeah you will be explaining the topic via an audio file.

[2021-09-18 13:27] iamsuyashpatel07 commented on #343
@the-pro
- project setup done
- work started on the issue
- structuring of the article done.(what topic and subtopic should be included).
- started writing the content

[2021-09-18 13:28] shaurya24sri commented on #569
I am Shaurya
I would like to contribute in the form of documentation
@adityabisoi

[2021-09-18 13:28] riyasai22 commented on #183
certainly! i'll try next time.

[2021-09-18 13:30] neohacker18 commented on #699
I would like to work on this issue.
Name- Aryan Sethi, DSA Batch 6

[2021-09-18 13:32] NamanManjkhola commented on #187
@Aryamanz29  Please tell the branch and directory I need to raise PR on.

[2021-09-18 13:35] Dhruv-194 commented on #22
Hey @Aryamanz29 I was working on this issue. And I am having two problems with it.
1. I cannot a find a lot of detailed information for the evolution of DVCS. So can we add any other topic in place of it.
2. The second one is for companies switching to CVCS. Are you sure that companies are switching to CVCS? Because wherever I go, I read that most of the companies have started to use DVCS instead

[2021-09-18 13:36] priyanshu688 commented on #645
@rahulsain java

[2021-09-18 13:36] SHAIMA-HAQUE commented on #477
Thank you for assigning it to me, I am working on it

[2021-09-18 13:39] FirdausJawed commented on #647
I want to contribute here in documentation form

[2021-09-18 13:41] anushka-mishra-code commented on #228
I would be glad to work on this issue.
Name : Anushka Mishra
Batch : 1
Serial No.: 175
Type : Documentation
Approach:

Brief Introduction to HTML ,CSS, JavaScript
diagram of semantic elements along with their position in webpage
Explaination of each semantic element along with example

[2021-09-18 13:44] Khushi-Shah-1 commented on #604
Khushi Shah
ML-Batch-2
Profile_Link:- https://github.com/Khushi-Shah-1
I want to contribute through Audio content

[2021-09-18 13:45] LegendSumeet commented on #684
assign me to these? @Aryamanz29

[2021-09-18 13:47] GyaniRoman23 commented on #701
@akratikushwah Why are you spamming with ghost issues? Kindly refrain from this and I would request you to kindly remove these.

[2021-09-18 13:49] GyaniRoman23 commented on #701
@gauravdas014 Kindly look into this matter as it is providing a lot of unnecessary chaos.

[2021-09-18 13:51] Aryan-08 commented on #216
I want to contribute in this issue
Aryan Agarwal
Batch 13

[2021-09-18 13:51] Ravinayak07 commented on #703
Don't create issues like this. Its not the right way to create it. Also, contributors are not allowed to create issues. Issues will only  be created by supervisors or mentors. After they create it, whosoever comes first & asks for working in that issue, they will assign that role to him/her.

[2021-09-18 13:53] gauravdas014 commented on #701
@GyaniRoman23 Thank you for letting me know about it. I will take necessary measures

[2021-09-18 13:54] #701 closed

[2021-09-18 13:54] #702 closed

[2021-09-18 13:54] #703 closed

[2021-09-18 13:55] Khushi-Shah-1 commented on #423
If this issue is not yet assigned to anyone, I would be love to work on it.
Sr. No. - 630
Preference 1: Documentation
Preference 2: Video
I will show various functionalities available and plots we can make in seaborn. Along with the code, I will write comments on what each line is doing.
Thank you.

[2021-09-18 13:56] shivangdubey commented on #445
For this issue, you may use GitHub only. And for any other doubt ping at Discord. All the best!

[2021-09-18 14:01] Ash-KODES commented on #324
yes mentor,I am on it!

[2021-09-18 14:09] abhisheks008 commented on #604
Issue assigned @Khushi-Shah-1
happy contributing!

[2021-09-18 14:11] yashh18 commented on #578
@adityabisoi I would like to work on documentation for this issue
Name : Yash Kataria
Batch : 3

[2021-09-18 14:11] yashikabhargava commented on #665
@Aryamanz29 can I work on this

[2021-09-18 14:12] akratikushwah commented on #701
I am really sorry I am not able to understand how to raise issue to let the task assigned to me

[2021-09-18 14:12] yashh18 commented on #567
I'd like to work to explain inheritance with various examples through documentation. Please assign me this issue
Yash Kataria
Python Batch-3

[2021-09-18 14:13] yashh18 commented on #568
I'd like to work to explain polymorphism with various examples. Please assign me this issue
Yash Kataria
Type : Documentation
Python Batch-3

[2021-09-18 14:18] Khushi-Shah-1 commented on #554
If this issue is not yet assigned to anyone, I would be happy to work on it.
Python Batch: 3
Preference: Documentation

[2021-09-18 14:18] Khushi-Shah-1 commented on #559
If this issue is not yet assigned to anyone, I would be happy to work on it.
Name: Khushi Shah
Python Batch: 3
Preference: Documentation

[2021-09-18 14:20] yashh18 commented on #548
I would like to contribute to this issue via documentation.
Thanks!
Yash Kataria
Python batch-3
@adityabisoi

[2021-09-18 14:22] sitamadex11 commented on #514
@Asmit2952 please try to create a new branch for every PR

[2021-09-18 14:23] sitamadex11 commented on #516
yeah go for it

[2021-09-18 14:23] Khushi-Shah-1 commented on #423
@prathimacode-hub If this issue is already assigned, I would like to work on the topic "LightGBM algorithm". Can the issue be created?

[2021-09-18 14:27] #369 closed

[2021-09-18 14:28] sahil9510 commented on #289
@anandhu720 I have made a PR. Please review it

[2021-09-18 14:31] AnirbanBall commented on #673
I am Interested ,Can I contribute in this?

[2021-09-18 14:34] anandhu720 commented on #289
@sahil9510 ok

[2021-09-18 14:35] mansisingh2803 commented on #699
I would like to work on this issue
Mansi Singh
DSA batch-4
Type documentation,video audio

[2021-09-18 14:37] Subhradeep10 commented on #452
@mansisingh2803 @arjyo851 @AJgthb2002 Go ahead, Assigned to you.

[2021-09-18 14:38] Subhradeep10 commented on #446
@jaya6400 @geeky01adarsh Go ahead, Assigned to you

[2021-09-18 14:38] deepthi1107 commented on #347
Hello, I am Deepthi M, my serial number:172. I have started writing the document, I am presently working on a dataset with the implementation of feature selection.

[2021-09-18 14:41] adityabisoi commented on #339
Installing software

[2021-09-18 14:43] adityabisoi commented on #548
Audio.

[2021-09-18 14:43] Ravinayak07 commented on #298
yeah working on it., will submit PR by tomorrow

[2021-09-18 14:43] Ravinayak07 commented on #293
yeah working on the same. I will submit by today

[2021-09-18 14:44] ishukhr commented on #567
I would like to contribute to this issue in the form of documentation and video
kindly please assign me this issue.
Thanks
Ishu khare
batch-1 (python)

[2021-09-18 14:44] tanishqchugh2002 commented on #346
I have created a PR please review it

[2021-09-18 14:46] adityabisoi commented on #551
@nayakaj Go ahead with doc. Open for AUDIO and VIDEO

[2021-09-18 14:46] adityabisoi commented on #552
Open for audio and video

[2021-09-18 14:47] ishukhr commented on #564
I do like to contribute to this issue in the form of documentation can u please assign this issue
to me.
Thanks
Ishu Khare
Python (batch-1)

[2021-09-18 14:48] adityabisoi commented on #556
Can you go ahead with Video?

[2021-09-18 14:52] adityabisoi commented on #561
Audio.

[2021-09-18 14:52] adityabisoi commented on #561
Sure, go ahead with VIDEO

[2021-09-18 14:53] ishukhr commented on #578
I would like to contribute to this issue in the form of documentation
kindly please assign me this issue.
Thanks
Ishu khare
batch-1 (python)

[2021-09-18 14:54] anandhu720 commented on #298
@Ravinayak07 no problem bro,take your time,just asked to check if you are working or not

[2021-09-18 14:55] purvanshgarg commented on #607
Hello, I am Purvansh Garg I would like to work on this issue
Batch : 2
Profile: https://github.com/purvanshgarg
I would like to make a video contribution

[2021-09-18 14:55] ishukhr commented on #550
I would like to contribute to this issue in the form of video
kindly please assign me this issue.
Thanks
Ishu khare
batch-1 (python)

[2021-09-18 14:56] ishukhr commented on #340
I would like to contribute to this issue in the form of Video
kindly please assign me this issue.
Thanks
Ishu khare
batch-1 (python)

[2021-09-18 14:56] anandhu720 commented on #289
This issue is completed

[2021-09-18 14:56] #289 closed

[2021-09-18 15:01] adityabisoi commented on #567
Go ahead with video

[2021-09-18 15:01] shaurya24sri opened #713 "Python:What are errors and its types?"
**Description:**
Explain What are Errors in Python and its types ?
@
**Note :**
Changes should be made inside the Python/ directory & Python branch.
Issue only for GWOC'21 contributors.
Issue will be assigned on a first come first serve basis, 1 Issue == 1 PR.
In the PR, keep this issue's title as your PR's title.

Must follow: Contributing  Guidelines  and Code of Conduct

[2021-09-18 15:02] shaurya24sri commented on #713
I am Shaurya I want to work on the documentation part can you assign to me this issue@adityabisoi

[2021-09-18 15:02] trip0le commented on #297
Sir, I am working on the above issue.
 Is there a deadline by which I have to complete my work?

[2021-09-18 15:03] anandhu720 commented on #297
@trip0le take your time.One week is max time.Please try to finish before it.Because things are planned according to week

[2021-09-18 15:04] Purvibhoyar commented on #288
@Aryamanz29  Hey
I have made a PR to my submission 3-4 hours back.
Please check and let me know if it is covering everything or not

[2021-09-18 15:04] harmankaler2000 commented on #556
@adityabisoi Absolutely, I can contribute through video as well.

[2021-09-18 15:05] ishukhr commented on #567
Thank you for assigning. I'm working on it

[2021-09-18 15:06] Pranav120602 commented on #713
@adityabisoi , I am interested to contribute via doc or video.
kindly assign it to me.
Thanks and Regards,
Pranav Shankar
Python - Batch 6.

[2021-09-18 15:08] Tanisha-creator commented on #699
I want to work on this issue
Tanisha Kindo
DSA batch-1
Type- Documentation

[2021-09-18 15:09] adityabisoi commented on #713
One issue at a time.

[2021-09-18 15:10] shaurya24sri commented on #713
Thank you @adityabisoi for assigning me this .

[2021-09-18 15:12] ayushijindal commented on #348
update on documentation
Serial no: 253
I am using the breast cancer dataset to perform EDA and soon the documentation will be ready
mentor:@DhruvBajaj01 / @ShivangDubey

[2021-09-18 15:12] uditkatyal commented on #699
I would like to work on this issue i have prepared notes pls assign this to me

[2021-09-18 15:16] TakshakRamteke commented on #713
Hello @adityabisoi would love to work on this via **Documentation**, Would be great if you may assign this to me

[2021-09-18 15:23] Purvibhoyar commented on #47
@adityabisoi hey
I will be submitting the PR by tomorrow afternoon.

[2021-09-18 15:31] Tanisha-creator commented on #681
I want to work on this issue.
Type: Documentation
Batch 1

[2021-09-18 15:32] Tanisha-creator commented on #584
I want to work on this issue
Type: Documentation
Batch 1

[2021-09-18 15:35] Tanisha-creator commented on #71
I want to work on this issue
Type: Documentation

[2021-09-18 15:36] harshi606 commented on #656
Hi! I would love to contribute. Can you assign me to this topic ?

[2021-09-18 15:36] SouravKr2001 commented on #418
I am interested in (documen...)

[2021-09-18 15:39] SouravKr2001 commented on #146
Ya i am interested in contributing via documentation plz assign it to me

[2021-09-18 15:45] RaghavvGupta commented on #300
Almost done!

[2021-09-18 15:47] Adarshswain commented on #307
Till which date I have to submit

[2021-09-18 15:47] Adarshswain commented on #345
Till which date I have to submit

[2021-09-18 15:49] Mohdtalibakhtar commented on #607
Hello , I would like to work on this
Github : https://github.com/Mohdtalibakhtar
I would like to contribute through documentation

[2021-09-18 15:52] eshan1925 commented on #685
May i Work on this issue?

[2021-09-18 15:56] anandhu720 commented on #345
@Adarshswain max one week.Try to finish before that

[2021-09-18 15:56] #344 closed

[2021-09-18 15:57] Aryamanz29 commented on #684
@LegendSumeet  Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 15:58] Aryamanz29 commented on #673
@AnirbanBall  Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 15:58] prathimacode-hub commented on #445
Issue is assigned to @ShubhamPatel01 for Video.

@dakshitathakkar, have you been alloted to any other issue? If not also add up your approach in your comment.

[2021-09-18 15:59] Aryamanz29 commented on #685
@eshan1925 Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 15:59] eshan1925 commented on #685
ThankYou

[2021-09-18 15:59] Diksha-11 commented on #699
I would like to work on this issue i have prepared notes pls assign this to me.
C/C++ batch 2

[2021-09-18 15:59] Aryamanz29 commented on #668
@Dracarys0511  Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 16:01] prathimacode-hub commented on #347
Great going. Keep it up. @deepthi1107

[2021-09-18 16:01] Dracarys0511 commented on #668
Thank you

[2021-09-18 16:02] Aryamanz29 commented on #665
@yashikabhargava  Container Networking Interface

[2021-09-18 16:03] Dracarys0511 commented on #548
Thank you

[2021-09-18 16:04] Adarshswain commented on #345
Ok sure I will do it within 2 days

[2021-09-18 16:05] Aryamanz29 commented on #656
@harshi606  Assigned, Happy Learning 🎉🎉

[2021-09-18 16:05] Aryamanz29 commented on #652
Sure @ELLIPSIS009   Assigned, Happy Learning 🎉🎉

[2021-09-18 16:06] Aryamanz29 commented on #646
@FirdausJawed   Assigned, Happy Learning 🎉🎉

[2021-09-18 16:07] nimisha-yadav commented on #484
Hey @harshithatnbr, you may include both methods but do clarify how both are implementing same technique in two different ways. For more queries, always use Discord DSA General Server.

[2021-09-18 16:08] Aryamanz29 commented on #647
You both have already assigned issue , try to complete that first @mohitmishra786  @FirdausJawed

[2021-09-18 16:12] BhaswatiRoy commented on #464
I have completed the documentation part so how should I submit now?

[2021-09-18 16:12] sangeetasingh17 commented on #571
I would like to contribute through documentation. please assign this to me

[2021-09-18 16:13] sangeetasingh17 commented on #572
I would like to contribute through documentation. please assign this to me

[2021-09-18 16:14] yashikabhargava commented on #665
@Aryamanz29 Thank you!

[2021-09-18 16:14] harshithatnbr commented on #484
Thanks for clarification!
Yeah sure. I will use discord general server from next time!!

[2021-09-18 16:17] shailja-mishra commented on #231
i would like to work on this issue via documentation . I'm pretty good at html forms . I request @praveenscience to assign this issue to me
Name - Shailja Mishra
Batch - 14 (frontend with html , css ,js and bootstrap)

[2021-09-18 16:18] Sarthak-Agg commented on #436
issue assigned, let the the contributions begin

[2021-09-18 16:20] Kajal13081 commented on #418
Hey, This is already assigned to me. And only one person can work on one issue.

[2021-09-18 16:20] shailja-mishra commented on #286
Hi @praveenscience sir . I would like to contribute to this topic . kindly assign this to me
Batch - 14 (Frontend with html,css,js &bootstrap)

[2021-09-18 16:22] shailja-mishra commented on #227
Hi @praveenscience sir . I would like to contribute to the HTML tables via documentation . I will make sure that People get a clear insight of tables along with examples . kindly assign this to me
Batch - 14 (Frontend with html,css,js &bootstrap)

[2021-09-18 16:23] shailja-mishra commented on #221
Hi @praveenscience sir . I would like to contribute to the HTML list via documentation . I will make sure that People get a clear insight of lists along with examples . kindly assign this to me
Batch - 14 (Frontend with html,css,js &bootstrap)

[2021-09-18 16:25] shailja-mishra commented on #283
Hi @praveenscience  sir . I would like to contribute to this topic via documentation . I will make sure that People get a clear insight of CSS layouts along with examples . kindly assign this to me
Batch - 14 (Frontend with html,css,js &bootstrap)

[2021-09-18 16:32] #285 closed

[2021-09-18 16:34] Diksha-11 opened #721 "JavaScript: What is Async and Await?"
Description: I Will be explaining what is Async and Await in JavaScript (ES6).

The async keyword turns a method into an async method, which allows you to use the await keyword in its body. When the await keyword is applied, it suspends the calling method and yields control back to its caller until the awaited task is complete. await can only be used inside an async method.
Changes will be inside

[2021-09-18 16:34] Aditi-247 opened #722 "Enhancement in history folder"
[Path name-](https://github.com/girlscript/winter-of-contributing/tree/Javascript/Web_Development/Javascript/Topics/2.History)

It need more explanation. It will be more beneficial for other contributors for understanding the concept like why we need javascript because as the Web gained popularity, a gradual demand for client-side scripting languages developed. It is used to  manipulate web pages

[2021-09-18 16:35] ishangupta6412 commented on #298
@riasenpai maam can i work on this?

[2021-09-18 16:36] ishangupta6412 commented on #298
Please assign this to me

[2021-09-18 16:37] Aryamanz29 commented on #22
1. We need to add content about DVCS, So we can't change that right now
2. Yes there is a typo it should be DVCS

[2021-09-18 16:38] Sarfraz-droid commented on #247
Where do I have to provide the Link?
Should I make another file Video.md and provide the details??

[2021-09-18 16:39] Aryamanz29 commented on #22
@Dhruv-194  I have changed issue description, Please look into this
Here is ref for you : https://www.slideshare.net/caniszczyk/evolution-of-version-control-in-open-source

[2021-09-18 16:39] Anant1711 opened #723 "Cybersecurity: 2.1 Ip address"
## Description
### Explain what is _IP_ _address_? Explain the concept of _ipv4_ and _ipv6_ and their difference!

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assi

[2021-09-18 16:39] Aryamanz29 commented on #22
@Dhruv-194  Try to complete this issue today
Thanks

[2021-09-18 16:41] Anant1711 opened #724 "Cybersecurity: 2.2 Mac address"
## Description
### Explain in detail about MAC address.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribut

[2021-09-18 16:41] DebadritaGhosh commented on #721
Me pls

[2021-09-18 16:42] eshan1925 commented on #685
So we need to submit everything related to spiffe in word form or pdf or readme.md?

[2021-09-18 16:43] Dhruv-194 commented on #22
Okay Thank you @Aryamanz29

[2021-09-18 16:44] Anant1711 opened #725 "Cybersecurity: 2.3 IP address v/s MAC address"
## Description
### List out differences between IP address and MAC address.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Che

[2021-09-18 16:45] Anant1711 opened #726 "Cybersecurity: 2.4 TCP"
## Description
### Explain in detail about TCP (Transmission Control Protocol).

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
-

[2021-09-18 16:45] HumblePlebeian commented on #723
I would like to work on this issue,
Could you please assign it to me?

Thank you!

[2021-09-18 16:47] 0shivamh commented on #725
I would like to work on this

[2021-09-18 16:48] I-Infinatoo commented on #724
Can I do the documentation part ?

[2021-09-18 16:48] iamKushGupta commented on #726
Can this issue be assigned to me ?

[2021-09-18 16:48] dakshitathakkar commented on #445
I am assigned an issue but it is under another domain and not under Data Science with Python. It's all right if I can't contribute to different domains at the same time, and if  I can, I've added an approach in my previous comment.

[2021-09-18 16:49] 0shivamh commented on #725
for doc

[2021-09-18 16:50] the-pro opened #729 "Frontend with frameworks: Angular:Sharing data between parent and child components in Angular"
### Required Content

- Sending data to a child component
- Sending data to a parent component
- Using @Input() and @Output() together

Link to get started: https://angular.io/guide/inputs-outputs

### Rules to follow
- Do NOT copy/paste
- Do not push to the main branch
- Specify the issue you are working on the PR
- Do not remove previous content

[2021-09-18 16:50] #187 closed

[2021-09-18 16:51] prathimacode-hub opened #730 "Data Science with Python : Introduction to Pytorch"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Pytorch. Tutorial to Pytorch and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Aud

[2021-09-18 16:51] Anant1711 commented on #723
go with it!
`for Documentation`

[2021-09-18 16:51] Anant1711 commented on #724
Go with it! `Documentation`

[2021-09-18 16:52] Anant1711 commented on #725
Okay!
Go with it!

[2021-09-18 16:53] Anant1711 commented on #726
Wait until your previous work is merged!

[2021-09-18 16:53] prettylittleminds commented on #548
Thank you!!

On Sat, 18 Sept 2021 at 20:13, Aditya Bisoi ***@***.***>
wrote:

[2021-09-18 16:59] ishangupta6412 commented on #345
@riasenpai ma'am can you please assign this one to me?

[2021-09-18 16:59] prathimacode-hub opened #731 "Data Science with Python : K-Nearest Neighbour Algorithm"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about getting involved with K-Nearest Neighbour Algorithm. Tutorial to K-Nearest Neighbour Algorithm and how it's applied using visual representations and sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python",

[2021-09-18 17:02] #194 closed

[2021-09-18 17:03] prathimacode-hub opened #732 "Data Science with Python : Get introduced to SVM Algorithm"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about getting involved with SVM Algorithm. Tutorial to SVM Algorithm and how it's applied using visual representations and sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow an

[2021-09-18 17:03] Aditi-247 opened #733 "Explanation of table tag"
Description: I am explaining what is table tag in HTML and What are the properties that we used for table tag.

An HTML table consists of one <table> tag and one or more <tr>, <th>, and <td> tag are used inside the table tag. The <tr> tag defines a table row, the <th> element defines a table header, and the <td> element defines a table cell. An HTML table may also include <caption>, <colgroup>, <t

[2021-09-18 17:04] prathamjagga commented on #582
I want to do the audio part

[2021-09-18 17:04] KTK-5901 commented on #730
I would like to work on this issue
Name: Kartikey Gupta
Serial No. 552
Type: Documentation
Approach:
Introduction to PyTorch
Explanation with examples of some functions present in PyTorch

[2021-09-18 17:06] Diksha-11 opened #734 ""Postfix to Prefix" conversion in C"
Description: I Will be adding the "Postfix to Prefix" conversion code in C language.

Changes will be inside the winter-of-contributing/C_CPP/ branch.

I am a GWOC'21 contributor from Batch 2 of C/C++. Please assign this issue to me. I assure you that this issue's title will be the same as my PR's title as well as I will be Contributing under the Guidelines and Code of Conduct.

[2021-09-18 17:07] prathamjagga commented on #681
I also want to contribute!
Name: Pratham
Batch: 3

[2021-09-18 17:07] prathimacode-hub opened #735 "Data Science with Python : Complete Overview of Regression"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Regression. Tutorial to Regression and how it's applied using visual representations and sample code, techniques you can follow up with regression and it's usage.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data

[2021-09-18 17:07] Mohdtalibakhtar commented on #732
I would like to work on this issue
Name : Mohd Talib Akhtar
Github : https://github.com/Mohdtalibakhtar
Contribution type : Documentation

[2021-09-18 17:08] Aryamanz29 commented on #315
@bhavesh-chaudhari  Assigning this to you, Happy Learning 🎉🎉

[2021-09-18 17:08] RIYANSHGARG commented on #729
I would like to work on this issue kindly assign it to me.

[2021-09-18 17:10] Anant1711 opened #736 "Cybersecurity: 2.5 UDP"
## Description
### Explain in detail about UDP.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guid

[2021-09-18 17:10] bhavesh-chaudhari commented on #315
Thanks, I will try to finish this task by tommorow afternoon.

[2021-09-18 17:10] the-pro commented on #729
Sure @RIYANSHGARG Go ahead!

[2021-09-18 17:11] prathimacode-hub commented on #471
Issue assigned to @Samhitha-Jasti for audio contribution

Issue assigned to @kunal-kumar-chaudhary for video contribution

[2021-09-18 17:12] prathimacode-hub commented on #470
@farhan-naqvi, documentation is assigned, you can take up for audio/video

[2021-09-18 17:12] prathamjagga commented on #499
I want to do it!

[2021-09-18 17:13] Anant1711 opened #737 "Cybersecurity: 2.6 3-Way handshake"
## Description
### Explain 3-way handshake, through Video!

## Note:
- This task is only for `Video` submission.
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security` branch.
- Task will be assigned on first come first serve
- Check it out [Contribution Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-09-18 17:14] prathimacode-hub commented on #464
Ok, you had done with documentation? I shall add a project structure of how it should be in discord general channel of our domain. once you check on it and create a PR. @BhaswatiRoy

[2021-09-18 17:16] prathimacode-hub commented on #445
That's ok if it's for other domain, as long as no multiple issues are assigned in same domain.

Issue allotted to @dakshitathakkar for audio contribution

[2021-09-18 17:16] yashh18 commented on #735
Yash Kataria (Serial no - 861)
Approach : What is Regression, evaluating regression, linear regression(in detail), polynomial regression
Type : Documentation

[2021-09-18 17:17] Malvikakaushal2001 commented on #731
Malvika Kaushal
Serial Number : 853
Contribution : Documentation
Approach : Definition , Algo , How does it work, Examples

[2021-09-18 17:17] Anant1711 opened #739 "Cybersecurity: 2.7 Common ports and protocols"
## Description
### Write down all common ports and protocols and explain their properties, uses, and their work!

## Note:
- If interested, Mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security`/ directory & `Cyber_Security` branch.
- Task will be assigned on **first come first serve**

[2021-09-18 17:18] Diksha-11 opened #740 ""Hello World" in Express.js"
Description: I will be writing a "Hello World" code in the express.js in the "winter-of-contributing/Web_Development/MERN/Topic/Frontend/ " branch.

This issue will help readers in acquiring the basic knowledge to learn about getting started with Express syntax. This is a sort of Tutorial on ExpressJS and how it's applied using Node. I will contribute through code and image.

I am a GWOC'21 contri

[2021-09-18 17:19] thisisamank commented on #152
Hi @PranavMasekar Thanks for tagging. Your PR just got merged and it looks good to me too.