[2021-09-16 16:48] siddhi-244 commented on #288
Can I  try?

[2021-09-16 16:48] CodeSavitar commented on #256
I would like to contribute to this issue. (Python Batch 3)

[2021-09-16 16:50] riasenpai opened #289 "FRONTEND WITH FRAMEWORK: REACT-1.1 WHAT IS JSX?"
Contributors are required to include what is JSX and why it is used, its relation with react as a framework. An example and its syntax should also be included.

Also make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
Task will be assigned on first come first s

[2021-09-16 16:50] Aryamanz29 opened #290 "OpenSource : 4.3 Explain everything related to the `Season of KDE`"
### Description :

- **Explain everything related to the `Season of KDE`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any

[2021-09-16 16:50] Purvibhoyar commented on #288
Hello supervisors and mentors
I am from Open source batch 1
Please assign me this issue
I will try this out.
Thank you

[2021-09-16 16:52] sangeetasingh17 commented on #245
Im interested in contributing in this issue. Please assign this to me.

[2021-09-16 16:52] Aryamanz29 commented on #288
@Purvibhoyar  Assigning this to you, Happy Documenting 🎉🎉🎉

[2021-09-16 16:52] Anant1711 opened #291 "Cybersecurity: 1.9.9.3 Familiar to Linux Terminal"
## Description
### Make a detailed video on the Linux terminal and its commands!

## Note:
- This task is only for `Video` submission!
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTI

[2021-09-16 16:53] VikasPandey121 commented on #138
Can you please tag your PR, not the commit?

[2021-09-16 16:56] Aryamanz29 opened #292 "OpenSource : 4.4 Explain everything related to `Linux Foundation Mentorship Programs`"
### Description :

- **Explain everything related to `Linux Foundation Mentorship Programs`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again,

[2021-09-16 16:57] helper-uttam commented on #213
hey @paramsiddharth  I wanted to ask you about the fourth point mentioned in the issue.
Should I make a separate section of this point  in my <a href="https://colab.research.google.com/drive/1PjpZ15b48MF0LWUjL3YfaYWteaFed6gC#scrollTo=EIML9RAUZavO">collab notebook?</a>  Because this is the most important concept among all of the listed topics and I had explained this many time in my documentation w

[2021-09-16 16:58] Aryamanz29 opened #293 "OpenSource : 4.5 Explain everything related to `Girlscript Summer of code`"
### Description :

- **Explain everything related to `Girlscript Summer of code`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before crea

[2021-09-16 17:00] Harshil-Jani commented on #292
Can I try with this?

[2021-09-16 17:01] Aryamanz29 opened #294 "OpenSource : 4.6 Explain everything related to the `Google Season of Docs (GSoD)`"
### Description :

- **Explain everything related to the `Google Season of Docs (GSoD)`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, befo

[2021-09-16 17:01] riasenpai opened #295 "FRONTEND WITH FRAMEWORK: REACT- 1.2 Introduction to Babel"
Contributors are required to include
* what is Babel
* about babel
* why babel
*  its relation to React and anything relevant to the framework should be included.

Also make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
Task will be assigned on first come firs

[2021-09-16 17:01] Purvibhoyar commented on #288
Yes, Thank you
Can we add documentation +audio /documentation +video format?
Or strictly either of  three.

[2021-09-16 17:02] Aryamanz29 commented on #292
Sure @Harshil-Jani , Happy Documenting 🎉🎉

[2021-09-16 17:03] yashikabhargava opened #296 "Frontend: Introduction to Web Accessibility (Documentation)"
### Description

- Accessibility in Context
- What is Web Accessibility
- Accessibility is Important for Individuals, Businesses, Society
- Making the Web Accessible
- Evaluating Accessibility
- Examples

@praveenscience I would like to work on this issue and add documentation to it in a detailed manner.
Can you please assign it to me.

[2021-09-16 17:04] yashikabhargava commented on #296
@praveenscience I would like to work on this issue and add documentation to it in a detailed manner.
Can you please assign it to me.

[2021-09-16 17:04] anandhu720 opened #297 "Frontend With Framework - What and Why React.js"
### **NEED TO CONTAIN**

*  What is React.js
*  Why React.js
*  Advantage of React.js
*  Dis Advantages of React.js

Also make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ React inside Frontend_Web_Development_React_Angular_Vue branch.
Task will be assigned on first come first serve
Check out Contribution Guidelines
and

[2021-09-16 17:05] SushantPatial commented on #231
I want to work on this issue.

[2021-09-16 17:06] trip0le commented on #283
@praveenscience I would like to contribute on the above topics

[2021-09-16 17:06] riasenpai opened #298 "FRONTEND WITH FRAMEWORK: REACT-1.3 ES6 Features"
Contributors are required to include information about ES6 features, their syntax , an example, a comparison and anything relevant to the framework.

Also make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
Task will be assigned on first come first serve
Check

[2021-09-16 17:06] Aryamanz29 commented on #288
@Purvibhoyar  You can contribute to anyone format, Read [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md)

[2021-09-16 17:07] Ravinayak07 commented on #297
can i work on this ?

[2021-09-16 17:08] iamayushkr commented on #135
I would like to work on this!!

[2021-09-16 17:08] Ravinayak07 commented on #298
can i work on this?

[2021-09-16 17:09] trip0le commented on #250
@praveenscience I would like to contribute on this topic by means of audio and video.

[2021-09-16 17:10] Aryamanz29 opened #299 "OpenSource : 4.7 Explain everything related to `Outreachy Program`"
### Description :

- **Explain everything related to `Outreachy Program`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any

[2021-09-16 17:10] sr-sweta commented on #268
I would like to contribute to the documentation with sample codes

[2021-09-16 17:10] Ravinayak07 commented on #293
can i work on this?

[2021-09-16 17:11] Ravinayak07 commented on #294
can i work on this?

[2021-09-16 17:12] yashikabhargava commented on #294
can I work on this issue?

[2021-09-16 17:12] yashikabhargava commented on #299
can i work on this issue?

[2021-09-16 17:13] RaghavvGupta commented on #294
Can I work on this?

[2021-09-16 17:13] Aryamanz29 commented on #293
@Ravinayak07  Sure, Happy Documenting 🎉🎉

[2021-09-16 17:14] trip0le commented on #274
Hi @praveenscience  Sir, this is Titas Nath. can I be assigned this topic?

[2021-09-16 17:15] Aryamanz29 commented on #294
@yashikabhargava Sure, Happy Documenting🎉🎉

[2021-09-16 17:16] Aryamanz29 commented on #299
@yashikabhargava  Already assigned one issue to you, Complete that one, I'll assign this to you

[2021-09-16 17:16] trip0le commented on #297
Can I be assigned the above task?

[2021-09-16 17:17] anandhu720 commented on #297
@Ravinayak07 you can only work at a single task at a time
do you want to do this or other one

[2021-09-16 17:17] KhafiaAyyub commented on #290
Can i work on this issue @Aryamanz29 ??

[2021-09-16 17:17] yashikabhargava commented on #294
Thank You!

[2021-09-16 17:18] yashikabhargava commented on #299
@Aryamanz29 Okay, Thank you!

[2021-09-16 17:18] Aryamanz29 opened #300 "OpenSource : 4.8 Explain everything related to`Linux Kernel Mentorship Program`"
### Description :

- **Explain everything related to `Linux Kernel Mentorship Program`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, befor

[2021-09-16 17:18] anandhu720 commented on #297
@trip0le wait for some time,we are following first come first service,If he is doing another one we will assign this to you

[2021-09-16 17:19] yashh18 commented on #258
I can contribute to it
I am pretty well versed about all the data types used in python!
Yash Kataria (Python Batch-3)

[2021-09-16 17:20] mukeshmjn commented on #298
Sure @Ravinayak07

[2021-09-16 17:20] mukeshmjn commented on #298
@Ravinayak07 go for it

[2021-09-16 17:21] trip0le commented on #268
@praveenscience Sir, may I contribute on this topic with audio, video and documentation?

[2021-09-16 17:21] KhafiaAyyub commented on #299
can I contribute on this issue??

[2021-09-16 17:21] anandhu720 commented on #297
@trip0le you can do it

[2021-09-16 17:21] RaghavvGupta commented on #300
Please assign it to me

[2021-09-16 17:22] Aryamanz29 opened #301 "OpenSource : 4.9 Explain everything related to `Hyperledger Mentorship Program`"
### Description :

- **Explain everything related to `Hyperledger Mentorship Program`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before

[2021-09-16 17:22] Adarshswain commented on #297
Can I work on this

[2021-09-16 17:22] Ravinayak07 commented on #297
I want to work on this

[2021-09-16 17:23] itika1 commented on #245
Guys this issue is created by me and I've mentioned I want to contribute on documentation so those who are commenting for documenation kindly recheck before you comment.

[2021-09-16 17:23] Ravinayak07 commented on #293
Thank you

[2021-09-16 17:23] LegendSumeet commented on #300
Can you just Assign me to these Issue?
It's my favourite program @Aryamanz29

[2021-09-16 17:24] trip0le commented on #267
@praveenscience May I contribute on this topic?

[2021-09-16 17:25] Aryamanz29 commented on #300
@RaghavvGupta  Assigning this to first-time contributors first @LegendSumeet  I hope you don't mind, Happy Documenting 🎉🎉

[2021-09-16 17:25] uditkatyal commented on #56
I would like to work on this issue.

[2021-09-16 17:25] 2devyank commented on #282
@paramsiddharth sir I would like to try this issue

[2021-09-16 17:26] RaghavvGupta commented on #301
Please assign it to me!

[2021-09-16 17:27] Ravinayak07 commented on #297
ok i will work on other one.

[2021-09-16 17:28] Ravinayak07 commented on #298
thank you

[2021-09-16 17:28] Aryamanz29 commented on #301
@RaghavvGupta  Sorry Issue already assigned to you, First, complete that one, Hope you understandand

[2021-09-16 17:28] RaghavvGupta commented on #300
Thanks @Aryamanz29 , All the best buddy @LegendSumeet for your issues!

[2021-09-16 17:29] LegendSumeet commented on #301
Can you assign me to these issue?

I will do in video and Documentation manner....@Aryamanz29

[2021-09-16 17:29] RaghavvGupta commented on #301
Sure, thanks for assigning!

[2021-09-16 17:31] Adi7171 opened #302 "OpenSource : 4.11 Explain everything related to `HacktoberFest`"
### Description :

- **Explain everything related to `HacktoberFest`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any iss

[2021-09-16 17:31] Aryamanz29 opened #303 "OpenSource : 4.10 Explain everything related to `Free Software Foundation (FSF) Internship Program`"
### Description :

- **Explain everything related to `Free Software Foundation (FSF) Internship Program`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same

[2021-09-16 17:31] Adi7171 commented on #302
@Aryamanz29  I would like to be assigned to this issue

[2021-09-16 17:31] VikasPandey121 commented on #118
Yes sure, I am assigning this issue to you @Priyanshirathore.
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 15.2 for instance `15.2 Firebase ML kit with Android Studio`
Note:-

[2021-09-16 17:32] kunal-kumar-chaudhary commented on #303
i would like to work on this!

[2021-09-16 17:32] Aryamanz29 commented on #300
Ok, Assigning this to you @LegendSumeet 🎉🎉

[2021-09-16 17:32] Adarshswain commented on #302
can i go  for it

[2021-09-16 17:32] trip0le commented on #209
Hi @praveenscience Sir, This is Titas Nath(batch 6, frontend with HTML, css). May I contribute on this topic?

[2021-09-16 17:33] trip0le commented on #207
Hi @praveenscience Sir, This is Titas Nath(batch 6, frontend with HTML, css). May I contribute on this topic?

[2021-09-16 17:33] jaigora24 commented on #302
Can I go for it?

[2021-09-16 17:33] Aryamanz29 commented on #301
Ok, Assigning this to you @LegendSumeet 🎉🎉

[2021-09-16 17:35] Aryamanz29 commented on #302
Assigning this issue to you since you've created @Adi7171 , More issues coming folks, Don't worry🙌🙌

[2021-09-16 17:36] jaigora24 commented on #209
Can I go for it?

[2021-09-16 17:36] VikasPandey121 commented on #124
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.9 for instance `1.9 Updating IDE and Essential SDK Tools`
Note:- If you have multiple files to commit then add a tag at the beg

[2021-09-16 17:36] jaigora24 commented on #207
Can I go for it?

[2021-09-16 17:37] jaigora24 commented on #302
Can I go for it?

[2021-09-16 17:37] Aarushijain-06 commented on #274
Hi sir, please assign me this task, I would like to do it.

[2021-09-16 17:37] Aryamanz29 commented on #303
You've already assigned one issue, Try to complete that first

[2021-09-16 17:38] uditkatyal commented on #252
I would like to work on this issue!
I am quite good knowledge of designing elements.

[2021-09-16 17:39] trip0le commented on #286
Hi @praveenscience Sir, This is Titas Nath(batch 6, frontend with HTML, css). May I contribute on this topic?

[2021-09-16 17:39] arpanaditya commented on #299
Can i work on this issue? @Aryamanz29

[2021-09-16 17:39] Asmit2952 commented on #303
I would like to work on this @Aryamanz29 . Please assign this to me.

[2021-09-16 17:39] KhafiaAyyub commented on #290
Can I contribute on this issue?

[2021-09-16 17:39] Aryamanz29 opened #304 "OpenSource : 4.14 Explain everything related to`Open Mainframe Project Mentorship Program`"
### Description :

- **Explain everything related to `Open Mainframe Project Mentorship Program`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue ag

[2021-09-16 17:39] trip0le commented on #272
Hi @praveenscience Sir, This is Titas Nath(batch 6, frontend with HTML, css). May I contribute on this topic?

[2021-09-16 17:40] uditkatyal commented on #225
I would like to work on this issue.
I have well defined written notes which I will convert to proper documentation

[2021-09-16 17:40] Aryamanz29 commented on #303
Sure @Asmit2952 , Assigning this to you, Happy Documenting🎉🎉

[2021-09-16 17:40] Asmit2952 commented on #304
Can I work on this?

[2021-09-16 17:41] trip0le commented on #271
Hi @praveenscience Sir, This is Titas Nath(batch 6, frontend with HTML, css). May I contribute on this topic?

[2021-09-16 17:42] Aryamanz29 commented on #299
Creating more issues folks , Don't worry🙌

[2021-09-16 17:42] uditkatyal commented on #232
I would love to contribute to this issue.
flex and its properties always become a menace for a student studying it the first time.
I will try to explain in a way that would make understanding flex very easy and fun.

[2021-09-16 17:42] trip0le commented on #252
Hi @praveenscience  Sir, This is Titas Nath(batch 6, frontend with HTML, css). May I contribute on this topic?

[2021-09-16 17:43] trip0le commented on #242
Hi @praveenscience Sir, This is Titas Nath(batch 6, frontend with HTML, css). May I contribute on this topic?

[2021-09-16 17:43] Aryamanz29 commented on #304
@Asmit2952  Already assigned one issue to you, Complete that one first then I'll assign this to you 😉

[2021-09-16 17:43] Sakshi-1101 opened #305 "Guide For MLH Fellowship"

[2021-09-16 17:44] Sakshi-1101 commented on #305
Sir please assign me this issue ?

[2021-09-16 17:44] Aryamanz29 commented on #290
@KhafiaAyyub  Already assigned one issue to you, Complete that one first then I'll assign this to you 😉

[2021-09-16 17:45] trip0le opened #306 "Basics of Glassmorphism and Neumorphism using HTML and CSS."

[2021-09-16 17:45] uditkatyal commented on #228
I would like to contribute to this issue.
I have also designed an article for gfg regarding the semantic element.

Udit (batch-1-frontend-with-html-css)

[2021-09-16 17:45] Chirag-creator17 commented on #305
this issue is already there.

[2021-09-16 17:45] Aryamanz29 commented on #305
Copy of #287 ,Closing this

[2021-09-16 17:45] #305 closed

[2021-09-16 17:45] trip0le commented on #306
Hi @praveenscience Sir, This is Titas Nath(batch 6, frontend with HTML, css). May I contribute on this topic?

[2021-09-16 17:45] KhafiaAyyub commented on #290
Okay, thank you!!

[2021-09-16 17:46] Aryamanz29 commented on #305
#290 is open try to grab that

[2021-09-16 17:46] nayakaj commented on #79
can you plz assign this to me

[2021-09-16 17:47] uditkatyal commented on #111
pls, assign this issue to me.
I have made awesome notes regarding the analysis of algorithms.
I will convert it in documentation
They are given in such an easy way that a simple read will make it crystal clear.
pls assign
dsa-batch-3

[2021-09-16 17:48] Aryamanz29 opened #307 "OpenSource : 4.12 Explain everything related to`Open Summer of Code`"
### Description :

- **Explain everything related to `Open Summer of Code`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating a

[2021-09-16 17:50] Adarshswain commented on #307
I want Contribute

[2021-09-16 17:50] Asmit2952 commented on #303
Can I contribute in .MD file or do I need to contribute in .ipynb file?

[2021-09-16 17:51] siddhi-244 commented on #192
Please check my pr!

[2021-09-16 17:51] siddhi-244 commented on #307
Can I try

[2021-09-16 17:51] uditkatyal commented on #109
I would like to contribute on STL(arrays).

[2021-09-16 17:52] siddhi-244 commented on #304
Can I try?

[2021-09-16 17:52] jaigora24 commented on #243
Can I go for it?

[2021-09-16 17:52] Aryamanz29 opened #310 "OpenSource : 4.13 Explain everything related to `FOSSEE Summer Fellowship`"
### Description :

- **Explain everything related to `FOSSEE Summer Fellowship`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creat

[2021-09-16 17:53] Mitali-13 commented on #265
hi , i would like to work on this issue, please assign this to me.

[2021-09-16 17:53] siddhi-244 commented on #288
Can I try this ?

[2021-09-16 17:53] siddhi-244 commented on #310
Can I try?

[2021-09-16 17:53] trip0le commented on #289
Hi @praveenscience Sir, This is Titas Nath(batch 6, frontend with HTML, css). May I contribute on this topic?

[2021-09-16 17:53] Aryamanz29 commented on #304
@siddhi-244 Ok, Go ahead 🎉🎉

[2021-09-16 17:54] Aryamanz29 commented on #310
@siddhi-244 Already assigned previous one

[2021-09-16 17:54] Aryamanz29 commented on #303
Contribute in `.md`

[2021-09-16 17:55] Ananyagupta43 commented on #161
@paramsiddharth Can I start working on this topic ?

[2021-09-16 17:55] priyanshu688 commented on #138
I am unable to do..Can you please guide me?? I am bit confuse

[2021-09-16 17:55] trip0le commented on #289
Hi, This is Titas Nath(batch 6, frontend framework). May I contribute on this topic?

[2021-09-16 17:56] Aryamanz29 commented on #288
@Aryamanz29 Already Assigned to @Purvibhoyar , Please check before commenting

[2021-09-16 17:56] siddhi-244 commented on #310
Sure thank you. I already completed my previous 2 issues. I can work on these 2 now !

[2021-09-16 17:57] trip0le commented on #297
Thank you Sir

[2021-09-16 17:57] Aryamanz29 commented on #310
ok @siddhi-244  Assigning this to you 🎉🎉

[2021-09-16 17:58] anandhu720 commented on #289
@trip0le I have assigned you a work already,after that i will assign you this work

[2021-09-16 17:59] Adarshswain commented on #307
can I contribute

[2021-09-16 17:59] siddhi-244 commented on #310
Thank you so much.

[2021-09-16 18:01] uditkatyal commented on #306
Hey, @pravee I have built plenty of neomorphic projects. (clock, cards,)
some of them are pushed to my GitHub as well (neuromorphic working clock).
pls assign this issue to me I would love to work on this.

[2021-09-16 18:07] prithwishpramanik commented on #291
Sir I want to do this job

[2021-09-16 18:10] Aryamanz29 commented on #307
@Adarshswain Assigning this to you, Happy Documenting 🎉🎉🎉

[2021-09-16 18:16] uditkatyal opened #313 "Bit Manipulation : Bitwise operator"
Note :
Changes should be made inside the Open_Source/ directory & Opensource branch.
Issue only for GWOC'21 contributors.
For Contributor please don't create the same issue again, before creating any issue do visit OpenSource Milestone
Doc name should same as the issue title
Must-Follow : Contributing Guidelines & Code of Conduct before start Contributing.
Happy Contributing

[2021-09-16 18:21] Aryamanz29 opened #315 "OpenSource : 5. Explain everything related to `github-pages`"
### Description :

- **Explain everything related to `github-pages`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any issu

[2021-09-16 18:22] HarshK07 commented on #315
Can i get this one ? @Aryamanz29

[2021-09-16 18:22] anurag-b72 commented on #315
Can I work on this ! @Aryamanz29

[2021-09-16 18:23] uditkatyal opened #316 "Pair : Data Structure"
Use of pairs,
How to declare,
STL required for pair and its library functions

[2021-09-16 18:24] Aryamanz29 opened #317 "OpenSource : 5.1 Explain `Deploying to Netlify`"
### Description :

- **Explain everything related to `Deploying to Netlify`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating

[2021-09-16 18:24] uditkatyal commented on #315
I have hosted my all websites on Github pages and am quite familiar with idea.
pls, assign this issue to me! @Aryamanz29

[2021-09-16 18:26] Aryamanz29 opened #318 "OpenSource : M.13_Deploying_to_heroku"
### Description :

- **Explain `Deploying projects to heroku`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any issue do v

[2021-09-16 18:26] uditkatyal commented on #317
pls assign this issue to me
familiar with Netlify and its working.

[2021-09-16 18:27] Aryamanz29 commented on #315
@HarshK07 , Assigning this to you, Happy Documenting 🎉🎉🎉

[2021-09-16 18:27] Aryamanz29 commented on #317
@uditkatyal  Assigning this to you, Happy Documenting 🎉🎉

[2021-09-16 18:29] uditkatyal commented on #318
Hey pls, assign this issue.
deployed a couple of projects here.
thank you!

[2021-09-16 18:29] Aryamanz29 opened #319 "OpenSource : 5.3 Compare `github-pages` vs `netlify`"
### Description :

- **OpenSource : 5.3 Compare `github-pages` vs `netlify`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating

[2021-09-16 18:30] uditkatyal commented on #317
Thank you sir!

[2021-09-16 18:31] anurag-b72 commented on #319
Can I work on this ! @Aryamanz29

[2021-09-16 18:31] mayankkuthar commented on #290
@Aryamanz29  Can I work on this one? :)

[2021-09-16 18:32] Aryamanz29 opened #320 "OpenSource : 5.4 Explain `Firebase Hosting`"
### Description :

- **5.4 Explain `Firebase Hosting`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any issue do visit [Op

[2021-09-16 18:33] Shruti-Subu commented on #316
can i try this?

[2021-09-16 18:34] Aryamanz29 commented on #319
@anurag-b72 Assigning this to you, Happy doc 🎉🎉

[2021-09-16 18:36] Shruti-Subu commented on #114
can i try this?

[2021-09-16 18:36] mayankkuthar opened #321 "Open Source: Everything about Google season of docs"
## This will include the following points:
- What is Google Season of Docs?
- Workflow & Timeline of Program
- Advantages of Google Season of Docs
- And other details

@Aryamanz29

[2021-09-16 18:38] #321 closed

[2021-09-16 18:39] mayankkuthar commented on #321
Sorry, I didn't saw the topic was already included.

[2021-09-16 18:44] Baalamurgan commented on #283
@praveenscience I am interested in the topic. Let me take the task.

[2021-09-16 18:44] Aryamanz29 opened #322 "OpenSource : 5.5 Explain everything related to `Amazon S3`"
### Description :

- **Explain everything related to `Amazon S3`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any issue d

[2021-09-16 18:47] Ash-KODES commented on #32
mentor,please review my changes @Aryamanz29

[2021-09-16 18:48] Baalamurgan commented on #243
I am interested working on this topic. Let me know the update!

[2021-09-16 18:48] Aryamanz29 opened #324 "OpenSource : 5.6 Explain everything related to `gitlab-pages`"
### Description :

- **Explain everything related to `gitlab-pages`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any issu

[2021-09-16 18:50] Aryamanz29 opened #325 "OpenSource : 5.7 Compare `github` vs `gitlab` vs `bit bucket`"
### Description :

- **Compare `github` vs `gitlab` vs `bit bucket`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any issu

[2021-09-16 18:50] Baalamurgan commented on #280
I am interested in this topic. Batch-6-frontend-framework

[2021-09-16 18:51] mayankkuthar commented on #325
Can I work on this one?

[2021-09-16 18:52] Aryamanz29 commented on #325
@mayankkuthar Assigning this to you , Happy docs 🎉🎉

[2021-09-16 18:55] Shruti-Subu commented on #109
can i contribute in this?

[2021-09-16 18:59] lingaraj281 commented on #78
Hello I am Lingaraj
I want to do this with Video
Batch - 3 Python

[2021-09-16 19:01] arsheelsheikh commented on #320
Hi, Can I work on this issue?

[2021-09-16 19:01] micepram commented on #142
Great, I'll assign you!

[2021-09-16 19:01] uditkatyal commented on #324
pls assign this to me

[2021-09-16 19:03] micepram commented on #140
Hey @ashish-reddy-20-08, that's great to know, maybe you and @aaryan078 can work on this together? I believe @aaryan078 has already started the work.

[2021-09-16 19:03] Aryamanz29 commented on #320
@arsheelsheikh  Assigning this to you, Happy docs 🎉🎉

[2021-09-16 19:03] paramsiddharth commented on #213
Sure, Uttam! :)

[2021-09-16 19:07] Himanshi1805 commented on #295
Can I contribute on this?
Himanshi Gupta Batch-6 Frontend-Framework

[2021-09-16 19:10] mukeshmjn commented on #295
Sure @Himanshi1805 go for it . Good luck!

[2021-09-16 19:13] Ash-KODES commented on #324
I would like to contribute for this issue!
opensource batch batch 3
thankyou

[2021-09-16 19:15] sahil9510 commented on #289
Can I contribute on this?
Sahil Srivastava Batch-6 Frontend-Framework

[2021-09-16 19:16] Aryamanz29 commented on #324
@Ash-KODES Assigning this to you , Happy Documenting 🎉

[2021-09-16 19:25] ankurg132 commented on #79
Those interested can still apply for audio and video contributions.

[2021-09-16 19:35] Asmit2952 commented on #303
I need a help, I created a PR, but my previous commits also came along with that PR, what should I do?

[2021-09-16 19:40] Aryamanz29 commented on #303
Delete that fork repo and fork it again , then use `git checkout Opensource` then create new branch for solving this Issue using `git checkout -b new_branch_name` then made changes and create PR

[2021-09-16 19:48] mukeshmjn opened #331 "Frontend With Angular: What is Angular and Why Angular?"
- What is Angular?
- Why Angular?
- Features?
- Its Advantages?
- Disadvantages?

 Note:-

1.  Don't even think about copy pasting we after reviewing would be merging the PR.
2.  Changes should be made inside "**Frontend_Web_Development_React_Angular_Vue/Angular**" directory
3.  Tasks would be assigned on First Come First Serve Basis.

[2021-09-16 19:50] shreyanshishukla commented on #306
Hey,  @praveenscience  can i contribute to this?

[2021-09-16 19:58] #263 closed

[2021-09-16 20:03] geeythree commented on #322
I'd like to work on this. Can you please assign this issue to me?

[2021-09-16 20:07] manishaag7 commented on #318
I would like to work on this issue!

[2021-09-16 20:08] manishaag7 commented on #316
Can I work on this? I use c++ so I am familiar with it.

[2021-09-16 20:11] manishaag7 commented on #266
How many people can work on the same issue?

[2021-09-16 20:14] paramsiddharth commented on #266
We generally encourage up to 2-3 contributors. For different formats, we may accept more.

[2021-09-16 20:18] manishaag7 commented on #266
I can work on these for documentation. Can I?

[2021-09-16 20:49] Harshkumar62367 opened #336 "Can I work on this @Aryamanz29?"

[2021-09-16 20:49] #336 closed

[2021-09-16 20:51] Harshkumar62367 commented on #290
Can i work on this @Aryamanz29 ?

[2021-09-16 21:02] RIYANSHGARG commented on #331
I would Like to solve this issue. Please assign it to me

[2021-09-16 21:04] mukeshmjn commented on #331
@RIYANSHGARG sure mate! Go for it :)

[2021-09-16 21:20] Dhruv-194 commented on #22
I will complete this issue by today itself. Thank you for reminding :)

[2021-09-16 21:22] RIYANSHGARG commented on #331
I have to create a folder named Frontend_Web_Development_React_Angular_Vue/Angular and then create a readme file in it to start writing content ?

[2021-09-16 21:26] mukeshmjn commented on #331
No, it's the directory you need not to create a folder. If you are posting written content the just create a .md file and start working! File would be added into Frontend_Web_Development_React_Angular_Vue/Angular directory!

[2021-09-16 21:52] sharia-farooqui commented on #246
Can I work on this issue?

[2021-09-17 01:35] deeppanchani commented on #68
Hey, I would like to work on this issue. Can I?

[2021-09-17 01:36] deeppanchani commented on #96
Hey, I am willing to work on this issue.

[2021-09-17 02:10] b33pl0g1c commented on #170
Hi @Anant1711, Can I contribute to this too?

[2021-09-17 02:20] TishaJhabak1014 commented on #72
Sir, I will go for the documentation for this.  Thus, specified. Thank you for the assignment.

[2021-09-17 02:40] ruchi1234s commented on #286
I would like to contribute on this topic .

[2021-09-17 02:44] Aryamanz29 commented on #290
Sure @Harshkumar62367 ; Assigning this to you

[2021-09-17 02:49] TechnoPhasePRO commented on #139
@micepram there is no such ds-r/ directory under data science with R. should I create this directory?

[2021-09-17 02:49] adityabisoi commented on #46
This issue is now open for VIDEO contributions.

[2021-09-17 02:50] adityabisoi commented on #47
@Purvibhoyar Sure.

[2021-09-17 02:50] adityabisoi commented on #47
This issue is now open for AUDIO and VIDEO contributions.

[2021-09-17 02:51] adityabisoi commented on #77
This issue is now open for  VIDEO contributions.

[2021-09-17 02:53] adityabisoi commented on #79
@ankurg132 Go ahead with AUDIO.

[2021-09-17 02:53] adityabisoi commented on #79
This issue is now open for  VIDEO contributions.

[2021-09-17 02:54] adityabisoi commented on #206
@LavleenAgrawal Documentation, @Rijudas149 Audio. @Yukti-20 @CodeSavitar Let me know if you can contribute as VIDEO

[2021-09-17 02:57] adityabisoi commented on #223
@Adityanr Go ahead. This issue is now open for AUDIO and VIDEO contributions.

[2021-09-17 03:02] adityabisoi commented on #245
This issue is now open for AUDIO and VIDEO contributions.

[2021-09-17 03:02] ashish-reddy-20-08 commented on #140
Ya sure I can work with him @micepram.
@aaryan078 can you please say what all you did, so that I can work on the addons to be done.

[2021-09-17 03:04] adityabisoi commented on #256
This topic is handled much later in the roadmap. We're in our first week now. I'll create this issue later.

[2021-09-17 03:04] #256 closed

[2021-09-17 03:05] adityabisoi commented on #258
This issue has already been created.

[2021-09-17 03:05] #258 closed

[2021-09-17 03:10] adityabisoi opened #338 "Python: 2.2 What is virtual environment?"
### Description :
Briefly explain what is virtual environment in python and the advantages of using it.

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow :

[2021-09-17 03:11] Aryamanz29 commented on #322
Sure @geeythree , Happy Documenting 🎉🎉

[2021-09-17 03:12] iamsuyashpatel07 commented on #289
@anandhu720 hello mentor I'm from Batch-1 Frontend-Framework. **can I start working on this issue ?**

[2021-09-17 03:12] adityabisoi opened #339 "Python: 2.3 Installing development & debugging software"
### Description :
Mention common development & debugging software for python, and where to install them from.

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Fol

[2021-09-17 03:12] Aryamanz29 commented on #318
@manishaag7 Sure , Happy Documenting 🎉

[2021-09-17 03:13] adityabisoi opened #340 "Python: 3.1 What is type conversion?"
### Description :
What is type conversion in python?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlsc

[2021-09-17 03:14] priyanshuc4423 commented on #340
can you please assign me (Documentation)

[2021-09-17 03:15] adityabisoi commented on #249
One issue at a time, please. If you make a PR, you'll be assigned new issues, then.

[2021-09-17 03:15] adityabisoi commented on #249
**Only arithmetic & assignment operators are to be covered.**
This issue is open for AUDIO and VIDEO contributions.

[2021-09-17 03:25] neenad99 commented on #114
would like to contribute in it  (DSA batch 1)

[2021-09-17 03:26] siddhi-244 commented on #340
Can I try this!

[2021-09-17 03:26] Yashesvinee commented on #338
hi I would like to contribute to this in the form of a documentation
Yashesvinee V

[2021-09-17 03:31] Rijudas149 commented on #340
I can contribute in this issue by any of three ways(Document, audio, video)... May I contribute???

[2021-09-17 03:31] Rijudas149 commented on #339
I can contribute in this issue by any of three ways(Document, audio, video)... May I contribute???

[2021-09-17 03:32] Rijudas149 commented on #338
I can contribute in this issue by any of three ways(Document, audio, video)... May I contribute???

[2021-09-17 03:32] AJgthb2002 commented on #339
I wish to contribute to this issue in the form of documentation

[2021-09-17 03:32] lohith1392 commented on #339
Can I work on the documentation part please
Peddi sai lohith
Python batch 4

[2021-09-17 03:33] Anant1711 commented on #291
@prithwishpramanik First submit your 1.9.8 task, only then I can assign you a second issue!

[2021-09-17 03:35] Anant1711 commented on #170
Can you submit in `Video` format?
Because `documentation` already taken?

[2021-09-17 03:39] deepthi1107 commented on #141
Hello, I am Deepthi M. I would like to do documentation on this issue.

[2021-09-17 03:39] deepthi1107 commented on #139
Hello, I am Deepthi M . I would like to do documentation on this issue.

[2021-09-17 03:40] nik09877 commented on #316
Can I work on this issue?
Nikhil Kumar Mishra
DSA Batch-3

[2021-09-17 03:42] nik09877 commented on #289
Can I work on this issus?
I am from Batch-3 Frontend-Framework

[2021-09-17 03:43] Saurabh-crypto16 commented on #289
@anandhu720 I have a basic idea about JSX I want to contribute to this issue. I am from batch-2-frontend-framework

[2021-09-17 03:43] lohith1392 commented on #338
@adityabisoi it is becoming very difficult for some of us although being 24hrs online we are not able to get even one to do

[2021-09-17 03:45] GopinathBalaji commented on #313
Can I try to work on this issue, please?

[2021-09-17 03:46] nik09877 commented on #298
Can i work on this issue?
BAtch-3 Frontend Framework

[2021-09-17 03:48] arpanaditya opened #341 "Frontend: Collecting HTML form response in Google Sheets"
I'd like to explain here how we can collect HTML form responses in Google Sheets and managing them.
Please assign it to me @praveenscience

[2021-09-17 03:48] adityabisoi commented on #338
@lohith1392 You can `Watch` the repo to get notifications as long as the issues are created. BTW you've been assigned one issue right?

[2021-09-17 03:48] adityabisoi commented on #338
@Rijudas149 Audio. This issue is open for VIDEO.

[2021-09-17 03:49] adityabisoi commented on #339
As I said, one issue at a time.

[2021-09-17 03:49] nakshatra-garg commented on #245
I worked on basic data types before the issue was open. **https://github.com/girlscript/winter-of-contributing/pull/167** this is my pull request. I didn't know we had to get an issue assigned so can I be assigned this issue?

[2021-09-17 03:51] adityabisoi commented on #340
@siddhi-244 AUDIO or VIDEO? You have to mention that.

[2021-09-17 03:51] nakshatra-garg opened #342 "Python: 2.1 Basic Datatypes of Python"
Description :
Briefly explain Basic Datatypes of Python with some examples.
Note :
Changes should be made inside the Python/ directory & Python branch.
Issue only for GWOC'21 contributors.
The issue will be assigned on a first come first serve basis, 1 Issue == 1 PR.
In the PR, keep this issue's title as your PR's title.
Must-Follow: Contributing Guidelines & Code of Conduct before start Contribut

[2021-09-17 03:53] the-pro commented on #289
@sahil9510 I have assigned you on this. @iamsuyashpatel07 @nik09877 @Saurabh-crypto16 It is a fist come first serve basis. Wait for other issues. Just keep checking "Frontend with frameworks" milestone

[2021-09-17 03:56] siddhi-244 commented on #340
Documentation

[2021-09-17 03:57] GopinathBalaji commented on #342
I would like to work on this issue. Can you please assign it to me?

[2021-09-17 03:58] riasenpai opened #343 "FRONTEND WITH FRAMEWORK: REACT-1.4 JSX Attributes and Styling react elements"
Contributors are required to include information about the JSX Attributes , different ways to style a react element, syntax, examples and anything relevant to the framework.

Also make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
Task will be assigned on firs

[2021-09-17 03:59] lohith1392 commented on #342
Can I work on this issue

[2021-09-17 04:03] lohith1392 commented on #342
Documentation

[2021-09-17 04:04] iamsuyashpatel07 commented on #289
okay @the-pro.

[2021-09-17 04:06] riasenpai opened #344 "FRONTEND WITH FRAMEWORK: REACT-1.5 What is NPM?"
Contributors are required to include information about NPM, about React Package (a good starting point https://www.npmjs.com/package/react) , packages and modules, an example and syntax. Anything relevant to the framework and the topic should be included.

Also make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir insid

[2021-09-17 04:06] iamsuyashpatel07 commented on #343
@the-pro can I work on this.

[2021-09-17 04:07] lohith1392 commented on #343
Can I work on this issue documentation

[2021-09-17 04:08] the-pro commented on #343
@iamsuyashpatel07 Go ahead!

[2021-09-17 04:09] lohith1392 commented on #344
Can I work on this issue documentation

[2021-09-17 04:11] Saurabh-crypto16 commented on #344
I have used Node Package manager(npm), I have an idea about it. I want to work on this.
FRONTEND WITH FRAMEWORK BATCH 2

[2021-09-17 04:11] the-pro commented on #344
@lohith1392 Sure!

[2021-09-17 04:14] Sarfraz-droid commented on #344
Can I work on a Video?

[2021-09-17 04:14] Ashi-00 commented on #340
I would like to address this issue..via Documentation
@adityabisoi
Ashi Dubey(batch-5)

[2021-09-17 04:14] WhiteBear1611 commented on #342
I would like to make a documentation/video over this issue

[2021-09-17 04:15] riasenpai opened #345 "FRONTEND WITH FRAMEWORK: REACT-1.6 Create and initialize a React App"
Contributors are required to include information about any prerequisite for installing React, its syntax , an example , an explanation (a good starting point https://reactjs.org/docs/create-a-new-react-app.html) about what each statement : For eg, What is npx, what does "cd" do , what does "npm start" do etc.

Also make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside th

[2021-09-17 04:16] akshat-crypto commented on #135
I would also like to work on this

[2021-09-17 04:17] Adarshswain commented on #345
can i work on this

[2021-09-17 04:17] Yukti-20 commented on #206
Yes, sure @adityabisoi I can contribute as VIDEO.

[2021-09-17 04:17] Sarfraz-droid commented on #345
Can I work on a Video tutorial for this?

[2021-09-17 04:17] RIYANSHGARG commented on #331
![Screenshot (85)](https://user-images.githubusercontent.com/74728397/133723295-f847b0e8-c5a9-4b53-bf7c-ce36b1045319.png)
Can you please help me out what is wrong here and how to correct it ?

[2021-09-17 04:18] the-pro commented on #344
Video is not required here

[2021-09-17 04:19] sitamadex11 opened #346 "Android-Kotlin : 03.1 Installing Android Studio"
## Description :
* Give a stepwise description of how to install the latest version of android studio. (For Windows, Mac, Linux)
*  Required documentation or video.

## References :

* Changes should be made in **Android_Development/Kotlin/** directory under **Android_Development_With_Kotlin** branch.
* You have to push your PR to the **Android_Development_With_Kotlin** branch only.
* You can take

[2021-09-17 04:19] prathimacode-hub opened #347 "Data Science with Python : Feature Selection Techniques"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in getting all the guidance that one needs to learn about feature selection techniques. Tutorial to feature selection techniques and how it's applied using sample code. Be as elaborative as possible.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the appr

[2021-09-17 04:19] WhiteBear1611 commented on #341
I would also like to work on this issue via documentation

[2021-09-17 04:19] Adarshswain commented on #345
i will make video with documentation

[2021-09-17 04:20] AnuragSomani1611 commented on #341
I would also like to work on this issue via documentation

[2021-09-17 04:20] Yukti-20 commented on #342
I can make well-formatted and well-designed documentation and video on this issue @nakshatra-garg . May I do this?

[2021-09-17 04:21] helper-uttam commented on #213
Hi @paramsiddharth!
I'm done with the documentation, please review this
<a href="https://colab.research.google.com/drive/1PjpZ15b48MF0LWUjL3YfaYWteaFed6gC#scrollTo=-wsuT03mMani">notebook</a> once. If this seems okay to you then I will raise PR.

[2021-09-17 04:21] deepthi1107 commented on #347
Hello, I am Deepthi M with serial number:172. I would like to do documentation on this issue.

[2021-09-17 04:21] nakshatra-garg commented on #342
I already opened a pull request I've worked on documentation for this issue

[2021-09-17 04:21] ashish-reddy-20-08 commented on #347
Hello, I am M. Ashish Reddy with serial number:174. I would like to do documentation on this issue.

[2021-09-17 04:22] AnuragSomani1611 commented on #342
I would like like work on this issue via Video

[2021-09-17 04:24] prathimacode-hub commented on #347
Kindly provide all the details asked to assign it on FCFS. Approach is missing here. Whoever states it on first, would get this issue assigned. @ashish-reddy-20-08 @deepthi1107

[2021-09-17 04:25] prathimacode-hub opened #348 "Data Science with Python : Exploratory Data Analysis using Python"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Exploratory Data Analysis using Python. Tutorial to Exploratory Data Analysis using Python and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one wou

[2021-09-17 04:26] nakshatra-garg commented on #348
I would like to work on this issue

[2021-09-17 04:26] tusharjha44 commented on #343
Commented

[2021-09-17 04:26] developer-metalhead commented on #348
Hi @prathimacode-hub I would like to be assigned this issue

[2021-09-17 04:26] Debasmita-01 commented on #68
go ahead

[2021-09-17 04:26] GopinathBalaji commented on #348
Hello, I am Gopinath Balaji with serial number:961. I would like to do documentation on this issue.

[2021-09-17 04:27] tusharjha44 commented on #343
Ready to work on this

[2021-09-17 04:27] prathimacode-hub commented on #348
Kindly provide all the details to assign it up. Approach is missing and whoever states it first would get this issue assigned. @GopinathBalaji @developer-metalhead @nakshatra-garg

[2021-09-17 04:27] Saurabh-crypto16 commented on #345
I want to make the documentation to create and initialize a create app using npx command and show how to use this command to initialize an app with a template(including a custom template).

[2021-09-17 04:28] Yukti-20 commented on #340
I would like to work on
Documentation and Video
Batch - 4
@adityabisoi

[2021-09-17 04:28] GopinathBalaji commented on #348
I have mentioned that I would like to work on the documentation part.

[2021-09-17 04:28] deepthi1107 commented on #347
I will write the different steps and approaches of feature selection techniques. I will also add the code to the documentation.
I am Deepthi M with serial number:172.

[2021-09-17 04:29] ayushijindal commented on #348
I would like to work on this issue
issue title: Exploratory Data Analysis using Python #348
ID:253
documentation format

[2021-09-17 04:29] Debasmita-01 commented on #87
PLease add demos or screenshots from your own figma account bcoz that will prove you tried on your own . I saw some screenshots which are for different accounts

[2021-09-17 04:30] prathimacode-hub commented on #348
Yes, approach in the sense how would you like to proceed with an issue. @GopinathBalaji

[2021-09-17 04:30] nayakaj commented on #342
i want to work on this

[2021-09-17 04:30] nakshatra-garg commented on #348
https://colab.research.google.com/drive/1gP-rr8RPeUuo1Jjwr0gVXWJC6Vkcnzqj?usp=sharing
I can work on this issue by explaining this notebook. It uses retail data and has analysis and visualiztions

[2021-09-17 04:30] ayushijindal commented on #348
I would like to work on this issue
issue title: Exploratory Data Analysis using Python #348
ID:253
Documentation format

[2021-09-17 04:30] ashish-reddy-20-08 commented on #347
Yes @prathimacode-hub, I am willing to do a presentation video as @deepthi1107 is going for documentation.
My approach would be, I would be going through the importance of feature selection in machine learning and then the various ways or approaches of feature selection and then heading towards some real-life examples in PPT format and would present it.

[2021-09-17 04:30] nayakaj commented on #340
can you please assign me

[2021-09-17 04:30] developer-metalhead commented on #348
I will write the different steps and approaches of EDA. I will also add the code to the documentation.
I am Kumar Satwik with serial number:160

[2021-09-17 04:30] nayakaj commented on #338
can you please assign me

[2021-09-17 04:32] prathimacode-hub commented on #347
Awesome folks, @ashish-reddy-20-08 and @deepthi1107, issue is assigned to you both. You can proceed.

[2021-09-17 04:32] GopinathBalaji commented on #348
I would like to explain the process of EDA in detail. To name a few, the steps that I would include are: getting the dataset, data cleaning, deal with missing values, etc.

[2021-09-17 04:33] Adi7171 commented on #348
I am Aditya serial no: 92 I would take up a dataset from kaggle and  then I would do appropriate changes to data using numpy ,pandas and then visualize it using matpplotlib and write comments regarding it

[2021-09-17 04:33] subhendudash02 commented on #348
Hi @prathimacode-hub I would like to work on this issue.
Serial number: 297
Documentation format
Issue: Exploratory Data Analysis using Python #348

[2021-09-17 04:35] Adarshswain commented on #345
ok done I will do this

[2021-09-17 04:35] ashish-reddy-20-08 commented on #348
Hello, I am M. Ashish Reddy with serial number:174. I would like to do documentation on this issue.
My approach would be the various steps in EDA like outlier analysis, missing values, and the first-moment business decision and then at last I would also be discussing feature engineering.

[2021-09-17 04:35] deepthi1107 commented on #348
Hello, I am Deepthi M with a serial number:172. I would like to do an audio presentation on this issue. I will add how important to do EDA and related code to EDA

[2021-09-17 04:36] vanshhhhh commented on #348
Hello, I would like to contribute in the documentation of this topic. My approach would be to analyze datasets to summarize their main characteristics, often with visual methods. I will cover Data Collection, Data Cleaning, Data Preprocessing, Data Visualization.

Vansh Sharma (Serial Number :  680, DS-Python Batch 18)

[2021-09-17 04:36] ashish-reddy-20-08 commented on #347
Thank you @prathimacode-hub.

[2021-09-17 04:36] deepthi1107 commented on #347
thanks for the opportunity @prathimacode-hub

[2021-09-17 04:39] #325 closed

[2021-09-17 04:40] supriya-045 commented on #213
heyy,have you done all 4 parts mentioned above by you?

[2021-09-17 04:41] #302 closed

[2021-09-17 04:41] prathimacode-hub commented on #348
@deepthi1107 @ashish-reddy-20-08, you both already have an issue assigned. You can work on only 1 issue at a time.
@nakshatra-garg, sorry to say but I couldn't open your link provided. @ayushijindal, next on queue, documentation part is assigned to you. Others, if you're into Audio/Video. Let me know to get yourself assigned.

If you'couldn't grab an issue, they are plenty number of issues arrivin

[2021-09-17 04:41] CSAURABH commented on #295
@mukeshmjn Can I work on this issue documentation.

[2021-09-17 04:41] harshithapasupuleti commented on #342
I would like to work on this (Documentation)

[2021-09-17 04:42] helper-uttam commented on #213
Nopes, we both are working on this issue, that's why I had completed the documentation part. Please let me know what would you like to contribute videio , audio?

[2021-09-17 04:42] #24 closed

[2021-09-17 04:43] ayushijindal commented on #348
THANK YOU for assigning me this issue

[2021-09-17 04:43] #32 closed

[2021-09-17 04:43] #192 closed

[2021-09-17 04:44] rajveer43 commented on #348
I would like to work on this issue
Batch 15

[2021-09-17 04:45] prathimacode-hub opened #350 "Data Science with Python : Introduction to Natural Language Processing"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in providing all the guidance that one needs to learn about Introduction to Natural Language Processing. Basic introductory tutorial from scratch to Natural Language Processing

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow a

[2021-09-17 04:45] supriya-045 commented on #213
I would like to go for audio part..

[2021-09-17 04:45] developer-metalhead commented on #350
I will write the different steps and approaches of NLP. I will also add the code to the documentation.
I am Kumar Satwik with serial number:160

[2021-09-17 04:46] tanishqchugh2002 commented on #346
I would like to contribute on this Sr no. 6938

[2021-09-17 04:47] GopinathBalaji commented on #350
Hello, I am Gopinath Balaji with serial number: 315. I would like to do documentation on this issue.

I would like to explain the process and the basic introduction of NLP

[2021-09-17 04:47] shubham28102001 commented on #350
I will write the documentation regarding NLP. I will add various steps associated with NLP and code if necessary.
I am Shubham Patel 225

[2021-09-17 04:47] prathimacode-hub commented on #350
Issue assigned to @developer-metalhead for documentation

[2021-09-17 04:48] prathimacode-hub commented on #350
@GopinathBalaji @shubham28102001, you can opt for Audio or Video if you would like to.

[2021-09-17 04:49] helper-uttam commented on #343
Can I go with `styling` part? using `JSX.module.css`.

[2021-09-17 04:49] akratikushwah opened #351 "I would like to work on this issue!!"
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this I have made various projects like a digital clock, my portfolio website, CGPA calculator, tic tac toe game, etc using CSS animations...you can see my github profile...I would be really grateful if you assign this to me.

[2021-09-17 04:50] Ayushi2811 commented on #235
I would like to work on this issue and make a well structured documentation out of it.Do assign it to me
Ayushi Chauhan
Frontened batch-1

[2021-09-17 04:50] helper-uttam commented on #213
😥😥😥 what about video then?

[2021-09-17 04:50] anandhu720 opened #352 "Frontend with FrameWork - All about npm"
### **NEED TO CONTAIN**

* What is npm
* Why npm
* Where we use npm
* Installing npm in local machine(all os)
* npm cli
* Advantages of npm

Apart from this any thing relavant about npm can be added.If you guys are making documentation try to include pictures of installation steps.It will be great if you can

You can take refer from [https://docs.npmjs.com/about-npm](url)

Also make sure -
Avoid c

[2021-09-17 04:51] Ananyagupta43 commented on #352
i want to work on this

[2021-09-17 04:51] CSAURABH commented on #352
Can I work on this issue documentation

[2021-09-17 04:52] anandhu720 commented on #352
@Ananyagupta43 I am assigning you the work

[2021-09-17 04:52] Ayushi2811 commented on #218
I would like to contribute on this issue by presentaing a well flow structured  documentation and take it from a beginer to an expertise level explanation.Do assign it to me.
Ayushi Chauhan
Batch-1

[2021-09-17 04:52] prathimacode-hub opened #353 "Data Science with Python : Reinforcement Learning"
Welcome to 'DSWP' Team, good to see you here

With this issue, readers will get introduced with core information to reinforcement learning completely in a effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or an

[2021-09-17 04:52] supriya-045 commented on #213
can u give your discord username so we can make further discussion there :)

[2021-09-17 04:52] anandhu720 commented on #352
@CSAURABH we follow first come first serve method.Please wait for other issues bro

[2021-09-17 04:53] akratikushwah opened #354 "I would like to work on this issue!!"
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on.

[2021-09-17 04:53] vanshhhhh commented on #353
Hello, I would like to contribute in the documentation of this topic.

Vansh Sharma (Serial Number : 680, DS-Python Batch 18)

[2021-09-17 04:53] rohangilbile123 commented on #341
I would like to work on this issue

[2021-09-17 04:53] shubham28102001 commented on #353
I will write the documentation regarding this issue. I will add various steps associated with Reniforcmnt learning and code if necessary.
I am Shubham Patel 225

[2021-09-17 04:53] helper-uttam commented on #213
Yup sure!
`Uttam kumar | Contributor#9286`

[2021-09-17 04:54] akratikushwah opened #355 "I would like to work on this issue."
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on.

[2021-09-17 04:55] akashshukla7458 opened #356 "Open source: 5.7 Why Is Open-Source So Important?"
Why Is Open-Source So Important?
Its principles and parity..

[2021-09-17 04:55] akashshukla7458 commented on #356
I would like to work on the above issue kindly assign it to me.

[2021-09-17 04:55] prathimacode-hub commented on #353
Oops, @shubham28102001 just missed in a pimp, stay alert to grab next issue coming. If you would like to work on Audio/Video, you can notify me.

@vanshhhhh Issue is assigned to you for documentation.

[2021-09-17 04:56] amankumar11 commented on #345
Can i do this

[2021-09-17 04:56] Aryamanz29 commented on #356
This Topic already covered
Thanks @akashshukla7458

[2021-09-17 04:56] #356 closed

[2021-09-17 04:57] subhendudash02 commented on #353
Hi @prathimacode-hub I would like to work on this issue by using datasets of kaggle and explain step by step.
Serial number: 297
Documentation mode

[2021-09-17 04:57] vanshhhhh commented on #353
Thanks @prathimacode-hub :)

[2021-09-17 04:58] akratikushwah opened #357 "I would like to work on this issue."
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on.

[2021-09-17 04:58] the-pro commented on #343
@tusharjha44 @helper-uttam We try to assign one issue to one contributor. You can wait for other issues to be created. Check "Frontend with frameworks" milestone for new issues

[2021-09-17 04:58] shubham28102001 commented on #353
@prathimacode-hub Thanks

[2021-09-17 04:58] akratikushwah opened #358 "I would like to work on this issue"
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on.

[2021-09-17 04:58] Aryamanz29 commented on #357
Please don't create same issue over again & again
Thanks

[2021-09-17 04:58] #357 closed

[2021-09-17 04:59] akratikushwah opened #359 "I would like to work on this."
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on.

[2021-09-17 04:59] Aryamanz29 commented on #359
Please don't create the same issue over again & again
Thanks

[2021-09-17 04:59] #359 closed

[2021-09-17 04:59] Aryamanz29 commented on #358
Please don't create the same issue over again & again
Thanks

[2021-09-17 04:59] #358 closed

[2021-09-17 04:59] Aryamanz29 commented on #355
Please don't create the same issue over again & again
Thanks

[2021-09-17 04:59] #355 closed

[2021-09-17 05:00] Aryamanz29 commented on #354
Please don't create the same issue over again & again
Thanks

[2021-09-17 05:00] #354 closed

[2021-09-17 05:00] akashshukla7458 opened #360 "Why Is Open-Source So Important?"
Why Is Open-Source So Important?
Its Principle and Parity_

[2021-09-17 05:01] #360 closed

[2021-09-17 05:01] Aryamanz29 commented on #65
Please don't create the same issue over again & again
Thanks

[2021-09-17 05:01] #65 closed

[2021-09-17 05:03] akashshukla7458 opened #361 "Open source :5.8 Why Is Open-Source So Important?"
Why Is Open-Source So Important? Its principle and parity

[2021-09-17 05:03] prathimacode-hub opened #362 "Data Science with Python : Convolution Neural Networks"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Convolution Neural Networks. Tutorial to Convolution Neural Networks and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would fol

[2021-09-17 05:03] akashshukla7458 commented on #361
I would like to work on this kindly issue it to me

[2021-09-17 05:04] subhendudash02 commented on #362
Hi @prathimacode-hub I would like to work on this issue by using datasets of kaggle and explain step by step.
Serial number: 297
Documentation mode

[2021-09-17 05:04] Ayushi2811 commented on #286
I would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:04] Ayushi2811 commented on #283
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:05] akratikushwah opened #363 "I would like to work on this"
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on.

[2021-09-17 05:05] Ayushi2811 commented on #267
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:05] imedusa commented on #362
I will add the code explaining the topic along with comments. The notebook will have codes explaining the stuff from scratch.

I am Medini N B. Serial Number : 585, DSWP batch - 16

[2021-09-17 05:05] Ayushi2811 commented on #265
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:05] GopinathBalaji commented on #362
Hello, I am Gopinath Balaji with serial number: 315. I would like to do documentation on this issue.
I will explain the basics of CNN using a simple CNN model.

[2021-09-17 05:05] akratikushwah opened #364 "I would like to work on this issue"
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on..

[2021-09-17 05:06] sitamadex11 commented on #346
@tanishqchugh2002 ya sure. You can start working.

[2021-09-17 05:06] Ayushi2811 commented on #243
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:06] akratikushwah opened #365 "I would like to work on this"
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on.

[2021-09-17 05:06] Ayushi2811 commented on #237
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:07] Ayushi2811 commented on #216
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:07] akratikushwah opened #366 "I would like to work on this"
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on.

[2021-09-17 05:07] prathimacode-hub opened #367 "Data Science with Python : Bagging and Boosting"
Welcome to 'DSWP' Team, good to see you here

With this issue, you can provide guidance on bagging and boosting techniques. Explain elaborately and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with a

[2021-09-17 05:08] akratikushwah opened #368 "I would like to work on this issue"
Hello, I am Akrati Kushwah from frontend batch 14, I would like to work on this.I have created various projects like a digital clock, my portfolio website,  tic toe game, CGPA calculator, etc you can see my GitHub profile. I would be really grateful if you give me this project to work on..

[2021-09-17 05:08] Ayushi2811 commented on #208
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:09] kunal-kumar-chaudhary commented on #142
I've few questions:-

1. what should be the length of the video?
2. should my face be visible in the corner of the video?
3. is there any sort of deadline?

will be great if you can clarify these doubts!

[2021-09-17 05:09] Ayushi2811 commented on #199
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:09] anandhu720 opened #369 "Frontend With Framework - Javascript Expressions in JSX & ES6 Template Literals"
### **NEED TO CONTAIN**

* How javascript expression are done using Jsx in React
* ES6 Template Literals
* Advantage of ES6 template literals

Apart from this any thing relavant about npm can be added.If you guys are making documentation try to include pictures of topic.It will be great if you can

You can take refer from
* [https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Templat

[2021-09-17 05:09] CSAURABH commented on #369
Can I work on this issue documentation

[2021-09-17 05:09] tanishqchugh2002 commented on #369
I would like to work on this

[2021-09-17 05:10] prathimacode-hub commented on #362
@subhendudash02, issue is assigned to you for documentation.

If anyone interested for Audio/Video, let me know. There are many more issues coming up. Stay tuned. @GopinathBalaji @imedusa

[2021-09-17 05:10] amankumar11 commented on #369
i would like to work on this

[2021-09-17 05:10] Adi7171 commented on #367
@prathimacode-hub  I would like to be assigned this . i will write some ifo regarding it and then provide some code as well.
sno: 92
type: documentation

[2021-09-17 05:10] EktaAgrawal commented on #274
Hello sir @praveenscience , I filled this dimension but have not been assigned to it and I am quite proficient and interested in CSS box model. Kindly assign me!

[2021-09-17 05:10] anandhu720 commented on #369
@CSAURABH I am assigning this work to you

[2021-09-17 05:12] anandhu720 commented on #369
@CSAURABH are you going to do documentation or video.

[2021-09-17 05:12] EktaAgrawal commented on #252
Hello sir @praveenscience ,  I am quite proficient and interested in CSS button styling. Kindly assign me!

[2021-09-17 05:13] prathimacode-hub opened #370 "Data Science with Python : Edges & Contours using OpenCV"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Edges & Contours using OpenCV. Tutorial to Edges & Contours elaborately and how it's applied visually.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you pre

[2021-09-17 05:13] adityabisoi commented on #342
This issue has already been covered in https://github.com/girlscript/winter-of-contributing/issues/245

[2021-09-17 05:13] #342 closed

[2021-09-17 05:13] EktaAgrawal commented on #268
Hello sir @praveenscience , I am quite proficient and interested in HTML fonts. Kindly assign me!

[2021-09-17 05:13] Ayushi2811 commented on #114
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:14] Ayushi2811 commented on #113
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:14] CSAURABH commented on #369
@anandhu720 Documentation.

[2021-09-17 05:14] adityabisoi commented on #338
@nayakaj Sure, make a VIDEO fo this

[2021-09-17 05:14] Adi7171 commented on #370
@prathimacode-hub I would like to be assigned this. I will write some info regarding it such as its workings etc and then explain code regarding it using open cv.
sno: 92
type: documentation

[2021-09-17 05:14] prathimacode-hub commented on #367
Issue assigned to @Adi7171 for documentation

[2021-09-17 05:14] #361 closed

[2021-09-17 05:15] adityabisoi commented on #340
Doc is already take.

[2021-09-17 05:15] EktaAgrawal commented on #238
Hello sir @praveenscience , I am quite proficient and interested in html forms. Kindly assign me!

[2021-09-17 05:15] prathimacode-hub commented on #370
@Adi7171 Already an issue is assigned to you. This would go for someone who aren't assigned yet.

[2021-09-17 05:15] Adi7171 commented on #370
@prathimacode-hub  I would like to recieve this one instead of bagging because I think I can write this better

[2021-09-17 05:15] adityabisoi commented on #340
This issue is open for AUDIO and VIDEO contributions.

[2021-09-17 05:16] anandhu720 commented on #369
@tanishqchugh2002 @amankumar11 guys if you guys are intrested in making video about it.I can assign you that work

[2021-09-17 05:16] EktaAgrawal commented on #225
Hello sir , I am quite proficient and interested in html. Kindly assign me!

[2021-09-17 05:16] shubhdholakiya commented on #370
I am Interested in this can you please assign this to me, mam?

[2021-09-17 05:16] surjyaneeh commented on #370
I want to be assigned.
Surjyanee Halder - 966
(Documentation)
Approach - introduction, steps and approaches, examples/ code

[2021-09-17 05:17] subhendudash02 commented on #362
Thank you @prathimacode-hub ma'am for assigning me!!

[2021-09-17 05:18] EktaAgrawal commented on #204
Hello sir @praveenscience , I am quite proficient and interested in front-end. Kindly assign me!

[2021-09-17 05:18] Yukti-20 commented on #340
I can contribute as VIDEO @adityabisoi

[2021-09-17 05:19] sumitmukharjeeeeee commented on #365
Hyy, you have spammed the same issue like 5 times. Please don't break the code of conduct

[2021-09-17 05:19] akashshukla7458 opened #371 "Open source :6.1 Explain about Google summer of Code."
I would like to work on this.

[2021-09-17 05:19] prathimacode-hub opened #372 "Data Science with Python : Hyperparameter Tuning"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in know all the information before working on Hyperparameter Tuning. Brief elaboration along with sample code of Hyperparameter Tuning is needed.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documenta

[2021-09-17 05:20] imedusa commented on #372
I would like to work on this issue. I will add the code explaining the topic along with comments. The .ipynb notebook will have codes explaining the stuff from scratch.

I am Medini N B. Serial Number : 585, DSWP batch - 16

[2021-09-17 05:20] GopinathBalaji commented on #372
Hello, I am Gopinath Balaji with serial number: 315. I would like to do documentation on this issue.
I would like the explain the basics of hyperparameter selection and tuning

[2021-09-17 05:21] prathimacode-hub commented on #370
Ok @Adi7171, issue is assigned to you.

@shubhdholakiya @surjyaneeh, you can express interest on other open and upcoming issues. Just missed it out.

[2021-09-17 05:21] EktaAgrawal commented on #109
Hello sir, I have a keen interest in this and wanted to contribute. kindly assign me

[2021-09-17 05:21] EktaAgrawal commented on #110
Hello sir, I have a keen interest in this and wanted to contribute. kindly assign me

[2021-09-17 05:21] Adi7171 commented on #370
thanks @prathimacode-hub

[2021-09-17 05:21] Ayushi2811 commented on #316
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:22] EktaAgrawal commented on #111
Hello sir, I have a keen interest in this and wanted to contribute. I have also stared working on it  kindly assign me

[2021-09-17 05:22] Ayushi2811 commented on #296
would like to contribute on this topic and prepare a well structure documentation.Can u assign it to me?
Ayushi Chauhan
Batch-01

[2021-09-17 05:22] prathimacode-hub commented on #372
@imedusa, issue assigned on FCFS for documentation.

@GopinathBalaji, many more issues arriving up.

[2021-09-17 05:23] Adi7171 commented on #371
Its already done

[2021-09-17 05:23] imedusa commented on #372
Thank you @prathimacode-hub

[2021-09-17 05:23] Priyanshirathore commented on #118
okay sir, Thankyou!!

[2021-09-17 05:24] shubhdholakiya commented on #370
Okay

[2021-09-17 05:24] Nowshin1077 commented on #77
Hello! I would like to contribute to this issue.

Thanks
Syeda Nowshin Ibnat

Python - batch - 4

[2021-09-17 05:24] shubhdholakiya commented on #367
Can I work on this Issue?

[2021-09-17 05:26] prathimacode-hub opened #373 "Data Science with Python : Clustering Techniques"
Welcome to 'DSWP' Team, good to see you here

This issue will give you complete explanation of clustering techniques from scratch. Tutorial to clustering techniques and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Vide

[2021-09-17 05:26] #371 closed

[2021-09-17 05:26] GopinathBalaji commented on #373
Hello, I am Gopinath Balaji with serial number: 315. I would like to do documentation on this issue.
I would like to work on this issue. I will add the code explaining the topic along with comments. The .ipynb notebook will have codes explaining the stuff from scratch.

[2021-09-17 05:28] akratikushwah commented on #365
Sorry , I didn't knew that I have to write different description for different issues... Really sorry

[2021-09-17 05:28] prathimacode-hub opened #374 "Data Science with Python : Statistics, Probability and Inference"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in getting basic introduction about Statistics, Probability & Inference. Tutorial to Statistics, Probability & Inference and how it's applied should be shown.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you pref

[2021-09-17 05:29] vanshhhhh commented on #373
Hello, I would like to contribute in the documentation of this topic. I will do the implementation part of different clustering algorithms along with the theory related to the specific algorithm. At the end I will mention some additional resources like article or kaggle datasets.

Vansh Sharma (Serial Number : 680, DS-Python Batch 18)

[2021-09-17 05:30] GopinathBalaji commented on #374
Hello, I am Gopinath Balaji with serial number: 315. I would like to do documentation on this issue.
I would like to work on this issue. I will add the code explaining the topic along with comments. The .ipynb notebook will have codes explaining the stuff from scratch.

[2021-09-17 05:30] prathimacode-hub commented on #373
@GopinathBalaji, issue is assigned to you for documentation.

@vanshhhhh, if you like to work on audio/video, you can. Else keep watching out for other issues and be prompt enough to get it assigned.

[2021-09-17 05:31] priyanshuc4423 commented on #374
@prathimacode-hub I would like to be assigned this. I will write some info regarding it such as its workings etc and then explain code regarding it.
sno: 945
type: documentation

[2021-09-17 05:31] prathimacode-hub commented on #374
Already an issue is assigned to you. @GopinathBalaji

[2021-09-17 05:32] sushovanb02 commented on #247
@paramsiddharth sir, generated a pull request, please review

[2021-09-17 05:32] prathimacode-hub commented on #374
@priyanshuc4423 issue is assigned to you for documentation.

[2021-09-17 05:32] akashshukla7458 opened #376 "Open source :6.1 Explain about Open source software working ."
Description:
Common types of open source operating system
Licenses
Advantages

[2021-09-17 05:33] akashshukla7458 commented on #376
I would like to work on it

[2021-09-17 05:33] #241 closed

[2021-09-17 05:35] prathimacode-hub opened #377 "Data Science with Python : Markov's Chain"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Markov's Chain. Tutorial to Markov's Chain and how it's applied. Brief elaboration is needed.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Docu

[2021-09-17 05:36] shubhdholakiya commented on #367
The previously assigned participant has unassigned himself.

[2021-09-17 05:36] Vidit-Ostwal commented on #377
Name : Vidit Ostwal
SR no. 499
DSWP
Type: documentation

[2021-09-17 05:36] siddhi-244 commented on #247
Sir please check my pr!

[2021-09-17 05:37] sumitmukharjeeeeee commented on #365
If you want to work on a issue just go there and ask them to assign it for you

[2021-09-17 05:37] surjyaneeh commented on #377
I want to be assigned.
Surjyanee Halder - 966
(Documentation)
Approach - introduction,  steps and approaches, examples ,applications.

[2021-09-17 05:37] shubhdholakiya commented on #54
Yes mam!

[2021-09-17 05:38] shubhdholakiya commented on #54
I am making video actually.

[2021-09-17 05:38] khush2706 commented on #265
I would like to contribute to this via documentation. I would make a well-structured document explaining every point in detail. Can you please assign it to me...
Khushboo Chaturvedi
Batch-18

[2021-09-17 05:38] shubhdholakiya commented on #54
But no problem you take on video, I will make documentation.

[2021-09-17 05:39] prathimacode-hub commented on #377
@Vidit-Ostwal, sorry approach to follow is missing. Next time, make a point to add it up along with these details.

@surjyaneeh Issue assigned to you for documentation.

[2021-09-17 05:40] Yashesvinee commented on #76
@adityabisoi could you please check my pull request

[2021-09-17 05:40] Vidit-Ostwal commented on #377
LOL

[2021-09-17 05:40] khush2706 commented on #262
I would like to contribute to this via documentation. I would make a list of top HTML editors along with their features. Please consider me for this..
Khushboo Chaturvedi
Batch-18

[2021-09-17 05:41] shubhdholakiya commented on #95
Hello Sir,
I have reached pretty far and I think in a day or 2, I will make PR.

[2021-09-17 05:41] harshmathurx opened #380 "JS: Loops"
## Directory

`Topics/5.Syntax/Loops`

The index will be added manually after merging.

## Description

- What are loops?
- Types of loops
- Syntax of each loop
- Code Snippets of each type of loop

## Formats

- [x]  Document
- [ ]  Video
- [ ] Audio

[2021-09-17 05:42] harshmathurx commented on #380
@paramsiddharth can you assign the document type to me and add the javascript label as well?

[2021-09-17 05:43] khush2706 commented on #227
I am interested to contribute to this via documentation. Please consider me for this..
Khushboo Chaturvedi
Batch-18

[2021-09-17 05:43] adityabisoi commented on #77
Video?

[2021-09-17 05:43] Anant1711 commented on #95
Great!

[2021-09-17 05:44] Nowshin1077 commented on #77
I would like to do the documentation part.

[2021-09-17 05:46] adityabisoi commented on #77
That is already taken.

[2021-09-17 05:49] prathimacode-hub opened #381 "Data Science with Python : Outliers Detection"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the guidance that one needs to be familiar with Outliers Detection. Tutorial to Outliers Detection and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer

[2021-09-17 05:50] ishreyakumari commented on #367
I want to be assigned.
SHREYA KUMARI - 457
(Documentation)
Approach - introduction, steps and approaches, examples ,difference between Bagging and Boosting, applications.

[2021-09-17 05:51] kunal-kumar-chaudhary commented on #48
Documentation.

[2021-09-17 05:51] Vidit-Ostwal commented on #381
Name : Vidit Ostwal
SR no. 499
DSWP
Type: documentation
Approach : what Is , how to find with .ipynb files, how to remove then.?

[2021-09-17 05:52] ishreyakumari commented on #381
I want to be assigned.
SHREYA KUMARI - 457
(Documentation)
Approach - introduction, steps and approaches, examples ,methods for removing and detecting outliers, applications.

[2021-09-17 05:53] prathimacode-hub opened #382 "Data Science with Python : Data Visualizations with Seaborn"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in knowing all the information that one needs to learn about Data Visualizations with Seaborn. Tutorial to Data Visualizations with Seaborn and how it's applied should be explained briefly.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one w

[2021-09-17 05:54] shubhdholakiya commented on #382
Please assign this to me

[2021-09-17 05:54] vanshhhhh commented on #382
I would like to contribute in the documentation of this topic. I will do the implementation part of data visualization with seaborn along with the theory related to the topic if needed.

Vansh Sharma (Serial Number : 680, DS-Python Batch 18)

[2021-09-17 05:54] prathimacode-hub commented on #381
On FCFS basis, issue is assigned to @Vidit-Ostwal for documentation

@ishreyakumari, you can go with audio/video for the same. Else stunning issues are arriving sooner.

[2021-09-17 05:58] prathimacode-hub commented on #382
@shubhdholakiya, sorry details needed, you haven't added up your serial number, your choice and your approach you would follow up. Better luck next time.

Short tip : First comment and then edit up the comments with the details asked. That way you could be on queue first.

@vanshhhhh, Issue is assigned to you for documentation.

[2021-09-17 06:00] Vidit-Ostwal commented on #382
PRo TIP

[2021-09-17 06:02] prathimacode-hub opened #383 "Data Science with Python : Collaborative Filtering Technique"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in providing all the guidance that one has to know about Collaborative Filtering. Tutorial to Collaborative Filtering and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefe

[2021-09-17 06:03] shubhdholakiya commented on #383
Please assign me this

[2021-09-17 06:04] prathimacode-hub commented on #367
Kindly provide the approach, so that I could assign it up. Approach in the session, what you would like to bring up to the table. @shubhdholakiya

[2021-09-17 06:05] prathimacode-hub commented on #367
For now it has to be assigned to @ishreyakumari, as she has provided all the details in first commit.

[2021-09-17 06:06] prathimacode-hub commented on #367
Issue is assigned to you @ishreyakumari

[2021-09-17 06:07] prathimacode-hub commented on #367
If you are up for Audio / Video let me know but lots arriving up. @shubhdholakiya

[2021-09-17 06:08] prathimacode-hub commented on #383
Approach please. @shubhdholakiya

[2021-09-17 06:11] shubhdholakiya commented on #383
I will do the implementation part of item-based collaborative filtering along with python with the theory related to the topic if needed.

[2021-09-17 06:12] prathimacode-hub opened #384 "Data Science with Python : Detection of Bright Spots in Images"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in getting all the guidance that one needs to learn about Detection of Bright Spots in Images. Tutorial to Detection of Bright Spots in Images and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would fo

[2021-09-17 06:14] prathimacode-hub commented on #383
It is needed to explain both the theory and implementation. Issue assigned to @shubhdholakiya for documentation.

[2021-09-17 06:14] ishreyakumari commented on #367
@prathimacode-hub Thank you :). Can you please assign this issue to me since it is not reflecting in "Assignees".

[2021-09-17 06:16] ishreyakumari commented on #367
@prathimacode-hub Thank you :). Can you please assign this issue to me since it is not reflecting in "Assignees".

[2021-09-17 06:17] mukeshmjn opened #385 "Frontend with Framework : Creating an Angular Project, angular-cli"
Contributors are required to explain what things to setup for creating an angular project , angular-cli setup. They can refer to https://angular.io/guide/setup-local for the same .

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular" directory
3. Tasks would be assigned on F

[2021-09-17 06:18] prathimacode-hub opened #386 "Data Science with Python : Word Embeddings"
Welcome to 'DSWP' Team, good to see you here

This issue will help readers know about Word Embeddings. Tutorial to Word Embeddings and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or a

[2021-09-17 06:21] prathimacode-hub opened #389 "Data Science with Python : Introduction to Linear Algebra"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in knowing about Introduction to Linear Algebra. Tutorial to Linear Algebra and how it's applied effectively

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with

[2021-09-17 06:24] prathimacode-hub opened #391 "Data Science with Python : Data Wrangling using Pandas"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in getting clear with concepts of Data Wrangling using Pandas. Tutorial to Data Wrangling using Pandas and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentatio

[2021-09-17 06:25] khush2706 commented on #389
I would like to work on this...
Khushboo Chaturvedi Batch-13

[2021-09-17 06:26] Saurabh-crypto16 commented on #385
I want to work on this.

[2021-09-17 06:26] khush2706 commented on #391
I would like to work on this via documentation.
Khushboo Chaturvedi
Batch-13

[2021-09-17 06:28] prathimacode-hub opened #392 "Data Science with Python : Text Preprocessing in NLP"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers understand with the concepts of Text preprocessing or cleaning scripts in NLP like Eg. Lowercasing, Punctuation Removal, Removing stopwords, text standardization, Spelling correction, Tokenization, etc. along with sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Sci

[2021-09-17 06:30] prathimacode-hub commented on #389
To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're interested to work on.

Kindly provide all these details. And approach here is how would you like to work on it and what all would you cover up

[2021-09-17 06:30] prathimacode-hub commented on #391
More details needed. @khush2706

[2021-09-17 06:31] manjeetdhayal opened #394 "MERN_React: 1.1 What is React?"
# Instructions

## Project directory
    Branch MERN>Web_Development/MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## What is React?
Write a brief summary on what is React? Please refrain from coping from internet. You can use any source as inspiration.

# Ta

[2021-09-17 06:33] Saurabh-crypto16 commented on #394
I want to make the documentation part.

[2021-09-17 06:33] siddhi-244 commented on #394
I haven't selected this domain. But still can I contribute?

[2021-09-17 06:33] khush2706 commented on #389
- S.No. is 388
I would make the documentation for it covering the basic definations, after that the code demonstrations using numpy.

[2021-09-17 06:34] Saurabh-crypto16 commented on #385
Do I have to make it in a .md file?

[2021-09-17 06:36] mukeshmjn opened #395 "JS: Documentation for difference between const, var and let"
I would like to work on explaining this thing . Please assign this to me.Thanks :)

[2021-09-17 06:36] deepeshaburse commented on #392
I would like to contribute to this
I'm from DSWP batch 4

[2021-09-17 06:37] the-pro commented on #385
You can create content in whatever form you like

[2021-09-17 06:37] khush2706 commented on #391
S.No. 388
Would like to work on documentation. Will be including the defination, importance, steps to do it...along with tools and code demonstrations

[2021-09-17 06:38] shubhdholakiya commented on #383
Sure.

[2021-09-17 06:39] Saurabh-crypto16 commented on #385
ok, thank you.

[2021-09-17 06:39] prithwishpramanik commented on #291
Ok sir

[2021-09-17 06:40] prathimacode-hub opened #396 "Data Science with Python : Naive Bayes Classifier"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in getting all the guidance that one needs to learn about Naive Bayes Classifier. Tutorial to Naive Bayes Classifier and how it's implied effectively.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Docu

[2021-09-17 06:41] prathimacode-hub commented on #389
Ok, issue is assigned to @khush2706 for documentation.

[2021-09-17 06:42] prathimacode-hub commented on #391
Already an issue is assigned to you. You can work on only 1 issue at a time. @khush2706

[2021-09-17 06:42] rajveer43 commented on #391
I would like to work on this documentation and code both SR No:522

[2021-09-17 06:42] prathimacode-hub commented on #392
More details needed.

Refer this :

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're interested to work on.

@deepeshaburse

[2021-09-17 06:44] Cyber-Prajwal commented on #340
I want to contribute, can I still contribute in some form ??

[2021-09-17 06:45] shubhdholakiya commented on #367
Sure.

[2021-09-17 06:46] prathimacode-hub opened #397 "Data Science with Python : Face Mask Detection"
Welcome to 'DSWP' Team, good to see you here

This issue helps in gaining extensive knowledge of getting started with face mask detection. Tutorial to Face Mask Detection using sample code is needed

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). Yo

[2021-09-17 06:47] deepeshaburse commented on #392
I would like to work on the documentation, I am unable to find the spreadsheet as of now, could you give me a few minutes to check that out?

[2021-09-17 06:47] Cyber-Prajwal commented on #339
I want to contribute in form of a video tutorial, please assign me the video part.

[2021-09-17 06:47] prathimacode-hub commented on #391
Let me know of your approach you would follow up. @rajveer43

[2021-09-17 06:49] prathimacode-hub commented on #392
Sure, you can come and edit the comment here with details and also let me know of your approach on what all you be dealing with and how you would apply. @deepeshaburse

[2021-09-17 06:49] aniket7515 commented on #208
I would like to work on this issue. I  have experience in web and I will create a full detailed and structured documentation .

[2021-09-17 06:49] Sarfraz-droid commented on #394
Can I work on the Video part?

[2021-09-17 06:53] rajveer43 commented on #391
Understand the data.
Filter unwanted observations.
Pivot the dataset.
Shifting the pivoted dataset.
Melting the shifted dataset.
any so on...

[2021-09-17 06:53] darkhorse-2000 commented on #249
I can contribute in this issue by documentation or video
Python Batch - 4

[2021-09-17 06:54] mukeshmjn commented on #395
Sorry for the assignee mess. Actually, I am supervisor in another domain .Waiting for your permission to work on this!

[2021-09-17 06:54] darkhorse-2000 commented on #245
I can contribute in this issue by documentation or video.
Python Batch - 4

[2021-09-17 06:56] Cyber-Prajwal commented on #245
I want to contribute in form of a video tutorial, please assign me the video part @adityabisoi
Prajwal Bang
python batch 1

[2021-09-17 06:56] GouriRajesh commented on #396
Hi, I would like to work on this issue. I am Gouri Rajesh with serial number 372 from the DWSP Domain.
I would be contributing via Documentation.

1. Introduction to Naive Bayes
2. Example to understand working of Naive Bayes
3. Code Demonstration
4. Pros and Cons

[2021-09-17 06:57] Cyber-Prajwal commented on #249
I want to contribute in form of a video tutorial, please assign me the video part @adityabisoi
Prajwal Bang
python batch 1

[2021-09-17 06:57] amankumar11 commented on #394
I can work on the documentation part

[2021-09-17 06:59] prathimacode-hub commented on #396
Issue assigned to @GouriRajesh for documentation

[2021-09-17 06:59] deepeshaburse commented on #392
S. No. 136
I would like to work on the documentation.
I will explain all the concepts that come under NLP and libraries available and put a code excerpt to preprocess data through the library nltk.

[2021-09-17 06:59] NeerajHazarika commented on #397
Please assign this issue to me.

Serial number in DS with Python Spreadsheet :  749

Approach : Documentation and Video

But I have one doubt, I dont know what is the batch system, can I join any batch I wish to ? or are the batches alloted to particular group of students manually by the GWOC team

[2021-09-17 06:59] ishitam-29 commented on #297
Can I work on this sir?

[2021-09-17 07:01] prathimacode-hub commented on #397
Issue is assigned to @NeerajHazarika. You can start working. You can find the batch you had been alloted to using domain spreadsheet shared. Else do ping me with your details over discord, I shall check and inform you about batch number you had been assigned to.

[2021-09-17 07:01] ishitam-29 commented on #272
Hello sir, I'm interested to contribute to it. Ishita mittal(frontend with HTML,CSS , batch-1)

[2021-09-17 07:01] akj1608 commented on #265
I would like to contribute to Can you please assign it to this topic and create Well formatted documentation. Can you please assign it to me??
Abhishek kumar  jha
frontend batch 14

[2021-09-17 07:01] prathimacode-hub commented on #392
Issue assigned to @deepeshaburse for documentation. @deepeshaburse

[2021-09-17 07:01] GyaniRoman23 commented on #394
Hey!! @manjeetdhayal . Can I please work on the Documentation part?

[2021-09-17 07:02] IamKaushal2 commented on #382
Kaushal Makadia

[2021-09-17 07:02] freny24 commented on #397
PLEASE ASSIGN THIS TO ME!!
Serial number : 707
Approach : Documentation
I have done face mask project using ANNwin my college and would love to contribute the same
how: codes in pycharm+ explanation doc

[2021-09-17 07:02] prathimacode-hub commented on #391
Issue assigned to @rajveer43 for documentation.

[2021-09-17 07:03] ishitam-29 commented on #250
I'm familiar with this. Can You assign me this? Ishita mittal (batch-1 frontend with HTML,CSS)

[2021-09-17 07:05] NeerajHazarika commented on #397
Thank you, I will give my best.

Okay I figured it out, I m in batch 18, we had to find our batch based on color. Silly me, I thought it was only alloted to first 64 students.

[2021-09-17 07:06] ishitam-29 commented on #242
Hi sir, I'm interested to contribute. (batch-1 , front end -html,css).

[2021-09-17 07:07] GyaniRoman23 commented on #352
In case if this issue is reassigned to someone, do consider me @anandhu720. I would like to work on this.

[2021-09-17 07:07] freny24 commented on #386
PLEASE ASSIGN THIS TO ME!!
Serial number : 707
Approach : Documentation
how: explain what is word embedding in NLP and algorithms associated with the same using python

[2021-09-17 07:08] rajveer43 commented on #391
Thank you so much @prathimacode-hub

[2021-09-17 07:08] its-navneet commented on #286
May I contribute to this topic?

[2021-09-17 07:08] GyaniRoman23 commented on #345
@riasenpai I would like to work on this issue. If it is reassigned , please do consider me for it.

[2021-09-17 07:10] GyaniRoman23 commented on #295
I would like to work on this issue. @mukeshmjn if this issue s reassigned, please do consider me for it.

[2021-09-17 07:10] its-navneet commented on #283
I would like to contribute to this topic.

[2021-09-17 07:10] adityabisoi commented on #249
@darkhorse-2000 Video, This issue is open for AUDIO

[2021-09-17 07:11] mukeshmjn commented on #295
Sure :)

[2021-09-17 07:12] adityabisoi commented on #48
This issue is open for AUDIO and VIDEO

[2021-09-17 07:12] miraj0507 commented on #394
I wish to contribute in this documentation

[2021-09-17 07:15] Varun270 opened #400 "OpenSource: 5.8 Youtube Video links for Beginners to get started with Open Source"
A Collection of all resources - Videos, Blogs link for a beginner to get started with Open Source. From generating their first PR to best practices to follow in Open Source.
## NOTE :
- Changes should be made inside the `Open_Source/Respective_Section` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Iss

[2021-09-17 07:16] vilay1702 commented on #297
I am interested to do it. Please consider me if it is reassigned.

[2021-09-17 07:16] Kajol-Kumari opened #401 "OpenSource: 5.7 Create your own open source project"
## **Deliverables -** 👇

- [ ] Create **a new repo under your own GitHub account.**
- [ ]  `Make 3 sample pages` **[eg - About open source, Version control system, about git/GitHub, etc] with whatever language you are comfortable with [may it be HTML, CSS, react, angular, etc.]**
- [ ] Host `the same repo/website` using `GitHub pages, Heroku or netlify` **[Whichever platform you are comfortable wi

[2021-09-17 07:16] Varun270 commented on #400
@Aryamanz29 Please assign me this issue , I would like to work on this.

[2021-09-17 07:18] Cyber-Prajwal commented on #339
Sir, for development and debugging software should I create a video
tutorial only for one IDE(integrated development environment ) like VS code
or more than 1 like IntelliJ idea and Pycharm as well, etc.
Thank you for assigning me.

On Fri, 17 Sept 2021 at 12:41, Aditya Bisoi ***@***.***>
wrote:

[2021-09-17 07:18] manjeetdhayal commented on #394
@Saurabh-crypto16 You can work on documentation part I have assigned you

[2021-09-17 07:18] Asmit2952 commented on #401
I want to work on this!!

[2021-09-17 07:20] manjeetdhayal commented on #394
@Sarfraz-droid I have assigned you, you can work on video part

[2021-09-17 07:20] Hritik157 commented on #384
Name: Hritik
Serial no.: 276
Discord: Hritik | Contributor
Type: Documentation
Approach: Explaining about the problem and how we are going to solve it. Providing code and demonstrating the results to solve the project.

[2021-09-17 07:22] freny24 commented on #384
Name: Freny
Serial number : 707
Approach : Documentation
How: Providing codes to detect bright spots using python and open CV and analyzing the results.

[2021-09-17 07:24] nimisha-yadav opened #403 "DSA 1.1.3.1 Arrays: Range Queries (Sum/Product)"
## Description
Explain Range Sum and Range Product Queries.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned,

[2021-09-17 07:25] #304 closed

[2021-09-17 07:25] manjeetdhayal commented on #394
@miraj0507 you can work on audio part. I have assigned it to you

[2021-09-17 07:27] anandhu720 commented on #352
@GyaniRoman23 sure

[2021-09-17 07:28] siddhi-244 commented on #403
Can I try it

[2021-09-17 07:28] siddhi-244 commented on #403
Documentation

[2021-09-17 07:31] mukeshmjn commented on #395
@paramsiddharth

[2021-09-17 07:32] nimisha-yadav opened #404 "DSA 1.1.3.2 Arrays: Range Queries (LCM/GCD)"
## Description
Explain LCM/GCD Queries.

## Task
- [x] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request for a

[2021-09-17 07:34] siddhi-244 commented on #404
DSA Batch 1
I want to contribute in documentation

[2021-09-17 07:34] anandhu720 opened #405 "Frontend With Framework - Introduction to Vue"
### **NEED TO CONTAIN**

*  What is Vue.js
*  Why Vue.js
*  Advantage of Vue.js
*  Dis Advantages of Vue.js

can take referance form [https://vuejs.org/v2/guide/](url)

Also make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ Vue inside Frontend_Web_Development_React_Angular_Vue branch.
Task will be assigned on first come

[2021-09-17 07:34] Cyber-Prajwal commented on #339
Sir, for development and debugging software should I create a video the tutorial only for one IDE(integrated development environment ) like VS code or more than 1 like IntelliJ idea and Pycharm as well, etc

[2021-09-17 07:34] kamleshjoshi8102 commented on #403
Hi I am Interested for Documentation
DSA-batch-5
Kamlesh Joshi

[2021-09-17 07:35] siddhi-244 commented on #403
DSA BATCH 1

[2021-09-17 07:35] YASHMAROO commented on #405
Sir I would like to work on this documentation.

[2021-09-17 07:36] anandhu720 commented on #405
@YASHMAROO sure.I will assgin you

[2021-09-17 07:37] kamleshjoshi8102 commented on #404
Hi I am Interested for Documentation
DSA-batch-05
Kamlesh Joshi

[2021-09-17 07:37] russapal commented on #109
Hello Sir, I would like to work in this issue. Please kindly assign it to me.

[2021-09-17 07:37] YASHMAROO commented on #405
Sir, I would have to make my PR for this documentation in the Vue folder of the Frontend with the framework branch?

[2021-09-17 07:38] RIYANSHGARG commented on #331
I have add a Pull request, Please Consider it.

[2021-09-17 07:38] Aryamanz29 commented on #400
@Varun270  Assigning this to you, Happy Doc 🎉🎉

[2021-09-17 07:38] anandhu720 commented on #405
@YASHMAROO Yes there is a Week1 folder in it,Do it there

[2021-09-17 07:39] shecoderfinally commented on #206
@adityabisoi I want to make documentation on this issue..Please assign it to me

[2021-09-17 07:39] prathimacode-hub commented on #397
Ok, glad you got it now. No doubt is silly. @NeerajHazarika

[2021-09-17 07:40] prathimacode-hub commented on #397
Sorry on FCFS basis, it been allotted to @NeerajHazarika. You can check out with many more upcoming issues. @freny24

[2021-09-17 07:40] shecoderfinally commented on #340
@adityabisoi I want to make a audio contribution for this task..Please assign it to me

[2021-09-17 07:41] russapal commented on #110
Hello Sir, I would like to contribute in this issue.

[2021-09-17 07:42] YASHMAROO commented on #405
Ok, sir.

[2021-09-17 07:42] shecoderfinally commented on #249
@adityabisoi Please assign this to me for audio contribution

[2021-09-17 07:42] prathimacode-hub opened #407 "Data Science with Python : Elastic Net Regression"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Elastic Net Regression. Tutorial to Elastic Net Regression and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer

[2021-09-17 07:43] soumiksamanta007 commented on #386
I would like to work on this.
Soumik Samanta - 97
Type: Doccumentation
Approach: what is word embeddings, how to generate them, explain about different models such as word2vec and GloVe, and how to use them using examples.

[2021-09-17 07:45] RK1905101 commented on #401
can I also work in this issue?

[2021-09-17 07:47] Aryamanz29 commented on #401
I have assigned @RK1905101 @Asmit2952

[2021-09-17 07:47] Subhradeep10 commented on #110
Someone is already assigned for this issue, if after creating pull request if you guys face any issue with her code, you can again open the issue and I will assign it to you

[2021-09-17 07:50] Hritik157 commented on #407
Name: Hritik Sharma
Serial no.: 276
Discord: Hritik | Contributor
Type: Documentation
Approach: Explaining about the Elastic Net Regression, example of Elastic Net Regression and providing it's source code.

[2021-09-17 07:52] prathimacode-hub commented on #407
Issue assigned to @Hritik157 for documentation.

[2021-09-17 07:54] Asmit2952 commented on #401
I had one doubt, instead of creating 3 pages, can we create a simple app (todo app in javascript)?

[2021-09-17 07:55] nimisha-yadav opened #409 "DSA 1.1.3.3 Arrays: Range Queries"
## Description
What is a difference array and how is it used to perform range update queries?

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the

[2021-09-17 07:55] Shakthi011001 commented on #56
I'd like to work on this issue
\

[2021-09-17 07:56] nimisha-yadav opened #410 "DSA 1.1.3.4_Arrays: Merge Sort Tree - Audio/Video"
## Description
Explain about Merge Sort Tree.

## Task
- [x] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request

[2021-09-17 07:57] nayakaj commented on #245
can i contribute through documentatin

[2021-09-17 07:58] nimisha-yadav opened #411 "DSA 1.1.3.5 Arrays: Range Queries"
## Description
Explain the construction and applications of Suffix Array.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already b

[2021-09-17 08:01] baazis commented on #405
Can more that 1 members work on a issue?

[2021-09-17 08:01] Shakthi011001 commented on #297
I can work on this

[2021-09-17 08:03] #303 closed

[2021-09-17 08:04] shecoderfinally opened #412 "Python: 3.2 What is Logical and Comparison Operator?"
@adityabisoi
Description :
Briefly explain what is Logical and Comparison Operator.

Note :
Changes should be made inside the Python/ directory & Python branch.
Issue only for GWOC'21 contributors.
Issue will be assigned on a first come first serve basis, 1 Issue == 1 PR.
In the PR, keep this issue's title as your PR's title.
Must Follow : Contributing Guidelines & Code of Conduct before start Con

[2021-09-17 08:04] shecoderfinally commented on #412
@adityabisoi I would like to make the document contribution for this..Please assign me

[2021-09-17 08:05] Aryamanz29 commented on #401
@Kajol-Kumari

[2021-09-17 08:06] subhoshreep commented on #245
i can contribute to issue in audio form,please assign me this
subhoshree pattnaik
python batch 1

[2021-09-17 08:08] subhoshreep commented on #249
@adityabisoi please assign me this issue I can contribute in audio form
subhoshree Pattnaik
batch 1 python

[2021-09-17 08:10] baazis commented on #401
Hey Can I also work on this??

[2021-09-17 08:11] subhoshreep commented on #79
i can contribute to this issue in animated video form
subhoshree pattnaik
python batch 1

[2021-09-17 08:11] Yukti-20 commented on #412
I can make well-formatted and well-structured documentation and video @adityabisoi
May I do this?
Documentation and Video
Batch - 4

[2021-09-17 08:11] sangeetasingh17 commented on #199
I would like to work on this issue. I can can contribute through documentation. Please assign this to me.

[2021-09-17 08:12] subhoshreep commented on #77
i can contribute to this issue in  animated video form
subhoshree pattnaik
batch 1 python

[2021-09-17 08:13] Asmit2952 commented on #87
Well one screenshot was for collaborations and I don't have any collaborators to work with on figma, that screenshot is from their official site, should I change that or remove it completely?

[2021-09-17 08:13] ankurg132 commented on #79
@adityabisoi I'm a mentor, I was just telling that the issue is still open, you can reassign the audio to any contributor.

[2021-09-17 08:14] Ayushi2811 commented on #411
I would like to contribute for this in documentation
Ayushi Chauhan
Batch-1
Kindly assign it to me.

[2021-09-17 08:14] russapal commented on #204
Hello Sir, I would like to contribute on it. Please if you could assign me.
Batch 4: Frontend html & CSS

[2021-09-17 08:14] Ayushi2811 commented on #410
I would like to contribute for this in documentation
Ayushi Chauhan
Batch-1
Kindly assign it to me.

[2021-09-17 08:14] Ayushi2811 commented on #409
I would like to contribute for this in documentation
Ayushi Chauhan
Batch-1
Kindly assign it to me.

[2021-09-17 08:15] anandhu720 commented on #405
@baazis he is doing documentation,So if you are intrested in creating Video in same,I can assign you.As per now we are assigning only one for one issue

[2021-09-17 08:16] subhoshreep commented on #79
i can contribute in audio form too
subhoshree pattnaik
python batch 1

[2021-09-17 08:16] kunal-kumar-chaudhary commented on #48
is it 'only' open for audio and video or 'also' open for audio and video?

[2021-09-17 08:19] shecoderfinally commented on #412
@Yukti-20 I made the issue and I have already mentioned that id approved I will eb making the documentation... So please choose between Audio and Video Submission accordingly..

[2021-09-17 08:19] Ayushi2811 commented on #404
I would like to contribute for this in documentation
Ayushi Chauhan
Batch-1
Kindly assign it to me.

[2021-09-17 08:20] Ayushi2811 commented on #403
I would like to contribute for this in documentation
Ayushi Chauhan
Batch-1
Kindly assign it to me.

[2021-09-17 08:20] Adityanr commented on #223
thank you. I will start with the documentation then. @adityabisoi

[2021-09-17 08:21] shoebxsiddiqui commented on #411
hey ,
I am in Java batch 4 and i think i am pretty capable to work on this issue .
kindly assign me this @nimisha-yadav

[2021-09-17 08:25] Yukti-20 commented on #412
Okay! ya sure sure. I'll be going for VIDEO in case.

[2021-09-17 08:25] shoebxsiddiqui commented on #410
hey ,
I am in Java batch 4 and i think i am pretty capable to work on this issue .
kindly assign me this @nimisha-yadav

[2021-09-17 08:25] shoebxsiddiqui commented on #409
hey ,
I am in Java batch 4 and i think i am pretty capable to work on this issue .
kindly assign me this @nimisha-yadav

[2021-09-17 08:25] itika1 commented on #245
Thank you @adityabisoi sir. I've started on this.

[2021-09-17 08:25] baazis commented on #405
@anandhu720  I would Love to do it.

[2021-09-17 08:25] anjalikumawat2002 commented on #340
I would like to address this issue...via Documentation or Video
@adityabisoi

[2021-09-17 08:28] prathimacode-hub opened #414 "Data Science with Python : Linear Discriminant Analysis"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Linear Discriminant Analysis. Tutorial to Linear Discriminant Analysis and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice

[2021-09-17 08:28] tejas342 commented on #339
@adityabisoi is there any need of audio tutorial in it?
If yes then i want to do it in audio.

[2021-09-17 08:28] subhoshreep commented on #412
i can make contribution to this issue in form of document and audio ,please assign me this
subhoshree pattnaik
python batch 1

[2021-09-17 08:29] anandhu720 commented on #405
@baazis So you just make a video about this topic.I am assigning you that task

[2021-09-17 08:29] Robinrai2612 commented on #374
@prathimacode- I would like to work on this issue.I will write the information about the descriptive statistics, probability theory  and coding regarding  it.

Type: Documentation
Sr.No.: 146

[2021-09-17 08:31] prathimacode-hub opened #416 "Data Science with Python : Introduction to Keras"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Keras. Tutorial to Keras and how it's Implied using sample code

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Aud

[2021-09-17 08:32] Robinrai2612 commented on #374
@prathimacode-hub I would like to work on this issue.I will write the information about descriptive statistics, probability theory and coding regarding it.

[2021-09-17 08:33] prathimacode-hub opened #417 "Data Science with Python : XGBoost Algorithm"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all that's needed to learn about XGBoost. Tutorial to XGBoost and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go wi

[2021-09-17 08:33] Kajal13081 opened #418 "Android - Java : 2.2 Button in Android"
1. What are buttons and types of buttons in android.
2. How to make android button more attractive?
3. XML Attributes of buttons in android
4. How to code and create buttons?
5. Button examples.

[2021-09-17 08:33] Akshita-Sharma-25 commented on #380
please assign this task to me as i already have well prepared notes for this topic and just have to turn it into documentation.
Akshita bach-4

[2021-09-17 08:34] Varun270 commented on #400
@Aryamanz29 I have checked out to Open Source branch and there are different sections from 1-5 with documents in it. In which section should I made my document. Is there any rule for sections or I can create  my doc file in any of them?

[2021-09-17 08:35] Robinrai2612 commented on #374
@prathimacode-hub I would like to work on this issue. I will write the information about descriptive statistics and  probability theory.In  addition I will explain the code as well .

Type- Documentation
Sr No.: 146

[2021-09-17 08:35] Kajal13081 commented on #418
@VikasPandey121 Sir, I have created this issue. Can you please assign me this?

[2021-09-17 08:36] prathimacode-hub opened #419 "Data Science with Python : Sentiment Analysis"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Sentiment Analysis. Tutorial to Sentiment Analysis and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documen

[2021-09-17 08:36] Akshita-Sharma-25 commented on #313
please assign this issue to me i have well defined notes with questions on this topic which can be turned into a document for contribution.
DSA batch-4 Akshita sharma

[2021-09-17 08:36] anjalikumawat2002 commented on #249
@adityabisoi I want to contribute this in audio form.
Anjali Kumawat
Batch - 6  Python

[2021-09-17 08:37] #44 closed

[2021-09-17 08:38] prathimacode-hub opened #420 "Data Science with Python : Getting Started with Scikit-Learn"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Scikit-Learn. Tutorial to Scikit-Learn and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Doc

[2021-09-17 08:39] tejas342 opened #421 "Python : 3.2 Operators: Comparison operators and Logical operators"

[2021-09-17 08:39] freny24 commented on #416
Name: Freny
serial no: 707
Type: Documentation
Approach: Explaining Keras using sample codes in python

[2021-09-17 08:39] Akshita-Sharma-25 commented on #271
Sir I would like to contribute for this issue via documentation please consider me for this issue.
Akshita Sharma
Frontend Batch-4

[2021-09-17 08:39] anjalikumawat2002 commented on #245
@adityabisoi I want to contribute on this issue in Video form.
Anjali Kumawat
Batch - 6 python

[2021-09-17 08:40] #81 closed

[2021-09-17 08:41] tejas342 commented on #421
@adityabisoi i want to contribute in this by documentation.
Tejas Prajapati (Python batch-6)

[2021-09-17 08:41] prathimacode-hub opened #422 "Data Science with Python : Cross Validation Techniques"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Cross Validation Techniques. Tutorial to Cross Validation Techniques and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice y

[2021-09-17 08:43] prathimacode-hub opened #423 "Data Science with Python : Data Visualizations with Seaborn"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Data Visualizations with Seaborn. Tutorial to Data Visualizations with Seaborn and how it's applied visually.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice

[2021-09-17 08:44] anjalikumawat2002 commented on #216
I want to contribute in this issue.
Type - Documantation Formate
Anjali Kumawat
Batch - 10

[2021-09-17 08:46] prathimacode-hub opened #424 "Data Science with Python : Support Vector Machines"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Support Vector Machines. Tutorial to Support Vector Machines and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefe

[2021-09-17 08:47] Yukti-20 commented on #421
I can contribute for Documentation and Video
Batch - 4
Documentation and Video
@adityabisoi

[2021-09-17 08:47] prathimacode-hub commented on #416
Issue is assigned to @freny24 for documentation

[2021-09-17 08:48] Kajal13081 opened #425 "Android - Java : Buttons in Android"
1. What are buttons and types of buttons in android.
2. How to make android button more attractive?
3. Ripple Effect on button.
3. XML Attributes of buttons in android
4. How to code and create buttons? Using setOnClickListener() method on button.
5. Button examples.

[2021-09-17 08:48] tejas342 commented on #78
@adityabisoi i had completed my documentation work of this issue now i am facing problem in generating it's PR

[2021-09-17 08:49] anjalikumawat2002 commented on #175
I want to contribute in this issue.
Type - Documantation
Anjali Kumawat
Batch - 3

[2021-09-17 08:49] #425 closed

[2021-09-17 08:50] subhoshreep commented on #340
i can contribute to this issue in form of audio or documentation
Subhoshree Pattnaik
python batch 1
@adityabisoi

[2021-09-17 08:51] gurpreet-legend commented on #246
Sir, can I work on this issue ?
In the Documentation domain .

[2021-09-17 08:51] prathimacode-hub opened #426 "Data Science with Python : GeoSpatial Analysis"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in get familiarity with GeoSpatial Analysis. Tutorial to GeoSpatial Analysis and how it's applied using visual analysis.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You

[2021-09-17 08:53] prathimacode-hub opened #427 "Ensemble Methods"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Ensemble Methods. Tutorial to Ensemble Methods and how it's applied.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video).

[2021-09-17 08:55] prathimacode-hub opened #428 "Data Science with Python : Introduction to Unsupervised Learning"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Unsupervised Learning. Tutorial to Unsupervised Learning and how it's applied to models.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you p

[2021-09-17 08:59] Robinrai2612 commented on #428
@prathimacode-hub  I would like to work on this issue. i will write the information about unsupervised learning and coding regarding it.

Type : Documentation
Sr. No: 146

[2021-09-17 08:59] prathimacode-hub opened #429 "Data Science with Python : Multilayer Perceptron"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in getting all the guidance that one needs to learn about Multilayer Perceptron. Tutorial to Multilayer Perceptron and how it's applied and used effectively.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefe

[2021-09-17 09:01] prathimacode-hub commented on #428
Ok, issue assigned to @Robinrai2612 for documentation.

[2021-09-17 09:01] prathimacode-hub commented on #419
Issue assigned to @divya-chhoriya for documentation.

[2021-09-17 09:05] prathimacode-hub opened #431 "Data Science with Python : Bayesian Regression"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Bayesian Regression. Tutorial to Bayesian Regression and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Docum

[2021-09-17 09:08] Rohit-2602 commented on #418
yes @Kajal13081 you can work on it

[2021-09-17 09:08] vandana3869 commented on #67
@Debasmita-01  I would like to work on this issue.

[2021-09-17 09:08] prathimacode-hub opened #432 "Data Science with Python : Classical Forecasting Methods"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Classical Forecasting Methods. Tutorial to Classical Forecasting Methods and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choi

[2021-09-17 09:09] Kajal13081 commented on #418
Can you assign me this and also mention the tags? @Rohit-2602

[2021-09-17 09:10] prathimacode-hub opened #433 "Data Science with Python : Documents Classification"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Documents Classification. Tutorial to Documents Classification and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you pre

[2021-09-17 09:10] charitha-byte commented on #67
I would like to work on this issue

[2021-09-17 09:10] faisal-kn commented on #246
Sir, I am quite experienced with javascript. Can I work on this issue ?

[2021-09-17 09:11] Shashankkrj commented on #423
@prathimacode-hub I would like to work on this issue. Please assign me this issue.

Type : Documentation
Sr. No: 968

[2021-09-17 09:11] Rohit-2602 commented on #418
Mentor can't assign or add labels,
start working on it don't worry about labels and all

[2021-09-17 09:16] prathimacode-hub opened #434 "Data Science with Python : Introduction to Numpy"
Welcome to 'DSWP' Team, good to see you here

This issue will help in gaining clarity of how numpy is used in various ways. Tutorial to Numpy and how it's applied using its relevant sample codes with brief examples.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation,

[2021-09-17 09:17] paras-saxena11 commented on #345
can i do ?
please assign me

[2021-09-17 09:19] Kajal13081 commented on #418
Okay

[2021-09-17 09:19] paras-saxena11 commented on #380
can i do ?
please assign me work

[2021-09-17 09:21] Sarthak-Agg opened #436 "DSA 1.1.4.1 Arrays: Order Statistics"
Contribution can be in the forms of

[2021-09-17 09:22] soumiksamanta007 commented on #434
I would like to work on this.
Soumik Samanta - 97
Type: Doccumentation
Approach: what is numpy, how to use it with examples and similar / alternate libraries available

[2021-09-17 09:23] prathimacode-hub opened #437 "Data Science with Python : Object Detection"
Welcome to 'DSWP' Team, good to see you here

This issue will helps in knowing complete process of how an object is detected using Computer Vision. Tutorial to Computer Vision and how it's applied using sample codes with brief examples.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you pr

[2021-09-17 09:23] GenMech commented on #403
@nimisha-yadav Hey i have a very good hold on Arrays and i would like to contribute and prepare a well documented sheet on this topic and as is see there is no assignees yet , it would be great if you assign it to me.

[2021-09-17 09:26] GenMech commented on #409
@nimisha-yadav Hey i have a very good hold on Arrays and i would like to contribute and prepare a well documented sheet on this topic and as is see there is no assignees yet , it would be great if you assign it to me.
Gitesh Pareek
Batch-1

[2021-09-17 09:26] GenMech commented on #411
@nimisha-yadav  Hey i have a very good hold on Arrays and i would like to contribute and prepare a well documented sheet on this topic and as is see there is no assignees yet , it would be great if you assign it to me.
Gitesh Pareek
Batch-1

[2021-09-17 09:27] vandana3869 commented on #340
I would like to contribute to this issue in form video @@adityabisoi

[2021-09-17 09:28] prathimacode-hub opened #438 "Data Science with Python : Getting started with Linear Algebra"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in getting the overall0 guidance that one needs to learn about Getting started with Linear Algebra. Tutorial to Getting started with Linear Algebra and how it's applied.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choi

[2021-09-17 09:29] vandana3869 commented on #245
i would like to contribute on this issue @ adityabisoi

[2021-09-17 09:29] prathimacode-hub commented on #423
Ok, but do let me know of your approach as well of how you're going to proceed. @Shashankkrj

[2021-09-17 09:30] prathimacode-hub commented on #386
Issue assigned to @soumiksamanta007 for documentation.

@freny24 You have an issue already assigned to you.

[2021-09-17 09:30] priyanshuc4423 commented on #374
you can have this Ill take another one

[2021-09-17 09:31] priyanshuc4423 commented on #420
@prathimacode-hub I would like to be assigned this. I will write some info regarding it such as its workings etc and then explain code regarding it.
sno: 945
type: documentation

[2021-09-17 09:31] vandana3869 commented on #249
I would like contribute to this issue in the video form. Please assign me

[2021-09-17 09:32] GenMech commented on #404
@nimisha-yadav  Hey i have a very good hold on Arrays and i would like to contribute and prepare a well documented sheet on this topic and as is see there is no assignees yet , it would be great if you assign it to me.
Gitesh Pareek
Batch-1

[2021-09-17 09:32] Kajol-Kumari commented on #401
Yes @Asmit2952 you can create a simple app to host but it would be better if you could include some ages about open source as well

[2021-09-17 09:35] Robinrai2612 commented on #374
@priyanshuc4423 But I have already taken  another one

[2021-09-17 09:35] prathimacode-hub commented on #374
No worries, this issue will be open. Priyanshi opted for an another issue. @Robinrai2612

[2021-09-17 09:36] prathimacode-hub commented on #420
Issue assigned to @priyanshuc4423 for documentation.

[2021-09-17 09:37] prathimacode-hub commented on #434
An issue is already assigned to you. You cna work on only 1 issue at a time. @soumiksamanta007

[2021-09-17 09:38] ELLIPSIS009 commented on #424
I would like to work on this
Abhinav Mathur- 573
Type: Doccumentation
Approach: what is svm, example, types of svm, how it works, python implementation

[2021-09-17 09:38] vandana3869 commented on #206
I would like to contribute to this issue
@adityabisoi

[2021-09-17 09:38] KhushiKV commented on #423
@prathimacode-hub I would like to bring to your notice that in cab=se this issue is not yet assigned to anyone, I would be happy to work on it.
Sr. No. - 568
Type Preference 1: Documentation
Type Preference 2: Video
I propose to write down short notes along with code examples in a googleColab notebook, to demonstrate various funcgtionalisties available in Seaborn, the different kinds of plots etc.

[2021-09-17 09:39] prathimacode-hub commented on #424
Issue assigned to @ELLIPSIS009 for documentation

[2021-09-17 09:39] vandana3869 commented on #223
I would like to work on this issue @adityabisoi

[2021-09-17 09:41] prathimacode-hub commented on #423
Ok, issue is assigned to @KhushiKV for documentation.

@Shashankkrj As you haven't provided the approach, issue is been assigned to next person in queue. Next time along with the details also add up your approach you would be proceeding with. There are many more issue to come.

[2021-09-17 09:43] prathimacode-hub commented on #384
@freny24 @Hritik157 Already an issue each has been allotted to you.

[2021-09-17 09:44] RIYANSHGARG commented on #331
I have re-added the pull request, Please considered it.

[2021-09-17 09:45] KhushiKV commented on #423
Thank you for considering my request. Since you asked for video as well, I would like to ask you that if I contribute to both documentation and video, will they be considered as two separate contributions?

[2021-09-17 09:46] tavneetgill commented on #434
I would like to work on this topic.
Tavneet Kaur Gill-323
Type: Documentation
Approach: Introduction to numpy, relevant examples explained with code and what libraries are in this

[2021-09-17 09:48] VedRatan commented on #244
@sakshamlamba 109 sir can I go with it

[2021-09-17 09:48] ShubhamPatel01 commented on #434
I would like to work on this issue, which is issue no. 434
Name: Shubham Patel
Serial No. 102.
Type: Documentation
Approach:
- Introduction to Numpy
- Applications of Numpy with examples
- List of libraries present in Numpy

[2021-09-17 09:51] LavleenAgrawal commented on #412
I want to make audio / video content on this, May I ?
Lavleen Agrawal (Batch 1 - Python)

[2021-09-17 09:51] gurpreet-legend opened #440 "JS: Loops in Javascript"
## Introduction to loops in Javascript:
This will describe the usage of different loops in Javascript

## Directory:
[code]
## Description:

- What are loops?
- Different types of loops in Javascript
  - for
  - for/in
  - for/of
  - while
  - do/while

## Formats:
- [x] Document
- [ ] Video
- [ ] Audio

[2021-09-17 09:52] GenMech opened #441 "1.1 Array - Misc: Array Rotation: Algorithms"
<h2>Reversal algorithm for array rotation</h2>

- <h3>Subarrays are created and reversed to perform the rotation of the array.</h3>

<h2>Block swap algorithm for array rotation</h2>

- <h3>It is an efficient algorithm that is used for array rotation. It can do your work in O(n) time complexity.</h3>

[2021-09-17 09:54] prathimacode-hub commented on #423
@KhushiKV Sorry for the inconvenience, issues had set up double.  Can you mind changing up to an another issue as [this issue](https://github.com/girlscript/winter-of-contributing/issues/382) is already created earlier and assigned.

[2021-09-17 09:55] prathimacode-hub commented on #382
If you would like to contribute for video, it would be well good as documentation part is already been assigned. Inform me of your interest on it. @IamKaushal2

[2021-09-17 09:56] KhushiKV commented on #423
Oh, no problem..thanks

[2021-09-17 09:57] prathimacode-hub commented on #423
@KhushiKV If you like to work on any particular topic, you can let me know so that I create an issue of the topic and assign it to you directly.

[2021-09-17 09:57] IamKaushal2 commented on #382
Yes, I am okay with the video contribution.

[2021-09-17 09:58] KhushiKV commented on #423
Ohkay, thankyou very much...If possible I would like to work on 'Data Visualisations using Matplotlib'.

[2021-09-17 09:58] Asmit2952 commented on #440
I want to work on this!! Please assign it to me

[2021-09-17 09:58] prathimacode-hub commented on #382
Issue assigned to @IamKaushal2 for video contribution.

[2021-09-17 09:58] Mayank242002 commented on #286
I would like to write documentation on this topic.

[2021-09-17 09:59] mayankkuthar commented on #401
@Aryamanz29 @Kajol-Kumari I would also like to work on this one, Please Assign me too.

[2021-09-17 09:59] prathimacode-hub commented on #423
Sure, issue would be created and assigned to you directly. @KhushiKV

[2021-09-17 09:59] Mayank242002 commented on #283
I'm good at css.Can you assign this issue to me?

[2021-09-17 10:00] nakshatra-garg commented on #427
I've made a video on exploratory data analysis in the past. Will this video mentioned below will be fine?
https://www.youtube.com/watch?v=q6oCG1aNVk8

[2021-09-17 10:00] nakshatra-garg commented on #348
I've made a video on exploratory data analysis in the past. Will this video mentioned below will be fine?
https://www.youtube.com/watch?v=q6oCG1aNVk8

[2021-09-17 10:01] KhushiKV commented on #423
Thank you very much once again...I would love to work on it.
Will it be one contribution as Documentation, or 2 contributions separately as Documentation and Video?

[2021-09-17 10:01] LavleenAgrawal opened #443 "Android - Kotlin: Datatypes in Kotlin"
I want to make documentation / audio content on this, May I ?
Lavleen Agrawal (Batch 5 - Android Kotlin)

[2021-09-17 10:01] ShobhanSrivastava commented on #352
I have used npm and have quite a good knowledge about it. Can I work on the video part of it?

[2021-09-17 10:02] Mayank242002 commented on #250
I have a great knowledge of box model.Can you assign this issue to me?

[2021-09-17 10:03] ShobhanSrivastava commented on #289
Can i work on the video part of it?

[2021-09-17 10:03] ShobhanSrivastava commented on #369
Can I work on the video part of it?

[2021-09-17 10:04] nakshatra-garg commented on #427
S.no 609
I would like to work on documentation part of this issue.
Approach:
Explain what are ensemble methods. why do we need them.
What are decision trees? How Random forests work.
Some other types of methods like Voting Classifier, Bagging Classifier, Extra Tree Classifier
All this with the help of a dataset.

[2021-09-17 10:05] prathimacode-hub opened #445 "Data Science with Python : Data Visualizations using Matplotlib"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in getting all the guidance that one needs to learn about Data Visualizations with Matplotlib. Tutorial to Data Visualizations with Matplotlib and how it's applied visually.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and

[2021-09-17 10:05] ShobhanSrivastava commented on #343
Can I work on the video part of it?

[2021-09-17 10:07] HastiSutaria commented on #437
I would like to work on this.
Hasti Sutaria - 426
Type: Documentation
Approach: Working with OpenCV library for object detection.

[2021-09-17 10:09] #175 closed

[2021-09-17 10:10] prathimacode-hub commented on #423
It will be as 1 contribution, since this as a whole is 1 issue. But PR's and issues would be tagged up with Doc and Video label, so team would be knowing that you had done both. @KhushiKV

[2021-09-17 10:10] parvatijay2901 commented on #384
Name: Parvati
Sl.no: 475
Discord: Parvati | Contributor
Type: Documentation
Approach: Write a python code (In Jupyter notebook with little information) to detect the bright spots in image.

[2021-09-17 10:10] Malvikakaushal2001 commented on #445
I want to contribute in this issue.
I am from ds python batch 20

[2021-09-17 10:10] ShubhamPatel01 commented on #445
I would like to work on this issue, which is issue no. 445
Name: Shubham Patel
Serial No. 104.
Type: Documentation
Approach:

- Introduction to Matplotlib library
- Several types of Visualization techniques using Matplotlib
- Alternatives of Matplotlib for visualization in Python

[2021-09-17 10:10] anandhu720 commented on #369
@ShobhanSrivastava Sure,I will assign you this work

[2021-09-17 10:11] Malvikakaushal2001 commented on #438
i want to contribute in this issue
DS python batch 20

[2021-09-17 10:11] dakshitathakkar commented on #445
Hey @prathimacode-hub, I would like to work on this
Name - Dakshita Thakkar
Sno - 392
Type : Documentation, Audio

[2021-09-17 10:11] rkadam61001 commented on #436
Name:Rajnandini Kadam
Batch-1
Pls assign me this issue

[2021-09-17 10:12] Malvikakaushal2001 commented on #417
i want to contribute in this issue
DS python batch 20

[2021-09-17 10:12] anandhu720 commented on #345
@paras-saxena11 bro it is already given to someone.Please wait for new issues

[2021-09-17 10:13] prathimacode-hub commented on #445
@KhushiKV this issue is allotted to you for documentation and video.

@ShubhamPatel01 @Malvikakaushal2001 @dakshitathakkar, any of you can choose audio if you are interested. This issue is assigned to Khushi as she was assigned to wrong issue earlier.

There are many more issues coming. Stay tuned to grab.

[2021-09-17 10:14] anandhu720 commented on #331
@RIYANSHGARG bro your pr is closed,before making pr please read the instructions we given,please make sure you obyed all of our instruction and make a new pr.

[2021-09-17 10:15] RBiswa787 commented on #422
I would like to work on this issue.
Name: Biswadeep
Serial No.: 266
Type: Video(Presentation)
Approach: Will discuss intro to cross validation, various cross validation techniques like K-Fold, Leave One Out, Stratified K Fold , comparison of various techniques and implementation with code examples.

[2021-09-17 10:15] KhushiKV commented on #423
Okay got it,..please assign me for Documentation.

[2021-09-17 10:15] dakshitathakkar commented on #340
Hey @prathimacode-hub, I would like to work on this
Name - Dakshita Thakkar
Sno - 392
Type : Audio

[2021-09-17 10:15] Mayank242002 commented on #412
I want to make a well defined documentation on this.can you assign this issue to me?

[2021-09-17 10:16] SudhansuuRanjan commented on #440
I want to contribute with documentation. Please assign it to me !!

[2021-09-17 10:16] prathimacode-hub commented on #423
Ok, comment on the issue $445 created just. So that i can assign you as a assignee. @KhushiKV

[2021-09-17 10:18] Mayank242002 commented on #228
I would also like to work on documentation of this topic.Can you please assign this issue to me?

[2021-09-17 10:18] KhushiKV commented on #445
@prathimacode-hub Thank you very much...I will prepare the Documentation.

[2021-09-17 10:18] SudhansuuRanjan commented on #380
I can contribute with documentation. Please assign it to me !!

[2021-09-17 10:18] prathimacode-hub commented on #438
Kindly provide all the details.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're interested to work on. @Malvikakaushal2001

[2021-09-17 10:19] BhavyaPooja259 commented on #204
Hello Sir @praveenscience
I would like to work on this issue. Could you please assign this issue to me!
Batch 17:frontend-with-html-css

[2021-09-17 10:19] prathimacode-hub commented on #437
Issue assigned to @HastiSutaria for documentation

[2021-09-17 10:20] pjdurden opened #446 "DSA 1.1.2.2 Array Rearrangement STL"
## Description
Minimum swaps required to bring elements less than equal to k together, STL implementations of rearrangement(sort comparator etc).

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA

[2021-09-17 10:20] prathimacode-hub commented on #434
@ShubhamPatel01 oops, just missed it up in few mins. Interested for Audio / Vido?

@tavneetgill, issue is assigned to you for documentation

[2021-09-17 10:22] prathimacode-hub commented on #427
Issue is assigned to @nakshatra-garg for documentation.

[2021-09-17 10:23] HastiSutaria commented on #437
@prathimacode-hub Thank you! Object Detection's documentation on me.

[2021-09-17 10:23] pjdurden opened #447 "DSA 1.1.2.3 Array Rearrangement Circular arrays"
## Description
Circular array problem(Maximize sum, maximize difference), left and right shift on the circular array.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
-

[2021-09-17 10:23] prathimacode-hub commented on #422
Issue assigned to @RBiswa787 for Video.

[2021-09-17 10:24] prathimacode-hub commented on #417
@Malvikakaushal2001 Kindly provide all the details.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're interested to work on.

[2021-09-17 10:24] ShreyaTyagi0XD commented on #291
Can i work on this?

[2021-09-17 10:24] pjdurden opened #448 "DSA 1.1.2.4 Array Rotations (Using reversal)"
## Description
Rotation of array using reversal, blockswap methods, cyclic rotation.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue ha

[2021-09-17 10:24] AJgthb2002 commented on #441
Please assign this to me. I'd like to create documentation on this topic.
Ananya Joshi
DSA batch2

[2021-09-17 10:25] SudhansuuRanjan commented on #235
I would like to prepare an interactive documentation . Please assign it to me!!

[2021-09-17 10:25] prathimacode-hub commented on #384
Use Google Colab for documenting and adding code. Be elaborative. Issue assigned to @parvatijay2901 for documentation

[2021-09-17 10:26] pjdurden opened #450 "DSA 1.1.2.5 Array Rotation non query problems"
## Description
Maximize i*arr[i] in all rotations, rotation count in rotated sorted array.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the is

[2021-09-17 10:26] Ayushi2811 commented on #448
I hold a good experience in DSA since past year and can present a welll structured documentation on the same.
Could u please assign it to me. @pjdurden
AYUSHI CHAUHAN
Barch-01

[2021-09-17 10:26] AJgthb2002 commented on #448
Please assign this to me. I'd like to contribute in the form of documentation.
Ananya Joshi
DSA batch2

[2021-09-17 10:27] Ayushi2811 commented on #447
I hold a good experience in DSA since past year and can present a welll structured documentation on the same.
Could u please assign it to me. @pjdurden
AYUSHI CHAUHAN
Barch-01

[2021-09-17 10:27] RBiswa787 commented on #436
I would like to work on this issue.
Name: Biswadeep
Batch: 5
Serial No.: 958
Type: Video(Presentation)
I would like to explain the topic visually through a presentation along with code.

[2021-09-17 10:27] Ayushi2811 commented on #446
I hold a good experience in DSA since past year and can present a well structured documentation on the same.
Could u please assign it to me. @pjdurden
AYUSHI CHAUHAN
Barch-01

[2021-09-17 10:28] Ayushi2811 commented on #441
I hold a good experience in DSA since past year and can present a welll structured documentation on the same.
Could u please assign it to me. @GenMech
AYUSHI CHAUHAN
DSA Batch-01

[2021-09-17 10:28] pjdurden opened #452 "DSA 1.1.2.6 Array Rotation some O(N) problems"
## Description
Left rotation, rotations required to sort array, elements at index I after k rotations.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see

[2021-09-17 10:30] SudhansuuRanjan commented on #68
I want to work  on this . May I ?

[2021-09-17 10:30] AJgthb2002 commented on #452
Please assign this to me. I'd like to contribute in the form of documentation.
Ananya Joshi
DSA batch 2

[2021-09-17 10:33] ghulamyazdani commented on #204
Folks don't spam on a single issue we can only let 1-2 people work on a single issue

[2021-09-17 10:34] Soumili1818 commented on #287
Can I have the honour of handling this PR, please?

[2021-09-17 10:36] Soumili1818 commented on #401
May I have the honour of working on this issue?

[2021-09-17 10:36] anantcodes opened #453 "Android-Kotlin : 01.1 Requirement of Version Control System"
## Description :
*  Give a brief description stating the need of Version Control System.
* Also describe about Git and GitHub.
*  Required documentation, audio, or video.

## References :
https://git-scm.com/book/en/v2/Getting-Started-About-Version-Control
https://guides.github.com/activities/hello-world/

* Changes should be made in Android_Development/Kotlin/ directory under Android_Development_

[2021-09-17 10:37] Soumili1818 commented on #318
May I have the honour of working on this issue, please?

[2021-09-17 10:38] Soumili1818 commented on #440
May I have the honour of contributing to this issue, please?

[2021-09-17 10:39] Sera001 commented on #438
I would like to contribute to this issue.
Name: Jeffy Johnson
Serial number: 713
Approach: Documentation

[2021-09-17 10:40] prathimacode-hub commented on #438
@Sera001 Kindly let me know of your approach that you would follow up.

[2021-09-17 10:42] Soumili1818 commented on #319
May I have the honour of working on this issue @Aryamanz29 ,please?

[2021-09-17 10:43] micepram commented on #139
Yes @TechnoPhasePRO create it. Also @deepthi1107 you can work together @TechnoPhasePRO together on this.

[2021-09-17 10:45] micepram commented on #142
1) Just be clear and concise while covering the entire topic, whatever length it maybe.
2) That's up to you, but make sure it doesn't cover more than 15% of the width/height.
3) Deadline is till 31st November, 2021 but try to finish before that.

[2021-09-17 10:46] micepram commented on #141
Sure @deepthi1107, please join @TechnoPhasePRO and work together on this.

[2021-09-17 10:47] Harsh-Chaudhary7 commented on #410
I have been eagerly waiting to contribute.
I will be highly obliged if i get to contribute in this documentation.
Harsh Chaudhary
DSA Batch 3

[2021-09-17 10:48] charitha-byte commented on #67
@Debasmita-01  Can I work on this issue!!!

[2021-09-17 10:48] paras-saxena11 commented on #345
okay @anandhu720.
till when new issues will come?

[2021-09-17 10:48] rahulsain commented on #443
First, use correct format while creating Issue Name.

[2021-09-17 10:51] yatharthrajput commented on #452
#include <bits/stdc++.h>
using namespace std;

void leftRotatebyOne(int arr[], int n)
{
    int temp = arr[0], i;
    for (i = 0; i < n - 1; i++)
        arr[i] = arr[i + 1];

    arr[n-1] = temp;
}

/*Function to left rotate */
void leftRotate(int arr[], int d, int n)
{
    for (int i = 0; i < d; i++)
        leftRotatebyOne(arr, n);
}

void printArray(int arr[], int n)
{
    for (int i = 0; i <

[2021-09-17 10:52] paras-saxena11 commented on #401
I want to contribute in this please assign me

[2021-09-17 10:52] bhavyagoel commented on #433
I would like to work on this.
Bhavya Goel - 750
**Type**: Doccumentation
**Approach**: Will covert word to vectors and classify the text using various statistical models. Will also try to analyse context of the given text, and based on the context classify the text.

[2021-09-17 10:53] vkaash-sharma commented on #232
I would like to contribute to this issue.
I know how flex works I am familiar with all the properties of flex I work on document areas in such a way that beginners can understand easily lastly I make my own portfolio there I use flex a lot.

https://vkaash-sharma.github.io/vikas-portfolio/

[2021-09-17 10:53] paras-saxena11 commented on #344
can i work in this?

[2021-09-17 10:55] Harsh-Chaudhary7 commented on #404
I have been eagerly waiting to contribute and would love to work on arrays related issues as i got pretty good hold on the topic.
**Harsh Chaudhary
DSA Batch 3**

[2021-09-17 10:55] Harsh-Chaudhary7 commented on #409
I have been eagerly waiting to contribute and would love to work on arrays related issues as i got pretty good hold on the topic.
**Harsh Chaudhary
DSA Batch 3**

[2021-09-17 10:56] Harsh-Chaudhary7 commented on #411
I have been eagerly waiting to contribute and would love to work on arrays related issues as i got pretty good hold on the topic.
**Harsh Chaudhary
DSA Batch 3**

[2021-09-17 10:56] motasimmakki commented on #409
For the documentation section kindly assign this issue to me @nimisha-yadav.
I will work on this with my full interest give you a satisfactory result.

**Motasim (DSA Batch-01)**

[2021-09-17 10:56] prathimacode-hub commented on #433
Great, issue is assigned to @bhavyagoel for documentation

[2021-09-17 10:57] motasimmakki commented on #411
For the documentation section kindly assign this issue to me @nimisha-yadav.
I will work on this with my full interest give you a satisfactory result.

**Motasim (DSA Batch-01)**

[2021-09-17 10:57] motasimmakki commented on #410
For the documentation section kindly assign this issue to me @nimisha-yadav.
I will work on this with my full interest give you a satisfactory result.

**Motasim (DSA Batch-01)**

[2021-09-17 10:58] motasimmakki commented on #404
For the documentation section kindly assign this issue to me @nimisha-yadav.
I will work on this with my full interest give you a satisfactory result.

**Motasim (DSA Batch-01)**

[2021-09-17 10:58] motasimmakki commented on #403
For the documentation section kindly assign this issue to me @nimisha-yadav.
I will work on this with my full interest give you a satisfactory result.

**Motasim (DSA Batch-01)**

[2021-09-17 11:00] vkaash-sharma commented on #231
I want to work on this I have full pledged knowledge about it u can go through my portfolio and check my contact me form where I use my skills of HTML FORMS.
https://vkaash-sharma.github.io/vikas-portfolio/

[2021-09-17 11:01] Kajol-Kumari commented on #401
@mayankkuthar @Soumili1818 @paras-saxena11 please go ahead with this issue.
Happy learning :)

[2021-09-17 11:02] yatharthrajput commented on #452
Please assign this to me. I'd like to contribute in the form of documentation.
Yatharth Rajput
DSA batch 4

[2021-09-17 11:02] ishivamgupta9 commented on #173
Anyone is assigned on this issue?

[2021-09-17 11:04] ishivamgupta9 commented on #116
Can I also work on this issue?

[2021-09-17 11:07] vkaash-sharma commented on #421
I want to contribute to this issue for documentation.
i can share all detailed information of the topic via documents

[2021-09-17 11:09] Anant1711 commented on #291
Okay!
I'm assigning this task to you!

[2021-09-17 11:11] Asmit2952 commented on #453
Can I take this?

[2021-09-17 11:14] vkaash-sharma commented on #267
I love to contribute to this issue I can give u well structure documentation..u can check my last project which have done last how i use css color on it.please assign this project to me..

https://vkaash-sharma.github.io/vikas-portfolio/

[2021-09-17 11:16] arp99 opened #460 "JS: Object-Oriented JavaScript (using Functions)"
# Object-Oriented JavaScript (using Functions)
Discuss the OOP concept using functions in Javascript.

## Directory
Topics/Object_Oriented_Javascript_Using_Functions

## Description
- Talk about the OOP concept in general
- How Functions can be used in OOP
-  this keyword

## Formats
 - [x] Document
 - [ ] Video
 - [ ] Audio

[2021-09-17 11:17] arp99 commented on #460
Hello Supervisor/ Mentor, please assign me this issue, I would like to contribute documentation for it 😅

[2021-09-17 11:17] Rohit-2602 commented on #173
@ishivamgupta9 it is assigned to @Sujit2209

[2021-09-17 11:18] Rohit-2602 commented on #173
Yes you can start working on it

[2021-09-17 11:18] nimisha-yadav commented on #403
Assigning this issue to you @kamleshjoshi8102, all the best!

[2021-09-17 11:19] siddhi-244 commented on #403
But I was the first one to ask !

[2021-09-17 11:20] anantcodes commented on #453
Yeah sure.

[2021-09-17 11:20] adityabisoi commented on #421
Already cvered in https://github.com/girlscript/winter-of-contributing/issues/412

[2021-09-17 11:20] #421 closed

[2021-09-17 11:22] kamleshjoshi8102 commented on #403
Thanks a Lot! 😄

[2021-09-17 11:22] adityabisoi commented on #412
@shecoderfinally Doc, @Yukti-20 Video, @LavleenAgrawal Audio.

[2021-09-17 11:22] nik09877 commented on #452
I'd like to contribute in the form of documentation.
Nikhil Kumar Mishra
DSA batch 3

[2021-09-17 11:22] adityabisoi commented on #412
One issue at a time

[2021-09-17 11:23] adityabisoi commented on #412
@Yukti-20 One issue at a time

[2021-09-17 11:24] nimisha-yadav commented on #403
As it was mentioned, you need to put the name and batch so the first person who followed the guide got the issue. Don't worry, there will be a lot of issues to contribute :D

[2021-09-17 11:24] vkaash-sharma commented on #250
I have great knowledge of margins padding I can write on this topic in a detailed manner. u can check my previous project where how I use margins paddings.

https://vkaash-sharma.github.io/vikas-portfolio/

[2021-09-17 11:26] nik09877 commented on #450
I would like to work on this issue .
Nikhil Kumar Mishra.
DSA Batch 3

[2021-09-17 11:26] nimisha-yadav commented on #404
Assigning this to you @siddhi-244 but don't forget to put your full name in future issues. All the best!

[2021-09-17 11:26] priyanshinaredi commented on #249
@adityabisoi I Priyanshi Naredi would like to contribute to operators for documentation purposes it would be great if you assign e this thank you.

[2021-09-17 11:26] HassanRahim26 commented on #452
Hey @pjdurden , I would like to work on this issue. Can you please assign me this issue?
Name :- Hassan Rahim
Batch:-  2
Type:- Documentation
I've previously solved problems related to Array Rotation. That's why I would like to work on this issue, and I'm sure I would explain it in a better and easy way.

[2021-09-17 11:27] priyanshinaredi commented on #245
@adityabisoi  I Priyanshi Naredi would like to contribute to basic data types of python for documentation purposes it would be great if you assign e this thank you.
Batch 18

[2021-09-17 11:28] nimisha-yadav commented on #409
Assigning this issue to you @Ayushi2811, all the best!

[2021-09-17 11:28] siddhi-244 commented on #404
Ok maam

[2021-09-17 11:28] vkaash-sharma commented on #205
please assign this issue to me I can write detailed information on it.

[2021-09-17 11:29] joshi-anita commented on #227
I am interested to contribute to this i have previously worked on this and i have  a good knowledge of working on html table..
please consider me for this
Anita joshi
batch 17

[2021-09-17 11:31] nimisha-yadav commented on #410
Assigning this issue to you @Harsh-Chaudhary7, all the best!

[2021-09-17 11:32] adityabisoi commented on #245
This issue is  open for AUDIO and VIDEO contributions.

[2021-09-17 11:32] nimisha-yadav commented on #411
Assigning this issue to you @GenMech, all the best!

[2021-09-17 11:33] adityabisoi commented on #48
Also.

[2021-09-17 11:34] adityabisoi commented on #339
I dont think so.

[2021-09-17 11:34] joshi-anita commented on #207
I'm a contributor and participated in GWOC as a contributor. I have good knowledge regarding HTML and its Tags
I can works on this issue and i also have my previous using all this
so please let me handle with this issue.
https://joshi-anita.github.io/portfolio/
Anita Joshi
Batch-17

[2021-09-17 11:35] nimisha-yadav commented on #411
Hey, presently we are assigning issues in DSA domain to only DSA Contributors @shoebxsiddiqui

[2021-09-17 11:35] adityabisoi commented on #339
You can create on best 2

[2021-09-17 11:36] adityabisoi commented on #79
One issue at a time.

[2021-09-17 11:37] priyanshinaredi commented on #438
@prathimacode-hub
I would like to contribute to this issue.
Name: Priyanshi Naredi
Serial number: 720
Type: Documentation
Approach: The document will include the importance of Linear Algebra in Data Science and then the explaination of the important topics to be known like:
_Matrices and Vectors
Matrix Operations
Matrix Inverse
Orthogonal Matrix
Applications of Linear Algebra within Data Science_

[2021-09-17 11:37] joshi-anita commented on #296
i would like to contribute to this topic and i will make  a very nice documentation on this
kindly assign me with this one.
Anita Joshi
Batch-17

[2021-09-17 11:38] joshi-anita commented on #286
i would love to contribute to this issue
kindly assign me with this.
Anita Joshi
Batch-17

[2021-09-17 11:40] joshi-anita commented on #274
i have made my previous project using this model to so i would love to contribute to this issue
cab you assign me with this?
Anita Joshi
Batch-17

[2021-09-17 11:40] prathimacode-hub opened #464 "Data Science with Python : Dimensionality Reduction"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in providing all the guidance that one needs to learn about Dimensionality Reduction. Tutorial to Dimensionality Reduction and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you

[2021-09-17 11:41] joshi-anita commented on #266
can i  work on this issue?
Anita Joshi
Batch-17

[2021-09-17 11:42] joshi-anita commented on #243
i am interested for working on this
Anita Joshi
Batch-17

[2021-09-17 11:45] prathimacode-hub opened #465 "Data Science with Python : Image Distortion Correction"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to learn about Image Distortion Correction. Tutorial to Image Distortion Correction and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choi

[2021-09-17 11:46] priyanshinaredi commented on #374
@prathimacode-hub
I would like to contribute to this issue.
Name: Priyanshi Naredi
Serial number: 720
Type: Documentation
Approach: Importance of the statistics, Probability, and inference and will include topics:
_Descriptive statistics
Probability Calculation and different methods with implementation
Understanding Statistical Inference Process_

[2021-09-17 11:49] vkaash-sharma commented on #306
hey  @praveenscience i want to work on this issue

[2021-09-17 11:51] subhoshreep commented on #77
sorry mistake i unassigned it,could you pls reassign the audio documentation to Me @adityabisoi

[2021-09-17 11:51] prathimacode-hub opened #466 "Stochastic Gradient Descent"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about Stochastic Gradient Descent . Tutorial to Stochastic Gradient Descent  and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and cho

[2021-09-17 11:51] vkaash-sharma commented on #235
I can contribute to this issue I can make interactive documentation on this topic so please assign it to me!

[2021-09-17 11:52] nik09877 commented on #446
I would like to work on this issue ( Documentation part ). I have done similar problem on codeforces.
Nikhil Kumar Mishra.
DSA Batch-3

[2021-09-17 11:54] RIYANSHGARG commented on #331
I have added the pull request, Please consider it.

[2021-09-17 11:55] prathimacode-hub opened #467 "Data Science with Python : Recurrent Neural Networks"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Recurrent Neural Networks. Tutorial to Recurrent Neural Networks and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow

[2021-09-17 11:55] Yukti-20 commented on #412
Okay! sure, but as others were also getting multiple tasks, I thought the same way!

[2021-09-17 11:56] guptapriya-83900 commented on #412
I want to contribute to this issue in the form of a document. Please assign me this issue.
Priya Gupta (Python Batch 4)

[2021-09-17 11:56] vkaash-sharma commented on #447
I have good knowledge of dsa i can contribute to the documentation please assign this to me!

[2021-09-17 11:58] vkaash-sharma commented on #272
i love to contribute on this i  have enough knowledge of CSS animation I worked on my previous project where i use CSS animation.

https://vkaash-sharma.github.io/vikas-portfolio/

[2021-09-17 11:59] prathimacode-hub opened #469 "Data Science with Python : Generative Adversarial Networks"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about gettng started with Generative Adversarial Networks . Tutorial to Generative Adversarial Networks and how it's used effectively with sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the a

[2021-09-17 12:00] sunidhii09 commented on #467
Sunidhi Puri
Serial number: 437

[2021-09-17 12:03] prathimacode-hub opened #470 "Data Science with Python : Get Started with Natural Language Took Kit"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about gettng started with Natural Language Took Kit. Tutorial to Natural Language Took Kit and how it's used effectively with brief elaboration and usage.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", th

[2021-09-17 12:05] suvangi2205 commented on #352
Can I work on documentation part?

[2021-09-17 12:08] prathimacode-hub opened #471 "Data Science with Python : Normalization & Standardization"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Normalization & Standardization. Tutorial to Normalization & Standardization and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and

[2021-09-17 12:08] suvangi2205 commented on #267
Can I work on this issue?

[2021-09-17 12:08] prathimacode-hub commented on #467
More details needed. Kindly refer above. @sunidhii09

[2021-09-17 12:11] prathimacode-hub commented on #438
Issue assigned to @Sera001 for documentation.

@priyanshinaredi, You just missed up with few mins. Many more issues coming up. Or for this issue, you cna choose video / audio.

[2021-09-17 12:12] prathimacode-hub commented on #374
Issue assigned to @priyanshinaredi for documentation.

[2021-09-17 12:16] sunidhii09 commented on #467
Updated.

[2021-09-17 12:23] rohit-goyal commented on #249
Hello
My name is Rohit goyal
i am from Python Batch-6
i want to contribute/work in this issue via documentation

[2021-09-17 12:24] prathimacode-hub commented on #467
Issue assigned to @sunidhii09 for documentation.

[2021-09-17 12:25] rohit-goyal commented on #206
Hello
My  name is Rohit Goyal
I am from Python Batch-6
I would like to contribute to this issue in documentation form

[2021-09-17 12:29] ViAsmit commented on #66
@aaryan078  have you completed this issue?

[2021-09-17 12:29] samridhikapoor commented on #362
@prathimacode-hub maam,
I would like to work on this issue for the Video explanation. I be explaining the components and code by the medium of a ppt step by step. I will be using tensorflow and keras, and would gaze through a practical implemenation of the same as well.
I request you to please assign the video contributuion for this issue to me.

[2021-09-17 12:29] pankaj-Makhijani commented on #471
I would like to work on this.
Pankaj Makhijani - 432
Issue No - #471
Type: Doccumentation
Approach:
1 Feature Scaling?
2 What is Normalization?
3 What is Standardization?
4 Implementing Feature Scaling in Python
   a. Normalization using Sklearn library
   b. Standardization using Sklearn library

[2021-09-17 12:29] rohit-goyal commented on #111
Hello
My name is Rohit Goyal
I am Python Batch-6
I would like to contribute via documentation in this issue
Pls assign me

[2021-09-17 12:30] nimisha-yadav opened #473 "DSA 1.1.3.6 Arrays: Range Queries"
## Description
Provide the description and implementation of Square Root Decomposition Technique.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see

[2021-09-17 12:30] nimisha-yadav opened #474 "DSA 1.1.3.7 Arrays: Range Queries"
## Description
Discuss in detail about the Sparse table concept and its implementation.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the i

[2021-09-17 12:31] pragatia-64U commented on #380
i can contribute to this task. Can you assign it to me

[2021-09-17 12:32] pragatia-64U commented on #316
i can work on this issue. Can you assign it to me?

[2021-09-17 12:32] prathimacode-hub commented on #471
Issue assigned to @pankaj-Makhijani for documentation.

[2021-09-17 12:33] pragatia-64U commented on #313
I can work on this issue. Can you assign this to me?

[2021-09-17 12:33] Harsh-Chaudhary7 commented on #410
Thank you!

[2021-09-17 12:34] prathimacode-hub commented on #362
Issue is assigned to @samridhikapoor for video presentation.

[2021-09-17 12:34] ViAsmit commented on #136
@msramesh2k1 have you done with this issue?

[2021-09-17 12:35] FirdausJawed commented on #440
I want to contribute with documentation. Please assign it to me !!

[2021-09-17 12:35] FirdausJawed commented on #441
I want to contribute with documentation. Please assign it to me !!

[2021-09-17 12:36] ViAsmit commented on #136
@adityaraj079  I think you have two tasks assigned. can you tell me in which you are working so that I can assign other one to someone else

[2021-09-17 12:36] FirdausJawed commented on #395
I want to contribute with documentation. Please assign it to me !!

[2021-09-17 12:37] FirdausJawed commented on #380
I want to contribute with documentation. Please assign it to me !!

[2021-09-17 12:37] FirdausJawed commented on #341
I want to contribute with documentation. Please assign it to me !!

[2021-09-17 12:38] msramesh2k1 commented on #136
Yeah I had made Pull request and requested my mentor to validate my pull request

[2021-09-17 12:39] ViAsmit commented on #136
@msramesh2k1  you wrongly mentioned the issue, which was the video part, in the pull request. I corrected that

[2021-09-17 12:40] Kareem-negm commented on #397
Hello @freny24
If you don't select your issue yet,  I suggest you look at these issues
#414 , #432

[2021-09-17 12:40] FirdausJawed commented on #235
I want to contribute with documentation. Please assign it to me !!

[2021-09-17 12:41] msramesh2k1 commented on #136
Oops sry and thanks

[2021-09-17 12:45] motasimmakki commented on #473
Kindly assign me this one.
**Motasim (DSA batch-01)**

[2021-09-17 12:45] Jaya3112 commented on #394
I wish to contribute in the form of documentation. Assign me this work.

[2021-09-17 12:45] ayushjha952 commented on #448
Can you please assign this issue to me. I'd like to contribute in the form of documentation.
Ayush Jha
DSA batch3

[2021-09-17 12:46] motasimmakki commented on #474
Kindly assign me this one for documentation.
Motasim (DSA batch-01)

[2021-09-17 12:46] motasimmakki commented on #473
for documentation.

[2021-09-17 12:47] ayushjha952 commented on #448
Please assign this issue to me. I'd like to contribute in the form of documentation.
Ayush Jha
DSA batch3

[2021-09-17 12:49] nimisha-yadav commented on #473
Assigning this to you @motasimmakki for documentation, all the best!

[2021-09-17 12:51] samy0444 commented on #277
@Rohit-2602 , can I work on this?

[2021-09-17 12:51] motasimmakki commented on #473
Thankyou @nimisha-yadav

[2021-09-17 12:52] Jaya3112 commented on #297
I wish to contribute in the form of documentation. Assign me this work.

[2021-09-17 12:58] Kashika02 commented on #474
Kindly assing it to me , I'd like to contribute in a form of documentation .
Kashika parmar
Dsa batch 1

[2021-09-17 12:59] prathimacode-hub commented on #397
Issue number #416 is already assigned to @freny24

[2021-09-17 13:03] supriya-045 opened #476 "Competitive_Programming: Arrays"
I would like to write documentation on array in competitive programming from its theory to all practice questions.

Topics will be covered:
1. Introduction to Arrays
2. Multidimensional arrays
3. declaration and examples
4. Rotation of arrays
5. Product array puzzle

Please assign this issue to me.

[2021-09-17 13:04] paramsiddharth commented on #241
@thejayeshsoni Looks great to me! Please request assignment from an Android/Mobile domain supervisor.

[2021-09-17 13:10] helper-uttam commented on #213
Please refer to this mesage and review mt documentation work, should I raise a PR?  <a href="https://github.com/girlscript/winter-of-contributing/issues/213#issuecomment-921450802">see here</a>

[2021-09-17 13:15] SHAIMA-HAQUE opened #477 "Python 3.2: What are Membership and Identity Operators?"
### Description

- Explain what Membership and Identity Operators are
- Code Snippets explaining their working

### Note :
- Changes should be made inside the Python/ directory & Python branch.
- Issue only for GWOC'21 contributors.
- Issue will be assigned on a first come first serve basis, 1 Issue == 1 PR.
- In the PR, keep this issue's title as your PR's title.

Must follow: [Contributing Guide

[2021-09-17 13:15] msbuddhu commented on #448
Hey @pjdurden,
Shabi Kaushal this side. I am good with Data Structures and Algorithms. I can implement them in C/C++/Python lucidly as well as document it.

Shabi Kaushal (DSA Batch 05)
issue #448

[2021-09-17 13:16] SHAIMA-HAQUE commented on #477
Can I be assigned the documentation for this issue? @adityabisoi

[2021-09-17 13:23] msbuddhu commented on #66
Hey @ViAsmit,
Shabi Kaushal this side. I am good at Cross-platform development using Dart and Flutter. I can implement them in practice lucidly as well as document them. May you assign me this task?

Shabi Kaushal (Android Development with Flutter Batch 10)

[2021-09-17 13:23] msbuddhu commented on #134
Hey @ViAsmit,
Shabi Kaushal this side. I am good at Cross-platform development using Dart and Flutter. I can implement them in practice lucidly as well as document them. May you assign me this task?

Shabi Kaushal (Android Development with Flutter Batch 10)
issue #448

[2021-09-17 13:25] deepthi1107 commented on #141
sure, thanks for the opportunity.

[2021-09-17 13:26] deepthi1107 commented on #139
sure, thanks for the opportunity.

[2021-09-17 13:29] ron352 commented on #469
Sarmistha Sarna
Issue no: 469

Documentation
Approach: Introduction to GAN, Structure, Variations etc

[2021-09-17 13:29] priyaa-rawat commented on #477
I would like to contribute for the documentation.
Priya Rawat
Python batch 5

[2021-09-17 13:29] msbuddhu commented on #436
Hey @ViAsmit,
Shabi Kaushal this side. I am good at Data Structures and Algorithms. I can implement them in practice lucidly as well as document them. May you assign me this task?

Shabi Kaushal (DSA Batch 05)

[2021-09-17 13:36] guptapriya-83900 commented on #477
I want to contribute to this issue in the form of a document. Please assign me this issue.
Priya Gupta (Python Batch 4)

[2021-09-17 13:38] priyaa-rawat commented on #339
May I contribute for documentation.
Priya Rawat
Python batch-5
@adityabisoi

[2021-09-17 13:39] ketanraj15 commented on #313
I can work on the issue. Can you assign this to me?

[2021-09-17 13:44] aryanblouria commented on #470
Aryan Blouria
Serial number: 597
Documentation

Approach: Introduction to NLTK, Language Processing using NLTK and other relevant NLP applications

[2021-09-17 13:44] uditkatyal commented on #476
Hey pls assign this issue to me!

[2021-09-17 13:44] sc-07 commented on #274
### CSS BOX MODEL
---

- Description
- Components
- Appropriate Syntax

I am proficient with the use of the box model. I will use the above-mentioned layout to explain it. Please assign it to me.

[2021-09-17 13:45] aryanblouria commented on #417
Aryan Blouria
Serial No. 597
Documentation

Approach: what is XGB, how it works, python implementation

[2021-09-17 13:48] GenMech commented on #441
@nimisha-yadav I have created this issue and i would like to work on it pls add labels and assign it to me! Thanks
Gitesh Pareek
Batch-1

[2021-09-17 13:51] sc-07 commented on #272
### CSS Animations
___

- introduction
-The keyframes Rule ( keyframes )
- animation-name
- animation-duration
- Delay an Animation (animation-delay)
- Set How Many Times an Animation Should Run (animation-iteration-count)
- Specify the Speed Curve of the Animation (animation-direction)
- animation-timing-function
- Specify the fill-mode For an Animation (animation-fill-mode)
- animation

I am pro

[2021-09-17 13:51] LegendSumeet commented on #477
Can I be assigned the documentation for this issue? @adityabisoi

[2021-09-17 13:53] preeti-14-7 commented on #441
I want to contribute with documentation. Please assign it to me !!
DSA batch 3
preeti kumari yadav

[2021-09-17 13:53] msbuddhu commented on #152
Interested,
I'll add problems on Strings. Please assign me this task.

Shabi Kaushal (batch 10)

[2021-09-17 13:54] priyaa-rawat commented on #401
May I work on this too
Priya Rawat
batch-4
@Aryamanz29 @Kajol-Kumari

[2021-09-17 13:55] preeti-14-7 commented on #440
I would like to contribute to the documentation part of this task.
js batch 1
preeti kumari yadav

[2021-09-17 13:56] preeti-14-7 commented on #271
I would like to contribute to this issue via documentation.
frontend batch 5
preeti kumari yadav

[2021-09-17 13:57] sc-07 commented on #238
### HTML Forms
___

- Introduction
- HTML form attributes
- HTML form elements
- HTML input types
- HTML input attributes
- HTML Input form attributes

I would like to contribute on this topic with documentation in detail using the above-mentioned format.

[2021-09-17 13:57] YashashriGawande commented on #207
With a good knowledge of HTML  and its tags, I can work on this issue via documentation.
So please let me work on these issue.

[2021-09-17 13:58] nimisha-yadav commented on #441
Go ahead with your issue @GenMech, all the best!

[2021-09-17 13:58] GenMech commented on #474
@nimisha-yadav I have good hold on array and i would like to contribute to this one in well documented form as i see there is no assignee yet ,May you assign it to me
Gitesh Pareek
Batch-1

[2021-09-17 14:00] adityaraj079 commented on #136
Nopes this is the only task that i have been assigned till now.

[2021-09-17 14:01] YashashriGawande commented on #238
I would like to work on this issue via documentation, so  please let me handle this.

[2021-09-17 14:03] Subhradeep10 commented on #446
@nik09877 Assigned to you

[2021-09-17 14:03] adityaraj079 commented on #136
Also @ViAsmit You plz merge the PR made by @msramesh2k1 so that i can make my changes on that file

[2021-09-17 14:03] nimisha-yadav opened #482 "DSA 1.2.2.1 Algorithms: Recurrence Relations (Introduction)"
## Description
Explain recurrence relations and their properties.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been

[2021-09-17 14:04] nimisha-yadav opened #483 "DSA 1.2.2.2 Algorithms: Recurrence Relations"
## Description
Discuss Asymptotic Notations. What are Lower and Upper bounds? Describe their usages.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you s

[2021-09-17 14:04] nimisha-yadav opened #484 "DSA 1.2.2.3 Algorithms: Recurrence Relations"
## Description
How can you solve recurrences using Substitution Method? Discuss the approach and provide examples.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
-

[2021-09-17 14:04] nimisha-yadav opened #485 "DSA 1.2.2.4 Algorithms: Recurrence Relations"
## Description
How can you solve recurrences using Recursion Tree Method? Discuss the approach and provide examples.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-09-17 14:05] nimisha-yadav opened #486 "DSA 1.2.2.5 Algorithms: Recurrence Relations"
## Description
How are recurrences solved using Master Method? Discuss the approach, applications and the efficiency.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues)

[2021-09-17 14:05] prishita-s commented on #477
Can I be assigned for the documentation part of this issue? @adityabisoi

[2021-09-17 14:05] preeti-14-7 commented on #240
I would like to contribute to this topic via documentation.
fronted batch 5
preeti yadav

[2021-09-17 14:07] Subhradeep10 commented on #448
@ayushjha952 Assigned to you. Go ahead

[2021-09-17 14:07] AnnikaD0104 commented on #414
I would like to work on this issue  documentation serial no 147

[2021-09-17 14:07] siddhi-244 commented on #482
Siddhi Bhanushali
Dsa batch 1
I would like to try this

[2021-09-17 14:08] ayush-sleeping opened #487 "Android-Kotlin: 02.2 Collection in Kotlin"

[2021-09-17 14:08] LegendSumeet commented on #477
Can I be assigned for the documentation part of this issue? @adityabisoi

[2021-09-17 14:09] ayush-sleeping commented on #487
I would like to work on this issue. ( Collection in Kotlin )

[2021-09-17 14:09] girija0707 commented on #486
Girija Gupte dsa batch 1, I would like to work on this issue

[2021-09-17 14:09] aman12207 commented on #484
i would like to work on this issue
Aman Gupta

[2021-09-17 14:09] ViAsmit commented on #136
@adityaraj079 wait for some time. let mentor validate that PR. then  you can fo the changes

[2021-09-17 14:10] AbhinandanAdhikari commented on #380
Sir, i want to work on it.

[2021-09-17 14:10] preeti-14-7 commented on #447
I would like to work on this issue via the Documentation part .
dsa batch 3
preeti yadav

[2021-09-17 14:11] Subhradeep10 commented on #447
@preeti-14-7 Go for it, Assigned to you

[2021-09-17 14:11] aman12207 commented on #483
i would like to work on this issue.
Aman Gupta

[2021-09-17 14:12] preeti-14-7 commented on #452
I would like to work on this issue.
Name :-Preeti Kumari Yadav
DSA Batch:- 3
Type:- Documentation

[2021-09-17 14:14] cookieg13 commented on #452
Hi ! I would love to work on this issue. Can you please assign it to me? Debarati Ghatak DSA Batch3

[2021-09-17 14:14] cookieg13 commented on #450
Hi ! I would love to work on this issue. Can you please assign it to me? Debarati Ghatak DSA Batch3

[2021-09-17 14:15] RBiswa787 commented on #485
I would like to work on this issue.
Name: Biswadeep
Batch: 5
Serial No.: 958
Type: Documentation

[2021-09-17 14:15] uttarabahad commented on #431
Hello. Could I get assigned to this issue?
Name-Uttara Bahad
Serial No-328
Type: Documentation
Approach-Introduction, Sample example code with explanation, Advantages of Bayesian Regression.

[2021-09-17 14:20] Subhradeep10 commented on #452
@cookieg13 Go for it, assigned to you

[2021-09-17 14:23] #267 closed

[2021-09-17 14:25] vkaash-sharma commented on #194
I want to contribute to this issue please assign!

[2021-09-17 14:25] BhaswatiRoy commented on #79
Hello I am Bhaswati Roy I can contribute to this

[2021-09-17 14:25] Harshil-Jani commented on #482
Harshil Jani
DSA Batch 2
Can I try with Documentation?

[2021-09-17 14:26] GenMech commented on #483
@nimisha-yadav  I have a good hold on Array and i would like to contribute for the same as i see there is no one assigned yet, you can assign me for the same!
Gitesh Pareek
Batch-1

[2021-09-17 14:26] BhaswatiRoy commented on #245
I can contribute to this in any format

[2021-09-17 14:26] Dracarys0511 commented on #338
@adityabisoi can I contribute through audio in this issue?

[2021-09-17 14:27] anandhu720 commented on #297
@trip0le any updates

[2021-09-17 14:32] yashh18 commented on #477
Please assign this issue to me !
Type : Documentation
Yash Kataria(Python Batch-3)

[2021-09-17 14:34] BhaswatiRoy commented on #445
I am bhaswati roy from dswp batch 19
I would like to contribute for this.

[2021-09-17 14:35] BhaswatiRoy commented on #424
I am bhaswati roy from dswp batch 19
I would like to contribute for this.

[2021-09-17 14:35] vkaash-sharma commented on #316
i can work on this issue can you assign to me

[2021-09-17 14:35] BhaswatiRoy commented on #423
I am bhaswati roy from dswp batch 19
I would like to contribute for this.

[2021-09-17 14:37] SourabhSaraswat-191939 opened #489 "FRONTEND WITH FRAMEWORK: VueJS-1.1 => VueJS Intro (uses, benefits, scalability)"
Contributors are required to include an Introduction of VueJS which covers basic questions for a newcomer. like:-
What is VueJs?
Why do we use it?
What are its benefits?
etc ...

Also, make sure -
Avoid copy/paste, We will be checking.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
The task will be assigne

[2021-09-17 14:39] sitamadex11 commented on #487
yeah, you can start working.
Supervisor @rahulsain

[2021-09-17 14:39] geeky01adarsh commented on #486
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 14:39] LavleenAgrawal commented on #487
I want to make video content on this, May I ?
Lavleen Agrawal (Batch 5 - Android Kotlin)
@sitamadex11

[2021-09-17 14:40] geeky01adarsh commented on #485
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 14:40] JRManasa commented on #426
J R Manasa
Serial No.
Documentation
Batch 521

[2021-09-17 14:41] geeky01adarsh commented on #484
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 14:41] geeky01adarsh commented on #483
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 14:41] BhaswatiRoy commented on #427
I am bhaswati roy from dswp batch 19
I would like to contribute for this.

[2021-09-17 14:41] geeky01adarsh commented on #482
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 14:41] BhaswatiRoy commented on #382
I am bhaswati roy from dswp batch 19
I would like to contribute for this.

[2021-09-17 14:42] ayush-sleeping commented on #487
and I am working on documentation on this Topic

[2021-09-17 14:42] BhaswatiRoy commented on #381
I am bhaswati roy from dswp batch 19
I would like to contribute for this.

[2021-09-17 14:42] geeky01adarsh commented on #476
Name: Adarsh  Navneet Sinha
Batch: CP batch 1
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 14:42] geeky01adarsh commented on #474
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 14:42] AJgthb2002 commented on #452
@Subhradeep10 Arent the issues assigned on a first come basis?

[2021-09-17 14:42] sitamadex11 commented on #487
yes

[2021-09-17 14:42] BhaswatiRoy commented on #373
I am bhaswati roy from dswp batch 19
I would like to contribute for this.

[2021-09-17 14:43] geeky01adarsh commented on #450
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 14:43] Sakalya100 opened #491 "Android-Kotlin: 02.3 Loops in Kotlin"
I want to create and make the documentation for this topic. Kindly assign me this issue @rahulsain
Myself Sakalya Mitra(Batch 3 Android Dev with Kotlin)

[2021-09-17 14:43] Nikita512 commented on #149
Please assign me this issue, I want to make documentation for the issue.
Nikita Agrawal (Batch-12, Android-JAVA)

[2021-09-17 14:43] geeky01adarsh commented on #446
Name: Adarsh  Navneet Sinha
Batch: DSA batch 2
Type: Documentation
I want to work on the documentation of this issue. Please assign the documentation part to me.

[2021-09-17 14:43] BhaswatiRoy commented on #347
I am bhaswati roy from dswp batch 19
I would like to contribute for this.

[2021-09-17 14:44] AJgthb2002 commented on #486
I am Ananya Joshi from DSA batch 2
Can you pls assign this to me? I'd like to create documentation on this topic.

[2021-09-17 14:45] Nikita512 commented on #277
Please assign me this issue, I want to make documentation and audio content for the issue.
Nikita Agrawal (Batch-12, Android-JAVA)

[2021-09-17 14:49] Subhradeep10 commented on #452
@AJgthb2002 We have to do the batch preference also, Cause the superviser is for  DSA-Batch 3 , So we have to give the preference to DSA -Batch 3 Contruibuter first

[2021-09-17 14:50] Raghavshalu commented on #474
Name: Shalini Kumari
Batch: DSA batch 5
Type: Documentation
kindly assign documentation to me, please

[2021-09-17 14:51] sitamadex11 commented on #491
@Sakalya100 please change the number from 04.1 to 02.3

[2021-09-17 14:51] Sakalya100 commented on #466
Hello @prathimacode-hub
I am Sakalya from Batch 2 of DSWP
I want to work on this issue

[2021-09-17 14:51] AnnikaD0104 commented on #348
I would like to work in this issue serial no 147

[2021-09-17 14:52] Dracarys0511 commented on #234
Please allow me to work on this issue

[2021-09-17 14:52] ShubhamPatel01 commented on #445
I would like to work on this issue, which is issue no. 445
Name: Shubham Patel
Serial No. 104.
Type: Video
Approach:

- Introduction to Matplotlib library

-Several types of Visualization techniques using Matplotlib
-Alternatives of Matplotlib for visualization in Python

[2021-09-17 14:53] pjdurden opened #493 "DSA 1.1 Readme.md"
## Description
Contribute to the readme file of week 1 topic Arrays.

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request for a different task within t

[2021-09-17 14:53] theshredbox commented on #465
Name- Aryan Ahuja
serial no. 117
Type- Documentation
Approach- Image Distortion Correction

[2021-09-17 14:53] pjdurden opened #494 "DSA 1.2 Readme.md Analysis of Algorithms"
## Description
Contribute to the readme file of week 1 topic Analysis of Algorithms.

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request for a differe

[2021-09-17 14:54] Nikita512 opened #495 "Android-Java : 4.2 Android-Popup-Menu-Example"
Please assign me this issue, I want to make documentation/audio content for the issue.
Nikita Agrawal (Batch-12, Android-JAVA)

[2021-09-17 14:55] nayakaj commented on #27
@Aryamanz29
![WhatsApp Image 2021-09-17 at 20 24 06](https://user-images.githubusercontent.com/80377839/133803922-2e55b9b3-0c05-4403-8056-5d796841cd1f.jpeg)
plz look into this when im pushing it it is asking git password and username

[2021-09-17 14:55] lohith1392 commented on #494
I am not belonging to death but I am interested can I do

[2021-09-17 14:55] lohith1392 commented on #494
Dsa*

[2021-09-17 14:55] Samhitha-Jasti commented on #471
I would like to work on this.
Anjani Samhitha -209
Batch - 6
Issue No - #471
Type: Doccumentation
Approach:
Introduction to Normalization, Types of Normalization, Uses and Coding tutorial

[2021-09-17 14:56] Koustav-1250 commented on #282
I would like to work on this issue. Can you this issue to me as well.