[2021-10-30 05:01] I-ArchanaDash commented on #6777
Okay I will add these too

[2021-10-30 05:07] rohit-goyal commented on #6653
Hello
My name is Rohit Goyal
I would like to work on documentation part of this issue
pls assign it to me

[2021-10-30 05:08] rohit-goyal commented on #6777
Hello
My name is Rohit Goyal
I would like to work on documentation part of this issue
pls assign it to me

[2021-10-30 05:25] prathimacode-hub opened #6932 "Data Science with Python : Convert Images to Pencil Sketch using OpenCV"
If you had referred any resources, add them up in "DS Resources". Similarly, if you had used datasets, include them in "DS Datasets".

This issue which help in get better understanding of converting images into pencil sketch using OpenCV library in a detailed manner.

It's created on contributors request as mentioned in Discord channel.

Domain: Computer Vision

Mentors Assigned : Peehu Saxena | D

[2021-10-30 05:38] SUKHJIT-CYBER commented on #6128
Doing this as a Documentation Part
SUKHJIT-SINGH
/assign

[2021-10-30 05:40] SUKHJIT-CYBER commented on #6124
/assign

[2021-10-30 05:42] #3679 closed

[2021-10-30 05:43] SUKHJIT-CYBER commented on #3679
Leave This

[2021-10-30 05:43] TammanaNiharika commented on #6653
Documentation completed!

[2021-10-30 05:44] SUKHJIT-CYBER commented on #6124
/assign

[2021-10-30 05:44] TammanaNiharika commented on #6653
Successfully merged to python branch

[2021-10-30 05:44] #6653 closed

[2021-10-30 05:45] SUKHJIT-CYBER commented on #6124
SUKHJIT SINGH
Batch 8

[2021-10-30 05:51] soma2000-lang commented on #4905
Sorry for the late reply,I am working on it .

On Thu, Oct 28, 2021, 21:32 Sourabh Saraswat 191939 <
***@***.***> wrote:

[2021-10-30 06:00] Mrjoy832 opened #6934 "Jump Search Algorithm (CPP)"
### Description

I am Going  to add a brief introduction about Jump Search, algorithm of Jump Search and  CPP code implementing Jump Search.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscrip

[2021-10-30 06:01] AdityaNikhil commented on #5853
@prathimacode-hub
My apologies for raising the PR late as I was out of town.

[2021-10-30 06:01] Mrjoy832 commented on #6934
/assign

[2021-10-30 06:09] AdityaNikhil commented on #6932
**Serial no**: 815
**Batch**: 19
**Name**: Aditya Nikhil
**Type**: Video
**Outline**:
1. Brief introduction to OpenCV
2. Creating a pencil sketch effect using gaussian blur and B/W image.

[2021-10-30 06:31] nikki-priyaHIT commented on #6128
Nikki Priya
DSA Batch-2
Documentation
I want to work on this issue may i be assign for this issue?

[2021-10-30 06:35] nikki-priyaHIT commented on #74
may I work on this issue if no one have assigned?
Nikki Priya
Open Source Batch- 1
Documentation

[2021-10-30 06:35] subhendudash02 opened #6936 "[JS]: Graphics - WebGL"
### Description

# Description

Introducing the usage of 2-D and 3-D graphics in JavaScript and how WebGL can be used to create these graphics with some examples.

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of con

[2021-10-30 06:35] subhendudash02 commented on #6936
/assign

[2021-10-30 06:38] subhendudash02 commented on #6936
Seems the bot is not satisfied😕😕. @paramsiddharth Kindly check this issue, if it's valid kindly assign me.
Thank you.😊

[2021-10-30 06:40] nikki-priyaHIT commented on #3484
I want to work on this issue please assign this issue to me as I have alreary assigned 3 issues by using /assign have to assigned manually
Nikki Priya
Batch-2
documentation

[2021-10-30 06:41] anjalirai12 opened #6937 "[JS]: XMLHttpRequest"
### Description

**A Tutorial on XMLHttpRequest**

Topics to be covered in this documentation:

1.What is XMLHttpRequest?
2.How to send a XMLHttpRequest?
3.What are different methods and properties of XMLHttpRequest Object?

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-c

[2021-10-30 06:41] anjalirai12 commented on #6937
/assign

[2021-10-30 06:41] #6576 closed

[2021-10-30 06:42] ViAsmit commented on #6579
@Gagarod Please pull the latest changes, as some images were not correct in models.

[2021-10-30 06:47] I-ArchanaDash commented on #6777
@rohit-goyal I have already made a PR on this issue and working on the same also. You can continue with audio/video

[2021-10-30 06:52] saketsagarsingh commented on #3484
/assign

[2021-10-30 07:04] amaan118921 commented on #5863
/assign

[2021-10-30 07:08] yuvithakur007 opened #6940 "CSS-Borders"
### Description

All the information about CSS Borders.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-10-30 07:10] varnikarathee opened #6941 "Application of Box-Model in CSS"
### Description

Description
[Frontend]: Application of Box-Model in CSS

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_O

[2021-10-30 07:10] varnikarathee commented on #6941
/assign

[2021-10-30 07:12] yuvithakur007 commented on #6940
/assign

[2021-10-30 07:23] saniya44 commented on #6422
@adityabisoi
But this issue was assigned to me earlier, I also asked on discord while creating this issue. My video contribution is ready now. Due to laptop issue it took time.

Can see my video here : https://drive.google.com/file/d/1ZRmY4reUkYOiammkCU2xNX0okgKoo1EN/view?usp=sharing

It is more descriptive, otherwise my documentation is also ready plz assign me documentation will submit both vide

[2021-10-30 07:29] vandana3869 commented on #6777
@adityabisoi I would like to contribute to this issue in video format. Please assign :)

[2021-10-30 07:31] vandana3869 commented on #6500
@adityabisoi  please assign this issue for the video contribution

[2021-10-30 07:31] prathimacode-hub commented on #5853
No worries, I had reviewed. Do the changes suggested. @AdityaNikhil

[2021-10-30 07:34] prathimacode-hub commented on #6932
This is created on contributors request made on discord. You can choose audio/video or any other issue to work on. Before that do the changes addressed to the PR. Thankyou. @AdityaNikhil

[2021-10-30 07:37] #5261 closed

[2021-10-30 07:50] saketsagarsingh commented on #3662
Please approve and kindly merge this PR, if any changes you want then let me know.

[2021-10-30 07:57] Narotam-singh opened #6945 "Infix to Postfix using stack in C++"
### Description

Hey, I want to create documentation on converting infix expression to postfix using stack in c++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-10-30 07:58] garvitraj commented on #5556
@Binita-tech go with documentation

[2021-10-30 07:58] Narotam-singh commented on #6945
/assign

[2021-10-30 07:58] garvitraj commented on #5556
@Palak-Srivastava go with audio

[2021-10-30 08:00] rhythmjayee commented on #3662
@saketsagarsingh Try to add more Questions.

[2021-10-30 08:01] #6186 closed

[2021-10-30 08:16] Pradumnasaraf opened #6948 "Android Java: 02.23 Toolbar - Custom Action Bar"
### Description

* How to add a custom toolbar.
* How to add an icon in the toolbar.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-10-30 08:17] Pradumnasaraf commented on #6948
/assign

[2021-10-30 08:32] akratikushwah opened #6950 "Implementation of linked list"
### Description

Implementation of linked list

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-30 08:32] akratikushwah commented on #6950
/assign

[2021-10-30 08:33] Binita-tech commented on #6586
Please review my PR @garvitraj , @AkMo3

[2021-10-30 08:50] A-GHOSH-dev commented on #6325
/assign

[2021-10-30 08:58] A-GHOSH-dev commented on #6325
@koshimagoyal Can I work on this issue?
I am a GWoC'21 Participant.
While getting selected, I chose ML, OpenSource and Backend with Python as my 3 Domains. I have already contributed to those domains.
But am equally interested to work in Frontend Domain. Can I contribute here?

[2021-10-30 09:00] motasimmakki commented on #6248
@garvitraj
Kindly assign this to me for documentation.

[2021-10-30 09:05] aishanii opened #6951 "Movie Ticket Pricing System"
### Description

If you had referred any resources, add them up in "DS Resources". Similarly, if you had used datasets, include them in "DS Datasets".

This issue will help in getting a better understanding of 'Movie Ticket Pricing System' in a detailed manner.

It's created on contributors request as mentioned in Discord channel.

Domain: Machine Learning

Mentors Assigned : Aishani Singh| Dhruv

[2021-10-30 09:10] aishanii opened #6952 "Density-Based Spatial Clustering of Applications with Noise"
### Description

If you had referred any resources, add them up in "DS Resources". Similarly, if you had used datasets, include them in "DS Datasets".

This issue will help in getting a better understanding of **'Density-Based Spatial Clustering of Applications with Noise'** in a detailed manner.

It's created on contributors request as mentioned in Discord channel.

**Domain: Machine Learning**

[2021-10-30 09:17] surjyaneeh opened #6953 "Statistics: Skewness"
### Description

What is Skewness, types of Skewness, conclusions

### Domain

Statistics

### Type of Contribution

Audio, Video, Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-10-30 09:18] surjyaneeh commented on #6953
@itsIapetus please assign me .

[2021-10-30 09:18] A-GHOSH-dev commented on #4404
@Nileshmalav Please review the PR. Thank You.

[2021-10-30 09:23] A-GHOSH-dev commented on #6820
/assign

[2021-10-30 09:30] divya-chhoriya commented on #6932
/assign

[2021-10-30 09:30] PranavMasekar opened #6954 "Flutter: How to connect flutter app to firebase"
### Description

Create a readme.md file explaning the process to connect your app to firebase.
Reference: #6851

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-

[2021-10-30 09:31] PranavMasekar commented on #6954
/assign

[2021-10-30 09:33] anandhu720 commented on #4905
Please submit pr fast.It is already too late

[2021-10-30 09:33] anandhu720 commented on #4905
@soma2000-lang

[2021-10-30 09:48] Gagarod commented on #6579
@ViAsmit Can I make a few changes in the Call Model?

[2021-10-30 10:49] SourabhSaraswat-191939 commented on #4905
Yes @soma2000-lang, do it as soon as possible.

[2021-10-30 11:06] saniya44 opened #6957 "Exception Handling in C++"
### Description

Video about handling Exceptions in C++.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-30 11:06] saniya44 commented on #6957
/assoign

[2021-10-30 11:16] sirilalithaadapa commented on #5859
/assign

[2021-10-30 11:58] #6870 closed

[2021-10-30 12:01] Harsh652-cpu opened #6960 "Audio for Dynamic memory allocation in C"
### Description

I will contribute audio in Dynamic memory allocation in C.

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-10-30 12:01] Harsh652-cpu commented on #6960
/assign

[2021-10-30 12:10] #6389 closed

[2021-10-30 12:12] Niranjan5601 commented on #6581
/assign

[2021-10-30 12:24] #3509 closed

[2021-10-30 12:27] #6954 closed

[2021-10-30 12:36] #1651 closed

[2021-10-30 12:37] miraj0507 commented on #4025
Done

[2021-10-30 12:38] saniya44 commented on #6957
/assign

[2021-10-30 12:40] ShraddhaMeshram27 commented on #5320
Full name - Shraddha Meshram
Batch Number - ML batch 3
GitHub Profile Link - https://github.com/ShraddhaMeshram27
Contribution type: video

Would like to take up this issue and complete my work within 2 days positively.
Can you assign this issue to me?

[2021-10-30 12:49] s4-2 commented on #6936
@subhendudash02 It will be a great tutorial. Go for it. Might @paramsiddharth Sir is busy and have look into it in upcoming days for sure:-)

[2021-10-30 12:54] subhendudash02 commented on #6936
@s4-2  Okay, thank you very much for reviewing this😊. I will got for it.

[2021-10-30 13:05] Muskan-creator opened #6964 "DSA 4.1.1 Introduction to stacks-documentation"
### Description

## Description
Give an introduction and explain the working of stacks

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue

[2021-10-30 13:07] Muskan-creator opened #6965 "DSA 4.1.1.2 Introduction to stacks -Audio"
### Description

## Description
Give an introduction and explain the working of stacks.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue

[2021-10-30 13:09] Muskan-creator opened #6966 "DSA 4.1.1.3 Introduction to Stacks-video"
### Description

Give an introduction and explain the working of stacks

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already bee

[2021-10-30 13:11] Muskan-creator opened #6967 "DSA 4.1.2.1-Operations on stack -documentation"
### Description

## Description
Give an introduction and explain the operations performed on stacks

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see th

[2021-10-30 13:12] ShraddhaP123 commented on #6712
@prathimacode-hub, Predicting percentage of a student based on number of hours worked through linear regression

[2021-10-30 13:14] Muskan-creator opened #6968 "DSA 4.1.2.2- Operations on stack - (audio)"
### Description

## Description
Give an introduction and explain the operation performed on stack in audio format.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In

[2021-10-30 13:17] Muskan-creator opened #6969 "DSA 4.1.2.3- Operation on stack-(video)"
### Description

## Description
Give an introduction and explain the operations performed on stack in video format.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In

[2021-10-30 13:26] ayush-sleeping commented on #443
hey, @rahulsain because in past my mic. is not working properly , That's why I removed my self from "assign" . <br>
But now , I have my new mic. and its working properly . <b> Please "Assign" me this again for video on this issue . </b>

[2021-10-30 13:32] Kavindra-Mohan-Dwivedi commented on #6967
please assign this to me if not self assigned.

[2021-10-30 13:33] Kavindra-Mohan-Dwivedi commented on #6964
Please Assign this to me if not self assigned.

[2021-10-30 13:34] RaghavvGupta commented on #6826
/assign

[2021-10-30 13:42] #6825 closed

[2021-10-30 13:43] #6465 closed

[2021-10-30 13:44] #6948 closed

[2021-10-30 13:45] VikasPandey121 commented on #74
Yes sure @nikki-priyaHIT, I am assigning this issue to you as @kritika2311 has not provided any updates regarding this PR.

[2021-10-30 13:46] #6839 closed

[2021-10-30 13:46] #6622 closed

[2021-10-30 13:47] #6009 closed

[2021-10-30 13:48] #5994 closed

[2021-10-30 14:00] anmol20112000 opened #6971 "Navigation Drawer Menu in Android.."
I will explain Navigation Drawer Menu in Android..

[2021-10-30 14:00] anmol20112000 commented on #6971
/assign

[2021-10-30 14:01] anmol20112000 commented on #6971
/assign

[2021-10-30 14:05] #6971 closed

[2021-10-30 14:06] anmol20112000 opened #6973 "Context Menu in Android"
I will explain Context menu in Android....

[2021-10-30 14:07] anmol20112000 commented on #6973
/assign

[2021-10-30 14:09] anmol20112000 opened #6974 "Popup Menu in Android"
I will explain Popup Menu in Android in detail..

[2021-10-30 14:10] anmol20112000 commented on #6974
/assign

[2021-10-30 14:17] uzma024 commented on #6964
I would like to work on this issue.
Uzma Firoz Khan
DSA
Batch 10
Documentation.

[2021-10-30 14:18] uzma024 commented on #6966
I would like to work on this issue.
Uzma Firoz Khan
DSA
Batch 10
video.

[2021-10-30 14:19] nisha855 commented on #5900
Hey @nimisha-yadav, please review my PR and suggest changes if any...

[2021-10-30 14:43] Yashesvinee opened #6976 "Front-end: Syntactically Awesome StyleSheets (SASS)"
### Description

Sass, or "Syntactically Awesome StyleSheets", is a language extension of CSS

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blo

[2021-10-30 14:44] Yashesvinee commented on #6976
/assign Documentation

[2021-10-30 15:11] #6960 closed

[2021-10-30 15:22] amitrakshar01 commented on #6619
I will push it tomorrow, I was very sick

[2021-10-30 15:33] prathimacode-hub commented on #6932
Issue assigned to @divya-chhoriya for documentation

[2021-10-30 15:49] #6847 closed

[2021-10-30 15:53] #6766 closed

[2021-10-30 15:55] mukeshmjn commented on #5579
any updates @4neesc0des

[2021-10-30 15:57] dhruti29 commented on #6967
@Muskan-creator I would like to work on this issue.
BATCH - 2
Dhruti Gandhi

[2021-10-30 15:57] dhruti29 commented on #6964
@Muskan-creator I would like to work on this issue.
BATCH - 2
Dhruti Gandhi

[2021-10-30 16:20] TammanaNiharika opened #6978 "format() method in Python"
### Description

To explain the formatting of strings using ```format()``` method in python.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gith

[2021-10-30 16:20] TammanaNiharika commented on #6978
/assign

[2021-10-30 16:21] HastiSutaria commented on #6952
Name = Hasti Sutaria
Type = documentation
Approach = Practical implementation and theortical overview

[2021-10-30 16:21] HastiSutaria commented on #6952
/assign

[2021-10-30 16:21] HastiSutaria commented on #6952
I Would like to work on this in documentation format.

[2021-10-30 16:59] Harsh652-cpu opened #6979 "Audio for Introduction to structure in C"
### Description

I will do audio contribution on the topic Introduction to structure in C.

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-10-30 17:00] #2280 closed

[2021-10-30 17:00] Harsh652-cpu commented on #6979
/assign

[2021-10-30 17:02] eshan1925 commented on #6818
/assign

[2021-10-30 17:24] #3660 closed

[2021-10-30 17:47] rhythmjayee opened #6982 "DBMS [Cheat Sheet]"
### Description

DBMS(Database management system) mostly asked Questions and their answers.

### Domain

Interview Prep

### Type of Contribution

Audio, Video, Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contri

[2021-10-30 17:49] rhythmjayee opened #6983 "CN [Cheat Sheet]"
### Description

CN (Computer Networks) mostly asked Questions and Answers.

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-10-30 17:54] prathimacode-hub commented on #6952
Have you worked on changes addressed to your PR? @HastiSutaria

[2021-10-30 17:57] HastiSutaria commented on #6952
Yes @prathimacode-hub. I made the required changes yesterday itself

[2021-10-30 17:59] HastiSutaria commented on #6952
Also ma’am once you approve it. I am ready with another pr completed from my side is data science domain. So I will also create its pr.

[2021-10-30 18:25] ViAsmit commented on #6579
Yep... you can

[2021-10-30 21:29] sumitaccess007 opened #6989 "[Java 24.7]: Modifying Strings"
### Description

Description

Add audio, documentation, and video regarding the **`Modifying Strings`**

---

**Location of File to be added**
The files should be added inside the *`Modifying Strings`* which will be inside *`String Handling`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be in the `.m

[2021-10-30 21:31] sumitaccess007 opened #6990 "[Java 24.8]: Valueof, concat, join and case change methods"
### Description

Add audio, documentation, and video regarding the **`Valueof, concat, join and case change methods`**

---

**Location of File to be added**
The files should be added inside the *`String Methods`* which will be inside *`Valueof, concat, join and case change methods`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

[2021-10-31 01:22] shreya024 commented on #1306
@garvitraj Kindly close this issue.

[2021-10-31 01:31] Robinrai2612 commented on #6951
@prathimacode-hub  Ma'am I would like to work on this issue. I will explain all the necessary information and  code regarding it.

Type: Documentation
Sr No.: 146

[2021-10-31 01:57] elixir14082002 opened #6991 "C vs CPP"
### Description

I will be taking about the differences in the C and CPP language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-10-31 01:57] elixir14082002 commented on #6991
/assign

[2021-10-31 02:24] pragatikesarwani38 commented on #6990
/assign

[2021-10-31 02:26] pragatikesarwani38 commented on #6989
\assign documentation

[2021-10-31 02:27] pragatikesarwani38 commented on #6989
/assign documentation

[2021-10-31 02:28] pragatikesarwani38 commented on #6989
/assign

[2021-10-31 02:32] pragatikesarwani38 opened #6992 "[Android-Java]: How to connect your app with firebase"
### Description

How to connect your app with firebase, how to set rules for storage and realtime database.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribu

[2021-10-31 02:32] pragatikesarwani38 commented on #6992
/assign

[2021-10-31 02:32] pragatikesarwani38 commented on #6992
/assign

[2021-10-31 03:16] Yashesvinee commented on #6705
@sumitaccess007  I have created a PR. Please let me know if it requires any changes

[2021-10-31 04:25] prathimacode-hub commented on #6951
Issue assigned to @Robinrai2612 for documentation

[2021-10-31 04:26] prathimacode-hub commented on #6952
Sure, you can proceed. @HastiSutaria

[2021-10-31 05:11] AdityaNikhil commented on #6932
@prathimacode-hub Last PR approved. Can I work on video version of this now?!

[2021-10-31 05:16] nayakaj commented on #561
@adityabisoi  i would like to contribute

[2021-10-31 05:16] likitarai1 commented on #5893
@nimisha-yadav I have created PR #6996 . Have a look at it.

[2021-10-31 05:32] khushali452 commented on #6990
/assign

[2021-10-31 05:34] khushali452 commented on #6990
Glad to contribute documentation for the assigned topic :)

[2021-10-31 05:40] Isha307 opened #6997 "ML 7.1: Bootstrap Aggregation(A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bootstrap Aggregation_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you p

[2021-10-31 05:40] Isha307 opened #6998 "ML 7.1: Bootstrap Aggregation(D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bootstrap Aggregation_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you p

[2021-10-31 05:40] Isha307 opened #6999 "ML 7.1: Bootstrap Aggregation(V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bootstrap Aggregation_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you p

[2021-10-31 05:40] ashish-reddy-20-08 commented on #6997
@Isha307 , I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-10-31 05:41] geeythree opened #7000 "ML 7.5 Catboost (D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Catboost_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docume

[2021-10-31 05:41] Mann-tech13 commented on #6999
/assign

[2021-10-31 05:41] deepthi1107 commented on #6999
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.my approach: a detailed explanation

[2021-10-31 05:41] Mann-tech13 commented on #6998
/assign

[2021-10-31 05:42] divya-chhoriya commented on #7000
please assign me this issue

[2021-10-31 05:42] Isha307 commented on #6999
@deepthi1107 You work on it.

[2021-10-31 05:43] deepthi1107 commented on #6999
Thanks mam

[2021-10-31 05:43] khushali452 commented on #7000
/assign

[2021-10-31 05:43] geeythree opened #7001 "ML 7.5: Catboost (A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Catboost_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docume

[2021-10-31 05:44] riyasai22 commented on #7001
I would like to contribute to this issue. @geeythree
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: audio

[2021-10-31 05:44] ashish-reddy-20-08 commented on #6999
@Mann-tech13! , Please don't use "/assign" , As it is said by the GWOC team not to use it.

[2021-10-31 05:45] geeythree opened #7002 "ML 7.5: Catboost (V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Catboost_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docume

[2021-10-31 05:45] Isha307 opened #7003 "ML 7.2: Adaboost (D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Adaboost_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docume

[2021-10-31 05:45] Isha307 opened #7004 "ML 7.2: Adaboost (A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Adaboost_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docume

[2021-10-31 05:46] Isha307 opened #7005 "ML 7.2: Adaboost (V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Adaboost_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docume

[2021-10-31 05:46] uttarabahad commented on #7003
Name- Uttara Bahad
Batch Number- 3
GitHub Link- https://github.com/uttarabahad
Type of contribution- Documentation

[2021-10-31 05:47] geeythree opened #7006 "ML 7.9: Hidden Markov Model (D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Hidden Markov Model_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pre

[2021-10-31 05:49] geeythree opened #7007 "ML 7.9: Hidden Markov Model (A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Hidden Markov Model_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pre

[2021-10-31 05:49] Isha307 opened #7008 "ML 7.3: LGBM (D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_ LGBM_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documenta

[2021-10-31 05:50] Isha307 opened #7009 "ML 7.3: LGBM (A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_ LGBM_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documenta

[2021-10-31 05:50] Isha307 opened #7010 "ML 7.3: LGBM (V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_ LGBM_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documenta

[2021-10-31 05:50] Mann-tech13 commented on #6998
Name- Mann Shah
Batch Number- 3
GitHub Link- https://github.com/Mann-tech13
Type of contribution- Documentation

[2021-10-31 05:51] priyall commented on #6998
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-10-31 05:51] khushali452 commented on #7000
Name- Khushali Vasani
Batch Number- 3
GitHub Link- https://github.com/khushali452
Type of contribution- Documentation

[2021-10-31 05:52] geeythree opened #7011 "ML 7.9: Hidden Markov Model (V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Hidden Markov Model_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pre

[2021-10-31 05:52] khushali452 commented on #7008
Name- Khushali Vasani
Batch Number- 3
GitHub Link- https://github.com/khushali452
Type of contribution- Documentation

[2021-10-31 05:52] priyall commented on #7008
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-10-31 05:52] khushali452 commented on #7008
/assign

[2021-10-31 05:53] ashish-reddy-20-08 commented on #7005
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-10-31 05:53] Yugal41735 commented on #6599
sorry due to some urgent work i was not able to make my pr yesterday, just a little bit of work left i will make pr by today

[2021-10-31 05:53] Isha307 opened #7012 "ML 7.4: XGBoost (D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_XGBoost_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documen

[2021-10-31 05:53] Isha307 opened #7013 "ML 7.4: XGBoost (A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_XGBoost_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documen

[2021-10-31 05:53] Isha307 opened #7014 "ML 7.4: XGBoost (V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_XGBoost_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documen

[2021-10-31 05:54] Shivangik01 commented on #7013
Name: Shivangi Kochrekar
Batch: 3
Github Link: https://github.com/Shivangik01
Type: Audio
I would like to contribute to this issue.

[2021-10-31 05:54] Mann-tech13 commented on #7006
Name- Mann Shah
Batch Number- 3
GitHub Link- https://github.com/Mann-tech13
Type of contribution- Documentation

[2021-10-31 05:55] ashish-reddy-20-08 commented on #7010
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-10-31 05:55] geeythree opened #7015 "ML 7.10: Viterbi Algorithm (D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Viterbi Algorithm_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefe

[2021-10-31 05:55] Mann-tech13 commented on #7006
/assign

[2021-10-31 05:55] raina-akshay commented on #7000
self-assigns should be avoided.

[2021-10-31 05:56] Isha307 commented on #7013
@Shivangik01 Issue assigned to you 🚀

[2021-10-31 05:56] Isha307 commented on #6997
@ashish-reddy-20-08 Issue assigned to you 🚀

[2021-10-31 05:56] deepthi1107 commented on #7004
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audio on this issue.my approach: a detailed explanation @Isha307

[2021-10-31 05:57] geeythree opened #7016 "ML 7.10: Viterbi Algorithm (A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Viterbi Algorithm_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefe

[2021-10-31 05:57] raina-akshay commented on #7010
assigned to @ashish-reddy-20-08

[2021-10-31 05:57] khushali452 commented on #7000
okay @raina-akshay

[2021-10-31 05:57] priyall commented on #7015
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-10-31 05:57] Isha307 commented on #7001
@riyasai22 Issue assigned to you 🚀

[2021-10-31 05:58] kishlayaug15 commented on #7010
Name - Kishlay Kumar
Batch - 4
Serial No - 673
GithubLink :- https://github.com/kishlayaug15
Approach: A detailed explanation with Audio

[2021-10-31 05:58] raina-akshay commented on #7015
happy contributing @priyall

[2021-10-31 05:58] kishlayaug15 commented on #7011
Name - Kishlay Kumar
Batch - 4
Serial No - 673
GithubLink :- https://github.com/kishlayaug15
Approach: A detailed explanation with Audio

[2021-10-31 05:58] geeythree opened #7017 "ML 7.10: Viterbi Algorithm (V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Viterbi Algorithm_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefe

[2021-10-31 05:58] kishlayaug15 commented on #7005
Name - Kishlay Kumar
Batch - 4
Serial No - 673
GithubLink :- https://github.com/kishlayaug15
Approach: A detailed explanation with Audio

[2021-10-31 05:59] Isha307 commented on #7008
@khushali452 You cannot use this "assign" tag.

[2021-10-31 05:59] kishlayaug15 commented on #7002
Name - Kishlay Kumar
Batch - 4
Serial No - 673
GithubLink :- https://github.com/kishlayaug15
Approach: A detailed explanation with examples

[2021-10-31 05:59] raina-akshay commented on #7011
happy contributing @kishlayaug15

[2021-10-31 05:59] khushali452 commented on #7008
@Isha307 Please Assign me this Documentation... I am having only 2 open issues and i assure you to submit it within 2-3 days

[2021-10-31 05:59] kishlayaug15 commented on #6999
Name - Kishlay Kumar
Batch - 4
Serial No - 673
GithubLink :- https://github.com/kishlayaug15
Approach: A detailed explanation with examples

[2021-10-31 06:00] kishlayaug15 commented on #6952
Name - Kishlay Kumar
Batch - 4
Serial No - 673
GithubLink :- https://github.com/kishlayaug15
Approach: A detailed explanation with Audio

[2021-10-31 06:00] kishlayaug15 commented on #6951
Name - Kishlay Kumar
Batch - 4
Serial No - 673
GithubLink :- https://github.com/kishlayaug15
Approach: A detailed explanation with Audio

[2021-10-31 06:01] khushali452 commented on #7008
@Isha307 Okay ..my bad!

[2021-10-31 06:01] Isha307 commented on #6998
@priyall Issue assigned to you 🚀, @Mann-tech13 One issue at a time and also don't use the self assign.

[2021-10-31 06:01] raina-akshay commented on #7005
@ashish-reddy-20-08 @kishlayaug15
already assigned issues.

[2021-10-31 06:02] raina-akshay commented on #7004
happy contributing @deepthi1107

[2021-10-31 06:03] purvanshgarg commented on #7012
Purvansh Garg
Batch no 2
https://github.com/purvanshgarg
Documentation

[2021-10-31 06:03] raina-akshay commented on #7002
@kishlayaug15 not more than 1 issue at a time

[2021-10-31 06:04] AdityaNikhil commented on #7014
**Full name** : Aditya Nikhil
**Batch Number** : 2
**GitHub Profile Link** : github.com/adityanikhil
**Which type of Contribution you want to make** :
Video

[2021-10-31 06:05] AdityaNikhil commented on #7005
**Full name** : Aditya Nikhil
**Batch Number** : 2
**GitHub Profile Link** : github.com/adityanikhil
**Which type of Contribution you want to make** :
Video

[2021-10-31 06:05] TishaJhabak1014 commented on #7009
Name: Tisha Jhabak
github: https://github.com/TishaJhabak1014
Type: Doc.
batch: 6
Please assign me this.

[2021-10-31 06:05] raina-akshay commented on #7008
happy contributing @khushali452

[2021-10-31 06:06] deepthi1107 commented on #7016
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audio on this issue.my approach: a detailed explanation

[2021-10-31 06:06] raina-akshay commented on #7005
assigned to @AdityaNikhil

[2021-10-31 06:06] deepthi1107 commented on #7007
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audio on this issue.my approach: a detailed explanation

[2021-10-31 06:07] Mann-tech13 commented on #6998
okay @Isha307

[2021-10-31 06:07] raina-akshay commented on #5320
go for it @ShraddhaMeshram27

[2021-10-31 06:09] raina-akshay commented on #7009
@TishaJhabak1014 this is audio-contribution.

[2021-10-31 06:10] raina-akshay commented on #7016
can't take up multiple issues at a time @deepthi1107

[2021-10-31 06:11] TishaJhabak1014 commented on #7009
Oh yes, updated, Thank you.

[2021-10-31 06:12] riyasai22 commented on #7014
I would like to contribute to this issue. @Isha307
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: video

[2021-10-31 06:12] raina-akshay commented on #7009
assigned to @TishaJhabak1014

[2021-10-31 06:13] raina-akshay commented on #7007
@deepthi1107 1 issue at a time

[2021-10-31 06:19] #6997 closed

[2021-10-31 06:20] riyasai22 commented on #7007
I would like to contribute to this issue. @geeythree
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: audio

[2021-10-31 06:21] raina-akshay commented on #7007
assigned to @riyasai22

[2021-10-31 06:23] Pranshu321 opened #7023 "C_CPP : Exception handling in C"
### Description

### In this, I will cover what are points should take care of while writing efficient code and how exceptions should be handled with types of exceptions.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct

[2021-10-31 06:23] Pranshu321 commented on #7023
/assign

[2021-10-31 06:26] ashish-reddy-20-08 commented on #7017
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-10-31 06:31] #6999 closed

[2021-10-31 06:33] ron352 commented on #7016
Hi I am Sarna
Can I work on this issue?

[2021-10-31 06:33] #7004 closed

[2021-10-31 06:33] #6747 closed

[2021-10-31 06:34] #7010 closed

[2021-10-31 06:35] deepthi1107 commented on #7014
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.my approach: a detailed explanation

[2021-10-31 06:38] ashish-reddy-20-08 commented on #7017
@raina-akshay @geeythree , Can you please assign me this.

[2021-10-31 06:38] raina-akshay commented on #7016
happy contributing @ron352

[2021-10-31 06:45] riyasai22 commented on #7001
@geeythree I have completed my PR on this topic. Kindly review my pr please. :)

[2021-10-31 06:47] NikitaEmberi commented on #7002
Nikita Bhrugumaharshi Emberi
Domain-Machine Learning
Batch-6
Serial No-992
type - video

[2021-10-31 06:47] anisha-01-phoenix commented on #6057
/assign

[2021-10-31 06:49] raina-akshay commented on #7002
to you @NikitaEmberi

[2021-10-31 06:50] #7001 closed

[2021-10-31 06:58] #7017 closed

[2021-10-31 07:01] #7007 closed

[2021-10-31 07:06] raina-akshay commented on #6612
@kokila-Manogar ?

[2021-10-31 07:07] #7014 closed

[2021-10-31 07:08] raina-akshay commented on #6616
@vishvarana ?

[2021-10-31 07:27] HastiSutaria commented on #5852
@ankit-kmar @prathimacode-hub Since my PR is merged. May you please close the issue so that i can work on some other.

[2021-10-31 07:46] #6877 closed

[2021-10-31 07:46] #6878 closed

[2021-10-31 08:02] pragatikesarwani38 commented on #6992
/assign

[2021-10-31 08:03] prathimacode-hub commented on #6951
Issue assigned to @kishlayaug15 for audio contribution

[2021-10-31 08:29] Apoorv-17 commented on #1785
I would like to work on this issue.
Name: Apoorv Yadav
Batch: 07
Type: Video

[2021-10-31 09:13] #5296 closed

[2021-10-31 09:15] riyapandey730 commented on #6813
/assign

[2021-10-31 10:16] deepthi1107 commented on #1525
Hello mam @prathimacode-hub, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-10-31 10:24] varunborar commented on #5166
\assign Documentation

[2021-10-31 10:54] neerajdhakad opened #7034 "Barber Time App"
### Description

Barber Time App will help the customers to book their appointment online , the App design will include following  :-

-  Login & signup screens
-  Homescreen
-  Barber details screen
- Book Appointment Screens
- Payment screens
- Profile screens

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github

[2021-10-31 10:54] neerajdhakad commented on #7034
/assign

[2021-10-31 10:59] Muskan-creator commented on #6967
@dhruti29 go ahead

[2021-10-31 11:00] Muskan-creator commented on #6964
@Kavindra-Mohan-Dwivedi go ahead

[2021-10-31 11:02] Muskan-creator commented on #6966
@uzma024 sure

[2021-10-31 11:10] Pushkar03 commented on #6982
/assign

[2021-10-31 11:10] prathimacode-hub commented on #1525
Issue assigned to @deepthi1107 for audio contribution

[2021-10-31 11:19] #6307 closed

[2021-10-31 11:29] Nandani-koli opened #7036 "What is Subarray and Subsequence ?"
### Description

Description
- What is Subarray and subsequence?
- Difference between them.
- Program to print subarray and subsequence.

*Will add this File in C_Cpp/Data Structures/Array*

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md)

[2021-10-31 11:30] Nandani-koli commented on #7036
/assign

[2021-10-31 11:44] neerajdhakad commented on #7034
\assign

[2021-10-31 11:54] Ruchika-20 commented on #6908
I would like to work on this issue

[2021-10-31 11:56] Kajal13081 commented on #6092
/assign

[2021-10-31 12:02] mayankkuthar commented on #6836
/assign

[2021-10-31 12:03] nimisha-yadav commented on #1785
Great @Apoorv-17, it's good to see someone working on an old topic, there're few more [such issues](https://github.com/girlscript/winter-of-contributing/issues?page=1&q=is%3Aopen+label%3AUp-For-Grabs+DSA), feel free to take them up too.

[2021-10-31 12:05] sitamadex11 commented on #6094
@VikasPandey121 please look into it.

On Sun, 31 Oct 2021, 5:27 pm github-actions[bot], ***@***.***>
wrote:

[2021-10-31 12:09] #474 closed

[2021-10-31 12:13] #5920 closed

[2021-10-31 12:20] singhmansi25 commented on #6908
@Ruchika-20
I have opened the issue, so would like to work on it.
You can add changes later, if you feel so.
Thanks.

[2021-10-31 12:24] Ruchika-20 commented on #6908
We can open the issues and work on them?

Then I would too like todo the same as I'm unable to get issues

On Sun, Oct 31, 2021, 5:50 PM MANSI SINGH ***@***.***> wrote:

[2021-10-31 12:26] singhmansi25 commented on #6908
Yes @Ruchika-20 , you can create issues on your own. and work on them.

[2021-10-31 12:28] Ruchika-20 commented on #6908
Do I need to get the permission of supervisors or inform them....whya do I
have to do?

On Sun, Oct 31, 2021, 5:57 PM MANSI SINGH ***@***.***> wrote:

[2021-10-31 12:29] singhmansi25 commented on #6908
Yes you need to create issue
and ask supervisor to assign issue to you
and then work on it

[2021-10-31 12:30] Ruchika-20 commented on #6908
Okaaayyy and that issue can be any topic of DSWP?

On Sun, Oct 31, 2021, 5:59 PM MANSI SINGH ***@***.***> wrote:

[2021-10-31 12:35] singhmansi25 commented on #6908
you can check the repo and create accordingly

[2021-10-31 12:41] prathimacode-hub commented on #6932
Yes, you can. Issue assigned to @AdityaNikhil for video contribution

[2021-10-31 12:49] prathimacode-hub commented on #6908
@singhmansi25 @Ruchika-20, process is wrong. You can create issue only if its approved that was when I was into limited access due to laptop issue. But it resumed back to normal. Since @singhmansi25 has raised issue then it's considered. But now it's back to normal, issues would be created by mentors and supervisor, you have to express interest and get it assigned. If you would like to work on any

[2021-10-31 12:50] prathimacode-hub commented on #6908
Issue assigned to @singhmansi25 for documentation

[2021-10-31 12:59] Ruchika-20 commented on #6908
Okkk

On Sun, Oct 31, 2021, 6:20 PM Prathima Kadari ***@***.***>
wrote:

[2021-10-31 13:12] singhmansi25 commented on #6908
So, from now on we can't create new issues ?
@prathimacode-hub

[2021-10-31 13:22] abhisheks008 opened #7044 "ML 7.6 : Bayesian Network (A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bayesian Network_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-31 13:23] abhisheks008 opened #7045 "ML 7.6 : Bayesian Network (D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bayesian Network_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-31 13:24] priyanshu688 commented on #6967
@Muskan-creator Can you please assign this issue to me ?

[2021-10-31 13:24] abhisheks008 opened #7046 "ML 7.6 : Bayesian Network (V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bayesian Network_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-31 13:25] abhisheks008 opened #7047 "ML 7.7 : Latent Variables (A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Latent Variables_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-31 13:26] riyasai22 commented on #7044
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: audio

[2021-10-31 13:26] abhisheks008 opened #7048 "ML 7.7 : Latent Variables (D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Latent Variables_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-31 13:27] abhisheks008 opened #7049 "ML 7.7 : Latent Variables (V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Latent Variables_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-31 13:28] abhisheks008 commented on #7044
Issue assigned to you @riyasai22

[2021-10-31 13:29] abhisheks008 opened #7050 "ML 7.8 : Gaussian Mixture Models (A)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Gaussian Mixture Models_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you

[2021-10-31 13:31] abhisheks008 opened #7051 "ML 7.8 : Gaussian Mixture Models (D)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Gaussian Mixture Models_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you

[2021-10-31 13:32] abhisheks008 opened #7052 "ML 7.8 : Gaussian Mixture Models (V)"
### Description

### 📌  Issues for Week 7
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Gaussian Mixture Models_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you

[2021-10-31 13:37] priyanshu688 commented on #6924
@I-ArchanaDash Can you please assign this issue to me ?

[2021-10-31 13:42] srini047 commented on #7045
Hi, I would like to work on this issue.

Name: Sriniketh J
Batch No: 1
Profile: https://github.com/srini047/
Type: Documentation

[2021-10-31 13:43] abhisheks008 commented on #7045
Issue assigned to you, complete it within 3 days positively. @srini047

[2021-10-31 13:45] Pratyaksha-047 commented on #7047
Name-Pratyaksha Gupta
Batch- ML batch 3
Github profile link- https://github.com/Pratyaksha-047
Type of contribution- audio

[2021-10-31 13:45] srini047 commented on #7045
Definitely @abhisheks008

[2021-10-31 13:45] #6618 closed

[2021-10-31 13:46] rifafatima commented on #6577
Can I work on this issue?

[2021-10-31 13:46] #6619 closed

[2021-10-31 13:47] Isha307 commented on #7047
@Pratyaksha-047 Issue assigned to you 🚀

[2021-10-31 13:48] usgn94 commented on #583
@manjeetdhayal  if no pull request has been made on documentation by the previous assignee yet. Could you assign this issue to me

[2021-10-31 13:49] deepthi1107 commented on #7050
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audio on this issue.my approach: a detailed explanation

[2021-10-31 13:50] manjeetdhayal commented on #583
sure go ahead!

[2021-10-31 13:50] ashish-reddy-20-08 commented on #7049
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-10-31 13:51] abhisheks008 commented on #7050
Issue assigned to you @deepthi1107

[2021-10-31 13:51] abhisheks008 commented on #7049
Issue assigned to you @ashish-reddy-20-08

[2021-10-31 13:53] abhisheks008 commented on #6597
@tanvideshmukh29 ?

[2021-10-31 13:53] singhmansi25 opened #7053 "[DSA]: Dynamic Programming - 0/1 Knapsack Problem in Java"
### Description

**Description:** The issue deals with explanation of Dynamic Programming Problem- 0/1 Knapsack problem.
The documentation will contain- Problem statement, Approach to problem, Solution of Problem in Java, Backtracking.
Name - Mansi Singh
Batch - 3
Type - documentation

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guide

[2021-10-31 13:53] abhisheks008 commented on #6608
@jannatulferdaws  ?

[2021-10-31 13:55] riyasai22 commented on #7046
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: video

[2021-10-31 13:56] abhisheks008 commented on #7045
@srini047 Make sure you make the contribution in the `Ensemble_based_Learning_&_Probabilistic_ML` folder.

[2021-10-31 13:57] abhisheks008 commented on #7047
@Pratyaksha-047 make sure you make the PR in the `Ensemble_based_Learning_&_Probabilistic_ML` folder.

[2021-10-31 13:57] srini047 commented on #7045
Okay

[2021-10-31 13:57] abhisheks008 commented on #7049
Make sure you make the PR in the `Ensemble_based_Learning_&_Probabilistic_ML` folder @ashish-reddy-20-08

[2021-10-31 13:58] abhisheks008 commented on #7050
Make sure you make the PR in the `Ensemble_based_Learning_&_Probabilistic_ML` folder @deepthi1107

[2021-10-31 14:00] abhisheks008 commented on #7046
You can start working on it @riyasai22

[2021-10-31 14:01] #7044 closed

[2021-10-31 14:03] samipak458 opened #7056 "Introduction To CSS"
### Description

- All about **CSS**
- Why **CSS** is so important?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-10-31 14:03] samipak458 commented on #7056
/assign

[2021-10-31 14:06] ashish-reddy-20-08 commented on #7052
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

@abhisheks008

[2021-10-31 14:06] deepthi1107 commented on #7048
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do documentation on this issue.my approach: a detailed explanation

[2021-10-31 14:10] priyanshu688 opened #7058 "[Front End- WebDev]: HTML Tables"
### Description

Briefly discuss HTML Tables.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proje

[2021-10-31 14:10] Isha307 commented on #7052
@ashish-reddy-20-08 Issue assigned to you.

[2021-10-31 14:11] Isha307 commented on #7048
@deepthi1107 Issue assigned to you.

[2021-10-31 14:11] #7050 closed

[2021-10-31 14:12] priyanshu688 commented on #7058
/assign

[2021-10-31 14:12] #7049 closed

[2021-10-31 14:20] I-ArchanaDash commented on #6924
Hey @priyanshu688 , I'm also one of the contributors just like you and have opened this issue for myself.

[2021-10-31 14:34] 1PRatgit commented on #6833
/assign

[2021-10-31 14:35] riyasai22 commented on #7051
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: documentation

[2021-10-31 14:36] Harshkumar62367 commented on #6835
Pls review my pr @Aryamanz29

[2021-10-31 14:43] #7058 closed

[2021-10-31 14:44] prathimacode-hub commented on #6952
You had assigned to other issue also i think? @kishlayaug15

[2021-10-31 14:45] #7052 closed

[2021-10-31 14:47] #6616 closed

[2021-10-31 14:47] prathimacode-hub opened #7063 "Data Science with Python : Cheatsheet on Open CV Library"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get a detailed Cheatsheet on OpenCV library.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you

[2021-10-31 14:48] priyanshu688 opened #7064 "[Front-End: WebDev]: CSS Styling List"
### Description

Briefly discuss about CSS Styling List.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-10-31 14:48] priyanshu688 commented on #7064
/assign

[2021-10-31 14:49] #7046 closed

[2021-10-31 14:52] riyasai22 commented on #7051
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: documentation

[2021-10-31 15:01] #6976 closed

[2021-10-31 15:08] singhmansi25 commented on #7063
@prathimacode-hub
Please assign me this issue

[2021-10-31 15:09] prathimacode-hub commented on #7063
Issue assigned to @singhmansi25 for documentation

[2021-10-31 15:23] singhmansi25 commented on #7063
Please assign me the issue
serial number - 518
type of contribution - documentation
approach - I will be creating a documentation which contains cheatsheet for OpenCV library of Python, it will include a .ipynb file for visualization and images folder for better understanding

[2021-10-31 15:24] singhmansi25 commented on #6908
@prathimacode-hub, will you close this issue or do I need to close it.

[2021-10-31 15:26] anandhu720 commented on #6000
@nooobcoder any updates

[2021-10-31 15:27] anandhu720 commented on #6001
@Hritik157 any updates,please respond

[2021-10-31 15:27] shrestharushika commented on #7051
Name- Rushika Shrestha
Batch:1
Contribution type: documentation
Profile link: https://github.com/shrestharushika

[2021-10-31 15:28] anandhu720 commented on #6002
@Saurabh-crypto16 any updates

[2021-10-31 15:28] Isha307 commented on #7051
Issue assigned to you @riyasai22

[2021-10-31 15:29] anandhu720 commented on #6322
@RIYANSHGARG any updates

[2021-10-31 15:29] shrestharushika commented on #7048
Name- Rushika Shrestha
Batch:1
Contribution type: documentation
Profile link: https://github.com/shrestharushika

[2021-10-31 15:30] anandhu720 commented on #3655
@its-me-Harsh-Anand do you want to work on it

[2021-10-31 15:32] Yashesvinee commented on #6976
@2024-SANDHYA  all topics from the roadmap has been covered

[2021-10-31 15:32] Yashesvinee commented on #6976
Aren't we allowed to make our own issues related to the domain?

[2021-10-31 15:47] sumitaccess007 opened #7067 "[Java 24.9]:"
### Description

Add audio, documentation, and video regarding the **`String buffer introduction`**

---

**Location of File to be added**
The files should be added inside the *`String Buffer`* which will be inside *`String Handling`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be in the `.md/.py/.i

[2021-10-31 15:49] sumitaccess007 opened #7068 "[Java 24.10]: Importants methods of string buffer"
### Description

Add audio, documentation, and video regarding the **`Importants methods of string buffer`**

---

**Location of File to be added**
The files should be added inside the *`String Buffer Methods`* which will be inside *`String Handling`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be i

[2021-10-31 15:51] vineetsingh0809 opened #7069 "Two sorted Arrays without extra space"
### Description

Given two sorted arrays, we need to merge them in O((n+m)*log(n+m)) time with O(1) extra space into a sorted array, when n is the size of the first array, and m is the size of the second array.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-10-31 15:52] vineetsingh0809 commented on #7069
/assign

[2021-10-31 15:55] 2024-SANDHYA commented on #6976
Sass is a different topic in itself.  Create issues within HTML JS & CSS that's it !!

[2021-10-31 16:09] its-me-Harsh-Anand commented on #3655
Yes, I want to work on this

[2021-10-31 16:21] anandhu720 commented on #3655
Go for it

[2021-10-31 16:21] prathimacode-hub commented on #6908
Don't close. @singhmansi25

[2021-10-31 16:26] Drontitan commented on #6795
/assign

[2021-10-31 16:30] Drontitan commented on #1469
/assign

[2021-10-31 16:55] #6777 closed

[2021-10-31 16:55] #6671 closed

[2021-10-31 17:01] ishrutik opened #7072 "[DSA]: Linked List:C++:Odd Even Linked List"
### Description

Given the head of a singly linked list, group all the nodes with odd indices together followed by the nodes with even indices, and return the reordered list. Implemented in C++

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.m

[2021-10-31 17:02] ishrutik commented on #7072
/assign

[2021-10-31 17:07] 55ritesh commented on #6281
/assign

[2021-10-31 17:17] 55ritesh commented on #1047
/assign

[2021-10-31 17:25] PurviBhoyar21 commented on #6841
@Aryamanz29
 Can you please explain "Marlin" in 1 sentence just for more clarity.

[2021-10-31 17:25] adityabisoi commented on #6422
Since the video is more descriptive, you can add it to the same folder, and create a PR.

[2021-10-31 17:26] adityabisoi commented on #6500
@iamtanya-22 Audio??

[2021-10-31 17:30] I-ArchanaDash opened #7073 "Abstract class in C++"
### Description

This documentation will explain about the abstract class in c++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-10-31 17:31] I-ArchanaDash commented on #7073
/assign

[2021-10-31 17:33] varunborar commented on #7068
/assign Documentation

[2021-10-31 17:37] #6281 closed

[2021-10-31 17:55] riyapandey730 commented on #6795
/assign

[2021-10-31 18:03] riyapandey730 commented on #6813
/assign

[2021-10-31 18:07] riyapandey730 commented on #6813
/assign

[2021-10-31 18:09] Safwan310 commented on #6901
/assign

[2021-10-31 18:19] shreya024 commented on #6045
/assign

[2021-10-31 18:26] Saviour1001 commented on #5838
Closing this as the PR got merged !!

[2021-10-31 18:26] #5838 closed

[2021-10-31 18:31] RIYANSHGARG commented on #6322
I will create pr by tommorow.

[2021-10-31 18:52] #6800 closed

[2021-10-31 19:12] khushali452 commented on #6990
@sumitaccess007 in which folder shall i contribute?
Important_string_methods folder? or i have to create a new folder?

[2021-10-31 21:02] sumitaccess007 commented on #6990
Yes, @khushali452 You can go ahead with this folder name Important_String_Methods

[2021-11-01 00:14] #5893 closed

[2021-11-01 03:14] #6623 closed

[2021-11-01 04:54] surjyaneeh commented on #6953
@itsIapetus please assign me .

[2021-11-01 05:06] khushali452 commented on #6990
Okay!

[2021-11-01 05:20] ASLManasa commented on #7053
/assign

[2021-11-01 05:29] ASLManasa opened #7080 "[Create New Issue]: Heap Sort"
### Description

Description: Heap sort is a comparison-based sorting technique based on Binary Heap data structure. It is similar to selection sort where we first find the minimum element and place the minimum element at the beginning. We repeat the same process for the remaining elements.
Implementation of Heap Sort

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

[2021-11-01 05:30] Pawanupadhyay10 commented on #7080
/assign

[2021-11-01 05:37] Pawanupadhyay10 opened #7081 "[Create New Issue]: Build Heap from Array"
### Description

Description
Given an array of N elements. The task is to build a Binary Heap from the given array. The heap can be either Max Heap or Min Heap.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gi

[2021-11-01 05:38] ASLManasa commented on #7081
/assign

[2021-11-01 05:55] #2221 closed

[2021-11-01 06:03] darkhorse-2000 opened #7082 "Python datetime module"
### Description

Brief description about Python datetime module through documentation.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/COD

[2021-11-01 06:03] darkhorse-2000 commented on #7082
/assign

[2021-11-01 06:18] saniya44 commented on #6422
Okay sir Thank you so much. And also sorry , I will surely check issues are already there or not carefully from next time.

[2021-11-01 06:25] pragatikesarwani38 commented on #6989
@sumitaccess007 can you please specify the things I have to cover in this topic? Because in the other issues they are already discussing about string functions.

[2021-11-01 06:27] soma-v commented on #88
can I work on this issue. ui/ux Batch 3

[2021-11-01 06:32] soma-v commented on #1306
can I work on this issue?

[2021-11-01 06:36] gohil-jay commented on #6365
Greetings mam @prathimacode-hub, as this issue hasn't been solved since 13 days, I would like to work on the documentation part on my end.

Details -->
Name: Jay Gohil
Serial No: 124
Batch: 4
Issue Number: 6365
Type: Documentation

Approach: Create a detailed Jupyter Notebook with code as well as explanation of Least Angle Regression that provides all necessary details pertaining to LAR in a compr

[2021-11-01 06:36] abhisheks008 commented on #6599
@Yugal41735 ?

[2021-11-01 06:48] sumitaccess007 commented on #6989
@garvitraj - Please could you help @pragatikesarwani38 about this topic.

[2021-11-01 06:53] gohil-jay commented on #5848
Greetings mam @prathimacode-hub, as this issue hasn't been solved since 16 days, I would like to work on the documentation part on my end.

Details -->
Name: Jay Gohil
Serial No: 124
Batch: 4
Issue Number: 5848
Type: Documentation

Approach: Create a detailed Jupyter Notebook with code as well as explanation of Linear and Logistic regression evaluation (and how to analyze and compare them) that pr

[2021-11-01 06:59] jaissumi1402 opened #7085 "DSA: Implement stack using queue."
### Description

I will be creating a document on how to implement stack using queue.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-01 06:59] jaissumi1402 commented on #7085
/assign

[2021-11-01 07:08] singhmansi25 commented on #7053
@ASLManasa
U can't self assign yourself until supervisor assigns you

[2021-11-01 07:11] Anushka-Gamad commented on #6249
\assign Audio

[2021-11-01 07:12] ASLManasa commented on #7053
okay

[2021-11-01 07:13] ASLManasa commented on #7053
@singhmansi25 can I get this issue assigned?

[2021-11-01 07:14] singhmansi25 commented on #7053
I'm not supervisor. But I've asked them to assign me.
You can contribute as well

[2021-11-01 07:14] Sumit3301 commented on #3273
@nimisha-yadav  I would like to take up this issue
Kindly assign this issue to me

[2021-11-01 07:26] tejaswini5801 commented on #7067
/assign Documentation

[2021-11-01 07:35] jaissumi1402 opened #7089 "C_CPP: basic problems on stack"
### Description

I will be creating a documentation on basic questions on stack

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-11-01 07:36] jaissumi1402 commented on #7089
/assign

[2021-11-01 07:51] Yugal41735 commented on #6599
I am so sorry sir, right now I am traveling, so it will take atleast 2 days
for me to complete this pr. And once again I am so sorry, I will try to
make pr as soon as possible .

On Mon, 1 Nov 2021, 12:06 Abhishek Sharma, ***@***.***> wrote:

[2021-11-01 07:59] #2188 closed

[2021-11-01 08:59] Nisha2015 commented on #6529
Raised a PR https://github.com/girlscript/winter-of-contributing/pull/7093

[2021-11-01 10:22] Sayalidoshi commented on #549
if documentation part is not done yet @adityabisoi, can you assign me for the same

[2021-11-01 10:32] shubh045 opened #7095 "Program for matrix multiplication of 2-D array in c"
### Description

I will Explain about array, matrix and matrix multiplication. And write a program to multiply two matrices in c.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of

[2021-11-01 10:32] shubh045 commented on #7095
/assign

[2021-11-01 11:23] sumitaccess007 opened #7097 "[Java 25.1]: Runtime Memory Management"
### Description

Add audio, documentation, and video regarding the **`Runtime Memory Management`**

---

**Location of File to be added**
The files should be added inside the folder *`Runtime_Memory_Management`* which will be inside *`Java_Lang_Package`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can b

[2021-11-01 11:25] sumitaccess007 opened #7098 "[Java 25.2]: Executing Other Programs At Run Time"
### Description

Add audio, documentation, and video regarding the **`Executing Other Programs At Run Time`**

---

**Location of File to be added**
The files should be added inside the folder *`Executing_Other_Programs _At_Run_Time`* which will be inside *`Java_Lang_Package`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The d

[2021-11-01 11:47] vishnupriya129 commented on #6365
@prathimacode-hub mam I have worked on it but when I make PR then the changes are automatically adding in my old PR what should I do to create pull request for this issue.

[2021-11-01 11:50] aman12207 opened #7100 "Knight Tour Problem in C++"
### Description

Documentation of Knight Tour Problem in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-01 11:51] aman12207 commented on #7100
/assign

[2021-11-01 11:51] prathimacode-hub commented on #6365
Do you have any pending PR's? @vishnupriya129

[2021-11-01 11:52] prathimacode-hub commented on #6365
Contributor work's is done, she is yet to do PR. @gohil-jay

[2021-11-01 11:54] vishnupriya129 commented on #6365
@prathimacode-hub my another PR review is in pending mam

[2021-11-01 12:06] prathimacode-hub commented on #6365
from which domain? You can take help from mentors who are assigned to you. They will help you out. I could have but I have no data or software in my laptop to showcase you with the process. I lost all to laptop malfunctioning. @vishnupriya129

[2021-11-01 12:10] vishnupriya129 commented on #6365
@prathimacode-hub In this domain only mam. issue no: #5977 Evaluating Algorithms. My PR is under your review only mam.

[2021-11-01 12:32] #6921 closed

[2021-11-01 12:33] #6991 closed

[2021-11-01 12:35] prathimacode-hub commented on #6365
Changes has been requested. Is it done? @vishnupriya129

[2021-11-01 12:38] vishnupriya129 commented on #6365
@prathimacode-hub I am working on it. I will complete it soon.

[2021-11-01 12:45] subhradwip01 commented on #3723
\assign audio

[2021-11-01 13:15] priyanka001tech commented on #4474
@nimisha-yadav can you please review my work once

[2021-11-01 13:16] Asmit2952 commented on #3483
@syedareehaquasar Added PR, please review it. Wasn't able to complete soon enough due to university exams.

[2021-11-01 13:37] priyanka001tech commented on #2400
I'll do all the changes please view this

[2021-11-01 13:38] #1056 closed

[2021-11-01 13:39] Adi9235 commented on #6821
/assign

[2021-11-01 13:42] Adi9235 commented on #6827
/assign

[2021-11-01 14:07] garvitraj commented on #6705
@JayashreeSadarhalli go with audio

[2021-11-01 14:15] #3677 closed

[2021-11-01 14:15] #3682 closed

[2021-11-01 14:26] Aarushijain-06 opened #7111 "This pointer in C++"
### Description

I will add the documentation of This pointer in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-11-01 14:27] Aarushijain-06 commented on #7111
/assign

[2021-11-01 14:33] #6874 closed

[2021-11-01 14:35] #7100 closed

[2021-11-01 14:40] #2100 closed

[2021-11-01 14:53] SAYAK-CHAKRABORTY commented on #4857
@Danish-Belal i am still working on this issue

[2021-11-01 14:59] pragatikesarwani38 commented on #6989
@garvitraj please specify the content I have to cover in this topic.

[2021-11-01 15:00] ShudhanshuSingh opened #7113 "UI/UX Designs : Food Delivery App & Web Design"
### Description

Description

* You have to create full application design which includes all the screens from login/sign up to checkout and checking delivery status pages.

* You can take reference of existing platforms like Zomato & Swiggy and create your own unique design and let us know why it is better than existing designs, what more value your design adds to existing designs.

* You can cre

[2021-11-01 15:04] SAYAK-CHAKRABORTY commented on #6759
/assign

[2021-11-01 15:13] #7053 closed

[2021-11-01 15:13] code-reaper08 commented on #2208
Closing this with respect to #7099
If anybody have plans to contribute in form of audio or video, you can tag me here, I'll reopen the issue.

[2021-11-01 15:13] #2208 closed

[2021-11-01 15:18] areenoverclouds commented on #6302
I have completed the documentation but I am unable to make a pull request due to some reason. Please don't unassign me even though it has been past 12 days.

[2021-11-01 15:22] Apoorv-17 commented on #1785
Sure, will gladly take the old issues.

[2021-11-01 15:26] Mann-tech13 commented on #7097
/assign Documentation

[2021-11-01 15:39] nishtha2405 commented on #7068
/assign Documentation

[2021-11-01 15:51] naveeramesh commented on #7113
can you assign me to this issue , I will do design for app @ShudhanshuSingh

[2021-11-01 15:53] naveeramesh commented on #7113
/assign

[2021-11-01 15:57] Aaryan376 opened #7116 "C/CPP: Next Greater Element using stack in CPP"
### Description

Documentation along with code sample for Next Greater Element Problem using Stack in CPP.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-11-01 15:57] Aaryan376 commented on #7116
/assign

[2021-11-01 15:58] #7051 closed

[2021-11-01 16:05] Saurabh-crypto16 commented on #6002
@anandhu720 Sorry I couldn't complete it due to medical reasons

[2021-11-01 16:06] Kajal13081 commented on #6092
PR #7118
@VikasPandey121 @sitamadex11 Sir Please review the PR.

[2021-11-01 16:21] #6097 closed

[2021-11-01 16:25] Sin-Sumit commented on #4348
@nishant-giri I'm not a maintainer.

[2021-11-01 16:25] #4348 closed

[2021-11-01 16:25] dhruti29 opened #7120 "Python : Recursion in Python"
### Description

Explain about Recursion in Python.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-01 16:26] Kajal13081 commented on #6103
@VikasPandey121, @sitamadex11 Sir I would like to work on this topic.
Please assign me

[2021-11-01 16:26] dhruti29 commented on #7120
@adityabisoi Can I work on this issue?

Please Assign me..!!!

[2021-11-01 16:48] LegendSumeet commented on #7113
/assign

[2021-11-01 16:53] prathimacode-hub commented on #5848
Since there is no response neither information from your end, this issue isn't assigned to you anymore. Next time, express your interest on issues only when you could work on it. Holding issue for quite a long period isn't right. @Meet-011

@gohil-jay, issue assigned for documentation

[2021-11-01 16:54] Pranshu321 opened #7122 "C_CPP : Interpolation Search in document form"
### Description

### I would like to work on this issue In this, I will cover all these topics given below:-
1. what is this search all about
2. Algorithm
3. time and space complexity

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Co

[2021-11-01 16:55] Pranshu321 commented on #7122
/assign

[2021-11-01 16:59] soma-v commented on #7113
Can I work on web design?

[2021-11-01 17:00] soma-v commented on #7113
/assign

[2021-11-01 17:02] prathimacode-hub commented on #6712
Using one algorithm isn't sufficient, use multiple algorithms and provide comparison out of it. That's when it performs better and is well needed for any project. Issue assigned to @ShraddhaP123 for documentation.

[2021-11-01 17:04] ruhirani011 commented on #6940
/assign

[2021-11-01 17:18] Dezyl1641 commented on #6795
/assign

[2021-11-01 17:24] surjyaneeh commented on #477
@adityabisoi, sir can we unassign ourselves once we have done pr cause we aren't being assigned by the bot otherwise for next issues.

[2021-11-01 17:32] balasai45 opened #7123 "Fractional Knapsack"
### Description

Solving Fractional Knapsack problem by Greedy approach.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-11-01 17:32] balasai45 commented on #7123
/assign

[2021-11-01 17:35] #6812 closed

[2021-11-01 17:38] #6822 closed, assigned to 1PRatgit

[2021-11-01 17:41] nishtha2405 commented on #6813
/assign

[2021-11-01 17:58] nishtha2405 commented on #6830
/assign

[2021-11-01 18:03] satyam-mahajan opened #7125 "Responsive Typography"
### Description

We use viewport units instead of em or px to make responsive text.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-11-01 18:03] satyam-mahajan commented on #7125
/assign

[2021-11-01 18:04] surjyaneeh commented on #377
I have unassigned myself, can you please assign me again ?
Thank you.

[2021-11-01 18:05] surjyaneeh commented on #1822
I have unassigned myself, can you please assign me again ?
Thank you.

[2021-11-01 18:06] surjyaneeh commented on #3520
I have unassigned myself, can you please assign me again ?
Thank you.

[2021-11-01 18:06] surjyaneeh commented on #4374
I have unassigned myself, can you please assign me again ?
Thank you.

[2021-11-01 18:11] #4152 closed

[2021-11-01 18:16] pragatikesarwani38 commented on #7120
/assign

[2021-11-01 18:17] pragatikesarwani38 commented on #7120
I would like to contribute to this topic via documentation

[2021-11-01 18:23] iam-sakshi commented on #7056
can I work on this issue?

[2021-11-01 19:07] goelesha commented on #7085
@jaissumi1402 Go ahead

[2021-11-01 19:17] iam-sakshi opened #7131 "Competitive Programming : Binary Search"
### Description

In this it will have the introduction to this searching technique , with its various uses that can be possible like can find square root or floor or ceil with this. also the 3 basic template of binary search.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/win

[2021-11-01 19:18] iam-sakshi commented on #7131
/assign

[2021-11-02 03:00] #5904 closed

[2021-11-02 03:10] saketsagarsingh commented on #6969
Saket Sagar
DSA Batch-2
Documentation
I want to work on this issue may I be assigned for documentation

[2021-11-02 03:12] saketsagarsingh commented on #6983
Saket Sagar
Interview Preparation Batch-2
Documentation
I want to work on this issue may I be assigned for this issue.

[2021-11-02 03:12] saketsagarsingh commented on #6983
Saket Sagar
Interview Preparation Batch-2
Documentation
I want to work on this issue may I be assigned for this issue.

[2021-11-02 03:16] saketsagarsingh commented on #3072
@goelesha if no one is working on this issue I want to be assigned to this issue
Saket Sagar
Batch-2
Documentation

[2021-11-02 03:18] saketsagarsingh commented on #2688
@RakshitGupta621 if no one is working on this issue I want it to be assigned to me
Saket Sagar
Batch-2
Documentation
please assign this to me if no one have updated anything yet

[2021-11-02 03:20] saketsagarsingh commented on #927
If no one is working on this issue I want it to be assigned to me, please assign this issue to me manually
Saket Sagar
Batch-2
Documentation

[2021-11-02 03:20] RakshitGupta621 commented on #2688
Someone has already written documentation for this. You can self assign to yourself.

Using /assign

[2021-11-02 03:24] saketsagarsingh commented on #2667
@syedareehaquasar if no one have update any issue I want to be assigned for this issue kindly assign this issue to me manually
Saket Sagar
Batch-2
Documentation

[2021-11-02 03:25] goelesha commented on #3072
@saketsagarsingh Submit a PR within 7 days

[2021-11-02 03:26] nikki-priyaHIT commented on #2853
@syedareehaquasar if no one have worked on this issue I want it to be assigned for me please assign manually to me
Nikki Priya
Batch-2
Documentation

[2021-11-02 03:31] saketsagarsingh commented on #55
@Rohit-2602 If no one is working on this issue I want to work on this issue please assign this to me manually
Saket Sagar
Batch-1
Documentation

[2021-11-02 03:58] nimisha-yadav opened #7135 "DSA 4.1.2 Implementation of Stacks - Documentation"
## Description
Discuss in detail the implementation of Stacks in Java, Python, C++

Three contributors may take up this issue in these three different languages.

## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript

[2021-11-02 03:58] nimisha-yadav opened #7136 "DSA 4.1.2 Implementation of Stacks - Audio/Video"
## Description
Discuss in detail the implementation of Stacks in Java, Python, and C++

Two contributors may take up this issue depending on Audio or Video format.

## Task
- [ ] Audio
- [ ] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girl

[2021-11-02 03:58] nimisha-yadav opened #7137 "DSA 4.1.7 Implement Stack using Priority Queue or Heap - Documentation"
## Description
Discuss in detail the implementation of Stacks using Priority Queue or Heap.

## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Change

[2021-11-02 03:58] nimisha-yadav opened #7138 "DSA 4.1.7 Implement Stack using Priority Queue or Heap - Audio/Video"
## Description
Discuss in detail the implementation of Stacks using Priority Queue or Heap.

Two contributors may take up this issue depending on Audio or Video format.

## Task
- [ ] Audio
- [ ] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com

[2021-11-02 03:59] nimisha-yadav opened #7139 "DSA 4.1.11.1 Stacks: Infix to Prefix - Audio/Video"
## Description
How to convert infix expressions to prefix? Show examples and implementation.

Two contributors may take up this issue depending on Audio or Video format.

## Task
- [ ] Audio
- [x] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.co

[2021-11-02 03:59] nimisha-yadav opened #7140 "DSA 4.1.11.1 Stacks: Infix to Prefix - Documentation"
## Description
How to convert infix expressions to prefix? Show examples and implementation.

## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Chang

[2021-11-02 03:59] nimisha-yadav opened #7141 "DSA 4.1.11.2 Stacks: Infix to Postfix - Documentation"
## Description
How to convert infix expressions to postfix? Show examples and implementation.

## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Chan

[2021-11-02 03:59] nimisha-yadav opened #7142 "DSA 4.1.11.2 Stacks: Infix to Postfix - Audio/Video"
## Description
How to convert infix expressions to postfix? Show examples and implementation.

Two contributors may take up this issue depending on Audio or Video format.

## Task
- [x] Audio
- [ ] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.c

[2021-11-02 03:59] nimisha-yadav opened #7143 "DSA 4.1.16 Stacks: Iterative Tower of Hanoi - Documentation"
## Description
How do you implement the Tower of Hanoi problem using Stacks?

## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should be mad

[2021-11-02 03:59] nimisha-yadav opened #7144 "DSA 4.1.16 Stacks: Iterative Tower of Hanoi - Audio/Video"
## Description
How do you implement the Tower of Hanoi problem using Stacks?

Two contributors may take up this issue depending on Audio or Video format.

## Task
- [ ] Audio
- [ ] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/win

[2021-11-02 04:02] AVS18 opened #7145 "[Backend-Dev-With-Python]: Explain basic files created when a django app is created."
### Description

Explain basic file structure in django. It should include all items in settings.py , urls.py ( with include() function)

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gi

[2021-11-02 04:04] AVS18 opened #7146 "[Create New Issue]: Create a simple endpoint and a view in django"
### Description

Explain how to create a new route (endpoint) in django.

Hints:

Create a URL in urls.py and attach it to a function in views.py

Explain steps, best practices.

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRI

[2021-11-02 04:05] Gagarod commented on #6579
@ViAsmit  I have made the PR. Please check if everything is good to go.

[2021-11-02 04:05] AVS18 opened #7147 "[Backend-Dev-Python]: Explain HTTP methods in django"
### Description

Explore django.http options and provide examples.

Write JsonResponse, render method and HTTPResponse method in views.py and connect to three urls.py in the project

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-11-02 04:07] AVS18 opened #7148 "[Backend-Dev-Python]: Explain how to use a custom html in django (use in-line css if need)"
### Description

Explain how to use HTML files created earlier by connecting them using a separate folder called templates in Django.

Hint:

Go to settings.py and add the folder name where the HTML files are stored

use render() to render a HTML template

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines]

[2021-11-02 04:09] AVS18 opened #7149 "[Backend-Dev-Python]: How to use static files in django"
### Description

Provide steps to use css files and js files we have for HTML templates by inserting them in a static folder and connect it to the main project

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-11-02 04:10] Robinrai2612 commented on #7147
@AVS18 - I would like to work on this issue.I will explain all the necessary information in detail.

Type- Documentation
SrNo.: 304

[2021-11-02 04:11] AVS18 opened #7150 "[Backend-Dev-Python]: GET vs POST Method in Django"
### Description

Explain how to create GET and POST specific routes in django.

Hint:

Use request.method in the views.py function and distinguish between them.

Bonus task: take user name in a HTML form and process it (read in django views.py, print it ) and send it back to the user.

### Domain

Backend Dev (Python)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I fo

[2021-11-02 04:12] abhisheks008 commented on #5320
@ShraddhaMeshram27 complete the PR ASAP.

[2021-11-02 04:13] abhisheks008 commented on #6597
Hey @tanvideshmukh29 what's the update?

[2021-11-02 04:13] abhisheks008 commented on #6608
Hey @jannatulferdaws  what's the update?

[2021-11-02 04:14] nisha855 commented on #7143
Nisha Tirkey
Batch No.-6
Hey @nimisha-yadav , I would like to work on this issue.

[2021-11-02 04:14] abhisheks008 commented on #6612
Hey @kokila-Manogar  what's the update?

[2021-11-02 04:15] AVS18 commented on #7147
@Robinrai2612 you can now work on it

[2021-11-02 04:19] nimisha-yadav opened #7151 "DSA 4.2.5.1 Priority Queue - Audio/Video"
## Description
What is Priority Queue? Discuss in detail its implementation.

Two contributors may take up this issue depending on Audio or Video format.

## Task
- [x] Audio
- [ ] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/win

[2021-11-02 04:19] nimisha-yadav opened #7152 "DSA 4.2.5.1 Priority Queue - Documentation"
## Description
What is Priority Queue? Discuss in detail its implementation.

## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should be mad

[2021-11-02 04:19] anandhu720 commented on #6002
@Saurabh-crypto16 can you do it within one week or need to re assign this.

[2021-11-02 04:20] SAYAK-CHAKRABORTY commented on #4857
@Danish-Belal  kindly review my issue

[2021-11-02 04:30] nimisha-yadav opened #7153 "DSA 4.2.5.2 Deque - Audio/Video"
## Description
What is Deque? Discuss in detail its implementation.

Two contributors may take up this issue depending on Audio or Video format.

## Task
- [x] Audio
- [ ] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-co

[2021-11-02 04:30] nimisha-yadav opened #7154 "DSA 4.2.5.2 Deque - Documentation"
## Description
What is Deque? Discuss in detail its implementation.

## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should be made inside

[2021-11-02 04:34] nimisha-yadav opened #7156 "DSA 4.2.5.3 Circular Queue - Audio/Video"
## Description
What is Circular Queue? Discuss in detail its implementation.

Two contributors may take up this issue depending on Audio or Video format.

## Task
- [ ] Audio
- [ ] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/win

[2021-11-02 04:34] nimisha-yadav opened #7157 "DSA 4.2.5.3 Circular Queue - Documentation"
## Description
What is Circular Queue? Discuss in detail its implementation.

## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should be mad

[2021-11-02 04:38] yashvardhan-verma commented on #7150
/assign I would like to contribute with documentation

[2021-11-02 04:39] nimisha-yadav opened #7158 "DSA 4.2.6 LIFO vs FIFO Approach - Audio/Video"
## Description
Discuss in detail the LIFO vs FIFO approach - their pros/cons, examples, and implementation.

Two contributors may take up this issue depending on Audio or Video format.

## Task
- [x] Audio
- [ ] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](ht

[2021-11-02 04:39] nimisha-yadav opened #7159 "DSA 4.2.6 LIFO vs FIFO Approach - Documentation"
## Description
Discuss in detail the LIFO vs FIFO approach - their pros/cons, examples, and implementation.

## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#i

[2021-11-02 04:39] yashvardhan-verma commented on #7149
/assign I would like to contribute with documentation.

[2021-11-02 04:42] nimisha-yadav opened #7160 "DSA 4.3.4 Boyer Moore Algorithm - Documentation"
## Description
Discuss in detail the Boyer Moore Algorithm.
## Task
- [ ] Documentation

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should be made inside the ````D

[2021-11-02 04:45] nimisha-yadav opened #7161 "DSA 4.3.4 Boyer Moore Algorithm - Audio/Video"
## Description
Discuss in detail the Boyer Moore Algorithm.

Two contributors may take up this issue depending on Audio or Video format.
## Task
- [ ] Video
- [ ] Audio

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributin

[2021-11-02 04:49] Kavindra-Mohan-Dwivedi commented on #7135
Please assign this to me for java
Kavindra Mohan Dwivedi
Batch 3

[2021-11-02 04:51] motasimmakki commented on #7157
Kindly Assign it to me!
Motasim (DSA Batch -01)

[2021-11-02 04:52] motasimmakki commented on #7141
I'm Interested in this also.
Motasim (DSA Batch - 01)

[2021-11-02 04:54] dhruti29 commented on #7160
@nimisha-yadav I would like to work on this issue (documentation).
batch - 2
Dhruti Gandhi

[2021-11-02 04:55] dhruti29 commented on #7159
@nimisha-yadav  I would like to work on this issue (documentation).
batch - 2
Dhruti Gandhi

[2021-11-02 04:55] dhruti29 commented on #7154
I would like to work on this issue (documentation).
batch - 2
Dhruti Gandhi

[2021-11-02 04:55] dhruti29 commented on #7154
I would like to work on this issue (documentation).
batch - 2
Dhruti Gandhi

[2021-11-02 04:56] purvanshgarg commented on #7012
made the necessary changes pls see

[2021-11-02 04:56] dhruti29 commented on #7152
I would like to work on this issue (documentation).
batch - 2
Dhruti Gandhi

[2021-11-02 04:57] Pawanupadhyay10 commented on #7159
I would like to work on this issue (documentation).
batch - 4
Pawan upadhyay

[2021-11-02 04:58] Pawanupadhyay10 commented on #7159
/assign

[2021-11-02 04:59] Pawanupadhyay10 commented on #7157
Kindly Assign it to me!
Pawan upadhyay  (DSA Batch -04)

[2021-11-02 04:59] Pawanupadhyay10 commented on #7157
/assign

[2021-11-02 05:01] nimisha-yadav commented on #7135
@Kavindra-Mohan-Dwivedi assigned you for Java.

[2021-11-02 05:01] Pawanupadhyay10 commented on #7160
I would like to work on this issue (documentation).
batch - 4
Pawan upadhyay

[2021-11-02 05:02] Pawanupadhyay10 commented on #7154
I would like to work on this issue (documentation).
batch - 4
Pawan upadhyay

[2021-11-02 05:04] Binita-tech commented on #7098
\assign Documentation

[2021-11-02 05:07] SUKHJIT-CYBER commented on #7140
Hey Please assign this to me
SUKHJIT SINGH
Batch 8

[2021-11-02 05:10] Binita-tech commented on #7098
\assign Documentation

[2021-11-02 05:15] ShraddhaMeshram27 commented on #5320
Yes, I will do it today itself.

[2021-11-02 05:17] nimisha-yadav commented on #7159
@Pawanupadhyay10 It's fine for this time but please read the instructions and don't use command for such issues.

Also @dhruti29, we're assigning only one doc issue at a time to give chance to new people so if you'd like to contribute to more issues, feel free to take up the audio/video ones or create your own based on standard problems.

[2021-11-02 05:26] Muskan-creator commented on #6969
@saketsagarsingh This issue is for video

[2021-11-02 05:30] nimisha-yadav commented on #1787
Assigning this issue to you @dhruti29

[2021-11-02 05:32] Muskan-creator opened #7163 "4.1.8.1 -Reverse a stack using recursion-documentation"
### Description

## Description
Give an algorithm to reverse a stack using recursion

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue ha

[2021-11-02 05:35] Muskan-creator opened #7164 "4.1.9.1-Stack: Sort a stack -documentation"
### Description

## Description
write an algorithm to sort a stack

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been ass

[2021-11-02 05:37] Muskan-creator opened #7165 "4.1.8.2-Reverse a stack using recursion -Video"
### Description

## Description
Give an algorithm to reverse a stack using recursion

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue ha

[2021-11-02 05:39] Muskan-creator opened #7166 "4.1.8.3 -Reverse a stack using recursion -Audio"
### Description

## Description
Give an algorithm to reverse a stack using recursion in audio format.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see

[2021-11-02 05:39] SaloniThete commented on #2261
I would like to work on this issue for documentation as the issue assigned has not been solved since Sep 23, it would be great if I get a chance to resolve it.
Name: Saloni Thete
Sr.No : 821
Type : Documentation
Approach: Tutorial with Detailed explanation of Music Recommendation Systems and how it's applied using sample code in jupyter notebook.
@prathimacode-hub ,kindly assign
/assign

[2021-11-02 05:39] riyasai22 commented on #6608
If this issue is still open, I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: documentation

[2021-11-02 05:40] Muskan-creator opened #7167 "4.1.9.2-Sort a stack -audio"
### Description

## Description
Give an algorithm to sort a stack in audio format

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has a

[2021-11-02 05:42] Muskan-creator opened #7168 "4.1.9.3 -[STACK]-sort a stack -video"
### Description

## Description
Give an algorithm to sort a stack in video format

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has a

[2021-11-02 05:46] nimisha-yadav commented on #5899
@Varun270 Did your issue get resolved? For more convenience, I've deleted the original readme file, now update your fork and add it again.

[2021-11-02 05:47] snoice45 commented on #5599
/assign

[2021-11-02 05:54] #6092 closed

[2021-11-02 05:55] #6057 closed

[2021-11-02 06:02] maneet057 commented on #7141
Please assign me this one, I was looking for such topics i can explain well.
Maneet kaur
DSA batch 1

[2021-11-02 06:03] maneet057 commented on #7137
Please assign me this one
Maneet kaur
DSA batch 1

[2021-11-02 06:05] maneet057 commented on #7135
I can take it for c++ or explanation in only one language is needed?
Maneet kaur
DSA batch 1

[2021-11-02 06:26] nimisha-yadav commented on #7135
@maneet057 assigning it to you for C++, you may show implementation of stacks in C++ only.

[2021-11-02 06:29] nimisha-yadav commented on #4779
@motasimmakki you may take up this issue.

[2021-11-02 06:31] motasimmakki commented on #4779
sure, thanks! ✨

[2021-11-02 06:36] rahilmehta-24 commented on #6710
./assign documentation

[2021-11-02 06:44] Varun270 commented on #5899
@nimisha-yadav Hey, I have reached out to the supervisor with this problem and she is trying to help me with this problem. I know this issue has taken a lot of time and I apologize for the inconveniences caused. I have asked about this issue in multiple discord server and still no one knows why its happening. I will try to give you updates regarding this issue till this evening.

[2021-11-02 06:44] Varun270 commented on #5899
Till then you can review my changes here - https://github.com/girlscript/winter-of-contributing/compare/DSA...Varun270:DSA?expand=1

[2021-11-02 06:50] PVenkatArvind commented on #7144
please assign

[2021-11-02 06:51] PVenkatArvind commented on #7143
pls assign

[2021-11-02 07:12] sitamadex11 commented on #6103
yeah, you can start working.
@VikasPandey121 please assign it to @Kajal13081

[2021-11-02 07:22] #6744 closed

[2021-11-02 07:26] nimisha-yadav commented on #5899
Hey no worries, the readme is nice. LGTM.
I went through the link and this issue is due to the merge conflicts like I said above. You're not editing the file but trying to add the same file with same name which is creating conflicts.
Now just follow these steps as it is: Save your doc somewhere, delete your fork and your cloned folder on the local computer. Fork and clone again. Add the files agai

[2021-11-02 07:30] maneet057 commented on #7135
@nimisha-yadav got it. Thank you!

[2021-11-02 07:46] prathimacode-hub commented on #2261
Its been assigned to you since more than a month and no PR reverted yet, so this issue is unassigned to you. @Shaik320

Issue is assigned to @SaloniThete for documentation

[2021-11-02 08:56] priyanshiparolia opened #7174 "Binary search"
### Description

I want to contribute using documentation on Binary search . I want to submit my code in C/CPP

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-

[2021-11-02 08:56] priyanshiparolia commented on #7174
/assign

[2021-11-02 09:12] #5417 closed

[2021-11-02 09:13] #6579 closed

[2021-11-02 09:15] hariketsheth opened #7175 "[Backend Development with PHP]: Error Handling"
### Description

- Add documentation for Error Handling

### Domain

Backend Dev (PHP)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-11-02 09:16] hariketsheth commented on #7175
/assign

[2021-11-02 09:24] prathimacode-hub commented on #4374
Issue assigned to @samridhikapoor for video contribution.

[2021-11-02 10:17] Varun270 commented on #5899
Okk will do it.

[2021-11-02 10:29] #6915 closed

[2021-11-02 10:45] #7012 closed

[2021-11-02 10:58] anisha-01-phoenix commented on #6014
/assign

[2021-11-02 11:16] garvitraj commented on #6989
@pragatikesarwani38 its on modifying string so we are expecting some advance content in this

[2021-11-02 11:22] Vishaka830 opened #7182 "Binary Search in Python"
### Description

I want to contribute a video tutorial on binary search in the Python language. I'll discuss the binary search algorithm and how it can be implemented recursively and iteratively in Python.

### Domain

Python_Domain

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-11-02 11:23] Vishaka830 commented on #7182
/assign

[2021-11-02 11:27] Vishaka830 commented on #7182
@adityabisoi sir can I work on this topic? I've completed all my previous issues.

[2021-11-02 11:56] tanvideshmukh29 commented on #6597
Sry for the delay (due to some reason)will do it tomorrow.

[2021-11-02 13:10] himanshu17-2000 opened #7185 "Sending and fetching data from mongo DB"
### Description

video format submission  where you send data from react front-end to mongo DB database

### Domain

MERN

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/COD

[2021-11-02 13:12] Preet1406 opened #7186 "HTML Commands"
### Description

Web_Development/FrontEnd/HTML_Commands/HML_Commands.md documentation needs to be updated and I want to work on it so please assign it to me.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of c

[2021-11-02 13:13] Preet1406 commented on #7186
/assign

[2021-11-02 13:23] himanshu17-2000 commented on #7185
/assign

[2021-11-02 13:35] #6906 closed

[2021-11-02 14:04] divya1467 commented on #7154
Can I work on the documentation part?
Divya(batch-5)

[2021-11-02 14:15] tavneetgill commented on #6364
Name: Tavneet Kaur Gill
Type: Audio
Serial no.:323
Approach: definition, applications, its implementation with relevant examples and code
@prathimacode-hub  @Pushpit07 Please assign this issue to me

[2021-11-02 14:29] Ash515 opened #7191 "DCL Operations and Functions"
### Description

learn the DCL operations and its functions and contribute

### Domain

Database

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_O

[2021-11-02 14:44] #7064 closed

[2021-11-02 14:56] prathimacode-hub commented on #6364
Issue assigned to @tavneetgill for audio contribution

[2021-11-02 15:02] Pradumnasaraf opened #7193 "Android Java: 1.3.1 Customizing android studio"
### Description

* Default customization
* Plugins customization

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-11-02 15:04] juhik24 opened #7194 "Linked List Implementation of Queues[Create New Issue]:"
### Description

Discuss Implementation of Queues using Linked List in detail.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) o

[2021-11-02 15:05] Pradumnasaraf commented on #7193
/assign

[2021-11-02 15:12] juhik24 commented on #7194
/assign

[2021-11-02 15:29] micepram commented on #139
Merged, closing.

[2021-11-02 15:29] #139 closed

[2021-11-02 15:30] #6507 closed

[2021-11-02 15:31] micepram commented on #140
Reviewed and Merged.

[2021-11-02 15:34] priyanshu688 opened #7197 "[Android Dev-Java]: Android Layout Components"
### Description

Briefly discuss about different Android Components.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-11-02 15:34] riyapandey730 commented on #207
/assign

[2021-11-02 15:35] anjali-kundliya05 commented on #7098
/assign Documentation

[2021-11-02 15:36] priyanshu688 commented on #7197
/assign

[2021-11-02 15:36] Asmit2952 commented on #5918
@nimisha-yadav Please review my PR.

[2021-11-02 15:40] micepram commented on #1053
@deepthi1107 What is the update?

[2021-11-02 15:40] micepram commented on #141
@TechnoPhasePRO What is the update?

[2021-11-02 15:40] micepram commented on #1063
@snehar-bajwa Can you please update?

[2021-11-02 15:41] micepram commented on #1066
Hey @swathi-reddy-m, Are you now done with it?

[2021-11-02 15:42] riyapandey730 commented on #214
/assign

[2021-11-02 15:42] riyapandey730 commented on #214
/assign

[2021-11-02 15:49] priyanshu688 opened #7200 "[Android Dev-Java]: Android Lifecycle"
### Description

Discuss Android Lifecycle

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-02 15:50] priyanshu688 commented on #7200
/assign

[2021-11-02 15:57] #6922 closed

[2021-11-02 15:59] #6813 closed

[2021-11-02 16:13] jaigora24 commented on #7167
@Muskan-creator plz assign this to me

[2021-11-02 16:13] jaigora24 commented on #7163
@Muskan-creator plz assign this to me

[2021-11-02 16:13] jaigora24 commented on #7163
/assign

[2021-11-02 16:15] jaigora24 commented on #7158
@nimisha-yadav plz assign this to me for audio part
Jai Gora
Batch - 7

[2021-11-02 16:18] RuchikaSuryawanshi7 opened #7202 "Explain Stack Data Structure and it's Implementation"
### Description

Description
Discuss Stack Data Structure in python.
- Explain Stack
- Explain methods in Stack using the list in python
- Create a program that implements a stack data structure

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.

[2021-11-02 16:19] RuchikaSuryawanshi7 commented on #7202
/assign

[2021-11-02 16:25] micepram commented on #1080
Any update y'all?

[2021-11-02 16:25] micepram commented on #1079
@Chakita what's the status update?

[2021-11-02 16:28] micepram commented on #1076
Merged.

[2021-11-02 16:28] #1076 closed

[2021-11-02 16:29] syedareehaquasar commented on #2853
go ahead @nikki-priyaHIT

[2021-11-02 16:34] jaigora24 commented on #7137
@nimisha-yadav mam plz assign this issue to me
Jai Gora
Batch - 7

[2021-11-02 16:38] vipula2001 commented on #2667
Hey @saketsagarsingh @syeedareehaquasar I am working on this

On Tue, 2 Nov 2021 at 21:59, reeha ***@***.***> wrote:

[2021-11-02 16:40] MauryaD commented on #6754
Hi Satyam, Please assign this issue to me.

[2021-11-02 16:40] Vibhu562 opened #7204 "Python: Bubble sort"
### Description

What is bubble sort in Python.
Explain it by giving suitable example.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/COD

[2021-11-02 16:40] Vibhu562 commented on #7204
/assign

[2021-11-02 16:40] Vibhu562 commented on #7204
@adityabisoi can i work on my issue

[2021-11-02 16:41] MauryaD commented on #6754
/assign

[2021-11-02 16:42] MauryaD commented on #6757
/assign

[2021-11-02 16:56] Kajal13081 commented on #6008
/assign

[2021-11-02 16:57] micepram commented on #1074
Hey @Meet19aug, what's the progress?

[2021-11-02 17:12] #6979 closed

[2021-11-02 17:16] pilipi-puu-puu commented on #6922
@Aryamanz29 I forgot to add this 2.6_Markdown_CheatSheet file in Readme.
So I have created an another PR, Kindly merge it.
[Link added in Readme](https://github.com/girlscript/winter-of-contributing/pull/7206)

[2021-11-02 17:48] #6810 closed

[2021-11-02 17:52] rachita11 commented on #7204
Name: C.Rachita
Contribution type: Video
@adityabisoi

[2021-11-02 18:04] ShraddhaMeshram27 commented on #5583
I would like to contribute to this issue.
Name: Shraddha Meshram
batch-5-frontend-framework
Profile link: https://github.com/ShraddhaMeshram27
Contribution type: Documentation

[2021-11-02 18:27] #6816 closed

[2021-11-02 19:32] 124015001 opened #7213 "C_CPP: Why to Overload Operators Using Friend Functions?"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-02 19:33] 124015001 commented on #7213
/assign

[2021-11-02 20:48] sumitaccess007 opened #7216 "[Java 25.3]: ProcessBuilder"
### Description

Add audio, documentation, and video regarding the **`ProcessBuilder`**

---

**Location of File to be added**
The files should be added inside the folder *`ProcessBuilder`* which will be inside *`Java_Lang_Package`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be in the `.md/.py/.ipy

[2021-11-02 20:50] sumitaccess007 opened #7217 "[Java 25.4]: Object Class"
### Description

Add audio, documentation, and video regarding the **`Object Class`**

---

**Location of File to be added**
The files should be added inside the folder *`Object Class`* which will be inside *`Java_Lang_Package`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be in the `.md/.py/.ipynb`

[2021-11-02 21:02] sumitaccess007 commented on #7217
/assign Documentation

[2021-11-03 01:07] micepram commented on #1073
What error are you facing?

[2021-11-03 01:12] avishj commented on #1279
Since you have not replied @abhishekd358, you're being unassigned.

[2021-11-03 01:13] avishj commented on #1289
@LegendSumeet What's the progress?

[2021-11-03 01:14] avishj commented on #1293
Due to lack of updates, @arcAman07 you're being unassigned.

[2021-11-03 01:14] avishj commented on #1294
Due to lack of updates, @arcAman07 here also you're being unassigned.

[2021-11-03 01:15] avishj commented on #1299
Hey @LegendSumeet, what's the update?

[2021-11-03 01:18] avishj commented on #1427
Merged.

[2021-11-03 01:18] #1427 closed

[2021-11-03 01:47] Harsh652-cpu opened #7221 "Audio for passing parameters to the function"
### Description

I will do audio contribution on the topic "ways of passing parameters to the function".

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-11-03 01:48] Harsh652-cpu commented on #7221
/assign

[2021-11-03 01:48] Harsh652-cpu commented on #7221
/assign

[2021-11-03 02:59] garvitraj commented on #7113
@naveeramesh go with the app design

[2021-11-03 03:01] naveeramesh commented on #7113
Can you please assign it wil be much better! @garvitraj

[2021-11-03 03:15] manjeetdhayal commented on #2269
Are you doing this? @ritik-vashist

[2021-11-03 04:11] RahulRam29 opened #7223 "Concepts of Friend Functions in Cpp"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-03 04:11] RahulRam29 commented on #7223
/assign

[2021-11-03 04:18] RahulRam29 opened #7224 "Pointers to Objects in Cpp"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-03 04:18] RahulRam29 commented on #7224
/assign

[2021-11-03 04:19] RahulRam29 opened #7225 "Pointers to Pointers in Cpp"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-03 04:19] RahulRam29 commented on #7225
/assign

[2021-11-03 04:20] #6481 closed

[2021-11-03 04:20] RahulRam29 commented on #7225
/assign

[2021-11-03 04:25] uzma024 commented on #7164
I would like to work on this issue.
Uzma Firoz Khan
batch 10
DSA
Documentation

[2021-11-03 04:29] #6872 closed

[2021-11-03 04:33] Yugal41735 commented on #6599
@abhisheks008 sorry for the late pr not u can review my pr

[2021-11-03 04:38] #7008 closed

[2021-11-03 05:27] shreya024 opened #7228 "Trie : Introduction and Implementation"
### Description

Documentation and Implementation of User Defined Data Structure Trie along with code.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-11-03 05:27] shreya024 commented on #7228
/assign

[2021-11-03 05:34] ARUNBALACHOCKALINGAM opened #7229 "[Create New Issue]: Introduction to CSS"
### Description

Basics of CSS. All the do's and don'ts. Trips and tricks for CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.git

[2021-11-03 05:35] ARUNBALACHOCKALINGAM commented on #7229
/assign

[2021-11-03 06:05] iamsunil25 commented on #7217
/assign audio

[2021-11-03 06:08] iamsunil25 commented on #7216
/assign audio

[2021-11-03 06:08] Harsh652-cpu opened #7230 "this is a sample issue"
### Description

I would like to contribute this and this..

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-03 06:09] Harsh652-cpu commented on #7230
/assign

[2021-11-03 06:17] ARUNBALACHOCKALINGAM commented on #7056
/assign

[2021-11-03 06:18] Pushkar03 commented on #7191
\assign

[2021-11-03 06:20] Binita-tech commented on #7216
\assign Documentation

[2021-11-03 06:23] ARUNBALACHOCKALINGAM commented on #1277
/assign

[2021-11-03 06:26] sirilalithaadapa commented on #5874
close this issue it is merged

[2021-11-03 06:35] rahulsain commented on #5874
let it be open  for audio and video issue

[2021-11-03 06:37] sirilalithaadapa commented on #5874
oaky

[2021-11-03 06:43] #7230 closed

[2021-11-03 07:08] #5501 closed

[2021-11-03 07:19] #6322 closed

[2021-11-03 08:50] #6599 closed

[2021-11-03 08:55] shaurya24sri commented on #7182
@adityabisoi Can I work on this issue -
contribution type :-documentation

[2021-11-03 08:56] shaurya24sri commented on #7204
@adityabisoi Can I contribute in Audio format

[2021-11-03 08:57] shaurya24sri commented on #7120
@adityabisoi Can I work on this issue  ?
Contribution type-audio

[2021-11-03 09:02] shaurya24sri opened #7233 "Decorators"
### Description

Decorators

### Domain

Python_Domain

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-03 09:03] shaurya24sri commented on #7233
/assign

[2021-11-03 09:04] #7056 closed

[2021-11-03 09:10] #6926 closed

[2021-11-03 09:16] shaurya24sri commented on #7233
@adityabisoi Can you assign me this issue
Contribution type-audio

[2021-11-03 09:16] shaurya24sri commented on #7233
@adityabisoi Can you assign me this issue
Contribution type-audio

[2021-11-03 09:27] #6549 closed

[2021-11-03 09:31] shaurya24sri opened #7235 "Advanced_function_lambda()"
### Description

What is Lambda Function in python?

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-03 09:31] shaurya24sri commented on #7235
/assign

[2021-11-03 09:32] shaurya24sri commented on #7235
@adityabisoi Please assign me this issue.
Contribution type-Documentation

[2021-11-03 09:34] shaurya24sri commented on #7235
@adityabisoi I have completed all other issues and my pr is also merged.
Please assign me this issue

[2021-11-03 11:05] yellowberard commented on #5180
/assign

[2021-11-03 11:06] yellowberard commented on #6854
/assign

[2021-11-03 11:07] yellowberard commented on #6828
/assign

[2021-11-03 11:09] mrkc2303 commented on #5348
@Muskan-creator Should I unassign this issue to me as there is a limit of 3 so that I can work on more issues?

[2021-11-03 11:18] #7006 closed

[2021-11-03 11:20] Isha307 commented on #6608
@jannatulferdaws if you will not create the PR by tonight, this issue will be assigned to @riyasai22 .

[2021-11-03 11:22] Isha307 commented on #6612
@kokila-Manogar Give us the update by today, if you fail to do so then this issue will be unassigned to you.

[2021-11-03 11:25] NiharikaSngh commented on #2984
/assign

[2021-11-03 11:32] #2987 closed

[2021-11-03 11:32] #2997 closed

[2021-11-03 11:42] surjyaneeh commented on #6953
@itsIapetus please assign me .

[2021-11-03 11:47] prachigarg19 commented on #7217
\assign audio

[2021-11-03 11:51] priyanka001tech commented on #7164
I want to do it in documentation.

[2021-11-03 11:52] priyanka001tech commented on #7164
/assign

[2021-11-03 12:02] priyanka001tech opened #7240 "DSA : Valid Parentheses"
### Description

Given a string s containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.

An input string is valid if:

Open brackets must be closed by the same type of brackets.
Open brackets must be closed in the correct order.

Example 1:
Input: s = "([)]"
Output: false

Example 2:
Input: s = "{[]}"
Output: true

Constraints:

1 <= s.length <= 10

[2021-11-03 12:02] priyanka001tech commented on #7240
/assign

[2021-11-03 12:08] priyanka001tech commented on #2400
Please review this

[2021-11-03 12:25] uzma024 commented on #7164
@priyanka001tech self assign is not allowed.
@Muskan-creator Please look into the matter.

[2021-11-03 12:36] mridu-pant commented on #6798
I would like to work on either the audio or the video for this issue if it is available.
Name- Mridu Pant
Batch- 11

[2021-11-03 12:43] mridu-pant commented on #2995
I would like to contribute to audio for this issue if its available
Name- Mridu Pant
Batch- 3

[2021-11-03 12:53] sitamadex11 commented on #6746
@rahulsain I think we should close this issue.

[2021-11-03 12:57] shubhmittal07 commented on #6746
Should I close it then? @sitamadex11 @rahulsain

[2021-11-03 12:58] Yashesvinee commented on #7217
/assign documentation

[2021-11-03 13:13] #6746 closed

[2021-11-03 13:18] #6724 closed

[2021-11-03 13:21] kokila-Manogar commented on #6612
@abhisheks008  sorry sir , I don't know how to create Pull request and add my readme file.
Extremely, Sorry for replying late.
If you help me on that surly I will submit it by today itself sir.
And I have another doubt I want to upload my video on YouTube or drive, Sir

@Isha307 help me mam.

[2021-11-03 13:27] Yashesvinee opened #7242 "Front-end: 2D and 3D transforms"
### Description

Documentation on 2D and 3D transforms in CSS

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-11-03 13:28] Yashesvinee commented on #7242
/assign

[2021-11-03 13:32] #7242 closed

[2021-11-03 13:42] #1783 closed

[2021-11-03 13:50] yashh18 opened #7243 "Perfect Guess Game"
### Description

This is a game that generates a random number and asks us to guess it. It takes input from the user and tells that the generated number is smaller or larger than the input number and records the number of guesses and stores it in a "highscore.txt" file till we get the correct answer.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I

[2021-11-03 13:50] yashh18 commented on #7243
/assign

[2021-11-03 13:50] yashh18 commented on #7243
/assign

[2021-11-03 13:52] yashh18 commented on #7243
@adityabisoi please assign me this issue
content type - documentation

[2021-11-03 13:54] swathi-reddy-m commented on #1066
Hi @micepram
I will submit it by tomorrow.

[2021-11-03 14:00] Hritik157 commented on #6001
@SourabhSaraswat-191939
@anandhu720

[2021-11-03 14:03] anandhu720 commented on #6001
No worrys bro.Take time.Just asked for updates

[2021-11-03 14:08] singhnikhiljsr commented on #6983
/assign Document

[2021-11-03 14:09] Ashi-00 commented on #551
I would like to contribute to this via VIDEO
Ashi Dubey
batch 5
@adityabisoi

[2021-11-03 14:17] Tani21 commented on #6577
/assign

[2021-11-03 14:42] Asmit2952 commented on #7163
Can I work on this?

[2021-11-03 14:43] syedareehaquasar commented on #2667
@vipula2001 you can choose another medium (video or audio or contribute to @saketsagarsingh contribution... It was more than a month and pr should be created within 14 days of assigning the issue that is why I re-assigned. Hope you can understand.

[2021-11-03 14:44] Asmit2952 commented on #7163
/assign

[2021-11-03 15:00] kalyanirb12 commented on #7235
can I contribute to this issue.

[2021-11-03 15:18] #6785 closed

[2021-11-03 15:32] anisha-01-phoenix opened #7248 "13.03 Use of Shimmer Library in Android"
### Description

Implementation and Use of Android Content Placeholder Animation like Facebook using Shimmer

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-11-03 15:33] anisha-01-phoenix commented on #7248
/assign

[2021-11-03 15:51] Pradumnasaraf commented on #4958
/assign

This issue is now open for almost a month, now I will be working on this issue

[2021-11-03 15:54] Pradumnasaraf commented on #4958
This issue is now open for almost a month, now I will be working on this issue.

@VikasPandey121 @Rohit-2602

[2021-11-03 15:55] Megha0606 opened #7249 "Tail Recursion"
### Description

Creating Documentation on given topic.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of t

[2021-11-03 15:56] Megha0606 commented on #7249
/assign

[2021-11-03 16:03] #6068 closed

[2021-11-03 16:17] TechnoPhasePRO commented on #141
@micepram Sorry Ma'am, I was caught up in other stuff. It's almost done just the styling is left. I will create PR ASAP.

[2021-11-03 16:22] sheki018 commented on #6248
\assign documentation

[2021-11-03 16:47] #6815 closed

[2021-11-03 16:53] sheki018 commented on #5166
\assign documentation

[2021-11-03 17:04] sheki018 commented on #6660
\assign documentation

[2021-11-03 17:12] AnantDuhan commented on #7229
/assign

[2021-11-03 17:12] AnantDuhan commented on #7186
/assign

[2021-11-03 17:34] satyam-mahajan commented on #6931
please assign me this issue ,I can do it.

[2021-11-03 17:35] satyam-mahajan commented on #6925
please assign me this issue.I can do it.

[2021-11-03 17:36] satyam-mahajan commented on #6905
please assign me this issue, I can do it.

[2021-11-03 17:37] satyam-mahajan commented on #6873
please assign me this issue, I can do it.

[2021-11-03 17:40] priyanka001tech commented on #7164
But there is written that "To get assigned to this particular issue please use /assign"

[2021-11-03 18:13] prince02765 opened #7254 "Android Java: 4.2 Popup Menu Android Studio"
### Description

How to Create Popup Menu Android Studio (Java)

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) o

[2021-11-03 18:14] prince02765 commented on #7254
/assign

[2021-11-03 18:17] prince02765 opened #7255 "Android Java: 13.04 TextView fading animation Android Studio"
### Description

How to Create Fading TextView Animation Android Studio (Java)

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_O

[2021-11-03 18:17] prince02765 commented on #7255
/assign

[2021-11-03 18:31] sitamadex11 commented on #7248
@anisha-01-phoenix please change the issue title from `Use of Shimmer Library in Android` to `13.03 Use of Shimmer Library in Android`

[2021-11-03 18:32] sitamadex11 commented on #7255
@prince02765 please change the issue title from `Android Java: 13.02 TextView fading animation Android Studio` to `Android Java: 13.04 TextView fading animation Android Studio`

[2021-11-03 19:01] #6444 closed

[2021-11-03 20:01] ritika728 opened #7260 "Middle Of a Singly Linked List [Documentation]"
### Description

I will be explaining the concept behind this question with proper code.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-11-03 20:01] ritika168 commented on #7260
/assign

[2021-11-03 22:22] Yashesvinee opened #7262 "Front-end: CSS Web fonts"
### Description

Documentation on CSS Web fonts

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pro

[2021-11-03 22:23] Yashesvinee commented on #7262
/assign

[2021-11-04 03:24] adityabisoi commented on #477
Yes Sure

[2021-11-04 03:30] #7000 closed

[2021-11-04 03:49] vipula2001 commented on #2667
Okayy

On Wed, 3 Nov 2021 at 20:14, reeha ***@***.***> wrote:

[2021-11-04 04:36] uzma024 commented on #7164
You must be new. It's not allowed to self assign (unless you opened the issue ofc). Kindly remove your assignment. Mentor assign people manually.

[2021-11-04 04:43] shaurya24sri commented on #7235
/assign

[2021-11-04 04:53] shaurya24sri commented on #7235
@adityabisoi Can I start working on this issue?

[2021-11-04 05:11] PriyanshaS opened #7265 "Greedy Algorithm Explanation"
### Description

I will be explaining where and how to implement greedy algorithms using some common problems as examples.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-11-04 05:12] PriyanshaS commented on #7265
/assign

[2021-11-04 06:13] kalyanirb12 commented on #7143
can I work on this issue? please assign it to me.
batch=6
kalyani rajebhosale

[2021-11-04 06:14] kalyanirb12 commented on #7154
kalyani rajebhosale
batch=6
can I work on this documentation part?

[2021-11-04 06:14] PriyanshaS opened #7266 "Strings"
### Description

I will be demonstrating strings in c++ language . It will include various functions on strings and some example problems to implement the functions .

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gi

[2021-11-04 06:15] PriyanshaS commented on #7266
/assign

[2021-11-04 06:15] kalyanirb12 commented on #7159
kalyani rajebhosale
batch=6
can I work on the documentation part?

[2021-11-04 06:32] #6398 closed

[2021-11-04 07:10] TakshakRamteke commented on #6548
@adityabisoi is the issue still open to contribution, would like to contribute via Audio/Video

[2021-11-04 07:11] SidharthMishra-07 opened #7269 "Floyd Warshall DP"
### Description

Finding the all-pair shortest path using the Floyd Warshall Algorithm. Further implementing the algorithm using Dynamic Programming.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](h

[2021-11-04 07:12] SidharthMishra-07 commented on #7269
/assign

[2021-11-04 07:17] palaksinghania05 commented on #6798
I would like to work on the video of this issue. Please assign me the same.
Name- Palak Singhania
Batch - 5

[2021-11-04 07:21] #6749 closed

[2021-11-04 07:21] #4637 closed

[2021-11-04 07:25] A-GHOSH-dev commented on #6820
@Aryamanz29 PR created. Please Review. Thank You.

[2021-11-04 07:31] A-GHOSH-dev commented on #7145
/assign

[2021-11-04 07:32] A-GHOSH-dev commented on #7145
/assign

[2021-11-04 07:34] A-GHOSH-dev commented on #7145
@AVS18 I don't have 3 open issues. 2 are merged, and 2 PRs are open, one from Backend with Python and Other from Open Source. They are yet to be reviewed and merged.

Please assign this issue to me.

[2021-11-04 07:39] harshraj1311 commented on #7262
/assign

[2021-11-04 07:56] Kajal13081 commented on #6094
/assign

[2021-11-04 08:12] #6547 closed

[2021-11-04 08:19] Vibhu562 commented on #7204
/assign

[2021-11-04 10:29] thatSophisticatedMess18 commented on #5510
@goelesha  I have made the PR , kindly review the PR and merge it.

[2021-11-04 11:28] #7260 closed

[2021-11-04 11:29] #7221 closed

[2021-11-04 11:31] surjyaneeh commented on #550
@adityabisoi @ankurg132
I would like to work on this issue via Audio.

[2021-11-04 11:33] #7122 closed

[2021-11-04 12:06] Sayalidoshi commented on #549
hey @adityabisoi, it seems like build-in methods are already done by creating own issue by someone and it has been merged.
(he have created separate issue for separate methods and all are been merged)
yet if you want me to continue please let me know

[2021-11-04 13:22] Kajal13081 commented on #6008
/assign

[2021-11-04 15:51] ritika728 opened #7278 "Sort a Stack"
### Description

I will provide a proper explanation of the concept with proper code and comments.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-11-04 15:52] ritika728 commented on #7278
/assign

[2021-11-04 16:14] #6820 closed

[2021-11-04 16:16] #6831 closed

[2021-11-04 17:54] swathi-reddy-m commented on #1066
Hi @micepram
Here is the link to my PR
[#7281 ](https://github.com/girlscript/winter-of-contributing/pull/7281)

[2021-11-04 18:04] A-GHOSH-dev commented on #6841
Marlin is open source firmware primarily designed for RepRap project based FDM (fused deposition modelling) 3D-printers using the Arduino platform.

I was just searching through issues, and found your question. So answered it. I hope this will help.

[2021-11-04 18:09] A-GHOSH-dev commented on #7145
/assign

[2021-11-04 18:43] khush2706 opened #7282 "Frosted glass effect in css"
### Description

How to give a frosted glass effect in CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-11-04 18:44] khush2706 commented on #7282
\assign

[2021-11-04 18:44] khush2706 commented on #7282
/assign

[2021-11-04 19:18] anisha-01-phoenix opened #7284 "ViewBinding and the Use of ButterKnife ViewBinding Library"
### Description

Documentation on ViewBinding and ButterKnife ViewBinding Library.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-11-04 19:41] ankurg132 commented on #550
Sure! @adityabisoi you can assign audio to @surjyaneeh

[2021-11-05 03:17] naveeramesh commented on #7113
@garvitraj

[2021-11-05 04:08] Binita-tech commented on #6462
/assign

[2021-11-05 04:14] #7002 closed

[2021-11-05 04:33] abhisheks008 commented on #5320
@ShraddhaMeshram27 How much time do you need now?

[2021-11-05 04:34] abhisheks008 commented on #6608
@riyasai22 are you ready to take up this issue?

[2021-11-05 04:35] abhisheks008 commented on #6597
@tanvideshmukh29 ?

[2021-11-05 04:35] abhisheks008 commented on #6612
@kokila-Manogar ❓

[2021-11-05 05:18] mimansa-sardhalia commented on #6612
please assign me this issue
name- Mimansa Sardhalia
Batch-5

[2021-11-05 05:35] riyasai22 commented on #6608
@abhisheks008 yes....i'll would like to take it up please.

[2021-11-05 06:26] swathi-reddy-m commented on #5066
/assign

[2021-11-05 06:53] #7193 closed

[2021-11-05 08:09] abhisheks008 commented on #6608
Issue assigned to you @riyasai22

[2021-11-05 10:47] ritika728 opened #7296 "Rearrange array alternately"
### Description

I will explain how to solve this with proper code and explanation in C++ Documentation.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-11-05 10:47] harpreet1602 commented on #7156
Please assign me for the video of Circular Queue.
Harpreet Singh
dsa-batch-6

[2021-11-05 10:48] ritika728 commented on #7296
/assign

[2021-11-05 11:53] snehar-bajwa commented on #1063
Hello, working on the document. There had been family emergency in for the past two weeks. I'll submit tomorrow.

[2021-11-05 11:54] snehar-bajwa commented on #7146
/assign

[2021-11-05 11:56] snehar-bajwa commented on #7148
/assign

[2021-11-05 12:07] Sharayu1071 opened #7297 "html bookmark"
### Description

how to create a bookmark in HTML.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-11-05 12:07] Sharayu1071 commented on #7297
I am working on this issue.

[2021-11-05 12:07] Sharayu1071 commented on #7297
/assign

[2021-11-05 12:42] pjdurden opened #7298 "DSA 4.1.6 Array with two stacks."
## Description
Give an introduction and explain the working of an algorithm for using two stacks to implement an array,

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-11-05 12:43] pjdurden opened #7299 "DSA 4.1.10.1 Postfix to Infix"
## Description
Give an introduction and explain the working of an algorithm for converting postfix expression to infix.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-11-05 12:44] pjdurden opened #7300 "DSA 4.1.10.2 Postfix to Prefix"
## Description
Give an introduction and explain the working of an algorithm for converting Postfix expression to Prefix expression.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.

[2021-11-05 12:44] pjdurden opened #7301 "DSA 4.1.10.3 Prefix to Infix"
## Description
Give an introduction and explain the working of an algorithm for converting Prefix expression to Infix.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
-

[2021-11-05 12:49] thatSophisticatedMess18 commented on #7299
/assign documentation
Diksha Gupta
Batch - 2

[2021-11-05 12:51] pjdurden opened #7302 "DSA 4.1.13 The Celebrity Problem"
## Description
Give an introduction and explain the working of an algorithm to solve the celebrity problem.
The statement for the problem can be summed up by this statement - "We can describe the problem input as an array of numbers/characters representing persons in the party. We also have a hypothetical function HaveAcquaintance(A, B) which returns true if A knows B, false otherwise."
You can co

[2021-11-05 12:52] pjdurden opened #7303 "DSA 4.1.14 Expression Evaluation"
## Description
Give an introduction and explain the working of an algorithm for evaluating a postfix, prefix and infix mathematical expressions.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/

[2021-11-05 12:54] pjdurden opened #7304 "DSA 4.3.3 Anagram Pattern Search"
## Description
Give an introduction and explain the working of an algorithm for searching all anagrams of a pattern in a given text.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING

[2021-11-05 12:55] pjdurden opened #7305 "DSA 4.3.5 Finite Automata"
## Description
Give an introduction and explain the working of Finite Automata.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has alr

[2021-11-05 12:56] pjdurden opened #7306 "DSA 4.3.6 Kasai's Algorithm"
## Description
Give an introduction and explain the working of Kasai's Algorithm.
## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has al

[2021-11-05 12:58] AnujNandeshwar commented on #7304
/assign documentation

[2021-11-05 12:58] pjdurden opened #7307 "DSA 4.3.7 Z Algorithm"
## Description
Give an introduction and explain the working of Z Algorithm.
Further information about this algorithm can be found in the link given below.
https://www.hackerearth.com/practice/algorithms/string-algorithm/z-algorithm/tutorial/

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kind

[2021-11-05 13:00] AnujNandeshwar commented on #7300
/assign documentation

[2021-11-05 13:00] pjdurden opened #7308 "DSA 4.3.8 Suffix Tree (Ukkonen’s algorithm )"
## Description
Give an introduction and explain the working of Suffix Tree and also explain the Ukkonen's Algorithms for suffix tree construction.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DS

[2021-11-05 13:01] AnujNandeshwar commented on #7301
/assign documentation

[2021-11-05 13:01] #7047 closed

[2021-11-05 14:20] #6983 closed

[2021-11-05 14:25] rhythmjayee commented on #4891
@syedareehaquasar can you close this issue and other merged/done issues

[2021-11-05 14:37] syedareehaquasar commented on #4891
sure

[2021-11-05 14:37] #4891 closed

[2021-11-05 14:39] #5168 closed

[2021-11-05 14:39] #4429 closed

[2021-11-05 14:43] syedareehaquasar commented on #1312
@nikki-priyaHIT  go ahead!

[2021-11-05 15:01] sitamadex11 opened #7309 "Android-Kotlin : 15.00 Gradle for android devs"
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 15 Build

[2021-11-05 15:11] prishit55 opened #7310 "JavaScript Bitwise Operators: Documentation"
### Description

This will be a brief discussion about various bitwise operators supported by JS :
And, Or, Xor, Not, Left shift, Right shift.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:/

[2021-11-05 15:12] prishit55 commented on #7310
/assign

[2021-11-05 15:19] rhythmjayee commented on #4891
@syedareehaquasar I can close only issues that were opened by me.

[2021-11-05 15:31] #887 closed

[2021-11-05 15:32] #1702 closed

[2021-11-05 15:32] thatSophisticatedMess18 commented on #7299
/assign documentation

[2021-11-05 15:34] thatSophisticatedMess18 commented on #7303
/assign documentation

[2021-11-05 15:53] #1404 closed

[2021-11-05 15:59] RIYANSHGARG commented on #6323
/assign

[2021-11-05 16:12] harshithatnbr commented on #1312
I have already made 5 video explanations . Can I make PR?? @syedareehaquasar

[2021-11-05 16:12] yashh18 opened #7313 "Python : Numpy"
### Description

Covering the necessary information about the use of numpy in python
Type : Documentation

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-11-05 16:12] yashh18 commented on #7313
/assign

[2021-11-05 16:13] yashh18 commented on #7313
@adityabisoi please assign me this issue

[2021-11-05 16:14] roopali-1 commented on #7313
@adityabisoi is this issue open for audio ??? if yes then do assign it to me.
I would like to work on this issue as audio contri

[2021-11-05 16:24] Aryamanz29 commented on #6462
@Binita-tech  Sure, Go ahead

[2021-11-05 16:28] #6823 closed

[2021-11-05 16:35] nayakaj commented on #5990
/assign

[2021-11-05 16:47] Isha307 opened #7315 "ML 0.3 : Real life application of Data Mining (D)"
### Description

### 📌  Issues of Week 1
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Real life application of Data Mining_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow an

[2021-11-05 16:50] ShudhanshuSingh opened #7316 "UI/UX Designs : Educational App/Website Design"
### Description

Description

* You have to create full application design which includes all the screens from login/sign up to watching videos and checking progress status pages.

* You can take reference of existing platforms like Coursera & Byjus and create your own unique design and let us know why it is better than existing designs, what more value your design adds to existing designs.

* You

[2021-11-05 16:55] Ajinkyap331 commented on #7313
/assign

[2021-11-05 16:57] Ruchika-20 commented on #7315
i would like to work

[2021-11-05 16:59] Isha307 commented on #7315
Issue assigned to you, Create the PR ASAP.

[2021-11-05 16:59] Ruchika-20 commented on #7315
Yes mam , sure

[2021-11-05 17:13] naveeramesh commented on #7316
/assign

[2021-11-05 17:38] shreya024 commented on #7316
I would like to work on this issue.

[2021-11-05 17:40] shreya024 commented on #6045
@garvitraj Thank you for merging.Kindly close this issue.

[2021-11-05 18:03] #7157 closed

[2021-11-05 18:05] #5890 closed

[2021-11-05 18:06] #5215 closed

[2021-11-05 18:11] #7072 closed

[2021-11-05 18:12] #5909 closed

[2021-11-05 18:14] #5907 closed

[2021-11-05 18:15] #5900 closed

[2021-11-05 18:19] KritiG7 commented on #6905
/assign

[2021-11-05 18:21] satyam-mahajan commented on #6905
/assign

[2021-11-05 18:53] pilipi-puu-puu opened #7323 "Opensource : 4.25 RSoC_Open_Source_Program"
### Description

This documentation will contain a complete description of RSoC[Redox-OS-Summer of Code].

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob

[2021-11-05 18:54] pilipi-puu-puu commented on #7323
/assign

[2021-11-05 19:23] #6806 closed

[2021-11-05 21:31] syedareehaquasar commented on #1312
yes Harshita please make a pr

On Fri, 5 Nov 2021, 9:42 pm harshithatnbr, ***@***.***> wrote:

[2021-11-06 01:03] harshithatnbr commented on #1312
I am so sorry . I have made videos for other issue. I have written here. @syedareehaquasar

[2021-11-06 03:38] Ajinkyap331 commented on #7313
@adityabisoi am I good to continue with his

[2021-11-06 03:51] #6819 closed

[2021-11-06 03:53] #6811 closed

[2021-11-06 03:55] #6826 closed

[2021-11-06 04:02] #6925 closed

[2021-11-06 04:19] shreya024 commented on #7316
/assign

[2021-11-06 04:22] #7200 closed

[2021-11-06 04:40] abhisheks008 commented on #5320
@ShraddhaMeshram27 ❓

[2021-11-06 04:41] abhisheks008 commented on #6597
@tanvideshmukh29 ❔

[2021-11-06 04:42] abhisheks008 commented on #6998
@priyall What's the update on this issue ❓

[2021-11-06 04:42] abhisheks008 commented on #7003
@uttarabahad  What's the update on this issue ❓

[2021-11-06 04:43] abhisheks008 commented on #7005
@AdityaNikhil  What's the update on this issue ❓

[2021-11-06 04:43] abhisheks008 commented on #7009
@TishaJhabak1014  What's the update on this issue ❓

[2021-11-06 04:43] abhisheks008 commented on #7011
@kishlayaug15  What's the update on this issue ❓

[2021-11-06 04:44] abhisheks008 commented on #7015
@priyall  What's the update on this issue ❓

[2021-11-06 04:44] abhisheks008 commented on #7013
@Shivangik01  What's the update on this issue ❓

[2021-11-06 04:44] abhisheks008 commented on #7016
@ron352  What's the update on this issue ❓

[2021-11-06 04:45] abhisheks008 commented on #7045
@srini047  What's the update on this issue ❓

[2021-11-06 04:45] abhisheks008 commented on #7048
@deepthi1107  What's the update on this issue ❓

[2021-11-06 04:47] abhisheks008 commented on #7315
@Ruchika-20 It will be better if you put your contribution in the `Miscellaneous folder`, as we are following a certain roadmap and we don't wanna break that. Hope you understand!

All the best 🚀

[2021-11-06 04:52] kishlayaug15 commented on #7011
Working on another issue right now. Give me some time, I'll finish it quickly @abhisheks008

[2021-11-06 04:54] kishlayaug15 commented on #7011
Actually , can I provide audio contributuion here for Hidden Markov Model?

[2021-11-06 04:59] abhisheks008 commented on #7011
@kishlayaug15 It's up to you, whether you have 10 assigned issues or 20, it doesn't matter. Whenever you are taking up some responsibility, make sure you'll be able find yourself in a better position to complete that within the deadline. Anyways make sure you complete your task by EOD. And secondly, this is a video contribution, not an audio contribution.

[2021-11-06 05:03] TishaJhabak1014 commented on #7009
Wil raise the PR today asap. Thank you.

[2021-11-06 05:04] abhisheks008 commented on #7009
@TishaJhabak1014 Make sure  you do that.

[2021-11-06 05:07] adityabisoi commented on #7182
This issue is a ds-algo based one. Closing this issue.

[2021-11-06 05:07] #7182 closed

[2021-11-06 05:09] Ruchika-20 commented on #7315
Sure

On Sat, Nov 6, 2021, 10:18 AM Abhishek Sharma ***@***.***>
wrote:

[2021-11-06 05:17] #7197 closed

[2021-11-06 05:28] priyall commented on #7015
I'll create PR by EOD

[2021-11-06 05:28] priyall commented on #6998
I'll create PR by EOD

[2021-11-06 05:34] adityabisoi commented on #7120
The topic is already covered in #4206

[2021-11-06 05:34] #7120 closed

[2021-11-06 05:35] adityabisoi commented on #7233
Already covered in #576

[2021-11-06 05:35] #7233 closed

[2021-11-06 05:36] adityabisoi commented on #2995
Topic already covered.

[2021-11-06 05:42] adityabisoi commented on #2995
Closed the wrong issue, you can continue to work on this.

[2021-11-06 05:42] adityabisoi commented on #7313
Topic is already covered

[2021-11-06 05:42] #7313 closed

[2021-11-06 05:43] adityabisoi commented on #7243
Make an `Examples` folder and place your contributions in it.

[2021-11-06 05:44] #6581 closed

[2021-11-06 05:46] adityabisoi commented on #7235
Issue already covered

[2021-11-06 05:46] #7235 closed

[2021-11-06 05:50] srini047 commented on #7045
I have made my PR.
Please review it @abhisheks008

[2021-11-06 05:57] adityabisoi commented on #7204
Topic is a part of ds-algo domain.

[2021-11-06 05:57] #7204 closed

[2021-11-06 05:58] adityabisoi commented on #549
You can write any remaining ones.

[2021-11-06 06:00] Pranshu321 opened #7328 "Frontend : CSS Animations in Document Form"
### Description

**In this, I talk about are key features to make an animation and explain each part of the animation in great detail.**

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://githu

[2021-11-06 06:01] Pranshu321 commented on #7328
/assign

[2021-11-06 06:04] shaurya24sri opened #7329 "Advanced_function_filter()"
### Description

What is Advanced_function_filter()?

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-06 06:04] shaurya24sri commented on #7329
/assign

[2021-11-06 06:05] shaurya24sri commented on #7329
/assign

[2021-11-06 06:05] shaurya24sri commented on #7329
@adityabisoi Can i start working on this issue

[2021-11-06 06:20] SB2318 opened #7330 "Interpolation Sort in Java"
### Description

Here I want to make documentation on interpolation sort. I will discuss its logic, time and space complexity, and implementation.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](http

[2021-11-06 06:21] SB2318 commented on #7330
Please assign it to me.

[2021-11-06 06:21] SB2318 commented on #7330
/assign documentation

[2021-11-06 06:42] #4517 closed

[2021-11-06 06:42] #2948 closed

[2021-11-06 06:51] deepthi1107 commented on #7048
i will do pr tomorrow, please do excuse me.

[2021-11-06 07:06] nikki-priyaHIT commented on #6401
@Aryamanz29 Yeah, sure

[2021-11-06 07:08] sitamadex11 opened #7332 "Android-Kotlin : 15.01 Debugging Gradle build scripts & plugins"
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 15 Build

[2021-11-06 07:15] sitamadex11 opened #7333 "Android-Kotlin : 15.02 How to configure build varients?"
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 15 Build

[2021-11-06 07:19] Sayalidoshi commented on #549
okay

[2021-11-06 07:24] sitamadex11 opened #7335 "Android-Kotlin : 16.00 How to run Android tasks in background threads?"
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 16 Threa

[2021-11-06 07:24] saketsagarsingh commented on #2667
@syedareehaquasar thank you for assigning I'll make a PR within 3-4 days

[2021-11-06 07:25] Sayalidoshi commented on #549
All are covered!!

[2021-11-06 07:27] sitamadex11 opened #7336 "Android-Kotlin : 16.01 Overview of Handler and Looper in Android"
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 16 Threa

[2021-11-06 07:28] prathimacode-hub opened #7337 "Data Science with Python : Titanic Survival Prediction"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know to use machine learning to create a model that predicts which passengers survived the Titanic shipwreck

Here is the dataset to follow :  https://www.kaggle.com/c/titanic/data

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", t

[2021-11-06 07:30] sitamadex11 opened #7338 "Android-Kotlin : 16.02 Coroutines vs Thread in android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 16 Threa

[2021-11-06 07:31] prathimacode-hub opened #7339 "Data Science with Python : Digit Recognizer"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know to use computer vision with famous MNIST data to recognize the digits

Here is the dataset to follow : https://www.kaggle.com/c/digit-recognizer/data

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would foll

[2021-11-06 07:32] sitamadex11 opened #7340 "Android-Kotlin : 16.03 AsyncTask in android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 16 Threa

[2021-11-06 07:35] prathimacode-hub opened #7341 "Data Science with Python : Facial Keypoints Detection"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to predict keypoints on face images. You analyze faces in images and videos along with expressions.

Here is the dataset to follow : https://www.kaggle.com/c/facial-keypoints-detection/data

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Sc

[2021-11-06 07:36] sitamadex11 opened #7342 "Android-Kotlin : 16.04 How Coroutines replaced AsyncTask?"
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 16 Threa

[2021-11-06 07:39] prathimacode-hub opened #7343 "Data Science with Python : Bag of Words Meets Bags of Popcorn"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work on sentiment analysis using Google's Word2Vec for movie reviews

Here is the dataset to follow : https://www.kaggle.com/c/word2vec-nlp-tutorial/data

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach

[2021-11-06 07:39] sitamadex11 opened #7344 "Android-Kotlin : 17.00 Debugging in Android Studio."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 17 Debug

[2021-11-06 07:43] prathimacode-hub opened #7346 "Data Science with Python : House Prices Prediction"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to use advanced regression techniques for predicting the house prices

Here is the dataset to follow : https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Py

[2021-11-06 07:48] sitamadex11 opened #7347 "Android-Kotlin : 17.01 Usage of Android Studio memory profiler."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 17 Debug

[2021-11-06 07:48] prathimacode-hub opened #7348 "Data Science with Python : Disaster Tweets Prediction"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to use natural language processing to predict which Tweets are about real disasters and which ones are not.

Here is the dataset to follow : https://www.kaggle.com/c/nlp-getting-started/data

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data S

[2021-11-06 07:54] #5914 closed

[2021-11-06 07:55] #1785 closed

[2021-11-06 07:56] sitamadex11 opened #7349 "Android-Kotlin : 17.02 Overview of System Tracing in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 17 Debug

[2021-11-06 07:57] priyankapiba commented on #6765
Number system, I mean, binary number system, decimal number system and many more, explanation with examples as well as python program for converting from one form to another.

[2021-11-06 07:58] adityabisoi commented on #6765
Go ahead

[2021-11-06 07:58] snehar-bajwa commented on #1063
@micepram should i make readme or google colab file?

[2021-11-06 07:59] adityabisoi commented on #7329
Please check for existing issues before making them. This topic is already covered.

[2021-11-06 08:02] sitamadex11 opened #7350 "Android-Kotlin: 18.00 Memory Leaks in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 18 Memor

[2021-11-06 08:05] ikavyajain opened #7351 "Infix To Postfix Using Array in C"
### Description

To Convert Infix Expression To Postfix Expression In C :)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-11-06 08:05] ikavyajain commented on #7351
/assign

[2021-11-06 08:06] ikavyajain commented on #7351
/assign

[2021-11-06 08:06] prathimacode-hub opened #7352 "Data Science with Python : Depth Map from Stereo Pair Images"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to use Depth Map from Stereo Pair Images using Segmentation method

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go with

[2021-11-06 08:07] sitamadex11 opened #7353 "Android-Kotlin : 19.00 Overview Design Pattern in android with kotlin."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 19 Archi

[2021-11-06 08:10] prathimacode-hub opened #7354 "Data Science with Python : Image Segmentation using KMeans Clustering"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work on Image Segmentation using KMeans Clustering.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go with all three or

[2021-11-06 08:12] prathimacode-hub opened #7355 "Data Science with Python : RANSAC Algorithm"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to use and implement RANSAC Algorithm

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go with all three or any number of op

[2021-11-06 08:13] sitamadex11 opened #7356 "Android-Kotlin : 19.01 Overview of MVVM architecture in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 19 Archi

[2021-11-06 08:15] sitamadex11 opened #7357 "Android-Kotlin : 19.02 Overview of MVP architecture in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 19 Archi

[2021-11-06 08:17] sitamadex11 opened #7358 "Android-Kotlin : 19.01 Overview of MVI architecture in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 19 Archi

[2021-11-06 08:17] prathimacode-hub opened #7359 "Data Science with Python : Data Augmentation Techniques"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to use and implement data augmentation using images.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go with all three or a

[2021-11-06 08:19] prathimacode-hub opened #7360 "Data Science with Python : Hough Transform Implementation"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work and implement Hough Transform and its techniques.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go with all three

[2021-11-06 08:19] sitamadex11 opened #7361 "Android-Kotlin : 19.04 Overview of MVC architecture in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 19 Archi

[2021-11-06 08:21] prathimacode-hub opened #7362 "Data Science with Python : Contrast Stretching using Matplotlib"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to use and implement Contrast Stretching using Matplotlib.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go with all thre

[2021-11-06 08:22] sitamadex11 opened #7363 "Android-Kotlin : 19.05 Overview of Clean architecture in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 19 Archi

[2021-11-06 08:22] prathimacode-hub opened #7364 "Data Science with Python : Harris Corner Detection"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to use and work on Harris Corner Detection using Python.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go with all three

[2021-11-06 08:28] sitamadex11 opened #7366 "Android-Kotlin : 20.01.01 Overview of Glide Library in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 20 3rd P

[2021-11-06 08:30] sitamadex11 opened #7367 "Android-Kotlin : 20.01.02 Overview of Picasso Library in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 20 3rd P

[2021-11-06 08:37] sitamadex11 opened #7368 "Android-Kotlin : 20.02.01 Dependency Injection with Dagger2."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 20 3rd P

[2021-11-06 08:42] sitamadex11 opened #7370 "Android-Kotlin : 20.02.02 Migration from Dagger1 to Dagger2 in Android."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 20 3rd P

[2021-11-06 08:46] sitamadex11 opened #7371 "Android-Kotlin : 20.02.03 Dependency Injection with Hilt."
<hr>

## Description :scroll:

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* The file structure should look like `Android_Development_With_Kotlin  -> 20 3rd P

[2021-11-06 08:47] theshredbox commented on #7354
I would like to take this issue.
Name- Aryan Ahuja
Serial No. 117
Type- Documentation
Approach- implement image segmentation using opencv

[2021-11-06 08:52] theshredbox commented on #7337
I would like to take this issue.
Name- Aryan Ahuja
Serial No. 117
Type- Documentation
Approach- creating a machine learning model that provides information on the fate of passengers on the Titanic, summarized according to economic status (class), sex, age and survival.

[2021-11-06 09:00] freny24 commented on #7364
I would like to work on this issue.
Name : Freny Reji
Batch no : 18 (707)
Type : Documentation
Approach : Explaining Harris corner detection using OpenCV in Python.

[2021-11-06 09:02] freny24 commented on #7364
I would like to work on this issue @prathimacode-hub
Name : Freny Reji
Batch no : 18 (707)
Type : Documentation
Approach : Explaining Harris corner detection using OpenCV in Python.

[2021-11-06 09:11] Chahak02 opened #7372 "Arraylist"
### Description

Single Dimensional
Multi dimensional array list

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-11-06 09:11] Chahak02 commented on #7372
/assign

[2021-11-06 09:11] Chahak02 commented on #7372
/assign

[2021-11-06 09:15] ANUSHKA-AARYA opened #7374 "BAR CHART USING ARRAY IN C"
### Description

In this documentation ,I will explain about making a bar chart  for comparing populations in different countries using arrays and '*' operator in c language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of con

[2021-11-06 09:16] ANUSHKA-AARYA commented on #7374
/assign

[2021-11-06 09:36] ikavyajain opened #7376 "Operations in Binary Tree"
### Description

I have prepared a documentation on Operations in Binary Tree which includes:
- Inserting an element into a Binary Tree
- Deleting an element from a Binary Tree
- To traverse through the Binary Tree in INORDER
- To count the number of nodes in the Binary Tree
- To find the height of the Binary Tree
- To traverse tree in LEVEL ORDER
- To search a value in the Binary Tree

Hope you l

[2021-11-06 09:37] ikavyajain commented on #7376
/assign

[2021-11-06 09:37] prathimacode-hub commented on #7337
Issue assigned to @theshredbox for documentation

[2021-11-06 09:38] prathimacode-hub commented on #7354
Issue assigned to @theshredbox for documentation

[2021-11-06 09:39] prathimacode-hub commented on #7364
Issue assigned to @freny24 for documentation

[2021-11-06 10:08] uttarabahad commented on #7003
@abhisheks008 @Isha307 Created a PR, Pls review. https://github.com/girlscript/winter-of-contributing/pull/7378

[2021-11-06 10:09] #6608 closed

[2021-11-06 10:20] ikavyajain opened #7379 "Operations In Vector"
### Description

I have prepared a documentation on Operations In Vector which explains using code:
- Vector Pairs
- A empty vector
- Ways to print the vector
- Insert function
- List
- Deque
- Stack
- Queue
- Priority Queue
- Set
- MultiSet
- UnorderedSet
- Map
- MultiMap
- UnorderedMap

Hope you learn and implement it. :)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of C

[2021-11-06 10:21] ikavyajain commented on #7379
/assign

[2021-11-06 10:28] elixir14082002 opened #7380 "Constant Declaration"
### Description

I will be talking about the various different ways of declaring constants in CPP. I will cover the following topics:

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winte

[2021-11-06 10:29] elixir14082002 commented on #7380
/assign

[2021-11-06 10:33] ayushjha952 commented on #7302
Hi @pjdurden can you assign me this issue I would like to work on the documentation part .
Ayush Jha
DSA Batch 3

[2021-11-06 10:37] Sera001 commented on #7360
I would like to contribute to this issue.
Name: Jeffy Johnson
Serial number: 713
Type: Documentation
Approach: What and implement Hough Transform

[2021-11-06 10:40] #7003 closed

[2021-11-06 10:42] riyasai22 commented on #6597
If this issue is still open, I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: documentation

[2021-11-06 10:47] prathimacode-hub commented on #7360
Issue assigned to @Sera001 for documentation

[2021-11-06 11:08] iam-sakshi opened #7383 "Number Theory : Sieve Of Eratosthenes"
### Description

How to find Prime number efficiently in competitive programming.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-11-06 11:09] iam-sakshi commented on #7383
/assign

[2021-11-06 11:41] ikavyajain opened #7386 "Calendar In C"
### Description

I have prepared a documentation on Calendar In C

This fascinating program prints a calendar of the year on the basis of :
- Year
- Month by Month in sequential order by inputting Year by the user
- Day by inputting Date , Month and Year

Hope you find the Date, Date, Month of your choice! :)
Enjoy the code!

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of

[2021-11-06 11:42] ikavyajain commented on #7386
/assign

[2021-11-06 12:07] #7095 closed

[2021-11-06 12:08] #2038 closed

[2021-11-06 12:21] Aniketsinghcoder commented on #7298
/assign

[2021-11-06 12:24] Aniketsinghcoder commented on #7307
/assign

[2021-11-06 12:40] Apoorv-17 commented on #7346
Hello, I am Apoorv Yadav, I would like to work on this issue.
Batch Number: 15
Serial Number: 537
GitHub Profile Link: https://github.com/Apoorv-17
contribution:  Documentation, Video
Approach:
House price prediction training dataset, finding the best algorithm to find out the price and then the model evaluation next testing of the model and at last predicting the price of the house using our trai

[2021-11-06 12:43] Apoorv-17 commented on #5891
I would like to work on this issue.
Name: Apoorv Yadav
Batch: 07
Type: Video

[2021-11-06 12:59] priyanshu688 opened #7390 "[DSA]: Binary Tree and Its Application"
### Description

Describe What is Binary Tree and Also Its Application.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-11-06 13:00] priyanshu688 commented on #7390
/assign

[2021-11-06 13:03] priyanshu688 opened #7391 "[DSA]: Linear Search Techniques and Its Complexity Analysis"
### Description

Discuss about Linear Search and Its Complexity Analysis.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-11-06 13:07] priyanshu688 commented on #7391
/assign

[2021-11-06 13:07] #5926 closed

[2021-11-06 13:18] priyanshu688 opened #7392 "[DSA]: Binary Search Techniques and Its Complexity Analysis"
### Description

Discuss about Binary Search Techniques and Its Complexity Analysis.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT