[2021-09-24 09:32] #2216 closed

[2021-09-24 09:37] Bhuvnesh875 commented on #2399
/assign

[2021-09-24 09:46] VenkateswarNayak commented on #2396
okay Mam

[2021-09-24 09:50] VenkateswarNayak opened #2425 "HTML: Conventions and Best Practices"
<hr>

## Description 📜

I want to work on making a complete documentation on  the topic Conventions and Best Practices.
Please /assign this to me.

<hr>

## Domain of Contribution 📊

- [X] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-24 09:50] VenkateswarNayak commented on #2425
/assign

[2021-09-24 09:50] VenkateswarNayak commented on #2425
/assign

[2021-09-24 09:50] VenkateswarNayak commented on #2425
/assign

[2021-09-24 09:50] VenkateswarNayak commented on #2425
/assign

[2021-09-24 09:50] ayushi424 commented on #2403
Name: Ayushi Shrivastava
S No: 811
Approach to be followed:
-  Documentation
 - Categorical columns might hamper the efficiency of a ML model so to deal with it we can convert categorical columns into numerical and enhance the efficiency of a ML model using a example dataset with proper code and explanation.

[2021-09-24 09:50] VenkateswarNayak commented on #2425
/assign

[2021-09-24 09:50] VenkateswarNayak commented on #2425
/assign

[2021-09-24 09:51] VenkateswarNayak commented on #2425
/assign

[2021-09-24 09:55] VenkateswarNayak commented on #2425
Thank You Sir!!

[2021-09-24 09:58] AkMo3 commented on #1613
ACK: Documentation merged. Audio and Video are available to take.

[2021-09-24 09:59] #1103 closed

[2021-09-24 10:02] AkMo3 opened #2426 "Java 12.3: Method Overriding"
### Description

Add audio, documentation, and video regarding the **Method Overriding**.

____

### Location of File to be added

The files should be added inside the `Method Overriding`  folder which is inside the `Inheritance`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted thro

[2021-09-24 10:03] AkMo3 opened #2427 "Java 12.4: Abstract Classes"
### Description

Add audio, documentation, and video regarding the **Abstract Classes**.

____

### Location of File to be added

The files should be added inside the `Abstract Classes`  folder which is inside the `Inheritance`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted throug

[2021-09-24 10:04] AkMo3 opened #2428 "Java 12.5: Using final with Inheritance"
### Description

Add audio, documentation, and video regarding the **Using final with Inheritance**.

____

### Location of File to be added

The files should be added inside the `Using final with Inheritance`  folder which is inside the `Inheritance`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format an

[2021-09-24 10:06] AkMo3 commented on #2363
@techabhi08 You already have been assigned #2165. Merge a PR for that first.

[2021-09-24 10:06] AkMo3 commented on #2219
@ishivamgupta9 You have been assigned for documentation.

[2021-09-24 10:07] pratibha-hansda commented on #2427
/assign documentation

[2021-09-24 10:07] AkMo3 commented on #2364
@Yashesvinee You have been assigned documentation.

[2021-09-24 10:10] aniket-24 opened #2431 "Cyclic Sort in C++"
### Description

In this, we will get a brief idea about the Cyclic Sort

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-09-24 10:11] aniket-24 commented on #2431
/assign

[2021-09-24 10:16] pratibha-hansda commented on #2427
\assign documentation

[2021-09-24 10:20] garvitraj commented on #1899
@Palak-Srivastava go with the audio

[2021-09-24 10:21] Aman-Deshpande commented on #2426
/assign video

[2021-09-24 10:23] sujana-kamasany commented on #2363
\assign Video

[2021-09-24 10:25] preestine commented on #1027
@Kareem-negm Hello Sir,I am facing a lot of difficulties to make the PR. I have followed all the tutorials,but I am still clueless about how to make the PR. I have made the project of my issue in Google Colab and I have the dataset. If possible, please help me out.

[2021-09-24 10:27] AbhinandanAdhikari commented on #2428
/assign documentation

[2021-09-24 10:27] garvitraj commented on #2363
@sujana-kamasany go with video

[2021-09-24 10:30] AbhinandanAdhikari commented on #2428
@AkMo3 My Java Bytecode PR has been merged so i can take up this one? The bot automatically unassigned me

[2021-09-24 10:35] Sneha-0308 commented on #2427
\assign audio

[2021-09-24 10:42] BasuDevTyagi10 commented on #1855
@prathimacode-hub here are the details:
Serial Number - 773
Approach -
I will be touching the following topics in the Documentation:
1. What is Serialization and Deserialization?
2. What is the advantage of serialization in Python?
3. How to use pickle module for serialization and deserialization.

[2021-09-24 10:42] akashshukla7458 opened #2435 "[Create New Issue]: CPP : KMP Algorithm for Pattern Searching"
### Description

KMP Algorithm for Pattern Searching .
Given a text txt[0..n-1] and a pattern pat[0..m-1], write a function search(char pat[], char txt[]) that prints all occurrences of pat[] in txt[]. You may assume that n > m.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contribu

[2021-09-24 10:42] akashshukla7458 commented on #2435
/assign

[2021-09-24 10:44] akashshukla7458 commented on #2435
/assign

[2021-09-24 10:44] Arjun2905 commented on #105
@Rohit-2602 Please go through my PR.  https://github.com/girlscript/winter-of-contributing/pull/2434

[2021-09-24 10:50] AkMo3 commented on #2427
@pratibha-hansda You have been assigned documentation and @Sneha-0308 You have been assigned audio.

[2021-09-24 10:51] Dipti821 opened #2437 "Competitive Programming : Inclusion-exclusion principle"
### Description

I want to create documentation to explain the concept of inclusion-exclusion principle in C++ with code example.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of

[2021-09-24 10:52] AkMo3 commented on #2428
Yes as you still have 5 assigned issues. Please finish them first. If you have merged PR for them, let me know.

[2021-09-24 10:52] Dipti821 commented on #2437
/assign

[2021-09-24 10:53] AbhinandanAdhikari commented on #2428
@AkMo3 Yes, all my 5 Pull requests are merged

[2021-09-24 10:54] Arjun2905 commented on #2200
Arjun Wankhede
ML Batch 3
Type of contribution : Audio
https://github.com/Arjun2905

[2021-09-24 10:56] Khushi-Shah-1 commented on #2406
I would like to work on this issue.
Name: Khushi Shah
Serial No.: 630
Type: Documentation
Approach: What is OpenCV used for, installation, basic functions, Applications etc.

[2021-09-24 10:56] Arjun2905 commented on #2200
@Isha307  assign this to me

[2021-09-24 10:58] Dracarys0511 commented on #548
#2438 @ankurg132  Sir, Is it fine for merging?

[2021-09-24 11:03] Shishiranjan commented on #1613
\assign audio

[2021-09-24 11:06] Arjun2905 opened #2439 "3.7 Android-Web-View Example :"
### Description

How to bring webview within your android app's activity.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-09-24 11:08] Arjun2905 commented on #2439
@VikasPandey121  please assign this issue to me as no one has started working on this issue .
I created this issue as per our roadmap.

[2021-09-24 11:11] Arjun2905 commented on #2439
/assign

[2021-09-24 11:20] Isha307 commented on #1262
Update?

[2021-09-24 11:20] VenkateswarNayak opened #2441 "HTML: CSS Basics & Syntax"
<hr>

## Description 📜

I want to work on making a complete documentation on CSS Basics & Syntax.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-24 11:21] VenkateswarNayak commented on #2441
/assign

[2021-09-24 11:21] VenkateswarNayak commented on #2441
/assign

[2021-09-24 11:21] VenkateswarNayak commented on #2441
/assign

[2021-09-24 11:21] VenkateswarNayak commented on #2441
/assign

[2021-09-24 11:21] ganaaduvva commented on #2428
\assign documentation

[2021-09-24 11:21] VenkateswarNayak commented on #2441
/assign

[2021-09-24 11:21] VenkateswarNayak commented on #2441
/assign

[2021-09-24 11:22] Isha307 commented on #1259
@sanjana-iyengar Update?

[2021-09-24 11:23] VenkateswarNayak commented on #2441
/assign

[2021-09-24 11:24] VenkateswarNayak commented on #2441
/assign

[2021-09-24 11:24] #2441 closed

[2021-09-24 11:26] hrugved06 commented on #1262
I'm on it

[2021-09-24 11:26] VenkateswarNayak opened #2442 "Frontend : CSS Basics & Syntax"
<hr>

## Description 📜

I want to work/contribute on making a complete documentation on CSS Basics & Syntax.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-24 11:26] VenkateswarNayak commented on #2442
/assign

[2021-09-24 11:26] VenkateswarNayak commented on #2442
/assign

[2021-09-24 11:27] VenkateswarNayak commented on #2442
/assign

[2021-09-24 11:27] VenkateswarNayak commented on #2442
/assign

[2021-09-24 11:27] VenkateswarNayak commented on #2442
/assign

[2021-09-24 11:27] VenkateswarNayak commented on #2442
/assign

[2021-09-24 11:35] #243 closed

[2021-09-24 11:36] Isha307 commented on #1262
okay, How many more days you need?

[2021-09-24 11:37] Isha307 commented on #2200
@Arjun2905 You can work on it.

[2021-09-24 11:38] an5hu19 opened #2444 "[Create New Issue]: binary tree traversals"
### Description

Description
ways to traverse a binary tree
preorder, postorder and inorder

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-09-24 11:38] an5hu19 commented on #2444
/assign

[2021-09-24 11:38] hrugved06 commented on #1262
I'll finish it by tommorrow

[2021-09-24 11:38] Anuj2403 commented on #2444
/assign

[2021-09-24 11:38] Sera001 commented on #2409
I would like to contribute to this issue.
Name: Jeffy Johnson
Serial number: 713
Type: Documentation
Approach: What is Theano?, Implementation, sample code, advantages

[2021-09-24 11:42] #2444 closed

[2021-09-24 11:53] 2devyank commented on #995
@paramsiddharth please assign me this issue for video based contribution

[2021-09-24 11:54] RahulSoni0 commented on #2415
/assign

[2021-09-24 11:56] sakshamlamba109 opened #2445 "Java 13.1: Defining Packages"
<hr>

## Description 📜

Add audio, documentation and video regarding the Need of Java.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Defining Packages`  folder which is inside the `Packages` folder present in the `Java` main folder. If the folder is not present, create the folder with this exact name. The documentation

[2021-09-24 11:57] sakshamlamba109 opened #2446 "Java 13.2: Finding Packages and CLASSPATH"
<hr>

## Description 📜

Add audio, documentation and video regarding the Need of Java.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Finding Packages and CLASSPATH`  folder which is inside the `Packages` folder present in the `Java` main folder. If the folder is not present, create the folder with this exact name. The d

[2021-09-24 11:59] sakshamlamba109 opened #2447 "Java 13.3: Importing Packages"
<hr>

## Description 📜

Add audio, documentation and video regarding the Need of Java.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Importing Packages`  folder which is inside the `Packages` folder present in the `Java` main folder. If the folder is not present, create the folder with this exact name. The documentation

[2021-09-24 12:01] #105 closed

[2021-09-24 12:03] #1872 closed

[2021-09-24 12:07] Moeen-Ul-Islam commented on #2346
/assign

[2021-09-24 12:08] Praannjaal commented on #1843
Approach -> I will give a brief about one hot encoding , its need and how to use it

[2021-09-24 12:08] Moeen-Ul-Islam opened #2448 "This issue [has been assigned](https:&#x2F;&#x2F;github.com&#x2F;girlscript&#x2F;winter-of-contributing&#x2F;issues&#x2F;2346#issuecomment-926108391) to @yashvardhan-verma!"

[2021-09-24 12:08] Isha307 commented on #1262
great

[2021-09-24 12:10] Moeen-Ul-Islam opened #2449 "[Create New Issue]: Hoisting"
### Description

Documentation

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-24 12:13] hsteg420 opened #2450 "[Frontend]: CSS Animations"
### Description

## Description 📜

- I want to contribute on how to create custom animations in CSS
-  Repository would include complete documentation and visual examples.✨

## Domain of Contribution 📊

- [ ] Frontend Dev (HTML, CSS, JS)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://gith

[2021-09-24 12:13] hsteg420 commented on #2450
/assign

[2021-09-24 12:14] shoebxsiddiqui commented on #2447
hey @sakshamlamba109 ,
pls /assign me this issue , i would love to work on this , I am Java batch 4 .

[2021-09-24 12:19] ashish-reddy-20-08 commented on #1556
Hello @Isha307 and @abhisheks008.
Can you please evaluate my work. I have made a PR.
LINK OF PR: https://github.com/girlscript/winter-of-contributing/pull/2451
 Name: M. Ashish Reddy
 Batch Number: 2
Serial Number: 260

[2021-09-24 12:19] shoebxsiddiqui commented on #2446
\assign Documentation

[2021-09-24 12:29] AnkitaGupta454 opened #2454 "[Create New Issue]: Find the next greater element"
### Description

Description  find next greater element in an array

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-09-24 12:30] AnkitaGupta454 commented on #2454
/assign

[2021-09-24 12:36] meghna750 opened #2456 "[DSA]: Range queries in arrays"
### Description

Range queries in arrays:
1. MO's algorithm
2. range LCM queries
3. Array range queries over t=range queries

I will use proper documentation and the best examples so that a newbie can understand these concepts.
Very excited to work on these topics, please assign them to me.

### Domain

DSA

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Cont

[2021-09-24 12:44] priyanka001tech commented on #2456
I would like to contribute

[2021-09-24 12:44] priyanka001tech commented on #2456
BATCH NO 1
DSA

[2021-09-24 12:46] prishita-s commented on #2406
I would like to work on this issue
Name: Prishita Singh
Serial No. 721
Type: Documentation
Approach: Define OpenCv, how to get started with it. Where it is used. Example of a project with opencv. Mentioning more such projects which can be done using OpenCV

[2021-09-24 12:48] priyanka001tech commented on #2400
/assign

[2021-09-24 12:49] Imanul006 commented on #118
Hello @Priyanshirathore, What's the status of this issue?

[2021-09-24 12:56] Priyanshirathore commented on #118
I am working on a different issue right now, the week 2 issue. Firebase is due in the 4th or 5th week I guess. I will do it after few days.

[2021-09-24 12:56] cookieg13 opened #2460 "Best CSS Libraries"
### Description

Here I will,
- explain what CSS libraries are
- list a few of the best CSS libraries out there
- explain those libraries in brief

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](htt

[2021-09-24 12:57] cookieg13 commented on #2460
/assign

[2021-09-24 12:58] VanshSh opened #2461 "CSS Naming Convention"
### Description

# Block __Element--Modifier (BEM)

## It is a CSS naming convention.

### Type of Contribution: Documentation

### Contribution did till now:
 1. [ HTML Semantic Elements ](https://github.com/girlscript/winter-of-contributing/tree/Frontend_Web_Development_HTML_CSS_JS/Web_Development/FrontEnd/HTML%20Semantic%20Elements)

***
### Issue by [Vansh Sharma](https://github.com/VanshSh)

[2021-09-24 13:00] VanshSh commented on #2461
/assign

[2021-09-24 13:02] meghna750 opened #2462 "[DSA]: Arrays- Sorting"
### Description

I will add these topics:
1. Sorting an array of 0,1 and 2
2. Sorting a nearly sorted array
3. Count number of possible triangles

I will use documentation with the best examples so that even a newbie can understand all these concepts.
Very excited to contribute in GWOC, please assign this to me :)

### Domain

DSA

### Type of Contribution

Documentation, Others

### Code of Condu

[2021-09-24 13:04] Kareem-negm commented on #1027
Don't worry it's easy, just finish your task on google colab  and download your notebook
after that follow this article or video to make your first [contribution ](https://www.dataschool.io/how-to-contribute-on-github/)
or you can see this [video](https://www.youtube.com/watch?v=Aj4Bo8-yTT0)
if you have any questions please let me know
[code]

[2021-09-24 13:10] Suvraneel commented on #699
Closing merged issue

[2021-09-24 13:10] ShubhamPatel01 commented on #1527
@prathimacode-hub
I would like to work on this issue, which is issue no. 1527
Name: Shubham Patel
Serial No. 104.
Type: Video
Approach:

- Introduction to K-Means Clustering

- Working of K-Means Clustering algorithm and implementing it.

- Application of K-Means Clustering algorithm

[2021-09-24 13:11] goelesha commented on #2233
Can you pls elaborate what exactly you will be adding in space complexity ?

[2021-09-24 13:12] Suvraneel commented on #734
@Diksha-11  For C/C++ branch its fine to use self-assign on a self-authored non-duplicate & roadmap-specific issue 👍🏻

[2021-09-24 13:12] goelesha commented on #2233
Can you pls elaborate what exactly you will be adding in space complexity ?

[2021-09-24 13:12] Tanushree-coder commented on #1432
\assign

I will do the documentation part of Time Picker.

[2021-09-24 13:12] AkMo3 commented on #1899
@garvitraj She had already been assigned to #1903 so she cannot be appointed.

[2021-09-24 13:13] Tanushree-coder commented on #1432
/assign

[2021-09-24 13:14] Pratham-Shah commented on #2344
I would like to work on this issue

[2021-09-24 13:14] AkMo3 commented on #2426
@Aman-Deshpande You will be assigned after #2384 is merged.

[2021-09-24 13:15] Suvraneel commented on #834
@Ravinayak07  We consider/prefer the 1st issue maker for every topic...
But yes, to resolve conflicts, I'll recommend taking up a non-conflicting issue
C++ has infinite algorithms & problems to contribute to

[2021-09-24 13:16] #1707 closed

[2021-09-24 13:17] dikshatakyar commented on #930
@code-reaper08 Hi,Please review my PR. Thankyou !

[2021-09-24 13:18] lvi131 commented on #2233
@goelesha
Definition, 1 or 2 simple examples how to calculate, one example of recursive algo, and auxiliary space vs space complexity

[2021-09-24 13:19] jyotibajaj729 commented on #2001
But i have been assigned this now.can u plzz take some other issue.

[2021-09-24 13:19] goelesha commented on #2233
Okay. You can go ahead with the issue. I will rename it myself

[2021-09-24 13:19] lvi131 commented on #2233
Okay Thanks.

[2021-09-24 13:20] Saviour1001 commented on #2213
Closing this issue as the PR got merged ! You can open new issues !!

[2021-09-24 13:20] #2213 closed

[2021-09-24 13:22] Ash515 commented on #1634
Sure

[2021-09-24 13:23] #1870 closed

[2021-09-24 13:23] hariketsheth opened #2466 "[Backend Development PHP] : Concepts of Dependency Injections"
### Description

- Would like to provide documentations for **Dependency Injections in PHP**
- Types of Dependency injections
- Possible Problems - with Solutions

### Domain

Backend Dev (PHP)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of con

[2021-09-24 13:24] hariketsheth commented on #2466
/assign

[2021-09-24 13:24] AkMo3 commented on #2428
@AbhinandanAdhikari You have been assigned documentation. @ganaaduvva He actually commented so I am assigned him, otherwise you can ask for other comment.

[2021-09-24 13:25] meghna750 opened #2467 "[C/C++]: Decision making"
### Description

I will add all details of if, else and else if statements in a very easy way that even a newbie can understand it easily!
I will use the documentation for this purpose.

### Domain

C/CPP

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING

[2021-09-24 13:29] Ash515 opened #2468 "SQLData types and SQL Operators 🛠🛢"
### Description

Data types and operators are the backbone for every programming languages, start to learn the concept in SQL programming  and contribute here.

## Note :
### If it is in document mode of contribution, you have to write in **.md file**  i.e Readme file.

Happy Contributing !!

### Domain

Database

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contri

[2021-09-24 13:31] LegendSumeet commented on #2468
assign me

[2021-09-24 13:32] LegendSumeet commented on #2467
assign me @meghna750

[2021-09-24 13:34] Suvraneel commented on #2386
@am-dusky  Go ahead

[2021-09-24 13:39] Sin-Sumit opened #2472 "Frontend_Web_Development is missing or archieved from GWOC."
### Description

From the GWOC, Frontend_Web_Development is missing or archived.
I have a forked copy of it, from where I work on JavaScript Fundamental and I add about the Script Tag.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-24 13:39] Sin-Sumit commented on #2472
/assign

[2021-09-24 13:41] Sin-Sumit commented on #2472
@sifa123 Please make a Review.

[2021-09-24 13:43] GyaniRoman23 commented on #2448
@gauravdas014 Kindly have a look at this issue. It seems like a spammy one.

[2021-09-24 13:45] Sin-Sumit commented on #2206
@Rishabh510

[2021-09-24 13:47] #1754 closed

[2021-09-24 13:52] #1532 closed

[2021-09-24 13:53] prathimacode-hub commented on #2403
Issue assigned to @ayushi424 for documentation

[2021-09-24 13:55] prathimacode-hub commented on #2409
Have you addressed your earlier PR, if not do so before starting into this. Anyways I have assigned this issue to @Sera001 for documentation

[2021-09-24 13:56] dakshitathakkar commented on #445
Hi, This is regarding an update of my work on this issue. I've recorded the audio and made a presentation for the same. Will shortly upload the files on google drive and complete the work.

[2021-09-24 13:58] ashish-reddy-20-08 commented on #140
@micepram, Kindly evaluate the PR.
PR link: https://github.com/girlscript/winter-of-contributing/pull/2473
Batch - 1
serial number: 12
Name: M. Ashish Reddy

[2021-09-24 14:00] VARUN-K-BANSAL opened #2474 "Deletion in Binary Search Tree"
### Description

Generating this issue to add documentation of deletion of a particular element in Binary Search Tree.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributi

[2021-09-24 14:00] VARUN-K-BANSAL commented on #2474
/assign

[2021-09-24 14:00] VARUN-K-BANSAL commented on #2474
/assign

[2021-09-24 14:01] ritikaxx commented on #2462
/assign

[2021-09-24 14:03] BhavyaPooja259 opened #2475 "Frontend_Web_Development_HTML_CSS_JS: Basics of Internet:HTTP"
### Description

Hypertext Transfer Protocol and its working

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-09-24 14:03] BhavyaPooja259 commented on #2475
/assign

[2021-09-24 14:04] thatSophisticatedMess18 commented on #2445
/assign

[2021-09-24 14:05] AnkitaGupta454 opened #2476 "[Create New Issue]: HTML colors"
### Description

Description About colors in HTML

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-09-24 14:05] AnkitaGupta454 commented on #2476
/assign

[2021-09-24 14:05] AkkineniYogitha commented on #559
If this issue is not yet assigned to anyone, I would be happy to work on it.
Name: Akkineni Yogitha
Python Batch: 1
Preference: Documentation

[2021-09-24 14:07] Binita-tech commented on #1104
I have made document, I am learning git command. Soon , I will make pull request.

[2021-09-24 14:08] rishitajain01 commented on #2467
/assign documentation

[2021-09-24 14:10] rishitajain01 commented on #2447
/assign documentation

[2021-09-24 14:10] hsteg420 opened #2478 "[MERN_MongoDB]: MongoDB Schemas"
### Description

## Description 📜
- What is Schema?
- How to design Schema in MongoDB
- Layout of Basic Schema ✨
## Domain of Contribution 📊

- [ ] MERN

### Domain

MERN

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gi

[2021-09-24 14:11] hsteg420 commented on #2478
/assign

[2021-09-24 14:13] ashish-reddy-20-08 commented on #2403
@prathimacode-hub, Mam can i work on the video part for this

[2021-09-24 14:15] ashish-patwal opened #2479 "Open Source : npm in opensource"
### Description

#### The npm Registry is a repository of open-source software packages hosted by npm for the Node. js developer community. Using npm's hosted service is free for open source software, and private package hosting is available for teams and individual developers.
<br>

*Points to Note*
* Describe and explain npm and npm packages
* Their role in promoting opensource , shareable softw

[2021-09-24 14:17] msbuddhu commented on #2474
/assign

[2021-09-24 14:18] msbuddhu commented on #2368
/assign

[2021-09-24 14:18] msbuddhu commented on #2373
/assign

[2021-09-24 14:18] deepthi1107 commented on #2262
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do documentation on this issue.
my approach: A detailed explanation with code

[2021-09-24 14:20] Ravinayak07 commented on #834
okay sure

[2021-09-24 14:31] shreyarai05 commented on #2262
This issue has been assigned to me i guess

[2021-09-24 14:35] preestine commented on #1027
@Kareem-negm Thanks a lot for your kind words and support. I might need some time to make the PR,because I am following your instructions and tutorials. I am slow learner,I take time to learn new things. :(
Your guidance and consideration is appreciated.

[2021-09-24 14:35] garvitraj commented on #1613
@Shishiranjan go with the audio

[2021-09-24 14:38] eshan1925 commented on #2479
/assign

[2021-09-24 14:40] #2209 closed

[2021-09-24 14:41] #1556 closed

[2021-09-24 14:42] hariketsheth commented on #2468
/assign
@Ash515 - Would like to contribute to this, if possible. Thank you !

[2021-09-24 14:50] #604 closed

[2021-09-24 14:54] Suvraneel commented on #1670
@Pranshu321  's issue will be considered

[2021-09-24 14:54] #1670 closed

[2021-09-24 14:57] adityabisoi commented on #559
Go with audio

[2021-09-24 14:58] Anujakumari commented on #563
@adityabisoi , Can I contribute on this issue through video.
python batch - 5
Thanks

[2021-09-24 15:00] Suvraneel commented on #1480
Its already been said...
Take 1 small topic & make an elaborate documentation

[2021-09-24 15:00] #1480 closed

[2021-09-24 15:01] Anujakumari commented on #578
@adityabisoi , Can I contribute on this issue through video.
python batch - 5
Thanks

[2021-09-24 15:15] shahishree03 commented on #2476
I would like to go with ./video as adding more proficient look to the topic .Please assign me

[2021-09-24 15:17] ishivamgupta9 commented on #2219
Thanks @AkMo3

[2021-09-24 15:17] eshan1925 commented on #1458
Hey @rahulsain I have opened the PR you can go ahead and merge it if there is no issue.
THANKYOU

[2021-09-24 15:24] sushovanb02 opened #2494 "[JS]: Cookies in JavaScript"
### Description

# Description
- What are cookies?
- How cookies work?
- Create/Read/Change/Delete a cookie
- Get/Set a cookie

# Directory
```Topics/16.Cookies```

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](

[2021-09-24 15:28] string-SAm opened #2495 "search an elemennt in an array"
### Description

using dsa solving problem search an element in an array.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-09-24 15:28] ishivamgupta9 commented on #2377
/assign document

[2021-09-24 15:31] ShivaniAgarwal2001 commented on #2495
/assign me.

[2021-09-24 15:36] Sakshamgupta90 commented on #1607
@code-reaper08 please preview the pull request!
https://github.com/girlscript/winter-of-contributing/pull/2469

[2021-09-24 15:43] #739 closed

[2021-09-24 15:45] AnkitaGupta454 opened #2498 "[Create New Issue]: Rendering Elements in React"
### Description

Description Rendering Elements to DOM using React

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-09-24 15:45] AnkitaGupta454 commented on #2498
/assign

[2021-09-24 15:45] Anant1711 opened #2499 "Cybersecurity: 3.9.2 Malware"
### Description

##Description:
Explain What are Malwares, and preventions.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Che

[2021-09-24 15:47] Anant1711 opened #2501 "Cybersecurity: 3.9.3 Phishing Attackes"
### Description

##Description
Explain What is Phishing attacks.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [

[2021-09-24 15:49] Anant1711 opened #2502 "Cybersecurity: 3.9.4 Cloud Jacking"
### Description

##Description
Explain What is Cloud jacking.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Con

[2021-09-24 15:51] Anant1711 opened #2503 "Cybersecurity 3.9.5 MAN-IN-THE-MIDDLE attack"
### Description

##Description

Explain in detail what is MAN-IN-THE-MIDDLE attack, How it can be done, How we can prevent ourselves!

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.

[2021-09-24 15:57] nandini7637 opened #2505 "Java 13.1: Defining Packages"

[2021-09-24 16:01] nandini7637 opened #2506 "Java 13.2: Finding Packages and CLASSPATH"

[2021-09-24 16:04] #1731 closed

[2021-09-24 16:05] #930 closed

[2021-09-24 16:09] medhatiwari commented on #2503
I would like to contribute to this. Please assign this to me @Anant1711
`Documentation`

[2021-09-24 16:09] tanvideshmukh29 commented on #1242
I would like to work on this issue through documentation,
Name - Tanvi Deshmukh
Batch no. - 7
/assign

[2021-09-24 16:16] iamKushGupta commented on #2499
Can I be assigned the documentation for this issue ??

[2021-09-24 16:20] meghna750 commented on #2462
/assign

[2021-09-24 16:22] meghna750 commented on #2467
/assign

[2021-09-24 16:24] meghna750 commented on #2467
/assign documentation

[2021-09-24 16:29] Diksha-11 commented on #734
@Suvraneel

Ok sir.

[2021-09-24 16:34] RahulSoni0 commented on #2505
\assign Documentation

[2021-09-24 16:38] RahulSoni0 commented on #2505
\assign documentation

[2021-09-24 16:45] shoebxsiddiqui commented on #2506
\assign Document

[2021-09-24 16:50] shivang02 commented on #2309
I would like to work on this issue. Please assign it to me.

[2021-09-24 16:53] shivang02 commented on #2309
/assign

[2021-09-24 16:55] astha2412 opened #2518 "[C/C++]: Templates"
### Description

I will add the theory of template, its syntax, and codes of templates with default parameters, multiple parameters in a very easy way that even a newbie can understand easily!
I will use the documentation for this purpose.
/assign

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript

[2021-09-24 16:56] astha2412 commented on #2518
/assign

[2021-09-24 16:59] akarshan2602 commented on #1273
@Suravihere hey, sorry for the delay, but i went to the cpp branch, and saw that someone has already uploaded the solution 3 days ago, so was this a mistake?? of assigning it to me or i still have to work on it??

Regards,
Akarshan

[2021-09-24 17:00] AnkitaGupta454 opened #2519 "[Create New Issue]: Find Middle of the linked list"
### Description

Description Find Middle of linked list

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of t

[2021-09-24 17:01] Anuj2403 commented on #2519
/assign

[2021-09-24 17:05] #1263 closed

[2021-09-24 17:06] ashish-reddy-20-08 commented on #1856
@prathimacode-hub , Mam can you please review my PR.
PR link: https://github.com/girlscript/winter-of-contributing/pull/2521
Batch number: 5
serial number:174
Name: M. Ashish Reddy

[2021-09-24 17:21] #2519 closed

[2021-09-24 17:22] anupamishra333 opened #2523 "[Open Source]: Deployment projects in Github Pages"
### Description

Description

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-24 17:24] anupamishra333 commented on #2523
/assign

[2021-09-24 17:25] AkkineniYogitha commented on #2467
/assign documentation

[2021-09-24 17:33] Anuj2403 opened #2527 "[Create New Issue]: Find largest sum contigous subarray"
### Description

Find largest sum contigous subarray.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-24 17:33] Anuj2403 commented on #2527
/assign

[2021-09-24 17:36] iamKushGupta commented on #2499
I noticed that you weren't online but this issue was available,
so I took the step of commenting first on it,
and made the above pull request. (Since, I was done with my previous Issues)

Hopefully, there won't be any problem...
@Anant1711

[2021-09-24 17:36] RK1905101 commented on #2501
Can i contribute in this issue for documentation?

[2021-09-24 17:36] arsheelsheikh commented on #1547
@themonikanayak I have made PR can you merge it ASAP!

[2021-09-24 17:36] RK1905101 commented on #2501
/assign

[2021-09-24 17:37] AkkineniYogitha commented on #2330
/assign

[2021-09-24 17:37] Meet19aug commented on #1076
[Data_And_Packages_What_Are_Packages_In_R.md](https://github.com/girlscript/winter-of-contributing/files/7227564/Data_And_Packages_What_Are_Packages_In_R.md)

Can you please go throgh the "Data_And_Packages_What_Are_Packages_In_R.md" file that I have shared here and I converted this ipynb to .md file for sharing here.

[2021-09-24 17:40] arsheelsheikh commented on #1791
I was doing PR now but seem like someone has already made it for HTML List even tho he has not assigned the task
@sifa123 can you let me know what needs to be done here !!

[2021-09-24 17:41] arsheelsheikh commented on #2506
\assign Documentation

[2021-09-24 17:46] iamKushGupta commented on #2499
/assign

[2021-09-24 17:46] iamKushGupta commented on #2499
/assign

[2021-09-24 17:49] iamKushGupta commented on #2502
I am done with the previous issue [Cybersecurity 3.9.2 Malware #2499](with Plagarism check),
Can I be assigned this issue for the documentation part ?

[2021-09-24 17:53] VenkateswarNayak commented on #2506
\assign Document

[2021-09-24 17:53] VenkateswarNayak commented on #2506
\assign Document

[2021-09-24 17:54] VenkateswarNayak commented on #2505
\assign Document

[2021-09-24 17:56] newbiens opened #2530 "Java_Dynamic_Dispatch"
### Description

Explain what dynamic dispatch is and its uses.

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-09-24 17:56] newbiens commented on #2530
/assign

[2021-09-24 17:56] newbiens commented on #2530
/assign

[2021-09-24 18:01] SourabhSaraswat-191939 commented on #621
Please mention this issue in your PR, so that I can track your PR. Because finding a particular PR in all this PR is a complex task.
And just also send your PR link on discord in general section. So, that supervisors can mention the related milestones to your PR.

[2021-09-24 18:02] iamKushGupta commented on #2502
/assign

[2021-09-24 18:04] medhatiwari commented on #2503
/assign

[2021-09-24 18:05] medhatiwari commented on #2503
\ assign

[2021-09-24 18:07] jaigora24 commented on #2426
/assign document

[2021-09-24 18:09] Shakthi011001 commented on #2343
I'll work on this

[2021-09-24 18:11] shubhmittal07 commented on #2292
I have just made a PR  @rahulsain . It is my first time contributing, hope everything is fine.

[2021-09-24 18:14] tanvideshmukh29 commented on #1262
Can I work on this ?
Name: Tanvi Deshmukh
Batch: 5
Documentation

[2021-09-24 18:16] hrugved06 commented on #1262
Please find a different issue.. I'm almost done with it :-)

[2021-09-24 18:28] Baba-Yaga-1 opened #2537 "Frontend_Web_Development_HTML_CSS_JS : Javascript - Git and bash"
### Description

Description

Documentation regarding Git and Bash

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-09-24 18:29] Baba-Yaga-1 commented on #2537
/assign Documentation

[2021-09-24 18:31] nimisha-yadav commented on #1716
@KhushiBhambri, DSA domain is following a roadmap for contribution and heap is not there in the week agenda so if you edit this issue, kindly do not check-mark DSA.

[2021-09-24 18:35] Baba-Yaga-1 commented on #2537
@moulikagrawal can you assign me this issue

[2021-09-24 18:39] Shraddha-Jaggi commented on #1807
\assign video

[2021-09-24 18:47] ankurg132 commented on #548
Yup, added my review in the pull request

[2021-09-24 18:59] nimisha-yadav commented on #1547
She herself is a contributor and not a maintainer. You should check before making PRs. I advise you to create a fresh issue on 2D array. @arsheelsheikh

[2021-09-24 19:01] nimisha-yadav commented on #1547
@themonikanayak Create one PR pertaining to one issue and one topic. Do not make several PRs based on single issue.

[2021-09-24 19:04] #1547 closed

[2021-09-24 19:20] arsheelsheikh commented on #2426
/assign documentation

[2021-09-24 19:32] arsheelsheikh commented on #1547
@nimisha-yadav I thought only Mentors or Supervisors are entertained to make new issues.
anyways now I have already made a new PR what about that !!

[2021-09-24 19:36] aryanharitsh123 commented on #1474
https://github.com/girlscript/winter-of-contributing/pull/2545

[2021-09-24 19:52] ritika728 opened #2548 "exit() and _Exit() Functions in C++ [Documentation]"
### Description

I will explain about exit() and _Exit() Functions along with proper examples in documentation form.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-09-24 19:52] ritika728 commented on #2548
/assign

[2021-09-24 19:55] mayankkuthar commented on #318
@Aryamanz29 If no one is working on this issue, I would like to contribute, Please Assign me the issue.

[2021-09-24 19:59] aaditya2801 commented on #647
Hey, I am Aaditya Tiwari GWOC Contributor, my domain is open source, and I would like to add content related to Helm. please /assign me.

[2021-09-24 20:07] nimisha-yadav commented on #1547
You should read the guidelines mentioned in the readme and contributing.md files before getting started. Nevertheless no worries, just create a new issue mentioning the topic and the problem statement, and link your PR to that issue number. Once done, tag me. I'll review. @arsheelsheikh

[2021-09-24 20:14] shivam-iitk opened #2552 "Competitive Programming : Prefix Sum Array"
### Description

Documentation on how to get the prefix sum of any array. Code snippet for C++ is also added.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-c

[2021-09-24 20:14] shivam-iitk commented on #2552
/assign

[2021-09-24 20:20] #2334 closed

[2021-09-24 20:23] pankaj-Makhijani commented on #2252
/assign

[2021-09-24 20:26] pankaj-Makhijani commented on #1840
@saloni-15 Thank you for creating this issue. Will start working on it.

[2021-09-24 20:31] arsheelsheikh commented on #2426
done documentation for a `method of overriding in java`

[2021-09-24 20:36] arsheelsheikh opened #2553 "DSA: Spiral Print of 2D Array"
### Description

Description 📜

Write documentation regarding the approach as well as code for a `spiral print of a 2d array`.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-cont

[2021-09-24 20:38] arsheelsheikh commented on #2553
PR for `Spiral Print of 2D Array` - https://github.com/girlscript/winter-of-contributing/pull/1794

[2021-09-24 20:38] arsheelsheikh commented on #2553
@nimisha-yadav

[2021-09-24 20:39] arsheelsheikh commented on #1547
Ok done, tagged you there

[2021-09-24 20:47] #2354 closed

[2021-09-24 20:49] ritika728 opened #2554 "C++ Bitset Functions [Documentation]"
### Description

I will explain various bitset functions with examples in documentation form.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-09-24 20:49] ritika728 commented on #2554
/assign

[2021-09-24 21:26] harshita2319 commented on #1063
hey, the issue has already been assigned. Please look for another one.

[2021-09-24 21:27] shivam-iitk opened #2556 "C_CPP : Prefix Sum Array"
### Description

Documentation on how to get the prefix sum of any array. Code snippet for C++ is added.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-09-24 21:27] shivam-iitk commented on #2556
/assign

[2021-09-24 23:46] vishnu95075 opened #2563 "[C_CPP]: Number system , decimal , binary and Bits manipulation ."
### Description

Desribe Number system , decimal number , binary number and Bits manipulation .

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-24 23:46] vishnu95075 commented on #2563
/assign

[2021-09-25 01:16] Creatoon commented on #2319
@paramsiddharth I think naming a topic events is very general, as events occurs in normal life but handling events is programming, so i think topic name should be Event_Handler.

[2021-09-25 01:18] KhushiBhambri commented on #1716
Ok sure! will take care next time :)

[2021-09-25 01:22] vishnu95075 opened #2565 "[C_CPP]: History of C_CPP"
### Description

History of C_CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 01:23] vishnu95075 commented on #2565
/assign

[2021-09-25 01:24] #2565 closed

[2021-09-25 01:49] vishnu95075 opened #2566 "[C_CPP]: History of C_CPP"
### Description

History of C_CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 01:49] vishnu95075 commented on #2566
/assign

[2021-09-25 01:58] #2566 closed

[2021-09-25 02:36] Techno-Simpola commented on #621
I have sent the PR but how do I take the PR link...?
sorry I am asking so much doubts :')

[2021-09-25 02:47] onlykingKD opened #2569 "Finding loop in a linked list"
### Description

I want to make documentation of finding the loop in a linked list

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-09-25 02:48] onlykingKD commented on #2569
/assign

[2021-09-25 02:51] cenacrharsh commented on #2537
/assign Batch-5 Documentation

[2021-09-25 02:55] Vrukshali-26 commented on #2447
/assign video

[2021-09-25 02:59] Vrukshali-26 commented on #2219
/assign video

[2021-09-25 03:00] Vrukshali-26 commented on #2092
/assign video

[2021-09-25 03:19] itsgourav62 opened #2570 "Menu Driven Code to implement stack"
### Description

A menu driven program in C to perform the following operations using stack:
Create(); Push(); Pop(); Traverse()

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-

[2021-09-25 03:19] itsgourav62 commented on #2570
/assign

[2021-09-25 03:21] #2180 closed

[2021-09-25 03:29] Chirag-creator17 commented on #318
yeah i also want to work on this issue i asked for it earlier also

[2021-09-25 03:40] Vrukshali-26 commented on #2505
/assign Video

[2021-09-25 03:47] #540 closed

[2021-09-25 03:59] #883 closed

[2021-09-25 04:08] Shraddha-Jaggi commented on #2364
/assign  video

[2021-09-25 04:18] sarthak-123465 opened #2571 "[Create New Issue]:"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 04:19] #2571 closed

[2021-09-25 04:26] #726 closed

[2021-09-25 04:26] Anant1711 commented on #2502
Okay!

[2021-09-25 04:26] vaibhavkumar5 commented on #250
/assign

[2021-09-25 04:30] Pradumnasaraf commented on #1187
/unsubsribe

[2021-09-25 04:40] saloni-15 opened #2574 "MERN_MongoDB: 3.1 Creating Database in MongoDB"
### Description

Description

## Creating Database in MongoDB
1. Explain all the steps for creating a MongoDB Database with the CLI (the MongoDB shell)
    - It should include basic commands to insert data, show and use the database.
2.  Explain all the steps for creating a MongoDB Database with Compass.

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the File as `3.1_Cre

[2021-09-25 04:55] jaissumi1402 opened #2576 "C_CPP: Basic questions on array"
### Description

In this documentation I will be adding basic questions on array like displaying elements of array, sum of elements of array etc.
Code will be in both c and cpp language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) &

[2021-09-25 04:55] jaissumi1402 commented on #2576
/assign

[2021-09-25 04:56] jaissumi1402 commented on #2576
@Suvraneel can I work on this issue?

[2021-09-25 04:56] ShivaniAgarwal2001 commented on #2537
/assign documentation

[2021-09-25 04:57] #901 closed

[2021-09-25 04:57] jaissumi1402 commented on #2576
/assign

[2021-09-25 04:59] jaissumi1402 commented on #2576
@Suvraneel can I work on this issue?

[2021-09-25 04:59] 124015001 opened #2577 "C_CPP: Default Constructor"

[2021-09-25 04:59] #2577 closed

[2021-09-25 05:00] 124015001 opened #2578 "C_CPP: Default Constructor"
### Description

documentation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 05:01] 124015001 opened #2579 "C_CPP: Parametrized Constructor"
### Description

documentation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 05:02] 124015001 commented on #2578
/assign

[2021-09-25 05:02] 124015001 commented on #2579
/assign

[2021-09-25 05:03] #1262 closed

[2021-09-25 05:08] 124015001 opened #2582 "C_CPP: Overloaded Constructor"
### Description

documentation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 05:09] abhisheks008 commented on #586
@Sumit3301 Please create the PR ASAP!

[2021-09-25 05:09] 124015001 commented on #2582
/assign

[2021-09-25 05:09] vasu-1 commented on #2370
@emily876 you have created duplicate issue of #1307

kindly delete this issue and also delete the respective pr ! #2455
Please create another but make sure it should not be duplicate one..

Thanks !

[2021-09-25 05:10] Sumit3301 commented on #586
okay sir

[2021-09-25 05:12] abhisheks008 commented on #589
What is the update @priyanshinaredi? It's been 7 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:13] abhisheks008 commented on #599
What is the update @SathiyaEthi ? It's been 4 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:13] sakshi168 commented on #2578
/assign

[2021-09-25 05:14] abhisheks008 commented on #602
What is the update @riyasai22 ? It's been 7 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:14] abhisheks008 commented on #605
What is the update @UditJain77 ? It's been 7 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:15] abhisheks008 commented on #608
What is the update @Pratyaksha-047 ? It's been 5 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:15] Rijudas149 commented on #2563
/assign

[2021-09-25 05:15] Divya-2001 commented on #2406
Is the issue still on?

[2021-09-25 05:16] abhisheks008 commented on #609
What is the update @parvatijay2901 ? It's been 7 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:18] abhisheks008 commented on #610
What is the update @mohitmishra786 ? It's been 4 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:19] abhisheks008 commented on #612
@tavneetgill Please make the PR ASAP!

[2021-09-25 05:20] abhisheks008 commented on #1115
What is the update @karma659 ? It's been 3 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:21] abhisheks008 commented on #1259
What is the update @sanjana-iyengar ? It's been 4 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:22] abhisheks008 commented on #1264
What is the update @NeerajHazarika ? It's been 4 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:23] abhisheks008 commented on #1555
What is the update @karma659 ? It's been 3 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:23] abhisheks008 commented on #1557
What is the update @vanshhhhh ? It's been 4 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:24] abhisheks008 commented on #1558
What is the update @Nay907 ? It's been 3 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:25] abhisheks008 commented on #1963
What is the update @kishlayaug15?  It's been 3 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:26] NeerajHazarika commented on #1264
@abhisheks008 yes I will make the PR by today. I was stuck with my previous issue which just got merged yesterday. When I took this issue, my previous issue was under review I thought it will merged but my supervisor asked for more changes.

[2021-09-25 05:29] abhisheks008 commented on #1965
What is the update @Ruchika-20 ? It's been 3 days and you were although you've assigned an issue. Create the PR ASAP, otherwise we can't make further issues!

[2021-09-25 05:29] 124015001 commented on #2578
@sakshi168 Create an issue and then try to assign yourself. This issue has already been assigned.

[2021-09-25 05:29] abhisheks008 commented on #1966
Please create the PR ASAP @HastiSutaria

[2021-09-25 05:32] abhisheks008 commented on #1560
@samridhikapoor please make the PR ASAP.

[2021-09-25 05:33] abhisheks008 commented on #2273
Please make the PR ASAP! @AdityaStark7

[2021-09-25 05:35] abhisheks008 commented on #2200
What's the update @Arjun2905 ?

[2021-09-25 05:36] abhisheks008 commented on #2198
Please make the PR @TishaJhabak1014

[2021-09-25 05:40] abhisheks008 commented on #1264
Do it ASAP @NeerajHazarika

[2021-09-25 05:41] #2442 closed

[2021-09-25 05:41] Megha0606 opened #2589 "Continue and Break Statement in CPP"
### Description

Documentation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 05:42] #2425 closed

[2021-09-25 05:42] Megha0606 commented on #2589
/assign

[2021-09-25 05:42] #2396 closed

[2021-09-25 05:47] emily876 commented on #2370
@vasu-1  Sorry, I checked it before, but it didn't show up that's why I worked on it. I'll take care of it next time.

[2021-09-25 05:47] kishlayaug15 commented on #1963
Yes! I am working on types of distribution almost done just give me a day.
Actually, can I create PR now or after completion of my work only I can
create it.
I have doubts related to it because I am new to open-source.

Thanks

On Sat, Sep 25, 2021 at 10:56 AM Abhishek Sharma ***@***.***>
wrote:

[2021-09-25 05:49] aparajitachaturvedi commented on #2563
/assign

[2021-09-25 05:50] abhisheks008 commented on #1963
@kishlayaug15 If you've doubts ask your mentors of Batch 4, they will help you out and make the PR ASAP.

[2021-09-25 05:51] aaditya2801 commented on #2167
please /assign, I want to add my docker learnings 👍.

[2021-09-25 05:54] VenkateswarNayak commented on #2217
/assign Document

[2021-09-25 05:55] Arjun2905 commented on #2200
@abhisheks008 I'll be starting to work on it. I have one issue going on in other domain. Till monday night I will create a pull request for this.

[2021-09-25 05:55] adityaraj079 opened #2595 "C_CPP: Fenwick tree in C++"
### Description

Description
Fenwick tree in C++

Where is this topic in the roadmap:
Roadmap -> C++ -> Data Structures -> User Defined -> Fenwick Tree

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.co

[2021-09-25 05:55] Dhruvsinghjadon commented on #2574
/assign

[2021-09-25 05:56] adityaraj079 commented on #2595
/assign

[2021-09-25 05:58] sakshi168 commented on #2589
/assign

[2021-09-25 06:02] abhisheks008 commented on #2200
Okay! @Arjun2905

[2021-09-25 06:03] karma659 commented on #1115
Yes I am  doing the PR

[2021-09-25 06:03] aman-tiwari-05 commented on #2456
/assign

[2021-09-25 06:04] Ruchika-20 commented on #1837
Hello ! prathimacode-hub
I am Ruchika Singh from batch 10 , I applied for issues #1857 and #1849  but both were assigned to ELLIPSIS009 by your end.
So now according to FCFS this issue #1837 should be assigned to me as I don't have any issue to work on!

Kindly provide me this issue!

[2021-09-25 06:05] Ruchika-20 commented on #1837
No....you unassigned my issue

[2021-09-25 06:06] Megha0606 opened #2597 "Dijkstra's Algorithm"
### Description

It is an  algorithm to find the shortest paths from a single source vertex to all other vertices in weighted graph.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com

[2021-09-25 06:07] Megha0606 commented on #2597
/assign

[2021-09-25 06:10] gunjan-g commented on #2595
@adityaraj079 you can proceed with this

[2021-09-25 06:10] #586 closed

[2021-09-25 06:16] Ruchika-20 commented on #1965
@abhisheks008

I have already made the readme file as well as the documentation , will create the PR by today itself.

Thank you!

[2021-09-25 06:17] Tharunya07 commented on #2343
Can I work on the video part? @ShudhanshuSingh

[2021-09-25 06:18] PrachiDoshi2170 commented on #676
I have added the pull request

On Thu, 23 Sep, 2021, 11:43 pm Aryaman, ***@***.***> wrote:

[2021-09-25 06:18] vasu-1 commented on #2370
Not an issue !
please delete this issue !

[2021-09-25 06:19] eshan1925 commented on #2479
@ashish-patwal where to store the .MD file while creating PR. Please mention it.

[2021-09-25 06:20] Pradumnasaraf opened #2599 "Android-Java: 3.5 Android Explicit Intent Example"
### Description

1) Implicit vs explicit intent
1) What are Explicit Intent
2) eg by Calling one activity from another activity

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscrip

[2021-09-25 06:20] Pradumnasaraf commented on #2599
/assign

[2021-09-25 06:21] Pradumnasaraf commented on #2599
/assign

[2021-09-25 06:27] Pradumnasaraf commented on #2599
@Rohit-2602 @VikasPandey121 Please check .

[2021-09-25 06:28] priyanshinaredi commented on #589
Ya please give me today I ll be done with it

[2021-09-25 06:39] AdityaStark7 commented on #2273
Check it!

[2021-09-25 06:41] das-ankur commented on #2410
Hello, I want to work on this issue. Batch 4: Serial No: 109. I want to prepare a documenatation.  can I start working?

[2021-09-25 06:43] ashish-patwal commented on #2479
Put it in the /Open_Source/Section-6 directory . If Section-6 directory doesn't exist , please do make one yourself . Give an appropriate title to the md file eg (npm_in_opensource.md) and then make a pr with it .

[2021-09-25 06:48] Sakshamgupta90 commented on #2495
/assign

[2021-09-25 06:51] karma659 commented on #1555
yes  doing   the PR

[2021-09-25 06:53] ron352 commented on #1853
Sarmistha Sarna
Issue No - #1853
serial no : 614
Type: Audio

[2021-09-25 06:55] ron352 commented on #2404
Sarmsitha Sarna
Serial Number - 457
Type - Audio

[2021-09-25 06:59] roshinigupta27 commented on #1277
/assign

[2021-09-25 06:59] ganaaduvva opened #2608 "[Java 6.2]: Switch Blocks Code Fix"
### Description

In the documentation of **Switch blocks**, I felt it need some _example modification_ and _syntax highlighting_

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wint

[2021-09-25 07:00] Sujit2209 commented on #173
https://github.com/girlscript/winter-of-contributing/pull/2607#issue-1006992720
@Rohit-2602

[2021-09-25 07:00] ganaaduvva commented on #2608
/assign documentation

[2021-09-25 07:03] sarthak-123465 opened #2609 "[if else condition in c/cpp]: IF AND ELSE STATEMENTS IN C/C++"
### Description

the syntax of an if...else statement in C and C++ programming language is −

if(boolean_expression) {
   /* statement(s) will execute if the boolean expression is true */
} else {
   /* statement(s) will execute if the boolean expression is false */
}

According  to the syntax  if the first condition is true  then the control passes to the  if part else if the  condition is not tr

[2021-09-25 07:05] sarthak-123465 commented on #2609
/assign

[2021-09-25 07:11] sujal2048 opened #2610 "Unordered multimap"
### Description

Unordered multimaps are associative containers that store elements formed by the combination of a key value and a mapped value, much like unordered map , but allowing different elements to have equivalent keys and hence it is main advantage of using it.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https:

[2021-09-25 07:15] sujal2048 commented on #2610
/assign

[2021-09-25 07:18] Aditya-Naik13 commented on #1227
/assign

[2021-09-25 07:19] shoebxsiddiqui commented on #2447
\assign audio

[2021-09-25 07:22] EkjotKaur opened #2614 "MERN_NodeJs 3.1 JSON"
# Instructions
## Project directory
`Branch MERN>Web_Development/MERN/Topic/Backend/Node/`

FileName: 3.1_JSON.md

## JSON
Give brief introduction of JSON and how it is used

## Task

- [ ]  Audio
- [ ]  Documentation
- [ ]  Video

### Send a PR in the following branch only and make documentation in form of markdown file with (.md) extension and in the respective folder

[2021-09-25 07:23] Anuj2403 commented on #2553
/assign

[2021-09-25 07:24] avats101 commented on #1855
/unassign

[2021-09-25 07:27] itsKiranay opened #2616 "pdf's with python"
### Documentation on how to parse a pdf file in python.

### - Domain of contribution-

- [x] Python

### - Type of contribution
- [x] Documentation

[2021-09-25 07:27] itsKiranay commented on #2616
/assign

[2021-09-25 07:29] EkjotKaur opened #2617 "MERN_NodeJs 4.1 How to import and create modules?"
# Instructions

## Project directory
Branch MERN>Web_Development/MERN/Topic/Backend/Node/

FileName: 4.1_Import and create modules.md

## How to import and create modules?
Explain how to how to import and create modules.

# Task

- [ ]  Audio
- [ ]  Documentation
- [ ]  Video

## Send a PR in the following branch only and make documentation in form of markdown file with (.md) extension and in the

[2021-09-25 07:31] #910 closed

[2021-09-25 07:32] EkjotKaur opened #2619 "MERN_NodeJs 4.2 Example of using a module"
# Instructions

## Project directory
`Branch MERN>Web_Development/MERN/Topic/Backend/Node/`

FileName: 4.2_Example of using modules.md

## Example of using a module?
Import a module and show its working ( you can show it's function in console)

# Task

- [ ]  Audio
- [ ]  Documentation
- [ ]  Video

## Send a PR in the following branch only and make documentation in form of markdown file with (.md

[2021-09-25 07:35] Suvraneel commented on #1273
@akarshan2602  @Suravihere  Please pick another topic...

[2021-09-25 07:35] #1273 closed

[2021-09-25 07:35] EkjotKaur opened #2620 "MERN_NodeJs 5.1 Synchronous and Asynchronous"
# Instructions

## Project directory
Branch MERN>Web_Development/MERN/Topic/Backend/Node/

FileName: 5.1_Synchronous and Asynchronous.md

## Synchronous and Asynchronous?
Explain what is Synchronous and Asynchronous functions and their differences.

# Task

- [ ]  Audio
- [ ]  Documentation
- [ ]  Video

## Send a PR in the following branch only and make documentation in form of markdown file with

[2021-09-25 07:37] EkjotKaur opened #2621 "MERN_NodeJs 5.2 How to use asynchronous APIs?"
# Instructions

## Project directory
`Branch MERN>Web_Development/MERN/Topic/Backend/Node/`

FileName: 4.1_How to use asynchronous APIs.md

## How to use asynchronous APIs??
Explain How to use asynchronous APIs?

# Task

- [ ]  Audio
- [ ]  Documentation
- [ ]  Video

## Send a PR in the following branch only and make documentation in form of markdown file with (.md) extension and in the respectiv

[2021-09-25 07:38] sanjana-iyengar commented on #1259
@Isha307  @abhisheks008 Sorry my bad, it'll be updated by the end of the day.

[2021-09-25 07:40] 101Priyanshi commented on #2207
Full name : Priyanshi Saxena
Batch Number : 5
GitHub Profile Link : https://github.com/101Priyanshi
type of Contribution :  Audio

[2021-09-25 07:43] palsahabmalviyan commented on #2620
Please assigned me this issue.

[2021-09-25 07:46] samridhikapoor commented on #1560
This is regarding my progress on the PR.
I am presently working on my PR. As I have been assigned the video contribution, so I am making a PPT on this topic. I will surely complete the PPT by today evening and then upload the video ASAP

Thanks

[2021-09-25 07:50] VedRatan opened #2623 "Types of Methods in Java"
### Description

brief explanation of types of methods in java (main division).

Documentation

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gith

[2021-09-25 07:50] amitx007 commented on #2623
/assign documentation

[2021-09-25 07:50] VedRatan commented on #2623
/assign

[2021-09-25 07:53] Saviour1001 commented on #2570
Closing this issue as the PR got merged !! Open new issues !

[2021-09-25 07:53] #2570 closed

[2021-09-25 07:54] garvitraj commented on #2506
@shoebxsiddiqui go with documentatio

[2021-09-25 07:56] garvitraj opened #2624 "Java 13.3: Importing Packages"
### Description
 Add audio, documentation, and video regarding the **Importing Packages**.

 ### Location of File to be added
 The files should be added inside the `Importing Packages` folder which is inside the `Packages` folder present in the `Java` main folder. The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted through a Google

[2021-09-25 07:57] amitx007 commented on #2624
/assign documentation

[2021-09-25 07:58] sunidhii09 opened #2625 "[JAVA]: Final vs Finally vs Finalize in JAVA"
### Description

A comparison between the Final, Finally and Finalize keywords.

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-09-25 07:58] amitx007 commented on #2625
/assign documentation

[2021-09-25 07:58] sunidhii09 commented on #2625
\assign documentation

[2021-09-25 07:59] sunidhii09 commented on #2625
Hey! Can you please not take this issue, I have worked on this and created it for myself.

[2021-09-25 08:00] amitx007 commented on #2625
okay sorry @sunidhii09

[2021-09-25 08:01] amitx007 commented on #2624
/assign documentation

[2021-09-25 08:01] sunidhii09 commented on #2625
Thanks! @amitx007

[2021-09-25 08:01] sunidhii09 commented on #2625
/assign

[2021-09-25 08:02] garvitraj opened #2626 "Java 14.1: Defining and Implementation of Interfaces"
### Description

Add audio, documentation, and video regarding the **Defining and Implementation of Interfaces**.

 ### Location of File to be added
 The files should be added inside the `Defining and Implementation of Interfaces` folder which is inside the `Interfaces` folder present in the `Java` main folder. The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.

[2021-09-25 08:02] amitx007 commented on #2626
/assign documentation

[2021-09-25 08:04] garvitraj opened #2627 "Java 14.2: Default Interface Methods"
### Description

Add audio, documentation, and video regarding the **Default Interface Methods**.

 ### Location of File to be added
 The files should be added inside the `Default Interface Methods` folder which is inside the `Interfaces` folder present in the `Java` main folder. The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted

[2021-09-25 08:05] #1557 closed

[2021-09-25 08:07] abhisheks008 commented on #2207
Issue assigned @101Priyanshi. Complete it by Monday (27.09.2021)

[2021-09-25 08:08] abhisheks008 commented on #1560
Good, do it by this evening. @samridhikapoor

[2021-09-25 08:11] AbhinandanAdhikari opened #2629 "JS: Labels and 'continue'"
### Description

<li> Write about label statements.
<li> Write about break & continue statements.
<li> Tell about label statement using break and continue.
<li> Give Examples & Syntax of each.

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBU

[2021-09-25 08:11] AbhinandanAdhikari commented on #2629
/assign

[2021-09-25 08:13] abhisheks008 commented on #589
Complete it by this evening @priyanshinaredi

[2021-09-25 08:14] amitx007 commented on #2623
I have unsigned my self by mistakely i have assigned my self

[2021-09-25 08:16] amitx007 commented on #2624
Sorry i have unsigned my self, i have commented by mistakely because of a confusion @garvitraj

[2021-09-25 08:16] AbhinandanAdhikari commented on #2629
@paramsiddharth Sir, I'm working on this for documentation part.

[2021-09-25 08:20] Jonty512 opened #2630 "Android-Java: 1.12 Dalvik-Virtual-Machine"
### Description

Android-Java: 1.12 Dalvik-Virtual-Machine

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-09-25 08:20] aishapervin commented on #2614
/assign

[2021-09-25 08:21] aishapervin commented on #2621
/assign

[2021-09-25 08:21] WajihaFatim commented on #2619
/assign

[2021-09-25 08:21] Saviour1001 commented on #923
Closing as the PR got merged !

[2021-09-25 08:21] #923 closed

[2021-09-25 08:23] WajihaFatim commented on #2617
/assign

[2021-09-25 08:24] #2273 closed

[2021-09-25 08:26] abhisheks008 commented on #2273
@AdityaStark7 What's your Batch no.?

[2021-09-25 08:27] Saviour1001 commented on #966
Closing this issue as #2397 got merged

[2021-09-25 08:27] #966 closed

[2021-09-25 08:27] shivam-iitk opened #2632 "C_CPP : The Spiral Matrix"
### Description

CODE for storing elements of any array in spiral matrix form and returning elements of any matrix in spiral order.

### Domain

C/CPP

### Type of Contribution

- [x] Documentation

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/w

[2021-09-25 08:27] Pratyaksha-047 commented on #608
I am so sorry , I fell sick after getting my vaccine and due to which I am
late in contributing, but I have made a pull request now.
My apologies, and thank you for understanding.

On Sat, 25 Sep 2021, 10:45 Abhishek Sharma, ***@***.***>
wrote:

[2021-09-25 08:27] shivam-iitk commented on #2632
/assign

[2021-09-25 08:29] rishabhthakur11 commented on #184
Hey, @Debasmita-01 I would like to work on this issue. I'll be making a video on how these plugins add extra functionality to your Figma. Kindly assign it to me.
Plugin Name: 1. Remove BG
2. Unsplash
3. Iconify
4. Anima

[2021-09-25 08:29] Saviour1001 commented on #1758
Closing as the PR got merged

[2021-09-25 08:29] #1758 closed

[2021-09-25 08:33] pranav7kaushik commented on #1869
/assign
Documentation

[2021-09-25 08:39] deepthi1107 commented on #2402
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do a video on this issue.
my approach: A detailed explanation of code.

[2021-09-25 08:45] Anandkx007 commented on #2239
ANAND KUMAR
CP BATCH 3
AUDIO / VIDEO

[2021-09-25 08:47] vaibhavkumar5 commented on #250
#2633

[2021-09-25 08:48] vaibhavkumar5 commented on #250
Refer PR #2633

[2021-09-25 08:53] Rijudas149 commented on #206
Is it mandatory to upload presentation file along with audio file???

[2021-09-25 08:54] Aryamanz29 commented on #318
ok, Go ahead @Chirag-creator17

[2021-09-25 08:54] #646 closed

[2021-09-25 08:55] Aryamanz29 commented on #656
@ELLIPSIS009  Any updates?

[2021-09-25 09:01] Anandkx007 commented on #2632
/assign

[2021-09-25 09:02] Anandkx007 commented on #2610
/assign

[2021-09-25 09:15] ShivaniAgarwal2001 commented on #2630
/assign documentation

[2021-09-25 09:16] sifa123 commented on #1791
Guys this topic is already merged. I should inform all of you that earlier, my apologies. That is why I will close this issue. If anyone wants to work on video or audio, they can create a new issue.

[2021-09-25 09:17] sifa123 commented on #1791
Hey @arsheelsheikh , you can go through the merged file about html list and check if any topic is missing or if you can add more content, then create an issue about what topics you want to add.

[2021-09-25 09:18] #1791 closed

[2021-09-25 09:24] sakshi168 commented on #2371
/assign

[2021-09-25 09:35] sakshi168 commented on #2468
/assign want to contribute in documentation

[2021-09-25 09:35] pallavidhere23 commented on #829
/assign

[2021-09-25 09:51] #2370 closed

[2021-09-25 09:56] Saviour1001 commented on #1812
Closing this issue as it got fixed in #2575

[2021-09-25 09:56] #1812 closed

[2021-09-25 09:59] VandanaKumari18 opened #2641 "bubble sort & insertion sort with complexities"
### Description

## two sorting methods , bubble sort and insertion sort will be explained in detail with their logic , concepts and moreover code complexity will be analyzed.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of co

[2021-09-25 09:59] aishapervin commented on #2621
@EkjotKaur, i will just be working with the documentation part

[2021-09-25 09:59] VandanaKumari18 commented on #2641
/assign

[2021-09-25 09:59] VandanaKumari18 commented on #2641
/assign

[2021-09-25 10:00] aishapervin commented on #2614
@EkjotKaur ,i will be working with the documentation part.

[2021-09-25 10:21] Utsaviranjan commented on #1243
thank you for assigning.

[2021-09-25 10:27] Utsaviranjan commented on #1336
/assign I pertain the required skills. hence, kindly assign.

[2021-09-25 10:27] VenkateswarNayak commented on #2627
/assign Document

[2021-09-25 10:27] Chirag-creator17 commented on #318
ok thanks

[2021-09-25 10:43] sakshi168 commented on #1634
@Ash515 Please review my PR

[2021-09-25 10:43] shreya0204 commented on #864
@Suvraneel In which folder should I attach these practice questions of the two-pointer algorithm.

[2021-09-25 10:58] Toshani opened #2647 "[Create New Issue]: Adding bubble sort and binary search codes in c++"
### Description

Want to add simple c++ codes for bubble sort and binary search algortihms

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-09-25 10:58] Harsh-Chaudhary7 commented on #2624
/assign Documentation

[2021-09-25 10:58] Toshani commented on #2647
/assign

[2021-09-25 11:01] Harsh-Chaudhary7 commented on #2624
I have only one issue open and that to waiting to be merged.

[2021-09-25 11:10] Kashika02 opened #2649 "[Create New Issue]: Time & Space complexity"
### Description
*What is Time complexity and Space complexity

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 11:11] Kashika02 commented on #2649
/assign

[2021-09-25 11:12] raghav01ib commented on #2649
/assign

[2021-09-25 11:15] jaigora24 commented on #2649
/assign

[2021-09-25 11:18] radha919 commented on #1716
/assign

[2021-09-25 11:20] radha919 commented on #1341
/assign

[2021-09-25 11:22] mayankkuthar commented on #647
@Aryamanz29 If no one is working on this issue, I would like to contribute, Please Assign me the issue.

[2021-09-25 11:22] mayankkuthar commented on #656
@Aryamanz29 If no one is working on this issue, I would like to contribute, Please Assign me the issue.

[2021-09-25 11:23] mayankkuthar commented on #669
@Aryamanz29 If no one is working on this issue, I would like to contribute, Please Assign me the issue.

[2021-09-25 11:24] ELLIPSIS009 commented on #656
@Aryamanz29 i am almost done with the documentation

[2021-09-25 11:25] palsahabmalviyan commented on #2641
Mam Please assign me this issue . I want work on document part.

[2021-09-25 11:32] #722 closed

[2021-09-25 11:42] raghav01ib commented on #2494
/assign

[2021-09-25 11:46] #1264 closed

[2021-09-25 11:54] #66 closed

[2021-09-25 11:56] ViAsmit commented on #159
@bakisama  any updates?

[2021-09-25 12:02] #1007 closed

[2021-09-25 12:14] #1017 closed

[2021-09-25 12:23] arsheelsheikh commented on #2553
@Anuj2403 the PR has already been made

[2021-09-25 12:23] ViAsmit commented on #1691
@RK1905101 any updates?

[2021-09-25 12:24] Harshita-Kohli commented on #681
I would like to work on this
Name: Harshita Kohli
Batch: 3

[2021-09-25 12:26] #1694 closed

[2021-09-25 12:33] BhaswatiRoy commented on #574
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Python
Batch-3
Issue Number-574
Type-Audio
Contribution Approaches-what is lambda function, why is it used, why is it needed so much, ways to implement, use in data sc

[2021-09-25 12:38] SnehaKumari3 opened #2657 "CSS opacity"
### Description

Description
I would like to make documentation on CSS Opacity.
I would provide theory related to it along with some examples

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://

[2021-09-25 12:38] SnehaKumari3 commented on #2657
/assign

[2021-09-25 12:43] pragmatic-philosopher09 commented on #2624
\assign documentation

[2021-09-25 12:48] vk-2501 opened #2660 "DSA_MINIMUM SWAPS TO SORT:"
### Description

Given an array of n distinct elements. Find the minimum number of swaps required to sort the array in strictly increasing order.

Input:
nums = {2, 8, 5, 4}
Output:
1
Explaination:
swap 8 with 4.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-09-25 12:48] vk-2501 commented on #2660
/assign

[2021-09-25 12:54] #1975 closed

[2021-09-25 12:54] #1606 closed

[2021-09-25 12:54] monalsingh10 commented on #2632
/assign
Name: Monal Singh
Github profile link: https://github.com/monalsingh10
Which type of contribution you want to make:Documentation

[2021-09-25 12:55] riyasai22 commented on #602
@abhisheks008
I have made a video contribution.
Please do look into it.

[2021-09-25 12:57] #903 closed

[2021-09-25 12:58] #1764 closed

[2021-09-25 12:59] #1278 closed

[2021-09-25 13:00] mukeshmjn commented on #534
@Techno-Simpola any updates over this? It's already been 3days.

[2021-09-25 13:01] mukeshmjn commented on #1896
@Ananyagupta43 any updates?

[2021-09-25 13:06] shivam-iitk commented on #2632
Can you people work on some other issues @monalsingh10 @Anandkx007 . I am already assigned to this one.

[2021-09-25 13:06] mukeshmjn opened #2664 "FRONTEND WITH FRAMEWORK: Angular (2.2)-> What are Template Statements"
### Description

- What are template statements?
- Syntax?
- When and How to use?
- Reference:- https://angular.io/guide/template-statements
(It's a week-2 issue )

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week2" directory
3. Tasks would be assigned on First Come F

[2021-09-25 13:16] syedareehaquasar opened #2667 "Quick notes/ Cheat Sheet -> Python"
### Description

A crisp and concise revision sheet to refer to while preparing for the Interview!
-> DS Implementation
-> Inbuilt functions
-> Important concepts

### Domain

Interview Prep

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-09-25 13:17] syedareehaquasar opened #2668 "Quick notes/ Cheat Sheet -> C++"
### Description

A crisp and concise revision sheet to refer to while preparing for the Interview!
-> DS Implementation
-> Inbuilt functions
-> Important concepts

### Domain

Interview Prep

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-09-25 13:17] #2641 closed

[2021-09-25 13:20] #907 closed

[2021-09-25 13:23] monalsingh10 commented on #2632
There is a two position documentation and video .@shivam-iitk  have'nt specified which part you are doing.

[2021-09-25 13:26] #1275 closed

[2021-09-25 13:27] shivam-iitk commented on #2632
I will do both. Don't worry you may suggest changes when I am done with the issue.

[2021-09-25 13:28] shivam-iitk commented on #2632
I am already assigned to it so only my contribution will be counted anyways.

[2021-09-25 13:32] CHARUD25 commented on #2450
/assign

[2021-09-25 13:34] abhishek848 commented on #1313
/assign
Assign me this issue

[2021-09-25 13:37] monalsingh10 commented on #2632
Alright !! U have'nt mentioned specifically so I thought one might be not filled yet with the position.
U may carry on!!

[2021-09-25 13:38] saloni-15 opened #2671 "MERN_MongoDB: 3.2 CRUD operations in MongoDB."
### Description

## CRUD operations in MongoDB shell
- Explain Create, Read, Update and Delete operations on a database using MongoDB CLI.

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `3.2_CRUD_Operations_in_MongoDB.md`

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.co

[2021-09-25 13:40] sumitaccess007 commented on #2495
/assign video

[2021-09-25 13:41] sumitaccess007 commented on #2237
/assign video

[2021-09-25 13:43] sumitaccess007 commented on #2660
/assign video

[2021-09-25 13:44] srijan2002 opened #2673 "Competitive Programming: For each student in an array, calculate no. of same-height visible students of each."
### Description

The PR fixes the issue #2673 by discussing :

1) Naive approach to the given problem statement.
2) Giving examples to discuss the a better approach.
3) Explaining both the approaches by time and space complexities.
4)  Adding functional snippets.
Fixes #2673

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contribu

[2021-09-25 13:45] Ayushi11-hue opened #2674 "What is HTTP?"
### Description

Hyper Text Transfer Protocol

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proje

[2021-09-25 13:45] Ayushi11-hue commented on #2674
/assign

[2021-09-25 13:46] srijan2002 commented on #2673
/assign

[2021-09-25 13:47] RK1905101 commented on #1691
yes.
I'm currently working on it and so by tomorrow, you'll get PR for this issue.

[2021-09-25 13:51] saloni-15 opened #2675 "MERN_MongoDB: 4.1 Connecting application to local Database."
### Description

## Connecting our application with a local database.
- Briefly explain all the steps for connecting nodejs application `app.js/server.js` to the local database using MongoDB.

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `4.1_Connecting_Application_to_Database.md`

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduc

[2021-09-25 13:52] ritikaxx opened #2676 "Largest Subarray with Sum 0"
### Description

Given an array having both positive and negative integers. The task is to compute the length of the largest subarray with sum 0.

Example 1:

Input:
N = 8
A[] = {15,-2,2,-8,1,7,10,23}
Output: 5
Explanation: The largest subarray with
sum 0 will be -2 2 -8 1 7.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](ht

[2021-09-25 13:52] ritikaxx commented on #2676
/assign

[2021-09-25 13:55] vishnu95075 commented on #2563
/assign

[2021-09-25 13:56] vishnu95075 commented on #2563
/assign documentation

[2021-09-25 14:02] iamsunil25 commented on #1995
i want to work on this issue. can you assign me this issue?

[2021-09-25 14:03] Anuj2403 commented on #2676
/assign

[2021-09-25 14:12] vishnu95075 commented on #2668
/assign document

[2021-09-25 14:12] subhendudash02 commented on #2142
@paramsiddharth @Creatoon @dakshsethi @s4-2 Kindly review this issue.
Thank you!

[2021-09-25 14:12] saloni-15 opened #2681 "MERN_MongoDB: 5.1 Mongoose Introduction and Installation"
### Description

## All about Mongoose
- **What is mongoose and its need.**
- **Explain how to install mongoose.**

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `5.1_Mongoose_Introduction_and_Installation.md`

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript

[2021-09-25 14:13] iamsunil25 commented on #1903
/assign document
i want to work on this issue. can you assign me this issue @

[2021-09-25 14:15] khushipr commented on #2671
/assign

[2021-09-25 14:24] iamsunil25 commented on #1191
@code-reaper08  can you assign me this issue?

[2021-09-25 14:28] saloni-15 opened #2684 "MERN_MongoDB: 5.2 Setting up database using Mongoose"
### Description

## Connecting database to the application using mongoose
- **Explain how to connect a local database to nodejs application using mongoose.**

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `5.2_Connecting_application_to_database_using_Mongoose.md`

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [

[2021-09-25 14:32] its-me-Harsh-Anand commented on #2269
/assign

[2021-09-25 14:34] iamsunil25 commented on #1539
@Kamya123 can you assign me this issue?

[2021-09-25 14:37] iamsunil25 commented on #1899
@garvitraj i want to work on documention. can you assign me?

[2021-09-25 14:38] iamsunil25 commented on #680
@Aryamanz29 can you please assign me this issue?

[2021-09-25 14:39] its-me-Harsh-Anand commented on #2269
Please assign it to me sir @manjeetdhayal

[2021-09-25 14:41] ashish-patwal opened #2686 "Python : Explain everything related to PIP"
### Description

#### pip is the package installer for Python. We can use pip to install packages from the Python Package Index and other indexes.
<br>

*Explain everything related to python*
* Definition
* Installation
* Basic Usage
* Alternatives

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/g

[2021-09-25 14:41] ashish-patwal commented on #2686
/assign

[2021-09-25 14:41] ashish-patwal commented on #2686
/assign

[2021-09-25 14:42] manjeetdhayal commented on #2269
Hey @its-me-Harsh-Anand it is already assigned. Please wait till new issues are open

[2021-09-25 14:49] RakshitGupta621 opened #2688 "[Create New Issue]: Kadane's Algorithm"
### Description

I want to contribute to the code of **Kadane's Algorithm**

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of t

[2021-09-25 14:53] stutimohta20 opened #2689 "Sudoku solver using cpp"
### Description

A Sudoku solver code using cpp

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 14:54] stutimohta20 commented on #2689
/assign

[2021-09-25 14:56] RahulSoni0 commented on #2624
/assign Documentation

[2021-09-25 14:57] tamalbag117 commented on #2091
\assign document

[2021-09-25 14:58] aparajitachaturvedi commented on #2563
/assign documentation

[2021-09-25 14:58] tamalbag117 commented on #1995
/assign documentation

[2021-09-25 14:59] tamalbag117 commented on #2625
/assign documentation

[2021-09-25 15:03] tamalbag117 commented on #2673
\assign Document

[2021-09-25 15:12] its-me-Harsh-Anand opened #2693 "[Javascript]: Array and Array Methods in Javascript"
### Description

## Array in Javascript
- Introduction to Array in JS
- Array Methods in JS
- Common Array methods with code example and output
- Include methods like Map, forEach, toString, join, pop, push, shift, splice, concat, slice etc.

### Directory
<code>Topics/18</code>

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guid

[2021-09-25 15:12] msbuddhu commented on #2688
\assign

[2021-09-25 15:13] msbuddhu commented on #2688
/assign

[2021-09-25 15:13] its-me-Harsh-Anand commented on #2693
/assign

[2021-09-25 15:14] aasthas09 commented on #2681
/assign

[2021-09-25 15:16] sakshi168 opened #2694 "Polymorphism in C++"
### Description

Describe Polymorphism and its types

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-25 15:17] sakshi168 commented on #2694
/assign

[2021-09-25 15:18] dhruvdy opened #2695 "Backend with PHP : access and mainpulate database using PDO extention"
### Description

Documentation on how one can use PDO extention to access and manipulate database.

### Domain

Backend Dev (PHP)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/

[2021-09-25 15:19] dhruvdy commented on #2695
/assign

[2021-09-25 15:23] hardikk2002 opened #2698 "MERN_Express: 1.0 Introduction to Express"
### Description

### Minimum points to be covered.
- Introduction to Express
- Why do we need Express.js
- How it is useful to use in Nodejs

### Project Directory
[code]
### Name of the File
[code]

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBU

[2021-09-25 15:24] 1PRatgit opened #2699 "OpenGL using C++"
### Description

Description: This document explains about OpenGL using C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) o

[2021-09-25 15:24] 1PRatgit commented on #2699
/assign

[2021-09-25 15:34] nandini7637 opened #2701 "Java 14.3: Static Methods in Interfaces"
### Description
 Add audio, documentation, and video regarding the **Static Methods in Interfaces**.

 ### Location of File to be added
 The files should be added inside the `Static Methods in Interfaces` folder which is inside the `Interfaces` folder present in the `Java` main folder. The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be subm

[2021-09-25 15:37] nandini7637 opened #2705 "Java 15.1: What are exceptions?"
### Description
 Add audio, documentation, and video regarding the **What are exceptions?**.

 ### Location of File to be added
 The files should be added inside the `What are exceptions?` folder which is inside the `Exception Handling` folder present in the `Java` main folder. The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted th

[2021-09-25 15:41] RahulSoni0 commented on #2624
I was Assigned with 2 issues of same branch so both the issue got pushed with the same request . Kindly check the PR by your side . Thank you @garvitraj

[2021-09-25 15:42] bhavya281 commented on #2705
/assign Document

[2021-09-25 15:44] RahulSoni0 commented on #2505
I was Assigned with 2 issues of same branch so both the issue got pushed with the same request . Kindly check the PR by your side . Thank you @nandini7637

[2021-09-25 15:46] SMD-1 commented on #2698
/assign

[2021-09-25 15:47] SMD-1 commented on #2684
/assign

[2021-09-25 15:48] Harsh-Chaudhary7 commented on #2701
/assign Documentation

[2021-09-25 15:49] Harsh-Chaudhary7 commented on #2701
I only have 1 issue that to about to be merged i don't know why is it saying i have three issues. Kindly check it @nandini7637

[2021-09-25 16:02] SourabhSaraswat-191939 commented on #621
@anandhu720 linked this for now, for the future you can follow the steps mentioned in this link.
https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

[2021-09-25 16:05] SourabhSaraswat-191939 commented on #621
@Techno-Simpola, I think your PR is closed. So follow the instruction mentioned by @anandhu720 and then link that PR to this issue. So that I can review that.

[2021-09-25 16:06] areenoverclouds opened #2711 "C_CPP : C++14 vs C++17"
### Description

I would like to provide the documentation of a comparison between C++14 and C++17.

Domain of contribution: C/CPP
Format: Documentation
Language: C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](ht

[2021-09-25 16:06] TishaJhabak1014 commented on #2198
@Isha307 @abhisheks008 Raised a PR. Thank you.

[2021-09-25 16:06] areenoverclouds commented on #2711
Please assign me this issue.

[2021-09-25 16:09] rishabh2030 opened #2712 "Bootstrap 5"
### Description

- what is bootstrap 5
- what is the difference between bootstrap 5 and bootstrap 4
- reference bootstrap 5

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscr

[2021-09-25 16:09] rishabh2030 commented on #2712
/assign

[2021-09-25 16:09] areenoverclouds commented on #2711
/assign

[2021-09-25 16:09] nandini7637 commented on #2701
Even if you have one issue left to be merged, you can't take another. @Harsh-Chaudhary7

[2021-09-25 16:10] das-ankur opened #2713 "Data Science with Python : Audio Processing for Deep Learning/Machine Learning"
### Description

Deep learning with audio is an emerging field of deep learning so the first step is pre-processing of audio.
@prathimacode-hub I want to work on this isuue.

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.m

[2021-09-25 16:15] #602 closed

[2021-09-25 16:19] Anjali-Jha22 commented on #2164
\assign Document

[2021-09-25 16:22] #121 closed

[2021-09-25 16:25] tavneetgill commented on #612
@abhisheks008 Created the PR please review the content and let me know if it needs any changes or alterations!!

[2021-09-25 16:28] Anjali-Jha22 commented on #2165
\assign Document

[2021-09-25 16:30] #2198 closed

[2021-09-25 16:32] subhoshreep commented on #557
@ankurg132 i want to contribute for video on this topic
subhoshree pattnaik
batch 1 python

[2021-09-25 16:32] nandini7637 commented on #2505
@garvitraj can you please look into this.

[2021-09-25 16:34] pragmatic-philosopher09 commented on #2701
/assign documentation

[2021-09-25 16:34] #612 closed

[2021-09-25 16:38] subhoshreep commented on #79
i can contribute to the video part @adityabisoi
subhoshree pattnaik
batch 1 python

[2021-09-25 16:44] #1965 closed

[2021-09-25 16:46] tamalbag117 commented on #2705
/assign Document

[2021-09-25 16:53] sumitmukharjeeeeee commented on #2675
Assign Me

[2021-09-25 16:55] saloni-15 commented on #2675
use `/assign`

[2021-09-25 16:55] sumitmukharjeeeeee commented on #2675
/assign

[2021-09-25 16:55] tamalbag117 commented on #2673
/assign

[2021-09-25 17:02] palsahabmalviyan commented on #2676
/assign

[2021-09-25 17:02] trip0le opened #2724 "Two Way Data Binding in React"
### Description

Is two way data binding really applicable in React? Explain.

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-09-25 17:02] trip0le commented on #2724
/assign

[2021-09-25 17:03] trip0le commented on #2724
@anandhu720 Sir, is it alright if I work on this issue ?

[2021-09-25 17:16] dikshatakyar commented on #2674
@code-reaper08 please assign this issue to me. I will be doing contribution via VIDEO. thanks.

[2021-09-25 17:20] #318 closed

[2021-09-25 17:20] #589 closed

[2021-09-25 17:35] avinash-218 commented on #392
@prathimacode-hub
I would like to work on this.
Name : Avinash R
Type: Documentation
Batch: 19
Issue: 796
Approach:
1) Expand Contractions (Eg: Don't -> Do not)
2) Convert to Lower Case
3) Remove Punctuations
4) Remove words containing digits
5) Stop-words Removal
6) Stemming
7) Lemmatization
8) Remove extra space
9) Tokenization - Word, Sentence etc...
10) Spelling Correction
11) POS tagging
12)

[2021-09-25 17:39] chehe040 opened #2727 "Basics of Figma"
### Description

How to use Figma tools for UI/UX designing. Name along with the steps and location of the tools

### Domain

UI/UX

### Type of Contribution

Video, Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-c

[2021-09-25 17:56] Anshii12 commented on #2664
I want to work on this issue. Please assign this issue to me.

[2021-09-25 18:03] code-reaper08 commented on #2674
Done 🚀

[2021-09-25 18:08] princemsd007 opened #2729 "How to Ace Online Assessments"
### Description

**Description**

1. How Assessments are planned?
2. What types of tests are there?
3. What are Prerequisite knowledge and requirements?

**Domain**
_Interview Preparation_

**Type of Contribution**
_Documentation, Video_

 **Code of conduct**
- [ ]   I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-09-25 18:16] princemsd007 opened #2730 "Online Assessments - Best Practices"
### Description

**Description**

1. How to begin with the test?
2. How to manage time?
3. Stress control.
4. Tips / Recommendations for online Assessment.

**Domain**
Interview Preparation

**Type of Contribution**
 Documentation

**Code of Conduct**
- [ ] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct]

[2021-09-25 18:20] uzma024 opened #2734 "Document Object Model"
### Description

Here we will be explaining Document Object Model or DOM that is an important part of javaScript.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter

[2021-09-25 18:20] uzma024 commented on #2734
/assign

[2021-09-25 18:22] Akriti-Choudhary opened #2735 "Singly Linked list in C"
### Description

Documentation on the singly linked list in C.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project

[2021-09-25 18:23] Akriti-Choudhary commented on #2735
/assign

[2021-09-25 18:26] Anushka-Gamad commented on #2705
/assign audio

[2021-09-25 18:30] Anushka-Gamad commented on #2626
/assign Audio

[2021-09-25 18:31] HardikJain-Harry commented on #436
Hii Sarthak!!!
Hardik Jain & DSA batch 3
Please assign this issue to me.

[2021-09-25 18:47] HastiSutaria commented on #437
Yes! It's almost done. Will upload soon.

[2021-09-25 18:55] Minal5 commented on #2161
\assign video

[2021-09-25 19:08] iam-sakshi commented on #70
Hello! sir I wish to work on this issue.

[2021-09-25 19:10] iam-sakshi commented on #1341
Hello ! I am interested in contributing documentation for this issue

[2021-09-25 19:36] Saurabh-kumar09 commented on #245
- please Assign me this issue for Audio section.

[2021-09-25 19:41] Saurabh-kumar09 commented on #412
-please assign me the issue in video section.

[2021-09-25 19:50] Saurabh-kumar09 commented on #563
-please assign me this issue in video section.

[2021-09-25 19:50] akarshan2602 commented on #1273
Ah okok

On Sat, 25 Sep 2021, 1:05 pm Suvraneel Bhuin, ***@***.***>
wrote:

[2021-09-25 19:52] Saurabh-kumar09 commented on #557
-please assign me this issue in video section.

[2021-09-25 19:55] Saurabh-kumar09 commented on #477
-please assign me this issue in video section.

[2021-09-25 19:58] Saurabh-kumar09 commented on #554
-please assign me this issue in video section.

[2021-09-25 20:05] #2381 closed

[2021-09-25 20:35] tamalbag117 commented on #2705
\assign Document

[2021-09-25 20:36] kashyap1905 commented on #1899
/assign audio

[2021-09-25 21:01] Puja-Saraf commented on #91
@Debasmita-01 please review my PR

[2021-09-25 21:09] Puja-Saraf commented on #91
@Debasmita-01 ma'am please review my PR

[2021-09-25 21:14] Govindbro opened #2754 "[OOPS Concept in Python]:"
### Description

[Path Name:-](https://github.com/girlscript/winter-of-contributing/blob/Python/Python/OOP-class/Documentation/OOP_class.ipynb)
Python is also an object-oriented language since its beginning. It allows us to develop applications using an Object-Oriented approach. The oops concept focuses on writing the reusable code. It is a widespread technique to solve the problem by creating obj

[2021-09-25 21:36] Aditi-247 opened #2756 "[Transition and Transformation in CSS]:"
[Path name-](https://github.com/girlscript/winter-of-contributing/tree/Frontend_Web_Development_HTML_CSS_JS/Web_Development/FrontEnd)

**Transform property** in CSS is invoked when there is a change in the state of the HTML element. You can rotate, skew, move and scale elements. It occurs when the state of an element is modified, like when you hover the mouse over a button or perform a mouse-click

[2021-09-25 21:37] eshan1925 commented on #2412
/assign

[2021-09-25 21:39] eshan1925 commented on #2412
Hey, @anantcodes May I continue with the issue. I will contribute to the docs.

[2021-09-25 21:43] anamhayat commented on #2407
hello
i would like to work on this
Anam Hayat - 937
Batch - 21
Issue No - #2407
Type: Audio
Approach:
1. Introduction to seaborn
2. Visualizing with seaborn
3. Types of plots
4. conclusion

[2021-09-25 21:53] Govindbro opened #2757 "[Selectors and pseudo selector ]:"
### Description

[Path here ](https://github.com/girlscript/winter-of-contributing/tree/Frontend_Web_Development_HTML_CSS_JS/Web_Development/FrontEnd)

**CSS selectors** are used to "find" (or select) the HTML elements you want to style. A CSS selector is the part of a CSS rule set that actually selects the content you want to style CSS selectors select HTML elements according to its id, class, ty

[2021-09-25 21:55] ankurg132 commented on #477
Sounds good, @adityabisoi you can assign the video part to @Saurabh-kumar09

[2021-09-25 21:56] ankurg132 commented on #557
@adityabisoi you can assign the video contribution to @subhoshreep

[2021-09-25 21:59] ankurg132 commented on #412
Since @anjalikumawat2002 is the first, @adityabisoi you can assign the video contribution to her.

[2021-09-25 22:15] ankurg132 commented on #2754
This looks good to me, @adityabisoi you can also have a look also and then if it looks good assign the documentation to @Govindbro

[2021-09-26 00:59] #2563 closed

[2021-09-26 01:44] Rohit484 commented on #2705
/assign Document

[2021-09-26 01:46] Rohit484 opened #2759 "[Create New Issue]:"
### Description

Description

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-26 01:49] Rohit484 commented on #2701
/assign documentation

[2021-09-26 01:49] Rohit484 opened #2760 "This issue [has been assigned](https:&#x2F;&#x2F;github.com&#x2F;girlscript&#x2F;winter-of-contributing&#x2F;issues&#x2F;2701#issuecomment-927148521) to @pragmatic-philosopher09!"
This issue [has been assigned](https:&#x2F;&#x2F;github.com&#x2F;girlscript&#x2F;winter-of-contributing&#x2F;issues&#x2F;2701#issuecomment-927148521) to @pragmatic-philosopher09!
It will become unassigned if it isn't closed within 12 days. A maintainer can also add the **pinned** label to prevent it from being unassigned.

_Originally posted by @github-actions[bot] in https://github.com/girlscript

[2021-09-26 02:08] Vrukshali-26 commented on #2505
@nandini7637  can you assign me video for this topic?

[2021-09-26 02:24] elixir14082002 opened #2761 "Canvas in HTML5"
### Description

Canvas is a feature unique to HTML5. I will be creating documentation regarding canvas in HTML5.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter

[2021-09-26 02:25] elixir14082002 commented on #2761
/assign

[2021-09-26 02:44] Aman-Deshpande commented on #2757
/assign

[2021-09-26 03:20] adityabisoi commented on #2754
Some are already covered in issues, such as objects & class. You have to make a POR accordingly.

[2021-09-26 03:23] adityabisoi commented on #412
@anjalikumawat2002 You can go ahead.

[2021-09-26 03:34] Minal5 commented on #2161
@garvitraj @AkMo3 \assign video

[2021-09-26 03:36] garvitraj commented on #2161
@Minal5 go with video

[2021-09-26 03:38] garvitraj commented on #2505
Who assigned you with the two issues.
It's not possible.
And you also know you can't co with the 2 issue simultaneously.
But if it had happened it will be counted as one contribution.

[2021-09-26 03:38] garvitraj commented on #2505
@Vrukshali-26 go with the video

[2021-09-26 03:39] Minal5 commented on #1996
\assign video
@AkMo3 @garvitraj

[2021-09-26 03:40] garvitraj commented on #1899
@kashyap1905 ko with audio

[2021-09-26 03:42] garvitraj commented on #2626
@amitx007 go for documentation
@Anushka-Gamad go for the audio

[2021-09-26 03:44] ganaaduvva commented on #2756
@Aditi-247   To assigning the issue, you need to comment then the bot will automatically gives you with this task

[2021-09-26 03:47] garvitraj commented on #2164
@jaigora24 what's update on Documentation

[2021-09-26 03:52] vasu-1 commented on #934
Hey you can do this but not on this issue. only one person can work on one issue !!!!!

Make another issue for this and select video format instead of documentation !!

I hope it will make sense !!!!!

[2021-09-26 04:05] saloni-15 opened #2766 "MERN_MongoDB: 6.1 How to Deploy with MongoDB Atlas"
### Description

## MongoDB ATLAS
### Include the following...
- What is MongoDB Atlas?
- Creating an account and set up a cluster.
- Step by step procedure for Connecting nodejs application to MongoDB Atlas.

### Project Directory `Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `6.1_How_to_Deploy_with_MongoDB_Atlas.md`

### Domain

MERN

### Type of Contribution

Documentation

##

[2021-09-26 04:15] Karan-0206 opened #2768 "CSS: Libraries"
### Description

Brief intoduction and explanation on most used CSS Libraries to get you started.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-09-26 04:15] Karan-0206 commented on #2768
/assign

[2021-09-26 04:15] Karan-0206 commented on #2768
/assign

[2021-09-26 04:20] vasu-1 commented on #2467
@rishitajain01  @meghna750 @LegendSumeet

- one person can only work on one issue
- issue should not be duplicates ( if you want to work on the same topic you have to change your type of contribution but again this should also not be any duplicate )
i hopw it will make sense to all of you !!!

[2021-09-26 04:40] padmajabhol commented on #2757
a similar issue is already available, do check before you create a new issue. @Govindbro

[2021-09-26 04:41] #935 closed

[2021-09-26 04:41] harshi606 commented on #2730
Hi Can I contribute to this issue ?

[2021-09-26 04:45] vasu-1 commented on #2610
Only One person can work on the issue !!! @Anandkx007

[2021-09-26 04:45] dhruti29 commented on #2237
@goelesha Can I work on this issue? (documentation)
Name: Dhruti Gandhi
Batch: 2

[2021-09-26 04:47] dhruti29 commented on #2241
Dhruti Gandhi
DSA BATCH 2
DOCUMENTATION

[2021-09-26 04:51] dhruti29 commented on #1787
can I work on this issue?
Dhruti Gandhi
Batch -2

[2021-09-26 05:01] GyaniRoman23 commented on #2766
Hey @saloni-15 I want to work with this issue, could you please assign it to me.

[2021-09-26 05:07] GyaniRoman23 commented on #2760
Hey @gauravdas014 Could you have a look at this issue. Looks like its a  spammy one.

[2021-09-26 05:14] saloni-15 commented on #2766
ask supervisors to assign

[2021-09-26 05:27] jaigora24 commented on #2164
@garvitraj I opened my PR for review

[2021-09-26 05:28] Apurva-oct opened #2772 "BINARY SEARCH"
### Description

Description
I will add some question to explain and understand binary search search in a better way.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributin

[2021-09-26 05:30] Apurva-oct commented on #2772
/assign

[2021-09-26 05:33] Anindyadeep commented on #1160
Hello, I want to contribute here:
Name : Anindyadeep
Batch 1
Documentation
Approach :
1. What is optimization in ML
2. Why Optimization
3. Different kinds of Optimization techniques
4. code

[2021-09-26 05:33] princemsd007 commented on #2730
@syedareehaquasar !! Assign it to her :)

[2021-09-26 05:33] geeythree opened #2775 "ML 2.1 : What is Learning? Why Machine Learning works? (A)"
Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **What is Learning? Why Machine Learning works?**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Audio** content.

Domain : Machine Learning

Points to Note :

- The issues wil

[2021-09-26 05:34] Sneha-0308 commented on #1995
\assign AUDIO

[2021-09-26 05:36] geeythree opened #2776 "ML 2.1 : What is Learning? Why Machine Learning works? (V)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **What is Learning? Why Machine Learning works?**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Video** content.

Domain : Machine Learning

Points to Note :

[2021-09-26 05:36] Anindyadeep commented on #2404
I want to contribute to this, as I got an idea of Linear algebra for ML
Name : Anindyadeep
Batch 1
type: Documentation
Approach :
1. basics of Math for ML, like Linear algebra concepts, and stats concept
2. Using those to understand some basic ML algorithms
3. Coding them if required,

[2021-09-26 05:36] abhisheks008 opened #2777 "ML 2.9 : Decision Trees Algorithm (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Decision Trees Algorithm_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice yo

[2021-09-26 05:37] khushali452 commented on #2777
/assign Document

[2021-09-26 05:37] ashish-reddy-20-08 commented on #2777
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make : Documentation

[2021-09-26 05:37] deepthi1107 commented on #2776
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-09-26 05:37] #291 closed

[2021-09-26 05:37] TishaJhabak1014 commented on #2777
/assign

[2021-09-26 05:37] ron352 commented on #2777
Sarmistha Sarna
Git :@ron352
Type :documentatio
/assign

[2021-09-26 05:38] amitrakshar01 commented on #1160
Use /assign command

[2021-09-26 05:38] geeythree opened #2778 "ML 2.2 : Contrast between Regression and Classification (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Contrast between Regression and Classification**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Documentation** content.

Domain : Machine Learning

Points t

[2021-09-26 05:38] Anant1711 commented on #40
@ilakkiya-v when do you submit your work?

[2021-09-26 05:38] purvanshgarg commented on #2778
/assign

[2021-09-26 05:38] ron352 commented on #2778
/assign

[2021-09-26 05:38] abhisheks008 opened #2779 "ML 2.9 : Decision Trees Algorithm (A)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Decision Trees Algorithm_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice yo

[2021-09-26 05:38] Anindyadeep commented on #1849
I want to contribute
Name : Anindyadeep
Approach :
1. Basic stuff about NN
2. Different NN architectures and algorithm
3. Some useful equations and visualizations
4.

[2021-09-26 05:39] Isha307 opened #2780 "ML 2.5: Linear Regression (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Linear Regression**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Video** content.

Domain : Machine Learning

Points to Note :

- The issues will be assign

[2021-09-26 05:39] TishaJhabak1014 commented on #2780
/assign

[2021-09-26 05:39] deepthi1107 commented on #2780
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do documentation on this issue.

[2021-09-26 05:39] Anant1711 commented on #786
@LegendSumeet I didn't get any update from your side!
Today is the 7th day from assigning date!

[2021-09-26 05:39] geeythree opened #2781 "ML 2.2 Contrast between Regression and Classification (A)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Contrast between Regression and Classification**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Audio** content.

Domain : Machine Learning

Points to Note :

[2021-09-26 05:40] hrugved06 commented on #2778
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

[2021-09-26 05:40] Isha307 opened #2782 "ML 2.5: Linear Regression (V)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Linear Regression**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Video** content.

Domain : Machine Learning

Points to Note :

- The issues will be assign

[2021-09-26 05:40] abhisheks008 opened #2783 "ML 2.9 : Decision Trees Algorithm (V)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Decision Trees Algorithm_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice yo

[2021-09-26 05:40] ashish-reddy-20-08 commented on #2777
@abhisheks008 , Sir it was said not to use "/assign sir " please look into this

[2021-09-26 05:40] Anindyadeep commented on #429
I want to contribute here
Name : Anindyadeep
Batch 1
Approach :
1. What is MLP
2. basics of maths for MLP
3. coding a dummy MLP
4. using keras and pytorch to show working of MLP

[2021-09-26 05:40] TishaJhabak1014 commented on #2777
@abhisheks008 sir, who is gonna take this up? Look two of us have been assigned.

[2021-09-26 05:40] Isha307 opened #2784 "ML 2.5: Linear Regression (A)"
### Description

### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Linear Regression**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Video** content.

Domain : Machine Learning

Points to Note :

- The issu

[2021-09-26 05:41] ashish-reddy-20-08 commented on #2782
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make : video

[2021-09-26 05:41] ashish-reddy-20-08 commented on #2782
/assign

[2021-09-26 05:41] Anindyadeep commented on #1160
yeahh done....

[2021-09-26 05:41] geeythree opened #2786 "ML 2.2 : Contrast between Regression and Classification (V)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Contrast between Regression and Classification**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Video** content.

Domain : Machine Learning

Points to Note :

[2021-09-26 05:42] Yugal41735 commented on #2780
Yugal Agarwal, Batch-2,  link => https://github.com/Yugal41735, documnetation

[2021-09-26 05:42] purvanshgarg commented on #2780
/assign

[2021-09-26 05:42] Anant1711 commented on #785
@monika1024 I didn't get any update from your side!
You took 5 days!
please submit your work!

[2021-09-26 05:42] ashish-reddy-20-08 commented on #2783
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make : Video

[2021-09-26 05:42] iamsunil25 commented on #2756
@praveenscience can you assign this issue to me?

[2021-09-26 05:43] Isha307 commented on #2780
@TishaJhabak1014 you are already working in 3 issues which is assigned to you.

[2021-09-26 05:43] Anant1711 commented on #737
@IshikaMeghaSaha
Any update?
Please submit your Work!
you took 5 days.

[2021-09-26 05:43] LegendSumeet commented on #786
@Anant1711 it's done just today last day

[2021-09-26 05:43] abhisheks008 opened #2787 "ML 2.10 : Support Vector Machine (A)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Support Vector Machines_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you

[2021-09-26 05:44] geeythree opened #2788 "ML 2.3. Numpy Cheatsheet: Most Useful Functions and Methods (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Numpy Cheatsheet: Most Useful Functions and Methods**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Documentation** content.

Domain : Machine Learning

Poi

[2021-09-26 05:44] ron352 commented on #2788
/assign

[2021-09-26 05:44] monalsingh10 commented on #2788
/assign

[2021-09-26 05:44] tanvideshmukh29 commented on #2783
Can I work on it?
Name-Tanvi Deshmukh
batch-5

[2021-09-26 05:44] Anant1711 commented on #171
@NIRBHAYKAUSHIK11 Any update?
You took 10 days for this task!

[2021-09-26 05:45] hrugved06 commented on #2779
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

[2021-09-26 05:45] abhisheks008 opened #2789 "ML 2.10 : Support Vector Machines (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Support Vector Machines_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you

[2021-09-26 05:46] amitrakshar01 commented on #1160
Write a single comment with /assign and write nothing

[2021-09-26 05:46] deepthi1107 commented on #2776
/assign

[2021-09-26 05:46] monalsingh10 commented on #2789
/assign

[2021-09-26 05:46] mukeshmjn commented on #2664
@Anshii12 done! Go for it

[2021-09-26 05:46] iamsunil25 commented on #2167
/assign audio

[2021-09-26 05:46] deepthi1107 commented on #2789
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do documentation on this issue.

[2021-09-26 05:46] ron352 commented on #2789
/assign

[2021-09-26 05:46] TishaJhabak1014 commented on #2777
@abhisheks008 sir, let me know so that I can look up to different issues. But, plz giving this issue to me would love to work on it.

[2021-09-26 05:47] tanvideshmukh29 commented on #2786
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-26 05:47] abhisheks008 opened #2792 "ML 2.10 : Support Vector Machines (V)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Support Vector Machines_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you

[2021-09-26 05:47] hrugved06 commented on #2777
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

[2021-09-26 05:47] tanvideshmukh29 commented on #2780
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-26 05:47] geeythree opened #2793 "ML 2.4 : Pandas Cheatsheet: Most Useful Functions and Methods (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Pandas Cheatsheet: Most Useful Functions and Methods (D)**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Documentation** content.

Domain : Machine Learning

[2021-09-26 05:48] tanvideshmukh29 commented on #2779
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-26 05:48] deepthi1107 commented on #2792
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-09-26 05:48] hrugved06 commented on #2780
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

[2021-09-26 05:48] hrugved06 commented on #2793
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

[2021-09-26 05:49] divijasethi commented on #1160
/assign

[2021-09-26 05:49] abhisheks008 opened #2794 "ML 2.11 : Naive Bayes Algorithm (A)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Naive Bayes Algorithms_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you

[2021-09-26 05:49] Isha307 opened #2795 "ML 2.6: Logistic Regression (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Logistic Regression**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Documentation** content.

Domain : Machine Learning

Points to Note :

- The issues will

[2021-09-26 05:49] TishaJhabak1014 commented on #2793
Name Tisha Jhabak
Batch 6
https://github.com/TishaJhabak1014
Interested

[2021-09-26 05:50] ron352 commented on #2795
/assign

[2021-09-26 05:50] abhisheks008 opened #2796 "ML 2.11 : Naive Bayes Algorithms (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Naive Bayes Algorithms_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you

[2021-09-26 05:50] tanvideshmukh29 commented on #2777
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation
/assign

[2021-09-26 05:50] TishaJhabak1014 commented on #2795
https://github.com/TishaJhabak1014
Name Tisha Jhabak
Btach 6
Interested

[2021-09-26 05:50] As555-prog commented on #1341
/assign

[2021-09-26 05:50] monalsingh10 commented on #2789
/assign

[2021-09-26 05:51] ashish-reddy-20-08 commented on #2796
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make : Documentation

[2021-09-26 05:51] Isha307 opened #2797 "ML 2.6: Logistic Regression (V)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Logistic Regression**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Video** content.

Domain : Machine Learning

Points to Note :

- The issues will be assi

[2021-09-26 05:51] mayankkuthar commented on #666
@Aryamanz29 If no one is working on this issue, I would like to contribute, Please Assign me the issue.

[2021-09-26 05:51] abhisheks008 opened #2798 "ML 2.11 : Naive Bayes Algorithms (V)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Naive Bayes Algorithms_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you

[2021-09-26 05:52] Isha307 opened #2799 "ML 2.6: Logistic Regression (A)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Logistic Regression**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Audio** content.

Domain : Machine Learning

Points to Note :

- The issues will be assi

[2021-09-26 05:52] Yugal41735 commented on #2796
Yugal Agarwal, Batch-1, link => https://github.com/Yugal41735, documnetation

[2021-09-26 05:52] Anant1711 opened #2800 "Cybersecurity: 3.9.6 [Practical] - Create own Virus"
### Description

## Description
### Create your own Virus and explain it `line-by-line` , what it does, How it will work, How to protect the system from this virus.

## Note:
- *Multiple Submissions are allowed, But each contribution should be unique.*
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to expla

[2021-09-26 05:53] Isha307 commented on #2795
@TishaJhabak1014 @ron352 you both are already working in 3 issues, so complete that first.

[2021-09-26 05:53] geeythree commented on #2786
@tanvideshmukh29 This issue is only for video content

[2021-09-26 05:54] TishaJhabak1014 commented on #2780
@Isha307  mam there's a confusion, got assigned to a common issue, let mentor confirm who is gonna take up.

[2021-09-26 05:55] abhisheks008 opened #2801 "ML 2.12 : Implement Logistic Regression without using any standard ML library like scikit-learn or more. (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement Logistic Regression without using any standard ML library like scikit-learn or more_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadshe

[2021-09-26 05:56] ron352 commented on #2795
@Isha307 no mam..I have been unassigned in previous issues though I commented first :/ currently I have got assigned in issue #2778

[2021-09-26 05:56] hrugved06 commented on #2801
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign I can work on this

[2021-09-26 05:56] geeythree commented on #2793
@hrugved06 The issue has been assigned to you. Please complete it and make a PR within 3 days. Happy contributing! 😄

[2021-09-26 05:57] purvanshgarg commented on #2780
I think the first one gets it

[2021-09-26 05:57] priyall commented on #2795
@Isha307 Can I be assigned to this issue..

[2021-09-26 05:57] abhisheks008 opened #2803 "ML 2.13 : Implement Naive Bayes without using any standard ML library like scikit-learn or more. (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement Naive Bayes without using any standard ML library like scikit-learn or more_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "M

[2021-09-26 05:57] Isha307 opened #2804 "ML 2.7: Contrast between Linear and Logistic Regression (A)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Contrast between Linear and Logistic Regression**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Audio** content.

Domain : Machine Learning

Points to Note

[2021-09-26 05:58] purvanshgarg commented on #2796
/assign

[2021-09-26 05:59] Isha307 opened #2805 "ML 2.7: Contrast between Linear and Logistic Regression (V)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Contrast between Linear and Logistic Regression**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Video** content.

Domain : Machine Learning

Points to Note

[2021-09-26 05:59] Anant1711 commented on #786
Okay!

[2021-09-26 05:59] abhisheks008 opened #2806 "ML 2.14 : Implement Support Vector Machine without using any standard ML library like scikit-learn or more. (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement Support Vector Machine without using any standard ML library like scikit-learn or more_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spread

[2021-09-26 06:00] Isha307 opened #2808 "ML 2.7: Contrast between Linear and Logistic Regression (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Contrast between Linear and Logistic Regression**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Documentation** content.

Domain : Machine Learning

Points

[2021-09-26 06:01] divya-chhoriya commented on #2801
/assign

[2021-09-26 06:01] hrugved06 commented on #2806
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

I'd like to work on this

[2021-09-26 06:01] purvanshgarg commented on #2808
/assign

[2021-09-26 06:02] purvanshgarg commented on #2808
Purvansh Garg
Batch no 2
Documentation

[2021-09-26 06:02] hrugved06 commented on #2808
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

Can I work on this?

[2021-09-26 06:02] purvanshgarg commented on #2808
There is a lot of confusion, the bot is assigning the issue to more than one contributors

[2021-09-26 06:03] purvanshgarg commented on #2808
I think the collaborators will sort this out in some time

[2021-09-26 06:03] sushovanb02 commented on #2494
/assign

[2021-09-26 06:03] priyall commented on #2788
- Name: Priyal Palkhiwala
- Batch: 5
- [GitHub Profile](https://github.com/priyall)
- [x] Documentation
/assign

[2021-09-26 06:03] geeythree commented on #2777
The person to have commented first would get the issue. Therefore, it has been assigned to @khushali452. Please complete the work and make a PR within three days. 😄

[2021-09-26 06:04] Isha307 opened #2809 "ML 2.8: K-Nearest Neighbour Algorithm (A)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **K-Nearest Neighbour**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Audio** content.

Domain : Machine Learning

Points to Note :

- The issues will be assi

[2021-09-26 06:04] hrugved06 commented on #2806
/assign

[2021-09-26 06:04] geeythree commented on #2779
@hrugved06 @tanvideshmukh29 guys this issue is only for **Audio** content.

[2021-09-26 06:05] Isha307 opened #2810 "ML 2.8: K-Nearest Neighbour Algorithm (V)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **K-Nearest Neighbour**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Video** content.

Domain : Machine Learning

Points to Note :

- The issues will be assi

[2021-09-26 06:05] TishaJhabak1014 commented on #2795
@Isha307 No mam, Not assigned to any issues currently. Rest all are approved.

[2021-09-26 06:05] geeythree commented on #2783
@ashish-reddy-20-08 This issue has been assigned to you. Please make sure that you complete the work and make a PR within three days! 😄

[2021-09-26 06:06] deepthi1107 commented on #2810
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-09-26 06:06] Isha307 opened #2811 "ML 2.8: K-Nearest Neighbour Algorithm (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **K-Nearest Neighbour**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Documentation** content.

Domain : Machine Learning

Points to Note :

- The issues will

[2021-09-26 06:06] hrugved06 commented on #2811
/assign

[2021-09-26 06:06] hrugved06 commented on #2811
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

[2021-09-26 06:06] TishaJhabak1014 commented on #2811
Name Tisha Jhabak
Batch 6
https://github.com/TishaJhabak1014
Interested

[2021-09-26 06:06] EkjotKaur commented on #2621
Go head.

[2021-09-26 06:06] khushali452 commented on #2777
Gotcha ! @geeythree

[2021-09-26 06:06] geeythree commented on #2792
@deepthi1107 you seem to have more than three issues open currently

[2021-09-26 06:07] ashish-reddy-20-08 commented on #2783
@geeythree , sure mam , thank you , i will complete it by tomorrow itself and get back with PR

[2021-09-26 06:07] EkjotKaur commented on #2614
Go head.

[2021-09-26 06:07] abhisheks008 commented on #2782
@ashish-reddy-20-08 one issue at a time.

[2021-09-26 06:08] ashish-reddy-20-08 commented on #2782
@abhisheks008 , sir i have already started working on this and will submit by today evening sir.

[2021-09-26 06:08] Isha307 commented on #2808
@hrugved06 @purvanshgarg You both had been assigned one issue, so work on that first.

[2021-09-26 06:09] Yugal41735 commented on #2811
Yugal Agarwal, Batch-1, link => https://github.com/Yugal41735, documnetation

[2021-09-26 06:09] tanvideshmukh29 commented on #2811
/assign

[2021-09-26 06:10] tanvideshmukh29 commented on #2808
/assign

[2021-09-26 06:10] tanvideshmukh29 commented on #2808
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-26 06:10] geeythree commented on #2796
@purvanshgarg I'm assigning this issue to @Yugal41735. Please complete the issue and make a PR  within 3 days! 😄

[2021-09-26 06:11] tanvideshmukh29 commented on #2811
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-26 06:12] hrugved06 commented on #2806
@Isha307
I can work on the issue pls do assign
/assign

[2021-09-26 06:12] tanvideshmukh29 commented on #2806
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-26 06:12] tanvideshmukh29 commented on #2806
/assign

[2021-09-26 06:14] tanvideshmukh29 commented on #2801
/assign
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-26 06:15] hrugved06 commented on #2803
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation

/assign

[2021-09-26 06:15] hrugved06 commented on #2803
/assign

[2021-09-26 06:17] tanvideshmukh29 commented on #2796
/assign
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-26 06:19] tanvideshmukh29 commented on #2795
/assign
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-26 06:19] hrugved06 commented on #2793
Sure

[2021-09-26 06:21] Sumit3301 commented on #2786
/assign
name- Sumit Gaur
Batch-3
github-https://github.com/Sumit3301
contribution type- Video

[2021-09-26 06:21] shreya024 opened #2813 "Graph in c++: Topological Sorting"
### Description

Documentation and code on Topological Sort in Graph.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-09-26 06:21] shreya024 commented on #2813
/assign

[2021-09-26 06:24] abhisheks008 commented on #2780
Follow the guidelines and then comment out here as per the guidelines, then only you'll be assigned to this issue. `/assign` tag is not gonna help you 👎

[2021-09-26 06:25] anjali-kundliya05 commented on #2363
\assign documentation

[2021-09-26 06:25] abhisheks008 commented on #2786
Issue assigned @Sumit3301. But do not use /assign tag in future, otherwise we'll unassign you.

[2021-09-26 06:27] TishaJhabak1014 commented on #2784
Name: Tisha Jhabak
Batch 6
GitHub: https://github.com/TishaJhabak1014

Audio

( no issues assigned yet)

[2021-09-26 06:27] abhisheks008 commented on #2788
@ron352 issue assigned. Complete this by Wednesday.

[2021-09-26 06:27] hrugved06 commented on #1855
/assign
- Name: Hrugved Kolhe
- Batch: 10
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation
- Approach: Introduction, proper commented code, images wherever required, proved conclusion

[2021-09-26 06:28] ayushi424 commented on #2780
Name: Ayushi Shrivastava
Batch no.
github: https://github.com/ayushi424

contribution for: Documentation

Approach: proper code along with explanation via project.
@abhisheks008 Kindly assign :)

[2021-09-26 06:29] abhisheks008 commented on #2782
@ashish-reddy-20-08 Do it, but this will not count. This issue is not even assigned to you.

[2021-09-26 06:30] abhisheks008 commented on #2789
Follow the guidelines and then comment out here as per the guidelines, then only you'll be assigned to this issue. `/assign` tag is not gonna help you 👎

[2021-09-26 06:36] ayushi424 commented on #2808
Full name: Ayushi Shrivastava
Batch Number: 1
GitHub Profile Link: https://github.com/ayushi424
Which type of Contribution you want to make :
 Documentation
@Isha307 Please look :)

[2021-09-26 06:36] Suvraneel commented on #864
@shreya0204 Pointer and its types

[2021-09-26 06:37] priyall commented on #2811
Name: Priyal Palkhiwala
Batch: 5
Contribution type: Documentation
/assign

[2021-09-26 06:38] LegendSumeet commented on #786
@Anant1711 today Documentation tomorrow video ohk

[2021-09-26 06:38] abhisheks008 commented on #2793
@hrugved06 If you spam like these, then no issue will be assigned to you. Be careful buddy 👎

[2021-09-26 06:39] abhisheks008 commented on #2806
@tanvideshmukh29  If you spam like these, then no issue will be assigned to you. Be careful buddy 👎

[2021-09-26 06:39] hrugved06 commented on #2793
@abhisheks008 what happened?
I am working on the issue

[2021-09-26 06:39] priyall commented on #2789
Name: Priyal Palkhiwala
Batch: 5
[Profile link](https://github.com/priyall)
Contribution type: Documentation
/assign

[2021-09-26 06:39] AnantDuhan commented on #2674
/assign

[2021-09-26 06:40] abhisheks008 commented on #2778
@ron352  If you spam like these, then no issue will be assigned to you. Be careful buddy 👎

[2021-09-26 06:41] #1013 closed

[2021-09-26 06:42] Tirth-AI commented on #2793
/assign

[2021-09-26 06:42] abhisheks008 commented on #2808
@ayushi424 Issue assigned. Complete this by Wednesday.

[2021-09-26 06:43] ron352 commented on #2778
Hey sorry, didn't know about assign tag :( @abhisheks008

[2021-09-26 06:44] abhisheks008 commented on #2801
@divya-chhoriya This issue is assigned to you. Complete this by this Wednesday.

[2021-09-26 06:46] hrugved06 commented on #2793
Don't unassign issues which we have started working on

[2021-09-26 06:46] amankumar11 opened #2816 "C_CPP : Virtual Functions, Friend Functions & Friend Classes (Documentation)"
### Description

 Virtual Functions, Friend Functions & Friend Classes in CPP (Documentation)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-09-26 06:46] Tirth-AI commented on #2793
Tirth B Dalwadi
Batch 6
https://github.com/Tirth-AI
Documentation

[2021-09-26 06:46] amankumar11 commented on #2816
/assign

[2021-09-26 06:48] whatmansi commented on #2729
Hey, I want to work on this issue.

[2021-09-26 06:49] tanvideshmukh29 commented on #2811
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation
/assign

[2021-09-26 06:50] tanvideshmukh29 commented on #2806
Sry for it.
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation
/assign

[2021-09-26 06:50] abhisheks008 commented on #2780
One issue at a time @ayushi424

[2021-09-26 06:51] abhisheks008 commented on #2780
@TishaJhabak1014 Issue assigned, complete this issue by this wednesday.

[2021-09-26 06:53] tanvideshmukh29 commented on #2795
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation
plz assign it to me.

[2021-09-26 06:54] abhisheks008 commented on #2789
@priyall Issue assigned, complete this by this wednesday.

[2021-09-26 06:54] #835 closed

[2021-09-26 06:56] KhushiKV commented on #445
Hi, I would like to provide an update about my work for this issue, I have written and prepared the Colab notebook halfway so far. I would be completing it soon. Thanks.

[2021-09-26 06:57] abhisheks008 commented on #2793
Stop spamming like those, the issue you have assigned just do that, if you not wanna do that, tell us we'll unassign you. If you can comment out in every issue using /assign, then we can also unassign issues at our own will. Stop making spams.

[2021-09-26 06:57] abhisheks008 commented on #2793
@Tirth-AI issue assigned, complete it by this wednesday.

[2021-09-26 06:58] Sakshi-Gupta06 commented on #68
Hello, I want to work on this. may I?

[2021-09-26 07:00] Sakshi-Gupta06 commented on #56
I want to work on this issuse. May I?

[2021-09-26 07:01] tanvideshmukh29 commented on #2806
Sry for it.
Full name :Tanvi Deshmukh
Batch Number:5
GitHub Profile Link:https://github.com/tanvideshmukh29
Which type of Contribution you want to make :
 Documentation

[2021-09-26 07:02] tanvideshmukh29 commented on #2811
Full name :Tanvi Deshmukh
Batch Number:5
GitHub Profile Link:https://github.com/tanvideshmukh29
Which type of Contribution you want to make :
Documentation

[2021-09-26 07:02] abhisheks008 commented on #2778
@purvanshgarg issue assigned to you, complete the issue by this wednesday.

[2021-09-26 07:03] RahulSoni0 commented on #2505
Okay , sorry. I 'ill be taking care of that onwards .

[2021-09-26 07:04] abhisheks008 commented on #2803
@hrugved06 Complete this issue by this wednesday, if you not gonna work on it, then tell me I'll unassign you.

[2021-09-26 07:05] hrugved06 commented on #2803
Sure

[2021-09-26 07:05] abhisheks008 commented on #2795
@tanvideshmukh29 issue assigned, complete this by this wednesday.

[2021-09-26 07:06] anandhu720 commented on #2724
we have told you please dont create issue by yourself

[2021-09-26 07:06] #2724 closed

[2021-09-26 07:06] abhisheks008 commented on #2803
Then complete this one, without further spamming.

[2021-09-26 07:08] abhisheks008 commented on #2806
@tanvideshmukh29 One issue at a time.

[2021-09-26 07:09] abhisheks008 commented on #2811
@everyone One issue at a time. You guys have already assigned one issue, complete that first.

[2021-09-26 07:12] ashish-reddy-20-08 commented on #2783
@abhisheks008 @geeythree , Can you please kindly review the PR.
PR link: https://github.com/girlscript/winter-of-contributing/pull/2818
M. Ashish Reddy
Batch - 2

[2021-09-26 07:13] Pranshu321 opened #2820 "Frontend : HTML Accessibility"
### Description

<p> -  In this issue i cover the topic of HTML Accessibility , I would like to work on this issue , in this issue i fully explain the topic accessibility in great detail. </p>

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-09-26 07:13] Pranshu321 commented on #2820
/assign

[2021-09-26 07:14] ashish-reddy-20-08 commented on #2782
@Isha307 @abhisheks008 , I have completed my first issue which is assigned to me.

PR link of my first issue  : https://github.com/girlscript/winter-of-contributing/pull/2818

can you please assign me this issue now.

[2021-09-26 07:17] ashish-reddy-20-08 commented on #2782
@Isha307 , KIndly assign this to me as i have done the first issue PR also.

[2021-09-26 07:18] Sumit3301 commented on #2786
okay, sir ill keep that in mind from next time.

[2021-09-26 07:22] 101Priyanshi commented on #2207
Do I need to attach the audio here itself?

[2021-09-26 07:23] purvanshgarg commented on #2778
Thanks I will

[2021-09-26 07:24] #2756 closed

[2021-09-26 07:28] ShraddhaP123 opened #2823 "Working of YOLOv4 Algorithm"
### Description

Description

### Domain

Datascience with Python

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-26 07:30] Rohan749 opened #2825 "JavaScript Specifications:"
### Description

Description
- In this issue, I will cover the JavaScript specifications, topics like ECMA-262 specifications with a great detail. I would like to work on this issue.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONT

[2021-09-26 07:30] trip0le commented on #1896
@mukeshmjn Sir, may I contribute on this issue?

[2021-09-26 07:30] Varun270 commented on #798
@Aryamanz29 Kindly review this PR, I am aware of the fact that I haven't mentioned the serial number. Today was the deadline so I had to Open a PR.

[2021-09-26 07:32] mukeshmjn commented on #1896
@trip0le let's wait till today night. If @Ananyagupta43 don't respond I'll asssign it to you. @Ananyagupta43 please provide updates so that I can allow u to keep on workin on it

[2021-09-26 07:36] #2676 closed

[2021-09-26 07:36] #2310 closed

[2021-09-26 07:36] prathimacode-hub commented on #1855
Issue is assigned to @BasuDevTyagi10 for documentation

@hrugved06, you can choose some other issue to work on, As according to FCFS, it's assigned to other. If you need any help, you can ask me.

[2021-09-26 07:39] ritikaxx opened #2826 "DSA : ARRAY - Largest subarray with 0 sum"
### Description

Given an array having both positive and negative integers. The task is to compute the length of the largest subarray with sum 0.

    Example 1:

    Input:
    N = 8
    A[] = {15,-2,2,-8,1,7,10,23}
    Output: 5
    Explanation: The largest subarray with
    sum 0 will be -2 2 -8 1 7.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow

[2021-09-26 07:40] ritikaxx commented on #2826
/assign

[2021-09-26 07:43] Varun270 commented on #598
@Randrita Please review my PR.

[2021-09-26 07:43] monalsingh10 commented on #2789
Sir thought that is the way of assigning.Will you reassign please??

[2021-09-26 07:44] Muskan-creator commented on #798
Added serial no Make a Pr into section 4 of `/Opensource` directory

[2021-09-26 07:45] LegendSumeet commented on #2825
assign me

[2021-09-26 07:47] ashish-reddy-20-08 commented on #2782
@abhisheks008 , Sir i have completed the first issue and made PR ALSO SIR
CAN u please assign me sir

[2021-09-26 07:47] micepram commented on #139
@TechnoPhasePRO what's the update?

[2021-09-26 07:48] monalsingh10 commented on #2811
Name:Monal Singh
Batch no.:5
Github profile link: https://github.com/monalsingh10
Which type of contribution you want to make: Documentation

[2021-09-26 07:52] monalsingh10 commented on #2811
Mentors this my first contribution!!So please assign me this!

[2021-09-26 07:53] hrugved06 commented on #1831
/assign
- Name: Hrugved Kolhe
- Batch: 10
- Sr. No.:- 330
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation
- Approach: Introduction, properly commented code, images wherever required, proved conclusion

[2021-09-26 07:54] hrugved06 commented on #1855
@prathimacode-hub ,I have requested issue #1831 ,please see if I can move forward with that

[2021-09-26 07:55] micepram commented on #141
What's the update @TechnoPhasePRO?

[2021-09-26 07:56] monalsingh10 commented on #2801
Name:Monal Singh
Batch no.:5
Github profile link: https://github.com/monalsingh10
Which type of contribution you want to make: Documentation

[2021-09-26 07:58] #2810 closed

[2021-09-26 07:58] micepram commented on #1053
I have reviewed the PR. Good work, just implement the changes mentioned.

[2021-09-26 08:01] micepram commented on #1063
Hey @snehar-bajwa, what's the progress on this issues?

[2021-09-26 08:01] jyotsana279 opened #2830 "Object Oriented Programming - Encapsulation"
### Description

The concepts of Object Oriented Programming will be discussed keeping Encapsulation as the main topic.

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-con

[2021-09-26 08:01] #2783 closed

[2021-09-26 08:01] jyotsana279 commented on #2830
/assign

[2021-09-26 08:01] micepram commented on #1064
Hi @ravireddy07 what's the progress on the issue?

[2021-09-26 08:02] micepram commented on #1066
Hello @swathi-reddy-m, what is the progress on this issue?

[2021-09-26 08:02] micepram commented on #1072
Hey @ayushikulshreshta30, how's the progress on this issue going?

[2021-09-26 08:03] #2826 closed

[2021-09-26 08:03] micepram commented on #1073
Hi @akshara20! What is the progress here so far?

[2021-09-26 08:03] abhisheks008 commented on #2811
@monalsingh10 Issue assigned, complete this issue by this Wednesday.

[2021-09-26 08:03] micepram commented on #1074
Hi @Meet19aug! How's the progress going along?

[2021-09-26 08:04] micepram commented on #1075
Hi @ilakkiya-v, how is the progress coming along?

[2021-09-26 08:06] abhisheks008 commented on #2782
Now you can work on it. Issue assigned @ashish-reddy-20-08

[2021-09-26 08:11] Shreya18031997 commented on #2806
Full name : Shreya Kumari
Batch Number:5
GitHub Profile Link:https://github.com/ishreyakumari
Which type of Contribution you want to make :
Documentation

[2021-09-26 08:12] aaditya2801 commented on #2167
/assign

[2021-09-26 08:13] deepthi1107 commented on #2805
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-09-26 08:13] tamalbag117 commented on #2830
/assign

[2021-09-26 08:14] abhisheks008 commented on #2805
Issue assigned @deepthi1107. Happy contributions 🚀

[2021-09-26 08:15] tamalbag117 commented on #2830
\assign Document

[2021-09-26 08:15] tamalbag117 commented on #2830
/assign Document

[2021-09-26 08:16] abhisheks008 commented on #2806
@Shreya18031997 issue assigned, complete this by this wednesday.

[2021-09-26 08:21] Meet-011 commented on #2793
Name : Meet Panchal (Meet)
Batch : 8
https://github.com/Meet-011
Interested

[2021-09-26 08:22] ishreyakumari commented on #2806
Can I work on this issue?
Full name : Shreya Kumari
Batch Number: 5
GitHub Profile Link: https://github.com/ishreyakumari
Which type of Contribution you want to make :
Documentation
@abhisheks008 Sorry by mistake i commented using wrong github. This is my correct github. Can you please assign it on this github. Sorry for inconvenience caused. I will complete this till wednesday.

[2021-09-26 08:24] trip0le opened #2835 "Rotate an array by 90 degree in an anti-clockwise manner."
### Description

Code with detailed explanation.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-26 08:24] trip0le commented on #2835
/assign

[2021-09-26 08:24] ishreyakumari commented on #2806
Sure. Thank you :)

[2021-09-26 08:26] Muskan-creator opened #2837 "Opensource: 2.5 Resources to find good First Issues for your first open-source contribution"
### Description

### Description :

**You may write some resources or give references of
websites and explaining best practices how to contribute to beginner issues in projects**

Maybe someone like is you also looking for that kind of solution, Do
you like to help someone?😉 You can explain about good first issues and how to find issues in big repositories so developers who've never contributed to

[2021-09-26 08:33] eshan1925 commented on #1579
@amino19 I have generated the PR. Please merge it if there are no issues.
THANKYOU😁

[2021-09-26 08:34] HassanRahim26 commented on #2837
Hey @Muskan-creator, I would like to work on this issue. Can you please assign me this?
Name: Hassan Rahim
Batch: Open-Source Batch-1
Type: Documentation

[2021-09-26 08:34] HassanRahim26 commented on #2837
/assign

[2021-09-26 08:36] pragmatic-philosopher09 commented on #2800
/assign documentation

[2021-09-26 08:36] Eswari-Priya opened #2839 "[Create New Issue]: Casting Operators"
### Description

I'd like to describe all the casting operators that are present in cpp.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-09-26 08:37] Eswari-Priya commented on #2839
/assign

[2021-09-26 08:38] jaigora24 commented on #1983
I opened my PR. Please review it https://github.com/girlscript/winter-of-contributing/pull/2802

[2021-09-26 08:40] Pooja-Goyal-1 commented on #518
@rahulsain I have made a pull request on overview of gradle for android. kindly review it

[2021-09-26 08:44] geeythree commented on #2793
@Meet-011 This issue has already been assigned to another contributor

[2021-09-26 08:46] ShrutiKhatri826 opened #2840 "Alignment of text and images"
I would like to give detailed description of the alignment of the multimedia used in a website i.e positioning it vertically or horizontally.

Domain:
Front-end Web Dev
(HTML/CSS/Javascript)

Requirement:
A markdown file with detailed description.

[2021-09-26 08:51] Adityanr opened #2841 "[Create New Issue]: Difference between .NET Core and .NET Framework"
### Description

Documentation for difference between .NET Core and .NET framework

### Domain

Backend Dev (.NET)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-26 08:51] Adityanr commented on #2841
/assign

[2021-09-26 08:53] ShrutiKhatri826 opened #2842 "Alignment of multimedia"
### Description

In this issue, I will cover the CSS specifications for aligning the multimedia used in a website either horizontally or vertically.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](h

[2021-09-26 08:53] #2840 closed

[2021-09-26 08:54] Adityanr opened #2843 "[Create New Issue]: Why .NET"
### Description

Advantages of .NET over other frameworks, uses of .NET and so and so on.

### Domain

Backend Dev (.NET)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-09-26 08:54] Adityanr commented on #2843
/assing

[2021-09-26 08:54] Adityanr commented on #2843
/assign

[2021-09-26 08:56] Adityanr opened #2846 "[Create New Issue]: Prerequisites for Learning"
### Description

Documentation on prerequisites for learning .NET

### Domain

Backend Dev (.NET)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-09-26 08:56] Adityanr commented on #2846
/assign

[2021-09-26 08:58] ShrutiKhatri826 commented on #2842
/assign

[2021-09-26 08:58] harshmathurx opened #2847 "[JS]: Map Reduce Filter"
### Description

Directory

Topics/Map_Reduce_Filter/
The index will be added manually after merging.

Description
What are these functions?
Description of each function
Syntax of each function
Example of each function

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/

[2021-09-26 08:59] harshmathurx commented on #2847
/assign

[2021-09-26 09:01] brassgolem-25 commented on #986
Update: This is issue has been merged . So, I am closing it . (PR #2522  )

[2021-09-26 09:01] #986 closed

[2021-09-26 09:02] dummy-co-der commented on #2800
I am interested to create a virus in video mode. May I take this @Anant1711 Sir.

[2021-09-26 09:03] vikky-10 opened #2850 "Asynchronous JavaScript"
### Description

Hello everyone !!

This issue will help readers in acquiring all the knowledge that one needs to know about Asynchronous JavaScript!

- **Introduction** (What is Asynchronous Javascript?)

- Promise, Callbacks

- Event Loop

- Async/await

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](ht

[2021-09-26 09:04] vikky-10 commented on #2850
/assign

[2021-09-26 09:05] syedareehaquasar commented on #2730
assigned go ahead Harshi! All the best!

[2021-09-26 09:08] syedareehaquasar commented on #2668
@vishnu kindly close one of the 3 issues assigned to you or unassign to get this one assigned as others can work on this in the meanwhile!

[2021-09-26 09:13] syedareehaquasar opened #2853 "Common Concepts or types of Questions for Technical Interviews"
### Description

There are patterns of commonly asked questions such as sliding window problem, fast-slow pointers, heaps questions based on sorting, etc
compile them with their explanations and code snippets.

### Domain

Interview Prep

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-cont

[2021-09-26 09:16] syedareehaquasar opened #2854 "Behavioral Interview Questions"
### Description

List of commonly asked questions and respective answers

### Domain

Interview Prep

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-26 09:17] syedareehaquasar opened #2855 "Introductions/ About yourself in the Interviews"
### Description

Important Aspects of what should be covered in your Introduction with exaples

### Domain

Interview Prep

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributin

[2021-09-26 09:17] Harshil-Jani commented on #2167
@Aryamanz29  Can you please check on this? Any updates.

[2021-09-26 09:18] syedareehaquasar opened #2856 "Elevator Pitch"
### Description

What is it?
What all should it cover?
Examples

### Domain

Interview Prep

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-09-26 09:18] dummy-co-der commented on #2800
/assign video

[2021-09-26 09:27] anamhayat commented on #1841
hello, i am anam hayat. could i take the audio on this issue?
batch 21

[2021-09-26 09:31] prathimacode-hub commented on #2403
Yes, issue assigned to @ashish-reddy-20-08 for documentation

[2021-09-26 09:32] BhawnaAtrish opened #2859 "Responsive Websites"
### Description

Here, I'll be providing a detailed tutorial on basis of responsive websites.
Sections to be covered are:
What are responsive websites?
Difference between Responsive and non-responsive websites?
What is the need for a responsive website?
how to make a website responsive?
Different ways to make a website responsive?
Examples with code for responsive websites.

### Domain

Frontend D

[2021-09-26 09:33] harshi606 commented on #2730
Okay !

[2021-09-26 09:33] BhawnaAtrish commented on #2859
/assign

[2021-09-26 09:37] swathi-reddy-m commented on #1066
Till now I have no free time due to my exams. I started working on it today and get back to you soon.

[2021-09-26 09:43] silicolicious commented on #2792
Full Name: Mageshkrishna R
Batch No.: ML Batch 4
Github Profile: https://github.com/silicolicious
Discord Username: Mag#2191
Type of Contribution: Video

This would be my first issue in Machine Learning.
Assign it to me.

Thank you.

[2021-09-26 09:44] Meet19aug commented on #1074
Hello Girlscript/Winter-Of-Contributing
    I am working on it [girlscript/winter-of-contributing] DS-R: 3.2.DOC
Data & Packages - Generating Data (#1074)], I need 2-3 days more to
complete it.

On Sun, Sep 26, 2021 at 1:34 PM micepram ***@***.***> wrote:

[2021-09-26 09:46] #1560 closed

[2021-09-26 09:50] GyaniRoman23 commented on #1267
Hey @EkjotKaur Can you close this issue as the PR is merged.

[2021-09-26 09:51] prathimacode-hub commented on #2402
Issue assigned to @deepthi1107 for documentation

[2021-09-26 09:51] ashish-reddy-20-08 commented on #2782
@Isha307 @abhisheks008 , Kindly evaluate my PR.
PR link: https://github.com/girlscript/winter-of-contributing/pull/2863
Name: M. Ashish Reddy
Batch - 2

[2021-09-26 09:55] PurviBhoyar21 commented on #2799
Hello,
I am from ML Batch 1
Please assign me to this issue.
I want to work on it.
Thank you

[2021-09-26 09:57] riyasai22 commented on #2787
/assign

[2021-09-26 09:58] ayush572 opened #2866 "/assign"
### Description

I would like to work with this issue.

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-26 09:59] ashish-reddy-20-08 commented on #2410
@prathimacode-hub , Mam can you evaluate my PR,
PR link: https://github.com/girlscript/winter-of-contributing/pull/2865
Name: M. Ashish Reddy
Batch: 5

[2021-09-26 09:59] ayush572 commented on #2866
/assign

[2021-09-26 10:00] riyasai22 commented on #2787
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: Audio

[2021-09-26 10:01] #2805 closed

[2021-09-26 10:01] chakitg commented on #1302
Hey creator, I would like to work on this issue. Can you please assign me this?
Name: Chakit Gupta
Batch: Frontend with HTML, CSS, Js Batch-4
Type: Documentation

[2021-09-26 10:02] chakitg commented on #499
Hey creator, I would like to work on this issue. Can you please assign me this?
Name: Chakit Gupta
Batch: Frontend with HTML CSS Js Batch-4
Type: Documentation

[2021-09-26 10:02] PurviBhoyar21 commented on #2787
Hello Supervisors and mentors,
I would love to contribute to this issue. @abhisheks008
ML Batch-1
Profile link: https://github.com/PurviBhoyar21

[2021-09-26 10:03] RoshanMhatre opened #2868 "Rearrange the order of content in front end with html, css branch."
### Description

Some HTML concepts are in between CSS and some basic web concepts are placed in between in other concepts.
Rearrange them would make it look clean and easy to  search

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CON

[2021-09-26 10:03] ashish-reddy-20-08 commented on #2798
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make : video

[2021-09-26 10:03] RoshanMhatre commented on #2868
Moderator assing this issue to me so I can rearrange everything in order.

[2021-09-26 10:08] paramsiddharth commented on #2319
@sushovanb02 I am closing this issue since this is for front-end event handling and we already have an issue and PR for the same (see #761). If you want to make this issue about events in the back-end/command-line (Node.js), you may edit and reopen the issue (which I'm planning to do, soon).

[2021-09-26 10:08] #2319 closed

[2021-09-26 10:08] sumitaccess007 opened #2870 "[Java 15.2]: Exception Types"
### Description

Add audio, documentation, and video regarding the **Exception Types**

### Domain

Java_Domain

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-09-26 10:10] saloni-15 commented on #2866
hey @ayush572  you have done some mistake, please check this and close this issue

[2021-09-26 10:10] deepthi1107 commented on #2798
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-09-26 10:10] chakitg commented on #803
Hey @Muskan-creator, I would like to work on this issue, is it possible now? Can you please assign me this?
Name: Chakit Gupta
Batch: Open-Source Batch-1
Type: Documentation

[2021-09-26 10:10] NIRBHAYKAUSHIK11 commented on #171
I have submitted my work.I submitted it on 22nd september.

[2021-09-26 10:12] ashish-reddy-20-08 commented on #2798
@abhisheks008 , Sir how come you didn't assign me , and assigned deepthi ???

[2021-09-26 10:13] ashish-reddy-20-08 commented on #2798
@Isha307 , Mam whats this mam , I have completed all my issues and made PR , and first commented here.

[2021-09-26 10:13] #2782 closed

[2021-09-26 10:14] ashish-reddy-20-08 commented on #2798
How did you give to someone else ignoring the first come first serve policy which is said by you. @Isha307 @abhisheks008

[2021-09-26 10:14] Isha307 commented on #2798
But that time you were working on one issue, that's why.
@ashish-reddy-20-08 you can look into the other issues.

[2021-09-26 10:16] chakitg commented on #2197
Hey creator, I would like to work on this issue, is it possible now? Can you please assign me this?
Name: Chakit Gupta
Batch: Open-Source Batch-1
Type: Documentation

[2021-09-26 10:17] chakitg commented on #2197
Hey creator, I would like to work on this issue, is it possible now? Can you please assign me this?
Name: Chakit Gupta
Batch: Competitive Prog. Batch-1
Type: Documentation

[2021-09-26 10:17] shaurya24sri commented on #1322
@Saviour1001 @Suvraneel  Please assign documentation to me for this issue

[2021-09-26 10:17] Apoorv-17 commented on #2797
Hello, I am Apoorv Yadav, I would like to work on this issue.
Batch Number: 5
Serial Number: 709
GitHub Profile Link: https://github.com/Apoorv-17
contribution you want to make : Video

[2021-09-26 10:17] sumitaccess007 opened #2873 "[Java 15.2]: Catching Exception"
### Description

### Description

Add audio, documentation, and video regarding the **Catching Exceptions**

---

**Location of File to be added**
The files should be added inside the *`Exception Types`* which will be inside *`Catching Exception`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be in th

[2021-09-26 10:17] parvatijay2901 commented on #609
I'll upload it soon.

[2021-09-26 10:18] tamalbag117 commented on #2870
\assign Document

[2021-09-26 10:18] ashish-reddy-20-08 commented on #2798
@Isha307 , This is totally unfair , I have created My PR at and tagged you before messaging over here , You can cross check it,
from my side i have made the PR and after that , if its delayed from the team end how is that going to affect me.
I have made PR, and then i have commented here. If evaluation was late that doesn't mean i have to wait till the evaluation is done , BEcause there might be o

[2021-09-26 10:19] tamalbag117 commented on #2870
/assign

[2021-09-26 10:20] geeythree commented on #2792
@silicolicious The issue has been assigned to you. Please work on it and make a PR within 3 days. Happy contributing! 😄

[2021-09-26 10:22] chakitg commented on #2313
Hey creator, I would like to work on this issue, is it possible now? Can you please assign me this?
Name: Chakit Gupta
Batch: Frontend With Html-Css-js Batch-4
Type: Documentation

[2021-09-26 10:23] chakitg commented on #2124
Hey creator, I would like to work on this issue, is it possible now? Can you please assign me this?
Name: Chakit Gupta
Batch: Front end with HTML, css, js Batch-4
Type: Documentation

[2021-09-26 10:24] chakitg commented on #2116
Hey creator, I would like to work on this issue, is it possible now? Can you please assign me this?
Name: Chakit Gupta
Batch: Front end with HTML, css, js Batch-4
Type: Documentation

[2021-09-26 10:24] chakitg commented on #1978
Hey creator, I would like to work on this issue, is it possible now? Can you please assign me this?
Name: Chakit Gupta
Batch: Front end with HTML, css, js Batch-4
Type: Documentation

[2021-09-26 10:24] tamalbag117 commented on #2873
\assign Document

[2021-09-26 10:25] chakitg commented on #1907
Hey creator, I would like to work on this issue, is it possible now? Can you please assign me this?
Name: Chakit Gupta
Batch: Front end with HTML, css, js Batch-4
Type: Documentation

[2021-09-26 10:25] chakitg commented on #1697
Hey creator, I would like to work on this issue, is it possible now? Can you please assign me this?
Name: Chakit Gupta
Batch: Front end with HTML, css, js Batch-4
Type: Documentation

[2021-09-26 10:25] Akhilkumar272002 commented on #552
@adityabisoi #2876 Solved
pls check

[2021-09-26 10:27] astharaj300 commented on #2873
/assign

[2021-09-26 10:27] brassgolem-25 commented on #2313
@chakitg no not possible.

[2021-09-26 10:28] thatSophisticatedMess18 commented on #2445
/assign documentation

[2021-09-26 10:34] prathimacode-hub commented on #1034
@Vishaka830, do you like to work on this issue?

[2021-09-26 10:34] PrachiDoshi2170 commented on #2868
@RoshanMhatre can I be assigned this issue for the documentations?

[2021-09-26 10:34] PrachiDoshi2170 commented on #2868
@RoshanMhatre can I be assigned this issue for the documentations?

[2021-09-26 10:35] rahulsain commented on #518
tag me there

[2021-09-26 10:36] astharaj300 commented on #2873
I will provide documentation for the catching exception

[2021-09-26 10:36] astharaj300 commented on #2873
I will provide documentation for the catching exception

[2021-09-26 10:37] paramsiddharth commented on #70
@iam-sakshi Please note that a document has already been contributed to this topic so you may either choose to extend it with more data or make a contribution in video/audio format (if not already done).

[2021-09-26 10:38] PrachiDoshi2170 commented on #1956
Hello @Anant1711 if the documentation of this issue has not been assigned to anyone. I would like to work on it

[2021-09-26 10:38] Muskan-creator commented on #803
@sanjana-coder how is the progress?

[2021-09-26 10:39] tamalbag117 commented on #2870
I will provide documentation for the exception Types

On Sun, 26 Sept 2021 at 15:50, github-actions[bot] ***@***.***>
wrote:

[2021-09-26 10:39] Sirisha23082002 opened #2879 "[Create New Issue]: Accessibility"
### Description

Everything you need to know about HTML Accessibility

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-09-26 10:40] Sirisha23082002 commented on #2879
/assign document

[2021-09-26 10:44] Nupurksk commented on #2855
Can I go with this.

[2021-09-26 10:46] Nupurksk commented on #2853
Can I go with this..The Documentation part.

[2021-09-26 10:47] GoutamVerma opened #2880 "How to import project from git control version in android studio?"

[2021-09-26 10:49] GoutamVerma commented on #2880
Hello mentor!!
can you please /assign this issue to me?
so that i can start work on it.

[2021-09-26 10:54] sanjana-coder commented on #803
Sorry for the delay, I've been having my exams
If it's okay, I'll create a PR by tomorrow
Else you can assign it to anyone else

[2021-09-26 10:57] sumitaccess007 commented on #2870
Documentation - @tamalbag117
Audio - Available to take
Video - Available to take

[2021-09-26 10:59] Aditi-247 opened #2882 "[Overview of Popular libraries: jQuery]:"
### Description

[Path name](https://github.com/girlscript/winter-of-contributing/tree/Javascript/Web_Development/Javascript/Topics)

Query is a lightweight, "write less, do more", JavaScript library. The purpose of jQuery is to make it much easier to use JavaScript on your website. jQuery also simplifies a lot of the complicated things from JavaScript, like AJAX calls and DOM manipulation. The jQ

[2021-09-26 11:01] sumitaccess007 commented on #2873
Documentation - @astharaj300
Audio - Available to take
Video - Available to take

[2021-09-26 11:07] Aditi-247 commented on #2882
@paramsiddharth sir where i am making mistake in creating a issue.

[2021-09-26 11:10] Vishaka830 commented on #1034
@prathimacode-hub yes ma'am.

[2021-09-26 11:11] Muskan-creator commented on #803
Okay @sanjana-coder make a pr by tomorrow 🙂

[2021-09-26 11:12] Muskan-creator commented on #803
@chakitg Try on some other issues I will assign you 🙂

[2021-09-26 11:13] ksheetiz opened #2884 "Competitive programming : Merge Sort(Documentation)"
### Description

I want to contribute into this topic
->Searching and Sorting
--->Merge Sort

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/

[2021-09-26 11:13] ksheetiz commented on #2884
/assign

[2021-09-26 11:14] shoebxsiddiqui commented on #2506
Yes sir

[2021-09-26 11:14] 0shivamh commented on #1956
hey, I'm doing documentation

[2021-09-26 11:21] princemsd007 commented on #2855
Hey !!  @Nupurksk  we have auto-assign as well just comment **/assign**.  It will be assigned to you

[2021-09-26 11:22] Nupurksk commented on #2855
Okay , thank you

[2021-09-26 11:22] Nupurksk commented on #2855
/assign Documentation

[2021-09-26 11:23] #884 closed

[2021-09-26 11:25] Nupurksk commented on #2853
/assign
documentation

[2021-09-26 11:26] vandana3869 commented on #223
@prathimacode-hub  could u please review this PR

[2021-09-26 11:27] kaustubh0777 opened #2889 "Modular Arithmetic in C++"
### Description

<hr>

## Description 📜

I want to Create an Documentation explaining the concepts of Modular Arithmetic in C++ with some code examples too.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-09-26 11:28] kaustubh0777 commented on #2889
/assign

[2021-09-26 11:29] Nupurksk commented on #2854
/assign Documentation

[2021-09-26 11:33] KhushiKV commented on #445
@Nithin-Reddy-02 @shivangdubey mentors, hello...I have completed my documentation for this issue and have opened a pull request for the same. Please let me know if you are able to see and merge it with the repository.
Is there anything else that needs to be done from my end for this?
Thank you very much.

[2021-09-26 11:44] lakshya7878 commented on #2830
\assign  Audio

[2021-09-26 11:44] vipula2001 commented on #2856
assign

[2021-09-26 11:49] Saviour1001 commented on #975
Closing this as the PR got merged !

[2021-09-26 11:49] #975 closed

[2021-09-26 11:51] varnikarathee commented on #1976
/assign

[2021-09-26 11:52] ashish-reddy-20-08 commented on #2794
@abhisheks008 , Sir can I work on this sir. Please can you assign this.
M. Ashish Reddy,
Batch-2

[2021-09-26 11:55] #608 closed

[2021-09-26 11:55] Anant1711 commented on #2800
Okay go with it!

[2021-09-26 11:56] ksheetiz commented on #2884
I have made a PR regarding this please see to it https://github.com/girlscript/winter-of-contributing/pull/2894
@Suvraneel

[2021-09-26 12:00] vipula2001 commented on #2856
/assign

[2021-09-26 12:00] abhisheks008 commented on #2787
@riyasai22 Issue assigned, complete the PR by wednesday.

[2021-09-26 12:02] vipula2001 commented on #2667
/assign

[2021-09-26 12:05] #2798 closed

[2021-09-26 12:07] #1555 closed

[2021-09-26 12:09] #2777 closed

[2021-09-26 12:09] GyaniRoman23 commented on #1313
Hey @Debasmita-01 Kindly review my PR.

[2021-09-26 12:13] Anant1711 commented on #171
can you share the Link of your PR?

[2021-09-26 12:24] itsbittoosharma commented on #680
/assign

[2021-09-26 12:26] riyasai22 commented on #2787
Kindly review my PR. @abhisheks008

[2021-09-26 12:27] #2787 closed

[2021-09-26 12:29] riyasai22 commented on #2779
I would like to contribute to this issue. @geeythree
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: Audio
/assign

[2021-09-26 12:32] geeythree commented on #2779
Alright @riyasai22, please work on it and make a PR within 3 days. Happy contributing! 😄

[2021-09-26 12:33] abhisheks008 commented on #2794
Issue assigned @ashish-reddy-20-08

[2021-09-26 12:35] deepthi1107 commented on #613
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do a video on this issue.

[2021-09-26 12:36] abhisheks008 commented on #613
Issue assigned @deepthi1107

[2021-09-26 12:40] BhaswatiRoy commented on #2775
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Machine Learning
Batch-6
Issue Number-2775
Type-Audio
Contribution Approaches-what is learning & ml, importance of data in ml, how machine learns from data,

[2021-09-26 12:41] BhaswatiRoy commented on #2781
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Machine Learning
Batch-6
Issue Number-
Type-Audio
Contribution Approaches-types of data, approaches, algorithms used, data preprocessings

[2021-09-26 12:41] kashishahuja2002 opened #2901 "Hello World"
### Description

Program for hello world.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-26 12:42] kashishahuja2002 commented on #2901
/assign

[2021-09-26 12:44] LegendSumeet commented on #786
https://github.com/girlscript/winter-of-contributing/pull/2832  done merge it @Anant1711

[2021-09-26 12:44] prathimacode-hub commented on #1034
Issue assigned to @Vishaka830 for documentation.

[2021-09-26 12:49] Saviour1001 commented on #2190
Closing this as PR got merged !

[2021-09-26 12:49] #2190 closed

[2021-09-26 12:53] rishitajain01 commented on #2467
@vasu-1 Can I modify my documentation content?

[2021-09-26 12:55] LegendSumeet commented on #2467
video assign me

[2021-09-26 12:55] TechnoPhasePRO commented on #141
@micepram sorry but I'm having some problems with the head branch in git as its detached. Due to which my commits are not authorized under correct credential . That's why its taking long to resolve it.

[2021-09-26 12:55] TechnoPhasePRO commented on #139
@micepram sorry but I'm having some problems with the head branch in git as its detached. Due to which my commits are not authorized under correct credential . That's why its taking long to resolve it.

[2021-09-26 13:00] sanjana-coder commented on #803
Sure will do!

[2021-09-26 13:13] #2901 closed

[2021-09-26 13:13] #2671 closed

[2021-09-26 13:14] #2398 closed

[2021-09-26 13:17] jay-498 commented on #2868
please assign this issue for the documentations i will arrange them neatly ! @RoshanMhatre

[2021-09-26 13:29] ashish-reddy-20-08 commented on #2403
@prathimacode-hub , Can you evaluate the PR mam
Link of PR: https://github.com/girlscript/winter-of-contributing/pull/2906
Name: M. Ashish Reddy
Batch - 5

[2021-09-26 13:32] GoutamVerma commented on #2880
/assign

[2021-09-26 13:37] IshikaMeghaSaha commented on #737
Yes I'm working on it. Will submit it by tuesday.

[2021-09-26 13:39] RoshanMhatre commented on #2868
@PrachiDoshi2170  and @jay-498, maybe you can add some other feature and fix some other thing.

[2021-09-26 13:47] NiharikaSngh commented on #110
/assign

[2021-09-26 13:48] onlykingKD opened #2909 "Few HTML Tags most programmers don't know about !"
### Description

I  want to create a documentation on HTML Tags that are very rare to be used but can be very useful.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-09-26 13:48] onlykingKD commented on #2909
/assign

[2021-09-26 13:48] onlykingKD commented on #2909
/assign

[2021-09-26 13:49] hardikk2002 opened #2910 "MERN_Express: 2.0 Creating first Express Application"
### Description

### 📌 Minimum points to be covered.
1. Installing Express
2. Define its meaning `app = express();`
3. Routings and Intro to express APIs `.get(), .put(), .create(), .put()`
4. Display `Yey, this is my First Express Server!` using `.get("/", call_Back)` and listen this server to any PORT.
5. **Most important** explain all the important terms used in the Program, like:
   - `Call_Ba

[2021-09-26 13:52] khushipr commented on #2675
/assign

[2021-09-26 13:52] ravireddy07 commented on #1064
Hey @micepram,
i'm working on it. I'll make an update soon.

[2021-09-26 13:55] #2788 closed

[2021-09-26 13:57] ron352 commented on #2775
Sarmistha Sarna
Batch :01
https://github.com/ron352
type : audio

@abhisheks008  can I work on this?

[2021-09-26 14:00] NiharikaSngh opened #2913 "[DSA Array 1.1.2 #110] Reversal of Array"
### Description

Nothing

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-26 14:01] geeythree commented on #2775
@ron352 Definitely!

[2021-09-26 14:06] Ravinayak07 commented on #844
@sifa123 i have submitted a PR. Please Kindly review it.

[2021-09-26 14:10] jyotsana279 opened #2915 "C++ Web Programming"
### Description

I would like to give a brief introduction of  C++ Web Programming through this issue by documentation.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribut

[2021-09-26 14:11] jyotsana279 commented on #2915
/assign document

[2021-09-26 14:11] palsahabmalviyan commented on #2913
/assign

[2021-09-26 14:17] #1176 closed

[2021-09-26 14:21] TishaJhabak1014 commented on #72
@paramsiddharth Sir plz close the issue, since it has already been merged, Thank you

[2021-09-26 14:21] ashish-patwal commented on #2479
@eshan1925 Thank you for your contribution . I have already given green light to your PR . It just needs a final review from the supervisor , who will then merge the branch into the respective repository folder .

[2021-09-26 14:23] NiharikaSngh commented on #2913
@palsahabmalviyan Hello, this issue was made by me jus tfor testing purpose. This is issue doesn't even have a description as you can see. I request you to un-assign this issue so that I can delete it. I am a contributor just like you!

[2021-09-26 14:39] hsteg420 opened #2919 "[Interview Preparation]: TREES"
### Description

### Description 📜
This repository will have a collection of frequently asked questions of TREES in interviews.

### Domain of Contribution 📊

- [ ] Interview Preparation

### Domain

Interview Prep

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-26 14:40] hsteg420 commented on #2919
/assign

[2021-09-26 14:42] ashish-reddy-20-08 commented on #2794
Hello sir @abhisheks008 ,
Kindly evaluate my PR.
PR LINK: https://github.com/girlscript/winter-of-contributing/pull/2920