[2021-11-25 12:05] #5228 closed

[2021-11-25 12:06] nimisha-yadav commented on #8432
Go ahead @priyanshu688

[2021-11-25 12:07] priyanshu688 opened #8433 "[DSA]: Introduction to Disjoint Set Union"
### Description

Discuss in detail about Disjoint Set Union.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-25 12:07] priyanshu688 commented on #8433
/assign

[2021-11-25 12:08] #5919 closed

[2021-11-25 12:28] #6207 closed

[2021-11-25 12:29] #3308 closed

[2021-11-25 12:29] priyanshu688 commented on #8433
@nimisha-yadav Please assign this to me

[2021-11-25 12:53] #7167 closed

[2021-11-25 12:58] #5649 closed

[2021-11-25 12:58] #6664 closed

[2021-11-25 13:08] rahulsain commented on #8410
You can work on this issue, however no need to add `Badge or sheild of Android studio and Kotlin lang etc`

[2021-11-25 13:36] Parth-001-git commented on #7361
@rahulsain, please
 unassign me

[2021-11-25 13:41] #7856 closed

[2021-11-25 13:46] rahulsain commented on #7361
You dont wanna work on this issue?

[2021-11-25 13:56] varnikarathee opened #8438 "Find_Day_of_a_given_Date"
### Description

Description
Find_Day_of_a_given_Date

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-25 13:57] varnikarathee commented on #8438
/assign

[2021-11-25 14:05] ayush-sleeping commented on #8410
Ok Rahul ,

[2021-11-25 14:07] Parth-001-git commented on #7361
@rahulsain  No, Sorry for the inconvenience.

[2021-11-25 14:08] GoutamVerma opened #8440 "Built-in Packages in java"
### Description

Description how built-in packages works in java

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-11-25 14:08] GoutamVerma commented on #8440
/assign

[2021-11-25 14:19] yellowberard commented on #8397
/assign

[2021-11-25 14:21] yellowberard commented on #8395
/assign

[2021-11-25 14:28] GoutamVerma opened #8444 "Unnamed Module"
### Description

Describe Unnamed Module in JAVA

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-25 14:28] GoutamVerma commented on #8444
/assign

[2021-11-25 14:31] #4981 closed

[2021-11-25 14:31] GoutamVerma commented on #8444
/assign

[2021-11-25 14:32] GoutamVerma commented on #8444
/assign

[2021-11-25 14:34] #8026 closed

[2021-11-25 14:34] GoutamVerma commented on #8444
/assign

[2021-11-25 14:37] Anshii12 commented on #7569
/assign

[2021-11-25 14:44] GoutamVerma commented on #4466
@VikasPandey121  please review my PR (fixes #4466)

[2021-11-25 14:45] #8255 closed

[2021-11-25 14:46] GoutamVerma commented on #8440
/assign

[2021-11-25 14:46] ganaaduvva commented on #4717
@Ash515 can you please review my PR

[2021-11-25 14:46] deepthi1107 commented on #6712
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-25 14:46] deepthi1107 commented on #6888
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-25 14:46] deepthi1107 commented on #6380
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-25 14:51] ganaaduvva commented on #3570
/assign audio

[2021-11-25 14:52] ganaaduvva commented on #3570
@garvitraj can you please assign me the issue

[2021-11-25 14:52] deepthi1107 commented on #8186
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-25 14:53] deepthi1107 commented on #8185
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-25 14:53] deepthi1107 commented on #8046
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-25 14:53] deepthi1107 commented on #8044
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-25 14:53] deepthi1107 commented on #8020
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-25 14:53] deepthi1107 commented on #7753
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-25 14:53] deepthi1107 commented on #7797
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-25 14:54] deepthi1107 commented on #7346
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-25 14:55] prathimacode-hub commented on #6380
Issue assigned to @deepthi1107 for audio contribution

[2021-11-25 14:56] prathimacode-hub commented on #6888
Issue assigned to @deepthi1107 for audio contribution

[2021-11-25 14:56] prathimacode-hub commented on #6712
Issue assigned to @deepthi1107 for video contribution

[2021-11-25 15:21] Kanishk0412 commented on #908
Please assign me this task I have almost completed this due to some medical emergency I haven't pushed the code. @LegendSumeet

[2021-11-25 15:29] ashish-reddy-20-08 commented on #432
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do audio on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-25 15:30] ashish-reddy-20-08 commented on #431
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-25 15:31] ashish-reddy-20-08 commented on #467
https://github.com/girlscript/winter-of-contributing/issues/431

[2021-11-25 15:32] ashish-reddy-20-08 commented on #469
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-25 15:33] ashish-reddy-20-08 commented on #4760
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-25 15:37] ashish-reddy-20-08 commented on #4160
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-25 15:38] ashish-reddy-20-08 commented on #1834
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-25 15:39] ashish-reddy-20-08 commented on #1519
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-25 15:41] Kanishk0412 commented on #911
Please assign me this task I have almost completed this due to some medical emergency I haven't pushed the code.
@Suvraneel

[2021-11-25 15:42] ashish-reddy-20-08 commented on #1137
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-25 15:44] ashish-reddy-20-08 commented on #745
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-25 15:54] prathimacode-hub commented on #745
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:55] prathimacode-hub commented on #1137
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:55] prathimacode-hub commented on #1519
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:55] prathimacode-hub commented on #1834
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:56] prathimacode-hub commented on #4160
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:56] prathimacode-hub commented on #4207
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:56] prathimacode-hub commented on #4760
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:57] prathimacode-hub commented on #469
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:57] prathimacode-hub commented on #467
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:57] prathimacode-hub commented on #431
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-25 15:58] prathimacode-hub commented on #432
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-25 15:59] #5769 closed

[2021-11-25 16:01] Saviour1001 commented on #2283
@Suvraneel hey I WAS WORKING ON THIS !!

[2021-11-25 16:02] prathimacode-hub commented on #7346
Issue assigned to @deepthi1107 for video contribution

[2021-11-25 16:02] prathimacode-hub commented on #7797
Issue assigned to @deepthi1107 for audio contribution

[2021-11-25 16:03] prathimacode-hub commented on #8020
Issue assigned to @deepthi1107 for audio contribution

[2021-11-25 16:03] Suvraneel commented on #2283
@Saviour1001  Lmao

[2021-11-25 16:03] prathimacode-hub commented on #8044
Issue assigned to @deepthi1107 for video contribution

[2021-11-25 16:03] prathimacode-hub commented on #8046
Issue assigned to @deepthi1107 for video contribution

[2021-11-25 16:03] prathimacode-hub commented on #8185
Issue assigned to @deepthi1107 for video contribution

[2021-11-25 16:04] prathimacode-hub commented on #8186
Issue assigned to @deepthi1107 for video contribution

[2021-11-25 16:04] Suvraneel commented on #911
@Kanishk0412  Okay, sure

[2021-11-25 16:09] Kanishk0412 commented on #911
Thanks for reopening !!

[2021-11-25 16:16] dhruti29 opened #8457 "Rename filename"
changed file name

[2021-11-25 16:19] dhruti29 commented on #8457
Description
Rename some file

Domain
DSA

Type of Contribution
Documentation

Code of Conduct
 I follow Contributing Guidelines & Code of conduct of this project.

[2021-11-25 16:19] dhruti29 commented on #8457
/assign

[2021-11-25 16:19] RicaGhosh commented on #1853
I would like to work on this issue. I would like to do an AUDIO on this.
Name - Rica Ghosh
Serial no - 229
Batch - 7
Issue no - #1853
Type - Audio
Approach - Intro to Text Analytics, Function/Process, Applications & Examples, Resources

[2021-11-25 16:23] AtharvaaPatil commented on #6411
Till Saturday? sorry I have exams going on

[2021-11-25 16:25] Kajal13081 commented on #6105
PR #8461
@VikasPandey121 , @sitamadex11 Sir please review this PR.

[2021-11-25 16:34] prathimacode-hub commented on #1853
Issue assigned to @RicaGhosh for audio contribution

[2021-11-25 16:39] #8457 closed

[2021-11-25 16:50] #7576 closed

[2021-11-25 17:01] sitamadex11 commented on #507
@rahulsain

[2021-11-25 17:02] sitamadex11 commented on #514
@rahulsain

[2021-11-25 17:03] sitamadex11 commented on #691
@rahulsain

[2021-11-25 17:03] sitamadex11 commented on #1388
@rahulsain

[2021-11-25 17:04] sitamadex11 commented on #1415
@rahulsain

[2021-11-25 17:04] sitamadex11 commented on #1444
@rahulsain

[2021-11-25 17:05] sitamadex11 commented on #1446
@rahulsain

[2021-11-25 17:06] sitamadex11 commented on #1453
@rahulsain

[2021-11-25 17:06] sitamadex11 commented on #4533
@rahulsain

[2021-11-25 17:07] sitamadex11 commented on #4571
@rahulsain

[2021-11-25 17:08] sitamadex11 commented on #5859
Any update? @sirilalithaadapa

[2021-11-25 17:09] sitamadex11 commented on #5867
@rahulsain

[2021-11-25 17:09] sitamadex11 commented on #5884
@rahulsain

[2021-11-25 17:10] sitamadex11 commented on #5888
@rahulsain

[2021-11-25 17:10] sitamadex11 commented on #5957
@rahulsain

[2021-11-25 17:11] sitamadex11 commented on #5959
@rahulsain

[2021-11-25 17:11] sitamadex11 commented on #5966
@rahulsain

[2021-11-25 17:12] sitamadex11 commented on #5967
@rahulsain

[2021-11-25 17:12] sitamadex11 commented on #7309
any update?@Umesh-01

[2021-11-25 17:13] sitamadex11 commented on #7338
Any update? @amaan118921

[2021-11-25 17:14] sitamadex11 commented on #7344
Any update? @Umesh-01

[2021-11-25 17:15] sitamadex11 commented on #7347
any update? @eshan1925

[2021-11-25 17:15] sitamadex11 commented on #7350
any update? @Tanushree-coder

[2021-11-25 17:15] dhruti29 commented on #7308
@pjdurden can I work on this issue...?
DSA-2

[2021-11-25 17:16] sitamadex11 commented on #7356
Any update? @Agamjyot08

[2021-11-25 17:16] sitamadex11 commented on #7363
any update? @Pooja-Goyal-1

[2021-11-25 17:17] sitamadex11 commented on #7367
any update? @mrkc2303

[2021-11-25 17:19] eshan1925 commented on #7347
Will do it by today @sitamadex11

[2021-11-25 17:20] pinpan123 commented on #8430
/assign video to me, please!

[2021-11-25 17:28] pinpan123 opened #8469 "Creation of Binary Tree using Linked List"
### Description

Description

### Domain

C/C++

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-25 17:28] pinpan123 commented on #8469
/assign

[2021-11-25 17:30] mrkc2303 commented on #7367
@sitamadex11 Already added the PR for the same #8454

[2021-11-25 17:30] utkarshakakade commented on #5995
/assign documentation

[2021-11-25 17:36] 0xUvaish opened #8471 "[DSA]: 7.2.5 Graph Cycle"
### Description

Explain the concept of cycles in Graphs with diagrams

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-11-25 17:37] 0xUvaish opened #8472 "[DSA]: 7.2.6 Topological Sort"
### Description

Explain Topological Sort algorithm with diagrams and codes.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-11-25 17:39] 0xUvaish opened #8473 "[DSA]: 3.2.18 Maximum Flow Problem"
### Description

Explain maximum flow algorithms with diagrams, examples and codes.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-11-25 17:55] Pranshu321 opened #8474 "C_CPP :- Matrix Chain Multiplication using DP"
### Description

I would like to work on this issue :
In this I explain how we can convert a simple recursive code to dynamic programming code with good comments and with Algorithm.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-11-25 17:56] Pranshu321 commented on #8474
/assign

[2021-11-25 18:08] amansrv opened #8476 "Call by value and call by reference in C++"
### Description

Call by value and call by reference in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-25 18:10] amansrv commented on #8476
/assign

[2021-11-25 18:36] M-dime commented on #7150
/assign

[2021-11-25 18:43] #8392 closed

[2021-11-25 18:45] 0xUvaish commented on #8471
/assign

[2021-11-25 18:46] #8430 closed

[2021-11-25 19:01] #8199 closed

[2021-11-25 19:02] #8198 closed

[2021-11-25 19:05] #7141 closed

[2021-11-25 19:06] nimisha-yadav commented on #7140
Go ahead @jaigora24

[2021-11-25 19:07] #833 closed

[2021-11-25 19:07] #1712 closed

[2021-11-25 19:07] #1784 closed

[2021-11-25 19:08] #1788 closed

[2021-11-25 19:08] #1848 closed

[2021-11-25 19:08] #2088 closed

[2021-11-25 19:09] iam-sakshi opened #8479 "Convex Hull"
### Description

Explanation of Convex Hull

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-25 19:09] #2462 closed

[2021-11-25 19:09] iam-sakshi commented on #8479
/assign

[2021-11-25 19:09] #2454 closed

[2021-11-25 19:10] #2495 closed

[2021-11-25 19:11] #2527 closed

[2021-11-25 19:11] #2835 closed

[2021-11-25 19:11] #3026 closed

[2021-11-25 19:11] #7131 closed

[2021-11-25 19:11] #3067 closed

[2021-11-25 19:12] #3133 closed

[2021-11-25 19:12] iam-sakshi commented on #8479
/assign

[2021-11-25 19:12] #3137 closed

[2021-11-25 19:12] #3193 closed

[2021-11-25 19:13] #3206 closed

[2021-11-25 19:13] #3224 closed

[2021-11-25 19:14] #3255 closed

[2021-11-25 19:14] #3257 closed

[2021-11-25 19:14] #3258 closed

[2021-11-25 19:14] #3259 closed

[2021-11-25 19:14] #3263 closed

[2021-11-25 19:15] #3373 closed

[2021-11-25 19:16] #4052 closed

[2021-11-25 19:16] #4739 closed

[2021-11-25 19:16] #4730 closed

[2021-11-25 19:17] #4537 closed

[2021-11-25 19:17] #4327 closed

[2021-11-25 19:18] #4224 closed

[2021-11-25 19:18] #4084 closed

[2021-11-25 19:18] #5160 closed

[2021-11-25 19:18] #5291 closed

[2021-11-25 19:18] Tanushree-coder commented on #7350
yes sir, I'm working on it....will make PR by today!

[2021-11-25 19:18] #5223 closed

[2021-11-25 19:19] #5293 closed

[2021-11-25 19:19] #5406 closed

[2021-11-25 19:20] #7080 closed

[2021-11-25 19:21] nimisha-yadav commented on #6569
You can work on it @prak895

[2021-11-25 19:21] #7202 closed

[2021-11-25 19:23] #7138 closed

[2021-11-25 19:45] pinpan123 opened #8483 "Nielsen's 10 Usability Heuristics"
### Description

Description

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-25 19:45] pinpan123 commented on #8483
/assign

[2021-11-25 20:37] VaibhavMalik4187 opened #8485 "[Create New Issue]: Array Implementation of Stacks"
### Description

I will be providing documentation for Array Implementation Of Stack

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-11-25 20:37] VaibhavMalik4187 commented on #8485
@nimisha-yadav Is that good to go?

[2021-11-25 20:37] VaibhavMalik4187 commented on #8485
/assign

[2021-11-25 20:40] VaibhavMalik4187 opened #8486 "[Create New Issue]: Implement stack using two queues"
### Description

I will be creating the documentation for the implementation of stacks using 2 queues

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-11-25 20:40] nimisha-yadav commented on #8485
Yes go ahead

[2021-11-25 20:40] VaibhavMalik4187 commented on #8486
/assign

[2021-11-25 20:41] #8093 closed

[2021-11-25 20:54] #1919 closed

[2021-11-25 20:55] yellowberard commented on #8397
/assign

[2021-11-25 20:59] #1916 closed

[2021-11-25 20:59] yellowberard commented on #8397
/assign

[2021-11-26 02:01] GoutamVerma opened #8489 "Arrays Compare() Method in JAVA"
### Description

Arrays Compare Method in JAVA

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-26 02:05] GoutamVerma opened #8490 "Custom Collector in JAVA"
### Description

Describe Custom Collector in JAVA

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-26 02:09] GoutamVerma commented on #8444
@Satyam175  please review my PR

[2021-11-26 03:44] GoutamVerma opened #8492 "How to implement UDP protocol in Android JAVA"
### Description

Describe how to implement udp protocol in android java

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-11-26 03:47] GoutamVerma commented on #8492
/assign

[2021-11-26 03:59] Rohit484 commented on #3868
/assign documentation

[2021-11-26 04:00] Rohit484 commented on #4817
/assign

[2021-11-26 04:03] utkarshakakade opened #8495 "[Android Dev with Java]: Fragments"
### Description

What is Fragments?
Use of Fragment in Android
Lifecycle of fragment and it's example.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/

[2021-11-26 04:03] utkarshakakade commented on #8495
\assign documentation

[2021-11-26 04:04] utkarshakakade commented on #8495
/assign documentation

[2021-11-26 04:04] Rohit484 commented on #8495
\assign documentation

[2021-11-26 04:08] GoutamVerma opened #8496 "Shortcut keys in Android Studio"
### Description

Shortcut keys in android studio

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-26 04:08] GoutamVerma commented on #8496
/assign

[2021-11-26 04:39] AshutoshDash1999 opened #8497 "Adding Hyperlinks in Roadmap Topic"
### Description

I want to add hyperlinks to the roadmap topic with the doc already written.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob

[2021-11-26 04:39] AshutoshDash1999 commented on #8497
/assign

[2021-11-26 04:47] Kanishk0412 commented on #2668
Please assign this issue to me @syedareehaquasar.

[2021-11-26 04:49] Kanishk0412 commented on #8082
Can I work on this issue @Suvraneel?

[2021-11-26 05:12] mridu-pant commented on #573
I would like to contribute via Audio
-Mridu Pant
Batch 3

[2021-11-26 05:20] amaan118921 commented on #7338
yes, making pr today, for all of my pending issues..

[2021-11-26 05:22] #8105 closed

[2021-11-26 05:24] rajmadhu0406 commented on #8444
/assign

[2021-11-26 05:24] rajmadhu0406 commented on #8490
/assign

[2021-11-26 05:25] rajmadhu0406 commented on #8440
/assign

[2021-11-26 05:47] palak1101 opened #8502 "Array Methods in JavaScript"
### Description

Documentation on array methods in JS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of t

[2021-11-26 05:47] palak1101 commented on #8502
/assign

[2021-11-26 05:54] anisha-01-phoenix opened #8504 "DataBinding in Android"
### Description

Documentation on DataBinding in Android.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-11-26 05:54] anisha-01-phoenix commented on #8504
/assign

[2021-11-26 05:55] varnikarathee opened #8505 "Transparent_Form_using_CSS"
### Description

[Frontend]: Transparent_Form_using_CSS

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-11-26 05:55] 0xUvaish opened #8506 "[DSA]: 7.2.8 Prim's Algorithm"
### Description

Explain Prim's algorithm with diagrams and codes

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-11-26 05:56] 0xUvaish opened #8508 "[DSA]: 7.2.9 Kruskal's Algorithm"
### Description

Explain Kruskal's algorithm with diagrams and codes.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-11-26 05:58] Suvraneel commented on #8082
@Kanishk0412  Its already been taken Kanishk..

[2021-11-26 05:59] #8397 closed

[2021-11-26 06:00] varnikarathee commented on #8505
/assign

[2021-11-26 06:00] Kanishk0412 commented on #8082
I'm only Kanishk.

[2021-11-26 06:00] #8479 closed

[2021-11-26 06:09] #6941 closed

[2021-11-26 06:09] varnikarathee commented on #8505
/assign

[2021-11-26 06:14] iam-sakshi opened #8512 "Reverse Word in string"
### Description

Different approaches to reverse a string

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-11-26 06:16] iam-sakshi commented on #8512
/assign

[2021-11-26 06:18] rajmadhu0406 commented on #8508
/assign documentation

[2021-11-26 06:21] rajmadhu0406 commented on #8508
All my open issues are merged, I request supervisor/mentors to recheck.

[2021-11-26 06:21] 0xUvaish commented on #8508
Hey @rajmadhu0406, I've opened this issue for myself. Better create a new one and assign yourself.

[2021-11-26 06:25] rajmadhu0406 commented on #8506
/assign documentation

[2021-11-26 06:26] rajmadhu0406 commented on #8508
Okay 👍🏻

[2021-11-26 06:33] utkarshakakade opened #8514 "[JS]:Arrays"
### Description

Arrays.
Use and Syntax of Array in JavaScript
Initializing and Declaring of Array.
Various operations on array.

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscrip

[2021-11-26 06:34] utkarshakakade commented on #8514
/assign documentation

[2021-11-26 06:44] Aishwarya713 commented on #69
Hi, Since this issue is open, are there any tasks that are yet to be done on this issue #69 @paramsiddharth ? If there is any , Please assign the same to me !

[2021-11-26 06:59] Aishwarya713 commented on #8472
Please assign this issue to me @0xUvaish
/assign

[2021-11-26 07:01] Aishwarya713 commented on #8472
/assign

[2021-11-26 07:08] 0xUvaish commented on #8472
Hi @Aishwarya713 I have created this issue for myself. Pls create an issue on your own and assign yourself.

You can unassign it by /unassign command.

[2021-11-26 07:13] singhnikhiljsr commented on #7763
/assign

[2021-11-26 07:16] #4042 closed

[2021-11-26 07:40] muskan612 opened #8517 "Blurry Loading Page"
### Description

To create a blurry loading page using only HTML, CSS and JavaScript.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-11-26 07:40] muskan612 commented on #8517
/assign

[2021-11-26 07:45] nimisha-yadav commented on #8506
Repetitive issue so closing it. @0xUvaish try working on backtracking problems, hastables, bit manipulation. These folders are empty.

[2021-11-26 07:45] #8506 closed

[2021-11-26 07:47] nimisha-yadav commented on #8508
Repetitive issue so closing it.  It's better if you could get your issue reviewed once before starting working on it.

[2021-11-26 07:47] #8508 closed

[2021-11-26 07:50] yellowberard commented on #8133
/assign

[2021-11-26 07:52] nimisha-yadav commented on #8506
Apart from these topics, check out these folders. You may work on them as well.
1. https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/3.2%20Greedy%20Algorithms/02.%20Activity%20Selection%20Problem
2. https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/3.2%20Greedy%20Algorithms/03.%20Job%20Sequencing%20Problem
3. https://github.com/girlscript/winter-of-contributing/tree

[2021-11-26 07:59] #8410 closed

[2021-11-26 08:00] rahulsain commented on #7338
Ok just make PR for each issue and mentioned that issue, no need to ask me for reaasign for those issues. I will simply check your PR

[2021-11-26 08:10] nimisha-yadav commented on #8508
@rajmadhu0406 If you want to contribute, try creating issues on these topics:
1. https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/3.1%20Linked%20List/07.%20Floyd%20Cycle%20Detection
2. https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/3.1%20Linked%20List/08.%20Josepheus%20Circle
3. https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/3.1%20Linked%20Lis

[2021-11-26 08:13] #8393 closed

[2021-11-26 08:14] deepeshaburse commented on #6965
@Muskan-creator can I work on this?

[2021-11-26 08:16] deepeshaburse commented on #5877
@sitamadex11 Can I work on this?

[2021-11-26 08:33] Mahi1901 opened #8520 "Circular Linked List in C/CPP"
### Description

I'll provide documentation on circular linked list.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-11-26 08:34] Mahi1901 commented on #8520
/assign

[2021-11-26 08:38] 0xUvaish commented on #8473
/assign

[2021-11-26 08:51] #8201 closed

[2021-11-26 09:17] amaan118921 commented on #7340
/assign

[2021-11-26 09:49] 0xUvaish commented on #7306
/unassign

[2021-11-26 09:56] 0xUvaish opened #8529 "[DSA]: 3.2.3 Job Sequencing Problem"
### Description

Explain Job Sequencing in Greedy Problems with diagrams, approach and example

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-11-26 09:56] 0xUvaish commented on #8529
/assign

[2021-11-26 10:01] #7538 closed

[2021-11-26 10:04] #8471 closed

[2021-11-26 10:06] priyanshu688 commented on #8432
@nimisha-yadav Kindly review and merge this PR - https://github.com/priyanshu688/winter-of-contributing/pull/33

[2021-11-26 10:13] 0xUvaish opened #8530 "[DSA]: 5.2.1 Introduction to Backtracking"
### Description

Explain Backtracking with diagrams, algorithms and examples.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-11-26 10:13] 0xUvaish commented on #8530
/assign

[2021-11-26 10:21] amansrv opened #8531 "MongoDB Cheat Sheet"
### Description

What is MongoDb
Why MongoDb
Advantages of MongoDb
Disadvantages of MongoDb
MongoDB Cheat Sheet

### Domain

Database

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-11-26 10:22] amansrv commented on #8531
/assign

[2021-11-26 10:40] #8520 closed

[2021-11-26 11:18] Mortal303 commented on #8176
Hello @Ayan-thecodeking
Please review my PR #8231 and please merge it.
Thank You!!

[2021-11-26 11:27] keshav12122000 opened #8536 "Random_Pass_Generator"
### Description

this is a documentation representing the random password generator in c++

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-11-26 11:27] keshav12122000 commented on #8536
/assign

[2021-11-26 11:28] keshav12122000 commented on #8536
/assign

[2021-11-26 11:41] #8530 closed

[2021-11-26 11:52] #8012 closed

[2021-11-26 12:00] #7909 closed

[2021-11-26 12:18] amansrv opened #8541 "what are Constants and literals in C++"
### Description

what are Constants and literals in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-26 12:27] amansrv commented on #8541
/assign

[2021-11-26 13:18] ayush-sleeping commented on #5965
Hey @rahulsain , `  "  Assign  "  ` me this issue for Audio section.

[2021-11-26 13:27] vishnupriya129 commented on #7667
@prathimacode-hub  Mam please assign this issue to me I have 4 merged PR's. I want to work on one more PR.
serial number : 295
approach : Implementing automatic essay grading system using machine learning
Choice : documentation

[2021-11-26 13:27] rajmadhu0406 opened #8545 "[DSA]: 3.1.13 Length of Doubly Linked List"
### Description

Find the length of a given Doubly Linked List.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-26 13:28] deepthi1107 commented on #414
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-26 13:28] rajmadhu0406 commented on #8545
/assign

[2021-11-26 13:29] deepthi1107 commented on #407
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-26 13:29] deepthi1107 commented on #374
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-26 13:30] deepthi1107 commented on #735
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-26 13:30] rajmadhu0406 opened #8546 "[DSA]: 3.1.14 Reverse Doubly Linked List"
### Description

Reverse a given Doubly Linked List.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-26 13:31] priyanshu688 commented on #8433
@nimisha-yadav Please review this PR - https://github.com/priyanshu688/winter-of-contributing/pull/34

[2021-11-26 13:33] prathimacode-hub commented on #7667
Issue assigned to @vishnupriya129 for documentation

[2021-11-26 13:37] prathimacode-hub commented on #414
Issue assigned to @deepthi1107 for audio contribution

[2021-11-26 13:37] prathimacode-hub commented on #407
Issue assigned to @deepthi1107 for audio contribution

[2021-11-26 13:38] prathimacode-hub commented on #374
Issue assigned to @deepthi1107 for audio contribution

[2021-11-26 13:38] prathimacode-hub commented on #735
Issue assigned to @deepthi1107 for audio contribution

[2021-11-26 14:02] Srijan221 commented on #6072
Please assign this issue to me if its not closed?

[2021-11-26 14:11] Srijan221 commented on #7399
I would like to contribute on this issue.
Name - Srijan
Batch - 2
Contribution Type - Documentation

[2021-11-26 14:12] Kanishk0412 commented on #2667
@syedareehaquasar Can I take this issue?

[2021-11-26 14:13] Kanishk0412 commented on #2855
@syedareehaquasar Can I take this issue?

[2021-11-26 14:23] rajmadhu0406 commented on #8546
/assign

[2021-11-26 14:28] Srijan221 opened #8551 "[Android Java]: Simple Compass App project using onboard Android sensors"
### Description

Complete tutorial will be provided to make a Compass app using Magnetometer and Accelerometer of any smartphone.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscr

[2021-11-26 14:28] Srijan221 commented on #8551
/assign

[2021-11-26 14:34] Srijan221 commented on #8496
/assign

[2021-11-26 14:36] GoutamVerma commented on #8496
Hello @Srijan221 I already made a PR against this issue!

[2021-11-26 14:38] Srijan221 commented on #6101
\assign for Documentation

[2021-11-26 14:41] Srijan221 commented on #6101
/assign

[2021-11-26 15:05] #8341 closed

[2021-11-26 15:05] syedareehaquasar commented on #2668
Please go ahead Kanishk!

[2021-11-26 15:05] #911 closed

[2021-11-26 15:12] Kanishk0412 commented on #8082
Okay no problem

[2021-11-26 15:12] Kanishk0412 commented on #2668
Okay thanks

[2021-11-26 15:12] utkarshakakade opened #8555 "[Java]: Database connectivity Client/Server"
### Description

Brief discussion about the Java as a Database front end.
The JDBC API

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-11-26 15:13] #8082 closed

[2021-11-26 15:13] utkarshakakade commented on #8555
/assign documentation

[2021-11-26 15:30] Kajal13081 commented on #6103
PR #8557
@VikasPandey121 , @sitamadex11 sir please review this PR.

[2021-11-26 15:46] #8077 closed

[2021-11-26 15:47] nimisha-yadav commented on #8433
@priyanshu688 your method of creating PR is incorrect. Create PR towards GWOC repo

[2021-11-26 15:50] anandhu720 commented on #8144
@its-me-Harsh-Anand Please create pr by 2 day.Only 4 days remaining

[2021-11-26 15:51] #2063 closed

[2021-11-26 15:52] #6324 closed

[2021-11-26 15:58] its-me-Harsh-Anand commented on #8144
Okay sir, I'll do

[2021-11-26 16:07] #1882 closed

[2021-11-26 16:10] prathimacode-hub commented on #7399
Issue assigned to @Srijan221 for documentation

[2021-11-26 16:13] yellowberard commented on #5180
/assign

[2021-11-26 16:18] prathimacode-hub opened #8562 "Data Science with Python : Data Visualizations using Plotly"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work on Data Visualizations using plotly and how it's implemented.

This issue is created on contributors request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you pre

[2021-11-26 16:22] preestine commented on #8562
Hello! @prathimacode-hub
I would like to work on this issue.
Title: Data Visualization using Plotly
Name: Preeti Chaudhari
Serial No.: 268
Batch No.: 8
Domain: Data Analysis and Visualization
Type: Documentation
Approach: Introduction to Plotly, Features of Plotly, Installation and Configuration, Demonstration of Plotly with a dataset from Kaggle, a walkthrough will be given as well.

[2021-11-26 16:27] singhmansi25 commented on #7306
/assign

[2021-11-26 16:30] prathimacode-hub commented on #8562
Issue assigned to @preestine for documentation

[2021-11-26 16:36] Elisha-s commented on #7161
Please assign the audio part of this issue to me
Elisha Singh
DSA- Batch 9

[2021-11-26 16:47] amansrv opened #8566 "Hooks in React.js"
### Description

what is hooks
How to Import Hooks in React.js
Rules of Hooks
Example

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/

[2021-11-26 16:48] amansrv commented on #8566
/assign

[2021-11-26 16:48] nimisha-yadav commented on #7161
@Elisha-s you may try for some of these documentation topics as well by creating issue on your own.
1. https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/3.2%20Greedy%20Algorithms/08.%20Fitting%20Shelves%20Problem
2. https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/3.2%20Greedy%20Algorithms/07.%20Minimum%20Swaps%20for%20Bracket%20Balancing
3. https://github.com/girl

[2021-11-26 16:59] heet-kumar commented on #7622
@Anshii12 try to create PR in Frontend_Web_Development_React_Angular_Vue branch

[2021-11-26 17:22] ayush-sleeping commented on #691
Hey @rahulsain , Assign me this issue for  ` "  Audio  " ` section . <br>
Thanks

[2021-11-26 17:44] #8159 closed

[2021-11-26 18:17] Aryamanz29 commented on #401
Closing this issue now, Thanks everyone for contributing  🎉🎉

[2021-11-26 18:17] #401 closed

[2021-11-26 18:17] Aryamanz29 commented on #31
Closing this issue now, Thanks everyone for contributing  🎉🎉

[2021-11-26 18:17] #31 closed

[2021-11-26 18:20] #8195 closed

[2021-11-26 18:55] Kajal13081 commented on #6096
/assign

[2021-11-26 19:04] Kajal13081 commented on #6008
/assign

[2021-11-26 19:46] #8326 closed

[2021-11-26 19:46] #8362 closed

[2021-11-26 19:47] #8395 closed

[2021-11-26 19:49] syedareehaquasar commented on #2667
Go ahead @Kanishk0412

[2021-11-26 19:55] #8367 closed

[2021-11-26 20:04] amanraj-iit opened #8579 "Line Splicing in C & C++"
### Description

C/CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-26 20:05] amanraj-iit commented on #8579
/assign

[2021-11-26 20:15] palsahabmalviyan opened #8580 "Special Product Array"
### Description

DescriptionGiven a array of integers , return a new array such that each element at index i of the new array is the product of all the numbers in the original array except the one at i. Do this without using division.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girls

[2021-11-26 20:16] palsahabmalviyan commented on #8580
/assign

[2021-11-26 20:17] palsahabmalviyan commented on #4877
please review my pr

[2021-11-27 04:00] ashish-reddy-20-08 commented on #7355
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 04:02] ashish-reddy-20-08 commented on #6359
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 04:03] ashish-reddy-20-08 commented on #6349
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 04:04] ashish-reddy-20-08 commented on #5660
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 04:05] ashish-reddy-20-08 commented on #426
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 04:07] ashish-reddy-20-08 commented on #1530
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 04:08] ashish-reddy-20-08 commented on #1827
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 04:08] ashish-reddy-20-08 commented on #1853
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 04:10] ashish-reddy-20-08 commented on #2823
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 04:13] prathimacode-hub commented on #2823
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 04:13] prathimacode-hub commented on #1853
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 04:14] prathimacode-hub commented on #1827
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 04:14] prathimacode-hub commented on #1530
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 04:14] prathimacode-hub commented on #426
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 04:15] prathimacode-hub commented on #5660
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 04:15] prathimacode-hub commented on #6349
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 04:15] prathimacode-hub commented on #6359
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 04:16] prathimacode-hub commented on #7355
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 04:21] #8310 closed

[2021-11-27 04:38] Jinal4502 opened #8589 "Competitive Programming: Coordinate Compression Using Hashing"
### Description

In this documentation, I will explain what is coordinate compression and how can it be performed using hashing.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-11-27 04:39] Jinal4502 commented on #8589
/assign

[2021-11-27 04:55] amansrv opened #8592 "React Testing With Testing Library"
### Description

React Testing With Testing Library

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) o

[2021-11-27 04:56] amansrv commented on #8592
/assign

[2021-11-27 05:05] Ajinkyap331 commented on #8077
@anandhu720 @heet-kumar Thank you very much

[2021-11-27 05:27] nimisha-yadav commented on #8485
@VaibhavMalik4187 Please try to submit the PR by today or tomorrow maximum since we're starting to close the issues now.

It would be great if you could cover up [this topic](https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/3.2%20Greedy%20Algorithms/11.%20Boruvka's%20Minimum%20Spanning%20Tree) as well, this folder is empty.

[2021-11-27 05:28] #8492 closed

[2021-11-27 05:28] #8496 closed

[2021-11-27 05:29] #4466 closed

[2021-11-27 05:44] deepthi1107 commented on #372
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 05:44] deepthi1107 commented on #389
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 05:45] deepthi1107 commented on #431
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 05:45] deepthi1107 commented on #1027
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 05:45] deepthi1107 commented on #4168
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-27 05:45] deepthi1107 commented on #4376
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 05:45] deepthi1107 commented on #4383
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 05:45] deepthi1107 commented on #4754
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 05:46] deepthi1107 commented on #5587
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 05:46] deepthi1107 commented on #5660
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 05:58] jigar-sable opened #8600 "PHP Password Hashing"
### Description

Documentation on PHP Password Hashing

### Domain

Backend Dev (PHP)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pro

[2021-11-27 05:58] jigar-sable commented on #8600
/assign

[2021-11-27 06:23] VaibhavMalik4187 commented on #8485
Don't worry about these stack issues, I'll make a PR today itself, but I am really sorry, I won't he able to cover the minimum spanning tree topic, I have never studied that algorithm

[2021-11-27 06:51] Tanushree-coder commented on #1388
/assign

[2021-11-27 06:51] Tanushree-coder commented on #1388
I would like to work on documentation part

[2021-11-27 06:59] ayush-sleeping commented on #528
Assign me this issue for  `  "  Audio section  "  `  . @rahulsain .
Thanks

[2021-11-27 07:05] prathimacode-hub commented on #372
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 07:05] prathimacode-hub commented on #389
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 07:06] prathimacode-hub commented on #431
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 07:06] prathimacode-hub commented on #1027
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 07:06] freq31 opened #8602 "[Create New Issue]:"
### Description

Description:Euclid algorithm and extended Euclid algorithm

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-11-27 07:06] prathimacode-hub commented on #4168
Issue assigned to @deepthi1107 for video contribution

[2021-11-27 07:07] prathimacode-hub commented on #4376
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 07:07] freq31 commented on #8602
/assign

[2021-11-27 07:08] prathimacode-hub commented on #4383
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 07:09] prathimacode-hub commented on #4383
Just checked your message. You could have reached out to me via discord. This you are seeing in main. Go to branch. You will find an option to choose your branch at left end. That will get you to the domain. If any query, ask in discord. @ayush572

[2021-11-27 07:10] prathimacode-hub commented on #4754
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 07:10] prathimacode-hub commented on #5587
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 07:10] prathimacode-hub commented on #5660
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 07:13] #8444 closed

[2021-11-27 07:27] GoutamVerma opened #8607 "Publish an android application"
### Description

Describe how to publish an android application for the user.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-11-27 07:27] GoutamVerma commented on #8607
/assign

[2021-11-27 07:30] #8545 closed

[2021-11-27 07:42] GoutamVerma opened #8609 "Describe types of permissions in android studio"
### Description

Complete describe types of permissions in android studio.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CO

[2021-11-27 07:42] GoutamVerma commented on #8609
/assign

[2021-11-27 07:54] #8607 closed

[2021-11-27 07:54] #8609 closed

[2021-11-27 08:28] kumarankm commented on #6227
@adityabisoi Assign this issue to @Kanishk0412

[2021-11-27 08:36] GoutamVerma opened #8613 "Project Structure and Basics of User Interface"
### Description

Describe the project structure and basics of user interface in an android studio

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/

[2021-11-27 08:37] GoutamVerma commented on #8613
/assign

[2021-11-27 08:44] GoutamVerma opened #8615 "How to check profile of application in android studio"
### Description

Describe how to check profile of application in an android studio

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-11-27 08:45] GoutamVerma commented on #8615
/assign

[2021-11-27 08:53] #8490 closed

[2021-11-27 08:53] #8440 closed

[2021-11-27 08:54] GoutamVerma commented on #8615
/assign

[2021-11-27 09:48] Kanishk0412 commented on #6227
@adityabisoi Please assign this issue !!

[2021-11-27 10:05] #8602 closed

[2021-11-27 10:06] freq31 opened #8618 "[Create New Issue]:"
### Description

Description:
EULER TOITENT FUNCTION

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-11-27 10:06] freq31 commented on #8618
/assign

[2021-11-27 10:07] freq31 commented on #8618
/assign

[2021-11-27 10:15] RK1905101 commented on #5310
can i take up this issue, if he's not working on it!?
@Anant1711

[2021-11-27 10:18] iam-sakshi opened #8620 "JavaScript Hoisting Concept"
### Description

Explanation on Hoisting concept

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-11-27 10:48] Anant1711 commented on #5310
yes,  please!

[2021-11-27 10:53] Anant1711 commented on #6411
ok

[2021-11-27 11:04] Isha307 commented on #8374
@deepthi1107 Progress?

[2021-11-27 11:05] RK1905101 commented on #5310
@Anant1711 , i guess this issue has been completed, as the documentation part is been shown in the week 6 folder.

![image](https://user-images.githubusercontent.com/64470404/143678638-c321daeb-16a6-455d-9d55-aa815fa95740.png)

[2021-11-27 11:05] Anant1711 commented on #5308
@IshikaMeghaSaha are you working on it or not?

[2021-11-27 11:07] pinpan123 opened #8622 "Frameworks in UX Design"
### Description

Description

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-27 11:08] pinpan123 commented on #8622
/assign

[2021-11-27 12:24] Kanishk0412 commented on #2667
I have opened a PR as well Please look into it https://github.com/girlscript/winter-of-contributing/pull/8556

[2021-11-27 12:37] GoutamVerma opened #8629 "Types of Animations in android studio"
### Description

Describe types of Animations in android studio

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) o

[2021-11-27 12:37] GoutamVerma commented on #8629
/assign

[2021-11-27 12:47] nimisha-yadav commented on #8485
Alright, no worries @VaibhavMalik4187. Your contributions has been nice, I'd encourage you to contribute to [1-2 more issues](https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/2.1%20Strings/4.%20Arithmetic%20Operations%20Using%20Numbers%20as%20Strings) :D

[2021-11-27 12:57] #3270 closed

[2021-11-27 13:55] IshikaMeghaSaha commented on #5308
yes

[2021-11-27 14:24] VaibhavMalik4187 commented on #8485
@nimisha-yadav Thanks a lot, I'm really lucky to have awesome mentors like you, I am going to make the PR, if you're on, then let me know if changes are required

[2021-11-27 14:31] paramsiddharth commented on #69
@Aishwarya713 Hey Aishwarya! Only audio and video contributions are left for this issue. If you can, please go ahead with them.

[2021-11-27 14:37] VaibhavMalik4187 opened #8640 "[Create New Issue]: Arithmetic Operations Using Numbers as Strings"
### Description

I will be creating documentation and code for Arithmetic Operations Using Numbers as Strings

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-11-27 14:37] VaibhavMalik4187 commented on #8640
/assign

[2021-11-27 14:57] arjyo851 opened #8641 "Tower of hanoi game in C"
### Description

This is a advanced program in C using graphics. Here the user will input the number of towers in the game and the program will solve the procedure in which the tower will stack in the third rod.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-11-27 14:57] arjyo851 commented on #8641
/assign

[2021-11-27 15:03] VaibhavMalik4187 commented on #8640
@nimisha-yadav Please don't close this issue, I am working on it, will send the PR by tomorrow

[2021-11-27 16:04] #8469 closed

[2021-11-27 16:06] Suvraneel commented on #8469
@pinpan123  Also, where is the description for the issue ?
From next time decide what issue youre going to fix, create it & then make a PR regarding it

[2021-11-27 16:07] deepthi1107 commented on #8374
By tomorrow I will merge it mam, its in the final process mam.

[2021-11-27 16:21] mrkc2303 commented on #5860
Can i work on this issue for documentation?

[2021-11-27 16:23] mrkc2303 commented on #7356
Can i work on this for documentation @rahulsain @sitamadex11 ?

[2021-11-27 16:31] #8046 closed

[2021-11-27 16:38] deepthi1107 commented on #7337
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:39] deepthi1107 commented on #7348
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:39] deepthi1107 commented on #7433
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:39] deepthi1107 commented on #5795
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:39] deepthi1107 commented on #4918
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:39] deepthi1107 commented on #1836
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:39] deepthi1107 commented on #1825
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:39] deepthi1107 commented on #470
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:39] deepthi1107 commented on #433
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:40] deepthi1107 commented on #353
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-27 16:44] ashish-reddy-20-08 commented on #370
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 16:45] #8485 closed

[2021-11-27 16:47] ashish-reddy-20-08 commented on #374
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do Video  on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 16:47] ashish-reddy-20-08 commented on #386
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 16:48] ashish-reddy-20-08 commented on #389
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 16:49] ashish-reddy-20-08 commented on #407
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do Video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 16:50] ashish-reddy-20-08 commented on #420
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do AUDIO on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 16:52] #6103 closed

[2021-11-27 16:52] ashish-reddy-20-08 commented on #1031
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do AUDIO on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 16:53] ashish-reddy-20-08 commented on #1524
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do AUDIO on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 16:53] ashish-reddy-20-08 commented on #1819
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do Video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 16:54] ashish-reddy-20-08 commented on #1822
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do Video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-27 17:09] #7763 closed

[2021-11-27 17:18] #8505 closed

[2021-11-27 17:37] prathimacode-hub commented on #370
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 17:38] prathimacode-hub commented on #374
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 17:39] prathimacode-hub commented on #386
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 17:40] prathimacode-hub commented on #389
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 17:40] prathimacode-hub commented on #407
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 17:41] prathimacode-hub commented on #420
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-27 17:43] prathimacode-hub commented on #1031
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-27 17:46] prathimacode-hub commented on #1819
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 17:46] prathimacode-hub commented on #1822
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-27 17:46] prathimacode-hub commented on #1524
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-27 17:49] prathimacode-hub commented on #353
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 17:53] syedareehaquasar commented on #2855
Go ahead!

[2021-11-27 17:54] prathimacode-hub commented on #433
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 17:54] prathimacode-hub commented on #470
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 17:54] prathimacode-hub commented on #1825
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 17:54] prathimacode-hub commented on #1836
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 17:54] prathimacode-hub commented on #4918
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 17:55] prathimacode-hub commented on #7337
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 17:55] prathimacode-hub commented on #7348
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 17:58] prathimacode-hub commented on #7433
Once check if this issue is done for audio or not. As it's assigned to Aaksha for it. Just for confirmation so that I could assign it to you. @deepthi1107

[2021-11-27 17:59] prathimacode-hub commented on #5795
Issue assigned to @deepthi1107 for audio contribution

[2021-11-27 18:00] pinpan123 commented on #8469
Okay. I will keep this in mind.

[2021-11-27 18:07] #3247 closed

[2021-11-27 18:43] #8474 closed

[2021-11-27 19:15] iam-sakshi opened #8663 "TLE in C++"
### Description

few ways to escape TLE in CP with C++

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-11-27 19:15] iam-sakshi commented on #8663
/assign

[2021-11-27 19:21] #3271 closed

[2021-11-27 19:22] #7158 closed

[2021-11-27 19:23] #7151 closed

[2021-11-27 19:23] #5928 closed

[2021-11-27 19:23] #5922 closed

[2021-11-27 19:23] #5918 closed

[2021-11-27 19:23] #5911 closed

[2021-11-27 19:24] #5896 closed

[2021-11-27 19:24] #5892 closed

[2021-11-27 19:24] #4786 closed

[2021-11-27 19:24] #4783 closed

[2021-11-27 19:24] #4780 closed

[2021-11-27 19:28] juhik24 opened #8665 "Height of a Binary Tree"
### Description

Discuss the implementation to find height of a Binary Tree.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-11-27 19:29] juhik24 commented on #8665
/assign

[2021-11-27 19:31] #8486 closed

[2021-11-27 20:15] Kajal13081 commented on #6008
PR #8666
@VikasPandey121, @sitamadex11 Please review this PR.

[2021-11-27 20:28] Srijan221 commented on #8551
I have successfully created pull request #8668, Please check it and merge it.

Do suggest to me any changes required, and if everything looks good, please close this issue.

[2021-11-28 02:35] #8033 closed

[2021-11-28 05:08] ayush-sleeping commented on #4059
Hey @rahulsain , Assign me this issue for "  Audio  "  section .

[2021-11-28 05:55] GoutamVerma opened #8674 "Profile application performance in android"
### Description

Describe profile application performance in android

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-11-28 05:55] GoutamVerma commented on #8674
/assign

[2021-11-28 06:54] yellowberard commented on #1283
/assign

[2021-11-28 07:35] #7797 closed

[2021-11-28 07:36] #5660 closed

[2021-11-28 07:37] #4754 closed

[2021-11-28 07:37] #4749 closed

[2021-11-28 07:38] #4160 closed

[2021-11-28 07:39] #3176 closed

[2021-11-28 07:42] #431 closed

[2021-11-28 07:49] s4marth opened #8683 "Opensource: 6.103 Explain everything related to CakePHP framework."
### Description

Explain everything related to CakePHP framework.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-11-28 07:49] s4marth commented on #8683
/assign

[2021-11-28 08:01] monalsingh10 opened #8687 "[Create New Issue]: Cyclically rotate an array in C++"
### Description

Description C/CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 08:02] monalsingh10 commented on #8687
/assign

[2021-11-28 08:07] Kanishk0412 commented on #2668
Close this issue now !!

[2021-11-28 08:07] Kanishk0412 commented on #2667
Close this issue now !!

[2021-11-28 08:51] shreya-gb commented on #2142
@subhendudash02 I'll work on this, please?

[2021-11-28 08:58] deepthi1107 commented on #5795
Sure mam I will contribute for video

[2021-11-28 09:00] rits8027 commented on #2142
Ok

On Sun, Nov 28, 2021, 2:21 PM shreya-gb ***@***.***> wrote:

[2021-11-28 09:06] prathimacode-hub commented on #5795
Issue assigned to @deepthi1107 for video contribution

[2021-11-28 09:39] mahikkaaa opened #8692 "MATRIX"
### Description

This repository will have EVERYTHING about MATRIX.
one-stop repository for everything you need.

Contents:

- what is Matrix
- Uses of Matrix
-

### Domain

Interview Prep

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Co

[2021-11-28 09:40] mahikkaaa commented on #8692
/assign

[2021-11-28 09:40] mahikkaaa commented on #8692
/assign

[2021-11-28 09:46] pkaushal-bharat commented on #8620
/assign

[2021-11-28 10:25] #8265 closed

[2021-11-28 10:25] #8589 closed

[2021-11-28 10:50] #5180 closed

[2021-11-28 11:03] ayush-sleeping commented on #5953
Hey @rahulsain , Assign me this Issue ..............
 I am going to fix the Audio part of this issue .

[2021-11-28 11:55] singhmansi25 commented on #7306
/unassign

[2021-11-28 12:04] #8640 closed

[2021-11-28 12:05] #7142 closed

[2021-11-28 12:16] saloni33 opened #8705 "Binary Tree : Sum of nodes at kth level"
### Description

Documentation on how to find the sum of nodes at kth level in a binary tree

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-11-28 12:17] saloni33 commented on #8705
/assign

[2021-11-28 12:23] #8417 closed

[2021-11-28 12:37] subhendudash02 commented on #2142
Ask @paramsiddharth

[2021-11-28 12:46] TechnoPhasePRO opened #8707 "Cocktail Sort"
### Description

Documentation on Cocktail Sort

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 12:46] TechnoPhasePRO commented on #8707
/assign

[2021-11-28 12:49] TechnoPhasePRO opened #8708 "Cocktail Sort In C/C++"
### Description

Cocktail Sort in c.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 12:50] TechnoPhasePRO commented on #8708
/assign

[2021-11-28 12:55] TechnoPhasePRO opened #8709 "Stooge Sort"
### Description

Documentation on Stooge Sort

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 12:55] TechnoPhasePRO commented on #8709
/assign

[2021-11-28 12:57] TechnoPhasePRO opened #8710 "Stooge Sort In C/C++"
### Description

Documentation on Stooge Sort In C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 12:57] TechnoPhasePRO commented on #8710
/assign

[2021-11-28 12:58] #8710 closed

[2021-11-28 12:58] #8709 closed

[2021-11-28 13:29] monalsingh10 opened #8714 "[Create New Issue]: C_PP:Max sum_path_in_arrays"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 13:31] monalsingh10 commented on #8714
/assign

[2021-11-28 13:53] RIYANSHGARG commented on #6325
/assign

[2021-11-28 14:23] pankaj-sawnani commented on #7337
Hello, @prathimacode-hub Kindly review my pr.

[2021-11-28 14:45] #7882 closed

[2021-11-28 14:59] monalsingh10 opened #8719 "[Create New Issue]:C_PP: Double_Ended_Queue"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 15:01] RicaGhosh commented on #373
I would like to work on this issue. I would like to do an AUDIO on this.
Name - Rica Ghosh
Serial no - 229
Batch - 7
Issue no - #373
Type - AUDIO
Approach - Clustering Intro, Types, Algorithms & Applications

[2021-11-28 15:09] prathimacode-hub commented on #373
Issue assigned to @RicaGhosh for audio contribution

[2021-11-28 15:11] monalsingh10 commented on #8719
/assign

[2021-11-28 15:24] #8374 closed

[2021-11-28 15:29] ayush-sleeping commented on #5956
Hey @rahulsain , Assign me this Issue, I want to fix the Audio part of this ISSUE .

[2021-11-28 15:36] RicaGhosh commented on #2406
I would like to contribute a Documentation on this issue.
Name - Rica Ghosh
Serial no - 229
Batch - 7
Issue no - #2406
Type - Documentation
Approach - OpenCV Intro, Applications & Common Modules used

[2021-11-28 15:43] prathimacode-hub commented on #2406
Issue assigned to @RicaGhosh for documentation

[2021-11-28 15:45] RicaGhosh commented on #5657
I would like to contribute an AUDIO on this issue. Please assign it to me.
Name - Rica Ghosh
Serial no - 229
Batch - 7
Issue no - #5657
Type - AUDIO
Approach - Chatbots Intro, Types & Applications

[2021-11-28 15:48] prathimacode-hub commented on #5657
Issue assigned to @RicaGhosh for audio contribution

[2021-11-28 15:49] monalsingh10 opened #8724 "[Create New Issue]: C_PP: Stack_Operation"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 15:59] monalsingh10 commented on #8724
/assign

[2021-11-28 16:04] ayush-sleeping opened #8730 "Android Kotlin: 07.1 LinearLayout in Android-Kotlin"
## Description 📜

*  Give a step-by-step tutorial in Kotlin along with a brief and clear explanation.
*  Required Video or Audio.

## Domain of Contribution 📊

- [x] Android Dev (kotlin)

## References :
https://developer.android.com/reference/kotlin/android/widget/LinearLayout

## Please Read it Carefully Before Contributing
* The file structure should look like Android_Development_With_Kotlin  -

[2021-11-28 16:07] ayush-sleeping commented on #8730
Hey @rahulsain , Because the old Issue of this Topic is already closed , Therefore I have created a new one for   "   Audio & Video "
purpose. I know this is not the right time to create a new issue , But believe me , I will fixed the  "  Audio part  " of this ISSUE under 12 Hours .

Thanks

And please assign me this issue for " Audio section " .

[2021-11-28 16:15] deepthi1107 commented on #7398
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-28 16:15] deepthi1107 commented on #7754
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-28 16:15] deepthi1107 commented on #7355
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-28 16:16] deepthi1107 commented on #6361
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-28 16:16] deepthi1107 commented on #6363
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-28 16:16] deepthi1107 commented on #6365
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-28 16:16] deepthi1107 commented on #4161
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-28 16:16] deepthi1107 commented on #4207
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-28 16:17] deepthi1107 commented on #1826
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-28 16:20] ashish-reddy-20-08 commented on #1825
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-28 16:21] ashish-reddy-20-08 commented on #1831
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-28 16:22] ashish-reddy-20-08 commented on #1859
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-28 16:23] ashish-reddy-20-08 commented on #2404
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-28 16:23] ashish-reddy-20-08 commented on #2409
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-28 16:24] ashish-reddy-20-08 commented on #4159
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-28 16:25] prathimacode-hub commented on #1826
Issue assigned to @deepthi1107 for audio contribution

[2021-11-28 16:25] prathimacode-hub commented on #4207
Issue assigned to @deepthi1107 for audio contribution

[2021-11-28 16:25] prathimacode-hub commented on #4161
Issue assigned to @deepthi1107 for audio contribution

[2021-11-28 16:27] prathimacode-hub commented on #6365
Issue assigned to @deepthi1107 for audio contribution

[2021-11-28 16:27] ashish-reddy-20-08 commented on #4381
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-28 16:28] prathimacode-hub commented on #6363
Issue assigned to @deepthi1107 for audio contribution

[2021-11-28 16:29] prathimacode-hub commented on #6361
Issue assigned to @deepthi1107 for audio contribution

[2021-11-28 16:29] prathimacode-hub commented on #7355
Issue assigned to @deepthi1107 for audio contribution

[2021-11-28 16:29] prathimacode-hub commented on #7754
Issue assigned to @deepthi1107 for audio contribution

[2021-11-28 16:29] ashish-reddy-20-08 commented on #4668
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-28 16:29] prathimacode-hub commented on #7398
Issue assigned to @deepthi1107 for audio contribution

[2021-11-28 16:31] prathimacode-hub commented on #4668
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-28 16:32] prathimacode-hub commented on #4381
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-28 16:32] prathimacode-hub commented on #4159
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-28 16:32] prathimacode-hub commented on #2409
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-28 16:33] prathimacode-hub commented on #2404
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-28 16:33] prathimacode-hub commented on #1859
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-28 16:33] prathimacode-hub commented on #1831
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-28 16:34] prathimacode-hub commented on #1825
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-28 16:56] #8665 closed

[2021-11-28 16:57] #7140 closed

[2021-11-28 16:59] #8529 closed

[2021-11-28 17:14] prathimacode-hub opened #8736 "Data Science with Python : Automated ML"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work on Automated ML.

This issue is created on contributor's request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can g

[2021-11-28 17:35] Srijan221 opened #8737 "[Android Dev with Java]: Simple Tutorial to check screen orientation using CameraX"
### Description

In this tutorial, I will discuss a simple app that can let anyone see the degrees the phone is rotated in Live preview using CameraX library.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduc

[2021-11-28 17:35] Srijan221 commented on #8737
/assign

[2021-11-28 17:38] #8551 closed

[2021-11-28 17:38] Srijan221 commented on #8737
/assign

[2021-11-28 17:42] iam-sakshi opened #8738 "CheatCode of List in Python"
### Description

Cheat Code of List in Python

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 17:44] iam-sakshi opened #8739 "Cheat Code Of Sets in Python"
### Description

Cheat Code Of Sets in Python

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-28 17:56] RicaGhosh commented on #8736
I would like to contribute a Documentation on this issue.
Name - Rica Ghosh
Serial no - 229
Batch - 7
Issue no - #8736
Type - Documentation
Approach - AutoML intro, working, pros-cons & applications

[2021-11-28 18:01] prathimacode-hub commented on #8736
Issue assigned to @RicaGhosh for documentation

[2021-11-28 18:20] Kajal13081 commented on #6096
PR #8740
@VikasPandey121, @sitamadex11 Sir review this PR please.

[2021-11-28 19:02] iam-sakshi commented on #8738
/assign

[2021-11-28 19:03] rishitajain01 commented on #1900
/assign video

[2021-11-28 19:09] iam-sakshi commented on #8739
/assign

[2021-11-28 19:10] rishitajain01 commented on #2364
/assign video

[2021-11-28 21:33] #8724 closed

[2021-11-28 22:38] Srijan221 commented on #7399
Please review the PR - #8748 and close this issue if everything looks good to you @prathimacode-hub

[2021-11-29 03:07] AnujNandeshwar commented on #7299
/assign documentation

[2021-11-29 03:20] AnujNandeshwar commented on #7304
/Assign Documentation

[2021-11-29 03:27] AnujNandeshwar commented on #7304
/assign documentation

[2021-11-29 06:35] SRocksMusic commented on #8189
Can I work on this issue?

[2021-11-29 06:36] SRocksMusic commented on #8189
@vasu-1

[2021-11-29 07:05] #4565 closed

[2021-11-29 07:25] deepthi1107 commented on #416
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 07:25] deepthi1107 commented on #467
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 07:25] deepthi1107 commented on #1519
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 07:25] deepthi1107 commented on #1137
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 07:25] deepthi1107 commented on #5058
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 07:26] deepthi1107 commented on #5803
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 07:37] Narcos101 opened #8773 "Bootstrap Border colours"
### Description

In this issue I will be describing about all the border colours in bootstrap with all the details about the border classes, border colour classes that bootstrap provides.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-11-29 07:37] Narcos101 commented on #8773
/assign

[2021-11-29 07:47] prathimacode-hub commented on #5058
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 07:48] prathimacode-hub commented on #1137
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 07:48] prathimacode-hub commented on #1519
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 07:48] prathimacode-hub commented on #467
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 07:48] prathimacode-hub commented on #416
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 07:49] prathimacode-hub commented on #5803
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 08:07] Kajal13081 commented on #8173
PR #8775
@VikasPandey121, @sitamadex11 Sir review this PR please.

[2021-11-29 08:26] ashish-reddy-20-08 commented on #8020
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 08:27] prathimacode-hub commented on #8020
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 08:27] ashish-reddy-20-08 commented on #6361
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 08:28] prathimacode-hub commented on #6361
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 08:28] ashish-reddy-20-08 commented on #5852
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 08:28] ashish-reddy-20-08 commented on #5806
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 08:29] ashish-reddy-20-08 commented on #5851
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 08:29] ashish-reddy-20-08 commented on #5846
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 08:30] prathimacode-hub commented on #5846
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 08:30] prathimacode-hub commented on #5806
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 08:31] prathimacode-hub commented on #5852
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 08:31] prathimacode-hub commented on #5851
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 08:31] ashish-reddy-20-08 commented on #5805
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 08:37] nimisha-yadav commented on #8665
@juhik24 you've been contributing well in DSA branch. It'd be great if you could cover [1. Introduction to Trees](https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/6.1%20Trees/1.%20Introduction%20to%20Trees) as well!

[2021-11-29 08:40] #8546 closed

[2021-11-29 08:41] prathimacode-hub commented on #5805
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 09:11] s4marth opened #8791 "Opensource: 6.104 Explain everything related to Phalcon framework"
### Description

Explain everything related to Phalcon framework with the help of documentation.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-11-29 09:11] s4marth commented on #8791
/assign

[2021-11-29 09:38] #8683 closed

[2021-11-29 10:22] #8579 closed

[2021-11-29 10:22] amanraj-iit commented on #8579
Pr merged

[2021-11-29 10:22] #8403 closed

[2021-11-29 10:23] amanraj-iit commented on #8403
Pr merged already

[2021-11-29 10:29] deepthi1107 commented on #1828
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 10:37] #8791 closed

[2021-11-29 10:45] Kajal13081 commented on #5932
PR #8800
@VikasPandey121, @sitamadex11 Sir review this PR please.

[2021-11-29 10:51] #8172 closed

[2021-11-29 10:55] Kajal13081 commented on #6072
@sitamadex11 Can you assign me this issue if its not closed.

[2021-11-29 11:05] #8641 closed

[2021-11-29 11:14] deepthi1107 commented on #377
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 11:15] deepthi1107 commented on #1819
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 11:15] deepthi1107 commented on #1834
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 11:15] deepthi1107 commented on #4752
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 11:15] deepthi1107 commented on #5852
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 11:15] deepthi1107 commented on #4159
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-29 11:21] prathimacode-hub commented on #4159
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 11:22] prathimacode-hub commented on #5852
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 11:22] prathimacode-hub commented on #4752
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 11:22] prathimacode-hub commented on #1834
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 11:22] ashish-reddy-20-08 commented on #5059
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 11:22] prathimacode-hub commented on #1819
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 11:23] prathimacode-hub commented on #377
Issue assigned to @deepthi1107 for audio contribution

[2021-11-29 11:24] prathimacode-hub commented on #5059
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 11:24] ashish-reddy-20-08 commented on #6363
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 11:25] ashish-reddy-20-08 commented on #6364
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 11:26] ashish-reddy-20-08 commented on #6365
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 11:26] prathimacode-hub commented on #377
Issue assigned to @deepthi1107 for video contribution

[2021-11-29 11:26] ashish-reddy-20-08 commented on #6366
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 11:26] prathimacode-hub commented on #6363
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 11:26] ashish-reddy-20-08 commented on #6368
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-29 11:27] prathimacode-hub commented on #6364
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 11:28] prathimacode-hub commented on #6368
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 11:28] prathimacode-hub commented on #6365
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 11:28] prathimacode-hub commented on #6366
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-29 12:01] Kajal13081 commented on #6106
/assign

[2021-11-29 12:05] #8705 closed

[2021-11-29 12:28] saloni33 opened #8811 "Binary Tree - Left View"
### Description

Documentation on printing the left view of Binary Tree

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-11-29 12:29] saloni33 commented on #8811
/assign

[2021-11-29 12:33] #8438 closed

[2021-11-29 12:35] heet-kumar commented on #7590
#7904 PR merged for issue #7590 and closed.

[2021-11-29 12:35] #7590 closed

[2021-11-29 12:38] RIYANSHGARG commented on #6325
@mukeshmjn I have created the pull request kindly review it .
https://github.com/girlscript/winter-of-contributing/pull/8812

[2021-11-29 12:40] RIYANSHGARG commented on #6326
/assign

[2021-11-29 13:42] heet-kumar commented on #8144
@its-me-Harsh-Anand create PR 3 days over buddy.

[2021-11-29 13:43] iam-sakshi commented on #8739
please approve this issue , @adityabisoi

[2021-11-29 13:44] iam-sakshi commented on #8739
https://github.com/girlscript/winter-of-contributing/pull/8746

[2021-11-29 13:45] iam-sakshi commented on #8738
please approve my issue  @adityabisoi
https://github.com/girlscript/winter-of-contributing/pull/8741

[2021-11-29 13:46] its-me-Harsh-Anand commented on #8144
Today itself I'm creating PR

[2021-11-29 13:50] #6325 closed

[2021-11-29 14:35] heet-kumar commented on #8144
@its-me-Harsh-Anand ok do it asap

[2021-11-29 14:36] mrkc2303 commented on #7361
Hey @rahulsain,
Can i work for documentation?
Will complete it by today itself.
Thanks

[2021-11-29 14:57] juhik24 opened #8828 "Introduction to Trees"
### Description

Discuss in detail Introduction to Trees and explain some basic concepts and operations.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-11-29 14:58] juhik24 commented on #8828
/assign

[2021-11-29 15:05] #7967 closed

[2021-11-29 15:28] #4395 closed

[2021-11-29 15:34] adityabisoi commented on #8739
Approved

[2021-11-29 15:35] adityabisoi commented on #8738
Go ahead

[2021-11-29 15:54] iam-sakshi commented on #8738
Thank you

[2021-11-29 15:55] iam-sakshi commented on #8739
Thank You

[2021-11-29 16:05] #8179 closed

[2021-11-29 16:17] Yash-Chandrani commented on #3046
/assign document

[2021-11-29 16:17] Yash-Chandrani commented on #4556
/assign document

[2021-11-29 16:40] #8020 closed

[2021-11-29 16:41] #7337 closed

[2021-11-29 16:41] #6365 closed

[2021-11-29 16:41] #6364 closed

[2021-11-29 16:42] #6361 closed

[2021-11-29 16:42] #5852 closed

[2021-11-29 16:42] #5795 closed

[2021-11-29 16:44] #4376 closed

[2021-11-29 16:46] #2409 closed

[2021-11-29 16:50] #1519 closed

[2021-11-29 16:50] #1137 closed

[2021-11-29 16:52] #1034 closed

[2021-11-29 16:52] #1027 closed

[2021-11-29 16:53] Mahi1901 opened #8832 "Hash search using double hashing"
### Description

One of the open addressing or hashing technique: Double hashing method is a technique in an open addressing scheme. This method is specifically useful when to avert collisions in hash tables. Collision takes place when the more than one hash key values matches to the same address in the hash table. Every location in the hash table is intended to store a single value. Double hashin

[2021-11-29 16:55] sakshi168 commented on #8832
/assign

[2021-11-29 16:56] #416 closed

[2021-11-29 16:56] #407 closed

[2021-11-29 16:57] #389 closed

[2021-11-29 16:57] Mahi1901 commented on #8832
/assign

[2021-11-29 16:58] #372 closed

[2021-11-29 16:58] #367 closed

[2021-11-29 16:59] #3273 closed

[2021-11-29 17:01] #4358 closed

[2021-11-29 17:01] #4361 closed

[2021-11-29 17:01] sakshi168 commented on #8372
@Ash515
/assign for documentation

[2021-11-29 17:02] #5924 closed

[2021-11-29 17:04] #7144 closed

[2021-11-29 17:06] #7159 closed

[2021-11-29 17:07] #8832 closed

[2021-11-29 17:07] #7136 closed

[2021-11-29 17:09] sakshi168 commented on #8372
/assign

[2021-11-29 17:13] #5923 closed

[2021-11-29 17:31] #7966 closed

[2021-11-29 17:38] anisha-01-phoenix commented on #6072
@sitamadex11 @VikasPandey121 please assign this issue to me if its not closed.

[2021-11-29 17:40] anisha-01-phoenix commented on #5000
@VikasPandey121 Please assign this issue to me if it is not closed.

[2021-11-29 18:28] Yash-Chandrani commented on #4556
@Satyam175 an I submit my documentation tomorrow?
As you have assigned me just 1 hour before

[2021-11-29 19:06] mahikkaaa commented on #8168
/assign

[2021-11-29 19:07] Yash-Chandrani opened #8843 "Update roadmap:"
### Description

Update roadmap with links for frontend folder

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-11-29 19:08] mahikkaaa commented on #8007
/assign

[2021-11-29 19:08] Yash-Chandrani commented on #8843
/assign

[2021-11-29 19:08] Kajal13081 opened #8844 "Android Java 15.02: Android-Google-Map"
### Description

All about implementing Google Map in Android

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-11-29 19:08] Kajal13081 commented on #8844
/assign

[2021-11-29 19:09] Yash-Chandrani commented on #8843
/assign documentation

[2021-11-29 19:21] Kajal13081 commented on #8844
@VikasPandey121 , @sitamadex11 Sir assign me this issue please.

[2021-11-29 19:26] Yash-Chandrani commented on #4468
/assign documentation

[2021-11-29 19:27] afreenabegum commented on #7153
Hi Mam @nimisha-yadav
I can submit this PR by wednesday. May I know if you can re-open this issue?

It would be helpful if you can re-open this issue. So that I will be completing 5 PR's in this program.

Thank u.
Afreena begum

[2021-11-30 04:38] nimisha-yadav commented on #7153
Sure @afreenabegum, I am reopening but please try to submit the PR by the deadline which is today midnight. All the best.

[2021-11-30 05:07] afreenabegum commented on #7153
Ok mam.
Thank you

[2021-11-30 05:35] AnujNandeshwar commented on #7304
/assign documentation

[2021-11-30 05:40] #8514 closed

[2021-11-30 05:41] #7884 closed

[2021-11-30 05:48] utkarshakakade opened #8854 "[JS] Topic:Frames"
### Description

Discussing about what is frame in JavaScript

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of t

[2021-11-30 05:49] utkarshakakade commented on #8854
/assign documentation

[2021-11-30 06:05] #8773 closed

[2021-11-30 06:07] Narcos101 opened #8855 "Packages in Bootstrap"
### Description

In this issue i will describe about the packages which are available in bootstrap

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributin

[2021-11-30 06:07] Narcos101 commented on #8855
/assign

[2021-11-30 07:00] kumarankm opened #8858 "[Python] Adding Learning Path"
### Description

Need to arrange a learning path based on concepts

### Domain

Python_Domain

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-11-30 08:01] #8133 closed

[2021-11-30 08:03] Srijan221 commented on #8737
@VikasPandey121  Please review this PR sir #8862

[2021-11-30 08:29] #8473 closed

[2021-11-30 08:31] #8828 closed

[2021-11-30 08:33] #7153 closed

[2021-11-30 08:34] #7304 closed

[2021-11-30 08:35] #7299 closed

[2021-11-30 08:36] #6417 closed

[2021-11-30 08:36] #6416 closed

[2021-11-30 08:36] #6415 closed

[2021-11-30 08:37] #6413 closed

[2021-11-30 08:37] #6338 closed

[2021-11-30 08:43] #2089 closed

[2021-11-30 08:44] #3204 closed

[2021-11-30 08:44] #5036 closed

[2021-11-30 08:44] #4816 closed

[2021-11-30 08:44] #4449 closed

[2021-11-30 08:45] #3919 closed

[2021-11-30 08:45] #5647 closed

[2021-11-30 08:46] #6385 closed

[2021-11-30 08:46] #6383 closed

[2021-11-30 08:47] #6318 closed

[2021-11-30 08:47] #5969 closed

[2021-11-30 08:47] nimisha-yadav commented on #7085
Stale issue, so closing it.

[2021-11-30 08:47] #7085 closed

[2021-11-30 08:48] nimisha-yadav commented on #7081
Stale issue, so closing it.

[2021-11-30 08:48] #7081 closed

[2021-11-30 08:49] nimisha-yadav commented on #7599
Stale issue, so closing it.

[2021-11-30 08:49] #7599 closed

[2021-11-30 08:50] nimisha-yadav commented on #8282
Stale issue, so closing it.

[2021-11-30 08:50] #8282 closed

[2021-11-30 08:52] nimisha-yadav commented on #3603
Stale issue, so closing it.

[2021-11-30 08:52] #3603 closed

[2021-11-30 08:54] nimisha-yadav commented on #1239
Stale issue, so closing it.

[2021-11-30 08:54] #1239 closed

[2021-11-30 08:54] #3070 closed

[2021-11-30 08:55] #3072 closed

[2021-11-30 09:05] #8347 closed

[2021-11-30 09:05] #8322 closed

[2021-11-30 09:05] #8319 closed

[2021-11-30 09:09] subhangi2731 opened #8865 "Async iteration and generators in JavaScript"
### Description

Async iterable range
iterator to make the iteration code shorter. Similar to that, async generators can be used as symbols. async iterator to implement the asynchronous iteration. For instance, we can make the range object generate values asynchronously, once per second, by replacing synchronous Symbol.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

[2021-11-30 09:09] subhangi2731 commented on #8865
/assign

[2021-11-30 09:11] subhangi2731 opened #8866 "Bubbling and Capturing in JavaScript"
### Description

The bubbling principle is simple.

When an event happens on an element, it first runs the handlers on it, then on its parent, then all the way up on other ancestors.

Let’s say we have 3 nested elements FORM > DIV > P with a handler on each of them:

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Gui

[2021-11-30 09:14] subhangi2731 commented on #8866
/assign

[2021-11-30 09:18] subhangi2731 opened #8867 "Event Delegation in JavaScript"
### Description

Event Delegation is basically a pattern to handle events efficiently. Instead of adding an event listener to each and every similar element, we can add an event listener to a parent element and call an event on a particular target using the .target property of the event object.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [

[2021-11-30 09:18] subhangi2731 commented on #8867
/assign

[2021-11-30 09:22] #8843 closed

[2021-11-30 09:23] vasu-1 commented on #8189
already working @dummy-co-der

[2021-11-30 09:24] #3631 closed

[2021-11-30 09:25] #5182 closed

[2021-11-30 09:32] stutimohta20 opened #8868 "BST to min Heap"
### Description

Conversion of Binary Search Tree to Min Heap using cpp language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-11-30 09:49] saloni33 opened #8869 "Binary Tree - Right View"
### Description

Documentation on Right view of binary tree

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-30 09:49] saloni33 commented on #8869
/assign

[2021-11-30 09:50] ashish-reddy-20-08 commented on #7339
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 09:52] jakansha2001 commented on #8866
/assign

[2021-11-30 09:54] prathimacode-hub commented on #7339
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 09:55] deepthi1107 commented on #370
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 09:55] deepthi1107 commented on #426
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 09:55] deepthi1107 commented on #469
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 09:56] ashish-reddy-20-08 commented on #6908
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 09:56] ashish-reddy-20-08 commented on #7063
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 09:56] deepthi1107 commented on #1822
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 09:57] deepthi1107 commented on #2404
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 09:57] deepthi1107 commented on #5657
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-30 09:57] deepthi1107 commented on #5811
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 09:57] deepthi1107 commented on #6349
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 09:57] ashish-reddy-20-08 commented on #6362
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 09:58] prathimacode-hub commented on #7063
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 09:59] prathimacode-hub commented on #6908
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 09:59] ashish-reddy-20-08 commented on #5848
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 10:00] prathimacode-hub commented on #6362
Video is done, only audio available. @ashish-reddy-20-08

[2021-11-30 10:00] ashish-reddy-20-08 commented on #5810
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 10:00] deepthi1107 commented on #6368
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 10:00] prathimacode-hub commented on #5848
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 10:00] prathimacode-hub commented on #5810
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 10:01] ashish-reddy-20-08 commented on #5809
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 10:01] prathimacode-hub commented on #5809
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 10:02] prathimacode-hub commented on #6362
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-30 10:04] ashish-reddy-20-08 commented on #5657
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do Documentation  on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 10:05] ashish-reddy-20-08 commented on #4667
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 10:05] prathimacode-hub commented on #5657
Issue assigned to @deepthi1107 for video contribution

[2021-11-30 10:06] prathimacode-hub commented on #370
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 10:06] prathimacode-hub commented on #426
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 10:06] prathimacode-hub commented on #469
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 10:06] prathimacode-hub commented on #1822
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 10:07] prathimacode-hub commented on #2404
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 10:07] prathimacode-hub commented on #5811
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 10:07] prathimacode-hub commented on #6349
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 10:08] prathimacode-hub commented on #6368
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 10:08] prathimacode-hub commented on #5848
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 10:18] ashish-reddy-20-08 commented on #4665
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 10:20] subhangi2731 commented on #8866
@jakansha2001 I opened this issue and assigned myself if you want u can create an issue yourself and get assigned

[2021-11-30 10:21] ashish-reddy-20-08 commented on #1855
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 10:22] prathimacode-hub commented on #4665
Issue is assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 10:23] prathimacode-hub commented on #1855
Issue is assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 11:06] priyankapiba commented on #8858
Please assign me this issue.

[2021-11-30 11:07] kumarankm commented on #8858
Give ```/assign``` command it's not working? @priyankapiba

[2021-11-30 11:17] jakansha2001 commented on #8866
@subhangi2731 Sure!

[2021-11-30 11:28] priyashajain commented on #7139
Hi! Can u please open this issue again? I had prepared material but I contributed in the wrong method before.

[2021-11-30 11:33] surjyaneeh commented on #6953
/assign

[2021-11-30 11:35] surjyaneeh commented on #6953
/assign

[2021-11-30 11:56] jakansha2001 opened #8876 "List of top 10 algorithms in Interview Questions"
### Description

Description
Here is a list of top 10 algorithms that one should prepare for an Interview.

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/

[2021-11-30 11:56] jakansha2001 commented on #8876
/assign

[2021-11-30 12:04] heet-kumar commented on #7569
@Anshii12 what's the status ? Crete PR today is last day.

[2021-11-30 12:07] priyashajain commented on #7139
Thank you so much!!

[2021-11-30 12:19] #8811 closed

[2021-11-30 12:36] Kajal13081 commented on #8844
PR #8880
@VikasPandey121, @sitamadex11 Sir review this PR please.

[2021-11-30 12:43] Bikramjit21 opened #8883 "Complete DP and Greedy"
### Description

Adding complete tutorial of DP and Greedy problems from basic to expert level.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-11-30 12:44] Bikramjit21 commented on #8883
!assign

[2021-11-30 12:44] Kajal13081 opened #8884 "Android Java 5.01: Android-Internal-Storage-Example"
### Description

Implementing example for Android Internal Storage to save or read data from the device internal memory.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winte

[2021-11-30 12:45] Bikramjit21 commented on #8883
/assign

[2021-11-30 12:45] Kajal13081 commented on #8884
@VikasPandey121, @sitamadex11 I am working on this issue. Please do assign me.

[2021-11-30 13:18] prathimacode-hub commented on #4667
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 13:33] ashish-reddy-20-08 commented on #1852
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 13:34] ashish-reddy-20-08 commented on #1849
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-30 13:34] deepthi1107 commented on #1862
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 13:34] prathimacode-hub commented on #1852
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 13:35] deepthi1107 commented on #5853
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-30 13:36] prathimacode-hub commented on #1849
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-30 13:37] prathimacode-hub commented on #1862
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 13:38] prathimacode-hub commented on #5853
Issue assigned to @deepthi1107 for audio contribution

[2021-11-30 14:07] #8869 closed

[2021-11-30 14:10] Narcos101 opened #8895 "Bootstrap border colours"
### Description

In this issue i will be describing all the border colours that bootstrap provides.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributi

[2021-11-30 14:10] Narcos101 commented on #8895
/assign

[2021-11-30 14:38] #8144 closed

[2021-11-30 14:38] Mahi1901 opened #8898 "Spanning Tree Using Prims Algorithm"
### Description

Prims algorithm is a greedy algorithm that is applied to find the minimum spanning tree of a graph. Graph are to be weighted, connected, and undirected. A set of edges that connects two set of vertices in a graph is called cut in graph theory. Essentially, at each step of Prim’s algorithm, we've to seek out a cut (of two sets, one contains the vertices already included in MST and

[2021-11-30 14:39] Mahi1901 commented on #8898
/assign

[2021-11-30 14:45] #7622 closed

[2021-11-30 14:48] RIYANSHGARG commented on #6326
@mukeshmjn  I have created a PR Kindly review it
https://github.com/girlscript/winter-of-contributing/pull/8899

[2021-11-30 14:53] Pushpit07 commented on #6367
Hyperparameter tuning looks like already present. We can close this issue @prathimacode-hub

[2021-11-30 14:58] #6326 closed

[2021-11-30 14:58] mukeshmjn commented on #6326
@RIYANSHGARG done!

[2021-11-30 15:08] prathimacode-hub commented on #6362
I mentioned in discord to not close the issue. @Pushpit07

[2021-11-30 15:12] AnujNandeshwar commented on #7305
/assign documentation

[2021-11-30 15:17] prathimacode-hub commented on #6367
Please don't close issues. @Pushpit07 @ishreyakumari

[2021-11-30 15:27] Narcos101 opened #8902 "Bootstrap Alert"
### Description

In this issue I will be describing all the alert classes provided by bootstrap

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-11-30 15:39] #8855 closed

[2021-11-30 15:40] Narcos101 opened #8903 "Bootstrap Buttons"
### Description

In this issue i will describe all the types of buttons that bootstrap provides.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/

[2021-11-30 16:02] Pratyush0612 opened #8904 "HTML Tables"
### Description

Documentation for HTML Tables.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pro

[2021-11-30 16:02] Pratyush0612 commented on #8904
/assign

[2021-11-30 16:19] Kajal13081 commented on #8884
PR #8905
@VikasPandey121 , @sitamadex11 Sir review this PR please.

[2021-11-30 16:31] #8898 closed

[2021-11-30 16:39] Narcos101 commented on #8903
/assign

[2021-11-30 16:40] Mahi1901 opened #8908 "Kruskal's algorithm in cpp"
### Description

kruskal algorithm

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-30 16:40] Mahi1901 commented on #8908
/assign

[2021-11-30 16:53] RIYANSHGARG commented on #6848
@mukeshmjn  I have created a PR Kindly review it
https://github.com/girlscript/winter-of-contributing/pull/8910

[2021-11-30 17:01] Narcos101 opened #8911 "Bootstrap Packages"
### Description

In this issue i will describe about all the packages in bootstrap

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.git

[2021-11-30 17:16] Yash-Chandrani opened #8915 "Update roadmap for JavaScript section:"
### Description

Updating and adding links to Javascript readme.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-30 17:16] Yash-Chandrani commented on #8915
/assign documentation

[2021-11-30 17:16] #8180 closed

[2021-11-30 17:31] #6924 closed

[2021-11-30 17:39] raina-akshay opened #8923 "ML: Study and Implement Research Article (ML Projects)"
### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : **CoVID-19 Detection using Cough and other vocal audio samples**🌟
🔴 **Aim of the Project** : Study and Implement a research article on the title, available [here](https://www.sciencedirect.com/science/article/pii/S0010482521003668?via%3Dihub).
🔴 **Dataset** : https://www.github.com/iiscleap/Coswara-Data
🔴 **Domain*

[2021-11-30 17:53] AdityaNikhil commented on #8923
I would like to contribute to this project along with my teammates,
@tavneetgill , @divya-chhoriya , @mimansa-sardhalia , @sannamir

**Batch Number** : 2, 5(@mimansa-sardhalia)
**Which type of Contribution you want to make** :
Code

[2021-11-30 17:56] raina-akshay commented on #8923
Assigned to all 👍🏻

[2021-11-30 18:25] #7161 closed

[2021-11-30 18:45] Bikramjit21 opened #8941 "Complete recursion and backtracking"
### Description

I will add complete recursion and backtracking from beginner to expert level.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-11-30 18:46] Bikramjit21 commented on #8941
/assign

[2021-11-30 18:47] #6848 closed

[2021-11-30 19:08] #8908 closed

[2021-11-30 19:11] Mahi1901 opened #8942 "Acyclic Graph"
### Description

I uploaded the code for Acyclic Graph in CPP.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project

[2021-11-30 19:11] Mahi1901 commented on #8942
/assign

[2021-11-30 21:16] #8707 closed

[2021-11-30 21:17] nimisha-yadav commented on #8707
Closing the issue since deadline to open new PRs is over. Thanks for all your contributions.

[2021-11-30 21:18] nimisha-yadav commented on #8472
Closing the issue since deadline to open new PRs is over. Thanks for all your contributions!

[2021-11-30 21:18] #8472 closed

[2021-11-30 21:19] nimisha-yadav commented on #6439
Closing the issue since deadline to open new PRs is over. Thanks for all your contributions.

[2021-11-30 21:19] #6439 closed

[2021-11-30 21:44] #3917 closed

[2021-11-30 21:44] #3916 closed

[2021-11-30 21:44] #3606 closed

[2021-11-30 21:45] #3604 closed

[2021-11-30 21:45] #3601 closed

[2021-12-01 06:31] #5725 closed

[2021-12-01 07:49] #7594 closed

[2021-12-01 08:07] #8504 closed

[2021-12-01 08:08] #6008 closed

[2021-12-01 08:08] #5003 closed

[2021-12-01 08:09] #6096 closed

[2021-12-01 08:09] #8173 closed

[2021-12-01 08:09] #5932 closed

[2021-12-01 08:09] #8236 closed

[2021-12-01 08:10] #5925 closed

[2021-12-01 08:10] #6101 closed

[2021-12-01 08:11] #8737 closed

[2021-12-01 08:11] #6006 closed

[2021-12-01 08:11] #8844 closed

[2021-12-01 08:12] #8884 closed

[2021-12-01 08:13] #6105 closed

[2021-12-01 08:15] #8495 closed

[2021-12-01 09:49] #7892 closed

[2021-12-01 11:17] #8868 closed

[2021-12-01 12:12] sannamir commented on #8923
I would like to contribute to this project along with my teammates,
@AdityaNikhil @tavneetgill @divya-chhoriya @raina-akshay @mimansa-sardhalia

[2021-12-01 13:16] #7305 closed

[2021-12-01 13:33] tavneetgill commented on #8923
I would  also like to contribute to this project along with my teammates,
@AdityaNikhil @sannamir @divya-chhoriya @raina-akshay @mimansa-sardhalia

[2021-12-01 13:39] divya-chhoriya commented on #8923
I would like to contribute to this project along with my teammates,
@AdityaNikhil @tavneetgill @sannamir  @raina-akshay @mimansa-sardhalia

[2021-12-01 13:56] #7139 closed

[2021-12-01 16:22] #8942 closed

[2021-12-01 16:53] #5310 closed

[2021-12-01 16:54] Anant1711 commented on #5484
@HumblePlebeian ????????????

[2021-12-01 16:54] #6408 closed

[2021-12-01 16:54] #6410 closed

[2021-12-01 16:55] #6411 closed

[2021-12-01 16:55] Anant1711 commented on #6412
@Nikita512 ??????????

[2021-12-01 16:56] #5483 closed

[2021-12-01 17:35] #2668 closed

[2021-12-01 17:35] #2667 closed

[2021-12-01 17:49] HumblePlebeian commented on #5484
I was caught in my exams, so I'm afraid I won't be able to complete this issue this time.
Thanks for allowing me ample time to try completing it, but unfortunately, my circumstances forbade me from doing so.
I'll unassign myself from this issue so that someone else can get the chance to complete it instead.

[2021-12-01 18:02] PrachiDoshi2170 commented on #5484
Are we still allowed to work on this?

On Wed, 1 Dec, 2021, 11:19 pm Vibhuti Saha, ***@***.***>
wrote:

[2021-12-01 18:06] Anant1711 commented on #5484
Yes for 1-2 days
How many days you will take?

[2021-12-01 18:09] PrachiDoshi2170 commented on #5484
I will try to complete within two days.

On Wed, 1 Dec, 2021, 11:37 pm Anant chauhan, ***@***.***>
wrote:

[2021-12-01 18:10] Anant1711 commented on #5484
COOL then,
try to submit within 2 days and do share your Gmail ID also.
you can DM me!

[2021-12-02 05:15] #8615 closed

[2021-12-02 06:29] anisha-01-phoenix commented on #5000
@VikasPandey121 Sorry to say but the contribution period has already ended. Moreover, a [PR](https://github.com/girlscript/winter-of-contributing/pull/8880#issue-1067185259) of this issue has already been made and has been merged.

[2021-12-02 07:29] mimansa-sardhalia commented on #8923
I would like to contribute to this project along with my teammates,
@AdityaNikhil @tavneetgill @sannamir @raina-akshay @divya-chhoriya

[2021-12-02 08:07] #5599 closed

[2021-12-02 09:22] #6869 closed

[2021-12-02 09:30] #3077 closed

[2021-12-02 09:31] #3298 closed

[2021-12-02 09:31] #3300 closed

[2021-12-02 09:31] #3293 closed

[2021-12-02 09:32] #3295 closed

[2021-12-02 09:32] #3306 closed

[2021-12-02 09:33] #5507 closed

[2021-12-02 09:33] #3296 closed

[2021-12-02 09:34] #5510 closed

[2021-12-02 09:34] #3105 closed

[2021-12-02 09:34] #5508 closed

[2021-12-02 09:35] #3078 closed

[2021-12-02 09:36] #5513 closed

[2021-12-02 09:36] #5512 closed

[2021-12-02 09:37] #5505 closed

[2021-12-02 09:37] #5504 closed

[2021-12-02 09:37] #3292 closed

[2021-12-02 09:38] #2237 closed

[2021-12-02 09:41] #3171 closed

[2021-12-02 09:41] #3170 closed

[2021-12-02 09:42] #3173 closed

[2021-12-02 09:42] #4309 closed

[2021-12-02 09:43] #4310 closed

[2021-12-02 09:43] #4311 closed

[2021-12-02 09:43] #4312 closed

[2021-12-02 09:43] #4313 closed

[2021-12-02 09:44] #4314 closed

[2021-12-02 09:44] #4315 closed

[2021-12-02 09:44] #4316 closed

[2021-12-02 09:44] #4317 closed

[2021-12-02 09:44] #4318 closed

[2021-12-02 09:44] #4319 closed

[2021-12-02 09:45] #4320 closed

[2021-12-02 09:45] #7307 closed

[2021-12-02 09:45] #7306 closed

[2021-12-02 09:46] #7308 closed

[2021-12-02 09:46] #7303 closed

[2021-12-02 09:46] #7302 closed

[2021-12-02 09:46] #7301 closed

[2021-12-02 09:46] #7300 closed

[2021-12-02 09:46] #7298 closed

[2021-12-02 09:47] #7168 closed

[2021-12-02 09:47] #7165 closed

[2021-12-02 09:48] #7164 closed

[2021-12-02 09:48] #7166 closed

[2021-12-02 09:48] #7163 closed

[2021-12-02 09:48] #6969 closed

[2021-12-02 09:49] #6968 closed

[2021-12-02 09:49] #6967 closed

[2021-12-02 09:49] #6966 closed

[2021-12-02 09:49] #6965 closed

[2021-12-02 09:49] #6964 closed

[2021-12-02 09:49] #6129 closed

[2021-12-02 09:50] #6128 closed

[2021-12-02 09:50] #6126 closed

[2021-12-02 09:50] #6125 closed

[2021-12-02 09:51] #6124 closed

[2021-12-02 09:51] #5854 closed

[2021-12-02 09:52] #5777 closed

[2021-12-02 09:52] #5774 closed

[2021-12-02 09:52] #5773 closed

[2021-12-02 09:53] #5771 closed, assigned to nobody

[2021-12-02 09:53] #5770 closed

[2021-12-02 09:53] #5768 closed

[2021-12-02 09:53] #5767 closed

[2021-12-02 09:53] #5766 closed

[2021-12-02 09:53] #5358 closed

[2021-12-02 09:54] #3479 closed

[2021-12-02 09:55] #3480 closed

[2021-12-02 09:56] #5342 closed

[2021-12-02 09:56] #5343 closed

[2021-12-02 09:56] #5344 closed

[2021-12-02 09:56] #5346 closed

[2021-12-02 09:56] #5348 closed

[2021-12-02 09:56] #5350 closed

[2021-12-02 09:57] #5351 closed

[2021-12-02 09:57] #5352 closed

[2021-12-02 09:57] #5353 closed

[2021-12-02 09:57] #5354 closed

[2021-12-02 09:57] #5356 closed

[2021-12-02 09:58] #5357 closed

[2021-12-02 10:05] #3301 closed

[2021-12-02 10:07] #5775 closed

[2021-12-02 10:09] #5772 closed

[2021-12-02 10:15] nimisha-yadav commented on #6635
@Bikramjit21 you've created the same issue twice so closing one of them. Also, please see the discord for the response on your PR problem and submit the work asap. Thanks.

[2021-12-02 10:15] #6635 closed

[2021-12-02 11:05] #3214 closed

[2021-12-02 11:06] #3080 closed

[2021-12-02 11:08] #493 closed

[2021-12-02 11:08] #450 closed

[2021-12-02 11:15] #6368 closed

[2021-12-02 11:16] #6362 closed

[2021-12-02 11:16] #6349 closed

[2021-12-02 11:16] #5853 closed

[2021-12-02 11:17] #5848 closed

[2021-12-02 11:17] #5657 closed

[2021-12-02 11:20] #2404 closed

[2021-12-02 11:22] #1822 closed

[2021-12-02 11:24] #735 closed

[2021-12-02 11:25] #730 closed

[2021-12-02 11:26] #469 closed

[2021-12-02 11:29] #426 closed

[2021-12-02 11:31] #370 closed

[2021-12-02 15:44] #6569 closed

[2021-12-02 15:51] nimisha-yadav commented on #8433
The deadline to create new PRs has passed. Thank you for all your contributions.

[2021-12-02 15:51] #8433 closed

[2021-12-02 15:53] nimisha-yadav commented on #8432
The deadline to create new PRs has passed. Thank you for all your contributions.

[2021-12-02 15:53] #8432 closed

[2021-12-02 16:48] #8536 closed

[2021-12-02 16:50] #5776 closed

[2021-12-02 16:51] #1242 closed

[2021-12-02 16:51] #5506 closed

[2021-12-02 16:54] #6127 closed

[2021-12-02 18:06] #3213 closed

[2021-12-02 18:06] #3220 closed

[2021-12-02 18:15] #597 closed

[2021-12-02 18:17] #316 closed

[2021-12-02 18:25] #8923 closed

[2021-12-03 05:34] #7328 closed

[2021-12-03 09:02] #8883 closed

[2021-12-03 09:05] #8941 closed

[2021-12-03 14:32] #3172 closed

[2021-12-03 14:33] #109 closed

[2021-12-04 12:34] PrachiDoshi2170 commented on #5484
@Anant1711  I have uploaded 6.7 Gaining Access, please review

[2021-12-05 14:04] #8904 closed

[2021-12-06 07:20] #1799 closed

[2021-12-06 11:20] #6953 closed

[2021-12-10 12:57] #5484 closed

[2021-12-12 14:22] #3084 closed

[2021-12-21 04:13] akkkanksha commented on #8663
/assign

[2021-12-26 18:36] ssurbhi09 commented on #8708
#include <iostream>
using namespace std;
int main() {
   int arr[] = { 5, 3, 4, 2, 1 };
   int m=5;
   int n, c;
   n=m;
   do {
      for (int i = 0; i < n - 1; i++) {
         if (arr[i] > arr[i + 1]) {
            arr[i] = arr[i] + arr[i + 1];
            arr[i + 1] = arr[i] - arr[i + 1];
            arr[i] = arr[i] - arr[i + 1];
         }
      }
      n = n - 1;
      for (int i=m-1, c = 0;

[2021-12-31 07:02] #1195 closed

[2022-01-03 07:41] kumarmohit3194 commented on #8736
Hello @prathimacode-hub - I've been learning ML and coding for the past few months now and I'm looking for a good first issue to which i can contribute to. I'd be glad to help. Let me know if I can contribute in any way. Thank you.

[2022-01-03 08:50] prathimacode-hub commented on #8736
This issue is open only for audio and video contribution. Kindly go through the guidelines and if you are ok to proceed. Let me know so that I can assign it to you. @kumarmohit3194

[2022-01-05 14:54] #3212 closed

[2022-01-05 15:11] #202 closed

[2022-01-08 06:41] #3189 closed

[2022-01-09 10:15] kapil1502 commented on #8489
/assign

[2022-01-14 07:02] #2419 closed

[2022-01-15 16:52] #1057 closed

[2022-01-17 06:56] Sakshi-Gupta06 commented on #184
I would like to work on this issue. Kindly assign it to me.
Plugins Name: Icons8, Fig3D, Neumorphism

[2022-01-17 06:57] Sakshi-Gupta06 commented on #93
I want to work on this issue. Kindly assign it to me.

[2022-01-17 07:05] Sakshi-Gupta06 commented on #7113
I want to work on web design for a food delivery app

[2022-02-01 05:48] #3854 closed

[2022-02-01 05:48] #3527 closed

[2022-02-01 05:49] #2127 closed

[2022-02-01 05:49] #1214 closed

[2022-02-07 14:17] #7671 closed

[2022-03-03 16:35] #5091 closed

[2022-03-09 06:16] #6748 closed

[2022-03-12 16:40] #8122 closed

[2022-03-12 16:41] #8005 closed

[2022-04-07 05:52] #2842 closed

[2022-04-07 05:52] ShrutiKhatri826 commented on #2842
This issue is no longer opened.

[2022-06-11 05:16] #1548 closed

[2022-06-17 03:29] #4470 closed

[2022-06-27 16:23] #249 closed

[2022-08-09 05:51] #3494 closed

[2022-11-08 05:39] A999-del commented on #8911
/assign

[2022-11-28 12:36] SattyamSamania commented on #8915
Is the issue still open?