[2021-09-28 12:02] rk18venom commented on #551
Sir , I mistakenly click the unassigned option.
Please assign me again the audio is ready just in few hours I will push it l.

[2021-09-28 12:14] Akshat-2002-coder opened #3359 "bitwise operators"
### Description

Give a brief description of different bitwise operators.
also explain some bitwise techniques

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/

[2021-09-28 12:14] Akshat-2002-coder commented on #3359
/assign

[2021-09-28 12:18] VikasPandey121 commented on #116
I am unassigning this issue right now to give this opportunity to someone else as you are busy with your exams.
All the best.

[2021-09-28 12:21] #807 closed

[2021-09-28 12:21] SathiyaEthi commented on #1843
Hi @prathimacode-hub , I want to contribute on the above issue in video mode.

Approach: Need of One hot encoding in ML, transformation of data using an example and the effect/result of it.
Name: Sathiya Govindaraj
Type: Video
Batch: 12
Github: https://github.com/SathiyaEthi

Kindly review and assign it to me for video mode

[2021-09-28 12:25] shoebxsiddiqui commented on #2506
#3360

[2021-09-28 12:26] 101Priyanshi commented on #3170
/assign Document

[2021-09-28 12:26] shoebxsiddiqui commented on #2506
#3360
@garvitraj done with the PR sir

[2021-09-28 12:28] japneetbhatia commented on #955
@joshi-kaushal Yes, I'm working on this issue

[2021-09-28 12:29] 101Priyanshi commented on #3170
Name : Priyanshi Saxena
Batch: 8

[2021-09-28 12:33] Safwan310 commented on #2939
@pratishthaa I have created a pull request. Can you please verify it?

[2021-09-28 12:35] Parth-001-git commented on #3296
Parth Sharma
dsa-batch-5
Documentation.

[2021-09-28 12:37] 0xUvaish commented on #3269
Assign to me pls
Name - Mohd Uvaish Siddiqui
Batch - 7

[2021-09-28 12:38] 0xUvaish commented on #3272
Assign to me pls, would be my first
Name - Mohd Uvaish Siddiqui
Batch - 7

[2021-09-28 12:44] rachita11 commented on #3341
Okay I'll take up the video contribution

[2021-09-28 12:56] sonali-t opened #3363 "C_CPP : Enumerated Data Type in C++"
### Description

Documentation on **Enumerated Data Type**  in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-09-28 12:56] elixir14082002 commented on #3363
/assign

[2021-09-28 12:56] sonali-t commented on #3363
/assign

[2021-09-28 12:57] #3363 closed

[2021-09-28 12:57] goelesha commented on #3296
@Parth-001-git This issue is for video. Pls read the title of the issue carefully.

[2021-09-28 12:58] Parth-001-git commented on #3296
@golesha documentation was labelled, my bad.

[2021-09-28 12:59] sonali-t opened #3364 "C_CPP : Enumerated Data Type"
### Description

Documentation on **Enumerated data types** in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-09-28 13:00] sonali-t commented on #3364
/assign

[2021-09-28 13:00] sonali-t commented on #3364
/assign

[2021-09-28 13:06] Nikita512 commented on #498
@Anant1711 I'm new to Git, can you guide me through all the steps?

[2021-09-28 13:10] #1908 closed

[2021-09-28 13:13] Anant1711 commented on #498
@Nikita512
Go to the week 1 folder, where you have to create .md file and embed your audio link!
then commit!

[2021-09-28 13:13] 0xUvaish commented on #3269
/assign

[2021-09-28 13:15] 0xUvaish commented on #3272
/assign

[2021-09-28 13:17] #40 closed

[2021-09-28 13:18] Anant1711 commented on #171
@NIRBHAYKAUSHIK11
Please submit in the correct way, please!

[2021-09-28 13:22] Varun270 opened #3366 "Open Source: Explain Everything Related To Script Winter of Code"
### Description

Description

Prepare documentation related to Script Winter of Code

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-09-28 13:23] Varun270 commented on #3366
/assign

[2021-09-28 13:24] nimisha-yadav commented on #3260
Assigning this issue to you @dhruti29, all the best!

[2021-09-28 13:24] hritikksingh commented on #2250
@BasuDevTyagi10 what's the update?

[2021-09-28 13:24] Varun270 commented on #3366
@Aryamanz29 I would like to work on this issue and can you please tell me what serial number should I put over the doc and issue name?

[2021-09-28 13:25] nimisha-yadav commented on #3265
Assigning this issue to you @tanvideshmukh29, all the best!

[2021-09-28 13:25] hritikksingh commented on #2686
@ashish-patwal what is the status?

[2021-09-28 13:26] nimisha-yadav commented on #3269
Assigning this issue to you @divya1467, all the best!

[2021-09-28 13:27] prathimacode-hub commented on #2402
@vanshika230 I'm clarifying up the things.

[2021-09-28 13:27] hritikksingh commented on #2927
@nakshatra-garg what's the status?

[2021-09-28 13:28] hritikksingh commented on #2995
@yatharthrajput what is your status on this?

[2021-09-28 13:28] nimisha-yadav commented on #3272
Assigning this issue to you @HassanRahim26, all the best!

[2021-09-28 13:31] amanraj-iit commented on #401
I want to contribute in this please assign me

[2021-09-28 13:33] Arya-Gupta commented on #3228
I want to contribute to this issue : Functions in Javascript
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-3228
Contribution Approaches-What is a function, why do we need functions, function scope, what are predefined functions, arrow functions
Type-Audio

[2021-09-28 13:35] ashish-patwal commented on #2686
I have partially done the documentation . I have ongoing practical that's why the delay .

[2021-09-28 13:41] vishnu95075 opened #3368 "[ JAVA ]: final keyword in java"
### Description

# Final keyword in java
- Java final Variable
- Java final Method
- Java final Class

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-09-28 13:41] vishnu95075 commented on #3368
/assign

[2021-09-28 13:42] #588 closed

[2021-09-28 13:44] #1558 closed

[2021-09-28 13:47] adityaraj079 commented on #2595
@gunjan-g you can check the pr created

[2021-09-28 13:51] #599 closed

[2021-09-28 13:53] #2793 closed

[2021-09-28 13:53] Saviour1001 commented on #2424
Closing this as PR  #2429 got merged

[2021-09-28 13:53] #2424 closed

[2021-09-28 13:55] Saviour1001 commented on #1515
Closing this as the PR  got merged

[2021-09-28 13:55] #1515 closed

[2021-09-28 13:55] 0xUvaish commented on #3171
Assign this to me pls,
Name: Mohd Uvaish Siddiqui
Batch: 7
Task: Documentation

[2021-09-28 13:56] divya1467 commented on #3269
Thanks!

[2021-09-28 13:56] ron352 commented on #2410
Sarmistha Sarna
serial no :614
Type : Audio

@prathimacode-hub  Can I work on this audio ?

[2021-09-28 13:57] Ajaycodex opened #3370 "[Linked List ]:"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-28 13:57] Ajaycodex commented on #3370
/assign

[2021-09-28 13:58] Twinkle09 commented on #3370
/assign

[2021-09-28 13:58] #2578 closed

[2021-09-28 13:59] Saviour1001 commented on #2816
Closing as the PR is merged

[2021-09-28 13:59] #2816 closed

[2021-09-28 14:00] #3150 closed

[2021-09-28 14:00] divya1467 commented on #3295
Thanks @goelesha ! I have send a PR for another query which is yet to be merged, can I send another one for the same branch?

[2021-09-28 14:01] Twinkle09 opened #3373 "[Array]:"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-28 14:01] Twinkle09 commented on #3373
/assign

[2021-09-28 14:03] devanshi-code opened #3374 "[REACT JS CHEAT SHEET]:"
### Description

I want to make a cheat sheet for react js which candidate can refer for interview preparation for revision.

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winte

[2021-09-28 14:05] elixir14082002 commented on #3074
/assign

[2021-09-28 14:06] 0xUvaish commented on #3322
Assign to me pls
Name: Mohd Uvaish Siddiqui
Batch: 1
Type: Documentation

[2021-09-28 14:07] 0xUvaish commented on #3321
Hey, assign this to me pls,
Name: Mohd Uvaish Siddiqui
Batch: 1
Type: Documentation

[2021-09-28 14:17] Kanishk0412 opened #3376 "host"
### Description

![arithmetic](https://user-images.githubusercontent.com/75319323/135105346-33d9922e-cfd7-4e73-acdf-615738688e23.png)

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-09-28 14:17] #3376 closed

[2021-09-28 14:18] thejayeshsoni commented on #3180
/assign documentation

[2021-09-28 14:20] Kanishk0412 opened #3377 "host"
### Description

![assignment](https://user-images.githubusercontent.com/75319323/135105874-0714f8dd-b67a-47ed-a1ca-9b3b739d0a82.png)

### Domain

Backend Dev (Java)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/

[2021-09-28 14:20] thejayeshsoni commented on #3180
\assign documentation

[2021-09-28 14:22] Subhradeep10 commented on #3172
@eshan1925 Not assigned to you, I have already said don't do this.
Now I have to talk with higher authourity to take strict action regarding this

[2021-09-28 14:22] #3377 closed

[2021-09-28 14:22] Kanishk0412 opened #3379 "Host"
### Description

![relational](https://user-images.githubusercontent.com/75319323/135106286-18fafcb3-3758-4765-a43f-5f31dc83897b.png)

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-09-28 14:22] #3379 closed

[2021-09-28 14:23] Subhradeep10 commented on #3170
@101Priyanshi @ishivamgupta9 Not assigned to anyone of you, I had said already said don't do this
Now I have to speak with higher autority regarding this.

[2021-09-28 14:23] thejayeshsoni commented on #3180
/assign documentation

[2021-09-28 14:24] Subhradeep10 commented on #3171
@aishapervin @0xUvaish Assigned to you

[2021-09-28 14:24] Kanishk0412 opened #3380 "[Create New Issue]:"
### Description

![logical](https://user-images.githubusercontent.com/75319323/135106582-4bcc3378-eba9-4436-a217-c60473a69a33.png)

### Domain

Backend Dev (Java)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/win

[2021-09-28 14:26] eshan1925 commented on #3172
Ok dont assign...wont ask again...

[2021-09-28 14:26] tamalbag117 commented on #3368
/assign Document

[2021-09-28 14:26] eshan1925 commented on #3172
Thankyou @Subhradeep10

[2021-09-28 14:27] tamalbag117 commented on #3368
\assign Audio

[2021-09-28 14:28] yatharthrajput commented on #2995
hello, i did how we can do add sub mul div dot and cross product on matrix

On Tue, Sep 28, 2021 at 6:58 PM HRITIK KUMAR SINGH ***@***.***>
wrote:

[2021-09-28 14:28] yatharthrajput commented on #2995
can u tell me the last date of submission

On Tue, Sep 28, 2021 at 7:56 PM Yatharth Rajput ***@***.***> wrote:

[2021-09-28 14:30] tamalbag117 commented on #2870
I will provide documentation for Java Final Keyword

On Mon, 27 Sept 2021 at 23:13, Garvitraj Pandey ***@***.***>
wrote:

[2021-09-28 14:41] eshan1925 commented on #1572
/assign

[2021-09-28 14:41] aishapervin commented on #3171
@Subhradeep10 i also had to do the documentation part,so plz clarify whether i am assigned the documentation part or not.Thankyou

[2021-09-28 14:41] Nikita512 commented on #498
Do I have to fork the file? @Anant1711

[2021-09-28 14:42] eshan1925 commented on #1457
@rahulsain is this issue available for documentation?

[2021-09-28 14:42] eshan1925 commented on #1457
Please assign me if it is...

[2021-09-28 14:44] nakshatra-garg commented on #2927
I'm still working on it.

[2021-09-28 14:46] SB2318 commented on #2364
\assign audio

[2021-09-28 14:52] Parth-001-git commented on #1457
@rahulsain  I unassigned myself. Please assign to @eshan1925.

[2021-09-28 14:54] stranger311 commented on #3113
@AkMo3 assign documentation to me. There's some error and its not getting assigned.

[2021-09-28 15:03] Anant1711 commented on #498
Yes you have to fork the girlscript repo

[2021-09-28 15:08] Parth-001-git commented on #516
@rahulsain  Can I create an audio file for this topic?

[2021-09-28 15:13] Suvraneel commented on #2371
Duplicate of #858

[2021-09-28 15:14] #2371 closed

[2021-09-28 15:33] Anant1711 commented on #3319
Assigned!

[2021-09-28 15:34] Anant1711 commented on #3321
One task at a time

[2021-09-28 15:35] #676 closed

[2021-09-28 15:36] Aryamanz29 commented on #667
@LegendSumeet last day?

[2021-09-28 15:38] AkMo3 commented on #3180
@thejayeshsoni You have been assigned documentation.

[2021-09-28 15:39] dhruti29 commented on #3260
Thank you...!!

[2021-09-28 15:39] AkMo3 commented on #3113
@stranger311 You have been assigned documentation

[2021-09-28 15:42] Moeen-Ul-Islam commented on #3310
Yes you can do that!

[2021-09-28 15:46] LegendSumeet commented on #667
Yess sorry I am facing plag issue so just tomorrow is will be ready@Aryamanz29

[2021-09-28 15:49] #2077 closed

[2021-09-28 16:02] sitamadex11 commented on #516
Yeah go for it.

On Tue, 28 Sep 2021, 8:38 pm Parth-001-git, ***@***.***>
wrote:

[2021-09-28 16:03] 0xUvaish commented on #3321
ok, but I haven't been assigned any task yet

[2021-09-28 16:06] Anant1711 commented on #3321
Check symmetric one

[2021-09-28 16:06] 0xUvaish commented on #3321
OK

[2021-09-28 16:12] nandini7637 opened #3390 "Java 16.4 : Main thread"
### Description
 Add audio, documentation, and video regarding the **Main thread**

 **Location of File to be added** The files should be added inside the _`Main thread`_ which will be inside _`Multithreaded Programming`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb` format

[2021-09-28 16:13] nandini7637 opened #3391 "Java 16.5 : Creating thread"
### Description
 Add audio, documentation, and video regarding the **Creating thread**

 **Location of File to be added** The files should be added inside the _`Creating thread`_ which will be inside _`Multithreaded Programming`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb

[2021-09-28 16:15] AbhinandanAdhikari commented on #3391
\assign documentation

[2021-09-28 16:18] koshimagoyal opened #3392 "[FRONTEND WITH FRAMEWORK]: Angular(2.5) -> What is Event Binding?"
### Description

- What is Event Binding?
- How it works?
- How it is different from Property Binding?
- How to customise event binding?
- Explain with code snippets
- Reference :- https://angular.io/guide/event-binding
(Week 2 Issue)

Note:-

1. Don't copy paste, we would be merging  after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week2

[2021-09-28 16:19] syedareehaquasar commented on #3374
Go ahead! All the best!

[2021-09-28 16:22] samridhikapoor commented on #362
@prathimacode-hub I have created a PR for the video contribution of this issue. Kindly review the same.
Thanks

Link to the PR: https://github.com/girlscript/winter-of-contributing/pull/3393

[2021-09-28 16:31] koshimagoyal opened #3398 "[FRONTEND WITH FRAMEWORK]: Angular(2.6) -> What is Two Way Data Binding?"
### Description

- What is Two Way Data Binding?
- How it is different from One Way Data Binding?
- How it works?
- How it is implemented in forms?
- Explain with code snippets/syntax.
- Reference :- https://angular.io/guide/two-way-binding
(Week 2 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angul

[2021-09-28 16:36] Subhradeep10 commented on #3171
@aishapervin You have to do only the documentation part

[2021-09-28 16:39] #2625 closed

[2021-09-28 16:40] Rohit484 commented on #3366
/assign

[2021-09-28 16:40] avanish460 commented on #3390
\assign documentation

[2021-09-28 16:40] sunidhii09 commented on #3391
/assign documentation

[2021-09-28 16:41] LegendSumeet commented on #3398
assign me
@koshimagoyal

[2021-09-28 16:41] LegendSumeet commented on #3390
assign me @nandini7637

[2021-09-28 16:42] AbhinandanAdhikari commented on #3391
@garvitraj @AkMo3 I have commented first

[2021-09-28 16:44] LegendSumeet commented on #3398
/assign

[2021-09-28 16:48] sunidhii09 commented on #3391
Sorry, but you had used the wrong slash sign.

[2021-09-28 16:50] shubhmittal07 commented on #3048
Can we also contribute projects , it would be like a tutorial. @rahulsain

[2021-09-28 16:50] pragmatic-philosopher09 commented on #3321
Hi, can I take this up under documentation? I've unassigned myself from the previous task of creating a virus...

[2021-09-28 16:52] Pooja-Goyal-1 commented on #518
@rahulsain  here is the link to .ipynb file https://colab.research.google.com/drive/1W5PYQF0Qx2PeKxwc_kY1-jEIvNuWSnfs?usp=sharing

[2021-09-28 16:53] #558 closed

[2021-09-28 16:55] LegendSumeet commented on #542
Tomorrow I will going to create pull request

[2021-09-28 16:56] avanish460 commented on #3390
/assign documentation

[2021-09-28 16:58] LegendSumeet commented on #3390
/assign

[2021-09-28 17:00] LegendSumeet commented on #3392
Assign me /assign

[2021-09-28 17:00] LegendSumeet commented on #3392
@koshimagoyal assign meee

[2021-09-28 17:01] LegendSumeet commented on #3398
/assign

[2021-09-28 17:03] LegendSumeet commented on #3398
@koshimagoyal assign me my fav topic mam plz .......

[2021-09-28 17:03] #2684 closed

[2021-09-28 17:05] saloni-15 commented on #2251
hey @NimeshJohari02, whats the status for this issue?

[2021-09-28 17:06] NimeshJohari02 commented on #2251
I am working on it. I had exams recently . it'll be done in a few days.

On Tue, 28 Sep, 2021, 10:35 pm Saloni Subedi, ***@***.***>
wrote:

[2021-09-28 17:06] saloni-15 commented on #2252
hey @pankaj-Makhijani , what's the status of this issue?

[2021-09-28 17:08] #2121 closed

[2021-09-28 17:09] saloni-15 commented on #2251
ok, thanks for clarifying

[2021-09-28 17:09] saloni-15 commented on #2400
hey @priyanka001tech , what's the status of this issue?

[2021-09-28 17:12] BasuDevTyagi10 commented on #2250
Hi @hritikksingh a few changes in the README file are left.. it's almost done I might even be ready to raise a PR later tonight. Sorry for the delay as I was busy with university exams.

[2021-09-28 17:15] mansisingh2803 opened #3409 "[Create New Issue]: HTML emojis"
### Description

  I want to create an issue on the topic HTML emojis. I want to contribute in the documented form.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wint

[2021-09-28 17:15] devanshi-code commented on #3374
Thank you

[2021-09-28 17:15] mansisingh2803 commented on #3409
/assign

[2021-09-28 17:17] Anant1711 commented on #3321
Okay

[2021-09-28 17:21] #3368 closed

[2021-09-28 17:28] prernakumari031 opened #3413 "What is HTTP?"
### Description

Description
Describe the different types of lists and their uses

/assigne

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/

[2021-09-28 17:28] Surbhi-sinha commented on #2358
I wanted to add the section of AJAX XML and AJAX Applications. please assign it to me.
/assign

[2021-09-28 17:29] prernakumari031 commented on #3413
/assign

[2021-09-28 17:30] Pranshu321 opened #3414 "C_CPP: Access Specifiers in Classes"
### Description

In this topic i give detail explanation of access specifiers used in the classes in this i talk about the public,private and protected specifiers how,when,why they are used in classes.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONT

[2021-09-28 17:31] Pranshu321 commented on #3414
/assign

[2021-09-28 17:41] 101Priyanshi opened #3417 "ML 2.21 Polynomial Regression"
### Description

I will explain the concept of polynomial regression with the help of formulas and figures and then explain the code for implementing it in python

### Domain

Machine Learning

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of cond

[2021-09-28 17:42] 101Priyanshi commented on #3417
Full name : Priyanshi Saxena
Batch Number : 5
GitHub Profile Link : https://github.com/101Priyanshi
type of Contribution : Documentation

[2021-09-28 17:50] vishnu95075 commented on #1196
/assign documentation

[2021-09-28 17:55] vishnu95075 commented on #1995
/assign documentation

[2021-09-28 17:55] vishnu95075 commented on #2061
/assign documentation

[2021-09-28 17:56] vishnu95075 commented on #2090
/assign documentation

[2021-09-28 17:57] debjitpal5040 commented on #3173
Debjit Pal, DSA Batch 1
Please assign me this issue. I want to do the documentation part.

[2021-09-28 17:59] 101Priyanshi commented on #3417
/assign

[2021-09-28 18:00] vishnu95075 commented on #2627
/assign documentation

[2021-09-28 18:00] vishnu95075 commented on #3391
/assign documentation

[2021-09-28 18:01] vishnu95075 commented on #3180
/assign documentation

[2021-09-28 18:02] vishnu95075 commented on #3183
/assign documentation

[2021-09-28 18:02] vishnu95075 commented on #3390
/assign documentation

[2021-09-28 18:04] firefistacez commented on #1466
\assign video

[2021-09-28 18:05] firefistacez commented on #1466
\assign Video

[2021-09-28 18:09] hardikk2002 opened #3422 "MERN_Express: 2.1 Send HTML & JSON Data as a Response"
### Description

### :pushpin:  Minimum points to be covered.

- How to send Data as response on `.get("/", call_back)`.
- Send HTML  Tag & JSON Data as a Response.
       - Difference between `res.write() and res.send() and res.json()`.
- What is `Status Code`, how to set it.
- What is `content-type`, and what client expect, in different content type, header.
       - Example, for `res.json() ->

[2021-09-28 18:11] aishapervin commented on #3422
/assign

[2021-09-28 18:12] aishapervin commented on #3422
@hardikk2002 plz assign me this issue

[2021-09-28 18:17] Bhuvnesh875 commented on #3422
/assign

[2021-09-28 18:20] hardikk2002 commented on #3422
@aishapervin You can't work on more than 3 issues at the same time. So please complete them first.

[2021-09-28 18:31] priyanka001tech commented on #2400
Ma'am I'm started to write installation process of mongodb community edition on ubuntu.. I'll complete it by 2-3 days

[2021-09-28 18:34] supercoder246 opened #3429 "fun facts about c language"
### Description

In this document I will be going to list some fun and amazing facts about c language

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.git

[2021-09-28 18:35] supercoder246 commented on #3429
/assign

[2021-09-28 18:41] #2305 closed

[2021-09-28 18:47] subhoshreep opened #3434 "[C_CPP]: concept of arrays (video)"
### Description

Description:
explanation of arrays in CPP with help of video tutorials.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-09-28 18:47] subhoshreep commented on #3434
/assign

[2021-09-28 18:48] subhoshreep commented on #3434
/assign

[2021-09-28 18:52] I-ArchanaDash commented on #77
@prathimacode-hub Here's my PR link https://github.com/girlscript/winter-of-contributing/pull/1763  Pls review it

[2021-09-28 18:54] I-ArchanaDash commented on #77
https://github.com/girlscript/winter-of-contributing/pull/1763

[2021-09-28 19:00] PrachiDoshi2170 opened #3435 "CSS Transition and Tranformation"
### Description

### Description.

I will describe about the CSS transition and transform properties in detail with live coded examples for the same.

@moulikagrawal please assign this work to me

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-09-28 19:09] PrachiDoshi2170 commented on #3322
@Anant1711 Please assign the documentation to me

[2021-09-28 19:25] onlykingKD commented on #3308
/assign

[2021-09-28 19:32] #231 closed

[2021-09-28 19:34] garvitraj commented on #3391
@AbhinandanAdhikari go with documentation

[2021-09-28 19:35] I-ArchanaDash commented on #231
Since Many people have opened the same issue, I have closed mine.

[2021-09-28 19:39] nimisha-yadav commented on #1783
@arsheelsheikh, any updates?

[2021-09-28 19:40] nimisha-yadav commented on #1780
any updates? @Shruti-Subu

[2021-09-28 19:42] Apoorv-17 commented on #3299
I would like to work on this issue.
Name: Apoorv Yadav
Batch: 7
Type: Documentation
Approach: Introduction, Algorithm, Working of the algo, Time and Space complexity and at last implementation of insertion sort.

[2021-09-28 19:44] nimisha-yadav commented on #2456
This topic has already been covered so closing this issue.

[2021-09-28 19:44] #2456 closed

[2021-09-28 20:45] Elisha-s commented on #1292
/assign

[2021-09-28 21:12] das-ankur commented on #2713
I am prepraing a document of different techniques how we can load audio data and do some basic preprocessing before using it in a model. It will be prepraed by  tomorrow.

[2021-09-28 21:13] das-ankur commented on #1259
I preprare a document and I am making video by explaining the whole document.

[2021-09-28 22:26] arsheelsheikh commented on #2426
@AkMo3 PR of documentation for `Method Overriding in Java` - https://github.com/girlscript/winter-of-contributing/pull/3445

[2021-09-29 00:09] pankaj-Makhijani commented on #2252
@saloni-15 Working on it, but somework is still pending so will be creating pull request tomorrow.

[2021-09-29 01:28] moulikagrawal commented on #3435
This issue is already opened qnd being worked upon. Kindly check with the existing issues list before opening an issue.

[2021-09-29 01:46] arsheelsheikh commented on #1783
@nimisha-yadav working on it will finish it by tomorrow ASAP

[2021-09-29 02:26] mohitmishra786 commented on #610
actually some day back I lost my brother due to which I am busy with the rituals of family , just give me time till 31, I will surely upload all the work-related this PR

[2021-09-29 02:55] 7sakshi7 commented on #3308
/assign

[2021-09-29 02:56] 7sakshi7 commented on #3295
/assign

[2021-09-29 02:57] #3058 closed

[2021-09-29 02:57] 7sakshi7 commented on #3272
/assign

[2021-09-29 03:18] Yugal41735 commented on #2796
@abhisheks008  I tried to clone the repo, but after cloning the folder that created is empty and even tried to switch branch but still no luck it is showing some errors, so please look into it.

[2021-09-29 03:28] tamalbag117 commented on #2164
/assign audio

[2021-09-29 03:28] itsKiranay commented on #2616
Hey @adityabisoi , can you assign a mentor to this issue. Thank You.

[2021-09-29 03:28] rahulsain commented on #3048
Sure, please provide me with what project you are currently thinking of implementing?

[2021-09-29 03:29] tamalbag117 commented on #2091
/assign audio

[2021-09-29 03:30] tamalbag117 commented on #3112
/assign audio

[2021-09-29 03:32] tamalbag117 commented on #3112
/assign audio

[2021-09-29 03:33] 7sakshi7 commented on #3247
/assign

[2021-09-29 03:33] 7sakshi7 commented on #3214
/assign

[2021-09-29 03:34] 7sakshi7 commented on #3214
Name : Sakshi Agarwal
Batch : 10

[2021-09-29 03:35] 7sakshi7 commented on #3213
Name - Sakshi Agarwal
Batch - 10

[2021-09-29 03:37] 7sakshi7 commented on #3327
I would like to work upon this

[2021-09-29 03:39] tamalbag117 commented on #3112
Hei @sumitaccess007, I want to work in CONTENT_TYPE: Audio, in this issue. But every time slash assign command fails. Please assign this issue to me.

[2021-09-29 03:41] tamalbag117 commented on #2623
/assign documentation

[2021-09-29 03:41] Anant1711 commented on #3322
Assigned!

[2021-09-29 03:44] tamalbag117 commented on #2623
@VedRatan please assigned me to this issue. I think currently no one work on this issue.

[2021-09-29 03:53] sunidhii09 commented on #3391
But he had used the wrong slash sign. I have not been assigned a single issue till now! That's not fair.

[2021-09-29 03:54] tamalbag117 commented on #2212
@pratul20  I want to work on this issue. I will provide a content-type video or audio for this issue .please assign me to this issue with content type video or audio for this issue.

[2021-09-29 03:55] #737 closed

[2021-09-29 03:55] #785 closed

[2021-09-29 03:56] #788 closed

[2021-09-29 03:57] #789 closed

[2021-09-29 03:57] #1479 closed

[2021-09-29 03:57] #2499 closed

[2021-09-29 03:58] Anant1711 commented on #1960
@prithwishpramanik When do you submit your work?
You took 7 days!

[2021-09-29 03:58] #1672 closed

[2021-09-29 03:58] #1959 closed

[2021-09-29 03:59] #1484 closed

[2021-09-29 03:59] #1481 closed

[2021-09-29 04:21] adityaraj079 commented on #2595
@gunjan-g can you check the pr

[2021-09-29 04:25] utkarshpathak2504 opened #3447 "C_CPP:TYPEDEF IN CPP"
### Description

Documentation on **typedef** in C/C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-29 04:25] utkarshpathak2504 commented on #3447
/assign

[2021-09-29 04:25] utkarshpathak2504 commented on #3447
/assign

[2021-09-29 04:27] shubhmittal07 commented on #3048
I was thinking of a project which deals with the implementation of Recycler View . It will be a project for beginners. @rahulsain

[2021-09-29 04:31] AnantDuhan commented on #3409
/assign

[2021-09-29 04:31] AnantDuhan commented on #3315
/assign

[2021-09-29 04:37] akratikushwah commented on #3435
/assign

[2021-09-29 04:38] AnantDuhan commented on #3245
/assign

[2021-09-29 04:38] AnantDuhan commented on #3228
/assign

[2021-09-29 04:39] AnantDuhan commented on #865
/assign

[2021-09-29 04:43] avanish460 commented on #3390
Thank you for assigning me

[2021-09-29 04:43] akratikushwah opened #3449 "CSS : Lists"
### Description

Introduction to Lists

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-29 04:43] akratikushwah commented on #3449
/assign

[2021-09-29 04:44] akratikushwah commented on #3449
/assign

[2021-09-29 04:48] AnantDuhan commented on #3449
/assign

[2021-09-29 05:06] #2630 closed

[2021-09-29 05:07] #85 closed

[2021-09-29 05:12] #236 closed

[2021-09-29 05:15] rahulsain commented on #3048
Recycler View and API?
we can create an app which display super power of any favorite franchise like marvel etc,

[2021-09-29 05:21] prathimacode-hub commented on #3341
Issue assigned to @rachita11 for video contribution

[2021-09-29 05:21] ShivaniAgarwal2001 commented on #1539
/assign documentation

[2021-09-29 05:22] mukeshmjn opened #3452 "[FRONTEND WITH FRAMEWORK]: Angular(2.4)->What is Event Binding?"
### Description

- What is event binding?
- How it works?
- What is its use?
- Explain with examples/code.
- Brief about property binding among components.
- Explain with code snippets/syntax.
- Reference :- https://angular.io/guide/event-binding

(Week-2 Issue)

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_We

[2021-09-29 05:24] mukeshmjn commented on #3392
Done @LegendSumeet go for it!

[2021-09-29 05:24] #3452 closed

[2021-09-29 05:26] AnantDuhan commented on #3449
/assign

[2021-09-29 05:30] kashishahuja2002 commented on #3447
/assign

[2021-09-29 05:34] #699 closed

[2021-09-29 05:39] goelesha commented on #3296
@Parth-001-git No problem. You can look for some other issue to work on.

[2021-09-29 05:40] goelesha commented on #3299
@Apoorv-17 This issue is for video.

[2021-09-29 05:45] goelesha commented on #1239
@ujju20 You have not yet submitted any PR. The issue will be unassigned if you do not submit PR by tomorrow.

[2021-09-29 05:48] #1240 closed

[2021-09-29 05:49] goelesha commented on #1242
@radha919 You have not yet submitted PR. The issue will be unassigned if PR is not submitted by tomorrow.

[2021-09-29 05:55] ravireddy07 commented on #1064
@micepram raised the PR, Please review it.

[2021-09-29 05:56] Isha307 commented on #611
@mandeep168 any update?

[2021-09-29 05:56] shubhmittal07 commented on #3048
Yeah I can do that. Will start working on it as soon as possible.
Activity 1 - >will include , multiple franchise to select like Marvel , DC etc.
Activity 2  -> will include the super power of the selected franchise
@rahulsain

[2021-09-29 05:56] goelesha commented on #2237
@sumitaccess007 Assigning you the issue for video. Make sure to submit a PR within 7 days.

[2021-09-29 05:57] Isha307 commented on #605
@UditJain77 update?

[2021-09-29 05:59] Isha307 commented on #1966
@HastiSutaria face is not compulsory.
Any Update?

[2021-09-29 06:03] goelesha commented on #2241
@siddhi-244 Pls submit a PR by tomorrow else the issue will be assigned to someone else.

[2021-09-29 06:03] siddhi-244 commented on #2241
Sure will do it today.

[2021-09-29 06:16] #2518 closed

[2021-09-29 06:17] #3435 closed

[2021-09-29 06:17] #2239 closed

[2021-09-29 06:18] siddhi-244 commented on #2241
Maam I had a doubt. I made  a pr but you closed it saying that code is copied from gfg but I didn't copy I just referenced it from there. I don't have any other solution for that problem.

[2021-09-29 06:19] astha2412 opened #3461 "[C/C++]: Arrays"
### Description

I will add the theory of arrays, its syntax, understandable images  and codes of array
in a very easy way that even a newbie can understand easily!
I will use the documentation for this purpose.
/assign

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob

[2021-09-29 06:19] PrachiDoshi2170 opened #3462 "HTML Geolocation API"
### Description

### Description
I will add all the details regarding the HTML Geolocation API.
@moulikagrawal please assign this to me.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://githu

[2021-09-29 06:20] Apurva-oct opened #3463 "BINARY SEARCH"
### Description

Description

To Explain about Binary Search in detail.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-09-29 06:21] #2448 closed

[2021-09-29 06:21] Apurva-oct commented on #3463
/assign

[2021-09-29 06:22] Moeen-Ul-Islam commented on #2449
/assign

[2021-09-29 06:25] goelesha commented on #2241
@siddhi-244 Your code and even the explanation was exactly copied word to word from GFG.
No problem you can work on some other issue.

[2021-09-29 06:26] siddhi-244 commented on #2241
Ok I will try it again once. But if the code is kinda similar is it okayy??

[2021-09-29 06:26] goelesha commented on #2241
@Harsh-Chaudhary7 Assigning the issue to you. Make sure to submit a PR within 7 days.

[2021-09-29 06:26] astha2412 commented on #3461
/assign

[2021-09-29 06:27] siddhi-244 commented on #2241
Maam I was doing it.

[2021-09-29 06:28] goelesha commented on #2241
@siddhi-244 Similar code and copied code are two different things. You entirely copied. I am not flagging your submission. Assigning the issue to someone else. Make sure not to copy from next time else your submission will be flagged and plagiarised label will be added to PR.
You can look for some other issue to work on.

[2021-09-29 06:29] siddhi-244 commented on #2241
Ok fyn maam.

[2021-09-29 06:41] aishapervin commented on #3079
@goelesha where do i have to add my file inside dsa branch?
it has got only 2 folders so inside which folder?

[2021-09-29 06:47] eshan1925 commented on #1457
Hey @sitamadex11 and @rahulsain < I have created the PR and if there is no issue you can merge it.
Thanks

[2021-09-29 06:47] garvitraj commented on #3112
@tamalbag117 go with audio

[2021-09-29 06:51] akshat12000 opened #3467 "[Issue]: Brian Kernighan’s Algorithm"
### Description

Given an integer number, the task is to find the number of 1's in the binary representation of the given number.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gi

[2021-09-29 06:51] akshat12000 commented on #3467
/assign

[2021-09-29 06:52] paramsiddharth commented on #3310
@cenacrharsh Hey! Pardon for the delay in reply. I think you might not be eligible to work for this issue unless you are a registered contributor for the JavaScript domain. FEWD contributors can only work on JavaScript issues pertaining to the FEWD branch.

[2021-09-29 06:52] tavneetgill commented on #2406
@prathimacode-hub is this issue available for audio?

[2021-09-29 06:55] prithwishpramanik commented on #1960
Today only...I was busy with some college stuff.

[2021-09-29 06:55] paramsiddharth commented on #2990
@daminimehra I'm so sorry, the issue was automatically tagged JavaScript by the bot. It seems to be for FEWD instead.

[2021-09-29 06:56] roshinigupta27 commented on #3449
/assign

[2021-09-29 06:57] cenacrharsh commented on #3310
Ok then unassign me as I am not a part of Js domain, I belong to FEWD domain.

[2021-09-29 06:57] paramsiddharth commented on #266
@joshi-kaushal Please go to #3310 . The above issue is outdated.

[2021-09-29 06:57] #266 closed

[2021-09-29 07:02] paramsiddharth commented on #3310
@Moeen-Ul-Islam @daminimehra Please tag #721 in your PRs, not this issue. It is duplicate, to be closed.

[2021-09-29 07:02] #3310 closed

[2021-09-29 07:02] paramsiddharth commented on #721
@Moeen-Ul-Islam @daminimehra Comment below if you wish to be assigned.

[2021-09-29 07:03] tavneetgill commented on #2403
@prathimacode-hub I would like to work on this issue
Name: Tavneet Kaur Gill
Serial No. 323
Type: Audio
Approach: Explanation how it works, what it means, how to incorporate in different topics of data science

[2021-09-29 07:05] daminimehra commented on #721
@paramsiddharth pls assign this Issue to me. I would like to work on this issue.

[2021-09-29 07:07] daminimehra commented on #3327
@paramsiddharth

[2021-09-29 07:07] paramsiddharth commented on #2358
@Surbhi-sinha Please note that a PR for documentation has already been merged. Either extend it, or contribute in another format in your PR. Good luck!

[2021-09-29 07:08] jaissumi1402 opened #3468 "DSA: Problem on arithmetic operations on string"
### Description

Calculate the sum of numbers present in  a string.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-09-29 07:08] jaissumi1402 commented on #3468
/assign

[2021-09-29 07:09] paramsiddharth commented on #3327
@daminimehra @7sakshi7 @joshi-kaushal Please read the modified issue description. Good luck!

[2021-09-29 07:11] goelesha commented on #3079
@aishapervin Inside the DSA folder you can create a folder with the name 2.1 Strings and insert the file inside that.

[2021-09-29 07:13] AnantDuhan commented on #721
can we do this if we are from HTML/CSS/JS

[2021-09-29 07:17] Moeen-Ul-Islam commented on #721
You should ask the mentor or supervisor

[2021-09-29 07:22] paramsiddharth commented on #721
@AnantDuhan I'm sorry, unless you are a contributor in the JavaScript domain, you may not create PRs for JavaScript issues. No worries! :) There are lots of issues for FEWD. Good luck!

[2021-09-29 07:25] IshikaMeghaSaha commented on #2800
May I be assigned this task? I will be doing it in documentation form if assigned.

[2021-09-29 07:26] #868 closed

[2021-09-29 07:28] preeti-14-7 opened #3473 "HTML Media"
### Description

Detail explanation of Html media
with code snippet

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-09-29 07:29] preeti-14-7 commented on #3473
/assign

[2021-09-29 07:32] Diksha-11 commented on #740
I corrected the nomenclature properly. Please /assign @manjeetdhayal sir.

[2021-09-29 07:33] tamalbag117 commented on #3112
Thank you @garvitraj ,I will provide audio content for this issue.

[2021-09-29 07:52] Muskan-creator opened #3479 "DSA:2.2.10 Searching & Sorting Algorithms : Quick Sort - Audio"
### Description
Implement and explain Quick sort Algorithm

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-09-29 07:53] Anna-cod commented on #353
/assign

[2021-09-29 07:53] Arjun2905 commented on #1199
@AkMo3 Please go through my pull request for video contribution https://github.com/girlscript/winter-of-contributing/pull/3478

[2021-09-29 07:54] Muskan-creator opened #3480 "DSA 2.2.10 Searching & Sorting Algorithms : Quick Sort - Documentation"
### Description

Implement and explain Quick sortAlgorithm

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-09-29 07:58] #1639 closed

[2021-09-29 08:01] raghav01ib commented on #3480
/assign

[2021-09-29 08:01] 23-24 commented on #1567
@prathimacode-hub ,please assign me the issue

[2021-09-29 08:02] princemsd007 opened #3483 "Technical Interview - MUST DO DSA's"
### Description

Focus on top asked DSA topics and attach links to several coding questions and blogs. Should have good content with Tips and good practices for Technical interviews. Don't solve questions in this issue (just overview the topics).

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/gi

[2021-09-29 08:06] princemsd007 opened #3484 "Technical Interview - Arrays and Strings"
### Description

This issue should contain an approach to the top 10-12 questions of Arrays and Strings both.  In cpp/java language.  Video Solution will be good if made !!  Search for the quality questions on the web and explain the approach in your words for each problem you solve (either you can add comments in the code or subtitles in your video) .

### Domain

Interview Prep

### Type of Cont

[2021-09-29 08:09] airan04 commented on #210
I would like to contribute to this issue.

[2021-09-29 08:09] princemsd007 opened #3485 "Technical Interview - Linked List"
### Description

This issue should contain an approach to the top 10-12 questions of Linked-List. In cpp/java language. Video Solution will be good if made !! Search for the quality questions on the web and explain the approach in your words for each problem you solve (either you can add comments in the code or subtitles in your video).

### Domain

Interview Prep

### Type of Contribution

Video,

[2021-09-29 08:10] vk-2501 commented on #2660
Kindly merge my pull request

[2021-09-29 08:10] m0hit-kumar commented on #3060
I would like to work on this.
/assign

[2021-09-29 08:11] princemsd007 opened #3487 "Interview Preparation - Stack & Queues"
### Description

This issue should contain an approach to the top 10-12 questions of Stack & Queues. In cpp/java language. Video Solution will be good if made !! Search for the quality questions on the web and explain the approach in your words for each problem you solve (either you can add comments in the code or subtitles in your video).

### Domain

Interview Prep

### Type of Contribution

Vid

[2021-09-29 08:15] harshita214 opened #3488 "HTML/CSS: fix position of nav bar"
### Description

Navigation bar at top should be fixed all the time and it should not hide when scrolled.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-cont

[2021-09-29 08:15] harshita214 commented on #3488
/assign

[2021-09-29 08:23] Jonty512 commented on #2630
This was closed only because the issue was not assigned to me yea?

[2021-09-29 08:24] Pranshu321 opened #3490 "C_CPP : Level order Traversal in Binary Tree"
### Description

In this i give full explain about the approach of the level order traversal in binary tree in document form and with good code snippet and also with understandable comments .

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.m

[2021-09-29 08:25] Pranshu321 commented on #3490
/assign

[2021-09-29 08:33] Elisha-s commented on #1231
resolved

[2021-09-29 08:39] #2502 closed

[2021-09-29 08:41] RIYANSHGARG commented on #3235
I have added the pull request, Kindly review it.

[2021-09-29 08:42] pratyaksh1610 opened #3494 "Questions on Number Theory Concepts ( Competitive Programming ) C++"
### Description

:heavy_plus_sign: Adding Questions on Number Theory Concepts with code and explanation in detail

:scroll: Documentation format

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:

[2021-09-29 08:42] pratyaksh1610 commented on #3494
/assign

[2021-09-29 08:42] RIYANSHGARG commented on #3398
I would like to work on this issue kindly assign it to me.
/assign

[2021-09-29 08:43] pratyaksh1610 commented on #3494
/assign

[2021-09-29 08:45] Asmit2952 commented on #3483
I want to work on this. Can you assign this to me?

[2021-09-29 08:45] Asmit2952 commented on #3483
/assign

[2021-09-29 08:49] RIYANSHGARG commented on #3398
/assign

[2021-09-29 08:49] Elisha-s commented on #1231
@sifa123  I guess there was some issue with the linking because I cannot see the linked pull request here. I'm really confused. Can you please guide me through it?

[2021-09-29 08:50] Asmit2952 commented on #3483
The three issues assigned to me are multi-contribution issues. please assign this issue to me

[2021-09-29 08:52] Moeen-Ul-Islam commented on #2449
Should I close the issue with attaching file here itself or make a PR ?

[2021-09-29 08:52] Asmit2952 commented on #87
I'll unassign myself as the PR has been merged

[2021-09-29 08:54] Asmit2952 commented on #3483
I have unassigned mysel from those issues now, because PRs had been merged.

[2021-09-29 08:56] #1231 closed

[2021-09-29 09:11] manojna191 opened #3496 "CSS Grid vs Flex video"
### Description

Video with presentation

- Grid:

1. Grid definition
2. How grid looks

- Flex:

1. Flex definition
2. how flex looks

- Difference between grid and flex

- Advantages and Disadvantages of flex and grid

- When to use grid and flex

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.co

[2021-09-29 09:12] manojna191 commented on #3496
/assign

[2021-09-29 09:12] subhradwip01 opened #3497 "Objects and Arrays in Javascript"
### Description

I will make documentation about arrays and objects in javascript.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.git

[2021-09-29 09:13] subhradwip01 commented on #3497
/assign

[2021-09-29 09:16] #1579 closed

[2021-09-29 09:32] bhumitbedse commented on #3462
/assign

[2021-09-29 09:34] rishigupta1109 opened #3501 "Queue in C++ Standard Template Library"
### Description

This documentation will explain queue of STL in c++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-09-29 09:34] rishigupta1109 commented on #3501
/assign

[2021-09-29 09:34] rishigupta1109 commented on #3501
/assign

[2021-09-29 09:42] jaissumi1402 commented on #3468
@nimisha-yadav can I work on this issue?

[2021-09-29 09:56] eshan1925 commented on #1456
/assign

[2021-09-29 10:00] ShikhaSwati60 commented on #3480
Name-Swati Shikha
Batch 7
Documentation

[2021-09-29 10:01] motasimmakki opened #3504 "Queue Implementation in C"
### Description

Description
In this documentation, I will explain the implementation of Queue Data Structure in the C programming language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscrip

[2021-09-29 10:01] motasimmakki commented on #3504
/assign

[2021-09-29 10:03] heet-kumar commented on #1766
@CSAURABH great work done so here I am closing this issue here

[2021-09-29 10:05] pratishthaa opened #3505 "Flutter: Dealing with assets -Documentation"
### Description

Add documentation on assets, covering:
- Specifying assets
- Asset bundling
- Asset variants
- Loading assets(text, images, with package dependencies)
- Bundling of package assets
Sharing assets with the underlying platform(ios, Linux, Windows)

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines]

[2021-09-29 10:07] pratishthaa opened #3506 "Flutter: Dealing with assets -Video"
### Description

Add video explaining (with a demo) about assets, covering:
- Specifying assets
- Asset bundling
- Asset variants
- Loading assets(text, images, with package dependencies)
- Bundling of package assets
Sharing assets with the underlying platform(ios, Linux, Windows)

### Domain

Android Dev (Flutter)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing

[2021-09-29 10:10] VikasYadav-1 commented on #3480
/assign

[2021-09-29 10:11] VikasYadav-1 commented on #3480
Documentation

[2021-09-29 10:11] pratishthaa opened #3507 "Flutter : Navigation - Documentation"
### Description

Add documentation on Navigation in Flutter, covering:
- the Navigation model
-  its approach
- Navigator API

Cover examples too!

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:

[2021-09-29 10:12] prathimacode-hub commented on #2262
@shreyarai05 you had created this issue by own, but there is already an issue running and assigned to someone else. Don't create issues without notifying to avoid duplication. Else your efforts would be wasted.

[2021-09-29 10:13] pratishthaa opened #3508 "Flutter : Navigation - Video"
### Description

Add video on Navigation in Flutter, covering:
- the Navigation model
-  its approach
- Navigator API

Cover examples too with complete explanation!

### Domain

Android Dev (Flutter)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of condu

[2021-09-29 10:14] #2262 closed

[2021-09-29 10:16] ron352 commented on #2410
Sarmsitha Sarna
Serial Number - 614
Type - Audio
Can I work on this?
@prathimacode-hub

[2021-09-29 10:17] pratishthaa opened #3509 "Flutter : Deep Linking - Documentation"
### Description

Add documentation on Deep Linking in Flutter, covering:

- Enabling deep linking on different OS
- Testing deep linking on different OS
- Migrating from plugin-based deep linking
- Behavior of Linking(routing on different OS)

Give examples for syntax.

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Gui

[2021-09-29 10:19] pratishthaa opened #3510 "Flutter : Deep Linking -Video"
### Description

Add video explanation on Deep Linking in Flutter, covering:

- Enabling deep linking on different OS
- Testing deep linking on different OS
- Migrating from plugin-based deep linking
- Behavior of Linking(routing on different OS)

Give examples for syntax.

### Domain

Android Dev (Flutter)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guideli

[2021-09-29 10:22] pratishthaa opened #3511 "Flutter : Animation - Documentation"
### Description

Add documentation on Animations in Flutter, covering:

- Animation
- types of animation
- description of all types(with code examples)
- approach

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-09-29 10:24] pratishthaa opened #3512 "Flutter : Animation - Video"
### Description

Add video explanation on Animations in Flutter, covering:

- Animation
- types of animation
- demo for all types
- approach

### Domain

Android Dev (Flutter)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/g

[2021-09-29 10:26] ruchitadamodar1922 opened #3513 "[Create New Issue]: Technical Questions"
### Description

This issue is for the most important 10-12 questions on HashMaps. Video Type solutions are highly encouraged. The questions selected should be such that they cover wide range of topics and do not overlap in terms of concepts.
langauge : Java/Cpp

### Domain

Interview Prep

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Gui

[2021-09-29 10:26] eshan1925 commented on #3511
/assign

[2021-09-29 10:27] adityaraj079 commented on #3507
can i work on this issue

[2021-09-29 10:32] ruchitadamodar1922 opened #3515 "[Create New Issue]: Cheat Sheet -OS"
### Description

Create a cheat sheet for operating systems which is one the most important core subjects

- important concepts
- important algorithm implementations( eg. consumer producer)

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIB

[2021-09-29 10:49] prathimacode-hub commented on #3176
Issue assigned to @deepthi1107 for video contribution

[2021-09-29 10:58] Saviour1001 commented on #3364
Closing as the PR got merged

[2021-09-29 10:58] #3364 closed

[2021-09-29 11:02] #926 closed

[2021-09-29 11:03] Saviour1001 commented on #926
Closed as the PR #3386 got merged

[2021-09-29 11:03] prathimacode-hub opened #3520 "Data Science with Python : PDFs and CDFs in ML"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about PDFs and CDFs in ML. Tutorial to Temporal PDFs and CDFs in ML and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you pref

[2021-09-29 11:04] rahulsain commented on #3048
Sure, but make sure that you write clean and good quality code

[2021-09-29 11:04] surjyaneeh commented on #3520
Name: Surjyanee Halder
Sl. No. :966
Type: Documentation
Approach : introduction, uses, python code samples, conclusion

[2021-09-29 11:06] #2931 closed

[2021-09-29 11:07] prathimacode-hub opened #3521 "Data Science with Python : Depression Detection using ML"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Depression Detection using ML. Tutorial to Depression Detection using ML and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choi

[2021-09-29 11:10] ayushjain27 commented on #2987
I am not able to create pull request in this repository.  Not able to merge. Help me

[2021-09-29 11:11] prathimacode-hub opened #3523 "Data Science with Python : Drug Classification"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Drug Classification. Tutorial to Drug Classification using various algorithms and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and

[2021-09-29 11:13] ron352 commented on #3521
Sarmistha Sarna
Serial no:614
Type: documentation
Approach: depression binary classification using various algorithm and accuracy check

[2021-09-29 11:13] motasimmakki commented on #3504
Kindly review PR #3522

[2021-09-29 11:13] ganaaduvva commented on #2624
/assign documentation

[2021-09-29 11:17] ganaaduvva commented on #2624
@AkMo3 if the documentation issue is not resolved can I go with the issue

[2021-09-29 11:18] shubhmittal07 commented on #3048
Yeah I will make sure of it

[2021-09-29 11:22] AkMo3 commented on #2624
@ganaaduvva You have been assigned documentation

[2021-09-29 11:26] prathimacode-hub commented on #3520
Issue assigned to @surjyaneeh for documentation

[2021-09-29 11:27] prathimacode-hub commented on #3521
Issue assigned to @ron352 for documentation

[2021-09-29 11:27] prernakumari031 commented on #3413
what is HTTP?
HTTP is abbreviated as Hypertext Transfer Protocol, an application layer protocol used primarily with the WWW (World Wide Web) in the client-server model where a web browser is a client communicating with the webserver which is hosting the website. Since 1990, this has become the foundation for data communication. HTTP is a standard and stateless protocol that is used for different p

[2021-09-29 11:37] ShivaniAgarwal2001 commented on #3366
This issue was already been created. Kindly check it @Aryamanz29 and @Kajol-Kumari . I requested to close it.
Check #3325

[2021-09-29 11:41] Robinrai2612 commented on #3523
@prathimacode-hub  Ma'am I would like to work on this issue.I will explain the detail information regarding it.

Type: Documentation
Sr.no: 428

[2021-09-29 11:41] Robinrai2612 commented on #3523
@prathimacode-hub  Ma'am I would like to work on this issue.I will explain the detail information regarding it.

Type: Documentation
Sr.no: 428

[2021-09-29 11:43] Robinrai2612 commented on #3523
@prathimacode-hub Ma'am I would like to work on this issue.I will explain detailed information regarding it.

Type: Documentation
Sr No: 146

[2021-09-29 11:48] shashank725 commented on #31
@Aryamanz29 ?

[2021-09-29 12:00] Rohit484 commented on #3325
/assign

[2021-09-29 12:01] Rohit484 opened #3526 "Android Kotlin: 05.12 SUB-TOPIC NAME"
<hr>

## Description :scroll:

* Give a step-by-step tutorial of Nested RecyclerView in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :
https://medium.com/nerd-for-tech/nested-recyclerview-in-android-e5afb2b9771a

<hr>

## Please Read it Carefully Before Contributing
* Changes shoul

[2021-09-29 12:01] braveheartdata opened #3527 "Frontend Dev (HTML, CSS, JS): CSS Combinators"
### Description

# Description
I would like to make documentation on CSS Combinators
I would provide theory related to it along with some examples

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](htt

[2021-09-29 12:03] sumitaccess007 opened #3528 "[Java 16.6]: IsAlive()"
### Description

### Description

Add audio, documentation, and video regarding the **IsAlive()**

---

**Location of File to be added**
The files should be added inside the *`IsAlive`* which will be inside *`Multithreaded Programming`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be in the `.md/.py/

[2021-09-29 12:04] ayushjain27 commented on #3527
/assign

[2021-09-29 12:05] ShivaniAgarwal2001 commented on #3527
/assign documentation

[2021-09-29 12:05] Kjp04 opened #3530 "Vectors in Cpp"
<hr>
vectors, its functions and examples in C++
<hr>

<hr>
-[x]C/CPP
<hr>

[2021-09-29 12:06] Subhrato20 commented on #3527
/assign documentation

[2021-09-29 12:06] Kjp04 commented on #3530
/assign

[2021-09-29 12:07] sumitaccess007 opened #3531 "[Java 16.7]: Join()"
### Description

### Description

Add audio, documentation, and video regarding the **Join()**

---

**Location of File to be added**
The files should be added inside the *`Join`* which will be inside *`Multithreaded Programming`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be in the `.md/.py/.ipynb

[2021-09-29 12:10] ayushjain27 commented on #2757
Please review my PR @Ayan-thecodeking @ghulamyazdani @padmajabhol @praveenscience

[2021-09-29 12:11] Robinrai2612 commented on #3523
@prathimacode-hub Ma'am I would like to work on this issue.I will explain the detail information  and also add some code, algorithms regarding it.

Type: Documentation
Sr.No: 146

[2021-09-29 12:12] Saviour1001 commented on #978
Closing as the PR got merged

[2021-09-29 12:12] #978 closed

[2021-09-29 12:13] ayushjain27 commented on #3527
/assign

[2021-09-29 12:16] Subhrato20 commented on #3527
@ayushjain27 this issue was created by me so please try to understand and create your own issue.

[2021-09-29 12:17] Gagarod commented on #3531
\assign documentation

[2021-09-29 12:17] tanvideshmukh29 commented on #3480
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-29 12:26] themonikanayak opened #3534 "[DSA]: BFS Traversal of a Graph"
### Description

Explain BFS Traversal of a Graph  using a well commented code.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-09-29 12:26] themonikanayak commented on #3534
/assign

[2021-09-29 12:27] ganaaduvva commented on #2624
Thanks for your confirmation @AkMo3 !!

[2021-09-29 12:31] Anant1711 commented on #1960
Please submit it by Today itself!

[2021-09-29 12:33] Anant1711 commented on #2800
Assigned!

[2021-09-29 12:51] #2675 closed

[2021-09-29 12:55] joshi-kaushal commented on #2103
@paramsiddharth I can work on the documentation part.

[2021-09-29 13:12] Harsh-Chaudhary7 commented on #3528
/assign documentation

[2021-09-29 13:14] Harsh-Chaudhary7 commented on #3531
/assign documentation

[2021-09-29 13:15] #1064 closed

[2021-09-29 13:18] AbhinandanAdhikari opened #3544 "JS: JavaScript Debugging"
### Description

<li> Write about Debugging.
<li> Write about JavaScript Debugging.
<li> Ways to debug JavaScript code.
<li> Tell about debugger keyword.
<li> Give Examples and Syntax of each.

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBU

[2021-09-29 13:18] AbhinandanAdhikari commented on #3544
/assign

[2021-09-29 13:21] 101Priyanshi commented on #3417
I have created a pull request for this issue. Can I close it now?

[2021-09-29 13:25] AbhinandanAdhikari commented on #3544
@paramsiddharth Sir, I'm working on this topic for documentation part

[2021-09-29 13:25] UditJain77 commented on #3531
/assign Documentation

[2021-09-29 13:28] Varun270 commented on #3366
@ShivaniAgarwal2001  I had opened this issue first, I assume the guy who opened this issue was not aware of the fact.

[2021-09-29 13:32] prithwishpramanik commented on #2503
/ assign video

[2021-09-29 13:33] Gagarod commented on #3531
/assign documentation

[2021-09-29 13:34] bhumitbedse commented on #3534
/assign

[2021-09-29 13:37] Varun270 commented on #3366
@ShivaniAgarwal2001 Sorry, I just noticed the serial number mine was created later, it was a coincidence. I am closing this issue you can work on the issue it's all yours now. Happy Contributing and again sorry for the inconvenience caused.

[2021-09-29 13:37] #3366 closed

[2021-09-29 13:38] aishapervin commented on #3079
@goelesha plz check

[2021-09-29 13:48] #2789 closed

[2021-09-29 14:01] rk18venom commented on #551
Sir, I have added a file in the python folder name Python: dict and set_audio.md just see it.

[2021-09-29 14:05] Saviour1001 commented on #3234
Closing as the PR got merged

[2021-09-29 14:05] #3234 closed

[2021-09-29 14:22] AastikSharma05 opened #3554 "Check whether two strings are anagram of each other"
### Description

Write a function to check whether two given strings are anagram of each other or not.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribu

[2021-09-29 14:22] AastikSharma05 commented on #3554
/assign

[2021-09-29 14:32] WajihaFatim commented on #3198
@Sarthak-Agg where i have to create my file like my file name is 2.2.2.1 .I am unable to understand.Sir ,please tell me

[2021-09-29 14:42] Harshtiwari07 commented on #3081
/assign

[2021-09-29 14:45] Zuber8040 opened #3557 "[Create New Issue]: OOPS"
### Description

Description
INTRODUCED TO OOPS

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-29 14:46] Zuber8040 commented on #3557
/assign

[2021-09-29 14:48] cookieg13 commented on #3480
Hi! I would love to work on this issue? can you please assign it to me?
Name: Debarati Ghatak
Batch: 3
Contribution type: Documentation

[2021-09-29 14:49] harshithatnbr commented on #3485
/assign

[2021-09-29 14:49] harshithatnbr commented on #3485
I will make video presentation

[2021-09-29 14:50] cookieg13 commented on #3270
Hi! I would love to work on this issue? can you please assign it to me?
Name: Debarati Ghatak
Batch: 3
Contribution type: Documentation

[2021-09-29 14:54] cookieg13 commented on #3170
Hi! @Subhradeep10 I would love to work on this issue? can you please assign it to me?😊
Name: Debarati Ghatak
Batch: 3
Contribution type: Documentation

[2021-09-29 14:56] #3557 closed

[2021-09-29 14:57] harshithatnbr commented on #3485
/assign video

[2021-09-29 14:58] Subhradeep10 commented on #3170
@cookieg13 Assigned to you

[2021-09-29 14:58] cookieg13 commented on #3170
Thank you!😁

[2021-09-29 14:58] Subhradeep10 commented on #3170
/assign @cookieg13

[2021-09-29 15:04] Harshtiwari07 commented on #946
/assign

[2021-09-29 15:08] Harshtiwari07 commented on #946
/assign

[2021-09-29 15:15] Debasmita-01 opened #3563 "Introduction to Glassmorphism"
### Description

In this we want you to deep dive into what is glassmorphism design ,how do we use glassmorphism .
Folder structure : UI_UX/Glassmorphism

### Domain

UI/UX

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://

[2021-09-29 15:16] deepthi1107 commented on #1856
Hello, I am Deepthi M with serial number:198, Batch-5. I would like to do video on this issue.
My approach: A detailed explanation of the theory.

[2021-09-29 15:18] Debasmita-01 opened #3564 "Choosing a background : Glassmorphism"
### Description

The first thing to understand about glassmorphism is that not any type of background image or gradient will match. Research a bit about backgrounds to be used in these designs .

Folder Structure : UI_UX/Glassmorphism/Background

### Domain

UI/UX

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girls

[2021-09-29 15:21] Debasmita-01 opened #3566 "Creating the Card: Glassmorphism"
### Description

Create the card and give it a glassmorphic look . Show all the steps in details of how you are making the effect.

Folder structure : Follow issue #

### Domain

UI/UX

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of condu

[2021-09-29 15:25] SaloniThete commented on #3177
Name: Saloni Thete
S.No: 821
Batch-19
Type: Documentation
Approach: Provide Resources for data cleaning and steps to perform the process.
@prathimacode-hub Kindly assign :)

[2021-09-29 15:37] Nikita512 commented on #498
I have forked but I cannot clone the repo in to local machine
![image](https://user-images.githubusercontent.com/54329368/135301879-a9f6ac26-f610-4655-b14e-1ea738e2509c.png)

[2021-09-29 15:43] SaloniThete commented on #2403
Name: Saloni Thete
Sr.No: 821
Type: Documentation
Approach: Solutions and their detailed explanation to dealing with categorical columns along with resources and examples.
@prathimacode-hub Kindly assign :)

[2021-09-29 15:51] nandini7637 opened #3569 "Java 16.8 : Deadlock, and getting thread status"
### Description
 Add audio, documentation, and video regarding the **Deadlock, and getting thread status**

 **Location of File to be added** The files should be added inside the _`Deadlock, and getting thread status`_ which will be inside _`Multithreaded Programming`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The document

[2021-09-29 15:52] SurabhiMishra commented on #3507
/assign

[2021-09-29 15:53] nandini7637 opened #3570 "Java 16.9 : Suspending, resuming and stopping threads"
### Description
 Add audio, documentation, and video regarding the **Suspending, resuming and stopping threads**

 **Location of File to be added** The files should be added inside the _`Suspending, resuming and stopping threads`_ which will be inside _`Multithreaded Programming`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 *

[2021-09-29 15:54] ashish-reddy-20-08 commented on #1567
Hello mam , @prathimacode-hub , Can you please assign me video for this issue.
Approach: A detailed and clear explanation.

[2021-09-29 15:56] techabhi08 commented on #3569
\assign document

[2021-09-29 15:59] aishaandatt opened #3571 "Activation Functions in Neural Networks"
### Description

Basic Introduction to activation functions used in neural networks.

### Domain

Machine Learning

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-29 16:00] aishaandatt commented on #3571
/assign

[2021-09-29 16:06] Parth-001-git commented on #516
@rahulsain  Please review

[2021-09-29 16:10] ayush02av opened #3574 "[Create New Issue]: Frontend: Navbars in a webpage"
### Description

Description

Navbars are an important part of any webpage. It helps you to quickly navigate among various pages on a website
This is for documentation of how to get started with navigation bars, including the following aspects-
1. How to make a basic navbar
2. Styling navbars
3. Responsiveness in navbars

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentatio

[2021-09-29 16:11] perveen-neha opened #3575 "Tools and IDE used for java"
### Description

Description
This issue will help set up different tools and IDEs for Java development

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/w

[2021-09-29 16:12] Surajvatsya opened #3576 "Animation effect through CSS"
### Description

Made an animation effect through CSS.

![image](https://user-images.githubusercontent.com/68156079/135307589-2b2a155b-1403-40ff-8d05-9d802ab062e0.png)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) &

[2021-09-29 16:12] perveen-neha commented on #3575
/assign

[2021-09-29 16:12] Surajvatsya commented on #3576
/assign

[2021-09-29 16:13] ayush02av commented on #3574
/assign
I along with @uditkatyal @vaibhavkumar5 want to work on this issue.
Please assign us on this @Knighthawk-Leo

[2021-09-29 16:15] Anant1711 commented on #2503
assigned!

[2021-09-29 16:17] Aryamanz29 commented on #1104
@Abhay3008  Any updates?

[2021-09-29 16:17] #1960 closed

[2021-09-29 16:18] Anant1711 commented on #1674
@PrachiDoshi2170 Would you like to work on this in documentation format?

[2021-09-29 16:20] vaibhavkumar5 commented on #3574
/assign
Please assign this to us, will work together on this with @ayush02av @uditkatyal
@Knighthawk-Leo

[2021-09-29 16:21] #2969 closed

[2021-09-29 16:21] #1956 closed

[2021-09-29 16:23] ViAsmit commented on #3507
@adityaraj079 no need to ask.. if you think you will be able to complete this issue... just type /assign. it will get automatically assigned to you. check for other unassigned issues.

[2021-09-29 16:27] #3217 closed

[2021-09-29 16:29] #3571 closed

[2021-09-29 16:29] #2980 closed

[2021-09-29 16:31] #2167 closed

[2021-09-29 16:31] 124015001 opened #3578 "C_CPP: Text Files and Binary Files"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-29 16:32] 124015001 commented on #3578
/assign

[2021-09-29 16:33] 124015001 opened #3579 "C_CPP: Input and Output Operations in Files"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-29 16:33] 124015001 commented on #3579
/assign

[2021-09-29 16:34] shivaprasadyanala commented on #3579
assign this to me

[2021-09-29 16:34] #2973 closed

[2021-09-29 16:35] shivaprasadyanala commented on #3579
/assign

[2021-09-29 16:36] #3579 closed

[2021-09-29 16:37] #2271 closed

[2021-09-29 16:40] shivaprasadyanala commented on #3566
can i get assigned for documentation?

[2021-09-29 16:41] Abhay3008 commented on #1104
I'll be making PR by tomorrow

[2021-09-29 16:42] Nikita512 commented on #498
![image](https://user-images.githubusercontent.com/54329368/135312509-e9964045-4e20-41f2-a39a-9988657ee6e1.png)

[2021-09-29 16:48] #1958 closed

[2021-09-29 16:48] #1671 closed

[2021-09-29 16:48] #1676 closed

[2021-09-29 16:49] #1957 closed

[2021-09-29 16:50] Anant1711 commented on #498
Try again!

[2021-09-29 16:56] MauryaD commented on #1871
/assign

Please assign this issue to me as I want add more into this topic.

[2021-09-29 17:03] Janhvi-s commented on #3505
/assign

[2021-09-29 17:09] pooja002 commented on #1871
Hi @Satyam175 , can you please review my pull request and provide suggestions if  any .

[2021-09-29 17:13] uditkatyal commented on #3574
/assign

[2021-09-29 17:16] uditkatyal commented on #3574
@Knighthawk-Leo
hey pls assign this issue to @ayush02av @vaibhavkumar5 @uditkatyal
Thank you!

[2021-09-29 17:16] #667 closed

[2021-09-29 17:18] Aryamanz29 commented on #31
Yes you can add your project in doc @shashank725

[2021-09-29 17:19] siddhi-244 commented on #31
I have a open source project of my own can I add ?

[2021-09-29 17:26] Aryamanz29 commented on #31
Sure go ahead @siddhi-244  🎉🎉 Follow this PR https://github.com/girlscript/winter-of-contributing/pull/1927

[2021-09-29 17:26] krups2306 commented on #3569
/assign Documentation Audio Video

[2021-09-29 17:28] Palak-Srivastava commented on #3570
/assign documentation

[2021-09-29 17:30] Aryamanz29 commented on #31
@siddhi-244  You have to add your github profile & projects link in this :arrow_right:  [file](https://github.com/girlscript/winter-of-contributing/blob/Opensource/Open_Source/2.Getting_Started_With_Open_Source/2.4_Create_Your_Own_Open_Source_Project.md)

[2021-09-29 17:30] Palak-Srivastava commented on #3528
/assign audio

[2021-09-29 17:37] Palak-Srivastava commented on #1614
/assign documentation

[2021-09-29 17:38] Palak-Srivastava commented on #1614
/assign audio

[2021-09-29 17:40] nandini7637 commented on #3569
@krups2306 aren't you aware of the rules set by supervisors? You can just take one issue at a time and in one format

[2021-09-29 17:40] nandini7637 commented on #3569
@garvitraj please look into this

[2021-09-29 17:48] jyotibajaj729 opened #3588 "[Create New Issue]: Stacks in c++"
### Description

First of all  i will explain what basically stack is then its syntax , its member types and all the functions that can be performed in it.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://githu

[2021-09-29 17:49] jyotibajaj729 commented on #3588
\assign

[2021-09-29 18:01] WajihaFatim commented on #2619
@EkjotKaur I have corrected can you now merge it

[2021-09-29 18:05] monalsingh10 commented on #2811
@abhisheks008 sir can you please give me tomorrows due date .Due to network issue I am not able to send PR .Please its an request.

[2021-09-29 18:07] Apoorv-17 commented on #3299
I thought that because documentation was also listed in the task list. Anyways, I would like to work on this issue with task type as Video.
Name: Apoorv Yadav
Batch: 7
Type: Video
Approach: Introduction, Algorithm, Working of the algo, Time and Space complexity and at last implementation of insertion sort.

[2021-09-29 18:07] adityaraj079 commented on #3509
/assign

[2021-09-29 18:18] uzma024 commented on #3306
Hey @goelesha, I would love to contribute to this issue. Can you please assign me this issue.
Name: Uzma Firoz Khan
Batch: DSA Batch-10
Type: Video

[2021-09-29 18:19] amankumar11 opened #3592 "Algorithms: Kadane's Algorithm(CPP)"
### Description

Covering the code and use of kadane's algo.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-29 18:19] amankumar11 commented on #3592
/assign

[2021-09-29 18:20] uzma024 commented on #3306
Also,I just selected documentation in the form submitted during enrolment . Is it okay if I switch to video?

[2021-09-29 18:20] mayankkuthar commented on #684
@Aryamanz29 Please Assign me I would like to work on this issue

[2021-09-29 18:20] mayankkuthar commented on #684
/assign

[2021-09-29 18:32] arcAman07 commented on #1570
/assign

[2021-09-29 18:34] #2368 closed

[2021-09-29 18:39] Artistic18 commented on #2267
@ishangupta6412 are you working on this issue?

[2021-09-29 18:41] ishangupta6412 commented on #2267
Yes

On Thu, Sep 30, 2021, 00:09 Hrishit Prasad Biswas ***@***.***>
wrote:

[2021-09-29 18:42] Artistic18 commented on #2267
@ishangupta6412 Sure, I was checking on it because there were no updates.

[2021-09-29 18:54] Deepika-Pavundoss commented on #3523
Sr no: 161
Batch: 5
Name: Deepika Pavundoss
Type : Documentation
I would like to explain about the libraries used here, process and the code in detail
@prathimacode-hub

[2021-09-29 18:55] Deepika-Pavundoss commented on #3523
/assign

[2021-09-29 19:06] kritika2311 commented on #74
@Rohit-2602 sir due to exams, I was not active for a period. I will resolve this issue in a day or two .

[2021-09-29 19:14] Nikita512 commented on #498
@Anant1711 still same issue is there with checkout failed

[2021-09-29 19:25] ShivaniAgarwal2001 commented on #3366
No worries, you can create another issue and work on it, or wait for the Mentor to create one!

[2021-09-29 19:25] kritika2311 commented on #74
And sir @Rohit-2602  I am not able to understand how to make the pull request by creating the new branch, please help.

[2021-09-29 19:30] kritika2311 commented on #74
/assign

[2021-09-29 19:33] kritika2311 opened #3598 "Technical Interview: Trees Questions & Resources."
### Description

It will contain resources and question regarding Trees, which are mostly asked in technical interviews.

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of

[2021-09-29 19:33] kritika2311 commented on #3598
/assign

[2021-09-29 19:41] PrachiDoshi2170 commented on #1674
Yes

On Wed, 29 Sep, 2021, 9:48 pm Anant chauhan, ***@***.***>
wrote:

[2021-09-29 19:42] prathimacode-hub commented on #1567
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-09-29 19:46] prathimacode-hub commented on #2406
@Khushi-Shah-1, when you remove your assignment, you should inform not just removing off by yourself.

[2021-09-29 19:47] prathimacode-hub commented on #2406
Issue assigned to @tavneetgill for audio contribution

[2021-09-29 19:54] goelesha commented on #3299
@Apoorv-17 Assigning the issue to you for video.
Make sure to submit a PR within 7 days

[2021-09-29 19:56] goelesha commented on #3306
@uzma024 Assigning the issue to you for video. Make sure to submit a PR within 7 days.

I can't really comment about the things you have selected during enrollment or how exactly contributions will be counted. You can confirm with the GWOC team.

[2021-09-29 20:22] vikhyatsingh123 opened #3601 "DSA 2.1.10.1 character based counting problems in strings"
### Description

Count common characters in two strings

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- *

[2021-09-29 20:26] vikhyatsingh123 opened #3603 "DSA 2.1.10.2 character based counting problems in strings"
## Description

Find uncommon characters of the two strings

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-09-29 20:27] vikhyatsingh123 opened #3604 "DSA 2.1.10.3 character based counting problems in strings"
## Description

Concatenated string with uncommon characters of two strings

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBU

[2021-09-29 20:32] vikhyatsingh123 opened #3605 "DSA 2.1.11.1 longest increasing subsequence"
## Description

Explain and implement Longest Increasing Subsequence Size of an array.

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/D

[2021-09-29 20:34] vikhyatsingh123 opened #3606 "DSA 2.1.11.2 longest increasing subsequence"
## Description

Explain and implement Length of longest increasing subsequence in a string.

## Task
- [ ] Audio
- [ ] Video
- [x] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/

[2021-09-29 20:37] Arya-Gupta commented on #3462
I want to contribute to this issue : HTML Geolocation API
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-3462
Contribution Approaches-What is the HTML geolocation api, why is it useful, how does it work
Type-Audio

[2021-09-29 20:39] Arya-Gupta commented on #2113
I want to contribute to this issue : Foreach vs For loop
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-2113
Contribution Approaches-What is a foreach loop, what is a for loop, basic differences and when to use each
Type-Audio

[2021-09-29 20:41] Arya-Gupta commented on #3497
I want to contribute to this issue : Objects and Arrays in Javascript
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-3497
Contribution Approaches-What is an object, why do we need objects, what is an array, why do we need arrays, examples
Type-Audio

[2021-09-29 21:04] #1224 closed

[2021-09-29 21:29] Harshil-Jani commented on #3605
@vikhyatsingh123 Hey! Can I take this up for Documentation Part ?
**Harshil Jani**
**DSA-Batch2**

[2021-09-29 21:31] kashyap1905 opened #3618 "Formatted Console Input/Output Operations"
### Description

Topics to be discussed in documentation -

- Unformatted Input/Outputs
- IOS Class Functions and Flags
- Input/Output Manipulators
- User Defined Output Functions

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-09-29 21:31] kashyap1905 commented on #3618
/assign

[2021-09-29 21:31] eshan1925 commented on #1456
Hey @rahulsain and @sitamadex11 I have created the PR. Please review and merge it if everything seems fine to your.
THANKYOU😄

[2021-09-29 21:33] Harshil-Jani commented on #3606
With the continuation of Topic from #3605  Can I also try documenting this  as well @vikhyatsingh123 ?
**Harshil Jani
DSA-Batch2**

[2021-09-29 21:47] Harshil-Jani opened #3619 "Opensource : Explaining about opensource ```Licenses``` in detail."
### Description

- Explain importance of Licenses.
- Difference between available Licenses on Github.
- Describe License used by GWOC repository as an Example.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](htt

[2021-09-29 21:48] Harshil-Jani commented on #3619
@Aryamanz29 Can I work on this ?

[2021-09-29 21:59] pankaj-Makhijani commented on #2252
Hey @saloni-15 I made a PR, kindly review it and let me know if any changes are needed to be done.

[2021-09-29 21:59] #3115 closed

[2021-09-29 22:01] kashyap1905 commented on #3618
/assign

[2021-09-29 22:10] pranshukas commented on #3604
I am ready to work on the documentation part of this issue. Please assign me this.

Name: Pranshu Kashyap
Batch: DSA Batch 5
Type of Contribution: Documentation

[2021-09-29 22:30] pranshukas opened #3622 "Competitive Programming : Rod Cutting Problem Dynamic Programming (Documentation + Code)"
### Description

## Description 📜

Rod Cutting Problem Dynamic Programming (Documentation + Code)
Language: C++

Name of Contributor: Pranshu Kashyap
Batch: CP Batch 3

<hr>

Domain of Contribution 📊
- [x] Documentation

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of

[2021-09-29 22:30] pranshukas commented on #3622
/assign

[2021-09-29 23:12] #928 closed

[2021-09-29 23:13] Shikhar253 commented on #928
Issue has been merged !

[2021-09-30 00:08] AkMo3 commented on #1614
@Palak-Srivastava You have been assigned for Audio

[2021-09-30 01:03] Rohit484 commented on #3569
/assign Documentation

[2021-09-30 01:18] #1630 closed

[2021-09-30 01:21] moulikagrawal commented on #3462
The issue is assigned to you by the bot, kindly start working on it

[2021-09-30 01:44] vishnu95075 opened #3623 "[C_CPP]: NUMBER SYSTEM"
### Description

## Number System with example .
- Binary Number System .
- Decimal Number  System .
- Octa  Decimal Number System
- Hexa Decimal Number System .

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:/

[2021-09-30 01:44] vishnu95075 commented on #3623
/assign

[2021-09-30 02:21] Pradumnasaraf opened #3624 "Android-Java: 3.4 Android Implicit Intent"
### Description

Implicit vs explicit intent
What is implicit Intent
Add some source code, gif, and images

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribut

[2021-09-30 02:21] krups2306 commented on #3569
/assign Documentation

[2021-09-30 02:22] Pradumnasaraf commented on #3624
/assign

[2021-09-30 02:25] krups2306 commented on #3569
Sorry for the mishap @nandini7637

[2021-09-30 02:49] ashish-reddy-20-08 commented on #422
@prathimacode-hub , Can you please evaluate my PR mam
PR LINK: https://github.com/girlscript/winter-of-contributing/pull/3625

[2021-09-30 03:03] vishal1patidar opened #3626 "Shortest path from 1 to n #3626"
### Description

#Aim
Consider a directed graph whose vertices are numbered from 1 to n. There is an edge from a vertex i to a vertex j if either j = i + 1 or j = 3 * i. The task is to find the minimum number of edges in a path in G from vertex 1 to vertex n.

Please Assign me under GWOC21 .I will be solving in C++.

Programming language

 C++

### Domain

C/CPP

### Type of Contribution

Document

[2021-09-30 03:04] vishal1patidar commented on #3626
**/assign**

[2021-09-30 03:06] ashish-reddy-20-08 commented on #2941
@abhisheks008 , Can i work on it , As the deadline is reached.

[2021-09-30 03:14] rahulsain commented on #3526
In which topic will you be contributing to?

[2021-09-30 03:33] mehabhalodiya commented on #3606
@goelesha Please assign this issue to @Harshil-Jani

[2021-09-30 03:33] Sunainacode opened #3628 "[C_CPP]: C++17 Basics"
### Description

In this issue, I will be working on C++17 and it's unique features.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-09-30 03:34] Sunainacode commented on #3628
/assign

[2021-09-30 03:35] mehabhalodiya commented on #3605
@goelesha Please assign this issue to @Harshil-Jani

[2021-09-30 03:36] mehabhalodiya commented on #3604
@goelesha Please assign this issue to @pranshukas

[2021-09-30 03:36] naveeramesh commented on #3563
/assign

[2021-09-30 03:37] naveeramesh commented on #3563
can I work on documentation for this issue?

[2021-09-30 03:37] priyankapiba commented on #3588
@Saviour1001 please assign me this issue.

[2021-09-30 03:37] naveeramesh commented on #3563
/assign

[2021-09-30 03:38] naveeramesh commented on #3563
can i work on documentation part for this issue? @Debasmita-01

[2021-09-30 03:38] shreyarai05 commented on #2262
Where should I notify about issue created?

On Wed, 29 Sep, 2021, 3:44 PM Prathima Kadari, ***@***.***>
wrote:

[2021-09-30 03:38] mehabhalodiya commented on #3171
@goelesha Pls assign this issue to @aishapervin @0xUvaish

[2021-09-30 03:53] Harshit-Poddar90 commented on #19
pls assign me

[2021-09-30 04:03] Rohit484 commented on #3569
Deadlock means a  situation where two or more threads are blocked forever

[2021-09-30 04:03] Rohit-2602 commented on #74
@kritika2311 see discord pinned messages

[2021-09-30 04:03] Rohit484 commented on #3569
/assign

[2021-09-30 04:04] AJgthb2002 commented on #3603
please assign it to me. I'd like to contribute in the form of documentation.
Name: Ananya Joshi DSA batch2

[2021-09-30 04:06] AJgthb2002 commented on #3601
please assign it to me. I'd like to contribute in the form of documentation.
Name: Ananya Joshi
DSA batch2

[2021-09-30 04:07] kishlayaug15 commented on #3521
Kishlay Kumar
Serial no : 501
Type: documentation, Audio
Approach: Detection using Different ML and DL algorithms using Sklearn, CNN layers, TensorFlow and other required libraries

@prathimacode-hub  assign me this issue I'll work on it

[2021-09-30 04:08] Rohit484 commented on #3526
Basically in Java with BackEnd

[2021-09-30 04:09] uzma024 commented on #3306
Yeah I've confirmed. Thanks for assigning.

[2021-09-30 04:16] subhradwip01 commented on #3055
\assign audio

[2021-09-30 04:16] Nafizza commented on #3564
/assign

[2021-09-30 04:18] Nafizza commented on #3564
I would like to work on this issue (documentation)

[2021-09-30 04:19] Tanushree-coder commented on #3487
I want to on the documentation part of this issue.
/assign

[2021-09-30 04:21] Tanushree-coder commented on #3487
/assign

[2021-09-30 04:21] PranshuSrivastava commented on #3619
/assign

[2021-09-30 04:26] singhnikhiljsr commented on #3484
@princemsd007 I'll clear the question through intuition or Pseudo Code but can I code it in Python?

[2021-09-30 04:28] siddhi-244 commented on #31
Sure . Thank you.

[2021-09-30 04:28] singhnikhiljsr commented on #3513
@ruchitadamodar1922 I'll clear the question through intuition or Pseudo Code but can I code it in Python?

[2021-09-30 04:30] sitamadex11 commented on #275
@yuvraj-2503 Any update regarding your work?

[2021-09-30 04:30] singhnikhiljsr commented on #3515
/assign Document

[2021-09-30 04:30] sitamadex11 commented on #443
@LavleenAgrawal Any update regarding your work?

[2021-09-30 04:32] sitamadex11 commented on #487
@LavleenAgrawal Any update regarding your task?

[2021-09-30 04:32] rahulsain commented on #3526
I think you choose the wrong domain then

[2021-09-30 04:33] sitamadex11 commented on #507
@shahishree03 @Sambhavjain1010 Any update regarding your task?

[2021-09-30 04:41] SB2318 opened #3629 "startActivityForResult deprecated android java"
### Description

Here I will explain what is startActivityForResult in Android briefly. Then come into the main topic and then explain what is the alternative for startActivityForResult.

### Domain

Android Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-09-30 04:42] SB2318 commented on #3629
I want to work on this issue. Please assign it to me.

[2021-09-30 04:42] SB2318 commented on #3629
/assign document

[2021-09-30 04:48] yuvraj-2503 commented on #275
I have already made the PR and its merged also.

[2021-09-30 04:51] ShikhaSwati60 commented on #3480
@Muskan-creator please inform us, to whom is this issue assigned?

[2021-09-30 04:52] brassgolem-25 commented on #3601
Name - Tushar Tiwari
Batch - 6
Documentation

[2021-09-30 04:52] princemsd007 commented on #3484
Yes @singhnikhiljsr  go on !!

[2021-09-30 04:53] ayushjain27 commented on #3588
\assign

[2021-09-30 04:54] WajihaFatim commented on #2617
@EkjotKaur  do I have to create a new pr or  is there a way to change the file name directly

[2021-09-30 04:56] jaigora24 commented on #3606
/assign

[2021-09-30 04:56] Satyam175 commented on #1871
Can you please share your link

[2021-09-30 04:58] ayushjain27 opened #3631 "[Create New Issue]: Javascript Popup boxes : Prompt, Alert and confirm"
### Description

Explain Javascript Popup boxes with Examples

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-09-30 04:58] ayushjain27 commented on #3631
\assign

[2021-09-30 04:58] jaigora24 commented on #3603
/assign

[2021-09-30 04:58] ayushjain27 commented on #3631
\assign

[2021-09-30 04:59] Jaideep25-tech commented on #3603
/assign
Name- Jaideep Singh batch 9

[2021-09-30 04:59] Jaideep25-tech commented on #3603
/assign

[2021-09-30 05:03] vikhyatsingh123 commented on #3605
@Harshil-Jani I am assigning to you as you have commented first. But from next time, don't open PR before getting assigned.

[2021-09-30 05:04] garvitraj commented on #1466
@firefistacez go with video

[2021-09-30 05:04] vikhyatsingh123 commented on #3601
@brassgolem-25 do you want to work on audio or video part

[2021-09-30 05:05] #1143 closed

[2021-09-30 05:06] abhisheks008 commented on #2957
@Anindyadeep Update on this?

[2021-09-30 05:07] vikhyatsingh123 commented on #3606
@jaigora24 Don't use assign command for issues created by supervisors

[2021-09-30 05:07] Harshil-Jani commented on #3605
I have not created any PR yet :sweat_smile: It just says, I mentioned this Issue  in another Issue.

[2021-09-30 05:09] vikhyatsingh123 commented on #3603
@Jaideep25-tech Don't use assign command for issues created by supervisors. And first come first serve.

[2021-09-30 05:14] vikhyatsingh123 commented on #3606
Delete issue number that you have written here.

[2021-09-30 05:14] eshan1925 commented on #1397
/assign

[2021-09-30 05:15] vikhyatsingh123 commented on #3605
@Harshil-Jani Remove issue number that you have written in previous comment

[2021-09-30 05:21] sharvariiii commented on #3631
/assign

[2021-09-30 05:24] ayushjain27 commented on #3631
I created this issue for myself. Can you take please another one @sharvariiii

[2021-09-30 05:24] ayushjain27 commented on #3631
\assign

[2021-09-30 05:26] pooja002 commented on #1871
https://github.com/pooja002/winter-of-contributing/blob/Backend_Development_With_Java/Backend_Development_With_Java/Basic_Concepts/new%20file.md

Please find the attached link.

[2021-09-30 05:31] brassgolem-25 commented on #3601
@vikhyatsingh123 i did mention documentation in my comment!!

[2021-09-30 05:32] Rohan749 opened #3634 "[Create New Issue]: JavaScript stack"
### Description

In this issue, I will explain different stacks, their recommended tools, and everything in detail. Please assign me this issue.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https

[2021-09-30 05:33] Rohan749 commented on #3634
/assign

[2021-09-30 05:34] sharvariiii commented on #3631
okay, no problem😊
Ayushi, use **forward-slash character ( / )** to get it assigned, you are using backslash ( \ ).

[2021-09-30 05:35] ayushjain27 commented on #3631
/assign

[2021-09-30 05:36] ayushjain27 commented on #3631
Thanks to you. It's not ayushi and It's ayush @sharvariiii

[2021-09-30 05:36] ayushjain27 commented on #3631
/assign

[2021-09-30 05:37] ayushjain27 commented on #3588
/assign

[2021-09-30 05:38] jyotibajaj729 commented on #3588
/assign

[2021-09-30 05:39] jyotibajaj729 commented on #3588
I have made a pr on this issue can u plzz take some another issue

[2021-09-30 05:39] Tanushree-coder commented on #3563
I want to work on documentation part of this issue.
/assign

[2021-09-30 05:42] Tanushree-coder commented on #3563
/assign

[2021-09-30 05:42] deepthi1107 commented on #605
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do a video on this issue.
@abhisheks008 @Isha307 as the deadline has arrived can u please look into the deadline and process after that?

[2021-09-30 05:43] ayushjain27 commented on #3588
Okay no problem

[2021-09-30 05:43] ayushjain27 commented on #3631
/assign

[2021-09-30 05:54] vikhyatsingh123 commented on #3601
@brassgolem-25 she has commented first for documentation. If you want to work on audio or video then I can assign that to you

[2021-09-30 05:55] #2801 closed

[2021-09-30 05:55] Jaya3112 opened #3635 "Explain all about CSS Flex box ."
### Description

Explain all about the CSS Flexbox with an example.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-09-30 05:55] Jaya3112 commented on #3635
/assign

[2021-09-30 05:56] Tanushree-coder commented on #3563
I have only 1 issue opened but the bot is showing it as more than 3....
Can you please assign me this issue manually @Debasmita-01 mam?

[2021-09-30 05:57] Isha307 commented on #605
@UditJain77 Please give us update.

[2021-09-30 05:57] brassgolem-25 commented on #3601
@vikhyatsingh123 no!

[2021-09-30 06:01] singhnikhiljsr commented on #3598
@kritika2311 Hi, I think there is already an issue for Trees.

[2021-09-30 06:06] eshan1925 commented on #3511
Hey, @pratishthaa May I please know the location where the file has to be stored and also The name of the file.

[2021-09-30 06:14] KhafiaAyyub opened #3636 "Frontend: Vanilla JS"
### Description

This issue will cover Everything related to Vanilla JS .

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-09-30 06:15] KhafiaAyyub commented on #3636
/assign

[2021-09-30 06:15] ruchitadamodar1922 commented on #3513
Yea sure go ahead

On Thu, Sep 30, 2021, 09:59 Nikhil Singh ***@***.***> wrote:

[2021-09-30 06:31] Anant1711 commented on #1674
OKay!
assigned!

[2021-09-30 06:40] iamsunil25 opened #3640 "Open Source:explain everything related to LGMSoC(LetsGrowMore)"
### Description

explain everything related to LGMSoC Open Program

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-09-30 06:48] pspiagicw commented on #3640
/assign

[2021-09-30 07:13] Aryamanz29 commented on #2966
@GyaniRoman23  Any updates on this?

[2021-09-30 07:14] Aryamanz29 commented on #2983
@Harshkumar62367 Any updates on this?

[2021-09-30 07:15] Aryamanz29 commented on #2837
@PrachiDoshi2170  Sure. Assigning this to you

[2021-09-30 07:15] Anant1711 opened #3645 "Cybersecurity 4.5 Caesar Cipher"
### Description

## Description
### Explain Explain What is Caesar cipher is and how to encrypt and decrypt?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned

[2021-09-30 07:15] Aryamanz29 commented on #2967
@AdityaStark7 Any updates on this?

[2021-09-30 07:15] Aryamanz29 commented on #2979
@riyapandey730  Any updates on this?

[2021-09-30 07:15] AJgthb2002 commented on #3601
Thank you for assigning! I have made the documentation for this issue. But my PR#435 in DSA domain is pending from 13 days.. so till it is merged, I cannot create a new PR right?

[2021-09-30 07:16] Aryamanz29 commented on #2981
@HassanRahim26  Any updates on this?

[2021-09-30 07:16] Anant1711 opened #3646 "Cybersecurity 4.6 Vigenère Cipher"
### Description

## Description

### Explain What is Vigenère cipher is and its encryption/decryption process also.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be as

[2021-09-30 07:18] Anant1711 opened #3647 "Cybersecurity 4.7 Substitution Cipher"
### Description

## Description
### Explain What is Substitution cipher is and its encryption / decryption also.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assig

[2021-09-30 07:19] Anant1711 opened #3648 "Cybersecurity 4.8 Affine Cipher"
### Description

## Description
### Explain what is Affine  cipher is and its encryption/decryption also.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on

[2021-09-30 07:20] Anant1711 opened #3649 "Cybersecurity 4.9 ROT13"
### Description

## Description
### Explain ROT13 in detail.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Cont

[2021-09-30 07:21] kar-cloud commented on #3649
I would like to take this in documentation format

[2021-09-30 07:22] artishukla1 commented on #3648
Can you assign me this @Anant1711 ?

[2021-09-30 07:22] Anant1711 commented on #3649
Assigned!

[2021-09-30 07:23] Anant1711 commented on #3648
Assigned!

[2021-09-30 07:23] artishukla1 commented on #3648
Thankyou !

[2021-09-30 07:26] prathimacode-hub commented on #1856
Issue assigned to @deepthi1107 for audio contribution

[2021-09-30 07:28] Rohit484 commented on #3526
Yes you are right but i am also here for learning new things so I am learning both of them

[2021-09-30 07:29] GyaniRoman23 commented on #2966
Yeah!! @Aryamanz29  I'll make a PR today itself, its almost finished.

[2021-09-30 07:31] prathimacode-hub commented on #1527
Issue assigned to @ShubhamPatel01 for video contribution

[2021-09-30 07:33] ashish-reddy-20-08 commented on #1830
@prathimacode-hub , Can you please assign me audio for this mam.

[2021-09-30 07:37] ashish-reddy-20-08 commented on #347
@prathimacode-hub , Can you please assign audio to me for this issue.

[2021-09-30 07:38] ashish-reddy-20-08 commented on #1939
@prathimacode-hub , Can you please assign me audio for this mam.

[2021-09-30 07:41] rishigupta1109 opened #3651 "Counting Sort in C++ Documentation"
### Description

I will add documentation on counting sort.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-30 07:42] rishigupta1109 commented on #3651
/assign

[2021-09-30 07:50] prathimacode-hub commented on #1830
Issue assigned to @ashish-reddy-20-08 for audio contribution @ashish-reddy-20-08

[2021-09-30 07:50] paul-111 commented on #3640
/assign

[2021-09-30 07:56] Saviour1001 commented on #855
Closing as the PR got merged

[2021-09-30 07:56] #855 closed

[2021-09-30 07:56] v-rohan commented on #2992
@HumblePlebeian What is the status on this issue?

[2021-09-30 07:57] prathimacode-hub commented on #3523
Don't self assign yourself. Issue is been assigned to @Deepika-Pavundoss for documentation

[2021-09-30 07:57] adityarawat1337x opened #3655 "Frontend Dev React: React Router"
### Description

## Description
React Router is a collection of navigational components that compose declaratively with your application.
Basically, it gives to the ability to move between different pages.

Explain Everything Related to React Router:
 - Definition
- Installation
- Basic Usage
- Alternatives

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### C

[2021-09-30 07:57] adityarawat1337x commented on #3655
/assign

[2021-09-30 08:14] iamKushGupta commented on #3645
Can this issue be assigned to me...
Only the documentation part for now...

[2021-09-30 08:18] prathimacode-hub commented on #347
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-09-30 08:20] ShubhamPatel01 commented on #1527
/assign

[2021-09-30 08:22] prathimacode-hub commented on #1859
Documentation is taken, you can choose audio/video. @Ruchika-20

[2021-09-30 08:25] Subhradeep10 commented on #3171
@mehabhalodiya This issue is opened by Prajjwal Sir, not Esha Mam

[2021-09-30 08:30] Aarushijain-06 opened #3658 "Bucket Sort in C++"
### Description

I will add the documentation of Bucket Sort in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-09-30 08:30] Aarushijain-06 commented on #3658
/assign

[2021-09-30 08:36] Muskan-creator commented on #3480
This issue has been assigned to @raghav01ib on first come first basis.
Happy contributing 🙂

[2021-09-30 08:39] prathimacode-hub commented on #1939
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-09-30 08:44] 0199prabha commented on #3071
/assign
->documentation

[2021-09-30 08:45] rhythmjayee opened #3660 "Technical Questions -Bit Manipulation"
### Description

Description
This issue should contain top frequently asked Interview questions and all-important bit manipulation tricks. Video Solution will be good if made !! Search for the quality questions on the web and explain the approach in your words for each problem you solve (either you can add comments in the code or subtitles in your video).

### Domain

Interview Prep

### Type of C

[2021-09-30 08:46] singhnikhiljsr commented on #3484
/assign Document

[2021-09-30 08:48] 0199prabha commented on #3071
Prabha Kumari
Batch-1
Contribution type: Documentation

[2021-09-30 08:49] rhythmjayee opened #3662 "Technical Questions - Heap / PriorityQueue"
### Description

This issue should contain top frequently asked Heap/PriorityQueue Interview questions. Video Solution will be good if made !! Search for the quality questions on the web and explain the approach in your words for each problem you solve (either you can add comments in the code or subtitles in your video).

### Domain

Interview Prep

### Type of Contribution

Documentation

### Cod

[2021-09-30 08:50] 0199prabha commented on #3414
/assign

[2021-09-30 08:59] deepthi1107 commented on #3176
Hello, I am Deepthi M with serial number:198, Batch-5. I would like to do audio on this issue.
Approach: A detail explanation with code

[2021-09-30 09:08] singhnikhiljsr commented on #3513
Sure, currently I'hv 2 issues in my hand.
Don't want to overburden me right now.
If nobody takes this issue, I'm surely gonna take it.

[2021-09-30 09:10] uttarabahad commented on #592
Hello, Is this issue open? If yes can I get assigned to it?
Name- Uttara Bahad
Batch Number- 3
GitHub Link- https://github.com/uttarabahad
Type of contribution- Documentation

[2021-09-30 09:12] Anant1711 commented on #3645
Assigned!

[2021-09-30 09:21] nikki-priyaHIT commented on #3308
/assign

[2021-09-30 09:23] HassanRahim26 commented on #2981
It'll be completed today.

[2021-09-30 09:23] nikki-priyaHIT commented on #3260
I also want to work on this issue
Nikki Priya
batch- 2

[2021-09-30 09:26] Harshkumar62367 commented on #2983
I will submit a pr tonight sir.

[2021-09-30 09:29] iamsunil25 commented on #3640
@paul-111 as you can see above, this issue is already assigned to @pspiagicw then you shouldn't have to comment "/assign".

[2021-09-30 09:29] nikki-priyaHIT commented on #3647
/assign

[2021-09-30 09:30] nikki-priyaHIT commented on #3660
/assign

[2021-09-30 09:32] eshan1925 commented on #1397
Hey @sitamadex11 and @rahulsain I have created the PR , please have a look and If everything seems fine please merge it.
Thankyou

[2021-09-30 09:34] saketsagarsingh commented on #3662
/assign

[2021-09-30 09:34] ShikhaSwati60 commented on #3480
@Muskan-creator Then there is no meaning of this line "While requesting the issue to be assigned, please mention your NAME & BATCH NUMBER" and also you have highlighted the line "Do not use the assign command for this issue". Please be specific about what is written  in the NOTE.

[2021-09-30 09:38] eshan1925 commented on #1409
/assign

[2021-09-30 09:38] nikki-priyaHIT commented on #2979
/assign

[2021-09-30 09:39] Gur-jot commented on #3619
How can I make my contribution in Opensource

[2021-09-30 09:42] nikki-priyaHIT commented on #3605
may i work on this issue?

[2021-09-30 09:44] nikki-priyaHIT commented on #3293
may i work on this issue?

[2021-09-30 09:44] vikhyatsingh123 commented on #3605
@nikki-priyaHIT documentation part is assigned. You may take audio or video part

[2021-09-30 09:47] nikki-priyaHIT commented on #1787
mai i work on this issue?
Nikki Priya
Batch-2

[2021-09-30 09:48] AS8420 opened #3669 "Recursive:"
### Description

This documentation will contain information regards Recursive Algorithm Approaches.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gith

[2021-09-30 09:48] nikki-priyaHIT commented on #3105
/assign

[2021-09-30 09:48] AS8420 commented on #3669
/assign

[2021-09-30 09:51] raghav01ib commented on #3480
@Muskan-creator Chill, please don't make this a zero-sum competition. I am unassigning myself from this issue, you can carry on. All the best

[2021-09-30 10:00] saketsagarsingh commented on #3067
/assign
Saket Sagar Batch -2

[2021-09-30 10:02] saketsagarsingh commented on #3606
/assign

[2021-09-30 10:03] AS8420 opened #3670 "Binary Tree:"
### Description

This documentation will contain the information regard binary tree.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-09-30 10:03] AS8420 commented on #3670
/assign

[2021-09-30 10:05] saketsagarsingh commented on #3298
Saket Sagar
Batch -2
Documentation

[2021-09-30 10:05] saketsagarsingh commented on #3265
/assign

[2021-09-30 10:05] shubham262 opened #3671 "complete Linked list document(intro+ other concepts)"
### Description

I will create a complete document for Linked list.It will consist of each and every topics related to Linked list.
for example
1)Intro
2)creating linked list class
3)taking input dynamically from user
4)length function
5)inserting ith node
6)deleting ith node

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](

[2021-09-30 10:06] ShikhaSwati60 commented on #3480
@raghav01ib I don't have a problem with u being assigned. Point is that in other domains they follow what is written in the templates because they are the ones who make the rule.

[2021-09-30 10:06] saketsagarsingh commented on #3265
saket sagar
 DSA
batch -2
Documentation

[2021-09-30 10:08] saketsagarsingh commented on #2237
/assign Documentation

[2021-09-30 10:08] saketsagarsingh commented on #2237
/assign

[2021-09-30 10:10] tanvideshmukh29 commented on #3603
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-30 10:10] shubham262 commented on #3671
/assign

[2021-09-30 10:15] ELLIPSIS009 commented on #592
i am working on this issue i will submit my pr by tomorrow

[2021-09-30 10:15] AtharvaaPatil commented on #3646
Hey I want to do the documentation part

[2021-09-30 10:15] ELLIPSIS009 commented on #592
i am working on this issue i will submit my pr by tomorrow

[2021-09-30 10:15] saketsagarsingh commented on #403
/assign

[2021-09-30 10:17] saketsagarsingh commented on #3079
i want to work on this issue, may I?
Saket Sagar
Batch-2
Documentation

[2021-09-30 10:23] saketsagarsingh commented on #3133
Saket Sagar
Batch-2
Documentation

[2021-09-30 10:23] saketsagarsingh commented on #3133
/assign

[2021-09-30 10:25] saketsagarsingh commented on #1242
may i be assign for this issue tomorrow if PR will not be submitted?
Saket Sagar
Batch-2
Documentation

[2021-09-30 10:26] saketsagarsingh commented on #474
/assign

[2021-09-30 10:30] saketsagarsingh commented on #2856
/assign

[2021-09-30 10:31] saketsagarsingh commented on #1749
/assign

[2021-09-30 10:31] #275 closed

[2021-09-30 10:31] saketsagarsingh commented on #1749
i want to work on this issue, may i?
Saket Sagar
Batch-2
Documentation

[2021-09-30 10:31] goelesha commented on #3293
Its already assigned. Pls look for something to work on

[2021-09-30 10:33] saketsagarsingh commented on #927
/assign

[2021-09-30 10:37] arjyo851 opened #3673 "Heap Sort in C++"
### Description

This issue will cover the heap sort topic.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-30 10:37] nikki-priyaHIT commented on #1312
i want to work on this issue, may i?
Nikki Priya
Batch-2
Documentation

[2021-09-30 10:38] arjyo851 commented on #3673
/assign

[2021-09-30 10:38] akarshan2602 commented on #1242
/assign

[2021-09-30 10:39] #2176 closed

[2021-09-30 10:41] AS8420 opened #3674 "CSS: Text_Manipulation"
### Description

This documentation will contain information regards Text Manipulation in CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-30 10:41] nikki-priyaHIT commented on #3660
may i work on this issue?
Nikki Priya
DSA Batch-2
Documentation

[2021-09-30 10:41] AS8420 commented on #3674
/assign

[2021-09-30 10:44] Kajal13081 commented on #418
@Rohit-2602 I have completed the doc. Just have to convert it in md. Will make pull request by tonight or tomorrow.

[2021-09-30 10:44] nikki-priyaHIT commented on #3660
I want to work on this issue @rhythmjayee, please assign this to me.

[2021-09-30 10:48] rhythmjayee commented on #3660
@nikki-priyaHIT  at most only 3 issues can be assigned to single contributor

[2021-09-30 10:52] nikki-priyaHIT commented on #3660
i have unassigned myself from one of my assigned issue it was of audio,video part so i want this issue to be assign for me @rhythmjayee

[2021-09-30 10:55] PrathamSahu opened #3677 "[Create New Issue]: Creating React App (Include setup for Windows/Linux/Mac)"
### Description

This include how to create React App (Include setup for Windows/Linux/Mac)

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-09-30 10:55] PrathamSahu commented on #3677
/assign

[2021-09-30 11:00] SUKHJIT-CYBER opened #3679 "[Create New Issue]: Rename the File Names Causing "Invalid Path " Error"
### Description

For Windows Users , Error is coming due to Invalid  File Names as (:) semicolon cannot be used in File Name for Windows .
It is causing Error while Cloning  or Checkout DSA branch . So Correct It .

### Domain

DSA

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-09-30 11:01] SUKHJIT-CYBER commented on #3679
/assign

[2021-09-30 11:02] nikki-priyaHIT commented on #3660
/assign

[2021-09-30 11:07] PrakharSahu02 opened #3682 "[Create New Issue]: Mapping data to components"
### Description

This includes the use of map function for mapping data to custom Info component

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-09-30 11:08] PrakharSahu02 commented on #3682
/assign

[2021-09-30 11:12] ayush-sleeping commented on #443
hey @rahulsain @sitamadex11 , its been 13 days this issue opened . Kindly assign me , I want to make Proper Documentation on " 02.1 Datatypes in Kotlin " . (I have completed my 4 issue, Now I have 0 issue assign to me)

[2021-09-30 11:21] rachita11 commented on #3520
Name : C. Rachita
type : Video
Approach: explanation of the mathemathics behind, application and visualization

[2021-09-30 11:24] 101Priyanshi commented on #3170
Hi @Subhradeep10, sorry for my previous mistake. I didn't know that we can't self assign. I would really like to contribute to this issue. Please give me a chance.
Name: Priyanshi Saxena
Batch: 8
Contribution type: Video

[2021-09-30 11:24] ayush-sleeping commented on #1403
Assign me this issue , I want to make a Documentation on 09.5 Migrating from ViewPager to ViewPager2 in Android.
@sitamadex11

[2021-09-30 11:27] sangeetasingh17 opened #3683 "Competitive Programming: Python stacks and queues (Documentation)"
### Description

Adding two separate readme files explaining the topics

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-09-30 11:28] sangeetasingh17 commented on #3683
/assign

[2021-09-30 11:28] sangeetasingh17 commented on #3683
/assign

[2021-09-30 11:37] madildev commented on #2063
I would like to work on this issue

[2021-09-30 11:39] Arjun2905 commented on #2200
@Isha307 Please go through my pull request https://github.com/girlscript/winter-of-contributing/pull/3684
sorry for the delay.

[2021-09-30 11:51] shoebxsiddiqui commented on #2506
#3525 @garvitraj

[2021-09-30 11:53] saketsagarsingh commented on #2667
i want to work on this issue.
Saket Sagar
Batch-2
Documentation

[2021-09-30 11:55] Muskan-creator commented on #3480
@ShikhaSwati60 This issue is assigned to you .Sorry for inconvienence caused.

[2021-09-30 11:58] eshan1925 commented on #1420
/assign

[2021-09-30 12:01] tejas342 opened #3689 "Python : Some More Data Structures(week 5) - Tuple"
### Description

**Description** : Briefly explain tuple in python

**Note** :
- Changes should be made inside the ```Python/``` directory & ```Python``` branch.
- Issue only for ```GWOC'21``` contributors.
- In the PR, keep this issue's title as your PR's title.

Must Follow : Contributing Guidelines & Code of Conduct before start Contributing.

### Domain

Python_Domain

### Type of Contribution

[2021-09-30 12:03] tejas342 commented on #3689
hello @adityabisoi
I wanted to contribute in it using documentation
tejas prajapati (python batch6)

[2021-09-30 12:03] tejas342 commented on #3689
/assign

[2021-09-30 12:04] tejas342 commented on #3689
\assign

[2021-09-30 12:09] rajraii opened #3690 "Heap Sort"
### Description

Ill take up the topic of heap sort in which where ill cover all the aspect of heap sort and some tips to how you can use them in your various programs to smooth things out. It will be in a documented way.

### Domain

C/CPP

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-30 12:10] #159 closed

[2021-09-30 12:12] saketsagarsingh commented on #1749
/assign Documentatioin

[2021-09-30 12:14] saketsagarsingh commented on #927
i want to work on this issue please assign it to me
Saket Sagar
Batch-2
Documentation

[2021-09-30 12:18] praveenscience commented on #1292
@SoubhPrat17, @joshi-kaushal and @Elisha-s This has been assigned to @Jaya3112. She has almost done working on it.

[2021-09-30 12:21] #114 closed

[2021-09-30 12:22] #113 closed

[2021-09-30 12:23] themonikanayak commented on #3534
/assign

[2021-09-30 12:24] #3534 closed

[2021-09-30 12:25] #1845 closed

[2021-09-30 12:27] goelesha commented on #1242
@saketsagarsingh Assigning the issue to you. Make sure to submit a PR within 7 days.

[2021-09-30 12:34] Anindyadeep commented on #2957
All done ... just some quick revision is left ... + some pictures .. otherwise, I completed yesteryear. I guess you know the heavy downpour in West Bengal... So there is power cut since yesterday. I am going for PR today.

[2021-09-30 12:36] tanvideshmukh29 commented on #3071
can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-30 12:38] goelesha commented on #3071
The issue is already assigned.

[2021-09-30 12:38] tanvideshmukh29 commented on #1787
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-30 12:39] sitamadex11 commented on #1403
yeah go for it @ayush-sleeping

[2021-09-30 12:40] tanvideshmukh29 commented on #2954
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-30 12:41] tanvideshmukh29 commented on #2778
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-30 12:51] Eswari-Priya commented on #3479
/assign
i am eswari priya . i belong to dsa batch2 . pls assign me this issue @Muskan-creator @pjdurden

[2021-09-30 12:55] Eswari-Priya commented on #3301
/assign
i am eswari priya from dsa batch2. i'd like to contribute to this issue via documentation. pls assign me this issue. @pjdurden

[2021-09-30 12:56] Saviour1001 opened #3693 "Doing a demo issue"
### Description

Cpp

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-30 12:57] UditJain77 commented on #605
@Isha307 I am extremely sorry for the delay. I wont be able to work on this issue for the being due to some problems. I request you to grant this issue to @deepthi1107

[2021-09-30 12:58] Saviour1001 commented on #3693
/assign

[2021-09-30 13:01] UditJain77 commented on #2363
\assign audio

[2021-09-30 13:03] sonali-t commented on #3479
Name: Sonali Tomar
Batch: DSA Batch 4
@Muskan-creator @pjdurden please assign me this issue I would like to contribute via documentation

[2021-09-30 13:03] sonali-t commented on #3479
/assign

[2021-09-30 13:03] #3693 closed

[2021-09-30 13:07] syedareehaquasar commented on #2667
Right now vipula is assigned to this issue. You can work on a different issues or create a new one for a suitable contribution! @saketsagarsingh

[2021-09-30 13:10] Iamtripathisatyam commented on #3690
hello @ rajraii
I wanted to contribute to it using documentation, Please assign it to me!

[2021-09-30 13:14] saigoud25 commented on #49
can you check the PR

[2021-09-30 13:16] Arya-Gupta commented on #3631
I want to contribute to this issue : [Create New Issue]: Javascript Popup boxes : Prompt, Alert and confirm
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-3631
Contribution Approaches-What are popup boxes, why are they necessary, types of popup boxes, when to use which popup box
Type-Audio

[2021-09-30 13:17] Arya-Gupta commented on #3462
/assign

[2021-09-30 13:17] abhisheks008 commented on #605
No problem @UditJain77. Well wishes.

[2021-09-30 13:20] #2200 closed

[2021-09-30 13:20] Saviour1001 opened #3695 "Creating"
### Description

asd

### Domain

Android Dev (Kotlin)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-30 13:21] Suvraneel opened #3696 "Sample title"
### Description

Test Description

### Domain

Android Dev (Kotlin)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-30 13:21] Saviour1001 commented on #3695
/assign

[2021-09-30 13:21] #3696 closed

[2021-09-30 13:22] #3695 closed

[2021-09-30 13:27] goelesha commented on #3301
@Eswari-Priya Pls read the title of the issue carefully. This issue if for video, not for documentation.
You can go ahead and work on the video.

[2021-09-30 13:28] #2233 closed

[2021-09-30 13:34] shoebxsiddiqui commented on #3690
/assign

[2021-09-30 13:36] Varun270 opened #3700 "Python: Dictionaries in Python"
### Description

Description

Breif description of dictionaries in Python

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-09-30 13:36] Varun270 commented on #3700
/assign

[2021-09-30 13:36] Varun270 commented on #3700
/assign

[2021-09-30 13:52] HumblePlebeian commented on #2992
I'm almost done, will make the PR tonight.

[2021-09-30 14:00] joy-i commented on #3060
/assign

[2021-09-30 14:01] VARUN-K-BANSAL opened #3704 "Reverse the Singly Linked List"
### Description

I will add documentation for reversing the singly linked list.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-09-30 14:02] VARUN-K-BANSAL commented on #3704
/assign

[2021-09-30 14:04] Harshil-Jani commented on #3619
Hey I would suggest you to go to OpenSource Folder from main code file and go through topics and read them. Multiple contributors have created nice content for open source and everything is well documented :100: !
All the Best :crossed_fingers:

[2021-09-30 14:04] Harshil-Jani commented on #3619
@Aryamanz29 Can you plz look up at this Issue and Assign it to me ?

[2021-09-30 14:07] Subhradeep10 commented on #3170
@101Priyanshi It's Okk, But don't do it from the next time . Assigned to @cookieg13 and @101Priyanshi

[2021-09-30 14:14] #1573 closed

[2021-09-30 14:14] RK1905101 commented on #3646
/assign

for documentation

[2021-09-30 14:15] ankushsingh24 opened #3706 "C_CPP : Encryption and Decryption in C++"
### Description

This documentation will explain Encryption and Decryption of messages in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-09-30 14:16] ankushsingh24 commented on #3706
/assign

[2021-09-30 14:16] Anant1711 commented on #3646
Assigned!

[2021-09-30 14:20] #1623 closed

[2021-09-30 14:20] ankushsingh24 commented on #3706
/assign

[2021-09-30 14:21] ELLIPSIS009 commented on #2823
@prathimacode-hub  i would like to contribute to this issue, please assign it to me
Abhinav Mathur
ML Batch - 1
Serial Number : 50
GitHub link: https://github.com/ELLIPSIS009
Type of contribution : Documentation (ipynb, md)
Approach : what is yolo algo, about yolo version 4, why its used, where its used, example / application, advantages and disadvantages

[2021-09-30 14:21] #1003 closed

[2021-09-30 14:31] WajihaFatim commented on #3198
@Sarthak-Agg sir ,please review ,I have done my part

[2021-09-30 14:36] shikhar13012001 commented on #3626
/assign

[2021-09-30 14:36] Adityanr commented on #2843
Documentation merged. Closing issue.

[2021-09-30 14:37] Adityanr opened #3708 "[.NET]: Installation procedures"
### Description

An overview on how to install and configure .NET for development.

### Domain

Backend Dev (.NET)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-30 14:51] purohitmansi commented on #31
I would like to work on this issue. Please do assign this to me.

[2021-09-30 14:56] rachita11 commented on #3689
@adityabisoi can I take up the video contribution for this issue?
Name - C. Rachita
batch - 3

[2021-09-30 14:56] shikhar13012001 commented on #3626
Can @vishal1patidar tell me where should I put the solution to this above problem, please?

[2021-09-30 15:01] purohitmansi commented on #2967
Please do assign this to me.

[2021-09-30 15:01] gunjan-g commented on #2595
I have reviewed it already

[2021-09-30 15:01] ishangupta6412 opened #3715 "Routing in React"
### Description

Description

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-30 15:02] ishangupta6412 commented on #3715
/assign

[2021-09-30 15:04] vishal1patidar commented on #3626
@shikhar13012001
Here and create pull request

Or add a folder in c/cpp and create pull request

[2021-09-30 15:05] purohitmansi commented on #3706
Please do assign this to me.

[2021-09-30 15:07] Eswari-Priya opened #3717 "Interleaving Strings"
### Description

Given 3 strings, find out if the 3rd string is formed by interleaving first and second strings.
I'd like to explain in detail what interleaving strings are? How this problem can be dealt in brute force as well as efficient way.
Please allow me to work on this issue.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guideli

[2021-09-30 15:08] Eswari-Priya commented on #3717
I am eswari priya of dsa batch-2. pls review this issue and kindly assign it to me @Muskan-creator

[2021-09-30 15:08] purohitmansi commented on #3674
Please do assign this to me.

[2021-09-30 15:09] purohitmansi commented on #3673
Please do assign this to me.

[2021-09-30 15:09] purohitmansi commented on #3671
Please do assign this to me.

[2021-09-30 15:10] purohitmansi commented on #3604
Please do assign this to me.

[2021-09-30 15:12] purohitmansi commented on #3690
Please do assign this to me.

[2021-09-30 15:13] purohitmansi commented on #1716
Please do assign this to me.

[2021-09-30 15:14] purohitmansi commented on #1341
Please do assign this to me.

[2021-09-30 15:15] purohitmansi commented on #1004
Please do assign this to me.

[2021-09-30 15:16] #1663 closed

[2021-09-30 15:16] purohitmansi commented on #3604
Please do assign this to me.

[2021-09-30 15:17] purohitmansi commented on #3306
Please do assign this to me.

[2021-09-30 15:17] purohitmansi commented on #3300
Please do assign this to me.

[2021-09-30 15:18] purohitmansi commented on #3299
Please do assign this to me.

[2021-09-30 15:18] purohitmansi commented on #3296
Please do assign this to me.

[2021-09-30 15:19] purohitmansi commented on #3295
Please do assign this to me.

[2021-09-30 15:19] purohitmansi commented on #3293
Please do assign this to me.

[2021-09-30 15:20] purohitmansi commented on #3292
Please do assign this to me.

[2021-09-30 15:21] purohitmansi commented on #3263
Please do assign this to me.

[2021-09-30 15:21] purohitmansi commented on #3258
Please do assign this to me.

[2021-09-30 15:22] purohitmansi commented on #3255
Please do assign this to me.

[2021-09-30 15:23] purohitmansi commented on #3144
Please do assign this to me.

[2021-09-30 15:24] purohitmansi commented on #3078
Please do assign this to me.

[2021-09-30 15:24] purohitmansi commented on #3072
Please do assign this to me.

[2021-09-30 15:27] Ajinkyap331 commented on #2249
@queenish001 give me some time please atleast 2-3 days

[2021-09-30 15:27] purohitmansi commented on #2237
Name: Mansi
Batch: 4
Please do assign this to me.

[2021-09-30 15:31] purohitmansi commented on #404
Name: Mansi
Batch: 4
Please do assign this to me.

[2021-09-30 15:31] nimisha-yadav commented on #3263
Okay, send in your full name and DSA batch number. @purohitmansi

[2021-09-30 15:32] nimisha-yadav commented on #3258
Send in your full name and DSA batch number. @purohitmansi

[2021-09-30 15:34] nimisha-yadav commented on #404
Assigning this to you for audio and video @purohitmansi, all the best!

[2021-09-30 15:41] VikasPandey121 commented on #19
okay @Harshit-Poddar90 I am assigning this issue to you.

[2021-09-30 15:43] VikasPandey121 commented on #2630
We have already merged a PR on this issue.

[2021-09-30 15:43] purohitmansi commented on #3263
Name: Mansi Rajpurohit
Batch: 4

[2021-09-30 15:44] Harshit-Poddar90 commented on #19
Thank you for assigning me.
But pls help as I am new to open source. So what I need to do after assigned. Pls explain in details.
And how many days are there for me to complete this thing

[2021-09-30 15:44] purohitmansi commented on #3258
Name: Mansi Rajpurohit
Batch: 4

[2021-09-30 15:46] purohitmansi commented on #404
Thank you Nimisha

[2021-09-30 15:48] deepthi1107 commented on #605
please do assign me @Isha307 @abhisheks008
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do a video on this issue

[2021-09-30 15:52] VikasPandey121 commented on #19
Please keep these steps in your mind while contributing

1- Create a new branch `Android_Development_With_Java` using `git branch Android_Development_With_Java`.
2- Checkout to this new branch using  `git checkout Android_Development_With_Java`.
3- Now you add your file your files into this branch only using the command `git add .`
4- Commit your changes using the command `git commit -m "ENTER YOU

[2021-09-30 15:53] nandini7637 opened #3722 "Java 17.1 : Enums structure and introduction"
### Description
 Add audio, documentation, and video regarding the **Enums structure and introduction**

 **Location of File to be added** The files should be added inside the _`Enums structure and introduction`_ which will be inside _`Enums`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `

[2021-09-30 15:53] nimisha-yadav commented on #3263
Assigning this issue to you, all the best!

[2021-09-30 15:54] nimisha-yadav commented on #3258
Assigning this issue to you, all the best!

[2021-09-30 15:55] nandini7637 opened #3723 "Java 17.2 : Enum class and inhertied methods"
### Description
 Add audio, documentation, and video regarding the **Enum class and inhertied methods**

 **Location of File to be added** The files should be added inside the _`Enum class and inhertied methods`_ which will be inside _`Enums`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `

[2021-09-30 15:56] #2971 closed

[2021-09-30 15:59] prathimacode-hub commented on #2823
Issue assigned to @ShraddhaP123 for documentation

@ELLIPSIS009 More issues are lining up.

[2021-09-30 16:02] shivaprasadyanala commented on #3566
/assign

[2021-09-30 16:06] Isha307 commented on #605
No problem @UditJain77, @deepthi1107 you can work on this.

[2021-09-30 16:07] #666 closed

[2021-09-30 16:11] Shruti-Subu commented on #1780
Sorry for the late reply .. will be making a pr by tomorrow.

[2021-09-30 16:20] #993 closed

[2021-09-30 16:20] #992 closed

[2021-09-30 16:20] #1190 closed

[2021-09-30 16:21] #1191 closed

[2021-09-30 16:25] Perpetual-Incantation commented on #1384
@Suvraneel Please review my code.

[2021-09-30 16:34] manjeetdhayal commented on #2269
Hey @ritik-vashist I have assigned it to you. You can work on it.

[2021-09-30 16:38] Perpetual-Incantation commented on #1384
@Rishabh510 Please review my code.

[2021-09-30 16:40] #592 closed

[2021-09-30 16:40] techabhi08 commented on #3722
/assign document

[2021-09-30 16:41] techabhi08 commented on #3722
/assign

[2021-09-30 16:41] Harshit-Poddar90 commented on #19
I have a doubt i am in open source group so can i do this? like i can contribute in it?

[2021-09-30 16:41] Knighthawk-Leo commented on #3574
And also as this will include a bit more hard work, so you can also reach to the mentor or me if you need any help @ayush02av @uditkatyal @vaibhavkumar5

[2021-09-30 16:41] Harshit-Poddar90 commented on #19
I have a doubt i am in open source group so can i do this? like i can contribute in it?

[2021-09-30 16:42] tamalbag117 commented on #3554
/assign audio

[2021-09-30 16:47] aman12207 opened #3728 "Wave Sort in C++"
### Description

I'll take up the topic of Wave Sort in which I'll cover all the aspect of wave sort including time complexity . It will be in a documented way.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://

[2021-09-30 16:47] aman12207 commented on #3728
/assign

[2021-09-30 16:47] tamalbag117 commented on #1144
/assign

[2021-09-30 16:49] tamalbag117 commented on #1144
I will provide documentation for this issue.

On Thu, 30 Sep, 2021, 10:18 PM github-actions[bot], <
***@***.***> wrote:

[2021-09-30 16:51] eshan1925 commented on #3511
Hey, @pratishthaa and @ViAsmit I have created the PR for the issue please review it and If everything is good to go you can merge it.
Thankyou

[2021-09-30 16:51] Sirisha23082002 commented on #3723
\assign document

[2021-09-30 16:52] Sirisha23082002 commented on #3723
/assign document

[2021-09-30 16:52] Sirisha23082002 commented on #3723
/ assign documnet

[2021-09-30 16:55] ViAsmit commented on #3511
Hi @eshan1925... Thanks for the PR.....can you contact your batch mentor to verify your PR.
If you don't know your batch...post your PR in general channel of discord. Some one will verify , and give you suggestions if required.. and then we will merge it

[2021-09-30 16:57] negiaditi opened #3730 "[Create New Issue]:"
### Description

Description

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-30 16:59] eshan1925 commented on #3511
Ok Thankyou @ViAsmit

[2021-09-30 16:59] negiaditi commented on #3674
I can do this, if you can assign me the same

[2021-09-30 17:02] WajihaFatim commented on #3730
/assign

[2021-09-30 17:03] #3730 closed

[2021-09-30 17:03] msbuddhu commented on #436
@vikhyatsingh123 Please have a look at the PR

[2021-09-30 17:04] negiaditi commented on #3717
/assign

[2021-09-30 17:06] Eswari-Priya commented on #3717
@negiaditi you are not supposed to use the tags. Pls allow the mentors or supervisors to review the issue and assign it

[2021-09-30 17:14] balasai45 opened #3733 "Encapsulation in C++"
### Description

Explaining encapsulation concepts regarding different access modifiers and benefits of encapsulation.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributi

[2021-09-30 17:15] balasai45 commented on #3733
/assign

[2021-09-30 17:16] prathimacode-hub commented on #3176
Issue assigned to @deepthi1107 for audio contribution

[2021-09-30 17:18] Saviour1001 commented on #2976
Closing as the PR got merged

[2021-09-30 17:18] #2976 closed

[2021-09-30 17:26] Med16-11 opened #3735 "Polymorphism in C++"
### Description

A brief introduction of Polymorphism in C++. It is audio that gives you a clear idea about polymorphism.

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-30 17:26] HumblePlebeian commented on #3647
I would like to work on this topic. Can you please assign this issue to me?

[2021-09-30 17:27] Med16-11 commented on #3735
/assign

[2021-09-30 17:33] #2252 closed

[2021-09-30 17:37] AastikSharma05 opened #3737 "Lexicographic rank of a string"
### Description

Given a string, find its rank among all its permutations sorted lexicographically.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-09-30 17:37] Harshit-Poddar90 commented on #19
sorry i realized that i am not in this domain.

[2021-09-30 17:37] AastikSharma05 commented on #3737
/assign

[2021-09-30 17:45] radha919 commented on #1341
/assign

[2021-09-30 17:46] queenish001 commented on #2249
Please get it done by 3 Oct. You will be unassigned after that.

[2021-09-30 17:48] #1835 closed

[2021-09-30 17:50] prathimacode-hub commented on #735
@BhaswatiRoy, you want to work for audio contribution?

[2021-09-30 17:57] Saviour1001 commented on #1710
Closing as the PR got merged !

[2021-09-30 17:57] #1710 closed

[2021-09-30 17:57] ron352 commented on #3520
Sarmistha Sarna
Serial no: 614
type : Audio

@prathimacode-hub  can I work on it mam?

[2021-09-30 17:59] Saviour1001 commented on #3490
Closing as the PR got merged !

[2021-09-30 17:59] #3490 closed

[2021-09-30 18:03] Saviour1001 commented on #2699
Closing as PR #3519 got merged

[2021-09-30 18:03] #2699 closed

[2021-09-30 18:05] Saviour1001 commented on #3501
Closing as the PR got merged !

[2021-09-30 18:05] #3501 closed

[2021-09-30 18:06] Saviour1001 commented on #3347
Closing as the PR is merged !

[2021-09-30 18:06] #3347 closed

[2021-09-30 18:10] #2952 closed

[2021-09-30 18:10] #3737 closed

[2021-09-30 18:11] AastikSharma05 opened #3741 "Lexicographic rank of a string"
### Description

Given a string, find its rank among all its permutations sorted lexicographically.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributin

[2021-09-30 18:11] AastikSharma05 commented on #3741
/assign

[2021-09-30 18:15] #931 closed

[2021-09-30 18:16] diya-dhan opened #3743 "C_CPP : Coin change Problem (DP Algorithmic Approach)"
### Description

Solving the Coin Change Problem (Dynamic Programming) : Given an amount 'n' and an array of coins, find out how many combinations of coins can be computed that amount to 'n' [DOCUMENTATION or VIDEO]

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-09-30 18:17] diya-dhan commented on #3743
/assign

[2021-09-30 18:17] diya-dhan commented on #3743
/assign

[2021-09-30 18:17] diya-dhan commented on #3743
/assign

[2021-09-30 18:24] diya-dhan opened #3746 "PYTHON Socket Module"
### Description

Understanding the socket module in python and writing a simple client-server program

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/m

[2021-09-30 18:24] diya-dhan commented on #3746
/assign

[2021-09-30 18:25] #916 closed

[2021-09-30 18:26] diya-dhan commented on #3746
/assign

[2021-09-30 18:29] Saviour1001 commented on #2839
Closing as #2922 got merged !

[2021-09-30 18:29] #2839 closed

[2021-09-30 18:29] prathimacode-hub opened #3749 "Data Science with Python : Locally Estimated ScatterPlot"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about knowing Locally Estimated ScatterPlot. Tutorial to Locally Estimated ScatterPlot and how it's applied using visual representations and sample code and techniques

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python",

[2021-09-30 18:34] Saviour1001 commented on #2327
Closing as the PR got merged !

[2021-09-30 18:34] #2327 closed

[2021-09-30 18:42] Muskan-creator commented on #3717
@Eswari-Priya This issue has been assigned to you on first come first basis

[2021-09-30 18:49] Saviour1001 commented on #2579
Closing as the PR got merged

[2021-09-30 18:49] #2579 closed

[2021-09-30 18:55] DhruvBajaj01 opened #3754 "Data Science with Python : Multicollinearity using Ridge regression"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about knowing Multicollinearity using Ridge regression. Tutorial to Multicollinearity using Ridge regression and how it's applied using visual representations and sample code and techniques

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data

[2021-09-30 19:02] BhaswatiRoy commented on #735
Sorry maam but I am already working on multiple issues rn....

[2021-09-30 19:17] eshan1925 commented on #1409
Hey @rahulsain and @sitamadex11 , I have created the PR please review it, and if there are no issues you can merge it.
THANKYOU

[2021-09-30 19:30] Aditya-droid-byte opened #3763 "C_CPP : Encapsulation"
### Description

Describe what is encapsulation with a suitable example?

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-09-30 19:30] Aditya-droid-byte commented on #3763
/assign

[2021-09-30 20:32] aaryan078 commented on #2203
/assign
I would like to work on this issue
Name: Aaryan
Type: Documentation
I will complete this in 12 days

[2021-09-30 23:23] geeky01adarsh commented on #3723
/assign documentation

[2021-10-01 00:13] AkMo3 commented on #2363
@UditJain77 You have been assigned audio

[2021-10-01 01:59] Robinrai2612 commented on #3749
@prathimacode-hub Ma'am I would like to work on it. I will explain the information in detail and also add some algorithms, code regarding it.

Type- Documentation
Sr No.: 146

[2021-10-01 03:06] Dhruvpandey08 commented on #3700
/assign

[2021-10-01 03:10] ashish-reddy-20-08 commented on #3754
@DhruvBajaj01 @prathimacode-hub , Can i work on this for video presentation.
Approach : A detailed explanation

[2021-10-01 03:11] shyam640 commented on #3422
/assign

[2021-10-01 03:22] #3626 closed

[2021-10-01 03:25] kishlayaug15 commented on #3521
/assign

[2021-10-01 03:28] Dhruvpandey08 opened #3774 "Parameters and Arguments in Functions"
### Description

Describe what is Parameters and Arguments in Functions using python ?

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/COD

[2021-10-01 03:29] Dhruvpandey08 commented on #3774
/assign

[2021-10-01 03:34] piyush-sri commented on #3722
/assign documentation

[2021-10-01 03:55] Aryan283 commented on #225
I would like to work on this issue

[2021-10-01 03:57] deepthi1107 commented on #3754
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do documentation on this issue.
approach: a detail explanation with code.

[2021-10-01 04:05] #2595 closed

[2021-10-01 04:07] priyanshuc4423 opened #3775 "Python: Basic of Tkinter"
### Description

Description:
Gives all the basic info to get you started with Tkinter

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/COD

[2021-10-01 04:07] priyanshuc4423 commented on #3775
/assign
@adityabisoi

[2021-10-01 04:08] priyanshuc4423 commented on #3775
/assign

[2021-10-01 04:09] radha919 commented on #3690
/assign

[2021-10-01 04:10] #3463 closed

[2021-10-01 04:14] Anant1711 commented on #3647
can you work on video?

[2021-10-01 04:18] pooja002 commented on #1871
Hi @Satyam175 , kindly review my pull request.
[https://github.com/girlscript/winter-of-contributing/pull/3776](url)

[2021-10-01 04:26] I-ArchanaDash commented on #225
/assign

[2021-10-01 04:30] Akshat2634 commented on #3200
I would like to contribute in this.

# Domain
Python

# Type of Contribution
Documentation

[2021-10-01 04:31] Akshat2634 commented on #3200
Domain
Python_Domain

Type of Contribution
Documentation

Code of Conduct
 I follow Contributing Guidelines & Code of conduct of this project.

[2021-10-01 04:31] RoshanMhatre commented on #2868
/assign

[2021-10-01 04:44] Gulshanaggarwal opened #3780 "Introducing React Hooks"
### Description

There is no documentation part for basic React hooks such as **useState, useEffect**. This issue resolves documentation for basic for React hooks.

For more details  checkout here -
[https://reactjs.org/docs/hooks-intro.html](url)

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/

[2021-10-01 04:44] Gulshanaggarwal commented on #3780
**/assign**

[2021-10-01 04:45] Gulshanaggarwal commented on #3780
/assign

[2021-10-01 04:54] Suvamrx commented on #3741
/assign

[2021-10-01 04:58] Apurva-oct opened #3781 "BINARY SEARCH"
### Description

Explain in detail about binary search

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-01 04:58] Apurva-oct commented on #3781
/assign

[2021-10-01 04:59] SaloniThete commented on #3754
Name: Saloni Thete
Sr.No: 821
Batch: 19
Type: Documentation
Approach: Detailed Explanation of Multicollinearity using Ridge regression
@prathimacode-hub.Kindly assign :)

[2021-10-01 05:00] #3629 closed

[2021-10-01 05:03] SB2318 commented on #19
Please assign it to me.

[2021-10-01 05:04] palsahabmalviyan commented on #3193
@Sarthak-Agg  sir, please review this pull request..

[2021-10-01 05:15] prathimacode-hub commented on #3754
Issue assigned to @ashish-reddy-20-08  for video and @deepthi1107 for documentation.

[2021-10-01 05:16] prathimacode-hub commented on #3754
Let me know if you would like to work on audio. @SaloniThete

[2021-10-01 05:16] prathimacode-hub commented on #3749
Issue assigned to @Robinrai2612 for documentation

[2021-10-01 05:19] shubhangi-dwivedi commented on #959
/assign

[2021-10-01 05:19] prathimacode-hub commented on #3520
Issue assigned to @rachita11 for video and @ron352 for audio contribution. @

[2021-10-01 05:31] HumblePlebeian commented on #3647
I wanted to contribute in doc format this time

[2021-10-01 05:37] akarshlahariya11 commented on #3413
/assign

[2021-10-01 05:38] shyam640 commented on #1029
/assign

[2021-10-01 05:52] Anant1711 commented on #3647
I think @nikki-priyaHIT is doing doc!!!

@nikki-priyaHIT are you doing in doc or in the video!

[2021-10-01 05:56] nikki-priyaHIT commented on #3647
I am extremly sorry for my mistake please assign this issue to @HumblePlebeian , haven't seen that it was of cyber security and it's not my topic

[2021-10-01 06:00] Anant1711 commented on #3647
@HumblePlebeian
assigned for doc!

[2021-10-01 06:05] Saviour1001 commented on #2582
Closing as the PR is merged

[2021-10-01 06:05] #2582 closed

[2021-10-01 06:07] Saviour1001 commented on #3243
Clsoing as the PR got merged

[2021-10-01 06:07] #3243 closed

[2021-10-01 06:13] #2943 closed

[2021-10-01 06:14] rravi1401 commented on #952
/assign

[2021-10-01 06:14] #959 closed

[2021-10-01 06:19] das-ankur commented on #2713
Hello @prathimacode-hub can you please tell me where I should upload  the data file?

[2021-10-01 06:21] RoshanMhatre commented on #2868
Please add the Hacktoberfest label to it if it's valid.

[2021-10-01 06:23] #3235 closed

[2021-10-01 06:25] rravi1401 opened #3787 "C/CPP Merge Sort"
### Description

<hr>

## Description

I will write and explain the code of merge sort ###documentation

<hr>

## Domain of contribution

-[x] C/CPP

<hr>

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github

[2021-10-01 06:25] rravi1401 commented on #3787
/assign

[2021-10-01 06:27] #208 closed

[2021-10-01 06:30] firefistacez commented on #1534
\assign Video

[2021-10-01 06:40] HumblePlebeian commented on #3647
Thank you!

[2021-10-01 06:49] #2296 closed

[2021-10-01 06:58] SwarnaliBhunia commented on #1960
/assign vedio

[2021-10-01 07:03] SwarnaliBhunia commented on #1960
@Anant1711 sir pls assign me this vedio

[2021-10-01 07:05] #345 closed

[2021-10-01 07:07] #343 closed

[2021-10-01 07:08] #681 closed

[2021-10-01 07:08] #1878 closed

[2021-10-01 07:08] SaloniThete commented on #3754
@prathimacode-hub Sure I would like to work on audio.Thanks

[2021-10-01 07:09] eshan1925 commented on #1426
/assign

[2021-10-01 07:12] mukeshmjn commented on #534
@pankaj-Makhijani any updates over this?

[2021-10-01 07:13] mukeshmjn commented on #3392
@LegendSumeet any updates over this?

[2021-10-01 07:14] mukeshmjn commented on #2664
@Anshii12 any updates?

[2021-10-01 07:14] LegendSumeet commented on #3392
Yes it's will done till tomorrow with PR @mukeshmjn

[2021-10-01 07:28] Suvraneel commented on #1145
@areenoverclouds  Like stated before, authors will be given preference
So, go ahead... And try to make a PR quick since its always been 11 days... (Let me know if you need more time)

[2021-10-01 07:29] Anshii12 commented on #2664
Yes sir. I've completed half of the readme file. I'll be adding the PR by tomorrow.

[2021-10-01 07:30] Pawanupadhyay10 commented on #1145
I am doing it

On Fri, Oct 1, 2021, 12:58 PM Suvraneel Bhuin ***@***.***>
wrote:

[2021-10-01 07:30] #3781 closed

[2021-10-01 07:38] mukeshmjn commented on #2664
ok @Anshii12

[2021-10-01 07:48] ashish-patwal opened #3799 "OpenSource : Docker Hub Repository"
### Description

## Description
Docker Hub is a service provided by Docker for finding and sharing container images with your team. It is the world’s largest repository of container images with an array of content sources including container community developers, open source projects and independent software vendors (ISV) building and distributing their code in containers.

##  Checklist
- Explain

[2021-10-01 07:49] pankaj-Makhijani commented on #534
Working on it, will create PR by tomorrow.

[2021-10-01 07:50] shreyarai05 opened #3800 "Data Science with Python: Support Vector Machines"
### Description

Providing brief description to explain the topic with help of code snippets and example.

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contr

[2021-10-01 07:52] Hasaber8 opened #3802 "OpenSource : Improving content in OpenSource - 2.1"
### Description

Improve the content and Spell check - 2.1_Practice_Git_and_Github_fundamentals

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.git

[2021-10-01 07:53] Hasaber8 commented on #3802
/assign

[2021-10-01 07:56] Aditi-247 opened #3804 "[Frontend with HTML/CSS]: Responsive Design & Media Queries"
### Description

I'll be adding documentation about responsive design and Media queries.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-10-01 07:58] shreyarai05 commented on #3800
/assign

[2021-10-01 08:02] harshit995 commented on #1395
/assign

[2021-10-01 08:10] ELLIPSIS009 commented on #3799
i would like to work on this

[2021-10-01 08:10] ELLIPSIS009 commented on #3799
/assign

[2021-10-01 08:10] garvitraj commented on #1534
@firefistacez go with video

[2021-10-01 08:12] ELLIPSIS009 commented on #3799
@ashish-patwal @Aryamanz29 can you manually assign me this issue because the bot wont let me because my other pr are merged but the issue has not yet been closed by the mentors

[2021-10-01 08:14] shreyarai05 opened #3806 "Arithmetic operators in C++"
### Description

Explaining briefly about operators using example and code snippets.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-10-01 08:15] shreyarai05 commented on #3806
/assign

[2021-10-01 08:20] Ayushi2811 commented on #3804
/assign

[2021-10-01 08:21] shashank725 commented on #31
@Aryamanz29 I have created a PR

[2021-10-01 08:49] Aman-Deshpande commented on #2426
Pull request created on Method Overriding video.

[2021-10-01 08:51] ashish-patwal commented on #3799
@ELLIPSIS009 can you do /assign . See if that works .

[2021-10-01 09:06] Ananyagupta43 opened #3815 "JS: Debouncing and Throttling in JavaScript"
### Description

Description
- What is Debouncing ?
- What is Throttling?
- How Debouncing is different from Throttling ?
- How can we use these techniques ?

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:

[2021-10-01 09:07] Ananyagupta43 commented on #3815
/assign

[2021-10-01 09:08] Ananyagupta43 commented on #3815
@paramsiddharth Sir please check the issue that I created and please assign me this issue.

[2021-10-01 09:11] ELLIPSIS009 commented on #3799
i tried that but the bot is glitched so it doesnt work

[2021-10-01 09:13] Ananyagupta43 commented on #3815
/assign

[2021-10-01 09:21] Divyanshigarg commented on #3804
/assign

[2021-10-01 09:23] Divyanshigarg commented on #3674
can i also get to work on this?

[2021-10-01 09:24] eshan1925 commented on #3511
@ViAsmit please merge the PR if there is no issues...

[2021-10-01 09:24] Divyanshigarg commented on #3635
can i also get to work on this? @Ghulamyazdani

[2021-10-01 09:26] Divyanshigarg commented on #3576
can i also get to work on this issue ? @ghulamyazdani

[2021-10-01 09:30] AS8420 commented on #3674
Please everyone choose different topic.
It's already assigned to me. If you want to do this topic then issue this
one in different format to yourself.

On Fri, Oct 1, 2021, 2:53 PM Divyanshi Garg 27 ***@***.***>
wrote:

[2021-10-01 09:34] Ayushi2811 opened #3820 "images"
### Description

images for job scheduling problem
greedy
cPP
competitive programing
![gwocjob](https://user-images.githubusercontent.com/65339915/135598494-1f343f48-1af9-4da5-9a3a-a5cbdf427816.jpg)
![gwocgreedy](https://user-images.githubusercontent.com/65339915/135598542-3f1fc7b2-6585-45ff-ba2c-d229913ee918.jpg)

### Domain

Competitive Programming

### Type of Contribution

Others

### Code of

[2021-10-01 09:35] ghulamyazdani commented on #3635
Yeah sure @Divyanshigarg go ahead!!

[2021-10-01 09:37] ghulamyazdani commented on #3576
Yes @Divyanshigarg you can work on this!
Just assigned you the issue!

[2021-10-01 09:37] ghulamyazdani commented on #3576
Yes @Divyanshigarg you can work on this!
Just assigned you the issue!

[2021-10-01 09:43] RahulRam29 commented on #1118
/assign

[2021-10-01 09:47] Suvraneel commented on #3690
@rajraii  duplicate  of #3673

[2021-10-01 09:47] #3690 closed

[2021-10-01 10:15] prathimacode-hub commented on #353
Issue assigned to @Anna-cod for video contribution

[2021-10-01 10:15] Divyanshigarg commented on #3496
@manojna191  are u making video about the topic ?

[2021-10-01 10:15] prathimacode-hub commented on #3800
It's already done I guess. @shreyarai05

[2021-10-01 10:16] Divyanshigarg commented on #3488
@harshita214  are u working on this issue ?

[2021-10-01 10:17] Divyanshigarg commented on #3473
can i get to work on this issue ??

[2021-10-01 10:21] dikshatakyar commented on #3140
@code-reaper08  @2024-SANDHYA please review my PR. thankyou :)

[2021-10-01 10:27] 2024-SANDHYA commented on #3140
Already exists!

[2021-10-01 10:31] dikshatakyar commented on #3140
@2024-SANDHYA you mean the HTTP video has already been created by someone?

[2021-10-01 10:46] amaan118921 commented on #1448
Please check and review my PR @rahulsain sir.

[2021-10-01 10:48] CSAURABH commented on #3052
@mukeshmjn  I'll be adding the PR by tomorrow.

[2021-10-01 11:02] harshita2319 commented on #1073
ya sure, what's the problem?

[2021-10-01 11:22] ashish-patwal commented on #3799
@ELLIPSIS009 it says above that you have some open issues already assigned to you . Please resolve those issues before taking up other issues.

[2021-10-01 11:23] manojna191 commented on #3496
Yes I am why??  Sent from Mail for Windows From: Divyanshi Garg 27Sent: 01 October 2021 15:45To: girlscript/winter-of-contributingCc: manojna191; MentionSubject: Re: [girlscript/winter-of-contributing] CSS Grid vs Flex video ***@***.*** are u making video about the topic ?—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.Triage notif

[2021-10-01 11:25] ELLIPSIS009 commented on #3799
actually i have done with my part in those issue and my pr is also merged but the issue was not closed by the supervisor/mentor so thats the problem

[2021-10-01 11:28] manojna191 commented on #3496
yes I am

[2021-10-01 11:28] manojna191 commented on #3496
@Divyanshigarg yes I am

[2021-10-01 11:32] CodingForTheBetter commented on #3200
@adityabisoi Hi. Please kindly **assign me to** contribute to this issue in the form of **documentation**. I am from python batch 4. Thank you!

[2021-10-01 11:33] Shruti-Subu commented on #1780
@nimisha-yadav

[2021-10-01 11:33] Rosy-Chadha commented on #1900
\assign video

[2021-10-01 11:37] Rosy-Chadha commented on #2933
\assign

[2021-10-01 11:38] Manya1609 opened #3828 "Number system conversions"
### Description

Conversions from :
- Binary to Decimal
- Octal to Decimal
- Hexadecimal to Decimal
- Decimal to Binary
- Decimal to Octal
- Decimal to Hexadecimal

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https

[2021-10-01 11:38] Manya1609 commented on #3828
/assign

[2021-10-01 11:39] VikasPandey121 commented on #19
Okay @SB2318, I have assigned this issue to you.

[2021-10-01 11:40] CodingForTheBetter commented on #971
Hi @Randrita @adityabisoi I would like to contribute through audio. Please assign it to me. Thank you. I am from batch 4.

[2021-10-01 11:43] CodingForTheBetter commented on #552
Hi @adityabisoi,
### I would like to work on this issue via video. Please assign it to me.
### I am from Python Batch 4

[2021-10-01 11:43] SwarnaliBhunia commented on #3317
/assign video

[2021-10-01 11:46] CodingForTheBetter commented on #245
Hi @adityabisoi, If this issue hasn't already been assigned to someone via audio then I would like to contribute to this issue via audio section, please.

[2021-10-01 11:48] ashish-patwal commented on #3799
@ELLIPSIS009 i cannot assign you this issue as i am not a maintainer only a mentor . I will ping @Aryamanz29 .

[2021-10-01 11:49] ashish-patwal commented on #3799
PTAL @Aryamanz29

[2021-10-01 11:56] surjyaneeh commented on #477
Please assign me this issue in audio section.

[2021-10-01 12:00] #2936 closed

[2021-10-01 12:01] CodingForTheBetter commented on #2796
Full name -> Tanush Vijayakumar Savadi
Batch Number -> 4
GitHub Profile Link -> https://github.com/CodingForTheBetter
Which type of Contribution you want to make: Documentation

Please assign this to me if not assigned already. Thank you.

[2021-10-01 12:04] Anant1711 commented on #3317
Assigned for Video

[2021-10-01 12:19] M-dime commented on #3804
/assign

[2021-10-01 12:21] #3511 closed

[2021-10-01 12:22] ViAsmit commented on #137
@arcAman07 have you been able to complete this issue?

[2021-10-01 12:26] vijaygupta18 opened #3830 "Easy contribution"
### Description

For easy contribution create pr on this repo.

https://github.com/vijaygupta18/Hacktoberfest-2021

### Domain

Open Source

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-

[2021-10-01 12:45] guptapriya-83900 commented on #2954
@abhisheks008
I have created the pull request

[2021-10-01 12:45] #2954 closed

[2021-10-01 12:47] #2957 closed

[2021-10-01 12:49] #605 closed

[2021-10-01 12:51] #2955 closed

[2021-10-01 12:53] #2781 closed

[2021-10-01 12:54] abhisheks008 commented on #2804
Any update? @Aaksha-sharma

[2021-10-01 13:00] deepthi1107 commented on #1857
mam @prathimacode-hub, please do assign me for audio mam.
serial number: 198, batch-05
my approach: a detailed explanation along with code.

[2021-10-01 13:21] Bhavika-Gianey opened #3838 "MERN_NodeJS: Middlewares in NodeJS"
### Description

A tutorial on What are Middlewares, How middleware works in NodeJS, different parameters taken by middleware functions with different examples.

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://g

[2021-10-01 13:22] Bhavika-Gianey commented on #3838
/assign

[2021-10-01 13:41] Nikita512 commented on #495
/assign

[2021-10-01 13:43] ankurg132 commented on #477
Sure! @adityabisoi audio to @surjyaneeh !

[2021-10-01 13:45] ankurg132 commented on #552
Great, @adityabisoi you can assign video contribution to @CodingForTheBetter

[2021-10-01 13:53] bakisama commented on #3508
@RuchikaSuryawanshi7 write */*assign* without asterisks

[2021-10-01 13:53] ashish-reddy-20-08 commented on #1567
@prathimacode-hub , Can you please evaluate my pr mam.

Link: https://github.com/girlscript/winter-of-contributing/pull/3840

[2021-10-01 13:54] bakisama commented on #3510
/assign

[2021-10-01 13:55] bakisama commented on #3510
Hi @pratishthaa
Could you explain what topics should I wlaborate on

[2021-10-01 13:55] msbuddhu commented on #436
@Sarthak-Agg I have created a PR. Please have a look.

[2021-10-01 14:08] hardikk2002 opened #3845 "MERN_Express: 2.2 Serve Static Website in Express"
### Description

### :pushpin: Minimum points to be covered.
- What's static website.
- Make one dummy webpage using `HTML and CSS`.
- And on `localhost`, server this webpage.
- Type of path: Absolute and Relative.
- `express.static()` middleware.
- How to use `path.join()`
- Use of `__dirname and __filename`
- Also on `app.get("/about")`, send your about.html file, using `res.sendFile()`.

### :1

[2021-10-01 14:09] paramsiddharth commented on #2449
/duplicate #161

[2021-10-01 14:09] #2449 closed

[2021-10-01 14:09] paramsiddharth commented on #2449
@Moeen-Ul-Islam Please look at #161. An issue already exists for hoisting.

[2021-10-01 14:11] Riya-Bisht commented on #2208
Ok @Nandani-koli thank you :)

[2021-10-01 14:11] paramsiddharth commented on #161
@Moeen-Ul-Islam Would you like to be assigned?

[2021-10-01 14:14] uttarabahad opened #3847 "[Frontend with HTML/CSS]: Quotation/Citation Elements using HTML"
### Description

Writing about the tags in HTML like <blockquote>, <q>, <abbr>, <cite> etc. with defination and sample code example which are used for quoting some text or Citing Elements in HTML.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-10-01 14:14] uttarabahad commented on #3847
/assign

[2021-10-01 14:15] uttarabahad commented on #3847
/assign

[2021-10-01 14:17] Moeen-Ul-Islam commented on #161
@paramsiddharth  I don't mind!

[2021-10-01 14:17] uttarabahad commented on #3847
@ghulamyazdani Hello, I am Uttara Bahad from Batch 9. Could I more forward with this topic?

[2021-10-01 14:23] aasthas09 commented on #3845
/assign

[2021-10-01 14:32] Kajal13081 commented on #418
@Rohit-2602
made pull request #3849

[2021-10-01 14:33] Aaryan376 commented on #937
/close

[2021-10-01 14:34] #937 closed

[2021-10-01 14:40] Subhrato20 opened #3850 "Frontend Dev (HTML, CSS, JS): CSS Specificity"
### Description

# Description
I would like to make documentation on CSS Specificity.
I would provide theory related to it along with some examples

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](ht

[2021-10-01 14:41] VidhiDixit2000 commented on #1406
I created the issue and i self assigned it to myself

[2021-10-01 14:41] Subhrato20 commented on #3850
/assign documentation

[2021-10-01 14:44] #3850 closed

[2021-10-01 15:02] hardikk2002 opened #3851 "MERN_Express: 2.3 Dynamic Content in Express & Intro to Template Engines"
### Description

### :pushpin: Minimum points to be covered.
- What's Dynamic Website.
- What is `Template Engine` and why we need them.
- Briefly tell about these template Engines
      1. `Pug`
      2. `HandleBars(hbs), Mustache`
      3. `EJS`
- How to set view engine in Express, `app.set("view ...", " ")`
- Use of `views` folder
- `res.render()` vs `res.send()`

### :file_folder: Project Dire

[2021-10-01 15:05] tanishpophale53 commented on #2927
@adityabisoi I want to work on documentation part of Yield Keyword. Please assign this issue to me.

[2021-10-01 15:12] braveheartdata opened #3854 "Frontend Dev (HTML, CSS, JS): CSS background-repeat( CSS property to set how background images are repeated)"
### Description

# Description
I would like to make documentation on CSS background-repeat ( CSS property to set how background images are repeated)
I would provide theory related to it along with some examples

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contrib

[2021-10-01 15:13] Subhrato20 commented on #3854
/assign

[2021-10-01 15:15] Suvraneel opened #3855 "C_CPP_Operating System- CPU Scheduling Algorithms"
### Description

Detailed, documented code with preemptive, time gap and edge-case handling

### Domain

C/CPP

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-10-01 15:18] Suvraneel opened #3856 "C_CPP Operating System - Page Replacement Algorithms"
### Description

Industry-level code with structured OOP implementation

### Domain

C/CPP

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-10-01 15:21] eshan1925 commented on #1420
Hey @rahulsain and @sitamadex11 I have created the PR, You can have a look now, and is there are no issues you can merge it.

THANKYOU

[2021-10-01 15:22] Aaksha-sharma commented on #2804
yes I will make PR today my hard drive crashed I am sorry for delay.

[2021-10-01 15:26] eshan1925 commented on #1429
/assign

[2021-10-01 15:30] sakshi168 commented on #3327
/assign  please assign this to me

[2021-10-01 15:37] akshara20 commented on #1073
When I'm cloning the repo, its showing some checkout error. So I'm not able to proceed. The cloning is successful but its not able to checkout.

[2021-10-01 15:43] Diksha02 commented on #3854
I would like to work on this, I'm from batch 13 of FEWD using HTML, CSS and js.

[2021-10-01 15:46] #2809 closed

[2021-10-01 15:48] #880 closed

[2021-10-01 15:49] urvashi-tomer commented on #880
Already covered.

[2021-10-01 15:58] ghulamyazdani commented on #3847
Yes, Uttara go ahead with the topic!!

[2021-10-01 16:01] Sin-Sumit commented on #3135
@sifa123 Please review my PR

[2021-10-01 16:20] soma2000-lang commented on #3851
@hardikk2002 I am an participant of GWOC and would like to work on this issue.Please assign me this

[2021-10-01 16:21] #3802 closed

[2021-10-01 16:22] soma2000-lang commented on #3820
@Ayushi2811 I am an participant of GWOC .I would like to work on this issue

[2021-10-01 16:23] hshrivastav commented on #3828
/assign

[2021-10-01 16:23] #2983 closed

[2021-10-01 16:24] #2979 closed

[2021-10-01 16:29] #1104 closed

[2021-10-01 16:33] nandini7637 opened #3865 "Java 18.1 : Character"
### Description
 Add audio, documentation, and video regarding the **Character**

 **Location of File to be added** The files should be added inside the _`Character`_ which will be inside _`Type Wrapper`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb` format.
 * Audio should

[2021-10-01 16:34] nandini7637 opened #3868 "Java 18.2 : Boolean"
### Description
 Add audio, documentation, and video regarding the **Boolean**

 **Location of File to be added** The files should be added inside the _`Boolean`_ which will be inside _`Type Wrapper`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb` format.
 * Audio should be

[2021-10-01 16:36] riyapandey730 commented on #2966
I want to contribute on this

[2021-10-01 16:40] roshinigupta27 commented on #3635
/assign

[2021-10-01 16:42] riyapandey730 commented on #2982
I want to work on this

[2021-10-01 16:43] spy-1234 commented on #3830
/assign

[2021-10-01 16:43] techabhi08 commented on #3865
/assign documentation

[2021-10-01 16:43] tavneetgill commented on #610
Tavneet Kaur Gill
ML-Batch-2
Profile Link: https://github.com/tavneetgill
@abhisheks008 I want to contribute through audio if it is still open!!

[2021-10-01 16:46] #418 closed

[2021-10-01 16:46] Aaksha-sharma commented on #2804
@abhisheks008 I have made PR please look into it. Let me know in case of any changes.
Link - https://github.com/girlscript/winter-of-contributing/pull/3867

[2021-10-01 16:47] GyaniRoman23 commented on #2966
@riyapandey730 I have almost finished this issue, will make a PR asap

[2021-10-01 16:47] riyapandey730 commented on #3799
I want to work on this

[2021-10-01 16:48] riyapandey730 commented on #2966
okay

[2021-10-01 16:50] naveeramesh commented on #3563
@Debasmita-01 is the UI_ UX branch doesn't exist cuz, it shows doesn't exist in VS code? and do we need to make a folder in ui-ux present in main branch?

[2021-10-01 17:00] #996 closed

[2021-10-01 17:03] Narotam-singh opened #3875 "[STL]: Set in C++"
### Description

Hey, I want to make documentation on Set (STL) in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-10-01 17:03] shivaprasadyanala commented on #3868
/assign

[2021-10-01 17:03] Narotam-singh commented on #3875
/assign

[2021-10-01 17:07] vijaygupta18 commented on #3830
Do give Star to this repo.. happy hacking.

[2021-10-01 17:07] Harshil-Jani commented on #3605
@vikhyatsingh123 @mehabhalodiya @goelesha PR has been made ! If any changes are required do let me know :smile:

[2021-10-01 17:08] drishyadamodaran commented on #3856
/assign

[2021-10-01 17:08] rohit-goyal commented on #3480
Hello My name is Rohit Goyal
I would like to work on this issue via documentation
I am DSA Batch-2

[2021-10-01 17:09] drishyadamodaran commented on #3855
/assign

[2021-10-01 17:09] rohit-goyal commented on #3605
Hello My Name is Rohit Goyal
Pls aasign the documentation Part of this to me
 I am From DSA Batch-2

[2021-10-01 17:11] rohit-goyal commented on #3479
Hello My name is Rohit Goyal
Pls assign the documentation part of this issue to me
I am from DSA Batch-2

[2021-10-01 17:13] rohit-goyal commented on #3301
Hello My name is Rohit Goyal
I would like to work on Documentation Part of this issue
I am from DSA Batch-2

[2021-10-01 17:22] hardikk2002 commented on #3851
Comment `/a s s i g n`  in continuation,

[2021-10-01 17:24] SoubhPrat17 commented on #3200
/assign document

[2021-10-01 17:24] 2024-SANDHYA commented on #3854
@Diksha02  That's not the spirit of open-source. @Subhrato20  Opened & got assigned this issue, so you can't work on this one.

[2021-10-01 17:28] atarax665 opened #3881 "Competitive Programming: Strassen’s Matrix Multiplication Algorithm (Documentation)"
### Description

Documentation of Strassen’s Matrix Multiplication Algorithm. Also include contrast with naive matrix multiplication technique.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:/

[2021-10-01 17:28] Diksha02 commented on #3854
Okay.. I thought they got unassigned. My bad.

[2021-10-01 17:29] SidharthMishra-07 commented on #3881
/assign

[2021-10-01 17:29] drishyadamodaran opened #3882 "[Create New Issue]: Standard built-in objects in javascript."
### Description

I would like to make a documentation on Standard built-in objects in javascript.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-10-01 17:29] drishyadamodaran commented on #3882
/assign

[2021-10-01 17:32] #3554 closed

[2021-10-01 17:32] AastikSharma05 opened #3883 "Check whether two strings are anagram of each other"
### Description

Write a function to check whether two given strings are anagram of each other or not.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-10-01 17:33] AastikSharma05 commented on #3883
/assign

[2021-10-01 17:36] sifa123 commented on #3135
Hey @iamsunil25 if you want to work on audio, you can create an issue for that.

[2021-10-01 17:37] prathimacode-hub commented on #1857
Can you choose video as other person earlier has asked audio  contribution. @deepthi1107

[2021-10-01 17:38] prathimacode-hub commented on #1857
Issue assigned to @23-24 for audio contribution

[2021-10-01 17:38] anmolx001 commented on #3806
/assign

[2021-10-01 17:41] #2799 closed

[2021-10-01 17:42] deepthi1107 commented on #1857
Mam I have made changes in my comment, please do assign me mam.

[2021-10-01 17:43] vasu-1 opened #3884 "PHP Linux(Ubuntu) Setup"
### Description

PHP linux setup and configuration !!!!

### Domain

Backend Dev (PHP)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-10-01 17:44] vasu-1 commented on #3884
/assign

[2021-10-01 17:44] ashish-patwal commented on #3799
Use /assign to assign yourself this issue .

[2021-10-01 17:46] eshan1925 commented on #1426
Hey @rahulsain and @sitamadex11 I have created the PR, you can have a look and if there is no issue then please merge it.
Thanks

[2021-10-01 17:46] ELLIPSIS009 commented on #3799
@ashish-patwal acceding to FCFS this issue will be assigned to me. am i right @Aryamanz29 ?

[2021-10-01 17:47] Saviour1001 commented on #2711
Closing as the PR got merged

[2021-10-01 17:47] #2711 closed

[2021-10-01 17:50] #2796 closed

[2021-10-01 17:50] Suvraneel commented on #3787
@rravi1401  Like stated before, closing & reopening the issue won't work...
Its already past deadline... Kindly find a new issue to work on

[2021-10-01 17:50] #3787 closed

[2021-10-01 17:51] ashish-patwal commented on #3799
@ELLIPSIS009 yes you're right . But we can let others work on this issue since assign bot is not letting us give you this issue and neither the maintainer is active right now . Opensource isn't about competing and we'll be posting many other issues as well . Reminder that this event will last till December so you'll get a whole lot of issues to work upon .

[2021-10-01 17:52] ELLIPSIS009 commented on #3799
actually i have started working on the documentation so that's why

[2021-10-01 17:53] TechnoPhasePRO commented on #139
@micepram please merge my PR and also plz squash other commits i have made.

[2021-10-01 17:58] atarax665 opened #3887 "Competitive Programming : Linear Diophantine Equation"
### Description

Documentation of Linear Diophantine Equation that will cover things like-
- Finding a solution for a Linear Diophantine Equation
- Finding all solutions of a Linear Diophantine Equation
- Solution with the minimum value of x + y

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://githu

[2021-10-01 18:00] atarax665 opened #3888 "Competitive Programming: Binary Exponentiation"
### Description

Documentation of binary exponentiation and its use cases.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-10-01 18:03] atarax665 opened #3889 "Competitive Programming: Euclidean Algorithm"
### Description

Documentation of Euclidean algorithm to compute GCD. (Does not include Extended Euclidean algorithm)

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/win

[2021-10-01 18:08] atarax665 opened #3890 "Competitive Programming: Extended Euclidean Algorithm"
### Description

Documentation of  Extended Euclidean algorithm to compute GCD.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-10-01 18:10] atarax665 opened #3893 "Competitive Programming: Ternary Search"
### Description

Documentation on Ternary search algorithm.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-10-01 18:13] kshitij-srivastav commented on #3890
\assign

[2021-10-01 18:15] kshitij-srivastav commented on #3893
\assign

[2021-10-01 18:15] Meghna2080 commented on #3799
/assign

[2021-10-01 18:19] kshitij-srivastav commented on #3889
\assign

[2021-10-01 18:20] LavleenAgrawal commented on #209
Hey @Asmit2952....Why did you closed it.....?? You are a contributor and its not allowed to.....Praveen sir was asking about it...please reply to this text...

[2021-10-01 18:20] kshitij-srivastav commented on #3893
/assign

[2021-10-01 18:21] kshitij-srivastav commented on #3889
/assign

[2021-10-01 18:21] drishyadamodaran commented on #3893
/assign

[2021-10-01 18:21] LavleenAgrawal commented on #443
Yes @sitamadex11 sir my task was completed and pull request issued...changes are assigned and completed it but need some guidance...