[2021-09-22 10:39] Nishita5421 commented on #1913
Hey ! Can I work on the documentation part of this issue?

[2021-09-22 10:40] Aryamanz29 commented on #1102
Any updates ??

[2021-09-22 10:41] Aryamanz29 commented on #1104
Any updates ?? @Binita-tech

[2021-09-22 10:41] Aryamanz29 commented on #1108
@imcoza  Any updates on this ??

[2021-09-22 10:41] Varun270 commented on #798
@Aryamanz29 Have a look at this issue, It doesn't have serial number.

[2021-09-22 10:45] tewarigargi commented on #1862
Hello! @prathimacode-hub
Name: Gargi Tewari
S.No: 752
Github: https://github.com/tewarigargi
Issue: Can I work on this issue?
Approach: I will explain every important and relevant functions with simple one line syntax that will include attributes.

[2021-09-22 10:48] rachita11 commented on #1836
Done.

[2021-09-22 10:49] tewarigargi commented on #1859
Hello! @prathimacode-hub
Name: Gargi Tewari
S.No: 752
Github: https://github.com/tewarigargi
Issue: Can I work on this issue?
Approach: I will explain theory, mathematics and the then step by step code for the same!

[2021-09-22 10:52] itsbittoosharma commented on #1102
Will be doing a pr by tonight

[2021-09-22 10:53] Techno-Simpola commented on #621
@SourabhSaraswat-191939  should I also specify about the installtion and first interaction with VueJs in the documentation...?

[2021-09-22 10:54] Aryamanz29 commented on #1102
Cool @itsbittoosharma

[2021-09-22 10:58] g-animesh02 commented on #1060
/assign

[2021-09-22 10:58] tewarigargi commented on #1825
Hello! @prathimacode-hub
Name: Gargi Tewari
S.No: 752
Github: https://github.com/tewarigargi
Issue: Can I work on this issue?
Approach: I will explain the theory, mathematics behind it. I will also explain it in the form of code and also the pros and cons of it.

[2021-09-22 11:01] ShreeChander commented on #1855
/assign

[2021-09-22 11:02] SaijyotiTripathy commented on #566
I've created a PR on this issue. Please review @adityabisoi sir

[2021-09-22 11:02] NikhilSharma03 opened #1937 "Front End with Framework: Mapping data to components in React"
### Description

- How to map data into Components using ReactJS?
- Add examples (Must)

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blo

[2021-09-22 11:03] Aprakavdia02 commented on #1900
\assign Document

[2021-09-22 11:04] Ruchika-20 commented on #1859
I would like to work on this issue and cover the basic info about pybrain library along with its applications

[2021-09-22 11:07] Ruchika-20 commented on #1862
I would like to work on this issue , I will make a chronology that would contain all imp aspects of Scikit ,its syntax and other relevant details

Name : Ruchika Singh
Serial no : - 331
Batch : 10

[2021-09-22 11:10] varunborar commented on #1874
/assign Documentation

[2021-09-22 11:11] prathimacode-hub opened #1939 "Data Science with Python : Movie Recommendation Systems"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Movie Recommendation Systems. Tutorial to Movie Recommendation Systems and how it's applied using code snippets.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choi

[2021-09-22 11:11] ashish-reddy-20-08 commented on #1830
@prathimacode-hub, Thank you for the opportunity mam.

[2021-09-22 11:13] Aryamanz29 commented on #293
@adityakrm2  Assigning this to you, Happy learning 🎉🎉

[2021-09-22 11:14] Ruchika-20 commented on #1849
Please assign me this issue. I would include all necessary info about NN with examples and short snippets as well
name : Ruchika

[2021-09-22 11:15] siddhi-244 commented on #31
Can we add others open source projects as well ?

[2021-09-22 11:15] ELLIPSIS009 commented on #1857
@prathimacode-hub can you assign me this

[2021-09-22 11:16] Aryamanz29 commented on #648
You have to checkout `Opensource branch` and make changes then create PR to `girlscript : Opensource`

[2021-09-22 11:19] Aryamanz29 commented on #669
@PrachiDoshi2170  Any updates On this ??

[2021-09-22 11:20] Aryamanz29 commented on #672
Sure

[2021-09-22 11:21] Ruchika-20 commented on #1857
Hello! Please assign me this issue @Prathima K|S/M|DS-Python/Python
 I would include all necessary info about data normalisation, its importance and applications with code snippet
Name : Ruchika Singh
Type : Documentation
Serial number : 331
Batch :10

[2021-09-22 11:21] SoubhPrat17 opened #1942 "HTML head: Frontend dev with HTML,CSS,JS"
### Description

A proper guide for the <head> element in HTML.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-09-22 11:21] Aryamanz29 commented on #687
@samik-rathore  Why don't your PR to this issue?

[2021-09-22 11:21] nirvikagarwal opened #1943 "Frontend with Framework: using the React Developer Tools"
### Description

Contributors need to include the following.
- How does React Dev Tool help in the development.
- Examples showing its usage.

Installation is not required as it was already covered in week 1

__Note:__
- Plagiarism is strictly prohibited.
- Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
-

[2021-09-22 11:22] SoubhPrat17 commented on #1942
/assign document

[2021-09-22 11:23] Tanya205 commented on #1939
Hi, I would like to contribute to this issue.
Tanya Malhotra
Data Science with Python, Batch - 12
Sr No. - 429
https://github.com/Tanya205
Documentation

[2021-09-22 11:23] Ruchika-20 commented on #1837
Please assign me this issue

Name : Ruchika Singh
Type : Documentation
Serial number : 331
Batch :10
Approach : Introduction, applications,examples,important facts,etc

[2021-09-22 11:23] #687 closed

[2021-09-22 11:27] AdityaPandey03 commented on #1943
/assign

[2021-09-22 11:27] prathimacode-hub commented on #1849
Issue assigned to @Ruchika-20 for documentation. @Ruchika-20

[2021-09-22 11:28] AdityaPandey03 commented on #1943
I want to work on the documentation part of this issue

[2021-09-22 11:29] AdityaPandey03 commented on #1937
/assign

[2021-09-22 11:32] Anna-cod commented on #76
#1941

[2021-09-22 11:33] SoubhPrat17 commented on #1615
/assign document

[2021-09-22 11:34] SoubhPrat17 commented on #1096
/assign document

[2021-09-22 11:35] SoubhPrat17 commented on #1614
/assign document

[2021-09-22 11:36] SoubhPrat17 commented on #1534
/assign document

[2021-09-22 11:37] Sunainacode opened #1947 "[C/CPP]: Input Output operators in C++using cin and cout"
### Description

This will focus on the operators used to take input and provide output in C++ programs and the header files used in the process.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girl

[2021-09-22 11:38] Sunainacode commented on #1947
/assign

[2021-09-22 11:38] Ruchika-20 commented on #1849
Mam....I'm sorry but I won't be able to work on this issue kindly unassign me this issue and assign
https://github.com/girlscript/winter-of-contributing/issues/1857

[2021-09-22 11:39] Ruchika-20 commented on #1849
apology for the inconvenience!

[2021-09-22 11:42] nirvikagarwal opened #1949 "Frontend with Framework: Mapping data to components in React"
### Description

**Description:**

This needs to include how to map data to React Components.
How we should separate the Data with the logic of our Component to avoid code repetition.
Any other point relevant to this topic is welcomed.

**Note:**
Plagiarism is strictly prohibited.
- Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_Re

[2021-09-22 11:42] ishivamgupta9 commented on #1925
/assign video

[2021-09-22 11:42] Tanya205 commented on #1829
Hi, I would like to contribute to this issue.
Tanya Malhotra
Data Science with Python, Batch - 12
Sr No. - 429
https://github.com/Tanya205
Documentation

[2021-09-22 11:43] ishivamgupta9 commented on #1925
/assign Video

[2021-09-22 11:43] SoubhPrat17 commented on #1613
/assign document

[2021-09-22 11:46] Ruchika-20 commented on #1857
/assign

[2021-09-22 11:51] sanghisha145 commented on #1874
@Satyam175 I already started working on Documentation. Please help as you have assigned same to @varunborar

[2021-09-22 12:00] ankurg132 commented on #548
Hey @kritikarag, all the contributors are currently assigned for this issue already.

[2021-09-22 12:03] Anant1711 opened #1956 "Cybersecurity: 3.6 Resident virus"
### Description

Discuss Resident viruses.

### Domain
## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contributio

[2021-09-22 12:05] GyaniRoman23 commented on #1949
@nirvikagarwal I would like to work with this issue.

[2021-09-22 12:05] Anant1711 opened #1957 "Cybersecurity: 3.7 Trojan Horse"
### Description

Discuss What is Trojan Horse.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guide

[2021-09-22 12:06] #1258 closed

[2021-09-22 12:07] Anant1711 opened #1958 "Cybersecurity: 3.8 Web scripting virus"
### Description

Discuss more about Web scripting viruses.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contri

[2021-09-22 12:08] Anant1711 opened #1959 "Cybersecurity: 3.9 File injecting virus"
### Description

Discuss more about File injecting virus.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contrib

[2021-09-22 12:09] Anant1711 opened #1960 "Cybersecurity: 3.9.1 Boot sector virus"
### Description

Discuss more about the Boot sector virus.

### Domain

Cyber Security

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-09-22 12:09] SMD-1 commented on #1949
/assign

[2021-09-22 12:12] prathimacode-hub commented on #1857
@ELLIPSIS009, bot isn't accepting as it says you have more than 3 open issues you're working on currently.

[2021-09-22 12:12] Palak-Srivastava commented on #1903
/assign audio

[2021-09-22 12:13] Palak-Srivastava commented on #1900
/assign document

[2021-09-22 12:17] pragmatic-philosopher09 commented on #1957
Can I take it up? Documentation?

[2021-09-22 12:19] pragmatic-philosopher09 commented on #1957
/assign

[2021-09-22 12:19] Ruchika-20 commented on #1857
Can I work on this issue?@prathimacode-hub

[2021-09-22 12:22] Isha307 opened #1963 "ML 1.13 : Types of Distribution (A)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Types of Distribution**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or

[2021-09-22 12:24] Isha307 opened #1965 "ML 1.15 : Types of Distribution (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Types of Distribution**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or

[2021-09-22 12:26] Isha307 opened #1966 "ML 1.15 : Types of Distribution (V)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Types of Distribution**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or

[2021-09-22 12:27] Palak-Srivastava commented on #1899
/assign audio

[2021-09-22 12:27] jaigora24 commented on #1807
/assign documentation @AkMo3

[2021-09-22 12:28] jaigora24 commented on #1806
/assign documentation @garvitraj @AkMo3

[2021-09-22 12:33] Ruchika-20 commented on #1965
I would like to work on this issue

[2021-09-22 12:35] Ruchika-20 commented on #1965
/assign

[2021-09-22 12:41] Palak-Srivastava commented on #1899
\assign audio

[2021-09-22 12:52] CodeSavitar commented on #1939
I would like to contribute to this issue.
Adhith Sankar (DS with Python Batch 18)
Documentation

[2021-09-22 12:54] mayankkuthar commented on #31
@siddhi-244 No, It's clearly mentioned in the topic of issue ```own open-source project```. Therefore, I think It's not like you can add other projects.

[2021-09-22 12:57] vaibhavkumar5 opened #1975 "Documentation for HTML Lists"
### Description

Document contribution for HTML Lists in Frontend HTML/CSS Domain.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.git

[2021-09-22 12:57] prithwishpramanik commented on #1960
/assign documentation

[2021-09-22 12:57] yuvithakur007 opened #1976 "String-Copy_Constructor"
### Description

Constructor & Destructor

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 12:58] divya-chhoriya commented on #1939
/assign
I'll provide all the necessary details about this topic and a sample code to demonstrate the working
Divya Chhoriya
Type : Documentation
Serial no: 444 (DS- Python batch 12)

[2021-09-22 12:58] vaibhavkumar5 commented on #1975
/assign

[2021-09-22 12:58] yuvithakur007 commented on #1976
/assign

[2021-09-22 13:01] swarnajha commented on #1313
hello @Debasmita-01
I want to work with the issue . Can you provide me the resource.

[2021-09-22 13:03] rajatsinghchauhan opened #1978 "CSS Syntax and Selectors"
### Description

Description-
-CSS Syntax
-Selectors in CSS
-CSS element selector
-CSS ID selector
-CSS CLASS selector
-CSS Universal Selector

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:/

[2021-09-22 13:03] rajatsinghchauhan commented on #1978
/assign

[2021-09-22 13:04] rajatsinghchauhan commented on #1978
/assign

[2021-09-22 13:07] pankaj-Makhijani commented on #471
@jiviteshjain Hello sir I have prepared the documentation, can you please review it.

[2021-09-22 13:07] OptimalLearner opened #1980 "[JS]: Local Storage and Session Storage"
### Description

## Local Storage and Session Storage
A documentation describing Local Storage and Session Storage in JavaScript

## Directory
Topics/13.Web_Storage/Local_Storage_And_Session_Storage

## Description
- Description about Local Storage and Session Storage
- Reading, adding, creating and updating data using local storage object with example
- Reading, adding, creating and updating data

[2021-09-22 13:13] prathimacode-hub commented on #1857
You had already assigned it by yourself. @Ruchika-20

[2021-09-22 13:24] RakshitGupta621 opened #1983 "[Create New Issue]: HTML Classes and Ids"
### Description

Contribution in documentation of **HTML classes and Ids**

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-09-22 13:26] Suravihere opened #1984 "Multi-level inheritance in cpp"
I want to add document in the field of multi level inheritance in cpp.

[2021-09-22 13:27] Suravihere commented on #1984
/assign

[2021-09-22 13:28] Suravihere commented on #1984
/assign

[2021-09-22 13:29] RakshitGupta621 opened #1985 "[Create New Issue]: Searching and Sorting Algorithms in Arrays"
### Description

I want to contribute in the documentation of **Searching and Sorting algorithms of Arrays**

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-09-22 13:33] ishivamgupta9 commented on #1985
/assign

[2021-09-22 13:35] Harsh-Chaudhary7 commented on #1959
/assign

[2021-09-22 13:36] jaigora24 commented on #1985
/assign documentation

[2021-09-22 13:36] jaigora24 commented on #1983
/assign documentation

[2021-09-22 13:36] jaigora24 commented on #1983
/assign

[2021-09-22 13:37] Praannjaal commented on #1843
/assign
Name: Pranjal Mittal
type : Documentation
Batch: 19

[2021-09-22 13:38] #1158 closed

[2021-09-22 13:38] Suravihere commented on #1984
I am from c/cpp batch3

[2021-09-22 13:38] jaigora24 commented on #1985
/assign

[2021-09-22 13:39] Saviour1001 commented on #904
Closing this issue as it got fixed in the PR. Open new issues !!

[2021-09-22 13:39] #904 closed

[2021-09-22 13:40] Praannjaal commented on #1862
/assign
Name: Pranjal Mittal
Batch: 19
Type: Documentation

[2021-09-22 13:41] #1128 closed

[2021-09-22 13:41] YASHIKA791 commented on #1907
/assign

[2021-09-22 13:42] Suravihere opened #1989 "hybrid inheritance in cpp"
<c/cpp>
I want to submit document in this field.

[2021-09-22 13:42] Suravihere commented on #1989
/assign

[2021-09-22 13:42] Binita-tech commented on #1104
I had term 2 exam, I have started working on it now.

[2021-09-22 13:43] Suravihere commented on #1989
please assign it to me

[2021-09-22 13:43] a-rcane commented on #904
@Saviour1001 thank you :)

[2021-09-22 13:44] Suravihere commented on #1984
<c/cpp>

[2021-09-22 13:46] Suravihere opened #1990 "cascading in cpp"
<c/cpp>
<documentation>
I want to add document in this field.

[2021-09-22 13:47] Suravihere commented on #1990
/assign

[2021-09-22 13:47] jaigora24 commented on #1900
/assign

[2021-09-22 13:48] RAMESSESII2 opened #1991 "[Create New Issue]: Lambda Expressions (Java Core - OOPs concepts)"
### Description

Description

This issue will help people in knowing about a super cool Java Core functionality which is Lambda Expressions.

Points to Note :
- The issues will be assigned on a first come first serve basis, 1 Issue == 1 PR.

- "Issue Title" and "PR Title should be the same. Include issue number along with it.

- Changes should be made inside the winter-of-contributing branch- Back

[2021-09-22 13:48] jaigora24 commented on #1900
/assign documentation

[2021-09-22 13:48] RAMESSESII2 commented on #1991
/assign

[2021-09-22 13:49] ayush-sleeping commented on #1576
I want to make "Documentation" on this issue - #1576 @rahulsain @ydasc815 . Kindly assign me this issue

[2021-09-22 13:53] Sakshi-Gupta06 commented on #93
I want to contribute in this issue

[2021-09-22 13:57] ayush-sleeping commented on #1407
/assign

[2021-09-22 13:57] ayush-sleeping commented on #1407
I am going to make a Documentation on this issue - #1407

[2021-09-22 13:57] anandhu720 commented on #1937
@AdityaPandey03 You can work only in single issue at a time.We have repeated this several time.Then also you guys are auto assigning many tasks from bot.Please obey the rules.We have a lot of contributers by doing like this you guys are taking their opportunities.Please dont this again.

[2021-09-22 14:02] anandhu720 commented on #615
@GyaniRoman23 we have suggested changes in your pr,please make the changes.

[2021-09-22 14:04] AkMo3 opened #1995 "Java 8.1: Break and continue"
### Description

Description Add audio, Documentation, and Video regarding the **Break and continue**.

____

### Location of File to be added

The files should be added inside the `Break and continue`  folder which is inside the `Jump Statements`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to

[2021-09-22 14:06] AkMo3 opened #1996 "Java 9.1: Class fundamentals"
### Description

Description Add audio, Documentation, and Video regarding the **Class fundamentals**.

____

### Location of File to be added

The files should be added inside the `Class fundamentals`  folder which is inside the `Classes and Methods`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format an

[2021-09-22 14:07] AkMo3 opened #1997 "Java 9.2: Methods basics"
### Description

Description Add audio, Documentation, and Video regarding the **Methods basics**.

____

### Location of File to be added

The files should be added inside the `Methods basics`  folder which is inside the `Classes and Methods`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be

[2021-09-22 14:10] ELLIPSIS009 commented on #1849
@prathimacode-hub can you assign me this ?

[2021-09-22 14:12] rahulsain commented on #1576
@ayush-sleeping You are already assigned now

[2021-09-22 14:12] daminimehra commented on #1833
Please review my PR #1998
@paramsiddharth @s4-2

[2021-09-22 14:12] Ash515 commented on #1634
Sure

[2021-09-22 14:12] ayushjain27 commented on #93
I want to contribute

[2021-09-22 14:15] ayush-sleeping commented on #1576
no @rahulsain , Not on this . Because its still showing -

Assignees:
No one assigned

[2021-09-22 14:16] rahulsain commented on #1576
Please work on other issue, that I have just assigned you

[2021-09-22 14:17] ayush-sleeping commented on #1576
ok , thanks for replying me.

[2021-09-22 14:21] AkMo3 commented on #1900
@Sneha1605 You have been assigned documentation. @jaigora24 Be notified about this change! She was appointed as she commented before you.

[2021-09-22 14:22] jyotibajaj729 opened #2001 "[Create New Issue]: Array in c"
### Description

An Array is a collection of data items stored at contiguous memory locations and elements can be randomly accessed using indices of array.
**Why do we need Array?**
Array are needed when we need to store large number of elements for that we can't use normal variables as it would take lot of time and memory and it becomes difficult to manage with normal variables.
**Array Declarati

[2021-09-22 14:22] Shreya241 commented on #1315
Hey @Nishita5421, actually i am already working on the documentation part, you can do the audio or video part.

[2021-09-22 14:23] AkMo3 commented on #1899
@eshan1925 You have been assigned documentation

[2021-09-22 14:23] Ajinkyap331 commented on #1937
/assign

[2021-09-22 14:24] #476 closed

[2021-09-22 14:25] Ajinkyap331 commented on #1937
@anandhu720  I have just completed my Python Contribution. Now I would to glad to work on this issue

[2021-09-22 14:27] Suvraneel commented on #1004
Duplicate #914

[2021-09-22 14:27] ayushmansxn01 opened #2005 "[Flex Box in CSS]:"
### Description

Description:
        FLEX properties :
                              flex-direction
                              justify-content
                              align-items

Batch: 7

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contr

[2021-09-22 14:27] #252 closed

[2021-09-22 14:28] Suvraneel commented on #1247
duplicate #913

you can take audio if you want

[2021-09-22 14:28] #1247 closed

[2021-09-22 14:29] ayushmansxn01 commented on #2005
/assign

[2021-09-22 14:29] jyotibajaj729 commented on #2001
/assign

[2021-09-22 14:31] AkMo3 commented on #1806
@jaigora24 Documentation has already been assigned. Also, stop spamming about documentation when you can see that documentation has already been assigned. Take this as a warning now.

[2021-09-22 14:36] Baba-Yaga-1 commented on #1996
@AkMo3 can you unassign me the previous issue and assign me this for documentation, if there is no problem with it. As my exams are ongoing I will not be able to make a video content for floating-type.

[2021-09-22 14:42] Pooj123-A commented on #1997
**/assign**

[2021-09-22 14:45] Pooj123-A commented on #1985
**/assign**

[2021-09-22 14:45] AkMo3 commented on #1997
Which content domain?

[2021-09-22 14:47] Ash515 opened #2012 "Install a database engine and SQL Syntax 🛢"
### Description

Learn how to install the Database tools and the SQL syntax.

### Domain

Database

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-09-22 14:49] khareyash05 commented on #114
@Kavindra-Mohan-Dwivedi Would you like to work on this?

[2021-09-22 14:49] Pooj123-A commented on #1947
**/assign**

[2021-09-22 14:49] prathimacode-hub commented on #1849
Add up your details asked here to get it assigned. @ELLIPSIS009

[2021-09-22 14:49] AastikSharma05 opened #2013 "Sorting: Sort given 0's , 1's and 2's in an array"
### Description

This code will sort all the given 0's , 1's and 2's in a given array in C++.

Time complexity of the code: O(n)

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [ ] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-09-22 14:50] AastikSharma05 commented on #2013
/assign

[2021-09-22 14:53] arsheelsheikh commented on #1997
/assign documentation

[2021-09-22 14:53] mukeshmjn commented on #1896
Go for it @Ananyagupta43 !

[2021-09-22 14:55] Anant1711 commented on #1959
@Harsh-Chaudhary7 You didn't submit your previous work!
Please submit that first!

[2021-09-22 14:56] AkMo3 commented on #1997
@arsheelsheikh You already have 3.2 assigned

[2021-09-22 14:57] #725 closed

[2021-09-22 14:57] #84 closed

[2021-09-22 14:59] Anant1711 commented on #171
@NIRBHAYKAUSHIK11
Update your status, you took 7 days!

[2021-09-22 14:59] #2013 closed

[2021-09-22 15:00] AastikSharma05 opened #2016 "Sorting: Sort given 0's , 1's and 2's in an array"
### Description

This code will sort all the given 0's , 1's and 2's in a given array in C++.

Time complexity of the code: O(n)

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-09-22 15:01] AastikSharma05 commented on #2016
/assign

[2021-09-22 15:01] NIRBHAYKAUSHIK11 commented on #171
How to update the status?

[2021-09-22 15:03] Anant1711 commented on #171
When you are going to submit your work?

[2021-09-22 15:03] HastiSutaria commented on #437
@Kareem-negm Under Datascience_With_Python branch "object detection" will come under Computer vision? And Should I upload   the google colab there?

[2021-09-22 15:03] Adarshswain commented on #345
sir i have almost completed sir within 2 day i will submit

[2021-09-22 15:04] PrachiDoshi2170 commented on #669
Yes yes I am done almost I will upload by tonight

On Wed, 22 Sep, 2021, 4:49 pm Aryaman, ***@***.***> wrote:

[2021-09-22 15:06] Anant1711 commented on #171
Okay!

[2021-09-22 15:06] arsheelsheikh commented on #1995
/assign documentation

[2021-09-22 15:08] eshan1925 commented on #1899
I have added the switch case expressions. You can merge the PR if there is no issue @AkMo3 and @garvitraj .

[2021-09-22 15:09] Keshavop opened #2019 "/assign"
### Description

Task 1

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 15:09] NIRBHAYKAUSHIK11 commented on #171
I was unable to add images in .md file.

[2021-09-22 15:11] #2019 closed

[2021-09-22 15:14] sushovanb02 opened #2020 "[JS] Topic: Web Browser APIs"
### Description

# Description
- What are APIs?
- What can APIs do?
- How do APIs work?
<br>

# Directory
```Topics/14.Web_Browser_APIs```

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlsc

[2021-09-22 15:16] hariharas-wq commented on #2012
/assign

[2021-09-22 15:16] Anant1711 commented on #171
How you are trying to add?

[2021-09-22 15:17] jay-498 commented on #1096
/assign

[2021-09-22 15:18] sushovanb02 commented on #2020
@paramsiddharth kindly assign me this issue

[2021-09-22 15:19] anandhu720 commented on #345
Try to make it fast.5 days already finished bro

[2021-09-22 15:20] Pooj123-A opened #2022 "#Some Important Operation Using Bit Manipulation"
### Description

### Description
Description
getBit()
setBit()
clearBit()
using bitmanipulation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-22 15:21] Pooj123-A commented on #2022
### /assign

[2021-09-22 15:21] Pooj123-A commented on #2022
**/assign**

[2021-09-22 15:23] medhatiwari commented on #1959
@Anant1711 can you assign me this?

[2021-09-22 15:24] Anant1711 commented on #1959
Assigned!

[2021-09-22 15:31] Adarshswain commented on #345
Yes bro tommorow I will submit forsure

[2021-09-22 15:37] ELLIPSIS009 commented on #1849
I would like to work on this
Abhinav Mathur- 573
Type: Documentation

[2021-09-22 15:39] Varshini-k-02 opened #2026 "Form Validation"
### Description

Form Validation

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 15:40] Varshini-k-02 commented on #2026
/assign

[2021-09-22 15:43] 0shivamh commented on #1956
I would like to work on this one issue

[2021-09-22 15:45] Anant1711 commented on #1956
Okay!
I'm assigning it to you!

[2021-09-22 16:05] HastiSutaria commented on #1966
/assign

[2021-09-22 16:05] prathimacode-hub commented on #1849
Issue assigned to @ELLIPSIS009 for documentation

[2021-09-22 16:05] yuvraj-2503 commented on #1415
assign me this issue

[2021-09-22 16:07] prathimacode-hub commented on #1837
I guess  you're already assigned to other issue. @Ruchika-20

[2021-09-22 16:07] sitamadex11 commented on #1415
Yeah you can proceed.

On Wed, 22 Sep 2021, 9:36 pm Yuvraj Singh, ***@***.***> wrote:

[2021-09-22 16:07] prathimacode-hub commented on #1859
Issue assigned to @tewarigargi for documentation

[2021-09-22 16:08] prathimacode-hub commented on #1829
Issue assigned to @Tanya205 for documentation

[2021-09-22 16:09] prathimacode-hub commented on #1825
Already an issue is assigned to you. @tewarigargi

[2021-09-22 16:11] HastiSutaria commented on #1966
/assign   type - documentation  not video

[2021-09-22 16:11] #1811 closed

[2021-09-22 16:16] devesh-anand opened #2036 "HTML input types"
### Description

Will cover all input types from common ones like:
- Text
- Button
- Radio
- Password
- Checkbox

As well as complicated and lesser-used ones like:
- Range
- Datetime-local
- Week
- Time
- Image
- Month
and many more.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girls

[2021-09-22 16:16] devesh-anand commented on #2036
/assign

[2021-09-22 16:18] uditkatyal opened #2038 "Matrix"
### Description

What is Matrix
Declaration, working, and traversal
Matrix will be a folder.
This is will be the intro matrix .md file
Further files will be added accordingly!

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of co

[2021-09-22 16:26] ron352 commented on #1837
Name : Sarmistha
Type : Documentation.
serial : 614
 Approach: scipy libraries, plotting , applications

[2021-09-22 16:30] GenMech commented on #1996
/assign Documentation

[2021-09-22 16:30] uditkatyal commented on #493
@pjdurden   assign this issue to me
Name : Udit katyal
Batch Number :- 3
Type : Documentation

[2021-09-22 16:32] GenMech commented on #1996
/assign Documentation

[2021-09-22 16:34] #1030 closed

[2021-09-22 16:35] GenMech commented on #1996
/assign Documentation

[2021-09-22 16:40] YASHMAROO commented on #1872
/assign

[2021-09-22 16:42] pankaj-Makhijani commented on #1840
Hello, is this issue open for video part?

[2021-09-22 16:43] SaHill2345 opened #2042 "[Objects And Arrays]:"
### Description

This document will discuss various aspects about Arrays and Objects in JavaScript given how similar yet so different they are
Key Points

- Fundamentals of Objects and Arrays
- When to use Arrays and Objects Respectively
- Difference between Objects and Arrays
- Various properties of Objects and Arrays

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

[2021-09-22 16:44] SaHill2345 commented on #2042
/assign

[2021-09-22 16:45] SundaramSinghPundir commented on #78
i would like to work on this issue, please assign it to me
Nmae : Sundaram Singh Pundir

[2021-09-22 16:48] tewarigargi commented on #1852
/assign

Name: Gargi Tewari
Batch: 18
Type: Documentation
S.No: 752
Github: https://github.com/tewarigargi

Approach: Documentation, I will explain theory, mathematics and the then step by step syntax for all functions and their attributes!

@prathimacode-hub

[2021-09-22 16:51] Pratham-Shah commented on #67
I want to work on this issue?

[2021-09-22 16:58] Baalamurgan opened #2044 "JS JSON: 1.1 What is JSON?"
### Description

Introduction to JSON in JS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-09-22 16:58] Baalamurgan commented on #2044
/assign

[2021-09-22 17:03] #652 closed

[2021-09-22 17:04] #1364 closed

[2021-09-22 17:04] GenMech commented on #1996
/assign Documentation

[2021-09-22 17:05] ELLIPSIS009 commented on #656
@Aryamanz29 can i contribute to this ?

[2021-09-22 17:07] #671 closed

[2021-09-22 17:09] #664 closed

[2021-09-22 17:09] #235 closed

[2021-09-22 17:11] 23-24 commented on #1567
Name :Archana M
Batch:15
type :audio
could you assign it to me.

[2021-09-22 17:11] #653 closed

[2021-09-22 17:12] #1329 closed

[2021-09-22 17:12] 124015001 opened #2046 "C_CPP: Hybrid Inheritance"
### Description

Explaining about Hybrid Inheritance and also performing a program about the same.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-09-22 17:12] 124015001 commented on #2046
/assign

[2021-09-22 17:13] Akshat-2002-coder commented on #2022
/assign

[2021-09-22 17:14] GenMech commented on #1996
/assign Documentation

[2021-09-22 17:22] Samrudhi8 commented on #1320
Can I work on this issue

[2021-09-22 18:09] eshan1925 commented on #1899
@AkMo3 Please review now opened new PR #2055 . Please merge if no issues.

[2021-09-22 18:11] saloni-15 commented on #1840
hey, you can create a new issue, for the video part with the title `MERN_MongoDB: 1.1 What is MongoDB?_Video`
and self-assign it.

[2021-09-22 18:13] SoubhPrat17 commented on #1997
/assign document

[2021-09-22 18:19] AkMo3 commented on #1997
@SoubhPrat17 You have been assigned for documentation.

[2021-09-22 18:30] rajmadhu0406 commented on #1995
/assign documentation

[2021-09-22 18:32] Saviour1001 commented on #976
Closing this issue as the PR is merged !

[2021-09-22 18:32] #976 closed

[2021-09-22 18:36] Anmol55555 commented on #1860
/assign

[2021-09-22 18:38] Anmol55555 commented on #1850
/assign

[2021-09-22 18:44] anjalirai12 commented on #161
@paramsiddharth Sir , I have extended the JS hoisting topic ,added some more important information about the topic. So please kindly review it.

[2021-09-22 18:57] VedRatan opened #2061 "What are different types functions in java?"
### Description

required documentation or audio or both

### Domain

Java_Domain

### Type of Contribution

Audio, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-09-22 18:58] VedRatan commented on #2061
/assign

[2021-09-22 19:00] #146 closed

[2021-09-22 19:04] SourabhSaraswat-191939 opened #2063 "FRONTEND WITH FRAMEWORK: VueJS-2.1 => Data and Methods"
Contributors are required to explain about Data and Methods in Vue.js, which should cover questions like:-
What is Data in Vue.js?
What is Methods in Vue.js?
Why it is needed?
How do they work?
How to use it? (Explain with basic code)
etc....

**Note:**
Plagiarism is strictly prohibited.

Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Developm

[2021-09-22 19:11] abhishek213-alb opened #2065 "HTML Lists"
HTML Lists

[2021-09-22 19:12] abhishek213-alb commented on #2065
/assign

[2021-09-22 19:15] Aryamanz29 commented on #656
@ELLIPSIS009  Assigning this to you , Happy learning 🎉🎉

[2021-09-22 19:16] Aryamanz29 commented on #669
@PrachiDoshi2170  Cool

[2021-09-22 19:20] CSAURABH commented on #2063
@SourabhSaraswat-191939  can I work on this issue?

[2021-09-22 19:21] CSAURABH commented on #2063
/assign

[2021-09-22 19:53] ShivaniAgarwal2001 commented on #121
Mentor @Rohit-2602 and @VikasPandey121, the contributor haven't contributed fully, since I can see **some of the layout** such as Scroll view, Grid layout, Frame layout and list view are missing.
**Can I please contribute further. I want to work in it.**

[2021-09-22 19:56] artishukla1 commented on #726
Yes, it is completed. I will submit it tomorrow.

[2021-09-22 19:59] iamsuyashpatel07 commented on #343
@the-pro @anandhu720
completed

[2021-09-22 20:06] Priyanshirathore commented on #121
I am working on frame and absolute layout
Grid layout is completed
List view scroll view web view these should be covered in the a new issue describing views and viewGroups.

[2021-09-22 20:06] Priyanshirathore commented on #121
Done sir

[2021-09-22 20:09] VikasPandey121 commented on #1118
Please add more description to this issue regarding what could be done in this context.

[2021-09-22 20:11] Akriti-Choudhary opened #2076 "Stl : Vector in C++"
### Description

Documentation on Vector(stl)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-22 20:11] Akriti-Choudhary commented on #2076
/assign

[2021-09-22 20:27] ShivaniAgarwal2001 opened #2077 "Android-Java: Drawable Resource Overview."
### Description

1. Inflate/paste an image resource (bitmap Image or file) in your project.
2. Create an XML resource file that defines the drawable properties.
  2.1. Create Custom Resource files.
          2.1.1. shape.
      2.1.2. selector.
      2.1.3. layer-list.
  2.2. Create Image Assets.
  2.3. Create Vector Assets.

### Domain

Android Dev (Java), Open Source

### Type of Contribution

D

[2021-09-22 20:29] ShivaniAgarwal2001 commented on #2077
Please Mentor @VikasPandey121 allow me to contribute in it.

[2021-09-22 20:41] aj-spec commented on #1707
/assign

[2021-09-22 20:53] beecoder-pro opened #2081 "Boolean variables in C/C++"
### Description

Background context and code snippets related to using Boolean variables in C/C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-09-22 20:54] beecoder-pro commented on #2081
/assign

[2021-09-22 23:08] RitabrataDas343 opened #2084 "Competitive Programming: Binary Search"
### Description

I want to make a documentation on Binary Search Algorithm.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-09-22 23:08] RitabrataDas343 commented on #2084
/assign

[2021-09-23 02:07] RoshanMhatre commented on #1539
Change branch from 'main' to your desired branch.
You will see the directory

[2021-09-23 02:13] geetika005 commented on #2084
/assign

[2021-09-23 02:15] geetika005 commented on #2076
/assign

[2021-09-23 02:30] shripaddhopate commented on #350
Plz assign me issue for video

[2021-09-23 02:59] krupesh87 commented on #1379
/assign document

[2021-09-23 03:03] krupesh87 commented on #1886
/assign

[2021-09-23 03:05] krupesh87 commented on #1793
/assign

[2021-09-23 03:08] krupesh87 commented on #1653
/assign

[2021-09-23 03:09] nikhv opened #2088 "Array: Majority element"
### Description

Finding Majority element from an array of size n. The majority element is an element whose frequency is more than n/2.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winte

[2021-09-23 03:10] nikhv commented on #2088
/assign

[2021-09-23 03:11] Navneetkumarjpr commented on #1937
i want this task

[2021-09-23 03:23] vk-2501 opened #2089 "4 Sum"
### Description

Given an array nums of n integers, return an array of all the unique quadruplets [nums[a], nums[b], nums[c], nums[d]] such that:

0 <= a, b, c, d < n
a, b, c, and d are distinct.
nums[a] + nums[b] + nums[c] + nums[d] == target

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winte

[2021-09-23 03:24] vk-2501 commented on #2089
/assign

[2021-09-23 03:26] Ruchika-20 commented on #1837
Yes mam...I'm assigned issue 1857 [data normalisation]

On Wed, Sep 22, 2021 at 9:37 PM Prathima Kadari ***@***.***>
wrote:

[2021-09-23 03:35] AkMo3 opened #2090 "Java 9.3: Constructors and "this" key word"
### Description

Add audio, documentation, and video regarding the **Constructors and "this" key word**.

____

### Location of File to be added

The files should be added inside the `Constructors`  folder which is inside the `Classes and Methods`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to

[2021-09-23 03:35] AkMo3 opened #2091 "Java 9.4: Methods Overloading"
### Description

Add audio, documentation, and video regarding the **Methods Overloading**.

____

### Location of File to be added

The files should be added inside the `Methods Overloading`  folder which is inside the `Classes and Methods`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be su

[2021-09-23 03:35] AkMo3 opened #2092 "Java 9.5: Access control"
### Description

Add audio, documentation, and video regarding the **Access control**.

____

### Location of File to be added

The files should be added inside the `Access control`  folder which is inside the `Classes and Methods`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted th

[2021-09-23 03:36] Amrita-Mukherjee commented on #2091
\assign Document

[2021-09-23 03:36] Yash-Chandrani commented on #2092
\documentation

[2021-09-23 03:36] Aprakavdia02 commented on #2090
/assign Document

[2021-09-23 03:36] varunborar commented on #2092
/assign Documentation

[2021-09-23 03:36] anandhu720 commented on #2063
@CSAURABH we have repeated many times,you can work only in one issue at a time.Please don't do this again

[2021-09-23 03:37] Yash-Chandrani commented on #2092
\assign documentation

[2021-09-23 03:37] Yash-Chandrani commented on #2091
\assign document

[2021-09-23 03:39] varunborar commented on #1874
You can continue with the work i have un-assigned myself.

[2021-09-23 03:39] Shraddha-Jaggi commented on #1806
\assign audio

[2021-09-23 03:41] techabhi08 commented on #2091
\assign document

[2021-09-23 03:44] Amrita-Mukherjee commented on #2091
/assign Document

[2021-09-23 03:45] JayashreeSadarhalli commented on #2090
/assign audio

[2021-09-23 03:52] Sneha-0308 commented on #2092
\assign audio

[2021-09-23 03:56] Ankush144 opened #2095 "Hoisting in JavaScript"
There is not topic related to Hoisting in javascript. I want to add it.

[2021-09-23 03:57] Ankush144 commented on #2095
/assign

[2021-09-23 03:57] #232 closed

[2021-09-23 03:58] pooja002 commented on #2091
\assign document

[2021-09-23 03:59] jaigora24 commented on #2090
/assign Document

[2021-09-23 03:59] jaigora24 commented on #2088
/assign

[2021-09-23 04:00] jaigora24 commented on #2092
/assign Documentation

[2021-09-23 04:02] shaurya24sri commented on #1322
/assign documentation

[2021-09-23 04:02] pooja002 commented on #1871
/assign Document

[2021-09-23 04:03] sakshi168 commented on #1634
/assign
want to contribution in documentation form

[2021-09-23 04:04] garvitraj commented on #2090
@Aprakavdia02 go with documentation

[2021-09-23 04:06] Prateek-8168 commented on #2001
I want to work with this issue.

[2021-09-23 04:06] garvitraj commented on #2090
@JayashreeSadarhalli go with audio

[2021-09-23 04:06] shreyarai05 opened #2098 "K means algorithm"
### Description

There will be brief theory along with code examples for defining k means algorithm  and how we can use this to solve real life problems.

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduc

[2021-09-23 04:07] shreyarai05 commented on #2098
/assign

[2021-09-23 04:08] Prateek-8168 commented on #2063
I want to work with this issue.

[2021-09-23 04:08] kishlayaug15 commented on #1963
/assign

[2021-09-23 04:10] garvitraj commented on #2092
@Sneha-0308 go with the audio

[2021-09-23 04:10] Koustav-1250 commented on #2090
Hello Sir, I want to contribute in Documentation part of it. Please assign this to me.

[2021-09-23 04:10] sakshi168 commented on #2020
/assign

[2021-09-23 04:11] Koustav-1250 commented on #2089
/assign in documentation part of it.

[2021-09-23 04:11] garvitraj commented on #1806
@Shraddha-Jaggi go ahead with the audio

[2021-09-23 04:13] Rishita11 commented on #1865
I want to work on this issue. Please assign this to me.
Name: Rishita Srivastava
Batch Number: 9
Serial Number: 300
Type : Documentation

I would like to explain this concept using code snippets and visualizations.

[2021-09-23 04:13] Koustav-1250 commented on #2084
I want to contribute in documentation part of it. Please assign this to me.

[2021-09-23 04:15] akratikushwah commented on #2081
/assign

[2021-09-23 04:15] akratikushwah commented on #2076
/assign

[2021-09-23 04:15] akratikushwah commented on #2095
/assign

[2021-09-23 04:16] sushovanb02 commented on #2020
Sometimes the bot doesn't work, you need to ask Param sir to manually assign you.

[2021-09-23 04:17] Koustav-1250 opened #2100 "TypeScript : Web Development"
### Description

I want to make documentation part of TypeScript

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-09-23 04:17] Koustav-1250 commented on #2100
/assign

[2021-09-23 04:19] Prateek-8168 commented on #2020
I want to work with this issue.

[2021-09-23 04:20] sakshi168 commented on #2020
@paramsiddharth sir kindly assign me this issue to contribute in documentation form

[2021-09-23 04:20] Prateek-8168 commented on #1939
I want to work with this issue.

[2021-09-23 04:22] Rishita11 commented on #1825
Please assign this issue to me. I would like to work on this.
Name: Rishita Srivastava
Serial number: 300
Batch Number: 9
Type: Documentation

I would like to explain the mathematical concept by some basic theory about it followed by its implementation.

[2021-09-23 04:25] ShivaniAgarwal2001 commented on #121
Every layout is a ViewGroups(groups of many views or widgets). Hence, we cannot make new issue for the same.

[2021-09-23 04:26] Ankush144 commented on #2095
Hey @akratikushwah  don't work on this issue , It is assigned to me

[2021-09-23 04:26] saniya44 opened #2101 "Inheritance in java (Java Core-OOPs concepts)"
### Description

**What is inheritance in java?**

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project

[2021-09-23 04:27] saniya44 commented on #2101
/assign

[2021-09-23 04:29] Subhradeep10 commented on #493
@uditkatyal @Raghavshalu @HassanRahim26 Go for it

[2021-09-23 04:32] vk-2501 commented on #2089
how to do that?

[2021-09-23 04:33] #1673 closed

[2021-09-23 04:34] manishkumar-hub opened #2103 "[Create New Issue]: DOM in Javascript"
### Description

What is DOM concept in javascript ? How to access elements in javascript?

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-23 04:34] manishkumar-hub commented on #2103
/assign

[2021-09-23 04:36] kishlayaug15 commented on #1963
I want  to contribute to this issue :
Full Name - Kishlay Kumar
Domain - Machine Learning
Batch - 4
Issue Number - 1963
github_ID - https://github.com/kishlayaug15
Type - Documentation, Audio

[2021-09-23 04:37] Soumyakanta06 commented on #2103
/assign

[2021-09-23 04:42] Aryamanz29 commented on #632
@siddhi-244  Any updates on this ?

[2021-09-23 04:43] siddhi-244 commented on #632
Actually sir I am unable to run docker on my pc. Rest all is done. So should I add only the explanation with examples?

[2021-09-23 04:44] saniya44 opened #2104 "Scheduling in Operating System (Operating System Concepts)"
### Description

**What is scheduling in Operating System?**

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 04:44] saniya44 commented on #2104
/assign

[2021-09-23 04:45] Priyanshirathore commented on #121
Alright then I will make 3 more subheadings. But I guess if an issue is already assigned, it can't be re-assigned to you.

[2021-09-23 04:45] Rohit-dubey45 opened #2105 "Ugly Number using Dynamic programming"
### Description

Description
Here i will provide detail description of dynamic programming and solve the question ugly number wit code.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.

[2021-09-23 04:45] Rohit-dubey45 commented on #2105
/assign

[2021-09-23 04:45] 2devyank opened #2106 "[JS: Video for difference between const, var and let]:"
### Description

Topics/5.Syntax/Variable_Initialization

### Domain

JavaScript

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 04:47] 2devyank commented on #2106
/assign

[2021-09-23 04:48] Priyanshirathore commented on #121
@Rohit-2602 sir is it okay to have 10 files under the main file. Because then I have to make a PR of 11 files.

[2021-09-23 04:48] #2104 closed

[2021-09-23 04:49] #601 closed

[2021-09-23 04:49] saniya44 commented on #2104
It is closed cause topic already taken.

[2021-09-23 04:50] heet-kumar commented on #1757
Congrats @YASHMAROO for Issue successfully merged

[2021-09-23 04:50] #1757 closed

[2021-09-23 04:51] abhisheks008 commented on #1966
@HastiSutaria Make sure you have to contribute in this issue via **Video** contribution.

[2021-09-23 04:52] Arpit2401 commented on #1997
/assign video

[2021-09-23 04:53] nooobcoder commented on #1880
@anandhu720 PR raised at [https://github.com/girlscript/winter-of-contributing/pull/2107](https://github.com/girlscript/winter-of-contributing/pull/2107) for Issue **#1880**
Please review, and merge if there are no conflicts.

Thank You 🙏

[2021-09-23 04:53] iamKushGupta commented on #1958
Can this issue be assigned to me ?
Documentation for now...

[2021-09-23 04:55] vijeta-2000 commented on #1290
/assign

[2021-09-23 04:56] Minal5 commented on #1997
\assign video

[2021-09-23 04:57] #282 closed

[2021-09-23 04:58] mmeghana2405 commented on #2012
Hello, I would like to work on this issue by making a video.
Batch: 1

[2021-09-23 04:58] Adarshswain commented on #345
Sir I have submitted the PR. please Check

[2021-09-23 04:59] Minal5 commented on #1615
\assign video

[2021-09-23 05:01] ViAsmit commented on #1845
@jaissumi1402 you can continue working on this topic. but make sure your content is not plagiarised and give proper references.

[2021-09-23 05:02] akratikushwah commented on #2100
/assign

[2021-09-23 05:02] Koustav-1250 commented on #2089
I think we cannot assign self -assign issue to someone else.

[2021-09-23 05:02] akratikushwah commented on #2103
/assign

[2021-09-23 05:03] akratikushwah commented on #2076
/assign

[2021-09-23 05:03] akratikushwah commented on #2046
/assign

[2021-09-23 05:05] akratikushwah commented on #2076
/assign

[2021-09-23 05:07] shubh045 opened #2112 "[Create New Issue]: HTML Lists"
### Description

 About Lists in HTML

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 05:08] 2devyank commented on #2106
@paramsiddharth please assign this issue to me as there wasn't any issue on this topic based on video contribution

[2021-09-23 05:08] shubh045 commented on #2112
/assign

[2021-09-23 05:09] akratikushwah commented on #2112
/assign

[2021-09-23 05:12] akratikushwah commented on #2095
We both can work

[2021-09-23 05:12] Aryamanz29 commented on #632
Hmm ok, Go ahead with examples and explanations 👍

[2021-09-23 05:12] Ayushi2811 commented on #2106
/assign

[2021-09-23 05:15] Ankush144 commented on #2095
@akratikushwah this issue is raised by me , and assigned to me . Please raise your own issue and start working on it.
This issue has been assigned to me. I have the issue number.

[2021-09-23 05:15] Harshil-Jani commented on #632
@Aryamanz29 I was able to run the docker on my PC while learning and I am ready with the Project and Documentation ! So, Once you pull Explaination  from Siddhi then can I add Project Config and Demo Project to it ?

[2021-09-23 05:16] siddhi-244 commented on #632
Let's do it then. I will add my documentation as soon as my exam finishes . Then uh can add the screenshots

[2021-09-23 05:16] Anant1711 commented on #1958
Okay Go with it!

[2021-09-23 05:18] akratikushwah commented on #2095
I have also assigned with this issue.. if you have problem then talk to that person who assigned me with issue.

[2021-09-23 05:18] jawed321 opened #2113 "Foreach loop in javascript"
### Description

What is foreach loop?

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 05:18] jawed321 commented on #2113
/assign

[2021-09-23 05:18] UditJain77 commented on #2012
/assign documentation

[2021-09-23 05:18] Harshil-Jani commented on #632
Okay ! Thankss . Shall we do like you make doc in your fork Let me know, I will merge there and combined doc you can later merge to this GWOC repo ?

[2021-09-23 05:18] paramsiddharth commented on #2106
@2devyank Actually, you could have reused #395 for the video-based contribution too. Each topic is represented by an independent issue, no matter what format the contribution is, which I mentioned in the contribution guide update last week. I'll close this issue. @2devyank and @Ayushi2811 , please go and comment on #395 to be assigned.

[2021-09-23 05:18] #2106 closed

[2021-09-23 05:19] akratikushwah commented on #2095
Okay it works fine!
Work on it!
Good luck

[2021-09-23 05:20] Ankush144 commented on #2095
try to understand , this issue was raised by me, you will not be able to push

[2021-09-23 05:21] neerajdhakad commented on #1864
/assign

[2021-09-23 05:22] Ankush144 commented on #2095
thanks

[2021-09-23 05:23] 2devyank commented on #395
@paramsiddharth please assign this issue to me for video based contribution
actually I am really sorry for that as here only documentation was referred

[2021-09-23 05:36] ARUNBALACHOCKALINGAM commented on #1943
can I work on this issue

[2021-09-23 05:36] jawed321 opened #2116 "CSS box shadow property"
### Description

What is CSS box shadow property and how to use it?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-09-23 05:36] jawed321 commented on #2116
/assign

[2021-09-23 05:36] ARUNBALACHOCKALINGAM commented on #1943
/assign

[2021-09-23 05:37] ARUNBALACHOCKALINGAM commented on #1879
/assign

[2021-09-23 05:38] rohit1kumar opened #2117 "Fix : CONTRIBUTING.md"
Fixing 'master' in CONTRIBUTING.md

[2021-09-23 05:39] ARUNBALACHOCKALINGAM opened #2118 "Creating React App (Include setup for Windows/Linux/Mac)"
### Description

-How to Create react app?
-The mechanism that goes behind the create react app command

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-

[2021-09-23 05:40] rohit1kumar commented on #2117
/assign

[2021-09-23 05:40] Harsh-Chaudhary7 commented on #2118
/assign

[2021-09-23 05:42] Meet19aug commented on #70
/assign

[2021-09-23 05:43] newbiens opened #2120 "[Create New Issue]: Binary_Search_Algo"
### Description

Binary Search Algorithm

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 05:45] Meet19aug commented on #1063
if I would like to work on this issue so @micepram can you please guide me.

[2021-09-23 05:45] Ayushi2811 commented on #2120
/assign

[2021-09-23 05:45] Meet19aug commented on #1063
/assign

[2021-09-23 05:45] daminimehra commented on #1833
pls review my PR #2119
@paramsiddharth @s4-2

[2021-09-23 05:47] newbiens commented on #2120
/assign

[2021-09-23 05:47] akarshlahariya11 commented on #2101
/assign

[2021-09-23 05:47] rohit1kumar commented on #2117
**/assign**

[2021-09-23 05:48] Meet19aug commented on #1074
Hello @micepram ,
I'd like to document this issue.
/assign

[2021-09-23 05:48] newbiens opened #2121 "[Create New Issue]: Everything_about_searching_algo"
### Description

Description
Searching algorithms

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 05:49] newbiens commented on #2121
/assign

[2021-09-23 05:49] newbiens commented on #2121
/assign

[2021-09-23 05:49] Meet19aug commented on #1074
/assign

[2021-09-23 05:52] itsbittoosharma commented on #1102
Please checkout my PR #2122

[2021-09-23 05:52] Meet19aug commented on #1076
I would like to contribute to What is packages? @micepram

[2021-09-23 05:52] Meet19aug commented on #1076
/assign

[2021-09-23 05:53] Divya-2001 commented on #1908
Is the issue still on?

[2021-09-23 05:56] jawed321 opened #2124 "CSS hover effect"
### Description

How to apply hover effect using CSS?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-09-23 05:57] sattwik21 commented on #2124
/assign

[2021-09-23 05:59] ARUNBALACHOCKALINGAM commented on #2118
/assign

[2021-09-23 06:03] jawed321 opened #2125 "Different MouseEvents in javascript"
### Description

Explain different MouseEvents in javascript e.g onmouseover , onmouseleave etc

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-09-23 06:03] sattwik21 commented on #2125
/assign

[2021-09-23 06:03] Ash515 commented on #1634
Sure

[2021-09-23 06:04] Ash515 commented on #2012
Okay @mmeghana2405

[2021-09-23 06:06] Ash515 commented on #2012
@UditJain77  already documenation doing by Mr. @hariharas-wq and video by @mmeghana2405   so you can choose any other medium

[2021-09-23 06:17] nooobcoder commented on #1013
/assign

[2021-09-23 06:18] HastiSutaria commented on #1966
@abhisheks008 Okay

[2021-09-23 06:19] Anuj2403 commented on #1908
/assign

[2021-09-23 06:20] heet-kumar commented on #1937
@AdityaPandey03 are you working on these issue so stop your work because we are changing this issue. Will you able to work on the different issue if we assign you . Because this same issue is already created by other before this issue created.

[2021-09-23 06:21] Ajinkyap331 commented on #570
Thank you @adityabisoi

[2021-09-23 06:22] Ajinkyap331 commented on #1937
@heet-kumar I am working on this issue.

[2021-09-23 06:23] heet-kumar commented on #1937
but it is already created by other .

[2021-09-23 06:23] heet-kumar commented on #1937
before this issue created

[2021-09-23 06:23] braveheartdata opened #2127 "Frontend Dev (HTML, CSS, JS): CSS Z-index"
### Description

### Description
I would like to make documentation on CSS Z-index.
I would provide theory related to it along with some examples

### Domain of Contribution
Frontend Dev (HTML, CSS, JS)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-23 06:24] #607 closed

[2021-09-23 06:27] Subhrato20 commented on #2127
/assign

[2021-09-23 06:27] Ajinkyap331 commented on #1937
But that issue is #1949 and this is 1937. So this the one which is created first

[2021-09-23 06:31] NimeshJohari02 commented on #1611
I would like to work on this.
Nimesh Johari Mern Batch 3

[2021-09-23 06:32] SakshiMishra1 commented on #1833
Sir please review my PR #2128
@paramsiddharth

[2021-09-23 06:32] heet-kumar commented on #1937
@Ajinkyap331 ok then continue..........

[2021-09-23 06:33] akarshlahariya11 commented on #2101
Yes, I'll also contibute and I think that atleast 2-3 people can work on a same issue.

[2021-09-23 06:34] Ajinkyap331 commented on #1937
Thank you so much @heet-kumar

[2021-09-23 06:39] #1084 closed

[2021-09-23 06:39] jaigora24 commented on #2120
/assign

[2021-09-23 06:39] jaigora24 commented on #2121
/assign

[2021-09-23 06:41] Elisha-s commented on #2120
/assign

[2021-09-23 06:44] uditkatyal opened #2132 "Cpp : Dynamic Memory Allocation"
### Description

Description
What is dynamic memory allocation
Heap allocation
static allocation
difference
Use in DS - data structure

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wint

[2021-09-23 06:44] uditkatyal commented on #2132
/assign

[2021-09-23 06:44] syedmazharaliraza opened #2134 "Frontend Dev (HTML, CSS, JS): CSS units"
### Description

A document containing all useful CSS units with a brief explanation and their syntax.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-09-23 06:44] Elisha-s commented on #2088
/assign

[2021-09-23 06:45] syedmazharaliraza commented on #2134
/assign

[2021-09-23 06:49] vk-2501 commented on #2089
I didnt got you. We can create issues but we cannot work on our issues?

[2021-09-23 06:49] ashish-reddy-20-08 commented on #347
Hello @prathimacode-hub. I have created a pull request. Can you please look.
I have closed the previous pull request due to an issue.
so can you please look into this
Link: https://github.com/girlscript/winter-of-contributing/pull/2136

[2021-09-23 06:50] jaigora24 commented on #2134
/assign

[2021-09-23 06:51] #2046 closed

[2021-09-23 06:52] 124015001 commented on #2046
Merged and closed.

[2021-09-23 06:52] aishanii commented on #730
I'm the mentor for this issue, please add me as assignee

[2021-09-23 06:55] khushali452 commented on #2091
/assign video

[2021-09-23 06:56] khushali452 commented on #2091
/assign Video

[2021-09-23 06:57] heet-kumar commented on #1937
No problem @Ajinkyap331

[2021-09-23 07:02] trip0le commented on #1876
/assign

[2021-09-23 07:02] anantcodes opened #2139 "Android-Kotlin : 02.6 Coroutines in Kotlin"
<hr>

## Description 📜

* Give a description of coroutines in Kotlin.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :
https://kotlinlang.org/docs/coroutines-overview.html

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ directory under Android_

[2021-09-23 07:04] SakshiMishra1 commented on #1833
Updated @paramsiddharth PR #2128

[2021-09-23 07:09] AkMo3 commented on #2091
@Amrita-Mukherjee You have been assigned documentation. @khushali452 You have been assigned the video content.

[2021-09-23 07:09] Koustav-1250 commented on #2089
Yes you can work on your issue. Definitely.

[2021-09-23 07:10] #972 closed

[2021-09-23 07:12] anmolx001 commented on #2081
/assign

[2021-09-23 07:13] AkMo3 commented on #2092
@Yash-Chandrani You have been assigned documentation. @varunborar Since he commented first so we have to assign him.

[2021-09-23 07:16] aishanii commented on #353
@prathimacode-hub please add me as assignee

[2021-09-23 07:18] aishanii commented on #374
@prathimacode-hub please add me as assignee

[2021-09-23 07:20] subhendudash02 opened #2142 "[JS] Issue: Regular Expressions"
### Description

Introducing the topic of Regular Expressions and their significance in JavaScript.

<b>Mode: </b> Documentation

## Directory
`JavaScript/Topics/13.Regular_Expressions`

### Domain

JavaScript

### Type of Contribution

- [ ] Documentation
- [ ] Video
- [ ] Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blo

[2021-09-23 07:21] subhendudash02 commented on #2142
/assign

[2021-09-23 07:21] #893 closed

[2021-09-23 07:25] vk-2501 commented on #2089
ok and who will accept out pull request?

[2021-09-23 07:25] aishanii commented on #389
@khush2706 ig the issue gets automatically unassigned after 5 days

[2021-09-23 07:27] aishanii commented on #414
@prathimacode-hub add me as an assignee please

[2021-09-23 07:27] prathimacode-hub commented on #1855
@ShreeChander Where are the details? You haven't provided any?

[2021-09-23 07:27] trip0le opened #2145 "Different ways by which style properties can be implemented"
### Description

Description

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 07:28] trip0le commented on #2145
/assign

[2021-09-23 07:28] aishanii commented on #389
@prathimacode-hub add me as assignee please

[2021-09-23 07:29] prathimacode-hub commented on #2098
This issue is already done. If you want audio / video you can comment on the respective issue. So this issue has to be closed.
@shreyarai05

[2021-09-23 07:30] #2098 closed

[2021-09-23 07:30] vk-2501 opened #2146 "[Create New Issue]:"
### Description

Ques:-
Given two integers start and end, return a sorted list of integers such that every number e is between start = e = end and the digits of e are contiguously increasing.

For example, 2345 is contiguously increasing while 135 and 321 are not.

Constraints

0 = start = end < 2 ** 31
Example 1
Input
start = 0
end = 100
Output
[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 23, 34, 45, 56, 67,

[2021-09-23 07:30] vk-2501 commented on #2146
/assign

[2021-09-23 07:30] vk-2501 commented on #2146
/assign

[2021-09-23 07:32] aishanii commented on #438
@prathimacode-hub add me as assignee please

[2021-09-23 07:33] ashish-reddy-20-08 commented on #1830
Name: M. Ashish Reddy
Type: Documentation
Batch number: 5
Serial number: 174
PR link: https://github.com/girlscript/winter-of-contributing/pull/2147

[2021-09-23 07:36] aishanii commented on #466
@prathimacode-hub add me as assignee

[2021-09-23 07:37] Koustav-1250 commented on #2089
I have sent you email . Can you ask there. It's not good to ask there I
guess in github.

On Thu, Sep 23, 2021 at 12:55 PM vk-2501 ***@***.***> wrote:

[2021-09-23 07:37] Koustav-1250 commented on #2089
I have sent you email.

[2021-09-23 07:39] SakshiMishra1 opened #2150 "JSX:"
### Description

I want to work on the README.md file for JSX.

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-09-23 07:39] SakshiMishra1 commented on #2150
@

[2021-09-23 07:39] #2150 closed

[2021-09-23 07:39] NIRBHAYKAUSHIK11 commented on #171
I am trying to paste image from clipboard.

[2021-09-23 07:41] aishanii commented on #730
@prathimacode-hub please add me as assignee

[2021-09-23 07:42] aishanii commented on #1038
@prathimacode-hub add me as assignee

[2021-09-23 07:44] aishanii commented on #1125
@prathimacode-hub add me as assignee

[2021-09-23 07:44] akratikushwah commented on #2132
/assign

[2021-09-23 07:45] akratikushwah commented on #2124
/assign

[2021-09-23 07:46] akratikushwah commented on #2145
/assign

[2021-09-23 07:46] akratikushwah commented on #2142
/assign

[2021-09-23 07:51] Baba-Yaga-1 commented on #1996
Okay

[2021-09-23 07:51] preeti-14-7 commented on #2124
/assign

[2021-09-23 07:52] preeti-14-7 commented on #2116
/assign

[2021-09-23 07:55] #1290 closed

[2021-09-23 07:55] avishj commented on #1290
Please open issues properly.

[2021-09-23 07:56] avishj commented on #1597
You can only have one domain, remove the rest from the initial issue.

[2021-09-23 07:57] #1597 closed

[2021-09-23 07:58] preeti-14-7 opened #2155 "Flexbox [Create New Issue]:"
### Description

Description

1. Flexbox usees and its properties
2. with code snippets
3. flex all values

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-con

[2021-09-23 07:58] preeti-14-7 commented on #2155
/assign

[2021-09-23 07:59] preeti-14-7 commented on #2155
/assign

[2021-09-23 08:26] Shikhar007-bot opened #2159 "Array Reverse"
### Description

1) Initialize start and end indexes as begin = 0, finish = n-1
2) In a loop, swap arr[begin] with arr[finish] and change begin and finish as follows :
begin = begin +1, finish = finish – 1

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-09-23 08:27] Meghna2080 commented on #1707
/assign

[2021-09-23 08:29] prachigarg19 commented on #2134
/assign

[2021-09-23 08:29] garvitraj opened #2161 "Java 9.6: Nested Classes"
### Description

### Description

Add audio, documentation, and video regarding the **Nested Classes**.

____

### Location of File to be added

The files should be added inside the `Nested Classes`  folder which is inside the `Classes and Methods`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and t

[2021-09-23 08:30] #1102 closed

[2021-09-23 08:32] #293 closed

[2021-09-23 08:33] meghaarhenith commented on #2161
/assign Document

[2021-09-23 08:34] prathimacode-hub commented on #1843
Issue is assigned to @Sakshi1700 for documentation.

You can choose audio / video contribution. @Praannjaal

[2021-09-23 08:37] Anshii12 opened #2163 "FRONTEND: CSS layouts"
### Description
Introducing the topic of CSS Layouts - Displays, Floats, Position, Flex Box, Grid

### Mode
 Documentation

### Domain

Frontend Dev HTML/CSS/JS

### Batch -7

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://githu

[2021-09-23 08:37] Anshii12 commented on #2163
/assign

[2021-09-23 08:38] garvitraj opened #2164 "Java 10.1: String Basics"
### Description

### Description

Add audio, documentation, and video regarding the **String Basics**.

____

### Location of File to be added

The files should be added inside the `String Basics`  folder which is inside the `Strings`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted

[2021-09-23 08:38] #632 closed

[2021-09-23 08:39] eshan1925 commented on #2164
/assign document

[2021-09-23 08:39] Aryamanz29 commented on #632
Create a new issue for that and tag me. I'll assign you

[2021-09-23 08:39] garvitraj opened #2165 "Java 10.2: Overloading Vararg Methods"
### Description

### Description

Add audio, documentation, and video regarding the **Overloading Vararg Methods**.

____

### Location of File to be added

The files should be added inside the `Overloading Vararg Methods`  folder which is inside the `Strings`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3`

[2021-09-23 08:42] Aryamanz29 commented on #634
@Abhay3008  Any updates on this ?

[2021-09-23 08:42] Akriti-Choudhary opened #2166 "friend functions & friend classes in c++"
### Description

documentation on friend functions and friend classes in c++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) o

[2021-09-23 08:43] Aryamanz29 commented on #662
Any updates??? @LegendSumeet

[2021-09-23 08:43] Aryamanz29 commented on #672
@Kalyani02072003  Any updates on this ?

[2021-09-23 08:44] aman12207 commented on #2166
/assign

[2021-09-23 08:45] aman12207 commented on #2166
/assign

[2021-09-23 08:46] Harshil-Jani opened #2167 "OpenSource : Explain Setting up Docker Environment and create a Project."
### Description

- How to configure our projects with ```Docker```.
- Use ```docker``` with your project and document the whole process in steps.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.co

[2021-09-23 08:47] Harshil-Jani commented on #2167
@Aryamanz29 On the continuation of #632 I would like to  document this !

[2021-09-23 08:48] kiru-dev opened #2168 "Filter properties in CSS"
### Description

I am from **Batch -2** of Frontend with HTML, CSS and JavaScript domain.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-09-23 08:49] kiru-dev commented on #2168
/assign

[2021-09-23 08:53] ShifaSyed opened #2170 "Python[Create New Issue]:"

[2021-09-23 09:02] vasu-1 commented on #2076
Hey @geetika005  and @akratikushwah this issue is already assigned to @Akriti-Choudhary so you cannot reassigned to yourself. kindly make another issue but .
### note that there should not be any duplicate issue 👍
### you can not work on the issue which is already assigned to someone else 👍
I hope it will make sense to both of you !

[2021-09-23 09:03] #2170 closed

[2021-09-23 09:05] Minal5 commented on #2164
\assign documentation

[2021-09-23 09:07] karma659 commented on #1115
Name-Akash Karmakar
Batch- 5
github link-https://github.com/karma659
type - documentation

[2021-09-23 09:08] Praannjaal commented on #1843
I will choose audio for this issue!

[2021-09-23 09:09] Koustav-1250 commented on #2089
Basically you have to merge pull request to link your issue.

[2021-09-23 09:10] ShifaSyed opened #2171 "ISSUE ASSIGN"
### Description

@adityabisoi please assign me this issue

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-09-23 09:11] #2171 closed

[2021-09-23 09:14] Arpit2401 commented on #2165
/assign documentation & video

[2021-09-23 09:15] techabhi08 commented on #2165
\assign document

[2021-09-23 09:16] techabhi08 commented on #2165
@Arpit2401 can you please go with video I am unable to find any issue in this repo. This is my first contribution to this repo.

[2021-09-23 09:17] Arpit2401 commented on #2165
@techabhi08 Okay, Sure!

[2021-09-23 09:18] jaigora24 commented on #2164
/assign Documentation

[2021-09-23 09:18] techabhi08 commented on #2165
Thanks a lot!

[2021-09-23 09:18] jaigora24 commented on #2164
/assign document

[2021-09-23 09:19] techabhi08 commented on #2165
@garvitraj please do the needful changes.

[2021-09-23 09:19] Arpit2401 commented on #2165
@garvitraj can I do the video part and @techabhi08 do the documentation part?

[2021-09-23 09:19] jaigora24 commented on #2161
/assign document

[2021-09-23 09:23] deepali2002-max opened #2173 "Function Overloading in C++"
### Description

Documentation of function overloading in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 09:23] deepali2002-max commented on #2173
/assign

[2021-09-23 09:28] Yashesvinee commented on #76
@prathimacode-hub my PR was already merged but I want to make a few changes in my video so should I create a new issue or just go with a new PR?

[2021-09-23 09:28] vasu-1 commented on #2166
### Hey @aman12207 you cannot assign this issue to yourself because this issue is created by @Akriti-Choudhary .
### kindly unassign @aman12207
### @Akriti-Choudhary please assign it to yourself

@aman12207 you can make another issue or pick up another one , but it should not be already exist or any duplicates or already assigned. !

[2021-09-23 09:32] Mobasherah12 commented on #1315
@Debasmita-01 I would like to work on the audio and video part, please assign me. Also @Shreya241 , do let me know once the documentation is prepared, so the video can be documented accordingly.

[2021-09-23 09:32] Akriti-Choudhary commented on #2166
/assign

[2021-09-23 09:34] karma659 commented on #1555
Name - Akash Karmakar
Batch - 5
profile -https://github.com/karma659
type - Documentation

[2021-09-23 09:35] praveenscience commented on #2117
The commit 467cbff Doesn't seem to be as good as it seems.

[2021-09-23 09:36] LegendSumeet commented on #662
all set just final touch ?

[2021-09-23 09:37] Suvraneel commented on #734
@Diksha-11  Next time self-assign

[2021-09-23 09:38] 12-malak commented on #1313
@Debasmita-01 Hey, may I know what others areworking on? I would like to work on documentation. Can you provide me with some resources?

[2021-09-23 09:39] Suvraneel commented on #834
@Ravinayak07  Please edit your comment & take only 1 topic...
And before that make sure it isn't a duplicate one

[2021-09-23 09:48] eshan1925 commented on #2167
/assign

[2021-09-23 09:49] Aaksha-sharma commented on #1109
@Isha307  I have done the audio on this part where should I send it to you?

[2021-09-23 09:52] saloni-15 opened #2175 "MERN_NodeJS : 2.1 Initialize npm package."
### Description

# How to Initialize npm package
**Explain all the steps for initializing the npm package.**

## Project Directory
`Branch MERN>MERN/Topic/Backend/Node/`

## Filename
- Documentation : `2.1_Initialize_npm_package.md`
- Audio : `2.1_Initialize_npm_package(A).md`
- Video : `2.1_Initialize_npm_package(V).md`

Please refrain from plagiarism. You can use any source as inspiration.

###

[2021-09-23 09:56] ritikaxx commented on #2175
/assign documentation

[2021-09-23 09:56] arjyo851 opened #2176 "Pointers and Functions in C++"
### Description

This issue will describe the relationship between pointers and functions

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-09-23 09:56] arjyo851 commented on #2176
/assign

[2021-09-23 09:57] arjyo851 commented on #2176
/assign

[2021-09-23 09:59] anandhu720 commented on #1949
@SMD-1 do you start working on this issue

[2021-09-23 10:02] #615 closed

[2021-09-23 10:05] GyaniRoman23 commented on #1949
Hey @anandhu720 @nirvikagarwal if this issue is reassigned, do consider me for it.

[2021-09-23 10:06] Aayushmaan-Rawat commented on #2120
/assign

[2021-09-23 10:08] vasu-1 commented on #2076
@Ajaycodex see above instruction !

[2021-09-23 10:08] akshat-crypto commented on #1691
hey @ViAsmit, I also want to contribute to this project
can you please share with me at what time new issues will be updated so that i can contribute in them

[2021-09-23 10:09] vasu-1 commented on #2166
@Akriti-Choudhary  don't worry we will do it by our end.
you can continue your work !

[2021-09-23 10:12] UditJain77 commented on #2012
But the format is to write in this way "/assign Content Type", I wrote in exactly that format

[2021-09-23 10:12] Piyushjar opened #2178 "Frontend_Web_Development_HTML_CSS_JS: Node Js"
### Description

Documentation on getting started with Node Js.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-09-23 10:12] Piyushjar commented on #2178
/assign

[2021-09-23 10:13] Piyushjar commented on #2178
/assign

[2021-09-23 10:13] Aayushmaan-Rawat commented on #2178
/assign

[2021-09-23 10:13] Mobasherah12 commented on #1320
Hi @Debasmita-01 , if no one is working on the video part, can you please let me know and assign me the issue?

[2021-09-23 10:14] karma659 commented on #1555
/assign

[2021-09-23 10:15] vasu-1 opened #2180 "PHP windows_setup"
### Description

Documentation on how to install php in windows OS.

### Domain

Backend Dev (PHP)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-09-23 10:15] karma659 commented on #1115
/assign

[2021-09-23 10:15] vasu-1 commented on #2180
/assign

[2021-09-23 10:18] Shaviaditya opened #2181 "Competitive Programming and DSA: Greedy Algorithm to find minimum and maximum product subset of an Array"
### Description

Description
I want to make a documentation on a Simple Greedy Algorithm program that looks for both maximum and minimum product subset in an array.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:

[2021-09-23 10:19] Shaviaditya commented on #2181
/assign

[2021-09-23 10:23] abhisheks008 commented on #1115
@karma659 It's clearly written as Video content, check the guidelines first. And do not use self assign without taking permissions of the supervisors.

[2021-09-23 10:25] Shaviaditya opened #2183 "NodeJS : Building a Vanilla NodeJS Rest API"
### Description

Description
I want to make a documentation on building a basic vanilla NodeJS Rest API without using other npm packages.

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-09-23 10:25] Shaviaditya commented on #2183
/assign

[2021-09-23 10:27] karma659 commented on #1115
Name-Akash Karmakar
Batch- 5
github link-https://github.com/karma659
type - video

[2021-09-23 10:34] abhisheks008 commented on #1115
Issue Assigned @karma659. Complete this issue within this Friday.

[2021-09-23 10:34] SMD-1 commented on #1949
I got fever, so i am not feeling well that's why i have not started working on this issue. If you want you can reassign this issue to someone else i don't want to waste your time i'll work on some other issue next time.

[2021-09-23 10:35] Mobasherah12 commented on #184
@Debasmita-01 , I would like to work on the following plugins:

- [ ] Color palettes
- [ ] Blush
- [ ] Motion
- [ ] Chart
- [ ] Bannerify

[2021-09-23 10:36] abhisheks008 commented on #612
Issue assigned @tavneetgill. Finish this issue by this Friday.

[2021-09-23 10:42] ron352 commented on #1837
@prathimacode-hub  can I work on this issue?

Name : Sarmistha
Type : Documentation.
serial : 614
Approach: scipy libraries, plotting , applications

[2021-09-23 10:44] Nandani-koli opened #2188 "Number System conversion Programs"
### Description

Program to convert from any base to Decimal in cpp.
Program to convert from decimal to any other base in cpp.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-co

[2021-09-23 10:45] Nandani-koli commented on #2188
/assign

[2021-09-23 10:49] Kalyani02072003 commented on #672
yes sir, sir i am currently learning about flagger first. i put my name here because I have not been assigned to anything that time. give me like a week or so, once I understand flagger then I write on it so that even a complete beginner like me can also understand

[2021-09-23 10:51] 12-malak commented on #184
@Debasmita-01  I would like to takeup plugins:

- [ ] Lilgrid
- [ ] Beatflyer lite
- [ ] Coda
- [ ] Vector Maps

[2021-09-23 10:55] ikavyajain opened #2190 "Introduction to C"
### Description

I have prepared a presentation on:
INTRODUCTION TO C
[x] Some facts and features about C Programming Language
[x] Advantages & Disadvantages
[x] Syntax and Semantics
[x] Errors
[x] C Data Types
[x] Variable declaration in C
[x] Special use of sizeof() operator

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines]

[2021-09-23 10:55] ikavyajain commented on #2190
/assign

[2021-09-23 10:56] sumitaccess007 commented on #2164
\assign Video

[2021-09-23 10:57] sumitaccess007 commented on #2164
/assign video

[2021-09-23 10:57] Isha307 commented on #1555
@karma659 This issue is about audio, you have to contribute through audio only.

[2021-09-23 10:57] sumitaccess007 commented on #2164
\assign video

[2021-09-23 10:59] sirisha-29 commented on #1615
\assign documentation

[2021-09-23 10:59] ayushjain27 commented on #2065
I want to contribute

[2021-09-23 11:01] Bavita-115 commented on #1613
/assign documentation

[2021-09-23 11:01] Bavita-115 commented on #1613
\assign documentation

[2021-09-23 11:01] hariketsheth commented on #1634
/assign

@Ash515 - I would like to contribute documentations for this
Thank you !

[2021-09-23 11:01] sirisha-29 commented on #1613
\assign documentation

[2021-09-23 11:02] Bavita-115 commented on #1615
\assign documentation

[2021-09-23 11:05] sirisha-29 commented on #1534
\assign documentation

[2021-09-23 11:05] Bavita-115 commented on #1534
\assign documentation

[2021-09-23 11:05] #1183 closed

[2021-09-23 11:06] #1164 closed

[2021-09-23 11:06] #1152 closed

[2021-09-23 11:15] Himanshu664 commented on #2125
/assign

[2021-09-23 11:20] abhiilasha opened #2195 "Operating System Concepts: Non Preemptive Scheduling"
### Description

Non-preemptive scheduling algorithms

Overview
1. First come first serve
2. Shortest job first
3. Priority scheduling(non-preemptive)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com

[2021-09-23 11:20] abhiilasha commented on #2195
/assign

[2021-09-23 11:21] Pranshu321 opened #2196 "All Types of Traversals Of The Tree Data Structure"
### Description

### In-order , pre-order , post-order
I would like to work on this in this i completely and deeply explain about the all types traversals with good explanation and also with recursive code snippet.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-09-23 11:22] Himanshu664 commented on #2134
/assign

[2021-09-23 11:23] sanskarn17 opened #2197 "Fast Input-Output methods in C++"
### Description

The use and importance of fast I/O methods in CP

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-09-23 11:24] sanskarn17 commented on #2197
/assign

[2021-09-23 11:24] Isha307 opened #2198 "ML 1.14 : ANOVA (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **ANOVA**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of o

[2021-09-23 11:24] pankaj-Makhijani commented on #428
Hello @prathimacode-hub can I work on the video part of this issue?

[2021-09-23 11:25] Anant1711 commented on #171
Check this!
https://stackoverflow.com/questions/14494747/how-to-add-images-to-readme-md-on-github

**Note**:- your images path will be `/images/<image_name>`

[2021-09-23 11:25] Isha307 opened #2200 "ML 1.14 : ANOVA (A)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **ANOVA**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of o

[2021-09-23 11:26] saniya44 opened #2201 "Operating System Concepts: Preemptive Scheduling"
### Description

**What is Preemptive Scheduling in Operating System?**
**Overview of Algorithms in  Preemptive Scheduling**
1.Round Robin (RR)
2.Shortest Remaining Time First (SRTF)
3.Priority (preemptive version)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-09-23 11:26] #2196 closed

[2021-09-23 11:26] saniya44 commented on #2201
/assign

[2021-09-23 11:26] Isha307 opened #2203 "ML 1.14 : ANOVA (V)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **ANOVA**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of o

[2021-09-23 11:29] Ayushi2811 commented on #409
Done with the PR.
https://github.com/girlscript/winter-of-contributing/pull/2202
@nimisha-yadav

[2021-09-23 11:30] Isha307 opened #2205 "ML 1.13 : Confidence Interval (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Confidence Interval**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or a

[2021-09-23 11:30] Sin-Sumit opened #2206 "Add Array in Competitve Programming"
### Description

I'm adding the documentation of Kadane's Algorithm in Competitive Programming.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-23 11:30] Sin-Sumit commented on #2206
/assign

[2021-09-23 11:31] ashish-reddy-20-08 commented on #2205
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution: Documentation

[2021-09-23 11:31] Isha307 opened #2207 "ML 1.13 : Confidence Interval (A)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Confidence Interval**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or a

[2021-09-23 11:32] Nandani-koli opened #2208 "[Programming Fundamentals : JavaScript ]:"
### Description

**Frontend With HTML/CSS/JS**
In Programming Fundamentals folder
Add detail about JavaScript:-
 Control structures

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com

[2021-09-23 11:32] Isha307 opened #2209 "ML 1.13 : Confidence Interval (V)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Confidence Interval**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or a

[2021-09-23 11:32] Nandani-koli commented on #2208
/assign

[2021-09-23 11:35] palakshivlani-11 commented on #31
can i add about various features of a particular framework?

[2021-09-23 11:48] elixir14082002 opened #2211 "Hashing in C++"
### Description

I will create documentation on Hashing in C++.
It will include the following topics:

### Domain

C/CPP

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-09-23 11:48] elixir14082002 commented on #2211
/assign

[2021-09-23 11:48] pratul20 opened #2212 "Recursion"
### Description

Documentation

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 11:49] VARUN-K-BANSAL opened #2213 "Insertion in Binary Search Tree"
### Description

In this documentation I will add logic and code for inserting a new node or data in a Binary Search Tree.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contri

[2021-09-23 11:49] VARUN-K-BANSAL commented on #2213
/assign

[2021-09-23 11:49] pratul20 commented on #2212
/assign

[2021-09-23 11:51] TishaJhabak1014 commented on #2198
Full name : Tisha Jhabak
Batch Number : 6
GitHub Profile Link : https://github.com/TishaJhabak1014
Which type of Contribution you want to make : Documentation
@Isha307 plz do assign me this.

/assign

[2021-09-23 11:51] amitrakshar01 commented on #2198
I would like to be assigned
Name: Amitrakshar Sanyal
Batch: 5
GitHub: github.com/amitrakshar01

[2021-09-23 11:53] aman12207 commented on #2166
Please tell me the command to unassign this issue.

[2021-09-23 11:53] amitrakshar01 commented on #2198
Name: Amitrakshar Sanyal
Batch 5
https://github.com/amitrakshar01

I would like to be assigned.

[2021-09-23 11:58] deepali2002-max opened #2216 "Sets in C++"
### Description

Sets in C++ part of STL

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 11:58] deepali2002-max commented on #2216
/assign

[2021-09-23 11:59] AkMo3 opened #2217 "Java 11.1: Variable Length Arguments"
### Description

Add audio, documentation, and video regarding the **Variable Length Arguments**.

____

### Location of File to be added

The files should be added inside the `Variable Length Arguments`  folder which is inside the `Varargs`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be su

[2021-09-23 12:00] AkMo3 opened #2218 "Java 11.2: Overloading Vararg Methods"
### Description

Add audio, documentation, and video regarding the **Overloading Vararg Methods**.

____

### Location of File to be added

The files should be added inside the `Overloading Vararg Methods`  folder which is inside the `Varargs`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be

[2021-09-23 12:00] AkMo3 opened #2219 "Java 11.3: Varargs and Ambiguity"
### Description

Add audio, documentation, and video regarding the **Varargs and Ambiguity**.

____

### Location of File to be added

The files should be added inside the `Varargs and Ambiguity`  folder which is inside the `Varargs`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted

[2021-09-23 12:00] Kalyani02072003 commented on #672
sir can you please assign it to someone else, because I can barely understand what is flagger. it is better if someone who is familiar with this open source write about it. thank you again

[2021-09-23 12:00] shreya40 commented on #2217
\assign Document

[2021-09-23 12:01] Devangini01 commented on #1336
/ assign
Name : Devangini Shinde
issue : #1336
type : Documentation
batch : 12

[2021-09-23 12:04] shreya40 commented on #2217
/assign document

[2021-09-23 12:05] Harsh-Chaudhary7 commented on #2218
\assign Document

[2021-09-23 12:06] Harsh-Chaudhary7 commented on #2218
/assign document

[2021-09-23 12:06] KishkinJ10 commented on #1644
@AkMo3 @Aryamanz29 Please check the PR linked with this issue

[2021-09-23 12:10] shubhmittal07 commented on #520
/assign
Documentation

[2021-09-23 12:10] srini047 commented on #574
I would like to work on this issue.
Name: Sriniketh J
Python Batch No: 3
Type: Video
Approach: Presentation, along with a practical hands-on demonstration of Lambda Functions
@Randrita @adityabisoi

[2021-09-23 12:12] shubhmittal07 commented on #507
Can you please also assign the documentation part to me @rahulsain

[2021-09-23 12:14] Devangini01 commented on #286
I would like to contribute to this issue. Please assign it to me

[2021-09-23 12:14] shubhmittal07 commented on #487
I would like to contribute into this topic . Can you please assign the documentation part to me.

[2021-09-23 12:15] aman12207 opened #2221 "Stack using STL"
### Description

Stack using STL

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 12:15] aman12207 commented on #2221
/assign

[2021-09-23 12:16] Devangini01 commented on #207
I would like to contribute to this issue . Please assign it to me.

[2021-09-23 12:16] CHARUD25 commented on #1907
/assign

[2021-09-23 12:18] shubhmittal07 commented on #1388
I had a confusion about,,, will there be multiple assignments to an issue or only one will be preferred?

[2021-09-23 12:19] AkMo3 commented on #2218
@Harsh-Chaudhary7 You have been assigned Documentation.

[2021-09-23 12:20] TishaJhabak1014 commented on #2198
/assign

[2021-09-23 12:21] AkMo3 commented on #1644
@KishkinJ10 This issue is not under `Java` domain. Please contact Supervisors/Mentors from the `Backend-With-Java` domain. We will not look into your PR.

[2021-09-23 12:22] AkMo3 commented on #2217
@shreya40 You have been assigned documentation.

[2021-09-23 12:23] redmaniac1105 commented on #1834
/assign
Name:- Vadiraj Rao
Batch:- 9
Serial No:- 293
Type:- Documentation
Approach:- Introduction to topic, theoretical explanation of algorithm, explanation using diagrams, example code snippets

[2021-09-23 12:23] AkMo3 commented on #2165
@Arpit2401 You have been assigned for video and @techabhi08 you have been assigned for documentation.

[2021-09-23 12:27] ishivamgupta9 commented on #2217
/assign

[2021-09-23 12:28] likitarai1 commented on #1049
Sorry I forgot to add credits before. I have added all the necessary credits in md file.  Please merge this new PR @EkjotKaur

[2021-09-23 12:29] ishivamgupta9 commented on #2219
/assign

[2021-09-23 12:29] ishivamgupta9 commented on #2219
/assign document

[2021-09-23 12:29] prathimacode-hub commented on #1825
Issue is assigned to @Rishita11 for documentation

[2021-09-23 12:30] CHARUD25 commented on #1802
/assign

[2021-09-23 12:30] KishkinJ10 commented on #1644
@Satyam175    Sir I have made this basic hello world program in Spring Boot please check the PR .

[2021-09-23 12:30] prathimacode-hub commented on #1819
Yes, you can. @shikhargupta-in

[2021-09-23 12:33] prathimacode-hub commented on #1837
Is your earlier PR done? @ron352

[2021-09-23 12:34] prathimacode-hub commented on #1841
Documentation is already taken. @hariharas-wq

[2021-09-23 12:35] prathimacode-hub commented on #1843
Ok, issue assigned to @Praannjaal for audio contribution. Also add up your approach you would follow in your comment.

[2021-09-23 12:39] prathimacode-hub commented on #1857
@ELLIPSIS009, issue is assigned to you for documentation

@Ruchika-20, accordigng to FCFS issue is assigned to other, you can chose audio or video.

[2021-09-23 12:41] prathimacode-hub commented on #1862
@Praannjaal @tewarigargi @Ruchika-20, you all are already assigned to issues I guess

[2021-09-23 12:42] prathimacode-hub commented on #1939
@CodeSavitar @Tanya205 @Prateek-8168, you can choose either audio or video.

[2021-09-23 12:43] tavneetgill commented on #612
@abhisheks008  By Friday means tomorrow or next?

[2021-09-23 12:43] ishivamgupta9 commented on #2159
/assign video

[2021-09-23 12:45] AdityaStark7 commented on #2205
/assign

[2021-09-23 12:55] ron352 commented on #1837
I have made the changes as you suggested in the previous PR.

[2021-09-23 13:00] likitarai1 commented on #486
@nimisha-yadav Should I create a  file named 1.2.2.5_Recurrence_Relation_Master_Method(V).md and add the google drive video link to it?

[2021-09-23 13:01] CHARUD25 commented on #1406
/assign

[2021-09-23 13:02] Op-panda commented on #1278
/assign

[2021-09-23 13:02] CHARUD25 commented on #1406
/assign

[2021-09-23 13:03] lvi131 opened #2233 "DSA 1.2.3.1 Algorithms : Space Complexity"
### Description

Analysis of space complexity of algorithms.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 13:03] CHARUD25 commented on #1406
I  also want to add documentation of HTML Editors. Kindly Assign this issue to me.

[2021-09-23 13:03] lvi131 commented on #2233
/assign

[2021-09-23 13:03] mridu-pant commented on #579
I would like to work on the audio part.
Name: Mridu Pant
Batch: Python batch 3

[2021-09-23 13:04] Sujit2209 commented on #173
https://github.com/girlscript/winter-of-contributing/pull/2232#issue-1005408352

@Rohit-2602

[2021-09-23 13:06] Randrita commented on #579
@adityabisoi you can assign @mridu-pant audio for this! If it is okay for you!

[2021-09-23 13:13] RudraPratik30 commented on #844
/assign

[2021-09-23 13:14] likitarai1 commented on #1331
/assign

[2021-09-23 13:15] goelesha commented on #1240
@divya1467 Kindly try to submit a PR within 7 days

[2021-09-23 13:15] ritika-code commented on #2211
/assign

[2021-09-23 13:15] ritika-code commented on #2183
/assign

[2021-09-23 13:17] goelesha opened #2237 "DSA 1.1.5.5 Arrays: Standard Problems (Problem 5)"
### Description

Find the least average subarray in a given array.

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request for a different task within the

[2021-09-23 13:17] ritika-code commented on #2212
/assign

[2021-09-23 13:18] ritika-code commented on #1302
/assign

[2021-09-23 13:20] #794 closed

[2021-09-23 13:21] monalsingh10 commented on #1560
/assign
documentation

[2021-09-23 13:24] goelesha opened #2239 "DSA 1.1.5.6 Arrays: Standard Problems (Problem 6)"
### Description

Find subarray with equal 1's and 0's in an array containing only 0 and 1 as elements.

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to req

[2021-09-23 13:24] hardikk2002 commented on #2183
@Shaviaditya
- Kindly follow the [Contributing.md](https://github.com/girlscript/winter-of-contributing/blob/MERN/MERN/Contributing.md).
- Use proper naming of your issue. (eg. MERN_Nodejs: 2.3 ...)
- Follow the roadmap, already shared in Discord.
- or discuss with any of the mentors or supervisors, before creating the issue.
       - As we have to follow a proper roadmap, and this topic is not in

[2021-09-23 13:25] Op-panda opened #2240 "Maps in C++ stl"
### Description

I have read all contributing guidelines. I will make a tutorial on this issue in video format.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-09-23 13:25] Op-panda commented on #2240
/assign

[2021-09-23 13:26] Op-panda commented on #2240
/assign

[2021-09-23 13:26] goelesha opened #2241 "DSA 1.1.5.7 Arrays: Standard Problems (Problem 7)"
### Description

Given an array of N integers arr[] where each element represents the max number of steps that can be made forward from that element. Find the minimum number of jumps to reach the end of the array (starting from the first element). If an element is 0, then you cannot move through that element.
Note: Return -1 if you can't reach the end of the array.

- While requesting the issue to

[2021-09-23 13:27] Harsh-Chaudhary7 commented on #1788
Sorry won't be able to do this please assign it to somebody else @nimisha-yadav

[2021-09-23 13:27] RudraPratik30 commented on #1277
/assign

[2021-09-23 13:28] prathimacode-hub commented on #350
This issue is assigned to @shripaddhopate for video contribution

[2021-09-23 13:28] Harsh-Chaudhary7 commented on #2239
Harsh Chaudhary
DSA batch 1

[2021-09-23 13:29] monalsingh10 commented on #1560
I would like to contribute in this issue. Please assign me for this position:-
Name :Monal Singh
Batch Number: 5
Github profile link: https://github.com/monalsingh10
contribution Type:Documentation

[2021-09-23 13:29] Akriti-Choudhary commented on #2166
@vasu-1 Thankyou.

[2021-09-23 13:29] Op-panda commented on #1278
/assign

[2021-09-23 13:30] Harsh-Chaudhary7 commented on #2241
Harsh Chaudhary
DSA Batch 1

[2021-09-23 13:30] RahulJaiswal-18 commented on #2237
@goelesha Can I work on this issue?
Name: Rahul Jaiswal
Batch: 8

[2021-09-23 13:31] 23-24 commented on #1857
Name :Archana M
serial no:500
Type: audio
batch:15
I would like to work on this.

[2021-09-23 13:31] rajatsinghchauhan commented on #684
working on this

[2021-09-23 13:32] Ayushi2811 commented on #2241
/assign

[2021-09-23 13:37] goelesha commented on #2237
@RahulJaiswal-18 Assigning it to you.
Make sure to submit a PR within 7 days.

[2021-09-23 13:38] goelesha commented on #2239
@Harsh-Chaudhary7 Assigning this issue to you.
Make sure to submit a PR within 7 days.

[2021-09-23 13:40] RaghavvGupta opened #2243 "Application of Cpp"
### Description

I would like to work on the topic of real world applications of Cpp.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-09-23 13:40] RaghavvGupta commented on #2243
/assign

[2021-09-23 13:41] 23-24 commented on #417
Name: Archana M
Batch :15
type: audio
serial no: 500
I would like to work on this issue

[2021-09-23 13:41] Shaviaditya commented on #2183
@hardikk2002 thanks a lot for the info, the naming convention just slipped through by mind..

[2021-09-23 13:46] sahilsingh2402 commented on #1862
/assign

Hello @prathimacode-hub Can I work on this issue?
Name: Sahil Singh
S.No: 650
Github: https://github.com/sahilsingh2402
Type : Documentation
Approach: I will create a simple cheat sheet, in form of a table, along with few examples.

[2021-09-23 13:50] anandhu720 commented on #1949
@SMD-1 okey bro,actually this issue is already created by mistakily mentor created this issue.So we are closing this issue.

[2021-09-23 13:50] #1949 closed

[2021-09-23 13:58] siddhi-244 commented on #2237
Siddhi Bhanushali
DSA BATCH 1
DOCUMENTATION

[2021-09-23 13:58] adityabisoi opened #2249 "Python: Django"
### Description :
What is Django?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/winter-of-cont

[2021-09-23 13:58] adityabisoi opened #2250 "Python: Flask"
### Description :
What is Flask?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/winter-of-contr

[2021-09-23 13:59] siddhi-244 commented on #2239
Siddhi Bhanushali
DSA BATCH 1
DOCUMENTATION

[2021-09-23 13:59] siddhi-244 commented on #2241
Siddhi Bhanushali
DSA BATCH 1
DOCUMENTATION

[2021-09-23 14:01] saloni-15 opened #2251 "MERN_MongoDB: 1.1 What is MongoDB?(A)"
### Description

## What is MongoDB?
Provide the .md file containing the drive link for MP3 audio explaining "**Introduction to MongoDB in MERN stack**".

## Project directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

## File Name
`1.1_What_is_MongoDB?(A).md`

### Domain

MERN

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlsc

[2021-09-23 14:04] saloni-15 opened #2252 "MERN_MongoDB: 1.1 What is MongoDB?(V)"
### Description

## What is MongoDB?
Provide the .md file containing the drive link for MP4 video explaining "**Introduction to MongoDB in MERN stack**".

## Project directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

## File Name
`1.1_What_is_MongoDB?(V).md`

### Domain

MERN

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlsc

[2021-09-23 14:11] GyaniRoman23 commented on #2249
@adityabisoi I would like to work with this issue.

[2021-09-23 14:17] rahulsain commented on #487
@shubhmittal07 Doc part of this issue has already been merged

[2021-09-23 14:17] Ajinkyap331 commented on #2249
/assign

[2021-09-23 14:17] vasu-1 commented on #2166
Hey @aman12207
You can unassigned from here .. please do ASAP.
![IMG_20210923_194458](https://user-images.githubusercontent.com/76911582/134524010-6d55f3e4-3221-47c6-b71a-8aa909ae0e13.jpg)

After unassigned @Akriti-Choudhary  please assign it to yourself..👍👍

[2021-09-23 14:18] rahulsain commented on #1388
@shubhmittal07 Only one for doc, one for audio and one for video no more

[2021-09-23 14:20] geetika005 opened #2257 "Pairs in C++ standard template library"
### Description

### Pairs in C++
_Introduction to pairs in C++_

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proje

[2021-09-23 14:20] geetika005 commented on #2257
/assign

[2021-09-23 14:21] manjeetdhayal commented on #1301
@shikhar13012001 you can work on this It is open

[2021-09-23 14:23] garvitraj commented on #1997
@Minal5 go ahead with the video

[2021-09-23 14:24] garvitraj commented on #1997
@Arpit2401 you have already been assigned the issue 10.2 pls don't comment just one issue at a time

[2021-09-23 14:25] manjeetdhayal opened #2260 "MERN_React: 4.1 Hooks documentation"
### Description

# HOOKS
- What are react hooks?
- What they are used for with some common examples.

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-09-23 14:26] prathimacode-hub opened #2261 "Data Science with Python : Music Recommendation Systems"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Music Recommendation Systems. Tutorial to Music Recommendation Systems and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice

[2021-09-23 14:26] #2205 closed

[2021-09-23 14:27] shreyarai05 opened #2262 "Principal Component Analysis with python"
### Description

It will describe how this algoritham can be used to solve real issues .Need to include theory along with code files for demonstration.

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct]

[2021-09-23 14:27] manjeetdhayal opened #2263 "MERN_React: 4.2 Rules for writing hooks documentation"
### Description

- Explain the common rules for writing hooks
-  What are the things to avoid while writing hooks.

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-23 14:28] shreyarai05 commented on #2262
/assign

[2021-09-23 14:29] manjeetdhayal opened #2265 "MERN_React: 5.1 connecting with and API"
### Description

- How to connect with an API
- how to use axios
- how to fetch data from an API

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-23 14:31] manjeetdhayal opened #2267 "MERN_React 6.1 Forms in React"
### Description

- How to make forms in react
- creating schema for forms

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-09-23 14:33] manjeetdhayal opened #2269 "MERN_React: 7.1Routing in React"
### Description

- how to use routing in react
- basic rules for routing
- what are the different ways of routing explain with the help of code snippets

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.co

[2021-09-23 14:33] ishangupta6412 commented on #2267
/assign

[2021-09-23 14:34] ashish-patwal opened #2271 "OpenSource : 3.8 Process to submit a patch to linux kernel"
### Description

#### Linux is arguably the largest opensource project in the whole world . This project is the backbone of many other technologies and industries . Many linux enthusiasts dream of contributing to the linux kernel but don't know how to get started with submitting patches . Write a detailed document , regarding the process of submitting patches to the linux kernel.
<br>

*Key points

[2021-09-23 14:34] Shaik320 commented on #2261
I would like to work on this issue
Name: Shaik Khaja Bee
Serial No. 42
Type: Documentation and code visualization
Approach:
1)What is Music Recommendation System
2)How to work on provided Dataset such as million song dataset and recommend songs to users
3)Algorithms and principles that can be used to implement the system.

[2021-09-23 14:35] amitrakshar01 commented on #2271
I want to contribute Open Source Batch 4

[2021-09-23 14:37] ishangupta6412 opened #2272 "Vectors in C++ (STL)"
### Description

Everything about vectors.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 14:39] ishangupta6412 commented on #2272
/assign

[2021-09-23 14:39] ashish-patwal commented on #2271
@amitrakshar01 Please use the /assign command to assign yourself to this issue !! Happy contributing .

[2021-09-23 14:39] amitrakshar01 commented on #2271
/assign

[2021-09-23 14:40] Isha307 opened #2273 "ML 1.16 : Bootstrap Sampling (D)"
### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **Bootstrap Sampling**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or an

[2021-09-23 14:40] goelesha commented on #2241
@Ayushi2811 It has been already specified that don't get the issue assigned yourself.

[2021-09-23 14:40] ashish-reddy-20-08 commented on #1856
Hello, I am M. Ashish Reddy. I would like to do VIDEO on this issue.
Batch number: 5
serial number:174.

[2021-09-23 14:41] AdityaStark7 commented on #2273
/assign

[2021-09-23 14:42] ashish-patwal commented on #2271
@amitrakshar01 , Please do take a look at the resource i have provided in the issue template . It will give you a great headstart . Then you can do your research accordingly to make the documentation .

[2021-09-23 14:44] ritik-vashist commented on #2269
@manjeetdhayal I request you to assign this task to me.

[2021-09-23 14:46] GyaniRoman23 commented on #2263
@manjeetdhayal  I would like to work with this issue.

[2021-09-23 14:47] GyaniRoman23 commented on #2263
/assign

[2021-09-23 14:48] GyaniRoman23 commented on #2260
@manjeetdhayal I would like to work with this issue.

[2021-09-23 14:48] GyaniRoman23 commented on #2260
/assign

[2021-09-23 14:50] kashishahuja2002 opened #2277 "[Create New Issue]: Test issue"
### Description

Proper description of issue.

### Domain

C/CPP

### Type of Contribution

Audio, Video, Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-09-23 14:51] BasuDevTyagi10 commented on #2250
I would like to work on this issue:
Name: Basudev Tyagi
Batch: Python Batch - 3
Type: Documentation

[2021-09-23 14:52] SrijanShovit commented on #2269
Could you please assign this issue to me @manjeetdhayal

[2021-09-23 14:52] SrijanShovit commented on #2269
/assign

[2021-09-23 14:54] #1554 closed

[2021-09-23 14:54] BasuDevTyagi10 commented on #2250
/assign

[2021-09-23 14:54] #2277 closed

[2021-09-23 14:55] GyaniRoman23 commented on #1093
Hey @v-rohan Just wanted to know that should I include how a Hook is created or not as you have mentioned to provide only an introduction to them ?

[2021-09-23 14:57] #1109 closed

[2021-09-23 14:57] shubhmittal07 commented on #2139
/assign

[2021-09-23 14:57] micepram commented on #140
Yes sure @ashish-reddy-20-08

[2021-09-23 14:58] ashish-reddy-20-08 commented on #140
Thank you mam @micepram

[2021-09-23 14:59] rijusougata13 commented on #2265
/assign

[2021-09-23 15:01] adityakrm2 commented on #2263
/assign

[2021-09-23 15:03] an5hu19 opened #2279 "[Create New Issue]: Anatomy of an HTML Tag"
### Description

Description
what are html tags?
element and attribute of an HTML tag
How to use them?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-09-23 15:04] vishwas031 opened #2280 "Parallax Effect on scrolling : CSS"
### Description

How to have Parallax effect using HTML, CSS and JS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CO

[2021-09-23 15:04] an5hu19 commented on #2279
/assign

[2021-09-23 15:04] vishwas031 commented on #2280
/assign

[2021-09-23 15:05] rk18venom commented on #569
Sir, I would like to contribute to this issue
Rahul Kashyap
Python Batch 6

[2021-09-23 15:07] Pawanupadhyay10 commented on #1145
I'm doing

[2021-09-23 15:07] shubhmittal07 commented on #2139
I will be handling the documentation part .

[2021-09-23 15:08] shubhmittal07 commented on #2139
Is it ok?

[2021-09-23 15:09] rk18venom commented on #563
Hello Sir @adityabisoi
My name is Rahul Kashyap, Python Batch-6
I would like to work on **Documentation part**
Please assign me this issue

[2021-09-23 15:12] an5hu19 opened #2281 "[Create New Issue]: Loops in C/C++"
### Description

Description
What are loops?
Why they are needed?
Types of loops
Syntax explanation with code

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/m

[2021-09-23 15:13] prathimacode-hub commented on #1856
Issue is assigned to @ashish-reddy-20-08 for video contribution

[2021-09-23 15:14] an5hu19 commented on #2281
/assign

[2021-09-23 15:15] prathimacode-hub commented on #1126
Issue is assigned to @deepthi1107 for video contribution

[2021-09-23 15:16] prathimacode-hub commented on #2261
Issue assigned to @Shaik320 for documentation

[2021-09-23 15:24] BasuDevTyagi10 commented on #2250
@adityabisoi who is the mentor for this issue?

[2021-09-23 15:26] Saviour1001 opened #2283 "Demo video !"
### Description

Adding this and this

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 15:27] Saviour1001 commented on #2283
/assign

[2021-09-23 15:29] ayushijindal commented on #1567
Update on the issue:
Format: Documentation
I am working on the .ipynb file part, soon I'll add PR for this issue.
I have taken a dataset to make the concept more understandable.
Also, start working on the README.md file.

[2021-09-23 15:29] TammanaNiharika commented on #1670
I am also assigned to this issue. How can it assign to others?
Can I work on it or not? someone please clarify me!

[2021-09-23 15:38] ritik-vashist commented on #2260
/asign

[2021-09-23 15:39] shubhmittal07 commented on #2139
I have a doubt-- I just checked on the Android Dev with Kotlin branch,  in the Basics of Kotlin directory, Coroutines topic already exists, so what should I do?

[2021-09-23 15:44] NimeshJohari02 commented on #2251
/assign

[2021-09-23 15:47] ritik-vashist commented on #2260
/assign

[2021-09-23 15:47] rahulsain commented on #2139
@shubhmittal07 thanks for the info, you can take up audio or video

[2021-09-23 15:48] rahulsain commented on #2139
@anantcodes Please do crosscheck before opening issues.

[2021-09-23 15:52] shubhmittal07 commented on #2139
I am so sorry but I really wanted to contribute in documentation part, cause half of my work was nearly done.

[2021-09-23 15:53] deepthi1107 commented on #2209
hello mam, please do assign me, I would like to work on this issue.
type: Video
Batch number: 02

[2021-09-23 15:56] rahulsain commented on #2139
Sorry, but as per the rules I can't accept the PR.

You may have to drop down this issue.

On Thu, 23 Sep, 2021, 9:22 pm Shubh Mittal, ***@***.***>
wrote:

[2021-09-23 16:02] akratikushwah commented on #2281
/assign

[2021-09-23 16:02] akratikushwah commented on #2280
/assign

[2021-09-23 16:02] akratikushwah commented on #2272
/assign

[2021-09-23 16:03] akratikushwah commented on #2243
/assign

[2021-09-23 16:03] akratikushwah commented on #2240
/assign

[2021-09-23 16:05] shubhmittal07 opened #2292 "Android-Kotlin : 07.4 Constraint Layout"
### Description

I wanted to contribute into this topic. Can you please assign it to me

### Domain

Android Dev (Kotlin)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-09-23 16:06] shubhmittal07 commented on #2292
/assign
Documentation

[2021-09-23 16:07] shubhmittal07 commented on #2292
I will be contributing in Documentation part.

[2021-09-23 16:12] siddhi-244 commented on #2241
Sure !

[2021-09-23 16:13] priyankapiba opened #2294 "Update Datatype Readme"
### Description

#Data types
##What are data types(Definition)?
###What are various data types in Python? Explain with examples.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-09-23 16:14] sumitaccess007 commented on #1251
![image](https://user-images.githubusercontent.com/14336951/134544701-1f6a49aa-07df-40a6-8afc-c5bc27015d3b.png)

Please Review MR - #2291, Video Content for **Integers Data Types**.

[2021-09-23 16:14] priyankapiba commented on #2294
/assign

[2021-09-23 16:17] shubhmittal07 commented on #2292
Hey, do I have to update the folder structure because it is a new topic and number 7 folder does not exist. ? Sorry for so many doubts @rahulsain

[2021-09-23 16:19] aman12207 commented on #2166
@vasu-1 I unassigned this project. Sorry for inconvenience.

[2021-09-23 16:20] Harshkumar62367 commented on #646
can i work on this @Aryamanz29 . I am currently out of issues.

[2021-09-23 16:21] rahulsain commented on #2292
Yes, you have to make a folder of 07. Topic name, then sub topic readme
file in it

On Thu, 23 Sep, 2021, 9:47 pm Shubh Mittal, ***@***.***>
wrote:

[2021-09-23 16:24] SourabhSaraswat-191939 opened #2296 "FRONTEND WITH FRAMEWORK: VueJS-2.2 => Data Manipulation in VueJS (using methods)"
### Description

Contributors are required to explain about Data Manipulation in VueJS (using methods), which should cover questions like:-
Why there is a need for Data Manipulation?
How do they work?
How to use Methods to Manipulate Data in Vue.js?
How to implement Data Manipulation (using methods) with code (also give theory explanation of code)?
etc....

**Note:**

Plagiarism is strictly prohib

[2021-09-23 16:25] SourabhSaraswat-191939 commented on #2296
If you don't know this framework. Don't worry still, you can contribute.
Here I am attaching some references for you.

https://vuejs.org/v2/guide/
https://www.tutorialspoint.com/vuejs/vuejs_overview.htm
https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_getting_started

You can also study from any other source to learn.

Note -> These references

[2021-09-23 16:27] Apoorv-17 commented on #1827
I would love to work on this issue.
My approach regarding this issue will include definition, operating principles, its types and architecture, advantages and limitation and finally real-world applications & code.
Name : Apoorv Yadav
Batch : 15
Type : Documentation
Serial No: 537

[2021-09-23 16:32] SourabhSaraswat-191939 opened #2301 "FRONTEND WITH FRAMEWORK: VueJS-2.3 => Computed Properties in Vue.js"
### Description

Contributors are required to explain about Computed Properties in Vue.js, which should cover questions like:-
What is Computed Properties in Vue.js?
When do we have to use this?
How does this work?
How to implement Computed Properties with code (also give theory explanation of code)?
You can take 2-3 examples with codes of different types to explain this.
etc....

**Note:**

Plagi

[2021-09-23 16:39] SourabhSaraswat-191939 opened #2303 "FRONTEND WITH FRAMEWORK: VueJS-2.4 => Watchers in Vue.js"
### Description

Contributors are required to explain about Computed Properties in Vue.js, which should cover questions like:-
What are Watchers in Vue.js?
Why there is a need for watchers as we already have computed properties?
When do we have to use this?
How does this work?
How to implement Watchers with code (also give theory explanation of code)?
You can take 2-3 examples with codes of differ

[2021-09-23 16:39] Safwan310 commented on #2301
/assign

[2021-09-23 16:42] SourabhSaraswat-191939 commented on #2303
If you don't know this framework. Don't worry still, you can contribute.
Here I am attaching some references for you.

https://vuejs.org/v2/guide/
https://www.tutorialspoint.com/vuejs/vuejs_overview.htm
https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_getting_started

You can also study from any other source to learn.

Note -> These references

[2021-09-23 16:42] SourabhSaraswat-191939 commented on #2301
If you don't know this framework. Don't worry still, you can contribute.
Here I am attaching some references for you.

https://vuejs.org/v2/guide/
https://www.tutorialspoint.com/vuejs/vuejs_overview.htm
https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_getting_started

You can also study from any other source to learn.

Note -> These references

[2021-09-23 16:43] vasu-1 commented on #2166
It is all okk @aman12207 . Go Ahead !

@Akriti-Choudhary  Please assign this to yourself !

[2021-09-23 16:43] mayankkuthar commented on #646
@Aryamanz29 Please Assign me this issue I would like to work on this one, I showed my interest fo this one earlier too. :octocat:

[2021-09-23 16:45] BasuDevTyagi10 commented on #1855
I would like to work on this issue
Name: Basudev Tyagi
Batch: DSWP Batch 13
Type: Documentation

[2021-09-23 16:46] YASHMAROO commented on #2296
/assign

[2021-09-23 16:48] Safwan310 commented on #2301
Thanks.

[2021-09-23 16:48] Ravinayak07 commented on #834
Sir the duplicate issues of these topics has already been created by others.
Also i have already completed making the documentation of the first 2 topics.
what should i do now sir?

[2021-09-23 16:49] Debasmita-01 commented on #1313
PLz ask doubts in discord

[2021-09-23 16:49] SourabhSaraswat-191939 commented on #2301
Your Welcome 👍🏻

[2021-09-23 16:51] Debasmita-01 commented on #67
make a pr

[2021-09-23 16:53] priyanka001tech opened #2305 "DSA : Longest Arithmetic Subarray"
### Description

A has an array of N non-negative integers. A wants to calculate maximum length of contiguous arithmetic subarray.

Arithmetic Subarray is an array that contains at least two integers and the difference between consecutive integers are equal. For example  [9,10] , [3,3,3] and [9,7,5,3] arithmetic arrays.

Input: No. of test cases T
          integer no N
          array A[]

### Do

[2021-09-23 16:54] priyanka001tech commented on #2305
/assign

[2021-09-23 17:00] dikshatakyar commented on #930
@code-reaper08 PLEASE OPEN THIS ISSUE. I HAVE ALREADY MADE A VIDEO BUT COULDN'T CONTRIBUTE AT THAT TIME DUE TO SOME FAMILY PROBLEMS. PLEASE LET ME CONTRIBUTE VIA VIDEO HERE. I DON'T WANT MY EFFORTS IN THE VIDEO TO GO WASTE. ALSO, THE ISSUE WAS OPENED JUST 4 DAYS AGO.PLEASE OPEN THIS ISSUE AGAIN !!

[2021-09-23 17:02] SourabhSaraswat-191939 opened #2309 "FRONTEND WITH FRAMEWORK: VueJS-2.4 => Filters in Vue.js"
### Description

Contributors are required to explain about Filters in Vue.js, which should cover questions like:-
What is Filters in Vue.js?
When do we have to use this?
How does this work?
How to implement Filters with code (also give theory explanation of code)?
You can take 2-3 examples with codes of different types to explain this.
etc....

**Note:**

Plagiarism is strictly prohibited.
Change

[2021-09-23 17:03] dhruti29 commented on #2305
I would like to work on this issue.
BATCH - 2 DSA
Dhruti Gandhi

[2021-09-23 17:03] ritikaxx opened #2310 "DSA:Array-Find factorial of a large number."
### Description

Given an integer N, find its factorial.
Example 1:

Input: N = 5
Output: 120
Explanation : 5! = 1*2*3*4*5 = 120
Example 2:

Input: N = 10
Output: 3628800
Explanation :
10! = 1*2*3*4*5*6*7*8*9*10 = 3628800

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob

[2021-09-23 17:03] SourabhSaraswat-191939 commented on #2309
If you don't know this framework. Don't worry still, you can contribute.
Here I am attaching some references for you.

https://vuejs.org/v2/guide/
https://www.tutorialspoint.com/vuejs/vuejs_overview.htm
https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/Vue_getting_started

You can also study from any other source to learn.

Note -> These references

[2021-09-23 17:03] ritikaxx commented on #2310
/assign

[2021-09-23 17:03] dhruti29 commented on #2305
/assign

[2021-09-23 17:04] dhruti29 commented on #2249
I would like to work with this issue, please assign me this issue.
Batch - 1
Dhruti Gandhi

[2021-09-23 17:06] dhruti29 commented on #2250
I would like to work on this issue.(Documentation)
Python Batch - 1
Dhruti Gandhi

[2021-09-23 17:06] pranjalkalal commented on #36
https://github.com/girlscript/winter-of-contributing/pull/2083 @Rohit-2602

[2021-09-23 17:12] Anuj2403 commented on #2239
/assign

[2021-09-23 17:13] jainbhupesh533 commented on #1311
/assign

[2021-09-23 17:13] goelesha commented on #2233
@lvi131
Pls, refrain from getting the issue assigned yourself.
You can go ahead with this issue. But change the name according to the guidelines.

[2021-09-23 17:15] jainbhupesh533 commented on #1311
/assign

[2021-09-23 17:16] jainbhupesh533 commented on #1317
/assign

[2021-09-23 17:20] brassgolem-25 opened #2313 "CSS general rule"
### Description

I'll be adding documentation about rule's one should follow for css.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-09-23 17:21] brassgolem-25 commented on #2313
/assign

[2021-09-23 17:24] Akriti-Choudhary commented on #2166
/assign

[2021-09-23 17:25] VanshikaSable commented on #179
/assign

[2021-09-23 17:29] akratikushwah commented on #2313
/assign

[2021-09-23 17:30] mayankkuthar commented on #646
/assign

[2021-09-23 17:35] rkcraushan333 commented on #2310
/assign

[2021-09-23 17:43] Akriti-Choudhary commented on #2166
@vasu-1 What do you suggest ? How can I self-assign this project?

[2021-09-23 17:45] sushovanb02 opened #2319 "JS: Events in JavaScript"
# Description

- What is an Event ?
- Mouse events
- Keyboard events
- onclick Event Type
- onsubmit Event Type

# Directory
```Topics/15.Events```

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.c

[2021-09-23 17:45] Sneha-0308 commented on #2091
\assign audio

[2021-09-23 17:45] sushovanb02 commented on #2319
@paramsiddharth assign me please

[2021-09-23 17:46] sushovanb02 commented on #2319
/assign

[2021-09-23 17:47] jaigora24 commented on #2305
/assign

[2021-09-23 17:47] TishaJhabak1014 opened #2320 "Frontend_Web_Development_HTML_CSS_JS: Basics of Internet: Domain Name Basics"
### Description

## Description
Welcome to 'Frontend_Web_Development_HTML_CSS_JS'

 Through documentation, this issue will helps readers in gaining the foundational knowledge of `Domain Name`, which is important for understanding FrontEnd development.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https:

[2021-09-23 17:48] sushovanb02 commented on #2319
@paramsiddharth assign me please

[2021-09-23 17:49] jaigora24 commented on #2320
/assign

[2021-09-23 17:49] TishaJhabak1014 commented on #2320
/assign

[2021-09-23 17:50] TishaJhabak1014 commented on #2320
@jaigora24 I would like to take up this issue.

[2021-09-23 17:54] nimisha-yadav commented on #1908
For audio and video format, yes. @Divya-2001

[2021-09-23 17:55] #686 closed

[2021-09-23 17:56] vasu-1 commented on #2166
hey ! i think you have 3 open issues ..
if you have done pr for those issues then you  can simply close those issues..
and you can again try here/assign

[2021-09-23 17:58] SwarnaliBhunia commented on #1675
/assign video

[2021-09-23 17:58] #648 closed

[2021-09-23 17:59] TishaJhabak1014 commented on #72
@paramsiddharth Sir, raised a PR for this issue.

[2021-09-23 18:02] vasu-1 commented on #1754
Please take or create(Make sure there should not be any duplicates) another one ! two contributors cannot work on same issues !!!!!!!!!!!!!!!!

[2021-09-23 18:03] its-me-Harsh-Anand commented on #2319
/assign

[2021-09-23 18:03] #974 closed

[2021-09-23 18:04] #662 closed

[2021-09-23 18:06] #634 closed

[2021-09-23 18:10] #319 closed

[2021-09-23 18:11] PranaySanjule opened #2327 "C/CPP : Infix, Prefix and Postfix ( Application of Stack )"
## Description 📜

I will create a folder Stack ( in the CPP Domain ) and inside that folder, I will add documentation to explain Application of Stack - Evaluation of Arithmetic Expressions ( Introduction to Infix, Prefix, and Postfix Expressions with code ).
<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] DSA

<hr>

[2021-09-23 18:11] PranaySanjule commented on #2327
/assign

[2021-09-23 18:13] Akriti-Choudhary commented on #2166
@vasu-1 The PRs are not merged . Will, there be a problem if I will close those issues without them getting merged?

[2021-09-23 18:13] Aryamanz29 commented on #684
@rajatsinghchauhan  Cool

[2021-09-23 18:13] Aryamanz29 commented on #676
@PrachiDoshi2170  Any updates??

[2021-09-23 18:14] Aryamanz29 commented on #675
Any updates on this @riyapandey730

[2021-09-23 18:15] Aryamanz29 commented on #672
Sure

[2021-09-23 18:15] nimisha-yadav commented on #486
Yes, explain the problem statement in few lines and add the link. Name the file as 1.2.2.5_Master_Method_Video.md

[2021-09-23 18:15] Aryamanz29 commented on #646
@mayankkuthar  Assigning this to you

[2021-09-23 18:15] vasu-1 commented on #2166
Please be patient !
your one of the pr will be merge shortly !
after that you can close that respective issue and pr as well !!

[2021-09-23 18:16] Aryamanz29 commented on #666
@priyall  Any updates on this ?

[2021-09-23 18:17] Aryamanz29 commented on #667
@LegendSumeet  Any updates on this ?

[2021-09-23 18:17] anjalikumawat2002 commented on #2181
/assign

[2021-09-23 18:17] Aryamanz29 commented on #669
@PrachiDoshi2170  Any updates on this ?

[2021-09-23 18:18] Akriti-Choudhary commented on #2166
okay, Thankyou.

[2021-09-23 18:18] lvi131 commented on #2233
@goelesha
Sorry for self assigning.
Can you please help me with the name, I am not sure about the numbering in it -
DSA 1.2.??? Algorithms: Space Complexity

[2021-09-23 18:18] xxEasterGrymm commented on #666
@Aryamanz29 why was I unassigned from this?

[2021-09-23 18:20] anantcodes commented on #2139
The 'documentation' label was automatically given by the keywordlabeler bot and I don't have the right to remove the same.
I have removed the 'documentation' word from the issue as well.

 I guess the video and audio for Coroutines in Kotlin are still pending. The contributors can take up that.

[2021-09-23 18:26] #1759 closed

[2021-09-23 18:26] AkMo3 commented on #2091
@Sneha-0308 You have been assigned Audio. Saas to lelo behen , abhi to merge hu hai :laughing:

[2021-09-23 18:27] vasu-1 commented on #2166
now you can close that respective issue and try here !

[2021-09-23 18:31] #2076 closed

[2021-09-23 18:32] Akriti-Choudhary commented on #2166
/assign

[2021-09-23 18:33] code-reaper08 commented on #930
@2024-SANDHYA Video contribution request, reopening the issue here.

[2021-09-23 18:35] LegendSumeet commented on #667
Yes just finalized things are Remaining Like Conclusion etc

[2021-09-23 18:36] Anushka2705 opened #2330 "[Create New Issue]: Looping Control Structure"
### Description

This includes all information about all loops with examples .

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-09-23 18:36] Anushka2705 commented on #2330
/assign

[2021-09-23 18:37] LegendSumeet commented on #2330
Assign me

[2021-09-23 18:58] Techno-Simpola commented on #621
@SourabhSaraswat-191939  okay and thank you for clearing my doubt :)

[2021-09-23 19:01] 124015001 opened #2334 "C_CPP: Pre-Defined Manipulators"
### Description

documentation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 19:01] 124015001 commented on #2334
/assign

[2021-09-23 19:12] tejas342 commented on #559
hello @adityabisoi
I want to contribute to this issue in video format
tejas prajapati python batch-6

[2021-09-23 19:23] ikavyajain opened #2337 "Input and Output Operations in C Programming Language"
### Description

- Managing Input/Output
- Formatted Input/Output
- C Format Specifier
- Escape sequences in C
- Reading Character in C
- Difference between getchar(), getc(), getch() and getche()
- Writing Character in C

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-23 19:23] ikavyajain commented on #2337
/assign

[2021-09-23 19:27] ikavyajain opened #2339 "Algorithms and Flowcharts In C Programming Language"
### Description

- What is an Algorithm?
- Characteristics of an Algorithm?
- How to design an Algorithm?
- What is a Flowchart?
- What is DFD(Data Flow Diagram)?
- Some examples of Flowcharts

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.

[2021-09-23 19:27] riyapandey730 commented on #675
by tomorrow

[2021-09-23 19:28] ikavyajain commented on #2339
/assign

[2021-09-23 19:28] eshan1925 commented on #2339
/assign

[2021-09-23 19:32] AGR-12JU opened #2340 "Constructor and destructor in c++"
### Description

In this i will telling about different types of constructors and desctructor.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/COD

[2021-09-23 19:33] AGR-12JU commented on #2340
/assign

[2021-09-23 19:36] rk18venom commented on #561
Hello,
My self Rahul Kashyap, Python Batch 6
I would like to work on the documentation part.
please assigned me this issue sir.

[2021-09-23 19:41] rk18venom commented on #554
Hello Sir,
Myself Rahul Kashyap, Python Batch 6
Sir I would like to work on this issue via audio.
Please assigned me this issue

[2021-09-23 19:41] yashvardhan-verma commented on #2250
I would love to work on this issue.
Name - Yashvardhan
Contribution Type - Documentation
Batch - Python Batch -1

[2021-09-23 19:44] ShudhanshuSingh opened #2343 "[Introduction to Figma Part 10]: Creating Neumorphism Cards"
### Description

Description:
In this you have to create and show the whole process of creating the Neumorphism Cards in Figma

### Domain

UI/UX

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winte

[2021-09-23 19:45] rk18venom commented on #551
Hello sir,
My self Rahul Kashyap, Python Batch 6
I would like to work on this issue via audio.
Please assign me this issue.

[2021-09-23 19:50] ShudhanshuSingh opened #2344 "[Introduction to Figma Part 9]: Creating Progress Bar"
### Description

Description:

In this you have to create progress bar in figma and show a well Documented word doc, as well as if someone want to make video explaination, you can get it assigned.

### Domain

UI/UX

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-09-23 19:53] yashvardhan-verma opened #2346 "SQL data types and SQL operators"
## Description
SQL data types and SQL operators
## Domain
Database
## Type of Contribution
Documentation
## Code of Conduct
[x] I follow Contributing Guidelines & Code of conduct of this project.

[2021-09-23 19:53] yashvardhan-verma commented on #2346
/assign

[2021-09-23 19:53] yashvardhan-verma commented on #2346
/assign

[2021-09-23 19:56] harshapriyaa opened #2348 "Frontend_Web_Development_HTML_CSS_JS : HTML Entities"
### Description

Some edits made to the file under html entities.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-09-23 19:56] harshapriyaa commented on #2348
/assign

[2021-09-23 19:57] ayush-sleeping commented on #516
@rahulsain @sitamadex11  Please review my PR and if any mistake is their kindly guide me .
( link of PR - https://github.com/girlscript/winter-of-contributing/pull/2347 )

[2021-09-23 20:29] SushantPatial opened #2351 "Frontend : Flex properties (Audio)"
### Description

Audio for flex property.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-23 20:30] SushantPatial commented on #2351
/assign

[2021-09-23 21:39] Harshkumar62367 commented on #672
Can i work on this @Aryamanz29

[2021-09-23 21:44] ritika728 opened #2354 "C++ Standard Library Functions"
### Description

Here, I will explain Standard Library Functions also known as built-in functions (that are already there and can be called when needed) with proper examples.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of con

[2021-09-23 21:44] ritika728 commented on #2354
\assign

[2021-09-23 21:45] aaryan078 commented on #1823
/assign
I would like to work on this issue
Name: Aaryan
Serial No. 578
Type: Documentation

[2021-09-23 21:48] ritika728 commented on #2354
/assign

[2021-09-23 21:49] eshan1925 commented on #1579
/assign

[2021-09-23 21:49] eshan1925 commented on #1579
May i work on the issue @amino19

[2021-09-23 21:50] eshan1925 commented on #1458
/assign

[2021-09-23 21:52] eshan1925 commented on #1458
Hey @sitamadex11. May I work on the doc part of the issue?

[2021-09-23 22:09] TishaJhabak1014 commented on #2320
@code-reaper08 sir, raised a PR for the issue #2320 created.

[2021-09-23 22:31] ankurg132 commented on #551
@adityabisoi you can assign audio to @rk18venom

[2021-09-23 22:45] amino19 commented on #1579
@eshan1925: Sure, go ahead! :rocket:

[2021-09-24 01:07] #933 closed

[2021-09-24 02:03] Yashesvinee opened #2357 "FrontEnd: Basics of Internet - Hosting and Name Servers"
### Description

Give Documentation of Hosting and Name Servers

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-09-24 02:04] Yashesvinee commented on #2357
/assign

[2021-09-24 02:08] adityabisoi commented on #2250
@hritikksingh Is the mentor of this issue. Please reach out to him for your queries.

[2021-09-24 02:09] adityabisoi commented on #2249
@queenish001 Is the mentor of this issue. Please reach out to her for your queries.

[2021-09-24 02:10] Koustubh-lapate commented on #2077
Please Mentor @VikasPandey121 assign me the issue to contribute in it.

[2021-09-24 02:16] ishreyakumari commented on #1855
I want to be assigned.
Name - SHREYA KUMARI
Serial Number - 457
Type - Documentation
Approach - introduction, steps and approaches, examples ,proper coding explanation, applications.

[2021-09-24 02:31] vishnu95075 commented on #1639
@AkMo3 why my issue is Invalid_java ?

[2021-09-24 02:41] anjali252001 commented on #1682
/assign

[2021-09-24 02:48] hritikksingh commented on #2250
Hey @BasuDevTyagi10, let's me know if you have any queries regarding this issue.

[2021-09-24 02:55] #1726 closed

[2021-09-24 03:00] aniketpathak028 opened #2358 "[JS]: AJAX in JavaScript"
### Description

# Description
---
Creating a tutorial on AJAX in Javascript and discussing the following:

- What is AJAX?
- How does AJAX Work?
- AJAX - The XMLHttpRequest Object
- Fetch API

# Directory
---
``` Javascript/Topics/13.AJAX ```

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscrip

[2021-09-24 03:00] aniketpathak028 commented on #2358
/assign

[2021-09-24 03:02] aniketpathak028 commented on #2358
@paramsiddharth pls assign me this issue 🙂

[2021-09-24 03:07] divya1467 commented on #1240
On it!

[2021-09-24 03:08] rahulsain commented on #1458
You are already assigned in this issue, sure you can take doc

[2021-09-24 03:09] PranavMasekar commented on #1017
/assign

[2021-09-24 03:09] rahulsain commented on #2139
By that, I meant that this issue has already existed. It was opened by the contributor. See #881

[2021-09-24 03:17] akshat12000 opened #2359 "[C++]: Kadane's Algorithm"
### Description

Calculation of maximum subarray sum in an efficient manner!

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/COD

[2021-09-24 03:17] akshat12000 commented on #2359
/assign

[2021-09-24 03:22] anantcodes commented on #2139
I don't have the ability to open the closed issues. Anyways, I think we can continue the audio and video part here as the issue mentioned above does not include that.

[2021-09-24 03:23] rahulsain commented on #2139
Can you comment and tag me in closed issues?

Sure,

[2021-09-24 03:26] anantcodes commented on #2139
Yeah sure. I'll keep that in mind. Thanks!

[2021-09-24 03:28] 2024-SANDHYA commented on #930
Great !

[2021-09-24 03:32] anjali252001 commented on #1716
/assign

[2021-09-24 03:34] aniket7515 commented on #2164
/assign document

[2021-09-24 03:35] aniket7515 commented on #1903
/assign document

[2021-09-24 03:39] aniket7515 commented on #2127
/assign document

[2021-09-24 03:43] abhisheks008 commented on #612
Try to make it by today midnight, we don't wanna overlap week 1 contents with week 2 contents. @tavneetgill

[2021-09-24 03:44] aniket7515 commented on #1995
/assign documentation

[2021-09-24 03:44] Lakshit-Chiranjiv commented on #2344
I would like to work on the documentation part
And could you also tell me that in how much time I am expected to complete this.....??

[2021-09-24 03:47] Dhruvsinghjadon commented on #2303
/assign

[2021-09-24 03:47] akratikushwah commented on #2076
Okay I will create my own issue and will work on it

[2021-09-24 03:51] satyampadhi2000 commented on #2164
/assign document

[2021-09-24 03:55] satyampadhi2000 commented on #2164
\assign document

[2021-09-24 03:57] #606 closed

[2021-09-24 04:00] satyampadhi2000 commented on #1807
\assign Document

[2021-09-24 04:00] satyampadhi2000 commented on #1615
\assign Document

[2021-09-24 04:00] satyampadhi2000 commented on #1534
\assign Document

[2021-09-24 04:00] satyampadhi2000 commented on #2092
\assign Document

[2021-09-24 04:01] satyampadhi2000 commented on #2161
\assign Document

[2021-09-24 04:01] satyampadhi2000 commented on #2091
\assign Document

[2021-09-24 04:03] ydasc815 opened #2361 "Android-Kotlin: 05.4 Illustration of Activity Lifecycle"
### Description

## Description 📜
- Develop a sample app to illustrate various activity life cycle methods.
- For example, you can develop a very simple calculator app that also preserves the field values during device rotation.
- Use **clear explanations and screenshots** to submit your PR in a **documentation** format.

## Domain of Contribution 📊
- [x] Android Dev (Flutter, Java, Kotlin)

## Re

[2021-09-24 04:06] #298 closed

[2021-09-24 04:10] ShikhaSwati60 opened #2362 "CPP: Ambiguity in Function Overloading"
### Description

I will provide the detailed documentation on ambiguity in function overloading in c++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-09-24 04:10] ShikhaSwati60 commented on #2362
/assign

[2021-09-24 04:10] ShikhaSwati60 commented on #2362
/assign

[2021-09-24 04:11] abhisheks008 commented on #2209
Issue assigned @deepthi1107. Complete this issue by this Sunday.

[2021-09-24 04:15] #1713 closed

[2021-09-24 04:16] AkMo3 opened #2363 "Java 12.1: Inheritance Basics"
### Description

Add audio, documentation, and video regarding the **Inheritance Basics**.

____

### Location of File to be added

The files should be added inside the `Inheritance Basics`  folder which is inside the `Inheritance`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format and to be submitted th

[2021-09-24 04:16] AkMo3 opened #2364 "Java 12.2: Introduction to Super keyword"
### Description

Add audio, documentation, and video regarding the **Introduction to Super keyword**.

____

### Location of File to be added

The files should be added inside the `Introduction to Super keyword`  folder which is inside the `Inheritance`  folder present in the   `Java`  main folder.  The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp3` format

[2021-09-24 04:18] TishaJhabak1014 commented on #2042
Hey! @SaHill2345
A issue on this topic via doc is already there, refer to #1665

[2021-09-24 04:23] Yashesvinee commented on #2364
/assign documentation

[2021-09-24 04:27] techabhi08 commented on #2363
\assign document

[2021-09-24 04:28] techabhi08 commented on #2363
/assign

[2021-09-24 04:30] palak1101 opened #2366 "Frontend_Web_Development_HTML_CSS_JS : CSS Specificity"
### Description

Documentation on CSS specificity.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-09-24 04:31] palak1101 commented on #2366
/assign

[2021-09-24 04:34] abhisheks008 commented on #1353
Do not create spam issues, without consulting with the supervisors! @kokila-Manogar

[2021-09-24 04:35] #1353 closed

[2021-09-24 04:35] palak1101 opened #2368 "C_CPP : Circular Queue"
### Description

Documentation on circular queue.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-24 04:36] palak1101 commented on #2368
/assign

[2021-09-24 04:41] Aryamanz29 commented on #672
@Harshkumar62367  Sure, Happy learning 🎉🎉

[2021-09-24 04:42] Aditya-150 commented on #2344
/assign
Can you tell me how much time I'll be getting for completing it?

[2021-09-24 04:43] emily876 opened #2370 "Lists in C++ STL"
### Description

I will give a brief description of lists in STL and its working in c++ .

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-09-24 04:43] emily876 commented on #2370
/assign

[2021-09-24 04:43] Aryamanz29 commented on #666
Due to inactivity, Raise PR by today to get it merged

[2021-09-24 04:44] #179 closed

[2021-09-24 04:44] Aryamanz29 commented on #666
@xxEasterGrymm  Create PR from `your_fork : Opensource` branch to `girlscript : Opensource` branch

[2021-09-24 04:45] Aditya-150 commented on #2344
Thanks for assigning it to me!

[2021-09-24 04:45] Aryamanz29 commented on #1104
@Binita-tech  Any updates ?

[2021-09-24 04:46] SHUKLA-KUSHAGRA opened #2371 "Constructor and Destructor in cpp"
### Description

In this we will be discussing in brief about constructors and destructors in cpp.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-09-24 04:46] veerviren commented on #1226
# Treaversing in a Linked List

<p> If you are new to **Linked List** not a issue first you have to learn about basic of **Linked List** then this discussion will be helpful for you. No worry I will discussed throughly about traversing in **Linked List** it may be reverse traversing or simple traversing from first to last element.</p>

## What is traversing ?
<p> In simple word traversing mean vis

[2021-09-24 04:46] SHUKLA-KUSHAGRA commented on #2371
/assign

[2021-09-24 04:47] veerviren commented on #1226
** **  here I want to make linked list in bold letter but it not working

[2021-09-24 04:54] ravireddy07 commented on #1226
If it's not working manually, then just select and use **bold** tool present on top of this comment section.

[2021-09-24 04:56] rk18venom commented on #551
Ok

[2021-09-24 05:01] Manmeet2607 opened #2373 "SINGLY LINKED LIST IN C++"
### DESCRIPTION

- What is a Linked list!
- How can it be differentiated from array.
- Its advantages..
- Programs related to _insertion, deletion ,searching_ and _reversing_ a linked list.

### Domain

C/CPP

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBU

[2021-09-24 05:02] Manmeet2607 commented on #2373
/assign

[2021-09-24 05:02] veerviren commented on #1226
@ravireddy07  please help me for creating pr i am not able for my work

[2021-09-24 05:05] garvitraj commented on #1808
@avinashkranjan go with the video

[2021-09-24 05:11] Lakshit-Chiranjiv commented on #2344
@Aditya-150 will you be working in the video part??...if so then i will prepare the documentation for the same

[2021-09-24 05:15] #1187 closed

[2021-09-24 05:15] eshan1925 commented on #1458
ok

[2021-09-24 05:21] ravireddy07 commented on #1226
Refer this and use discord to communicate: https://github.com/CatsInTech/Rezume/blob/master/CONTRIBUTING.md

[2021-09-24 05:24] VasudevPant commented on #2279
/assign

[2021-09-24 05:30] BasuDevTyagi10 commented on #2250
Hey @hritikksingh I was wondering what all topics I should be covering for this...
I am thinking to include:
1. What is Flask?
2. The purpose of using Flask
3. A little about Flask vs Django
4. an installation guide (with info of the framework's dependencies)
5. then the basics like templates & jinja, routing, HTTP methods and requests.

will this be it or should I include anything else?

[2021-09-24 05:33] srijanishere opened #2376 "CSS Gradients, Box Shadow and Text Shadow"
### Description

Here I will be explaining CSS gradients, Box Shadow and Text Shadow, and add examples of some designs related to them.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github

[2021-09-24 05:33] cmonitishofficial opened #2377 "Introduction to Spinner in Android."
### Description

1. Introduction to **Spinner in Android.**
2. **XML** and **Java** Implementation for Spinner.
3. Example with explanation
4. ****Material Design**** for Android Spinner.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTR

[2021-09-24 05:34] srijanishere commented on #2376
/assign

[2021-09-24 05:35] cmonitishofficial commented on #2377
/assign

[2021-09-24 05:36] #960 closed

[2021-09-24 05:39] #1140 closed

[2021-09-24 05:41] Ajaycodex commented on #2366
/assign

[2021-09-24 05:43] #736 closed

[2021-09-24 05:46] Aditya-150 commented on #2344
Sorry bro , I started working on documentation part.

[2021-09-24 05:48] Ajaycodex commented on #2354
/assign

[2021-09-24 05:50] GyaniRoman23 commented on #2343
Hey @ShudhanshuSingh could you share info regarding how this issue has to be resolved as I have a doubt that the documentation and video should be of the same thing or they can show separate works ?

[2021-09-24 05:51] Lakshit-Chiranjiv commented on #2344
Okk ,cool...go ahead✌️

[2021-09-24 05:54] Lakshit-Chiranjiv commented on #2343
If the documentation part is not assigned then I would like to work on it...
@ShudhanshuSingh

[2021-09-24 05:58] VanshikaSable commented on #168
/assign

[2021-09-24 06:05] Lakshit-Chiranjiv commented on #2343
/assign
I am working on the doc part nd will try to finish it by this Monday

[2021-09-24 06:07] Ajaycodex commented on #2241
AJAY GANGWAR
DSA BATCH 3
DOCUMENTATION

[2021-09-24 06:07] anirudh09041 opened #2381 "[Templates in C++]:"
### Description

Documentation along with some code examples on Templates in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-09-24 06:07] anirudh09041 commented on #2381
/assign

[2021-09-24 06:09] hritikksingh commented on #2250
This will be enough but add some code snippets in between to give a better and a basic idea with 2 to 3 commands to execute them in a specific way.

[2021-09-24 06:12] Ajaycodex commented on #2381
/assign

[2021-09-24 06:13] Ajaycodex commented on #2370
/assign

[2021-09-24 06:15] manjeetdhayal commented on #2269
Hey @ritik-vashist next time you see an issue for MERN open use `/assign` in the comments and this will be assigned to you. I am sorry for this time you didn't get it assigned due to bot.

[2021-09-24 06:17] Ajaycodex commented on #2310
/assign

[2021-09-24 06:20] akratikushwah commented on #2381
/assign

[2021-09-24 06:20] nooobcoder commented on #1880
@anandhu720 please close this issue as PR has been merged #2107

[2021-09-24 06:20] akratikushwah commented on #2373
/assign

[2021-09-24 06:21] ritik-vashist commented on #2269
Okay @manjeetdhayal sir i will follow that for next time.
Thank you.

[2021-09-24 06:21] TishaJhabak1014 commented on #2207
/assign

[2021-09-24 06:22] am-dusky opened #2386 "Introduction to Operating system in C/CPP domain"
### Description

I will make a documentation on introduction of Operating System , its need .I will also explain some concepts like multitasking and multiprogramming.

Name-Megha Singh
Batch-1
 @Suvraneel Kindly assign me

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-24 06:22] am-dusky commented on #2386
/assign

[2021-09-24 06:25] akratikushwah opened #2387 "Important questions of Recursion in c++"
### Description

it will consist of all the important questions of recursion from basic to advance.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-09-24 06:25] akratikushwah commented on #2387
/assign

[2021-09-24 06:25] akratikushwah commented on #2387
/assign

[2021-09-24 06:26] akratikushwah commented on #2386
/assign

[2021-09-24 06:26] Aaksha-sharma commented on #567
I want to contribute through audio in this issue

[2021-09-24 06:26] Ajaycodex commented on #2272
/assign

[2021-09-24 06:27] Aaksha-sharma commented on #564
I want to work on audio part pls assign

[2021-09-24 06:32] Ayushi2811 opened #2388 "CP:Greedy-Job Scheduling Problem"
### Description

**Description**
Given an array of jobs where every job has a deadline and associated profit if the job is finished before the deadline. It is also given that every job takes a single unit of time, so the minimum possible deadline for any job is 1. How to maximize total profit if only one job can be scheduled at a time.

Example :

Input:
N = 4
Jobs = {(1,4,20),(2,1,10),(3,1,40),(4

[2021-09-24 06:32] Ayushi2811 commented on #2388
/assign

[2021-09-24 06:33] LegendSumeet commented on #2330
/assign

[2021-09-24 06:36] Ajaycodex opened #2389 "[Maps in STL]:"
### Description

Documentation along with some code examples on maps Templates in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-09-24 06:37] Ajaycodex commented on #2389
/assign

[2021-09-24 06:38] Ayushi2811 commented on #2388
@ChetasShree  I have created and self assigned this issue to me.Started working on the same

[2021-09-24 06:38] prak895 commented on #2389
/assign

[2021-09-24 06:42] tejas342 commented on #78
@prathimacode-hub please review my pr and merge it #2391

[2021-09-24 06:43] saloni-15 commented on #1840
here it is if you want to work on
https://github.com/girlscript/winter-of-contributing/issues/2252

[2021-09-24 06:50] kashyap1905 opened #2392 "Sparse Matrix and Polynomial Addition Using Sparse Array"
### Description

Topics to be described -
- What is Sparse Matrix
- How to create a Sparse Matrix.
- Taking inputs for a Sparse Matrix
- Using Sparse Matrix  to perform Polynomial Addition.

Implementation Language - C

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/

[2021-09-24 06:50] kashyap1905 commented on #2392
/assign

[2021-09-24 06:51] VanshikaSable commented on #2392
/assign

[2021-09-24 06:51] #1913 closed

[2021-09-24 06:52] kashyap1905 commented on #2392
@VanshikaSable This issue is created by me & I will be working on it. So kindly un-assign yourself from this issue.

[2021-09-24 06:57] VenkateswarNayak opened #2395 "HTML: Search Engine Optimisation Basics"

[2021-09-24 06:58] VenkateswarNayak commented on #2395
/assign

[2021-09-24 06:58] prachigarg19 commented on #2395
/assign

[2021-09-24 06:58] abhisheks008 commented on #2207
@TishaJhabak1014 1 issue at a time and do not use self assign tag, mention us we'll assign you tasks.

[2021-09-24 06:59] sumitaccess007 commented on #1644
\assign video

[2021-09-24 07:01] VenkateswarNayak opened #2396 "HTML : Search Engine Optimisation Basics"
<hr>

## Description 📜

I want to work on making a complete documentation on the topic Search Engine Optimisation Basics.
Please /assign this to me.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-24 07:01] VenkateswarNayak commented on #2396
/assign

[2021-09-24 07:01] VenkateswarNayak commented on #2396
/assign

[2021-09-24 07:01] VenkateswarNayak commented on #2396
/assign

[2021-09-24 07:02] VenkateswarNayak commented on #2396
/assign

[2021-09-24 07:02] VanshikaSable commented on #168
@LegendSumeet  should i start working on this ? because the issue is created bye you and you want to work on it i guess?

[2021-09-24 07:03] #2395 closed

[2021-09-24 07:04] saloni-15 opened #2398 "MERN_MongoDB: 2.1 MongoDB installation and configuration - Windows"
### Description

Description

## Installing MongoDB on Windows
- **Explain all the steps for installing and configuring MongoDB on Windows.**

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `2.1_MongoDB_Installation_and_Configuration_Windows.md`

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidel

[2021-09-24 07:04] saloni-15 opened #2399 "MERN_MongoDB: 2.2 MongoDB installation and configuration - macOS"
### Description

Description

## Installing MongoDB on macOS
- **Explain all the steps for installing and configuring MongoDB on Windows.**

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `2.2_MongoDB_Installation_and_Configuration_MacOS.md`

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines

[2021-09-24 07:04] saloni-15 opened #2400 "MERN_MongoDB: 2.3 MongoDB installation and configuration - Linux"
### Description

Description

## Installing MongoDB on Linux
- **Explain all the steps for installing and configuring MongoDB on Linux.**

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `2.3_MongoDB_Installation_and_Configuration_Linux.md`

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](

[2021-09-24 07:07] VenkateswarNayak commented on #2396
@moulikagrawal  @sifa123  Please add the frontend labels to this issue.

[2021-09-24 07:09] ravireddy07 commented on #220
Merged([#550](https://github.com/girlscript/winter-of-contributing/pull/510)) and closing this Issue.

[2021-09-24 07:09] #220 closed

[2021-09-24 07:18] #1880 closed

[2021-09-24 07:23] GyaniRoman23 commented on #2398
Hey @saloni-15 I would like to work with this issue.

[2021-09-24 07:26] divya1467 commented on #1135
@code-reaper08 please review #2379

[2021-09-24 07:29] prathimacode-hub opened #2402 "Data Science with Python : Diabetes Classification"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about working on Diabetes Classification. Tutorial to Diabetes Classification and how it's applied using sample code with multiple algorithm.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach on

[2021-09-24 07:32] prathimacode-hub opened #2403 "Data Science with Python : Dealing with Categorical Columns"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about working on Dealing with Categorical Columns. Tutorial to Dealing with Categorical Columns and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one woul

[2021-09-24 07:35] prathimacode-hub opened #2404 "Data Science with Python : Mathematics behind ML Algorithms"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about working on Mathematics behind ML Algorithms. Tutorial to Mathematics behind ML Algorithms and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one woul

[2021-09-24 07:36] aishapervin commented on #2398
/assign

[2021-09-24 07:37] prathimacode-hub commented on #1855
Another issue as per your request had been created and awaiting for you to get it assigned. @ishreyakumari

[2021-09-24 07:38] prathimacode-hub commented on #1855
@BasuDevTyagi10 What's your serial number and approach you would follow for this issue. @BasuDevTyagi10

[2021-09-24 07:39] prathimacode-hub commented on #1837
Issue assigned to @ron352 for documentation.

[2021-09-24 07:39] vanshika230 commented on #2402
I would like to work on this.
Vanshika Mishra - 830
Batch - 19
Type: Documentation
Approach:
1. Diabetes Classification using KNN - data analysis, implementation, predictions
2. Diabetes Classification using Random Forests - data analysis, implementation, predictions
3. Diabetes Classification using Support Vector Machine - data analysis, implementation, predictions

[2021-09-24 07:39] prathimacode-hub commented on #1827
Issue assigned to @Apoorv-17 for documentation

[2021-09-24 07:40] ishreyakumari commented on #2404
I want to be assigned.
Name - SHREYA KUMARI
Serial Number - 457
Type - Documentation
Approach: I will explain whole mathematics behind different Regression and Classification models. How each model works on backend with code snippets.

[2021-09-24 07:41] prathimacode-hub commented on #2402
Issue assigned @vanshika230 for documentation.

[2021-09-24 07:42] prathimacode-hub commented on #2404
Issue assigned to @ishreyakumari for documentation

[2021-09-24 07:42] deepthi1107 commented on #2403
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do documentation on this issue.

[2021-09-24 07:43] deepthi1107 commented on #2403
Approach: A detailed explanation.

[2021-09-24 07:44] ashish-reddy-20-08 commented on #2403
Hello, I am M. Ashish Reddy. I would like to do a VIDEO on this issue.
Batch number: 5
serial number:174.

[2021-09-24 07:44] ishreyakumari commented on #1855
okay

[2021-09-24 07:44] ishreyakumari commented on #1855
okay

[2021-09-24 07:45] prathimacode-hub commented on #2403
This is created on the request of a contributor. If it's not claimed by evening, it'll will be assigned on queue. There are many more issues coming up. @ashish-reddy-20-08 @deepthi1107

[2021-09-24 07:46] deepthi1107 commented on #2403
ok sure.

[2021-09-24 07:46] ashish-reddy-20-08 commented on #2403
Ok mam, Looking for new issues.
Thank you @prathimacode-hub

[2021-09-24 07:47] priyall commented on #666
@Aryamanz29  Apologies for late reply, I was actually understanding the process so couldn't complete it in the given time.

[2021-09-24 07:48] prathimacode-hub opened #2406 "Data Science with Python : Introduction to OpenCV Library"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to OpenCV Library. Tutorial to OpenCV library and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer

[2021-09-24 07:48] deepthi1107 commented on #2402
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do a video on this issue.
my approach: A detailed explanation of code.

[2021-09-24 07:50] prathimacode-hub opened #2407 "Data Science with Python : Getting Started with Seaborn"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Getting Started with Seaborn. Tutorial to Seaborn library and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (

[2021-09-24 07:50] deepthi1107 commented on #2209
sure. @abhisheks008

[2021-09-24 07:50] developer-metalhead commented on #2407
/assign

[2021-09-24 07:51] developer-metalhead commented on #2407
/assign

[2021-09-24 07:52] Yashesvinee commented on #2396
Hi I already took up an issue on this topic and it was merged about 3days ago

[2021-09-24 07:52] developer-metalhead commented on #2406
/assign

[2021-09-24 07:53] prathimacode-hub opened #2409 "Data Science with Python : Getting Started with Theano"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Getting Started with Theano. Tutorial to Theano and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentat

[2021-09-24 07:57] #860 closed

[2021-09-24 07:58] #1345 closed

[2021-09-24 07:58] #1413 closed

[2021-09-24 07:59] developer-metalhead commented on #2407
/assign

[2021-09-24 07:59] prathimacode-hub opened #2410 "Data Science with Python : Cross Validation Methods"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Cross Validation Methods. Tutorial to Cross Validation Methods and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you pre

[2021-09-24 08:01] prathimacode-hub commented on #2407
Bot says you have more than 3 open issues allotted to you. Is it? Do changes addressed for your earlier PR if you haven't and you are getting assigned but haven't provided any details of yours. @developer-metalhead

[2021-09-24 08:02] prathimacode-hub commented on #2403
New issues are created. Check on to them. @ashish-reddy-20-08 @deepthi1107

[2021-09-24 08:04] prathimacode-hub commented on #1862
Issue assigned to @sahilsingh2402 for documentation

[2021-09-24 08:04] ashish-reddy-20-08 commented on #2410
Hello, I am M. Ashish Reddy. I would like to do a Video on this issue.
Batch number: 5
serial number:174.

[2021-09-24 08:04] deepthi1107 commented on #2410
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do documentation on this issue.
my approach: a detail explanation with code.

[2021-09-24 08:04] prathimacode-hub commented on #1852
Issue assigned to @tewarigargi for documentation

[2021-09-24 08:06] pankaj-Makhijani commented on #2407
Hello @prathimacode-hub I want to work on this issue.

[2021-09-24 08:22] avats101 commented on #1855
/assign

[2021-09-24 08:25] avats101 commented on #1855
Name- Aryan Vats
Serial Number- 348
Type- Documentation
Approach- Creating a Tutorial on Understanding Pickling in Python and how it's applied using code snippets.

[2021-09-24 08:27] CHARUD25 commented on #1793
/assign

[2021-09-24 08:28] pankaj-Makhijani commented on #2407
I would like to work on this.
Pankaj Makhijani - 432
Batch - 12
Issue No - #2407
Type: Doccumentation
Approach:
1. Introduction to seaborn
2. Why to seaborn over matplotlib
3. Types of plots with example
4. Conclusion

[2021-09-24 08:30] sifa123 commented on #2396
@VenkateswarNayak you can work on video/ audio...documentation part is already added

[2021-09-24 08:34] prachigarg19 commented on #2395
Why is this issue closed? I was assigned this issue and then I received a
mail that venkateshwarNayak has closed #2395

On Fri, 24 Sep, 2021, 12:33 pm Venkateswar Nayak, ***@***.***>
wrote:

[2021-09-24 08:34] developer-metalhead commented on #2407
I will write the different steps and approaches of using Seaborn. I will also add the code to the documentation.
I am Kumar Satwik with serial number:160

[2021-09-24 08:35] sunidhii09 commented on #467
@prathimacode-hub I have re-opened another PR. Please check.

[2021-09-24 08:36] developer-metalhead commented on #2407
I already made suggested changes to that issue. Please do check it out

[2021-09-24 08:36] developer-metalhead commented on #2407
I already made suggested changes to that issue. Please do check it out

[2021-09-24 08:44] Techno-Simpola commented on #621
I have completed the doc but i could not send PR ....

[2021-09-24 08:44] anantcodes opened #2412 "Android-Kotlin : 07.2 Relative Layout in Kotlin"
<hr>

## Description 📜

* Give a description of the Relative Layout in Kotlin.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :
https://www.geeksforgeeks.org/android-relativelayout-in-kotlin/

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ dire

[2021-09-24 08:46] pankaj-sawnani commented on #2407
/assign

[2021-09-24 08:49] Harshit9557 commented on #66
I am interested in this issue
Can you assign this to me?

[2021-09-24 08:50] prathimacode-hub commented on #2407
@developer-metalhead, Yes true but bot isn't accepting you with a reason that you have more than 3 open issues assigned to yourself. So unfortunately, it has been assigned to other.

[2021-09-24 08:51] Harshit9557 commented on #1017
Can i take this issue?

[2021-09-24 08:51] prathimacode-hub commented on #2407
Issue is assigned to @pankaj-Makhijani for documentation

[2021-09-24 08:52] Techno-Simpola commented on #621
@SourabhSaraswat-191939  I have sent the PR

[2021-09-24 08:52] prathimacode-hub commented on #2410
Issue is assigned to @deepthi1107 for documentation and @ashish-reddy-20-08 for video contribution.

[2021-09-24 08:52] Kareem-negm commented on #2402
Hello @prathimacode-hub , please assigned me the issue

[2021-09-24 08:53] prathimacode-hub commented on #2406
You have assigned it to yourself without providing any details. @developer-metalhead

[2021-09-24 08:53] Kareem-negm commented on #1857
Hello @prathimacode-hub , please assigned me the issue

[2021-09-24 08:54] Kareem-negm commented on #1847
Hello @prathimacode-hub , please assigned me the issue

[2021-09-24 08:54] Kareem-negm commented on #1836
Hello @prathimacode-hub , please assigned me the issue

[2021-09-24 08:56] anantcodes opened #2415 "Android-Kotlin : 07.3 Frame Layout in Kotlin"
<hr>

## Description 📜

* Give a description of Frame Layout in Kotlin.
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :
https://www.geeksforgeeks.org/android-framelayout-in-kotlin/
https://developer.android.com/reference/kotlin/android/widget/FrameLayout

<hr>

## Please Read it Carefully Before Contributing
*

[2021-09-24 08:57] Kareem-negm commented on #1829
Hello @prathimacode-hub , please assigned me the issue

[2021-09-24 08:57] Kareem-negm commented on #1822
Hello @prathimacode-hub , please assigned me the issue

[2021-09-24 08:57] Kareem-negm commented on #1567
Hello @prathimacode-hub , please assigned me the issue

[2021-09-24 08:58] Kareem-negm commented on #1531
Hello @prathimacode-hub , please assigned me the issue

[2021-09-24 09:00] Kareem-negm commented on #1027
hello @preestine , please if you made any PR mention this issue

[2021-09-24 09:02] #2173 closed

[2021-09-24 09:04] Kareem-negm commented on #437
Hello @HastiSutaria  , Yes exactly as you say
please if you upload the file made a PR and mention this issue

[2021-09-24 09:06] Kareem-negm commented on #432
Hello guys @ShreytaSingh @1anshu-56  , please if there are any PRs mention this issue to review and merge it

[2021-09-24 09:07] Kareem-negm commented on #428
Very good job @Robinrai2612 , keep contributing

[2021-09-24 09:09] deepali2002-max opened #2417 "Doubly Linked List in C++"
### Description

I have added proper documentation for doubly linked list

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of t

[2021-09-24 09:09] deepali2002-max commented on #2417
/assign

[2021-09-24 09:12] #2417 closed

[2021-09-24 09:16] S07K opened #2419 "CSS Loaders"
### Description

How To Create different types of Loaders using CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CO

[2021-09-24 09:17] S07K commented on #2419
/assign

[2021-09-24 09:21] siddhi-244 commented on #2241
PLZZ review my pr!

[2021-09-24 09:26] deepali2002-max opened #2424 "Programming Paradigms"
### Description

I have added documentation of programming paradigms

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-09-24 09:26] deepali2002-max commented on #2424
/assign

[2021-09-24 09:28] Bhuvnesh875 commented on #2419
hello, i would like to work for this issue!