[2021-09-18 17:19] iamayushkr commented on #721
I will like to work on this.

[2021-09-18 17:19] prathimacode-hub commented on #434
@anushka-mishra-code, Issue is assigned for documentation. If you are interested for audio/video let me know.

@BhaswatiRoy, you can contribute to this after earlier issue if it's still open

[2021-09-18 17:20] prathimacode-hub commented on #428
Are you in for audio / video?

[2021-09-18 17:21] riyapandey730 commented on #675
I would like to contribute to this via documentation.Please consider me for this..
Riya Pandey
Batch-2

[2021-09-18 17:21] iamayushkr commented on #734
I will like to work on this.

[2021-09-18 17:21] artishukla1 commented on #726
Can I work on this topic?

[2021-09-18 17:21] kar-cloud commented on #739
I would like to do this in documentation form

[2021-09-18 17:23] prithwishpramanik commented on #736
sir i want to do the documentation part

[2021-09-18 17:24] iamayushkr commented on #733
I will like to work on this.

[2021-09-18 17:24] prathimacode-hub commented on #735
Issue assigned to @yashh18 for documentation

[2021-09-18 17:25] mukeshmjn opened #742 "FRONTEND WITH FRAMEWORK: Angular -> @Input, @Output , Event Emitter"
- Explain all three
- How they are used
- Their purpose

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week1" directory
3. Tasks would be assigned on First Come First Serve Basis.

[2021-09-18 17:25] Yukti-20 commented on #734
I would like to make a video on this issue
VIDEO

[2021-09-18 17:26] Aryamanz29 commented on #675
@riyapandey730  Assigning this to you, Happy Learning 🎉🎉🎉

[2021-09-18 17:27] prathimacode-hub opened #744 "Data Science with Python : Data Visualization with Seaborn"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Data Visualization with Seaborn. Tutorial to Data Visualization with Seaborn and how it's applied using visual representations and sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Pytho

[2021-09-18 17:28] BhaswatiRoy commented on #464
Yes, I am done you may!........we only need to do on google colab right and nowhere else?

[2021-09-18 17:28] riyapandey730 commented on #675
Thankyou...

[2021-09-18 17:29] #322 closed

[2021-09-18 17:29] saksham0309 commented on #96
Hey @Debasmita-01, I've created a [PR](https://github.com/girlscript/winter-of-contributing/pull/743)  for the issue, please check it out and lemme know if there's anything else to be done.

[2021-09-18 17:30] 4neesc0des commented on #740
Hello @Diksha-11  can I work on this issue
I am a GWOC'21 contributor from Batch 2, MERN.

[2021-09-18 17:31] Anant1711 commented on #739
GO with it!

[2021-09-18 17:31] Anant1711 commented on #736
Okay!
Assigned

[2021-09-18 17:34] prathimacode-hub opened #745 "Data Science with Python : Sentiment Analysis using NLTK"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Sentiment Analysis using NLTK. Tutorial to Sentiment Analysis using NLTK and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would foll

[2021-09-18 17:36] prishita-s commented on #744
I would like to work on this issue
Serial number in excel sheet: 721
Mode: Documention
Approach: Intro to seaborn. Different plots for visualization of data in the seaborn library.

[2021-09-18 17:39] 4neesc0des opened #746 "Execution Context"
Description: I Will be explaining what is Execution context in JavaScript (ES6).

Execution context is an environment in which our code is executed and evaluated.
Changes will be inside winter-of-contributing/Web_Development/Javascript/Topics/ branch.

I am a GWOC'21 contributor from Batch 2 of OpenSource. Please assign this issue to me. I assure you that this issue's title will be the same as my

[2021-09-18 17:39] Anant1711 commented on #737
Mr. @Ayush7614 this is my last and humble request to you!
Do not create mess everywhere, I saw you reviewing my domain PRs also.
and now You are adding your domain tags to other domains!
So please, If you have any doubt about tags and all you can contact me, but without knowing anything don't do this!
PLEASE!

[2021-09-18 17:40] Ayush7614 commented on #737
Okk sorry from side

[2021-09-18 17:41] vanshika230 commented on #744
I would like to work on this.
Vanshika Mishra
Batch - 5
Type: Documentation
Approach:
1 Working with tips data set
2 Barplot, countplot, boxplot,violin plot
3 distplot , kdeplot, joinplot, pairplot
4 Correlation and heatmaps

[2021-09-18 17:41] yashr17 commented on #745
P. Yash Reddy
Serial number: 188
Type: Document
Approach:

1. What is NLP?
2. Introduction to NLTK
3. Sentiment analysis using NLTK

[2021-09-18 17:43] #294 closed

[2021-09-18 17:45] Anant1711 commented on #726
Go with it!

[2021-09-18 17:45] husain3012 commented on #740
Hello @Diksha-11  can I work on this issue ?
I am a GWOC'21 contributor from Batch 1 in MERN

[2021-09-18 17:47] vanshika230 commented on #731
I would like to work on this.
Vanshika Mishra
Batch - 5
Type: Documentation
Approach:
1 Definition and explaination of theory
2 Application of Knn - data analysis required, query point, knn algorithm
3. prediction with example

[2021-09-18 17:50] ishreyakumari commented on #367
@Nithin-Reddy-02 this task is assigned to me. I have a doubt. In data science with python branch, I have to go to machine learning folder and put coding notebook plus readme file there and then create pull request. Is it? Can you please guide me. Thank you.

[2021-09-18 17:54] SakshiSharma2002 commented on #699
I would like to work on this issue, please assign it to me.
Sakshi Sharma
DSA batch - 5
Type - documentation

[2021-09-18 18:05] prathimacode-hub commented on #745
Assigned to @yashr17 for documentation.

[2021-09-18 18:05] anushka-mishra-code commented on #434
Yes I'm up for audio
Thanks

[2021-09-18 18:07] prathimacode-hub commented on #732
Issue is assigned to @Mohdtalibakhtar for documentation

[2021-09-18 18:07] prathimacode-hub commented on #731
Issue is assigned to @Malvikakaushal2001 for documentation.

[2021-09-18 18:08] prathimacode-hub commented on #730
Issue is assigned to @KTK-5901 for documentation.

[2021-09-18 18:11] #742 closed

[2021-09-18 18:11] mukeshmjn commented on #742
It's a repetitive issue

[2021-09-18 18:13] iamKushGupta commented on #737
Can I be assigned this ??

[2021-09-18 18:13] #234 closed

[2021-09-18 18:14] Aryamanz29 commented on #288
@Purvibhoyar  Please link PR to this issue, I can't find your PR

[2021-09-18 18:14] heet-kumar commented on #343
On these issue video is not required, only documentation is required with code.

[2021-09-18 18:15] Aryamanz29 commented on #307
1-2 days max

[2021-09-18 18:16] Aryamanz29 commented on #318
@Soumili1818  Assigning this to you, Happy docs 🎉🎉

[2021-09-18 18:16] prathimacode-hub commented on #744
@vanshika230 @prishita-s these issues are created from request of contributors. If you have not been assigned to any issue, and want to work on issues you're interested. You can check out with the thread created in discord channel to know the process and also watch out with pinned messages.

[2021-09-18 18:17] Aryamanz29 commented on #320
Unassign @arsheelsheikh  Due to inactivity

[2021-09-18 18:21] heet-kumar commented on #345
@ishangupta6412 bro this issue is assigned already to someone. Till then wait for new issues and stay active on discord.

[2021-09-18 18:21] AnnikaD0104 commented on #414
Type: Documentation
1. What is LDA?
2. Algorithm of LDA?
3. Code

[2021-09-18 18:22] Surbhi-sinha commented on #237
So, while working on various types of forms I accurately know how to work on form and form validators. I believe that I have sufficient knowledge to work on this issue and complete it beforehand. I can prepare documentation for it.

[2021-09-18 18:26] priyanshu688 commented on #699
I would like to work on this issue...please assign this to me

[2021-09-18 18:26] #663 closed

[2021-09-18 18:31] mukeshmjn opened #750 "FRONTEND WITH FRAMEWORK: Angular -> Dynamic Components in Angular"
- What are Dynamic Components?
- When we use them?
- How to create ?

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week1" directory
3. Tasks would be assigned on First Come First Serve Basis.

[2021-09-18 18:36] RIYANSHGARG commented on #750
I would like to work on this issue, Kindly assign it to me.

[2021-09-18 18:37] Diksha-11 commented on #740
@4neesc0des Let the mentors decide this. 🙌
You may work on the video part regarding the same issue though.

[2021-09-18 18:42] Kavindra-Mohan-Dwivedi commented on #683
I would like to work on this issue

[2021-09-18 18:43] Purvibhoyar commented on #288
@Aryamanz29 HAVE YOU GOT IT?

[2021-09-18 18:44] mayankkuthar commented on #320
@Aryamanz29 I would like to work on this, Please Assign me.

[2021-09-18 18:46] Vidit-Ostwal commented on #744
@prathimacode-hub Kindly assign to that particular contributors,
 having an issue not assigned to someone seems somewhat illogical

[2021-09-18 18:48] Aryamanz29 commented on #320
@mayankkuthar  Go ahead 🙌

[2021-09-18 18:50] Aryamanz29 commented on #288
@Purvibhoyar  Linked your PR to this issue

[2021-09-18 18:51] Asmit2952 commented on #653
@Aryamanz29 Can I work on this?

[2021-09-18 18:52] SakshiSharma2002 commented on #529
I have created numerous html forms. I have a good command over HTML5 and CSS3. I would be glad to work on this issue, Please assign this issue to me!!
Name : Sakshi Sharma
Batch : 10
Type : Documentation
Approach :
1) Brief Introduction to HTML ,CSS and the form
     tag.
2) Explaination of all the GUI elements/Input
     controls , attributes, etc to be used in form with
     examples.
3) Explana

[2021-09-18 18:52] Sambhavjain1010 commented on #507
CAN YOU ASSIGN ME THIS ISSUE

[2021-09-18 18:54] ghulamyazdani commented on #499
@Ananya-Patra9437 and @Adarshswain Assigned this issue to you both!
Please reply if you are taking this.

[2021-09-18 18:55] mukeshmjn commented on #750
go for it!

[2021-09-18 18:55] mukeshmjn commented on #750
go for it!

[2021-09-18 18:58] Aryamanz29 commented on #401
REFERENCE PR  ✅ :- https://github.com/girlscript/winter-of-contributing/pull/530

[2021-09-18 18:59] trip0le commented on #297
Sure Sir

[2021-09-18 19:03] Aryamanz29 commented on #653
@Asmit2952  Sure, Happy Learning 🎉🎉🎉

[2021-09-18 19:13] Aditi-247 commented on #733
@iamayushkr Let the mentors decide this. 🙌
You may work on the video and audio part regarding the same issue though.

[2021-09-18 19:22] iamayushkr commented on #733
So we can like create an issue like this and work on it if mentor agrees?

[2021-09-18 19:23] AnantDuhan commented on #584
I want to do the documentation part

[2021-09-18 19:29] Narayan1002 commented on #520
doc @sitamadex11

[2021-09-18 19:30] Ravinayak07 commented on #293
I have submitted the PR. please check

[2021-09-18 19:32] Ravinayak07 commented on #298
when is the last date to submit the PR?

[2021-09-18 19:35] xxEasterGrymm commented on #666
I would like to contribute to this @Aryamanz29

[2021-09-18 19:45] ProMinato500 commented on #744
I want to contribute to documentation to issue #744.
Name - Pradipta Nandi

[2021-09-18 19:45] prathimacode-hub commented on #744
Yes true. I agree. I will make sure to assign it soon. @Vidit-Ostwal

[2021-09-18 19:47] prathimacode-hub commented on #744
If you're in for Audio/Video let me know. Documentation is already assigned.

[2021-09-18 19:52] artishukla1 commented on #726
Thanks @Anant1711

[2021-09-18 19:55] ProMinato500 commented on #735
I want to apply for video.
Name - Pradipta Nandi

[2021-09-18 19:56] sitamadex11 commented on #507
@Sambhavjain1010 you can work video part of this section

[2021-09-18 20:14] sitamadex11 commented on #683
@Kavindra-Mohan-Dwivedi Yeah go for it.

[2021-09-18 20:30] farhan-naqvi commented on #470
okay, I would work on the video.

Syed Farhan Naqvi
Serial Number: 454
Video

Approach: Data Preprocessing steps using NLTK

[2021-09-18 20:36] asppanda12 commented on #733
Can I do work on this

[2021-09-18 20:38] asppanda12 commented on #476
Hello I am Sameer I would like do all documentation part on this

[2021-09-18 21:03] arcAman07 commented on #136
I would like to contribute to this issue, so can I take some topics

[2021-09-18 21:57] RIYANSHGARG commented on #729
I have added the pull request please consider it.

[2021-09-18 22:09] IshaDagar commented on #731
@prathimacode-hub  I would like to work on this.
Name: Isha Dagar
Serial Number : 545
Contribution : Documentation
Approach : Definition , building and evaluating model , examples and applications

[2021-09-18 22:30] mahmoudmohamed22 commented on #434
I would be glad to work on this issue.
Name : mahmoud mohamed abdelwahab
Batch : 3
Type : Documentation
Approach:
Introduction to Numpy
How to import it and where to use it
Functions of numpy with example

[2021-09-18 22:43] Rosy03 commented on #184
Hello @Debasmita-01 😄
 I  would like to work on this issue .
 I choose "**Content Reel**" and "**Brand Fetch**" plugins in **Figma** for the documentation and video explanation.
Kindly assign me this issue as I am interested to work on it. Thank you. 🙏

[2021-09-18 22:50] IshaDagar commented on #590
I would like to work on this.
Approach : Definition , Algo , How does it work, examples and applications
Name: Isha Dagar
ML Batch 6
Github profile link: https://github.com/IshaDagar
Contribution: Documentation

[2021-09-18 23:05] Sakshi1700 commented on #589
@abhisheks008
Sir, I would like to contribute to this issue.
Name: Sakshi Verma
Type: Documentation
Batch: 4
Serial Number: 628
Github: https://github.com/Sakshi1700

[2021-09-18 23:47] Cyber-Prajwal commented on #339
@adityabisoi  Should I add the video tutorial in how to install or installing software folder??

[2021-09-19 00:07] Aditi-247 commented on #733
@asppanda12 Let the mentors decide this. 🙌
You may work on the through video and audio part regarding the same issue.

[2021-09-19 00:23] Aditi-247 opened #761 ""Events" in javascript."
[Path Name-]  (https://github.com/girlscript/winter-of-contributing/tree/Javascript/Web_Development/Javascript/Topics)

One of the important concept of javascript. The change in the state of an object is known as an Event. This process of reacting over the events is called Event Handling. Thus, js handles the HTML events via Event Handlers. These are some terms related to events.

I will contribut

[2021-09-19 00:59] parvatijay2901 commented on #607
Name: Parvati Jayakumar
Batch: 3
GitHub profile: https://github.com/parvatijay2901
Contribution type: Video.

[2021-09-19 01:00] parvatijay2901 commented on #609
Name: Parvati Jayakumar
Batch: 3
GitHub profile: https://github.com/parvatijay2901
Contribution type: Video

[2021-09-19 01:35] mahmoudmohamed22 commented on #744
I would like to work on this.
name :mahmoud mohamed abdelwahab
number in sheet :91
Batch :3
Issue Number - #744
Type: Documentation
Approach:
1-Seaborn Versus Matplotlib
2-Exploring Seaborn Plots

[2021-09-19 01:42] NeerajHazarika commented on #397
UPDATE : I have made a working model in my local computer now I will be organizing the repo and make proper documentation.

[2021-09-19 02:23] Anant1711 commented on #737
You have to submit your previous work first!

[2021-09-19 02:33] #42 closed

[2021-09-19 02:47] ProMinato500 commented on #735
I want to contribute in issue #735
Name - Pradipta Nandi
S.No. - 250
Type - Video
Approach - Introduction to Regression, Linear Regression, Polynomial Regression, Classification Regression

[2021-09-19 02:48] adityabisoi commented on #339
`Installing software`

[2021-09-19 03:17] mohitmishra786 commented on #608
Ok i will do that please assign me this

[2021-09-19 03:19] mohitmishra786 commented on #647
@Aryamanz29 I had already created a PR for my last issue, until when it will be closed or I will git any review for changes so that I can choose another issue

[2021-09-19 03:28] nayakaj commented on #551
Ok

[2021-09-19 03:30] DebadritaGhosh opened #764 "FRONTEND WITH FRAMEWORK: React -> Getting Started With React"
I will contribute through code, document, and image.
I am a GWOC'21 contributor from Batch-6 of FrontEnd Using Framework Please assign this issue to me.
I assure you that this issue's title will be the same as my PR's title as well as I will be Contributing under the Guidelines and Code of Conduct.

Changes will be inside winter-of-contributing/Frontend_Web_Development_React_Angular_Vue/React/Week

[2021-09-19 03:30] prathimacode-hub commented on #735
Issue assigned to @ProMinato500 for video contribution

[2021-09-19 03:35] #764 closed

[2021-09-19 03:41] #254 closed

[2021-09-19 03:42] #346 closed

[2021-09-19 03:45] AdityaStark7 commented on #670
I want to work on this issue.
Name: Aditya Kumar
Batch: 03
Serial No. 374

[2021-09-19 03:48] Akhilkumar272002 commented on #583
I would like to work on this issue in Video and Audio part
Could you please assign it to me

[2021-09-19 03:58] prathimacode-hub commented on #434
@mahmoudmohamed22, only video option is left on FCFS basis. If interested let me know.

Issue is assigned to @anushka-mishra-code for Audio

[2021-09-19 04:02] AdityaStark7 opened #766 "Hyperparameter Tuning with the help of OPTUNA"
Hey,
This issue will be of Machine Learning with Hyperparameter Optimization using Optuna.

[2021-09-19 04:03] prathimacode-hub opened #767 "Data Science with Python : Data Analysis using Pandas"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Data Analysis using Pandas. Tutorial to Data Analysis using Pandas and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and

[2021-09-19 04:04] AdityaStark7 commented on #767
Hey.
I want to work on this issue
Batch: 03
serial no. 374

[2021-09-19 04:05] AdityaStark7 commented on #767
Aditya Kumar
Type: Document
Serial no. 374

[2021-09-19 04:07] ishangupta6412 commented on #740
@Diksha-11 maam can you please assign this one to me

[2021-09-19 04:10] AnirbanBall commented on #746
I am also interested .Assign this to me also

[2021-09-19 04:12] Rosy03 opened #770 "Frond-End: Colors in CSS"
Hello. 😄 👋
I want to work on the issue about "**Colors in CSS**". I want to add the documentation with the help of examples in easy learning way. Please assign it to me @praveenscience sir. Thank you. 🙏

Contributor: Rosy Banerjee
Batch-13(Frontend with html, css)

[2021-09-19 04:13] AnirbanBall commented on #733
I am interested to contribute on this

[2021-09-19 04:16] TishaJhabak1014 commented on #601
Name: Tisha Jhabak
ML-batch-6
Profile link -https://github.com/TishaJhabak1014
Assign me for this. Via Audio. Thank you.

[2021-09-19 04:18] Akshay-kumar01 commented on #252
I would like to work on this issue : CSS button styling.

Akshay Kumar Singh
Batch : 18
Type : Documentation and code example, explaining full concept.

[2021-09-19 04:19] prathimacode-hub commented on #767
Hey @AdityaStark7, this issue is done on contributor request as per thread mentioned in discord. if you are up for audio/video, you can state your interest.

If not stay awaited, there are many more issues upcoming to be created.

[2021-09-19 04:21] AdityaStark7 commented on #612
Hey,
I want to work on this issue
Aditya Kumar
Batch: 03
Serial No. 374

[2021-09-19 04:21] AdityaStark7 commented on #612
Hey,
I want to work on this issue
Aditya Kumar
Batch: 03
Serial No. 374
Type: Documentation

[2021-09-19 04:28] prachigarg19 commented on #770
Hey. I am interested in color in css issue. I have a good idea about this topic. I can provide documentation, video and audio..

[2021-09-19 04:35] vanshika230 commented on #767
I would like to work on this.
Vanshika Mishra - 830
Batch - 19
Type: Documentation
Approach:
1. What is Pandas library ?
2.  Creating dataframes
3.  Loc and iloc
4.  Data Analysis on test.csv as example
5.  Reading CSV files
6.  Reading URL to CSV
7. Reading HTML to CSV
8. Reading EXCEL to CSV

[2021-09-19 04:40] Akhilkumar272002 commented on #582
@manjeetdhayal I want to work on the **### audio** and **### video** part

[2021-09-19 04:40] prathimacode-hub commented on #767
Issue assigned to @vanshika230 for documentation

[2021-09-19 04:42] mehabhalodiya commented on #699
@uditkatyal @priyanshu688 Requesting you to mention your batch number while you are commenting on this issue.

[2021-09-19 04:46] Akhilkumar272002 commented on #552
@adityabisoi I would like to work on **Audio** and **Video** tasks.
I am Python Batch 2

[2021-09-19 05:02] ankitjha2711 commented on #148
Today, I will try to complete that, sir

[2021-09-19 05:02] AdityaStark7 commented on #670
Hey,
I would like to work on this issue
Batch: 03
Aditya Kumar
Type: Documentation

[2021-09-19 05:03] Aryamanz29 commented on #670
@AdityaStark7  Assigning this to you , Happy learning 🎉

[2021-09-19 05:10] SaijyotiTripathy commented on #566
@adityabisoi sir in which folder of python directory should I add my contribution?

[2021-09-19 05:11] mansisingh2803 commented on #770
I would like to work on this issue.
Mansi Singh
Batch-4

[2021-09-19 05:12] saniya44 commented on #579
I would Like to work on this issue.
Name: Inamdar Saniya
Batch: Python batch 1
Type: Documentation

[2021-09-19 05:13] saniya44 commented on #577
I would like to work on this issue.

[2021-09-19 05:13] saniya44 commented on #571
I would like to work on this issue.

[2021-09-19 05:14] asppanda12 commented on #733
Ok I will be contributing on video and audio

On Sun, Sep 19, 2021, 9:43 AM Anirban Ball ***@***.***> wrote:

[2021-09-19 05:21] Sakshi21112003 commented on #767
name-sakshi singh
serial no-409
type -documentation

[2021-09-19 05:23] ShreytaSingh commented on #432
yes my serial number is 186
batch 6

[2021-09-19 05:24] prathimacode-hub commented on #767
Documentation is assigned, if you're up for audio/video let me know. @Sakshi21112003

[2021-09-19 05:25] ShreytaSingh commented on #420
not yet assigned,yes i would like to work in video domain

[2021-09-19 05:25] prathimacode-hub commented on #432
If you are up for audio/video let me know, since documentation is already assigned. @ShreytaSingh

[2021-09-19 05:27] AJgthb2002 commented on #452
Thank you @Subhradeep10
But in the assignees section, it is still showing 'no one assigned'. I am a beginner, I did not understand why the assignees are not shown?

[2021-09-19 05:29] radha919 commented on #699
I would like to work on this issue...please assign this to me.

Radha Agrawal
DSA - Batch 3

[2021-09-19 05:31] prathimacode-hub commented on #420
Yes exactly, since it's hard to focus when you have multiple issues assigned. You can get assigned to issues from other domain. But in same domain, 2 issues cannot be assigned. Its one at a time. So that contribution is meaningful and you get some learning experience out of it when you focus to particular issue.

[2021-09-19 05:37] adityabisoi commented on #552
Go ahead with AUDIO

[2021-09-19 05:38] Anjali813 commented on #579
I would like to work on this issue.
Name:ANJALI
Batch: Python 5
Type: Documentation

[2021-09-19 05:38] prathimacode-hub commented on #744
@mahmoudmohamed22, issue is assigned to you for documentation.

[2021-09-19 05:42] dikshatakyar commented on #770
Hi, I am interested in this issue, will do my contribution via video.
-Diksha Takyar
-Batch-12

[2021-09-19 05:43] adityabisoi commented on #566
You can create a new folder called OOP

[2021-09-19 05:44] prathimacode-hub commented on #432
Issue is assigned to @ShreytaSingh for Video contribution.

[2021-09-19 05:44] Yashesvinee commented on #477
@adityabisoi  I would like to contribute to this in the form of a video
Yashesvinee

[2021-09-19 05:44] pragatikesarwani38 commented on #713
@adityabisoi I would like to contribute to this via documentation or audio.

[2021-09-19 05:49] paramsiddharth commented on #247
Depending on whether you add a transcript or not, you can choose to add just the link to the existing `README` file, or create a new file with the transcript and the link, and link to this file in the README.

[2021-09-19 05:50] VAISHNAVI0715 commented on #770
hi, I am intrested in this issue, will do contribute via docs.
-Vaishnavi
-Batch-4

[2021-09-19 05:50] manjeetdhayal commented on #740
Hey @Diksha-11 we will be creating issues. You dont have to worry about them. And if you create Please follow the nomenclature properly.

[2021-09-19 05:51] Sravani29-2001 commented on #575
I will try to complete the task in time.

[2021-09-19 05:51] VAISHNAVI0715 commented on #740
hi, I am interested in this issue, will do contribute via docs.
-Vaishnavi
-Batch-4

[2021-09-19 05:52] Yashesvinee commented on #571
@adityabisoi I would like to work on a video for this
Yashesvinee

[2021-09-19 05:52] VAISHNAVI0715 commented on #750
hi, I am interested in this issue, will do contribute via docs.
-Vaishnavi
-Batch-4

[2021-09-19 05:53] Sakshi21112003 commented on #767
@prathimacode-hub  i am interested

[2021-09-19 06:01] #523 closed

[2021-09-19 06:02] anandhu720 commented on #298
@Ravinayak07 one week is max time,please try to submit it before that

[2021-09-19 06:04] paramsiddharth commented on #740
The issue won't be valid because we already have a Hello World contribution with a server example. However, this issue can be a tutorial that shows how to create an HTTP server using Express in JavaScript.

[2021-09-19 06:05] Varun270 commented on #400
Alright, I will do it right now

[2021-09-19 06:06] paramsiddharth commented on #761
I understand. This is about events in front-end JavaScript. I'll tag and approve it.

[2021-09-19 06:08] prathimacode-hub commented on #767
For? Audio/video or Both? Also add the approach you would follow along with your choice. @Sakshi21112003

[2021-09-19 06:10] uditkatyal commented on #494
Name : Udit katyal
Batch : DSA batch 3
Type: documentation
Pls assign this issue to me!

[2021-09-19 06:11] Deepika-Pavundoss commented on #392
Sr no: 161
Deepika Pavundoss
Batch 5
I would like to work on this
Video
Approach: How text preprocessing is done, different libraries used and how NLP uses the preprocessed text in determining and analyzing the text

[2021-09-19 06:14] uditkatyal commented on #597
Pls assign this issue to me
Udit katyal
Batch 3 DSA

[2021-09-19 06:14] tewarigargi commented on #423
Sr. No. - 752
Name: Gargi Tewari
Preference 1: Documentation
I will show various functions available and plots that are inbuilt and also when which plot is more appropriate. I will show these via code and comments.
Thank you.

[2021-09-19 06:15] Perpetual-Incantation opened #778 "DSA 6.2.1 Tower of Hanoi"
# Description

Write the **algorithm** of Hanoi tower?
Describe the approach also?

[2021-09-19 06:16] BhaswatiRoy commented on #606
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Machine Learning
Batch-6
Issue Number-606
Contribution Approaches-statistical concepts, formulas, explanations, functions to do execute the concepts

[2021-09-19 06:21] Perpetual-Incantation commented on #778
@nimisha-yadav I have created this issue and I would like to work on it. Please add labels and assign it to me ! Thanks.

[2021-09-19 06:27] guptapriya-83900 commented on #590
@geeythree, @abhisheks008
Status: I have completed  Gaussian and Standard . I will be  starting Poisson today.

[2021-09-19 06:30] charitha-byte commented on #93
i would like to contribute to this issue with audio

[2021-09-19 06:33] Anant1711 commented on #148
Yes, PLEASE

[2021-09-19 06:40] geeythree commented on #612
@AdityaStark7 Kindly note that this issue is for **Audio** content only.

[2021-09-19 06:41] charitha-byte commented on #265
i would like to work on this issue

[2021-09-19 06:42] jainbhupesh533 commented on #606
I want to contribute to this issue :
Name-Bhupesh Parakh
Domain-Machine Learning
Batch-3
Issue Number-606
github_id:  https://github.com/jainbhupesh533
Type- Audio

[2021-09-19 06:42] mohitmishra786 commented on #610
@abhisheks008  Please give me this issue i will contribute through audio/video

[2021-09-19 06:43] Aryamanz29 commented on #647
@mohitmishra786  Assigning this to you , Happy Learning 🎉🎉

[2021-09-19 06:44] mohitmishra786 commented on #606
Yes I will

[2021-09-19 06:44] Aryamanz29 commented on #666
@xxEasterGrymm  Sure, Happy Learning 🎉🎉

[2021-09-19 06:44] geeythree commented on #590
@Isha307 This issue has already been assigned to another contributor. Kindly look for other issues with the labels **ML** and **Up For Grabs**.

[2021-09-19 06:44] Varun270 commented on #400
@Aryamanz29 I really don't understand what the problem is here, I have done numerous contributions created several PR's but this time I am not able to create a PR. I am able to commit the changes whenever I push those changed git shows that it has been pushed successfully but when I Open the forked repo I am not getting the Compare and Pull request option. I tried what you suggested using the cont

[2021-09-19 06:46] geeythree commented on #610
@mohitmishra786 You'll be assigned for **Audio** content.

[2021-09-19 06:48] geeythree commented on #606
@mohitmishra786 you have been assigned one issue already. Please complete it before proceeding onto the next.

[2021-09-19 06:48] eshan1925 commented on #685
@Aryamanz29 Please reply so that I can create PR by today. And also the PR which I will create will be for my own branch right?

[2021-09-19 06:50] mohitmishra786 commented on #606
No I am not been assigned with any ML issue

[2021-09-19 06:51] mohitmishra786 commented on #606
Sorry I didn't check

[2021-09-19 06:54] itsbittoosharma commented on #778
Please assign this to me. I could also work on it

[2021-09-19 06:58] geeythree commented on #606
@BhaswatiRoy Kindly note that you need to mention the contribution type(documentation/video/audio). Also, this issue is for **Audio** content only.

[2021-09-19 06:59] geeythree commented on #606
@jainbhupesh533 you've been assigned this issue! Note that you need to complete it and make a PR within 3 days. Happy contributing! 😄

[2021-09-19 07:00] SB2318 commented on #75
@VikasPandey121 Please check this.

[2021-09-19 07:01] SaniyaBhargav opened #782 "Frontend: HTML Forms"
I would like to contribute to the mentioned domain.

[2021-09-19 07:04] geeythree commented on #607
@purvanshgarg You've been assigned this issue. Kindly note that you need to complete the work and make a PR within 3 days. Happy Contributing! 😄

[2021-09-19 07:06] geeythree commented on #601
@TishaJhabak1014 You've been assigned this issue. Kindly note that you need to complete the work and make a PR within 3 days. Happy Contributing! 😄

[2021-09-19 07:08] manjeetdhayal commented on #582
@prathamjagga I have assigned to you. You can work on audio part.
and make sure to give in google drive link and mp3 format

[2021-09-19 07:09] manjeetdhayal commented on #582
@Akhilkumar272002 I have assigned it to you. You can work on video part. Make sure to give in mp4 format

[2021-09-19 07:10] mehabhalodiya commented on #699
@goelesha Pls assign this issue to @mansisingh2803

[2021-09-19 07:10] manjeetdhayal commented on #583
@Akhilkumar272002 I have assigned it to you. You can work on video part

[2021-09-19 07:11] cenacrharsh commented on #782
I would like to contribute to this issue.
Batch- 5 Frontend with HTML, CSS
Discord - cenacr007#9148

[2021-09-19 07:13] vkaash-sharma commented on #782
I can contribute to this issue.
u can check my portfolio where I use my knowledge of HTML forms.

https://vkaash-sharma.github.io/vikas-portfolio/

[2021-09-19 07:13] vkaash-sharma commented on #778
please assign this issue to me i like to work on the documentation of this issue

[2021-09-19 07:15] VAISHNAVI0715 commented on #782
I would like to contribute to this domain via docs.
Batch- 4 Frontend with HTML, CSS.

[2021-09-19 07:15] Debasmita-01 commented on #93
Go ahead

[2021-09-19 07:15] vkaash-sharma commented on #770
I am interested to work on this issue u can check my portfolio where i use CSS color in a better way please assign this issue to me.

https://vkaash-sharma.github.io/vikas-portfolio/

[2021-09-19 07:15] Debasmita-01 commented on #184
yes go ahead

[2021-09-19 07:18] Anant1711 opened #785 "Cybersecurity: 2.8 OSI model"
## Description
### Explain in detail all layers of the OSI Model.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out

[2021-09-19 07:20] Anant1711 opened #786 "Cybersecurity: 2.9 Switches"
## Description
### What are Switches?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](ht

[2021-09-19 07:21] Anant1711 opened #788 "Cybersecurity: 2.9.1 Router"
## Description
### What are Routers?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](htt

[2021-09-19 07:22] Anant1711 opened #789 "Cybersecurity: 2.9.2 HUBs"
## Description
### What is HUB?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](https://

[2021-09-19 07:24] RK1905101 commented on #785
can i take up this issue to contribute in documentation?

[2021-09-19 07:24] lohith1392 commented on #577
i don't have multiple issues can u please assign this to me @adityabisoi

[2021-09-19 07:26] Anant1711 commented on #785
OK!
I'm assigning this task to you!

[2021-09-19 07:31] Debasmita-01 commented on #183
U can contribute . I have assigned

[2021-09-19 07:31] Debasmita-01 commented on #183
Go ahead , I have assigned you

On Sat, Sep 18, 2021 at 6:59 PM riyasai22 ***@***.***> wrote:

[2021-09-19 07:32] mohitmishra786 commented on #680
@Aryamanz29  can you please assign me this issue as I had already opened the PR for my last issue.

[2021-09-19 07:41] Kashika02 commented on #778
I hold a good command on dsa , I would like to contribute to this issue
Kashika Parmar
Batch 1 dsa

[2021-09-19 07:47] LegendSumeet commented on #789
assign me to these @Anant1711

[2021-09-19 07:48] VikasPandey121 commented on #75
Thank you for the contribution @SB2318 🎉🎉

[2021-09-19 07:48] #75 closed

[2021-09-19 07:48] LegendSumeet commented on #786
assign me to these @Anant1711

[2021-09-19 07:48] LegendSumeet commented on #788
assign me to these @Anant1711

[2021-09-19 07:48] LegendSumeet commented on #766
assign me to these

[2021-09-19 07:49] VanshSh opened #794 "Semantic HTML"
Name: Vansh Sharma
Batch number:  4
Domain: Frontend development with HTML/CSS/JS/Bootstrap
Discord user name:  Vansh Sharma#0122
@praveenscience #794  #261

[2021-09-19 07:49] LegendSumeet commented on #734
assign me to these @Diksha-11

[2021-09-19 07:52] LegendSumeet commented on #678
assign me to these @Aryamanz29

[2021-09-19 07:53] LegendSumeet commented on #676
assign me to these @Aryamanz29

[2021-09-19 07:53] LegendSumeet commented on #672
assign me to these @Aryamanz29

[2021-09-19 07:53] LegendSumeet commented on #671
assign me to these @Aryamanz29

[2021-09-19 07:54] LegendSumeet commented on #667
assign me to these @Aryamanz29

[2021-09-19 07:54] LegendSumeet commented on #666
assign me to these @Aryamanz29

[2021-09-19 07:54] LegendSumeet commented on #662
assign me to these @Aryamanz29

[2021-09-19 07:56] LegendSumeet opened #796 "Top 10 Open Source Software"
@Aryamanz29 assign me to these i will making a good and short document on it

[2021-09-19 07:56] praveenscience commented on #794
Yep go for it.

[2021-09-19 07:57] Muskan-creator opened #797 "Explain everything Related to `Julia Summer of Code`"
### Description :

- **Explain everything related to `Julia Summer of Code`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-4`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create t

[2021-09-19 07:59] eshan1925 commented on #797
May I work on this issue?
And what is the format we need to submit our docs in . Like is it gonna be pdf,word or Readme.md file?
ANd what should be the approximate length of the explanation.

[2021-09-19 08:02] Muskan-creator opened #798 "4.20 Explain everything related to `NJACK Winter Of Code`"
### Description :

- **Explain everything related to `NJACK Winter Of Code`**
### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Put  your `doc` inside `section-4`
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create t

[2021-09-19 08:04] Muskan-creator opened #800 "Explain everything related to `Mozilla Winter of Security`"
### Description :

- **Explain everything related to `Mozilla Winter of Security`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before cre

[2021-09-19 08:07] Muskan-creator opened #802 "OpenSource : 4.15 Explain everything related to `Kharagpur Winter Of Code`"
### Description :

- **Explain everything related to `Kharagpur Winter Of Code`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creat

[2021-09-19 08:10] Muskan-creator opened #803 "OpenSource:4.21 Explain everything related to `OpenCode IIITA`"
### Description :

- **Explain everything related to `OpenCode IIITA`**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any is

[2021-09-19 08:12] adityabisoi commented on #713
Assigned for Audio

[2021-09-19 08:13] Aniketsinghcoder commented on #699
Aniket Singh & DSA-BATCH-3
I would like to contribute to documentation/editorial.
Please assign this issue to me.

[2021-09-19 08:18] sanjana-coder commented on #803
Please assign this to me

[2021-09-19 08:19] Varun270 commented on #798
@Aryamanz29 please assign this issue to me , I would like to work on it.

[2021-09-19 08:19] itsbittoosharma commented on #800
Please assign this issue to me
I want to work on this
Batch - 2

[2021-09-19 08:20] Harshit-Poddar90 commented on #797
May I work?

[2021-09-19 08:20] siddhi-244 commented on #802
Can I try ?

[2021-09-19 08:26] Muskan-creator commented on #797
@eshan1925 Assigning issue to you .
@Harshil-Jani Issue assigning is based on first come first basis . I hope you don't mind.

[2021-09-19 08:27] eshan1925 commented on #797
Thankyou @Muskan-creator  just tell me an approximate length of explanantion.

[2021-09-19 08:28] Muskan-creator commented on #798
@Varun270 Assigning issue to you

[2021-09-19 08:29] Varun270 commented on #798
@Muskan-creator Can you tell me is there any kind of deadline to solve this issue

[2021-09-19 08:30] Muskan-creator commented on #803
@sanjana-coder Assigning this issue to you😊

[2021-09-19 08:30] Muskan-creator commented on #802
@siddhi-244 Assigning this issue to you

[2021-09-19 08:31] Muskan-creator commented on #800
@itsbittoosharma Assigning issue to you

[2021-09-19 08:34] Janhvi-s opened #807 "Android-Java: 2.5 CheckBox in Android"
## Things I'll be working on this issue
- What is a checkbox?
- How to implement a checkbox in Java

[2021-09-19 08:35] Janhvi-s commented on #807
@VikasPandey121 Can I work on this issue?

[2021-09-19 08:36] RIYANSHGARG commented on #729
I have added the pull request please consider it

[2021-09-19 08:37] Harshil-Jani commented on #797
Hey ! Ig you made a wrong tag😅 it was supposed to be for @Harshit-Poddar90 .

[2021-09-19 08:43] Muskan-creator commented on #798
You have to solve it in max 1 week 😀

[2021-09-19 08:44] Muskan-creator commented on #797
Sorry @Harshil-Jani

[2021-09-19 08:49] Harshit-Poddar90 commented on #797
Thank you for assigning me.
I just want to know is there any time limit for this?

[2021-09-19 08:50] Harshit-Poddar90 commented on #797
@eshan1925 pls guide me as I am new to this field.

[2021-09-19 08:53] eshan1925 commented on #797
@Harshit-Poddar90 you are not assigned to this task. As all of this comes on first come first serve basis.

[2021-09-19 08:55] siddhi-244 commented on #246
this issue was assigned to me but i see a contribution already?

[2021-09-19 08:56] Harshit-Poddar90 commented on #797
Oh so why I was tagged?
Anyways np

[2021-09-19 09:02] abhisheks008 commented on #591
@amitrakshar01 Do the changes and make another fresh PR with proper title and images.

[2021-09-19 09:05] AdityaStark7 commented on #667
Hello,
I would like to contribute to this issue
Batch: 03
Aditya Kumar
@Aryamanz29
Thanks !

[2021-09-19 09:24] anjanaaaaaaaa commented on #788
can i take this in documentation

[2021-09-19 09:25] dikshatakyar commented on #794
Hi, Can you please assign me this ?
I will do contribution via video.
Name : Diksha Takyar
Batch no. 12
Domain: Frontend development with HTML/CSS/JS/Bootstrap
discord username : dikshaaaa#1262
@praveenscience

[2021-09-19 09:41] Anant1711 commented on #786
For `Documentation`?

[2021-09-19 09:42] LegendSumeet commented on #786
yessss
both

[2021-09-19 09:43] Anant1711 commented on #786
Assigned! for `Documentation`  and `Video`

[2021-09-19 09:43] AdityaStark7 commented on #678
Hey!
I would like to contribute on this issue
Batch: 03

[2021-09-19 09:43] Anant1711 commented on #789
One Task at a Time!

[2021-09-19 09:44] AdityaStark7 commented on #671
Hey!
I would like to contribute on this issue
Batch: 03

[2021-09-19 09:44] VikasPandey121 commented on #807
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development_With_Java/Android UI Widgets` with the file name starting from 2.3 for instance `2.3 CheckBox in Android`
Note:- If you have multiple files to commit then add a tag at t

[2021-09-19 09:44] Anant1711 commented on #788
Assigned for `Documentation`.

[2021-09-19 09:45] LegendSumeet commented on #789
i can do it in documentation

[2021-09-19 09:47] AdityaStark7 commented on #657
Hey!
I would like to contribute on this issue
Batch: 03

[2021-09-19 09:47] 7sakshi7 commented on #761
One of the important concept of javascript. The change in the state of an object is known as an Event. This process of reacting over the events is called Event Handling. Thus, js handles the HTML events via Event Handlers. These are some terms related to events.

I will contribute through code, document and image.
I am a GWOC'21 contributor from Batch-3 of javascript Please assign this issue to me

[2021-09-19 09:49] 7sakshi7 commented on #746
I am interested in this. Kindly assign this to me and I will contribute through documentation.

[2021-09-19 09:50] trip0le commented on #297
@anandhu720 Sir, I was thinking of making a power point presentation with audio on the above issue. In that case,  if I push a readme file having the google drive link of the presentation in my forked repository and then send a pull request to the Frontend_Web_Development_React_Angular_Vue branch from the same, will it be acceptable?

[2021-09-19 09:51] 7sakshi7 commented on #761
I am interested in this. Kindly assign this to me. I' m from Batch 3 and contribute through documentation.

[2021-09-19 09:53] PrachiDoshi2170 commented on #676
Hello @Aryamanz29 I would like this issue to be assigned to me I have not yet got the opportunity to contribute to the domain of open source.

Type: Documentation

[2021-09-19 09:53] siddhi-244 commented on #404
Please check my pr!

[2021-09-19 09:53] Anant1711 commented on #785
`Documentation is Done!`
Does anyone want to `contribute` a video on this topic?

[2021-09-19 09:54] AnantDuhan commented on #782
I would love to contribute on this

[2021-09-19 09:54] sanjana-coder commented on #803
Thanks!

[2021-09-19 09:54] PrachiDoshi2170 commented on #669
Hello @Aryamanz29 I would like this issue to be assigned to me
This will be my first contribution to the open source branch
Type: Documentation

[2021-09-19 09:54] VikasPandey121 commented on #418
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development_With_Java/Android_UI_Widgets/` with the file name starting from 2.2 for instance `2.2 Button in Android`
Note:- If you have multiple files to commit then add a tag at th

[2021-09-19 09:55] AnantDuhan commented on #721
Would love to explain

[2021-09-19 09:56] 7sakshi7 commented on #782
I would like to contribute to this issue.
Batch- 18 Frontend with HTML, CSS
Discord - agarwalSakshi | Contributor#9567

[2021-09-19 09:57] AnantDuhan commented on #681
I would love to work on this issue

[2021-09-19 09:57] ShubhamGupta-29 commented on #395
@paramsiddharth sir i have made my first pull request kindly review please

[2021-09-19 09:58] VikasPandey121 commented on #645
Yes sure, I am assigning this issue to you @priyanshu688 .
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development_With_Java/Android_UI_Widgets/` with the file name starting from 2.3 for instance `2.3 Toasts and Notifications

[2021-09-19 09:59] saurav3232 commented on #576
I would like to work on this issue.
Name: Saurav Kumar
Batch: Python Batch-5
Type: Video

[2021-09-19 09:59] 7sakshi7 commented on #721
I am a GWOC'21 contributor from Batch 3 of JavaScript. Please assign this issue to me. I assure you that this issue's title will be the same as my PR's title as well as I will be Contributing under the Guidelines and Code of Conduct.
Discord : agarwalSakshi | Contributor#9567

[2021-09-19 09:59] Kalyani02072003 commented on #796
please assign it to me
i am a beginner but I will try my best to provide the best document

[2021-09-19 10:00] #117 closed

[2021-09-19 10:02] siddhi-244 commented on #482
Plzz assign this issue to me.

[2021-09-19 10:09] jaisinha commented on #482
Can you assign this issue to me?

[2021-09-19 10:09] Kalyani02072003 commented on #770
i am also interested
kindly assign it to me
batch-18 frontend
discord- STRAWHAT_LUFFY#8651

[2021-09-19 10:10] Aryamanz29 commented on #796
We already covering every program, Don't need this
Thanks

[2021-09-19 10:10] nimisha-yadav commented on #778
Hey @Perpetual-Incantation, this topic is not there in the week 1 agenda so I'm closing this issue, please [refer here](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/README.md) for more info.

[2021-09-19 10:10] #778 closed

[2021-09-19 10:11] #796 closed

[2021-09-19 10:13] Kalyani02072003 commented on #796
@Aryamanz29 Sir i am a beginner, may i know if anyone is assigned to it or you will be assigning it in a while?

[2021-09-19 10:15] LegendSumeet commented on #796
@Kalyani02072003 it had been closed

[2021-09-19 10:18] BhavyaT-135 commented on #699
@goelesha
Hi, I would like to prepare the documentation for this issue.

-Bhavya Tewari
DSA Batch 1

[2021-09-19 10:18] BeeBombshell commented on #699
Hi @goelesha
I would like to document this issue...

Bhavya Verma
DSA Batch-1

[2021-09-19 10:18] LegendSumeet commented on #511
@shikharvashistha ready to merge

[2021-09-19 10:19] VikasPandey121 commented on #119
Please look up for the vacant issues as it is already assigned to another contributor.

[2021-09-19 10:20] RK1905101 commented on #737
Can I contribute in this, for documentation part!?

[2021-09-19 10:22] VikasPandey121 commented on #74
It has been already assigned to another contributor. Please contributor to any other issue which is still yet to assign.
PS: get the issue assigned first.

[2021-09-19 10:22] #61 closed

[2021-09-19 10:23] Drontitan commented on #345
pls assign me this issue i have to work on this

[2021-09-19 10:23] RK1905101 commented on #789
Can I contribute in this, for documentation part!?

[2021-09-19 10:24] Aryamanz29 commented on #678
@AdityaStark7  Assigning this to you, Happy Learning 🎉🎉

[2021-09-19 10:25] UditJain77 commented on #605
Today's Update
Creating a PPT for CRT!

[2021-09-19 10:26] Aryamanz29 commented on #669
@PrachiDoshi2170  Sure, Happy Learning 🎉🎉

[2021-09-19 10:26] Kalyani02072003 commented on #782
i would like to contribute in it
batch - 18 frontend
discord - STRAWHAT_LUFFY#8651

[2021-09-19 10:27] gracyashhh commented on #557
I would like to contribute on this in the form of audio @adityabisoi

[2021-09-19 10:27] Aryamanz29 commented on #662
@LegendSumeet  Sure, Happy Learning 🎉🎉

[2021-09-19 10:27] UditJain77 commented on #605
Today's Update
Creating a PPT for this CLT issue.

[2021-09-19 10:28] Aryamanz29 commented on #676
@PrachiDoshi2170   Assigning this to you , Happy docs 🎉🎉

[2021-09-19 10:28] gracyashhh commented on #549
I would like to contribute on this in audio format @adityabisoi

[2021-09-19 10:29] Drontitan commented on #283
@praveenscience pls assign these issue to me 😁😁😁

[2021-09-19 10:30] Drontitan commented on #499
hey@Ananya-Patra9437 pls give me this isuue thank you

[2021-09-19 10:30] siddhi-244 commented on #802
Please check my pr !

[2021-09-19 10:32] soumyaagr427 commented on #699
I would be glad to get this topic. I have good knowledge of time complexity from equations to graph.

type-Documentation
DSA- Batch -5.

[2021-09-19 10:39] VikasPandey121 commented on #116
@ishivamgupta9, It has been already assigned to another contributor please look up any other issue.

[2021-09-19 10:40] VikasPandey121 commented on #110
LGTM, please ask the DSA supervisor for assigning this issue to you.

[2021-09-19 10:42] Kalyani02072003 commented on #733
i want to work on its documentation
can I be assigned to this?

[2021-09-19 10:43] Suvraneel opened #827 "Bot Test"
<hr>

## Description 📜

Testing the bot

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 10:44] Suvraneel commented on #827
/assign

[2021-09-19 10:44] Suvraneel commented on #827
@gauravdas014  Working fine

[2021-09-19 10:44] #827 closed

[2021-09-19 10:44] gauravdas014 commented on #827
@Suvraneel awesome

[2021-09-19 10:45] Kalyani02072003 commented on #672
can i be assigned to work on its documentation ?

[2021-09-19 10:47] #43 closed

[2021-09-19 10:50] Anant1711 commented on #789
Okay! Go for `Documentation`

[2021-09-19 10:50] Kalyani02072003 commented on #220
can i be assigned in this?
batch - 18 frontend
discord - STRAWHAT_LUFFY#8651

[2021-09-19 10:51] Suvraneel opened #828 "HEading sample test"
<hr>

## Description 📜
Detailed Desc

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 10:51] pallavidhere23 opened #829 "1.4.1.1 Arrays: Operations (insert, delete, search, rotate)"
<hr>

## Description 📜
This issue will contain all the basic array operations with description, code , asymptotic analysis and varies edge cases.

<hr>

## Domain of Contribution 📊

- [x] DSA

<hr>

[2021-09-19 10:51] Suvraneel commented on #828
/assign

[2021-09-19 10:52] Kalyani02072003 commented on #529
can I be assigned to this documentation?
I am a beginner but I will try my best to provide the best
batch - 18 frontend
discord - STRAWHAT_LUFFY#8651

[2021-09-19 10:53] mansisingh2803 commented on #829
/assign

[2021-09-19 10:54] pallavidhere23 commented on #829
Please assign me this is under GWOC'2021

[2021-09-19 10:56] Kalyani02072003 commented on #579
i would like work on its documentaion part
please assign it to me, I am a beginner but I will try my best to provide quality document
batch - 5 python
discord - STRAWHAT_LUFFY#8651

[2021-09-19 10:56] pallavidhere23 commented on #829
/assign

[2021-09-19 10:57] Anujakumari commented on #412
Hello @adityabisoi
I want to contribute to this issue through video
python batch -5
Thanks

[2021-09-19 10:58] Kalyani02072003 commented on #713
@adityabisoi
kindly assign it to me, i would like to work on its documentation part
I am a beginner to contribution but have intermediate python knowledge
batch- 5 python
discord - STRAWHAT_LUFFY#8651

[2021-09-19 10:58] Drontitan commented on #782
/assign this issue to me

[2021-09-19 10:58] nayyyhaa opened #830 "JS: Execution Context in JavaScript"
<hr>

## Description 📜

I'll be explaining briefly about Execution Context in JavaScript in the documentation.

<hr>

## Domain of Contribution 📊

- [x] JavaScript

<hr>

## Directory

 `winter-of-contributing/Web_Development/Javascript/Topics/Execution_Context`

<hr>

## Formats

- [x] Document
- [ ] Video
- [ ] Audio

<hr>

I am a GWOC'21 contributor from Batch 1 of JavaScript. Please assign thi

[2021-09-19 10:59] KartikChinda commented on #221
/assign

[2021-09-19 11:00] bindaldhara opened #832 "Kadanes Algorithm"
<hr>

## Description 📜

Its a code which gives the maximum sum of subarray

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:00] nayyyhaa commented on #830
Hi @paramsiddharth, could you please assign me this issue?

[2021-09-19 11:01] Drontitan commented on #345
/assign this issue to me

[2021-09-19 11:01] Anant1711 commented on #84
@Kavyaabhishek
Are working on this?

[2021-09-19 11:01] bindaldhara commented on #832
/assign

[2021-09-19 11:02] pallavidhere23 opened #833 "1.5.1.1 Arrays: Implementation Using STL C++"
<hr>

## Description 📜

This Documentation will content Array Implementation using STL Library in C++.
<hr>

## Domain of Contribution 📊

- [x] DSA

<hr>

[2021-09-19 11:02] Anujakumari commented on #569
@adityabisoi , Can I  contribute on this issue through video.
python batch - 5
Thanks

[2021-09-19 11:02] pallavidhere23 commented on #833
/assign

[2021-09-19 11:02] SaniyaBhargav commented on #782
/assign

[2021-09-19 11:03] Anant1711 commented on #83
@IshikaMeghaSaha
When are you going to submit your work?

[2021-09-19 11:03] Ravinayak07 opened #834 "C_CPP :- Looping Control structure/statements"
<hr>

## Description 📜

I want to work on making documentation on Looping Control structure/statements

@Suvraneel  please /assign this to me
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:03] asppanda12 commented on #733
Ok

On Sun, Sep 19, 2021, 5:37 AM Aditi-247 ***@***.***> wrote:

[2021-09-19 11:04] Pranshu321 opened #835 "CPP : POLYMORPHISM IN DOCUMENT"
<hr>

## Description 📜
I want to work on the topic polymorphism in document form.In this I explain about each about the topics which are in the topic polymorphism.
Batch 14.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:04] harshithatnbr commented on #201
/assign.

[2021-09-19 11:05] Pranshu321 commented on #835
/assign

[2021-09-19 11:05] vkaash-sharma commented on #834
assign this issue to me!

[2021-09-19 11:05] Ravinayak07 commented on #834
/assign

[2021-09-19 11:06] vkaash-sharma commented on #835
assign this issue to me!

[2021-09-19 11:06] Kavyaabhishek commented on #84
I can't do this because I'm not able to do it in markdown language.

[2021-09-19 11:06] SaniyaBhargav opened #838 "Frontend: HTML Forms"
/assign

[2021-09-19 11:06] Drontitan commented on #283
/assign this issue to me

[2021-09-19 11:06] SaniyaBhargav commented on #838
/assign

[2021-09-19 11:07] AdityaStark7 commented on #766
/assign

[2021-09-19 11:07] vkaash-sharma commented on #838
assign this issue to me

[2021-09-19 11:07] vkaash-sharma commented on #838
/assign

[2021-09-19 11:07] AdityaStark7 commented on #766
--unassign me

[2021-09-19 11:07] Anant1711 commented on #84
What issue do you face? I can help you out!
Or you can submit `Video` also!

[2021-09-19 11:08] Kalyani02072003 commented on #838
/assign

[2021-09-19 11:08] vkaash-sharma commented on #770
/assign

[2021-09-19 11:09] nayyyhaa commented on #830
/assign

[2021-09-19 11:10] AdityaStark7 commented on #667
/assign

[2021-09-19 11:10] Baba-Yaga-1 opened #840 "Frontend : HTML Tables"
<hr>

## Description 📜
I would like to contribute about HTML table along with its example code and screenshots of the output in the form of documentation.
Batch 4
Kindly assign this to me.

/assign

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Databa

[2021-09-19 11:10] Kalyani02072003 commented on #220
/assign

[2021-09-19 11:10] harshithatnbr commented on #201
/assign

[2021-09-19 11:10] Drontitan commented on #345
/assign

[2021-09-19 11:10] nayyyhaa commented on #830
/assign

[2021-09-19 11:11] mansisingh2803 commented on #840
/assign

[2021-09-19 11:11] Kalyani02072003 commented on #840
kindly assign this issue to me
i would like to work on the documentation part
I am a beginner but I will try my best
batch 18 frontend
discord - STRAWHAT_LUFFY#8651

[2021-09-19 11:12] Kalyani02072003 commented on #840
/assign

[2021-09-19 11:12] Baba-Yaga-1 commented on #840
/assign

[2021-09-19 11:12] supriya-045 commented on #840
/assign

[2021-09-19 11:12] debjitpal5040 commented on #699
I would like to document this issue.
Documentation
DSA Batch-1

[2021-09-19 11:12] Aarushijain-06 opened #841 "Vectors in Cpp STL"
<hr>

## Description 📜

This will contain the documentation of vectors in C++ STL.
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:12] Shashankkrj commented on #767
@prathimacode-hub Can you help me regarding video part ? Actually,I want to know that we have to only record the code or information using screen recorder or we have to do something else in the video part of this issue.

[2021-09-19 11:13] Aarushijain-06 commented on #841
/assign

[2021-09-19 11:13] LegendSumeet commented on #558
/assign

[2021-09-19 11:13] vkaash-sharma commented on #841
/assign

[2021-09-19 11:14] Aarushijain-06 commented on #841
/assign

[2021-09-19 11:14] adityabisoi commented on #579
Already assigned for documentation

[2021-09-19 11:14] Kalyani02072003 commented on #840
/assign this is to me

[2021-09-19 11:14] Ravinayak07 opened #842 "Frontend : HTML Lists"
<hr>

## Description 📜

I want to work on making documentation on  HTML Lists  with its example code and output .
Please /assign this to me.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 11:14] Kalyani02072003 commented on #842
/assign

[2021-09-19 11:15] Ravinayak07 commented on #842
/assign

[2021-09-19 11:15] Kalyani02072003 commented on #842
/assign

[2021-09-19 11:15] Baba-Yaga-1 commented on #235
/assign this to me.

[2021-09-19 11:16] Suvraneel opened #843 "Inorder traversal"
<hr>

## Description 📜

Inorder traversal of BST

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:16] Kalyani02072003 commented on #842
@Ravinayak07 sir i am new to this contribution can you help me with this as we are assigned to same issue

[2021-09-19 11:16] miraj0507 commented on #841
/assign

[2021-09-19 11:16] Suvraneel commented on #843
/assign

[2021-09-19 11:17] Ravinayak07 opened #844 "Frontend : HTML Style Attribute"
<hr>

## Description 📜

I want to work on making documentation on  HTML Style Attribute  with its example code and output .
Please /assign this to me.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 11:17] Ravinayak07 commented on #844
/assign

[2021-09-19 11:17] miraj0507 commented on #832
/assign

[2021-09-19 11:18] its-navneet commented on #842
/assign

[2021-09-19 11:18] Anshii12 commented on #844
May I work on this issue.
Name- Anshita Sharma
Batch- 7

[2021-09-19 11:18] its-navneet commented on #838
/assign

[2021-09-19 11:19] Baba-Yaga-1 opened #845 "Frontend: HTML Flexbox"
<hr>

## Description 📜
I would like to contribute about HTML Flexbox along with its example code and screenshots of the output in the form of documentation.
Batch 4
Kindly assign this to me.

/assign

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Data

[2021-09-19 11:19] Baba-Yaga-1 commented on #845
/assign

[2021-09-19 11:19] vatsss commented on #271
I would like to work on this issue via documentation.
Sameer Vats
Frontend batch-15

[2021-09-19 11:19] anandhu720 commented on #618
content added

[2021-09-19 11:19] #618 closed

[2021-09-19 11:19] chetan-2002 commented on #845
/assign

[2021-09-19 11:20] mansisingh2803 commented on #843
/assign

[2021-09-19 11:20] Aarushijain-06 opened #846 "Maps in C++ STL"
<hr>

## Description 📜

I want to add documentation of Maps in C++ STL.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:20] a-rcane commented on #846
/assign

[2021-09-19 11:20] chetan-2002 commented on #846
/assign

[2021-09-19 11:21] Aarushijain-06 commented on #846
/assign

[2021-09-19 11:21] mansisingh2803 commented on #699
/assign

[2021-09-19 11:23] bindaldhara opened #848 "Trapping Rainwater"
<hr>

## Description 📜

It computes how much water is trapped after raining.

<hr>

## Domain of Contribution 📊

Documentation
- [x] C/CPP

<hr>

[2021-09-19 11:23] bindaldhara commented on #848
/assign

[2021-09-19 11:23] abhiilasha commented on #452
/assign

[2021-09-19 11:23] #840 closed

[2021-09-19 11:23] uditkatyal commented on #841
@Aarushijain-06  pls assign this issue to me

[2021-09-19 11:23] DevilsSnare commented on #252
/assign

[2021-09-19 11:24] Baba-Yaga-1 opened #849 "Frontend: HTML Tables"
<hr>

## Description 📜

I would like to contribute about HTML Tables along with its example code and screenshots of the output in the form of documentation.
Batch 4

/assign this to me.

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Dat

[2021-09-19 11:24] Baba-Yaga-1 commented on #849
/assign

[2021-09-19 11:24] prettylittleminds opened #850 "C_CPP: Introduction to C"
<hr>

## Description 📜

I want to contribute using videography on the following:

1. Introduction to C (History of C and its uses/advantages)
2. Programming components, Structure & Keyword

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:24] lohith1392 commented on #849
/assign

[2021-09-19 11:24] vatsss commented on #271
/assign

[2021-09-19 11:24] prettylittleminds commented on #850
/assign

[2021-09-19 11:25] roopali-1 commented on #850
/assign

[2021-09-19 11:25] DevilsSnare commented on #529
/assign

[2021-09-19 11:25] uditkatyal commented on #846
@Aarushijain-06  pls assign this issue to me!

[2021-09-19 11:27] bindaldhara opened #852 "Triplet sum"
<hr>

## Description 📜

 It find if there is a triplet in array whose sum is equal to the given value.

<hr>

## Domain of Contribution 📊

Documentation
- [x] C/CPP

<hr>

[2021-09-19 11:27] bindaldhara commented on #852
/assign

[2021-09-19 11:27] ShikhaSwati60 opened #853 "CPP: Inheritance in CPP"
<hr>

## Description 📜
This issue will contain detailed documentation on inheritance in CPP

Inheritance in C++

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:28] ShikhaSwati60 commented on #853
/assign

[2021-09-19 11:28] Ravinayak07 commented on #842
you have to create documentation on HTML Lists

[2021-09-19 11:28] roopali-1 commented on #853
/assign

[2021-09-19 11:28] Anshii12 commented on #845
/assign

[2021-09-19 11:29] miraj0507 commented on #852
please assign this to me

[2021-09-19 11:29] lohith1392 commented on #844
/assign

[2021-09-19 11:30] miraj0507 commented on #843
/assign

[2021-09-19 11:30] Kalyani02072003 commented on #842
@Ravinayak07 i get it i will create the documentation, should i do it in word and where should I submit it?

[2021-09-19 11:30] miraj0507 commented on #846
i want to work in this

[2021-09-19 11:30] Ravinayak07 commented on #298
Sure sir

[2021-09-19 11:31] ShikhaSwati60 commented on #853
/assign

[2021-09-19 11:31] ishrutik opened #854 "Stack implementation"
<hr>

## Description 📜

Stacks

<hr>

## Domain of Contribution 📊

- [x ] C/CPP

Documentation
<hr>

[2021-09-19 11:32] ishrutik commented on #854
/assign

[2021-09-19 11:32] Perpetual-Incantation opened #855 "Pair in C++ STL"
<hr>

## Description 📜

I want to add documentation of Pair in C++ STL.

<hr>

## Domain of Contribution 📊

- [x] C/CPP
<hr>

[2021-09-19 11:33] Perpetual-Incantation commented on #855
/assign

[2021-09-19 11:33] vishwas031 commented on #252
/assign

[2021-09-19 11:33] Ravinayak07 commented on #842
you have to submit in the form of Markdown file (like README.md). Follow the contributing guidelines

[2021-09-19 11:34] bhavesh-chaudhari commented on #315
@Aryamanz29  this task has been completed. You can review the pull request now.

[2021-09-19 11:34] Akshat-2002-coder opened #856 "Number system"
<hr>
 explain different types of number system used
especially binary number system

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:34] Akshat-2002-coder commented on #856
/assign

[2021-09-19 11:34] AnirbanBall commented on #855
can u assign ?

[2021-09-19 11:34] Akshat-2002-coder commented on #856
/assign

[2021-09-19 11:36] AJgthb2002 commented on #452
/assign

[2021-09-19 11:36] Kalyani02072003 commented on #842
@Ravinayak07 okay, how can i contact you if i run into problem? i will not message unnecessarily

[2021-09-19 11:36] roopali-1 opened #858 "Documentation in Constructor and destructor in cpp"
<hr>

Introduction to Constructor and Destructor in classes in cpp  .

<hr>

## Domain of Contribution 📊

- [x ] C/CPP

<hr>

[2021-09-19 11:36] roopali-1 commented on #858
/assign

[2021-09-19 11:36] Anshii12 opened #859 "HTML Classes and Ids"
<hr>

## Description 📜

I want to add documentation of HTML classes and ids.
Assign this issue to me.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 11:37] 124015001 opened #860 "C_CPP: Constructor"
<hr>

Detailed Desc

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:37] CSAURABH commented on #859
/assign

[2021-09-19 11:37] Anshii12 commented on #859
/assign

[2021-09-19 11:37] mansisingh2803 commented on #860
/assign

[2021-09-19 11:37] 124015001 commented on #860
/assign

[2021-09-19 11:37] mohansaitejatalari commented on #860
/assign

[2021-09-19 11:39] 124015001 opened #861 "C_CPP: Inheritance"
<hr>

documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:39] lohith1392 commented on #859
/assign

[2021-09-19 11:39] 124015001 commented on #861
/assign

[2021-09-19 11:39] Baba-Yaga-1 commented on #227
/assign

[2021-09-19 11:39] 124015001 commented on #861
/assign

[2021-09-19 11:40] #849 closed

[2021-09-19 11:40] aditya1308 commented on #854
/assign

[2021-09-19 11:41] uditkatyal opened #862 "Bit Manupulation"
<hr>

## Description 📜
Explain everything about bit manipulation.
Types of Bit operators and usage

<hr>

## Domain of Contribution 📊

- [x] DSA

<hr>

[2021-09-19 11:41] thepranaygupta opened #863 "C_CPP : Looping Control Structure"
<hr>

## Description 📜

I want to contribute on Looping Control Structure in C using documentation.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:41] uditkatyal commented on #862
pls assign this issue to me

[2021-09-19 11:41] uditkatyal commented on #862
/assign

[2021-09-19 11:41] thepranaygupta commented on #863
/assign

[2021-09-19 11:41] lohith1392 commented on #862
/assign

[2021-09-19 11:42] uditkatyal commented on #855
/assign

[2021-09-19 11:42] pika918 commented on #734
/assign
please assign this issue to me

[2021-09-19 11:43] 7sakshi7 commented on #72
I am a GWOC'21 contributor from Batch 3 of JavaScript. Please assign this issue to me. I assure you that this issue's title will be the same as my PR's title as well as I will be Contributing under the Guidelines and Code of Conduct.
Discord : agarwalSakshi | Contributor#9567

[2021-09-19 11:43] shreya0204 opened #864 "C_CPP : Two-pointer Algorithm popular questions"
<hr>

## Description 📜

I'm going to add a list of two-pointer algorithm popular questions from easy to hard divided to practice in documentation.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:44] uditkatyal commented on #864
/assign

[2021-09-19 11:44] VanshSh commented on #794
Heyy @dikshatakyar
After completing the video part please do share your link so that I can add that link in my doc
 for the people if they want to refer to the video learning.

[2021-09-19 11:44] shreya0204 commented on #864
/assign

[2021-09-19 11:44] joshi-anita commented on #864
/assign

[2021-09-19 11:44] joshi-anita commented on #863
/assign

[2021-09-19 11:45] 7sakshi7 commented on #161
I am a GWOC'21 contributor from Batch 3 of JavaScript. Please assign this issue to me. I assure you that this issue's title will be the same as my PR's title as well as I will be Contributing under the Guidelines and Code of Conduct.
Discord : agarwalSakshi | Contributor#9567

[2021-09-19 11:45] joshi-anita commented on #860
/assign

[2021-09-19 11:45] urvashi-tomer commented on #529
/assign

[2021-09-19 11:45] joshi-anita commented on #853
/assign

[2021-09-19 11:46] #845 closed

[2021-09-19 11:46] joshi-anita commented on #841
/assign

[2021-09-19 11:46] Safwan310 commented on #740
Interested. Can you please assign this task to me?

[2021-09-19 11:46] Baba-Yaga-1 opened #865 "Frontend : What is Grid ?"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-19 11:46] Anushka2705 opened #866 "Issue"
<hr>

This issue will explain the topic of inheritance with examples .
Inheritance in cpp
<hr>
[sample.txt](https://github.com/girlscript/winter-of-contributing/files/7192020/sample.txt)
[sample.txt](https://github.com/girlscript/winter-of-contributing/files/7192021/sample.txt)
 Domain of Contribution 📊
- [ x] C/CPP

<hr>

[2021-09-19 11:46] Baba-Yaga-1 commented on #865
/assign

[2021-09-19 11:47] Anushka2705 commented on #866
/assign

[2021-09-19 11:47] joshi-anita commented on #859
/assign

[2021-09-19 11:48] themonikanayak commented on #113
/assign

[2021-09-19 11:48] themonikanayak commented on #114
/assign

[2021-09-19 11:48] joshi-anita commented on #844
/assign

[2021-09-19 11:48] PranavPrakasan07 opened #867 "LRU Cache Replacement Algorithm"
<hr>

## LRU Cache Replacement Algorithm

The code for the LRU Cache Replacement problem.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:48] Eswari-Priya opened #868 "Constructor Types and Destructors(documentation)"
<hr>

## Description 📜

I'd like to explain the constructors and destructors ,their types, how to use them and how they work.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:48] PranavPrakasan07 commented on #867
/assign

[2021-09-19 11:49] Eswari-Priya commented on #868
/assign

[2021-09-19 11:49] joshi-anita commented on #868
/assign

[2021-09-19 11:49] kashyap1905 commented on #868
Assign it to me

[2021-09-19 11:50] ramii17 opened #869 "_ HTML TABLES _"

[2021-09-19 11:50] joshi-anita commented on #838
/assign

[2021-09-19 11:50] themonikanayak commented on #113
/assign

[2021-09-19 11:50] joshi-anita commented on #834
/assign

[2021-09-19 11:51] shreya0204 opened #870 "C_CPP : Set Multiset in C++ stl"
<hr>

## Description 📜

I will explain set and multiple set in stl along with examples and explanations in the documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 11:51] Rosy03 commented on #770
/assign

[2021-09-19 11:51] shreya0204 commented on #870
/assign

[2021-09-19 11:51] sahil9510 opened #871 "[Frontend with HTML,CSS,JavaScript] Selectors and pseudo selector"
<hr>

## Description 📜

Documentation on Selectors and pseudo selector

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 11:52] sahil9510 commented on #871
/assign

[2021-09-19 11:53] ramii17 commented on #869
Html tables_  #869 /assign me

[2021-09-19 11:54] AastikSharma05 opened #873 "Leftmost Repeating Character C++ (Strings)"
<hr>

## Description 📜

This will print the leftmost repeating character of a given string (C++ language).

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-19 11:55] AastikSharma05 commented on #873
/assign

[2021-09-19 11:55] Xyandraa9 opened #874 "CPP: Linked List"
<hr>

## Description 📜

I want to create a documentation explaining Singly Linked List, Doubly Linked List, Circular Linked List, with code examples.

<hr>

## Domain of Contribution 📊

- [ x] C/CPP

<hr>

[2021-09-19 11:56] mohitmishra786 opened #875 "ML : Describe everything related to Kernels?"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-19 11:56] Xyandraa9 commented on #874
/assign

[2021-09-19 11:58] Xyandraa9 opened #878 "CPP: Bubble Sort"
<hr>

## Description 📜

I want to create a documentation explaining bubble sort technique in C++.

<hr>

## Domain of Contribution 📊

- [x ] C/CPP

<hr>

[2021-09-19 11:58] Xyandraa9 commented on #878
/assign

[2021-09-19 11:59] Subhrato20 commented on #731
I would like to be assigned to work on it.
Name:- Subhrato Som
Batch:- 9
Serial Number:- 322
Contribution Type:- Documentation
Approach:- Introduction to K-NN, How it works, Step by step process of building models with it, Applications of K-NN, A prediction model example.

[2021-09-19 12:00] Adi9235 opened #879 "Bitmasking"
<hr>

## Description 📜
Bitmasking (Documentation)

<hr>

## Domain of Contribution 📊

- [x ] C/CPP

<hr>

[2021-09-19 12:01] Adi9235 commented on #879
/assign

[2021-09-19 12:01] kashyap1905 commented on #879
/assign

[2021-09-19 12:01] urvashi-tomer opened #880 "Frontend : Colors in css"
<hr>

## Description 📜

Documentation on Colors in CSS
<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [x] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Gola

[2021-09-19 12:02] urvashi-tomer commented on #880
/assign

[2021-09-19 12:02] Subhrato20 commented on #396
I would like to be assigned to work on it.
Name:- Subhrato Som
Batch:- 9
Serial Number:- 322
Contribution Type:- Documentation
Approach:- Introduction to Naive Bayes Classifier, How it works, Step by step process of building models with it, Applications and Example.

[2021-09-19 12:03] Tanushree-coder opened #881 "Android-Kotlin : 02.6 Coroutines in Kotlin"
I want to make documentation on this topic. Kindly assign this to me @rahulsain .
Tanushree here ! (from Batch 1 : Android-Dev-Kotlin)

[2021-09-19 12:04] Tanushree-coder commented on #881
/assign

[2021-09-19 12:05] kashyap1905 commented on #858
/assign

[2021-09-19 12:06] Subhrato20 commented on #392
I would like to be assigned to work on it.
Name:- Subhrato Som
Batch:- 9
Serial Number:- 322
Contribution Type:- Documentation
Approach:- Introduction to NLP and the application of text processing in it, How it works, Usage and Example of analyzing text.

[2021-09-19 12:06] AJgthb2002 commented on #452
/assign

[2021-09-19 12:06] #841 closed

[2021-09-19 12:07] shreya0204 opened #883 "C_CPP : Friend Function in C++"
<hr>

## Description 📜

Explanation of working of friend function along with example question and explanation in documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:07] shreya0204 commented on #883
/assign

[2021-09-19 12:07] kaustubh0777 opened #884 "Modular Arithmetic in C++"
<hr>

## Description 📜

I want to Create an Documentation explaining the concepts of Modular Arithmetic in C++ with some code examples too.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:08] AJgthb2002 commented on #111
/assign

[2021-09-19 12:08] Xyandraa9 opened #885 "C : dynamic memory allocation"
<hr>

## Description 📜

I want to explain Dynamic memory allocation in C, using code examples. Documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP
<hr>

[2021-09-19 12:08] Xyandraa9 commented on #885
/assign

[2021-09-19 12:08] priyanshiparolia opened #886 "C_CPP: Decision Making and Branching Structure"
<hr>

## Description 📜

I want to contribute using videography on Decision Making and Branching Structure
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:08] kaustubh0777 commented on #884
/assign

[2021-09-19 12:08] prishit55 opened #887 "CPP: Breath First Search (graphs)"
<hr>

## Description 📜

I will make a folder Graphs(in the CPP domain) and inside that folder I will add a documentation file explaining CPP code for Breath First Search traversal.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:09] prishit55 commented on #887
/assign

[2021-09-19 12:09] KartikChinda opened #888 "Dynamic Memory Allocation in C"
<hr>

## Description 📜

I'll be adding the documentation and code for DMA in C, explaining the use of malloc, calloc, realloc, free etc.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:09] priyanshiparolia commented on #886
/assign

[2021-09-19 12:09] KartikChinda commented on #888
/assign

[2021-09-19 12:09] mohansaitejatalari commented on #885
/assign

[2021-09-19 12:10] 124015001 opened #889 "C_CPP: Streams and Files"
<hr>

## Description 📜

documentation
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:10] 124015001 commented on #889
/assign

[2021-09-19 12:11] SHIVSB opened #890 "Encapsulation"
<hr>

## Description 📜

Here we will be learning about Encapsulation.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:12] SHIVSB commented on #890
/assign

[2021-09-19 12:12] mohansaitejatalari commented on #890
/assign

[2021-09-19 12:12] soumiksamanta007 opened #891 "C_CPP: Standard Template Library(STL) in C++"
<hr>

## Description 📜

I would like to describe about the various containers and functions available in C++ STL
Type: Doccumentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:12] soumiksamanta007 commented on #891
/assign

[2021-09-19 12:12] sumit-6 commented on #890
/assign

[2021-09-19 12:12] AditiRout opened #893 "Selection sort in c"
<hr>

## Description 📜

To show selection sort technique in c language via documentation.
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:13] AditiRout commented on #893
/assign

[2021-09-19 12:13] mohansaitejatalari commented on #893
/assign

[2021-09-19 12:13] sumit-6 commented on #893
/assign

[2021-09-19 12:14] sumit-6 commented on #891
/assign

[2021-09-19 12:15] diya-dhan opened #894 "Sets : STL in C++"
<hr>

## Description 📜

Describing the SETS container and it's respective functions in the form of code and documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:15] sumit-6 commented on #894
/assign

[2021-09-19 12:15] mohansaitejatalari commented on #894
/assign

[2021-09-19 12:16] diya-dhan commented on #894
/assign

[2021-09-19 12:16] ayushijindal commented on #894
/assign

[2021-09-19 12:17] ChetasShree opened #896 "C_CPP : Two Pointers Technique (Documentation)"
<hr>

## Description 📜

I want to create documentation explaining two pointers technique with code examples.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:17] ayushijindal commented on #891
/assign

[2021-09-19 12:17] AJgthb2002 commented on #448
/assign

[2021-09-19 12:17] sumit-6 commented on #896
/assign

[2021-09-19 12:17] ChetasShree commented on #896
/assign

[2021-09-19 12:18] ayushijindal commented on #874
/assign

[2021-09-19 12:19] #890 closed

[2021-09-19 12:19] eshan1925 commented on #797
Hey @Muskan-creator have created PR for the task that youassigned me today, I have according to me provided all the things related to the Julia Summer of Code, so you can merge the PR.
Thank You
[https://github.com/girlscript/winter-of-contributing/pull/895](Pull Request)

[2021-09-19 12:20] jaissumi1402 opened #898 "C_CPP: Documentation on classes and object"
<hr>

## Description 📜

I will be creating a documentation on Classes and Object

<hr>

## Domain of Contribution 📊

- [ ] C/CPP

<hr>

[2021-09-19 12:20] sumit-6 commented on #898
/assign

[2021-09-19 12:20] jaissumi1402 commented on #898
/assign

[2021-09-19 12:21] ayushijindal commented on #891
/assign

[2021-09-19 12:22] #898 closed

[2021-09-19 12:22] jaissumi1402 opened #901 "C_CPP : documentation on classes and object"
<hr>

## Description 📜

I will be creating a documentation on Classes and Object

<hr>

## Domain of Contribution 📊

- [ ] C/CPP

<hr>

[2021-09-19 12:23] jaissumi1402 commented on #901
/assign

[2021-09-19 12:23] sumit-6 commented on #901
/assign

[2021-09-19 12:23] jaissumi1402 commented on #901
/assign

[2021-09-19 12:24] adityarajsahoo opened #902 "CPP: Linked List (Video Explanation)"
<hr>

## Description 📜

Explanation of Linked List concepts with code through youtube videos.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>
Video

[2021-09-19 12:25] Drontitan commented on #264
/

[2021-09-19 12:25] sumit-6 commented on #902
/assign

[2021-09-19 12:25] adityarajsahoo commented on #902
/assign

[2021-09-19 12:25] Ajinkyap331 commented on #264
/assign

[2021-09-19 12:26] kajaljha09 opened #903 "C_CPP : Recursion in C++"
<hr>

## Description📜
 I would like to work on contributing in the documentation part of Recursion in C++  with complete explanations and code snippets.

<hr>

## Domain of Contribution 📊
- [x] C/CPP
<hr>

[2021-09-19 12:26] a-rcane opened #904 "C_CPP : Maps in C"
<hr>

## Description 📜

Maps in C
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

- Documentation

[2021-09-19 12:26] a-rcane commented on #904
/assign

[2021-09-19 12:26] kajaljha09 commented on #903
/assign

[2021-09-19 12:26] Med16-11 opened #905 "CPP/DS/Queue Introduction"
<hr>

## Description 📜

 Data Structure Queue Introduction

<hr>

## Domain of Contribution 📊

- [x] C/CPP
<hr>
Document

[2021-09-19 12:27] Ragini-sharma21 opened #907 "insertion sort in cpp"
<hr>

## Description
To show insertion sort in Cpp language via documentation

<hr>

## Domain of Contribution 📊

- [ x] C/CPP
<br>

[2021-09-19 12:27] Kanishk0412 opened #908 "Programming Components, Structure & Keywords"
<hr>

## Description 📜

I'll go with the Documentation of the Following Contents below:
1. I'll go over all of the C programming elements.
2. I'll go over every structure and keyword used in C programming.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:27] Med16-11 commented on #905
/assign

[2021-09-19 12:27] Ragini-sharma21 commented on #907
/assign

[2021-09-19 12:27] LegendSumeet commented on #908
/assign

[2021-09-19 12:27] ayushjha952 commented on #448
@Subhradeep10 this issue was assigned to me, right?

[2021-09-19 12:27] Kanishk0412 commented on #908
/assign

[2021-09-19 12:28] #896 closed

[2021-09-19 12:28] #908 closed

[2021-09-19 12:28] jaissumi1402 opened #909 "DSA: documentation on kadane's algorithm"
<hr>

## Description 📜

Find largest sum contiguous subarray

<hr>

## Domain of Contribution 📊

- [ ] DSA

<hr>

[2021-09-19 12:29] jaissumi1402 commented on #909
/assign

[2021-09-19 12:29] jaissumi1402 commented on #909
/assign

[2021-09-19 12:29] #902 closed

[2021-09-19 12:29] ChetasShree opened #910 "C_CPP : Two Pointers Technique (Documentation)"
<hr>

## Description 📜

I want to create documentation explaining two pointers technique with code examples.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:29] ChetasShree commented on #910
/assign

[2021-09-19 12:29] ChetasShree commented on #910
/assign

[2021-09-19 12:30] Kanishk0412 opened #911 "Programming Components, Structure & Keywords"
<hr>

## Description 📜

I'll go with the Documentation of the Following Contents below:
1. I'll go over all of the C programming elements.
2. I'll go over every structure and keyword used in C programming.

<hr>

## Domain of Contribution 📊

- [ x] C/CPP

<hr>

[2021-09-19 12:30] adityaraj079 commented on #136
Hey @ViAsmit this issue's PR is now merged
I request you to please close this issue so that we can work on other issues.

[2021-09-19 12:30] Kanishk0412 commented on #911
/assign

[2021-09-19 12:30] Sunainacode opened #912 "C_CPP : Vectors in C++ (Documentation)"
<hr>

## Description 📜

This issue will explain the vectors in Standard Template Library and it's functions.

<hr>

## Domain of Contribution 📊

- [x ] C/CPP

<hr>
Documentation

[2021-09-19 12:30] Shikhar253 opened #913 "File Handling in C++"
<hr>

## Description 📜

I'll make documentation on file handling in c++

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:30] Shikhar253 commented on #913
/assign

[2021-09-19 12:30] Sunainacode commented on #912
/assign

[2021-09-19 12:30] ayushijindal commented on #912
/assign

[2021-09-19 12:31] #912 closed

[2021-09-19 12:31] Shikhar253 opened #914 "File Handling in C"
<hr>

## Description 📜

I'll make documentation in File Handling in c
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:31] Shikhar253 commented on #914
/assign

[2021-09-19 12:32] diya-dhan opened #916 "C_CPP : Unordered_map STL in C++"
<hr>

## Description 📜

Describing Unordered_Map and it's respective functions in the form of documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:32] diya-dhan commented on #916
/assign

[2021-09-19 12:32] Asmit2952 commented on #782
/Assign this issue to me

[2021-09-19 12:32] dikshatakyar commented on #794
@VanshSh , I haven't been assigned the video part yet , If I am assigned then I will create a different branch here and it will be merged

[2021-09-19 12:33] #894 closed

[2021-09-19 12:33] Sunainacode opened #918 "C_CPP : Vectors in C++ (Documentation)"
<hr>

## Description 📜

This will explain the Vectors in STL.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>
Documentation

[2021-09-19 12:33] ayushijindal commented on #918
/assign

[2021-09-19 12:33] Sunainacode commented on #918
/assign

[2021-09-19 12:34] dikshatakyar commented on #794
/assign

[2021-09-19 12:34] deepthi1107 commented on #347
hello @prathimacode-hub i have written document and code, I am stuck where to do PR and how to do. Can you guide me?

[2021-09-19 12:34] sumit-6 commented on #910
/assign

[2021-09-19 12:35] ayushijindal commented on #918
Can two persons work on the same issue??

[2021-09-19 12:35] AJgthb2002 commented on #452
/assign

[2021-09-19 12:35] adityarajsahoo opened #919 "CPP: Linked List concepts with code (Video Explanation)"
<hr>

## Description 📜

Explanation of Linked List concepts with code through youtube uploaded videos.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>
Video

[2021-09-19 12:35] adityarajsahoo commented on #919
/assign

[2021-09-19 12:36] Ajinkyap331 commented on #570
Thank you @adityabisoi for giving me this opportunity

[2021-09-19 12:38] ayushijindal commented on #918
can I work on more than two issues at the same time??

[2021-09-19 12:38] geeky01adarsh opened #920 "Competitive_Programming : Kadanes_algorithm"
<hr>
Labels: Competitive Programming
Format: Documentation

Language: C/C++/Java
Description :- Kadane's Algorithm
Topic: Array/Searching & Sorting
<hr>

[2021-09-19 12:38] geeky01adarsh commented on #920
/assign

[2021-09-19 12:38] Cyber-Prajwal commented on #339
@adityabisoi  I have successfully created a pull request and my changes can merge without any conflicts.

[2021-09-19 12:39] adityarajsahoo opened #921 "CPP: Single Inheritance (Video Explanation)"
<hr>

## Description 📜

Explanation of Inheritance concepts with code through youtube uploaded videos.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>
Video

[2021-09-19 12:39] adityarajsahoo commented on #921
/assign

[2021-09-19 12:39] vkaash-sharma commented on #920
/assign

[2021-09-19 12:39] VanshSh commented on #794
You can ask supervisors of your domain and send the link of your issue they will give permission to you because I did the same.

[2021-09-19 12:39] Kanishk0412 opened #923 "Input and Output Operators in C"
<hr>

## Description 📜

In the Documentation form, I'll demonstrate how to receive user input and produce output using the C programming language.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:39] Kanishk0412 commented on #923
/assign

[2021-09-19 12:39] kashyap1905 opened #924 "Pointers and Two Dimensional Arrays in C"
<hr>

## Description 📜

This will explain how we can access array elements using pointers. This thing is very helpful while working with a function that takes array as an argument.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

## Type of Contribution

- Documentation

[2021-09-19 12:39] vkaash-sharma commented on #916
/assign

[2021-09-19 12:39] Kanishk0412 commented on #923
/assign

[2021-09-19 12:40] kashyap1905 commented on #924
/assign

[2021-09-19 12:40] deepthi1107 commented on #767
Hello, I am Deepthi M with a serial number:172. I would like to do documentation on this issue.
Approach: Dealing with dataset and write all the related code with a detailed comments.

[2021-09-19 12:41] ayushjha952 commented on #448
/assign

[2021-09-19 12:41] ankitjha2711 commented on #148
sir i am done with video but i don't know how to submit the link.

[2021-09-19 12:42] #132 closed

[2021-09-19 12:43] #134 closed

[2021-09-19 12:43] ViAsmit commented on #135
@iamayushkr  have you completed the issue?

[2021-09-19 12:43] #136 closed

[2021-09-19 12:45] #153 closed

[2021-09-19 12:45] #859 closed

[2021-09-19 12:45] #158 closed

[2021-09-19 12:45] ViAsmit commented on #159
@bakisama have you completed the issue?

[2021-09-19 12:45] Drontitan commented on #87
/assign

[2021-09-19 12:46] aachalmodak commented on #87
/assign

[2021-09-19 12:48] Kanishk0412 opened #926 "Operators and Expressions in C"
<hr>

## Description 📜

In the Documentation form, I'll go through all of the operators and expressions in detail and show you how to utilize them effectively in the C language.

<hr>

## Domain of Contribution 📊

- [ x] C/CPP

<hr>

[2021-09-19 12:48] Kanishk0412 commented on #926
/assign

[2021-09-19 12:49] aachalmodak commented on #306
/assign

[2021-09-19 12:49] iamayushkr commented on #135
Tonight I will be creating the pull request.

[2021-09-19 12:50] prathimacode-hub commented on #767
I will update with details in discord.

[2021-09-19 12:50] aachalmodak commented on #268
/assign

[2021-09-19 12:50] prathimacode-hub commented on #767
I guess you had been assigned to another issue. @deepthi1107

[2021-09-19 12:50] Ayushi2811 commented on #920
/assign

[2021-09-19 12:51] Drontitan commented on #733
/assign

[2021-09-19 12:51] ayushijindal commented on #918
I am from other domain I thought this is competitive programming issue

[2021-09-19 12:52] gauravchahar31 opened #927 "C_CPP : Linked List"
<hr>

## Description 📜

This will be a complete Linked List documentation.
Linked List (Singly, Circular, Doubly)
I will show Insertion, Deletion, Searching, Sorting, Reversing, Merging of Linked List.

<hr>

## Domain of Contribution 📊

- [ ] C/CPP
- [ ] DSA
- [ ] Interview Prep

<hr>

[2021-09-19 12:52] Shikhar253 opened #928 "HTML SVGs"
<hr>

## Description 📜

I'll make Documentation on HTML SVGs with code snippents and explaination
Contributing in the FrontEnd domain

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 12:52] gauravchahar31 commented on #927
/assign

[2021-09-19 12:52] Shikhar253 commented on #928
/assign

[2021-09-19 12:53] Pranshu321 commented on #265
\assign

[2021-09-19 12:53] #265 closed

[2021-09-19 12:53] gauravchahar31 commented on #927
Gaurav Kumar
C/C++ Batch 11

[2021-09-19 12:53] prathimacode-hub commented on #744
Since this is a repetitive issue, it's closed.

[2021-09-19 12:53] #744 closed

[2021-09-19 12:54] deepthi1107 commented on #767
Yes, but I have written the document, I have a doubt on how to do PR. I will be doing it soonly @prathimacode-hub

[2021-09-19 12:54] dikshatakyar opened #930 "Frontend :The Box Model in CSS"
<hr>

## Description 📜
Every element is surrounded with a box. Here I will explain The Box Model in CSS via Video.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 12:54] dikshatakyar commented on #930
/assign

[2021-09-19 12:55] aachalmodak commented on #930
/assign

[2021-09-19 12:56] Asmit2952 commented on #212
/assign

[2021-09-19 12:56] bakisama commented on #159
Hi @ViAsmit,
I do not believe in submitting sub-par work and I want to help anyone I can. I needed sometime setting up the virtual machines so I can help Linux and MacOS users too. I will probably be done by tomorrow night. I hope you understand :)

[2021-09-19 12:56] #423 closed

[2021-09-19 12:57] diya-dhan opened #931 "C_CPP : Coin change Problem (DP Algorithmic Approach)"
<hr>

## Description 📜

Solving the Coin Change Problem (Dynamic Programming) : Given an amount 'n' and an array of coins, find out how many combinations of coins can be computed that amount to 'n' [DOCUMENTATION]

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 12:57] Drontitan commented on #341
/assign

[2021-09-19 12:57] diya-dhan commented on #931
/assign

[2021-09-19 12:58] Med16-11 opened #932 "CPP : Queue Introduction"
<hr>

## Description 📜

An Introduction to Queue
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>
Document

[2021-09-19 12:59] bhumitbedse commented on #932
/assign

[2021-09-19 12:59] #932 closed

[2021-09-19 12:59] asppanda12 commented on #733
But the video and audio task was assigned to me

On Sun, Sep 19, 2021, 6:21 PM github-actions[bot] ***@***.***>
wrote:

[2021-09-19 12:59] Yashesvinee opened #933 "FrontEnd: Search Engine Optimisation basics"
<hr>

## Description 📜

Search engine optimisation basics documentation
<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 13:00] aachalmodak commented on #243
/assign

[2021-09-19 13:00] Yashesvinee commented on #933
/assign

[2021-09-19 13:00] arpanaditya commented on #341
/assign

[2021-09-19 13:02] AS8420 opened #934 "C_CPP: Decision Making"
<hr>

## Description 📜

This will be documentation.
It will explain all the decision making statement used in the language so far.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 13:03] AS8420 commented on #934
/assign

[2021-09-19 13:03] #828 closed

[2021-09-19 13:04] ViAsmit commented on #159
@bakisama sure

[2021-09-19 13:04] ayushijindal commented on #934
is this issue for competitive programming domain?

[2021-09-19 13:04] Asmit2952 commented on #212
/assign

[2021-09-19 13:04] #843 closed

[2021-09-19 13:05] dikshatakyar commented on #274
@AnirudhBot , I am very sorry , I just created Box Model as a new issue, but I will be contributing that via video. Is that ok or do I need to delete that issue ?

[2021-09-19 13:05] Pranshu321 opened #935 "Frontend : HTML LINKS AND IMAGES IN DOCUMENT FORM"
<hr>

## Description 📜
I want to work on this issue and i submit my work in the document form. I explain everything in great with point to point explanation and also the code snippets that make my work more understandable.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 13:06] Pranshu321 commented on #935
/assign

[2021-09-19 13:07] Ayushi2811 commented on #928
/assign

[2021-09-19 13:07] Aaryan376 opened #937 "C_CPP: Arrays in CPP"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 13:08] Aaryan376 commented on #937
/assign

[2021-09-19 13:13] Adarshswain commented on #499
till which date i have to submit

[2021-09-19 13:13] purvanshgarg commented on #607
I want to change my contribution to audio can i do that?
sorry for the discrepancy

[2021-09-19 13:13] 2devyank commented on #282
@paramsiddharth  sir I have made the pull request please check

[2021-09-19 13:14] khushipunia21 commented on #937
/assign

[2021-09-19 13:14] Adarshswain commented on #499
yes I am ready to assign

[2021-09-19 13:15] AbhinandanAdhikari opened #942 "JS: Conditional Statements in JavaScript"
# Conditional Statements
Conditional Statements in JavaScript.

# Directory
[code]
# Description
<li> What are Conditional Statements?
<li> Types of Conditional Statements in JavaScript.
<li> Give Example & Syntax of each conditional Statement in JavaScript.
<li> Tell about switch statement in JavaScript.
<li> Tell about ternary operator in JavaScript.

# Formats

- [x] Document
- [ ] Video
- [ ]

[2021-09-19 13:15] arushi2715 commented on #782
/assign

[2021-09-19 13:15] AS8420 opened #943 "FrontEnd: The CSS Box Model"
<hr>

## Description 📜

Here it's going to be a documentation with explanation what is CSS Box Model and all the information related to that.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 13:15] lohith1392 commented on #869
/assign

[2021-09-19 13:15] AS8420 commented on #943
/assign

[2021-09-19 13:15] Aniketsinghcoder commented on #927
/assign
Aniket Singh
Interview Prep Batch 3

[2021-09-19 13:17] Aniketsinghcoder commented on #927
/assign

[2021-09-19 13:18] ayushijindal commented on #943
/assign

[2021-09-19 13:19] ayushijindal commented on #942
/assign

[2021-09-19 13:19] Shikhar253 opened #944 "Frontend : HTML Image Maps"
<hr>

## Description 📜

I'll make a documentation on HTML <map> tag , how to use it , and everything related to it

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 13:19] Shikhar253 commented on #944
/assign

[2021-09-19 13:19] #944 closed

[2021-09-19 13:20] AbhinandanAdhikari commented on #942
/assign

[2021-09-19 13:21] ayushijindal commented on #942
is this for HTML/CSS/JS

[2021-09-19 13:21] AbhinandanAdhikari commented on #942
No
Only for JavaScript Domain

[2021-09-19 13:22] #943 closed

[2021-09-19 13:22] AbhinandanAdhikari commented on #942
/assign

[2021-09-19 13:23] lohith1392 commented on #935
/assign

[2021-09-19 13:23] #942 closed

[2021-09-19 13:24] ravireddy07 commented on #218
/assign

[2021-09-19 13:24] AS8420 opened #945 "FrontEnd: CSS Layout_Positions"
<hr>

## Description 📜

Here it's going to be a documentation.
It will explain what is CSS Layouts and all the information related to positions.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 13:25] AS8420 commented on #945
/assign

[2021-09-19 13:25] AbhinandanAdhikari opened #946 "JS: Conditional Statements in JavaScript"
# Conditional Statements
Conditional Statements in JavaScript.

# Directory
[code]
# Description
<li> What are Conditional Statements?
<li> Types of Conditional Statements in JavaScript.
<li> Give Example & Syntax of each conditional Statement in JavaScript.
<li> Tell about switch statement in JavaScript.
<li> Tell about ternary operator in JavaScript.

# Formats

- [x] Document

[2021-09-19 13:25] AbhinandanAdhikari commented on #946
/assign

[2021-09-19 13:26] AbhinandanAdhikari commented on #946
@paramsiddharth Sir, I'm working on this issue for documentation part.

[2021-09-19 13:27] ravireddy07 commented on #218
/unassign

[2021-09-19 13:28] #218 closed

[2021-09-19 13:28] rravi1401 opened #948 "documentation"
<hr>

## Description

I will explain all decision making statements

<hr>

## Domain of Contribution

-[x]C/CPP

<hr>

[2021-09-19 13:28] Anuj2403 commented on #486
/assign

[2021-09-19 13:29] 4khadija commented on #671
Hey, I  would like to contribute on this.
Name- Khadija Korasawala
Batch-4
Type: Documentation

[2021-09-19 13:29] #948 closed

[2021-09-19 13:29] aakankshabhende commented on #259
/assign

[2021-09-19 13:29] ayushijindal opened #949 "Competitive Programming: Binary Search Problems"
<hr>

## Description 📜

Adding questions related to binary search in documentation format
<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-19 13:29] ayushijindal commented on #949
/assign

[2021-09-19 13:29] jhanvee-khola commented on #937
/assign

[2021-09-19 13:29] ayushijindal commented on #949
/assign

[2021-09-19 13:30] #587 closed

[2021-09-19 13:30] jhanvee-khola commented on #926
/assign

[2021-09-19 13:30] 4khadija commented on #672
Hey, I would like to contribute on this.
Name- Khadija Korasawala
Batch-4
Type: Documentation

[2021-09-19 13:32] jhanvee-khola commented on #878
/assign

[2021-09-19 13:33] Anshii12 opened #951 "FRONTEND: HTML classes and ids"
<hr>

## Description 📜

I want to add documentation of HTML classes and ids with code snippets.
Assign this issue to me.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 13:33] Anshii12 commented on #951
/assign

[2021-09-19 13:33] Anshii12 commented on #951
/assign

[2021-09-19 13:34] arjyo851 commented on #452
/assign

[2021-09-19 13:35] AS8420 commented on #934
No, it's for C_CPP domain

[2021-09-19 13:36] rravi1401 opened #952 "C_CPP: Queue Implementation"
<hr>

## Description

I will explain how to enqueue and dequeue in queue | |  ### Documentation

<hr>

## Domain of Contribution

-[x]C/CPP

<hr>

[2021-09-19 13:36] jhanvee-khola commented on #713
@adityabisoi , I am interested to contribute via audio or video.
kindly assign it to me.
Thanks
Jhanvee Khola
Python - Batch 4

[2021-09-19 13:37] rravi1401 commented on #952
/assign

[2021-09-19 13:37] silicolicious opened #953 "Introduction to Pointers"
<hr>

## Description 📜

### Introduction to Pointers
This will be a documentation on Introduction to Pointers in C/CPP
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 13:37] silicolicious commented on #953
/assign

[2021-09-19 13:38] swatigupta121 opened #954 "Set STL in C++"
<hr>

## Description 📜

Describing Set and it's respective functions in the form of documentation.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 13:38] swatigupta121 commented on #954
/assign

[2021-09-19 13:38] jhanvee-khola commented on #598
@adityabisoi
I would like to contribute to this issue.
Name: Jhanvee Khola
Any type audio/video/documentation
Batch: 4

[2021-09-19 13:39] Varun270 commented on #598
/assign

[2021-09-19 13:39] praveenscience commented on #770
@vkaash-sharma Since @Rosy03 wanted to do this, can I reassign to her?

[2021-09-19 13:39] jhanvee-khola commented on #569
@adityabisoi
Can I contribute on this issue through video/audio?
python batch - 4
Name: Jhanvee Khola

[2021-09-19 13:39] Varun270 commented on #598
/assign

[2021-09-19 13:40] japneetbhatia opened #955 "Frontend: CSS units"
<hr>

## Description 📜

Adding the explanation for various css measurement units like cm, px, em, vh etc in form of documentation

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 13:40] japneetbhatia commented on #955
/assign

[2021-09-19 13:41] sumitmukharjeeeeee commented on #689
Can you assign me this?? I want to take up this one.

[2021-09-19 13:41] muskan612 opened #956 "Reversing a List without using stack"
<hr>

## Description 📜

A list of numbers is reversed without using a stack

<hr>

## Format
Documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] DSA
<hr>

[2021-09-19 13:41] muskan612 commented on #956
/assign

[2021-09-19 13:42] syedmazharaliraza opened #957 "Frontend Dev (HTML, CSS, JS): Grid vs Flex"
<hr>

I'll submit documentation on the topic "Grid vs Flex" that explains both topics and will contain the comparison of both CSS properties.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 13:42] syedmazharaliraza commented on #957
/assign

[2021-09-19 13:43] rravi1401 opened #958 "Quick Sort_code"
<hr>

## Description

I will write code of quick sort and explain this | |  ### Documentation

<hr>

## Domain of Contribution

-[x]C/CPP

<hr>

[2021-09-19 13:43] rravi1401 commented on #958
/assign

[2021-09-19 13:44] rravi1401 opened #959 "Sorting Technique Merge Sort"
<hr>

## Description

I will write code of merge sort and explain this | |  ### Documentation

<hr>

## Domain of Contribution

-[x]C/CPP

<hr>

[2021-09-19 13:45] rravi1401 commented on #959
/assign

[2021-09-19 13:45] sumitmukharjeeeeee commented on #518
I want to take up this one.
If anyone can assign me??

[2021-09-19 13:45] #954 closed

[2021-09-19 13:47] 1anshu-56 commented on #432
Thank you!🙂 @prathimacode-hub

[2021-09-19 13:51] am-dusky opened #960 "C:Break/Continue in C"
<hr>

## Description 📜
I would like to give a detailed description on break and continue in C in documentation form

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 13:51] am-dusky commented on #960
/assign

[2021-09-19 13:52] YASHMAROO commented on #232
/assign

[2021-09-19 13:55] nikhv opened #962 "Add two linked list"
<hr>

## Description 📜
 Add two linked lists. Linked lists represent two numbers.
<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [x] DSA

<hr>

[2021-09-19 13:55] nikhv commented on #962
/assign

[2021-09-19 13:57] swatigupta121 opened #963 "Ugly Numbers (Using DP algorithmic approach)"
<hr>

## Description 📜

Problem - Given a number n, the task is to find n’th Ugly number.
I will provide a proper C++ solution regarding this problem. [DOCUMENTATION]
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 13:57] swatigupta121 commented on #963
/assign

[2021-09-19 14:00] Anant1711 commented on #148
Upload your Video on google drive and then make a .md file in the week_1 folder and then drop your video link in this format!
`[![Your_video_title](Your_video_thumbnail_photo_link)](Your_vide_link "Your_video_title")`

[2021-09-19 14:01] 1PRatgit opened #966 "Exception Handling in cpp"
<hr>

## Description 📜

This documentation explains about how to handle different type of problem or exceptions during execution of a program.

<hr>

## Domain of Contribution 📊

- [x ] C/CPP

<hr>

[2021-09-19 14:02] 1PRatgit commented on #966
/assign

[2021-09-19 14:05] GopinathBalaji commented on #373
Hey @prathimacode-hub!
Do I need to update the progress regarding the issue here or elsewhere?

[2021-09-19 14:11] japneetbhatia opened #968 "Frontend: Content manipulation"
<hr>

## Description 📜
Want to add explanation of Content Manipulation- margin,padding,align in form of documentation

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 14:12] #782 closed

[2021-09-19 14:12] japneetbhatia commented on #968
/assign

[2021-09-19 14:14] atarax665 opened #970 "Competitive Programming: Checking Bot."
<hr>

## Description 📜
Competitive Programming: Checking bot

<hr>

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-19 14:16] AswathiGR opened #971 "Boolean Data Type in Python"
<hr>

## Description 📜

Documentation on Boolean Data Type in Python

<hr>

## Domain of Contribution 📊

- [ ] Python

<hr>

[2021-09-19 14:17] AswathiGR commented on #971
/assign

[2021-09-19 14:17] aryankashyap7 opened #972 "Frontend : HTML Text Formatting"
<hr>

## Description 📜

I want to work on making documentation on HTML Text Formatting with its example code and output.
Please /assign this to me.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 14:18] aryankashyap7 commented on #972
/assign

[2021-09-19 14:18] afridihannan commented on #972
/assign

[2021-09-19 14:19] rahulsain commented on #518
@sumitmukharjeeeeee You have already allotted one task, please proceed with that first

[2021-09-19 14:19] Aarushijain-06 opened #973 "Strings in C language"
<hr>

## Description 📜

In this document, I will add about strings in C language.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 14:19] sumitmukharjeeeeee commented on #518
okay will finish that one first

[2021-09-19 14:19] afridihannan commented on #973
/assign

[2021-09-19 14:19] Aarushijain-06 commented on #973
/assign

[2021-09-19 14:19] sumitmukharjeeeeee commented on #689
Thanks for assigning. Getting started right away

[2021-09-19 14:20] spy-1234 commented on #220
/assign

[2021-09-19 14:21] #973 closed

[2021-09-19 14:21] ruhirani011 commented on #842
/assign

[2021-09-19 14:21] hrshita-kshyp commented on #842
/assign

[2021-09-19 14:21] atarax665 commented on #970
/assign

[2021-09-19 14:22] hrshita-kshyp commented on #838
/assign

[2021-09-19 14:22] #970 closed

[2021-09-19 14:23] SushantPatial opened #974 "Frontend : Flex properties"
<hr>

## Description 📜

I will be adding different flex properties

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 14:23] pratyaksh1610 opened #975 "Searching algorithms (Linear Search and Binary Search) - C_CPP"
<hr>

## Description 📜

<p> Searching algorithms (Linear Search and Binary Search)</p>
<p> Documentation format</p>
<p>I will be working on this issue, explaining linear search and binary search in a detailed format with code samples and animations. </p>

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 14:23] SushantPatial commented on #974
/assign

[2021-09-19 14:24] pratyaksh1610 commented on #975
/assign

[2021-09-19 14:24] Rohit-dubey45 opened #976 "CPP:Diffrent Sorting Techniques"
<hr>

## Description 📜

Here I will provide detailed description in documentation of diffrent sorting technique with codes.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 14:24] Rohit-dubey45 commented on #976
/assign

[2021-09-19 14:25] pratyaksh1610 commented on #975
/assign

[2021-09-19 14:26] Kalyani02072003 commented on #971
/assign

[2021-09-19 14:26] ruhirani011 commented on #842
/assign

[2021-09-19 14:27] hrshita-kshyp commented on #844
/ assign

[2021-09-19 14:27] Kalyani02072003 commented on #971
/assign

[2021-09-19 14:27] itsbittoosharma commented on #800
In which directory the file has to be created or in which Section folder in Open Source directory? And also what will be the serial number for .md file in that directory?

[2021-09-19 14:28] am-dusky commented on #960
MEGHA SINGH
Domain-C/C++
Batch 1

[2021-09-19 14:28] Rohit-dubey45 commented on #976
/assign

[2021-09-19 14:30] ruhirani011 commented on #972
/assign

[2021-09-19 14:30] Aarushijain-06 opened #978 "Strings in CPP"
<hr>

## Description 📜

In this document, I will add strings in the Cpp language.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 14:30] Aarushijain-06 commented on #978
/assign

[2021-09-19 14:31] Aarushijain-06 commented on #978
/assign

[2021-09-19 14:32] vishnu95075 opened #979 "C/CPP code run by using CMD"
<hr>

## C/CPP code run by using CMD 📜

<hr>

## C_CPP 📊

- [x] C/CPP

<hr>

[2021-09-19 14:34] pratyaksh1610 commented on #975
Pratyaksh Khurana
C/C++ batch 9

[2021-09-19 14:37] Tashmit commented on #979
/assign

[2021-09-19 14:39] mayankkuthar commented on #657
I would love to work on this, Please Assign me this Issue. :octocat:

[2021-09-19 14:42] vishnu95075 opened #980 "History of C/C++"
<hr>

## History of C/C++📜

<hr>

##C_CPP 📊

- [x] C/CPP

<hr>

[2021-09-19 14:43] Himanshu664 commented on #499
/assign

[2021-09-19 14:44] Himanshu664 commented on #499
"/assign"

[2021-09-19 14:45] 4khadija commented on #980
/assign

[2021-09-19 14:46] vishnu95075 commented on #980
/assign

[2021-09-19 14:46] ruhirani011 commented on #951
/assign

[2021-09-19 14:46] Himanshu664 commented on #499
/assign

[2021-09-19 14:50] subhoshreep opened #981 "CPP:classes and object concept c++ in video form"
<hr>

## Description 📜
It will be a brief video on concepts of classes and objects in an animation form, including some coding insights too for demonstrating the topics.

cpp

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 14:50] subhoshreep commented on #981
/assign

[2021-09-19 14:50] siddhi-244 opened #982 "Opensource: All about girlscript summer of code"
<hr>

## Description 📜

Opensource: All about girlscript summer of code
<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular

[2021-09-19 14:51] siddhi-244 commented on #982
/assign

[2021-09-19 14:51] siddhi-244 commented on #982
/assign

[2021-09-19 14:55] m0hit-kumar commented on #767
i want to contribute

[2021-09-19 14:56] siddhi-244 commented on #404
Please review my pr !

[2021-09-19 15:00] m0hit-kumar commented on #735
name : Mohit Kumar
Approach: What is Regression, evaluating regression, linear regression(in detail), polynomial regression
Type : Documentation

[2021-09-19 15:00] #591 closed

[2021-09-19 15:00] subhoshreep commented on #981
/lm add C/CPP,video

[2021-09-19 15:01] AdityaStark7 opened #984 "A/B Testing_(D)"
<hr>

## Description 📜

A/B Testing Statistics

<hr>

## Domain of Contribution 📊

- [x] Machine Learning

<hr>

[2021-09-19 15:01] AdityaStark7 commented on #984
/assign

[2021-09-19 15:03] ViAsmit commented on #137
@sunny7898 @rithish26 have you both completed the video part?

[2021-09-19 15:04] pspiagicw commented on #875
/assign

[2021-09-19 15:05] m0hit-kumar commented on #576
I want to contribute
Name: Mohit Kumar
Type: documentation

[2021-09-19 15:06] brassgolem-25 opened #986 "Selectors and Pseudo-selectors in CSS"
<hr>

## Description 📜

I'll be adding documentation about selectors and pseudo-selectors in CSS.

## Domain of Contribution 📊

 Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 15:08] pspiagicw commented on #515
/assign

[2021-09-19 15:08] amankumar11 opened #987 "CPP: Introduction to OOPs - Classes & Objects"
<hr>

## Description 📜

Covering classes and objects of programming in Introduction to OOPs. is there a requirement to cover all the 5 sub topics or can i do this single one only?

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 15:09] amankumar11 commented on #987
/assign

[2021-09-19 15:09] brassgolem-25 commented on #986
/assign

[2021-09-19 15:13] RahulRam29 opened #988 "C/CPP: Structures in C"
<hr>

Documentation

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 15:13] Isha307 commented on #984
Add your Batch Numbers, the approach one would follow and choice you prefer (Documentation, Audio, Video) or you can go with all three.
And also add your Name, github profile link.

[2021-09-19 15:13] RahulRam29 commented on #988
/assign

[2021-09-19 15:18] m0hit-kumar commented on #381
I want to contribute to this issue :
Name-Mohit Kumar
Domain-Data Science with Python
Batch-4
Issue Number-381
Contribution Approaches-what is an outlier, how to detect outlier by statistic and data visualization method, and ways to remove them

[2021-09-19 15:18] AdityaStark7 commented on #984
Batch No. 03
Type: Documentation
Approach: Via Developing a Real Model for A/B Testing.

[2021-09-19 15:19] parvatijay2901 opened #990 "C_CPP: Sieve of Eratosthenes"
<hr>

## Description 📜

Sieve of Eratosthenes is a mathematical algorithm with which we can find all the prime numbers upto a given limit. I will first solve the problem and create a document explaining the history regarding it, code approach etc.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

## Contribution type

-[x] Documentation

[2021-09-19 15:19] parvatijay2901 commented on #990
/assign

[2021-09-19 15:21] theshredbox commented on #608
Hey. I'd like to take take this issue for contribution.
Name- Aryan Ahuja
Serial no. 691
Type- Video/Audio and Documentation
Approach- Use python tools to visualize and analyze randomly generated data.
1. Statistics Basics
2. Working with probability distributions in SciPy

[2021-09-19 15:22] smriti2411 opened #991 "Frontend : CSS custom properties"
Description 📜
I want to work on making documentation on CSS custom properties.
Please /assign this to me.

Domain of Contribution 📊

- [ ] Frontend Dev (HTML, CSS, JS)

[2021-09-19 15:22] m0hit-kumar commented on #437
I want to contribute to this issue :
Name-Mohit Kumar
Domain-Data Science with Python
Batch-4
Issue Number-437
Contribution Approaches- how to detect and load images using OpenCV, use it to detect objects from an image

[2021-09-19 15:23] smriti2411 commented on #991
/assign

[2021-09-19 15:23] smriti2411 commented on #991
-[x] Documentation

[2021-09-19 15:24] sunny7898 commented on #137
@ViAsmit  Sorry for the inconvenience, but I wont be able to complete this. I am running linux on my system, and have been trying to rectify the mic input quality from few days. So I request you to reassign it to somebody else.

[2021-09-19 15:25] ViAsmit commented on #137
@sunny7898 Ok No Problem... Have you tried simplescreenrecorder? I am also a linux user.. I usually use this application.

[2021-09-19 15:26] ipsita836 opened #992 "Conversion using stack in C"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 15:26] 95ruchika opened #993 "Stack in parentheses matching in C"
<hr>

## Description 📜

I will explain this topic by documentation with brief code structure

<hr>

## Domain of Contribution 📊

- [x ] C/CPP

<hr>

[2021-09-19 15:27] m0hit-kumar commented on #372
I would like to work on this.
Mohit kumar
Type: Doccumentation
Issue: 386
Approach: what is  Hyperparameter Tuning, how to do Hyperparameter Tuning and find the best parameter for the model

[2021-09-19 15:27] Isha307 commented on #984
Add your github profile link also, it would be better if you can edit your above comments :(

[2021-09-19 15:28] sunny7898 commented on #137
@ViAsmit Actually I use Bluetooth headsets, and the problem is because of the audio profile its been using. I have tried to configure it, but its not working yet.

[2021-09-19 15:29] VandanaKumari18 commented on #992
/assign

[2021-09-19 15:29] ipsita836 commented on #992
/assign

[2021-09-19 15:29] 95ruchika commented on #993
/assign

[2021-09-19 15:30] Himanshu664 commented on #945
/assign

[2021-09-19 15:31] m0hit-kumar commented on #347
I would like to work on this.
Mohit Kumar
Type: Documentation
Issue: 347
Approach:
what is feature selection,
how to analyze datasets for various features,
how features impact the overall performance,
useful features and not important.
how to remove features that are of no use,
how to create useful features from given features

[2021-09-19 15:31] aniketpathak028 opened #994 "JS : JSON"
# JSON
---
JSON in Javascript

# Directory
---
[code]

# Description 📜
---
### Creating a tutorial on JSON in javascript and discussing the following:
- What is JSON?
- Why Use JSON?
- JSON Syntax
- JSON vs XML
- JSON Data Types
- JSON.parse()
- JSON.stringify()

<hr>

# Domain of Contribution 📊
---

- [x] Javascript

<hr>

# Formats
---
- [x] Documentation

[2021-09-19 15:32] aniketpathak028 commented on #994
/assign

[2021-09-19 15:33] sushovanb02 opened #995 "JS: Destructuring, Rest Parameters, and Spread Syntax"
# Destructuring, Rest Parameters, and Spread Syntax
A tutorial on Destructuring, Rest Parameters, and Spread Syntax
# Directory
```Topics/9.Destructuring_Rest_Parameters_And_Spread_Syntax```
## Description 📜

A tutorial on Destructuring, Rest Parameters, and Spread Syntax
- Destructuring
    - Object Destructuring
    - Array Destructuring
- Rest Parameters
- Spread Syntax
    - Spread with Arrays

[2021-09-19 15:34] sushovanb02 commented on #995
/assign

[2021-09-19 15:34] manjeetdhayal opened #996 "MERN_React: 2.3 Basics of React.createElement()"
<hr>

## Description 📜

# Instructions

## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## Why and What is React.createElement()?
Write a brief summary on what is React.createElement()? Why it is used and when to use it? Ple

[2021-09-19 15:35] TanveerSingh09 commented on #991
/assign

[2021-09-19 15:36] Jaya3112 commented on #991
/assign

[2021-09-19 15:38] m0hit-kumar commented on #64
I want to contribute
name :Mohit Kumar
issue: 64
batch : 6
approach :
what is github actions
how to Plan A Custom Action
how to Python Script to train the model
how to Publish action on GitHub

[2021-09-19 15:39] Jaya3112 commented on #974
/assign

[2021-09-19 15:39] AdityaStark7 commented on #984
Name- Aditya Kumar
ML-Batch-3
Type: Documentation
github profile: https://github.com/AdityaStark7

[2021-09-19 15:40] khushipunia21 commented on #975
/assign

[2021-09-19 15:41] TanveerSingh09 commented on #761
/assign

[2021-09-19 15:41] pspiagicw commented on #875
Can somebody guide me , is this regarding the kernel in SVM or kernel as in Jupyter Notebook or Ipython kernel ?

[2021-09-19 15:42] adityabisoi commented on #569
Audio.

[2021-09-19 15:42] m0hit-kumar commented on #611
i want to contribute
Mohit  Kumar
approch:
what is Maximum Likelihood Estimation
what is use of MLE
how to find the MLE

[2021-09-19 15:43] Jaya3112 commented on #968
/assign

[2021-09-19 15:44] girija0707 commented on #486
Thanks a lot for assigning

[2021-09-19 15:44] TanveerSingh09 commented on #761
/assign

[2021-09-19 15:47] TanveerSingh09 commented on #238
I will be glad if I get a chance to work on this issue via documentation, I would request to assign to me.

[2021-09-19 15:47] TanveerSingh09 commented on #238
/assign

[2021-09-19 15:50] Prathyusha-L commented on #350
I would like to do the documentation of NLP and would highlight the importance of NLP

[2021-09-19 15:54] AbhinandanAdhikari opened #999 "JS: Template Strings in JavaScript"
# Template Strings

Describe Template Strings in JavaScript.

# Directory
[code]
# Description
<li> Tell About Template Strings in JavaScript.
<li> Write about String Interpolation.
<li> Write about Tagged Templates.
<li> About Raw Strings.
<li> Examples & Syntax of Each.

# Formats

- [x] Document

[2021-09-19 15:54] AbhinandanAdhikari commented on #999
/assign

[2021-09-19 15:54] khushipunia21 commented on #452
/assign

[2021-09-19 15:55] khushipunia21 commented on #441
/assign

[2021-09-19 15:57] Aaksha-sharma commented on #608
Aaksha Sharma
ML-Batch-3
Profile_Link:- https://github.com/Aaksha-sharma
I want to contribute through documentation

[2021-09-19 15:58] trip0le commented on #297
@anandhu720 Sir, I have finished working on the above issue. Would you please check if whether its alright?

[2021-09-19 15:59] AbhinandanAdhikari commented on #999
@paramsiddharth Sir, I'm working on it for documentation part. Can you please tell whether I've set the directory path correct or not for this issue?

[2021-09-19 16:01] Ayushi2811 commented on #962
/assign

[2021-09-19 16:03] I-ArchanaDash opened #1002 "C/CPP Function & Recursion and it's Types"
<hr>

## Description 📜

This documentation explains Function & Recursion and it's types in C language .
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 16:04] I-ArchanaDash commented on #1002
/assign

[2021-09-19 16:06] Aditi-247 commented on #761
@paramsiddharth sir i have to contribute in documentation part right.  Am i right ?

[2021-09-19 16:07] Aaksha-sharma commented on #984
Aaksha Sharma
Batch No. 03
Type: Documentation
Approach: Via Developing a Real Model for A/B Testing.
github link: https://github.com/Aaksha-sharma

[2021-09-19 16:07] ankushsingh24 opened #1003 "C_CPP : Deque in C++ Standard Template Library (STL)"
<hr>

## Description 📜

This documentation will explain Double ended queue of STL in C++
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 16:08] ankushsingh24 commented on #1003
/assign

[2021-09-19 16:08] RK1905101 commented on #84
Can i take up this this issue?😅

[2021-09-19 16:08] LavleenAgrawal commented on #251
/assign

[2021-09-19 16:08] khushipunia21 commented on #577
@adityabisoi   Sir I am interested to work on this issue.
Name:Khushi Punia
Type: Audio/Documentation
Batch:Python batch-6

[2021-09-19 16:08] #405 closed

[2021-09-19 16:10] sneha2001sinha opened #1004 "C_CPP: File Management/Handling"
<hr>

## Description 📜
`Add description here`

I want to contribute on the following using video:
- File Management/Handling in C
<hr>

`Add type of contrib here`

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 16:10] helper-uttam commented on #213
@paramsiddharth  raised a PR :) please share some of yours feedback

[2021-09-19 16:10] sneha2001sinha commented on #1004
/assign

[2021-09-19 16:11] Sukriti-sood commented on #737
can i take up the issue

[2021-09-19 16:11] Anant1711 commented on #84
Yes, You can!
I'm assigning this to you!

[2021-09-19 16:12] LavleenAgrawal commented on #209
/assign

[2021-09-19 16:13] Anant1711 commented on #737
Great!
I'm assigning this to you!

[2021-09-19 16:13] RK1905101 commented on #84
are both documentation and video available or just any one!?

[2021-09-19 16:13] Aaksha-sharma commented on #767
Aaksha Sharma
DSWP batch 18
I want to contribute through documentation

[2021-09-19 16:14] Aditi-247 opened #1005 "Responsive Design and Media Queries"
Description 📜
I'll be adding documentation about responsive design and Media queries.

Domain of Contribution 📊
Frontend Dev (HTML, CSS, JS)

[2021-09-19 16:15] #1005 closed

[2021-09-19 16:15] Anant1711 commented on #84
Yeah, Both are available!
You can do both or one, it depends on you!

[2021-09-19 16:15] Nikita512 commented on #785
/assign

[2021-09-19 16:16] Nikita512 commented on #785
Please assign me this issue, I want to make video for the issue.
Nikita Agrawal (Batch-1, Cybersecurity)

[2021-09-19 16:17] RK1905101 commented on #84
Oki
Both I'll do it..
just in case...
can I submit the video part by Tuesday!?

[2021-09-19 16:18] Nikita512 commented on #789
@Anant1711 Please assign me this issue, I want to make video for the issue.
Nikita Agrawal (Batch-1, Cybersecurity)

[2021-09-19 16:18] Nikita512 commented on #789
/assign

[2021-09-19 16:18] Anant1711 commented on #785
@Nikita512 Sorry Your previous work is pending! First, submit that one, then I can assign you other!

[2021-09-19 16:19] Aaksha-sharma commented on #466
I want to contribute through audio in this

[2021-09-19 16:19] abee62 opened #1006 "Priority queue"
<hr>

## Priority Queue📜

<!Priority queue and it's implementation.>

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [x] C/CPP
- [x] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular,

[2021-09-19 16:19] abee62 commented on #1006
/assign

[2021-09-19 16:19] 7sakshi7 commented on #761
I am a GWOC'21 contributor from Batch-3 of javascript Please assign this issue to me. I assure you that this issue's title will be the same as my PR's title as well as I will be Contributing under the Guidelines and Code of Conduct.

[2021-09-19 16:21] Aaksha-sharma commented on #348
I want to contribute in this issue

[2021-09-19 16:21] 7sakshi7 commented on #271
I am a GWOC'21 contributor from Batch-3 of javascript Please assign this issue to me. I assure you that this issue's title will be the same as my PR's title as well as I will be Contributing under the Guidelines and Code of Conduct.

[2021-09-19 16:22] Nikita512 commented on #495
/assign

[2021-09-19 16:23] pratishthaa opened #1007 "Flutter : Widgets Documentation"
<hr>

## Description 📜

One is supposed to add documentation on-
1. What are Widgets?
2. Types & examples of widgets and their description.
<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter)

<hr>

[2021-09-19 16:23] Anant1711 commented on #84
yeah yeah sure!

[2021-09-19 16:24] supriya-045 commented on #1007
/assign

[2021-09-19 16:24] Suvraneel commented on #868
@joshi-anita @kashyap1905
The issue author gets preference here :)
Feel free to contribute something else here

[2021-09-19 16:26] Nikita512 commented on #269
/assign

[2021-09-19 16:26] Nikita512 commented on #240
/assign

[2021-09-19 16:26] s4-2 commented on #761
@Aditi-247 I am the mentor of JavaScript front-end, please proceed with the first documentation part after that if you like to contribute in video part too so you can if at that time no one assigned.
Feel free to ask any queries:)

[2021-09-19 16:27] Suvraneel commented on #860
@mohansaitejatalari  @joshi-anita
You can claim only self-made issues or mentor created Open issues

The issue author gets preference here :)
Feel free to contribute something else

[2021-09-19 16:27] Rohit484 commented on #835
/issue

[2021-09-19 16:28] pratishthaa opened #1008 "Flutter : Stateless Widget Documentation"
<hr>

## Description 📜

One is supposed to add documentation on-
1. What are stateless Widgets?
2. Use of Stateless Widgets.
3. Syntax of Stateless Widget.
4. Description of Keywords in the syntax with example.
<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter)

<hr>

[2021-09-19 16:30] siddhi-244 commented on #482
/assign

[2021-09-19 16:32] pratishthaa commented on #1008
@ViAsmit  Can you assign this?

[2021-09-19 16:36] micepram opened #1009 "DS-R: 2.1.DOC Introduction - What is R?"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Introduction" section under the "What is R?" subsection. Please ensure that you document in detail

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** branch only and pus

[2021-09-19 16:38] msramesh2k1 commented on #1008
@ViAsmit I need to work on this issu

[2021-09-19 16:38] Khushipm opened #1010 "HTML Lists"
<hr>

## Description 📜

HTML Lists

I want to take the initiative to explain the lists in HTML using Documentation

[2021-09-19 16:38] msramesh2k1 commented on #1008
/assign

[2021-09-19 16:39] Khushipm commented on #1010
/assign

[2021-09-19 16:39] anandhu720 opened #1013 "Frontend With Framework - React Devtools"
<hr>

## Description 📜

Contributors are required to include a procedure to Install Reat-DevTools, which should cover questions like:-
What is React-DevTools?
Why it is needed?
How to install it?
How to open React-DevTools in the browser? (you can make GIF, which shows how to open this)
etc....

And also mention that we will learn, how to use it further in the upcoming topics.

Also, make sure -
A

[2021-09-19 16:40] sushovanb02 commented on #995
@paramsiddharth sir, created this PR; please check and also kindly remove the Java label from this issue.

[2021-09-19 16:42] 7sakshi7 commented on #228
I would like to work upon it. Kindly assign it to me

[2021-09-19 16:44] 7sakshi7 commented on #214
I am a GWOC'21 contributor from Batch13 of FRONTEND HTML,CSS,JAVASCRIPT Please assign this issue to me. I assure you that this issue's title will be the same as my PR's title as well as I will be Contributing under the Guidelines and Code of Conduct.

[2021-09-19 16:53] ViAsmit opened #1017 "Flutter: Stateful Widget"
<hr>

## Description 📜

One is supposed to add documentation on-
1. What are stateful Widgets?
2. Use of Stateful Widgets.
3. Syntax of Stateful Widget.
4. Description of Keywords in the syntax with example.
<hr>

## Domain of Contribution 📊

- [x] Android Dev (Flutter)

<hr>

[2021-09-19 16:55] jyoti-anjaly opened #1018 "Interview Preparation details"
<hr>

## Description 📜

Hello! I am GWOC'21 Participant and I want to add the folder for Interview Preparation. I will add all the details about how to prepare for the interviews and from where. Can you please assign this issue to me?

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ]

[2021-09-19 16:55] jyoti-anjaly commented on #1018
/assign

[2021-09-19 16:57] naveeramesh commented on #1017
/assign

[2021-09-19 16:58] arcAman07 commented on #1017
Can I also take this issue?

[2021-09-19 16:59] arcAman07 commented on #1008
/assign

[2021-09-19 17:00] arcAman07 commented on #730
/assign

[2021-09-19 17:01] Safwan310 commented on #740
/assign

[2021-09-19 17:01] ajaykathwate commented on #313
I would love to work on this issue.(doc)
pls assign this issue to me

[2021-09-19 17:01] ViAsmit commented on #1008
@arcAman07 .. would you like to work on #137 ?

[2021-09-19 17:03] 4neesc0des commented on #746
/assign

[2021-09-19 17:03] Safwan310 commented on #740
Was this issue created by a mentor or a supervisor? Is it valid?

[2021-09-19 17:04] Mayank-Sh07 commented on #995
I would like to contribute towards this topic, please assign me as well

[2021-09-19 17:05] msbuddhu commented on #152
Hey, I have created a PR for the issue I was assigned. [https://github.com/girlscript/winter-of-contributing/pull/535](https://github.com/girlscript/winter-of-contributing/pull/535). Please have a look @thisisamank

[2021-09-19 17:06] stutibajaj opened #1020 "C_CPP : Operators and Expressions"
<hr>

## Description 📜

I want to contribute on the following using video:
- Operators and Expressions in C

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 17:07] stutibajaj commented on #1020
/assign

[2021-09-19 17:10] ViAsmit commented on #152
@msbuddhu  I have edited your PR.. how to add the issue number in PR. Have a look on that. so that you wont get confused again

[2021-09-19 17:11] Shraddha-Jaggi commented on #1020
I want to contribute to the following using documentation:

Operators and Expressions in C
/assign

[2021-09-19 17:14] veerviren opened #1022 "Traversing in a linked list"
<hr>

## Description 📜

<hr>Hii everyone myself  VIREN VARIYA , i try to explained how to traversing in a linked list in best way with description and sample code too , hope u will like it !!

## Domain of Contribution 📊

- [ x] C/CPP

<hr>

[2021-09-19 17:16] msbuddhu commented on #152
Ok. I have seen. Thanks

[2021-09-19 17:17] sumitmukharjeeeeee commented on #689
I need help, how can I push to Android_Development_With_Kotlin branch.
I have run
1.Git clone
2.git checkout
But no folder of android development kotlin is coming

[2021-09-19 17:17] veerviren commented on #1022
/assign

[2021-09-19 17:20] #352 closed

[2021-09-19 17:21] Sakshi21112003 commented on #767
@prathimacode-hub

[2021-09-19 17:22] ayushmaan02 opened #1024 "C/CPP Install C++ on different OS"
<hr>

## Description 📜
- I will be providing documentation on downloading and setting up C/C++ for different OS.
- Installation of C/C++ for Windows and Mac
- VS code download and set up for C/C++.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 17:23] ayushmaan02 commented on #1024
/assign

[2021-09-19 17:24] arcAman07 commented on #1008
Yeah I would like to work on this issue

[2021-09-19 17:26] Shraddha-Jaggi commented on #934
I want to contribute to the following using video

[2021-09-19 17:27] prathimacode-hub opened #1027 "Data Science with Python : Data Analysis using Scikit Learn"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Data Analysis using Scikit Learn. Tutorial to Data Analysis using Scikit Learn and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one woul

[2021-09-19 17:27] CSAURABH commented on #1013
/assign

[2021-09-19 17:28] #729 closed

[2021-09-19 17:30] ayush02av opened #1029 "FRONTEND: Responsive Design & Media Queries"
<hr>

## Description 📜

How to make a site responsive using CSS.

Topics to be covered: Responsive Design using Media Queries & basic Flex-Box techniques

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

[2021-09-19 17:30] GenMech opened #1030 "Front End: CSS Libraries"
<hr>

## I have a good hold on CSS and want to contribute 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [x] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [

[2021-09-19 17:30] GenMech commented on #1030
/assign

[2021-09-19 17:30] prathimacode-hub opened #1031 "Data Science with Python : Color to Gray Scale Image using Numpy"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Color to Gray Scale Image using Numpy. Tutorial to Color to Gray Scale Image using Numpy and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approac

[2021-09-19 17:31] monika1024 commented on #785
can i contribute in audio

[2021-09-19 17:31] mukeshmjn commented on #532
@CSAURABH any updates on this?

[2021-09-19 17:32] mukeshmjn commented on #534
@monotion25 any updates on this?

[2021-09-19 17:32] ayush02av commented on #1029
I want to work on this issue, please assign it to me.
/assign

[2021-09-19 17:32] mukeshmjn commented on #641
@CSAURABH any updates on this?

[2021-09-19 17:32] mukeshmjn commented on #750
@RIYANSHGARG any updates on this?

[2021-09-19 17:33] preestine commented on #1027
Hello!
I would like to work on this issue in the form of documentation. I would begin with a brief introduction and and eventually progress by performing analysis using the scikit-learn library on the dataset which I obtained from Kaggle.
Name: Preeti Chaudhari
Batch: 8
Sr.No.: 268

[2021-09-19 17:33] GenMech commented on #1030
@praveenscience

[2021-09-19 17:33] Niranjan5601 commented on #152
Ill add probs for loop statements and format the document to look clean and uniform.

[2021-09-19 17:34] prathimacode-hub opened #1034 "Data Science with Python : Principal Component Analysis"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Principal Component Analysis. Tutorial to Principal Component Analysis and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follo

[2021-09-19 17:35] Ash-KODES commented on #324
mentor,please review my code:)

[2021-09-19 17:36] CSAURABH commented on #1013
@anandhu720 can I work on this issue (Documentation)

[2021-09-19 17:36] RIYANSHGARG commented on #750
I am working on this and till morning I will create a pull request

[2021-09-19 17:36] #143 closed

[2021-09-19 17:37] prathimacode-hub opened #1036 "Data Science with Python : Item Based Filtering System"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Item Based Filtering System. Tutorial to Item Based Filtering System and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow

[2021-09-19 17:39] Vishaka830 commented on #1027
/assign

[2021-09-19 17:40] Pooja-Goyal-1 commented on #683
I would like to work on this issue

[2021-09-19 17:41] prathimacode-hub opened #1038 "Data Science with Python : Random Forest Algorithm"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Random Forest Algorithm. Tutorial to Random Forest Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choi

[2021-09-19 17:41] baibhav0305 commented on #1029
I'm  interested in this issue , kindly assign me.
/assign

[2021-09-19 17:42] uttarabahad commented on #431
@aishanii @Yash621 Hello mentors, I am Uttara Bahad. I have started working on the issue and would like to update about my progress- I have completed with the main definition of Bayesian Regression and the main mathematical formula involved. Started with a sample code application as well! I also plan to cover the advantages of Bayesian Regression.
Please suggest if you would like me to add anythin

[2021-09-19 17:43] sumitmukharjeeeeee commented on #34
Assign me again please I want to start over

[2021-09-19 17:44] Ash-KODES commented on #324
sir,please assign me some new issue!

[2021-09-19 17:45] Pooja-Goyal-1 commented on #691
I would like to work on this issue. Please assign me

[2021-09-19 17:46] keshav12122000 opened #1039 "Stack(finding the next greater element)"
<hr>

## Description 📜
Next greater element

to find the next greater element using stack
<hr>

## Domain of Contribution 📊

- [x ] C/CPP

-

<hr>

[2021-09-19 17:47] keshav12122000 commented on #1039
/assign

[2021-09-19 17:49] msbuddhu commented on #152
@ViAsmit Why I have been unassigned?

[2021-09-19 17:49] afridihannan commented on #1013
/assign

[2021-09-19 17:49] Safwan310 commented on #1013
/assign

[2021-09-19 17:51] ViAsmit commented on #152
@msbuddhu actually I was removing who have completed thier contribution...so that I can take a record who are still left...

[2021-09-19 17:51] #1039 closed

[2021-09-19 17:51] Anindyadeep commented on #609
Name: Anindyadeep Sannigrahi
Batch: 1
Github Profile : https://github.com/Anindyadeep
Contribution type : Documentation

[2021-09-19 17:52] paras-saxena11 commented on #1030
hey i want to contribute ?
what to do please assign

[2021-09-19 17:52] msbuddhu commented on #152
Ok. No problem then.

[2021-09-19 17:53] Anindyadeep commented on #586
Name: Anindyadeep Sannigrahi
Batch: 1
Github Profile : https://github.com/Anindyadeep
Contribution type : Documentation

[2021-09-19 17:53] DeepCoomer commented on #252
/assign

[2021-09-19 17:53] krupesh87 commented on #252
/assign

[2021-09-19 17:54] Vishaka830 commented on #1034
### Vishaka Saxena
**Serial No**: 901
**Batch:** 3
**Issue Number**:1034
**Type:** Documentation
**Approach:**

- Definition,
- Objectives,
- Uses
-  and its methods
Please assign this issue to me @prathimacode-hub
###

[2021-09-19 17:54] paras-saxena11 commented on #1013
i want to contribute plz assign me work

[2021-09-19 17:54] keshav12122000 opened #1043 "nearest greater to right"
<hr>

## Description 📜
Next greater element documentation and code

to find the next greater element using stack
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 17:55] msbuddhu commented on #152
I have mentioned @thisisamank in the comments above. Now what to do @ViAsmit ?

[2021-09-19 17:55] Kanishk0412 opened #1044 "Installing Python3 based on your OS"
<hr>

## Description 📜

In the form of documentation, I'll describe how to install python3 in all operating systems, including Windows, Linux, and Mac.

<hr>

## Domain of Contribution 📊

- [ x] Python

<hr>

[2021-09-19 17:55] Safwan310 commented on #1013
The bot is not working huh :(

[2021-09-19 17:55] keshav12122000 commented on #1043
/assign

[2021-09-19 17:56] #1044 closed

[2021-09-19 17:56] Safwan310 commented on #1013
/assign

[2021-09-19 17:57] tjanhvi commented on #1031
/assign

[2021-09-19 17:57] prathimacode-hub commented on #1034
Sorry @Vishaka830, I had created a thread for all the contirbutors in discord who haven't been assigned to any issue to come up with their very own issue as it's their first contribution. So you can put up a message in a thread created with your name, issue topic and your github profile. So that I could consider and create an issue accordingly. @Vishaka830

[2021-09-19 17:57] Shubhrajyoti24 opened #1045 "C/CPP - Programming components, structures and keywords"
<hr>

## Description 📜

I'll provide the documentation for C programming components, structure and keywords

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 17:58] Pravenn18 commented on #1002
Hey! i was not able to push my code change,it is showing permission denied

[2021-09-19 17:58] Shubhrajyoti24 commented on #1045
/assign

[2021-09-19 17:59] Pravenn18 opened #1047 "Add Strings in C_CPP"
<hr>

## Description 📜
Add string section in C_CPP and write the codes of for string in cpp

<hr>

## Domain of Contribution 📊

- [x] C/CPP
- [ ] Competitive Programming

<hr>

[2021-09-19 18:00] ruhirani011 opened #1048 "Frontend : HTML Text Formatting"
<hr>

## Description 📜
 I want to add documentation on HTML Text Formatting with it's code and output.
 Please /assign it to me

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 18:00] Pravenn18 commented on #1047
/assign

[2021-09-19 18:00] Shashankkrj commented on #1031
@prathimacode-hub ,I want to work on this issue.
Name:- Shashank
Type : Documentation
Sr. No: 968
Approach:-
1)A little Introduction about numpy and matplotlib.
2)Explain Different functions and modules of numpy used for this issue.
3)Write code for a better explanation.

[2021-09-19 18:00] runwalakshat5 commented on #1036
@prathimacode-hub
I would like to contribute to this issue.
Name: Akshat Runwal
Serial number: 443
Type: Documentation
Approach: The document will include the concept of Item Based Filtering in Data Science and then the explanation of the same with the help of an example(i.e. Recommendation System)

[2021-09-19 18:01] ruhirani011 commented on #1048
/assign

[2021-09-19 18:01] tjanhvi commented on #1048
/assign

[2021-09-19 18:01] ViAsmit commented on #152
@msbuddhu I think you already mention aman... He will review it...

[2021-09-19 18:01] tjanhvi commented on #1030
/assign

[2021-09-19 18:02] EkjotKaur opened #1049 "MERN_NodeJs 1.1 What is NodeJs ?"
# Instructions

## Project directory
`Branch MERN>Web_Development/MERN/Topic/Backend/Node/`

Please read the contributing guidelines to get started

## What is React?

Write a brief summary on what is React? Please refrain from coping from internet. You can use any source as inspiration.

<hr>

## Task

- [ ]  Audio
- [ ]  Documentation
- [ ]  Video

## Send a PR in the following branch only and m

[2021-09-19 18:02] #324 closed

[2021-09-19 18:02] Safwan310 commented on #1049
/assign

[2021-09-19 18:02] pilipi-puu-puu commented on #972
/assign

[2021-09-19 18:03] ruhirani011 commented on #1048
/assign

[2021-09-19 18:04] Safwan310 commented on #1049
Uhm is this issue about Node Js or React? @EkjotKaur

[2021-09-19 18:04] msbuddhu commented on #152
Ok :)

[2021-09-19 18:05] EkjotKaur commented on #1049
Node

[2021-09-19 18:05] Shraddha-Jaggi commented on #934
/assign

[2021-09-19 18:06] yogeshkumar-1234 opened #1050 "C_CPP: SETS IN C++ STL"
<hr>

## Description 📜

    This documentation will explain all about sets,unordered_sets and multisets in STL

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 18:06] Shraddha-Jaggi commented on #1020
/assign

[2021-09-19 18:06] sumitmukharjeeeeee commented on #1048
Assign Me

[2021-09-19 18:06] yogeshkumar-1234 commented on #1050
/assign

[2021-09-19 18:07] sumitmukharjeeeeee commented on #1050
Assign Me

[2021-09-19 18:07] yogeshkumar-1234 commented on #1050
Please assign this issue to me

[2021-09-19 18:07] EkjotKaur commented on #1049
@Safwan310 Complete it in 2 days

[2021-09-19 18:08] girija0707 opened #1051 "Introduction to OOPs"
<hr>

## Description 📜

Explaining polymorphism in c++  via documentation format
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 18:08] Safwan310 commented on #1049
Can you please edit the instructions to match Node js? Would be helpful if the topics to covered is also included, like if I need a sample code or just the explanation.

[2021-09-19 18:08] sumitmukharjeeeeee commented on #1051
Assing me

[2021-09-19 18:08] Safwan310 commented on #1049
Ya sure

[2021-09-19 18:08] reeyah commented on #962
/assign

[2021-09-19 18:08] girija0707 commented on #1051
/assign

[2021-09-19 18:10] khushipunia21 commented on #564
@adityabisoi  I am interested to work on this issue.
Name:Khushi Punia
Type: Audio/Video
Batch: Python batch 6

[2021-09-19 18:11] #320 closed

[2021-09-19 18:12] #1009 closed

[2021-09-19 18:13] khushipunia21 commented on #713
@adityabisoi I am interested to work on this issue.
Name: Khushi Punia
batch: python 6
Type: Audio/Video

[2021-09-19 18:13] micepram opened #1053 "DS-R: 2.1.DOC Introduction - What is R?"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Introduction" section under the "What is R?" subsection. Please ensure that you document in detail

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** branch only and pus

[2021-09-19 18:13] likitarai1 commented on #1049
Can I work on the video part?

[2021-09-19 18:14] EkjotKaur commented on #1049
You can include topics like definition, why to choose Node and other uses. You can explore more topics that explain Node at the basic level

[2021-09-19 18:14] EkjotKaur commented on #1049
Sure

[2021-09-19 18:15] reeyah commented on #982
/assign

[2021-09-19 18:15] sumitmukharjeeeeee commented on #1053
Assign Me

[2021-09-19 18:15] Aryamanz29 commented on #982
Duplicate #293

[2021-09-19 18:15] #982 closed

[2021-09-19 18:16] priyanka001tech commented on #207
/assign

[2021-09-19 18:17] pilipi-puu-puu opened #1054 "DSA_in_C"
<hr>

## Description 📜
There will be multiple problems on DSA using C, explaining via documentation.

<hr>

## Domain of Contribution 📊

- [x] C
- [x] Competitive Programming
- [x] DSA

<hr>

[2021-09-19 18:18] micepram commented on #142
Hey @kunal-kumar-chaudhary this issue will be closed and replaced with 3 separate ones for 1.1, 1.2, 1.3. Kindly assign yourself to one of those and keep working :)

[2021-09-19 18:18] #142 closed

[2021-09-19 18:18] Shubhrajyoti24 commented on #1045
/assign

[2021-09-19 18:19] helper-uttam commented on #207
I also wanna work with the documentation part

[2021-09-19 18:19] reeyah commented on #1029
I wish to work on this issue. Please assign it to me. Thank you.
/assign

[2021-09-19 18:20] reeyah commented on #1029
/assign

[2021-09-19 18:20] pilipi-puu-puu commented on #1054
/assign

[2021-09-19 18:21] sumitmukharjeeeeee commented on #689
Please have a look

[2021-09-19 18:21] VandanaKumari18 commented on #1045
/assign

[2021-09-19 18:21] SakshiSharma2002 opened #1055 "Frontend : HTML Lists"
### **HTML Lists**

  - Creating HTML Lists  and styling it using CSS
<hr>

## Description
I would like to make a Documentation on HTML Lists with code snippets and all the information related to Lists, which will cover these points :

- Types of Lists in HTML
- Syntax for different types of Lists
- Attributes used in Lists
- Styling lists in CSS
- Creating Nav Bar using Lists

<hr>

## Domain of

[2021-09-19 18:21] SakshiSharma2002 commented on #1055
/assign

[2021-09-19 18:21] reeyah commented on #1048
/assign

[2021-09-19 18:22] sumitmukharjeeeeee commented on #1055
You don't have to make issue on your own Supervisor and Mentors will be doing that

[2021-09-19 18:22] priyanka001tech opened #1056 "CSS Animations in Documentation"
<hr>

## Description 📜

Different kind of animations in css
Different technique to do animations of different kind using Examples

<hr>

## Domain of Contribution 📊

- [X] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 18:22] micepram commented on #139
Hey @deepthi1107, we are going to be limiting issues to one person only due to logistics. Each Top (1.1, 1.2, etc.) will have 3 issues for 1 for Documentation, 1 for Audio, 1 for Video and hence will only have one person assigned. I'll be removing you from this assignment and request you to choose another issue. There will be plenty coming in soon. Thank you :)

[2021-09-19 18:23] micepram commented on #141
Hey @deepthi1107, we are going to be limiting issues to one person only due to logistics. Each Top (1.1, 1.2, etc.) will have 3 issues for 1 for Documentation, 1 for Audio, 1 for Video and hence will only have one person assigned. I'll be removing you from this assignment and request you to choose another issue. There will be plenty coming in soon. Thank you :)

[2021-09-19 18:23] sumitmukharjeeeeee commented on #1056
Assign Me

[2021-09-19 18:24] priyanka001tech commented on #1056
/assign

[2021-09-19 18:24] SakshiSharma2002 commented on #1055
I would like to work on this issue, please assign it to me!!
Name - Sakshi Sharma
Batch No. - 10 (Frontend with HTML, CSS, JS)

[2021-09-19 18:26] VandanaKumari18 commented on #1024
/assign

i will provide a detailed information about the different platform where we can code in C++/C .
i will make a step by step explaination of VS code installation.
i will provide several links for installation helps.
images will also be attached with the details.
installation on mac os will also be explained.

[2021-09-19 18:27] reeyah opened #1057 "Frontend: The CSS Box Model"
<hr>

## Description 📜

Explain the CSS Box model.

<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 18:27] micepram opened #1058 "DS-R: 1.1.AUD History of R Language"
<hr>

## Description 📜

In this issue, you need to work on the audio efforts in the "History" section under the "History of R language" subsection. Please ensure that you make an audio file going over this topic.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README with a link to the audio file going over the subtopic.
* Changes should be ma

[2021-09-19 18:27] ruhirani011 commented on #1048
/assign

[2021-09-19 18:28] reeyah commented on #1057
/assign

[2021-09-19 18:28] #649 closed

[2021-09-19 18:29] angle361 commented on #1050
Please assign this issue to me.

[2021-09-19 18:29] #1058 closed

[2021-09-19 18:30] #315 closed

[2021-09-19 18:32] SakshiSharma2002 commented on #1055
@code-reaper08 Please assign this issue to me.

[2021-09-19 18:33] sinu-02 opened #1059 "Stock Span Problem Documentation"
<hr>

## Description 📜

Stock Span Problem Documentation using stack

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 18:34] g-animesh02 opened #1060 "Android-Java : 3.2 Spinners in Java"
1. Introduction to spinners.
2. XML and Java files(Example Project) for spinners
3. Material Design for spinners

[2021-09-19 18:34] sinu-02 commented on #1059
/assign

[2021-09-19 18:34] VandanaKumari18 commented on #1059
/assign

[2021-09-19 18:34] g-animesh02 commented on #1060
/assign

[2021-09-19 18:34] #802 closed

[2021-09-19 18:34] gsk-007 commented on #1057
I am interested in workin on this issue. Batch 6 frontend.

[2021-09-19 18:35] RC2208 opened #1061 "FrontEnd : CSS : Transition and transformation (D)"
<hr>

## Description 📜

Documentation on Transitions and transformations used in CSS
<hr>

## Domain of Contribution 📊

- [x] Frontend Dev (HTML, CSS, JS)

<hr>

[2021-09-19 18:35] RC2208 commented on #1061
Ritika Chand
Batch 1
Frontend Dev (HTML, CSS, JS)
/assign

[2021-09-19 18:35] Aryamanz29 commented on #293
Create PR to `girlscript  : Opensource ` branch not `main` @Ravinayak07

[2021-09-19 18:36] RC2208 commented on #1061
/assign

[2021-09-19 18:36] g-animesh02 commented on #1060
/assign

[2021-09-19 18:37] afridihannan commented on #1050
/assign

[2021-09-19 18:37] afridihannan commented on #1047
/assign

[2021-09-19 18:37] AdityaStark7 commented on #1038
/assign

[2021-09-19 18:37] tjanhvi commented on #1048
/assign

[2021-09-19 18:38] afridihannan commented on #1043
/assign

[2021-09-19 18:38] g-animesh02 commented on #1060
Mentor/Supervisor can you please assign me this issue.
Name - Animesh Gupta
batch - 8

[2021-09-19 18:38] tjanhvi commented on #1055
/assign

[2021-09-19 18:39] Jaya3112 commented on #1013
/assign

[2021-09-19 18:40] sumitmukharjeeeeee commented on #1013
/assign

[2021-09-19 18:40] tjanhvi commented on #1055
Please assign me this issue

[2021-09-19 18:41] tjanhvi commented on #1048
Please assign me this issue @ruhirani011

[2021-09-19 18:41] Jaya3112 commented on #1048
/assign

[2021-09-19 18:41] micepram opened #1063 "DS-R: 2.2.DOC Intoduction - Downloading & Installing Rstudio"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Introduction" section under the "Downloading & Installing Rstudio" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_

[2021-09-19 18:42] tjanhvi commented on #1048
please assign me this issue@code-reaper08

[2021-09-19 18:43] harshsri28 commented on #1054
Don't create issues by your own ,as these issues not going to count.

[2021-09-19 18:43] AdityaStark7 commented on #1038
Hey !
Can I work on this issue.
Batch: 03
github link: https://github.com/AdityaStark7

[2021-09-19 18:43] tjanhvi commented on #1048
I would like to work on this issue

[2021-09-19 18:44] #22 closed

[2021-09-19 18:45] micepram opened #1064 "DS-R: 2.3.DOC Introduction - Using Rstudio"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Introduction" section under the "Using Rstudio" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** branch only and

[2021-09-19 18:45] a-rcane commented on #1043
/assign

[2021-09-19 18:46] g-animesh02 commented on #1060
/assign

[2021-09-19 18:52] micepram opened #1066 "DS-R: 2.4.DOC Introduction - Basic Math Commands"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Introduction" section under the "Basic Math Commands" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** branch on

[2021-09-19 18:52] tjanhvi opened #1067 "Data Science with Python : Image to Pencil Sketch Image using Python"
<hr>

## Description 📜

Basically, Firstly read the image in RBG format and then convert it to a grayscale image. This will turn an image into a classic black and white photo. Then the next thing to do is invert the grayscale image also called negative image, this will be our inverted grayscale image. Inversion can be used to enhance details. Then we can finally create the pencil sketch by mixing

[2021-09-19 18:52] Aryamanz29 commented on #300
@RaghavvGupta  Almost Done ;) 😂 ??? Any updates on this

[2021-09-19 18:52] tjanhvi commented on #1067
/assign

[2021-09-19 18:53] Aryamanz29 commented on #318
@Soumili1818  Any updates ???

[2021-09-19 18:53] tjanhvi commented on #1067
Please assign me this issue.

[2021-09-19 18:53] rishabh2030 commented on #1048
please assign me this issue i will work on it and Definitely make it amazing

[2021-09-19 18:53] Aryamanz29 commented on #319
@Soumili1818  Any updates on this ??

[2021-09-19 18:54] rishabh2030 commented on #1061
please assign me this issue i will work on it and Definitely make it amazing

[2021-09-19 18:54] Aryamanz29 commented on #400
Join discord voice channel

[2021-09-19 18:54] rishabh2030 commented on #1055
please assign me this issue i will work on it and Definitely make it amazing

[2021-09-19 18:54] rishabh2030 commented on #1030
please assign me this issue i will work on it and Definitely make it amazing

[2021-09-19 18:55] GenMech commented on #1030
@code-reaper08 I have created this issue but github bot not assigning me can you pls assign it to me

[2021-09-19 18:55] VandanaKumari18 opened #1068 "VS Code vs Turbo C"
<hr>

## Advantage and Disadvatage of Turbo C and VS Code And which one will more preferable.what will be choosen between Turbo C and VS code and why ? everything about features.
📜

- [x] C/CPP

<hr>

[2021-09-19 18:55] VandanaKumari18 commented on #1068
/assign

[2021-09-19 18:55] Aryamanz29 commented on #671
@4khadija  Sure,Happy Learning 🎉🎉

[2021-09-19 18:56] Aryamanz29 commented on #672
@Kalyani02072003 Assigned, Happy Learning 🎉🎉

[2021-09-19 18:57] Aryamanz29 commented on #657
@mayankkuthar  Go ahead, Happy Learning 🎉🎉

[2021-09-19 18:58] rishabh2030 commented on #1061
/assign

[2021-09-19 18:58] VandanaKumari18 commented on #1068
i would like to work on this issue created by me . each and everything that a person should know before starting with C/CPP will be explained in this . for freshers as well as intermediates. freshers must have a knowledge of this thing to get started with the domain.

[2021-09-19 18:58] Kalyani02072003 commented on #672
@Aryamanz29 thank you for assigning me, if I run into problems how can I contact you?
my discord username is - STRAWHAT_LUFFY#8651

[2021-09-19 18:59] rishabh2030 commented on #1030
/assign

[2021-09-19 19:02] Aryamanz29 commented on #1068
@VandanaKumari18  Don't add the wrong labels
Thanks

[2021-09-19 19:03] rishabh2030 commented on #1057
/assign

[2021-09-19 19:03] medhatiwari commented on #170
@Anant1711 Please review the PR

[2021-09-19 19:03] ruhirani011 commented on #1048
/assign

[2021-09-19 19:03] SB2318 opened #1071 "Android-Java 3.3: EventListener in Android"
<hr>

## Description 📜
* A small description of the EventListener interface
* Basic event listener and their properties, how can we use them
* EventListener corresponding to a particular View
I hope this issue is helpful for a beginner, who want to  work on their project

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Java)
- [x] Open Source

<hr>

[2021-09-19 19:03] micepram opened #1072 "DS-R: 2.5.DOC Introduction - Basic Syntax"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Introduction" section under the "Basic Syntax" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** branch only and

[2021-09-19 19:03] Soumili1818 commented on #319
Yes im working on rhe project, thank you for your concern.

[2021-09-19 19:03] SB2318 commented on #1071
I want to work  on this issue

[2021-09-19 19:03] rishabh2030 commented on #529
/assign

[2021-09-19 19:04] Soumili1818 commented on #318
Hello sir, since I already have 2 issues under me, kindly assign this one to the one in need, thanks a lot.

[2021-09-19 19:04] rishabh2030 commented on #529
please assign me this issue i will work on it and Definitely make it amazing

[2021-09-19 19:05] VandanaKumari18 commented on #1068
okay sir .
should i start working on this issue ? or you will assign this to me first then i should start ?

[2021-09-19 19:06] rishabh2030 commented on #499
please assign me this issue i will work on it and Definitely make it amazing

[2021-09-19 19:07] micepram opened #1073 "DS-R: 3.1.DOC Data & Packages - Introducing Data"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Data & Packages" section under the "Introducing Data" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** branch on

[2021-09-19 19:09] rishabh2030 commented on #252
please assign me this issue i will work on it and Definitely make it amazing

[2021-09-19 19:09] micepram opened #1074 "DS-R: 3.2.DOC Data & Packages - Generating Data"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Data & Packages" section under the "Generating Data" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** branch onl

[2021-09-19 19:10] micepram opened #1075 "DS-R: 3.3.DOC Data & Packages - Importing & Exporting Data"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Data & Packages" section under the "Importing & Exporting Data" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R**

[2021-09-19 19:12] kunal-kumar-chaudhary commented on #31
I've created the pull request now with the proper hierarchical check.

[2021-09-19 19:13] micepram opened #1076 "DS-R: 3.4.DOC Data & Packages - What are Packages?"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Data & Packages" section under the "What are Packages?" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** branch

[2021-09-19 19:14] reeyah commented on #1048
Duplicate #1023

[2021-09-19 19:17] madhu992 commented on #93
I want to contribute to this issue.[UI/UX Batch-14]

[2021-09-19 19:20] micepram opened #1079 "DS-R: 3.5.DOC Data & Packages - Adding & Checking Packages"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Data & Packages" section under the "Adding & Checking Packages" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R**

[2021-09-19 19:21] micepram opened #1080 "DS-R: 3.6.DOC Data & Packages - Using Common Packages"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "Data & Packages" section under the "Using Common Packages" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** bran

[2021-09-19 19:28] Kanishk0412 commented on #1045
I have already Assign this issue.

[2021-09-19 19:29] Kanishk0412 commented on #1024
I have already Create an issue sorry.

[2021-09-19 19:31] Aryan-Mohanty commented on #1013
/assign

[2021-09-19 19:32] Aryan-Mohanty commented on #1048
/assign

[2021-09-19 19:35] pilipi-puu-puu commented on #1054
Ok, thank you for informing.

[2021-09-19 19:35] Aryan-Mohanty commented on #1048
can I work on this issue ?

[2021-09-19 19:37] kashyap1905 opened #1084 "Pointers and One dimensional Arrays in C"
<hr>

## Description 📜

This issue is related to the description of relationship between Pointers and One dimensional array. This concept is helpful while working with functions that takes one dimensional array as an argument.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-19 19:37] kashyap1905 commented on #1084
/assign

[2021-09-19 19:38] aaryan078 commented on #1067
can you please assign me this issue

[2021-09-19 19:38] anamhayat commented on #767
name- anam hayat
serial no - 936
batch no -21
type- documentation

[2021-09-19 19:39] kashyap1905 commented on #1084
/assign

[2021-09-19 19:40] Aryan-Mohanty commented on #441
/assign

[2021-09-19 19:40] Aryan-Mohanty commented on #441
Can I work on this issue ?

[2021-09-19 19:41] ayushmaan02 commented on #1024
Regarding the same topic?

[2021-09-19 19:42] Kanishk0412 commented on #926
This is my issue !!

[2021-09-19 19:51] khushipunia21 commented on #441
@nimisha-yadav I am interested to work on this issue.
Name: Khushi Punia
Type: Documentation

[2021-09-19 20:09] chaudharydivya199 commented on #999
Please assign this issue to me

[2021-09-19 20:13] PhantomANaz opened #1087 "Python: What is Automation?"
<hr>

## Description 📜

Automation is the most fun topic of Python. Like, take, for example, you've to check your Facebook messages, or checking the speed of your CPU regularly, or in my case, checking the email every two hours which for me is quite boring. But if I write a particular code and ask it to implement in every two hours, then EUREKA!!! That's what automation is, to make a process to op

[2021-09-19 20:13] PhantomANaz commented on #1087
/assign

[2021-09-19 20:16] Praannjaal commented on #586
Name :Pranjal Mittal
Batch: 6
Github Profile: [https://github.com/Praannjaal](url)
Contribution Type: Documentation

[2021-09-19 20:19] Praannjaal commented on #1087
Name : Pranjal Mittal
I would like to be assigned this issue

[2021-09-19 20:21] Praannjaal commented on #1038
Hey
Can I work on this issue
Batch: 6
Name: Pranjal Mittal
Github Link: [https://github.com/Praannjaal](url)
Contribution Type: Documentation

[2021-09-19 20:21] chaudharydivya199 opened #1088 "Frontent Framework : React Overview"
<hr>

## Description 📜

<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [ ] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, Angular, Vue)
- [ ] Golang
- [ ] Interview Prep
- [ ] J

[2021-09-19 20:22] #1088 closed

[2021-09-19 20:23] Praannjaal commented on #732
I would like to be assigned this issue.
Name: Pranjal Mittal
Batch: 19
Github: [https://github.com/Praannjaal](url)
Contribution type: Documentation

[2021-09-19 20:25] chaudharydivya199 commented on #1048
Please /assign it to me

[2021-09-19 20:26] Praannjaal commented on #713
@adityabisoi I would like to work on this issue
Name: Pranjal mittal
Batch:3
github: [https://github.com/Praannjaal](url)
Type: Documentation

[2021-09-19 20:26] chaudharydivya199 commented on #1029
please assign it to me.
/assign

[2021-09-19 20:35] Ash-KODES commented on #1087
/assign

[2021-09-19 20:35] eshan1925 commented on #797
Hey @Aryamanz29 and @Muskan-creator  I have created yhe pull request now in the OpenSource branch. Please merge if there is no problem in the documentation.

[2021-09-19 20:36] Ash-KODES commented on #1087
batch 5 python

[2021-09-19 20:37] Ash-KODES commented on #1084
/assign

[2021-09-19 20:55] Jaya3112 opened #1091 "Frontend : HTML links"
<hr>

## Description 📜

 Explain all about the HTML links
<hr>

## Domain of Contribution 📊

- [ Frontend Dev (HTML, CSS, JS) ]

<hr>

[2021-09-19 20:56] Jaya3112 commented on #1091
/assign

[2021-09-19 21:05] Harshil-Jani opened #1092 "OpenSource : 6.5 Android in Open Source"
<hr>

## Description 📜

Android is on nearly 3 billion devices. So, This Issue will contains points regarding Impact of Android in Open Source.
Points planned to cover :
- Breif about Android history and Linux Kernal
- About AOSP (Android Open Source Project)
- License and Legalization on Android Souce code.
- Role of Google for Android
- How you can contribute?

<hr>

## Domain of Contribution 📊

[2021-09-19 21:05] v-rohan opened #1093 "MERN_React: 3.1 Class and Functional Components and their lifecycles"
# Instructions
## Project directory
    Branch MERN>MERN/Topic/Frontend/React/

Please read the [contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/MERN/Web_Development/MERN/Contributing.md) to get started

## What are components?

-  What are class components, and their properties?
-  What are functional components, and their advantages over class based components?

[2021-09-19 22:06] KhushiBhambri commented on #1050
/assign

[2021-09-19 22:08] KhushiBhambri commented on #1003
/assign

[2021-09-19 22:40] RitabrataDas343 commented on #1091
/assign

[2021-09-19 22:42] RitabrataDas343 commented on #1010
/assign

[2021-09-19 23:12] 0xLuC4r10 opened #1095 "Competitive_Programming: Sorting in Arrays"
<hr>

## Description 📜

Need a documentation on sorting algorithms in arrays.
<hr>

## Domain of Contribution 📊

- [ ] Android Dev (Flutter, Java, Kotlin)
- [ ] Backend Dev (Java, .NET, Python)
- [ ] C/CPP
- [x] Competitive Programming
- [ ] Cyber Security
- [ ] DSA
- [ ] Database
- [ ] Datascience with Python
- [ ] Datascience with R
- [ ] Frontend Dev (HTML, CSS, JS)
- [ ] Frontend Dev (React, A

[2021-09-19 23:12] RitabrataDas343 commented on #1095
/assign

[2021-09-19 23:22] RitabrataDas343 commented on #1095
Mentors/Supervisors can I get the issue?

[2021-09-19 23:23] RitabrataDas343 commented on #1091
@Mentors/Supervisors, can I get the issue?

[2021-09-19 23:50] shreya024 commented on #1051
assign

[2021-09-20 00:26] nakshatra-garg opened #1096 "Python: Web scraping"
<hr>
@adityabisoi @prathimacode-hub

## Description 📜

Web scraping is the process of using bots to extract content and data from a website.

To extract data using web scraping with python, the following steps are done:
- Find the URL that you want to scrape
- Inspecting the Page
- Find the data you want to extract
- Write the code
- Run the code and extract the data
- Store the data in the requir

[2021-09-20 00:26] nakshatra-garg commented on #1096
/assign

[2021-09-20 00:28] nakshatra-garg commented on #1096
/assign #1096

[2021-09-20 00:30] nakshatra-garg commented on #1096
/assign

[2021-09-20 00:35] nakshatra-garg commented on #608
/assign

[2021-09-20 00:39] nakshatra-garg opened #1097 "2.1. What is Learning? Why Machine Learning works?"
<hr>
@abhisheks008

## Description 📜

Explain What is Learning?
Why Machine Learning works?

<hr>

## Domain of Contribution 📊
- [x] Machine Learning
<hr>

[2021-09-20 00:40] nakshatra-garg commented on #1097
/assign

[2021-09-20 00:48] #888 closed

[2021-09-20 00:55] KartikChinda opened #1098 "Break/Continue keywords in C/CPP"
<hr>

## Description 📜

Creating documentation and code for explaining the use of the break and the continue keyword in C.

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 00:55] KartikChinda commented on #1098
/assign

[2021-09-20 00:55] KartikChinda commented on #1098
/assign

[2021-09-20 01:45] cybot-des commented on #1096
I would like to work on this issue (documentation part along with code sample)
Name: Pooja Deshpande
Python Batch 1

[2021-09-20 02:00] hrshita-kshyp commented on #1055
I m interested can I work on  this?
/assign

[2021-09-20 02:03] cenacrharsh commented on #782
/assign

[2021-09-20 02:09] hrshita-kshyp commented on #935
/assign

[2021-09-20 02:12] ankitjha2711 commented on #148
![image](https://user-images.githubusercontent.com/76564889/133951368-09c52aec-34e9-4b3a-ad24-87249a38595b.png)

[2021-09-20 02:13] ankitjha2711 commented on #148
Sir it is showing me like this

[2021-09-20 02:14] aswinikalyan30 commented on #1034
Aswini Kalyan

Serial No: 406
Batch: 11
Issue Number:1034
Type: Documentation
Github Profile: @aswinikalyan30
Approach:

-Definition,
-Objectives,
-Use cases and implementation

[2021-09-20 02:32] dhruti29 commented on #1096
I would like to work on this issue (documentation part)
Name: Dhruti Gandhi
Python Batch 1

[2021-09-20 02:41] ruhirani011 commented on #1091
/assign

[2021-09-20 02:43] shreya024 commented on #1098
Can i Do this?

[2021-09-20 02:44] ruhirani011 commented on #1048
/assign

[2021-09-20 02:46] radha919 commented on #1098
/assign

[2021-09-20 02:53] ruhirani011 commented on #1048
I would like to work on this issue sir, please assign it to me!!
Name - Ruhi Rani
Batch No. - 8 (Frontend with HTML, CSS, JS)

[2021-09-20 02:54] ruhirani011 commented on #1048
@code-reaper08  Please assign this issue to me.

[2021-09-20 02:57] IshikaMeghaSaha commented on #83
By today. I am done with the writeup. It's taking a little time to document it using stackedit.

[2021-09-20 02:58] ruhirani011 commented on #1010
I would like to work on this issue.
@code-reaper08 please assign me this issue.
/assign

[2021-09-20 02:59] pspiagicw commented on #1092
/assign

[2021-09-20 03:13] Akshat2019VITB commented on #1038
I'd like work on this with step by step documentation and code.
Name: Akshat Bhardwaj
Batch - 15
Sno. - 543

[2021-09-20 03:21] radha919 commented on #909
/assign

[2021-09-20 03:22] CSAURABH commented on #641
@mukeshmjn  I will send you pr today.

[2021-09-20 03:24] anjalirai12 commented on #161
/assign

[2021-09-20 03:25] radha919 commented on #441
/assign

[2021-09-20 03:25] Aman-Deshpande commented on #1098
Can I work on this issue.
Aman Deshpande
Batch 11

[2021-09-20 03:26] pspiagicw opened #1102 "Open Source : 6. 4 Information about WINE and Proton"
<hr>

## Description 📜

WINE  and Proton are technologies developed to run Windows Software in Linux.

Topics to cover
 - Wine and Proton history and development
 - Current Status and ProtonDB
 - Limitations
 - Use in industry (Steam , Steam Deck , Google Stadia)
 - How can you contribute

<hr>

## Domain of Contribution 📊

### NOTE 👇
Please put your doc `inside section-6` if not present create ne

[2021-09-20 03:26] anjalirai12 commented on #161
Sir, I would like to work on this issue , So kindly, please assign it to me.

[2021-09-20 03:31] shripaddhopate commented on #434
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Type : Documentation
Approach:
Introduction to Numpy
Application of Numpy
How to import it and where to use it
Functions of numpy with example

[2021-09-20 03:32] deepthi1107 commented on #1072
Hello, I am Deepthi M . I would like to do documentation on this issue.

[2021-09-20 03:32] shripaddhopate commented on #382
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Type : Documentation

[2021-09-20 03:33] deepthi1107 commented on #1080
Hello, I am Deepthi M . I would like to do documentation on this issue.

[2021-09-20 03:33] lohith1392 commented on #1096
/assign

[2021-09-20 03:33] pspiagicw opened #1103 "OpenSource : 6.3 Information about Vi/Vim and Emacs."
<hr>

## Description 📜
Vim and Emacs are the most hackable and customizable text editors out there.Both developed in the 1980's they are compared to each other and have resulted in a Editor War over the years.

Points to include
- Their birth
- Their style of editing documents and ways to customize
- Features included in respective editors.
- Current status

<hr>

### NOTE 👇
Please put your doc `i

[2021-09-20 03:34] shripaddhopate commented on #382
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Serial No: 930
Type : Documentation

[2021-09-20 03:37] shripaddhopate commented on #434
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Type : Documentation, Video
Serial No: 930
Approach:
Introduction to Numpy
Application of Numpy
How to import it and where to use it
Functions of numpy with example

[2021-09-20 03:37] pspiagicw opened #1104 "Open Source : 6.16 `Language Server Protocol`"
<hr>

## Description 📜

Language Server Protocol is a new technology used by many Open Source Editors and developed in collabration with Microsoft.
It enables autocompletion, goto-definition and other intelligent code functions to be offloaded to a dedicated server for the language currently being written.
Topics to Cover
- Origin of LSP
- How does it work
- LSP Servers for different languages
- C

[2021-09-20 03:38] AkMo3 opened #1105 "Java 1.1: Need of Java"
<hr>

## Description 📜

Add audio, documentation and video regarding the **Need of Java**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `History of Java` folder. If the folder is not present, create the folder with this exact name. The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in `.mp

[2021-09-20 03:41] snehasharma76 commented on #1097
I will like to work on this. Please assign me this issue.

[2021-09-20 03:42] charitha-byte commented on #96
/assign

[2021-09-20 03:42] bhavya281 commented on #1105
I would like to work on this issue (documentation part)
Name: Bhavya Chandra
Java Batch 2

[2021-09-20 03:42] AkMo3 opened #1106 "Java 1.2: Impact of Java on the Internet"
<hr>

## Description 📜

Add audio, documentation and video regarding the **Impact of Java on the Internet**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `History of Java` folder. If the folder is not present, create the folder with this exact name. The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio

[2021-09-20 03:42] AkMo3 commented on #1105
@bhavya281 Please edit the comment to `\assign Document`

[2021-09-20 03:43] snehasharma76 commented on #1067
I will like to work on this issue. Please assign me this.

[2021-09-20 03:43] aashigupta355 commented on #1106
\assign Document

[2021-09-20 03:44] Aman-Deshpande commented on #1105
\assign Document

[2021-09-20 03:45] geeythree commented on #608
@theshredbox This issue is for **audio** contribution only.

[2021-09-20 03:46] AkMo3 commented on #1105
Documentation has already been assigned. Choose between Audio or Video

[2021-09-20 03:48] shripaddhopate commented on #437
I would be glad to work on this issue.
Name : Shripad Dhopate
Batch : 21
Type : Documentation , Video
Serial No: 930

[2021-09-20 03:48] Sneha-0308 commented on #1105
\assign Audio

[2021-09-20 03:48] Shraddha-Jaggi commented on #1106
\assign video

[2021-09-20 03:49] Aman-Deshpande commented on #1105
\assign video

[2021-09-20 03:51] JayashreeSadarhalli commented on #1106
/assign audio

[2021-09-20 03:52] Isha307 commented on #984
@Aaksha-sharma This issue was already assigned to aditya, you can work on its video or audio part.

[2021-09-20 03:53] AkMo3 opened #1107 "Java 1.3: Evolution of Java"
<hr>

## Description 📜

Add audio, documentation and video regarding the **Evolution of Java**.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `History of Java` folder. If the folder is not present, create the folder with this exact name. The documentation file can be in the `.md`/`.py`/`.ipynb` format. Audio should be in

[2021-09-20 03:53] varunborar commented on #1107
/assign Document

[2021-09-20 03:54] pspiagicw opened #1108 "Open Source : 6.1 Open Source in Space!"
<hr>

## Description 📜

Open Source has reached even Space . With the recent Ingenuity quadcopter flying in Mars , totally powered by Linux software wise. It is time we explore use of Open Source in Space Exploration

Topics that can be covered
- Advantages
- Open Source Tools for Space and Aerospace research.
- Open Source used in SpaceX and NASA
- Open Source on Mars( The newest Mars Rover and I

[2021-09-20 03:54] shreya40 commented on #1107
/assign document

[2021-09-20 03:54] shreya40 commented on #1107
/assign audio

[2021-09-20 03:55] JayashreeSadarhalli commented on #1098
/assign document

[2021-09-20 03:56] JayashreeSadarhalli commented on #1098
\assign document

[2021-09-20 03:56] Aaksha-sharma commented on #984
okay I would like to contribute in audio part how can I do it?

[2021-09-20 03:58] rahulsain commented on #683
@Kavindra-Mohan-Dwivedi already working on documentation part @Pooja-Goyal-1

[2021-09-20 03:58] imcoza commented on #1108
I want to work on this issue .I would like to prepare the documentation on this. Kindly assign me this
IMAMA SHEHZAD from python batch 5

[2021-09-20 03:59] Isha307 commented on #984
Okay, let me create an issue for you.

[2021-09-20 03:59] #984 closed

[2021-09-20 04:00] imcoza commented on #1097
I would like to work on this issue. Kindly assign me this issue.

[2021-09-20 04:01] Yashesvinee commented on #1107
/assign video

[2021-09-20 04:01] utkarshpathak2504 commented on #990
/assign

[2021-09-20 04:02] rahulsain commented on #691
@LegendSumeet  already working on documentation part @Pooja-Goyal-1

[2021-09-20 04:03] Ayushi2811 commented on #1095
/assign

[2021-09-20 04:03] GyaniRoman23 commented on #1093
Hey @v-rohan!! I would like to work with the Documentation part of this issue.

[2021-09-20 04:03] veerviren commented on #1022
issue was created in wrong folder instead of competitive coding I created in c/cpp

[2021-09-20 04:03] #1022 closed

[2021-09-20 04:03] Ayushi2811 commented on #1056
/assign

[2021-09-20 04:04] Ayushi2811 commented on #1029
/assign

[2021-09-20 04:04] ShreytaSingh commented on #1073
i would like to be assigned for this issue
batch no.=01
serial no.=186
issue number=#1076
format=video

[2021-09-20 04:05] Isha307 opened #1109 "ML 1.8: A\B Testing (A)"
Welcome to 'ML' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge that one needs to know about A/B Testing.

To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're inte

[2021-09-20 04:05] sujana-kamasany commented on #19
Hello,
I would like to contribute Documentation

[2021-09-20 04:05] a12baghel2 commented on #1093
/assign

[2021-09-20 04:09] sujana-kamasany commented on #1107
/assign document

[2021-09-20 04:11] abhisheks008 commented on #609
@Anindyadeep Come on man, it's clearly written that its a Video content, also it is assigned! Don't spam like this :(

[2021-09-20 04:11] mohitmishra786 commented on #875
SVM

[2021-09-20 04:11] Isha307 commented on #984
@Aaksha-sharma https://github.com/girlscript/winter-of-contributing/issues/1109

[2021-09-20 04:12] #1097 closed

[2021-09-20 04:13] veerviren opened #1110 "Traversing in a Linked List"
<hr>

## Description 📜

<hr>Hii everyone myself <bold>VIREN VARIYA </bold>, I try to explained how to traversing in a linked list in best way with description and sample code too , hope u will like it !! I promised you learned this topic very easily in a fastest possible way.

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 04:13] veerviren commented on #1110
/assign

[2021-09-20 04:14] Aaksha-sharma commented on #1109
@Isha307 this is where I can contribute right?

[2021-09-20 04:15] veerviren commented on #1110
/assign

[2021-09-20 04:16] sujana-kamasany commented on #1095
/assign Document

[2021-09-20 04:16] veerviren commented on #1110
issue is not assigned

[2021-09-20 04:16] #1110 closed

[2021-09-20 04:16] Isha307 commented on #1109
Yeah

[2021-09-20 04:17] veerviren opened #1111 "Traversing in a Linked List"
<hr>

## Description 📜

<hr>Hii everyone myself VIREN VARIYA , I try to explained how to traversing in a linked list in best way with description and sample code too , hope u will like it !! I promised you learned this topic very easily in a fastest possible way.

## Domain of Contribution 📊

- [x] Competitive Programming

<hr>

[2021-09-20 04:18] aniket7515 commented on #1057
/assign documentation

[2021-09-20 04:18] veerviren commented on #1111
/assign

[2021-09-20 04:21] Sr7-Rastogi commented on #1061
/assign document

[2021-09-20 04:23] Pooja-Goyal-1 commented on #691
Can we collab if @LegendSumeet agrees? Or what else has to be done?

[2021-09-20 04:25] deepthi1107 commented on #1053
Hello, I am Deepthi M . I would like to do documentation on this issue.

[2021-09-20 04:25] LegendSumeet commented on #691
Ohk @Pooja-Goyal-1

[2021-09-20 04:26] LegendSumeet commented on #691
Ohk @Pooja-Goyal-1

[2021-09-20 04:26] deepthi1107 commented on #1076
Hello, I am Deepthi M . I would like to do documentation on this issue.

[2021-09-20 04:26] deepthi1107 commented on #1075
Hello, I am Deepthi M . I would like to do documentation on this issue.

[2021-09-20 04:26] rahulsain commented on #691
@Pooja-Goyal-1 you can also work on audio or video part

[2021-09-20 04:26] prathimacode-hub commented on #1038
Issue assigned to @Akshat2019VITB for documentation

@AdityaStark7 @Praannjaal, if you are interested for audio / video let me know. This issue is done on contributor's interest. Else if you have got any issue you would like to work on, kindly drop your message in thread provided in discord.

[2021-09-20 04:26] Isha307 opened #1115 "ML 1.8: A\B Testing (V)"
Welcome to 'ML' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge that one needs to know about A/B Testing.

To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with all three or any number of options you're inte

[2021-09-20 04:28] ViAsmit commented on #1008
@arcAman07 Ohk I am assigning you #137  You have to make video for first 5 topics.

[2021-09-20 04:28] prathimacode-hub commented on #1036
Issue assigned to @runwalakshat5 for documentation

[2021-09-20 04:30] deepthi1107 commented on #1115
name: Deepthi M
Batch : 2
github link: https://github.com/deepthi1107
type: document

[2021-09-20 04:30] prathimacode-hub commented on #1031
Issue assigned to @Shashankkrj for documentation

[2021-09-20 04:31] RahulRam29 opened #1118 "Websites for Android Development using Java"
<hr>

Documentation

<hr>

## Domain of Contribution 📊

- [x] Android Dev (Java)

<hr>

[2021-09-20 04:31] RahulRam29 commented on #1118
/assign

[2021-09-20 04:32] prathimacode-hub commented on #1034
Issue assigned to @aswinikalyan30 for documentation

[2021-09-20 04:32] Isha307 commented on #1115
@deepthi1107 Check the issue, it is for video not for the documentation.

[2021-09-20 04:32] prathimacode-hub commented on #1034
@Vishaka830, there are more issues arriving. This is done according to thread provided in discord.

[2021-09-20 04:33] RahulRam29 commented on #1118
Assign Websites for Android Development using Java to me @RahulRam29

[2021-09-20 04:34] prathimacode-hub commented on #1027
@preestine, this issue is assigned to you for documentation.

[2021-09-20 04:36] baibhav0305 commented on #252
pls assign this issue to me
/assign

[2021-09-20 04:39] arpanaditya commented on #1091
/assign

[2021-09-20 04:44] harichandana1406 commented on #1067
Can you please assign me this issue? if no one is working on this.

[2021-09-20 04:45] Binita-tech commented on #1118
\assign Audio & Video

[2021-09-20 04:45] pspiagicw commented on #1108
I think you have to use the /assign command to get assigned

[2021-09-20 04:47] Binita-tech commented on #1118
\assign Document

[2021-09-20 04:48] kashyap1905 commented on #1084
/assign

[2021-09-20 04:50] somyabagora commented on #1107
/assign document

[2021-09-20 04:51] Anant1711 commented on #785
Okay!
But it will be better if you contribute in `video` it will be great for users who will see/listen to your work!
or if you want to contribute in `Audio` then I'll assign you for audio?

[2021-09-20 04:53] sumitmukharjeeeeee commented on #1071
\assign documentation

[2021-09-20 04:53] arcAman07 commented on #137
Will be taking the issues from 1-5

[2021-09-20 04:54] ChetasShree opened #1124 "C_CPP : To find the kth smallest element using heap (Documentation)"
<hr>

## Description 📜

I want to create documentation explaining how to find the kth smallest element using heap with code examples.
<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 04:54] ChetasShree commented on #1124
/assign

[2021-09-20 04:54] sharpsailor commented on #1106
\assign Document

[2021-09-20 04:57] asppanda12 commented on #1095
/assign Document

[2021-09-20 04:57] asppanda12 commented on #1057
I am interested in workin on this issue. Batch 6 frontend.

[2021-09-20 04:58] asppanda12 commented on #1029
I want to work on this issue, please assign it to me.
/assign

[2021-09-20 04:59] prathimacode-hub opened #1125 "Data Science with Python : Logistic Regression Algorithm"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Logistic Regression Algorithm. Tutorial to Logistic Regression Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would fol

[2021-09-20 04:59] paramsiddharth commented on #246
Yes, Siddhi. As I previously mentioned, one issue may be assigned to multiple contributors at once. Someone finished a PR and got it approved before you. You may now choose to extend their contribution or contribute a different format if you wish to continue your contribution to this issue, or move on to another issue.

[2021-09-20 05:03] prathimacode-hub opened #1126 "Data Science with Python : Decision Tree Algorithm"
Welcome to 'DSWP' Team, good to see you here.

This issue will helps readers in acquiring all the knowledge to learn about getting involved with Decision Tree Algorithm. Tutorial to Decision Tree Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choi

[2021-09-20 05:03] usmankh07 commented on #71
I want to contribute on this and wants to make clear documentation for this project. Thanks

[2021-09-20 05:04] Aaksha-sharma commented on #1125
I want to contribute through documentation in this issue.

[2021-09-20 05:06] Ayushi2811 commented on #1111
/assign

[2021-09-20 05:06] imcoza commented on #1109
I want to contribute to this issue. I want to make documentation on this.
 Imama Shehzad ML batch 2.
https://github.com/imcoza

[2021-09-20 05:06] swathi-reddy-m commented on #1053
/assign

[2021-09-20 05:11] dev123singh commented on #1126
Thank you for adding the issue of Decision tree Algorithm
Approach:
Getting a dataset appropriate for the ML model.
Data quality check, i. e : Removal of outliers, Data processing
Data Visualization, graphic implementation
Training of dataset
ML model building
Getting an accuracy score.

[2021-09-20 05:11] swathi-reddy-m commented on #1066
Hello, Myself Swathi. I would like to do documentation on this issue.

[2021-09-20 05:12] paramsiddharth commented on #761
It is completely your choice!

[2021-09-20 05:12] ShubhamGupta-29 commented on #1124
/assign

[2021-09-20 05:13] Anant1711 commented on #148
Yeah! You had to add cybersecurity: before your title name.
But okay this time, I reviewed your PR!
Kindly check the comment!

On Mon, 20 Sept 2021 at 07:43, Ankit Kumar Jha ***@***.***>
wrote:

[2021-09-20 05:13] deepthi1107 commented on #1126
Hello, I am Deepthi M with a serial number:172. I would like to do documentation on this issue.
my approach: a detailed explanation and a data set to explain the code.

[2021-09-20 05:14] #170 closed

[2021-09-20 05:14] deepthi1107 commented on #1125
Hello, I am Deepthi M with a serial number:172. I would like to do documentation on this issue.
my approach: a detailed explanation and a data set to explain the code.

[2021-09-20 05:14] Anant1711 commented on #83
Okay!

[2021-09-20 05:17] Anindyadeep commented on #609
Yeahhh i was actually going through all the issues and wriiten the requests.... so it was a silly mistake which i came to know late... sorry

[2021-09-20 05:17] Shubhrajyoti24 opened #1128 "C/CPP - Looping Control Structure"
<hr>

## Description 📜

Documentation for loops and their functioning in C

<hr>

## Domain of Contribution 📊

- [x] C/CPP

<hr>

[2021-09-20 05:18] Shubhrajyoti24 commented on #1128
/assign

[2021-09-20 05:18] pspiagicw opened #1129 "Open Source : 6. Open Source in Gaming"
<hr>

## Description 📜

Gaming is a little behind in Open Source especially for modern AAA titles. Open Source technology is being used to make the games , but the game itself maybe closed source

Topics to cover:
- Advantages and Limitations
- Open Source Game Engines ( Unity , Godot , Love2D)
- Current Open Source Games ( 0AD , Xonotic , SuperTuxCart , FreeDOOM , OpenRCS2 )
- How to contribute

[2021-09-20 05:21] soumyaagr427 commented on #1128
/assign

[2021-09-20 05:22] soumyaagr427 commented on #1124
/assign

[2021-09-20 05:23] Pmair20 commented on #1096
I would like to work on this issue (documentation part along with code sample)
Name: Pritish Mair
Python Batch 1

[2021-09-20 05:23] #148 closed