[2021-09-13 08:25] Aryamanz29 opened #13 "QA : Add PR template"
-  Add `PR template` to the project
-  Directory in which you gonna add this is `.github`
-  `PR Template` should contain 👇
    -  **PR description**
    -  **Type of change**
    -  **Some kind of checklist**  that contains ie contributors should follow [Contributing guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md), I have performed a self-review

[2021-09-13 11:09] Aryamanz29 commented on #13
@gauravdas014 PR ready for review

[2021-09-13 11:31] #13 closed

[2021-09-14 08:24] Rohit-2602 opened #19 "Introduction to Android Studio"

[2021-09-14 08:34] Aryamanz29 opened #20 "OpenSource : 1. History of free and open-source software (1980 & 1990’s)"
### Description :
- **Explain the History of free and open-source software (1980 & 1990’s)**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/wint

[2021-09-14 08:47] Aryamanz29 opened #21 "OpenSource : 1.1 Rise Of Open Source Programming Languages"
### Description :
- **Explain the " Rise Of Open Source Programming Languages "**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**

#### Must Follow : [Contributing Guidelines](https://github.com/girlscript/winter-of-contr

[2021-09-14 08:52] Aryamanz29 opened #22 "OpenSource : 1.2 What Is a Distributed Version Control System (DVCS)?"
### Description :

- **What Is a Distributed Version Control System (DVCS)?**
- **The Evolution of Version Control Systems.**
- **Limitations of the DVCS Model.**
- **Why Companies Switch to Distributed Version Control System (DVCS) instead of CVCS?**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue

[2021-09-14 09:00] Aryamanz29 opened #23 "OpenSource : 1.3 Recent OS Projects (Ex : Android, Chromium OS, etc)"
### Description :

-  **Explain Recent OS Projects (ex : Android, Chromium OS, etc)**
-  **Idea behind why organization started ?**
-  **Tech they're currently using for maintaining those projects**
-  **Their Future plans**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **fir

[2021-09-14 09:04] Dhruv-194 commented on #22
Can I work on this issue?

[2021-09-14 09:05] Aryamanz29 opened #24 "OpenSource : 1.4 Why Open Source?"
### Description :

-  **Why you should open source your projects ?**
-  **Benefits of contributing to an open source softwares**
-  **Good practices while contributing to an open-source software**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**,

[2021-09-14 09:06] Aryamanz29 commented on #22
@Dhruv-194  Sure, I'll assign this to you !!
Happy Documenting 🙌

[2021-09-14 09:11] Aryamanz29 opened #25 "OpenSource : 2. Getting Started With Open Source"
### Description :

-  **Getting Started With Open Source**
     -  **Build a good Tech-Related background**
         - Software products are built with different kinds of tech stacks and
also by following different architectural patterns. Therefore it is
better to study **_architectural patterns, design patterns, and
well-known technologies_** before you begin anything.

### Note :

- Changes shou

[2021-09-14 09:15] Aryamanz29 opened #26 "OpenSource : 2.1 Practice Git and Github fundamentals"
### Description :

-  **Explain `Git and Github fundamentals` & their` contribution workflow`.**
-  **About `Github actions`**
-   - When there is collaborative work on a codebase well-managed
source code management is highly recommended. Most of the
open-source projects are using Git as the **SCM (Source Code
Management)** tool and they use Github as the hosting service for
Git repositories. Ther

[2021-09-14 09:19] Aryamanz29 opened #27 "OpenSource : 2.2 Learn open source basics"
### Description :

- `Learn open source basics 👇`

    - Every work has the best practices and standards which were
initiated by experienced people and followed by many in order to
maintain the quality of work. It applies to open source as well. It is
better to go through things like **best practices for commit
messages, semantic versioning, open-source licenses, contribution
guidelines, and the c

[2021-09-14 09:19] shubhdholakiya commented on #24
Can I work on this? Kindly assign this to me.

[2021-09-14 09:24] Aryamanz29 opened #29 "OpenSource : 2.3 Start contributing some projects"
### Description :

Select some **interesting repositories** and start working on those.
The key thing is that before contributing a project it is always good to be familiar with it. In other words, use it before you help it. Therefore **download the releases** and try before you look at the `bug tracker.`  If you face some problems you can raise an issue in the bug tracker. Thereafter you may star

[2021-09-14 09:26] Aryamanz29 commented on #24
Yea, Sure @shubhdholakiya , Assigning this to you ✅
Happy documenting 🙌

[2021-09-14 09:33] Aryamanz29 opened #31 "OpenSource : 2.4 Start your own open-source projects"
### Description :

You may write your own **libraries or frameworks** or e**ven simple
code snippets for your own** works or for your workplace tasks.
Maybe someone like is you also looking for that kind of solution, Do
you like to help someone?😉 Of course, you can share your work as an
open-source project just using the steps as per below

-  Bring project stuff to one location and `make a Git re

[2021-09-14 09:33] shubhdholakiya commented on #24
Can please tell me like I have to make a readme file and write all the answers to the given questions in the above description?

[2021-09-14 09:36] Aryamanz29 commented on #24
Hey, You can contribute through `documentation, audio & video`. See: https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md
For documentation, It should be `markdown` format

[2021-09-14 09:38] shubhdholakiya commented on #24
Okay Thank you very much.

[2021-09-14 09:40] Aryamanz29 opened #32 "OpenSource : 3. Blog what you do and be more social"
### Description :

Blogging is a very good approach to build an audience for your open source projects. `Introducing your projects` and writing `how-to-type blog posts` would be nice for **your future community.**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come fir

[2021-09-14 09:48] Adi7171 commented on #20
I would like to be assigned this issue

[2021-09-14 09:51] Chirag-creator17 commented on #21
I would like to work on this issue.

[2021-09-14 09:52] Aryamanz29 commented on #20
Sure @Adi7171
Happy Documenting 🙌😉

[2021-09-14 09:54] Aryamanz29 commented on #21
Sure @Chirag-creator17, Assigning this to you ☀
Happy Documenting 🙌

[2021-09-14 09:54] Adi7171 commented on #20
so how do I contribute do I do it through github readme for documentation

[2021-09-14 09:59] developer-metalhead commented on #26
Can I be assigned this issue?

[2021-09-14 10:02] Aryamanz29 commented on #20
Hey, You can contribute through `documentation, audio & video`. See: https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md
For documentation, It should be `markdown` format
Create new directory `History of free and open-source software`
Inside made your contribution

[2021-09-14 10:04] Aryamanz29 commented on #26
Sure @developer-metalhead 😀
Happy Documenting 🙌

[2021-09-14 10:05] priyanshuc4423 commented on #25
please assign me

[2021-09-14 10:08] Aryamanz29 commented on #25
Assigning this to you @priyanshuc4423
Happy Documenting 🙌

[2021-09-14 10:08] developer-metalhead commented on #26
Thank You @Aryamanz29

[2021-09-14 10:26] Rohit-2602 opened #34 "Android-Java: Installing Java JDK"
## Description ->
- What is Java JDK
- Give a brief on how to download and install java on a device (Mac, Windows, Linux).

## Source ->
- https://www.guru99.com/install-java.html

## Note ->
- Changes should be made inside the Android_Development/Java directory & Android_Development_with_java branch.
- Issue only for GWOC'21 contributors.
- Issue will be assigned on a first come first serve basis

[2021-09-14 10:35] Rohit-2602 opened #35 "Android-Java: 1.2 Installing Android Studio"
## Description ->
- Give a brief on how to download and install java on a device (Mac, Windows, Linux).

## Source ->
- https://developer.android.com/studio/install

## Note ->
- Changes should be made inside the Android_Development/Java directory & Android_Development_with_java branch.
- Issue only for GWOC'21 contributors.
- Issue will be assigned on a first come first serve basis, 1 Issue == 1

[2021-09-14 10:38] Rohit-2602 opened #36 "Android-Java: 1.3 Installing Android Studio"
## Description ->
- Give a brief on how to download and install Android Studio on a device (Mac, Windows, Linux).

## Source ->
- https://developer.android.com/studio/install

## Note ->
- Changes should be made inside the Android_Development/Java directory & Android_Development_with_java branch.
- Issue only for GWOC'21 contributors.
- Issue will be assigned on a first come first serve basis, 1 I

[2021-09-14 10:47] Anant1711 opened #37 "Cybersecurity: 1.1 What is Information Security?"
## Description
Information security is designed to protect the `electronic` and other `private`, `sensitive`, and `personal` data from Hackers.
**Explain more about What is Information Security?**

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.
- Task will be assigned on **first come first serve**
- Check i

[2021-09-14 11:00] Anant1711 opened #38 "Cybersecurity: 1.2 Importance of Information Security?"
## Description
Information security is designed to protect the `electronic` and other `private`, `sensitive`, and `personal` data from Hackers.
**Explain what is the importance of Information Security in the cyber world?**

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.
- Task will be assigned on **first co

[2021-09-14 11:08] Anant1711 opened #39 "Cybersecurity: 1.3 Challenges in Information Security?"
## Description
**Discuss challenges face in information security.**

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md)

[2021-09-14 11:13] Anant1711 opened #40 "Cybersecurity: 1.4 Information security controls?"
## Description
**Discuss Information security controls!**

## Sources
[Wiki](https://en.wikipedia.org/wiki/Security_controls)

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](https://github.com/girlscript/winter-of-c

[2021-09-14 11:15] AdnanKhan27 commented on #37
I would like to take this one ✋

[2021-09-14 11:26] Anant1711 commented on #37
Okay! @AdnanKhan27
I'll assign you this task! 👍🏻

[2021-09-14 11:40] sumitmukharjeeeeee commented on #34
Can I take this one and Till when Can I submit it??

[2021-09-14 11:40] Akshat-2002-coder commented on #22
sir can I work on this issue?

[2021-09-14 11:41] anjanaaaaaaaa commented on #38
I would like to take this

[2021-09-14 11:47] Anant1711 commented on #38
@anjanaaaaaaaa I'm assigning you this task! 👍🏻

[2021-09-14 11:53] Anant1711 opened #41 "Cybersecurity: 1.5 What is Physical Security?"
## Description
Physical security is very important to any organization/company, including fences, laser alarms, etc.
Explain more about What is Physical Security?

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](http

[2021-09-14 12:03] Rohit-2602 commented on #34
@sumitmukharjeeeeee yes sure go on. There is no such limit on time, but try to complete it as soon as possible.

[2021-09-14 12:05] Anant1711 opened #42 "Cybersecurity: 1.6 Importance of Physical Security?"
## Description
Physical security is very important to any organization/company, including fences, laser alarms, etc.
Discuss the importance of physical security in the Cyberworld.

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution

[2021-09-14 12:06] sumitmukharjeeeeee commented on #34
All right

[2021-09-14 12:09] Anant1711 opened #43 "Cybersecurity: 1.7 Challenges in Physical Security?"
## Description
**Mention challenges faced by organizations/companies in physical security?**
## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONT

[2021-09-14 12:13] Aryamanz29 commented on #22
@Akshat-2002-coder  Hey thanks for asking , Actually this issue is already been assigned to contributor so can you look other plenty of open issues,  thanks✌️

[2021-09-14 12:13] Chirag-creator17 commented on #21
What should be the length of readme file ?

[2021-09-14 12:16] Aryamanz29 commented on #21
I'm not sure about specific length of the file , but it should cover all mention topics in it .

[2021-09-14 12:18] nayakaj commented on #27
Can I be assigned this issue?

[2021-09-14 12:22] Anant1711 opened #44 "Cybersecurity: 1.8 Security, Functionality, and usability triangle"
## Description
Discuss the strength of this triangle and discuss what makes it so stable?

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRI

[2021-09-14 12:44] adityabisoi opened #46 "Python: 1.1 Learning version control- What is Git & GitHub?"
### Description :
Briefly explain Git and GitHub

### Note :
- Changes should be made inside the `Python/Git_And_GitHub/` directory & `Python` branch.
-  Make necessary changes to `README.md` also.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Fol

[2021-09-14 12:44] adityabisoi opened #47 "Python: 1.2 Learning version control- Contributing on GitHub"
### Description :
Explain how to contribute to a project on GitHub

### Note :
- Changes should be made inside the `Python/Git_And_GitHub/` directory & `Python` branch.
-  Make necessary changes to `README.md` also.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**

#### Must Follow : [Contributing Guidelines](https://

[2021-09-14 12:44] adityabisoi opened #48 "Python: 1.3 Learning version control- GitHub terminologies"
### Description :
Explain the generally used GitHub terminologies (branch, upstream, pull, push, etc.)

### Note :
- Changes should be made inside the `Python/Git_And_GitHub/` directory & `Python` branch.
-  Make necessary changes to `README.md` also.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**

#### Must Follow

[2021-09-14 12:54] Rohit-2602 opened #49 "Android-Java: 1.4 Creating First Project"
## Description ->
- Explain how to create the first project
- Explain About selecting different base Activity and API level

## Source ->
- https://developer.android.com/studio/projects/create-project

## Note ->
- Changes should be made inside the Android_Development/Java directory & Android_Development_with_java branch.
- Issue only for GWOC'21 contributors.
- Issue will be assigned on a first c

[2021-09-14 13:05] anjanaaaaaaaa commented on #35
hi can I take this

[2021-09-14 13:11] amitrakshar01 opened #50 "Added Machine Learning folder with a Readme"
Hey @Aryamanz29,
I created a Machine Learning Folder with a Readme file.

[2021-09-14 13:12] Adi7171 commented on #20
so I am supposed to write it on google collab and not on readme?

[2021-09-14 13:14] pranjalkalal commented on #36
I want work on this issue

[2021-09-14 13:23] Seldcouth commented on #19
Please assign it to me.

[2021-09-14 13:28] praveenscience opened #52 "Create a Placeholder RoadMap file for FrontEnd."
We need to have a Placeholder RoadMap file for FrontEnd under Web Dev.

[2021-09-14 13:37] Rohit-2602 commented on #35
Yes sure go on mate. Good luck!!

[2021-09-14 13:37] kunal-kumar-chaudhary commented on #48
hey! i would like to work on this issue.

[2021-09-14 13:37] medhatiwari commented on #39
I would like to work on this

[2021-09-14 13:38] Rohit-2602 commented on #19
Yes sure go on mate. Good luck!!

[2021-09-14 13:38] Rohit-2602 commented on #36
Yes sure go on mate. Good luck!!

[2021-09-14 13:40] Aryamanz29 commented on #50
You've tagged wrong person @amitrakshar01

[2021-09-14 13:44] Aryamanz29 commented on #20
@Adi7171  You can use `markdown` as well

[2021-09-14 13:53] Pranav120602 commented on #46
Greetings Contributors and Mentors,
I am interested in this issue. Can you kindly assign this to me
Thanks
Pranav Shankar
Python Contributor -  Batch 6

[2021-09-14 13:55] Purvibhoyar commented on #47
Hello Supervisors and Mentors,
I am interested in dealing and contributing to this issue .
Please assign me this one.
Thank you

[2021-09-14 14:01] saigoud25 commented on #49
can I work on this??

[2021-09-14 14:14] Rohit-2602 commented on #49
Yes sure mate

[2021-09-14 14:15] Debasmita-01 opened #54 "Interface elements-Types of UI buttons in Figma"

[2021-09-14 14:17] shubhdholakiya commented on #54
What do you want us to do on this issue? kindly describe, please!

[2021-09-14 14:23] harmankaler2000 commented on #48
Hey! I would like to work on this issue. It would help me gain a better grasp on the topics whilst explaining it to others!

[2021-09-14 14:28] RAMESSESII2 commented on #23
I already have an interest in Linux (Fedora OS user) and I would love to contribute to this because that gives me an opportunity to learn about other open-source OSs.
So, hey, @Aryamanz29  assign it to me.

[2021-09-14 14:28] harmankaler2000 commented on #46
Hi! I would like to contribute to this issue and try to explain what is Git and GitHub, while also mentioning how they are different and what connects them.
Thanks
Harmandeep Kaur Kaler
Python - batch - 4

[2021-09-14 14:30] Anant1711 commented on #39
@medhatiwari I'm assigning this task to you!👍🏻

[2021-09-14 14:34] Aryamanz29 commented on #23
Glad to see your enthusiasm @RAMESSESII2 🙂 , Go ahead ✌️

[2021-09-14 14:35] ananddasani opened #55 "Configuring AVD and Using Phone for the Same"
Discription ->
To Configure the AVD (Android Virtual Device) in Android Studio and to
Use our Smart phone for the same (if you are not having enough RAM on your device)

[2021-09-14 14:39] RAMESSESII2 commented on #23
Thank you

[2021-09-14 14:39] ananddasani commented on #55
@Rohit-2602 Can I start work on this ?

As this is also important to know :)

[2021-09-14 14:45] Pranav120602 commented on #47
Greetings Mentors,
I am interested in contributing to this issue.
Kindly assign it.
Thanks and Regards,
Pranav Shankar
Python - Batch 6

[2021-09-14 14:52] nayakaj commented on #27
how to start @Aryamanz29

[2021-09-14 14:52] Ash-KODES commented on #32
ok,I would like to contribute for this issue.
opensource batch 3
thankyou

[2021-09-14 14:56] akshara-narayanan commented on #40
I would like to take this

[2021-09-14 14:59] Aryamanz29 commented on #32
@Ash-KODES  Assigning this to you ✌️

[2021-09-14 15:06] Debasmita-01 opened #56 "UX Case Study 1 : Redesign Google Meet"
Here we need to redesign google meet .Redesigning involves a lot of user market research . You need to research on what problems are faced by the current users of the web version and try to figure out solutions for those and make wireframes or designs with improvements in the web version accordingly in Figma.

[2021-09-14 15:12] Anant1711 commented on #40
@akshara-narayanan I'm assigning this task to you!👍🏻

[2021-09-14 15:13] adityabisoi commented on #46
@Pranav120602 Please go ahead. @harmankaler2000 As mentioned, `Issue will be assigned on a first come first serve basis, 1 Issue == 1 PR`

[2021-09-14 15:14] adityabisoi commented on #48
@kunal-kumar-chaudhary Go ahead

[2021-09-14 15:25] Rohit-2602 commented on #55
@ananddasani  yes sure 😀

[2021-09-14 15:32] kunal-kumar-chaudhary commented on #48
thank you, will remain in touch with you and will keep updating on the progress. will ask doubts later if i come across any problem.

[2021-09-14 15:38] kunal-kumar-chaudhary commented on #48
is there any sort of deadline?

[2021-09-14 15:40] sitamadex11 opened #59 "Android-Java: 1.5 Run your app using virtual device and real device."
## Description :
* Describe how to set up your real device using USB debugging to run your app in android studio.
* Describe how to create an android-virtual-device using AVD manager to run your app in android studio.

## References :

* Changes should be made in **Android_Development/Java** directory under **Android_Development_With_Java** branch.
* You have to give your PR to the **Android_Devel

[2021-09-14 15:41] kunal-kumar-chaudhary commented on #31
I would like to work on this issue.

[2021-09-14 15:42] prince02765 commented on #59
I would like to work on this issue.

[2021-09-14 16:06] RK1905101 commented on #42
I would like to take up this topic.

[2021-09-14 16:10] s4marth commented on #24
@Aryamanz29  May I also work on this issue?

[2021-09-14 16:18] Anant1711 commented on #42
Okay! I'm assigning this to you!

[2021-09-14 16:41] nayakaj commented on #48
@adityabisoi  we can share the link of google notes

[2021-09-14 16:44] anmol20112000 commented on #36
I want to work on this

[2021-09-14 16:50] anmol20112000 commented on #19
Can i  also work on this..?

[2021-09-14 16:50] adityabisoi commented on #48
@kunal-kumar-chaudhary No, @nayakaj Read the contribution guidelines for details on contribution types.

[2021-09-14 16:52] anmol20112000 commented on #52
Can i work on this..?

[2021-09-14 16:53] Rohit-2602 commented on #36
@anmol20112000 this issue is already assigned, I will make a new one tomorrow then you can take that issues

[2021-09-14 16:57] PVenkatArvind commented on #46
Greetings !!
 I am interested, Can I contribute
Thanks & Regards,
P Venkat Arvind
Python Contributor

[2021-09-14 16:58] PVenkatArvind commented on #47
Greetings !!
I am interested, Can I contribute
Thanks & Regards,
P Venkat Arvind
Python Contributor

[2021-09-14 16:59] PVenkatArvind commented on #48
Greetings !!
I am interested, Can I contribute
Thanks & Regards,
P Venkat Arvind
Python Contributor

[2021-09-14 17:00] Pranav120602 commented on #46
Thank you @adityabisoi, will keep you posted with updates.

[2021-09-14 17:22] adityabisoi commented on #47
@PVenkatArvind Issue already taken. Look out for new issues.

[2021-09-14 17:22] SB2318 commented on #19
I want to work on this topic? can I do this?

[2021-09-14 17:27] HumblePlebeian commented on #44
I am interested to explore and contribute to this topic.
Please assign this issue to me.
Thanks!

[2021-09-14 17:34] NamanManjkhola opened #61 "1.6 Setting up git and connecting Github account to Android Studio."
### Description

1. how set up git in android studio.
2. how to connect your GitHub account to android studio.

[2021-09-14 17:35] NamanManjkhola commented on #61
[@Rohit-2602](https://github.com/Rohit-2602) Can I work on this issue I created?

[2021-09-14 17:47] Rohit-2602 commented on #61
yes sure 😀

[2021-09-14 17:49] PrachiDoshi2170 commented on #43
I would like to be assigned this issue

[2021-09-14 17:55] astelrastogi commented on #41
I want to work on this issue

[2021-09-14 18:06] Anant1711 commented on #44
Okay!
I'm assigning it to you 👍

[2021-09-14 18:07] Anant1711 commented on #43
Okay!
Go for it!👍

[2021-09-14 18:08] Anant1711 commented on #41
Okay
I'm assigning this to you👍

[2021-09-14 18:16] kunal-kumar-chaudhary commented on #31
i had made a python script file where i have all the helper functions that i use to plot the graphs, unzip the data, etc.. can i include that file here?

[2021-09-14 18:27] aaryan078 commented on #56
I would like to be assigned this issue

[2021-09-14 18:30] Rohit-2602 commented on #19
It is already assigned

[2021-09-14 18:35] Debasmita-01 commented on #56
Ok I am assigning you this issue

[2021-09-14 18:40] VikasPandey121 commented on #61
Please keep these steps in mind while creating a pull request:

- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.5 for instance `1.5 Setting up git and connecting Github account to Android Studio`
Note:- If you have multiple files to commit then add a tag at the beginning of your file name like `1.5.1`, `1.5.2` etc
- Create a new b

[2021-09-14 18:42] SB2318 commented on #19
I saw all other issues on android dev with java, these were also be assigned, so for now, what can I do? will there new issues come in this domain?

[2021-09-14 18:45] aaryan078 opened #64 "How ML Models Can Be Built Automatically Using GitHub Actions"
Description :
Explain about GitHub Actions and how ML Models are built automatically using GitHub Actions

[2021-09-14 18:47] VikasPandey121 commented on #59
Please keep these steps in mind while creating a pull request:

- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.5 for instance `1.5 Running your app using virtual device`
Note:- If you have multiple files to commit then add a tag at the beginning of your file name like `1.5.1`, `1.5.2` etc
- Create a new branch and push your PR on

[2021-09-14 18:49] aaryan078 opened #65 "GitHub Actions"
Description
How do GitHub Actions work?

[2021-09-14 18:50] VikasPandey121 commented on #55
Please keep these steps in mind while creating a pull request:

- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.4 for instance `1.4 Configuring Android Virtual Device (AVD)`
Note:- If you have multiple files to commit then add a tag at the beginning of your file name like `1.4.1`, `1.4.2` etc
- Create a new branch and push your PR

[2021-09-14 18:51] VikasPandey121 commented on #36
Please keep these steps in mind while creating a pull request:

- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.3 for instance `1.3 Installing Android Studio`
Note:- If you have multiple files to commit then add a tag at the beginning of your file name like `1.3.1`, `1.3.2` etc
- Create a new branch and push your PR on `Android_De

[2021-09-14 18:52] VikasPandey121 commented on #35
Please keep these steps in mind while creating a pull request:

- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.2 for instance `1.2 Installing Intellij`
Note:- If you have multiple files to commit then add a tag at the beginning of your file name like `1.2.1`, `1.2.2` etc
- Create a new branch and push your PR on `Android_Developm

[2021-09-14 18:54] aaryan078 opened #66 "How to Install and Setup Flutter for App Development"
Description
Give a brief on how to download and install Flutter on a device (Mac, Windows, Linux).

[2021-09-14 18:55] VikasPandey121 commented on #34
Please keep these steps in mind while creating a pull request:

- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.1 for instance `1.1 Installing Java JDK`
Note:- If you have multiple files to commit then add a tag at the beginning of your file name like `1.1.1`, `1.1.2` etc
- Create a new branch and push your PR on `Android_Developm

[2021-09-14 18:56] aaryan078 commented on #66
can I take this

[2021-09-14 18:56] Aryamanz29 commented on #31
Yes sure @kunal-kumar-chaudhary , that's what we want, Feel free to come with creative ideas 😀

[2021-09-14 18:56] anmol20112000 commented on #66
Can i work on this??

[2021-09-14 18:57] VikasPandey121 commented on #19
Please keep these steps in mind while creating a pull request:

- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.0 for instance `1.0 Introduction to Android Studio`
Note:- If you have multiple files to commit then add a tag at the beginning of your file name like `1.0.1`, `1.0.2` etc
- Create a new branch and push your PR on `Andro

[2021-09-14 18:59] anmol20112000 commented on #36
Sir u assigned this work to me..?

[2021-09-14 19:02] VikasPandey121 commented on #19
@SB2318 You can create your own issue, add the tag `Android-Dev-java`  and ask for the assigning it in the chat as right now all the issue has been assigned to others like this issue has been assigned to @Seldcouth .

[2021-09-14 19:02] Debasmita-01 opened #67 "Create a prototype in Figma Part 1"
This documentation series is going to have 5 parts. Part 1 is learning how to create a prototype in Figma . Make two or three meaningful frames and show how to prototype them . Create connections between frames and layers .

[2021-09-14 19:05] SB2318 commented on #19
Okay, Thank You😇, Then please give me few hours.

[2021-09-14 19:07] Debasmita-01 opened #68 "Essential UI/UX screens - Design a home screen"
You can use your own creativity to design the home screen(s) of the apps/websites of your choice. You have to show the steps how you are making it .It can be in the form of video tutorial demo or a documentation .

[2021-09-14 19:09] shubhdholakiya commented on #54
Hello, please reply!

[2021-09-14 19:27] VikasPandey121 commented on #36
Hi @anmol20112000! Sorry for the misunderstanding. This issue has been assigned to @pranjalkalal only, you can work upon any other issue which is still not assigned.
Thanks for understanding.

[2021-09-14 19:44] praveenscience commented on #52
Already done. :)

[2021-09-14 20:36] Baba-Yaga-1 commented on #68
I am a participant of GWOC21. Can I work on this issue ?

[2021-09-14 20:42] paramsiddharth opened #69 "JS: Create a "Hello World" tutorial"
# Create a "Hello World" tutorial
Create a simple Hello World tutorial for JavaScript.

## Directory
[code]

## Description
- The most significant code-block is going to be.
[code]
- Mention how to run the Hello World script in an HTML page
  and where to see the output.
- Mention how to run the same script inside Node.js.
- How can we print to the HTML document instead of the console in
  the web

[2021-09-14 20:44] paramsiddharth opened #70 "JS: Discuss the History of JavaScript"
# Discuss the History of JavaScript
Talk about the historical development of JavaScript

## Directory
[code]

## Description
Refer to the history of the usage of scripting in front-end
and the [Wikipedia](https://en.wikipedia.org/wiki/JavaScript) page
for JavaScript.

## Notes
It is always considered a good practice to cite your sources.
Make sure you do that in your PR.

[2021-09-14 20:49] paramsiddharth opened #71 "JS: Introduce JavaScript's usage in the Web Browser"
# Introduce JavaScript's usage in the Web Browser
Discuss the prevalence of JavaScript as the most dominating
(only) front-end web scripting language and how it can be used
in conjunction with web pages.

## Directory
[code]

## Description
- Talk about the use of the `<script>` tag.
- Discuss how we can connect an external script using the `src` attribute.
- What extension do we use for the scrip

[2021-09-14 20:50] kritika2311 commented on #49
can I work on this.

[2021-09-14 20:54] paramsiddharth opened #72 "JS: Introduce JavaScript's usage in the Command-Line"
# Introduce JavaScript's usage in the Command-Line
Discuss the growing use of JavaScript in the command-line,
for front-end web development using frameworks, back-end
web development using servers and API libraries, and desktop and/or
mobile application development.

## Directory
[code]

## Description
- Talk about standalone JavaScript scripts that run in the command-line.
- Can we use Node.js an

[2021-09-14 20:56] iamayushkr commented on #69
I would like to work on this.

[2021-09-14 20:59] paramsiddharth commented on #69
@iamayushkr Really amazed to see you so active. I'm assigning it to you, and will assign it to several other participants too. After
tomorrow's meeting with the team, you'll have more clarity on how to work on the PR. Till then, I suggest you to go through the
following contribution guideline specifically for our domain while you wait: [Contribution Guideline](https://github.com/girlscript/winter-

[2021-09-14 21:03] paramsiddharth opened #73 "JS: Data Types in JavaScript"
# Data Types in JavaScript
Discuss the built-in data types in JavaScript.

## Directory
[code]

## Description
- Talk about the various data types in JavaScript.
- String, boolean, number, null, undefined, object.
- What is the `BigInt` type?
- How do we know the type of a particular value held in a variable?
  Hint: Using `typeof`.

## Hints
- Here's a lovely article to get you started: [Data Typ

[2021-09-14 21:04] kritika2311 opened #74 "Android: how to store and use images in xml file of android studio."
1. Will describe where to store the image which we have to use for our project.
2. how can we refer the image in our xml file.

[2021-09-14 21:08] kritika2311 commented on #74
@VikasPandey121 can I work on this issue.

[2021-09-14 21:33] VikasPandey121 commented on #74
Please keep these steps in mind while creating a pull request:

- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.7 for instance `1.7 Store and use images in XML`.
Note:- If you have multiple files to commit then add a tag at the beginning of your file name like `1.7.1`, `1.7.2` etc
- Create a new branch and push your PR on `Android

[2021-09-14 21:34] VikasPandey121 commented on #74
Definitely @kritika2311, You are good to go. I am assigning this issue to you.

[2021-09-14 23:49] anmol20112000 commented on #70
Heyy!! I want to work on this... Plzz assign this to me...

[2021-09-14 23:51] anmol20112000 commented on #71
Hey..! I want to work on this.... Please assign this work to me...

[2021-09-14 23:52] anmol20112000 commented on #69
Can i work on this....?

[2021-09-14 23:59] anmol20112000 commented on #73
Hello ... Sir i want to work on this... Please assign this work to me...

[2021-09-15 01:13] AtharvaaPatil commented on #67
I would like to work on this issue.

[2021-09-15 02:08] SB2318 opened #75 "Android-Java: 1.8 Introduction to android manifest file or manifest style structure in android studio"
1. Here I will describe first, how one can find the manifest file in android studio.
2. Role of the manifest file in our development.
3. Give a brief description of some important attributes present in the manifest file, which will help us further in our project.

[2021-09-15 02:09] SB2318 commented on #75
@VikasPandey121  can I work on this issue?

[2021-09-15 02:10] anmol20112000 commented on #75
Can i work on this..?

[2021-09-15 02:20] Shabaquib commented on #54
@Debasmita-01 I'll work on this!!

[2021-09-15 02:42] adityabisoi opened #76 "Python: 1.4 Brief history of python"
### Description :
Give a brief history of python.

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com/girlscrip

[2021-09-15 02:46] adityabisoi opened #77 "Python: 1.4 What is a programming language?"
### Description :
Give an explanation of what is a programming language and its types.

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Gui

[2021-09-15 02:50] adityabisoi opened #78 "Python: 1.6 How to install Python?"
### Description :
Explain how to install python on your OS.

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://github.com

[2021-09-15 02:51] adityabisoi opened #79 "Python: 1.7 What is python interpreter"
### Description :
What is a Python interpreter, and how does it work?

### Note :

- Changes should be made inside the `Python/` directory & `Python` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR.**
-  In the PR, keep this issue's title as your PR's title.

#### Must Follow : [Contributing Guidelines](https://

[2021-09-15 02:55] tejas342 commented on #78
I want t o do this

[2021-09-15 03:11] amitrakshar01 commented on #76
I want to be assigned to this

[2021-09-15 03:30] archismansaha commented on #79
I want to work on this issue

[2021-09-15 03:32] lohith1392 commented on #79
I would like to be assigned this issue
and can u please explain in detail like should we give an explanation about it with corresponding examples or something else.

[2021-09-15 03:33] lohith1392 commented on #78
I would like to be assigned this issue
Peddi sai lohith
python batch-4

[2021-09-15 03:34] lohith1392 commented on #77
I would like to be assigned this issue
Peddi sai lohith
python batch-4

[2021-09-15 03:34] lohith1392 commented on #76
I would like to be assigned this issue
Peddi sai lohith
python batch-4

[2021-09-15 03:35] lohith1392 commented on #48
I would like to be assigned this issue
Peddi sai lohith
python batch-4

[2021-09-15 03:37] naveeramesh commented on #78
I would like to work on this area where I can help with detail explanation of python install using pycharm.

[2021-09-15 03:38] Malvikakaushal2001 commented on #77
My name is Malvika Kaushal
I would like to be assigned with this issue
Python batch-3

[2021-09-15 03:39] naveeramesh commented on #76
I'm willing to contribute by explaining the brief history of python from where it has come and now it's how important.

[2021-09-15 03:39] Malvikakaushal2001 commented on #76
My name is Malvika Kaushal
I would like to be assigned with this issue
Python batch-3

[2021-09-15 03:40] Malvikakaushal2001 commented on #78
My name is Malvika Kaushal
I would like to be assigned with this issue
Python batch-3

[2021-09-15 03:41] Lovepreet1307 opened #80 "Explain the History of free and open-source software (1980 & 1990’s)"

[2021-09-15 03:44] naveeramesh commented on #68
I can work on this issue, Can I ?

[2021-09-15 03:44] Malvikakaushal2001 commented on #80
My name is Malvika Kaushal
I would like to be assigned with this role
Python Batch 3

[2021-09-15 03:45] Godflamejava commented on #64
i will work on this

[2021-09-15 03:47] Godflamejava commented on #65
i will work on this

[2021-09-15 03:47] Malvikakaushal2001 commented on #79
My name is Malvika Kaushal
I would like to be assigned with this issue
Python batch-3

[2021-09-15 03:48] Anant1711 opened #81 "Cybersecurity: 1.9 What is Virtualization ?"
## Description
If we want to do penetration testing then kali Linux is recommended in your system, for running both machines host+virtual (Windows and kali on the same device, when your base operating system is Windows!) we need virtualization.
### Discuss more _**What is Virtualization and the need for virtualization?**_

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made

[2021-09-15 03:51] Anant1711 opened #82 "Cybersecurity: 1.9.1 Types of Virtualization - What is Network Virtualization ?"
## Description
If we want to do penetration testing then kali Linux is recommended in your system, for running both machines host+virtual (Windows and kali on the same device, when your base operating system is Windows!) we need virtualization.
### Explain *What is Network Virtualization ?*

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Security/` dir

[2021-09-15 03:52] msramesh2k1 commented on #77
I would like to contribute in this topic , where I can give my best of explaining what is programming language .

[2021-09-15 03:53] Anant1711 opened #83 "Cybersecurity: 1.9.2 Types of Virtualization - What is Virtual Desktop Infrastructure (VDI) ?"
## Description
If we want to do penetration testing then kali Linux is recommended in your system, for running both machines host+virtual (Windows and kali on the same device, when your base operating system is Windows!) we need virtualization.
### Explain *What is Virtual Desktop Infrastructure (VDI)?*

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_S

[2021-09-15 03:54] Anant1711 opened #84 "Cybersecurity: 1.9.3 Types of Virtualization - What is application virtualization?"
## Description
If we want to do penetration testing then kali Linux is recommended in your system, for running both machines host+virtual (Windows and kali on the same device, when your base operating system is Windows!) we need virtualization.
### Discuss more *What is application virtualization?*

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Changes should be made inside the `Cyber_Securi

[2021-09-15 03:59] IshikaMeghaSaha commented on #83
Hello Anant! I would like to work on this issue.

[2021-09-15 04:00] harmankaler2000 commented on #76
Hi, I would like to contribute to this issue and showcasing a map of python history and how it came to being.
Thanks
Harmandeep Kaur Kaler
Python - batch 4

[2021-09-15 04:01] Anant1711 commented on #83
Okay! I'm assigning you this task!

[2021-09-15 04:01] Kavyaabhishek commented on #84
I'm Kavya, an enthusiastic student and I'm Intrested to work on this issue

[2021-09-15 04:02] harmankaler2000 commented on #79
Hi, I would like to work on this issue and explain what is an interpreter and how it is different than a compiler and what are its benefits and cons.
Thank you!
Harmandeep Kaur Kaler
Python - Batch - 4

[2021-09-15 04:05] Anant1711 commented on #84
okay! I'm assigning you this task!

[2021-09-15 04:07] Aryamanz29 commented on #80
Copy of #20

[2021-09-15 04:07] #80 closed

[2021-09-15 04:12] Asmit2952 commented on #72
Hey I want to work on this!!

[2021-09-15 04:17] Pmair20 commented on #78
I would like to work on this area where I can help with detail explanation of python install using pycharm and vscode.

[2021-09-15 04:19] AtharvaaPatil commented on #81
Can I work on this

[2021-09-15 04:19] VikasPandey121 commented on #75
I have assigned this issue to @SB2318 as she asked for it first. @anmol20112000, please look up any other issue that is not assigned to anyone yet or you can create your own issue depending upon the need of the repository.

[2021-09-15 04:21] VikasPandey121 commented on #75
Please keep these steps in mind while creating a pull request:

- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 1.8 for instance `1.8 Introduction to android manifest file`.
Note:- If you have multiple files to commit then add a tag at the beginning of your file name like `1.8.1`, `1.8.2` etc
- Create a new branch and push your PR o

[2021-09-15 04:29] VikasPandey121 opened #85 "Update README.md"
Your task is to :

- Go through the README.md  of [Android-Dev-Java directory](https://github.com/girlscript/winter-of-contributing/tree/main/Android_Development/Java) and add the [Roadmap of Android Development using Java](https://docs.google.com/document/d/137rcHXwjCMY8rSD06IwtJzAEMS1g4_G8VJEggRwhjGQ/edit?usp=sharing) in README.md file without adding timeline (Weeks that is mentioned in the doc

[2021-09-15 04:31] Debasmita-01 commented on #68
Ok I am assigning you this issue.

[2021-09-15 04:36] Chirag-creator17 commented on #21
how to raise a pr by google colab?

[2021-09-15 04:38] CrypticMuze commented on #79
Hi I would be happy to work on this issue.
Thanks!
Name - Aman Anand

[2021-09-15 04:39] CrypticMuze commented on #78
Hi I would be happy to work on this issue.
Thanks!
Name - Aman Anand

[2021-09-15 04:39] CrypticMuze commented on #77
Hi I would be happy to work on this issue.
Thanks!
Name - Aman Anand

[2021-09-15 04:39] CrypticMuze commented on #76
Hi I would be happy to work on this issue.
Thanks!
Name - Aman Anand

[2021-09-15 04:39] anmol20112000 commented on #73
@paramsiddharth

[2021-09-15 04:40] anmol20112000 commented on #71
@paramsiddharth

[2021-09-15 04:41] anmol20112000 commented on #85
I want to work on this..

[2021-09-15 04:42] iamKushGupta commented on #82
Can this be assigned to me along with 1.9 ??

[2021-09-15 04:43] VikasPandey121 commented on #85
@anmol20112000 great!
You are good to go. 😇

[2021-09-15 04:43] iamKushGupta commented on #81
Can this issue be assigned to me along with 1.9.1, please ??

[2021-09-15 04:44] CodeSavitar commented on #77
I would like to contribute to this issue.
Name : Adhith Sankar
Batch : Python batch-3

[2021-09-15 04:45] Debasmita-01 commented on #54
Hey I gave the description .

[2021-09-15 04:45] Debasmita-01 commented on #54
Okay great I am assigning you.

[2021-09-15 04:46] Yashesvinee commented on #77
Hi! I would like to contribute to this topic
Yashesvinee V(Batch 4)

[2021-09-15 04:47] Anant1711 commented on #81
Yes @AtharvaaPatil you can go with this task!
I'm assigning it to you!

[2021-09-15 04:47] Debasmita-01 commented on #67
Great !You are assigned

[2021-09-15 04:47] CodeSavitar commented on #76
I would like to contribute to this issue.
Name : Adhith Sankar
Batch : Python batch-3

[2021-09-15 04:48] anmol20112000 commented on #85
Ok thanks sir... Can u plzz tell me about deadline of this....?

[2021-09-15 04:49] Anant1711 commented on #81
Hi @iamKushGupta ,
Atharvaa comment first on this issue, so I assigned this task to Atharva, You can check other issues.
Thank you!

[2021-09-15 04:49] Anant1711 commented on #82
Yes, go with it!

[2021-09-15 05:05] Kavyaabhishek commented on #84
Thank you for assigning this work to me.

[2021-09-15 05:08] Debasmita-01 opened #86 "Introduction to Figma Part 1-What is Figma"
In this we need a documentation or a video tutorial showing Figma user interface and tool collection. You can show what each panel, button, and workspace area does. It's an essential first step in learning how to use Figma, so let’s get started.

Note :
Changes should be made inside the UI_UX/ directory & UI_UX branch.
Issue only for GWOC'21 contributors.
Issue will be assigned on a first come fir

[2021-09-15 05:08] Debasmita-01 opened #87 "Introduction to Figma Part 1-What is Figma?"
In this we need a documentation or a video tutorial showing Figma user interface and tool collection. You can show what each panel, button, and workspace area does. It's an essential first step in learning how to use Figma, so let’s get started.

Note :
Changes should be made inside the UI_UX/ directory & UI_UX branch.
Issue only for GWOC'21 contributors.
Issue will be assigned on a first come fir

[2021-09-15 05:09] Asmit2952 commented on #87
@Debasmita-01 Can I work on this?

[2021-09-15 05:09] #86 closed

[2021-09-15 05:10] Debasmita-01 commented on #87
Sure! you are assigned

[2021-09-15 05:16] Debasmita-01 opened #88 "Create a prototype in Figma - Part 2"
This is the second part of  issue #67 . In this we need a documentation on how to create connections in between layers and frames . You can refer to this link but use your own frames and layers .

[Referrences link:](https://help.figma.com/hc/en-us/articles/360040314193-Guide-to-prototyping-in-Figma)

Note :
Changes should be made inside the UI_UX/ directory & UI_UX branch.
Issue only for GWOC'21

[2021-09-15 05:22] sumitmukharjeeeeee commented on #34
All right I am working on it

[2021-09-15 05:26] Debasmita-01 opened #90 "Introduction to Figma - Part 2"
In this we need a documentation or a video tutorial showing the us of the most basic and the most useful tools in Figma: frames, shapes, and text.

Note :
Folder Structure should be UI_UX/Introduction_to_Figma/Part_2  & changes should be made to  UI_UX branch.
Issue only for GWOC'21 contributors.
Issue will be assigned on a first come first serve basis, 1 Issue == 1 PR.
In the PR, keep this issue'

[2021-09-15 05:38] Debasmita-01 opened #91 "Introduction to Figma Part 3 - Vector Networks and Pen Tool"
In this we need a documentation or a video tutorial showing how to work with vector networks and the Pen Tool. A vector network is a unique feature in Figma, and it takes it to the next level using pen tool . Check the below referrences to get an idea.

Referrences:
[link1](https://www.figma.com/blog/introducing-vector-networks/)
[link 2](https://medium.com/@alexharri/the-engineering-behind-figmas

[2021-09-15 05:45] Debasmita-01 opened #93 "Essential UI/UX Screens - Login and Signup Screen"
Continuation of #68 . Design signup and login page.

[2021-09-15 05:49] Baba-Yaga-1 commented on #68
Do I have to make home screen or login and signup screen ?

[2021-09-15 05:50] Anujakumari commented on #78
Hello @adityabisoi
I would like to work on this issue, can I ?
Thankyou !

[2021-09-15 05:51] Anant1711 opened #94 "Cybersecurity: 1.9.4 Setup VirtualBox and Virtual Machine on Windows."
## Description
Show **How to set VirtualBox and Virtual machine in windows** through `screen-recording` and explain every step!

## Note:
- Submission should be in screen-recording format with an explanation.
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security` branch.
- Task will be assigned on first come first serve
- Check it out [Contribution Guidelines](https://g

[2021-09-15 05:54] Anant1711 opened #95 "Cybersecurity 1.9.5 Setup VirtualBox and Virtual Machine on Mac."
## Description
Show **How to set VirtualBox and Virtual machine in mac** through `screen-recording` and explain every step!
..

## Note:
- Submission should be in screen-recording format with an explanation.
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.
- Task will be assigned on first come first serve
- Check it out [Contribution Guidelines](https://gith

[2021-09-15 05:58] vanshhhhh commented on #78
Hello @adityabisoi
I'd like to work on this issue.
Thank you.

Vansh Sharma (Python batch - 3)

[2021-09-15 06:01] Debasmita-01 opened #96 "Essential UI/UX Screens - Calendar Screen"
A detailed documentation or video demo  showing a calendar screen . You can also add one home page. Event apps, to-do list apps, and many others provide users with the personal calendar. Depending on the type of the application, calendar accomplishes certain functions such as reminding or schedule. The visual style should fit the mood and objectives of the mobile app.

You can take some ideas from

[2021-09-15 06:01] Baba-Yaga-1 commented on #93
Can I work on this issue ? I am a participant of GWOC21.

[2021-09-15 06:06] Debasmita-01 commented on #93
Sure Assigned ! Go ahead.

[2021-09-15 06:06] Abhay3008 commented on #29
Hey! I wanted to work on this issue !!

[2021-09-15 06:08] Aryamanz29 commented on #29
Assigning this to you @Abhay3008 , Happy Documenting 🤩

[2021-09-15 06:10] Aryamanz29 commented on #21
If you're not comfortable with google colab then try to submit your work in markdown file

[2021-09-15 06:12] naveeramesh commented on #88
Can I work on this. I am a contributor in GWoC'21

[2021-09-15 06:15] Priya2410 commented on #78
Hello @adityabisoi
I'd like to work on this issue.
Thank you.

Priya Mohata - Python Batch 1

[2021-09-15 06:16] Priya2410 commented on #79
Hello @adityabisoi
I'd like to work on this issue.
Thank you.

Priya Mohata - Batch 1

[2021-09-15 06:17] Debasmita-01 commented on #68
Minimum number is two . You can make more than that also . For example you can make two completely different home screen designs or maybe the same home screen in dark mode or light mode .

[2021-09-15 06:17] saksham0309 commented on #96
Hey, I would like to work on this!

[2021-09-15 06:20] Debasmita-01 commented on #88
Sure ! assigned

[2021-09-15 06:21] Debasmita-01 commented on #96
Yes sure ! assigned.

[2021-09-15 06:30] sandeepkumar00110 commented on #94
Can I work on this? I am a participant of GWOC21.

[2021-09-15 06:34] Sr7-Rastogi commented on #78
I'd like to work on this issue.
Shubh Rastogi
(Python Batch 4)

[2021-09-15 06:36] Sr7-Rastogi commented on #77
I'd like to work on this issue.
Shubh Rastogi
(Python Batch 4)

[2021-09-15 06:36] Sr7-Rastogi commented on #79
Hi, I'd like to work on this issue.
Shubh Rastogi
(Python Batch 4)

[2021-09-15 06:37] Sr7-Rastogi commented on #76
Hi, I'd like to work on this issue.
Shubh Rastogi
(Python Batch 4)

[2021-09-15 06:46] Baba-Yaga-1 commented on #93
Do I need to create a login and signup screen for a single app/website ?

[2021-09-15 06:53] Diksha02 commented on #79
Hi, I'd like to contribute to this in the form of documentation (GWOC'21 Python batch 4)

[2021-09-15 06:54] subhoshreep commented on #76
hi, I would like to add my contribution to this issue
python batch1
subhoshree pattnaik

[2021-09-15 06:54] Diksha02 commented on #76
Hi, I'd like to contribute to this in the form of documentation (GWOC'21 Python batch 4)

[2021-09-15 06:55] Diksha02 commented on #77
Hi, I'd like to contribute to this in the form of documentation (GWOC'21 Python batch 4)

[2021-09-15 06:55] Baba-Yaga-1 commented on #68
Okay.

[2021-09-15 06:56] subhoshreep commented on #77
hi, I would like to add my contribution to this issue
python batch1
subhoshree pattnaik

[2021-09-15 06:56] subhoshreep commented on #78
hi, I would like to add my contribution to this issue
python batch1
subhoshree pattnaik

[2021-09-15 06:57] subhoshreep commented on #79
hi, I would like to add my contribution to this issue
python batch1
subhoshree pattnaik

[2021-09-15 06:57] harmankaler2000 commented on #73
Hi sir I'd like to contribute to this issue and talk about the different data types and why, how they are used.
Thanks
Harmandeep Kaur Kaler FEWD - batch 2

[2021-09-15 06:59] harmankaler2000 commented on #70
Hi! I'd like to contribute to this issue and talk about the map of JavaScript and it's history, How it came into being and why it's used.
Thank you
Harmandeep Kaur Kaler
FEWD - Batch 2

[2021-09-15 07:02] Arjun2905 commented on #49
I would like to work on this issue.

[2021-09-15 07:04] coder284 commented on #71
hello @paramsiddharth ,
i would like to work on this issue

[2021-09-15 07:06] Arjun2905 commented on #49
@Rohit-2602 please assign this issue to me

[2021-09-15 07:10] Rohit-2602 commented on #49
This issue is already assigned to @saigoud25

[2021-09-15 07:27] adityabisoi commented on #79
@archismansaha Since you're the first one to comment, you can start working.

[2021-09-15 07:27] adityabisoi commented on #78
@tejas342 Since you're the first one to comment, you can start working.

[2021-09-15 07:28] adityabisoi commented on #76
@amitrakshar01 Since you're the first one to comment, you can start working.

[2021-09-15 07:29] adityabisoi commented on #77
@lohith1392 Since you're the first one to comment, you can start working.

[2021-09-15 07:30] samruddhikadam commented on #47
Greetings Mentors,
I am interested in contributing to this issue.
Kindly assign it.
Thanks and Regards,
Samruddhi Kadam
Python - Batch 4

[2021-09-15 07:31] samruddhikadam commented on #46
Greetings Mentors,
I am interested in contributing to this issue.
Kindly assign it.
Thanks and Regards,
Samruddhi Kadam
Python - Batch 4

[2021-09-15 08:04] Nafizza commented on #91
I would like to work on this

[2021-09-15 08:06] SwarnaliBhunia commented on #94
I want to do this work

[2021-09-15 08:17] Anant1711 commented on #94
Go with it!

[2021-09-15 08:21] SwarnaliBhunia commented on #94
Thank you

[2021-09-15 09:26] Arjun2905 opened #105 "Android-Java: 9.0 How to work with audio and video files in Android Studio."
Description :
1. How to store audio and video files in your android project inside Android Studio.
2. How you can play your audio and video files within your application.

[2021-09-15 09:28] Arjun2905 commented on #105
@Rohit-2602 Can I start work on this issue ?
I have created this issue.
This is also important to know .

[2021-09-15 10:03] subhoshreep opened #106 "Python 1.8 knowing concept of loop in python"
i wish to contribute on this topic
subhoshree pattnaik
batch 1

[2021-09-15 10:14] KeerthanaPravallika commented on #106
I want to contribute to this issue
Keerthana Pravallika Samudrala
Batch 4

[2021-09-15 10:34] priyanshuc4423 commented on #106
please assign me
Priyanshu
Batch  4

[2021-09-15 10:35] adddya1 commented on #76
I did like to contribute to this in form of video(Python batch 4)

[2021-09-15 10:36] adddya1 commented on #73
I did like to contribute to this issue in form of Video( python batch 4)

[2021-09-15 10:39] adddya1 commented on #37
I would like to contribute on the issue in form of Video

[2021-09-15 10:45] pjdurden opened #109 "DSA 1.1.1 Arrays Introduction( STL, implementation etc)"
## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request for a different task within the same issue.
-

[2021-09-15 10:46] pjdurden opened #110 "DSA 1.1.2 Arrangement, Rearrangement in Arrays (Reversal, rerrange zeros/+ve/-ve)"
## Description
Standard rearrangement problems like reversing, rearrange positive and negative, and move zeros to end.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
-

[2021-09-15 10:47] Debasmita-01 commented on #93
It can be for the same page as well as you can make it for different site too . its upto you.

[2021-09-15 10:47] pjdurden opened #111 "DSA 1.2.1 Asymptotic Analysis (Analysis of Algorithms)"

[2021-09-15 10:48] Debasmita-01 commented on #91
Nice Go ahead. assigned.

[2021-09-15 10:49] adddya1 commented on #71
i want to contribute on this issue in form of video

[2021-09-15 11:05] medhatiwari commented on #39
@Anant1711 Sir I have made the pr, check once and suggest changes (if any)

[2021-09-15 11:05] harmankaler2000 commented on #106
Hey! I would like to contribute to this issue
Harmandeep Kaur Kaler
Python batch - 4

[2021-09-15 11:16] themonikanayak commented on #68
I am a GWOC'21 Contributor. I would like to work on this issue.

[2021-09-15 11:19] deepeshaburse commented on #106
Hey! I would like to contribute to this issue.
Deepesha Burse
DS with Python, Batch 4

[2021-09-15 11:21] themonikanayak opened #113 "DSA: Sorting Algorithms"
Detailed Explanation of Sorting Algorithms in C++.

[2021-09-15 11:22] archismansaha commented on #79
Ohk thanks sir

[2021-09-15 11:26] Asmit2952 commented on #113
Hey, I would like to contribute to this issue.

[2021-09-15 11:27] sitamadex11 commented on #105
@Arjun2905 Bro it little bit advanced topic. We should first cover all basics of android. You can cover it some days later.

[2021-09-15 11:29] Asmit2952 commented on #87
Hey, I have created a PR, can you review it?

[2021-09-15 11:31] themonikanayak commented on #113
Yes, sure go ahead!

[2021-09-15 11:38] themonikanayak opened #114 "DSA: TREE TRAVERSALS"
Explain in detail various tree traversals. Write both approach and code for the same.

[2021-09-15 11:40] Lakshit-Chiranjiv commented on #90
Is this issue only for video contributors??

[2021-09-15 11:43] Kavindra-Mohan-Dwivedi commented on #114
sir i would like to work on this issue

[2021-09-15 11:44] Asmit2952 commented on #113
Can you assign it to me, so that other contributors will also know

[2021-09-15 11:44] srikars-1 commented on #114
I would like to work on this issue

[2021-09-15 11:47] Anant1711 commented on #37
Okay go with it!

[2021-09-15 11:50] shubhdholakiya commented on #24
I will be making a PR by tonight!

[2021-09-15 11:52] NiharikaSngh commented on #110
I wish to resolve this issue.

[2021-09-15 11:53] srikars-1 commented on #114
I would like to work on this issue

[2021-09-15 11:55] srikars-1 commented on #110
I would like to work on this issue

[2021-09-15 12:01] thepranaygupta commented on #114
Hey! I would like to contribute to this issue, I have a [personal repo](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/04.%20Tree) for the same.
Pranay Gupta
DSA batch-4

[2021-09-15 12:03] ShivM03 commented on #114
Hello! I would like to contribute to this issue

[2021-09-15 12:04] rajveer43 commented on #114
i would like to work on this issue
Rajveer Rathod
DSA batch 2

[2021-09-15 12:04] rohiraanjali commented on #88
Can I work on this? I am a contributor in GWoC'21

[2021-09-15 12:09] Yugal41735 commented on #106
I wan to know since it does not have GWOC tag so would it not get counted for GWOC'21 contribution?

[2021-09-15 12:10] Priynshi opened #115 "Android-Java: 1.9 Using Firebase ML kit with Android studio."
1. how to integrate Firebase with Android studio.
2. how to use ML Kit.

[2021-09-15 12:11] Priynshi commented on #115
@VikasPandey121 can I work on this issue?

[2021-09-15 12:16] #106 closed

[2021-09-15 12:18] #115 closed

[2021-09-15 12:23] siddhi-244 commented on #113
Hey can I work on it?

[2021-09-15 12:23] Priyanshirathore opened #116 "Integrating Firebase with Android studio."
1. Detailed steps of integrating firebase to the Android studio, using 2 ways.

[2021-09-15 12:24] Priyanshirathore commented on #116
@VikasPandey121  can I work on this issue?

[2021-09-15 12:26] Pradumnasaraf opened #117 "Android-Java: 2.2 How onclicklistener works and handled in the Android studio."
1) How click is been handled in android.
2) What is OnClickListner and how to use it.
3) Also add a small project to showcase how OnClickListner works.

[2021-09-15 12:26] Priyanshirathore opened #118 "Android Java: 2.0 Using Firebase ML kit with Android Studio"
1. Giving the insight of ML-Kit provided by firebase.
2. Stepwise procedure to install the kit.

[2021-09-15 12:26] Priyanshirathore commented on #118
@VikasPandey121  can I work on this issue?

[2021-09-15 12:32] Pradumnasaraf opened #119 "Android Java: 2.3 Toast In Android Studio"
1) What is Toast.
2) How we can implement them and their working
3) Also add a Small project to show how Toast works.

[2021-09-15 12:34] Pradumnasaraf commented on #117
Sir, @VikasPandey121 can I work on this issue?

[2021-09-15 12:35] Pradumnasaraf commented on #119
Sir, @VikasPandey121 can I work on this issue?

[2021-09-15 12:35] siddhi-244 opened #120 "OpenSource : 3.3 Introduction to open source software and examples to few open source softwares"
Please assign this to me.

[2021-09-15 12:36] Priyanshirathore opened #121 "Android Java: 2.4 Layouts in Android development"
@VikasPandey121  can I work on this issue?

[2021-09-15 12:36] Mitali-13 commented on #76
Hi . I would like to contribute here .
open source-batch 3

[2021-09-15 12:36] adddya1 commented on #37
After making the the required video, how should I upload it on the
concerned repository.
I am in my freshman year and therby completely new to Open Source
contribution. I will be grateful if you could guide me through this.

Regards,

On Wed, Sep 15, 2021, 5:17 PM Anant chauhan ***@***.***>
wrote:

[2021-09-15 12:40] adityaraj079 commented on #109
Hey I would like to work on this issue.

[2021-09-15 12:42] jaissumi1402 commented on #66
can you assign this work to me?

[2021-09-15 12:45] Ambujbhaskar-iiitd commented on #90
Hello, can i contribute a video on this? and how much can be the length of the video? I have prepared a basic outline of the things i will explain in the video:

Frames - how to create, types(templates)
Frame attributes:
- x, y
- W, h
- angle, corner curve
- edge count
- color, opacity

* Hold shift to draw regular shapes/frames
* Shapes/frames' proportion can be locked

Shapes - how to create, ty

[2021-09-15 12:46] AJgthb2002 commented on #111
Please assign this issue to me. I'd like to create a tutorial on this topic

[2021-09-15 12:47] Sneha-0308 commented on #109
Hey, I would like to work on this!

[2021-09-15 12:47] Ambujbhaskar commented on #90
Hello, can i contribute a video on this? and how much can be the length of the video? I have prepared a basic outline of the things i will explain in the video:

Frames - how to create, types(templates)
Frame attributes:
- x, y
- W, h
- angle, corner curve
- edge count
- color, opacity

Related:
* Hold shift to draw regular shapes/frames
* Shapes/frames' proportion can be locked

Shapes - how to c

[2021-09-15 12:58] saloni33 opened #122 "Android Java: 8.0 Notifications"
What would I include?
1. What is a notification and its types.
2. How to create notifications with working code.

[2021-09-15 12:58] saloni33 commented on #122
@VikasPandey121  can I work on this issue?

[2021-09-15 13:07] paramsiddharth commented on #70
@harmankaler2000 Glad to see you willing to contribute! Could you please confirm from the administration if
FEWD contributors are eligible to contribute to JavaScript too? If yes, I'll be happy to consider your PR. Meanwhile
I'll assign you the issue.

[2021-09-15 13:09] paramsiddharth commented on #73
@adddya1 Glad to see you willing to contribute! Could you please confirm from the administration if
Python contributors are eligible to contribute to JavaScript too? If yes, I'll be happy to consider your PR. Meanwhile
I'll assign you the issue.

[2021-09-15 13:15] Akshat-2002-coder commented on #120
sir can u plz assign this to me?
I want to work on it.

[2021-09-15 13:17] Akshat-2002-coder commented on #110
i would like to work on it.

[2021-09-15 13:17] adddya1 commented on #73
Thank You Sir, for considering me. I am in my freshman year and thereby completely new to the concept of open source contribution. Could you please guide me how to proceed after making the concerned video.

[2021-09-15 13:19] paramsiddharth commented on #73
Are you able to access the `JavaScript#general` channel in Discord? If yes, hit me up there. We'll see you in today's meeting and  discuss.

[2021-09-15 13:19] shubhdholakiya commented on #95
Can I work on this issue? Please assign this to me!

[2021-09-15 13:22] Anant1711 commented on #95
Okay!
I'm assigning this task to you!

[2021-09-15 13:27] Anant1711 commented on #37
You can record your video and upload it on `youtube` , `Google Drive` , or any platform (Which should be public).
and then share your link by making PR in `cyber_security/` branch and `Cyber_security/Week:1` directory
We will add our content Week-wise, so take care of it that you are requesting in the correct subfolder of Cyber_security.

[2021-09-15 13:27] Asmit2952 commented on #113
Can you please provide the folder structure

[2021-09-15 13:29] priyanshu688 commented on #119
@VikasPandey121 Sir Can I work on this??

[2021-09-15 13:29] mandeep168 commented on #114
I would like to work on this.
Mandeep Kaur
DSA batch 5

[2021-09-15 13:30] shivasaiutkar commented on #114
i would like to contribute on this
shivasai utkar
dsa batch 5

[2021-09-15 13:30] priyanshu688 commented on #110
@VikasPandey121 Sir can I work on this issue??

[2021-09-15 13:32] priyanshu688 commented on #49
I would like to work on this..

[2021-09-15 13:33] shivasaiutkar commented on #113
i would like to contribute on this
dsa batch 5
shivasai utkar

[2021-09-15 13:35] priyanshu688 commented on #19
Please assign this to me @VikasPandey121

[2021-09-15 13:36] Vedika-Agrawal commented on #109
@pjdurden sir, Please assign this issue to me, I would like to work on this issue under GWOC.

[2021-09-15 13:37] mandeep168 commented on #113
I would like to work on this.
Mandeep Kaur
dsa-batch-5

[2021-09-15 13:38] mansisingh2803 commented on #113
Hey I would like to work on this . Please assign it to me

[2021-09-15 13:38] sitamadex11 opened #123 "Android-Java: 2.4 Overview of JVM, DVM, ART, JIT, AOT"
## Description :
* What is Virtual Machine?
* Give some overview of JVM, DVM, ART, JIT, AOT
* JVM vs DVM
* Why Android OS used DVM instead of JVM?
* Why Android depreciated DVM and started to use ART?
* DVM vs ART
* Why Android Reintroducing JIT with ART
* JIT vs AOT

## References :

* Changes should be made in **Android_Development/Java/** directory under **Android_Development_With_Java** branch

[2021-09-15 13:39] Vedika-Agrawal commented on #113
@themonikanayak, Please assign this issue to me, I would like to work on this issue under GWOC.

[2021-09-15 13:39] mansisingh2803 commented on #109
Hey I would like to work on this . Please assign me this issue

[2021-09-15 13:41] sirilalithaadapa commented on #76
hi, I would like to add my contribution to this issue
python batch1
sirilalitha

[2021-09-15 13:42] mandeep168 commented on #111
Can I work on this?
Mandeep Kaur
dsa-batch-5

[2021-09-15 13:44] prithwishpramanik commented on #94
sir I also want to do this work

[2021-09-15 13:47] Arjun2905 opened #124 "Android-Java : 1.9 Updating IDE and Essential SDK Tools"
Description :
1. How to update Android Studio step by step.
2. Updating SDK and other important tools.

[2021-09-15 13:48] Anant1711 commented on #94
Sorry, @prithwishpramanik
This is only for Video format and it is assigned to Swarnali already!
If she will not able to do this task only then I can pass this task to someone else.
You can check other issues also!

[2021-09-15 13:48] Arjun2905 commented on #124
@VikasPandey121 should I work on this issue ?
I created this issue.
As a beginner you need to know it exactly.

[2021-09-15 13:50] mansisingh2803 commented on #113
Please assign this issue to me, I would like to work on this issue under
GWOC.

—

On Wed, Sep 15, 2021, 7:09 PM Vedika Agrawal ***@***.***>
wrote:

[2021-09-15 13:59] anisha-01-phoenix opened #126 "Android Java: 2.1 Use of Material Designs in UI"
In this, I will be describing on how we can use material designs to enhance our App UI and make it user-friendly.
The various material designs include:
 * FloatingActionButton
 * SnackBar
 * Bottom Sheets
 * Navigation Drawer
 * Bottom Navigation

We will also be describing on how to make simple XML Views like Edit Text and Button more user professional to view with the help of material designs.

[2021-09-15 13:59] anisha-01-phoenix commented on #126
@VikasPandey121 can I work on this issue?

[2021-09-15 14:00] LegendSumeet opened #127 "Android 2.6: Databases Management"
The way to store data through Android’s built-in support for using SQL to interact with a SQLite databases

[2021-09-15 14:00] preeti-14-7 commented on #113
I would like to contribute to this topic as I have a clear concept of all sorting algorithms.
dsa batch 3
Preeti Kumari Yadav

[2021-09-15 14:02] vishvarana commented on #113
I would like to work on this if given a chance.
Please assign this to me. @themonikanayak

[2021-09-15 14:05] saurav3232 commented on #77
hi, I am saurav kumar I would like to add my contribution to this issue in form of documentation
python batch-5

[2021-09-15 14:07] harmankaler2000 commented on #73
Thank you so much sir! I am not able to see the Javascript channel. I am part of the python, c/c++ and Front end development batch. I thought I could contribute to Javascript as part of Front end but if it is against the protocol, That's fine as well! Thank you again!

[2021-09-15 14:07] saurav3232 commented on #76
hi, I would like to add my contribution to this issue
python batch-5
saurav kumar

[2021-09-15 14:10] harmankaler2000 commented on #70
Yes sir, I'll ask the administrators if I am eligible to take part in JavaScript under FEWD.

[2021-09-15 14:11] atarax665 opened #130 "Competitive Programming : Typo in README.md"
In file - https://github.com/girlscript/winter-of-contributing/blob/Competitive_Programming/README.md
Change 'aims' to 'aim' as it was grammatically incorrect.

[2021-09-15 14:12] #130 closed

[2021-09-15 14:19] Anna-cod commented on #77
Hi i am Noor ul Huda from Python batch 4, Looking to contribute to this issue.

[2021-09-15 14:21] harshithapasupuleti commented on #114
I would like to work on this issue
Pasupuleti Harshitha
DSA batch  5

[2021-09-15 14:21] Anna-cod commented on #79
Hi i am Noor ul Huda from Python batch 4, Looking to contribute to this issue.

[2021-09-15 14:22] ananyaagrawal23 commented on #109
Hey! I would like to work on this. Please assign this issue to me.

[2021-09-15 14:23] nik09877 commented on #113
I would like to work on this issue.
Nikhil Kumar Mishra
DSA Batch-3

[2021-09-15 14:23] prithwishpramanik commented on #94
ok sir, will we be able to contribute to the same issue if it is in documentation format only?

[2021-09-15 14:24] codermanisha commented on #114
I would like to contribute on this issue.
MANISHA KUMARI

[2021-09-15 14:26] Anant1711 commented on #94
Yeah, more than one contributors work on the same issue if the submission format is different! But in this case, it is only for Video.

[2021-09-15 14:31] ViAsmit opened #132 "Flutter: What is Flutter?"
A README file to understand what is Flutter.

The reference you may take:

Flutter Docs: https://flutter.dev/
https://github.com/dwyl/learn-flutter

https://github.com/Asabeneh/30-Days-Of-JavaScript/blob/master/04_Day_Conditionals/04_day_conditionals.md
(This is JS repository, ours should also look like this only)

[2021-09-15 14:31] adddya1 commented on #73
No sir, I am not able to access the 'JavaScript#general' channel in Discord. Although I am part of Front end devlopment batch, i thought i could contribute to Javascript but probably it is against the protocol. It is fine completely. Thank You.

[2021-09-15 14:32] harmankaler2000 commented on #70
@paramsiddharth Sir, I talked to my supervisor, he clarified that it is a different domain than FEWD. so I am not eligible under GWOC to contribute to it.

[2021-09-15 14:34] ViAsmit opened #133 "Flutter: Why to use Flutter."
A README file to understand.
1. Why to use flutter.
2.  Why to use it over traditional android and ios development,
3. How it reduces code
4. Which language it uses

The reference you may take:

Flutter Docs: https://flutter.dev/
https://github.com/dwyl/learn-flutter

[2021-09-15 14:34] ViAsmit opened #134 "Flutter: Why to use Flutter?"
A README file to understand.
1. Why to use flutter.
2.  Why to use it over traditional android and ios development,
3. How it reduces code
4. Which language it uses

The reference you may take:

Flutter Docs: https://flutter.dev/
https://github.com/dwyl/learn-flutter

https://github.com/Asabeneh/30-Days-Of-JavaScript/blob/master/04_Day_Conditionals/04_day_conditionals.md
(This is JS repository, ou

[2021-09-15 14:34] naveeramesh commented on #132
Can I work on this issue.I'm a contributor on GWoC'21

[2021-09-15 14:35] #133 closed

[2021-09-15 14:37] ViAsmit opened #135 "Flutter: Flutter Introduction - Video"
A video to introduce flutter to the users, covering the topics mentioned in issue #132 #134

References:
Flutter Docs: https://flutter.dev/
https://github.com/dwyl/learn-flutter

[2021-09-15 14:37] msramesh2k1 commented on #134
Can I work on this,I'm contributor in GWoC'21

[2021-09-15 14:37] Debasmita-01 commented on #90
If you want you can create a documentation .

[2021-09-15 14:38] adddya1 commented on #37
Thank You, for throwing light on the issue. However, I want to know how to make PR. If you could help me regarding it, it would be really helpful. Thank You!

[2021-09-15 14:38] Debasmita-01 commented on #90
Awesome !!  dont make it two long I think <=10-15 mins will be good

[2021-09-15 14:40] Debasmita-01 commented on #88
Yeah . Better if u can work on a video tutorial

[2021-09-15 14:41] Debasmita-01 commented on #88
Yeah ! better if u can work on a video tutorial

[2021-09-15 14:42] SurabhiMishra commented on #132
Can I be assigned this issue?

[2021-09-15 14:45] ViAsmit opened #136 "Flutter: Introduction to Dart"
A README file to understand dart programming language.

It should cover all the basics and some advanced topics of DART, and maybe sections can be divided into several contributors.

Those who want to contribute can comment the topics they would like to cover.

Topics to cover:
1. Dart Variables
2. Dart Data Types
3. Dart Functions
4. Dart Arrow Function
5. Dart Lists
6. Dart Conditionals
7. Dart

[2021-09-15 14:46] anmol20112000 commented on #85
@VikasPandey121 in Your task section ... When i am clicking on android-dev-java-directory....it is showing error..."""404 this is not the webpage ur looking for"""

[2021-09-15 14:46] SurabhiMishra commented on #134
Can I please work on this.

[2021-09-15 14:48] SurabhiMishra commented on #134
Can I please work on this.

[2021-09-15 14:49] ViAsmit commented on #132
@SurabhiMishra Assigned you another topic

[2021-09-15 14:50] ViAsmit opened #137 "Flutter: Introduction to DART - Video"
A video to understand dart programming language.
(It should cover live implementation of topics)

It should cover all the basics and some advanced topics of DART, and maybe sections can be divided into several contributors.

Those who want to contribute can comment on the topics they would like to cover in thier video.

Topics to cover:
1. Dart Variables
2. Dart Data Types
3. Dart Functions
4. Dar

[2021-09-15 14:50] sharia-farooqui commented on #67
Can I work on this issue as well? @Debasmita-01

[2021-09-15 14:51] ViAsmit commented on #134
@msramesh2k1 can you take issue #136

[2021-09-15 14:52] Rijudas149 commented on #69
Sir can I work on this???

[2021-09-15 14:52] sitamadex11 opened #138 "Android-Java: 2.6 Overview of Android"
## Description :
* What is android?
* History of android
* Advantage and feature of android
* What is the Android API level?
* Why do we need to learn android in 2021?

## References :

* Changes should be made in **Android_Development/Java/** directory under **Android_Development_With_Java** branch.
* You have to push your PR to the **Android_Development_With_Java** branch only.
* You can take he

[2021-09-15 14:53] Rijudas149 commented on #72
@paramsiddharth sir I want to work on this

[2021-09-15 14:54] msramesh2k1 commented on #134
Sure

[2021-09-15 14:56] msramesh2k1 commented on #136
Can I work on this.

[2021-09-15 14:58] micepram opened #139 "DS-R: 1.1.DOC History - History of R Language"
<hr>

## Description 📜

In this issue, you need to work on the documentation efforts in the "History" section under the "History of R language" subsection. Please ensure that you document in detail.

<hr>

## Domain of Contribution 📊

- [x] Datascience with R

<hr>

## Instructions ✔

* Kindly make a README going over the subtopic.
* Changes should be made under **Datascience_With_R** branch only

[2021-09-15 15:00] micepram opened #140 "DS-R: 1.2 History of Data Science"
## Description :
* History of Data Science

## References :

* Changes should be made in **DS-R/** directory under **Datascience_With_R** branch.
* You have to push your PR to the **Datascience_With_R** branch only.
* You can take help to the references but don't simply try to copy it. Just explain in your own word.
* This issue is for **GWOC'21** contributors only.
* You need to push in a single

[2021-09-15 15:01] Subhradeep10 commented on #109
@Akshat-2002-coder Go for it. Assigned to you

[2021-09-15 15:02] micepram opened #141 "DS-R: 1.3 Roots of Data Science with R"
## Description :
* Roots of Data Science with R

## References :

* Changes should be made in **DS-R/** directory under **Datascience_With_R** branch.
* You have to push your PR to the **Datascience_With_R** branch only.
* You can take help to the references but don't simply try to copy it. Just explain in your own word.
* This issue is for **GWOC'21** contributors only.
* You need to push in a si

[2021-09-15 15:02] Subhradeep10 commented on #111
@AJgthb2002 Go for it. Assigned to you

[2021-09-15 15:05] micepram opened #142 "DS-R: 1.X Video"
## Description :
This issue for making a video covering all the topics under DS-R 1.X mentioned below.
* History of R language
* History of Data Science
* Roots of Data Science with R

## References :

* Kindly make the video and attach the link in a text/markdown file going over the 1.X topics.
* Changes should be made in **DS-R/** directory under **Datascience_With_R** branch.
* You have to push

[2021-09-15 15:06] aaryan078 commented on #140
Hey, I would like to work on this issue.

[2021-09-15 15:08] ViAsmit commented on #136
@msramesh2k1  Please tell me which topics you will be covering?
So that others can also take some topics in it

[2021-09-15 15:08] micepram commented on #140
Alright, I'll assign you here. All the best!

[2021-09-15 15:09] monotion25 commented on #69
I want to work on this

[2021-09-15 15:09] Akshat-2002-coder commented on #109
thanks for assigning this to me .
can u plz guide me how to proceed further as I am a beginner to open source

[2021-09-15 15:10] monotion25 commented on #73
I want to work on this.

[2021-09-15 15:11] msramesh2k1 commented on #136
I can work on first 5 topics. @ViAsmit

[2021-09-15 15:13] ViAsmit commented on #136
Ohk cool. Please see the JS Repository, I mentioned in the reference for folder structure and how to design README file.

[2021-09-15 15:13] adityaraj079 commented on #136
@ViAsmit you can assign me the rest topics.

[2021-09-15 15:14] sitamadex11 opened #143 "Android-Java: 2.8 Overview of Android Architecture"
## Description :
**Give an overview of the main components of the android architecture are following**:-
* Applications
* Application Framework
* Android Runtime
* Platform Libraries
* Linux Kernel

## References :

* Changes should be made in **Android_Development/Java/** directory under **Android_Development_With_Java** branch.
* You have to push your PR to the **Android_Development_With_Java**

[2021-09-15 15:16] Anant1711 commented on #37
go to the cyber_security branch and then in the cyber_security directory, there you will find the subfolder week-wise.
Add there your submission and commit.
You can check out some youtube tutorials too!

[2021-09-15 15:19] priyanshu688 commented on #138
I wanted to work on it..@VikasPandey121

[2021-09-15 15:21] priyanshu688 commented on #119
Can I work on this issue @VikasPandey121

[2021-09-15 15:22] priyanshu688 commented on #69
Sir Can I work on this? @VikasPandey121

[2021-09-15 15:23] Anant1711 opened #144 "Cybersecurity: 1.9.6 CIA triad."
## Description
### Explain CIA (Confidentiality, Integrity, Availability) triad in detail.

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with **Diagrams**.
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on **first come first serve**
- Check it out [Contribution Guidelines](https://github.com/girlscript/winter

[2021-09-15 15:26] Priyanshirathore commented on #143
Can I work on it @VikasPandey121 sir?

[2021-09-15 15:27] priyanshu688 commented on #122
Can I work on this issue?

[2021-09-15 15:27] adddya1 commented on #37
Initially fork the girlsscript winter of contributing repository, clone the
repository, create a new branch named ' cyber security', add the drive link
into the branch and save it. Further,add the changes to branch created,and
then commit those changes , push the changes to GitHub by identifying the
remote's name and finally create the pull request.
Is  this the hierarchy to be followed while maki

[2021-09-15 15:30] priyanshu688 commented on #121
Can I work on this issue @VikasPandey121

[2021-09-15 15:31] sitamadex11 opened #146 "Android-Java: 2.9 Overview of Android-Application Components"
## Description :
**Give an overview of the main components of the Android-Application**:-
* Activities
* Services
* Broadcast Receiver
* Content Providers

## References :

* Changes should be made in **Android_Development/Java/** directory under **Android_Development_With_Java** branch.
* You have to push your PR to the **Android_Development_With_Java** branch only.
* You can take help to the ref

[2021-09-15 15:34] Anant1711 commented on #37
Yeah!
But you don't need to make any branch, branches already created

[2021-09-15 15:39] sitamadex11 opened #147 "Android-Java: 3.0 overview of Android-Resources file (res)"
## Description :
**Give an overview of the Android-Resource file (res)**:-

## References :

* Changes should be made in **Android_Development/Java/** directory under **Android_Development_With_Java** branch.
* You have to push your PR to the **Android_Development_With_Java** branch only.
* You can take help to the references but don't simply try to copy it. Just explain in your own word.
* This i

[2021-09-15 15:40] sitamadex11 commented on #143
@Priyanshirathore ya sure, you can go for it.

[2021-09-15 15:41] Akanksha-Verma31 commented on #76
Hi, I'm Akanksha Verma from batch-5, I would like to contribute to this issue as I could contribute in any(even in all too) of the mediums:
- documentation
- audio/video
- presentation

[2021-09-15 15:41] sitamadex11 commented on #138
@priyanshu688 ya sure you can go for it

[2021-09-15 15:43] poorvaa18 commented on #73
hello sir! I would love to make a contribution to this issue!

[2021-09-15 15:43] Subhradeep10 commented on #109
@Akshat-2002-coder Well contruibuting is easy I will say that later or you can talk about that in Discord also, First say do you have prerequisite knowledge on Array (Arrays Introduction( STL, implementation etc)?

- If No, First read about the Arrays from GFG or W3Schools and gain proper knowledge in it.

- If Yes, Go and prepare a Documentation on Readme (.md) extension.Basic Introduction about

[2021-09-15 15:44] Parth-139 commented on #56
I would like to work on this issue

[2021-09-15 15:46] Parth-139 commented on #87
Can I work on this issue?

[2021-09-15 15:48] Akshat-2002-coder commented on #109
yes I have prerequisite knowledge on array.
thx for guiding me

[2021-09-15 15:49] Anant1711 opened #148 "Cybersecurity: 1.9.7 Types of Hackers."
## Description
### Discuss 8 Types of Hackers:

 - White Hat Hackers.
 - Black Hat Hackers.
 - Gray Hat Hackers.
 - Script Kiddies.
 - Green Hat Hackers.
 - Blue Hat Hackers.
 - Red Hat Hackers.
 - State/Nation Sponsored Hackers.

## Note:
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with Diagrams
- Changes should be made inside the `Cyber_Security/` directory & Cyber_Security branch.

[2021-09-15 15:49] Yugal41735 commented on #146
I can work on this.

[2021-09-15 15:52] ajaykathwate commented on #113
Heyy
I would like to work on it
can you assign it to me?

[2021-09-15 15:52] sitamadex11 opened #149 "Android-Java : 3.1 Overview of Gradle for Android-Studio"
## Description :
**Give an overview of Gradle for Android-Studio**:-
(**Some key points**)
* What is Gradle?
* short intro of two build.gradle file (application level and project level)

## References :

* Changes should be made in **Android_Development/Java/** directory under **Android_Development_With_Java** branch.
* You have to push your PR to the **Android_Development_With_Java** branch only.

[2021-09-15 15:53] I-Infinatoo commented on #144
Can I do this ?

[2021-09-15 15:53] I-ArchanaDash commented on #77
Hello , I'm Archana Dash, I would like to contribute to this issue in the form of Audio.

[2021-09-15 15:53] sitamadex11 commented on #146
@Yugal41735 ya, you can go for this.

[2021-09-15 15:54] priyanshu688 commented on #138
@sitamadex11 ok ..thank you....can you please guide me with the further step ...as I am new to open source

[2021-09-15 15:54] Anant1711 commented on #144
Sure!
I'm assigning this task to you!

[2021-09-15 15:56] ajaykathwate commented on #26
Heyy
I would like to contribute to this issue
can you assign it to me?

[2021-09-15 15:57] I-ArchanaDash commented on #76
Hi , I'm Archana Dash from python batch-4 ,I would like to contribute to this issue in the form of Audio/documentation.

[2021-09-15 16:03] subhendudash02 commented on #71
Hi @paramsiddharth! I would like to contribute on this issue in the form of the documentation.
Thank you!

[2021-09-15 16:03] itika1 commented on #69
Sir I want to work on this.

[2021-09-15 16:06] itika1 commented on #78
Sir I want to work on this
Itika Sarkar Python Batch 4

[2021-09-15 16:11] jaissumi1402 commented on #132
can I work on this?

[2021-09-15 16:12] sunny7898 commented on #137
I am interested in this. I can cover the explanation part, but will i have to handle the video editing as well.?

[2021-09-15 16:13] jaissumi1402 commented on #136
@ViAsmit can you please assign me any work. I want to contribute

[2021-09-15 16:13] Yugal41735 commented on #149
you can assign me this issue

[2021-09-15 16:15] Vedika-Agrawal commented on #114
Please assign this issue to me, I would like to work on this issue under GWOC.

[2021-09-15 16:16] #38 closed

[2021-09-15 16:16] adddya1 commented on #37
I did had made the concerned video , however I am not able to figure out
how to make PR. How should I proceed further?

On Wed, Sep 15, 2021, 9:04 PM Anant chauhan ***@***.***>
wrote:

[2021-09-15 16:17] jaissumi1402 commented on #114
Can you please assign me this work?

[2021-09-15 16:18] ankitjha2711 commented on #148
Sir, i want to do this work

[2021-09-15 16:18] 0shivamh commented on #148
I would like to work on this

[2021-09-15 16:18] sushovanb02 commented on #70
@paramsiddharth sir, I want to work on this issue. It would be really nice to present the history of JavaScript. Looking forward for an exciting journey...
Sushovan Banerjee
JavaScript batch-3

[2021-09-15 16:22] Anant1711 commented on #148
How you will contribute? In documentation or in Video format?

[2021-09-15 16:22] jaissumi1402 commented on #109
@pjdurden sir, Please assign this issue to me, I would like to work on this issue

[2021-09-15 16:23] jaissumi1402 commented on #110
Please assign this issue to me, I would like to work on this issue under GWOC

[2021-09-15 16:23] jaissumi1402 commented on #113
Please assign this issue to me, I would like to work on this issue under GWOC

[2021-09-15 16:24] anjanaaaaaaaa commented on #148
can i take this in documentation

[2021-09-15 16:26] Anant1711 commented on #37
IDK! How I can explain you now!
But I can conduct an informal meet with you, this is what I can do!
Discord handle: `infinity_#9175` Ping me there I'll send you meeting details!

[2021-09-15 16:29] AdityaChaudhary18 commented on #66
Can I work on this?

[2021-09-15 16:29] Subhradeep10 commented on #110
@jaissumi1402 Already assign to someone else. Don't Worry many issue will come up

[2021-09-15 16:35] ankitjha2711 commented on #148
Video sir, but if u want it in documentation, that will be also fine for me.

[2021-09-15 16:35] RAMAN-7873 commented on #87
Can I contribute my skills on this issue?

[2021-09-15 16:40] Manmeet2607 commented on #148
sir please assign me this issue i would contribute in both image and documentation form

[2021-09-15 16:40] Anant1711 commented on #148
Okay! I'm assigning this task to you for video submission!

[2021-09-15 16:41] jaissumi1402 commented on #110
@Subhradeep10 okay sir

[2021-09-15 16:43] Manmeet2607 commented on #147
sir i would like to work on this issue plz assign it to me.

[2021-09-15 16:45] Anant1711 commented on #148
@Manmeet2607
For documentation already Anjana comment! Even after that, I have to ask another person also, So no chance for this issue until and unless they all are unable to submit their work on time!
Hope you understand!

[2021-09-15 16:47] RAMAN-7873 commented on #68
I am willing to contribute on this issue ,Can I?

[2021-09-15 16:47] Anant1711 commented on #148
@anjanaaaaaaaa You want to submit in documentation form, but before your comment, @0shivamh also commented!

so @0shivamh would you like to work with documentation?
or I'll pass it to @anjanaaaaaaaa?

[2021-09-15 16:48] AtharvaaPatil commented on #67
Cool I'm working on the doc

[2021-09-15 16:49] RAMAN-7873 commented on #93
Can I contribute on this issue if possible?

[2021-09-15 16:51] anjanaaaaaaaa commented on #148
I'll take some other issue

[2021-09-15 16:53] sunny7898 commented on #137
I am interested in topics from 1 - 4.

[2021-09-15 16:54] 0shivamh commented on #148
@Anant1711 , Yes I would like to work on doc.

[2021-09-15 16:55] saniya44 commented on #79
Hi,
I'd like to work on this issue.
Thank you.
Inamdar Saniya - Batch 13

[2021-09-15 16:56] Anant1711 opened #150 "Cybersecurity: 1.9.8 Introduction to IT Act 2000."
## Description
The Information Technology Act, 2000 serves as the de facto framework for digital governance in India.
### Discuss more Information Technology Act, 2000!

## Note:
- If interested, mention in which format you want to contribute either in `Documentation` or in `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with **Diagrams**
- Changes should be made inside the `Cybe

[2021-09-15 17:01] Anant1711 opened #151 "Cybersecurity: 1.9.9 Limitations of Indian IT Act, 2000"
## Description
The Information Technology Act, 2000 serves as the de facto framework for digital governance in India. It has its limitation also.
### Discuss some limitations of IT Act, 2000.

## Note:
 - If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with Diagrams
- Changes should be made inside t

[2021-09-15 17:04] kar-cloud commented on #151
i want to contribute on this in documentation form

[2021-09-15 17:04] prithwishpramanik commented on #150
sir, i want to do this work the documentation part

[2021-09-15 17:04] Anant1711 commented on #148
Okay!
I'm assigning this task to you for `Documentation`

[2021-09-15 17:06] anjanaaaaaaaa commented on #150
I can do it in video format

[2021-09-15 17:06] Anant1711 commented on #150
Okay!
I'm assigning this task to you for `Documentation`!

[2021-09-15 17:06] Anant1711 commented on #150
okay!
Assigned for `Video` submission!

[2021-09-15 17:07] Anant1711 commented on #151
Okay!
Assigned for `Documentation`!

[2021-09-15 17:15] cookieg13 commented on #114
I would really love to contribute on this issue! Can you please assign me this work?

[2021-09-15 17:15] ViAsmit commented on #136
@jaissumi1402 Sorry for the inconvenience. Wait for some time, we are having a meet with mentors soon. Once done, the work will be divided equally among yourself, and anyone won't have to rush for contribution.

till then - you can work on the remaining topics of issue #137

[2021-09-15 17:16] cookieg13 commented on #109
I would really love to contribute on this issue! I have all the pre requisite knowledge for Arrays. Can you please assign me this work?

[2021-09-15 17:17] Aryamanz29 commented on #26
@ajaykathwate  This issue was already been assigned to @developer-metalhead  and he already has made PR, We'll create more issues in a couple of days.
Thanks

[2021-09-15 17:18] jaissumi1402 commented on #136
@ViAsmit okay sure I will wait. I want to contribute in documentation form.

[2021-09-15 17:19] Akshat-2002-coder commented on #109
I have already  started preparing documentation on it🙂.

[2021-09-15 17:29] cookieg13 commented on #113
Hi sir! I would really love to work on this issue and I also have in depth knowledge about sorting algorithms. I am Debarati Ghatak from DSA Batch 3. Please assign it to me.

[2021-09-15 17:31] cookieg13 commented on #109
Oh alright, I didnt read the previous comments, all the best!

[2021-09-15 17:32] saloni33 commented on #121
Can I work on this issue @VikasPandey121

[2021-09-15 17:35] sakkshm26 commented on #111
Hey, can I work on this issue?

[2021-09-15 17:39] ViAsmit opened #152 "Flutter: Exercises for Intro_To_Dart"
Edit the exercise.md file present inside Flutter/Intrduction_To_Dart, to add questions related to dart programming, along with thier solution.

Reference: https://github.com/Asabeneh/30-Days-Of-JavaScript/blob/master/04_Day_Conditionals/04_day_conditionals.md#exercises-level-1

Anyone can do contribution, I am not assigning to anyone but comment before working on which topic you will be adding the

[2021-09-15 17:41] anmol20112000 commented on #121
Plzz assign this work to me....i want to do this @VikasPandey121

[2021-09-15 17:44] ViAsmit opened #153 "Flutter: NULL Safety"
README file to understand NULL Safety feature of DART(Only Basic)

Reference:
https://dart.dev/

[2021-09-15 17:45] rkadam61001 commented on #114
i would like to contribute (DSA batch-1)

[2021-09-15 17:45] #39 closed

[2021-09-15 17:47] rithish26 commented on #137
i am intrested in contributing for topics 5 -8

[2021-09-15 17:48] ViAsmit opened #154 "Flutter: Info about Flutter"
README File to get information related to how flutter started. how flutter evolved, how  flutter works, who owns flutter, timeline, etc

[2021-09-15 17:48] rithish26 commented on #135
I would like to contribute to this.

[2021-09-15 17:51] rithish26 commented on #154
interested to contribute.

[2021-09-15 17:51] rithish26 commented on #153
Intrested to contribute

[2021-09-15 17:53] Niranjan5601 commented on #154
Can you assign this work to me .

[2021-09-15 17:59] AdityaChaudhary18 commented on #154
Interested

[2021-09-15 18:08] ViAsmit commented on #154
Sorry for inconvenience to others... You can contribute on exercise issue ...  We will be having a more uniform way to divide the work soon.. wait for some time

[2021-09-15 18:12] 2002Bishwajeet commented on #153
Can you assign this issue to me?

[2021-09-15 18:14] ViAsmit commented on #153
Anyone if you have already taken one contribution please don't comment on any other issue

[2021-09-15 18:14] Lakshit-Chiranjiv commented on #90
Ok,  I got this...

[2021-09-15 18:30] usgn94 commented on #114
I would like to work on this issue (DSA Batch - 4)

[2021-09-15 18:31] Niranjan5601 commented on #152
Interested.
I'll add probs based on conditionals

[2021-09-15 18:38] DiyaVj commented on #56
I want to work on this issue.

[2021-09-15 18:39] DiyaVj commented on #93
I want to work on this issue..

[2021-09-15 18:41] DiyaVj commented on #68
I want to work on this issue.

[2021-09-15 18:42] aniketpathak028 commented on #73
@paramsiddharth sir, I want to contribute to this topic, I would like to explain the various data types present in JavaScript and how they are different from other programming languages, and also explain their working along with syntax and examples.
Regards,
Aniket Pathak (JS- Batch 3)

[2021-09-15 18:43] ViAsmit commented on #154
@rithish26 am closing this issue...as it contain onlu irrelevant information.

[2021-09-15 18:48] ViAsmit commented on #154
@rithish26  I am closing this issue as it contains irrelevant information please do not work on it

[2021-09-15 18:48] #154 closed

[2021-09-15 18:52] Aaryan376 commented on #113
Hey! I would like to work on this issue

[2021-09-15 18:55] ishukhr commented on #132
I'm a contributor in GWOC'21 can I work on this issue?

[2021-09-15 18:58] jaissumi1402 commented on #152
Interested
I'll add problems on parameters

[2021-09-15 19:04] achsahxavier commented on #76
Hii
My name is Achsah Xavier, python batch 3.
I would like to contribute to this issue

[2021-09-15 19:05] Praannjaal commented on #79
Hello , I'm Pranjal Mittal Batch - 3 and I would like to work on this issue

[2021-09-15 19:05] achsahxavier commented on #77
Hii
My name is Achsah Xavier, python batch 3
I would to contribute to this issue.

[2021-09-15 19:06] ishukhr commented on #77
Greetings Contributors and Mentors,
I am interested in this issue. Can you kindly assign this to me
Thanks
Ishu Khare

[2021-09-15 19:08] pratishthaa opened #158 "Flutter: Installation & Setup Android Studio - Video"
A video depicting installation and setup of Android Studio and Flutter on the local machine.

One should cover:
-Download and setup of Flutter
-Download and setup of Android Studio Code
-Change in environment variables, if needed
-Run the default source code of Flutter Project(button click) to check if the setup works flawlessly.

[2021-09-15 19:08] rithish26 commented on #152
Intrested
I'll add problems on operators

[2021-09-15 19:08] Praannjaal commented on #76
Hello , I'm Pranjal Mittal batch -3
I would like to be assigned this issue

[2021-09-15 19:09] ishukhr commented on #79
Greetings Contributors and Mentors,
I am interested in this issue. Can you kindly assign this to me
Ishu Khare

[2021-09-15 19:16] pratishthaa opened #159 "Flutter: Setup Flutter & VS Code - Video"
A video depicting installation and setup of Visual Studio Code and Flutter on the local machine.

One should cover:
-Download and setup of Flutter
-Download and setup of Visual Studio Code
-Change in environment variables, if needed
-Run the default source code of Flutter Project(button click) to check if the setup works flawlessly.

[2021-09-15 19:18] yatharthrajput commented on #136
@ViAsmit can you please assign me any work on flutter. I want to contribute

[2021-09-15 19:19] yatharthrajput commented on #136
I am intrested,
I can work on Dart list

[2021-09-15 19:19] yatharthrajput commented on #134
Can u pls assign me any work,I really want to contribute in this

[2021-09-15 19:28] atul14357 commented on #69
sir I want to work on it .

[2021-09-15 19:31] eshan1925 commented on #132
May I work on this issue as I have already wriiten blog on this topic..

[2021-09-15 19:32] atul14357 commented on #73
Sir I want to work on it .

[2021-09-15 19:35] arp99 opened #161 "JS: Hoisting in Javascript"
# Hoisting in JavaScript
Discuss the concept of hoisting in JavaScript.

## Directory
[code]
## Description

- Talk about What is Hoisting
- How javascript uses hoisting for declarations
- Effect Of Hoisting on different types of Declarations

[2021-09-15 19:38] arp99 commented on #161
Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅

[2021-09-15 20:25] Korak-Sengupta commented on #70
Wish to work on it 🙂

[2021-09-15 20:28] Korak-Sengupta commented on #71
Would like to work on it, please assign the issue.

[2021-09-16 01:49] naveeramesh commented on #152
I would like to work on functions.

[2021-09-16 01:50] msramesh2k1 commented on #152
I wish to add excercise on classes and objects.

[2021-09-16 02:30] Yatheshta commented on #69
Sir, can I work on this ?

[2021-09-16 02:37] Yatheshta commented on #111
Can I work on this ?

[2021-09-16 02:42] Subhradeep10 commented on #110
@NiharikaSngh Any updates?

[2021-09-16 02:51] abubinfahd commented on #79
Hi I'm Abu Bin Fahd. Batch-4

[2021-09-16 02:52] Subhradeep10 commented on #111
@AJgthb2002 Any updates?

[2021-09-16 03:24] AJgthb2002 commented on #111
@Subhradeep10 Thank you. I am working on it

[2021-09-16 03:29] adddya1 commented on #37
Since I filled Cyber security in my form, I thought I could contribute to the domain. However, I am not added to the respective domain batch and thereby my contribution in this domain is against the protocol. It's fine. Thank You for being this helpful and kind. Thank You !!

[2021-09-16 03:38] PranavMasekar commented on #152
I wish to add excercise on maps and list data types.

[2021-09-16 03:50] rohit-goyal commented on #113
Hello
My name is Rohit Goyal
I would like to contribute/work on this issue
I am from DSA Batch 2

[2021-09-16 03:50] rohit-goyal commented on #113
Hello
My name is Rohit Goyal
I would like to contribute/work on this issue
I am from DSA Batch 2

[2021-09-16 03:52] ViAsmit commented on #152
Don't take more than one issue at a time..

[2021-09-16 03:53] rohit-goyal commented on #77
Hello
My name is Rohit Goyal
I would like to contribute/work on this issue
I am from Python Batch-6

[2021-09-16 03:56] rohit-goyal commented on #76
Hello
My name is Rohit Goyal
I would like to contribute/work on this issue
I am from python batch-6

[2021-09-16 03:59] 9004912418 commented on #56
I would like to work on this issue.

[2021-09-16 04:00] 9004912418 commented on #67
can I work on this issue?

[2021-09-16 04:00] 9004912418 commented on #68
can I work on this issue?

[2021-09-16 04:00] Anant1711 commented on #37
Okay, No problem
BTW, you can get your role through get-role-channel if your name is in the spreadsheet!

[2021-09-16 04:00] 9004912418 commented on #93
can I work on this issue?

[2021-09-16 04:04] Rohit-2602 commented on #122
@saloni33 yes you can work on this.

[2021-09-16 04:06] Rohit-2602 commented on #124
@Arjun2905 yes you can work on this

[2021-09-16 04:07] Rohit-2602 commented on #121
@Priyanshirathore add proper description and can start working on it.

[2021-09-16 04:08] Rohit-2602 commented on #119
@Pradumnasaraf yes you can work on this.

[2021-09-16 04:10] Rohit-2602 commented on #116
@Priyanshirathore yes you can work on this.

[2021-09-16 04:21] LegendSumeet opened #168 "Dev C++ IDE: Installation, Features And C++ Development Documentation"
Tutorial Explains the Installation, Working and Features of Dev C++ IDE which is one of the Most Commonly used IDEs for Developing C++ Applications

[2021-09-16 04:27] NiharikaSngh commented on #110
@Subhradeep10 Sir, can you guide me how to proceed further?

[2021-09-16 04:29] aman12207 commented on #168
can u please five more details about it..

[2021-09-16 04:34] dhruti29 commented on #76
Hii
My name is Dhruti Gandhi, python batch-1.
I would like to contribute to this issue

[2021-09-16 04:35] Subhradeep10 commented on #110
@NiharikaSngh  Well contruibuting is easy I will say that later or you can talk about that in Discord also, First say do you have prerequisite knowledge on Arrangement, Rearrangement in Arrays?

- If No, First read about the Arrays from GFG or W3Schools and gain proper knowledge from it.

- If Yes, Go and prepare a Documentation on Readme (.md) extension.Basic Introduction about the topic , Some c

[2021-09-16 04:36] Anant1711 opened #170 "Cybersecurity: 1.9.9.1 Linux File System"
## Description
### Explain what is Linux File System is and the types of Linux File systems.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with **Diagrams**
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on **first com

[2021-09-16 04:36] TechnoPhasePRO commented on #141
@micepram hey, I would like to work on this issue. Please assign me this.

[2021-09-16 04:36] TechnoPhasePRO commented on #139
@micepram hey, I would like to work on this issue. Please assign me this.

[2021-09-16 04:37] aman12207 commented on #168
can u please share details more details about this issue..

[2021-09-16 04:38] likitarai1 commented on #113
I would like to work on this issue.
Likita Rai
DSA batch 2

[2021-09-16 04:39] aman12207 commented on #168
can u please share more details about this issue..

[2021-09-16 04:40] Anant1711 opened #171 "Cybersecurity 1.9.9.2 Linux File System Directories"
## Description
### Explain what is Linux File System directories.
_(Documentation is also good, but try to make a video on this topic and explain every command and directory!)_

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Secu

[2021-09-16 04:41] dhruti29 commented on #79
Hello, I'm Dhruti Gandhi. Batch - 1 and I would like to work on this issue

[2021-09-16 04:41] anmol20112000 commented on #168
I wan to work on this @LegendSumeet  plzz assign this work to me

[2021-09-16 04:43] TechnoPhasePRO commented on #141
also please add Gwoc label to this issue.

[2021-09-16 04:44] TechnoPhasePRO commented on #139
please add gwoc label.

[2021-09-16 04:48] medhatiwari commented on #170
I would like to contribute to it in the form of `Documentation`

[2021-09-16 04:50] Anant1711 commented on #170
Go with it!

[2021-09-16 04:56] Safwan310 commented on #152
Interested, I would like to work on Array Utility Methods like forEach(), map() etc...

[2021-09-16 05:09] AbhinandanAdhikari commented on #69
Sir, I want to work on it.

[2021-09-16 05:09] AbhinandanAdhikari commented on #70
Sir, I want to work on it

[2021-09-16 05:10] AbhinandanAdhikari commented on #73
Sir, I want to work on it.

[2021-09-16 05:14] Janak2401 commented on #158
I am interested.

[2021-09-16 05:17] micepram commented on #139
Sure, all the best!

[2021-09-16 05:19] micepram commented on #141
Great, go ahead!

[2021-09-16 05:19] rohangilbile123 commented on #159
I'm interested to solve this issue

[2021-09-16 05:21] Sujit2209 opened #173 "Android-Java: How to Hide up the Title Activity Bar and also apply custom color. #172"
1- In this it would be described on how to Hide up the title bar and make it full screen.
2- And also how to apply custom colors to the Title Activity Bar.

[2021-09-16 05:22] TishaJhabak1014 commented on #72
Sir, if possible assign these to me too.

[2021-09-16 05:22] pragatikesarwani38 commented on #149
I would like to contribute for this issue. Please assign me this task.

[2021-09-16 05:23] anmol20112000 commented on #173
I wamt to work on this...plzz assign this to me @Sujit2209

[2021-09-16 05:24] anmol20112000 commented on #173
Hey i want to work on this @Sujit2209

[2021-09-16 05:24] Himanshi1805 commented on #73
@paramsiddharth sir, I want to work on this topic.

[2021-09-16 05:25] Himanshi1805 commented on #73
@paramsiddharth sir, I want to work on this topic.
Himanshi Gupta Batch-3 Javascript

[2021-09-16 05:26] pragatikesarwani38 commented on #149
Please assign me this task.@sitamadex11

[2021-09-16 05:31] Rijudas149 commented on #168
I want to work on this issue...

[2021-09-16 05:32] ayushijindal opened #175 "Competitive Programming: Adding Binary Search Related Problems"
I would like to add question-related to binary search in the form of documentation and work on this issue

[2021-09-16 05:34] Chirag-creator17 commented on #175
i want to work on this issue.

[2021-09-16 05:34] Debasmita-01 commented on #87
Yes u can we will merge the best one

[2021-09-16 05:34] Debasmita-01 commented on #87
assigning but the best one will be merged

[2021-09-16 05:35] priyanshu688 commented on #69
Sir can you please guide me as I am new to this?? @paramsiddharth

[2021-09-16 05:40] ayushijindal commented on #175
But I would like to work on this issue and waiting for the permission to work on it

[2021-09-16 05:40] chetan-2002 commented on #175
Can the contributors contribute to the domains they have been selected for?

[2021-09-16 05:40] ayushijindal commented on #175
Can we work as a team??

[2021-09-16 05:41] Rohit-2602 commented on #173
@Sujit2209 yes, you can work on this

[2021-09-16 05:41] RIYANSHGARG commented on #175
I would like to work on this issue. Kindly assign it to me.

[2021-09-16 05:43] naveeramesh commented on #152
I have completed the first issue assigned for me, can I do now the exercise for functions?

[2021-09-16 05:43] ayushijindal commented on #175
I am the contributor only not a mentor/ supervisor. I have raised this issue to work on it but if you want to participate either you create your own issue or work as a team together

[2021-09-16 05:44] ViAsmit commented on #152
@naveeramesh contact you mentor first so that he can validate your contribution.. once done then only do further contribution

[2021-09-16 05:49] Chirag-creator17 commented on #175
I think you should wait for team to raise issue according to roadmap .

[2021-09-16 05:50] Anuj2403 opened #177 "DSA: I want to add the dp problem and would like to work on this topic"

[2021-09-16 05:50] paramsiddharth commented on #69
@priyanshu688 Sure! Please start here: https://github.com/girlscript/winter-of-contributing/blob/Javascript/Web_Development/Javascript/CONTRIBUTING.md

Can you try reaching out to other fellow contributors, to see if any of them can help you? If nobody is available, mention me in
the channel, I'll be there.

[2021-09-16 05:50] LegendSumeet commented on #168
The stepwise installation for dev-C++
Debugging In C++ IDE
Compile/Build & Execute Project
Development Using Dev-C++ IDE

[2021-09-16 05:50] Debasmita-01 commented on #126
Go ahead !

[2021-09-16 05:51] Anuj2403 commented on #177
adding dp problems

[2021-09-16 05:51] Debasmita-01 commented on #93
Yes assigning all of you

[2021-09-16 05:52] paramsiddharth commented on #161
@arp99 Yes, please! Go ahead. I might require you to rename the folder's serial number, but it is a small change and we'll deal
with that later.

[2021-09-16 05:52] Safwan310 commented on #152
@ViAsmit can you assign the work I commented for?

[2021-09-16 05:53] Karan-0206 commented on #79
Hello, my name is Karan Chaurasia from Python Batch 4 and I would like to work on this issue.

[2021-09-16 05:54] arp99 commented on #161
Yeah, The serial is the only thing that is needed to be changed in the future, Thanks !  😅

[2021-09-16 05:55] paramsiddharth commented on #161
No worries! It is a small thing, I'll do it on my own if the need be! :) Best of luck!

[2021-09-16 05:57] LegendSumeet opened #178 "ANDROID JAVA - STETHO Documentation"
Stetho is an open-source debug bridge for Android apps, developed by Facebook. It allows you to connect your app to Google Chrome and debug it using Chrome Developer Tools. After integrating your Android app with Stetho, you can access the debugging UI by navigating to the chrome:inspect URL.

[2021-09-16 06:00] LegendSumeet opened #179 "C++17 - The Complete Guide Documentation"
C++17 - The Complete Guide
Giving guidance on how to use the new language and library features of C++17

[2021-09-16 06:02] Asmit2952 commented on #87
@Debasmita-01 Do you have any suggestions for changes in my current PR? I'll improve on it.

[2021-09-16 06:02] LegendSumeet opened #180 "Resources For Competitive Programming Documentation"
Giving guidance on how to use the new Best Resources For Competitive Programming

[2021-09-16 06:03] sumit-6 commented on #179
Can I work on this issue?
I would like to contribute via writing content on this issue

[2021-09-16 06:04] Debasmita-01 commented on #67
If u r making a video then great go ahead

[2021-09-16 06:05] chetan-2002 commented on #180
Competitive programming is not my selected domain . Can I still contribute to this domain?

[2021-09-16 06:05] LegendSumeet opened #181 "WEBSITES FOR LEARNING ANDRIOD DEVELOPMENT"
DEVELOPER ANDROID.
VOGELLA.
MY LIFE WITH ANDROID.
TECHNOTALKATIVE.
THE NEW BOSTON.
THE NEW CIRCLE.
TREEHOUSE.
LYNDA.COM.

[2021-09-16 06:06] Chirag-creator17 commented on #180
I would like to work on this issue .
chirag , cp batch 2

[2021-09-16 06:06] Debasmita-01 commented on #56
Assigning everyone !  I am excited to see different case studies from u all . ATB !

[2021-09-16 06:07] Rijudas149 commented on #168
@LegendSumeet sir I want to work on this issue... Plz add me...

[2021-09-16 06:09] Rijudas149 commented on #179
Sir can I work on this issue??

[2021-09-16 06:09] LegendSumeet opened #182 "C Programming Tutorial for Beginners Video"

[2021-09-16 06:12] Rijudas149 commented on #182
Sir I want to work on this issue

[2021-09-16 06:12] Rijudas149 commented on #182
Can you provide more details regarding this issue???

[2021-09-16 06:14] Debasmita-01 commented on #87
You didnt add any images right ? I think for a documentation to be
understood very clearly you should add some images also for clear
explanation ..

On Thu, Sep 16, 2021 at 11:32 AM Asmit Malakannawar <
***@***.***> wrote:

[2021-09-16 06:17] Debasmita-01 opened #183 "Introduction to Figma Part 4 - Creating Grids"
In this we need a documentation or a video tutorial showing how to work with grids in Figma .Grids are very useful for interface design but can also be invaluable for creating icons.

Note :
Folder Structure should be UI_UX/Introduction_to_Figma/Part_4  & changes should be made to  UI_UX branch.
Issue only for GWOC'21 contributors.
In the PR, keep this issue's title as your PR's title.
Must Follow

[2021-09-16 06:20] paras-saxena11 commented on #32
Hey, I want to start contributing how to do start?

[2021-09-16 06:22] Debasmita-01 opened #184 "Introduction to Figma Part 5 - Figma Plugins"
In this we need a documentation or a video tutorial showing how to add extra functionality using Figma Plugin . Pick up any one plugin from[ here](https://www.figma.com/community/explore) , explore and explain it in your own way .

There will be more than one assignee for this issue . Just make sure everyone chooses different plugins. So when you comment write down the plugin you will be working o

[2021-09-16 06:26] paras-saxena11 commented on #120
I want to contribute in this ?
Please assign me

[2021-09-16 06:30] Sujit2209 commented on #173
I am still not specifically assigned the issue can I still start doing this.

[2021-09-16 06:30] Asmit2952 commented on #87
Ok sure, will make changes right now.

[2021-09-16 06:36] Arjun2905 commented on #124
Ok assign this to me @Rohit-2602 .

[2021-09-16 06:37] priyanshu688 commented on #69
Ok sir @paramsiddharth

[2021-09-16 06:38] NIRBHAYKAUSHIK11 commented on #171
I would like to contribute in documentation form.

[2021-09-16 06:39] Arjun2905 commented on #105
@VikasPandey121 please share on thoughts on it.

[2021-09-16 06:43] shrey-ya commented on #183
Can I work on this issue?

[2021-09-16 06:45] Ash-KODES commented on #32
hey paras,glad to see that you want to contribute
follow these steps:-
1.search a issue that belong to your domain or tech stack
2.claim the issue
3.start contributing
:)

[2021-09-16 06:47] #177 closed

[2021-09-16 06:52] paras-saxena11 commented on #29
I want to contribute in this please guide me.

[2021-09-16 06:53] KislaySingh10 commented on #109
Hey, I would like to work on this issue.

[2021-09-16 06:53] kalyanirb12 commented on #109
I would like to work on this

[2021-09-16 06:53] Priya23Singh commented on #79
@adityabisoi Please assign me this issue. I would like to work on it.

[2021-09-16 07:01] Anant1711 commented on #171
Okay!
Go with Documentation.

[2021-09-16 07:07] shekhars08 commented on #117
Can you assign this task to me @VikasPandey121

[2021-09-16 07:09] shekhars08 commented on #123
Can I work on this issue @VikasPandey121

[2021-09-16 07:10] JRManasa commented on #109
I would love to work on this

[2021-09-16 07:12] Priyanshirathore commented on #143
okay, sir, do I have to push one single word file containing all the subheadings, or should I have different files for different subheadings?

[2021-09-16 07:12] bakisama commented on #159
Hi,
I would like to work on this

[2021-09-16 07:17] Aryamanz29 commented on #29
@paras-saxena11  We really appreciate your comment but this issue has already been assigned to @Abhay3008.
Don't worry, We're creating a bunch more issues in the `OpenSource domain` for contributors in a couple of days. 😉

[2021-09-16 07:18] kalyanirb12 commented on #76
i would like to contribute

[2021-09-16 07:23] Aryamanz29 commented on #31
@kunal-kumar-chaudhary  Any Updates?

[2021-09-16 07:24] Aryamanz29 commented on #27
@nayakaj  Any updates on this?

[2021-09-16 07:24] divya1467 commented on #114
I would really like to contribute on this issue!
(DSA Batch-5)

[2021-09-16 07:25] #26 closed

[2021-09-16 07:25] Aryamanz29 commented on #24
@shubhdholakiya  Any updates on this ?

[2021-09-16 07:26] Aryamanz29 commented on #21
PR merged , Closing this issue now

[2021-09-16 07:26] #21 closed

[2021-09-16 07:27] Aryamanz29 commented on #25
PR merged #164 , Closing this issue

[2021-09-16 07:27] #25 closed

[2021-09-16 07:28] Aryamanz29 commented on #20
PR merge #160, Closing this now

[2021-09-16 07:28] #20 closed

[2021-09-16 07:29] Aryamanz29 commented on #22
@Dhruv-194  Any updates on this ?

[2021-09-16 07:29] Aryamanz29 commented on #23
@RAMESSESII2  Any updates on this ?

[2021-09-16 07:41] LegendSumeet commented on #123
i can do these can You assign me to these @sitamadex11

[2021-09-16 07:46] LegendSumeet commented on #184
just i made the interest so can u assign me to these?

[2021-09-16 07:48] pragatikesarwani38 opened #185 "Android-Java: Orientation of Android activity."
In this issue you have to describe briefly about the various types of orientation an activity can have.

[2021-09-16 07:49] LegendSumeet commented on #182
Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅

[2021-09-16 07:49] LegendSumeet commented on #181
Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅

[2021-09-16 07:49] LegendSumeet commented on #180
Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅

[2021-09-16 07:50] LegendSumeet commented on #179
Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅

[2021-09-16 07:50] LegendSumeet commented on #178
Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅

[2021-09-16 07:51] LegendSumeet commented on #185
can i work on it ? i can make a good documentation on it ?

[2021-09-16 07:54] Priyanshirathore commented on #121
okay, sir will do.

[2021-09-16 07:54] LegendSumeet commented on #149
Please assign me this task. @sitamadex11

[2021-09-16 07:55] Priyanshirathore commented on #116
okay, sir thankyou.

[2021-09-16 07:55] LegendSumeet commented on #146
csn you assign me to these?

[2021-09-16 07:57] LegendSumeet commented on #66
can you assign this work to me? @aaryan078

[2021-09-16 07:57] LegendSumeet commented on #65
can you assign this work to me? @aaryan078

[2021-09-16 07:58] LegendSumeet commented on #49
can you assign this work to me? @Rohit-2602

[2021-09-16 07:59] LegendSumeet commented on #143
can you assign this work to me? @Priyanshirathore

[2021-09-16 08:00] NamanManjkhola opened #187 "Opensource : 3.1 Github best practices"
### Description

Documentation on

- Best practices to follow on GitHub.
- Things to remember/avoid while contributing.
- Enhancing your GitHub profile.

[2021-09-16 08:00] NamanManjkhola commented on #187
@Aryamanz29  Can I work on this issue I created?

[2021-09-16 08:01] LegendSumeet commented on #187
can you assign this work to me?

[2021-09-16 08:02] Aryamanz29 commented on #187
Sure 💯, Make sure to follow `contributing_guidelines` , Happy Documenting 🙌

[2021-09-16 08:03] Aryamanz29 commented on #187
@LegendSumeet  Can you create new issue on topic : customising GitHub profile  👈

[2021-09-16 08:03] NamanManjkhola commented on #187
ofcourse ,Thanks!

[2021-09-16 08:03] Priyanshirathore commented on #143
Actually, I already started working on it. You can work on my other issue, Layouts in Android if you want.

[2021-09-16 08:04] LegendSumeet opened #189 "Opensource : 3.2 customising GitHub profile"
Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅

[2021-09-16 08:05] Rohit-2602 commented on #185
@pragatikesarwani38  yes you can work on it

[2021-09-16 08:05] LegendSumeet commented on #168
Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅

[2021-09-16 08:05] LegendSumeet commented on #185
assign me to?

[2021-09-16 08:07] LegendSumeet commented on #147
Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅
canyou assign this work to me?

[2021-09-16 08:09] LegendSumeet commented on #184
can you assign this work to me?

[2021-09-16 08:09] pragatikesarwani38 commented on #185
Thank you @Rohit-2602

[2021-09-16 08:13] paras-saxena11 commented on #24
May i contribute in this?

[2021-09-16 08:15] LegendSumeet commented on #183
Please assign me this task @Debasmita-01 i can make good documentation on it?

[2021-09-16 08:15] saloni33 commented on #122
Okay sir, I will do it.

On Thu, Sep 16, 2021 at 9:34 AM Rohit Sharma ***@***.***>
wrote:

[2021-09-16 08:16] LegendSumeet commented on #143
but you are not assign to it?

[2021-09-16 08:16] Rijudas149 commented on #182
I can't understand....

[2021-09-16 08:18] Rijudas149 commented on #179
Can't understand what you're saying sir

[2021-09-16 08:22] Pawanupadhyay10 commented on #168
Pls  assign this issue to me.

[2021-09-16 08:23] Godflamejava commented on #65
Sorry 😅 no

On Thu, Sep 16, 2021, 13:27 Sumeet Vishwakarma ***@***.***>
wrote:

[2021-09-16 08:23] Pawanupadhyay10 commented on #113
Pls assign this issue to me.

[2021-09-16 08:24] Aryamanz29 commented on #189
@LegendSumeet Sure , Happy documenting

[2021-09-16 08:25] Priyanshirathore commented on #143
I am assigned to both of the issues.

[2021-09-16 08:29] Aryamanz29 commented on #24
@paras-saxena11  Can you open a new issue for which you would like to contribute to the `open-source domain `? by following the above issue convention.

[2021-09-16 08:57] Asmit2952 commented on #87
I made changes as requested, please go through my  PR.

[2021-09-16 09:17] adityabisoi commented on #46
@Pranav120602 Will you commit as documentation, audio or video?

[2021-09-16 09:17] adityabisoi commented on #47
@Purvibhoyar Will you commit as documentation, audio or video?

[2021-09-16 09:17] adityabisoi commented on #48
@kunal-kumar-chaudhary Will you commit as documentation, audio or video?

[2021-09-16 09:17] adityabisoi commented on #77
@lohith1392 Will you commit as documentation, audio or video?

[2021-09-16 09:18] adityabisoi commented on #76
@amitrakshar01 Will you commit as documentation, audio or video?

[2021-09-16 09:18] adityabisoi commented on #78
@tejas342 Will you commit as documentation, audio or video?

[2021-09-16 09:18] adityabisoi commented on #79
@archismansaha Will you commit as documentation, audio or video?

[2021-09-16 09:20] amitrakshar01 commented on #76
I have already did a documentation and did a pull req. History of Python and its advantages and disadvantages.

[2021-09-16 09:22] LegendSumeet commented on #168
@Aryamanz29 plz assign me to these issue I had created it ?

[2021-09-16 09:22] adityabisoi commented on #76
This issue is now open for AUDIO and VIDEO contributions.

[2021-09-16 09:25] Debasmita-01 commented on #184
yes sure go aheadd

[2021-09-16 09:25] Debasmita-01 commented on #183
go ahead both of you

[2021-09-16 09:27] Simran1604 commented on #152
I'd like to contribute for inheritance concept in Dart.

[2021-09-16 09:27] kalyanirb12 commented on #113
i would like to contribute

[2021-09-16 09:28] kalyanirb12 commented on #111
i would like to contribute

[2021-09-16 09:29] Sr7-Rastogi commented on #78
I would like to contribute in this with a video explanation to how to install python.

[2021-09-16 09:30] Simran1604 commented on #134
I'd like to contribute to this issue.

[2021-09-16 09:31] Simran1604 commented on #136
I'd like to contribute to dart class constructors.

[2021-09-16 09:35] tejas342 commented on #78
@adityabisoi documentation

[2021-09-16 09:39] Sr7-Rastogi commented on #78
@adityabisoi can i work on a video explanation on this topic?
Shubh Rastogi(batch-4)

[2021-09-16 09:41] Aryamanz29 commented on #168
@LegendSumeet I'm supervisor of Open source domain

[2021-09-16 09:43] lohith1392 commented on #77
@adityabisoi I will work on documentation

[2021-09-16 09:43] LegendSumeet commented on #184
Unsplash

[2021-09-16 09:50] lohith1392 commented on #189
can I also do this or only one can only do it??

[2021-09-16 09:53] sakkshm26 commented on #180
Hey, can I work on this issue?

[2021-09-16 09:54] sakkshm26 commented on #70
Hey, can I work on this issue?

[2021-09-16 09:55] lohith1392 commented on #78
@adityabisoi can I work on documentation on this topic?
Peddi sai lohith(batch-4)

[2021-09-16 09:57] lohith1392 commented on #79
@adityabisoi I can work on documentation

[2021-09-16 10:01] siddhi-244 commented on #22
There are no issues open.

[2021-09-16 10:04] Aryamanz29 commented on #189
Create a new issue which you want to work under `open_source_domain` @lohith1392

[2021-09-16 10:07] lohith1392 commented on #189
Ok thank you

[2021-09-16 10:07] Aryamanz29 commented on #22
Hey @siddhi-244  👋, You can create a new issue that you want to work under `open_source_domain`

[2021-09-16 10:09] siddhi-244 commented on #22
Where is the road map?? And I have opened a new issue there is no reply for that.

[2021-09-16 10:10] siddhi-244 commented on #31
Can I try it !

[2021-09-16 10:11] siddhi-244 commented on #29
Can I try it !

[2021-09-16 10:11] siddhi-244 commented on #27
Can I try it

[2021-09-16 10:19] siddhi-244 opened #192 "OpenSouce : 3.4 List of open source events ."
**List of open source events**
**Link to their websites**
**How to participate in it**
Please assign this to me !

[2021-09-16 10:21] siddhi-244 commented on #120
Can I start working on it ?

[2021-09-16 10:21] Aryamanz29 commented on #120
@siddhi-244  Assigning this to you, Happy Documenting 🎉

[2021-09-16 10:23] Aryamanz29 commented on #192
@siddhi-244  You need to explain every open-source programs in detail with images, flowcharts and also mention their repo links

[2021-09-16 10:25] Aryamanz29 commented on #192
Note: Issue will be more descriptive, follow other issues of mine while creating

[2021-09-16 10:25] siddhi-244 commented on #192
Ok sure

[2021-09-16 10:29] archismansaha commented on #79
@adityabisoi I am working on documentation

[2021-09-16 10:31] Aryamanz29 commented on #192
Now it's good

[2021-09-16 10:33] Aryamanz29 commented on #120
You don't need to wait for issues, Any suggestions, Improvements or topics, That you wanted to add to the domain, You can create issues for that if it lies under the `open_source` domain, I'll assign that to you straight away, Now comes to roadmap thing, That will share in 2-3 days with all contributors of my domain, So you guys don't need to worry about that thing. I hope it clears everything. Ha

[2021-09-16 10:35] Pranav120602 commented on #182
Greetings, I am interested to work on the issue. Kindly assign me.

[2021-09-16 10:36] Pranav120602 commented on #46
@adityabisoi, Documentation.

[2021-09-16 10:36] PVenkatArvind commented on #182
Greetings mentors, I am interested to work on the issue. Kindly assign me

[2021-09-16 10:37] PVenkatArvind commented on #123
Greetings mentors, I am interested to work on the issue. Kindly assign me

[2021-09-16 10:41] Debasmita-01 commented on #184
cool go ahead

On Thu, Sep 16, 2021 at 3:13 PM Sumeet Vishwakarma ***@***.***>
wrote:

[2021-09-16 10:48] Akshita-Sharma-25 commented on #77
My name is Akshita from batch 4
I would like to be assigned with this issue.

[2021-09-16 10:51] Akshita-Sharma-25 commented on #70
Myself Akshita and i would like to contribute towards this issue.

[2021-09-16 10:54] Akshita-Sharma-25 commented on #111
please assign this issue to me, I would like to contribute towards this issue.
I'm from batch 4

[2021-09-16 10:55] priyanshuc4423 opened #194 "OpenSouce : 3.5 git cheat sheet."

[2021-09-16 10:56] PVenkatArvind commented on #149
Greetings mentors, I am interested to work on the issue. Kindly assign me

[2021-09-16 11:02] pragatikesarwani38 commented on #185
I have created a pull request, please check that out sir. @Rohit-2602

[2021-09-16 11:04] priyanshuc4423 commented on #194
can I contribute this ?

[2021-09-16 11:07] Yugal41735 commented on #77
My name is Yugal from batch 1 I would like to do the documentation part for this issue

[2021-09-16 11:07] lohith1392 commented on #189
@Aryamanz29 Is there any list of issues to select or our own???

[2021-09-16 11:09] Aryamanz29 commented on #189
Its must be inside `opensource domain`

[2021-09-16 11:09] sitamadex11 commented on #147
@Manmeet2607 you can start working on this issue.

[2021-09-16 11:12] sitamadex11 commented on #147
@LegendSumeet Actually we assign issues on a first come first serve basis. No problem I will soon create some issues you can definitely start working with them. Otherwise, you also can create an issue by yourself too.

[2021-09-16 11:15] Harshil-Jani opened #197 "FrontEnd Web : 0. Basics of Internet"
Documentation on Basics of Internet !
- How does the Internet Work?
- What is HTTP?
- How does Browser Rendering Works?
- DNS & Working of DNS?
- Domain Name Basics.
- Hosting & Name Servers.

From Front End Web Developement Branch.

[2021-09-16 11:15] Harshil-Jani commented on #197
Can I take up this Issue?

[2021-09-16 11:20] salonisingh77 commented on #197
Please assign

[2021-09-16 11:23] Anna-cod commented on #77
Hi i am Noor ul Huda from Python batch 4, Looking to contribute to this issue.
I would like to work on video part

[2021-09-16 11:25] Anna-cod commented on #76
Hi i am Noor ul Huda from Python batch 4, Looking to contribute to this issue.
I would like to work on audio part

[2021-09-16 11:26] Anna-cod commented on #78
Hi i am Noor ul Huda from Python batch 4, Looking to contribute to this issue.
I would like to work on video part

[2021-09-16 11:27] Vedika-Agrawal commented on #175
Please assign this issue to me, I would like to work on this issue under GWOC.

[2021-09-16 11:32] siddhi-244 commented on #120
Please check my pr!

[2021-09-16 11:32] Asmit2952 commented on #197
I want to work on this!

[2021-09-16 11:33] Manmeet2607 commented on #147
ok sir

[2021-09-16 11:34] Manmeet2607 commented on #147
OK sir

[2021-09-16 11:35] siddhi-244 opened #199 "1. Basic HTML TAGS"
**1.HTML TAGS WITH THIER USES**
**2.EXAMPLE CODE TO RUN**
**3.SCREENSHOTS OF OUTPUT**

please assign this to me. I am a gwoc contributor

[2021-09-16 11:36] darkhorse-2000 opened #200 "Hi, I would like to contribute to this issue. Name:- Shreyam Sarkar Python Batch:- 3"

[2021-09-16 11:38] darkhorse-2000 commented on #77
Hi, I would like to contribute to this issue.
Name:- Shreyam Sarkar
Python Batch:- 3

[2021-09-16 11:38] Rohit-2602 commented on #185
In the future, add a link to the pull request to message also

[2021-09-16 11:39] siddhi-244 commented on #120
Thank you so much.

[2021-09-16 11:40] #200 closed

[2021-09-16 11:41] Sacheta commented on #114
Hey there, would like to work on this issue. (DSA Batch 3)

[2021-09-16 11:42] sitamadex11 commented on #149
Actually, we are assigning issues on a first come first serve basis.
But I think @Yugal41735 I have already assigned you an issue. please work on that first.
@pragatikesarwani38 you can start work on this.

[2021-09-16 11:43] ug2510 commented on #197
Want to work on this!!

[2021-09-16 11:46] RAMESSESII2 commented on #23
Yeah, I'm working on it, expect a PR very soon.

[2021-09-16 11:47] salonisingh77 commented on #197
Yes

On Thu, 16 Sep 2021, 17:14 Urvi Gaundalkar, ***@***.***>
wrote:

[2021-09-16 11:48] ug2510 commented on #199
hey! Can I work on this?!

[2021-09-16 11:48] harshithatnbr opened #201 "HTML Style Attributes(video presentation)"
I have seen the roadmap given and I would like to contribute about **HTML style attributes**
I would like to demonstrate usage of style attribute on vs code  and explaining it (video) .  I would like to work on this issue. Please assign this to me.

**Language:** English

[2021-09-16 11:48] I-ArchanaDash commented on #76
I would like to contribute in the form of Audio .

[2021-09-16 11:48] sitamadex11 commented on #149
@LegendSumeet @PVenkatArvind soon I will create some more issues. You guys can definitely work on that issue. Otherwise, you all guys create your own issue also.

[2021-09-16 11:48] LavleenAgrawal commented on #199
I want to work on this...May I?

[2021-09-16 11:49] LavleenAgrawal commented on #199
I want to work on this...May I?

- Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 11:53] Tiwarisonal19 commented on #159
Hey, I too would like to contribute on this too!

[2021-09-16 11:55] Yashesvinee commented on #76
I would like to contribute in the form of a video
Yashesvinee V(batch-4)

[2021-09-16 11:58] RIYANSHGARG commented on #192
please assign this issue to I want to work on it

[2021-09-16 11:59] shubhdholakiya commented on #24
Yes, will be posting PR by tonight.

[2021-09-16 12:02] Himanshu664 opened #202 "JS: Operators in JavaScript"
# Operators in JavaScript

### Directory

[code]

### Description

* Talk about the various operators in JavaScript.
* Arithmetic, Assignment, Increment and Decrement, Comparison, Logical, Bitwise.
* Explain operators types through examples.

### Hints

* Check out the [W3C tutorial](https://www.w3schools.com/js/js_operators.asp)

## Formats
- [x] Document
- [ ] Video
- [ ] Audio

[2021-09-16 12:02] Rijudas149 commented on #201
Sir I want to work on this issue

[2021-09-16 12:02] aaheli8 opened #203 "Benefits of Open Source Contribution"
**Description**
- To discuss the benefits of open source contribution
- Can learn more about open source projects

[2021-09-16 12:03] Rijudas149 commented on #197
Sir I want to work on this issue

[2021-09-16 12:03] Himanshu664 commented on #202
Hello Mentor, Can I work on this issue.

[2021-09-16 12:04] sanskarn17 commented on #175
Hey, can I work on this issue?

[2021-09-16 12:04] Rijudas149 commented on #199
Ma'am I want to work on this issue.. Can I do it???

[2021-09-16 12:05] ashish-reddy-20-08 commented on #140
Hey @micepram I would like to work on this issue.

[2021-09-16 12:08] aaheli8 commented on #203
Mentor, can I be assigned to work on this issue

[2021-09-16 12:08] darkhorse-2000 commented on #69
Sir, I want to work on this.

[2021-09-16 12:11] CSAURABH opened #204 "Front End -1:HTML-> Introduction to HTML(Documentation)"
I have seen the roadmap given and I would like to contribute about Introduction to HTML.

Topics to be covered:-
1) What is HTML?
2) A Simple HTML Document.
3) What is an HTML Element?
4) Web Browsers?
5) HTML Page Structure.
6) HTML History.

 I would like to work on this issue. Please assign this to me.

Language: English
Frontend HTML,CSS Batch-5 (GWOC Contributor)

[2021-09-16 12:13] nikhil00shinde opened #205 "Competitive coding: Stacks and Queues Question in Java"
I would like to add question related to stack and queues in the form of documentation and work on this issue. Please assign me this issues.

[2021-09-16 12:13] Rijudas149 commented on #204
I want to work on this issue

[2021-09-16 12:13] Puja-Saraf commented on #91
I would like to work on this issue

[2021-09-16 12:13] LavleenAgrawal opened #206 "Python: 1.8 Why Python Programming?"
I want to make documentation on this, May I ?
- Lavleen Agrawal (Batch 1 - Python)

[2021-09-16 12:14] priyanka001tech opened #207 "HTML Links AND Images"
I'm an open source contributor and participated in GWOC as a contributor. I have good knowledge regarding HTML and its Tags
I can works on this issue

# 1 Discussion about <a> tag and its uses
# 2 Discussion about <img> tag in details with the demo

Can mentors assign me for this issue please ?

[2021-09-16 12:15] Rijudas149 commented on #207
I want to work on this issue......

[2021-09-16 12:15] Himanshu664 commented on #202
@paramsiddharth please label this issue I want to work on it.

[2021-09-16 12:16] RIYANSHGARG opened #208 "Introduction to HTML"
I will cover
1. What is HTML
2. Sample HTML structure
3. HTML element

[2021-09-16 12:16] Rijudas149 commented on #206
I can work on this issue by any of three ways(documentation,audio,video).... Can I work on this issue???

[2021-09-16 12:16] subhram260 commented on #184
I'm interested to work with this issue
Interested work on **Iconify** plugin

[2021-09-16 12:17] RIYANSHGARG commented on #208
Can I write content on this topic ?

[2021-09-16 12:17] Asmit2952 opened #209 "Front End -1 -> CSS: Introduction to CSS"
I have seen the roadmap given and I would like to contribute about Introduction to CSS.

Topics to be covered :

* Introduction to css
* Selectors and pseudo selector
* Classes and Id’s
* CSS general rule
* Colors in css

Mentors, please assign me this issue. I have good working knowledge of CSS

[2021-09-16 12:18] helper-uttam commented on #207
I want to work on this issue.

[2021-09-16 12:18] Asmit2952 commented on #209
I have opened this issue by seeing the roadmap and I want to contribute for the same.

[2021-09-16 12:20] LavleenAgrawal commented on #208
I want to make video content on this, May I ?
- Lavleen Agrawal (Batch 1 - Python)

[2021-09-16 12:20] Anjali813 commented on #76
I would like to contribute to this issue.
Python Batch 5. ANJALI

[2021-09-16 12:21] LavleenAgrawal commented on #209
I want to make video content on this, May I ?
- Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 12:21] CSAURABH commented on #208
@RIYANSHGARG I have already created this issue.

[2021-09-16 12:21] nikhil00shinde opened #210 "JavaScript: Function and scope"
I would like to add documentation with example of function and scope working in JavaScript. Please assign the issue to me.

[2021-09-16 12:22] Rijudas149 commented on #209
May I work on this issue??? I want to work on this

[2021-09-16 12:22] LavleenAgrawal commented on #207
I want to make audio content on this, May I ?
- Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 12:22] Asmit2952 commented on #209
We can both work on this, I'll do the documentation part, if it's fine with u?

[2021-09-16 12:23] Rijudas149 commented on #207
via either documentation or audio or video

[2021-09-16 12:23] LavleenAgrawal commented on #204
I want to make video content on this, May I ?
- Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 12:25] supriya-045 commented on #205
i want to write question of stacks and queues in Java. Please assign this to me .

[2021-09-16 12:26] Asmit2952 opened #212 "Front End JavaScript: Code structure"
I have seen the roadmap given and I would like to contribute about JavaScript.

Topics to be covered:

* Code Structure

I have a good working knowledge of JavaScript and different libraries.

[2021-09-16 12:26] helper-uttam opened #213 "JavaScript"
* Functions and Scope
* Objects and Arrays

I am raising the issue after going through the <a href="https://docs.google.com/document/d/1OK3bL6ue5PMxpRP-6y7Xl91MMJ8NTMa6V3FzXxJxU9E/edit">Google spreadsheet</a> and I want to work on this issue.

Note- In the spreadsheet **functions and scope** are mentioned two times.

[2021-09-16 12:27] LavleenAgrawal commented on #209
No Asmit mentors and supervisors will assign us that... once assigned we can start..!

[2021-09-16 12:27] supriya-045 commented on #210
i would like to contribute for this issue. Please assign this to me .

[2021-09-16 12:27] Asmit2952 commented on #212
Mentors, I have opened this issue as I want to contribute to it. Please assign me this issue. I have a good working knowledge of JS.

[2021-09-16 12:28] VidhiBhatt01 commented on #210
I love JS and I can explain this concept very well. I can do documentation. Would really like to work on this and share my knowledge.

[2021-09-16 12:28] Yukti-20 commented on #206
I have been working on python for 2 years, and have gained much of the knowledge, I usually work in Python, and I can make well labeled and represented documentation on it. May I do this?

[2021-09-16 12:28] Asmit2952 commented on #209
Cool✌🏻

[2021-09-16 12:29] supriya-045 commented on #213
i would like to add about  Functions & scope ,objects and arrays  in java script.Please assign this to me .

[2021-09-16 12:30] Saurabh-crypto16 opened #214 "Functions and Scope"
I have seen the roadmap given and I would like to contribute about Functions and Scope in Javascript.

Topics to be covered:-

What is Scope?
Types of scope in js?
Code example for each type.
What is the Lifetime of JavaScript Variables?
What is a function in js?
Basic function syntax.
What are parameters in functions?
types of functions?
What is function invocation?
What is the function return?
W

[2021-09-16 12:30] VidhiBhatt01 commented on #194
I can do document this. I am well versed with git. Please assign !

[2021-09-16 12:31] helper-uttam commented on #213
If mentors will approve both of us then we can work on this issue.

[2021-09-16 12:32] Rijudas149 commented on #212
I want to work on this issue

[2021-09-16 12:32] Rijudas149 commented on #210
I can work on this issue

[2021-09-16 12:33] rwiteshbera commented on #202
I also want to contribute on this issue. @paramsiddharth Can you please assigned me this issue?

[2021-09-16 12:33] VikasPandey121 commented on #19
@priyanshu688  You can create your own issue, add the tag `Android-Dev-Java` and ask for the assigning it in the chat as right now all the issue has been assigned to others like this issue has been assigned to @Seldcouth.

PS: Please read the chat before commenting on it.

[2021-09-16 12:34] adityabisoi commented on #76
@Anna-cod @Yashesvinee Go ahead.

[2021-09-16 12:34] supriya-045 commented on #213
okay

[2021-09-16 12:36] siddhi-244 commented on #202
Can I try this?

[2021-09-16 12:37] siddhi-244 commented on #209
Plzz assign this to me

[2021-09-16 12:37] adityabisoi commented on #78
@Sr7-Rastogi Go ahead with video. This issue is open for AUDIO contributions

[2021-09-16 12:37] CodeSavitar commented on #206
I would like to contribute to this issue.
Name : Adhith Sankar
Batch : 3

[2021-09-16 12:37] akashshukla7458 opened #216 "C++: Binary tree basics"
Giving guidance on basics of binary tree  in  **C++ i**n documentation form

[2021-09-16 12:38] akashshukla7458 commented on #216
I  wish to work on the above issue can u assign it me

[2021-09-16 12:39] Rijudas149 commented on #216
I want to work on this issue

[2021-09-16 12:39] siddhi-244 commented on #216
Can I try it !

[2021-09-16 12:39] anmol20112000 commented on #216
I want to work in this

[2021-09-16 12:40] Saurabh-crypto16 opened #217 "Deploying Your App"
I have seen the roadmap given and I would like to contribute about Deploying Your App.

I want to make a written documentation of step by step process with images of how to deploy/host a static website on firebase.
Please assign this to me.

Frontend HTML,CSS,JS Batch-6 (GWOC Contributor)

[2021-09-16 12:40] siddhi-244 commented on #210
Can I try this?

[2021-09-16 12:41] ravireddy07 opened #218 "Competitive_Programming: Stack In C++"
I would like to write a doc on Stack Data Structure in C++.
Competitive_Programming
* Introduction
* Syntax and Implementation
* Operations
* Use cases
* Complexity Differences

Please assign this to me. Thanks

[2021-09-16 12:42] chakitg commented on #214
I want to contribute to this... please assign this issue to me.
Language: English
Frontend with HTML, CSS Batch-4: Chakit Gupta | Contributor

[2021-09-16 12:42] siddhi-244 commented on #218
Can I try it?

[2021-09-16 12:43] supriya-045 commented on #218
sir, i would like to work on it.Please assign it to me.

[2021-09-16 12:44] Manmeet2607 commented on #147
does it need to be a simple doc file or HTML ?

[2021-09-16 12:46] chakitg commented on #194
I want to contribute to this... please assign this issue to me.
Batch-1 Open Source: Chakit Gupta | Contributor

[2021-09-16 12:46] I-ArchanaDash commented on #76
I would like to contribute in the form of a presentation.

[2021-09-16 12:47] adityabisoi commented on #46
This issue is now open for AUDIO and VIDEO contributions.

[2021-09-16 12:47] adityabisoi commented on #79
This issue is now open for AUDIO and VIDEO contributions.

[2021-09-16 12:48] siddhi-244 opened #219 "Objects and arrays in javascript"
Please assign this to me.

[2021-09-16 12:48] samruddhikadam commented on #46
On Thu, 16 Sep 2021 at 6:17 PM, Aditya Bisoi ***@***.***>
wrote:

Audio

[2021-09-16 12:48] chakitg commented on #203
I want to contribute to this... please assign this issue to me.
Language: English
OpenSouce Batch-1: Chakit Gupta | Contributor

[2021-09-16 12:48] adityabisoi commented on #77
This issue is now open for AUDIO and VIDEO contributions. @Anna-cod One issue at a time.

[2021-09-16 12:49] Vidit-Ostwal commented on #218
I don't know how the things works in GWoC, whether contributor themselves can make the issue and can contribute directly to it, or the issue needs to  be first created by mentor/supervisor, then contributor can contribute,

PS: @siddhi-244 & @supriya-045 , @ravireddy07 itself is a contributor, 'Read the last line' he is asking to assign it to him.

[2021-09-16 12:50] I-ArchanaDash commented on #77
I would like to contribute to this issue in the form of Audio.

[2021-09-16 12:50] adityabisoi commented on #46
@samruddhikadam Go ahead

[2021-09-16 12:50] Yukti-20 commented on #216
I can write a well formatted documentation on binary tree basics as I have been working in C++ for long time. May I work on this ?

[2021-09-16 12:53] CSAURABH commented on #204
@ghulamyazdani Please assign this issue to me.

[2021-09-16 12:54] ravireddy07 opened #220 "Front_End: Conventions & Best Practices"
I would like to write a Doc on _**Conventions & Best Practices**_ while writing HTML code/scripts.

* I would be mentioning best and bad practices.
* an explanation with appropriate examples.

Please Assign this to me. Thanks
@2024-SANDHYA

[2021-09-16 13:00] KartikChinda opened #221 "Front end: HTML Lists"
I would like to work on this issue and add documentation to it. Please assign it to me.
![image](https://user-images.githubusercontent.com/78233115/133616572-98170ec5-ae8e-4690-9e84-4cc33dc73c44.png)

[2021-09-16 13:04] ravireddy07 commented on #218
@Vidit-Ostwal  Yes. Contributor's can create issues. But, can't work on it until it gets assigned by mentors.

[2021-09-16 13:06] VikasPandey121 commented on #138
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` command before pushing commit it to the remote repository.
- Create a new branch and push your PR on `Android_Development_With_Java` branch.
- Pull request should contain only one commit
Note: If you have multiple commits then `squash` your commit.

[2021-09-16 13:09] Adityanr opened #222 "Python: 1.8 Why choose python?"
### Description:
Use cases and advantages of using python over certain languages.
### Note :

- Changes should be made inside the `Python/` directory & `Python `branch.
- Issue only for `GWOC'21` contributors.
- Issue will be assigned on a first come first serve basis, 1 Issue == 1 PR.
- In the PR, keep this issue's title as your PR's title.

**Must Follow** : [Contributing  @Guidelines](https://g

[2021-09-16 13:09] Adityanr commented on #222
I would like to contribute to this one. Custom issue created by me.

[2021-09-16 13:11] #222 closed

[2021-09-16 13:13] VikasPandey121 commented on #119
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` command before pushing commit it to the remote repository.
- Create a new branch and push your PR on `Android_Development_With_Java` branch.
- Pull request should contain only one commit
Note: If you have multiple commits then `squash` your commit.

[2021-09-16 13:14] ghulamyazdani commented on #204
@praveenscience if you could assign him please do it.

[2021-09-16 13:14] Adityanr opened #223 "Python: 1.9 Use cases of python"
### Description:
Use cases and advantages of using python over certain languages.

### Note :

- Changes should be made inside the` Python/` directory & `Python` branch.
- Issue only for `GWOC'21` contributors.
- Issue will be assigned on a first come first serve basis, 1 Issue == 1 PR.
- In the PR, keep this issue's title as your PR's title.

**Must Follow** : [Contributing @Guidelines](https://g

[2021-09-16 13:15] Adityanr commented on #223
This is a custom issue created by me. Can i contribute to it? @adityabisoi
Name: Aditya Nair
Team: Python Batch-1

[2021-09-16 13:17] hshrivastav commented on #199
I can do this work please assign this to me.

[2021-09-16 13:18] siddhi-244 commented on #221
Can I try this!

[2021-09-16 13:18] I-ArchanaDash opened #225 "Front End : Introduction to HTML"
I would like to work on this issue in the form of Audio.
Please assign it to me.
Regards.

[2021-09-16 13:18] paramsiddharth commented on #214
@Saurabh-crypto16 I'll come back to the issue and add some more information to it. After that, you may start contributing.

[2021-09-16 13:19] Seldcouth commented on #19
Is there a time limit for working on it. ??

[2021-09-16 13:19] siddhi-244 commented on #225
I want to work on it in form of documentation

[2021-09-16 13:20] tavneetgill commented on #225
I would like to work on this issue using documentation and audio. Can I go for it?

[2021-09-16 13:20] Rijudas149 commented on #225
I want to work on this issue

[2021-09-16 13:20] tavneetgill commented on #221
I would like to work on this issue using documentation and audio. Can I go for it?

[2021-09-16 13:21] pragatikesarwani38 commented on #223
I would like to contribute to it @adityabisoi

[2021-09-16 13:21] hshrivastav commented on #202
I can also want to work it on.Can you please assigned me this issue?

[2021-09-16 13:21] Rijudas149 commented on #223
I want to work on it

[2021-09-16 13:21] paramsiddharth commented on #202
Issue updated. You may proceed with the contribution.

[2021-09-16 13:22] Rijudas149 commented on #221
I want  to work on this issue

[2021-09-16 13:22] Rijudas149 commented on #220
I can work on this issue.. plz assign me

[2021-09-16 13:23] Rijudas149 commented on #219
which language???

[2021-09-16 13:23] Yashesvinee opened #226 "Front-end -->CSS : Colors in CSS"
I would like to contribute to this in the form of a documentation
Yashesvinee V (Batch 4)

[2021-09-16 13:24] Kavindra-Mohan-Dwivedi commented on #219
I would love to work on this issue . Please assign this to me

[2021-09-16 13:25] Rohit-2602 commented on #19
**no there is no time limit**, but try to complete as soon as possible 😀

[2021-09-16 13:27] Rijudas149 commented on #226
I want to work on this issue.. plz assign me

[2021-09-16 13:27] Baba-Yaga-1 opened #227 "Frontend Dev (HTML, CSS, JS) : HTML TABLE"
I would like to contribute about HTML table along with its example code and screenshots of the output in the form of documentation.

[2021-09-16 13:29] khushi-purwar opened #228 "Front End : Semantic Elements"
I would like to work on this issue and add documentation to it. Please assign it to me.
I will be adding the code and documentation of each and every semantic elements.

Frontend HTML, CSS Batch-10(GWOC Contributor)

[2021-09-16 13:30] LegendSumeet commented on #203
I want to contribute to this... please assign this issue to me. @Aryamanz29

[2021-09-16 13:32] Baba-Yaga-1 opened #229 "Front end : CSS Box Model"
I would like to contribute about CSS box model along with its example and screenshots of the output in the form of documentation.
@praveenscience  kindly assign this to me. I am a GWOC contributor.

[2021-09-16 13:32] LegendSumeet opened #230 "Things you should know about open source before you use it"
@Aryamanz29 Hello Supervisor/ Mentor, Can I start working on this issue I just created? 😅

[2021-09-16 13:32] I-ArchanaDash opened #231 "Front End : HTML forms"
I would like to work on this issue and add documentation to it in a detailed manner.
Please assign it to me.
Regards.

[2021-09-16 13:33] YASHMAROO opened #232 "Frontend with HTML, CSS : What is Flex Box and Flex Properties"
<hr>

## Description 📜
Documentation on the topic - FlexBox and Flex Properties

<hr>

## Domain of Contribution 📊
- [x] Frontend Dev HTML/CSS/JS
<hr>

[2021-09-16 13:34] siddhi-244 commented on #231
I have already opened it.

[2021-09-16 13:34] Bhavika2210 commented on #208
I would like to write about history of HTML

[2021-09-16 13:35] Baba-Yaga-1 opened #233 "Front end : CSS Layouts"
I would like to contribute about CSS layouts: Displays, Floats, Positions, FlexBox, CSS Grid along with its example and screenshots of the output in the form of documentation.
Kindly assign this to me. I am a GWOC contributor.

[2021-09-16 13:35] LegendSumeet opened #234 "OpenSource : 3.7 The Pros and Cons of Open Source Software Development"
includes
Sense of value
Community recognition
Personal benefits
What Is Great About Developing Open Source Software?
What Is Open Source?

can @Aryamanz29 you assign me to these?

[2021-09-16 13:35] aman12207 commented on #227
I would like to work on this issue

[2021-09-16 13:35] ramii17 commented on #227
I am interested on the topic HTML TABLES , i ll contribute the documentation with the example codes and output screenshots. It would be great if u assign this to me . Thanks

Regards,
RAMYA KM || CONTRIBUTOR

[2021-09-16 13:36] samridhikapoor commented on #207
I want to contribute on this issue via documentation or video

[2021-09-16 13:36] VikasPandey121 commented on #126
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 2.2 for instance `2.2 Android UI Widgets`
Note:- If you have multiple files to commit then add a tag at the beginning of your fil

[2021-09-16 13:37] Bhavika2210 commented on #221
i would like to work on html Links and Images

[2021-09-16 13:37] pradeepks10 commented on #202
i can also want to work it on. Can you please assigned me this issue?

[2021-09-16 13:37] Baba-Yaga-1 opened #235 "Frontend Dev (HTML, CSS, JS) : HTML Classes and IDs"
I would like to contribute about HTML classes and ids along with its example and screenshots of the output in the form of documentation.
Kindly assign this to me. I am a GWOC contributor.

[2021-09-16 13:37] samridhikapoor commented on #221
I would like to contribute on this issue via documentation or video

[2021-09-16 13:38] Aryamanz29 commented on #234
Hey @LegendSumeet  , You've already been assigned 2 issues first try to create PR for that then We'll think of working on this.
Thanks

[2021-09-16 13:38] LegendSumeet opened #236 "A Complete Guide to Flexbox documentation"
Documentation Include 👍 :
Background
Basics and terminology
Flexbox properties
Prefixing Flexbox
Examples
Flexbox tricks
Browser support
Bugs
Related properties

can you @praveenscience assign me to these?

[2021-09-16 13:38] samridhikapoor commented on #231
I would like to contribute on this issue via documentation or video

[2021-09-16 13:39] Rijudas149 commented on #235
I want to work on this issue

[2021-09-16 13:39] Rijudas149 commented on #233
I want to work on this issue

[2021-09-16 13:40] Rijudas149 commented on #232
I want to work on this issue

[2021-09-16 13:40] Aryamanz29 commented on #230
Hey , Please Don't spam with create same issues over again. You've already been assigned 2 issues try to complete that first

[2021-09-16 13:40] Kavindra-Mohan-Dwivedi commented on #234
I would love to work on this issue

[2021-09-16 13:41] #230 closed

[2021-09-16 13:41] Rijudas149 commented on #231
I want to work on this issue

[2021-09-16 13:41] hshrivastav commented on #231
I would like to work on this issue and add documentation to it in a detailed manner can add ss of code examples too.
Please assign it to me.
Regards

[2021-09-16 13:41] Rijudas149 commented on #229
I want to work on this issue

[2021-09-16 13:41] Rijudas149 commented on #228
I want to work on this issue

[2021-09-16 13:42] Aryamanz29 commented on #234
@Kavindra-Mohan-Dwivedi  Assigning this to you , Happy Documenting 🙌

[2021-09-16 13:42] LavleenAgrawal commented on #228
@praveenscience I want to make video content on this, May I ?

Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 13:43] pradeepks10 commented on #231
I want  to work on this issue and add documentation to it in a detailed manner.
please assign it to me.

[2021-09-16 13:43] LavleenAgrawal commented on #229
@praveenscience I want to make video content on this, May I ?

Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 13:43] LavleenAgrawal commented on #207
@praveenscience I want to make video content on this, May I ?

Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 13:44] VedRatan commented on #219
I would like to try my hands in this issue

[2021-09-16 13:45] h2o-Noob commented on #232
I would like to work on this issue by providing documentation. I have a good knowledge of css flexbox and worked alot with them in past projects

[2021-09-16 13:45] #203 closed

[2021-09-16 13:45] vnaazleen opened #237 "Front-End Web Dev: Form Validation"
I would like to contribute to Form Validation in HTML and JS

[2021-09-16 13:45] hshrivastav commented on #69
please this assign to me sir i want to work on this

[2021-09-16 13:45] itika1 opened #238 "Frontend : HTML Forms"
I would like to contribute on this topic with documentation in detail.

[2021-09-16 13:45] anmol20112000 opened #239 "@VikasPandey121 sir please review the PR..."
@VikasPandey121  sir please review the PR...

_Originally posted by @anmol20112000 in https://github.com/girlscript/winter-of-contributing/issues/85#issuecomment-920916616_

[2021-09-16 13:46] shubhdholakiya commented on #24
@Aryamanz29 Hey brother, while making PR do I need to add any other document, or do I just need to add the documentation I made?

[2021-09-16 13:46] #239 closed

[2021-09-16 13:47] pradeepks10 commented on #69
Sir, I want to work on it.
please assign it to me.

[2021-09-16 13:47] Anna-cod commented on #76
@adityabisoi okay thank you!

[2021-09-16 13:48] LavleenAgrawal commented on #237
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 13:48] itika1 commented on #223
I would like to work on this.
Type- documentation

[2021-09-16 13:48] LavleenAgrawal commented on #235
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 13:49] LavleenAgrawal commented on #238
I want to make video content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 13:51] anisha-01-phoenix commented on #126
ok Sir

[2021-09-16 13:51] ayushi15092002 opened #240 "Front-"

[2021-09-16 13:53] LavleenAgrawal commented on #236
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 13:53] thejayeshsoni opened #241 "Android-Architecture"
### Platform Architecture
Android is an open source, Linux-based software stack created for a wide array of devices and form factors.

### The main components of android architecture are following:-

- System Apps
- Java API framework
- Native C/C++ libraries
- Android Runtime
- Hardware abstraction layer (HAL)
- Linux Kernel

### Resources:-
[https://developer.android.com/guide/platform](url)
[ht

[2021-09-16 13:54] paramsiddharth commented on #69
@hshrivastav @pradeepks10 I'm sorry, the issue is assigned to too many people already. Although I can't assign it to you, you may start with a PR.

Since this issue is crowded, there are less chances of you having your PR merged. I suggest you look for other issues or create your own.

[2021-09-16 13:55] paramsiddharth commented on #214
@Saurabh-crypto16 Please verify you're eligible to contribute to the JavaScript domain! I've assigned you the issue regardless.

[2021-09-16 13:56] pranjay-poddar opened #242 "Frontend: KeyFrames in CSS"
### I would like to work on adding complete documentation on CSS keyframes for CSS animations.

**Documentation** Includes:

1) What is CSS Keyframes
2) Uses
3) Some frequently used CSS keyframe animations.

@praveenscience I request you to please assign this task to me.

[2021-09-16 13:57] YASHMAROO opened #243 "Frontend with HTML, CSS: Responsive Design and Media Queries"
I would like to work on the above topic's documentation @praveenscience.
In my previous projects, I had worked extensively with the media queries and making websites responsive in any view.  So I have good knowledge on the above-said topic and would like to share this knowledge with everyone.

[2021-09-16 13:57] Aryamanz29 commented on #24
Only doc

[2021-09-16 13:58] VedRatan opened #244 "What is class and what are objects in java ? What are different types of access specifiers in java and how do they work?"
can I work on this one ?

[2021-09-16 13:59] LavleenAgrawal commented on #240
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 13:59] hshrivastav commented on #238
I would like to contribute on this topic with documentation in detail.
please assign this to me.

[2021-09-16 13:59] LavleenAgrawal commented on #243
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 13:59] paramsiddharth commented on #213
@helper-uttam @supriya-045 Pardon, there is already an issue for functions and scope. I'll make this one an issue for Objects. Then both of you may start working.

[2021-09-16 13:59] Saurabh-crypto16 commented on #214
Sir I am in batch 6 of frontend using html css js

[2021-09-16 14:01] pradeepks10 commented on #238
I would like to contribute on this topic with documentation in detail .
 please assign it to me

[2021-09-16 14:03] helper-uttam commented on #213
Thankyou 🙂 i agree, please assign me

[2021-09-16 14:03] Tiwarisonal19 commented on #244
@Aryamanz29  I want to work on this issue, please add me to it.

[2021-09-16 14:04] Aryamanz29 commented on #244
I'm supervisor of open source domain , Please don't tag me

[2021-09-16 14:04] LavleenAgrawal commented on #197
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 14:05] #229 closed

[2021-09-16 14:05] paramsiddharth commented on #213
@helper-uttam I'm sorry. This must've been a confusion. I'll fix the issue and you may request a review from one of the FEWD/BEWD supervisors. Really sorry about this.

[2021-09-16 14:05] itika1 opened #245 "Python: 1.10 Basic Datatypes of Python"
I want to make a documentation contribution on this issue. Please assign me this @adityabisoi sir.

[2021-09-16 14:05] #233 closed

[2021-09-16 14:06] paramsiddharth opened #246 "JS: Objects"
# Objects
Objects in JavaScript.

## Directory
[code]

## Description
* About JavaScript objects.
* How to define them?
* Getters and setters.
* What are keys and values?

[2021-09-16 14:08] siddhi-244 commented on #246
Can I try it

[2021-09-16 14:08] paramsiddharth opened #247 "JS: Functions"
# Functions
Functions in JavaScript

## Directory
[code]

## Description
- What is scope?
- What is the lifetime of JavaScript variables?
- Basic function syntax.
- What are parameters in functions?
- Types of functions.
- Why use functions?

[2021-09-16 14:09] siddhi-244 commented on #246
In terms of documentation

[2021-09-16 14:10] paramsiddharth commented on #214
@Saurabh-crypto16 @chakitg Pardon, there's been some confusion. The issue seemed to be related to the JavaScript domain. It isn't; I encourage you to request an assignment from the web development domain. Sorry!

[2021-09-16 14:10] janvist opened #248 "i would like to work on this. please assign this to me."

[2021-09-16 14:10] vanshhhhh opened #249 "Python: 3.2 Operators: arithmetic & assignment operators"
@adityabisoi I would like to work on the documentation of the specified topic. I will work on all the sub-topics given in the Python roadmap (i.e. Arithmetic operators, Assignment operators, Comparison operators, Logical operators, Identity operators, Membership operators, Bitwise operators).
Please assign me this issue. Thanks.

Vansh Sharma (Python Batch 3)

[2021-09-16 14:11] paramsiddharth commented on #246
@siddhi-244 Sure! You may, though I'd encourage you to work on one issue at a time. Best of luck!

[2021-09-16 14:11] janvist commented on #218
i would like to work on this. please assign this to me.

[2021-09-16 14:12] siddhi-244 commented on #246
I can do it together

[2021-09-16 14:14] TuhinBanerjee31 opened #250 "Frontend : CSS : Content manipulation - margin,padding,align"
I would like to work on this issue in the form of documentation under Gwoc-21 .

[2021-09-16 14:14] samridhikapoor commented on #238
I would like to contribute on this issue via documentation or video
I would request @praveenscience to assign this issue to me.
Thanks and regards

[2021-09-16 14:14] Aryamanz29 commented on #194
@priyanshuc4423  Assigning this to you , Happy Documenting 🙌

[2021-09-16 14:14] chetan-2002 commented on #225
I want to work on the documentation part if anyone wants to collaborate with me in writing the documentation, You are always welcome. Cheers :)

[2021-09-16 14:15] samridhikapoor commented on #221
I would like to contribute on this issue via documentation or video
I would request you to assign this issue to me.
Thanks and regards

[2021-09-16 14:15] ragavan14 commented on #249
@adityabisoi I would like to work on the documentation of the specified topic. I have good experience in python and its functionalities
Please assign me this issue. Thanks.

B.Ragavan (Python Batch 6)

[2021-09-16 14:15] samridhikapoor commented on #219
I would like to contribute on this issue via documentation or video
I would request you to assign this issue to me.
Thanks and regards

[2021-09-16 14:16] samridhikapoor commented on #232
I would like to contribute on this issue via documentation or video
I would request you to assign this issue to me.
Thanks and regards

[2021-09-16 14:16] samridhikapoor commented on #235
I would like to contribute on this issue via documentation or video
I would request you to assign this issue to me.
Thanks and regards

[2021-09-16 14:17] LavleenAgrawal opened #251 "Frontend - HTML: Search Engine Optimization Basics"
I want to make audio / video content on this, May I ?
- Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 14:18] samridhikapoor commented on #236
I would like to contribute on this issue via documentation or video
I would request you to assign this issue to me.
Thanks and regards

[2021-09-16 14:18] Asmit2952 commented on #226
I had already opened an issue

[2021-09-16 14:19] ekesel commented on #79
Hi, I'd like to contribute to this in the form of documentation (GWOC'21 Python batch 2)

[2021-09-16 14:20] Asmit2952 commented on #251
I want to document it? Can you assign it to me?

[2021-09-16 14:21] sushovanb02 commented on #247
I want to work on this issue

[2021-09-16 14:22] ekesel commented on #47
Hi, I'd like to contribute to this in the form of documentation (GWOC'21 Python batch 4)

[2021-09-16 14:22] chetan-2002 commented on #248
It's a kind request please don't spam the issues section.

[2021-09-16 14:24] KhafiaAyyub opened #252 "Front-end : CSS Button Styling"

[2021-09-16 14:26] aniketpathak028 commented on #246
I want to work on this issue, can I try it?

[2021-09-16 14:30] VikasPandey121 commented on #105
Yes sure, Here we are trying to build a repo that can be helpful from beginners to the advanced level Android-Developers. I am referring it with Module 9 of [Road-Map](https://docs.google.com/document/d/137rcHXwjCMY8rSD06IwtJzAEMS1g4_G8VJEggRwhjGQ/edit?usp=sharing).

Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it t

[2021-09-16 14:31] Kajal13081 commented on #54
I would like to work on that. Please assign me this issue @Debasmita-01

[2021-09-16 14:32] VikasPandey121 commented on #105
@Arjun2905 I have assigned this issue to you, You can start your contribution with it.

[2021-09-16 14:32] supriya-045 commented on #213
sorry sir ,by mistake i pressed on unassign button.Please pardon and assign it to me again.

[2021-09-16 14:34] Kajal13081 commented on #54
Are you making documentation? If yes then I'll work on video.

[2021-09-16 14:34] rahulsain opened #254 "Android-Kotlin: 00.2 Readme Update W.R.T Roadmap"
Update the [readme](https://github.com/girlscript/winter-of-contributing/blob/Android_Development_With_Kotlin/Android_Development_with_Kotlin/README.md) of Android Dev with Kotlin with the content given in the roadmap (already given in the #general channel) with clean documentation.

[2021-09-16 14:37] TechnoPhasePRO opened #256 "Python: File Handling & Exception Handlling"
**PYTHON**
FILE HANDLING & EXCEPTION HANDLING IN PYTHON

### FILE HANDLING IN PYTHON

- Opening & Closing Files.
- Working of different Modes

### EXCEPTION HANDLING

- WHAT ARE EXCEPTIONS & ITS TYPES
- USE OF EXCEPTION HANDLING
- WORKING OF TRY..EXCEPT CLAUSES
- RAISING EXCEPTIONS

### format

- [ ] DOCUMENTATION

[2021-09-16 14:38] TechnoPhasePRO commented on #256
@adityabisoi I would love to work on this issuue. please assign lables to this issue.

[2021-09-16 14:39] lohith1392 commented on #256
I am intrested in working over the documentation
Peddi sai lohith
Python batch 4

[2021-09-16 14:39] GopinathBalaji commented on #252
I have adequate knowledge of CSS styling. Can I please have this issue.

[2021-09-16 14:39] yashh18 commented on #249
@adityabisoi I'd like to work on the documentation or code of the project. I am a 5 star coder in Python @HackerRank
Thanks !!
Yash Kataria(Python batch-3)

[2021-09-16 14:40] AbhinandanAdhikari commented on #247
Sir, I want to work on it

[2021-09-16 14:40] naveeramesh commented on #152
@ViAsmit can I contribute now to the exercise based on functions?

[2021-09-16 14:40] Harshil-Jani opened #257 "OpenSource : 3.8 Finding Issues on Github"
Documentation on
- Understanding the Github Search Bar
- Creating and Finding Issues
- Adding Labels

[2021-09-16 14:40] Harshil-Jani commented on #257
Batch-1
Open Source Contributor
Can I try with this one for documenting?

[2021-09-16 14:40] shaurya24sri commented on #256
I am interested in working with this issue.
@shaurya24sri
Python-batch 5

[2021-09-16 14:43] VikasPandey121 commented on #117
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 2.2 for instance `2.2 Android UI Widgets`
Note:- If you have multiple files to commit then add a tag at the beginning of your fil

[2021-09-16 14:43] aakankshabhende commented on #247
@paramsiddharth can I try the documentation part?

[2021-09-16 14:44] siddhi-244 commented on #247
Already doing it

[2021-09-16 14:44] Korak-Sengupta commented on #235
I would be extremely glad to work on this issue, through audio and documentation, pleasee assign this to me

[2021-09-16 14:45] lohith1392 opened #258 "Python: basic data types"
Contains all data types used in python like
Str
Int
Float

[2021-09-16 14:45] VikasPandey121 commented on #117
@Pradumnasaraf  Yes sure, I have assigned this issue to you.
@shekhars08 Please look into other issues which are still not been assigned to others.

[2021-09-16 14:45] Aryamanz29 commented on #257
Nice issue , We need that @Harshil-Jani Thanks for creating 🙌 . Assigning this to you . Happy Documenting 🎉

[2021-09-16 14:45] VidhiBhatt01 commented on #258
I would like to do this

[2021-09-16 14:46] lohith1392 commented on #258
@adityabisoi can I work on this documentation
Peddi sai lohith
Batch 4 python

[2021-09-16 14:46] lohith1392 commented on #258
@VidhiBhatt01 actually I did this topic for me

[2021-09-16 14:47] Tiwarisonal19 commented on #244
I want to work on this issue, please add me to it.

[2021-09-16 14:47] Aryamanz29 commented on #248
Please follow contributing guidelines , Thanks ✌️

[2021-09-16 14:47] #248 closed

[2021-09-16 14:47] aakankshabhende opened #259 "Program Execution in JavaScript"
Will document the execution context, its phases and call stack
Can I work on this issue?

[2021-09-16 14:48] Aryamanz29 commented on #194
Ok sure @AnirudhBot  , As you are first contributing to our domain , I'm assigning this to you, Happy Documenting 🙌🎉

[2021-09-16 14:49] paramsiddharth commented on #247
@siddhi-244 @aakankshabhende It's alright. :) Multiple contributors may work on the same issue at the same time, though they are encouraged to go for issues that have less contributors assigned to them. Best of luck to all of you!

[2021-09-16 14:50] shaurya24sri commented on #78
I am Shaurya.
 Can I go for Audion Contribution@adityabisoi

[2021-09-16 14:54] nayakaj commented on #257
i wanna do it plz assign

[2021-09-16 14:56] shaurya24sri commented on #258
I am Shaurya
python batch 5
I would like to work on the issue

[2021-09-16 14:57] Lakshit-Chiranjiv commented on #254
I would like to work on this after you share the roadmap

[2021-09-16 14:58] VikasPandey121 commented on #116
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 9.0 for instance `9.0 Integrating Firebase with Android studio`
Note:- If you have multiple files to commit then add a tag at the

[2021-09-16 14:59] nayakaj commented on #249
i would lovw to do plz assign

[2021-09-16 15:02] nayakaj commented on #27
@Aryamanz29  i submit by today

[2021-09-16 15:03] rajmadhu0406 opened #261 "Front-end"

[2021-09-16 15:04] rajmadhu0406 opened #262 "Front-end: List of HTML code Editors"
I would like to make a list of top HTML editors.

[2021-09-16 15:04] Pranshu321 commented on #235
i would be extremely glad if i get a chance to work on this issue and  i do this in the form of documentation form

[2021-09-16 15:05] shaurya24sri commented on #245
I am Shaurya
python batch 5
Can i contribute for the documentation part on this issue.

[2021-09-16 15:05] VikasPandey121 commented on #121
Please add a description as well in this issue. I am assigning this issue to you @Priyanshirathore .

keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 2.4 for instance `2.4 Layouts in A

[2021-09-16 15:05] Malvikakaushal2001 commented on #245
I want to contribute in this issue
I am from Python batch-3

[2021-09-16 15:06] priyanshuc4423 opened #263 "OpenSouce : 3.6 Overview of Google summer of code"

[2021-09-16 15:06] Malvikakaushal2001 commented on #223
I want to contribute in this issue
I am from Python batch-3

[2021-09-16 15:06] priyanshuc4423 commented on #263
@Aryamanz29  can I contribute to this

[2021-09-16 15:07] Pranshu321 commented on #238
I glad if i get chance to work on this issue via documentation i would request to assign to me.

[2021-09-16 15:08] Malvikakaushal2001 commented on #256
I want to contribute in this issue
I am from Python batch-3

[2021-09-16 15:09] samruddhikadam commented on #47
On Thu, 16 Sep 2021 at 2:47 PM, Aditya Bisoi ***@***.***>
wrote:

Audio

[2021-09-16 15:09] shubham28102001 opened #264 "Frontend: HTML, CSS: What is SVG and animating them with JS"
- I would discuss about what is SVG.
- Animating them with CSS and JavaScript.
- Benefits of using SVG's in website instead of images.

[2021-09-16 15:10] Malvikakaushal2001 commented on #249
I want to contribute in this issue
I am from Python batch-3

[2021-09-16 15:13] Pranshu321 opened #265 "Frontend: HTML LISTS"
I would Like to work on this via documentation form i will full explain every point with example and its different styles also.
like defining ordered and unordered list properly.

[2021-09-16 15:13] helper-uttam commented on #213
No worries it's okay, it took 5min to understand about FEWD/BEWD.  😅🤷‍♀️
if someone else intend to know it's full form then
[code]

[2021-09-16 15:13] AbhishekBhatt072003 commented on #245
hello everyone.
I think the documentation will be much readable and understandable if we explain datatypes with some diagrams and illustration.
I can work on this.
Assign this to me

[2021-09-16 15:14] shubham28102001 commented on #264
@mentors Can I work with this issue?

[2021-09-16 15:14] ajaykathwate commented on #79
can I work on this issue?
pls assign this issue to me
Documentation.

[2021-09-16 15:15] AnirudhBot opened #266 "JS: JavaScript HTML DOM"
<h1>JavaScript HTML DOM</h1>
Document Object Model(DOM) and its implementation

## Directory
[code]
The index number will be added later.

<h2>Description</h2>
<ul>
  <li>What is DOM</li>
  <li>What is DOM used for</li>
  <li>JavaScript HTML DOM methods</li>
  <li>How to modify HTML elements using JavaScript by DOM</li>
</ul>

[2021-09-16 15:16] Ravinayak07 opened #267 "Front-end: colors in CSS"
- I would like to work on this issue and add  detailed documentation of <br>
 <strong><a href="#"> CSS Colors :- RGB, HEX, HSL</a> </strong>

- Please assign it to me.
- FRONTEND WITH HTML, CSS Batch-17(GWOC Contributor)

- Name : Ravi Shankar Nayak .

- can you @praveenscience assign me this role?

[2021-09-16 15:17] gsk-007 commented on #242
I am interested in working on this issue
Documentation with animations(including the code)

[2021-09-16 15:17] 2devyank commented on #247
Sir i would like to work on this issue paramsiddharth

[2021-09-16 15:19] samruddhikadam commented on #265
i would like to work on this via audio or video. please assign this to me.

[2021-09-16 15:19] rahulsain commented on #254
@Lakshit-Chiranjiv You can proceed with this task.

[2021-09-16 15:19] ananyaagrawal23 opened #268 "Frontend: HTML, CSS: HTML Fonts"
I would like to work on documenting font usage and font styling in HTML, CSS.

[2021-09-16 15:19] gsk-007 commented on #252
I am interested in working on the documentation.

[2021-09-16 15:20] samruddhikadam commented on #258
@adityabisoi can i work on this
python batch 4
audio or video format

[2021-09-16 15:20] samruddhikadam commented on #252
i would like to work on this via audio or video. please assign this to me.

[2021-09-16 15:20] neilotpal opened #269 "Frontend : Text Manipulation (CSS)"
I would like to provide detailed documentation for this topic, it will include:
->Text Color
->Text Alignment
->Text Decoration
->Text Transformation
->Text Spacing
->Text Shadow

Please assign this issue to me.

[2021-09-16 15:21] samruddhikadam commented on #250
i would like to work on this via audio or video. please assign this to me.
frontend batch 9

[2021-09-16 15:21] vatsss commented on #265
I would like to work on this issue via documentation, please assign this to me.

[2021-09-16 15:21] LavleenAgrawal commented on #269
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 15:21] LavleenAgrawal commented on #268
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 15:21] LavleenAgrawal commented on #267
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 15:22] samruddhikadam commented on #249
i would like to work on this via audio or video. please assign this to me.
@adityabisoi
python batch 4

[2021-09-16 15:22] LavleenAgrawal commented on #262
I want to make audio content on this, May I ?
Lavleen Agrawal (Batch 18 - Frontend)

[2021-09-16 15:22] samruddhikadam commented on #240
i would like to work on this via audio or video. please assign this to me.
Fronted Batch 9

[2021-09-16 15:23] vatsss commented on #262
I would like to work on this issue via documentation, please consider me for this.

[2021-09-16 15:23] samruddhikadam commented on #243
i would like to work on this via audio or video. please assign this to me.
Fronted Batch 9

[2021-09-16 15:23] samruddhikadam commented on #238
i would like to work on this via audio or video. please assign this to me.
Fronted Batch 9

[2021-09-16 15:23] Sakshi-1101 commented on #263
Sir , can I contribute to this ?

[2021-09-16 15:23] siddhi-244 commented on #247
Please check my pr

[2021-09-16 15:24] vatsss commented on #251
I would like to work on this issue, do consider me for this.

[2021-09-16 15:24] samruddhikadam commented on #227
i would like to work on this via audio or video. please assign this to me.
Fronted Batch 9

[2021-09-16 15:24] Aryamanz29 commented on #263
Can you create new issue for explaining everything about `MLH fellowship` @Sakshi-1101

[2021-09-16 15:24] samruddhikadam commented on #226
i would like to work on this via audio or video. please assign this to me.
Fronted Batch 9

[2021-09-16 15:25] samruddhikadam commented on #225
i would like to work on this via audio or video. please assign this to me.
Fronted Batch 9

[2021-09-16 15:25] samruddhikadam commented on #208
i would like to work on this via audio or video. please assign this to me.
Fronted Batch 9

[2021-09-16 15:25] Aryamanz29 commented on #263
I'll assign that to you

[2021-09-16 15:25] Saurabh-crypto16 opened #271 "Web Development: Arrays"
I have seen the roadmap given and I would like to contribute about Arrays in JavaScript.

Topics to be covered:

What is an Array?
Example of Arrays in js.
Using the JavaScript Keyword new.
Accessing Array Elements.
Changing an Array Element
Access the Full Array
Using Arrays are Objects
Array Properties and Methods.
Looping Array Elements.
What Associative Arrays?
The Difference Between Arrays an

[2021-09-16 15:26] vatsss commented on #235
I would like to work on this issue via documentation, can you assign it to me?

[2021-09-16 15:28] Ravinayak07 opened #272 "Frontend : CSS Animations"
- I would like to work on this issue and add complete detailed documentation of <br>
 <strong><a href="#"> CSS Animations</a> </strong>

- Please assign it to me.
- FRONTEND WITH HTML, CSS Batch-17(GWOC Contributor)

- Name : Ravi Shankar Nayak .

- can you @praveenscience assign me this role?

[2021-09-16 15:29] pratyaksh1610 commented on #175
Hey , I would like to contribute to this issue, can you assign this to me .

[2021-09-16 15:29] gsk-007 commented on #272
I am interested in working on this issue.

[2021-09-16 15:29] Asmit2952 commented on #209
@praveenscience please assign this issue to me

[2021-09-16 15:30] Asmit2952 commented on #212
@praveenscience @ghulamyazdani please assign this issue to me.

[2021-09-16 15:30] vatsss commented on #271
I would like to work on this issue as well via documentation, please consider me for this.

[2021-09-16 15:31] SushantPatial commented on #236
I would like to contribute to this issue as well

[2021-09-16 15:32] Pradumnasaraf commented on #117
Thank You for assigning it to me.

[2021-09-16 15:34] AnirudhBot opened #274 "Frontend: CSS Box Model"
<h1>CSS Box Model</h1>
The CSS box model
<h2>Description</h2>
<ul>
<li>What is Box model</li>
<li>What are its various parts</li>
<li>How does box model works</li>
</ul>

[2021-09-16 15:35] rahulsain opened #275 "Android-Kotlin: 00.1 Contributing Guideline"
Make a CONTRIBUTING.md that has the same rules that are shared on the announcement section **Workflow.docx**

[2021-09-16 15:35] KhafiaAyyub opened #276 "Open Source : Pros and Cons of Open Source"
@Aryamanz29 Can I contribute to this?

[2021-09-16 15:36] gsk-007 commented on #274
I am interested in working on this issue. Frontend Batch 6

[2021-09-16 15:36] Sakshi-1101 commented on #263
Yes sir!

[2021-09-16 15:37] samy0444 opened #277 "Android-java 4.3 startActivityForResult from an activity and fragment"
• How to pass an intent to the system using startActivity() method. How to put extra data using putExtra() and access that data.
• How to receive a result using fragment and activity method startActivityForResult(), getActivityResult().

Please assign me this issue @Rohit-2602

[2021-09-16 15:38] Kavindra-Mohan-Dwivedi commented on #276
I would like to work on this issue

[2021-09-16 15:38] Aryamanz29 commented on #276
Copy of #234 Closing this

[2021-09-16 15:38] #276 closed

[2021-09-16 15:40] Srijan221 opened #278 "Android-Java : 11.0 Android Sensor Tutorial"
This issue will have -
1. Overview of using mobile sensors in an app
2. Use of motion sensors like Accelerometer, Gravity, Gyroscope, Step Counter, etc
3. Use of position sensors like Proximity Sensor
4. Making and integrating a simple app with some onboarding sensors of mobile phones.

[2021-09-16 15:42] BishwasKumar commented on #126
good job vikas

[2021-09-16 15:42] Srijan221 commented on #278
@Rohit-2602 I want to work in this, Can I?

[2021-09-16 15:42] #278 closed

[2021-09-16 15:42] Srijan221 commented on #278
@Rohit-2602 I want to work in this, Can I?

[2021-09-16 15:43] chakitg commented on #194
I am pretty much comfortable with GitHub and the command line. I want to contribute to this... please assign this to me.
Batch-1 Open Source: Chakit Gupta | Contributor

[2021-09-16 15:45] cookieg13 commented on #274
@praveenscience Hi sir! I would love to contribute on this topic, can you please assign it to me? Debarati Ghatak, Frontend Batch 5

[2021-09-16 15:45] priyanshu688 commented on #138
@VikasPandey121 @sitamadex11 Can you please tell me whether I did right or wrong?? This is what I need to do right?

[2021-09-16 15:48] cookieg13 commented on #272
@praveenscience Hi sir! I would love to contribute on this topic, can you please assign it to me? Debarati Ghatak, Frontend Batch 5

[2021-09-16 15:49] cookieg13 commented on #243
Hi sir! I would love to contribute on this topic, can you please assign it to me?

- Debarati Ghatak,
-  Frontend Batch 5

[2021-09-16 15:50] cookieg13 commented on #240
Hi sir! I would love to contribute on this topic, can you please assign it to me?

- Debarati Ghatak
- Frontend Batch 5

[2021-09-16 15:54] cookieg13 commented on #265
@praveenscience Hi sir! I would love to contribute on this topic, can you please assign it to me? Debarati Ghatak, Frontend Batch 5

[2021-09-16 15:54] cookieg13 commented on #237
Hi sir! I would love to contribute on this topic, can you please assign it to me? Debarati Ghatak, Frontend Batch 5

[2021-09-16 15:55] cookieg13 commented on #232
Hi sir! I would love to contribute on this topic, can you please assign it to me? Debarati Ghatak, Frontend Batch 5

[2021-09-16 15:55] ketanraj15 commented on #114
I would really like to contribute on this issue!
(DSA Batch-5)

[2021-09-16 15:55] atishay5203 commented on #275
Sir, i will like to work on this.

[2021-09-16 15:55] Saurabh-crypto16 opened #280 "Frontend Web Development Using React: JSX"
I have seen the roadmap given and I would like to contribute to the documentation of JSX  in Frontend Web Development using React.

Topics to be covered:
1. What is JSX?
2. Syntax of JSX.
3. Why use JSX.
4. Comparing JSX with JS and HTML
5. How to Embed Expressions in JSX
6. JSX as an Expression.
7. How to Specify Attributes with JSX.
8. How to Specify Children with JSX
9. How JSX Represents Objec

[2021-09-16 15:57] pravahanj commented on #114
Sir,
I would like to contribute in it (DSA Batch 5)

[2021-09-16 15:57] #217 closed

[2021-09-16 15:57] cookieg13 commented on #252
Hi ! I would love to contribute on this topic, can you please assign it to me? Debarati Ghatak, Frontend Batch 5

[2021-09-16 15:58] #280 closed

[2021-09-16 15:58] Adityanr commented on #223
might be better if you guys specify what kind of contribution that you want to make. since I already opted for documentation and its a custom issue created by me upon the suggestion of supervisor :)

[2021-09-16 16:00] Tiwarisonal19 commented on #244
@praveenscience I want to work one his, please assign me this issue.

[2021-09-16 16:00] husain3012 opened #282 "JS: Promises in JavaScript - Video"
## Directory
[code]
The index will be added manually after merging.

## Description
- Explain the concept of promises.
- Why do we need them?
- How to handle returned promises.
- What different types of promises can be returned?

[2021-09-16 16:00] Sarfraz-droid commented on #91
Can I work on video for this?

[2021-09-16 16:00] husain3012 commented on #282
@paramsiddharth Kindly label this issue, and I would like to work on it.

[2021-09-16 16:01] aayushisingh11 opened #283 "CSS Layouts- Displays, Floats, Positions, Flex Box, CSS Grid"
CSS Layouts

- Displays

- Floats

- Positions

- Flex Box

- CSS Grid

[2021-09-16 16:01] Sarfraz-droid commented on #247
Can I work on Video for this?

[2021-09-16 16:01] yuvraj-2503 commented on #275
I would like to work on this issue.

[2021-09-16 16:02] aayushisingh11 commented on #283
@praveenscience sir I request you to please assign this task to me.

[2021-09-16 16:08] sitamadex11 commented on #147
@Manmeet2607 you can make a markdown file. I think it will be better

[2021-09-16 16:10] ELLIPSIS009 opened #284 "OpenSource : 3.9 Overview of Red Hat Open Source Contest"
@Aryamanz29 can i contribute to this

[2021-09-16 16:14] Aryamanz29 commented on #120
Done, Merged 🎉🎉🎉, Closing this issue now

[2021-09-16 16:14] #120 closed

[2021-09-16 16:16] Aryamanz29 commented on #284
@ELLIPSIS009  Sure, I'll assign this to you, Happy Documenting 🎉🎉

[2021-09-16 16:16] LegendSumeet opened #285 "OpenSource : 4. Participating in Open Source Communities"
its include:

  1. What does it mean for an organization to contribute?
  2 .How did contributions work?
  3 . How open-source projects are managed?

Please note that: @LegendSumeet
- File `name, commit message and PR title` should be the same
- Doc should be less `text-heavy` , try to explain things with `gif, images, graphs` etc

@Aryamanz29

[2021-09-16 16:17] kumaradityaraj commented on #283
@praveenscience Even I would also like to contribute to it.

1. Displays-Definition and Usage, CSS Syntax,  Property Values

2.Floats

3.Positions-static, relative, fixed, absolute, sticky

4.Flex Box

5.CSS Grid-Layout, Elements, Display Property, Grid Columns, Grid Rows, All CSS Grid Properties

[2021-09-16 16:18] Aryamanz29 commented on #284
Please note that @ELLIPSIS009  commit and File name should have the same name ie. `OpenSource : 3.9 Overview of Red Hat Open Source`

[2021-09-16 16:18] Karan-0206 commented on #272
Hello, My name is Karan Chaurasia from batch 16 and i would like to work on this issue

[2021-09-16 16:18] siddhi-244 commented on #120
Thank you

[2021-09-16 16:21] Priyanshirathore commented on #121
Okay sir, I will work on this. Thank you.

[2021-09-16 16:21] paramsiddharth commented on #247
@Sarfraz-droid Please go ahead. Don't make a PR just yet, wait for the documentation toe be merged first.

[2021-09-16 16:21] Aryamanz29 commented on #285
Assigning this to you @LegendSumeet , Happy Documenting 🎉🎉

[2021-09-16 16:22] Lakshit-Chiranjiv commented on #254
Got this!!

[2021-09-16 16:24] siddhi-244 commented on #247
I have made a pr for documentation

[2021-09-16 16:26] kumaradityaraj commented on #242
I would also like to contribute to this topic

[2021-09-16 16:26] #257 closed

[2021-09-16 16:27] kumaradityaraj commented on #220
I would also like to contribute to this topic.

[2021-09-16 16:27] Priyanshirathore commented on #121
**Description of the issue:**
1. What is a layout in android?
2. Attributes of layout in android.
3. Types of layouts in android.

[2021-09-16 16:29] VikasPandey121 commented on #122
Yes sure, I am assigning this issue to you @saloni33
Please keep these steps in mind while creating a pull request:

- use `git fetch` and `git pull` commands before pushing commit it to the remote repository.
- Your Contributing file should be in this directory `Android_Development/Java/` with the file name starting from 8.0 for instance `8.0 Notifications`
Note:- If you have multiple files to co

[2021-09-16 16:30] Ash-KODES opened #286 "FRONT END :HTML STYLE ATTRIBUTE(DOCUMENTATION)"
I will document all the html style elements,so that it is available at one place(will include all neccesary pictures,gif etc)
format:Documentation
frontend batch -10

[2021-09-16 16:30] #189 closed

[2021-09-16 16:32] kumaradityaraj commented on #286
I would also like to contribute to this topic

[2021-09-16 16:32] 2024-SANDHYA commented on #220
Sure assigned @ravireddy07

[2021-09-16 16:34] ELLIPSIS009 commented on #284
Okay, Got it

[2021-09-16 16:34] saloni33 commented on #122
Thank you sir, I will keep these things in my mind.

[2021-09-16 16:34] kumaradityaraj commented on #268
I also would like to contribute to the documenting part

[2021-09-16 16:37] kunal-kumar-chaudhary commented on #142
hey! I would like to work on this!

[2021-09-16 16:38] Aryamanz29 opened #287 "OpenSource : 4.1 Explain everything related to the `MLH fellowship`"
### Description :

- **Explain everything related to the fellowship**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating any issu

[2021-09-16 16:41] kumaradityaraj commented on #267
### colors in CSS

- CSS Background Color
- CSS Text Color
- CSS Border Color
- CSS Color Values
- RGB, HEX, HSL

Please assign me this one .

[2021-09-16 16:43] mayankkuthar commented on #263
What is this 3.6 ??

[2021-09-16 16:43] Purvibhoyar commented on #47
I will contribute in documentation format.

[2021-09-16 16:43] AbhinandanAdhikari commented on #246
Sir, I want to work on it.

[2021-09-16 16:43] mayankkuthar commented on #287
Can I work on this?

[2021-09-16 16:44] Purvibhoyar commented on #47
Can we contribute in both the ways - documentation with some audio in it?

[2021-09-16 16:44] Aryamanz29 commented on #263
Section 3 of the roadmap, You just ignore

[2021-09-16 16:45] siddhi-244 commented on #287
Can I work on this !

[2021-09-16 16:45] Aryamanz29 commented on #287
Sure @mayankkuthar , Assigning this to you, Happy Documenting 🎉🎉

[2021-09-16 16:46] Aryamanz29 commented on #287
Creating more issues wait 😂

[2021-09-16 16:46] Aryamanz29 commented on #287
@siddhi-244  Till then complete your assigned ones

[2021-09-16 16:47] siddhi-244 commented on #287
1 is done.😅

[2021-09-16 16:48] Aryamanz29 opened #288 "OpenSource : 4.2 Explain everything related to the `Fossasia Codeheat`"
### Description :

- **Explain everything related to the Fossasia Codeheat**

### Note :

- Changes should be made inside the `Open_Source/` directory & `Opensource` branch.
-  Issue only for `GWOC'21` contributors.
-  Issue will be assigned on a **first come first serve basis**, **1 Issue  ==  1 PR == 1 Contributor**
-  For `Contributor` please don't create the same issue again, before creating a