[2021-11-06 13:21] singhnikhiljsr opened #7393 "Important Puzzles frequently asked in Interviews"
### Description

List of Important Puzzles

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-06 13:21] singhnikhiljsr commented on #7393
/assign

[2021-11-06 13:31] yashh18 commented on #7346
/assign

[2021-11-06 13:31] TechnoPhasePRO commented on #7392
/assign

[2021-11-06 13:33] yashh18 commented on #7346
@prathimacode-hub Please assign me this issue !
Type of contribution : Documentation

[2021-11-06 13:50] iamKushGupta commented on #3646
Is this not merged yet?
Did I make a mistake???

[2021-11-06 14:04] rahilmehta-24 commented on #7362
./assign Documentation

[2021-11-06 14:06] rahilmehta-24 commented on #7341
./assign Documentation

[2021-11-06 14:18] prathimacode-hub commented on #7346
Approach please? Hope you read the issue? You have to use various regression techniques to work on this prediction.  @yashh18

[2021-11-06 14:22] prathimacode-hub commented on #7362
First give your details, your name, serial number, type of contribution and your approach. Then issue would be assigned. @rahilmehta-24

[2021-11-06 14:23] Apoorv-17 commented on #7346
@prathimacode-hub isn't the issue assigned on first come first serve basis??

[2021-11-06 14:23] prathimacode-hub commented on #7341
Just choose one issue you like to. @rahilmehta-24

[2021-11-06 14:29] yashh18 commented on #7346
@prathimacode-hub can you tell me how many and which regression techniques do i have to use specifically here?

[2021-11-06 14:43] vishvarana commented on #7359
Vishva Rana
Serial no - 495
Batch - 15
Type : Documentation
Approach : Will present different augmentation techniques such as flipping, cropping, shearing, zooming in or out, rotation with code using libraries like matplotlib and other libraries related to images

[2021-11-06 14:44] vishvarana commented on #7359
@prathimacode-hub

[2021-11-06 14:45] Yashesvinee opened #7396 "Python: JSON in Python"
### Description

Documentation on JSON in python

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-06 14:45] Yashesvinee commented on #7396
/assign

[2021-11-06 14:46] Yashesvinee commented on #7396
@adityabisoi can I work on this?

[2021-11-06 14:52] vishvarana commented on #7339
Vishva Rana
Batch -15
Serial - 495
Type - Documentation
Approach : Building a CNN using mnist dataset that predicts the probability of digits in a list and finding the maximum of them to predict which digit it resonates the most

[2021-11-06 14:59] Ruchika-20 commented on #7355
I Would like to work on this

[2021-11-06 15:00] prathimacode-hub commented on #7359
Issue assigned to @vishvarana for documentation

[2021-11-06 15:01] prathimacode-hub commented on #7355
Details please? Before that do the changes for your earlier PR. @Ruchika-20

[2021-11-06 15:01] prathimacode-hub commented on #7339
Already an issue is assigned to you. @vishvarana

[2021-11-06 15:01] Apoorv-17 commented on #7348
Hello, I am Apoorv Yadav, I would like to work on this issue.
Batch Number: 15
Serial Number: 537
GitHub Profile Link: https://github.com/Apoorv-17
contribution: Documentation
Approach:
Disaster tweets prediction training dataset, finding the best regression algorithm to find out the price and then the model evaluation next testing of the model and at last predicting the tweetsusing our trained mo

[2021-11-06 15:02] prathimacode-hub commented on #7348
Issue assigned to @Apoorv-17 for documentation

[2021-11-06 15:05] Ruchika-20 commented on #7355
I mailed you regarding the same .please check and reply

[2021-11-06 15:09] prathimacode-hub opened #7398 "Data Science with Python : Ridge and Lasso Regression"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work on implement Ridge and Lasso Regression Algorithms using Python

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go

[2021-11-06 15:12] prathimacode-hub opened #7399 "Data Science with Python : Social Distancing Detection using Yolo4"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work on social distancing detection using Yolo4.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go with all three or an

[2021-11-06 15:28] srini047 commented on #7398
Hi, I would like to work on this issue.
Name: Sriniketh J
Batch No: 17
Serial No: 613
Type: Documentation
Approach: Implement both the models on the same Dataset and compare them. Also give a brief overview of Lasso and Ridge Regression.

[2021-11-06 15:32] HarjasSodhi opened #7400 "[Create New Issue]: Require vs Import and Dynamic Imports"
### Description

explain differences between require and import syntax and then explain what dynamic importing is in javascript

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-11-06 15:32] HarjasSodhi commented on #7400
/assign

[2021-11-06 15:40] Nay907 commented on #7399
I would like to contribute to this issue.
Name- Nayanika Mishra
Batch- 9
Contribution type- Audio

[2021-11-06 15:42] darkhorse-2000 opened #7401 "Python Math Module"
### Description

Brief description about Python math module through documentation.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-11-06 15:42] darkhorse-2000 commented on #7401
/assign

[2021-11-06 15:43] darkhorse-2000 commented on #7401
@adityabisoi can I work on this issue?

[2021-11-06 15:49] Anujakumari commented on #2249
@adityabisoi
sir, can I contribute on this issue through video.
Thanks!

[2021-11-06 15:51] syedareehaquasar commented on #7393
Go ahead!

[2021-11-06 15:58] prathimacode-hub commented on #7398
Issue assigned to @srini047 for documentation

[2021-11-06 15:58] prathimacode-hub commented on #7399
Issue assigned to @Nay907 for audio contribution

[2021-11-06 15:59] prathimacode-hub commented on #7355
When? I didn't get any. @Ruchika-20

[2021-11-06 16:00] divya-chhoriya commented on #7339
/assign
Divya Chhoriya
Sr no. 444
Type: documentation
Batch 12
Build CNN to recognize MNIST digits

[2021-11-06 16:01] divya-chhoriya commented on #7339
@prathimacode-hub Kindly assign me this issue

[2021-11-06 16:45] prathimacode-hub commented on #7339
Issue assigned to @divya-chhoriya for documentation

[2021-11-06 16:53] adityabisoi commented on #7396
Go aheda

[2021-11-06 16:55] Pooja-Goyal-1 commented on #7366
@rahulsain I would like to work on this issue. Kindly assign it to me.

[2021-11-06 16:58] sitamadex11 commented on #7366
You can start working on it

On Sat, 6 Nov 2021, 10:25 pm Pooja Goyal, ***@***.***> wrote:

[2021-11-06 17:54] amaan118921 commented on #7338
/assign

[2021-11-06 17:55] kjpavs opened #7407 "C/CPP : Recursion problems in C"
### Description

I have prepared documentation on the topic 'Recursion problems in C'
It will contain:
1. Basic Recursion problems
2. Array Recursion problems

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gi

[2021-11-06 17:56] kjpavs commented on #7407
/assign

[2021-11-06 17:56] kjpavs commented on #7407
/assign

[2021-11-06 18:01] abhinav-exp commented on #7150
/assign

[2021-11-06 18:29] its-me-Harsh-Anand opened #7408 "Javascript: GraphQL"
### Description

GraphQL is a query langiage made to build more advanced and easy to use API that saves a lot of time while querying with a single endpoint.

- History of GraphQL
- Apollo Server
- creating basic API to make understand for begineer
- creating advanced API

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guide

[2021-11-06 18:34] its-me-Harsh-Anand commented on #7408
@paramsiddharth Please review this issue and assign it to me if it is good to go with

/assign

[2021-11-06 19:37] s4-2 commented on #7408
@its-me-Harsh-Anand This is very good topic to work on. Go ahead:-)

[2021-11-06 20:42] sumitaccess007 commented on #7217
@Yashesvinee - Could you please remove yourself from assignee of this Issue, If you will check it was assigned to me and later after you made a comment, it assigned to you.

@garvitraj - Could you make a manual action on it please ?

Thanks

[2021-11-06 21:48] ShraddhaMeshram27 commented on #5320
I have made the PR.
Sir, do we need to do 5 PR to avail the certificate?

[2021-11-07 00:42] Yashesvinee commented on #7217
Sorry
The issue was unassigned when I tried to assign myself

[2021-11-07 02:30] #95 closed

[2021-11-07 02:31] #3321 closed

[2021-11-07 02:31] #3323 closed

[2021-11-07 03:38] ayushjha952 commented on #7302
/assign

[2021-11-07 04:05] SaloniThete commented on #7337
Name: saloni Thete
Sr. No: 821
Type : video
Approach : Detailed explanation of Titanic survival including jupyter notebook using a machine learning model.
@prathimacode-hub, kindly assign
/assign

[2021-11-07 04:34] #5320 closed

[2021-11-07 04:35] abhisheks008 commented on #5320
@ShraddhaMeshram27 yeah you need to complete 5 PRs irrespective of the domain.

[2021-11-07 04:36] #7009 closed

[2021-11-07 04:52] anusha-sk25 opened #7411 "Front End Development: CSS Combinators"
### Description

In this documentation, I will explain CSS combinators. How they are used to combines selectors , its types etc etc. I will add the explanation along with screenshots and code.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-11-07 04:53] anusha-sk25 commented on #7411
/assign

[2021-11-07 05:01] #7315 closed

[2021-11-07 05:05] riyapandey730 commented on #6840
/assign

[2021-11-07 05:07] riyapandey730 commented on #6840
@Aryamanz29 can you assign me this? I want to work on this....

[2021-11-07 05:07] #6901 closed

[2021-11-07 05:13] riyapandey730 commented on #6824
@Aryamanz29 I want to work on this kindly assign this issue

[2021-11-07 05:14] #7390 closed

[2021-11-07 05:14] riyasai22 commented on #7016
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: audio

[2021-11-07 05:17] abhisheks008 commented on #7016
Issue assigned to you @riyasai22

[2021-11-07 05:18] anusha-sk25 opened #7413 "CSS 2D and 3D Transforms"
### Description

In this documentation, I will explain all about the transformation effect using CSS.  I will add the explanation along with screenshots and code.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-11-07 05:18] anusha-sk25 commented on #7413
/assign

[2021-11-07 05:22] #7411 closed

[2021-11-07 05:25] siddhi-244 commented on #6964
Can I try this?
Documentation
DSA Batch 1

[2021-11-07 05:39] #7391 closed

[2021-11-07 05:46] shaurya24sri commented on #7329
this issue is not covered as documentation .Please assign me this issue..This issue has covered only in video  @adityabisoi

[2021-11-07 06:07] garvitraj commented on #7216
go with documentation @Binita-tech

[2021-11-07 06:07] #6045 closed

[2021-11-07 06:08] garvitraj commented on #7217
@sumitaccess007 go with the documentation

[2021-11-07 06:08] garvitraj commented on #7113
@naveeramesh go with it

[2021-11-07 06:20] #6406 closed

[2021-11-07 06:21] Pradumnasaraf opened #7415 "Android Java: 4.01 Android Menus"
### Description

- What is Android Menu
- Types

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-07 06:25] #7016 closed

[2021-11-07 06:34] #5905 closed

[2021-11-07 06:56] #7415 closed

[2021-11-07 07:16] shreya024 opened #7417 "Unreal Engine in C++"
### Description

Introduction and Basics of Unreal Engine in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proje

[2021-11-07 07:16] shreya024 commented on #7417
/assign

[2021-11-07 07:22] DwipshikhaLodh commented on #4354
@vasu-1 is it compulsory that after the pr for the raised issue gets merged the issue needs to get closed? I'm a little confused because my other issued got closed but not this one

[2021-11-07 07:29] Harshkumar62367 commented on #6840
Hey @riyapandey730 , i am already assigned to this issue, and will be submitting my pr tonight, if you want to further contribute in this issue, you can reassign this issue after I submit my pr.

[2021-11-07 07:46] #6208 closed

[2021-11-07 07:48] #7380 closed

[2021-11-07 07:51] DwipshikhaLodh opened #7421 "Binary Search in 2D"
### Description

Here I will explain how we apply binary searching technique in 2D array.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-11-07 07:52] DwipshikhaLodh commented on #7421
/assign

[2021-11-07 09:00] elixir14082002 opened #7424 "Undefined Behaviour in C and CPP"
### Description

I will be taking about the cases that will result in an undefined behaviour in C/CPP. The following topics will be included:
- What is undefined behaviour?
- Sample codes
- Preventing undefined behaviour

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blo

[2021-11-07 09:10] shaurya24sri opened #7422 "Floyd's Algorithm"
### Description

Floyd's Algorithm

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-07 09:10] shaurya24sri commented on #7422
/assign

[2021-11-07 09:10] shaurya24sri commented on #7422
/assign

[2021-11-07 09:12] #4267 closed

[2021-11-07 09:12] shaurya24sri commented on #7422
/assign

[2021-11-07 09:13] shaurya24sri commented on #7422
@adityabisoi please assign me this issue

[2021-11-07 09:14] SB2318 commented on #3868
/assign documentation

[2021-11-07 09:15] shaurya24sri opened #7423 "Python:List Method"
### Description

List Method

### Domain

Python_Domain

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-07 09:16] shaurya24sri commented on #7423
@adityabisoi Please assign me this issue

[2021-11-07 09:20] shaurya24sri commented on #7423
/assign

[2021-11-07 09:22] prachigarg19 commented on #7217
\assign audio

[2021-11-07 09:24] ParagD25 commented on #7308
/assign documentation

[2021-11-07 09:24] ParagD25 commented on #7307
/assign documentation

[2021-11-07 09:25] ShraddhaMeshram27 commented on #1788
Can I get this issue ?
but i'm not DSA Batch

[2021-11-07 09:25] Pawanupadhyay10 commented on #7160
I have created PR https://github.com/girlscript/winter-of-contributing/pull/7427
@nimisha-yadav

[2021-11-07 09:28] ShraddhaMeshram27 commented on #5892
Get i get this issue ?
I'm not from DSA batch

[2021-11-07 09:29] ShraddhaMeshram27 commented on #7136
I'm Shraddha Meshram
Not from  any DSA branch
Can i get this issue?

[2021-11-07 09:34] ShraddhaMeshram27 commented on #5476
/assign
Please guide me on how to get the issue?
Do we have to create the issue ourselves and assign it ourself?
What do we need to do sir @github-actions

[2021-11-07 09:36] ShraddhaMeshram27 commented on #3631
/assign
Please guide me on how to get the issue?
Do we have to create the issue ourselves and assign it ourselves?
What do we need to do sir @github-actions

[2021-11-07 09:36] priyanshu688 commented on #7392
/assign

[2021-11-07 09:48] Yugal41735 commented on #6010
@sitamadex11  @VikasPandey121  could u plz review my pr and tell me if any further changes are required

[2021-11-07 09:50] priyanshu688 opened #7429 "[Android Java]: Dragging and Dropping Framework"
### Description

Briefly discuss How Android drag/drop framework work?

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-07 09:51] priyanshu688 commented on #7429
/assign

[2021-11-07 09:54] #7045 closed

[2021-11-07 09:55] priyanshu688 opened #7430 "[Android Java]: Facebook Integration"
### Description

Discuss How we can do Facebook Integration in any app using Firebase.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-11-07 09:56] priyanshu688 commented on #7430
/assign

[2021-11-07 09:59] priyanshu688 opened #7431 "[Android Java]: Gmail Integration"
### Description

Explain How we can do Gmail Integration in any app using Firebase.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-11-07 10:24] prathimacode-hub opened #7433 "Data Science with Python : Wine Quality Prediction"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to predict the wine quality.

Dataset : https://www.kaggle.com/rajyellow46/wine-quality

This issue is created on contributors request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and

[2021-11-07 11:18] kishlayaug15 commented on #7011
@abhisheks008 Instead of machine learning I have branch name revert 1062 machine learning . Do I have to commit changes to that??

[2021-11-07 11:23] divya-chhoriya commented on #7433
/assign
Divya Chhoriya
Sr no. 444
Batch 12
Type: documentation
Approach: wine quality prediction using three different methods

[2021-11-07 11:26] divya-chhoriya commented on #7433
@prathimacode-hub Please assign me this issue

[2021-11-07 11:40] ShraddhaMeshram27 commented on #6597
Full name : Shraddha Meshram
Batch Number : 3
GitHub Profile Link : https://github.com/ShraddhaMeshram27
Which type of Contribution you want to make :
Documentation

Assign me this issue if @tanvideshmukh29 is busy.
I'll do it in a day positively.

[2021-11-07 11:45] ShraddhaMeshram27 commented on #7005
Full name: Shraddha Meshram
Batch Number : 3
GitHub Profile Link: https://github.com/ShraddhaMeshram27
Which type of Contribution you want to make :
Video

Assign me this issue if Aditya is busy.

[2021-11-07 11:56] ShraddhaMeshram27 commented on #7013
Name: Shraddha Meshram
Batch: 3
Github Link: https://github.com/ShraddhaMeshram27
Type: Audio
I would like to contribute to this issue if Shivangi is busy

[2021-11-07 12:19] #7048 closed

[2021-11-07 12:36] adityabisoi commented on #7423
This topic is already covered. Closing this issue

[2021-11-07 12:36] #7423 closed

[2021-11-07 12:37] adityabisoi commented on #7422
This is a algo-based topic, closing the issue

[2021-11-07 12:37] #7422 closed

[2021-11-07 12:42] adityabisoi commented on #7329
If it is, you have to comment there, instead of creating a new one.

[2021-11-07 12:42] #7329 closed

[2021-11-07 13:19] soumiksamanta007 commented on #7343
I would like to work on this.
Soumik Samanta - 97
Type: Doccumentation
Approach: Describe what is google's word2vec, and  train a model using Word2Vec to show how to use the resulting word vectors for sentiment analysis.

[2021-11-07 13:30] prathimacode-hub commented on #7433
Issue assigned to @divya-chhoriya for documentation

[2021-11-07 13:32] prathimacode-hub commented on #7343
Issue assigned to @soumiksamanta007 for documentation

[2021-11-07 13:36] tanvideshmukh29 commented on #6597
I m doing it.

On Sun, 7 Nov 2021 at 17:10, ShraddhaMeshram27 ***@***.***>
wrote:

[2021-11-07 13:37] maneet057 commented on #7143
Can I please work on this topic ?
Maneet kaur
DSA batch 1

[2021-11-07 13:38] maneet057 commented on #7141
I am done with this one please review it

[2021-11-07 13:41] AdityaNikhil commented on #7005
@abhisheks008
As I am currently busy with some other work, I request you please assign this to @ShraddhaMeshram27.

[2021-11-07 13:50] raina-akshay commented on #7005
@ShraddhaMeshram27 go for it 🎉

[2021-11-07 13:51] ikavyajain opened #7439 "Railway Reservation System"
### Description

I have prepared a documentation on a Railway Reservation System which includes:
- Entering a record
- Displaying a record
- Search a record
- Sorting the details
- Deleting a record

All these actions require your First & Last Name and your Departure & Arrival City. The code also inputs the Train Name the passenger wants to travel in and shows the fare along with the class of trai

[2021-11-07 13:51] ikavyajain commented on #7439
/assign

[2021-11-07 13:53] abhisheks008 commented on #6597
@tanvideshmukh29 when will you be able to create the PR for your assigned issue?

[2021-11-07 13:54] priyankapiba commented on #6765
Which mentor is assigned for this issue?

Which mentor is assigned for this issue?

[2021-11-07 14:25] anusha-sk25 opened #7440 "CSS COUNTERS"
### Description

Here I will be explaining CSS counters in depth along with its properties and how nesting counters happen.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscr

[2021-11-07 14:25] anusha-sk25 commented on #7440
/assign

[2021-11-07 14:31] #4474 closed

[2021-11-07 14:34] priyanka001tech commented on #7240
/assign

[2021-11-07 14:39] SourabhSaraswat-191939 commented on #6354
@YASHMAROO, any updates?

[2021-11-07 14:41] SourabhSaraswat-191939 commented on #6000
I think we can reassign this issue.
Anyone who wants to work on this can comment or ping us.

[2021-11-07 14:45] SourabhSaraswat-191939 commented on #4905
@soma2000-lang, this is the last call to you for the status of this issue. Please create the PR by tomorrow evening. Otherwise unfortunately we have to reassign this PR.
@anandhu720

[2021-11-07 14:47] SourabhSaraswat-191939 commented on #6905
Hi @satyam-mahajan, sorry but Kriti used "/assign" before you that's why that is assigned to her. You can go for other issues.
#6903
#6902
#6900
#6355
#6353
#6000
#5997

It would be great to see you working on any of this issues.

[2021-11-07 14:55] vasu-1 commented on #4354
After pr Gets merged  you can close it and also you can close respective issue !

[2021-11-07 15:02] Saviour1001 commented on #6945
Closing this as PR got merged

[2021-11-07 15:02] #6945 closed

[2021-11-07 15:05] vasu-1 commented on #4354
If a supervisor forgets to close then you can close it by yourself

[2021-11-07 15:21] tanvideshmukh29 commented on #6597
before 1 am today

[2021-11-07 15:27] #6401 closed

[2021-11-07 15:30] #6597 closed

[2021-11-07 15:31] #7323 closed

[2021-11-07 15:31] yashh18 commented on #7401
@adityabisoi can i work for the audio contribution on this issue?

[2021-11-07 15:34] #6827 closed

[2021-11-07 15:34] #6821 closed

[2021-11-07 15:36] RaghavvGupta commented on #6809
@Aryamanz29 can I work on this?

[2021-11-07 15:47] Adi9235 commented on #6824
@Aryamanz29 can i work on this issue

[2021-11-07 15:49] Adi9235 commented on #6814
@Aryamanz29 can i work on this issue

[2021-11-07 15:58] adityabisoi commented on #6765
You can ask any of the mentors

[2021-11-07 16:19] darkhorse-2000 commented on #7401
@adityabisoi Please tell can I work on this issue through documentation?

[2021-11-07 16:44] shaurya24sri commented on #6548
@adityabisoi please assign me for audio

[2021-11-07 16:47] shaurya24sri commented on #4353
@adityabisoi I want to contribute for audio .Please assign me

[2021-11-07 16:54] shaurya24sri commented on #7396
@adityabisoi .Please assign me for audio contribution

[2021-11-07 16:58] shaurya24sri commented on #3689
@adityabisoi please assign me for audio contribution

[2021-11-07 17:00] shaurya24sri commented on #2250
@adityabisoi Please assign me for audio contribution

[2021-11-07 17:23] 124015001 opened #7454 "C_CPP: Overloading Unary Operators using Member Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-07 17:24] 124015001 commented on #7454
/assign

[2021-11-07 17:26] adityabisoi commented on #7401
Go ahead

[2021-11-07 17:39] #6767 closed

[2021-11-07 17:40] prathimacode-hub commented on #7346
Thats your choice completely, but atleast use minimum of 3 regression techniques. @yashh18

[2021-11-07 19:02] prishit55 opened #7458 "Rabin Karp Algorithm: Documentation (Competitive Programming)"
### Description

This will be a .md file with brief discussion about Rabin Karp Algorithm. I've tried to explain with the help of an example.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://g

[2021-11-07 19:02] prishit55 commented on #7458
/assign

[2021-11-07 19:03] #7123 closed

[2021-11-07 19:08] #7439 closed

[2021-11-07 22:45] syedareehaquasar commented on #1312
please tag me as soon as pr is ready can help review

[2021-11-08 03:03] elixir14082002 opened #7461 "Input Buffer"
### Description

I will be taking about Input Buffer. I will cover the following topics:
- What is an input buffer?
- Effects of an input buffer
- Sample codes
- Resolving a buffer

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-11-08 03:03] elixir14082002 commented on #7461
/assign

[2021-11-08 04:17] #7005 closed

[2021-11-08 04:21] abhisheks008 commented on #6998
How much time do you need @priyall

[2021-11-08 04:49] #7429 closed

[2021-11-08 05:28] #7015 closed

[2021-11-08 05:28] #7430 closed

[2021-11-08 05:29] Aaksha-sharma commented on #7011
i want to contribute through audio

[2021-11-08 05:31] Aaksha-sharma commented on #7433
Please assign me audio part

[2021-11-08 05:31] Aaksha-sharma commented on #7398
Please assign me audio

[2021-11-08 05:35] abhisheks008 opened #7464 "ML 8.6 : Transformers (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Transformers_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Do

[2021-11-08 05:36] deepthi1107 commented on #7464
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audio on this issue.my approach: a detailed explanation

[2021-11-08 05:36] abhisheks008 opened #7465 "ML 8.6 : Transformers (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Transformers_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Do

[2021-11-08 05:36] VidhiBhatt01 commented on #7465
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490

[2021-11-08 05:37] abhisheks008 opened #7466 "ML 8.6 : Transformers (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Transformers_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Do

[2021-11-08 05:37] Isha307 opened #7467 "ML 8.1 : RNN(A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_RNNcc_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documenta

[2021-11-08 05:37] shrestharushika commented on #7465
Please assign this issue to me.
Name: Rushika Shrestha
Domain: ML Batch 1

[2021-11-08 05:37] Isha307 opened #7468 "ML 8.1 : RNN(D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_RNN_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentati

[2021-11-08 05:37] AdityaStark7 commented on #7468
ML Batch: 03
Aditya Kumar
Type: Documentation

[2021-11-08 05:37] ashish-reddy-20-08 commented on #7467
@Isha307
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08

[2021-11-08 05:37] VidhiBhatt01 commented on #7468
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01

[2021-11-08 05:37] Isha307 opened #7469 "ML 8.1 : RNN(V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_RNN_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentati

[2021-11-08 05:37] raina-akshay opened #7470 "ML 8.11 : ResNet (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Residual Network_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-11-08 05:38] tanvideshmukh29 commented on #7465
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 05:38] khushali452 commented on #7470
Please assign this issue to me.
Name: Khushali Vasani
Domain: ML Batch 3
Github link: https://github.com/khushali452

[2021-11-08 05:38] VidhiBhatt01 commented on #7470
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01

[2021-11-08 05:38] AdityaStark7 commented on #7470
ML Batch: 03
Aditya Kumar
Type: Documentation

[2021-11-08 05:38] hrugved06 commented on #7468
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation
Interested

[2021-11-08 05:38] abhisheks008 opened #7471 "ML 8.7 : Bert (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bert_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentat

[2021-11-08 05:38] Mann-tech13 commented on #7465
Name: Mann Shah
Batch: ML Batch 3
GitHub: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:39] tavneetgill commented on #7471
Name- Tavneet Kaur Gill
Batch no.-2
Github link-https://github.com/tavneetgill
Type-Audio
I would like to contribute to this issue.

[2021-11-08 05:39] tanvideshmukh29 commented on #7468
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 05:39] abhisheks008 opened #7472 "ML 8.7 : Bert (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bert_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentat

[2021-11-08 05:39] priyall commented on #7472
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-11-08 05:39] raina-akshay opened #7473 "ML 8.11 : ResNet (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Residual Network_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-11-08 05:39] vanshhhhh commented on #7472
Please assign this issue to me.
Name: Vansh Sharma
Domain: ML Batch 3
Github link: https://github.com/vanshhhhh

[2021-11-08 05:39] VidhiBhatt01 commented on #7472
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01

[2021-11-08 05:39] Sumit3301 commented on #7473
Name- Sumit Gaur
Batch no.-3
Type-Audio
I would like to contribute to this issue.

[2021-11-08 05:40] abhisheks008 opened #7474 "ML 8.7 : Bert (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bert_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentat

[2021-11-08 05:40] Yugal41735 commented on #7465
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:40] VidhiBhatt01 commented on #7469
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01

[2021-11-08 05:41] Yugal41735 commented on #7470
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:41] raina-akshay opened #7475 "ML 8.11 : ResNet (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Residual Network_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-11-08 05:41] Yugal41735 commented on #7472
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:41] Mann-tech13 commented on #7468
Please assign this issue to me.
Name: Mann Shah
Domain: ML Batch 3
Github link: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:42] raina-akshay commented on #7470
assigned to @khushali452

[2021-11-08 05:42] Isha307 opened #7476 "ML 8.2 : LSTM(A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_LSTM_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentat

[2021-11-08 05:42] Mann-tech13 commented on #7468
/assign Documentation

[2021-11-08 05:42] jahnvishah commented on #7476
Name: Jahnvi Shah
Batch: 5
Github Link: https://github.com/jahnvishah
Type: Documentation
I would like to contribute to this issue.

[2021-11-08 05:42] hrugved06 commented on #7476
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation
Interested

[2021-11-08 05:42] raina-akshay commented on #7473
assigned to @Sumit3301

[2021-11-08 05:42] Isha307 opened #7477 "ML 8.2 : LSTM(D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_LSTM_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentat

[2021-11-08 05:42] hrugved06 commented on #7477
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation
Interested

[2021-11-08 05:42] purvanshgarg commented on #7472
Name:Purvansh Garg
Batch 2
https://github.com/purvanshgarg
Documentation

[2021-11-08 05:42] uttarabahad commented on #7477
Name- Uttara Bahad
Batch Number- 3
GitHub Link- https://github.com/uttarabahad
Type of contribution- Documentation

[2021-11-08 05:42] Isha307 opened #7478 "ML 8.2 : LSTM(V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_LSTM_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentat

[2021-11-08 05:42] khushali452 commented on #7477
Please assign this issue to me.
Name: Khushali Vasani
Domain: ML Batch 3
Github link: https://github.com/khushali452

[2021-11-08 05:42] Yugal41735 commented on #7477
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:43] purvanshgarg commented on #7477
Name:Purvansh Garg
Batch 2
https://github.com/purvanshgarg
Documentation

[2021-11-08 05:43] VidhiBhatt01 commented on #7477
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 05:43] tanvideshmukh29 commented on #7477
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 05:44] Mann-tech13 commented on #7472
Please assign this issue to me.
Name: Mann Shah
Domain: ML Batch 3
Github link: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:44] VidhiBhatt01 commented on #7478
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation/Video

[2021-11-08 05:45] raina-akshay opened #7480 "ML 8.12 : What is Object Detection and RCNN (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_What is Object Detection and RCNN_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and c

[2021-11-08 05:45] Shivangik01 commented on #7013
I'm sorry for the delay. I'll raise a pr today.

[2021-11-08 05:45] Yugal41735 commented on #7480
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:45] Isha307 opened #7481 "ML 8.3 : GRU(A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_GRU_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentati

[2021-11-08 05:45] M-dime commented on #7472
Name- Disha Mangla
Batch no.-1
github profile- https://github.com/M-dime
Type-Documentation
I would like to contribute to this issue.

[2021-11-08 05:46] purvanshgarg commented on #7480
Name:Purvansh Garg
Batch 2
https://github.com/purvanshgarg
Documentation

[2021-11-08 05:46] VidhiBhatt01 commented on #7480
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 05:46] tanvideshmukh29 commented on #7480
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 05:46] Mann-tech13 commented on #7480
Please assign this issue to me.
Name: Mann Shah
Domain: ML Batch 3
Github link: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:46] Isha307 opened #7482 "ML 8.3 : GRU(D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_GRU_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentati

[2021-11-08 05:46] raina-akshay opened #7483 "ML 8.12 : What is Object Detection and RCNN (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_What is Object Detection and RCNN_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and c

[2021-11-08 05:46] uttarabahad commented on #7482
Name- Uttara Bahad
Batch Number- 3
GitHub Link- https://github.com/uttarabahad
Type of contribution- Documentation

[2021-11-08 05:46] purvanshgarg commented on #7482
Name:Purvansh Garg
Batch 2
https://github.com/purvanshgarg
Documentation

[2021-11-08 05:46] Yugal41735 commented on #7482
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:46] Isha307 opened #7484 "ML 8.3 : GRU(V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_GRU_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentati

[2021-11-08 05:46] Mann-tech13 commented on #7482
Please assign this issue to me.
Name: Mann Shah
Domain: ML Batch 3
Github link: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:46] VidhiBhatt01 commented on #7482
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 05:47] Ruchika-20 commented on #7484
Please assign me this issue

[2021-11-08 05:47] raina-akshay commented on #7480
to @Yugal41735

[2021-11-08 05:47] abhisheks008 opened #7485 "ML 8.8 : Convolution and CNNs (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Convolution and CNNs_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pr

[2021-11-08 05:47] tanvideshmukh29 commented on #7485
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 05:48] deepthi1107 commented on #7474
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.my approach: a detailed explanation

[2021-11-08 05:48] deepthi1107 commented on #7478
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.my approach: a detailed explanation

[2021-11-08 05:48] abhisheks008 opened #7486 "ML 8.8 : Convolution and CNNs (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Convolution and CNNs_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pr

[2021-11-08 05:48] VidhiBhatt01 commented on #7486
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 05:48] vanshhhhh commented on #7486
Please assign this issue to me.
Name: Vansh Sharma
Domain: ML Batch 3
Github link: https://github.com/vanshhhhh

[2021-11-08 05:48] tanvideshmukh29 commented on #7486
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 05:48] Yugal41735 commented on #7486
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:48] Mann-tech13 commented on #7486
Name: Mann Shah
Batch: ML Batch 3
GitHub: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:49] raina-akshay opened #7487 "ML 8.12 : What is Object Detection and RCNN (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_What is Object Detection and RCNN_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and c

[2021-11-08 05:49] Ruchika-20 commented on #7465
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 05:49] priyall commented on #7486
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-11-08 05:49] deepthi1107 commented on #7485
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audio on this issue.my approach: a detailed explanation

[2021-11-08 05:49] abhisheks008 opened #7488 "ML 8.8 : Convolution and CNNs (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Convolution and CNNs_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pr

[2021-11-08 05:50] Ruchika-20 commented on #7472
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 05:50] deepthi1107 commented on #7484
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.my approach: a detailed explanation

[2021-11-08 05:50] Ruchika-20 commented on #7486
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 05:51] deepthi1107 commented on #7481
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audio on this issue.my approach: a detailed explanation

[2021-11-08 05:51] abhisheks008 opened #7489 "ML 8.9 : Object Classification (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Object Classification_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you p

[2021-11-08 05:51] raina-akshay opened #7490 "ML 8.13 : YOLO (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_You Only Look Once_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefe

[2021-11-08 05:51] Yugal41735 commented on #7490
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:51] vanshhhhh commented on #7490
Please assign this issue to me.
Name: Vansh Sharma
Domain: ML Batch 3
Github link: https://github.com/vanshhhhh

[2021-11-08 05:51] Mann-tech13 commented on #7490
Name: Mann Shah
Batch: ML Batch 3
GitHub: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:51] Isha307 opened #7491 "ML 8.4: Bidirectional LSTM (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bidirectional LSTM _**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pre

[2021-11-08 05:51] VidhiBhatt01 commented on #7490
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 05:51] Isha307 opened #7492 "ML 8.4: Bidirectional LSTM (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bidirectional LSTM _**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pre

[2021-11-08 05:52] Isha307 opened #7493 "ML 8.4: Bidirectional LSTM (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Bidirectional LSTM _**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pre

[2021-11-08 05:52] VidhiBhatt01 commented on #7492
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 05:52] vanshhhhh commented on #7492
Please assign this issue to me.
Name: Vansh Sharma
Domain: ML Batch 3
Github link: https://github.com/vanshhhhh

[2021-11-08 05:52] Mann-tech13 commented on #7492
Name: Mann Shah
Batch: ML Batch 3
GitHub: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:52] purvanshgarg commented on #7492
Name:Purvansh Garg
Batch 2
https://github.com/purvanshgarg
Documentation

[2021-11-08 05:52] priyall commented on #7490
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-11-08 05:52] Mann-tech13 commented on #7492
Name: Mann Shah
Batch: ML Batch 3
GitHub: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:52] abhisheks008 opened #7494 "ML 8.9 : Object Classification (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Object Classification_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you p

[2021-11-08 05:52] Ruchika-20 commented on #7490
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 05:52] pranav7kaushik commented on #7486
Pranav Kaushik
Batch: 4
Github: https://github.com/pranav7kaushik
Type: Documentation

[2021-11-08 05:52] priyall commented on #7494
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-11-08 05:52] Ruchika-20 commented on #7494
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 05:52] Mann-tech13 commented on #7494
Name: Mann Shah
Batch: ML Batch 3
GitHub: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:52] Yugal41735 commented on #7494
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:53] raina-akshay commented on #7490
Already assigned

[2021-11-08 05:53] abhisheks008 opened #7495 "ML 8.9 : Object Classification (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Object Classification_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you p

[2021-11-08 05:53] tanvideshmukh29 commented on #7492
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 05:53] pranav7kaushik commented on #7477
Pranav Kaushik
Batch: 4
Github: https://github.com/pranav7kaushik
Type: Documentation

[2021-11-08 05:54] raina-akshay opened #7496 "ML 8.13 : YOLO (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_You Only Look Once_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefe

[2021-11-08 05:54] pranav7kaushik commented on #7472
Pranav Kaushik
Batch: 4
Github: https://github.com/pranav7kaushik
Type: Documentation

[2021-11-08 05:55] Isha307 opened #7497 "ML 8.5: Word Embedding(A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Word Embedding_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (

[2021-11-08 05:55] abhisheks008 opened #7498 "ML 8.10 : Classical CNNs - AlexNet, VGGNet (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Classical CNNs : AlexNet, VGGNet_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and c

[2021-11-08 05:55] Isha307 opened #7499 "ML 8.5: Word Embedding(D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Word Embedding_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (

[2021-11-08 05:55] Isha307 opened #7500 "ML 8.5 : Word Embedding(V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Word Embedding_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (

[2021-11-08 05:55] Mann-tech13 commented on #7499
Name: Mann Shah
Batch: ML Batch 3
GitHub: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:55] Ruchika-20 commented on #7499
https://github.com/Ruchika-20

[2021-11-08 05:56] VidhiBhatt01 commented on #7499
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 05:56] tanvideshmukh29 commented on #7499
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 05:56] abhisheks008 opened #7501 "ML 8.10 : Classical CNNs - AlexNet, VGGNet (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Classical CNNs : AlexNet, VGGNet_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and c

[2021-11-08 05:57] raina-akshay opened #7502 "ML 8.13 : YOLO (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_You Only Look Once_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefe

[2021-11-08 05:57] Mann-tech13 commented on #7501
Name: Mann Shah
Batch: ML Batch 3
GitHub: https://github.com/Mann-tech13
Documentation

[2021-11-08 05:57] priyall commented on #7501
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-11-08 05:57] VidhiBhatt01 commented on #7501
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 05:57] Yugal41735 commented on #7501
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 05:57] Ruchika-20 commented on #7501
https://github.com/Ruchika-20
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 05:58] snoice45 commented on #7494
Khushi Harsure
Batch: ML Batch 3
Profile link: https://github.com/snoice45
Contribution type: Documentation
I would like to contribute to this issue.

[2021-11-08 05:58] abhisheks008 opened #7503 "ML 8.10 : Classical CNNs - AlexNet, VGGNet (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Classical CNNs : AlexNet, VGGNet_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and c

[2021-11-08 05:58] Isha307 commented on #7478
@deepthi1107 Make within in 3 days 🚀 .

[2021-11-08 05:58] VidhiBhatt01 commented on #7500
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Video

[2021-11-08 05:59] Isha307 commented on #7477
@uttarabahad  Make within in 3 days 🚀.

[2021-11-08 05:59] raina-akshay commented on #7490
@vanshhhhh @Mann-tech13 @VidhiBhatt01 you already been assigned issues?

[2021-11-08 06:00] raina-akshay opened #7504 "ML 8.14 : Single Shot Detector (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Single Shot Detector_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pre

[2021-11-08 06:00] VidhiBhatt01 commented on #7504
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 06:00] Yugal41735 commented on #7504
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 06:00] tanvideshmukh29 commented on #7504
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 06:00] Ruchika-20 commented on #7504
https://github.com/Ruchika-20
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 06:01] Isha307 commented on #7499
@Mann-tech13 Make PR within 3 days 🚀.

[2021-11-08 06:01] priyall commented on #7504
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-11-08 06:01] snoice45 commented on #7465
Name: Khushi Harsure
ML Batch 3
Github profile: https://github.com/snoice45
Contribution type: Documentation
Please assign this issue to me.

[2021-11-08 06:02] raina-akshay opened #7505 "ML 8.14 : Single Shot Detector (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Single Shot Detector_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pre

[2021-11-08 06:02] Isha307 commented on #7500
@VidhiBhatt01 1 issue at a time, Create PR for previous issue first.

[2021-11-08 06:02] vanshhhhh commented on #7490
No issues have been assigned from this week.

[2021-11-08 06:02] abhisheks008 opened #7506 "ML 8.16 : Fourier and Discrete Cosine Transformations of Images (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Fourier and Discrete Cosine Transformations of Images_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach o

[2021-11-08 06:02] snoice45 commented on #7486
Name: Khushi Harsure
ML Batch 3
Github profile: https://github.com/snoice45
Contribution type: Documentation
Please assign this issue to me.

[2021-11-08 06:03] snoice45 commented on #7489
Name: Khushi Harsure
ML Batch 3
Github profile: https://github.com/snoice45
Contribution type: Audio
Please assign this issue to me.

[2021-11-08 06:03] abhisheks008 opened #7507 "ML 8.16 : Fourier and Discrete Cosine Transformations of Images (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Fourier and Discrete Cosine Transformations of Images_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach o

[2021-11-08 06:03] VidhiBhatt01 commented on #7507
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-08 06:03] priyall commented on #7507
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-11-08 06:03] Ruchika-20 commented on #7507
https://github.com/Ruchika-20
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 06:03] Yugal41735 commented on #7507
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 06:04] tanvideshmukh29 commented on #7507
Tanvi Deshmukh
batch-5
plz assign to me.

[2021-11-08 06:04] Aaksha-sharma commented on #466
@prathimacode-hub  maam i have already made
pr to this issue long back but it has not been acknowledged

[2021-11-08 06:04] abhisheks008 opened #7508 "ML 8.16 : Fourier and Discrete Cosine Transformations of Images (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Fourier and Discrete Cosine Transformations of Images_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach o

[2021-11-08 06:04] raina-akshay opened #7509 "ML 8.14 : Single Shot Detector (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Single Shot Detector_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you pre

[2021-11-08 06:05] Isha307 opened #7510 "ML 8.18 : Image Denoising (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Image Denoising_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-11-08 06:05] Pratyaksha-047 commented on #7505
Name- Pratyaksha Gupta
Batch-ML batch 3
Github link-https://github.com/Pratyaksha-047
Type- Audio

[2021-11-08 06:05] Isha307 opened #7511 "ML 8.18 : Image Denoising (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Image Denoising_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-11-08 06:05] khushali452 commented on #7511
Please assign this issue to me.
Name: Khushali Vasani
Domain: ML Batch 3
Github link: https://github.com/khushali452

[2021-11-08 06:05] khushali452 commented on #7511
Please assign this issue to me.
Name: Khushali Vasani
Domain: ML Batch 3
Github link: https://github.com/khushali452

[2021-11-08 06:05] Ruchika-20 commented on #7511
https://github.com/Ruchika-20
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 06:05] Isha307 opened #7512 "ML 8.18 : Image Denoising (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Image Denoising_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-11-08 06:06] Yugal41735 commented on #7511
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 06:06] Pratyaksha-047 commented on #7496
Name- Pratyaksha Gupta
Batch-ML batch 3
Github link-https://github.com/Pratyaksha-047
Type- Audio

[2021-11-08 06:06] abhisheks008 opened #7513 "ML 8.17 : Lines (Hough) and Edge Detection (Filters) (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Lines (Hough) and Edge Detection (Filters)_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would fo

[2021-11-08 06:07] raina-akshay opened #7514 "ML 8.15 : Shear, Scale and Reflect Images (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Shear, Scale and Reflect Images_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and cho

[2021-11-08 06:07] Isha307 commented on #7511
@Ruchika-20 complete your previous issue first,
@khushali452 Create PR within 3 days.

[2021-11-08 06:07] Ruchika-20 commented on #7514
https://github.com/Ruchika-20
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 06:08] priyall commented on #7514
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Documentation
I would like to contribute to this issue.

[2021-11-08 06:08] abhisheks008 opened #7515 "ML 8.17 : Lines (Hough) and Edge Detection (Filters) (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Lines (Hough) and Edge Detection (Filters)_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would fo

[2021-11-08 06:08] Ruchika-20 commented on #7515
https://github.com/Ruchika-20
Please assign this issue to me.
Name: Ruchika
Domain: ML Batch 3
Documentation

[2021-11-08 06:08] Yugal41735 commented on #7515
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 06:09] abhisheks008 opened #7516 "ML 8.17 : Lines (Hough) and Edge Detection (Filters) (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Lines (Hough) and Edge Detection (Filters)_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would fo

[2021-11-08 06:09] prathimacode-hub commented on #466
Can you share the link of your PR? @Aaksha-sharma

[2021-11-08 06:10] raina-akshay opened #7517 "ML 8.15 : Shear, Scale and Reflect Images (A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Shear, Scale and Reflect Images_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and cho

[2021-11-08 06:10] Isha307 opened #7518 "ML 8.19 : GAN(A)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_GAN_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentati

[2021-11-08 06:11] Isha307 opened #7519 "ML 8.19: GAN(D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_GAN_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentati

[2021-11-08 06:11] Isha307 opened #7520 "ML 8.19 : GAN(V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_GAN_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentati

[2021-11-08 06:11] Yugal41735 commented on #7519
Yugal Agarwal
Batch - 1
https://github.com/Yugal41735
Documentation

[2021-11-08 06:11] raina-akshay opened #7521 "ML 8.15 : Shear, Scale and Reflect Images (V)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Shear, Scale and Reflect Images_**

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and cho

[2021-11-08 06:13] Nay907 commented on #7513
I would like to work on this issue
Name- Nayanika Mishra
Batch Number- 3
GitHub Profile Link- https://github.com/Nay907
Type of Contribution: Audio

[2021-11-08 06:13] Isha307 commented on #7464
@deepthi1107 1 issue at a time.

[2021-11-08 06:13] Nay907 commented on #7510
I would like to work on this issue
Name- Nayanika Mishra
Batch Number- 3
GitHub Profile Link- https://github.com/Nay907
Type of Contribution: Audio

[2021-11-08 06:14] Isha307 commented on #7486
@vanshhhhh Make PR within 3 days 🚀

[2021-11-08 06:14] raina-akshay commented on #7515
Already assigned issues @Ruchika-20 @Yugal41735

[2021-11-08 06:15] srini047 commented on #7502
Hi, I would like to work on this issue.
Name: Sriniketh J
Batch No: 1
Profile: https://github.com/srini047/
Type: Video

[2021-11-08 06:15] Nay907 commented on #7518
I would like to work on this issue
Name- Nayanika Mishra
Batch Number- 3
GitHub Profile Link- https://github.com/Nay907
Type of Contribution: Audio

[2021-11-08 06:15] #7467 closed

[2021-11-08 06:16] Isha307 commented on #7510
@Nay907  Make PR within 3 days 🚀

[2021-11-08 06:16] raina-akshay commented on #7504
assigned to @tanvideshmukh29

[2021-11-08 06:16] ashish-reddy-20-08 commented on #7483
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-11-08 06:16] vanshhhhh commented on #7486
@Isha307 ma'am I've been assigned another issue for this week (#7490). Please assign this issue to another contributor.

[2021-11-08 06:16] tanvideshmukh29 commented on #7486
@Isha307  that  user already  assigned with one issue....

[2021-11-08 06:17] raina-akshay commented on #7501
Already assigned to all @priyall @Mann-tech13 @Yugal41735 @VidhiBhatt01 @Ruchika-20

[2021-11-08 06:17] ASLManasa commented on #7465
ASL Manasa
https://github.com/ASLManasa
Documentation

[2021-11-08 06:17] Nay907 commented on #7517
I would like to work on this issue
Name- Nayanika Mishra
Batch Number- 3
GitHub Profile Link- https://github.com/Nay907
Type of Contribution: Audio

[2021-11-08 06:17] ASLManasa commented on #7465
ASL Manasa
Batch - 1
https://github.com/ASLManasa
Documentation

[2021-11-08 06:18] raina-akshay commented on #7483
assigned to @ashish-reddy-20-08

[2021-11-08 06:18] divya-chhoriya commented on #7515
please assign me this issue

[2021-11-08 06:18] raina-akshay commented on #7502
assigned to @srini047

[2021-11-08 06:18] ASLManasa commented on #7515
ASL Manasa
Batch - 1
https://github.com/ASLManasa
Documentation

[2021-11-08 06:18] Isha307 commented on #7518
@Nay907 1 issue at a time.

[2021-11-08 06:19] raina-akshay commented on #7517
@Nay907 1 issue at a time

[2021-11-08 06:19] ASLManasa commented on #7501
ASL Manasa
Batch - 1
https://github.com/ASLManasa
Documentation

[2021-11-08 06:19] ASLManasa commented on #7494
ASL Manasa
Batch - 1
https://github.com/ASLManasa
Documentation

[2021-11-08 06:19] raina-akshay commented on #7515
assigned to @divya-chhoriya

[2021-11-08 06:19] Isha307 commented on #7501
@priyall  Make PR within 3 days 🚀

[2021-11-08 06:20] Isha307 commented on #7496
@Pratyaksha-047  Make PR within 3 days 🚀

[2021-11-08 06:21] Isha307 commented on #7472
@M-dime  Make PR within 3 days 🚀

[2021-11-08 06:22] Isha307 commented on #7471
@tavneetgill  Make PR within 3 days 🚀

[2021-11-08 06:23] Isha307 commented on #7465
@shrestharushika  Make PR within 3 days 🚀

[2021-11-08 06:25] priyall commented on #6998
It will be done in an hour, just a few small changes are left

[2021-11-08 06:25] raina-akshay commented on #7494
Already assigned @snoice45

[2021-11-08 06:26] Isha307 commented on #7469
@VidhiBhatt01 1 issue at a time.

[2021-11-08 06:27] raina-akshay commented on #7485
already assigned an issue @deepthi1107

[2021-11-08 06:28] raina-akshay commented on #7484
1 issue at a time @deepthi1107

[2021-11-08 06:29] raina-akshay commented on #7481
1 issue at a time @deepthi1107

[2021-11-08 06:29] raina-akshay commented on #7474
1 issue at a time @deepthi1107

[2021-11-08 06:31] abhisheks008 opened #7524 "ML 8.20 : Implement an edge detector for images without using any Image Processing library like OpenCV (D)"
### Description

### 📌  Issues for Week 8
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement an edge detector for images without using any Image Processing library like OpenCV._**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadshe

[2021-11-08 06:31] ashish-reddy-20-08 commented on #7498
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-11-08 06:33] purvanshgarg commented on #7524
Purvansh Garg
Batch 2
https://github.com/purvanshgarg
Documentation

[2021-11-08 06:33] #7483 closed

[2021-11-08 06:35] neerajdhakad opened #7526 "Flowerist Landing Page"
### Description

Flowerist is a flowers and bouquet delivering company.

Design will include a responsive Landing Page.

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribut

[2021-11-08 06:36] neerajdhakad commented on #7526
\assign

[2021-11-08 06:37] neerajdhakad commented on #7526
/assign

[2021-11-08 06:37] #7478 closed

[2021-11-08 06:38] abhisheks008 commented on #7464
Issue assigned @deepthi1107

[2021-11-08 06:40] Aaksha-sharma commented on #466
https://github.com/girlscript/winter-of-contributing/pull/5987

[2021-11-08 06:42] guptapriya-83900 commented on #7524
Priya Gupta
Batch 1
https://github.com/guptapriya-83900
Documentation

[2021-11-08 06:42] abhisheks008 commented on #7519
@Yugal41735 you've taken two issues at a time. No problem, but complete these two within 3 days.

[2021-11-08 06:44] #7498 closed

[2021-11-08 06:46] #7464 closed

[2021-11-08 06:48] raina-akshay commented on #7524
assigned to @purvanshgarg

[2021-11-08 06:48] deepthi1107 commented on #7497
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audioon this issue.my approach: a detailed explanation

[2021-11-08 06:49] abhisheks008 commented on #7497
Assigned to @deepthi1107

[2021-11-08 06:53] ashish-reddy-20-08 commented on #7520
@Isha307
@abhisheks008

I would like to work on this issue
Name M.Ashish
Batch 2

[2021-11-08 06:55] abhisheks008 commented on #7520
Assigned to @ashish-reddy-20-08

[2021-11-08 07:02] deepthi1107 commented on #7512
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.my approach: a detailed explanation

[2021-11-08 07:04] NikitaEmberi commented on #7474
Name-Nikita Bhrugumaharshi Emberi
Domain-Machine Learning
Batch-6
Serial No-992
type - video

[2021-11-08 07:05] #7497 closed

[2021-11-08 07:06] #6998 closed

[2021-11-08 07:08] raina-akshay commented on #7474
go for it @NikitaEmberi 🎉

[2021-11-08 07:13] #4025 closed

[2021-11-08 07:18] ShraddhaMeshram27 commented on #7518
I would like to work on this issue
Name- Shraddha Meshram
Batch Number- 3
GitHub Profile Link- https://github.com/ShraddhaMeshram27
Type of Contribution: Audio

[2021-11-08 07:25] RC2208 commented on #7485
Please assign it to me
Ritika Chand
Batch 1
Audio

[2021-11-08 07:28] ashish-reddy-20-08 commented on #7495
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

@abhisheks008

[2021-11-08 07:28] #7520 closed

[2021-11-08 07:29] abhisheks008 commented on #7495
Assigned to @ashish-reddy-20-08

[2021-11-08 07:31] abhisheks008 commented on #7518
Issue assigned to @ShraddhaMeshram27

[2021-11-08 07:33] deepthi1107 commented on #7491
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audio on this issue.my approach: a detailed explanation

[2021-11-08 07:38] #7512 closed

[2021-11-08 07:39] Bhuvnesh875 commented on #4818
/assign

[2021-11-08 07:40] Bhuvnesh875 commented on #3845
/assign

[2021-11-08 07:45] abhisheks008 commented on #7485
Issue assigned to @RC2208 , complete this within 3 days.

[2021-11-08 07:51] vanshhhhh commented on #7490
Sorry @raina-akshay I am unassigning this issue. I checked and got another issue. You can give this issue to some other contributor.

[2021-11-08 07:54] riyasai22 commented on #7506
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: audio

[2021-11-08 07:59] khush2706 commented on #5546
Hi @cookieg13 any updates..?

[2021-11-08 08:06] abhisheks008 commented on #7506
Issue assigned to you @riyasai22 , complete within 3 days

[2021-11-08 08:09] roopali-1 commented on #6978
@adityabisoi is this issue open for audio ??
if yes then do assign it to me as audio contribution.
thank you

[2021-11-08 08:13] VidhiBhatt01 commented on #7490
@raina-akshay please assign me this. I haven't contributed much

[2021-11-08 08:33] khush2706 opened #7534 "CSS Variables"
### Description

Here I'll be describing what are css variables and how to use them.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-11-08 08:34] khush2706 commented on #7534
/assign

[2021-11-08 08:45] Anant1711 commented on #6412
@prithwishpramanik

[2021-11-08 08:46] Anant1711 commented on #6411
Guys?
@IshikaMeghaSaha @AtharvaaPatil

[2021-11-08 08:47] #6409 closed

[2021-11-08 08:47] Anant1711 commented on #6408
@SwarnaliBhunia

[2021-11-08 08:47] ShraddhaMeshram27 commented on #7481
I would like to work on this issue
Name- Shraddha Meshram
Batch Number- 3
GitHub Profile Link- https://github.com/ShraddhaMeshram27
Type of Contribution: Audio

Do check and review my PR on GAN, I've cleared that issue 1st and then requested for the next issue on GRU. Thank You

[2021-11-08 08:47] Anant1711 commented on #6407
@RK1905101

[2021-11-08 08:47] #5486 closed

[2021-11-08 08:48] Anant1711 commented on #5485
@imcoza

[2021-11-08 08:48] Anant1711 commented on #5484
@HumblePlebeian

[2021-11-08 08:49] RK1905101 commented on #6407
I'm half on the way, and i'll complete it by today, as I was busy in college exams and viva.

[2021-11-08 08:49] #3646 closed

[2021-11-08 08:49] #3647 closed

[2021-11-08 08:49] #3648 closed

[2021-11-08 08:50] #4407 closed

[2021-11-08 08:50] #4408 closed

[2021-11-08 08:50] #4409 closed

[2021-11-08 08:51] Anant1711 commented on #5307
@dummy-co-der

[2021-11-08 08:51] Anant1711 commented on #5308
@IshikaMeghaSaha

[2021-11-08 08:52] Anant1711 commented on #5481
@KmKalpana

[2021-11-08 08:53] Anant1711 commented on #5309
@anjanaaaaaaaa

[2021-11-08 08:56] raina-akshay commented on #7481
@ShraddhaMeshram27 assigned to you. Also, follow the correct formatting/template

[2021-11-08 09:00] ShraddhaMeshram27 commented on #7481
Can you please specify where I did it wrong in my previous PRs?
I'm not clear with is 😅

[2021-11-08 09:00] #5309 closed

[2021-11-08 09:18] riyasai22 commented on #7517
I would like to contribute to this issue. @raina-akshay
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: audio

[2021-11-08 09:21] raina-akshay commented on #7517
1 issue at a time @riyasai22 👀

[2021-11-08 09:22] riyasai22 commented on #7517
sorry about that! I submitted my pr for the previous issue... thats whay i was hoping to contribute to this issue if possible.

[2021-11-08 09:24] #7506 closed

[2021-11-08 09:29] raina-akshay commented on #7481
- no reference to the issue raised in the comment/.md file
- didn't checkbox the appropriate agreement, domain-specification and contribution-type.
You can refer to your last PR. I made some edits while merging.

[2021-11-08 09:46] varnikarathee opened #7538 "Linked_List_Implementation_of_Stacks"
### Description

Description
Linked List Implementation of Stacks

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-11-08 09:47] varnikarathee commented on #7538
/assign

[2021-11-08 10:20] subhendudash02 opened #7540 "[JS] Topic: External Libraries - Material"
### Description

# Description

Introducing the topic of Material library and its significance in JavaScript.

<b>Mode: </b> Documentation

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com

[2021-11-08 10:20] subhendudash02 commented on #7540
/assign

[2021-11-08 10:23] subhendudash02 commented on #7540
Okay, it seems the bot is not satisfied again. @paramsiddharth kindly assign me if this issue is valid.

[2021-11-08 10:24] #5901 closed, assigned to preestine

[2021-11-08 10:26] #5906 closed

[2021-11-08 10:28] #7143 closed

[2021-11-08 10:29] nimisha-yadav commented on #1788
Go ahead!

[2021-11-08 10:29] nimisha-yadav commented on #1788
Go ahead @ShraddhaMeshram27

[2021-11-08 10:32] nimisha-yadav commented on #5892
Go ahead @ShraddhaMeshram27

[2021-11-08 10:35] #5434 closed

[2021-11-08 10:35] areenoverclouds opened #7541 "[C/CPP]: Flatten a Binary Tree"
### Description

I would like to provide documentation on "Flatten a Binary Tree to LinkedList"

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-11-08 10:37] areenoverclouds commented on #7541
/assign

[2021-11-08 10:59] Isha307 commented on #7490
@VidhiBhatt01 one issue at a time, please make the PR for previous assigned issue first.

[2021-11-08 10:59] Isha307 commented on #7507
@VidhiBhatt01 one issue at a time, please make the PR for previous assigned issue first.

[2021-11-08 11:01] VidhiBhatt01 commented on #7507
@Isha307 This is the last set of issues and I have 0 contributions in the ML domain. I am sure I will complete them within the deadline. Please keep the issues assigned to me

[2021-11-08 11:06] Yashesvinee commented on #5554
@AkMo3  can I go with documentation for this topic?

[2021-11-08 11:06] Isha307 commented on #7490
I m sorry @VidhiBhatt01 but Rule is Rule.
Why didn't you give the time to it previously.
I would like to suggest you to create the PR for assigned issue ASAP, then grab the other issue.

[2021-11-08 11:06] Isha307 commented on #7507
I m sorry @VidhiBhatt01 but Rule is Rule.
Why didn't you give the time to it previously.
I would like to suggest you to create the PR for assigned issue ASAP, then grab the other issue.

[2021-11-08 11:09] nimisha-yadav commented on #3257
@ShraddhaMeshram27 you may take up this issue since we can only assign old unassigned issues to non DSA contributors.
Let me know if you're interested.

[2021-11-08 11:11] VidhiBhatt01 commented on #7490
@Isha307 Please check your LinkedIn DM.

[2021-11-08 11:11] afreenabegum commented on #5767
Hi mam @Muskan-creator
please assign me this issue.
I would like to contribute through Audio.

Afreena begum
DSA batch-1

[2021-11-08 11:11] VidhiBhatt01 commented on #7507
@Isha307 Please check your LinkedIn DM.

[2021-11-08 11:17] afreenabegum commented on #3105
Hi mam @goelesha
I want to contribute through AUDIO format, Please assign it to me.

Afreena begum
DSA Batch-1

[2021-11-08 11:18] #7011 closed

[2021-11-08 11:25] abhisheks008 commented on #7507
@Isha307 I would like to assign this issue to @Ruchika-20 as per the FCFS basis. Have you sort out the problem with @VidhiBhatt01 ? If yes then please let me know, I'll assign this to Ruchika.

[2021-11-08 11:27] abhisheks008 commented on #6612
@mimansa-sardhalia what's the update here?

[2021-11-08 11:28] abhisheks008 commented on #7013
@Shivangik01 do it by EOD, otherwise this will be assigned to @ShraddhaMeshram27

[2021-11-08 11:39] VanshSh opened #7544 "Rest parameter and spred Syntax"
### Description

### Description: Rest paramteres and spread syntax are one of the important topic of modern JavaScript which will also help you while learning **React**.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md)

[2021-11-08 11:41] VanshSh commented on #7544
/assign

[2021-11-08 12:00] ShraddhaMeshram27 commented on #5892
Sorry Ma'am, I am working on 2 issues on my domain now hence cannot take up this issue.
Thank you for your concern 🙏.

[2021-11-08 12:00] ShraddhaMeshram27 commented on #1788
Sorry Ma'am, I am working on 2 issues on my domain now hence cannot take up this issue.
Thank you for your concern 🙏.

[2021-11-08 12:24] ayush-sleeping commented on #443
Hey @rahulsain completed video [ #7546 ] part on this issue .
#

Please assign me this issue for Audio part .

[2021-11-08 12:26] rahulsain commented on #443
One contributor can contribute to only one part of the same issue

[2021-11-08 12:27] ayush-sleeping commented on #443
Please assign me this issue for Audio part . @rahulsain

[2021-11-08 12:27] ayush-sleeping commented on #443
ok Rahul ,

[2021-11-08 12:28] ashish-reddy-20-08 commented on #7469
@Isha307 , I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-11-08 12:32] #7495 closed

[2021-11-08 12:33] #7517 closed

[2021-11-08 12:34] ayush-sleeping commented on #1234
Hey @rahulsain , assign me this issue for Audio part .

[2021-11-08 12:37] riyasai22 commented on #7466
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: video

[2021-11-08 12:38] HastiSutaria commented on #6952
@prathimacode-hub detailed explaination in READme file and practical implementation in ipynb file would be enough ma'am for this issue ?

[2021-11-08 12:40] abhisheks008 commented on #7466
@riyasai22 issue assigned to you.

[2021-11-08 12:40] HastiSutaria commented on #6952
@prathimacode-hub Ma'am can I please get the exact path under Machine learning branch where to upload file while creating the PR?

[2021-11-08 12:45] #7485 closed

[2021-11-08 13:09] deepthi1107 commented on #7487
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.my approach: a detailed explanation

[2021-11-08 13:22] prathimacode-hub commented on #6952
Yes, it would be enough. It will go under "Datascience_with_Python/Machine Learning/Tutorials" folder  @HastiSutaria

[2021-11-08 13:47] deepthi1107 commented on #7484
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.my approach: a detailed explanation

[2021-11-08 13:53] Varun270 commented on #5899
# Update
I had contacted Esha Goel for the same problem and she suggested the same thing as you did. So I followed your instructions and did exactly what you asked and this time I did get the option to create a PR. But here's a new problem -
https://github.com/girlscript/winter-of-contributing/compare/DSA...Varun270:DSA?expand=1

[2021-11-08 13:54] #7487 closed

[2021-11-08 13:54] Varun270 commented on #5899
I only pushed a single README.md file but it showed 717 files changed, and around 1000 commits. I pushed the changes from DSA[Forked Repo] ---> DSA[GWOC].

[2021-11-08 13:54] Varun270 commented on #5899
<img width="774" alt="are yaarrrrrrr" src="https://user-images.githubusercontent.com/75975268/140754202-55bd9062-b5c9-4418-ba40-4a6e5236fd8f.png">

[2021-11-08 14:07] Pradumnasaraf opened #7558 "Android Java: 1.91 Android Studio Memory Profiler"
### Description

- Memory Profiler
- In-depth Memory usages Explanation.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-11-08 14:07] Pradumnasaraf commented on #7558
/assign

[2021-11-08 14:10] thatSophisticatedMess18 commented on #7299
/assign

[2021-11-08 14:11] tavneetgill commented on #7352
Name: Tavneet Kaur Gill
Type: Documentation
Serial no.:323
Approach: definition, applications, its implementation with relevant examples and code
@prathimacode-hub Please assign this issue to me

[2021-11-08 14:15] Pranshu321 opened #7560 "Frontend : CSS Libraries in document form"
### Description

### In this, I explain the different types of libraries of CSS which are used the most and are important to know.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/

[2021-11-08 14:15] Pranshu321 commented on #7560
/assign

[2021-11-08 14:22] nayakaj commented on #6399
@adityabisoi  plz assign me for documentation

[2021-11-08 14:25] Preet1406 opened #7561 "Update HTML Lists README.md"
### Description

I want to improve the readme file present in winter-of-contributing/Web_Development/FrontEnd/
Add code as well as explain briefly.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](ht

[2021-11-08 14:26] Preet1406 commented on #7561
/assign

[2021-11-08 14:27] dummy-co-der commented on #5307
Yes Sir @Anant1711 ?

[2021-11-08 14:29] TammanaNiharika commented on #6399
Successfully merged.

[2021-11-08 14:29] #6399 closed

[2021-11-08 14:30] Anant1711 commented on #5307
You didn't submit your work !!!!

[2021-11-08 14:33] dummy-co-der commented on #5307
Sit it's already done !! Here is the link of the md file you can check https://github.com/girlscript/winter-of-contributing/pull/5823/commits

[2021-11-08 14:45] Anant1711 commented on #5307
Ok ok....lemme merge it!
Thanks

[2021-11-08 14:49] Harshkumar62367 commented on #6835
Can you close this one @Aryamanz29 . I have already submitted my pr

[2021-11-08 14:54] Muskan-creator commented on #7167
@jaigora24 Sure!

[2021-11-08 14:58] #7013 closed

[2021-11-08 15:00] #7492 closed

[2021-11-08 15:02] abhisheks008 commented on #7507
@VidhiBhatt01 would you like to work in this issue?

[2021-11-08 15:09] VidhiBhatt01 commented on #7507
@abhisheks008 Given a choice, I would prefer working on 8.13 .

[2021-11-08 15:25] pankaj-sawnani commented on #4754
@prathimacode-hub I have created pull request. Please check it.

[2021-11-08 15:28] miraj0507 opened #7567 "What_is_Encapsulation_in_cpp(A).md"
### Description

Ideation behind the concept of encapsulation in Object-Oriented Programming language

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-11-08 15:28] miraj0507 commented on #7567
/assign

[2021-11-08 15:28] miraj0507 commented on #7567
/assign

[2021-11-08 15:29] koshimagoyal commented on #6931
@satyam-mahajan please use /assign to assign it for yourself

[2021-11-08 15:34] koshimagoyal commented on #5583
@ShraddhaMeshram27 please use /assign and assign it for yourself

[2021-11-08 15:44] ashish-reddy-20-08 commented on #7493
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-11-08 15:45] VidhiBhatt01 commented on #7490
I have completed previously assigned issue. Please assign me this. @abhisheks008 @Isha307

[2021-11-08 15:45] koshimagoyal opened #7569 "[FRONTEND WITH FRAMEWORK]: Angular(7.1) -> HttpClient Module"
### Description

- What is HttpClient?
- What is HttpClient module?
- Define some of its providers?
- Explain with syntax/example
- Reference :- https://angular.io/api/common/http/HttpClientModule
https://angular.io/guide/http
(Week 7 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular

[2021-11-08 15:45] koshimagoyal opened #7570 "FRONTEND WITH FRAMEWORK]: Angular(7.2) -> Setup for server communication"
### Description

- How to setup http interface for server communication?
- What is role of HttpClient service in setup?
- Explain with syntax/example
- Reference :- https://angular.io/guide/http
(Week 7 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week7" directory
3. Tasks would

[2021-11-08 15:56] satyam-mahajan commented on #6931
/assign

[2021-11-08 16:03] miraj0507 opened #7573 "WHAT_IS_DYNAMIC_PROGRAMMING_cpp(V).md"
### Description

The real  understanding of dynamic programming with elaborative slides

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-11-08 16:04] miraj0507 commented on #7573
/assign

[2021-11-08 16:06] abhisheks008 commented on #7490
issue assigned to you @VidhiBhatt01

[2021-11-08 16:09] abhisheks008 commented on #7488
Issue assigned to you @riyasai22

[2021-11-08 16:13] #7573 closed

[2021-11-08 16:16] riyasai22 commented on #7521
I would like to contribute to this issue. @raina-akshay
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: video

[2021-11-08 16:16] anjalikumawat2002 opened #7575 "How to Overcome from TLE Error in competitive programming?"
### Description

What is TLE and How to overcome from this error in different programming languages.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributi

[2021-11-08 16:17] miraj0507 opened #7576 "WHAT_IS_DYNAMIC_PROGRAMMING(V).md"
### Description

# WHAT IS DYNAMIC PROGRAMMING?
WASN'T RECURSION ENOUGH FOR SOLVING PROBLEMS?
WHAT IS THE NEED OF DYNAMMIC PROGRAMMING?
Top down methods,bottom up methods everything is discussed along with code.

### Domain

DSA

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONT

[2021-11-08 16:17] anjalikumawat2002 commented on #7575
/assign

[2021-11-08 16:17] miraj0507 commented on #7576
/assign

[2021-11-08 16:23] #7488 closed

[2021-11-08 16:31] miraj0507 opened #7578 "1.1INTRODUCTION_TO_EXPRESS.JS_(A).md"
### Description

What is Express.js?
What is the need for Express?

### Domain

MERN

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-08 16:45] Ritya09 commented on #7069
/assign

[2021-11-08 16:46] Ritya09 commented on #6789
/assign

[2021-11-08 16:54] Ritya09 commented on #7379
/assign

[2021-11-08 16:55] Ritya09 commented on #7351
/assign

[2021-11-08 16:56] Aryamanz29 commented on #6841
https://github.com/MarlinFirmware/Marlin

[2021-11-08 16:56] Aryamanz29 commented on #6841
Any updates on this ? @PurviBhoyar21

[2021-11-08 16:57] Aryamanz29 commented on #6838
Any updates on this ? @astelrastogi

[2021-11-08 16:57] Aryamanz29 commented on #6837
Any updates on this ? @astelrastogi

[2021-11-08 16:57] Aryamanz29 commented on #6462
Any updates on this ?  @Binita-tech

[2021-11-08 16:58] Aryamanz29 commented on #6809
@RaghavvGupta  Go ahead

[2021-11-08 16:58] Ritya09 commented on #4640
/assign

[2021-11-08 16:58] Aryamanz29 commented on #6814
@Adi9235  Go ahead

[2021-11-08 16:59] Ritya09 commented on #5563
/assign

[2021-11-08 17:00] Aryamanz29 commented on #6818
Any updates on this ?  @eshan1925

[2021-11-08 17:00] Aryamanz29 commented on #6824
@riyapandey730  Go ahead

[2021-11-08 17:00] Aryamanz29 commented on #6830
@nishtha2405  Go ahead :fireworks:

[2021-11-08 17:01] #6835 closed

[2021-11-08 17:01] #6836 closed

[2021-11-08 17:03] #6834 closed

[2021-11-08 17:05] #6840 closed

[2021-11-08 17:09] PurviBhoyar21 commented on #6841
I will make PR by this weekend because I am out of station.
@Aryamanz29 lemme know if this is possible to you

[2021-11-08 17:14] jaigora24 commented on #7137
@nimisha-yadav mam plz review

[2021-11-08 17:28] eshan1925 commented on #6818
Will make a PR within 2 days was unwell sorry!!!

[2021-11-08 17:58] VidhiBhatt01 commented on #7500
@Isha307 I have created PR for the previous issue. Please assign me this issue.

[2021-11-08 18:00] heet-kumar opened #7590 "Frontend_with_Framework: React 7.1 -> State Management in React"
### Description

Contributors are required to create Documentation and explain about the **State Management in React** which should cover the questions like :
- What is State Management in React ?
- Where we use this concept in React ?
- Benefits of using this concept ?
- also give some theory explanation with code.
- also any add-ons from your side (in-depth of the topic).

Note :

- Plagiarism i

[2021-11-08 18:02] VidhiBhatt01 commented on #7507
@abhisheks008 I have created PR for 8.13. You can assign me this now.

[2021-11-08 18:09] HastiSutaria commented on #437
@prathimacode-hub Kindly review my PR ma'am.

[2021-11-08 18:19] saloni33 opened #7591 "Binary Tree Traversals"
### Description

Documentation on tree traversals in Binary Tree namely -
1. Preorder traversal
2. Postorder traversal
3. Inorder traversal
with their codes.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://githu

[2021-11-08 18:20] saloni33 commented on #7591
/assign

[2021-11-08 18:39] heet-kumar opened #7593 "Frontend_with_Framework: React 7.3 -> Redux in React"
### Description

Contributors are required to create Documentation and explain about the **Redux in React** which should cover the question like :
- What is Redux in React ?
- Where we use Redux in React ?
- Benefits of using Redux.
- also give some theory explanation with code samples.
- also any add-ons from your side (in-depth of the topic).

Note :
- Plagiarism is strictly prohibited.
- **Chan

[2021-11-08 18:41] shivam-iitk opened #7594 "Competitive Programming: Greedy-Car Sell Problem"
### Description

Documentation for car selling problem to achieve maximum possible profit. Code snippet added is in C++.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/

[2021-11-08 18:41] shivam-iitk commented on #7594
/assign

[2021-11-08 18:46] Shreya241 opened #7595 "HTML Multimedia"
### Description

Documentation for Multimedia in HTML

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-11-08 18:49] Shreya241 commented on #7595
/assign

[2021-11-08 18:52] shivam-iitk opened #7597 "C_CPP: Greedy-Car Sell Problem"
### Description

Documentation for car selling problem to achieve maximum possible profit. Code snippet added is in C and C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-co

[2021-11-08 18:52] shivam-iitk commented on #7597
/assign

[2021-11-08 19:23] Ishaarora1234 opened #7599 "Quick Sort Algorithm (DSA>>Searching and Sorting)"
### Description

Quick Sort Algorithm with elaborative description for DSA folder, Searching and Sorting  sub-folder

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-11-08 19:23] Ishaarora1234 commented on #7599
/assign

[2021-11-08 19:56] Shreya241 opened #7603 "Features of C++ 17 with examples"
### Description

Documentation for C++ 17 Features with there examples.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-11-08 19:56] Shreya241 commented on #7603
/assign

[2021-11-08 19:57] Shreya241 commented on #7603
/assign

[2021-11-08 19:59] #5275 closed

[2021-11-08 19:59] Shreya241 commented on #7603
/assign

[2021-11-08 21:31] KritiG7 commented on #5997
/assign

[2021-11-09 00:12] shreya024 commented on #7590
I would like to work on this issue.Kindly assign

[2021-11-09 00:17] 1PRatgit commented on #6833
@Aryamanz29 I will be creating PR by evening.

[2021-11-09 03:46] #6495 closed

[2021-11-09 03:55] Binita-tech commented on #6462
Will make PR today

[2021-11-09 03:59] achsahxavier commented on #5849
@prathimacode-hub
Name: Achsah Xavier
S. No.: 882
Batch: 20
Type: Audio
Approach: Explain what is factor analysis, its types, applications.
Please assign it to me for audio contribution.
Thank you.

[2021-11-09 04:04] subhangi2731 opened #7607 "Async/Await in Javascript"
### Description

Stop and wait until something is resolved. Async & await just syntactic sugar on top of Promises and like promises it also provides a way to maintain asynchronous operation more synchronously. So in javascript asynchronous operation can be handled in various versions. I want to create a documentation on this

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Document

[2021-11-09 04:04] subhangi2731 commented on #7607
/assign

[2021-11-09 04:04] subhangi2731 commented on #7607
/assign

[2021-11-09 04:45] Binita-tech commented on #6838
/assign

[2021-11-09 05:12] #7481 closed

[2021-11-09 05:20] deepthi1107 commented on #7516
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do a video on this issue. my approach: a detailed explanation

[2021-11-09 05:38] Isha307 commented on #7516
@deepthi1107 Issue assigned to you

[2021-11-09 05:42] #7484 closed

[2021-11-09 05:44] #7468 closed

[2021-11-09 05:46] nisha855 commented on #7590
/assign

[2021-11-09 05:49] nisha855 commented on #7590
@heet-kumar
Nisha Tirkey
Batch-5

[2021-11-09 05:50] #7490 closed

[2021-11-09 05:50] heet-kumar commented on #7590
ok go for it

[2021-11-09 05:51] heet-kumar commented on #7590
hey you already know that you need to write just /assign

[2021-11-09 06:00] #7469 closed

[2021-11-09 06:01] abhisheks008 commented on #7507
Issue assigned to you @VidhiBhatt01

[2021-11-09 06:02] heet-kumar commented on #7593
@HarjasSodhi make good PR on this topic because Redux is vast topic and also try to cover the all aspects .

[2021-11-09 06:18] VidhiBhatt01 commented on #7507
Thank you @abhisheks008

[2021-11-09 06:24] samridhikapoor commented on #6612
I would like to contribute for this issue. I request you to assign me the same.
Thanks

Name: Samridhi Kapoor
Batch No.: 3
Github Profile link: https://github.com/samridhikapoor
Type of contribution I want to make: Video (as specified)

[2021-11-09 06:31] akarshlahariya11 commented on #6758
/assign

[2021-11-09 06:33] priyanshu688 opened #7611 "[Front-End Web Dev]: HTML Frames"
### Description

Discuss about HTML Frames.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project

[2021-11-09 06:34] priyanshu688 commented on #7611
/assign

[2021-11-09 06:38] abhisheks008 commented on #6612
issue assigned to @samridhikapoor

[2021-11-09 06:42] akarshlahariya11 commented on #6759
/assign

[2021-11-09 06:44] priyanshu688 opened #7612 "[Front-End Web Dev]: CSS Layout"
### Description

Discuss about different CSS Layout Property.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-11-09 06:46] priyanshu688 commented on #7612
/assign

[2021-11-09 06:53] priyanshu688 opened #7613 "[Android Dev with Java]: Android Notifications"
### Description

Discuss about Android Notifications about How we can create and send notifications.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-11-09 06:56] shreya024 commented on #7590
/assign is not working for me.I have more than 3 open  issues from other domain which I have already made PR but still under review.
It would be great if you could assign this to me.I commented on it first.@heet-kumar

[2021-11-09 07:10] satyam-mahajan opened #7615 "High Resolution Display using a Retina Image"
different devices size need different display size and for better quality for all the devices we sudy about retina image

[2021-11-09 07:11] satyam-mahajan commented on #7615
/assign

[2021-11-09 07:29] #7514 closed

[2021-11-09 07:32] Elisha-s commented on #3270
Can you please tell me the last date to make the final PRs?  @nimisha-yadav

[2021-11-09 07:46] dummy-co-der commented on #5307
Yes sir !!

[2021-11-09 07:49] VidhiBhatt01 commented on #7509
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Video

I have completed all other previously assigned issues and am having none assigned rn.

[2021-11-09 07:57] RaghavvGupta commented on #6837
@Aryamanz29 can I take this up?

[2021-11-09 08:22] #5307 closed

[2021-11-09 08:39] Agamjyot08 commented on #7356
I'd like to contribute the documentation for MVVM. Please assign this to me!

[2021-11-09 10:24] jr-boney commented on #6797
I would like to learn programming what should i do to learn it

[2021-11-09 11:01] #7023 closed

[2021-11-09 11:15] #7424 closed

[2021-11-09 11:29] ashish-reddy-20-08 commented on #7475
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-11-09 12:02] raina-akshay commented on #7475
resolve previous pr

[2021-11-09 12:12] #6758 closed

[2021-11-09 12:24] heet-kumar opened #7622 "Frontend_with_Framework: React 7.2 -> Importance of State Management in React"
### Description

Contributors are required to create **Video** and explain about the **Importance State Management in React** which should cover the question like :
- What is state management in React ?
- Where we use this concept in React ?
- Importance of using the State Management in React .
- also give some explanation with code samples.
- also any add-ons in depth about these topic from your

[2021-11-09 12:47] #6722 closed

[2021-11-09 13:01] deepeshaburse commented on #6888
I am not getting the results I expected and need a little more time to make changes in my code. Is it fine if I take one more day (at max) to make my final PR?

[2021-11-09 13:02] #4507 closed

[2021-11-09 13:05] asppanda12 opened #7624 "[Create New Issue]:JAVA TEMPLEATE TO RUN THE CODE IN 1 SEC"
### Description

Description:JAVA TEMPLEATE TO RUN THE CODE IN 1 SEC

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-11-09 13:05] nayakaj commented on #2250
@adityabisoi  plz check my pr #6650

[2021-11-09 13:05] asppanda12 commented on #7624
/assign

[2021-11-09 13:08] satyam-mahajan commented on #6931
Closes #6931

[2021-11-09 13:13] satyam-mahajan commented on #6931
Fixes #6931

[2021-11-09 13:18] #5589 closed

[2021-11-09 13:19] #5440 closed

[2021-11-09 13:23] #7125 closed

[2021-11-09 13:23] shaurya24sri commented on #2250
@hritikksingh @adityabisoi Please review my pr https://github.com/girlscript/winter-of-contributing/pull/7626

[2021-11-09 13:27] #7615 closed

[2021-11-09 13:28] satyam-mahajan commented on #6931
please unassign this issue to me so that I can take another.

[2021-11-09 13:33] satyam-mahajan opened #7627 "High Resolution Display using a Retina Image Concept"
Different devices has different size of display for making high resolution we use retina image concept.

[2021-11-09 13:33] satyam-mahajan commented on #7627
/assign

[2021-11-09 13:34] AdityaNikhil commented on #7475
Full name : Aditya Nikhil
Batch Number : 2
GitHub Profile Link : github.com/adityanikhil
Which type of Contribution you want to make :
Video

[2021-11-09 13:39] ashish-reddy-20-08 commented on #7475
I have made the changes sir for the previous pr

[2021-11-09 13:49] SourabhSaraswat-191939 opened #7630 "FRONTEND WITH FRAMEWORK: VueJS-7.1 => Plugins introduction and installation in VueJs (Vue Router & Vuex)"
### Description

Contributors are required to explain Plugins introduction and installation in VueJs (Vue Router & Vuex), which should cover questions like:-

What are Plugins and how to integrate them in Vue.js?
How does this work?
Why there is a need for this?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can tak

[2021-11-09 13:54] SourabhSaraswat-191939 opened #7631 "FRONTEND WITH FRAMEWORK: VueJS-7.2 => Creating Routes (Static and Dynamic)"
### Description

Contributors are required to explain about Creating Routes (Static and Dynamic) in VueJs with the "vue-router" plugin, which should cover questions like:-
What are Routes in Vue.js?
How does this work?
Why there is a need for this?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 examples

[2021-11-09 13:54] pankaj-sawnani commented on #2574
Hello @saloni-15,
I want to work on this topic as no one has done any work on this.

[2021-11-09 13:55] SourabhSaraswat-191939 opened #7632 "FRONTEND WITH FRAMEWORK: VueJS-7.3 => Nested Routes"
### Description

Contributors are required to explain about Nested Routes in VueJs with the "vue-router" plugin, which should cover questions like:-
What are Nested Routes in Vue.js?
How does this work?
Why there is a need for this?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 examples with codes of d

[2021-11-09 13:58] SourabhSaraswat-191939 opened #7633 "FRONTEND WITH FRAMEWORK: VueJS-7.4 => Using Routing/Navigation Guards"
### Description

Contributors are required to explain about Using Routing/Navigation Guards in VueJs with the "vue-router" plugin, which should cover questions like:-
What are Routing/Navigation Guards in Vue.js?
How does this work?
Why there is a need for this?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can tak

[2021-11-09 14:00] SourabhSaraswat-191939 opened #7634 "FRONTEND WITH FRAMEWORK: VueJS-7.5 => History Mode in routes"
### Description

Contributors are required to explain about History Mode in routes in VueJs with the "vue-router" plugin, which should cover questions like:-
What are History Mode in routes in Vue.js?
How does this work?
Why there is a need for this?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 exampl

[2021-11-09 14:00] afreenabegum commented on #7299
Hi sir @pjdurden
Please assign me this issue. I would like to contribute through Audio.

Afreena begum
DSA Batch-1.

[2021-11-09 14:01] SourabhSaraswat-191939 opened #7635 "FRONTEND WITH FRAMEWORK: VueJS-7.6 => Route Meta fields"
### Description

Contributors are required to explain about Route Meta fields in VueJs with the "vue-router" plugin, which should cover questions like:-
What are Route Meta fields in Vue.js?
How does this work?
Why there is a need for this?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 examples with co

[2021-11-09 14:03] afreenabegum commented on #7153
Hi mam @nimisha-yadav
Please assign me this issue. I would like to contribute through Audio.

Afreena begum
DSA Batch-1.

[2021-11-09 14:03] SourabhSaraswat-191939 opened #7636 "FRONTEND WITH FRAMEWORK: VueJS-7.7 => Handling routes Programmatically"
### Description

Contributors are required to explain about Handling routes Programmatically in VueJs with the "vue-router" plugin, which should cover questions like:-
What is Handling routes Programmatically?
How does this work?
Why there is a need for this?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can take 2

[2021-11-09 14:04] afreenabegum commented on #7142
@nimisha-yadav mam
please assign me this issue. I would like to contribute through Audio.

Afreena begum
DSA Batch1.

[2021-11-09 14:06] pankaj-sawnani commented on #7337
I would like to work on this topic.
Pankaj Sawnani - 936
Batch - 21
Issue No - #7337
Type: Video

[2021-11-09 14:14] soma-v commented on #7316
I would like to work on this issue

[2021-11-09 14:15] soma-v commented on #7316
/assign

[2021-11-09 14:17] #6873 closed, assigned to khushali452

[2021-11-09 14:18] AdityaNikhil commented on #7503
Full name : Aditya Nikhil
Batch Number : 2
GitHub Profile Link : github.com/adityanikhil
Which type of Contribution you want to make :
Video

[2021-11-09 14:31] #7493 closed

[2021-11-09 14:32] shreya024 opened #7638 "Dynamic Programming : Rod Cutting"
### Description

Rod cutting problem in Dynamic Programming

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-09 14:36] #7502 closed

[2021-11-09 15:25] #6833 closed

[2021-11-09 15:28] #6809 closed

[2021-11-09 15:51] #6462 closed

[2021-11-09 15:54] #6818 closed

[2021-11-09 15:56] Aryamanz29 commented on #6838
@Binita-tech  Sure, Go ahead

[2021-11-09 15:57] Aryamanz29 commented on #6841
Ok no problem :)

[2021-11-09 16:05] Preet1406 opened #7640 "Adding Roman to Integer code to Brute Force"
### Description

The Roman to Integer code is a really good example, which I want to add by creating a different md file.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-11-09 16:06] Preet1406 commented on #7640
/assign

[2021-11-09 16:06] Preet1406 commented on #7640
/assign

[2021-11-09 16:12] #7541 closed

[2021-11-09 16:12] Harshkumar62367 commented on #6832
/assign

[2021-11-09 16:17] Isha307 opened #7643 "ML 0.3 : Real life application of Data Mining (A)"
### Description

### 📌  Issues
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Real life application of Data Mining_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice y

[2021-11-09 16:26] eshan1925 commented on #7368
/assign

[2021-11-09 16:31] Ruchika-20 commented on #7643
would work on this

[2021-11-09 16:33] Isha307 commented on #7643
@Ruchika-20 Assigned to you.

[2021-11-09 16:34] koshimagoyal commented on #6931
@satyam-mahajan you haven't created any PR to this yet

[2021-11-09 16:38] Yashesvinee opened #7644 "Frontend: CSS Image Sprites"
### Description

Documentation on CSS Image sprites

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-11-09 16:39] Yashesvinee commented on #7644
/assign

[2021-11-09 16:42] #392 closed

[2021-11-09 16:45] prathimacode-hub commented on #423
Its because, issue was duplicated. @Kareem-negm

[2021-11-09 16:48] #6301 closed

[2021-11-09 16:48] #464 closed

[2021-11-09 16:49] #445 closed

[2021-11-09 16:52] #1527 closed

[2021-11-09 16:52] #1525 closed

[2021-11-09 16:56] #1856 closed

[2021-11-09 16:58] #3520 closed

[2021-11-09 16:58] #3177 closed

[2021-11-09 16:59] #2403 closed

[2021-11-09 16:59] #4169 closed

[2021-11-09 16:59] #7509 closed

[2021-11-09 17:00] satyam-mahajan commented on #6931
I created but not much knowledge of framework.

[2021-11-09 17:00] #4747 closed

[2021-11-09 17:01] avinash201199 opened #7645 "[Open Source]: Adding Rails Girls Summer of Code (RGSOC)"
### Description

Adding Rails Girls Summer of Code

Rails Girls Summer of Code is an award-winning global fellowship program aimed at bringing more diversity into Open Source. It welcomes all women and non-binary applicants who want to gain a footing in the world of coding and further expand their knowledge and skills. The focus is on advanced-beginners who want to enter programming full-time.

##

[2021-11-09 17:02] avinash201199 commented on #7645
/assign

[2021-11-09 17:12] deepak089 opened #7646 "multiple callback function"
### Description

"Explanation":
i will tell about the multiple callback function in XMLHTTP and will be adding examples in onreadystate and onload state property.

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of con

[2021-11-09 17:12] deepak089 commented on #7646
/assign

[2021-11-09 17:20] Jinal4502 opened #7648 "CSS Text Effects"
### Description

I will provide descriptive explanation regarding css text effects in documentation format.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-co

[2021-11-09 17:21] Jinal4502 commented on #7648
/assign

[2021-11-09 17:24] deepak089 commented on #6937
/assign
i will add multiple callback function explanation in it

[2021-11-09 17:31] deepak089 opened #7649 "left view of binary tree"
### Description

Explanation:
i will code for the left view of binay tree.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-11-09 17:31] deepak089 commented on #7649
/assign

[2021-11-09 17:39] nimisha-yadav commented on #5899
Okay so we can conduct a GMeet to look at the problem. It's not possible to see through the whole process via Git terminal so I'd help you to create the PR and make commits via GitHub UI itself. I'm free after 12 midnight today or post 10 pm tomorrow, let me know what's feasible for you. @Varun270

[2021-11-09 17:50] nimisha-yadav commented on #3270
30 November but try to wrap up things by 20 Nov so we can get time for review. @mandeep168

[2021-11-09 17:52] nimisha-yadav commented on #3270
30 November but this issue has been assigned to you since 2 weeks so try to wrap it up within one week or sooner. @Elisha-s

[2021-11-09 18:08] ayush-sleeping commented on #1499
hey @rahulsain , assign me this for  " Audio  " section . <br>
I would to like to fixed the  "  Audio  " part of this issue .......

[2021-11-09 18:25] #5718 closed

[2021-11-09 18:45] shristy15 opened #7654 "[Create New Issue]: All about Tailwind CSS (A utility first CSS Framework)"
### Description

It will be documentation in which there will be every single important information about tailwind CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/

[2021-11-09 18:46] shristy15 commented on #7654
/assign

[2021-11-09 22:28] KritiG7 commented on #6900
/assign

[2021-11-09 22:32] KritiG7 commented on #6353
/assign

[2021-11-09 22:44] Jinal4502 opened #7656 "Competitive Programming: Floyd–Warshall algorithm"
### Description

I will explain the implementation of floyd-warshall algorithm alongwith its python code in this documentation.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girl

[2021-11-09 22:44] Jinal4502 commented on #7656
/assign

[2021-11-10 02:06] TammanaNiharika opened #7658 "Multithreading in Python"
### Description

To provide an overview of **multithreading in python** using programming examples.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-11-10 02:06] TammanaNiharika commented on #7658
/assign

[2021-11-10 02:41] harshithatnbr commented on #7139
@nimisha-yadav
  I would like to work on this issue in **video format**. Please assign me this issue.
 Thankyou!
Name : Harshitha
Batch: DSA batch-3

[2021-11-10 03:00] #7186 closed

[2021-11-10 03:44] ashish-reddy-20-08 commented on #7508
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation with examples.

[2021-11-10 04:18] #7611 closed

[2021-11-10 04:22] Preet1406 commented on #7508
Name: Ravanpreet Kaur Bagga
Batch Number: 2
Which type of Contribution you want to make : Documentation

[2021-11-10 04:28] Preet1406 commented on #7376
/assign

[2021-11-10 04:29] deepthi1107 commented on #7508
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do Video on this issue.my approach: a detailed explanation

[2021-11-10 04:58] Isha307 commented on #7508
@Preet1406 Issue assigned to you.

[2021-11-10 05:15] anjalirai12 opened #7663 "[JS] : The Fetch API"
### Description

A Documentation on The Fetch API in JavaScript

The topics to be discussed in this tutorial:

1.What is Fetch API?
2.How to send request using Fetch API?
3. How to handle response?
4. Handling status codes

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-co

[2021-11-10 05:15] anjalirai12 commented on #7663
/assign

[2021-11-10 05:16] #7663 closed

[2021-11-10 05:41] #1939 closed

[2021-11-10 05:51] prathimacode-hub opened #7665 "Data Science with Python : Lung Segmentation using Computer Vision"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in learning the prediction of Lung Cancer, based on segmentation of images, using Computer Vision.

Dataset : https://wiki.cancerimagingarchive.net/display/Public/Lung+CT+Segmentation+Challenge+2017

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the appro

[2021-11-10 05:55] prathimacode-hub opened #7666 "Data Science with Python : Barcode and QR Code Recognition"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, it will help us in Recognition of Information stored through Barcode and QR Code, with the help of Python.

Barcode Dataset : https://www.kaggle.com/whoosis/barcode-detection-annotated-dataset
QRcode Dataset : https://www.kaggle.com/coledie/qr-codes

To get assigned to this issue, add your serial numbers mentioned

[2021-11-10 05:58] SaloniThete commented on #7666
Name: Saloni Thete
Sr.no: 821
Type:Documentation
Approach: Detailed explanation on Barcode and QR Code Recognition with implementation in jupyter notebook.
@prathimacode-hub , kindly assign
/assign

[2021-11-10 05:59] #7516 closed

[2021-11-10 06:01] prathimacode-hub opened #7667 "Data Science with Python : Automated Essay Grading"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, it will help us in grading the essay automatically using machine learning

Dataset : https://www.kaggle.com/c/asap-aes/data

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Aud

[2021-11-10 06:02] Deepika-Pavundoss commented on #7346
Sr no: 161
Batch: 5
Name: Deepika Pavundoss
Type : Video
I would like to explain about the different algorithms, the libraries used here, process and the code in detail
@prathimacode-hub

[2021-11-10 06:02] manjeetdhayal commented on #3845
@Bhuvnesh875 you can work on it, I have assigned it to you

[2021-11-10 06:03] pankaj-sawnani commented on #7666
I would like to work on this.
Pankaj Sawnani - 936
Batch - 21
Issue No - #7666
Type: Video
Approach: I will give detailed explanation on Barcode and QR recognition and also show the implementation.
/assign

[2021-11-10 06:04] darkhorse-2000 opened #7668 "Python Collections Module"
### Description

Brief description about Python collections module through documentation.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-11-10 06:05] darkhorse-2000 commented on #7668
/assign

[2021-11-10 06:05] darkhorse-2000 commented on #7668
@adityabisoi Sir, can I work on this issue?

[2021-11-10 06:06] #7515 closed

[2021-11-10 06:09] prathimacode-hub commented on #7666
Issue assigned to @SaloniThete for documentation

@pankaj-sawnani, this issue is open for audio and video. Let me know of your interest as its assigned on FCFS basis.

[2021-11-10 06:10] abhisheks008 commented on #6612
What's the progress in this issue @samridhikapoor ?

[2021-11-10 06:10] abhisheks008 commented on #7465
What's your progress here @shrestharushika

[2021-11-10 06:11] abhisheks008 commented on #7470
What's your progress here @khushali452

[2021-11-10 06:11] abhisheks008 commented on #7471
What's your progress here @tavneetgill

[2021-11-10 06:11] prathimacode-hub opened #7669 "Data Science with Python : Grocery Stores Analysis and Prediction"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, it will help us in knowing how to analyze and predict sales for the thousands of product families sold at Favorita stores located in Ecuador.

Dataset : https://www.kaggle.com/c/store-sales-time-series-forecasting/data

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Sc

[2021-11-10 06:11] abhisheks008 commented on #7472
What's your progress here @M-dime

[2021-11-10 06:12] abhisheks008 commented on #7474
What's your progress here @NikitaEmberi

[2021-11-10 06:12] abhisheks008 commented on #7476
What's your progress here @jahnvishah

[2021-11-10 06:12] abhisheks008 commented on #7477
What's your progress here @hrugved06

[2021-11-10 06:13] abhisheks008 commented on #7480
What's your progress here @Yugal41735

[2021-11-10 06:13] abhisheks008 commented on #7482
What's your progress here @uttarabahad

[2021-11-10 06:13] abhisheks008 commented on #7486
What's your progress here @vanshhhhh

[2021-11-10 06:13] abhisheks008 commented on #7489
What's your progress here @snoice45

[2021-11-10 06:14] abhisheks008 commented on #7494
What's your progress here @ASLManasa

[2021-11-10 06:14] abhisheks008 commented on #7496
What's your progress here @Pratyaksha-047

[2021-11-10 06:14] abhisheks008 commented on #7499
What's your progress here @Mann-tech13

[2021-11-10 06:15] abhisheks008 commented on #7501
What's your progress here @priyall

[2021-11-10 06:15] samridhikapoor commented on #6612
The PPT is almost ready. Just a few slides are left. Will record the same and submit it ASAP.
@abhisheks008

[2021-11-10 06:15] hrugved06 commented on #7477
I am on it. I will submit a PR by tomorrow

[2021-11-10 06:16] vanshhhhh commented on #7486
@abhisheks008 I will make the PR by today evening.

[2021-11-10 06:19] prathimacode-hub commented on #7346
Issue assigned to @Deepika-Pavundoss for video contribution

[2021-11-10 06:22] prathimacode-hub commented on #7346
@yashh18, according to FCFS this issue should go to @Apoorv-17. I had missed the message and you got it assigned using /assign. So kindly choose another issue to work on or audio if you would like to work on this issue. I have to be fair with everyone yes. Hope you understand.

@Apoorv-17, issue is assigned to you for documentation

[2021-11-10 06:24] HastiSutaria commented on #7500
Please assign this issue to me.
Name: Hasti Sutaria
Domain: ML Batch 4
Serial no: 560
Github link: https://github.com/HastiSutaria
Video

[2021-11-10 06:26] tavneetgill commented on #7471
I will upload it by tonight @abhisheks008

[2021-11-10 06:28] HastiSutaria commented on #7634
May I work on this issue ?
Name - Hasti Sutaria
Method would be satisfy the conditions given above and precise practical and theoritical description.

[2021-11-10 06:34] abhisheks008 commented on #7500
Issue assigned to you @HastiSutaria. Complete this within 3 days.

[2021-11-10 06:35] NikitaEmberi commented on #7474
@abhisheks008 sir I will try to open a PR today. I'm sorry if I am late but I was having vivas going on in our college.

[2021-11-10 06:36] anandhu720 commented on #7634
sure

[2021-11-10 06:37] HastiSutaria commented on #437
@prathimacode-hub requested changes completed. PR no #7548

[2021-11-10 06:37] HastiSutaria commented on #7634
Thank you @anandhu720.

[2021-11-10 06:42] yashh18 commented on #7346
@prathimacode-hub yes its totally okay.
@Apoorv-17 you can go ahead and work on this issue!

[2021-11-10 06:49] #7612 closed

[2021-11-10 07:01] priyanshu688 opened #7670 "[DSA]: Graph Terminologies and Representations"
### Description

Discuss about various Graph Terminologies and How it is represented?

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-10 07:01] priyall commented on #7501
It'll be done by EOD

[2021-11-10 07:01] priyanshu688 commented on #7670
/assign

[2021-11-10 07:06] prathimacode-hub commented on #7346
There are many more issues awaiting for grabs. You can chose it up and let me know for you to get it assigned and yes, thanks for understanding. @yashh18

[2021-11-10 07:07] vid-27 opened #7671 "CSS @import rule"
### Description

Everything you wanna know about the import rule in CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_O

[2021-11-10 07:07] Vid-27 commented on #7671
/assign

[2021-11-10 07:15] Yugal41735 commented on #7480
Working on it

[2021-11-10 07:17] priyanshu688 opened #7672 "[DSA]: Algorithm of Operations"
### Description

Discuss the Algorithm of Several Operations : Traversing, Searching, Insertion and Deletion from Linked List

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contr

[2021-11-10 07:33] Pratyaksha-047 commented on #7496
Is there any specific folder I have to make this PR in?

[2021-11-10 07:38] M-dime commented on #7472
I'm working on it and I'm going to make PR today.

[2021-11-10 07:41] Pratyaksha-047 commented on #7496
Is there any specific folder in which I have to make this PR?

[2021-11-10 07:51] niharikamahajan02 opened #7674 "Responsiveness in CSS"
### Description

Details about what is a responsive website and how it's implemented using CSS

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-11-10 07:51] niharikamahajan02 commented on #7674
/assign

[2021-11-10 08:03] rijusougata13 commented on #3780
/assign

[2021-11-10 08:55] #6302 closed

[2021-11-10 08:57] snoice45 commented on #7489
I'll make the pr by tomorrow.

[2021-11-10 09:52] rahulsain commented on #1499
Any updates?

[2021-11-10 10:09] Anshii12 commented on #7622
/assign

[2021-11-10 10:38] uttarabahad commented on #7482
@abhisheks008 will be done by today

[2021-11-10 10:41] #7036 closed

[2021-11-10 11:49] KritiG7 commented on #6905
Please do not unassign me . I have done the work but having issues making a PR  through git. I'll resolve and make a new PR asap for the following issue.

[2021-11-10 12:04] saloni33 commented on #7591
@VikasPandey121 sir kindly review my pr #7681

[2021-11-10 12:06] adityabisoi commented on #7668
Go ahead

[2021-11-10 12:21] Mann-tech13 commented on #7499
I'll make PR tomorrow @abhisheks008 @Isha307

[2021-11-10 12:31] Aniketsinghcoder commented on #7672
/assign

[2021-11-10 12:32] Aniketsinghcoder commented on #7672
/assign

[2021-11-10 12:55] #7507 closed

[2021-11-10 12:57] stutimohta20 opened #7687 "Lowest common ancestor of a binary tree"
### Description

lowest common ancestor (lca) in a binary tree

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project

[2021-11-10 12:57] stutimohta20 commented on #7687
/assign

[2021-11-10 13:06] ShudhanshuSingh opened #7691 "Introduction to Figma Part 11 : Shadows"
### Description

Description

* Add shadows to your designs using Figma

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-11-10 13:10] ShudhanshuSingh opened #7692 "UI/UX Trends : Create an Aurora"
### Description

Description

* Create an Aurora Design using yours skills and explain it's procedure!

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-11-10 13:11] Pooja-Goyal-1 commented on #7363
@rahulsain I would like to work on this issue. Kindly  assign it to me.

[2021-11-10 13:17] sitamadex11 commented on #7363
Yeah you can start working on it. Supervisor will assign you soon.

On Wed, 10 Nov 2021, 6:42 pm Pooja Goyal, ***@***.***> wrote:

[2021-11-10 13:24] soma-v commented on #7692
/assign

[2021-11-10 13:25] Varun270 commented on #5899
@nimisha-yadav We can do GMeet tomorrow after 10 pm.

[2021-11-10 13:25] soma-v commented on #7691
/assign

[2021-11-10 13:29] HastiSutaria commented on #7500
@abhisheks008 For the video submission, is voiceover and face compulsory?

[2021-11-10 13:34] CharanBH24 opened #7695 "09_Flutter_Navigation: Multi-Screen Apps Using Routes and Navigation"
### Description

### Description

Description
     To Explain about Navigation in Flutter
### Domain
Android Development in Flutter
### Type of Contribution
Video

### Domain

Android Dev (Flutter)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct

[2021-11-10 13:35] CharanBH24 commented on #7695
/assign

[2021-11-10 13:36] abhisheks008 commented on #7500
Face is not compulsory, but voice over is compulsory. Without the voice over how can you be able to understand the users what's going on in the video.

@HastiSutaria

[2021-11-10 13:39] #7486 closed

[2021-11-10 13:51] nayakaj commented on #5990
@adityabisoi  i want to work on this issue plz assign me

[2021-11-10 13:52] #7471 closed

[2021-11-10 13:53] #4958 closed, assigned to vrajdesai78

[2021-11-10 13:54] #7474 closed

[2021-11-10 13:55] #7496 closed

[2021-11-10 13:57] #6014 closed

[2021-11-10 13:57] #6973 closed

[2021-11-10 13:58] abhisheks008 commented on #7472
Great, waiting for your PR @M-dime

[2021-11-10 13:58] abhisheks008 commented on #7482
Waiting for your PR @uttarabahad

[2021-11-10 13:59] VikasPandey121 commented on #7591
Please ping DSA Supervisor here.

[2021-11-10 14:37] koshimagoyal opened #7698 "[FRONTEND WITH FRAMEWORK]: Angular(7.3) -> Observables"
### Description

- What is observable?
- Why it is used?
- What is role of async pipe?
- Explain with syntax/example
- Reference :- https://angular.io/guide/observables-in-angular
(Week 7 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week7" directory
3. Tasks would be assigned on

[2021-11-10 14:37] koshimagoyal opened #7699 "[FRONTEND WITH FRAMEWORK]: Angular(7.4) -> Requesting Data from Server"
### Description

- How to request data from server?
- How to read full response?
- How to request non-json data?
- Explain with syntax/example
- Reference :- https://angular.io/guide/http
(Week 7 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week7" directory
3. Tasks would be ass

[2021-11-10 14:37] koshimagoyal opened #7700 "[FRONTEND WITH FRAMEWORK]: Angular(7.5) -> Error Handling"
### Description

- How to get error details?
- how to retry a failed request?
- Explain with syntax/example
- Reference :- https://angular.io/guide/http
(Week 7 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week7" directory
3. Tasks would be assigned on First Come First Serve Bas

[2021-11-10 15:26] Jinal4502 commented on #7362
Name - Jinal Vyas
Sr. No. - 254
Batch - 8
Type - Documentation
Approach - Detailed explanation on Contrast Stretching using matplotlib with implementation.
@prathimacode-hub, please assign.
/assign

[2021-11-10 15:34] Aniketsinghcoder commented on #7307
/assign

[2021-11-10 15:40] adityabisoi commented on #5990
ds-algo based topic. Closing the issue

[2021-11-10 15:40] #5990 closed

[2021-11-10 15:50] nayakaj commented on #4543
@adityabisoi  isthis open for video then plz assign me

[2021-11-10 15:51] rahilmehta-24 commented on #7669
./assign Documentation

[2021-11-10 15:56] rahilmehta-24 commented on #7669
Name: Rahil Mehta
Sr No. : 390
Batch: 13
Type: Documentation
Approach: Prediction and analyzing the given dataset using a neat and clean code approach.

[2021-11-10 16:03] rahilmehta-24 commented on #7667
./assign Documentation

[2021-11-10 16:13] hrshita-kshyp opened #7708 "CSS: Basics and Syntax"
### Description

Documentation on CSS basic and syntax

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of t

[2021-11-10 16:14] hrshita-kshyp commented on #7708
@Knighthawk-Leo Can I work on this issue?

[2021-11-10 16:16] Knighthawk-Leo commented on #7708
Yes sure

[2021-11-10 16:18] hrshita-kshyp commented on #7708
Just want to confirm haven't seen any issue on this topic so there is nothing related to this right?

[2021-11-10 16:20] khushali452 commented on #7470
@abhisheks008  working on it....will raise pr by tomorrow

[2021-11-10 16:57] Knighthawk-Leo commented on #7708
So you created this issue and don't want to work on it so Can I close this

[2021-11-10 16:59] hrshita-kshyp commented on #7708
I want to work on this issue..just asking there is no more such documentation already?

[2021-11-10 17:43] SourabhSaraswat-191939 commented on #6905
@KritiG7
Actually, this was unassigned automatically by github-bot because you used /assign more than 3 times. Or you can say you assigned yourself more active issues than the amount mentioned in the rules of bot.

No worry we will reassign this to you. Keep on working.

@anandhu720, please reassign it to her.

[2021-11-10 17:45] KritiG7 commented on #6905
Sir kindly review my PR  and merge it. I have made a new one.

[2021-11-10 17:47] SourabhSaraswat-191939 commented on #6905
I did that, you can check.

[2021-11-10 17:49] prathimacode-hub commented on #7669
Issue assigned to @rahilmehta-24 for documentation

[2021-11-10 17:50] KritiG7 commented on #6905
When you merge a PR it will automatically gets closed or will I have to close it from my end?

[2021-11-10 17:51] garvitraj commented on #3723
@subhradwip01 go with audio

[2021-11-10 17:52] prathimacode-hub commented on #7362
Issue assigned to @Jinal4502 for documentation

[2021-11-10 17:53] SourabhSaraswat-191939 commented on #6905
No, you don't have to do anything. It will be merged and closed by Supervisor.

[2021-11-10 18:04] #5921 closed

[2021-11-10 18:08] #4367 closed

[2021-11-10 18:08] areenoverclouds opened #7714 "[C/CPP]: Pointer vs References in C++"
### Description

I would like to provide documentation on pointers vs references in c++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-11-10 18:09] areenoverclouds commented on #7714
/assign

[2021-11-10 18:35] anjalikumawat2002 opened #7715 "What is OS Module in Python?"
### Description

What is OS Module in python and what functionalities are provided by the os module.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-11-10 18:35] anjalikumawat2002 commented on #7715
/assign

[2021-11-10 18:58] nimisha-yadav opened #7718 "DSA: Stacks 4.1.12.1 Prefix to Postfix Conversion"
## Description
How to convert prefix expressions to postfix? Show examples and implementation.

Three contributors may take up this issue depending on the format.

## Task
- [x] Documentation
- [ ] Audio
- [ ] Video

## Note
- Do not use assign command for this issue.
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](http

[2021-11-10 18:59] uttarabahad commented on #7482
@Isha307 @abhisheks008 Done! Pls review-https://github.com/girlscript/winter-of-contributing/pull/7717

[2021-11-10 19:00] nimisha-yadav commented on #7718
@uzma024 you may take up this.

[2021-11-10 19:02] Muskan-creator commented on #7164
@priyanka001tech Self assigning on issues are not allowed.Please look for some other open issue

[2021-11-10 19:15] #7194 closed

[2021-11-10 19:27] VaibhavMalik4187 opened #7721 "[Create New Issue]: Using Stack Data Structure to Reverse a String"
### Description

In this documentation, I will be demonstrating and implementing how to reverse a string using a stack

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-11-10 19:28] VaibhavMalik4187 commented on #7721
/assign

[2021-11-10 19:29] VaibhavMalik4187 commented on #7721
/assign

[2021-11-10 19:34] VaibhavMalik4187 opened #7722 "[Create New Issue]: Graph representation using linked lists"
### Description

In this documentation, I will be creating a graph class using linked lists to represent and store a graph.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-11-10 19:36] VaibhavMalik4187 commented on #7722
/assign

[2021-11-10 19:46] #7722 closed

[2021-11-10 19:59] ayush-sleeping commented on #2139
Hey @rahulsain , Assign me this issue for   &nbsp; &nbsp; &nbsp; " Audio "  &nbsp; &nbsp; &nbsp; Part ..... <br>
I would love to fixed the Audio part of this issue .

[2021-11-10 20:01] KritiG7 commented on #6905
Alright ! Thanks

[2021-11-10 21:04] #7376 closed

[2021-11-10 21:06] #863 closed

[2021-11-10 21:08] #6828 closed

[2021-11-10 21:11] #4858 closed

[2021-11-11 03:41] #6905 closed

[2021-11-11 03:53] #7482 closed

[2021-11-11 03:55] #7477 closed

[2021-11-11 03:57] #7472 closed

[2021-11-11 04:28] Knighthawk-Leo commented on #7708
You can add more on documentation no need to correct anything like Animation or Js related stuff or If you are not sure about this Then I will close this issue .

And If you have planned anything please brief it so that I can understand what exactly you want to do with this issue.

[2021-11-11 04:31] hrshita-kshyp commented on #7708
I will add about what CSS is and its syntax

[2021-11-11 04:44] abhisheks008 commented on #7508
@Preet1406 This is a Video contribution, not a documentation. Are you okay with that?

[2021-11-11 04:44] abhisheks008 commented on #7524
What's the progress here @purvanshgarg

[2021-11-11 04:45] abhisheks008 commented on #7473
What's the progress here @Sumit3301

[2021-11-11 04:45] abhisheks008 commented on #7519
What's the progress here @Yugal41735

[2021-11-11 04:46] abhisheks008 commented on #7521
What's the progress here @riyasai22

[2021-11-11 04:47] abhisheks008 commented on #7513
What's the progress here @Nay907

[2021-11-11 04:47] abhisheks008 commented on #7511
Whats the progress here @khushali452

[2021-11-11 04:48] abhisheks008 commented on #7505
What's the progress here @Pratyaksha-047

[2021-11-11 04:48] abhisheks008 commented on #7504
What's the progress here @tanvideshmukh29

[2021-11-11 04:49] abhisheks008 commented on #7501
Didn't get your PR @priyall

[2021-11-11 04:50] abhisheks008 commented on #7494
Make sure you complete this issue by EOD @ASLManasa

[2021-11-11 04:50] abhisheks008 commented on #7489
Make sure you complete this issue by EOD @snoice45

[2021-11-11 04:51] abhisheks008 commented on #7476
What's your Progress here @jahnvishah

[2021-11-11 04:51] abhisheks008 commented on #7470
Make sure you complete this issue by EOD @khushali452

[2021-11-11 04:52] abhisheks008 commented on #7465
What's your progress here @shrestharushika

[2021-11-11 04:52] abhisheks008 commented on #6612
What's your progress here @samridhikapoor

[2021-11-11 04:54] #7510 closed

[2021-11-11 05:42] prathimacode-hub commented on #7352
Issue assigned to @tavneetgill for documentation

[2021-11-11 05:58] deepthi1107 commented on #7508
@abhisheks008 sir, can you please assign to me, sir
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do Video on this issue.my approach: a detailed explanation

[2021-11-11 06:35] Prateek-8168 commented on #7714
I want to work on this issue.
Kindly assign me this issue.

[2021-11-11 06:36] pankaj-sawnani commented on #7666
I would like to work on this.
Pankaj Sawnani - 936
Batch - 21
Issue No - #7666
Type: Video
Approach: I will give detailed explanation on Barcode and QR recognition and also show the implementation.
@prathimacode-hub Please assign this issue as type video.
/assign

[2021-11-11 06:56] Preet1406 commented on #7508
@abhisheks008 Yes I'm okay with it

[2021-11-11 07:01] prachigarg19 commented on #7068
/assign audio

[2021-11-11 07:02] prachigarg19 commented on #7068
\assign audio

[2021-11-11 07:04] prachigarg19 commented on #7067
\assign audio

[2021-11-11 07:07] abhisheks008 commented on #7508
Great @Preet1406. Complete this within 3 days.

[2021-11-11 07:10] #7695 closed

[2021-11-11 07:21] #7461 closed

[2021-11-11 07:46] Preet1406 commented on #7508
@abhisheks008 alright!

[2021-11-11 08:26] Knighthawk-Leo commented on #7708
So what's the confusion here.. 😅

[2021-11-11 08:26] yashh18 commented on #7401
@adityabisoi in which folder do i have to paste the audio contribution for this?

[2021-11-11 08:37] #7521 closed

[2021-11-11 08:50] raina-akshay opened #7738 "Can you check if the changes are visible @raina-akshay"

[2021-11-11 09:01] jaigora24 commented on #7718
@nimisha-yadav mam plz assign this to me
Type :- Documentation
Name :- Jai Gora
DSA Batch No. :- 7

[2021-11-11 09:11] elixir14082002 opened #7739 "I/O redirection"
### Description

I will be discussing about the I/O redirection in C/CPP. It will enlighten us about the meaning of I/O redirection and how to carry it out.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gith

[2021-11-11 09:11] elixir14082002 commented on #7739
/assign

[2021-11-11 09:29] Saviour1001 commented on #6854
Closing this as the PR is  merged !!

[2021-11-11 09:29] #6854 closed

[2021-11-11 09:43] ArihantJain123 commented on #7708
can i work on this issue ?

[2021-11-11 09:46] samridhikapoor commented on #6612
The PPT is complete. Will record the video and submit it by Saturday for sure.

[2021-11-11 10:20] Sumit3301 commented on #7473
Was reading about the topic, will be making a PR by today or max by tomorrow.

[2021-11-11 10:26] priyanshu688 commented on #7392
@TechnoPhasePRO Are you working on this issue??

[2021-11-11 10:27] priyanshu688 commented on #7613
/assign

[2021-11-11 10:34] Hritik157 commented on #6001
plz review my pr @SourabhSaraswat-191939  sir, @anandhu720  sir

[2021-11-11 10:34] hrshita-kshyp commented on #7708
No confusion ig you aren't getting my point leave it

[2021-11-11 10:34] hrshita-kshyp commented on #7708
Sorry I m already working on this issue

[2021-11-11 11:11] Nay907 commented on #7513
I will complete it today!

[2021-11-11 11:22] Knighthawk-Leo commented on #7708
That's nyc and get back to me when you're are done with the same

[2021-11-11 11:48] #7670 closed

[2021-11-11 11:58] neerajdhakad commented on #93
@Debasmita-01 mam , I want to contribute to this issue if possible

[2021-11-11 12:08] neerajdhakad commented on #184
Hey , @Debasmita-01
I would like to contribute on this issue and I would like to work on **UI faces** and **Artboard Studio Mockups** plugins.

[2021-11-11 12:09] #7475 closed

[2021-11-11 12:09] #7613 closed

[2021-11-11 12:15] #7505 closed

[2021-11-11 12:17] #7501 closed

[2021-11-11 12:20] adityabisoi commented on #7715
Topic already covered in #4011

[2021-11-11 12:20] #7715 closed

[2021-11-11 12:22] adityabisoi commented on #7401
You can add it in `Modules` folder

[2021-11-11 12:27] #7738 closed

[2021-11-11 12:30] abhisheks008 commented on #6612
Make sure you submit your PR by Saturday @samridhikapoor

[2021-11-11 12:30] abhisheks008 commented on #7513
Make sure you make the PR by EOD @Nay907

[2021-11-11 12:31] abhisheks008 commented on #7473
Make sure you follow your deadlines @Sumit3301. All the best!

[2021-11-11 12:32] Anushka-Gamad commented on #6661
\assign Audio

[2021-11-11 12:36] #7513 closed

[2021-11-11 12:40] Ash515 opened #7743 "SQL Queries and Sub Queries"
### Description

Learn SQL query and Sub queries and contribute your knowledge.

### Domain

Database

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-11-11 12:53] samridhikapoor commented on #6612
Yeah I will for sure. @abhisheks008

[2021-11-11 13:01] Ash515 opened #7744 "SQL Clauses and Joins"
### Description

Learn SQL Clauses and Joins.

### Domain

Database

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project

[2021-11-11 13:43] PranavMasekar opened #7745 "Flutter: Google Authentication via firebase:"
### Description

Write code to authenticate user via google in flutter.
Reference: #6851

### Domain

Android Dev (Flutter)

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-11-11 13:43] PranavMasekar commented on #7745
/assign

[2021-11-11 13:43] deepthi1107 commented on #5850
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-11 13:50] tejas342 commented on #7401
@adityabisoi i want to work on this as video-contribution

[2021-11-11 14:54] CharanBH24 opened #7749 "Flutter_project: Creating BMI Calculator in Flutter"
### Description

## Description
To create a Flutter App to calculate the BMI

### Domain

Android Dev (Flutter)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-11-11 14:54] CharanBH24 commented on #7749
/assign

[2021-11-11 14:59] prathimacode-hub commented on #5850
Issue assigned to @tavneetgill for audio and @deepthi1107 for video contribution

[2021-11-11 15:00] 55ritesh commented on #7745
/assign

[2021-11-11 15:06] #6837 closed

[2021-11-11 15:08] #6841 closed

[2021-11-11 15:08] Aryamanz29 commented on #6830
@nishtha2405  Any updates?

[2021-11-11 15:37] #7745 closed

[2021-11-11 15:57] prathimacode-hub opened #7752 "Data Science with Python : LUX-Python Library for Exploratory Data Analysis"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, it will help us in knowing how to LUX-Python Library for Exploratory Data Analysis in detailed manner

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go

[2021-11-11 16:03] preestine commented on #7752
Hello ma'am! @prathimacode-hub
I would like to work on this issue.
Title: LUX-Python Library for Exploratory Data Analysis
Name: Preeti Chaudhari
Serial No.: 268
Batch No.: 8
Mentor: Kareem Negm
Domain: Data Analysis and Visualization
Type: Documentation
Approach: Introduction to Python Library LUX, its basic purpose, Current Challenges faced in EDA, Installation of LUX, Recommendations in LUX, Fu

[2021-11-11 16:05] prathimacode-hub opened #7753 "Data Science with Python : Used Car Prices Prediction"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, it will help us in knowing on how to provide prediction for used car prices dataset by Cardekho

Dataset : https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho/

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would foll

[2021-11-11 16:07] prathimacode-hub commented on #7752
Issue assigned to @preestine for documentation

[2021-11-11 16:12] prathimacode-hub opened #7754 "Data Science with Python : Probabilistic Measures and Theorems"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, it will help us in knowing on all the information needed about Probabilistic Measures and Theorems.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation, Audio, Video). You can go w

[2021-11-11 16:18] silicolicious opened #7755 "OS - Shortest Job First Scheduling"
### Description

Operating Systems - SJF scheduling algorithm code with comments

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-11-11 16:19] silicolicious commented on #7755
/assign

[2021-11-11 16:38] Yugal41735 commented on #7519
Would make pr by tomorrow positively

[2021-11-11 16:43] #7494 closed

[2021-11-11 16:44] #7421 closed

[2021-11-11 16:48] #7417 closed

[2021-11-11 16:58] Sarthak1799 commented on #7754
Name - Sarthak
Serial number - 355
Type - documentation
Approach - Theory of probability, basics and theorems important for data science along with code snippets wherever necessary.

Please assign me the issue

[2021-11-11 17:00] VaibhavMalik4187 opened #7757 "[Create New Issue]: Implementing Min/Max Stack"
### Description

Implementation of a stack class which will support the following functions :
push()
pop()
get_max()

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-11-11 17:00] VaibhavMalik4187 commented on #7757
/assign

[2021-11-11 17:00] Vishaka830 commented on #7754
@prathimacode-hub Ma'am, Can I do the documentation for it?
Vishaka Saxena
Serial No: 901
Batch: 20
Issue Number: 422
Type: Documentation
Approach: Role of Probability in Statistics
Types of Probability
Various Probability Theorems
Measurements of Probability
Tips & Tricks

[2021-11-11 17:12] khushali452 commented on #7511
@abhisheks008 I have made a PR .pls review it !

[2021-11-11 17:17] M-dime commented on #7147
I would like to work on this issue.

Type : Documentation

[2021-11-11 17:25] #7240 closed

[2021-11-11 18:03] deepeshaburse commented on #7135
Can I work on this issue in Python? @nimisha-yadav

[2021-11-11 18:07] Ayonijakaushik19 opened #7763 "[Interview Preparation]: Add OOPs cheat sheet"
### Description

Hi admin, i want to add OOPs cheat sheet under Interview preparation repository. Please assign it to me.

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-o

[2021-11-11 18:09] khushali452 commented on #7470
I have made a PR ! do review it

[2021-11-11 18:20] raina-akshay commented on #7470
minor edit required

[2021-11-11 18:48] #7470 closed

[2021-11-11 19:13] prathimacode-hub commented on #7754
Issue assigned to @Sarthak1799 for documentation.

Let me know if you want this issue for audio or video. @Vishaka830

[2021-11-11 19:43] #7640 closed

[2021-11-11 19:50] vasu-1 opened #7765 "Data Types in PHP"
### Description

I have added data types intrduction in brief.

### Domain

Backend Dev (PHP)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-11-11 19:51] vasu-1 commented on #7765
/assign

[2021-11-11 20:32] snoice45 commented on #7489
I'm facing slight difficulty in making pr. Will make sure to resolve it by today afternoon.

[2021-11-12 02:21] 124015001 opened #7767 "C_CPP: Overloading Binary Operators Using Member Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-12 02:21] 124015001 commented on #7767
/assign

[2021-11-12 02:25] photon149 commented on #7753
Name: Shiwansh Raj
Batch: 10
Sr. No: 368
Documentation
Approach: Introduction, properly commented code, images wherever required, proved conclusion
Can I work on the documentation of "Used Car Price Prediction Dataset by Cardekho"  and also give a description about the steps involved and compare the same using various models.
@prathimacode-hub please assign me the same/

[2021-11-12 02:47] Shivangik01 commented on #7476
Name: Shivangi Kochrekar
Batch: 3
Github Link: https://github.com/Shivangik01
Type: Audio
I would like to contribute to this issue if Jahnvi is busy.

[2021-11-12 03:35] SAYAK-CHAKRABORTY commented on #4857
@Danish-Belal kindly review my pull Request

[2021-11-12 03:40] Isha307 commented on #7476
@Shivangik01 This issue is already assigned to @jahnvishah

[2021-11-12 04:12] abhisheks008 commented on #7476
What's the progress here @jahnvishah

[2021-11-12 04:13] abhisheks008 commented on #7489
Okay! Make sure you do it by EOD @snoice45

[2021-11-12 04:16] abhisheks008 commented on #7511
You have made the PR for ResNet (D), and that issue is closed. Where is your PR for Image Denoising (D) @khushali452 ?

[2021-11-12 04:39] yashh18 commented on #7243
/assign

[2021-11-12 04:40] yashh18 commented on #7243
/assign

[2021-11-12 04:41] #7243 closed

[2021-11-12 04:42] shaurya24sri opened #7768 "C/Cpp:Warshall's Algorithm"
### Description

Warshall's Algorithm in C/Cpp

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-12 04:42] yashh18 commented on #7401
/assign

[2021-11-12 04:42] shaurya24sri commented on #7768
/assign

[2021-11-12 04:43] #7672 closed

[2021-11-12 04:48] shaurya24sri commented on #7768
/assign

[2021-11-12 04:53] prathimacode-hub commented on #7753
Issue assigned to @photon149 for documentation

[2021-11-12 05:01] #713 closed

[2021-11-12 05:01] shaurya24sri commented on #7768
/assign

[2021-11-12 05:02] rahilmehta-24 commented on #7669
Which dataset I have to work in Kaggle ?

[2021-11-12 05:24] #5997 closed

[2021-11-12 05:25] #6001 closed

[2021-11-12 05:31] #7431 closed

[2021-11-12 05:38] #5685 closed

[2021-11-12 05:42] khushali452 commented on #7511
I had two commits in that PR....1 for ResNet and other for image denoising....shall i make it separately?

[2021-11-12 06:10] deepthi1107 commented on #4748
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-12 06:18] khushali452 commented on #7511
and it has been merged also

[2021-11-12 06:22] prathimacode-hub commented on #4748
Issue assigned to @deepthi1107 for video contribution

[2021-11-12 07:33] vishnu95075 opened #7781 "[C_CPP]: Switch Statement"
### Description

# Switch Statement
- Discription
- Examples

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-12 07:33] vishnu95075 commented on #7781
/assign

[2021-11-12 07:42] Pranshu321 opened #7782 "C_CPP : Bit operations in document form"
### Description

**In this, I explain the operations which can be done on the bit.**
1. set bit
2. unset bit
3. toggle bit
4. count bit

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/win

[2021-11-12 07:43] Pranshu321 commented on #7782
/assign

[2021-11-12 07:47] HastiSutaria commented on #7500
@abhisheks008 PR created!!  https://github.com/girlscript/winter-of-contributing/pull/7783

[2021-11-12 08:32] shaurya24sri commented on #7658
@adityabisoi Can I contribute - audio on this issue

[2021-11-12 08:34] shaurya24sri commented on #4008
@adityabisoi I want to contribute on this issue.
Contribution-audio
batch-python

[2021-11-12 08:57] shaurya24sri commented on #577
@adityabisoi Can I work on the documentation for this issue since it is not covered so far

[2021-11-12 09:14] #7500 closed

[2021-11-12 09:22] abhisheks008 commented on #7511
My bad @khushali452

[2021-11-12 09:22] #7511 closed

[2021-11-12 09:26] #2688 closed

[2021-11-12 09:28] #1983 closed

[2021-11-12 09:40] #1060 closed

[2021-11-12 09:40] #2377 closed

[2021-11-12 10:22] HastiSutaria commented on #7634
@anandhu720 Please review my PR. https://github.com/girlscript/winter-of-contributing/pull/7786

[2021-11-12 10:33] #7499 closed

[2021-11-12 10:44] juhik24 opened #7787 "Reverse a Linked List using stack."
### Description

Discuss the implementation to reverse a Linked List using stack.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-11-12 10:44] juhik24 commented on #7787
/assign

[2021-11-12 11:24] prathimacode-hub commented on #5849
Issue assigned to @achsahxavier for audio contribution

[2021-11-12 11:33] ayush-sleeping commented on #5960
Hey @rahulsain , Assigned me this issue for " Audio "  part .  <br>
I want to work on the Audio part on Extention Function in Kotlin

[2021-11-12 11:51] adityabisoi commented on #577
@lohith1392 Have you made a PR on this?

[2021-11-12 11:52] adityabisoi commented on #4008
@Iamtripathisatyam Are you working on this?

[2021-11-12 12:10] #5899 closed

[2021-11-12 12:12] nimisha-yadav commented on #7135
Go ahead @deepeshaburse

[2021-11-12 12:14] #5894 closed

[2021-11-12 12:16] #7137 closed

[2021-11-12 12:19] the-grignard-reagent commented on #1277
/assign

[2021-11-12 12:22] the-grignard-reagent commented on #1379
/assign

[2021-11-12 13:21] #7489 closed

[2021-11-12 13:50] Varun270 commented on #5897
@nimisha-yadav I have added the credits.

[2021-11-12 14:00] s4marth opened #7793 "Opensource: 6.101 Explain everything related to Express.js framework"
### Description

Explain everything related to express.js in the form of documentation

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-11-12 14:00] s4marth commented on #7793
/assign

[2021-11-12 14:00] s4marth opened #7794 "Opensource: 6.102 Explain everything related to codeIgniter framework"
### Description

Explain everything related to codeIgniter in the form of documentation

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-11-12 14:00] s4marth commented on #7794
/assign

[2021-11-12 14:33] jahnvishah commented on #7476
Due some unforseen circumstances I won't be able to generate the PR.

[2021-11-12 14:35] Nirbhay97 commented on #2734
/assign

[2021-11-12 14:43] YASHMAROO commented on #6354
@SourabhSaraswat-191939 I have made the PR. Please review it. Sorry for late submission.

[2021-11-12 14:43] prathimacode-hub opened #7797 "Data Science with Python : Glass Classification and Analysis"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work on classification problem especially with Glass Classification and it's analysis.

Dataset : https://www.kaggle.com/uciml/glass

This issue is created on contributors request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science

[2021-11-12 14:47] prathimacode-hub opened #7798 "Data Science with Python : Credit Card Fraud Detection"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work on detecting the credit card frauds.

Dataset : https://www.kaggle.com/mlg-ulb/creditcardfraud

This issue is created on contributors request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one wo

[2021-11-12 14:57] Deepika-Pavundoss commented on #7797
Deepika-Pavundoss commented 2 days ago
Sr no: 161
Batch: 5
Name: Deepika Pavundoss
Type : Video
I would like to explain about the different algorithms, the libraries used here, process and the code in detail
@prathimacode-hub

[2021-11-12 14:58] Deepika-Pavundoss commented on #7797
Sr no: 161
Batch: 5
Name: Deepika Pavundoss
Type : Video
I would like to explain about the different algorithms, the libraries used here, process and the code in detail
@prathimacode-hub

[2021-11-12 14:58] abhisheks008 commented on #7476
@Shivangik01 would you like to take up this issue?

[2021-11-12 15:07] divya-chhoriya commented on #7798
/assign
Divya Chhoriya
Sr no. 444
Batch 12
Type: documentation
Approach: credit card fraud detection using three different methods

[2021-11-12 15:09] abhisheks008 commented on #7524
What's the progress here @purvanshgarg

[2021-11-12 15:10] abhisheks008 commented on #7519
Make sure you create the PR by tomorrow @Yugal41735

[2021-11-12 15:11] abhisheks008 commented on #7503
What's the progress here @AdityaNikhil

[2021-11-12 15:11] abhisheks008 commented on #7465
What's your progress here @shrestharushika

[2021-11-12 15:12] abhisheks008 commented on #7480
What's your progress here @Yugal41735

[2021-11-12 15:13] abhisheks008 commented on #7504
What's the progress here @tanvideshmukh29

[2021-11-12 15:21] #7656 closed

[2021-11-12 15:22] Yugal41735 commented on #7480
till sunday I would be able to make pr.

[2021-11-12 15:28] #7648 closed

[2021-11-12 15:37] koshimagoyal commented on #6931
@satyam-mahajan no problem just answer questions with what you have learnt and we will review it. We will also tell if any enhancement need to be done. This is how you will also learn.

[2021-11-12 15:40] tejas342 commented on #7401
/assign

[2021-11-12 15:43] KritiG7 commented on #6903
/assign

[2021-11-12 15:47] ganaaduvva commented on #7744
/assign audio

[2021-11-12 15:47] koshimagoyal opened #7800 "[FRONTEND WITH FRAMEWORK]: Angular(7.6) -> Get,Post,Put requests"
### Description

- How to create get request?
- How to create post request?
- How to create put request?
- Explain with syntax/example
- Reference :- https://angular.io/guide/http
(Week 7 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week7" directory
3. Tasks would be assigned on

[2021-11-12 15:47] koshimagoyal opened #7801 "[FRONTEND WITH FRAMEWORK]: Angular(7.7) -> Interceptors"
### Description

- What is interceptor?
- How to write an interceptor?
- How to handle interceptor events?
- Explain with syntax/example
- Reference :- https://angular.io/guide/http
(Week 7 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week7" directory
3. Tasks would be assigned

[2021-11-12 15:47] ganaaduvva commented on #7743
/assign audio

[2021-11-12 15:50] ganaaduvva commented on #2870
@AkMo3 please unassign me I'm done with the audio

[2021-11-12 15:51] ganaaduvva commented on #2947
@Ash515 please unassign me I'm done with the audio

[2021-11-12 15:53] ganaaduvva commented on #7744
/assign audio

[2021-11-12 15:53] ganaaduvva commented on #7743
/assign audio

[2021-11-12 15:57] Jinal4502 opened #7802 "Competitve Programming: Activity Selction Problem"
### Description

I will explain the activity selection algorithm alongwith its implementation in Python.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contri

[2021-11-12 15:57] Jinal4502 commented on #7802
/assign

[2021-11-12 16:00] tejas342 commented on #7401
@adityabisoi please assign it me again, I don't know how it is unassigned

[2021-11-12 16:04] prathimacode-hub commented on #7798
Issue assigned to @divya-chhoriya for documentation

[2021-11-12 16:05] prathimacode-hub commented on #7797
Issue assigned to @Deepika-Pavundoss for documentation

[2021-11-12 16:12] pankaj-sawnani commented on #6360
I would like to work on this.
Pankaj Sawnani - 936
Batch - 21
Issue No - #6360
Type: Video
/assign

[2021-11-12 16:14] pankaj-sawnani commented on #7798
I would like to work on this.
Pankaj Sawnani - 936
Batch - 21
Issue No - #7798
Type: Video
/assign

[2021-11-12 16:20] amanraj-iit opened #7804 "Everything about Command line"
### Description

The command line is an essential tool for software development.
By using commands, we can execute a wide variety of programs on your computer.
In this we will learn the fundamental UNIX commands necessary for development in this course!

### Domain

C_CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girl

[2021-11-12 16:22] amanraj-iit commented on #7804
/assign

[2021-11-12 16:37] pankaj-sawnani commented on #7797
I would like to work on this topic
Pankaj Sawnani - 936
Batch - 21
Issue No - #7797
Type: Video
Approach: I will clearly explain about the model i am using and how i have selected the model for classification and analysis.
@prathimacode-hub

[2021-11-12 16:48] anjalikumawat2002 opened #7806 "Python : How to overcome from EOF Error in Compititve programming...."
### Description

What is EOF and How to overcome from this error in Python.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-11-12 16:49] anjalikumawat2002 commented on #7806
/assign

[2021-11-12 17:24] pilipi-puu-puu opened #7808 "Opensource : M.16 GitHub-Student-developer-pack"
### Description

Full documentation on GitHub Student developer pack.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-11-12 17:24] pilipi-puu-puu commented on #7808
/assign

[2021-11-12 17:29] thatSophisticatedMess18 commented on #7299
@pjdurden please assign the documentation part of this issue to me

[2021-11-12 17:29] thatSophisticatedMess18 commented on #7303
@pjdurden please assign the documentation part of this issue to me

[2021-11-12 17:30] #4857 closed

[2021-11-12 17:48] Narotam-singh opened #7809 "Infix to Postfix using Stack in C++"
### Description

Hey, I want to create documentation on Infix to Postfix using Stack in C++.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-11-12 17:48] Narotam-singh commented on #7809
/assign

[2021-11-12 18:06] jaigora24 commented on #7154
@nimisha-yadav mam please assign this to me
Name :- Jai Gora
Batch :- 7

[2021-11-12 18:07] jaigora24 commented on #5898
@nimisha-yadav mam please assign this to me
Name :- Jai Gora
Batch :- 7

[2021-11-12 18:21] shreya024 commented on #7316
Unassigning myself since my PR #7790 got merged

[2021-11-12 18:54] Mahi1901 opened #7811 "Kadane’s Algorithm"
### Description

Write an efficient program to find the sum of contiguous subarray within a one-dimensional array of numbers that has the largest sum.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com

[2021-11-12 18:55] Mahi1901 commented on #7811
/assign

[2021-11-12 19:24] priyashajain commented on #3248
/assign

[2021-11-12 19:25] priyashajain commented on #3248
/assign

[2021-11-12 19:27] #3248 closed

[2021-11-12 19:30] priyashajain commented on #3247
Can I work on this issue?

[2021-11-12 19:31] priyashajain commented on #3247
Will it be considered as an open issue?

[2021-11-12 19:32] priyashajain commented on #3247
Priyasha Jain
DSA Batch-7
Documentation
Can I still work on this issue?

[2021-11-12 19:40] priyashajain commented on #7139
Name- Priyasha Jain
Batch - DSA-7
I would like to work on this issue in audio format. Please assign this issue to me.
Thank you!

[2021-11-12 19:42] #7454 closed

[2021-11-12 19:43] priyashajain commented on #7156
Name - Priyasha Jain
Batch- DSA-7
I would like to work on this issue in audio format. Please assign this issue to me.
Thank you!

[2021-11-12 19:47] priyashajain commented on #3247
Name- Priyasha Jain
Batch - DSA-7
I would like to work on this issue in documentation format. Please assign this issue to me.
Thank you!

[2021-11-13 01:29] shreya024 commented on #7692
@ShudhanshuSingh I would like to work on this issue.

[2021-11-13 02:11] ShudhanshuSingh commented on #7692
Please mention this on discord, so that I can ask supervisors!!

[2021-11-13 03:10] #7223 closed

[2021-11-13 03:11] #7224 closed

[2021-11-13 03:11] #7225 closed

[2021-11-13 03:20] nishtha2405 commented on #6830
yes sir I'm working on it.

[2021-11-13 03:59] anisha-01-phoenix opened #7816 "Easy Runtime Permissions with Dexter"
### Description

This article will demonstrate the use of the Dexter Library and how it can be used for runtime permissions.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/w

[2021-11-13 04:00] anisha-01-phoenix commented on #7816
/ assign

[2021-11-13 04:01] anisha-01-phoenix commented on #7816
/assign

[2021-11-13 04:02] deepthi1107 commented on #7476
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do audio on this issue.my approach: a detailed explanation

[2021-11-13 04:10] shreya024 commented on #7692
I have mentioned on discord.

[2021-11-13 05:07] Debasmita-01 opened #7817 "UI: Online Movie Ticket Booking App"
### Description

Design an online movie ticket booking app
Screens to be designed :
 1) Display a list of cinema halls in a particular city
 2) Display a list of movies currently running in a particular cinema hall
 3) User choosing a movie and getting directed to the seat booking page

 If you want you can also design the workflow till the payments successful page .

### Domain

UI/UX

### Type o

[2021-11-13 05:29] Debasmita-01 opened #7818 "Design spotify tinder"
### Description

Implement designs for an app that will match two people on the basis of their Spotify playlist.

Ideas :
You can just add the features of the Tinder app to the Spotify app and make your own Spotify-Tinder.

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/b

[2021-11-13 06:28] deepthi1107 commented on #1080
Mam @micepram, i would like to do on this issue, video contribution, can you please assign me mam.

[2021-11-13 06:47] Shivangik01 commented on #7476
Yes

[2021-11-13 07:28] abhisheks008 commented on #7476
@Shivangik01 issue assigned to you, complete this within 3 days.

[2021-11-13 07:39] vartikavr opened #7820 "C_CPP : Ambiguity in Hybrid Inheritance"
### Description

Documentation on ambiguity in Hybrid inheritance in C++. It'll include what the ambiguity is and how to resolve it.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter

[2021-11-13 07:40] vartikavr commented on #7820
/assign

[2021-11-13 08:03] Pragati1419 commented on #7811
"/assign"

[2021-11-13 08:11] vishvarana commented on #7359
@prathimacode-hub Mam please review PR

[2021-11-13 09:18] purvanshgarg commented on #7524
I am a bit engaged in my exams right now

[2021-11-13 09:18] purvanshgarg commented on #7524
Will make the pr by 16th

[2021-11-13 09:19] Pragati1419 commented on #7763
"\assign

[2021-11-13 10:12] Saviour1001 commented on #6950
Closing this issue as #7455 got merged !

[2021-11-13 10:12] #6950 closed

[2021-11-13 10:13] #7767 closed

[2021-11-13 10:13] AtharvaaPatil commented on #6411
@Anant1711 working on it can I get a few more days I was busy travelling

[2021-11-13 10:44] #7544 closed

[2021-11-13 10:52] shrestharushika commented on #7465
I have just created the PR. Please review it.

[2021-11-13 11:49] nisha855 commented on #5769
@Muskan-creator Please review and suggest changes if any.

[2021-11-13 12:22] ANUSHKA-AARYA opened #7829 "BAR_GRAPH USING C"
### Description

I will explain about how to graphically compare populations in different countries using array and '*' in c language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wint

[2021-11-13 12:22] ANUSHKA-AARYA commented on #7829
/assign

[2021-11-13 12:34] Yugal41735 commented on #7519
@abhisheks008  @Isha307  I have created the pr could u please review it. Thanks

[2021-11-13 12:46] tanvideshmukh29 commented on #7504
@abhisheks008  plz check the PR.

[2021-11-13 12:49] abhisheks008 commented on #7524
Make sure you follow the deadline of 16th Nov. 2021 @purvanshgarg

[2021-11-13 12:51] abhisheks008 commented on #7504
@tanvideshmukh29 changes requested in your PR. You haven't follow the template for documentation.

[2021-11-13 13:02] #7793 closed

[2021-11-13 13:02] #7794 closed

[2021-11-13 13:19] #7213 closed

[2021-11-13 13:22] #1341 closed

[2021-11-13 13:59] mukeshmjn commented on #6323
@RIYANSHGARG any update?

[2021-11-13 14:04] prathimacode-hub commented on #7346
@Deepika-Pavundoss, issue is assigned to you for documentation

[2021-11-13 14:16] #7504 closed

[2021-11-13 14:21] hrugved06 commented on #7473
Hey @abhisheks008, if sumit is having problem in completing the PR, I would like to take up the issue
Thanks

[2021-11-13 14:44] yashh18 commented on #7798
Name - Yash Kataria
Serial No - 861
Batch No - 20
Type - Audio
Approach - I would explain the topic with the help of various code examples and check the accuracy of model using different machine learning models.
@prathimacode-hub Please assign this to me

[2021-11-13 14:47] Sumit3301 commented on #7473
@hrugved06  I will be doing this task by today

[2021-11-13 15:24] #7372 closed

[2021-11-13 16:01] naveeramesh commented on #7817
/assign

[2021-11-13 16:45] vishnupriya129 commented on #6365
@prathimacode-hub Mam can you please review this PR

[2021-11-13 16:52] ayush-sleeping commented on #5961
Hey @rahulsain , Please assign me this issue for  "  Audio Section  "  .  <br>
I want to fix this issue - audio section .

[2021-11-13 17:14] vishnupriya129 commented on #7665
serial number : 295
approach:  prediction of Lung Cancer, based on segmentation of images, using Computer Vision.
choice: documentation

[2021-11-13 17:44] prathimacode-hub commented on #7665
Issue assigned to @vishnupriya129 on documentation

[2021-11-13 19:06] ShudhanshuSingh opened #7845 "UI/UX Designs : Glassmorphism Web/App design"
### Description

Description

This is a simple task where you have to design a website Or a mobile application and you have to use Glassmorphism in it!

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.co

[2021-11-13 19:36] nimisha-yadav commented on #3247
You can work on this issue and it is already assigned to you, all the best @priyashajain

[2021-11-13 19:39] #5891 closed

[2021-11-13 19:46] #7787 closed

[2021-11-13 19:48] #7154 closed

[2021-11-13 19:51] #4779 closed

[2021-11-13 19:53] #1787 closed

[2021-11-13 20:00] #1171 closed

[2021-11-13 20:01] nimisha-yadav commented on #404
@purohitmansi final call. Submit the PR within 2 days else the issue will be closed.

[2021-11-13 20:04] nimisha-yadav commented on #3266
@rajmadhu0406 final call. Submit PR within 2 days else the issue will be closed.

[2021-11-13 20:06] nimisha-yadav commented on #4357
@vanshikapandey it's been many days, please try to submit PR by 16th nov after which we're closing stale issues.