[2021-10-04 06:17] rahulsain commented on #689
Hey @ydasc815 this subtopic cant be contained in 06 Views topic ACC to the website. Please change this subtopic to its representative topic, or else create on

[2021-10-04 06:17] nimisha-yadav commented on #4358
Assigning this issue to you @vanshikapandey, all the best!

[2021-10-04 06:19] saniya44 opened #4380 "Qualifiers in java"
### Description

What are Qualifiers in java?

### Domain

Backend Dev (Java)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-04 06:19] saniya44 commented on #4380
/assign

[2021-10-04 06:20] nimisha-yadav commented on #3256
Assigning this issue to you @shahhilag, all the best!

[2021-10-04 06:21] shahhilag commented on #4364
/assign

[2021-10-04 06:22] nimisha-yadav commented on #4355
Assigning this issue to you @silicolicious, all the best!

[2021-10-04 06:24] DhruvBajaj01 opened #4381 "Data Science with Python : Sliding Window Algorithm"
### Description

DescriptionWelcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to the Sliding Window Algorithm for K means clustering along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow a

[2021-10-04 06:24] vanshikapandey commented on #4358
Thank you so much:)

[2021-10-04 06:26] PurviBhoyar21 commented on #4381
Hello supervisors and mentors
will this issue count for hacktoberfest 2021?

[2021-10-04 06:26] chandan9369 commented on #4369
Hey nimisha-yadav I want to add this file

[2021-10-04 06:26] dhruvjain896 commented on #4268
/assign

[2021-10-04 06:28] uniquenikki commented on #4329
/assign

[2021-10-04 06:28] vanshikapandey commented on #4357
Please assign this issue to me
Name: Vanshika Pandey
Batch no: 10

[2021-10-04 06:29] vanshikapandey commented on #4361
Please assign this issue to me
Name Vanshika Pandey
Batch no: 10

[2021-10-04 06:30] koshimagoyal commented on #4329
@uniquenikki you can comment /assign as single message in new message and it will be assigned to you

[2021-10-04 06:32] DhruvBajaj01 opened #4382 "Data Science with Python : Efficiently Sampling Functions from Gaussian Process Posteriors"
### Description

DescriptionWelcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information Efficiently Sampling Functions from Gaussian Process Posteriors to along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one wo

[2021-10-04 06:33] adityabisoi commented on #4333
@samikshaupadhyay You assigned to any other issue now?

[2021-10-04 06:33] jarul-jangid commented on #4367
Jarul Jangid Batch 1

[2021-10-04 06:34] brassgolem-25 commented on #4372
Name - Tushar Tiwari
Batch - 6
Documentation

[2021-10-04 06:35] DhruvBajaj01 opened #4383 "Data Science With Python : Email Spam detection model"
### Description

Welcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to the Email Spam detection model along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Docume

[2021-10-04 06:36] anandhu720 commented on #4329
@RIYANSHGARG As you said there are only limited issues to work on.That's why we are telling everyone to only assign one task at a time.We have a lot of contributers with limited issue.That's why we are saying this.A lot of them are not even getting any work to do.So only get assign one work at a time.

[2021-10-04 06:37] DhruvBajaj01 opened #4385 "Data Science With Python : Conflict-based Search for Multi-agent Path Finding"
### Description

DescriptionWelcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to Conflict-based Search for Multi-agent Path Finding along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow an

[2021-10-04 06:38] iamKushGupta commented on #171
Can the documentation part for this issue be assigned to me ??
I perhaps guess that it's not yet done...

[2021-10-04 06:40] ayush572 commented on #4381
/assign

[2021-10-04 06:41] DhruvBajaj01 opened #4386 "Data Science With Python : Local Convolutional Features with Unsupervised Training for Image Retrieval"
### Description

Welcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to Local Convolutional Features with Unsupervised Training for Image Retrieval along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one w

[2021-10-04 06:41] AJgthb2002 commented on #4371
Hi, I would like to work on this issue in the form of documentation. Please assign me.
Ananya Joshi -DSA batch 2

[2021-10-04 06:43] ayush572 commented on #4381
I would like to work on the documentation part.

But, I am not getting this thing below
To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python"

[2021-10-04 06:43] PurviBhoyar21 commented on #4381
@ayush572
Sorry
But that's not allowed
Mentors will assign you
You can't spam every where.

[2021-10-04 06:43] ayush572 commented on #4381
Sorry, i dont mean to spam...

[2021-10-04 06:44] prathimacode-hub commented on #4381
You haven't provided any details to get this issue assigned. @ayush572

[2021-10-04 06:44] DhruvBajaj01 opened #4388 "Data Science With Python : Efficiently Sampling Functions from Gaussian Process Posteriors"
### Description

Welcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to Efficiently Sampling Functions from Gaussian Process Posteriors along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow

[2021-10-04 06:44] ayush572 commented on #4381
Um, what details are required to be provided mam?

[2021-10-04 06:44] ayush572 commented on #4381
May I know...

[2021-10-04 06:45] samikshaupadhyay commented on #4333
nope

[2021-10-04 06:45] nimisha-yadav commented on #3255
@purohitmansi, what's your full name and dsa batch number?

[2021-10-04 06:46] PurviBhoyar21 commented on #4381
@prathimacode-hub
I t would be great if this issue will come under hacktoberfest 2021.
I would love to contribute

[2021-10-04 06:46] purohitmansi commented on #3255
Name: Mansi Rajpurohit
Batch: 4

On Mon, 4 Oct 2021, 12:15 pm Nimisha Yadav, ***@***.***>
wrote:

[2021-10-04 06:48] shubh045 opened #4391 "Factorial program in c++ using recursion"
### Description

program to find factorial of a number using recursion

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-10-04 06:48] shubh045 commented on #4391
/assign

[2021-10-04 06:49] nimisha-yadav commented on #4372
Assigning this issue to you @brassgolem-25, all the best!

@motasimmakki it was mentioned not to use assign command, if you're inclined towards documentation there are some other issues open right now, please comment your name and batch there.

[2021-10-04 06:50] ayush572 commented on #4381
Name: Ayush Daga
Serial number: #3634
Type: Documentation

I would like to work on the documentation part.

[2021-10-04 06:50] prathimacode-hub commented on #4381
@PurviBhoyar21, cool, to count it under hacktober fest do mention while creating your PR so that label is assigned to it.

[2021-10-04 06:51] prathimacode-hub commented on #4381
Approach please. @ayush572

[2021-10-04 06:51] PurviBhoyar21 commented on #4391
Hello Supervisors and mentors
Please assign me this issue
I would love to contribute to this
and please include a label of hactoberfest - It would be great
THANK YOU

[2021-10-04 06:52] KTK-5901 commented on #4369
Hey @nimisha-yadav, I would like to contribute to the documentation of this specific topic. I would like to provide sufficient Introduction with example problem regarding this Issue.

[2021-10-04 06:54] PranshuSrivastava commented on #4381
Hey @DhruvBajaj01 ,  I would like to explain this concept using a documentation, where I would be using datasets as examples for the tests and for the outputs I would include the screenshots of the outputs so that the readers can get a good idea of what the algorithm does. My serial numer:490

[2021-10-04 06:54] msbuddhu commented on #4369
Hey @nimisha-yadav
Shabi Kaushal this side. I am good with DSA (explanation and implementation). I wish to do this task. Please assign me this.

[2021-10-04 06:54] ayush572 commented on #4381
Approach
Introduction to K-means clustering
Introduction to Sliding window technique
Application of Sliding window technique in K means clustering through code implementation

@prathimacode-hub

[2021-10-04 06:57] aishapervin commented on #4370
@nimisha-yadav plz assign me this issue.

[2021-10-04 06:57] nimisha-yadav commented on #3255
Assigned to you @purohitmansi, go ahead.

[2021-10-04 06:58] NikhilSharma03 opened #4393 "Frontend with Framework: Introduction to useContext"
### Description

Description
Contributors are required to create documentation and explain:-

- What is `useContext`
- Why to use `useContext`
- Advantages of `useContext`

Note :
Plagiarism is strictly prohibited.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
Files need to be added into the Week3 folder

[2021-10-04 06:58] prathimacode-hub commented on #4376
Details please. @PurviBhoyar21

[2021-10-04 06:58] ayush572 commented on #4383
Name: Ayush Daga
serial no: #3634
Type: Documentation
Approach:
Introduction to spam detection
Algorithm used for spam detection and explanation
Implementation through the code

[2021-10-04 07:00] aaditya2801 commented on #3799
/assign

can I contribute related to docker hub?

[2021-10-04 07:00] prathimacode-hub commented on #4381
Issue assigned to @PranshuSrivastava for documentation.

You just missed up in seconds. No worries, you have other issues for doc else audio / video @ayush572

[2021-10-04 07:00] PurviBhoyar21 commented on #4376
I am from ML batch 1
Python batch 5
and I want to contribute to DSA domain for this issue

[2021-10-04 07:01] nimisha-yadav commented on #4369
Assigning this issue to you @KTK-5901, all the best!

@msbuddhu @chandan9369 if you're inclined towards documentation issues, [these are open](https://github.com/girlscript/winter-of-contributing/issues?q=is%3Aopen+is%3Aissue+label%3AUp-For-Grabs+dsa+documentation), you may comment your name and batch here.

[2021-10-04 07:01] RIYANSHGARG commented on #4329
Ok sir, I will take care of it.

[2021-10-04 07:01] NikhilSharma03 opened #4395 "Frontend with Framework: Introduction to useReducer"
### Description

Contributors are required to create documentation and explain:-

- What is `useReducer`
- Why to use `useReducer`
- Advantages of `useReducer`

Note :
Plagiarism is strictly prohibited.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
Files need to be added into the Week3 folder only.

### D

[2021-10-04 07:02] prathimacode-hub commented on #4374
Issue assigned to @surjyaneeh for documentation

Sorry, as you haven't provided the details, it's ben assigned to other. @PurviBhoyar21

[2021-10-04 07:03] nimisha-yadav commented on #4371
Assigning this issue to you @AJgthb2002, all the best!

[2021-10-04 07:03] prathimacode-hub commented on #4376
Are you from DSWP? If so what's your serial number, type of contribution and your approach? This issue is only for DSWP domain contributors.  @PurviBhoyar21

[2021-10-04 07:04] prathimacode-hub commented on #4383
Issue assigned to @ayush572 for documentation

[2021-10-04 07:04] motasimmakki commented on #4368
@nimisha-yadav
Kindly assign this to me.

Motasim (DSA Batch-01)

[2021-10-04 07:06] PurviBhoyar21 commented on #4376
#5262 is my serial number
No I am not from DSWP
Documentation will be the type of contribution
but want to contribute to this issue

[2021-10-04 07:06] motasimmakki commented on #4365
@nimisha-yadav
Kindly assign this to me.

Motasim (Batch 01)

[2021-10-04 07:07] nimisha-yadav commented on #4365
Assigning this issue to you @motasimmakki, all the best!

[2021-10-04 07:13] #473 closed

[2021-10-04 07:14] msbuddhu commented on #4364
Hey @nimisha-yadav
Shabi Kaushal this side. I am good with DSA (explanation and implementation). I wish to do this task. Please assign me this.

Shabi Kaushal (DSA Batch 10)

[2021-10-04 07:16] nimisha-yadav commented on #4364
Assigning this issue to you @msbuddhu, all the best!

[2021-10-04 07:18] adityabisoi commented on #4333
Go ahead then

[2021-10-04 07:25] shubh045 commented on #4391
Hello supervisers and mentors
please include the label of hactoberfest to this issue

[2021-10-04 07:26] nimisha-yadav commented on #4370
What's your name and batch?

[2021-10-04 07:29] mandeep168 commented on #611
I made a PR and I am sorry for the delay.

[2021-10-04 07:35] chandan9369 commented on #4369
@nimisha-yadav
I have already made this doc.

[2021-10-04 07:38] itsbittoosharma commented on #4315
/assign Documentation
Utkarsh Upadhyay
DSA Batch-3

[2021-10-04 07:41] Aditi-247 opened #4402 "[JS]: Object-Oriented JavaScript (ES6 Classes)"
### Description

Classes are an essential part of **object-oriented programming (OOP)**. Classes are used to define the blueprint for real-world object modeling and organize the code into reusable and logical parts.

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blo

[2021-10-04 07:41] Ajinkyap331 commented on #4393
/assign

[2021-10-04 07:42] aaditya2801 commented on #31
please /assign  me, I want to add one of my best open source project 👍

[2021-10-04 07:43] uttarabahad commented on #4107
@abhisheks008 @Isha307 https://github.com/girlscript/winter-of-contributing/pull/4401
Created a PR, please review!

[2021-10-04 07:43] chandan9369 commented on #4369
@nimisha-yadav  review my PR

[2021-10-04 07:45] nimisha-yadav commented on #4369
Then you would be required to remove this Anagram Problem. Once done, tag me so I can review your PR.

[2021-10-04 07:45] nimisha-yadav commented on #4369
Okay, let me check.

[2021-10-04 07:45] Aditi-247 commented on #4402
@paramsiddharth @s4-2 @dakshsethi  please assign me this issue .

[2021-10-04 07:45] Anant1711 commented on #171
Assigned!

[2021-10-04 07:46] khushipunia21 commented on #713
@Randrita Please Review my PR#4323

[2021-10-04 07:47] chandan9369 commented on #4369
Ok

[2021-10-04 07:54] itsbittoosharma commented on #4311
/assign documentation

[2021-10-04 07:55] #3211 closed

[2021-10-04 07:55] #4255 closed

[2021-10-04 07:55] ashish-reddy-20-08 commented on #4108
@abhisheks008 , Can i work on this issue.
M. Ashish Reddy
Batch-2

[2021-10-04 07:55] itsbittoosharma commented on #4314
/assign

[2021-10-04 07:55] chandan9369 commented on #4369
@nimisha-yadav
https://github.com/girlscript/winter-of-contributing/compare/main...chandan9369:main

[2021-10-04 07:56] itsbittoosharma commented on #4314
/assign documentation

[2021-10-04 08:02] Nileshmalav opened #4404 "flask_mail Sending Mails With Flask"
### Description

Code of Conduct & Contributing Guidelines is located inside the .github directory, and mostly these are mentioned normally in the main directory where all other things are mentioned
Because the .github directory is used for some other purposeful actions. The .github directory is used by GitHub for some actions.

Correct me If I'm wrong.

Please change that & add YAML files.

### D

[2021-10-04 08:04] Nileshmalav commented on #4404
/assign

[2021-10-04 08:05] khushipunia21 commented on #564
@adityabisoi I am interested to work on this issue.
Name:Khushi Punia
Type: Video
Batch: Python batch 6

[2021-10-04 08:08] Anant1711 opened #4406 "Cybersecurity 5 Socket Programming"
### Description

## Explain what is Socket Programming?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribut

[2021-10-04 08:08] palakg01 commented on #4395
/assign

[2021-10-04 08:09] Anant1711 opened #4407 "Cybersecurity 5.1 Server and Client Socket"
### Description

## What is Server and client socket `methods`

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Co

[2021-10-04 08:10] Anant1711 opened #4408 "Cybersecurity 5.2 General Socket"
### Description

## What are General Socket methods?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution

[2021-10-04 08:12] Anant1711 opened #4409 "Cybersecurity 5.3 Keylogger"
### Description

## What is Keylogger?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contribution Guidelines](h

[2021-10-04 08:14] Kareem-negm commented on #4160
Hello @prathimacode-hub , please assigned me the issue

[2021-10-04 08:14] I-Infinatoo commented on #4406
documentation /assign

[2021-10-04 08:14] kar-cloud commented on #4409
I would like to work on this issue in documentation format

[2021-10-04 08:17] Kalpana-Kathait11 commented on #4409
documentation /assign

[2021-10-04 08:17] Anant1711 commented on #4406
Assigned!

[2021-10-04 08:18] Anant1711 commented on #4409
Assigned for Documentation!

[2021-10-04 08:18] Kalpana-Kathait11 commented on #4408
/assign(documentation)

[2021-10-04 08:18] Anant1711 commented on #4409
Do you want to do it in Video format?

[2021-10-04 08:19] Anant1711 commented on #4408
Assigned!

[2021-10-04 08:19] Kalpana-Kathait11 commented on #4409
I want to work on Documention.

[2021-10-04 08:23] Kalpana-Kathait11 commented on #4407
/assign

[2021-10-04 08:26] sahildhiman-nsutian commented on #4368
Hey @nimisha-yadav  I would like to work to this issue.  My video would demonstrate anagrams with example. Further ,I will explain my code to check whether two strings are anagram of not . Please assign me.
Thank you !

[2021-10-04 08:27] sahildhiman-nsutian commented on #4368
I forget to tell my name is Sahil .

[2021-10-04 08:27] Pratyaksha-047 commented on #4116
Hey I'd like to take this issue for contribution.
Name- Pratyaksha Gupta
Type- Video
Github-https://github.com/Pratyaksha-047
Batch- ML batch 3

[2021-10-04 08:29] Pratyaksha-047 commented on #4108
Hey, I'd like to take this issue for contribution.
Name- Pratyaksha Gupta
Type- Video
Github-https://github.com/Pratyaksha-047
Batch- ML batch 3

[2021-10-04 08:34] #529 closed

[2021-10-04 08:35] #2804 closed

[2021-10-04 08:37] ayushi424 commented on #4376
Name: Ayushi Shrivastava
S No: 811
Batch No. 19
Contribution type:
-  Documentation

Approach to be followed:
 -  Explanation  about Regularization in regression along with sample code implementation for better understanding.

@prathimacode-hub

[2021-10-04 08:39] theshredbox commented on #4379
I would like to take this issue.
Name- Aryan Ahuja
Serial No. 117
Type- Documentation
Approach- Removing noise from image using Opencv. I'll be using <code>cv2.fastNlMeansDenoisingColored()</code> function which is the implementation of Non-local Means Denoising algorithm

[2021-10-04 08:39] #4107 closed

[2021-10-04 08:40] prathimacode-hub commented on #4376
Sorry but these issues are only for contributors from DSWP domain. @PurviBhoyar21

[2021-10-04 08:40] Anant1711 commented on #4407
One task at a time !

[2021-10-04 08:41] #4129 closed

[2021-10-04 08:45] #3240 closed

[2021-10-04 08:45] #1175 closed

[2021-10-04 08:46] abhisheks008 commented on #611
@mandeep168 Please create the PR in the machine learning branch!

[2021-10-04 08:47] CodingForTheBetter commented on #971
Hi @Randrita sorry to trouble you again, I can't seem to understand the contribution guidelines. Could you let me know how I can send or contribute here with my audio file, please?

[2021-10-04 08:48] abhisheks008 commented on #4116
@NikitaEmberi Complete your previous issue first.

[2021-10-04 08:48] Randrita commented on #971
@CodingForTheBetter ping me in discord

[2021-10-04 08:51] abhisheks008 commented on #4108
@ashish-reddy-20-08 Issue assigned to you.

[2021-10-04 08:58] abhisheks008 commented on #4112
@amitrakshar01 Despite of several announcements you've used /assign tag, you have been unassigned from this issue.

[2021-10-04 08:58] RahulRam29 opened #4412 "[Create New Issue]: File I/O with Member Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-04 08:58] RahulRam29 commented on #4412
/assign

[2021-10-04 08:59] abhisheks008 commented on #4112
@SrijanShovit Issue assigned to you, complete this within 3 days.

[2021-10-04 09:00] Nay907 commented on #4381
Hey! I would like to work on this issue.
Name- Nayanika Mishra
Batch- 9
Type- Audio
I will give an overview along with example problems and also the techinques and everything.

[2021-10-04 09:03] prishita-s commented on #4379
I would like to work on this issue.
Serial No: 721
Name: Prishita Singh
Type - Documentation
Approach - Intro, using OpenCV removing noise from an image

[2021-10-04 09:06] Kalpana-Kathait11 commented on #4407
OK

[2021-10-04 09:14] CodingForTheBetter commented on #971
Hi, I have sent you a message. Thank you for your help.

[2021-10-04 09:21] RahulRam29 opened #4415 "Stream Errors in C++"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-04 09:21] RahulRam29 commented on #4415
/assign

[2021-10-04 09:21] RahulRam29 commented on #4415
/assign

[2021-10-04 09:23] #1118 closed

[2021-10-04 09:23] RahulRam29 commented on #4415
/assign

[2021-10-04 09:27] triptic1412 commented on #3301
Yeah sure, thank you

[2021-10-04 09:33] Med16-11 opened #4418 "Operator Overloading in C++"
### Description

# A document explaining Operator Overloading in C++ language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-10-04 09:34] #1184 closed

[2021-10-04 09:35] Med16-11 commented on #4418
/assign

[2021-10-04 09:46] Med16-11 opened #4421 "Polymorphism in CPP (Presentation Video)"
### Description

# Video presentation explaining the Polymorphism concept in C++

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-10-04 09:46] Med16-11 commented on #4421
/assign

[2021-10-04 09:49] #3735 closed

[2021-10-04 09:49] KTK-5901 commented on #4369
@nimisha-yadav Please inform me, whether I am to work on this issue or not? If not, then whether I should unassign it?

[2021-10-04 09:50] #905 closed

[2021-10-04 09:50] khushbooagrawal245 commented on #4353
/assign

[2021-10-04 09:53] #4174 closed

[2021-10-04 09:54] nimisha-yadav commented on #4369
You can work on this issue, no problem.

[2021-10-04 09:58] nimisha-yadav commented on #4368
Alright, please mention your DSA Batch Number as well @sahildhiman-nsutian

[2021-10-04 10:06] #1789 closed

[2021-10-04 10:07] #1780 closed

[2021-10-04 10:07] fleurdelis07 commented on #4095
/assign

[2021-10-04 10:09] yatharthrajput commented on #2995
@hritikksingh hello? sir no response?

On Tue, Sep 28, 2021 at 6:58 PM HRITIK KUMAR SINGH ***@***.***>
wrote:

[2021-10-04 10:11] sanjana-coder commented on #4388
Hello,
I am T Selva Sanjana
Batch :  16
Serial no. : 580
Type : documentation
Please assign this issue to me

[2021-10-04 10:14] Pawanupadhyay10 commented on #4330
/assign

[2021-10-04 10:15] Pawanupadhyay10 commented on #2263
/assign

[2021-10-04 10:16] Pawanupadhyay10 commented on #4335
/assign

[2021-10-04 10:17] Pawanupadhyay10 commented on #4329
/assign

[2021-10-04 10:18] Pawanupadhyay10 commented on #4295
/assign

[2021-10-04 10:19] Pawanupadhyay10 commented on #4297
/assign

[2021-10-04 10:23] likitarai1 commented on #3268
@nimisha-yadav  Can I work on this issue?
Likita Rai - DSA batch 2

[2021-10-04 10:27] nimisha-yadav commented on #3268
Assigning this issue to you @likitarai1, all the best!

[2021-10-04 10:29] 1anshu-56 commented on #1462
I would like to work on this issue.🙂
Type: Documentation.
/assign

[2021-10-04 10:29] saloni-15 commented on #2992
Hey, you can unassign yourself if you are not working on this.

[2021-10-04 10:30] 1anshu-56 commented on #1462
/assign

[2021-10-04 10:30] saloni-15 commented on #2574
@Dhruvsinghjadon, what's the status for this issue?

[2021-10-04 10:31] #2681 closed

[2021-10-04 10:33] likitarai1 commented on #3268
Will you add Hacktoberfest label to this?

[2021-10-04 10:34] prathimacode-hub commented on #4379
Issue assigned to @theshredbox for documentation

[2021-10-04 10:35] prathimacode-hub commented on #4388
Issue assigned to @sanjana-coder for documentation

[2021-10-04 10:35] shahhilag commented on #3256
Thankyou very much mam.I have created a pull request mam.Your review will help me improve.

[2021-10-04 10:36] prathimacode-hub commented on #4376
Issue assigned to @ayushi424 for documentation

[2021-10-04 10:40] #4254 closed

[2021-10-04 10:41] Satyam175 commented on #1874
Hii are you working on the issue?

[2021-10-04 10:41] #1874 closed

[2021-10-04 10:43] deepakm12 opened #4424 "Function Argument in C"
### Description

About Function Argument in C Documentation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-04 10:44] deepakm12 commented on #4424
/assign

[2021-10-04 10:51] sahildhiman-nsutian commented on #4368
@nimisha-yadav Hey actually I am new to this organization . How to see Batch number ?

[2021-10-04 10:52] kuwarkapur commented on #2406
can anyone tell me where is the spreadsheet of Data Science with Python and how can i put my name in that so i can contribute

[2021-10-04 11:04] deepak089 commented on #3631
/assign

[2021-10-04 11:07] deepak089 commented on #2825
/assign me

[2021-10-04 11:07] VanshikaSable commented on #3080
can you please share the link

[2021-10-04 11:09] deepak089 commented on #2358
@paramsiddharth please this to me

[2021-10-04 11:10] deepak089 commented on #838
/assign me

[2021-10-04 11:19] pankaj-Makhijani commented on #4306
I would like to work on it.
/assign

[2021-10-04 11:24] pankaj-Makhijani commented on #2478
@saloni-15 It been 10 days this issue is assigned. Can I work on this issue?

[2021-10-04 11:28] goelesha commented on #3080
Check out the DSA branch. There you will see all the 4 folders.

[2021-10-04 11:30] tanvideshmukh29 commented on #4335
Tanvi Deshmukh
batch-6
I would love to contribute plz assign this to me.

[2021-10-04 11:31] sandeepkumar00110 commented on #1419
@Suvraneel please review

[2021-10-04 11:58] motasimmakki commented on #4365
@nimisha-yadav
Kindly review PR #4428

[2021-10-04 12:01] amansrv opened #4429 "[Create New Issue]: Important Resources and Books"
### Description

Important Resources and Books.

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-04 12:01] amansrv commented on #4429
/assigned

[2021-10-04 12:02] shellysharma114 commented on #4424
/assign

[2021-10-04 12:02] amansrv commented on #4429
/assign

[2021-10-04 12:02] amansrv commented on #4429
/assign

[2021-10-04 12:03] sourabhkumar45 commented on #1419
/assign

[2021-10-04 12:07] hritikksingh commented on #2995
It's 12 days from the assignment of issue to you.

[2021-10-04 12:14] mandeep168 commented on #4356
Mandeep Kaur
DSA batch-5

[2021-10-04 12:21] nimisha-yadav commented on #4356
Assigning this issue to you, all the best!

[2021-10-04 12:26] ankushsingh24 opened #4433 "C_CPP : Relative Complement of two Sorted Arrays in C++"
### Description

This documentation will explain Relative Complement of two Sorted Arrays with the help of a problem in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contr

[2021-10-04 12:26] ankushsingh24 commented on #4433
/assign

[2021-10-04 12:27] dikshatakyar commented on #3140
@code-reaper08 , I have done the changes in my video. Also I am extremely sorry that I had to create a new PR as when I was merging changes in the same PR , I completely messed up. Please review my changes in the PR created above. Thanks.

[2021-10-04 12:29] asppanda12 opened #4435 "[Create New Issue]: Explanation of dynamic programming with bitmasking"
### Description

I will be contributing documentation for dynamic programming with bitmasking pls allow me to do so
It will be a complete explanation of dynamic programming with bitmasking with some standard questions

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-c

[2021-10-04 12:43] Nike768 commented on #4371
/assign

[2021-10-04 12:44] astha2412 commented on #3461
@Suvraneel plz review

[2021-10-04 12:50] NikitaEmberi commented on #4122
@Isha307. Please could you add a label of hacktoberfest as well. Thank you.

[2021-10-04 12:51] jaissumi1402 opened #4438 "flutter: Documentation on text widget"
### Description

I will be creating a documentation on text widget with proper examples images.

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob

[2021-10-04 12:52] jaissumi1402 commented on #4438
/assign

[2021-10-04 12:54] radha919 commented on #4435
/assign

[2021-10-04 12:57] adityabisoi commented on #4353
Go ahead

[2021-10-04 12:58] Sera001 commented on #4385
I would like to contribute to this issue.
Name: Jeffy Johnson
Serial number: 713
Type: Documentation
Approach: What it is and How it works

[2021-10-04 12:58] radha919 commented on #4316
i am interested to work in this issue. please assign it to me.
Radha Agrawal
DSA Batch-3

[2021-10-04 12:59] Sin-Sumit commented on #3135
@sifa123 Please add Hacktoberfest label

[2021-10-04 13:01] #850 closed

[2021-10-04 13:09] preeti003 commented on #4166
/assign

[2021-10-04 13:17] priyanshiparolia opened #4442 "C_CPP: Looping Control Structure or Statements"
### Description

 I want to contribute using documentation on Looping Control Structure or Statements

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.git

[2021-10-04 13:18] priyanshiparolia commented on #4442
/assign

[2021-10-04 13:20] preeti003 commented on #2415
@rahulsain can I work on the documentation for the issue ?

[2021-10-04 13:25] preeti003 commented on #1453
@rahulsain is this issue still open for documentation?

[2021-10-04 13:26] freny24 commented on #4386
Name : Freny Reji
Serial No : 707 ( Batch 18)
Type : Documentation
Approach :  Explain Image retrieval using Convolutions features with the help of Keras

[2021-10-04 13:26] udayan-banik opened #4443 "New issue: C_Cpp templates and libraries"
### Description

I would like to contribute to the documentation for C++ Templates and libraries.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-10-04 13:27] udayan-banik commented on #4443
/assign

[2021-10-04 13:31] SHAIMA-HAQUE opened #4444 "[Create New Issue]: Magic Methods in Python"
### Description

The PR will cover the topic **Magic Methods in Python**
- A brief overview of what the topic is
- Some code examples of how to use them

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://

[2021-10-04 13:32] SHAIMA-HAQUE commented on #4444
@adityabisoi Can I work on this?

[2021-10-04 13:32] SHAIMA-HAQUE commented on #4444
/assign

[2021-10-04 13:39] HassanRahim26 commented on #4311
Hey @Subhradeep10, I would like to work on this issue. Can you please assign me this issue.
Name:- Hassan Rahim
Batch: DSA Batch-2
Type: Documentation

I commented first in this issue. Also, we're not allowed to use the /assign command on those issue which are created by the supervisor. So, @Subhradeep10 I request you to please assign me this.

[2021-10-04 13:51] #2279 closed

[2021-10-04 13:54] GenMech commented on #4370
I want to make a well documented file on this issue.
Gitesh Pareek
Batch-1

[2021-10-04 13:59] nimisha-yadav commented on #4370
Assigning this issue to you, all the best!

[2021-10-04 14:02] Subhradeep10 commented on #4311
@HassanRahim26 Assigned to you

[2021-10-04 14:04] VanshSh opened #4447 "New Issue: Basic Maths Operators and Comaprison Operators in JavaScript."
### Description

Documentation on Maths Operators and Comparison Operators in JavaScript.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-10-04 14:05] VanshSh commented on #4447
/assign

[2021-10-04 14:05] arushi2715 commented on #4447
/assign

[2021-10-04 14:07] shahhilag commented on #3256
@nimisha-yadav mam I have created a new pull request.Thankyou for helping me out and sorry this is my first contribution thus wasted a lot of your time.

[2021-10-04 14:07] sakshi430 commented on #4353
@adityabisoi
I created this issue but it got assigned to someone else. What should I do?

[2021-10-04 14:08] emily876 opened #4449 "Comb sort description and algorithm"
### Description

I want to add comb sort as a sorting technique for array elements.
Please assign me this issue.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/

[2021-10-04 14:09] emily876 commented on #4449
/assign

[2021-10-04 14:09] elixir14082002 opened #4450 "Assignment Operators"
### Description

I will be describing the various assignment operators present in C++ programming with the help of code snippets.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of

[2021-10-04 14:10] elixir14082002 commented on #4450
/assign

[2021-10-04 14:11] yatharthrajput commented on #2995
so?
its comp,but u didnt contacted me

On Mon, Oct 4, 2021 at 5:37 PM HRITIK KUMAR SINGH ***@***.***>
wrote:

[2021-10-04 14:28] shahhilag commented on #4359
@nimisha-yadav please assign me this issue.
Name-Hilag Shah
Batch-DSA Batch 1

[2021-10-04 14:29] #2468 closed

[2021-10-04 14:30] #2346 closed

[2021-10-04 14:31] #1634 closed

[2021-10-04 14:31] #2012 closed

[2021-10-04 14:34] Ash515 opened #4453 "Data Definition Language, Commands and Operations"
### Description

Learn  DDL, Commands and some operations in RDBMS. And contribute here.

### Domain

Database

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-10-04 14:34] AdityaPandey03 commented on #1943
Hey @anandhu720! With the hactoberfest around I actually didn't realize that this issue has been assigned to me. I am so sorry for this..can you please provide me one more day..I will surely make a PR till tomorrow. I am so sorry for this !!

[2021-10-04 14:54] AmanBisht01 commented on #2992
@pankaj-Makhijani To get assigned to this particular issue please use /assign

[2021-10-04 14:55] nimisha-yadav commented on #4359
Assigning this issue to you, all the best!

[2021-10-04 14:55] #2386 closed

[2021-10-04 14:55] anandhu720 commented on #1943
@AdityaPandey03 fine.

[2021-10-04 14:57] priyanshiparolia opened #4456 "Opensource: 4.22 Explain everything about `bitcoin summer of code`"
### Description

 4.22 Explain everything about `bitcoin summer of code`

### Domain

Open Source

### Note 👇

- Doc should be submitted inside `4.Open_Source_Programs/` with name `4.22_Bitcoin_Summer_Of_Code.md`

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING

[2021-10-04 14:57] priyanshiparolia commented on #4456
/assign

[2021-10-04 14:58] AmanBisht01 commented on #3018
@khushi-purwar any update?

[2021-10-04 15:02] nimisha-yadav commented on #3256
It's completely okay, this is the purpose of this program. Well done for first contribution :D

[2021-10-04 15:04] shahhilag commented on #3256
Thankyou very much @nimisha-yadav mam.Your support and guidance truely will help me grow a lot.

[2021-10-04 15:04] shahhilag commented on #4362
Thankyou mam

[2021-10-04 15:05] shefali12-ab opened #4458 "Adding Hacckerrank problem and some of basic problems of recursion and their solution[Create New Issue]:"
### Description

I would like to contribute by adding recursion problem of basic level and some are of from Hackerrank.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribut

[2021-10-04 15:07] shefali12-ab commented on #4458
/assign

[2021-10-04 15:07] swatigupta121 opened #4459 "Longest Palindromic Substring (Using Brute Force Algorithmic Approach)"
### Description

Given a string, find the longest substring which is palindrome.
I will provide a proper C++ solution regarding this problem.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscri

[2021-10-04 15:08] swatigupta121 commented on #4459
/assign

[2021-10-04 15:14] #4250 closed

[2021-10-04 15:28] brassgolem-25 commented on #2313
The pr for this issue has been merged so closing the issue...

[2021-10-04 15:28] #2313 closed

[2021-10-04 15:38] AmanBisht01 commented on #2478
@pankaj-Makhijani  you can work on this issue..

[2021-10-04 15:38] palaksinghania05 commented on #3112
\assign video

[2021-10-04 15:40] GoutamVerma opened #4466 "Virtual Device in android studio"
### Description

complete documentation for creating Virtual Device or AVD in android studio

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-10-04 15:40] GoutamVerma commented on #4466
/assign

[2021-10-04 15:41] AmanBisht01 commented on #2267
@ishangupta6412 Any update ?

[2021-10-04 15:44] CodingForTheBetter commented on #552
Hi @adityabisoi, I have resolved the other issue now, just waiting to be merged by you! Can you please assign this issue to me, please, after you are done merging the other issue :)

[2021-10-04 15:46] #1691 closed

[2021-10-04 15:47] negiaditi commented on #4453
/assign

[2021-10-04 15:48] ishangupta6412 commented on #2267
Yes bhaiya I am working on it. My mid sems are going on this week. I will
surely complete it as soon as possible.

On Mon, Oct 4, 2021, 21:12 Aman Bisht ***@***.***> wrote:

[2021-10-04 15:48] Aryamanz29 commented on #4456
@priyanshiparolia  Do we need to add into ` Open source` programs? Since this program, I guess not active right now (last update : 2020) https://railsgirlssummerofcode.org/

[2021-10-04 15:48] rajmadhu0406 commented on #3266
Please assign this issue to me.
Raj Madhu
DSA Batch - 6

[2021-10-04 15:48] nandini7637 opened #4467 "Java 19.3 : Autoboxing /Unboxing boolean and char values"
### Description
 Add audio, documentation, and video regarding the **Autoboxing /Unboxing boolean and char values**

 **Location of File to be added** The files should be added inside the _`Autoboxing /Unboxing boolean and char values`_ which will be inside _`Autoboxing`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The docum

[2021-10-04 15:49] negiaditi commented on #4467
/assign

[2021-10-04 15:50] negiaditi commented on #4459
/assign

[2021-10-04 15:53] sakshamlamba109 opened #4468 "Java 19.3: Autoboxing/Unboxing boolean and char values"
<hr>

## Description 📜

Add audio, documentation and video regarding the Need of Java.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Autoboxing/Unboxing boolean and char values` folder which is inside the `Autoboxing` folder present in the `Java` main folder. If the folder is not present, create the folder with this exa

[2021-10-04 15:56] Aryamanz29 commented on #401
@Gur-jot  @amanraj-iit  Sure , Happy Learning 🎉🎉

[2021-10-04 15:57] priyanshiparolia commented on #4456
I think you are right this program didnt took place in 2021 so maybe its not active

[2021-10-04 15:58] #262 closed

[2021-10-04 15:59] priyanshiparolia commented on #4456
should I close this issue or replace its description with another one

[2021-10-04 15:59] Aryamanz29 commented on #31
Done, Go ahead 🚀

[2021-10-04 16:05] shefali12-ab opened #4470 "Responsiveness of website using Bootstrap and media query[Create New Issue]:"
### Description

I would like to contribute by creating a documentation on Responsivness of website and How a website can be made Responsive using Bootstrap and media query

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.m

[2021-10-04 16:06] shefali12-ab commented on #4470
/assign

[2021-10-04 16:06] Anushka-3000 commented on #4079
/assign

[2021-10-04 16:11] CodingForTheBetter commented on #4115
Dear @abhisheks008, I would like to work on this issue and contribute via VIDEO. Can you please assign it to me, thank you!

Name - Tanush
Batch Number - 4
GitHub Profile Link - https://github.com/CodingForTheBetter
Which type of Contribution do you want to make - VIDEO

[2021-10-04 16:14] Anushka-3000 commented on #1438
/assign

[2021-10-04 16:15] Anushka-3000 commented on #4447
/assign

[2021-10-04 16:16] Aman-Deshpande commented on #2426
@AkMo3 sir can I plzz get any update or reviews on my PR for method Overriding video, it's been more than 3 days now.

[2021-10-04 16:27] achsahxavier commented on #1859
@prathimacode-hub

[2021-10-04 16:27] VandanaKumari18 opened #4473 "Templates and Libraries"
### Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-04 16:28] VandanaKumari18 commented on #4473
/assign

[2021-10-04 16:30] priyanka001tech opened #4474 "DSA String: Super ASCII String Checker"
### Description

In the Byteland country, a string S is said to super ASCII string if and only if the count of each character in the string is equal to its ASCII value. In the Byteland country ASCII code of ‘a’ is 1, ‘b’ is 2, …, ‘z’ is 26. The task is to find out whether the given string is a super ASCII string or not. If true, then print “Yes” otherwise print “No”.

Examples:

Input: S = “bba”
O

[2021-10-04 16:30] priyanka001tech commented on #4474
/assign

[2021-10-04 16:31] likitarai1 commented on #4453
@Ash515 Can I work on the video part??

[2021-10-04 16:32] VandanaKumari18 commented on #4473
@Suvraneel  pls tell if it worthful for me to work on this issue or its been already merged or taken ? So my efforts will not get wasted :)

[2021-10-04 16:32] stutimohta20 opened #4475 "Hirarchical Inheritance in CPP"
### Description

This document will explain about Hierarchical Inheritance  in cpp.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-10-04 16:33] stutimohta20 commented on #4475
/assign

[2021-10-04 16:40] MohammedHamzaMalik commented on #4382
I would like to work on this issue. Ma'am can you assign it to me?

[2021-10-04 16:42] Dipti821 opened #4477 "Frontend_Web_Development_HTML_CSS_JS: Hosting & Name Servers"
### Description

Description

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-04 16:42] Dipti821 commented on #4477
/assign

[2021-10-04 16:43] VandanaKumari18 opened #4478 "Everything about VS Code"
### Description

Detailed documentation about VS Code. Everything will be explained.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-10-04 16:43] VandanaKumari18 commented on #4478
/assign

[2021-10-04 16:43] VandanaKumari18 commented on #4478
@Aryamanz29 plss tell if i can work on this issue and will it be worthful for me to work on it ?

[2021-10-04 16:44] SushantPatial commented on #4467
/assign documentation

[2021-10-04 16:44] rahulbansal1012 opened #4479 "DSA - Queue Implementation using Array in JAVA"
### **Description**
Explains the Basic method of Queue and queue Implementation in java using an array.
Method to explain
1)Enqueue
2)Dequeue
3)Show
4)IsEmpty

### **Domain**
DSA  (java)

### **Type of Contribution**
Documentation

### **Code of Conduct**
- [x]  I follow <a href="https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md">Contributing Guidelines</a> & <

[2021-10-04 16:44] Anushka-3000 opened #4480 "HTML Quotation"
### Description

HTML Quotation
This would contain all the information that how can one proceed to make quotations in HTML.
I will discuss the basic syntax of the same and the different types of quotations, the tags that we use in it, along their explanation.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines

[2021-10-04 16:45] rahulbansal1012 commented on #4479
/assign

[2021-10-04 16:45] Asmit2952 commented on #401
Hey, @Aryamanz29  I want to contribute to this, can you assign this to me?

[2021-10-04 16:45] Anushka-3000 commented on #4480
/assign

[2021-10-04 16:45] Asmit2952 commented on #401
Ohh, Ohkk, so I can send a PR right? @Aryamanz29

[2021-10-04 16:46] SushantPatial commented on #4467
\assign documentation

[2021-10-04 16:49] MohammedHamzaMalik commented on #4382
Name : Mohammed Hamza Mohammed Iqbal Malik
Serial No : 385
Batch 13
Type : Documentation
Approach : I will explain the topic by analyzing the articles, research papers related to it and concluding with the best results.

[2021-10-04 16:56] Asmit2952 commented on #3483
Any Updates? @princemsd007

[2021-10-04 16:59] princemsd007 commented on #3483
@syedareehaquasar  assign this issue  to him :)

[2021-10-04 17:03] lingaraj281 commented on #88
Assign this to me @Debasmita-01

[2021-10-04 17:04] divya16-bit commented on #2501
Please assign me this issue for making documentation.

[2021-10-04 17:05] Harshit9557 commented on #2966
/assign

[2021-10-04 17:06] madhu992 commented on #88
I want to contribute to this issue. Contributor in  GWoC'21
UI/UX Batch 14

[2021-10-04 17:07] Harshit9557 commented on #4345
/assign

[2021-10-04 17:10] praveenscience commented on #52
@Arya-Gupta See my above message? 🤔

[2021-10-04 17:13] Bhuvnesh875 commented on #4306
do we have to submit an audio recording in this issue?

[2021-10-04 17:17] #4478 closed, assigned to VandanaKumari18

[2021-10-04 17:18] Aryamanz29 commented on #4456
It would be better if you edit this any other program or if don't found any then you may close this

[2021-10-04 17:21] nishant-giri commented on #4348
/assign

[2021-10-04 17:21] nirati16 commented on #2065
/assign

[2021-10-04 17:21] Aryamanz29 commented on #4456
@priyanshiparolia Go with `Bitcoin summer of code`, This year bitcoin org started this program

[2021-10-04 17:22] rishitajain01 opened #4484 "Dynamic Memory allocation"
### Description

I will expain dynamic memory allocation using using malloc(),calloc(),realloc() and free() functions in C/C++ in video format.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/win

[2021-10-04 17:22] rishitajain01 commented on #4484
/assign video

[2021-10-04 17:22] nimisha-yadav commented on #3264
Assigning this issue to you @harsh827, all the best!

[2021-10-04 17:24] nirati16 commented on #1886
/assign

[2021-10-04 17:24] nirati16 commented on #1571
/assign

[2021-10-04 17:25] Aryamanz29 commented on #4456
@priyanshiparolia  Issue description updated

[2021-10-04 17:27] nirati16 commented on #1538
/assign

[2021-10-04 17:28] rishitajain01 commented on #2447
@sakshamlamba109 Hello ,please review my PR #4077 . I have added the file for this issue.

[2021-10-04 17:28] nirati16 commented on #1428
/assign

[2021-10-04 17:29] nirati16 commented on #1428
/assign
Can I contribute in documentation?

[2021-10-04 17:30] nirati16 commented on #1336
/assign
Can I contribute in documentation?

[2021-10-04 17:30] #4040 closed

[2021-10-04 17:33] Sirisha23082002 commented on #4468
/assign document

[2021-10-04 17:37] Sirisha23082002 commented on #4468
/assign document

[2021-10-04 17:42] MohammedHamzaMalik commented on #350
I would like to work on this issue for audio part. Can you please assign it to me ma'am?

[2021-10-04 17:42] MohammedHamzaMalik commented on #350
Name : Mohammed Hamza Mohammed Iqbal Malik
Serial No : 385
Batch 13
Type : Audio

[2021-10-04 17:43] nimisha-yadav commented on #3266
Assigning this issue to you, all the best!

[2021-10-04 17:50] msbuddhu commented on #4364
Hey @nimisha-yadav,
I have created a [PR](https://github.com/girlscript/winter-of-contributing/pull/4489). Please have a look.

Shabi Kaushal (DSA Batch 10)

[2021-10-04 17:57] nishant-giri commented on #4318
/assign

[2021-10-04 17:59] ganaaduvva commented on #1536
If the document has not done yet! Kindly /assign documentation

[2021-10-04 18:00] ganaaduvva commented on #1536
/assign documentation

[2021-10-04 18:02] reejuBhattacharya opened #4491 "Competitive Programming: Atcoder DP Problems - Task A and Task B"
### Description

Adding the code and detailed tutorial of tasks A and B.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-10-04 18:03] reejuBhattacharya commented on #4491
/assign

[2021-10-04 18:03] reejuBhattacharya commented on #4491
/assign

[2021-10-04 18:03] VandanaKumari18 opened #4492 "Opensource : 7.0 `Licenses` In Open Source"
### Description

Detailed information `about licenses` and `different types of licenses in open source` and `their importance`.

### NOTE 👇
Please put your doc `7.License/` with the name `7._About_License.md`

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-10-04 18:04] VandanaKumari18 commented on #4492
/assign

[2021-10-04 18:04] s4-2 commented on #4402
@Aditi-247 Please go ahead with the issue:)

[2021-10-04 18:06] geetika005 opened #4493 "Questions to master binary search"
### Description

This documentation will include list of some questions of leetcode which will help you to understand the concept of binary search

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-10-04 18:06] geetika005 commented on #4493
/assign

[2021-10-04 18:07] ganaaduvva commented on #2870
\assign audio

[2021-10-04 18:22] reejuBhattacharya opened #4497 "Atcoder DP Problemset | Task C Solution and Explanation"
### Description

Adding a detailed explanation and Source Code of Task C: Vacation of the Atcoder DP Problemset.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-o

[2021-10-04 18:22] reejuBhattacharya commented on #4497
/assign

[2021-10-04 18:23] reejuBhattacharya commented on #4497
/assign

[2021-10-04 18:27] naveen3011 opened #4498 "OPERATORS IN C++"
### Description

<hr>

## Description :scroll:

* This document will explain about OPERATORS IN C++.

<hr>

## Domain of Contribution :bar_chart:

- [x] C_CPP

## Type of Contribution
Documentation

## Code of Conduct

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/m

[2021-10-04 18:29] pankaj-Makhijani commented on #471
@prathimacode-hub can I unassign myself from this issue as my PR is merged? I am not able to contribute to other issues as this issue is still open.

[2021-10-04 18:29] naveen3011 commented on #4498
/assign

[2021-10-04 18:34] jaigora24 commented on #4327
I want to work on this issue.

[2021-10-04 18:42] shahhilag commented on #3271
I would like to work on this issue.
Name- Hilag Shah
Batch-DSA Batch 1

[2021-10-04 18:42] aastha01chauhan commented on #4146
Please add hacktoberfest accepted label too on this PR

[2021-10-04 18:47] RIYANSHGARG commented on #4328
I have created a pull req kindly review it .

[2021-10-04 18:48] kishlayaug15 commented on #4385
@prathimacode-hub  I would like to contribute to this issue.
Name: Jeffy Johnson
Serial number: 501
Type: Documentation,Audio
Approach: What it is and How it works

[2021-10-04 18:48] am-dusky opened #4504 "Finding the minimum and maximum element in an array using Divide and Conquer"
### Description

In this document , I will first explain what is Divide and Conquer algorithm in brief. Secondly, I will also provide the algorithm and code to find  the minimum and maximum element in an array using Divide and Conquer.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-c

[2021-10-04 18:49] am-dusky commented on #4504
/assign

[2021-10-04 18:55] Aditya-droid-byte opened #4505 "[Create New Issue]: Dynamic allocation of 2-d arrays"
### Description

I am going explain how allocate dynamic memory to 2-d arrays

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-10-04 18:56] Aditya-droid-byte commented on #4505
/assign

[2021-10-04 18:57] kishlayaug15 commented on #4386
I would like to contribute to this issue.
Name: Kishlay Kumar
Serial number: 501
Type: Documentation
Approach: Explaining Image retieval using CNN , keras , tensorflow.

[2021-10-04 18:57] shahhilag commented on #3273
@nimisha-yadav I would like to work on this issue.
Name-Hilag Shah
Batch - DSA Batch 1

[2021-10-04 19:01] kishlayaug15 commented on #4386
/assign

[2021-10-04 19:02] m0hit-kumar commented on #4345
i would like to work on this issue. pls, assign it to me.

[2021-10-04 19:03] ayushmaan02 opened #4507 "SQL Queries and Sub Queries"
### Description

Description
1. About Queries, syntax, example
2. About Sub Queries, syntax, example

### Domain

Database

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-10-04 19:06] ayushmaan02 commented on #4507
/assign

[2021-10-04 19:08] #2163 closed

[2021-10-04 19:10] Anshii12 opened #4510 "[Create New Issue]:"
### Description

### Description
Introducing the topic of Display Property in CSS Layouts

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-10-04 19:11] Anshii12 commented on #4510
/assign

[2021-10-04 19:16] iamayushkr commented on #4293
/assign

[2021-10-04 19:19] Sumit3301 commented on #1823
@prathimacode-hub  kindly assign this issue to me
Name : Sumit Gaur
Batch: 15
Type: Documentation

[2021-10-04 19:20] #4111 closed

[2021-10-04 19:23] Apoorv-17 commented on #745
Name: Apoorv Yadav
Batch: 15
Type : Video
Serial No: 537
Approach:
What is NLP?
Introduction to NLTK
Sentiment analysis using NLTK, its implementation, its advantages.

[2021-10-04 19:26] Aditya-droid-byte opened #4512 "[C_CPP] : How to determine Complexities"
### Description

### **how	do	the	resource	requirements	of	a	program	or	algorithm	scale,
i.e.	what	happens	as	the	size	of	the	problem	being	solved	by	the	code	gets	larger.
Complexity	affects	performance	but	not	vice-versa.
The	time	required	by	a	function/method	is	proportional	to	the	number	of	"basic
operations"	that	it	performs. So here we are gonna explain how to determine commplexities**

### D

[2021-10-04 19:33] Aditya-droid-byte commented on #4512
/assign

[2021-10-04 19:50] iamayushkr opened #4517 "Flutter : Introduction to Interaction models and widgets"
### Description

Make a README file on the interaction model and widgets.
Your documentation should covers topics like:
1. Gesture Detectors
2. Draggable
3.  Scrollable
4. Dismissible
5. etc...

You can take reference from the link: https://flutter.dev/docs/development/ui/widgets/interaction

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I f

[2021-10-04 19:50] iamayushkr commented on #4517
/assign

[2021-10-04 19:58] achsahxavier commented on #3461
@Suvraneel
If this issue is open for audio contribution, please assign it to me.
Thank you.

[2021-10-04 20:01] iamayushkr commented on #3508
/assign

[2021-10-04 20:04] syedareehaquasar commented on #3483
done!

[2021-10-04 20:09] iamayushkr commented on #4517
/assign

[2021-10-04 20:14] mayankkuthar commented on #2966
@GyaniRoman23 Hey kindly update your work or make a PR ASAP, and if You don't want to make a PR, Then kindly let me do it 😄
@Aryamanz29 Please Assign me :octocat:

[2021-10-04 20:20] thepallavi02 commented on #2495
I would like to work on this issue. kindly assign it to me !/assign video.

[2021-10-04 20:22] #1384 closed

[2021-10-04 20:26] #4190 closed

[2021-10-04 20:27] Perpetual-Incantation opened #4521 "Number Theory"
### Description

Find all factors of a natural number.
Write the code and describe the algorithm used?
*I am a hactober fest contributor too.*

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscr

[2021-10-04 20:27] Perpetual-Incantation commented on #4521
/assign

[2021-10-04 22:13] adityakrm2 commented on #2992
/assign

[2021-10-04 22:35] hrugved06 commented on #4119
@abhisheks008,  I have created a PR, please do check it :-D

[2021-10-05 01:43] Rohit484 commented on #4507
First thing query means what have your doubts or we can say  A request for data or information from a database table combination of tables here many features are involved like CREATE, UPDATE,INSERT,DELETE ALTER ete

[2021-10-05 01:43] Rohit484 commented on #4507
documentation/

[2021-10-05 02:30] #4346 closed

[2021-10-05 02:30] #2576 closed

[2021-10-05 02:43] jaissumi1402 opened #4527 "Basic questions on string"
### Description

I will be adding basic questions on string for better understanding for beginners in competitive programming

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-con

[2021-10-05 02:43] jaissumi1402 commented on #4527
/assign

[2021-10-05 02:53] Harshit9557 commented on #4345
Please assign this issue to me, I would like to work on it.

[2021-10-05 02:53] Harshit9557 commented on #4345
/assign

[2021-10-05 03:00] Harshit9557 commented on #4517
/assign

[2021-10-05 03:00] Op-panda opened #4529 "stacks : cpp( STL )"
### Description

This will be a tutorial video on stacks in cpp STL and will be detailed one

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-10-05 03:00] Op-panda commented on #4529
/assign

[2021-10-05 03:16] #4128 closed

[2021-10-05 03:18] #4118 closed

[2021-10-05 03:20] #4119 closed

[2021-10-05 03:21] abhisheks008 commented on #4115
Issue assigned to @CodingForTheBetter

[2021-10-05 03:29] ayushjain27 commented on #4402
/assign

[2021-10-05 03:33] Harshit-Poddar90 commented on #401
pls assign it to me

[2021-10-05 03:39] VanshSh commented on #4447
It is not allowed to select the same issue. So please you have to select another topic for contribution.

[2021-10-05 03:40] akshat-crypto commented on #3506
hey @pratishthaa i would like to work on this issue
can you please assign this to me if possible

[2021-10-05 03:40] akshat-crypto commented on #3506
/assign

[2021-10-05 03:46] ISHA25VERMA opened #4532 "Android Kotlin: 05.12 UI RESOURCES"
<hr>

## Description :scroll:
*UI Resources

 Drawable
 String
 Styles

* Documentation

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ directory under Android_Development_With_Kotlin branch.
* Inside Android_Development_With_Kotl

[2021-10-05 03:47] ISHA25VERMA commented on #4532
/assign

[2021-10-05 03:47] #4532 closed

[2021-10-05 03:50] #4328 closed

[2021-10-05 03:51] ISHA25VERMA opened #4533 "Android Kotlin: 05.12 UI RESOURCES"
<hr>

## Description 📜 :
*UI Resources
Drawable
 String
 Styles

* Documentation

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ directory under Android_Development_With_Kotlin branch.
* Inside Android_Development_With_Kotlin/ dir

[2021-10-05 03:51] ISHA25VERMA commented on #4533
/assign

[2021-10-05 03:52] iamKushGupta commented on #4407
Can the documentation for this issue be assigned to me ?

[2021-10-05 03:53] Sakalya100 commented on #1453
An update from my end. I am having my exams so the contribution got a bit delayed...I will make a PR in the next 2 days. Apologies for the delay.

[2021-10-05 03:54] utkarshpathak2504 opened #4535 "Check if the Sentence Is Pangram(Problem)"
### Description

Given a string check if it is Pangram or not. A pangram is a sentence containing every letter in the English Alphabet.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winte

[2021-10-05 03:54] utkarshpathak2504 commented on #4535
/assign

[2021-10-05 03:55] utkarshpathak2504 commented on #4535
/assign

[2021-10-05 03:57] utkarshpathak2504 commented on #4535
@nimisha-yadav  Can you please check this issue?

[2021-10-05 04:00] paul-111 opened #4536 "Opensource : M.14 Explain what is Web Hosting ? and How it is done ?"
## Description 📜

Explain **what is Web Hosting ?** and **How it is done ?**

### NOTE 👇
Please put your doc `Miscellaneous/` with the name `M.14_Web_Hosting.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of cond

[2021-10-05 04:00] CodingForTheBetter commented on #4115
Thank you! I had a few quick questions. May I know how long must the video be, any minimum and maximum time? Secondly, would I need to explain with code and how the code differs and its differences between the codes for all three clustering, or just the main differences without code will do? I will be presenting this on a ppt and making a video.

[2021-10-05 04:03] ishrutik opened #4537 "[DSA]: Strings: C++:Reverse Integer"
### Description

Given an integer x ,reverse the integer and return the result. Implement in C++

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/COD

[2021-10-05 04:03] ishrutik commented on #4537
/assign

[2021-10-05 04:05] paul-111 commented on #4456
@Aryamanz29  how to add this hacktoberfest tag in an issue while creating?

[2021-10-05 04:11] monalsingh10 commented on #4537
/assign

[2021-10-05 04:12] monalsingh10 commented on #4529
/assign

[2021-10-05 04:13] Aditi-247 commented on #4402
/assign

[2021-10-05 04:13] monalsingh10 commented on #4498
/assign

[2021-10-05 04:14] Aditi-247 commented on #4402
@s4-2 @paramsiddharth mam/sir this issue is assign to me . But somebody assign it . Can u clarify please ?

[2021-10-05 04:16] saloni-15 commented on #4306
yes

[2021-10-05 04:17] saloni-15 commented on #2478
yes you can start working and create a PR mentioning this issue

[2021-10-05 04:24] NikitaEmberi commented on #4345
@Harshit9557 You cannot self assign issue like this. You should wait for mentors to assign issue to you. Besides, it's not right to self-assign like this for the issue opened by someone else who are willing to contribute to it.

[2021-10-05 04:25] daminimehra opened #4539 "JS: JavaScript String Methods and Search"
### Description

I want to update the already made README file for Template_Strings with some additional contents JavaScript String Methods and Search.

# Directory
 Topics/10.Template_Strings

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBU

[2021-10-05 04:26] daminimehra commented on #4539
@paramsiddharth  pls assign me this issue. I would like to work on this issue.

[2021-10-05 04:30] shyam640 opened #4540 "2.1_Working_With_Files_NodeJS"
### Description

## Topics to be covered
- Basic File Commands
- Inserting, Appending, Removing and Writing into a file
- Extra function that can be used while working with files.

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-05 04:30] Aditi-247 commented on #4402
@s4-2 mam you assign this issue to me .

[2021-10-05 04:31] shyam640 commented on #4540
/assign

[2021-10-05 04:36] priyanshu688 commented on #4536
Can I work on this issue??

[2021-10-05 04:38] priyanshu688 commented on #4366
Can I work on this issue??

[2021-10-05 04:39] Harshit9557 commented on #4345
I am sorry but we use /assign if we want to contribute in a particular repository. If I did something wrong then you can unassigned this issue and then assign it to yourself

[2021-10-05 04:39] ayushjain27 commented on #4402
@Aditi-247 reassaign this issue again. You will definitely get.
Comment /assign

[2021-10-05 04:43] paul-111 commented on #4536
yea sure go on :)

[2021-10-05 04:45] uzma024 commented on #3306
@goelesha I've made the video and upload it on google drive with some resources. I am not able to upload video on YouTube. Should add the g drive link instead, for the PR?

[2021-10-05 04:46] priyanshu688 opened #4541 "DSA: Queue implementation using Array in C Programming"
### Description

Explain the Basic method of Queue and queue Implementation in C Programming using an array.
Methods to explain:-

   1)Enqueue
   2)Dequeue
   3)Show
   4)IsEmpty

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-05 04:47] priyanshu688 commented on #4541
/assign

[2021-10-05 04:48] shivang02 commented on #2309
@SourabhSaraswat-191939 I created a pull request but I think I messed it up as it says it's to merge into the main branch while we had to merge it to the branch we were working on. Can you help me out?

[2021-10-05 04:49] SaloniThete commented on #4162
kindly review the pull request.
Name: Saloni Thete
Sr No: 821
Pull Request: Data Science with Python : Hand Made Graphs Visualization using Cutecharts Library (#4162) #3790
PR no: #3790
I have applied it in PR thread on Discord too.

[2021-10-05 04:55] priyanshu688 opened #4542 "DSA: Linked List, Its Operation and Implementation of Linked List in C Programming"
### Description

What is Linked List? It's operation performed and Implementation of Linked List in C Programming.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blo

[2021-10-05 04:55] priyanshu688 commented on #4542
/assign

[2021-10-05 04:57] TishaJhabak1014 opened #4543 "Python: Threading in Python"
### Description

Description
This issue will create documentation to serve as a introductory guide to the important concept of threading in python.
It will cover:
- What is threading?
- Its utility
- Some illustrative examples

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-co

[2021-10-05 04:58] TishaJhabak1014 commented on #4543
@adityabisoi Issue created. Please assign this to me. Thank you.

[2021-10-05 04:59] monalsingh10 commented on #4543
\assign

[2021-10-05 04:59] monalsingh10 commented on #4543
/assign

[2021-10-05 05:03] WajihaFatim commented on #4541
/assign

[2021-10-05 05:04] WajihaFatim commented on #4539
/assign

[2021-10-05 05:10] Anant1711 commented on #2501
Documentation is already done!

[2021-10-05 05:11] #3256 closed

[2021-10-05 05:12] geeythree commented on #4345
@NikitaEmberi please go ahead

[2021-10-05 05:13] shahhilag commented on #3256
Thankyou mam:)

[2021-10-05 05:15] priyanshu688 commented on #4498
Can I work on this issue?

[2021-10-05 05:19] shahhilag commented on #3271
Thankyou very much @nimisha-yadav mam

[2021-10-05 05:20] akarshlahariya11 opened #4546 "Hosting: Web Hosting"
### Description

What is Web Hosting and why is it important?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-10-05 05:20] akarshlahariya11 commented on #4546
/assign

[2021-10-05 05:25] nimisha-yadav commented on #4368
Hey @sahildhiman-nsutian, this issue is only for GWOC Contributors of DSA domain, are you a part of this program?

[2021-10-05 05:28] Pradumnasaraf opened #4547 "Android-Java: 9.1 Media Player Example"
### Description

- How media works in the android system
- Controls

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-10-05 05:29] TishaJhabak1014 commented on #4543
@monalsingh10! you can not self assign yourself.

[2021-10-05 05:29] Pradumnasaraf commented on #4547
/assign

[2021-10-05 05:30] LegendSumeet commented on #689
@ydasc815 merge it

[2021-10-05 05:31] nimisha-yadav commented on #474
@Raghavshalu any update on your PR? It's been many days.

[2021-10-05 05:33] nimisha-yadav commented on #484
@awesometushar000 any update on your PR? It's been many days.

[2021-10-05 05:35] TishaJhabak1014 commented on #4543
Please keep a check on your actions. Do not do this kind of activity. Ask for issues and be fair. @monalsingh10 highly disappointing!

[2021-10-05 05:37] awesometushar000 commented on #484
Yeah but I am unable to contribute for audio, is there any option available
for documents? Else you can assign me any other issue.

On Tue, Oct 5, 2021 at 11:03 AM Nimisha Yadav ***@***.***>
wrote:

--
*Tushar Kumar*
*S.I.D: B519059*
*B.Tech (Computer Engineering) Student (2019-2023) *
*IIIT-Bhubaneswar (751003) *
*Contact: 6388789133*
*Mail id: ***@***.*** ***@***.***>*

[2021-10-05 05:38] nimisha-yadav commented on #1783
PR updates? @arsheelsheikh

[2021-10-05 05:39] nimisha-yadav commented on #1787
any updates? @kalyanirb12

[2021-10-05 05:40] Aditi-247 commented on #4402
@ayushjain27 thanku so much ..

[2021-10-05 05:41] Aditi-247 commented on #4402
/assign

[2021-10-05 05:43] nimisha-yadav commented on #484
You were assigned only the documentation part @awesometushar000

[2021-10-05 05:47] pankaj-Makhijani commented on #4303
/assign

[2021-10-05 05:49] awesometushar000 commented on #484
Oh, may I got confused with another issue. Sure I will push my pr as soon as possible.

[2021-10-05 05:49] prathimacode-hub commented on #1859
Issue assigned to @achsahxavier for audio contribution

[2021-10-05 05:53] Mrjoy832 opened #4552 "0-1-2 Sorting in Array( Dutch National Flag Algo.)"
### Description

I am going to explain  DNF sort Algorithm to sort an Array which contains only 3 types of integer values that are 0,1,2 with minimum time and space complexity.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of c

[2021-10-05 05:53] prathimacode-hub commented on #4386
As issue is assigned on FCFS basis, this issue is assigned to @freny24 for documentation.

You can choose audio/video if you would like to. @kishlayaug15

[2021-10-05 05:54] Mrjoy832 commented on #4552
/assign

[2021-10-05 05:54] Nay907 commented on #4385
I would like to contribute to this issue.
Name: Nayanika Mishra
Batch: 9
Type: Audio
Approach: Overview, examples

[2021-10-05 05:55] A-GHOSH-dev commented on #4404
/assign

[2021-10-05 05:56] nimisha-yadav commented on #4535
Yeah, go ahead

[2021-10-05 05:57] utkarshpathak2504 commented on #4535
Thanks!

[2021-10-05 05:58] kishlayaug15 commented on #4386
I would like to contribute to this issue.
Name: Kishlay Kumar
Serial number: 501
Type: Audio
Approach: Explaining Image retieval using CNN , keras , tensorflow.

[2021-10-05 06:02] lala-lala-lori commented on #4407
I would like to work on this issue in documentation format.

[2021-10-05 06:19] Satyam175 opened #4554 "Autowiring Dependencies"
### Description

<h2>Autowiring and code injection</h2>
<h3>Documentation and program for example</h3>
<p>All changes shall be done in spring folder</p>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-10-05 06:22] Satyam175 opened #4555 "Beans and Bean annotations"
### Description

<h2>Beans</h2>
<ul>
<li>Defining beans</li>
<li>Annotations</li>
<li>Configuration</li>
</ul>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/w

[2021-10-05 06:25] GenMech commented on #4542
/assign

[2021-10-05 06:26] Satyam175 opened #4556 "Java & Spring Annotations"
### Description

<h2>Annotations</h2>
<ul>
<li>Defining Annotations</li>
<li>Java Annotations</li>
<li>Spring Annotations</li>
<li>Example Program (Optional)</li>
</ul>

### Domain

Android Dev (Java)

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md)

[2021-10-05 06:27] prathimacode-hub commented on #4382
Issue assigned to @MohammedHamzaMalik for documentation

[2021-10-05 06:28] prathimacode-hub commented on #4385
Issue assigned to @Sera001 for documentation and @Nay907 for audio contribution

[2021-10-05 06:29] Satyam175 opened #4557 "Custom Annotations"
### Description

<h2>Creating Custom Annotations</h2>
<h3>Documentation with Simple Program</h3>

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/m

[2021-10-05 06:30] #4331 closed

[2021-10-05 06:33] ujju20 commented on #3820
/assign

[2021-10-05 06:33] abhinav-exp commented on #4541
/assign

[2021-10-05 06:34] kishlayaug15 commented on #4386
/assign

[2021-10-05 06:36] aaditya2801 commented on #31
@Aryamanz29 yeah I am working on it 👍

[2021-10-05 06:36] ujju20 opened #4558 "[Create New Issue]: Heap Sort Implementation"
### Description

I want to Implement Heap Sort. I will also try to explain this algorithm.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-10-05 06:36] prathimacode-hub commented on #1527
Issue assigned to @deepthi1107 for audio contribution

[2021-10-05 06:36] ujju20 commented on #4558
/assign

[2021-10-05 06:37] AMMAR-62 commented on #2219
Is this issue closed? or can I contribute?

[2021-10-05 06:55] roshinigupta27 opened #4562 "CSS Subgrid"
### Description

Description
What is CSS Subgrid

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-10-05 06:55] roshinigupta27 commented on #4562
/assign

[2021-10-05 06:56] #171 closed

[2021-10-05 06:56] Anant1711 commented on #4407
Assigned for Documentation!

[2021-10-05 06:57] #4475 closed

[2021-10-05 06:57] Anant1711 commented on #4407
Documentation is taken!
Do you want to do it in Video format?

[2021-10-05 07:01] Nileshmalav opened #4563 "CSS Tooltips"
### Description

Description
A tooltip is often used to specify extra information about something when the user moves the mouse pointer over an element

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct

[2021-10-05 07:01] Nileshmalav commented on #4563
\assign

[2021-10-05 07:02] lala-lala-lori commented on #4407
No sir, video format seems difficult for me.

[2021-10-05 07:03] ganaaduvva commented on #2624
@AkMo3 can I go with the audio if not done yet!

[2021-10-05 07:04] rex2828 commented on #4286
@adityabisoi can you assign this to me and give appropriate tags to this issue.

[2021-10-05 07:06] priyanshu688 commented on #138
@VikasPandey121 The link of PR:- https://github.com/girlscript/winter-of-contributing/pull/4564

[2021-10-05 07:07] Nileshmalav opened #4565 "CSS Syntactically Awesome Stylesheet(Sass) Introduction"
### Description

### **What is Sass?**
Sass stands for Syntactically Awesome Stylesheet
Sass is an extension to CSS
Sass is a CSS pre-processor
Sass is completely compatible with all versions of CSS
Sass reduces repetition of CSS and therefore saves time
Sass was designed by Hampton Catlin and developed by Natalie Weizenbaum in 2006
Sass is free to download and use
**### Sass files has the ".scss"

[2021-10-05 07:07] Nileshmalav commented on #4565
\assign

[2021-10-05 07:14] AditiGoyal05 commented on #4556
/assign video

[2021-10-05 07:18] Nileshmalav commented on #4563
/assign

[2021-10-05 07:19] AMMAR-62 commented on #645
Is the issue assigned already? ... I cannot see the tag ... I have been looking for open issues ... Can I resolve this issue?

[2021-10-05 07:23] Nileshmalav commented on #4565
/assign

[2021-10-05 07:27] IshikaMeghaSaha commented on #3645
Could I be assigned this issue? I would like to do a program for encoding and decoding via Caesar Cipher, if assigned.

[2021-10-05 07:29] #4124 closed

[2021-10-05 07:31] deepthi1107 commented on #4116
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-10-05 07:31] IshikaMeghaSaha commented on #4406
May I be assigned this issue for coding/documentation?

[2021-10-05 07:34] rahulsain commented on #1453
no

[2021-10-05 07:35] Isha307 commented on #4116
@deepthi1107 Issue assigned to you.

[2021-10-05 07:39] stutimohta20 opened #4568 "Sort a stack using another stack"
### Description

This will help in sorting a stack with the help of another stack

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-10-05 07:39] stutimohta20 commented on #4568
/assign

[2021-10-05 07:45] stranger311 commented on #2364
/assign audio

[2021-10-05 07:45] stutimohta20 opened #4570 "Sort a stack using recursion"
### Description

In this document we will sort a stack with the help of recursion in cpp language

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-10-05 07:46] stutimohta20 commented on #4570
/assign

[2021-10-05 07:52] AMMAR-62 opened #4571 "Android Java: 3.1 ANDROID LIFECYCLE METHODS (JAVA)"
<hr>

## Description :scroll:

* Give a step-by-step tutorial of android lifecycle and different methods used in lifecycle and how to call super constructors.
*  Required Documentation

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Java)

<hr>

## References :
[Javatpoint] (https://www.javatpoint.com/android-life-cycle-of-activity#:~:text=Android%20Activity%20Lifecycle%20methods%

[2021-10-05 07:59] deepthi1107 commented on #4116
Thanks mam

[2021-10-05 08:01] adityabisoi commented on #4543
@TishaJhabak1014 Go ahead

[2021-10-05 08:01] adityabisoi commented on #4444
Go ahead

[2021-10-05 08:02] adityabisoi commented on #4353
@sakshi430 Go ahead

[2021-10-05 08:02] adityabisoi commented on #4300
Go ahead

[2021-10-05 08:02] adityabisoi commented on #4206
Go ahead

[2021-10-05 08:02] AMMAR-62 commented on #4571
/assign

[2021-10-05 08:03] sakshi430 commented on #4353
@adityabisoi Thank you.

[2021-10-05 08:04] adityabisoi commented on #4202
Topic already covered. Closing this issue.

[2021-10-05 08:04] #4202 closed

[2021-10-05 08:05] #4102 closed

[2021-10-05 08:05] adityabisoi commented on #4085
This doesnt come under python domain.

[2021-10-05 08:06] adityabisoi commented on #4008
@Iamtripathisatyam Go ahead since you created the issue

[2021-10-05 08:07] adityabisoi commented on #3990
Topic already covered. Closing this issue.

[2021-10-05 08:07] #3990 closed

[2021-10-05 08:08] #3944 closed

[2021-10-05 08:08] adityabisoi commented on #3775
Go ahead

[2021-10-05 08:08] adityabisoi commented on #3746
Go ahead

[2021-10-05 08:08] adityabisoi commented on #3700
Topic already covered. Closing this issue.

[2021-10-05 08:08] #3700 closed

[2021-10-05 08:09] Anant1711 commented on #3645
Sorry @IshikaMeghaSaha Coding part is also done in Doc.

[2021-10-05 08:11] Anant1711 commented on #4406
@IshikaMeghaSaha Documentation is taken!
If you want to do only the coding part, then I can assign it to you!

[2021-10-05 08:12] AMMAR-62 commented on #2165
Is this issue open yet! ... Is there any help needed? ... I am interested in helping with this topic ... Please reply

[2021-10-05 08:13] Rosy-Chadha commented on #1614
@AkMo3
I have created a PR for video.
https://github.com/girlscript/winter-of-contributing/pull/4572#issue-749614434

[2021-10-05 08:13] Iamtripathisatyam commented on #4008
Ok sir

[2021-10-05 08:15] kalyanirb12 commented on #1787
@nimisha-yadav  currently working on it I will update you within 2 days.

[2021-10-05 08:16] Anant1711 commented on #1674
@PrachiDoshi2170 When you are going to submit your work!

[2021-10-05 08:18] Rosy-Chadha commented on #3512
/assign

[2021-10-05 08:19] Anant1711 commented on #3319
@0xUvaish When you are going to submit your work?

[2021-10-05 08:19] thejayeshsoni commented on #4571
/assign documentation

[2021-10-05 08:22] Saviour1001 commented on #3357
Closing as the PR got merged

[2021-10-05 08:22] #3357 closed

[2021-10-05 08:23] riyasai22 commented on #2203
if this issue is still open I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: Video

[2021-10-05 08:27] thejayeshsoni commented on #3112
/assign documentation

[2021-10-05 08:27] Anant1711 commented on #3322
@PrachiDoshi2170 When are you going to submit your work?

[2021-10-05 08:27] Anant1711 commented on #3323
@medhatiwari When are you going to submit your work?

[2021-10-05 08:29] medhatiwari commented on #3323
Today Only. I am really for the delay

[2021-10-05 08:29] Anant1711 commented on #3646
@AtharvaaPatil When you are going to submit your work?

[2021-10-05 08:29] AkMo3 commented on #3112
@palaksinghania05 You have been assigned video content. @shrey-ya You have been assigned back.

[2021-10-05 08:30] AkMo3 commented on #3112
@tamalbag117 You have  been assigned audio

[2021-10-05 08:30] Anant1711 commented on #3648
@artishukla1 When you are going to submit your work?

[2021-10-05 08:33] VanshikaSable commented on #3080
@goelesha review pr and tell any changes needed. thank you.

[2021-10-05 08:36] #3649 closed

[2021-10-05 08:36] Anant1711 commented on #3323
Okkayyy!

[2021-10-05 08:38] PranshuSrivastava commented on #4536
Can I work on this issue as well?

[2021-10-05 08:39] PranshuSrivastava commented on #4536
/assign

[2021-10-05 08:44] ksheetiz opened #4576 "Trapping Rain Water DSA(Problem)(Leetcode Hard)"
### Description

Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gi

[2021-10-05 08:44] ksheetiz commented on #4576
/assign

[2021-10-05 08:45] ksheetiz commented on #4576
/assign

[2021-10-05 08:52] ganaaduvva commented on #2624
@garvitraj  I have made the audio file can you review my PR

[2021-10-05 09:04] YASHMAROO commented on #4555
/assign

[2021-10-05 09:08] shellysharma114 commented on #1341
/assign

[2021-10-05 09:10] #403 closed

[2021-10-05 09:31] Raghavshalu commented on #474
No didi I didn't get my answer...what we do in it like algo ya program ....& How much we do....can u please explain soo...I can go with it

[2021-10-05 09:43] likitarai1 commented on #1331
@manjeetdhayal Plz review my PR.

[2021-10-05 09:50] Mrjoy832 opened #4584 "Clockwise Array Rotation ."
### Description

I shall describe the optimized and easiest Approach to rotate any Array in Clockwise Direction by any number of Elements only using Reversing Techniques.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct

[2021-10-05 09:53] Mrjoy832 commented on #4584
/assign

[2021-10-05 10:12] #3898 closed

[2021-10-05 10:13] #1217 closed

[2021-10-05 10:27] #2837 closed

[2021-10-05 10:28] Aryamanz29 commented on #4038
@Meghna2080  Any updates on this ?

[2021-10-05 10:30] artishukla1 commented on #3648
@Anant1711, Submitted. Kindly check!

[2021-10-05 10:31] artishukla1 commented on #3648
@Anant1711 , Submitted. Kindly check!

[2021-10-05 10:32] #3328 closed

[2021-10-05 10:33] Aryamanz29 commented on #4456
You can't add by yourself, You can tag `Supervisors` or `Mentor` for that

[2021-10-05 10:44] onlykingKD opened #4588 "Finding Loop in a Linked List"
### Description

I want to create a documentation about finding Loop in a Linked List.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-10-05 10:47] Aryamanz29 commented on #4536
@PranshuSrivastava  Happy Learning 🎉🎉  Issue description updated so look that as well before working on this issue

[2021-10-05 10:48] Ananyagupta43 commented on #1601
@moulikagrawal Sir I have completed the documentation on this topic but as I can see that the last 2 subtopics are not completed yet so should I work on it and add it in my documentation?

[2021-10-05 10:51] Aryamanz29 commented on #4492
@VandanaKumari18  Issue description updated so please look that before raising any PR
Thanks

[2021-10-05 10:56] IshikaMeghaSaha commented on #4406
Yes only the coding part

[2021-10-05 10:57] IshikaMeghaSaha commented on #3645
Okay

[2021-10-05 11:00] shahhilag commented on #4362
Hello @nimisha-yadav  mam.I have opened a pull request.Please review it whenever you have time.

[2021-10-05 11:03] shahhilag commented on #4359
Hello @nimisha-yadav mam.I have completed with the execution of this task.So do I need to create a new branch in my forked version and generate a new PR or should I wait for the closing of the first PR.

[2021-10-05 11:10] Eswari-Priya commented on #3915
@vikhyatsingh123 sir ,I had seen that @goelesha mam had already created this issue #3080 . Should I continue to work on it? Pls let me know

[2021-10-05 11:12] #2351 closed

[2021-10-05 11:14] Safwan310 commented on #4301
@hardikk2002 can you please add the hacktoberfest-accepted label to this issue 😅

[2021-10-05 11:24] prettylittleminds opened #4593 "C_CPP: Strings and their functions"
### Description

I'd like to make a video contribution explaining the basics of Strings and their functions in C.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-10-05 11:24] prettylittleminds commented on #4593
/assign

[2021-10-05 11:38] motasimmakki commented on #4541
Kindly assign this to me.

Motasim (DSA Batch-01)

[2021-10-05 11:43] A-GHOSH-dev commented on #401
I would like to contribute in this please.

[2021-10-05 11:45] Anant1711 commented on #4406
Assigned!

[2021-10-05 11:48] #3624 closed

[2021-10-05 12:10] preeti-14-7 opened #4598 "Understanding errors in Javascript :"
### Description

Detail explanation of errors in js

### Domain

JavaScript

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-05 12:11] preeti-14-7 commented on #4598
/assign

[2021-10-05 12:11] #1611 closed

[2021-10-05 12:16] ashish-reddy-20-08 commented on #4383
@prathimacode-hub , Can you please assign me this for Video contribution mam.
Name: M. Ashish Reddy
Batch: 5
Approach : A detailed explanation with clear examples

[2021-10-05 12:17] nimisha-yadav commented on #4359
Yeah you can create a new branch for that task, no problem.

[2021-10-05 12:19] shahhilag commented on #4359
Sure.Thankyou mam

[2021-10-05 12:22] PrachiDoshi2170 commented on #3322
Today

On Tue, 5 Oct, 2021, 1:57 pm Anant chauhan, ***@***.***>
wrote:

[2021-10-05 12:22] PrachiDoshi2170 commented on #1674
I will need one more day for this one

On Tue, 5 Oct, 2021, 1:46 pm Anant chauhan, ***@***.***>
wrote:

[2021-10-05 12:23] nimisha-yadav commented on #474
Please take reference from [these files](https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/1.1%20Arrays/3.%20Range%20Queries). In case of more doubts, feel free to ping the mentors on Discord.

[2021-10-05 12:24] nimisha-yadav commented on #474
Please take reference from [these files](https://github.com/girlscript/winter-of-contributing/tree/DSA/DSA/1.1%20Arrays/3.%20Range%20Queries). In case of more doubts, feel free to ping the mentors on Discord. @Raghavshalu

[2021-10-05 12:24] husain3012 commented on #2574
/assign

[2021-10-05 12:26] husain3012 commented on #2574
@saloni-15  I would like to work on the video for this issue

[2021-10-05 12:30] prathimacode-hub commented on #4383
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-10-05 12:46] ctnkaan commented on #2956
/assign

[2021-10-05 12:55] shahhilag commented on #4359
@nimisha-yadav mam I have created a new PR.Thankyou.

[2021-10-05 13:02] saloni-15 opened #4607 "MERN_MongoDB: 3.1 Creating Database in MongoDB(V)"
### Description

## Creating Database in MongoDB
1. Explain all the steps for creating a MongoDB Database with the CLI.
    - It should include basic commands to insert data, show and use the database.
2.  Explain all the steps for creating a MongoDB Database with Compass.

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the File as `3.1_Creating_Database_in_MongoDB(V).md`

[2021-10-05 13:03] saloni-15 commented on #2574
@husain3012 https://github.com/girlscript/winter-of-contributing/issues/4607 check here and get self assigned

[2021-10-05 13:04] Supriyo-455 commented on #528
@rahulsain sir I created a pull request please check it

[2021-10-05 13:06] Ayushi-Kosta opened #4609 "Fixing Two nodes of a BST"
### Description

You are given the root of a binary search tree(BST), where exactly two nodes were swapped by mistake. Fix (or correct) the BST by swapping them back. Do not change the structure of the tree.
GFG Question  [Link](https://practice.geeksforgeeks.org/problems/fixed-two-nodes-of-a-bst/1)

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

[2021-10-05 13:07] Ayushi-Kosta commented on #4609
/assign

[2021-10-05 13:08] rk18venom commented on #551
@ankurg132 sir can you please review my pull request #4601

[2021-10-05 13:10] ashish-reddy-20-08 commented on #4383
@DhruvBajaj01 @prathimacode-hub , Can you please evaluate my PR.
PR LINK : https://github.com/girlscript/winter-of-contributing/pull/4610

[2021-10-05 13:11] saloni-15 opened #4611 "MERN_MongoDB: 3.1 Creating Database in MongoDB(A)"
### Description

## Creating Database in MongoDB
1. Explain all the steps for creating a MongoDB Database with the CLI.
    - It should include basic commands to insert data, show and use the database.
2.  Explain all the steps for creating a MongoDB Database with Compass.

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the File as `3.1_Creating_Database_in_MongoDB(A).md`

[2021-10-05 13:11] #2619 closed

[2021-10-05 13:11] #225 closed

[2021-10-05 13:12] kishlayaug15 commented on #4386
@prathimacode-hub can I start working for audio in this issue?
Will you allow it ?

[2021-10-05 13:13] RIYANSHGARG commented on #621
Any updates , Is this solved ? If no one is working on it I would like to work on it.

[2021-10-05 13:19] ashish-reddy-20-08 commented on #1036
@prathimacode-hub , Can you please assign me this issue for video contribution mam.

[2021-10-05 13:28] lingaraj281 commented on #90
Can I work on this @Debasmita-01
On video tutorial UI UX Batch-14

[2021-10-05 13:49] nishant-giri commented on #4348
@Sin-Sumit, could you kindly review the changes in #4488?

[2021-10-05 14:02] AdityaPandey03 commented on #1943
hey @anandhu720... made a pr just now..please do have a look and I'm sorry for the delay!

[2021-10-05 14:16] awesometushar000 commented on #484
Should I have write some explaining lines also with code or direct I write code? And I needed to write documentation in a .md file?

[2021-10-05 14:18] geetika005 opened #4617 "Jump Search"
### Description

This documentation is on jump search algorithm

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-10-05 14:18] geetika005 commented on #4617
/assign

[2021-10-05 14:19] rajraii opened #4618 "Sorting with Quick Sort"
### Description

# QUICK SORT
1. How to sort an array with help of quick sort
2. All its application
3. Time complexity

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribut

[2021-10-05 14:20] PranavMasekar commented on #4618
/assign

[2021-10-05 14:20] ksheetiz commented on #4576
@nimisha-yadav i have made a PR regarding this issue please see to it  #4616

[2021-10-05 14:21] husain3012 commented on #4607
/assign

[2021-10-05 14:23] PranavMasekar commented on #4618
pls assign me this issue

[2021-10-05 14:27] rajraii commented on #4618
@PranavMasekar  why tho??

[2021-10-05 14:27] rajraii commented on #4618
/assign

[2021-10-05 14:28] anandhu720 commented on #1943
fine bro

[2021-10-05 14:32] PranshuSrivastava commented on #4536
@Aryamanz29 Sure

[2021-10-05 14:33] s4-2 commented on #4598
@preeti-14-7 Good to see you:), best of luck.

[2021-10-05 14:35] sonali-t commented on #4617
/assign

[2021-10-05 14:37] sonali-t commented on #4558
/assign

[2021-10-05 14:37] utkarshpathak2504 commented on #4588
/assign

[2021-10-05 14:39] NikhilSharma03 opened #4621 "Frontend with Framework: Introduction to useCallback"
### Description

Contributors are required to create documentation and explain:-

- What is `useCallback`
- Why to use `useCallback`
- Advantages of `useCallback`

Note :
Plagiarism is strictly prohibited.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
Files need to be added into the Week3 folder only.

##

[2021-10-05 14:42] Saviour1001 commented on #3883
Closing as the PR got merged

[2021-10-05 14:42] #3883 closed

[2021-10-05 14:42] sonali-t commented on #4541
/assign

[2021-10-05 14:43] WajihaFatim commented on #4618
/assign

[2021-10-05 14:43] geetika005 commented on #4617
This issue is created by me so please remove your comment

[2021-10-05 14:44] Yashesvinee opened #4623 "Python: Regex operations"
### Description

Documentation of Regex (Regular expression) Operations in Python.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-10-05 14:44] rahulsain commented on #2415
no

[2021-10-05 14:44] Saviour1001 commented on #3227
Closing as the PR is merged

[2021-10-05 14:45] WajihaFatim commented on #4558
/assign

[2021-10-05 14:46] sonali-t commented on #4607
/assign

[2021-10-05 14:46] Yashesvinee commented on #4623
@adityabisoi can I take up this issue?

[2021-10-05 14:47] HastiSutaria commented on #4621
/assign
@NikhilSharma03 May you please assign me the issue.
Name - Hasti Sutaria
Type -  Documentation

[2021-10-05 14:47] sonali-t commented on #4512
/assign

[2021-10-05 14:48] HastiSutaria commented on #4621
/assign

[2021-10-05 14:49] sonali-t commented on #4327
/assign

[2021-10-05 14:53] #4558 closed

[2021-10-05 14:54] VaibhavMalik4187 opened #4624 "[Create New Issue]: C++ : In place reversal of a stack"
### Description

In this documentation, I will be demonstrating, how to reverse a stack without using another stack(in place reversal)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wint

[2021-10-05 14:54] VaibhavMalik4187 commented on #4624
/assign

[2021-10-05 14:56] VaibhavMalik4187 commented on #4624
/assign

[2021-10-05 14:58] ujju20 commented on #4611
/assign

[2021-10-05 15:03] geetika005 commented on #4617
Please remove this message , create your own issue

[2021-10-05 15:05] lingaraj281 commented on #68
Can I work on this @Debasmita-01 Video Contribution

[2021-10-05 15:09] VaibhavMalik4187 opened #4625 "[Create New Issue]: Diameter of a Binary Tree"
### Description

In this issue, I will be explaining the concept and the code to find the diameter of a binary tree.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-10-05 15:11] VaibhavMalik4187 commented on #4625
/assign

[2021-10-05 15:11] Suvraneel opened #4626 "[Create New Issue]:"
### Description

Descriptiondfdf

### Domain

Android Dev (Java)

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-05 15:11] Suvraneel commented on #4626
/assign

[2021-10-05 15:11] #4626 closed

[2021-10-05 15:12] sumit-6 opened #4628 "DP | Longest Common Subsequence | C++"
### Description

In this issue, I will explain all the basic concepts involving DP in LCS problems

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-10-05 15:12] madhu992 commented on #96
Hey, I would like to work on this issue. Can I?

[2021-10-05 15:12] Suvraneel opened #4629 "[Create New Issue]:"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Audio, Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-05 15:13] sumit-6 commented on #4628
/assign

[2021-10-05 15:14] Saviour1001 opened #4630 "Testing issue : Ignore"
### Description

Description

### Domain

Android Dev (Java)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-05 15:16] lingaraj281 commented on #96
Hey @Debasmita-01 Can I work on this with Video tutorial?

[2021-10-05 15:16] #4253 closed

[2021-10-05 15:21] shubhmittal07 opened #4631 "Android Kotlin: 11.02 String"
<hr>

## Description :scroll:

* Give a step-by-step tutorial of UI Resources(String) in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :
https://medium.com/nerd-for-tech/nested-recyclerview-in-android-e5afb2b9771a

<hr>

## Please Read it Carefully Before Contributing
* Changes shou

[2021-10-05 15:21] #1751 closed

[2021-10-05 15:22] shubhmittal07 commented on #4631
/assign

[2021-10-05 15:22] SwarnaliBhunia commented on #3323
/assign vedio

[2021-10-05 15:23] VandanaKumari18 opened #4632 "Opensource : 7.1_Importance_of_License"
### Description

Importance of software licensing and reasons to use software licensing

### Domain

Open Source

## NOTE
Please put your doc `7.License/` with the name `7.1_Importance_Of_License.md`

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-10-05 15:24] VandanaKumari18 commented on #4632
/assign

[2021-10-05 15:25] shubhmittal07 commented on #4631
/assign

[2021-10-05 15:29] shubhmittal07 commented on #4631
Please assign this issue to me. @rahulsain . It seems like the bot is not working

[2021-10-05 15:35] #4629 closed

[2021-10-05 15:35] Suvraneel commented on #3249
/assign

[2021-10-05 15:45] VandanaKumari18 commented on #4632
/assign

[2021-10-05 15:46] VandanaKumari18 commented on #4632
@Aryamanz29 pls assign me this issue i have to make  a PR for other files as well.

[2021-10-05 15:49] nandini7637 opened #4633 "Java 20.2 : Annotation at run time"
### Description
 Add audio, documentation, and video regarding the **Annotation at run time**

 **Location of File to be added** The files should be added inside the _`Annotation at run time`_ which will be inside _`Annonations`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb

[2021-10-05 15:55] BhaswatiRoy commented on #4206
I want to contribute to this issue :
Name-Bhaswati Roy
Domain-Python
Batch-3
Type-Audio
Issue Number-about recursion, ways to implement, importance, similarity with loops & iterations

[2021-10-05 15:57] mayankkuthar opened #4636 "Opensource: 4.23 Explain everything about ```Tezos India Fellowship```"
### Description

Explain everything about ```Tezos India Fellowship``` (TIF)

### Note :
Doc should be submitted inside ```4.Open_Source_Programs/``` with the name ```4.23_Tezos_India_Fellowship.md```

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-10-05 15:57] mayankkuthar commented on #4636
/assign

[2021-10-05 16:02] Aryan283 commented on #4618
/assign

[2021-10-05 16:04] NikhilSharma03 commented on #4621
You are good to go :rocket:

[2021-10-05 16:08] vasu-1 opened #4637 "PHP Error Handling"
### Description

In this issue i am working with error handling in php.(Documentation)

### Domain

Backend Dev (PHP)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-10-05 16:08] vasu-1 commented on #4637
/assign

[2021-10-05 16:14] ganaaduvva commented on #2947
@Ash515 can I go with audio

[2021-10-05 16:16] ganaaduvva commented on #4453
@Ash515 can I go with Audio

[2021-10-05 16:16] ganaaduvva commented on #4453
/assign audio

[2021-10-05 16:18] ganaaduvva commented on #2947
/assign audio

[2021-10-05 16:19] Aryan283 opened #4640 "C/CPP-Array rotation in C++"
### Description

Description
In this issue, I will be explaining the concept of array rotation along with the code.

Domain
C/CPP

Type of Contribution
Documentation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](htt

[2021-10-05 16:19] Aryan283 commented on #4640
/assign

[2021-10-05 16:21] firefistacez commented on #1536
\assign Video

[2021-10-05 16:24] #4492 closed

[2021-10-05 16:32] ganaaduvva commented on #2870
@AkMo3 / @sumitaccess007  can I work on the audio part?

[2021-10-05 16:35] ganaaduvva commented on #2870
/assign audio

[2021-10-05 16:40] kalyanirb12 commented on #1787
@nimisha-yadav can you Please guide me on what to do after creating documentation on this topic?

[2021-10-05 16:44] AkMo3 commented on #2870
@ganaaduvva Go with audio :+1

[2021-10-05 16:45] AkMo3 commented on #1536
@firefistacez You have been assigned video content

[2021-10-05 16:45] ganaaduvva commented on #1996
/assign audio

[2021-10-05 16:45] Yashesvinee commented on #4623
/assign

[2021-10-05 16:45] a12baghel2 commented on #2910
@hardikk2002  Kindly review the PR #4644

[2021-10-05 16:52] ganaaduvva commented on #2624
@AkMo3 can you please review my PR of audio it is my 1st audio contribution and happy to listen for any advice

[2021-10-05 16:52] Yashesvinee commented on #4633
/assign documentation

[2021-10-05 17:08] Saviour1001 commented on #4493
Closing as #4501 got merged

[2021-10-05 17:08] #4493 closed

[2021-10-05 17:08] #4630 closed

[2021-10-05 17:09] Saviour1001 commented on #2243
Closing this as PR #4600 got merged

[2021-10-05 17:09] #2243 closed

[2021-10-05 17:17] Aryamanz29 opened #4648 "Open Source : 6.18 Explain everything related to `fastAPI`"
<hr>

## Description 📜

Open Source : 6.18 explain everything related to `fastAPI`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.18_fastAPI.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-10-05 17:21] HassanRahim26 commented on #4648
Hey @Aryamanz29, I would like to work on this issue. Can you please assign me this issue?
Name:- Hassan Rahim
Batch:- Open-Source Batch-1
Type:- Documentation

[2021-10-05 17:23] Aryamanz29 opened #4650 "Open Source : 6.19 Explain everything related to `jinaAI`"
<hr>

## Description 📜

Open Source : 6.19 Explain everything related to `jinaAI`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.19_jinaAI.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-05 17:24] Aryamanz29 commented on #4648
@HassanRahim26 Sure, Happy Learning 🎉🎉

[2021-10-05 17:26] priyanshuc4423 commented on #4650
/assign

[2021-10-05 17:27] Aryamanz29 commented on #4650
@priyanshuc4423  Sure, Assigned 🎉🎉

[2021-10-05 17:29] Aryamanz29 opened #4652 "Open Source : 6.20 Explain everything related to `Gitpod`"
<hr>

## Description 📜

Open Source : 6.20 Explain everything related to `Gitpod`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.20_Gitpod.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-05 17:30] Adi7171 commented on #4652
/assign

[2021-10-05 17:32] 0xUvaish commented on #3319
Sorry for the delay. Within 2 days I'll complete it

[2021-10-05 17:38] Aryamanz29 opened #4655 "Open Source : 6.21 Explain everything related to `Appwrite`"
<hr>

## Description 📜

Open Source : 6.21 Explain everything related to `Appwrite`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.21_Appwrite.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-10-05 17:43] Meghna2080 commented on #4038
@Aryamanz29 Is this fine?

[2021-10-05 17:49] #3741 closed

[2021-10-05 17:49] AastikSharma05 opened #4658 "Lexicographic rank of a string"
### Description

Given a string, find its rank among all its permutations sorted lexicographically.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-10-05 17:50] AastikSharma05 commented on #4658
/assign

[2021-10-05 17:51] #3335 closed

[2021-10-05 17:51] AastikSharma05 opened #4660 "Program to reverse words in a given string in C++"
### Description

Given a sentence in the form of string str, the task is to reverse each word of the given sentence in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contr

[2021-10-05 17:51] AastikSharma05 commented on #4660
/assign

[2021-10-05 17:53] mayankkuthar commented on #4636
@Aryamanz29 will you please add it in the OpenSource milestone 😄

[2021-10-05 17:57] Aryamanz29 opened #4662 "Open Source : 6.22 Explain everything related to `Flutter`"
<hr>

## Description 📜

Open Source : 6.22 Explain everything related to `Flutter`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.22_Flutter.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-10-05 17:58] DhruvBajaj01 opened #4663 "Data Science With Python : Multivariate Adaptive Regression Splines"
### Description

Welcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information regarding Multivariate Adaptive Regression Splines
 along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice

[2021-10-05 18:00] DhruvBajaj01 opened #4664 "BRIEF (Binary Robust Independent Elementary Features)"
### Description

Welcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to BRIEF (Binary Robust Independent Elementary Features) along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the ch

[2021-10-05 18:02] DhruvBajaj01 opened #4665 "Data Science With Python : ORB (Oriented FAST and Rotated BRIEF)"
### Description

Welcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to ORB (Oriented FAST and Rotated BRIEF) along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer

[2021-10-05 18:04] ParagD25 opened #4666 "Python : Logical Operators"
### Description

Documentation of Logical Operations in Python.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-10-05 18:04] eshan1925 commented on #4662
/assign

[2021-10-05 18:04] DhruvBajaj01 opened #4667 "Data Science With Python : Feature Matching --Brute-Force matcher and FLANN based matcher"
### Description

Welcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to  Feature Matching --Brute-Force matcher and FLANN based matcher along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow

[2021-10-05 18:04] ParagD25 commented on #4666
@adityabisoi can you assign me this issue?

[2021-10-05 18:05] paramsiddharth commented on #4539
@daminimehra Excited! Please go ahead with your PR.

[2021-10-05 18:06] DhruvBajaj01 opened #4668 "Data Science With Python : Thresholding with open CV"
### Description

Welcome to the 'DSWP' Team, good to see you here

With this issue, readers will get introduced to core information to Thresholding with open CV along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentati

[2021-10-05 18:06] paramsiddharth commented on #4402
@Aditi-247 Don't worry about the bot. <3 You can begin working on the issue. It misbehaves very often. We will always consider a PR, even of the bot doesn't assign you.

[2021-10-05 18:11] Aryamanz29 opened #4669 "Open Source : 6.23 Explain everything related to `Django`"
<hr>

## Description 📜

Open Source : 6.23 Explain everything related to `Django`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.23_Django.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-05 18:11] Aryamanz29 opened #4670 "Open Source : 6.24 Explain everything related to `Apache HTTP Server`"
<hr>

## Description 📜

Open Source : 6.24 Explain everything related to `Apache HTTP Server`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.24_Apache_HTTP_Server.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONT

[2021-10-05 18:11] Aryamanz29 opened #4671 "Open Source : 6.25 Explain everything related to `nginx`"
<hr>

## Description 📜

Open Source : 6.25 Explain everything related to `nginx`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.25_nginx.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of co

[2021-10-05 18:11] Aryamanz29 opened #4672 "Open Source : 6.26 Explain everything related to `React`"
<hr>

## Description 📜

Open Source : 6.26 Explain everything related to `React`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.26_React.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of co

[2021-10-05 18:12] Aryamanz29 opened #4673 "Open Source : 6.27 Explain everything related to `Angular`"
<hr>

## Description 📜

Open Source : 6.26 Explain everything related to `Angular`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.27_Angular.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-10-05 18:12] Raghavshalu commented on #474
ohk di, now I can do

[2021-10-05 18:12] Akshat-2002-coder opened #4674 "explain new and delete keyword"
### Description

give explanation about new and delete keyword (Dynamic memory allocation).

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_O

[2021-10-05 18:12] Aryamanz29 opened #4675 "Open Source : 6.28 Explain everything related to `Vue`"
<hr>

## Description 📜

Open Source : 6.27 Explain everything related to `Vue`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.28_Vue.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduc

[2021-10-05 18:12] Akshat-2002-coder commented on #4674
/assign

[2021-10-05 18:12] Aryamanz29 opened #4676 "Open Source : 6.29 Explain everything related to `Svelte`"
<hr>

## Description 📜

Open Source : 6.28 Explain everything related to `Svelte`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.29_Svelte.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-05 18:13] Akshat-2002-coder commented on #4674
/assign

[2021-10-05 18:14] GyaniRoman23 commented on #4672
Hey @Aryamanz29 I want to work with this issue. Kindly assign it to me.

[2021-10-05 18:14] GyaniRoman23 commented on #4672
/assign

[2021-10-05 18:15] GyaniRoman23 commented on #4676
Hey @Aryamanz29 I want to work with this issue. Kindly assign it to me.

[2021-10-05 18:15] GyaniRoman23 commented on #4676
/assign

[2021-10-05 18:16] GyaniRoman23 commented on #4676
/assign

[2021-10-05 18:16] geeythree commented on #4669
I'd like to work on this /assign

[2021-10-05 18:16] ShivaniAgarwal2001 commented on #4676
/assign documentation

[2021-10-05 18:16] Aryamanz29 commented on #4672
@GyaniRoman23 Happy learning 🎉🎉

[2021-10-05 18:16] geeythree commented on #4669
/assign

[2021-10-05 18:17] priyall commented on #4675
@Aryamanz29 I would like to work on this issue

[2021-10-05 18:17] palakshivlani-11 commented on #4669
/assign please

[2021-10-05 18:17] GyaniRoman23 commented on #4672
Thank you:)

[2021-10-05 18:17] Aryamanz29 commented on #4676
@ShivaniAgarwal2001 Assigned, Happy learning 🎉🎉

[2021-10-05 18:17] riyapandey730 commented on #4669
I want to work on this

[2021-10-05 18:17] geeythree commented on #4670
/assign

[2021-10-05 18:18] Aryamanz29 commented on #4675
@priyall  Assigned, Happy learning 🎉🎉

[2021-10-05 18:18] riyapandey730 commented on #4670
I want to work on this

[2021-10-05 18:18] Aryamanz29 commented on #4670
@geeythree  Assigned, Happy learning 🎉🎉

[2021-10-05 18:19] riyapandey730 commented on #4673
I want to work on this

[2021-10-05 18:20] eshan1925 commented on #4671
/assign

[2021-10-05 18:21] Aryamanz29 commented on #4671
@eshan1925  Assigned, Happy learning 🎉🎉

[2021-10-05 18:22] Aryamanz29 commented on #4673
@riyapandey730  Assigned, Happy learning 🎉🎉

[2021-10-05 18:23] Aryamanz29 commented on #4669
@palakshivlani-11 Assigned, Happy learning 🎉🎉

[2021-10-05 18:24] Apoorv-17 commented on #3262
I would like to work on this issue.
Name: Apoorv Yadav
Batch: 07
Type: Video

[2021-10-05 18:26] Aditi-247 commented on #4402
@paramsiddharth okay sir

[2021-10-05 18:27] Aryamanz29 opened #4681 "Open Source : 6.30 Explain everything related to `Redux`"
<hr>

## Description 📜
Open Source : 6.30 Explain everything related to `Redux`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.30_redux.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of con

[2021-10-05 18:27] #1367 closed

[2021-10-05 18:27] Apoorv-17 commented on #745
@prathimacode-hub could you please assign me for the video task.
Name: Apoorv Yadav
Batch: 15
Type: Video
Serial No.: 537

[2021-10-05 18:28] Kalyani02072003 commented on #4681
can you assign this to me

[2021-10-05 18:28] Aryamanz29 commented on #4681
@Kalyani02072003  Sure, Happy learning 🎉🎉

[2021-10-05 18:29] pilipi-puu-puu opened #4682 "Pattern problems"
### Description

This documentation will contain pattern problems using C.
1. Number Pattern
2. Star Pattern

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-10-05 18:29] pilipi-puu-puu commented on #4682
/assign

[2021-10-05 18:29] sid-khuntwal commented on #4666
I would like to work on this one please assign me

[2021-10-05 18:30] sid-khuntwal commented on #4666
Ok sure!

[2021-10-05 18:31] Pulkit007 opened #4683 "CSS - Borders"
### Description

Add all the information about CSS Borders

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-10-05 18:31] Pulkit007 commented on #4683
/assign

[2021-10-05 18:31] Pulkit007 commented on #4683
/assign

[2021-10-05 18:32] #2966 closed

[2021-10-05 18:32] akriti-upadhyay commented on #2730
Can I work on this issue ?

[2021-10-05 18:34] ParagD25 commented on #4666
@sid-khuntwal you cannot self assign a issue.

[2021-10-05 18:36] Eswari-Priya opened #4685 "Duplicate in an Array using Floyd's Cycle detection"
### Description

The problem statement is that, given an array of n+1 elements whose values are in range [1,n]. All the elements occur just once except for a number which occurs 2 or more times. I'd like to include more details on this problem statement, and how this can be done using Floyd's cycle detection algorithm.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

[2021-10-05 18:38] Eswari-Priya commented on #4685
I am eswari priya repaka and i belong dsa batch2. pls review it and assign me this issue @goelesha @vikhyatsingh123

[2021-10-05 18:44] jaigora24 commented on #4685
/assign

[2021-10-05 18:45] princemsd007 commented on #2730
Already assigned :)

[2021-10-05 18:45] jaigora24 commented on #4541
/assign

[2021-10-05 18:48] KushalMehta39 commented on #4667
/assign documentation

[2021-10-05 18:48] sid-khuntwal commented on #4666
Oh sorry I just saw other issues where it was done like this so I too did

[2021-10-05 18:48] ELLIPSIS009 commented on #4681
@Kalyani02072003 maybe your forked repo is not updated, wither upstream the forked repo or delete old fork repo and create a new fork

[2021-10-05 18:48] sid-khuntwal commented on #4666
Am I still assigned to this?

[2021-10-05 18:50] Aryamanz29 opened #4687 "Open Source : 7.10 Explain everything related to `Eclipse Public License version 2.0`"
<hr>

## Description 📜

Open Source : 7.10 Explain everything related to `Eclipse Public License version 2.0`

### NOTE 👇
Please put your doc `7.License/` with the name `7.10_Eclipse_Public_License.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-10-05 18:50] Aryamanz29 opened #4688 "Open Source : 7.2 Explain everything related to `Apache License 2.0`"
<hr>

## Description 📜

Open Source : 7.2 Explain everything related to `Apache License 2.0`

### NOTE 👇
Please put your doc `7.License/` with the name `7.2_Apache.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-10-05 18:50] Aryamanz29 opened #4689 "Open Source : 7.3 Explain everything related to `BSD 3-Clause`"
<hr>

## Description 📜

Open Source : 7.3 Explain everything related to `BSD 3-Clause`

### NOTE 👇
Please put your doc `7.License/` with the name `7.3_BSD_3Clause.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-05 18:50] Aryamanz29 opened #4690 "Open Source : 7.4 Explain everything related to `BSD 2-Clause`"
<hr>

## Description 📜

Open Source : 7.4 Explain everything related to `BSD 2-Clause`

### NOTE 👇
Please put your doc `7.License/` with the name `7.4_BSD_2Clause.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-05 18:50] Aryamanz29 opened #4691 "Open Source : 7.5 Explain everything related to `GNU General Public License (GPL)`"
<hr>

## Description 📜

Open Source : 7.5 Explain everything related to `GNU General Public License (GPL)`

### NOTE 👇
Please put your doc `7.License/` with the name `7.5_GNU_GPL.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTIN

[2021-10-05 18:50] Aryamanz29 opened #4692 "Open Source : 7.6 Explain everything related to `GNU Library or "Lesser" General Public License (LGPL)`"
<hr>

## Description 📜

Open Source : 7.6 Explain everything related to `GNU Library or "Lesser" General Public License (LGPL)`

### NOTE 👇
Please put your doc `7.License/` with the name `7.6_GNU_LGPL.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-10-05 18:50] Aryamanz29 opened #4693 "Open Source : 7.7 Explain everything related to `MIT license`"
<hr>

## Description 📜

Open Source : 7.7 Explain everything related to `MIT license`

### NOTE 👇
Please put your doc `7.License/` with the name `7.7_MIT_License.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-05 18:51] Aryamanz29 opened #4694 "Open Source : 7.8 Explain everything related to `Mozilla Public License 2.0`"
<hr>

## Description 📜

Open Source : 7.8 Explain everything related to `Mozilla Public License 2.0`

### NOTE 👇
Please put your doc `7.License/` with the name `7.8_Mozilla_Public_License.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-10-05 18:51] Aryamanz29 opened #4695 "Open Source : 7.9 Explain everything related to `Common Development and Distribution License`"
<hr>

## Description 📜

Open Source : 7.9 Explain everything related to `Common Development and Distribution License`

### NOTE 👇
Please put your doc `7.License/` with the name `7.9_Common_Development_Distribution_.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contri

[2021-10-05 18:51] hrugved06 commented on #4668
- Name: Hrugved Kolhe
- Batch: 10
- Sr. No.:- 330
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Documentation
- Approach: Introduction, properly commented code, images wherever required, proved conclusion

I would like to work on this issue

[2021-10-05 18:52] Bhuvnesh875 commented on #4693
/assign

[2021-10-05 18:53] Bhuvnesh875 commented on #4688
/assign

[2021-10-05 18:53] Sumit3301 commented on #3304
@goelesha Kindly assign me this issue
Name- Sumit Gaur
Batch- 4
Type: Audio

[2021-10-05 18:54] Aryamanz29 commented on #4693
@Bhuvnesh875  Assigned, Happy Learning 🎉🎉

[2021-10-05 18:55] #3915 closed

[2021-10-05 18:55] Bhuvnesh875 commented on #4693
@Aryamanz29 thannkyouu

[2021-10-05 18:56] Adi9235 commented on #4694
Can you assign me this issue

[2021-10-05 18:57] Adi9235 commented on #4694
@Aryamanz29

[2021-10-05 18:57] Aryamanz29 commented on #4694
@Adi9235  Assigned, Happy Learning 🎉🎉

[2021-10-05 18:58] Hritik157 commented on #4695
/ assign

[2021-10-05 18:58] Aryamanz29 commented on #4695
@Hritik157  Assigned, Happy Learning 🎉🎉

[2021-10-05 18:59] Hritik157 commented on #4695
Thank you :)

[2021-10-05 19:02] atharva20-coder commented on #4692
/assign

[2021-10-05 19:05] Hritik157 commented on #4665
Name: Hritik Sharma
Serial no.: 276
Discord: Hritik | Contributor
Type: Documentation
Approach: Explaining about ORB, its implementation and providing it's source code.

[2021-10-05 19:05] Hritik157 commented on #4665
@DhruvBajaj01 Sir plz assign it to me

[2021-10-05 19:06] ParagD25 commented on #4666
No problem 😊

[2021-10-05 19:06] RaghavvGupta commented on #4689
I'm interested in this issue!

[2021-10-05 19:07] ParagD25 commented on #4666
Tag python mentors or supervisors and let them decide whom to assign this issue.

[2021-10-05 19:07] Aryamanz29 commented on #4689
@RaghavvGupta  Sure Assigned, Happy Learning 🎉🎉

[2021-10-05 19:07] sid-khuntwal commented on #4675
I would like to work on this issue @Aryamanz29

[2021-10-05 19:10] KhafiaAyyub commented on #4687
/assign

[2021-10-05 19:11] soma2000-lang commented on #4691
/assign

[2021-10-05 19:11] Asmit2952 commented on #4691
I want to work on this

[2021-10-05 19:11] Aryamanz29 commented on #4691
@soma2000-lang  Happy Learning 🎉🎉

[2021-10-05 19:12] Asmit2952 commented on #4690
/assign

[2021-10-05 19:12] palakshivlani-11 commented on #4669
Thank u😊 @Aryamanz29

[2021-10-05 19:12] Asmit2952 commented on #4690
Please assign this issue to me

[2021-10-05 19:12] atharva20-coder commented on #4692
Hello @Aryamanz29 I also want to add this 👉(https://github.com/atharva20-coder/intro-to-git-github/blob/main/intro%20to%20git%20and%20github.pdf)

if you permit

[2021-10-05 19:13] Asmit2952 commented on #4691
/assign

[2021-10-05 19:13] Aryamanz29 commented on #4691
@Asmit2952 Happy Learning 🎉🎉

[2021-10-05 19:14] Sakshi-1101 commented on #4691
/assign

[2021-10-05 19:15] soma2000-lang commented on #4665
/assign

[2021-10-05 19:22] Aryamanz29 commented on #4691
@AnirudhBot  I'll create some more issue tomorrow , Don't worry

[2021-10-05 19:22] Aryamanz29 commented on #4691
But right now we only permit  `1 PR == 1 Issue == 1 Contributor` approach

[2021-10-05 19:23] Aryamanz29 commented on #4691
@AnirudhBot  You can look into `multiple contributors issues` https://github.com/girlscript/winter-of-contributing/issues/31

[2021-10-05 19:30] #4632 closed

[2021-10-05 19:33] Aryamanz29 commented on #31
@KushalMehta39  Assigned

[2021-10-05 19:33] anu-oss opened #4697 "[Create New Issue]: Add the documentation for vectors in C/C++"
### Description

I will be adding the documentation for vectors in C/C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-10-05 19:38] adityarajsahoo commented on #919
Do the issues after PR is merged, needs to be closed? @Suvraneel

[2021-10-05 19:48] Suvraneel commented on #919
@adityarajsahoo  YES
otherwise you'd reach your limit of 3 assigned at once

[2021-10-05 20:10] soma2000-lang commented on #506
@LegendSumeet @gauravdas014  please look

[2021-10-05 20:13] khushbooagrawal245 commented on #4353
@adityabisoi this issue was assigned to me and I worked on that but 12 hours ago it assigned to someone else
what should I do?

[2021-10-05 20:14] #919 closed

[2021-10-05 20:20] Saviour1001 commented on #1801
Closing this as #3459 got merged

[2021-10-05 20:20] #1801 closed

[2021-10-05 20:25] VandanaKumari18 commented on #4688
@Aryamanz29 can i work on this issue ? As i have already made the documentation on MIT as well as APACHE license ?

[2021-10-05 20:44] husain3012 commented on #4607
@saloni-15 can you please assign this issue to me?

[2021-10-05 20:56] yellowberard commented on #1882
@paramsiddharth I have some issue pulling the repository and I have also mentioned same in discord.so please assign this issue to me.

[2021-10-05 21:17] Koustav-1250 commented on #4361
Can you assign me documentation part of It please

[2021-10-05 21:37] achsahxavier commented on #2694
@Suvraneel
If this issue is open for audio contribution, please assign it to me.
Thank you.

[2021-10-05 21:51] HumblePlebeian commented on #786
Hi!
I would like to work on the documentation part of this contribution.
Could you please assign it to me?
Thanks!

[2021-10-06 00:07] saloni-15 commented on #4607
@sonali-t Can you please unassign yourself from this issue, @husain3012 was first one to comment and he already asked for this issue.

[2021-10-06 00:38] WajihaFatim commented on #4200
@Suvraneel please have a look on my pr

[2021-10-06 01:05] ishrutik opened #4711 "[DSA]:Strings: Valid Anagram :C++"
### Description

Given two strings s and t, return true if t is an anagram of s, and false otherwise. in C++

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-10-06 01:17] roopali-1 commented on #4543
@adityabisoi is this issue open for audio ??
If it is then I am interested to work in this issue as audio contribution
Thank you .

[2021-10-06 01:26] Minal5 commented on #2445
\assign audio

[2021-10-06 02:58] wasim2725 commented on #3889
/assign

[2021-10-06 03:03] wasim2725 commented on #4711
/assign

[2021-10-06 03:10] Aprakavdia02 commented on #4557
/assign documentation

[2021-10-06 03:11] Akshat-2002-coder opened #4715 "Depth first search in binary trees"
### Description

explain different DFS program( recursive approach).

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-10-06 03:11] Akshat-2002-coder commented on #4715
/assign

[2021-10-06 03:12] Akshat-2002-coder commented on #4715
/assign

[2021-10-06 03:29] shahhilag commented on #4368
@nimisha-yadav Mam if this task has not been alloted to anyone I would like to work on this.
Name-Hilag Shah
Batch-DSA batch 1

[2021-10-06 03:41] NimeshJohari02 commented on #2251
PR opened kindly review the same

[2021-10-06 03:44] Ash515 commented on #4453
All the best !

[2021-10-06 03:45] AkMo3 commented on #2219
@AMMAR-62 It is available for audio and video. @Vrukshali-26 Do you still want to work on Video content for this issue?

[2021-10-06 03:46] AkMo3 commented on #3570
@jaya6400 Documentation has already been allocated. Please request for other content.

[2021-10-06 03:47] Vrukshali-26 commented on #2219
Yes @AkMo3 , I'm working on video

[2021-10-06 03:48] AkMo3 commented on #2219
@Vrukshali-26 Ok. Video content has been assigned to you.

[2021-10-06 03:50] #4114 closed

[2021-10-06 03:56] aashigupta355 opened #4717 "Clauses in Database"
### Description

Explained about Clauses in Databases.

### Domain

Database

### Type of Contribution

Audio, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proje

[2021-10-06 04:07] warmachine028 commented on #4300
Hey I have Completed the documentation. Can you have a look ? #4422

[2021-10-06 04:09] anjanaaaaaaaa commented on #4408
/assign video

[2021-10-06 04:10] #4131 closed

[2021-10-06 04:20] #3422 closed

[2021-10-06 04:21] Hritik157 commented on #4665
@DhruvBajaj01 Sir Plz assign this issue to me as I have provided the details as asked in the description also on  FCFS basis.

[2021-10-06 04:21] Adityanr opened #4719 "[.NET]: How to use .NET SDK,CLI"
### Description

- .NET SDK installation and documentation on how to use.
- CLI installation and documentation on how to use.

### Domain

Backend Dev (.NET)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/

[2021-10-06 04:22] Adityanr commented on #4719
/assign

[2021-10-06 04:23] nimisha-yadav commented on #3262
Assigning this issue to you, all the best!

[2021-10-06 04:30] AVS18 commented on #3963
@yashvardhan-verma have you created a pull request

[2021-10-06 04:31] jaigora24 opened #4721 "[DSA]: 3.1 Linked List: Implementation in Java"
### Description

What is Linked List? It's operation performed and Implementation of Linked List in C Programming.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blo

[2021-10-06 04:32] jaigora24 commented on #4721
/assign

[2021-10-06 04:32] jaigora24 commented on #4721
/assign

[2021-10-06 04:34] SakshiMishra1 opened #4722 "JS: Tutorial for Tailwind CSS"
### Description

To make documentation of Tailwind CSS.
Folder:- Popular Libraries/ Tailwind CSS

### Domain

JavaScript

### Type of Contribution

- [x] Documentation
- [ ] Video
- [ ] Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-

[2021-10-06 04:34] SakshiMishra1 commented on #4722
/assign

[2021-10-06 04:36] jaigora24 opened #4723 "[DSA]: 2.2 Bubble Sort in Java"
### Description

Algorithm of Bubble Sort in Java

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-06 04:36] jaigora24 commented on #4723
/assign

[2021-10-06 04:47] samy0444 opened #4724 "Introduction to Aspect Oriented Programming"
### Description

Documentation on brief explanation of Aspect Oriented Programming.

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-10-06 04:48] shahhilag commented on #4359
Mam there is a issur in the PR I will recreate it

[2021-10-06 04:49] PurviBhoyar21 commented on #4668
Hello supervisors and mentors
I am from Opensource batch 1 and ML batch 1
I want to contribute to this issue in audio and documentation format.
Thank you

[2021-10-06 04:53] roopali-1 opened #4725 "Recursive Implementation of Tower of Hanoi Problem"
### Description

Explain about Tower of Hanoi problem and it's recursive implementation in CPP.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-10-06 04:53] roopali-1 commented on #4725
/assign

[2021-10-06 04:59] shahhilag commented on #4359
@nimisha-yadav  Mam I have created a new pull request

[2021-10-06 05:16] roopali-1 commented on #4725
@Suvraneel sir here it is mentioning that supervisor/mentor has to assign this issue to me manually. I am not working on any other issue at present time . so can I start working on this one ??

[2021-10-06 05:19] Jyoti6828 commented on #3964
I want to work on this issue in the **video** format. Kindly assign me this issue.

[2021-10-06 05:21] sahilsingh2402 commented on #1862
@prathimacode-hub please check the pull request I generated for this issue.

[2021-10-06 05:21] sahilsingh2402 commented on #1862
https://github.com/girlscript/winter-of-contributing/pull/3910

[2021-10-06 05:24] #858 closed

[2021-10-06 05:25] roopali-1 commented on #4725
done only this issue is there in the assigned section

[2021-10-06 05:28] Shreya-art opened #4730 "[Create New Issue]: Array Problem : Sort an array of 0s, 1s and 2s"
### Description

Sort an array of 0s, 1s and 2s

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-06 05:28] Shreya-art commented on #4730
/assign

[2021-10-06 05:36] akratikushwah opened #4732 "Recursion Questions from Basic to Advance"
### Description

In this I will cover all the questions from recursion in CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-10-06 05:36] akratikushwah commented on #4732
/assign

[2021-10-06 05:38] #368 closed

[2021-10-06 05:39] #3449 closed

[2021-10-06 05:39] akratikushwah commented on #4732
/assign

[2021-10-06 05:39] #351 closed

[2021-10-06 05:40] #363 closed

[2021-10-06 05:40] #364 closed

[2021-10-06 05:42] #366 closed

[2021-10-06 05:43] akratikushwah commented on #4732
/assign

[2021-10-06 05:44] akratikushwah commented on #2142
/unassign

[2021-10-06 05:45] mmeghana2405 commented on #4637
hello iam meghana batch -6 can please assign me video

[2021-10-06 05:54] VanshikaSable commented on #3080
@goelesha  please review the pull request.

[2021-10-06 06:09] sonali-t commented on #1322
/assign

[2021-10-06 06:11] deepak089 commented on #4730
/assign

[2021-10-06 06:13] jaya6400 commented on #3570
\assign video  @AkMo3 please assign me video thank you for the reply

[2021-10-06 06:15] sonali-t commented on #4316
/assign

[2021-10-06 06:16] ayushjain27 commented on #4725
/assign

[2021-10-06 06:23] AkMo3 commented on #3570
@jaya6400 You have been assigned video

[2021-10-06 06:28] onlykingKD opened #4738 "Dummy Issue"
### Description

Description xyz

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-06 06:28] onlykingKD commented on #4738
/assign

[2021-10-06 06:29] Danish-Belal opened #4739 "which sorting is best and when ?"
### Description

There are many sorting algorithms, explain how to understand which sorting algorithm is used on what kind of input and why other and not good for this input?

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of condu

[2021-10-06 06:31] Asmit2952 commented on #1316
@Debasmita-01 Please review my PR

[2021-10-06 06:32] LegendSumeet commented on #691
Yess @rahulsain assign to @Sonali-Sharma-1 she did the best  Documentation on these issue

[2021-10-06 06:36] Danish-Belal commented on #4739
/assign

[2021-10-06 06:38] Danish-Belal commented on #4732
/assign

[2021-10-06 06:42] ShubhamPatel01 commented on #4117
Hello, I would like to work on this issue
Name: Shubham Patel
Batch: 1
GitHub id: https://github.com/ShubhamPatel01
Type: Documentation
Approach: What is k medoids clustering, how to implement it, and applications of k medoids clustering algorithm.

[2021-10-06 06:44] Suvraneel commented on #4725
But okay... I'm doing manually so no one else takes this up before you do

[2021-10-06 06:46] prathimacode-hub commented on #4665
@soma2000-lang, Issues assigned on FCFS, also make sure you add your details instead of just adding /assign next time.

[2021-10-06 06:47] motasimmakki commented on #4541
@nimisha-yadav
As this issue is not assigned to anyone by the maintainer, kindly assign this to me ✨

[2021-10-06 06:47] roopali-1 commented on #4725
yes, thank you sir ..for assigning :)

[2021-10-06 06:47] prathimacode-hub commented on #4667
This issues are opened only for DSWP batch not Open source. @KushalMehta39

[2021-10-06 06:49] prathimacode-hub commented on #4668
Issue assigned to @hrugved06 for documentation on FCFS basis.

@PurviBhoyar21, are you not from DSWP batch?

[2021-10-06 06:53] nimisha-yadav commented on #4541
Hey, queue is not part of our week 3, 2 or 1 agenda so such Issues/PRs are discarded. I'll be creating 9-10 issues by evening, stay active, you can work on them.

[2021-10-06 06:53] #4541 closed

[2021-10-06 06:54] nirati16 commented on #4179
/assign

[2021-10-06 06:58] KunalJaiswal-17 commented on #93
I want to work on this issue if possible

[2021-10-06 07:04] #4504 closed

[2021-10-06 07:08] nirati16 commented on #1277
/assign

[2021-10-06 07:10] nirati16 commented on #645
/assign

[2021-10-06 07:11] nirati16 commented on #34
/assign

[2021-10-06 07:12] nirati16 commented on #19
/assign

[2021-10-06 07:18] nirati16 commented on #4732
/assign

[2021-10-06 07:19] rishitajain01 commented on #2945
/assign documentation & video

[2021-10-06 07:20] #4732 closed

[2021-10-06 07:36] wasim2725 opened #4743 "Count Sort in C++"
### Description

Both Algorithm and code will be explained with the help of documentation.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-10-06 07:36] wasim2725 commented on #4743
/assign

[2021-10-06 07:36] soma2000-lang commented on #4667
/assign documentation

Somasree Majumder DSWP batch 12

[2021-10-06 07:37] soma2000-lang commented on #4667
/assign

[2021-10-06 07:41] monalsingh10 commented on #4543
Sorry !! I thought this is the way of assigning .Once again sorry!!

[2021-10-06 07:43] vanshhhhh commented on #1828
@prathimacode-hub kindly close this issue. Thanks.

[2021-10-06 08:02] pushpit-J19 opened #4744 "Jump Search"
### Description

Description
Introduction, problem, approach, complexity, code with pics wherever required

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-10-06 08:02] pushpit-J19 commented on #4744
/assign

[2021-10-06 08:02] #2281 closed

[2021-10-06 08:04] pushpit-J19 commented on #4744
@nimisha-yadav hope this issue is fine and allowed ?

[2021-10-06 08:09] Saviour1001 commented on #4166
Closing this issue as this is not the behaviour I was expecting from all you guys. Please understand the workflow and then start working, just commenting /assign haphazardly on all issues is not how it's supposed to be. Go through the resources provided in the #announcements channel of Discord.
If still in doubt ping any mentor on Discord but don't act without thinking.
@SudhansuuRanjan @mukeshmjn

[2021-10-06 08:09] #4166 closed

[2021-10-06 08:17] TishaJhabak1014 commented on #4543
It is okay. Be a bit active. And you can always create issues for yourself. Head over to the thread and take whatever topic suits and ask for assignment. All the best!

[2021-10-06 08:18] Deepanshu-bhalla commented on #3123
@queenish001 I'm on it will complete in a day or two.

[2021-10-06 08:21] aishanii opened #4747 "Data Science With Python: Data Pre-processing"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to core information to 'Data Pre-processing' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentation,

[2021-10-06 08:27] aishanii opened #4748 "Data Science With Python: Dealing with missing values"
### Description

Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Dealing with missing values in data' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and t

[2021-10-06 08:33] aishanii opened #4749 "Data Science With Python: Binning in Python"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Binning in Python' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documenta

[2021-10-06 08:36] aishanii opened #4750 "[Create New Issue]:"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Polynomial regression' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Docum

[2021-10-06 08:36] Sin-Sumit commented on #3135
Hey, @sifa123 Please add hacktoberfest-accepted label so that it will be counted. My last PR merged but was not counted because of that label Please add the label in this.

[2021-10-06 08:38] aishanii opened #4751 "Data Science with Python: Polynomial regression"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Polynomial Regression' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Docum

[2021-10-06 08:40] aishanii opened #4752 "Data Science with Python: Data Science pipelines"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Data Science Pipelines' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Docu

[2021-10-06 08:44] aishanii opened #4753 "Data Science with Python: Coefficient of determination"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Coefficient of determination' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer

[2021-10-06 08:48] aishanii opened #4754 "Data Science with Python: R squared and Mean squared error"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'R squared and Mean squared error' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you pr

[2021-10-06 08:49] aishanii opened #4755 "Data Science with Python: Video analysis with Computer Vision"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Video analysis with Computer Vision' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you

[2021-10-06 08:53] aishanii opened #4757 "Data Science with Python: 3D reconstruction with Computer Vision"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about '3D reconstruction with Computer Vision' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice

[2021-10-06 08:55] aishanii opened #4758 "Data Science with Python: Optical flow algorithms"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Optical flow algorithms' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Doc

[2021-10-06 08:55] ayushjha952 commented on #4309
@pjdurden @Subhradeep10  can you please check the above PR once?

[2021-10-06 08:58] aishanii opened #4759 "Data Science with Python: Introduction to SQL with Python"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Introduction to SQL with Python' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you pre

[2021-10-06 09:00] aishanii opened #4760 "Data Science with Python: Flask for Data Science"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Flask for Data Science' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Docu

[2021-10-06 09:04] ayushi424 commented on #4747
Name: Ayushi Shrivastava
Serial no 811
Batch no: 19
contribution type: Documentation

[2021-10-06 09:13] #4650 closed

[2021-10-06 09:27] Aryamanz29 commented on #4760
@aishanii  Please avoid adding other `domain labels` to issues, You have added `Open source` keyword in your issue description that why bot adding `Opensource` label to it

[2021-10-06 09:52] NikhilSharma03 opened #4765 "Frontend with Framework: Introduction to useMemo"
### Description

Contributors are required to create documentation and explain:-

- What is `useMemo`
- Why use `useMemo`
- Advantages of `useMemo`

Note :
Plagiarism is strictly prohibited.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Development_React_Angular_Vue branch.
Files need to be added into the Week3 folder only.

### Domain

Front

[2021-10-06 09:58] YASHMAROO commented on #2063
/assign

[2021-10-06 10:00] YASHMAROO commented on #4765
/assign

[2021-10-06 10:17] shreyarai05 commented on #3800
Mam can i prepare simple doc file for the resolving issue?

On Sun, 3 Oct, 2021, 2:01 PM Prathima Kadari, ***@***.***>
wrote:

[2021-10-06 10:20] priyankapiba commented on #4206
Which mentor is assigned to me @adityabisoi ?

[2021-10-06 11:06] 124015001 opened #4773 "C_CPP: Error Handling in Files"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-06 11:07] 124015001 commented on #4773
/assign

[2021-10-06 11:08] shreyarai05 commented on #3800
@prathimacode-hub
mam would u tell me what kind of file i need to prepare for contributing

[2021-10-06 11:26] Elisha-s commented on #1790
/assign

[2021-10-06 11:26] aashigupta355 commented on #4717
/assign

[2021-10-06 11:28] Elisha-s commented on #1402
/assign

[2021-10-06 11:40] husain3012 commented on #4607
/assign

[2021-10-06 11:42] aman12207 opened #4777 "Euclid Algorithm for GCD in C++"
### Description

Added documentation on Euclid Algorithm for GCD in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-10-06 11:42] aman12207 commented on #4777
/assign

[2021-10-06 12:02] Anant1711 commented on #1674
okay submit it by today!

[2021-10-06 12:10] ashish-reddy-20-08 commented on #4747
@aishanii @prathimacode-hub , Mam can you please assign this issue to me for audio contribution.
M. Ashish Reddy
Batch - 5
serial number : 174
Approach: A detailed explanation

[2021-10-06 12:27] Anant1711 commented on #786
Assigned!

[2021-10-06 12:27] Anant1711 commented on #4408
Assigned for Video

[2021-10-06 12:30] roopali-1 commented on #4543
@adityabisoi Thank you :)

[2021-10-06 12:38] #3645 closed

[2021-10-06 12:40] Hritik157 opened #4778 "[Frontend with HTML/CSS]: JavaScript"

[2021-10-06 12:40] Hritik157 commented on #4778
/ assign

[2021-10-06 12:42] Hritik157 commented on #4778
/assign

[2021-10-06 12:45] nimisha-yadav opened #4779 "2.1.18.1_Lyndon_Factorization - Documentation"
## Description
What is Lyndon factorization? Discuss Duval algorithm, give its implementation and complexity.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CO

[2021-10-06 12:45] nimisha-yadav opened #4780 "2.1.18.1_Lyndon_Factorization - Video"
## Description
What is Lyndon factorization? Discuss Duval algorithm, give its implementation and complexity.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTI

[2021-10-06 12:45] nimisha-yadav opened #4781 "2.1.18.1_Lyndon_Factorization - Audio"
## Description
What is Lyndon factorization? Discuss Duval algorithm, give its implementation and complexity.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTI

[2021-10-06 12:46] nimisha-yadav opened #4782 "2.1.18.2_Suffix_Automaton - Documentation"
## Description
What is suffix automaton for a string? Discuss its properties and give examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#

[2021-10-06 12:46] nimisha-yadav opened #4783 "2.1.18.2_Suffix_Automaton - Video"
## Description
What is suffix automaton for a string? Discuss its properties and give examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-10-06 12:46] nimisha-yadav opened #4784 "2.1.18.2_Suffix_Automaton - Audio"
## Description
What is suffix automaton for a string? Discuss its properties and give examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-10-06 12:47] nimisha-yadav opened #4785 "DSA 2.1.19_Expression_Parsing - Audio"
## Description
What is Expression Parsing? Discuss the notations and properties.
**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes shoul

[2021-10-06 12:47] nimisha-yadav opened #4786 "DSA 2.1.19_Expression_Parsing - Video"
## Description
What is Expression Parsing? Discuss the notations and properties.
**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes shoul

[2021-10-06 12:47] nimisha-yadav opened #4787 "DSA 2.1.19_Expression_Parsing - Documentation"
## Description
What is Expression Parsing? Discuss the notations and properties.
**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Chang

[2021-10-06 12:48] nimisha-yadav opened #4788 "DSA 2.2 Stability in Sorting Algorithms - Documentation"
## Description
What do you mean by stability in sorting algorithms? Which sorting algorithms are unstable? Give examples. How can you make them stable?
**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscri

[2021-10-06 12:48] nimisha-yadav opened #4789 "DSA 2.2 Stability in Sorting Algorithms - Video"
## Description
What do you mean by stability in sorting algorithms? Which sorting algorithms are unstable? Give examples. How can you make them stable?
**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winte

[2021-10-06 12:49] nimisha-yadav opened #4790 "DSA 2.2 Stability in Sorting Algorithms - Audio"
## Description
What do you mean by stability in sorting algorithms? Which sorting algorithms are unstable? Give examples. How can you make them stable?
**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winte

[2021-10-06 12:50] jaissumi1402 commented on #4787
Sumi jaiswal DSA batch-4  please assign this issue to me

[2021-10-06 12:50] goelesha commented on #3304
@Sumit3301 Assigning the issue to you to work on audio. All the best!!

[2021-10-06 12:51] Satyam175 commented on #3042
Ok

[2021-10-06 12:51] #4546 closed

[2021-10-06 12:52] YASHMAROO commented on #3042
Thank You @Satyam175

[2021-10-06 12:52] Isha307 commented on #610
@mohitmishra786 dm me on discord.

[2021-10-06 12:52] pushpit-J19 commented on #4788
Can you please assign this to me
Pushpit Jain
batch 1

[2021-10-06 12:55] vanshhhhh commented on #4664
/assign

[2021-10-06 13:01] #4127 closed

[2021-10-06 13:02] Sin-Sumit opened #4792 "Add Type Conversion in Programming Fundamentals of JavaScript"
### Description

In Programming Fundamentals of JavaScript, Type Conversion chapter file need to be added.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-con

[2021-10-06 13:08] pankaj-sawnani commented on #4754
/assign
I would like to work on this.
Pankaj Sawnani - 935
Batch - 21
Issue No - #4754
Type: Doccumentation

[2021-10-06 13:09] pankaj-sawnani commented on #4748
/assign
I would like to work on this.
Pankaj Sawnani - 935
Batch - 21
Issue No - #4748
Type: Doccumentation

[2021-10-06 13:10] Hritik157 commented on #4782
@nimisha-yadav mam I'm not the part DSA contribution domain, still can I contribute in this issue? Though I'm part of GWOC

[2021-10-06 13:10] Hritik157 commented on #4782
If possible could you assign this issue to me

[2021-10-06 13:11] sonali-t commented on #4782
@nimisha-yadav  I would like to work on this issue(documentation part). Please assign it to me.
Sonali Tomar
DSA Batch-4

[2021-10-06 13:18] #4778 closed

[2021-10-06 13:24] riyasai22 commented on #2203
I've submitted my PR @abhisheks008
Kindly review it.

[2021-10-06 13:27] 101Priyanshi commented on #3417
Updated the documentation of polynomial regression. Please review and merge.

[2021-10-06 13:28] #3278 closed, assigned to utkarshpathak2504

[2021-10-06 13:28] RC2208 opened #4797 "Python: Top 10 libraries used in python"
### Description

Document on top 10 libraries used in python
- Approach: Introduction, properly commented code, images wherever required and applications.
- [x] GWOC21
-Under hacktoberfest-accepted label as well

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob

[2021-10-06 13:29] RC2208 commented on #4797
Name: Ritika Chand
- Batch: 4
- Sr. No: 126
- [GitHub Profile](https://github.com/RC2208)

[2021-10-06 13:29] uzma024 commented on #4789
please assign me to this issue
Name: Uzma Firoz Khan
Batch: 10
type: Video

[2021-10-06 13:32] RC2208 commented on #4797
/assign

[2021-10-06 13:35] ashish-reddy-20-08 commented on #4108
@abhisheks008 , Can you please evaluate my PR sir,
PR link:  https://github.com/girlscript/winter-of-contributing/pull/4798

[2021-10-06 13:42] surjyaneeh commented on #565
@adityabisoi I would like to work on this issue via audio.

[2021-10-06 13:47] sonali-t opened #4805 "C_CPP: Union in C/CPP"
### Description

Documentation on Union concept in C/Cpp.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-06 13:47] sonali-t commented on #4805
/assign

[2021-10-06 13:48] thatSophisticatedMess18 commented on #4779
okay, sorry mam.

[2021-10-06 13:49] #2120 closed

[2021-10-06 13:50] rk18venom commented on #551
@ankurg132 sir I have added a text file having the reference link of the audio file and its presentation file. Can you review it once again?

[2021-10-06 14:07] #4693 closed

[2021-10-06 14:13] subhram260 commented on #4760
/assign

[2021-10-06 14:18] surjyaneeh commented on #565
@LegendSumeet I am asking for audio,is it done?

[2021-10-06 14:18] shreyansh2416 commented on #517
Hello @rahulsain  I want to work on this issue via audio file.
Batch- 4 Android with Kotlin

[2021-10-06 14:28] adityabisoi commented on #4206
@hritikksingh Is the mentor of this issue

[2021-10-06 14:29] adityabisoi commented on #3775
@nirvikagarwal Is the mentor of this issue

[2021-10-06 14:29] adityabisoi commented on #4444
@Randrita Is the mentor of this issue

[2021-10-06 14:30] KTK-5901 commented on #4369
@nimisha-yadav Please see if I have merged properly

[2021-10-06 14:33] Abhay3008 commented on #4723
/assign

[2021-10-06 14:38] ujju20 commented on #4790
Can I take this issue?

[2021-10-06 14:39] adityabisoi commented on #4666
Related issue  was already created. Closing this

[2021-10-06 14:39] #4666 closed

[2021-10-06 14:41] BhaswatiRoy commented on #4206
okay sir thank you

[2021-10-06 14:42] adityabisoi commented on #4623
Go ahead

[2021-10-06 14:45] adityabisoi commented on #4286
This topic is already covered. Closing this issue

[2021-10-06 14:45] #4286 closed

[2021-10-06 14:49] #4116 closed

[2021-10-06 14:51] vatsss opened #4816 "[DSA 2.1]: String hashing"
### Description

Documentation on String Hashing in C++.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-06 14:51] pjra99 opened #4817 "Arrays"
### Description

Will contribute a file having basic 1D array tutorial in java

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-10-06 14:51] #4336 closed

[2021-10-06 14:53] saloni-15 opened #4818 "MERN_MongoDB: 2.1 MongoDB installation and configuration - Windows (V)"
### Description

## Installing MongoDB on Windows
- **Explain all the steps for installing and configuring MongoDB on Windows.**

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `2.1_MongoDB_Installation_and_Configuration_Windows(V).md`

### Domain

MERN

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://gith

[2021-10-06 14:54] saloni-15 opened #4820 "MERN_MongoDB: 2.2 MongoDB installation and configuration - macOS(V)"
### Description

## Installing MongoDB on macOS
- **Explain all the steps for installing and configuring MongoDB on Windows.**

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `2.2_MongoDB_Installation_and_Configuration_MacOS(V).md`

### Domain

MERN

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.c

[2021-10-06 14:55] ujju20 commented on #4790
My Full name is Ujjawal Sharma and batch number is 1.

[2021-10-06 14:59] saloni-15 opened #4822 "MERN_MongoDB: 3.2 CRUD operations in MongoDB(V)"
### Description

## CRUD operations in MongoDB shell
- Explain Create, Read, Update and Delete operations on a database using MongoDB CLI.

## Project Directory
`Branch MERN>MERN/Topic/Backend/MongoDB/`

### Name the file as `3.2_CRUD_Operations_in_MongoDB(V).md`

### Domain

MERN

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/gir

[2021-10-06 15:02] awesometushar000 commented on #484
I have done my pr.

[2021-10-06 15:19] aishapervin commented on #4822
@saloni-15 can we do the documentation part in it?or is it just the video part of this issue?

[2021-10-06 15:22] #2694 closed

[2021-10-06 15:24] preeti003 opened #4825 "Static/Dynamic scoping in c"
### Description

This issue will contain documentation related to introduction about Static/Dynamic scoping in C with examples.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-c

[2021-10-06 15:24] preeti003 commented on #4825
/assign

[2021-10-06 15:26] #4288 closed

[2021-10-06 15:28] #2142 closed

[2021-10-06 15:40] RIYANSHGARG commented on #4765
@NikhilSharma03 Sir please post the link of issue on discord when you create any new issue. So that we can get notified and Can participate in it.

[2021-10-06 15:45] motasimmakki opened #4828 "[C/CPP]: Graph- Flood Fill Algorithm"
### Description

This issue will include the explanation and implementation of the Flood Fill Algorithm.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-10-06 15:54] AkMo3 opened #4830 "Java 20.3: AnnotedElement Interface"
### Description
 Add audio, documentation, and video regarding the **AnnotedElement Interface**

 **Location of File to be added** The files should be added inside the  _`AnnotedElementInterface`_  will be inside _`Annonations`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb`

[2021-10-06 15:55] AkMo3 opened #4831 "Java 20.4"
### Description
 Add audio, documentation, and video regarding the **Default,marker annotations,single member annotations**

 **Location of File to be added** The files should be added inside the  _`AnnotationTypes`_  will be inside _`Annonations`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in

[2021-10-06 15:56] AkMo3 opened #4833 "Java 20.5: Built-in annotations"
### Description
 Add audio, documentation, and video regarding the **Built-in annotations**

 **Location of File to be added** The files should be added inside the _`Built_In_Annotations`_ which will be inside _`Annonations`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb` fo

[2021-10-06 16:07] #4655 closed

[2021-10-06 16:09] #4695 closed

[2021-10-06 16:11] parvatijay2901 commented on #990
Hello @Saviour1001 @Suvraneel @kashishahuja2002 please look into it.

[2021-10-06 16:32] #4101 closed

[2021-10-06 16:34] #2203 closed

[2021-10-06 16:38] ganaaduvva commented on #2947
In which folder do I need to contribute the audio @Ash515

[2021-10-06 16:39] Suvraneel commented on #1138
End of stale period

[2021-10-06 16:45] Parth-001-git commented on #542
@rahulsain
Android_Development_with_Kotlin../01. Git flow & commands../01.2 Git flow & commands.md
I am using this folder structure but I don't know what the problem.

[2021-10-06 16:45] kajaljha09 opened #4841 "CSS Pagination"
### Description

I will be creating documentation on CSS pagination.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CO

[2021-10-06 16:45] AbhishekBhatt072003 commented on #4833
/assign document

[2021-10-06 16:46] AbhishekBhatt072003 commented on #4833
/assign

[2021-10-06 16:49] AbhinandanAdhikari commented on #4833
@AkMo3 @garvitraj I've commented first for documentation, please assign

[2021-10-06 17:08] buildwithmegha opened #4846 "Implementation of Hash Tables with Linear Probing"
### Description

In this documentation , I will explain how to implement hash tables with Linear Probing .
I will discuss:
* Insertion an element in hash table
* Searching  an element  in hash table
* Displaying elements of hash table
*  Deletion of  an element in hash table

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](h

[2021-10-06 17:08] am-dusky commented on #4846
/assign

[2021-10-06 17:12] Utkarsh-Arora-007 commented on #118
@VikasPandey121 Please assign this issue to me...… This will be my first Issue..... Plz tell me about the requirements in order to successfully merge the code in the repo
Thank you

[2021-10-06 17:14] Utkarsh-Arora-007 commented on #123
@VikasPandey121 Kindly assign this issue to me.....I would be very thankful to you

[2021-10-06 17:15] paurush11 opened #4849 "[Create New Issue]:"
### Description

 #Steps by Knight
Given a square chessboard, the initial position of Knight and position of a target. Find out the minimum steps a Knight will take to reach the target position.

Note:
The initial and the target position co-ordinates of Knight have been given accoring to 1-base indexing.

Topics -
 BFS Graph Queue

Expected Time Complexity: O(N2).
Expected Auxiliary Space: O(N2).

[2021-10-06 17:36] nehakale8 commented on #4749
Please assign this issue to me
Name: Neha Kale
Type: documentation
Serial no: 114
Batch 5
Thank You

[2021-10-06 17:52] sakshi168 opened #4855 "Data Abstraction in C++"
### Description

Describing all about Data Abstraction in C++

### Domain

C/CPP

### Type of Contribution

Audio, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-10-06 17:52] sakshi168 commented on #4855
/assign

[2021-10-06 17:56] Tirth-AI commented on #4752
/assign

[2021-10-06 17:58] jaigora24 commented on #4831
/assign document

[2021-10-06 18:00] #4723 closed

[2021-10-06 18:02] Danish-Belal opened #4857 "string pool in java"
### Description

Explain String pool in java

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-06 18:03] Danish-Belal commented on #4857
/assign

[2021-10-06 18:03] jaigora24 commented on #4857
/assign document

[2021-10-06 18:03] jaigora24 commented on #4857
/assign

[2021-10-06 18:04] #4456 closed

[2021-10-06 18:05] Danish-Belal opened #4858 "stringstream in cpp"
### Description

Explain how stringstream works in CPP  with code with a proper explanation of how it is working.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-10-06 18:06] aniket-24 opened #4859 "Count Sort in C++"
### Description

In this, we will get a brief idea about Count Sort

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-10-06 18:08] Op-panda opened #4861 "Array in C++ (STL)"
### Description

I will be working on this topic in video format.
since no one has made any contribution on this topic , and I want to finish STL. so I am making an issue over this.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of cond

[2021-10-06 18:08] Op-panda commented on #4861
/assign

[2021-10-06 18:12] Op-panda opened #4863 "Set in cpp (STL)"
### Description

I will be working on this topic in video format.
Since no one had taken topic. I want it to be covered.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blo

[2021-10-06 18:12] Op-panda commented on #4863
/assign

[2021-10-06 18:13] #4863 closed

[2021-10-06 18:16] Danish-Belal opened #4864 "2D Array Question"
### Description

2D Array Questions.

### Domain

C_CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-06 18:16] Krunal-16 opened #4865 "Stacks & Queue."
### Description

Implementation of stack and queues. How actually they are working and what are their Applications.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-10-06 18:17] Danish-Belal commented on #4864
assign/

[2021-10-06 18:19] Danish-Belal commented on #4864
assign/

[2021-10-06 18:20] Danish-Belal commented on #4864
assign/

[2021-10-06 18:24] uzma024 commented on #4360
@nimisha-yadav I am confused about the approaches to code substring. Is it about the following approaches to code a function to create substring of an array:
1.   substring(beginning_index),
2.   substring(beginning_index,ending_index),
3.   substring(ending_index).

Or is it talking about some algorithms, I don't know about. Am I missing something?

[2021-10-06 18:25] Apoorv-17 commented on #4754
Name: Apoorv Yadav
Batch: 15
Type: Video
Serial No: 537
Approach:
Introduction to r-squared and mse?
Its implementation and advantages over one another.

[2021-10-06 18:25] SourabhSaraswat-191939 opened #4866 "FRONTEND WITH FRAMEWORK: VueJS-3.1 => Inline style manipulation"
### Description

Contributors are required to explain about Inline style manipulation using Bindings in Vue.js, which should cover questions like:-
What is Bindings Inline style in Vue.js?
How does this work?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 examples with codes of different types to explain this.
etc....

Note:

Plagiarism is strictly prohibi

[2021-10-06 18:27] nooobcoder commented on #4866
/assign

[2021-10-06 18:27] nooobcoder commented on #4866
Let me work on this!

[2021-10-06 18:31] Aryamanz29 commented on #4688
@VandanaKumari18  Go ahead 🎉🎉

[2021-10-06 18:38] poorvi-vaish commented on #4864
If it is not assigned yet, I think you're using the wrong method, use /assign

[2021-10-06 18:42] sakshi168 opened #4870 "Data Abstraction in c++ (video)"
### Description

All about Data Abstraction in proper video format.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-06 18:42] sakshi168 commented on #4870
/assign

[2021-10-06 18:47] hardikk2002 opened #4871 "MERN_Express: 5.0 Creating Simple Calculator (D)"
### Description

### :pushpin: Work Flow
- Create 4 get `routes` and 4 posts `routes`
       - For, `Addition, subtraction, division and multiplication`.
- On `get send JSON data`, like, please give two numbers for that route.
      - Show response image on `POSTMAN`.
- Send body for the `Post request`, through postman only.
     - In express server work with this `req.body.n1 and n2`, and send JS

[2021-10-06 18:47] VikasPandey121 commented on #118
I am assigning this issue to you @Utkarsh-Arora-007.

[2021-10-06 18:48] ELLIPSIS009 commented on #4755
I would like to work on this
Abhinav Mathur- 573
Type: Documentation
Approach: what is computer vision, how video analysis is done, example, python implementation
@prathimacode-hub @aishanii

[2021-10-06 18:51] aishapervin commented on #4871
/assign

[2021-10-06 18:51] aishapervin commented on #4871
@hardikk2002 is it hacktoberfest accepted?

[2021-10-06 18:55] vai14-gaur commented on #4864
/assign

[2021-10-06 18:56] achsahxavier commented on #3775
@adityabisoi
If this issue is open for audio contribution, please assign it to me.
Thank you.

[2021-10-06 19:08] Vaibhavwani11 commented on #4443
I can add some more useful information about c++ templates. Pls assign this issue to me.

[2021-10-06 19:31] Sunainacode opened #4875 "[C/Cpp]: Level Order Traversal in Binary Search Tree Documentation"
### Description

I will be working on level order traversal in a binary search tree.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU