[2021-11-13 20:09] #3918 closed

[2021-11-13 20:11] #404 closed

[2021-11-13 20:16] nimisha-yadav commented on #4790
@ujju20 it's been many days, kindly submit PR within 2 days else the issue will be closed.

[2021-11-13 20:19] nimisha-yadav commented on #5898
@trip0le final call. Kindly submit PR with 2 days else issue will be assigned to other contributors.

[2021-11-13 20:21] nimisha-yadav commented on #5912
@Anushka-Gamad PR updates? Please update on PR within 2 days else the issue will be made open for other contributors.

[2021-11-13 20:23] nimisha-yadav commented on #5917
@khushi123456789 final call. Please do the changes in PR within 2 days else the issue will be made open to other contributors.

[2021-11-13 20:26] nimisha-yadav commented on #5919
@afreenabegum It's been many days, please submit the PR within 2 days.

[2021-11-13 20:27] nimisha-yadav commented on #5923
Go ahead @priyanshu688

[2021-11-13 20:30] nimisha-yadav commented on #1784
@jaigora24 It's been many days, please try to submit this PR within 2 days now.

[2021-11-13 21:23] HarjasSodhi commented on #7593
@heet-kumar tried my best . please review it and let me know if you want me to make any changes.
https://github.com/girlscript/winter-of-contributing/pull/7846

[2021-11-14 02:45] 124015001 opened #7848 "C_CPP: Rules for Virtual Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-14 02:46] 124015001 commented on #7848
/assign

[2021-11-14 02:47] 124015001 opened #7849 "C_CPP: Pure Virtual Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-14 02:47] 124015001 commented on #7849
/assign

[2021-11-14 02:48] 124015001 opened #7850 "C_CPP: Virtual Destructor"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-14 02:48] 124015001 commented on #7850
/assign

[2021-11-14 04:02] abhisheks008 commented on #7508
What's the update here @Preet1406

[2021-11-14 04:02] abhisheks008 commented on #7480
Today is the last date of pushing your PR, do it by EOD @Yugal41735

[2021-11-14 04:08] Preet1406 commented on #7508
@abhisheks008 I'll be done by evening
I'm sorry for the delay, my exams were going on

[2021-11-14 04:09] shreya024 commented on #7845
/assign

[2021-11-14 04:16] afreenabegum commented on #5919
Ok mam

[2021-11-14 04:30] #7593 closed

[2021-11-14 04:58] #7519 closed

[2021-11-14 05:38] abhisheks008 opened #7853 "ML : Breast Cancer Classification (ML-Projects)"
### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : **Breast Cancer Classification**
🔴 **Aim of the Project** : Creating a machine learning model, which will classify breast cancer and then predict accordingly.
🔴 **Dataset** : https://www.kaggle.com/merishnasuwal/breast-cancer-prediction-dataset
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to impleme

[2021-11-14 05:38] deepthi1107 commented on #7853
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to work on this issue.my approach: a detailed explanation

[2021-11-14 05:38] geeythree opened #7854 "ML : MNIST Digits Classification"
### Description

### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : MNIST Digits Classification
🔴 **Aim of the Project** : This project will classify different digits and predict accordingly.
🔴 **Dataset** : https://www.kaggle.com/avnishnish/mnist-original
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to implement more than three machine learning alg

[2021-11-14 05:39] srini047 commented on #7854
Hi, I would like to work on this issue.

Name: Sriniketh J
Batch No: 1
Profile: https://github.com/srini047/
Type: Documentation

[2021-11-14 05:40] abhisheks008 opened #7855 "ML : IMDB Box Office Prediction (ML-Projects)"
### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : **IMDB Box Office Prediction**
🔴 **Aim of the Project** : Machine learning model to predict the rating of the movies enlisted through IMDB Box Office.
🔴 **Dataset** : https://www.kaggle.com/preetviradiya/imdb-movies-ratings-details
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to implement more than

[2021-11-14 05:41] geeythree opened #7856 "ML : Sentiment Analysis on Twitter Data"
### Description

### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : Sentiment Analysis on Twitter Data
🔴 **Aim of the Project** : Analysing the sentiment of the users and creating a prediction model based on the data, which will predict the sentiment of the user.
🔴 **Dataset** : https://www.kaggle.com/arkhoshghalb/twitter-sentiment-analysis-hatred-speech
🔴 **Domain

[2021-11-14 05:41] vanshhhhh commented on #7855
Please assign this issue to me.
Name: Vansh Sharma
Domain: ML Batch 3
Github link: https://github.com/vanshhhhh

[2021-11-14 05:42] abhisheks008 opened #7858 "ML : Customer Segmentation (ML-Projects)"
### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : **Customer Segmentation**
🔴 **Aim of the Project** : Analysing different types of customers around the globe and build a classification model accordingly.
🔴 **Dataset** : https://www.kaggle.com/vetrirah/customer
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to implement more than three machine learni

[2021-11-14 05:43] abhisheks008 commented on #7853
Follow the guidelines and provide the approach of your project, like which algorithms you gonna use, how you'll check the accuracy of them @deepthi1107

[2021-11-14 05:43] geeythree opened #7859 "ML : Pima Indian Diabetes Analysis"
### Description

### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : Pima Indian Diabetes Analysis
🔴 **Aim of the Project** : Creating a machine learning model, which will classify the diabetes and then predict accordingly.
🔴 **Dataset** : https://www.kaggle.com/uciml/pima-indians-diabetes-database
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to impl

[2021-11-14 05:45] abhisheks008 commented on #7854
@srini047 This is a project work, not a documentation. Issue assigned to you, complete it within 3 days.

[2021-11-14 05:46] Isha307 opened #7860 "ML : Kaggle's Titanic Prediction"
### Description

### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : Kaggle's Titanic Prediction
🔴 **Aim of the Project** :  Use machine learning to create a model that predicts which passengers survived the Titanic shipwreck.
🔴 **Dataset** : https://www.kaggle.com/c/titanic/data
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to implement more than thr

[2021-11-14 05:46] ashish-reddy-20-08 commented on #7860
I am M. Ashish Reddy, I would like to work on this issue.

Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
Approach: A detailed explanation.

[2021-11-14 05:46] VidhiBhatt01 commented on #7860
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-14 05:46] abhisheks008 commented on #7855
Follow the guidelines and then comment out @vanshhhhh

[2021-11-14 05:49] raina-akshay commented on #7860
Follow the guidelines and provide the approach of your project, like which algorithms you gonna use, how you'll check the accuracy of them

[2021-11-14 05:49] ASLManasa commented on #7859
ASL Manasa
Batch - 1
https://github.com/ASLManasa
ML- Projects

[2021-11-14 05:49] Isha307 opened #7861 "ML : House Price Prediction"
### Description

### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : House Price Prediction
🔴 **Aim of the Project** : This project predicts the prices of houses located in the cities of the US, with the help of essential features.
🔴 **Dataset** : https://www.kaggle.com/shree1992/housedata
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to implement mor

[2021-11-14 05:49] deepthi1107 commented on #7853
Full name : Deepthi M
Batch Number : 02
GitHub Profile Link :  https://github.com/deepthi1107
Approach for this Project : a detailed EDA and I would like to use supervised machine learning models.
Are you a participant of GWoC21?
 YES

[2021-11-14 05:49] VidhiBhatt01 commented on #7861
Please assign this issue to me.
Name: Vidhi Bhatt
Domain: ML Batch 3
Serial no: 490
Github link: https://github.com/VidhiBhatt01
Documentation

[2021-11-14 05:50] VidhiBhatt01 commented on #7861
For approach I will let you know in few mins

[2021-11-14 05:50] abhisheks008 commented on #7859
What will be your approach for this project, what are the algorithms you wanted to use, how will you visualize the data. Provide us the approach in detail @ASLManasa

[2021-11-14 05:53] shaurya24sri commented on #7658
@adityabisoi Please mention the mentor name.
PR-https://github.com/girlscript/winter-of-contributing/pull/7862

[2021-11-14 05:53] kshitijshrivastava1903 opened #7863 "ML : Wine Quality Prediction Project"
### Description

🔴 Project Title : Wine Quality Prediction
🔴 Aim of the Project : The objectives of this project are as follows
1. To experiment with different classification methods to see which yields the highest accuracy
2. To determine which features are the most indicative of a good quality wine
🔴 Dataset : https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
🔴 Domain : Machine Lea

[2021-11-14 05:53] ASLManasa commented on #7859
@abhisheks008 yes updated!

[2021-11-14 05:53] divya-chhoriya commented on #7863
please assign me this issue
Divya Chhoriya
batch 2
documentation
https://github.com/divya-chhoriya

[2021-11-14 05:54] abhisheks008 commented on #7853
Issue assigned @deepthi1107 , complete this within 3 days.

[2021-11-14 05:54] kshitijshrivastava1903 commented on #7863
This is audio contribution type issue.

[2021-11-14 05:55] abhisheks008 commented on #7859
Great @ASLManasa , issue assigned to you, complete it within 3 days.

[2021-11-14 05:56] abhisheks008 commented on #7855
Issue assigned @vanshhhhh , complete this within 3 days

[2021-11-14 05:58] shaurya24sri commented on #3746
@adityabisoi .Can I contribute as audio for this issue

[2021-11-14 05:59] kshitijshrivastava1903 commented on #7863
You can start working on it.

[2021-11-14 05:59] divya-chhoriya commented on #7863
for documentation?

[2021-11-14 06:00] kshitijshrivastava1903 commented on #7863
Yes, its documentation only

[2021-11-14 06:00] divya-chhoriya commented on #7863
please assign me this issue
Divya Chhoriya
batch 2
documentation
https://github.com/divya-chhoriya

[2021-11-14 06:00] riyasai22 commented on #7863
I would like to contribute to this issue.
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22

[2021-11-14 06:01] riyasai22 commented on #7856
I would like to contribute to this issue.
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
contribution type:documentation

[2021-11-14 06:01] VidhiBhatt01 commented on #7861
@Isha307

Approach: EDA and algorithms like linear regression, random forest, and gradient boost.

Just for info, can I change the algorithms later if I face any issues while working??

[2021-11-14 06:04] abhisheks008 commented on #7856
Follow the guidelines and provide the approach of your project, like which algorithms you gonna use, how you'll check the accuracy of them @riyasai22

[2021-11-14 06:05] NikitaEmberi commented on #7858
Name-Nikita Bhrugumaharshi Emberi
Domain-Machine Learning
Batch-6
Serial No-992
Type : Documentation

[2021-11-14 06:05] abhisheks008 commented on #7858
Follow the guidelines and provide the approach of your project, like which algorithms you gonna use, how you'll check the accuracy of them @NikitaEmberi

[2021-11-14 06:07] NikitaEmberi commented on #7858
Please can I let you know the procedure after some time...? @abhisheks008

[2021-11-14 06:07] abhisheks008 commented on #7863
Follow the guidelines and provide the approach of your project, like which algorithms you gonna use, how you'll check the accuracy of them @divya-chhoriya

[2021-11-14 06:09] abhisheks008 commented on #7858
Ok. No problem, once you tell me your approach I'll assign you for sure.

[2021-11-14 06:13] divya-chhoriya commented on #7863
Okay
I will be using different ML algorithms such as Random forest, decision tree, adaboost, and gradient boosting.  I will calculate the accuracy score, precision, recall, f1score and display confusion matrix for all the algorithms

[2021-11-14 06:13] NikitaEmberi commented on #7858
@abhisheks008 , I'm thinking of using KNN, Linear SVC, Random Forest and XGBoost Classifier to classify the customers and compare the accuracy of the models.

[2021-11-14 06:15] abhisheks008 commented on #7858
And then you'll find the best fitted model. But before that add some visualizations of the dataset (EDA things). Got it @NikitaEmberi ?

[2021-11-14 06:16] abhisheks008 commented on #7863
@divya-chhoriya Before creating the models, visualize the data (EDA things) will be great.

[2021-11-14 06:17] #7687 closed

[2021-11-14 06:17] RIYANSHGARG commented on #6323
Yeah by today I will create a pr.

[2021-11-14 06:17] kshitijshrivastava1903 opened #7864 "ML Projects : Heart Disease Prediction"
### Description

📌 Issues for Week 9 - Basic Projects of Machine Learning
🔴 Project Title : Heart Disease Prediction
🔴 Aim of the Project : Use this dataset to predict which patients are most likely to suffer from a heart disease in the near future using the features given.
🔴 Dataset : https://www.kaggle.com/rishidamarla/heart-disease-prediction
🔴 Domain : Machine Learning
🔴 Special Credit : Try t

[2021-11-14 06:17] abhisheks008 commented on #7861
Yeah of course, but try to use more than 3-4 algorithms, which will provide a good comparison among the algorithms. @VidhiBhatt01

[2021-11-14 06:17] NikitaEmberi commented on #7858
@abhisheks008 yes

[2021-11-14 06:18] divya-chhoriya commented on #7863
Yeah I will do that also

[2021-11-14 06:18] VidhiBhatt01 commented on #7861
Cool, I will try my best.

[2021-11-14 06:19] abhisheks008 commented on #7858
Great then issue assigned to you @NikitaEmberi , complete  this within 3 days.

[2021-11-14 06:19] NikitaEmberi commented on #7858
One more doubt, Can I change the algorithms later, if there is a need to change...?

[2021-11-14 06:19] abhisheks008 commented on #7863
Great! All the best @divya-chhoriya

[2021-11-14 06:21] abhisheks008 commented on #7858
Yeah you can, but try to use more than 3-4 algorithms, which  will help you to make a good comparison @NikitaEmberi

[2021-11-14 06:21] riyasai22 commented on #7856
I would like to contribute to this issue.
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Approach:Using modules Tweepy and TextBlob for sentiment analysis also will try EDA method and use f1 score to check the accuracy.
contribution type : documentation

[2021-11-14 06:21] NikitaEmberi commented on #7858
@abhisheks008 sir yes got it. thank you.

[2021-11-14 06:22] abhisheks008 commented on #7856
Contribution type is Projects. As this is a project contribution.

Go ahead, issue assigned to you @riyasai22 , complete this within 3 days.

[2021-11-14 06:24] ayush-sleeping commented on #5961
/assign

[2021-11-14 06:26] hrugved06 commented on #7864
Hrugved kolhe
Batch: 3
GitHub: https://github.com/hrugved06
Type:- Documentation
Interested

[2021-11-14 06:27] mukta-4 commented on #7818
Can I work on this?

[2021-11-14 06:27] mukta-4 commented on #7818
I am interested

[2021-11-14 06:28] kshitijshrivastava1903 commented on #7864
Please tell me your approach of this project.

[2021-11-14 06:33] hrugved06 commented on #7864
Detailed explanation of the steps with preprocessing of data followed by proper EDA (heatmaps, histograms, subplots), then I will perform feature selection and then best algorithm selection.

[2021-11-14 06:37] kshitijshrivastava1903 commented on #7864
You can start working on the project.

[2021-11-14 06:39] kshitijshrivastava1903 commented on #7864
If possible, try to implement one algorithm from scratch, without using sklearn or any other library, so that reader is also clear about the mathematics behind the algorithm.

[2021-11-14 06:58] mohansaitejatalari commented on #7191
/assign

[2021-11-14 07:20] pankaj-sawnani commented on #7337
@prathimacode-hub 👆👆

[2021-11-14 07:29] Harsh652-cpu opened #7868 "Audio for Goto statement in C"
### Description

Here.I will be doing audio contribution on the topic Goto statements in C.

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-14 07:29] Harsh652-cpu commented on #7868
/assign

[2021-11-14 07:53] adityabisoi commented on #7658
@shaurya24sri Link the issue in discord server and ask a mentor to review

[2021-11-14 08:00] ShudhanshuSingh opened #7870 "UI/UX Concepts : Design Thinking"
### Description

Description
* Prepare a good document on Design Thinking which is also knows as the base on which design concepts are developed!!

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-11-14 08:01] TammanaNiharika commented on #7658
@adityabisoi @kumarankm
If I raise a PR, will merge conflicts occur? As someone has already raised PR for audio. Can I continue my work for documentation?

[2021-11-14 08:03] mukta-4 commented on #7870
/assign

[2021-11-14 08:05] ShudhanshuSingh opened #7871 "UI/UX Concepts : The Five Elements of User Experience"
### Description

Description

* Prepare a well documentation on *The five elements of UX designs*
* The Five Elements of UX came from Francisco*The Elements of User Experience* book written by Jesse *James Garrett*, one of the founders of *Adaptive Path*, a user experience consultancy based in *San Francisco*.

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X]

[2021-11-14 08:06] mukta-4 commented on #7871
/assign

[2021-11-14 08:21] heet-kumar commented on #7593
@HarjasSodhi its amazing PR Its quite good and it is already merged. 👍

[2021-11-14 08:35] mridu-pant commented on #572
I would like to contribute to the issue via audio
Mridu Pant
Batch 3

[2021-11-14 09:07] #7781 closed

[2021-11-14 09:17] vishnu95075 opened #7874 "[C_CPP]: NP Completeness"
### Description

# NP Completeness Algorithm

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-14 09:20] vishnu95075 commented on #7874
/assign

[2021-11-14 09:33] trip0le commented on #5898
yes ma'am you can assign it to someone else. sorry for the inconvenience.

[2021-11-14 09:47] HastiSutaria commented on #7698
Name : Hasti Sutaria
Type : Documentation
I would like to work on it. Please assign !
/assign

[2021-11-14 09:56] #6052 closed

[2021-11-14 10:23] utkarshakakade commented on #6660
\assign documentation @garvitraj

[2021-11-14 10:27] Rosy03 commented on #7845
Hello @ShudhanshuSingh I want to do the video content on this issue if possible. Can I do that? Please do assign me for the video contribution for this issue.

[2021-11-14 10:38] Tharunya07 commented on #7149
/assign

[2021-11-14 10:45] utkarshakakade commented on #2164
@garvitraj / assign documentation . No document is uploaded still so can you please assign it to me

[2021-11-14 10:48] satyam-mahajan commented on #6931
Ohk mam, I will do it

[2021-11-14 11:01] priyanshu688 commented on #5923
https://github.com/priyanshu688/winter-of-contributing/pull/24 @nimisha-yadav Please review this PR

[2021-11-14 11:28] adityabisoi commented on #7658
Since you opted for documentation, you only have to include docs and not audio

[2021-11-14 11:32] TammanaNiharika commented on #7658
Okay thank you!
My doubt is also about the same. Can I do documentation or not? Now it's clear

[2021-11-14 12:09] satyam-mahajan commented on #6931
There is no week 6 in angular section. then where should I documented.

[2021-11-14 12:48] satyam-mahajan commented on #6931
mam when I fork the repositery it shows 3 week only in angular section Not available week 6 section in fork. how to do the changes.

[2021-11-14 12:55] mohansaitejatalari commented on #7191
- I will go with documentation

[2021-11-14 13:00] satyam-mahajan commented on #7800
/assign

[2021-11-14 13:23] RIYANSHGARG commented on #6323
https://github.com/girlscript/winter-of-contributing/pull/7881
@mukeshmjn I have created a PR kindly check it.

[2021-11-14 13:27] #7643 closed

[2021-11-14 13:40] abhisheks008 commented on #6612
@samridhikapoor Today is Sunday. Haven't got your PR.

[2021-11-14 13:49] palak1101 opened #7882 "[Backend Development with PHP] : PHP Date and Time"
### Description

Documentation on PHP Date and Time

### Domain

Backend Dev (PHP)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-11-14 13:50] palak1101 commented on #7882
/assign

[2021-11-14 14:17] #6323 closed

[2021-11-14 14:19] uzma024 commented on #7164
@Muskan-creator Kindly review and merge my pr :)

[2021-11-14 14:39] prathimacode-hub commented on #7798
Issue assigned to @pankaj-sawnani for video and @yashh18 for audio contribution

[2021-11-14 14:40] prathimacode-hub commented on #7797
Issue assigned to @pankaj-sawnani for video contribution

[2021-11-14 14:40] samridhikapoor commented on #6612
I have created the PR for this issue. Kindly review the same

Link to the PR: https://github.com/girlscript/winter-of-contributing/pull/7883

Thanks

[2021-11-14 14:41] prathimacode-hub commented on #7669
Dataset is already included in issue details. Check it out. @rahilmehta-24

[2021-11-14 14:42] prathimacode-hub commented on #7666
Already 2 issues are assigned to you. Are you sure you can complete it on time? @pankaj-sawnani

[2021-11-14 14:42] prathimacode-hub commented on #7433
Issue assigned to @Aaksha-sharma for audio contribution

[2021-11-14 14:44] prathimacode-hub commented on #7337
Are you sure, you can complete it. Already issues are assigned to you? @pankaj-sawnani

[2021-11-14 14:58] #7473 closed

[2021-11-14 15:19] Rosy03 commented on #7845
/assign

[2021-11-14 15:20] utkarshakakade opened #7884 "JS: Rollovers"
### Description

What is Rollovers?
Example
Features of Rollovers.
Setting the Stage.
Creating a Rollover.
Text Rollovers.
Multiple Actions for a Rollover.
More Efficient Rollovers.

### Domain

JavaScript_Domain

### Type of Contribution

- [x] Documentation
- [ ] Video
- [ ] Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/

[2021-11-14 15:22] utkarshakakade commented on #7884
/assign documentation

[2021-11-14 15:37] Sayalidoshi opened #7885 "Precision Handling in Python"
### Description

What is Precision Handling?
Methods to handle Precision
Operations
Examples
Manipulate Decimal Part (Setting Precision)

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girls

[2021-11-14 15:38] Sayalidoshi commented on #7885
/assign

[2021-11-14 15:42] Sayalidoshi commented on #7885
@adityabisoi can I go ahead with this issue?

[2021-11-14 15:46] nisha855 opened #7886 "DSA:Largest Rectangular Area in a Histogram"
### Description

Discussed the problem statement of Largest Rectangular Area in a Histogram and explained the brute force as well as efficient approach using Stack.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:

[2021-11-14 15:46] nisha855 commented on #7886
/assign

[2021-11-14 15:53] nisha855 commented on #7886
/assign

[2021-11-14 16:15] #6612 closed

[2021-11-14 16:55] dummy-co-der commented on #7874
/assign

[2021-11-14 16:55] #7868 closed

[2021-11-14 17:09] HastiSutaria commented on #7801
/assign

[2021-11-14 17:10] HastiSutaria commented on #7801
Name : Hasti Sutaria
I would like to work on it

[2021-11-14 17:11] HastiSutaria commented on #7801
I have completed my issues but they aren’t closed by mentors.

[2021-11-14 17:13] HastiSutaria commented on #7700
Name : Hasti Sutaria
Please assign I would like to work on it.

[2021-11-14 17:16] Harsh652-cpu opened #7887 "Audio for array of pointers in C"
### Description

I will be doing an audio contribution on the topic array pointers in C langauge.

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-11-14 17:16] Harsh652-cpu commented on #7887
/assign

[2021-11-14 17:17] anmol20112000 opened #7888 "Android Studio Debugger"
### Description

Android Studio Debugger

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-14 17:18] anmol20112000 commented on #7888
/assign

[2021-11-14 17:25] dummy-co-der commented on #7874
#7890 Done!

[2021-11-14 17:35] AS8420 opened #7892 "Frontend: JavaScript_Explicit_Type_Conversions"
### Description

This documentation contains the related information regards type conversion in javascript.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-co

[2021-11-14 17:35] AS8420 commented on #7892
/assign

[2021-11-14 17:36] #7634 closed

[2021-11-14 17:38] dummy-co-der commented on #6408
@Anant1711 Sir may I do this task in documentation format ?
/assign documentation

[2021-11-14 17:54] HastiSutaria commented on #7801
@anandhu720 please assign this issue. I wish to work on it.

[2021-11-14 17:56] HastiSutaria commented on #7700
@anandhu720  please assign this issue. I wish to work on it.

[2021-11-14 17:56] HastiSutaria commented on #7634
Thank you @anandhu720 !!

[2021-11-14 18:44] VidhiBhatt01 commented on #7480
I would like to work on this, please assign if possible @abhisheks008

[2021-11-14 19:02] Yugal41735 commented on #7480
Just some editing is left I will make pr by today for sure.

[2021-11-14 19:09] Pragati1419 opened #7899 "[Create New Issue]: want to add selective problem of dsa"
### Description

Topic wise selected questions with easy medium and hard level from gfg

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-11-14 20:06] juhik24 opened #7903 "Reverse a Singly Linked List using Recursion"
### Description

Discuss the implementation to reverse a singly Linked List using Recursion.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_

[2021-11-14 20:07] juhik24 commented on #7903
/assign

[2021-11-14 21:11] garvitraj commented on #7845
Go with the video

[2021-11-15 02:50] kishlayaug15 commented on #7797
Name - Kishlay Kumar
Batch - 4
Serial No - 673
GithubLink :- https://github.com/kishlayaug15
Approach: A detailed explanation with Audio

[2021-11-15 03:01] kanthalaHarivardhanReddy commented on #7165
/assign

[2021-11-15 03:56] anandhu720 commented on #7801
sure

[2021-11-15 03:57] anandhu720 commented on #7700
Sure,if you have issue with working on both issue,please tell

[2021-11-15 03:59] #6900 closed

[2021-11-15 04:21] #7476 closed

[2021-11-15 04:48] abhisheks008 commented on #7503
What's the progress here @AdityaNikhil

[2021-11-15 04:49] abhisheks008 commented on #7508
@Preet1406 ❓

[2021-11-15 04:57] ayush-sleeping commented on #491
Hey @rahulsain , I would like fix the Audio part of this issue . <br>
Assign me this issue

[2021-11-15 05:05] ayush-sleeping opened #7908 "Android Kotlin: 02.3 Loops in Kotlin"
## Description :scroll:

* Give a step-by-step tutorial of  Loops in Kotlin .
*  Required "  Video " or " Audio " .

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

## References :
https://kotlinlang.org/docs/control-flow.html

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ directory under Android_Development_Wi

[2021-11-15 05:07] ayush-sleeping commented on #7908
Hey @rahulsain , Because the issue of Loops in Kotlin is already closed , Therefore I have created a new one for Audio and Video contribution . <br>
And I am going to fix the Audio part of this issue .

[2021-11-15 05:07] ayush-sleeping commented on #7908
/assign

[2021-11-15 05:37] VaishnaviPhadtare opened #7909 "Implementation of Stack Using Single Queue"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-15 05:37] VaishnaviPhadtare commented on #7909
/assign

[2021-11-15 05:44] #7503 closed

[2021-11-15 05:51] #6795 closed

[2021-11-15 06:14] kishlayaug15 commented on #7853
Full name : Kishlay Kumar
Batch Number : 04
serial no = 673
GitHub Profile Link : https://github.com/kishlayaug15
Approach for this Project : a detailed EDA and I would like to use supervised machine learning models like svm, decision tree, random forest and many more
Are you a participant of GWoC21?
YES

[2021-11-15 06:15] abhisheks008 commented on #7853
This issue is already assigned to @kishlayaug15

[2021-11-15 06:18] kishlayaug15 commented on #7853
Is it assigned to me??
So, I can start working on it.

[2021-11-15 06:19] abhisheks008 commented on #7853
No sorry my bad. This is assigned to @deepthi1107. You can't work on it.

[2021-11-15 06:24] kishlayaug15 commented on #7853
ok, when next set of issues will be uploaded? @abhisheks008

[2021-11-15 07:12] Aniketsinghcoder commented on #5898
Hey @nimisha-yadav,
I would like to work on the documentation task of this issue.
Aniket Singh
DSA Batch-3

[2021-11-15 07:23] HastiSutaria commented on #7700
no it's fine. I will complete both the issue by tomorrow.

[2021-11-15 08:45] soma-v commented on #7691
@ShudhanshuSingh please assign me this issue

[2021-11-15 09:20] likitarai1 commented on #5975
@Ash515 plz review PR #7188

[2021-11-15 09:21] likitarai1 commented on #7744
Can I work on documentation part?

[2021-11-15 10:19] eshan1925 commented on #7371
/assign

[2021-11-15 10:20] eshan1925 commented on #7370
/assign

[2021-11-15 10:39] #7782 closed

[2021-11-15 10:45] HastiSutaria commented on #7700
@anandhu720 Please review my PR.

[2021-11-15 12:07] likitarai1 commented on #1298
@manjeetdhayal I would like to work on documentation part.

[2021-11-15 12:09] #7700 closed

[2021-11-15 12:18] adityabisoi commented on #7885
yes

[2021-11-15 13:01] Drontitan commented on #264
/assign

[2021-11-15 13:06] Drontitan commented on #951
/assign

[2021-11-15 13:09] Drontitan commented on #341
close this issue its already merge

[2021-11-15 15:13] anandhu720 commented on #7700
@HastiSutaria  I  appreciate your work please coutinue your contributon.Great job

[2021-11-15 15:20] kishlayaug15 commented on #6951
@prathimacode-hub  I found an error in README.md under Implementations.
Error :` After hypen I have written n instead of blank space`.

[2021-11-15 16:18] afreenabegum commented on #5919
Hi mam @nimisha-yadav
I am busy with my academic schedule. I tried but not able to complete Pr within given time.
It will be helpful if you give me some more time. I have been assigned three issues totally. I will submit all three issues by this Sunday !! Please excuse me for this time.

Thank you.

[2021-11-15 16:39] Drontitan commented on #1864
/assign

[2021-11-15 16:57] #7638 closed

[2021-11-15 17:26] kanthalaHarivardhanReddy commented on #1808
/assign documentation

[2021-11-15 17:26] kanthalaHarivardhanReddy commented on #1808
\assign documentation

[2021-11-15 17:27] kanthalaHarivardhanReddy commented on #6417
\assign

[2021-11-15 17:31] kanthalaHarivardhanReddy commented on #5157
\assign

[2021-11-15 17:42] Yugal41735 commented on #7480
Hello, I am trying to implement RCNN in my documentation to kind of giving an example of how RCNN works, so actually training is taking a little bit time and as sson as the training finishes i will make the pr
<img width="370" alt="Screenshot 2021-11-15 231010" src="https://user-images.githubusercontent.com/74638775/141828893-58ad5c91-fbea-422c-a266-cfbb11f363cf.png">

[2021-11-15 17:48] stutimohta20 opened #7923 "N-Queen problem"
### Description

N Queen problem using backtracking in cpp language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-11-15 17:58] Saviour1001 commented on #7374
Closing this issue as #7384 got merged !!

[2021-11-15 17:58] #7374 closed

[2021-11-15 18:01] Pradumnasaraf opened #7924 "Android Java: 17.1 Android DatePicker Dialog"
### Description

* DatePicker Dialog
*  Sample Project
* Gif And Images

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-11-15 18:01] Pradumnasaraf commented on #7924
/assign

[2021-11-15 18:06] HastiSutaria commented on #7700
Thank you @anandhu720

[2021-11-15 18:09] HastiSutaria commented on #7699
/assign
Name - Hasti Sutaria
I wish to work on it
@anandhu720 please assign it to me.

[2021-11-15 18:17] HastiSutaria commented on #7801
I am currently working on it since it was assigned. @anandhu720 please reassign.

[2021-11-15 18:58] #7808 closed

[2021-11-15 18:59] Sayalidoshi opened #7928 "Python Plyer Module"
### Description

Description:
Documentation on - What is Plyer module in python?
How it works?
Useful Mini-project for beginners and intermediate learner.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:

[2021-11-15 18:59] Sayalidoshi commented on #7928
/assign

[2021-11-15 19:01] Sayalidoshi commented on #7928
@adityabisoi can i go ahead with this issue?

[2021-11-15 19:12] samipak458 opened #7929 "Text Manipulation"
### Description

- What is text manipulation?
- Discussing properties of text manipulation.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/

[2021-11-15 19:12] samipak458 commented on #7929
/assign

[2021-11-15 19:45] Anshii12 commented on #7622
Updates- Half of the video is done.

[2021-11-15 23:39] ikavyajain opened #7934 "Cholesky Method In C++"
### Description

I have prepared a Documentation on Cholesky Method in C++:
The documentation contains code for:
- Decomposing a matrix into Lower Triangular
- Displaying Lower Triangular and its Transpose

Hope you learn from it :)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-cont

[2021-11-15 23:40] ikavyajain commented on #7934
/assign

[2021-11-16 02:32] adityabisoi commented on #7928
yes

[2021-11-16 03:24] anandhu720 commented on #7699
Sure

[2021-11-16 04:43] RIYANSHGARG commented on #6324
/assign

[2021-11-16 04:52] Pragati1419 opened #7937 "Data Structures Problems in C++"
### Description

Topic-wise selected problems with easy medium and hard  level  from gfg.........

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-11-16 04:52] Pragati1419 commented on #7937
"\assign"

[2021-11-16 04:59] ayush-sleeping opened #7939 "Android Kotlin: 03.1 Installing Android Studio"
## Description :scroll:

* Give a step-by-step tutorial of -  Installing Android Studio .
*  Required Video  and  Audio.

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

## References :
https://developer.android.com/studio/install

#

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ directory under Android_Development_W

[2021-11-16 05:01] ayush-sleeping commented on #7939
Hey @rahulsain , Because the issue of " Installing Android Studio " is already closed , <br>
Therefore I have created a new one for " Audio and Video " contribution . Kindly ```assign``` me this issue

And I am going to fix the ```Audio part``` of this issue .

[2021-11-16 05:22] #7351 closed

[2021-11-16 05:23] #7386 closed

[2021-11-16 05:23] Yugal41735 commented on #7480
@raina-akshay @abhisheks008  could u plz review the pr. Thanks. Again sorry for the late pr.

[2021-11-16 05:29] #7863 closed

[2021-11-16 05:41] #7465 closed

[2021-11-16 05:47] #7480 closed

[2021-11-16 06:02] Bhavika2210 commented on #7937
Can I please be assigned with the documentation. I havent made any PR yet, i wish to contribute.
Kindly assign

[2021-11-16 06:08] joshi-kaushal commented on #6417
I have made a PR regarding this.

[2021-11-16 06:10] Bhavika2210 commented on #7136
@nimisha-yadav
Hello there, Im Bhavika Sachdeva, from DSA batch-6
Issue #7136
Can i Please work on the audio for Stack Operations in C++
I really wish to contribute

[2021-11-16 07:46] priyanshu688 opened #7943 "[Front End Web-Dev]: Web SQL Database"
### Description

Discuss in detail Web SQL Database in HTML5?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-11-16 07:46] priyanshu688 commented on #7943
/assign

[2021-11-16 07:52] priyanshu688 opened #7944 "[Front End Web-Dev]: CSS User Interface"
### Description

Discuss in brief What is CSS User Interface?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-11-16 07:52] priyanshu688 commented on #7944
/assign

[2021-11-16 07:54] #7392 closed

[2021-11-16 07:55] priyanshu688 commented on #7944
/assign

[2021-11-16 08:14] ViAsmit opened #7945 "Flutter: Cloud Photos Project"
Creating a Flutter project, where user can see thier images stirred over Firebase cloud storage, after valid authentication.

[2021-11-16 08:18] ViAsmit commented on #7945
As discussed in discord, and according to the responses I recieved from this project announcement, in discord channel.

The selected participants who have firebase project access are:

Contributors:

1. Pranav
2. Naveen

Mentors:

1. Aman Raj
2. Soumik

[2021-11-16 08:49] #3674 closed

[2021-11-16 09:11] garvitraj commented on #7691
@soma-v go with the issue

[2021-11-16 09:13] garvitraj commented on #184
@neerajdhakad go with the issue

[2021-11-16 09:58] kishlayaug15 commented on #7797
@prathimacode-hub can I start working on this issue??

[2021-11-16 09:58] RIYANSHGARG commented on #6324
https://github.com/girlscript/winter-of-contributing/pull/7951
@mukeshmjn  I have created a pr Kindly review it.

[2021-11-16 10:35] HastiSutaria commented on #7699
@mukeshmjn @anandhu720 PR created. Please review.

[2021-11-16 10:50] #7699 closed

[2021-11-16 11:01] Jinal4502 opened #7954 "Bucket Sort With Implementation in Python"
### Description

I will provide detailed documentation on the algorithm, implementation(in Python) and applications of bucket sort.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/

[2021-11-16 11:02] Jinal4502 commented on #7954
/assign

[2021-11-16 11:18] Aniketsinghcoder commented on #7303
/assign

[2021-11-16 11:28] singhmansi25 commented on #7306
@pjdurden
Please assign me this issue.
Name: Mansi Singh
Batch - 3

[2021-11-16 11:51] #7859 closed

[2021-11-16 12:39] priyankapiba opened #7955 "Merging two arrays according to constraints."
### Description

Merge two arrays by satisfying given constraints.
Given two sorted arrays X[] and Y[] of size m and n each where m >= n and X[] has exactly n vacant cells, merge elements of Y[] in their correct position in array X[], i.e., merge (X, Y) by keeping the sorted order.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [C

[2021-11-16 12:43] priyankapiba commented on #7955
/assign

[2021-11-16 12:53] heet-kumar commented on #7622
@Anshii12 ok continue try to complete it fast because we will release new issues very soon so that you can grab that issues also.

[2021-11-16 13:23] uzma024 commented on #7164
@Muskan-creator Kindly review this issue.

https://github.com/girlscript/winter-of-contributing/pull/7959#issue-1054875856

[2021-11-16 13:57] Sharayu1071 opened #7960 "[Create New Issue]: circular linked list"
### Description

What is a circular linked list and all operations on a circular linked list.

### Domain

DSA

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-16 13:57] Sharayu1071 commented on #7960
/assign

[2021-11-16 13:58] Sharayu1071 commented on #7960
I am working on this issue.

[2021-11-16 14:09] #7508 closed

[2021-11-16 14:13] Sharayu1071 opened #7961 "[Create New Issue]: tollbooth program"
### Description

tollbooth program in cpp

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-16 14:13] Sharayu1071 commented on #7961
I am working on this issue.

[2021-11-16 14:14] Sharayu1071 commented on #7961
/assign

[2021-11-16 14:22] #7379 closed

[2021-11-16 14:25] #7558 closed

[2021-11-16 14:59] vishnupriya129 commented on #7665
@prathimacode-hub Mam can you please review my PR

[2021-11-16 15:12] varunborar commented on #6706
/assign Documentation

[2021-11-16 15:15] Aniketsinghcoder commented on #5898
Hey, @nimisha-yadav Can you please, unassign this issue?  My College Exams have started.

[2021-11-16 15:36] #6903 closed

[2021-11-16 15:59] riyapandey730 commented on #6838
can i work on this

[2021-11-16 16:02] areenoverclouds opened #7966 "[CP]: Lowest Common Ancestor in Binary Tree"
### Description

I would like to provide documentation on Lowest Common Ancestor in a Binary Tree.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-11-16 16:03] areenoverclouds commented on #7966
/assign

[2021-11-16 16:06] areenoverclouds opened #7967 "[C/CPP]: Nodes at Distance K in BT"
### Description

I would like to provide documentation on "nodes at distance K in Binary Tree" problem.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-11-16 16:06] areenoverclouds commented on #7967
/assign

[2021-11-16 16:39] #7524 closed

[2021-11-16 16:52] ashish-reddy-20-08 commented on #4374
@prathimacode-hub , please assign me this issue for audio mam.

[2021-11-16 16:54] prathimacode-hub commented on #4374
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-16 16:55] ashish-reddy-20-08 commented on #7359
@prathimacode-hub , please assign me the video for this issue mam.

[2021-11-16 17:18] Cyber-Prajwal opened #7971 "Django vs Flask , What is the difference ??"
### Description

1.) In this document I want to discuss what is the difference between python's two web development frameworks.
2.) Which one is easier to use.
3.) which framework could suit you if you are a beginner.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributin

[2021-11-16 17:19] Cyber-Prajwal commented on #7971
/assign

[2021-11-16 17:19] Cyber-Prajwal commented on #7971
/assign

[2021-11-16 17:21] Cyber-Prajwal commented on #7971
@adityabisoi , can I proceed with this issue?

[2021-11-16 17:30] adityabisoi commented on #7971
Sure

[2021-11-16 17:31] #6838 closed

[2021-11-16 17:34] #6832 closed

[2021-11-16 17:34] #6824 closed

[2021-11-16 17:36] #6814 closed

[2021-11-16 17:54] DwipshikhaLodh opened #7973 "Fold Fulkerson Algorithm || Network Flow Algorithm"
### Description

I will explain how we can use Fold Fulkerson Algorithm to find maximum flow through the flow network.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributi

[2021-11-16 17:55] DwipshikhaLodh commented on #7973
/assign

[2021-11-17 03:01] kanthalaHarivardhanReddy commented on #7305
Assign me the documentation part of this issue

[2021-11-17 03:04] kanthalaHarivardhanReddy commented on #7306
Assign me the documentation part of this issue
Batch 1
Harivardhan

[2021-11-17 03:08] kanthalaHarivardhanReddy commented on #7305
Assign me this issue
NAME Harivardhan
Batch 1

[2021-11-17 03:10] kanthalaHarivardhanReddy commented on #7166
@Muskan-creator
Assign me the documentation part of this issue
Name Harivardhan
Batch 1

[2021-11-17 03:55] #6353 closed

[2021-11-17 03:59] #7944 closed

[2021-11-17 04:23] #7858 closed

[2021-11-17 04:24] priyashajain commented on #3247
Thank you!

[2021-11-17 04:31] prathimacode-hub commented on #7359
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-17 07:00] mrkc2303 commented on #1499
Hey @rahulsain,
I had to undergo a surgery a few days ago.
I have recorded the video, will upload it by today!
Thanks for your Understanding

[2021-11-17 07:18] #341 closed

[2021-11-17 07:53] #1499 closed

[2021-11-17 09:17] preestine commented on #7752
Hello ma'am, @prathimacode-hub
Can you please guide me about the structure of the project?
Where do I add the images, readme file and .ipynb file?
Regards.

[2021-11-17 10:15] #7848 closed

[2021-11-17 10:43] ayush-sleeping commented on #514
Hey @rahulsain , assign me this issue for "  Audio " part , <br>
I would like to fix the " Audio " part of this issue .

[2021-11-17 11:18] satyam-mahajan opened #7987 "CSS Bezier Curve"
### Description

Bezier curve is used for looking more effective animated objects in CSS. So Let's we discuss Bezier Curve in detail.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.c

[2021-11-17 11:20] satyam-mahajan commented on #7987
/assign

[2021-11-17 11:22] #7987 closed

[2021-11-17 11:38] Kajal13081 commented on #6008
/assign

[2021-11-17 11:52] rahulsain commented on #514
are you working on this issue?

[2021-11-17 12:31] abhisheks008 commented on #7860
What's the progress in this project work? @ashish-reddy-20-08

[2021-11-17 12:32] abhisheks008 commented on #7861
What's the progress in this project work? @VidhiBhatt01

[2021-11-17 12:32] abhisheks008 commented on #7864
What's the progress in this project work? @hrugved06

[2021-11-17 12:32] abhisheks008 commented on #7854
What's the progress in this project work? @srini047

[2021-11-17 12:33] abhisheks008 commented on #7856
What's the progress in this project work? @riyasai22

[2021-11-17 12:33] abhisheks008 commented on #7853
What's the progress in this project work? @deepthi1107

[2021-11-17 12:33] ashish-reddy-20-08 commented on #7860
Yes sir, just need some time, since its a project taking some more time, will surely make the PR soon sir

[2021-11-17 12:33] abhisheks008 commented on #7855
What's the progress in this project work? @vanshhhhh

[2021-11-17 12:37] deepthi1107 commented on #7853
its in the final process sir

[2021-11-17 12:52] hrugved06 commented on #7864
@abhisheks008, i am done with the project just some theory content is pending. I'll definitely add it and create a PR by tonight or tomorrow evening.

Thanks a lot for the patience, as I also have to cope up with the ongoing exams at my institute which is causing bit of delay, thanks

[2021-11-17 12:59] VidhiBhatt01 commented on #7861
@abhisheks008 Am working on it, tbh it's a little time-consuming. Will create a PR soon.

[2021-11-17 13:14] srini047 commented on #7854
I have actually completed the modeling part. Only I have to document it and make a PR. I will do it within today.

[2021-11-17 13:29] #6458 closed

[2021-11-17 13:52] burpcat commented on #7082
@adityabisoi , could I do the video contribution part for this ?

[2021-11-17 14:35] pankaj-sawnani commented on #7797
@prathimacode-hub please review my PR.

[2021-11-17 14:35] anjalirai12 opened #7993 "[JS]: Socket.io"
### Description

A Documentation on Socket.io:

The following concepts is to be included in this documentation:

1. What is Socket.io?
2. Installation of Socket.io
3. Different types of Events in Socket.io
4. Features of Socket.io

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/wint

[2021-11-17 14:35] anjalirai12 commented on #7993
/assign

[2021-11-17 14:57] #7152 closed

[2021-11-17 14:59] #4784 closed

[2021-11-17 14:59] geeythree commented on #7854
@srini047 Please make sure your PR the entire project folder and not just the documentation

[2021-11-17 15:00] #7943 closed

[2021-11-17 15:01] #5211 closed

[2021-11-17 15:04] nimisha-yadav commented on #5919
Alright no worries, take your time.

[2021-11-17 15:06] #5897 closed

[2021-11-17 15:19] nimisha-yadav commented on #7136
Go ahead @Bhavika2210

[2021-11-17 15:22] nimisha-yadav commented on #5898
@jaigora24 @taranjotsingh23 @priyanshu688 Is anyone of you interested in taking up this issue now?

[2021-11-17 15:23] #6931 closed

[2021-11-17 15:29] priyanshu688 commented on #5898
@nimisha-yadav yes I m interested

[2021-11-17 15:44] hariketsheth commented on #7744
I would like to go for the documentation part
/assign

[2021-11-17 15:45] hariketsheth commented on #7743
Would like to take up the documentation part then
/assign

[2021-11-17 15:47] hariketsheth commented on #7743
/assign

[2021-11-17 15:47] hariketsheth commented on #7744
/assign

[2021-11-17 15:48] koshimagoyal opened #7995 "[FRONTEND WITH FRAMEWORK]: Angular(8.1) -> Create a component"
### Description

- How to create a component using CLI command?
- Explain with syntax/example
- Reference :- https://angular.io/cli/generate#component
(Week 8 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week8" directory
3. Tasks would be assigned on First Come First Serve Basis

[2021-11-17 15:48] koshimagoyal opened #7996 "[FRONTEND WITH FRAMEWORK]: Angular(8.2) -> Create a service"
### Description

- How to create a service using CLI command?
- Explain with syntax/example
- Reference :- https://angular.io/cli/generate#service
(Week 8 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week8" directory
3. Tasks would be assigned on First Come First Serve Basis

##

[2021-11-17 15:48] koshimagoyal opened #7997 "[FRONTEND WITH FRAMEWORK]: Angular(8.3) -> Create a module"
### Description

- How to create a module using CLI command?
- Explain with syntax/example
- Reference :- https://angular.io/cli/generate#module
(Week 8 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week8" directory
3. Tasks would be assigned on First Come First Serve Basis

###

[2021-11-17 16:01] anjalikumawat2002 opened #7998 "Python : How to overcome from EOL Error in Compititve programming...."
### Description

What is EOL and How to overcome from this error in Python with examples.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-11-17 16:01] anjalikumawat2002 commented on #7998
/assign

[2021-11-17 16:03] anjalikumawat2002 commented on #7998
/assign

[2021-11-17 16:08] anjalikumawat2002 commented on #7998
@ErzaTitania-2001 please assign this issue to me .....

[2021-11-17 16:16] #7998 closed

[2021-11-17 16:29] #7806 closed

[2021-11-17 16:34] jaigora24 commented on #7138
@nimisha-yadav mam assign audio part to me
Name - Jai Gora
Batch - 7

[2021-11-17 16:39] jaigora24 commented on #3266
@nimisha-yadav mam assign this to me
Name - Jai Gora
Batch - 7

[2021-11-17 16:46] Preet1406 opened #8000 "Create integer_to_roman.md"
### Description

I'll create a file to convert integer to roman numerals

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-11-17 16:46] Preet1406 commented on #8000
/assign

[2021-11-17 16:51] priyanshu688 commented on #5898
@nimisha-yadav Can you please brief me what change I exactly need to do in README.md file of  DSA 2.1 Strings???

[2021-11-17 17:18] priyanshu688 opened #8005 "[Android Dev with Java]: Android - Loading Spinner"
### Description

Discuss the use of Loading Spinner.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-17 17:19] priyanshu688 commented on #8005
/assign

[2021-11-17 17:24] priyanshu688 commented on #8005
@VikasPandey121 Please assign this issue to me

[2021-11-17 17:28] Vishaka830 opened #8007 "Web Scraping in Python"
### Description

I would like to contribute with documentation on Web Scraping in Python in which I'll cover how to process HTML documents and HTTP requests &  techniques for selecting and extracting data from websites.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contribut

[2021-11-17 17:29] Vishaka830 commented on #8007
Vishaka Saxena
Serial No: 901
Batch: 20
Issue Number: 8007
Type: Documentation
Can I work on it @prathimacode-hub
@adityabisoi

[2021-11-17 17:31] anjalikumawat2002 opened #8008 "Python : How to overcome from EOL Error in Compititve programming..."
### Description

What is EOL and How to overcome from this error in Python.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-11-17 17:31] anjalikumawat2002 commented on #8008
/assign

[2021-11-17 18:21] #7820 closed

[2021-11-17 18:21] #7850 closed

[2021-11-17 18:22] #7849 closed

[2021-11-17 18:43] #3266 closed

[2021-11-17 19:11] jaigora24 commented on #3480
@Muskan-creator mam assign this documentation to me.. I think the assignee is inactive
Name - Jai Gora
Batch - 7
Type - Documentation

[2021-11-17 19:13] jaigora24 commented on #5895
@nimisha-yadav mam if this issue is pending then plz assign me
Name :- Jai Gora
Batch :- 7

[2021-11-17 19:14] jaigora24 commented on #5917
@nimisha-yadav mam plz assign this issue to me
Name - Jai Gora
Batch - 7

[2021-11-17 19:16] jaigora24 commented on #5923
@nimisha-yadav mam if this issue is pending plz assign to me
Name - Jai Gora
Batch - 7

[2021-11-17 19:17] jaigora24 commented on #6964
@Muskan-creator  mam if this issue is pending plz assign to me
Name - Jai Gora
Batch - 7
Type - Documentation

[2021-11-17 19:18] jaigora24 commented on #7135
@nimisha-yadav mam can I work on this issue for java?

[2021-11-18 02:40] 124015001 opened #8011 "C_CPP: Abstract Classes in Virtual Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-18 02:41] 124015001 opened #8012 "C_CPP: Limitations of Virtual Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-18 02:41] 124015001 commented on #8011
/assign

[2021-11-18 02:42] 124015001 commented on #8012
/assign

[2021-11-18 02:43] 124015001 opened #8013 "C_CPP: Dynamic Memory Deallocation"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-18 02:44] 124015001 commented on #8013
/assign

[2021-11-18 03:31] Chahak02 opened #8014 "[Analog clock using html css and js]"
### Description

responsive analog clock using html,css,js

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-11-18 03:31] Chahak02 commented on #8014
/assign

[2021-11-18 04:30] ayush-sleeping opened #8016 "Android Kotlin: 01.1 Requirement of VCS"
## Description :scroll:

* Give a step-by-step tutorial of Version Control System.
*  Required Video and Audio.

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

## References :
https://git-scm.com/book/en/v2/Getting-Started-About-Version-Control
https://guides.github.com/activities/hello-world/

## Please Read it Carefully Before Contributing
* Changes should be made in Android_

[2021-11-18 04:34] ayush-sleeping commented on #8016
Hey @rahulsain , Because the previous issue of 01.1 Requirement of Version Control System #453 , is already closed and Audio and video part are remaining . <br>
Assign me this issue for `Audio` part . I would like to make an "  `Audio` "  file on this issue .

[2021-11-18 04:46] #7854 closed

[2021-11-18 05:04] priyanshu688 opened #8018 "[DSA]: Tower of Hanoi"
### Description

Briefly discuss about Tower of Hanoi, Its Rules and Its Algorithm.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-11-18 05:05] priyanshu688 commented on #8018
/assign

[2021-11-18 05:11] priyanshu688 commented on #8018
@nimisha-yadav @pjdurden @Muskan-creator Please assign this issue

[2021-11-18 06:19] Ajinkyap331 commented on #7995
/assign

[2021-11-18 06:20] nimisha-yadav commented on #8018
This issue already exists. @priyanshu688

[2021-11-18 06:20] #8018 closed

[2021-11-18 06:35] Ajinkyap331 commented on #7995
@koshimagoyal we have only write a readme file isn't it

[2021-11-18 06:39] SidharthMishra-07 opened #8019 "NQueens Problem"
### Description

Implementation of NQuenns Problem using backtracking

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CO

[2021-11-18 06:39] SidharthMishra-07 commented on #8019
/assign

[2021-11-18 07:05] satyam-mahajan commented on #6320
/assign

[2021-11-18 07:29] ShraddhaP123 opened #8020 "Data Science with Python : Multilayer Perceptron's"
### Description

Name - Shraddha Pattanshetti
Batch - Data Science with Python
Sr no - 649
Batch - 17
Approach:
Introduction, What is Neuron, Hidden layers, Universal Approximators, Activation function, Conclusion

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contr

[2021-11-18 07:38] abhisheks008 opened #8021 "ML : Fake News Classification (ML-Projects)"
### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : **Fake News Classification**
🔴 **Aim of the Project** : Machine learning model to predict if the news is real of fake.
🔴 **Dataset** : https://www.kaggle.com/c/fake-news
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to implement more than three machine learning algorithms and make a comparison betwee

[2021-11-18 07:39] ASLManasa commented on #8021
ASL Manasa
Batch - 1
https://github.com/ASLManasa
Project

[2021-11-18 07:45] #6765 closed

[2021-11-18 07:45] #4206 closed

[2021-11-18 07:46] #2294 closed

[2021-11-18 07:48] priyankapiba opened #8022 "GitHub Terminologies"
### Description

GitHub Terminologies with explanation.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-11-18 07:49] priyankapiba commented on #8022
@adityabisoi , allow me to work on this issue.

[2021-11-18 08:48] akratikushwah opened #8025 "Half pyramid pattern printing questions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-18 08:48] akratikushwah commented on #8025
/assign

[2021-11-18 08:49] akratikushwah commented on #8025
/assign

[2021-11-18 10:06] nimisha-yadav commented on #7140
@SUKHJIT-CYBER PR updates?

[2021-11-18 10:21] GoutamVerma opened #8026 "Automatic Modules"
### Description

Describe the Automatic Modules in java

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-18 10:21] GoutamVerma commented on #8026
/assign

[2021-11-18 10:24] #2880 closed

[2021-11-18 10:24] GoutamVerma commented on #8026
/assign

[2021-11-18 10:50] ANUSHKA-AARYA opened #8027 "TRAVERSAL PROBLEMS USING 2D ARRAY IN C"
### Description

In this documentation , I will explain about how to solve wave traversal and spiral traversal problems using 2D array in c language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/

[2021-11-18 10:51] ANUSHKA-AARYA commented on #8027
/assign

[2021-11-18 11:35] #7111 closed

[2021-11-18 12:10] #6320 closed

[2021-11-18 12:20] shreya024 commented on #7845
Unassigning myself as my PR #7936 got merged

[2021-11-18 12:21] shreya024 commented on #7818
I would like to work on this issue and provide the designs.Kindly assign @Debasmita-01 @garvitraj

[2021-11-18 13:14] adityabisoi commented on #8022
Can you write what do u want to do in detail?

[2021-11-18 14:34] #7534 closed

[2021-11-18 14:35] #7282 closed

[2021-11-18 14:47] khush2706 opened #8033 "Changing Background Image Opacity Using before and after pseudo-elements"
### Description

How to use before and after pseudo-class to change the opacity of the background image without affecting the opacity of the elements above it.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-11-18 14:48] khush2706 commented on #8033
/assign

[2021-11-18 15:07] issue31 commented on #34
Will you please assign this issue to me?
I want to contribute to this issue via video format.

[2021-11-18 15:44] dummy-co-der commented on #6408
@Anant1711

[2021-11-18 16:18] riyapandey730 commented on #6830
can i work on this?

[2021-11-18 16:24] riyapandey730 commented on #1844
/assign

[2021-11-18 17:04] SourabhSaraswat-191939 opened #8037 "FRONTEND WITH FRAMEWORK: VueJS-8.1 => Need of State Management"
### Description

Contributors are required to explain about Need of State Management in VueJs, which should cover questions like:-
What is State Management?
How does this work?
Why there is a need for this?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 examples with codes of different types to explain

[2021-11-18 17:05] SourabhSaraswat-191939 opened #8038 "FRONTEND WITH FRAMEWORK: VueJS-8.2 => Workflow of State Management in Vue Js"
### Description

Contributors are required to explain about Workflow of State Management in Vue Js, which should cover questions like:-
What is the Workflow of State Management in Vue Js?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 examples with codes of different types to explain this.
etc....

Note

[2021-11-18 17:07] SourabhSaraswat-191939 opened #8039 "FRONTEND WITH FRAMEWORK: VueJS-8.3 => Vuex Installation"
### Description

Contributors are required to explain about Vuex Installation in VueJs, which should cover questions like:-
What is Vuex?
How does this work?
Why there is a need for this?
What are the advantages to use it and when to use it?
etc....

Note:

Plagiarism is strictly prohibited.
Changes should be made inside the Frontend_Web_Development_React_Angular_Vue/ dir inside Frontend_Web_Devel

[2021-11-18 17:08] #7864 closed

[2021-11-18 17:09] SourabhSaraswat-191939 opened #8040 "FRONTEND WITH FRAMEWORK: VueJS-8.4 => Implementation of State Management using Vuex (states, getters, actions, mutations and modules)"
### Description

Contributors are required to explain about Implementation of State Management using Vuex (states, getters, actions, mutations and modules) in VueJs, which should cover questions like:-
How does this work?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 examples with codes of different types to explain this.
etc....

Note:

Plagiarism is str

[2021-11-18 17:48] prathimacode-hub commented on #8020
Issue is assigned to @ShraddhaP123 for documentation

[2021-11-18 17:50] amanraj-iit opened #8042 "Central Limit Theorem"
### Description

Defining Central Limit Theorem

### Domain

Machine Learning

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-18 17:51] amanraj-iit commented on #8042
/assign

[2021-11-18 17:52] prathimacode-hub opened #8043 "Data Science with Python : Data Visualization using Bokeh"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will know on how to work on Data Visualizations using bokeh and how it's implemented.

This issue is created on contributors request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you pref

[2021-11-18 17:59] prathimacode-hub opened #8044 "Data Science with Python : Solar Radiation Prediction"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will get detailed explanation of how on Solar Radiation Prediction using dataset provided

Dataset : https://www.kaggle.com/dronio/SolarEnergy

This issue is created on contributors request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Pytho

[2021-11-18 18:02] prathimacode-hub commented on #7337
Ok sure, Issue assigned to @pankaj-sawnani for video contribution

[2021-11-18 18:29] prathimacode-hub opened #8046 "Data Science with Python : Heart Disease Prediction"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will get detailed explanation of how to work on Heart Disease Prediction using dataset provided

Dataset : https://www.kaggle.com/rishidamarla/heart-disease-prediction

This issue is created on contributors request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of

[2021-11-18 18:42] #7714 closed

[2021-11-18 18:47] #7567 closed

[2021-11-18 19:03] amanraj-iit commented on #31
I would like to work on it

[2021-11-18 19:09] HastiSutaria commented on #8046
I would like to work on this.
Hasti Sutaria - 426
Type: Documentation
Approach: Working with dataset performing EDA, training and testing the ML model and applying the algorithm that gives better accuracy.

[2021-11-18 19:28] amanraj-iit commented on #8042
[](https://github.com/girlscript/winter-of-contributing/pull/8048)
please review

[2021-11-18 19:29] amanraj-iit commented on #8042
update

[2021-11-18 20:03] riyasai22 commented on #7856
I'll be making a pr soon. @abhisheks008

[2021-11-18 20:08] vandana3869 commented on #6500
@adityabisoi  please review this pr

[2021-11-18 20:16] vandana3869 commented on #6221
@adityabisoi  please assign for the video contribution for this issue

[2021-11-18 20:27] vandana3869 commented on #565
@adityabisoi  please assign for the video contribution on this issue

[2021-11-18 20:30] vandana3869 commented on #549
@adityabisoi  please assign for the video contribution

[2021-11-18 20:34] vandana3869 commented on #7668
@adityabisoi  Please assign for video contribution

[2021-11-18 20:40] #7973 closed

[2021-11-19 02:11] adityabisoi commented on #7401
As you can see, documentation is already taken.

[2021-11-19 02:49] photon149 commented on #8044
- Name: Shiwansh Raj
- Batch: 10
- Sr. No: 368
-  Documentation
Approach: Introduction, properly commented code, images wherever required, proved conclusion
Can I work on the documentation of "Solar Radiation Prediction"  and also give a description about the steps involved and compare the same using various models.
@prathimacode-hub please assign me <b>documentation</b> for same

[2021-11-19 02:54] Ritya09 commented on #5639
/assign

[2021-11-19 02:58] vasu-1 commented on #7874
@Suvraneel  Please check this issue and do needful !!

[2021-11-19 03:19] #7887 closed

[2021-11-19 03:22] Harsh652-cpu opened #8053 "Audio for array of pointers in C"
### Description

I will be doing an audio contribution on the topic array of pointers in C.

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-19 03:22] Harsh652-cpu commented on #8053
/assign

[2021-11-19 03:54] #8053 closed

[2021-11-19 04:28] abhisheks008 commented on #7853
@deepthi1107 How's all going?

[2021-11-19 04:28] abhisheks008 commented on #7855
@vanshhhhh How's all going?

[2021-11-19 04:37] abhisheks008 commented on #8042
@amanraj-iit Who told you to create an issue and assign it yourself by your own?

[2021-11-19 04:38] #7860 closed

[2021-11-19 04:47] priyanshu688 opened #8056 "[DSA]: Dynamic Programming and Its Significance"
### Description

Give a detailed introduction on Dynamic Programming.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-11-19 04:48] priyanshu688 commented on #8056
/assign

[2021-11-19 04:49] priyanshu688 commented on #8056
@nimisha-yadav Please assign this issue to me

[2021-11-19 04:51] priyanshu688 commented on #8056
@nimisha-yadav Can you please clarify me why this is showing that assigned contributor has more than 3 open issues

[2021-11-19 05:03] priyanshu688 opened #8057 "[Android Dev with Java]: Alert Dialog Box"
### Description

Give a detailed description about How the Alert Dialog Box appears?

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-11-19 05:04] priyanshu688 commented on #8057
/assign

[2021-11-19 05:07] preestine commented on #8043
Hello! @prathimacode-hub
I would like to work on this issue.
Title: Data Visualization using Bokeh
Name: Preeti Chaudhari
Serial No.: 268
Batch No.: 8
Mentor: Kareem Negm
Domain: Data Analysis and Visualization
Type: Documentation
Approach: Introduction to BOKEH, Benefits of Bokeh, Installation and Configuration, Python Bokeh examples in form of graphs and plots, a walkthrough will be given as wel

[2021-11-19 05:08] priyanshu688 commented on #8057
@VikasPandey121 Kindly assign this issue to me

[2021-11-19 05:18] A-nn-e commented on #436
Heyy, I am Anmol, from DSA: Batch 5. I would like to work on this issue.

[2021-11-19 05:22] amanraj-iit commented on #8042
hi , I was searching for a contribution and found this on ML, so I thought to contribute

[2021-11-19 05:23] A-nn-e commented on #7937
/assign

[2021-11-19 05:25] dummy-co-der opened #8058 "NP Completeness"
#7874

[2021-11-19 05:26] dummy-co-der commented on #8058
/assign

[2021-11-19 05:30] A-nn-e commented on #7166
Anmol Jha, DSA: Batch 5

/assign

[2021-11-19 05:31] A-nn-e commented on #7166
/assign

[2021-11-19 05:47] divya-chhoriya commented on #8046
/assign
Divya Chhoriya
Sr no. 444
Batch 12
Type: documentation
Approach: EDA, prediction using different models, calculate the accuracy score

[2021-11-19 05:49] ayush-sleeping commented on #518
Hey @rahulsain , Assign me this issue for ` Audio ` Section . <br>
I would like to make a ` "Audio" ` Content on this issue .

[2021-11-19 06:19] kanthalaHarivardhanReddy commented on #7166
/assign

[2021-11-19 06:24] utkarshakakade commented on #8057
/assign documentation

[2021-11-19 06:37] Suvraneel commented on #7874
Reason : Author Prioritised

[2021-11-19 07:30] prathimacode-hub commented on #8043
There are 2 mentors for an issue. Don't include mentor name in your interest comment. Issue assigned to @preestine for documentation

[2021-11-19 07:32] prathimacode-hub commented on #8046
Issue assigned to @divya-chhoriya for documentation. @HastiSutaria, you can choose another issue to work on or audio/video. This is created on contributors request.

[2021-11-19 07:33] prathimacode-hub commented on #8044
Issue assigned to @photon149 for documentation

[2021-11-19 07:38] ViAsmit commented on #6577
@Tani21 have you been able to complete the issue? it's now over 16 days.
Try to complete it before 24th Nov

[2021-11-19 07:59] shreya-gb commented on #7034
Can I work on it? @neerajdhakad or is it supposed to be closed?

[2021-11-19 08:58] Bhavika2210 commented on #7136
Thanks Nimisha for the opportunity
Here is the drive link for the audio of implementing stack operations: #7136
https://drive.google.com/file/d/13yzAlbHWTFA1XCOyox62Xyh9duimNXhC/view?usp=sharing

[2021-11-19 09:46] #7903 closed

[2021-11-19 10:03] HastiSutaria commented on #7801
@anandhu720 @mukeshmjn Please review my PR.

[2021-11-19 10:16] #7801 closed

[2021-11-19 10:37] #7757 closed

[2021-11-19 10:43] juhik24 opened #8069 "N-Queens Problem"
### Description

Discuss the implementation of N-Queens Problem using backtracking.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-11-19 10:43] nimisha-yadav commented on #5898
@priyanshu688 take reference from 2.2 Searching Sorting folder readme. We are mentioning the major topics of the specific folder in the readme and describing it in 2-3 lines. So you'd need to mention the content of 2.1 String folder. These are the [topics](https://docs.google.com/document/d/1N4Htf4LI6YJfHZnHSD8CQIj1fhjNqZu0sbLjQJG6A30/edit?usp=drivesdk).

[2021-11-19 10:43] juhik24 commented on #8069
/assign

[2021-11-19 10:46] nimisha-yadav commented on #8056
Assigned it to you

[2021-11-19 10:51] pushpit-J19 opened #8070 "DSA : Binary tree to DLL"
### Description

Description

Introduction, problem, approach, complexity, code with pics wherever required

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-11-19 10:52] pushpit-J19 commented on #8070
/assign

[2021-11-19 11:32] #7721 closed

[2021-11-19 11:32] Pranshu321 opened #8072 "C_CPP : Implementation of queue using Stack"
### Description

**I would like to work on this issue in this, I explain three methods by which we can implement queue using the stack and with their time complexities and in great detail.**

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md

[2021-11-19 11:33] Pranshu321 commented on #8072
/assign

[2021-11-19 12:35] priyanshu688 commented on #5898
@nimisha-yadav In 2.2 Searching sorting folder readme ...there is no such content found there.

[2021-11-19 12:58] Nikita512 commented on #6007
Please assign me this issue, I want to make documentation for the issue.
Nikita Agrawal (Batch-12, Android-JAVA)

[2021-11-19 12:59] Nikita512 commented on #6412
Please assign me this issue, I want to make audio for the issue.

[2021-11-19 13:00] Nikita512 commented on #6412
Please assign me this issue, I want to make video for the issue.

[2021-11-19 13:12] jaigora24 commented on #7167
@Muskan-creator mam i open my PR. review it :)

[2021-11-19 13:13] jaigora24 commented on #7151
@nimisha-yadav mam assign audio to me
Name :- Jai Gora
Batch - 7

[2021-11-19 13:15] jaigora24 commented on #4372
@nimisha-yadav mam assign this to me if it is pending
Name - Jai Gora
Batch - 7

[2021-11-19 13:17] jaigora24 commented on #4790
@nimisha-yadav mam assign this issue to me, if it is pending.
Name - Jai Gora
Batch - 7

[2021-11-19 13:18] jaigora24 commented on #6967
@Muskan-creator mam assign this issue to me, if it's pending
Name - Jai Gora
Batch - 7

[2021-11-19 13:19] jaigora24 commented on #5917
@nimisha-yadav mam plz assign this issue to me
Name - Jai Gora
Batch - 7

[2021-11-19 13:33] #7853 closed

[2021-11-19 13:34] heet-kumar commented on #7622
@Anshii12  any updates ?

[2021-11-19 14:00] heet-kumar opened #8073 "Frontend_with_Framework: React 8.1 -> REST API Calls"
### Description

Contributors are required to create Documentation and explain about the REST API Calls in React which should cover the question like :

- What is REST API calls ?
- Where we use this REST API calls ?
- Benefits of the REST API calls.
- also give some theory explanation with code.
- also any add-ons in depth about these topic from your side.

Note :

- Plagiarism is strictly prohib

[2021-11-19 14:00] heet-kumar opened #8074 "Frontend_with_Framework: React 8.2 -> Using built-in Fetch API"
### Description

Contributors are required to create Documentation and explain about the **Built-in Fetch API** in React which should cover the question like :

- What is Built-in Fetch API ?
- Where we are Using Built-in Fetch API ?
- Benefits of the Using Built-In Fetch API.
- also give some theory explanation with code.
- also any add-ons in depth about these topic from your side.

Note :

- Pl

[2021-11-19 14:00] heet-kumar opened #8076 "Frontend_with_Framework: React 8.3 -> Axios in React"
### Description

Contributors are required to create Documentation and explain about the **Axios in React** which should cover the question like :

- What is Axios in React ?
- Where we use Axios in React ?
- Benefits of the Axios.
- also give some theory explanation with code.
- also any add-ons in depth about these topic from your side.

Note :

- Plagiarism is strictly prohibited.
- **Changes s

[2021-11-19 14:00] heet-kumar opened #8077 "Frontend_with_Framework: React 8.4 -> Unfetch in React"
### Description

Contributors are required to create Documentation and explain about the **Unfetch in React** which should cover the question like :

- What is Unfetch in React ?
- Where we use Unfetch in React ?
- Benefits of the Unfetch in React.
- also give some theory explanation with code.
- also any add-ons in depth about these topic from your side.

Note :

- Plagiarism is strictly prohibit

[2021-11-19 14:00] heet-kumar opened #8078 "Frontend_with_Framework: React 8.5 -> Superagent in React"
### Description

Contributors are required to create Documentation and explain about the **Superagent in React** which should cover the question like :

- What is Superagent in React ?
- Where we use Superagent in React ?
- Benefits of the Superagent in React.
- also give some theory explanation with code.
- also any add-ons in depth about these topic from your side.

Note :

- Plagiarism is stric

[2021-11-19 14:05] shreya024 commented on #8074
/assign

[2021-11-19 14:06] shreya024 commented on #8076
/assign

[2021-11-19 14:33] dummy-co-der commented on #8058
@vasu-1 kindly review this and do the needful !

[2021-11-19 15:26] #6500 closed

[2021-11-19 15:27] burpcat commented on #7928
@adityabisoi . Can I do the video contribution?

[2021-11-19 15:37] HarjasSodhi commented on #8073
/assign

[2021-11-19 15:40] neerajdhakad commented on #7034
Yeah you can work on it @shreya-gb

[2021-11-19 15:59] Anshii12 commented on #7622
Yes sir, actully my college has shifted to offline mode so I was a bit busy. I'll create a pr by tomorrow.

[2021-11-19 16:08] satyam-mahajan commented on #7698
/assign

[2021-11-19 16:13] priyall commented on #7856
Name: Priyal Palkhiwala
Batch: 5
Profile link: https://github.com/priyall
Contribution type: Project
I would like to contribute to this issue.

[2021-11-19 16:35] #7802 closed

[2021-11-19 16:41] adityabisoi commented on #7928
Have you made PR on all your issues?

[2021-11-19 17:50] Kamya123 opened #8082 "C_CPP : Moving from C to CPP"
### Description

- This will help to learn CPP very easily if anybody knows C already.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-11-19 17:50] #7254 closed

[2021-11-19 17:50] Kamya123 commented on #8082
/assign

[2021-11-19 17:51] #7248 closed

[2021-11-19 18:06] Jinal4502 opened #8085 "Competitive Programming: Binomial Coefficient Using Bottom-Up Tabularization Approach"
### Description

I will provide the explanation regarding bottom-up approach to find the binomial coefficient and the limitations of the conventional method.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of co

[2021-11-19 18:06] Jinal4502 commented on #8085
/assign

[2021-11-19 18:11] Bhavika2210 commented on #7136
kindly review the audio
thanks

[2021-11-19 18:51] nimisha-yadav commented on #5917
Assigned to you @jaigora24

[2021-11-19 18:54] Ajinkyap331 commented on #8076
@heet-kumar @shreya024 is also having another issue of build in api so as per the rule can you please assign it to me

[2021-11-19 18:55] nimisha-yadav commented on #4372
@brassgolem-25 update on your PR?

[2021-11-19 18:55] Ajinkyap331 commented on #8077
/assign

[2021-11-19 18:59] nimisha-yadav commented on #5898
I meant how 2.2 Searching and sorting readme has summarised the content of 2.2 Searching and sorting folder, similarly you need to summarise the content of 2.1 Strings folder. I have already shared the topics in 2.1 Strings.

[2021-11-19 19:31] nisha855 commented on #8078
/assign

[2021-11-19 19:39] brassgolem-25 commented on #4372
@nimisha-yadav i have made the readme ,will make the pr today itself!!

[2021-11-19 21:28] garvitraj commented on #93
@neerajdhakad go with the issue

[2021-11-20 01:05] #8008 closed

[2021-11-20 01:39] burpcat commented on #7928
Yeah, I did.

[2021-11-20 03:59] #8073 closed

[2021-11-20 04:05] kishlayaug15 commented on #8046
@prathimacode-hub
Kishlay Kumar
Sr no. 501
Batch 15
Type: Audio
Approach: EDA, prediction using different models, calculate the accuracy score

[2021-11-20 04:05] abhisheks008 commented on #7856
@priyall what will be your approach?

[2021-11-20 04:07] priyanshu688 commented on #5898
@nimisha-yadav Got it

[2021-11-20 04:11] VaibhavMalik4187 opened #8093 "[Create New Issue]: Balanced Parenthesis problem for multiple Parenthesis"
### Description

I'll be implementing the code and pseudo code for Balanced Parenthesis problem for Multiple brackets

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/

[2021-11-20 04:12] VaibhavMalik4187 commented on #8093
/assign

[2021-11-20 04:16] abhisheks008 commented on #7855
@vanshhhhh What's the update here?

[2021-11-20 04:16] abhisheks008 commented on #8021
@ASLManasa Progress?

[2021-11-20 04:38] priyall commented on #7856
Approach will be: using libraries and classifiers like textblob, SVM, regression for sentiment analysis and check accuracy and model evaluation using f1 scores

[2021-11-20 04:41] abhisheks008 commented on #7856
Go ahead and complete this within 3 days positively @priyall

[2021-11-20 05:05] ASLManasa commented on #8021
will surely do it by EOD.

[2021-11-20 05:40] Kashika02 opened #8096 "[Create New Issue]: polymorphism"
### Description

What is polymorphism

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-20 05:41] Kashika02 commented on #8096
_/assign

[2021-11-20 05:42] Kashika02 commented on #8096
/assign

[2021-11-20 06:16] #7874 closed

[2021-11-20 07:17] palak1101 opened #8105 "C_CPP : Banker's Algorithm (OS)"
### Description

Documentation on operating system's concept - Banker's Algorithm

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-11-20 07:18] palak1101 commented on #8105
/assign

[2021-11-20 07:46] Perpetual-Incantation opened #8108 "[Create New Issue]: Create a form using html and css"
### Description

Description : Create a form using html and css.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-20 07:46] Perpetual-Incantation commented on #8108
Please assign it to me.

[2021-11-20 07:46] Perpetual-Incantation commented on #8108
/assign

[2021-11-20 07:57] goelesha commented on #7960
It has already been done. Pls create some other issue

[2021-11-20 07:57] #7960 closed

[2021-11-20 08:14] reejuBhattacharya opened #8109 "[Create New Issue]: Add Problem D of Atcoder DP problemset"
### Description

Adding comprehensive description and solution with code of Problem D of the Atcode DP problemset.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter

[2021-11-20 08:15] reejuBhattacharya commented on #8109
/assign

[2021-11-20 08:16] reejuBhattacharya commented on #8109
/assign

[2021-11-20 08:43] Sharayu1071 commented on #7960
Okay

[2021-11-20 09:10] swathi-reddy-m commented on #1066
Hi @micepram
Please review it

[2021-11-20 09:18] Perpetual-Incantation opened #8113 "[Create New Issue]: Create a weather clone app using html cs js"
### Description

Description: You can edit the temperature and location by giving some input.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blo

[2021-11-20 09:18] Perpetual-Incantation commented on #8113
/assign

[2021-11-20 09:23] kishlayaug15 commented on #8043
I would like to work on this issue.
Title: Data Visualization using Bokeh
Name: Kishlay Kumar
Serial No.: 501
Batch No.: 15
Domain: Data Analysis and Visualization
Type: Audio
Approach: Introduction to BOKEH, Benefits of Bokeh, Installation and Configuration, Python Bokeh examples in form of graphs and plots, a walkthrough will be given as well.

[2021-11-20 09:53] priyanshu688 commented on #5898
@nimisha-yadav Please review this PR.. I have all the changes as you have instructed - https://github.com/girlscript/winter-of-contributing/pull/8114

[2021-11-20 10:01] #8000 closed

[2021-11-20 10:04] anjalikumawat2002 opened #8116 "Python : Attribute Error in Competitive programming..."
### Description

What is AttributeError and How to overcome from this error in Python.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-11-20 10:04] anjalikumawat2002 commented on #8116
/assign

[2021-11-20 10:06] Sayalidoshi opened #8117 "Python Urllib Module"
### Description

Description
Different Functions
uses
Examples

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-11-20 10:07] Sayalidoshi commented on #8117
/assign

[2021-11-20 10:07] ASLManasa commented on #8021
@abhisheks008 done kindly check and merge!

[2021-11-20 10:25] Pranshu321 opened #8120 "C_CPP : Searching in binary search Tree"
### Description

**In this explain about the code and also the algorithm of searching in binary search tree with useful comments.**

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-

[2021-11-20 10:26] Pranshu321 commented on #8120
/assign

[2021-11-20 10:34] Sayalidoshi commented on #8117
@adityabisoi please assign me this issue!!

[2021-11-20 10:36] #7560 closed

[2021-11-20 10:37] Pranshu321 commented on #8120
/assign

[2021-11-20 10:38] Sayalidoshi commented on #8117
/assign

[2021-11-20 10:42] VaibhavMalik4187 opened #8121 "[Create New Issue]: Binary Search for repeated elements"
### Description

I will be demonstrating and implementing the code for Binary Search Algorithm for repetitive elements

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributi

[2021-11-20 10:43] VaibhavMalik4187 commented on #8121
/assign

[2021-11-20 10:49] priyanshu688 commented on #8056
@nimisha-yadav Please review and merge this PR - https://github.com/priyanshu688/winter-of-contributing/pull/27

[2021-11-20 10:56] priyanshu688 commented on #8005
@sitamadex11 Please assign this issue to me

[2021-11-20 10:58] priyanshu688 commented on #8057
@sitamadex11 Kindly assign this issue to me

[2021-11-20 11:03] priyanshu688 opened #8122 "[Android Dev with Java]: SQLite Database"
### Description

Discuss in detail about SQLite Database, Its Methods & Description.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-11-20 11:04] priyanshu688 commented on #8122
/assign

[2021-11-20 11:05] priyanshu688 commented on #8122
@sitamadex11 Kindly assign this issue to me

[2021-11-20 11:30] its-me-Harsh-Anand opened #8124 "FRONTEND WITH FRAMEWORK: React 9.1: React icons"
### Description

Description
Topics covered
- What is react icon
- Why to use it
- How to use it
- Different method of styling icons

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://git

[2021-11-20 11:32] its-me-Harsh-Anand commented on #8124
/assign

@anandhu720 sir, please assign me this issue

[2021-11-20 11:50] ayush-sleeping commented on #520
Hey @rahulsain , Assign me this issue for Audio Section .
I would like to make a "Audio" Content on this issue .

[2021-11-20 12:56] #7861 closed

[2021-11-20 13:04] abhisheks008 opened #8128 "ML Miscellaneous : How Bagging is different from Boosting (D)"
### 📌  Issues for Miscellaneous Category
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_How Bagging is different from Boosting_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow

[2021-11-20 13:05] shrestharushika commented on #8128
Rushika Shrestha
ML Batch-1
Type- Documentation

[2021-11-20 13:31] Ajinkyap331 commented on #8077
/assign

[2021-11-20 13:32] Ajinkyap331 commented on #8077
@anandhu720 @heet-kumar   am I good to work on this

[2021-11-20 13:33] Kajal13081 opened #8130 "Android Java: 2.19 Expandable RecyclerView in Android"
### Description

All about Expandable RecyclerView
Expandable RecyclerView in Nested RecyclerView

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/

[2021-11-20 13:33] Kajal13081 commented on #8130
/assign

[2021-11-20 13:36] Kajal13081 commented on #8130
@VikasPandey121 Sir please assign this issue to me.

[2021-11-20 13:41] nisha855 commented on #8078
/assign

[2021-11-20 14:53] anandhu720 commented on #8077
Sure

[2021-11-20 15:00] Ajinkyap331 commented on #8077
Thanks Pablo Sir 🤣

[2021-11-20 16:00] vishnu95075 opened #8133 "[C_CPP]: Secound largest number in array"
### Description

## Secound largest number in array
- Solution with explanation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-11-20 16:00] vishnu95075 commented on #8133
/assign

[2021-11-20 16:03] Kajal13081 commented on #8130
PR #8134
@VikasPandey121 Sir review this PR please.

[2021-11-20 16:49] heet-kumar commented on #8124
@its-me-Harsh-Anand don't create the issues by your own it causes partiality for others contributors.

[2021-11-20 16:50] malay5 opened #8137 "MERN_React: 5.5 Introduction to JSON WebTokens"
### Description

Description

Introduction to JSON WebTokens

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-20 16:52] malay5 commented on #8137
/assign

[2021-11-20 16:52] malay5 commented on #8137
Please assign this project to me

[2021-11-20 17:02] ishreyakumari commented on #6367
@prathimacode-hub there is already a merged document on Hyperparameter tuning. Please check this - https://github.com/girlscript/winter-of-contributing/tree/Datascience_With_Python/Datascience_With_Python/Machine%20Learning/Tutorials/Hyperparameter%20Tuning  Do I need to create again, document of hyperParameter?

[2021-11-20 17:14] ishreyakumari commented on #7398
I want to be assigned.
Name - SHREYA KUMARI
Serial Number - 457
Type - Video
Approach - introduction, steps and approaches, examples ,complete explanation of ridge and Lasso, applications.

[2021-11-20 17:20] mrkc2303 commented on #2734
/assign

[2021-11-20 17:24] koshimagoyal opened #8139 "[FRONTEND WITH FRAMEWORK]: Angular(8.4) -> Build the application"
### Description

- How to build an angular application using CLI command?
- Explain with syntax/example
- Reference :- https://angular.io/cli/build
(Week 8 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week8" directory
3. Tasks would be assigned on First Come First Serve Basis

#

[2021-11-20 17:24] koshimagoyal opened #8140 "[FRONTEND WITH FRAMEWORK]: Angular(8.5) -> Aot,jit"
### Description

- What is Aot?
- What is JIT?
- What is the difference between Aot and JIT?
- Explain with syntax/example
- Reference :- https://angular.io/guide/aot-compiler
https://www.geeksforgeeks.org/what-is-aot-and-jit-compiler-in-angular/
(Week 8 Issue)

Note:-

1. Don't copy paste, we would be merging after reviewing the PR.
2. Changes should be made inside "Frontend_Web_Development_React

[2021-11-20 17:28] heet-kumar commented on #8078
@nisha855 try to close one issue you have already total 3 issues open

[2021-11-20 17:48] #7886 closed

[2021-11-20 17:49] Yugal41735 commented on #6010
@sitamadex11 @VikasPandey121 could u plz review my pr, is it fine?

[2021-11-20 17:55] nisha855 commented on #8078
@heet-kumar Done.

[2021-11-20 17:55] #7749 closed

[2021-11-20 17:57] shreya024 commented on #7818
/assign

[2021-11-20 18:06] heet-kumar opened #8142 "Frontend_with_Framework: React 9.2 -> Testing in React"
### Description

Contributors are required to create Documentation and explain about the **Testing in React** which should cover the question like :

- What is Testing ?
- What are the types ?
- Benefits of the Testing.
- also give some theory explanation.
- also any add-ons in depth about these topic from your side.

Note :

- Plagiarism is strictly prohibited.
- **Changes should be made inside t

[2021-11-20 18:06] heet-kumar opened #8143 "Frontend_with_Framework: React 9.3 -> Jest in React"
### Description

Contributors are required to create Documentation and explain about the **Jest in React** which should cover the question like :

- What is Jest in React ?
- Where we use Jest In React ?
- Benefits of the Jest.
- also give some theory explanation (with code example).
- also any add-ons in depth about these topic from your side.

Note :

- Plagiarism is strictly prohibited.
- **Cha

[2021-11-20 18:06] heet-kumar opened #8144 "Frontend_with_Framework: React 9.4 -> React Testing Library"
### Description

Contributors are required to create Documentation and explain about the **React Testing Library** which should cover the question like :

- What is React Testing Library ?
- Where we use ?
- What are the benefits of React Testing Library ?
- also give some theory explanation (with code samples) .
- also any add-ons in depth about these topic from your side.

Note :

- Plagiarism i

[2021-11-20 18:06] ParagD25 commented on #7308
@goelesha can you assign me this issue?

[2021-11-20 18:07] ParagD25 commented on #7307
@goelesha can you assign me this issue?

[2021-11-20 18:08] its-me-Harsh-Anand commented on #6862
@paramsiddharth sir, has this issue been resolved? And can I go for it?

[2021-11-20 20:44] Tanushree-coder commented on #7350
/assign

[2021-11-20 20:44] Tanushree-coder commented on #7350
I would like to work on documentation part.

[2021-11-20 22:57] prathimacode-hub commented on #8046
Issue assigned to @kishlayaug15 for audio contribution

[2021-11-21 02:36] #5898 closed

[2021-11-21 03:55] #8056 closed

[2021-11-21 04:02] mrkc2303 commented on #7908
Hey @rahulsain,
Kindly assign me this issue for video section
Thanks

[2021-11-21 04:03] Apoorv-17 commented on #3299
@goelesha my PR has been accepted for this issue but still the issue is opened and it also doesn't shows PR request merged in this thread. Could you please check.

[2021-11-21 04:06] adityabisoi commented on #8117
Go ahead

[2021-11-21 04:14] #8128 closed

[2021-11-21 04:20] abhisheks008 commented on #7855
Hey, @vanshhhhh provide your update and how much time do you need more?

[2021-11-21 04:32] #6548 closed

[2021-11-21 04:33] #8124 closed

[2021-11-21 04:38] shreya024 commented on #8142
/assign

[2021-11-21 04:39] shreya024 commented on #8142
I would like to work on this issue.Kindly assign

[2021-11-21 05:02] Sayalidoshi opened #8150 "Reflection in Python"
### Description

Brief description about reflection in python, why it is used, functions it contain with their example.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-c

[2021-11-21 05:03] Sayalidoshi commented on #8150
/assign

[2021-11-21 05:04] priyanshu688 opened #8151 "[Front-End Web Dev]: CSS Flexbox Layout Module"
### Description

Discuss about CSS Flexbox Layout Module.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) o

[2021-11-21 05:04] priyanshu688 commented on #8151
/assign

[2021-11-21 05:30] mridu-pant commented on #570
I would like to contribute to this issue via Audio.
Mridu Pant
Batch 3

[2021-11-21 05:35] Sayalidoshi commented on #8150
@adityabisoi please assign me to this issue

[2021-11-21 05:37] Eswari-Priya opened #8153 "depth first and bread first traversals"
### Description

I'd like to describe about bfs and dfs traversals of graphs. I will also include some examples, algorithm and its implementation.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girls

[2021-11-21 05:38] Eswari-Priya commented on #8153
/assign

[2021-11-21 05:41] Eswari-Priya commented on #8153
@goelesha @nimisha-yadav @pjdurden @Muskan-creator  could you pls look into this issue and pls let me know if i could work on it.
I am eswari priya repaka and i belong to dsa batch-2

[2021-11-21 05:45] #8151 closed

[2021-11-21 05:50] priyanshu688 opened #8154 "[Front-End Web Dev]: HTML Semantics"
### Description

Briefly discuss about different HTML Semantic Elements.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_O

[2021-11-21 05:50] priyanshu688 commented on #8154
/assign

[2021-11-21 06:05] nimisha-yadav commented on #8153
Go ahead @Eswari-Priya

[2021-11-21 06:08] #5917 closed

[2021-11-21 06:09] Anujakumari commented on #4797
@adityabisoi sir,
Is this issue open for VIDEO contribution then please assign it to me.
Thank you!

[2021-11-21 06:10] #4372 closed

[2021-11-21 06:12] #4790 closed

[2021-11-21 06:24] Cyber-Prajwal opened #8158 "What is kivy ?? & Creating your first GUI app with kivy , installation and setup ."
### Description

Kivy is a great python tool to create GUI interfaces/apps, in this I want to show what is kivy, how to install and set up kivy and also create your first GUI interface with kivy.

In the end, I would also provide links to good resources on the internet and youtube for anyone wanting to go further in kivy development.

### Domain

Python_Domain

### Type of Contribution

Documentat

[2021-11-21 06:25] Cyber-Prajwal commented on #8158
/assign @adityabisoi  Please give your go ahead

[2021-11-21 06:27] Cyber-Prajwal commented on #8158
I do not have any issues open at present , in fact there is only one PR that is open which will be closed as soon as reviewed , please don't un assign me .

[2021-11-21 06:33] Cyber-Prajwal commented on #8158
/assign

[2021-11-21 06:41] Varun270 opened #8159 "Open Source: Typos in Documentation"
### Description

#Description:

Since GWOC is about to end I will be checking the documentation of this Domain and If I find any typos in it will create a PR for the same.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-11-21 06:47] Varun270 commented on #8159
@Aryamanz29 Kindly review this PR.

[2021-11-21 06:54] varunborar commented on #577
/assign Documentation

[2021-11-21 07:56] adityabisoi commented on #8150
Go ahead

[2021-11-21 08:32] #7934 closed

[2021-11-21 08:50] Apoorv-17 commented on #5771
I would like to work on this issue.
Name: Apoorv Yadav
Batch: 07
Type: Video

[2021-11-21 10:06] iam-sakshi opened #8166 "Heap Application in CP"
### Description

Basic question done using heap structure to optimize .

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-11-21 10:06] iam-sakshi commented on #8166
/assign

[2021-11-21 10:10] srini047 opened #8168 "Beginners Notebook to Python"
### Description

### **Description:**
- It is sometimes difficult for beginners to switch between different resources while learning Python.
- Hence if we provide a Starter notebook so that users can run and learn python will make it more interactive, remembering the concepts life-long as well as testing certain features out themselves.

### Domain

Python_Domain

### Type of Contribution

Documen

[2021-11-21 10:11] srini047 commented on #8168
Hi, I would like to work on this issue.

**Issue:** Beginners Notebook to Python
**Name:** Sriniketh J
**Domain:** Python
**Batch No:** 3
**Type:** ```Documentation```
**Approach:** Notebook covering all the basic concepts in python and resources to learn some concepts in depth.

[2021-11-21 10:33] paramsiddharth commented on #6862
@its-me-Harsh-Anand Yes, Harsh. Please do!

[2021-11-21 10:36] Anant1711 commented on #6412
if you can do within 3 days!
Only thn I can assign you?

[2021-11-21 10:36] Anant1711 commented on #6412
Do you want to submit your work ?

[2021-11-21 10:37] Anant1711 commented on #6411
Have you done?

[2021-11-21 10:40] #6407 closed

[2021-11-21 10:42] Anant1711 commented on #5310
@AtharvaaPatil
Submit your work!

[2021-11-21 10:44] #5482 closed

[2021-11-21 10:45] vartikavr opened #8172 "C_CPP : Multiple inheritance in C++ Video submission"
### Description

I will be submitting a video on multiple inheritance in C++.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-11-21 10:45] vartikavr commented on #8172
/assign

[2021-11-21 10:45] Anant1711 commented on #5483
@medhatiwari Submit your work!

[2021-11-21 10:46] #5485 closed

[2021-11-21 10:49] Kajal13081 opened #8173 "Android Java: 13.03 Create swipe views with tabs using ViewPager2"
### Description

- Implement swipable views with ViewPager2
- Use TabLayout with ViewPager2 and swipe to change tabs

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of

[2021-11-21 10:49] Kajal13081 commented on #8173
@VikasPandey121 please assign this issue to me. I would like to work on this.

[2021-11-21 11:01] goelesha commented on #3299
@Apoorv-17 No problem in that. Your PRs will be counted at the end.

[2021-11-21 11:01] #3299 closed

[2021-11-21 11:02] goelesha commented on #7307
@ParagD25 The issue is created by @pjdurden . He will guide you further

[2021-11-21 11:06] kishlayaug15 commented on #8021
@abhisheks008  when the next set of questions will be released ?

[2021-11-21 11:28] #7073 closed

[2021-11-21 11:28] vasu-1 commented on #8058
you can work on this issue but make sure that this should not be any duplicate !

[2021-11-21 11:33] artishukla1 commented on #6411
Hi @Anant1711, can i work on this for documentation?

[2021-11-21 11:40] heet-kumar commented on #7622
@Anshii12 but do as soon as possible.

[2021-11-21 11:51] Mortal303 opened #8176 "Pseudo Elements"
### Description

A brief description on CSS Pseudo Elements, their types and how to use them

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob

[2021-11-21 11:52] Mortal303 commented on #8176
/assign

[2021-11-21 11:53] shubh045 opened #8177 "C_CPP: Array as Abstract Datatype"
### Description

In this I will tell about datatypes, ADTs, and Arrays as ADTs and will make a program to perform different operations on an array

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-11-21 11:54] shubh045 commented on #8177
/assign

[2021-11-21 12:07] Mortal303 commented on #8176
@Ayan-thecodeking please review this issue. I would like to add this topic :)

[2021-11-21 12:08] mrkc2303 opened #8179 "CSS Flexbox Video"
### Description

I would like to make a video on CSS flexbox and submit it

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_COND

[2021-11-21 12:08] mrkc2303 commented on #8179
@praveenscience Can i work on this??

[2021-11-21 12:08] mrkc2303 commented on #8179
/assign

[2021-11-21 12:12] issue31 opened #8180 "Collections in Java"
What is the need to use a Java Collection?
Please emphasize to explain about the Java collection framework hierarchy like Collection Interface, Iterator Interface, Iterable Interface, List Interface, Queue Interface, Set Interface.

[2021-11-21 12:15] issue31 commented on #8180
/assign

[2021-11-21 12:15] vartikavr opened #8181 "C_CPP : Multiple inheritance in C++"
### Description

I will submit documentation for multiple inheritance in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-11-21 12:16] vartikavr commented on #8181
/assign

[2021-11-21 12:30] mrkc2303 commented on #3296
@goelesha Can i work on this for Video Section?

[2021-11-21 12:37] mrkc2303 commented on #7939
Can i work on this for Video section?

[2021-11-21 13:30] abhisheks008 commented on #8021
All the issues have been created, no further issues will be released from our side, as we have completed the roadmap.
@kishlayaug15

[2021-11-21 13:49] prathimacode-hub opened #8185 "Data Science with Python : Pizza Price Prediction"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will get detailed explanation of how to work on  Pizza Price Prediction using dataset provided

Dataset : https://www.kaggle.com/alyeasin/predict-pizza-price

This issue is created on contributors request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Sci

[2021-11-21 13:51] prathimacode-hub opened #8186 "Data Science with Python : Cat and Dog Image Classification"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, the readers will get detailed explanation of how to work on Cat and Dog Image Classification.

This issue is created on contributors request.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (

[2021-11-21 13:59] divya-chhoriya commented on #8186
/assign
Divya Chhoriya
Sr no. 444
Batch 12
Type: documentation
Approach: classification using CNN

[2021-11-21 14:01] prathimacode-hub commented on #8186
Issue assigned to @divya-chhoriya for documentation

[2021-11-21 14:05] photon149 commented on #8185
Name: Shiwansh Raj
Batch: 10
Sr. No: 368
Documentation
Approach: Introduction, properly commented code, images wherever required, proved conclusion
Can I work on the documentation of "Pizza Price Prediction" and also give a description about the steps involved and compare the same using various models.
@prathimacode-hub please assign me documentation for same

[2021-11-21 14:07] prathimacode-hub commented on #8185
Issue assigned to @photon149 for documentation

[2021-11-21 14:11] #8072 closed

[2021-11-21 14:13] Anant1711 commented on #6408
Assigned!

[2021-11-21 14:14] #8070 closed

[2021-11-21 14:33] shristy15 commented on #7654
/assign

[2021-11-21 14:38] pushpit-J19 commented on #6370
@nimisha-yadav @pjdurden can i work on this issue if that is fine ?

[2021-11-21 15:17] #8021 closed

[2021-11-21 15:22] dummy-co-der commented on #8058
<h1>
<p align='center'> NP Completeness</p> </h1>
If a polynomial time algorithm exists for any of these problems, all problems in NP would be polynomial time solvable. These problems are called NP-complete. The phenomenon of NP-completeness is important for both theoretical and practical reasons. <br><br><br>

<p align='center'>
<img src="https://www.tutorialspoint.com/design_and_analysis_of_algo

[2021-11-21 15:22] dummy-co-der commented on #8058
@vasu-1 Kindly review!

[2021-11-21 15:27] dummy-co-der opened #8189 "C_CPP Type Casting"
### Description

<hr>
<h1 align="center"># Type Casting - C Programming</h1>
<br>

## What is type casting?
*Type casting refers to changing an variable of one data type into another.
The compiler will automatically change one type of data into another if it makes sense.
For instance, if you assign an integer value to a floating-point variable, the compiler will convert the int to a float.
Casting

[2021-11-21 15:28] dummy-co-der commented on #8189
@vasu-1 Kindly review!

[2021-11-21 15:31] kumarankm commented on #577
@adityabisoi Assign documentation part of this to @varunborar

[2021-11-21 15:31] dummy-co-der commented on #6408
#8188 is the PR created. Kindly review @Anant1711

[2021-11-21 15:39] ganaaduvva commented on #7744
@Ash515 can you please review my PR

[2021-11-21 15:40] #6830 closed

[2021-11-21 15:41] Aryamanz29 commented on #31
@amanraj-iit  Sure , Go ahead

[2021-11-21 15:45] #7645 closed

[2021-11-21 15:46] heet-kumar commented on #8078
@nisha855 just write '/assign' try it once it will get assign to you try that.

[2021-11-21 16:01] heet-kumar commented on #8142
@shreya024 close any one issue out of 3. Then write '/assign' here so that it will get assign you. Because if we assign you then BOT will remove you again automatically so assign issue out of 3, one issue should be closed.

[2021-11-21 16:04] #8074 closed

[2021-11-21 16:06] #8078 closed

[2021-11-21 16:08] heet-kumar commented on #8142
@shreya024 issue assigned now go for it

[2021-11-21 16:09] shreya024 commented on #8142
Thank you :)

[2021-11-21 16:25] koshimagoyal commented on #7995
@Ajinkyap331 yes only readme file is need to be written

[2021-11-21 16:53] VaishnaviPhadtare opened #8194 "Count sort"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-21 16:54] nishtha2405 opened #8195 "[6.901]: Explain everything related to Vagrant"
### Description

Explain everything related to Vagrant (a open source software product)

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-11-21 16:54] nishtha2405 commented on #8195
/assign

[2021-11-21 16:55] nishtha2405 commented on #8195
/assign

[2021-11-21 16:58] VaishnaviPhadtare opened #8196 "Wave Sort"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-21 17:09] ganaaduvva commented on #7191
/assign audio

[2021-11-21 17:21] #8120 closed

[2021-11-21 17:33] Varun270 commented on #8159
@Aryamanz29 Kindly Reopen this issue as I haven't gone through each and every document and checked for Typos. Also, Sandhya said in the server announcement that from now onwards we shouldn't create new issues instead work on the Opened ones.  Once I will be done checking I will close it on my own.

[2021-11-21 17:48] adityarajsahoo opened #8198 "Linear Search in array with code (Video Explanation)"
### Description

To explain Linear Search in array with code through video.

### Domain

DSA

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-11-21 17:48] adityarajsahoo commented on #8198
/assign

[2021-11-21 17:51] adityarajsahoo opened #8199 "Binary Search in array with code (Video Explanation)"
### Description

To explain Binary Search in array with code through video.

### Domain

DSA

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-11-21 17:51] adityarajsahoo commented on #8199
/assign

[2021-11-21 17:53] amanraj-iit commented on #8042
please review

[2021-11-21 17:54] amanraj-iit commented on #7804
/assign

[2021-11-21 17:56] Pranshu321 opened #8200 "C_CPP : Largest and Smallest K elements using Heap in document form"
### Description

In this, I will explain the algorithm in the heap by which we can find the largest and smallest elements by using the heap.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscrip

[2021-11-21 17:56] Ayan-thecodeking commented on #8176
Go ahead @Mortal303

[2021-11-21 17:56] Pranshu321 commented on #8200
/assign

[2021-11-21 17:57] adityarajsahoo opened #8201 "Selection Sort in array with code (Video Explanation)"
### Description

To explain Selection Sort in array with code through video.

### Domain

DSA

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pro

[2021-11-21 17:57] adityarajsahoo commented on #8201
/assign

[2021-11-21 17:59] amanraj-iit opened #8202 "Currency Converter application"
### Description

Just a simple app created with C++

### Domain

C_CPP
### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-21 17:59] amanraj-iit commented on #8202
/assign

[2021-11-21 18:20] mukta-4 commented on #68
Can I work on this?

[2021-11-21 18:20] nimisha-yadav commented on #6370
Since this issue has been stale for more than 12 days, @pushpit-J19 you may work on this.

[2021-11-21 18:21] vartikavr opened #8204 "C_CPP : Object slicing (in inheritance)"
### Description

I will submit documentation on object slicing (in inheritance) in C++ along with examples.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-11-21 18:21] vartikavr commented on #8204
/assign

[2021-11-21 19:03] nisha855 commented on #8143
/assign

[2021-11-21 19:07] #8011 closed

[2021-11-21 19:29] Manvi1203 commented on #8196
/assign

[2021-11-21 19:34] mukta-4 commented on #7845
Please assign me. I would like to work on it as well.

[2021-11-21 19:37] amanraj-iit commented on #7804
https://github.com/girlscript/winter-of-contributing/pull/8210/files#
@Saviour1001

[2021-11-21 19:37] amanraj-iit commented on #7804
please review

[2021-11-21 19:47] amanraj-iit commented on #8202
![logo](https://user-images.githubusercontent.com/77458628/142776738-8df301e5-1d11-4de0-9839-4168a797fdbc.png)

[2021-11-21 19:48] amanraj-iit commented on #8202
/assign

[2021-11-21 19:54] amanraj-iit commented on #8202
057e3493d8225a8d51175b0261487357aabfb03a

please check @Saviour1001

[2021-11-21 20:06] amanraj-iit opened #8213 "Qwick Short"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-21 20:07] amanraj-iit commented on #8213
/assign

[2021-11-21 21:21] Nikita512 commented on #6412
@Anant1711 Yes I'll do it in 3 days sure

[2021-11-21 22:58] asppanda12 opened #8219 "[Create New Issue]: Median of Two Sorted Arrays(java)"
### Description

Description

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-21 23:20] asppanda12 commented on #8219
/assign

[2021-11-21 23:20] asppanda12 commented on #8219
/assign

[2021-11-22 01:45] VaishnaviPhadtare commented on #8194
/assign

[2021-11-22 01:45] adityabisoi commented on #577
Did @lohith1392 not make a PR on this already?

[2021-11-22 01:46] VaishnaviPhadtare commented on #8196
/assign

[2021-11-22 01:47] #8196 closed

[2021-11-22 01:49] VaishnaviPhadtare opened #8221 "Sort an array in wave form"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-22 01:50] VaishnaviPhadtare commented on #8221
/assign

[2021-11-22 01:59] #4179 closed

[2021-11-22 02:01] VaishnaviPhadtare commented on #8221
/assign

[2021-11-22 02:46] 124015001 opened #8222 "C_CPP: Why is Deallocation Necessary?"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-22 02:47] 124015001 commented on #8222
/assign

[2021-11-22 02:57] prithwishpramanik commented on #6412
i will submit it today pls give me today ...i am extremely sorry for the delay

[2021-11-22 03:49] its-me-Harsh-Anand commented on #8144
/assign

[2021-11-22 03:50] its-me-Harsh-Anand commented on #8144
@heet-kumar @anandhu720 Please assign this to me sir

[2021-11-22 04:29] jaigora24 opened #8226 "[DSA]: 8.1 Introduction to Graph Data Structure"
### Description

Description
Give introduction to graph. explain about its basic operations & some terms associated with it.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contri

[2021-11-22 04:29] jaigora24 commented on #8226
/assign

[2021-11-22 04:33] prathimacode-hub commented on #5587
Its because issue was created on contributors request over the thread. @aaryan078

[2021-11-22 04:36] prathimacode-hub commented on #391
@Anna-cod, do you want to work on this?

[2021-11-22 04:48] prathimacode-hub commented on #745
Doc is already done. @srini047

[2021-11-22 04:54] ashish-reddy-20-08 commented on #5853
@prathimacode-hub , can you please assign me this issue for documentation.

Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-22 04:57] ashish-reddy-20-08 commented on #5795
@prathimacode-hub ,
I am M. Ashish Reddy. I would like to do AUDIO on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-22 05:01] ashish-reddy-20-08 commented on #4376
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do **video** on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-22 05:04] jaigora24 opened #8229 "[DSA]: 7.1.1 Introduction to Heap Data Structure"
### Description

Description
Give introduction to heap data structure and explain it's applications.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-11-22 05:04] jaigora24 commented on #8229
/assign

[2021-11-22 05:04] jaigora24 commented on #8229
/assign

[2021-11-22 05:07] srini047 commented on #745
Okay no problem.👍

[2021-11-22 05:12] jaigora24 commented on #8229
@nimisha-yadav mam plz review

[2021-11-22 05:23] prathimacode-hub commented on #5853
Issue assigned to @ashish-reddy-20-08 for documentation

[2021-11-22 05:24] prathimacode-hub commented on #5795
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-22 05:25] prathimacode-hub commented on #4376
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-22 05:25] prathimacode-hub commented on #745
There are many other issues to work else stay tuned for upcoming issues. @srini047

[2021-11-22 05:37] #6710 closed

[2021-11-22 05:40] #6732 closed

[2021-11-22 05:48] varunborar commented on #577
No I checked it already there was no corresponding PR.

[2021-11-22 06:03] Eswari-Priya commented on #8153
Thank you !

[2021-11-22 06:06] prathimacode-hub commented on #8020
You don't have any mentor assigned to your issue. Your assigned mentor in Aishani Singh | Kareem Negm @ShraddhaP123

[2021-11-22 06:19] shreya-gb commented on #5481
@Anant1711 I have completed this issue, may I create a PR?

[2021-11-22 06:28] #8194 closed

[2021-11-22 06:33] anandhu720 commented on #8144
@its-me-Harsh-Anand You can work on it

[2021-11-22 06:38] Cyber-Prajwal commented on #7971
@adityabisoi I understand that for merging this PR I need to tag a mentor but I have one other issue open and I have created its material but I just have to wait for this PR to be closed and I have tagged one other person on this issue's PR, but as the November 30th is coming close is it possible for you to close this PR so that I can contribute my one more PR, which will be my last.
 Thanks a lot

[2021-11-22 08:01] #8154 closed

[2021-11-22 08:36] Saviour1001 commented on #7804
I am a supervisor of CPP Domain, and your PR is of multiple domains. Thus I can't review and merge it. Kindly ping the Supervisor/Mentor of the respective domains.

[2021-11-22 08:49] Pradumnasaraf opened #8235 "Android Java: 17.2 Android Time Picker Dialog"
### Description

Time Picker Dialog

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-22 08:51] Pradumnasaraf opened #8236 "Android Java: 17.3 Android Chronometer"
### Description

- Chronometer class
- its application

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-11-22 08:51] Pradumnasaraf commented on #8236
/assign

[2021-11-22 08:51] Pradumnasaraf commented on #8235
/assign

[2021-11-22 09:40] #8013 closed

[2021-11-22 09:43] kumarankm commented on #577
No he didn't

[2021-11-22 10:34] AtharvaaPatil commented on #6411
Working almost done

[2021-11-22 10:45] deepthi1107 commented on #5801
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-22 11:21] #7855 closed

[2021-11-22 11:32] BhawnaAtrish commented on #4084
/assign

[2021-11-22 11:57] kumarankm commented on #8168
@adityabisoi Can we consider this issue?

[2021-11-22 12:03] prathimacode-hub commented on #5801
Issue assigned to @deepthi1107 for audio contribution

[2021-11-22 12:16] adityabisoi commented on #7971
#8155

[2021-11-22 12:19] adityabisoi commented on #8168
Sure

[2021-11-22 12:42] SaloniThete commented on #7666
Sorry for the inconvenience but I have to unassign myself from this issue due to some circumstances, I am unable to complete the issue. And as GWOC is now coming to an end. I don't want to leave the issue unsolved.

[2021-11-22 12:42] #7939 closed

[2021-11-22 13:05] prathimacode-hub commented on #7666
Ok ur wish. @SaloniThete

[2021-11-22 14:04] #8153 closed

[2021-11-22 14:05] #7908 closed

[2021-11-22 14:13] #8076 closed

[2021-11-22 14:17] nayakaj commented on #8150
@adityabisoi  it is open for video if yes plz assign me

[2021-11-22 14:24] mrkc2303 commented on #7367
@rahulsain Kindy assign me this issue for documentation

[2021-11-22 14:25] mrkc2303 commented on #7342
@rahulsain Can i work on this one for documentation

[2021-11-22 14:27] mrkc2303 commented on #1239
@goelesha Can i work on this for Video??
DSA Batch 2

[2021-11-22 14:34] abhisheks008 opened #8255 "ML : Market Basket Analysis (ML-Projects)"
### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : **Market Basket Analysis**
🔴 **Aim of the Project** : Machine learning model to finding out the most frequently bought products together by analysing the past buying behaviour of the customer.
🔴 **Dataset** : https://www.kaggle.com/roshansharma/market-basket-optimization
🔴 **Domain** : Machine Learning
🔴 **Special

[2021-11-22 14:35] shrestharushika commented on #8255
Rushika Shrestha
Batch- ML 1
Type-Project

[2021-11-22 14:35] abhisheks008 commented on #8255
Assigned @shrestharushika

[2021-11-22 14:38] mrkc2303 commented on #3247
@nimisha-yadav Is this issue available for the Video section, I would like to work on it?

[2021-11-22 14:43] abhisheks008 commented on #7856
How's all going @priyall

[2021-11-22 14:50] nimisha-yadav commented on #3247
Yeah, go ahead @mrkc2303

[2021-11-22 15:28] varunborar commented on #577
@adityabisoi I have already created a PR `#8209`. Could you please review it ?

[2021-11-22 15:31] Anant1711 commented on #6411
when you will submit?

[2021-11-22 15:32] Anant1711 commented on #6412
okay, do it on time!

On Mon, 22 Nov 2021 at 08:27, Prithwish Pramanik ***@***.***>
wrote:

[2021-11-22 15:33] Anant1711 commented on #5481
ok

[2021-11-22 15:50] #436 closed

[2021-11-22 15:50] #956 closed

[2021-11-22 15:50] #7718 closed

[2021-11-22 16:00] subhangi2731 opened #8257 "Callbacks and Promises in JavaScript"
### Description

The promise constructor takes one argument where we need to pass a callback function. The callback function takes two arguments, resolve() and reject() . Any functionality that needs to be executed after the Promise is completed (e.g., After a network request) should be placed inside then(). I want to describe this by documentation.

### Domain

Frontend Dev HTML/CSS/JS

### Type

[2021-11-22 16:06] Pranshu321 opened #8258 "C_CPP : Binary Files Opening Modes"
### Description

In this, I explained the modes in which we can open a file in CPP language with proper explanation and code snippet.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winte

[2021-11-22 16:06] Pranshu321 commented on #8258
/assign

[2021-11-22 16:16] shreyansh2416 commented on #7371
/assign for audio

[2021-11-22 16:18] shreyansh2416 commented on #7370
/assign for audio

[2021-11-22 16:20] shreyansh2416 commented on #7366
/assign for audio

[2021-11-22 16:42] nishtha2405 commented on #7372
/assign

[2021-11-22 16:46] nishtha2405 commented on #6250
\assign documentation

[2021-11-22 16:47] nishtha2405 commented on #6250
/assign

[2021-11-22 16:50] Anshii12 commented on #7622
Yes! Extremely sorry for this. I'll complete it by tomorrow.

[2021-11-22 16:53] a-rcane opened #8259 "C/CPP : Intersecting linked lists"
### Description

Description : To check at which nodes two given linked lists intersect.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-11-22 16:53] a-rcane commented on #8259
/assign

[2021-11-22 17:02] HastiSutaria commented on #8139
@anandhu720 I wish to work on it. Please assign.

[2021-11-22 17:09] anandhu720 commented on #8139
👍🏽

[2021-11-22 17:15] mukta-4 commented on #93
I want to contribute. Can I get assigned?

[2021-11-22 17:54] garvitraj commented on #93
@mukta-4 go with it

[2021-11-22 17:54] garvitraj commented on #7845
go with it @mukta-4

[2021-11-22 18:13] Umesh-01 commented on #7309
/assign

[2021-11-22 18:13] Umesh-01 commented on #7344
/assign

[2021-11-22 18:52] dummy-co-der commented on #6410
@Anant1711 sir may I work on this in documentation form.

[2021-11-22 18:53] dummy-co-der commented on #6410
/assign documentation

[2021-11-22 18:53] Jinal4502 opened #8265 "Competitive Programming: Min-Max Algorithm In Game Theory"
### Description

I will explain the working and implementation of min-max algorithm in python alongwith its advantages and limitations.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.

[2021-11-22 18:54] Jinal4502 commented on #8265
/assign

[2021-11-22 18:59] #7954 closed

[2021-11-22 18:59] Jinal4502 commented on #8265
/assign

[2021-11-22 19:37] juhik24 opened #8266 "Implementation of Binary Search Tree"
### Description

Discuss implementation of binary search tree.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-22 19:38] juhik24 commented on #8266
/assign

[2021-11-22 20:25] vandana3869 commented on #7668
@adityabisoi  please review this pr

[2021-11-23 02:27] adityabisoi commented on #577
@saurav3232 Have you created a PR for this issue?

[2021-11-23 02:27] adityabisoi commented on #7668
Plz mention a mentor in your PR

[2021-11-23 02:28] nishtha2405 commented on #6250
Please assign this to me @AkMo3

[2021-11-23 02:46] priyall commented on #7856
Yes, I'll complete it by tomorrow.

[2021-11-23 02:58] A-GHOSH-dev commented on #8042
/assign

[2021-11-23 02:59] A-GHOSH-dev commented on #8042
/assign

[2021-11-23 03:00] A-GHOSH-dev commented on #8042
@abhisheks008 Can I contribute here?

[2021-11-23 03:04] 124015001 opened #8270 "C_CPP: The "SET_NEW_HANDLER" Function"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-23 03:04] 124015001 commented on #8270
/assign

[2021-11-23 03:22] ayush-sleeping commented on #683
Hey @rahulsain , Assign me this issue for `Audio section` . <br>

[2021-11-23 04:10] #8139 closed

[2021-11-23 04:24] jaigora24 opened #8274 "[DSA]: 6.2.1 Introduction to Divide and Conquer Algorithm"
### Description

Description
Explain Divide and Conquer Algorithm

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-11-23 04:25] jaigora24 commented on #8274
/assign

[2021-11-23 04:25] priyankapiba commented on #8022
https://docs.github.com/en/get-started/quickstart/github-glossary

[2021-11-23 04:32] sitamadex11 commented on #683
You can proceed

On Tue, 23 Nov 2021, 8:52 am Ayush Mishra, ***@***.***> wrote:

[2021-11-23 04:34] jaigora24 opened #8276 "[6.2]: 2. Introduction to Dynamic Programming"
### Description

Description
Explain Dynamic Programming approach

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-11-23 04:34] jaigora24 commented on #8276
/assign

[2021-11-23 05:39] #8057 closed

[2021-11-23 05:58] mayur-23 commented on #3292
/assign

[2021-11-23 06:33] syedmdsaifihassan opened #8282 "Introduction to Backtracking"
### Description

### Explain the Backtracking approach

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-23 06:37] Yugal41735 commented on #6010
@VikasPandey121  @sitamadex11 could u plz review it

[2021-11-23 06:37] syedmdsaifihassan commented on #8282
/assign

[2021-11-23 06:37] #7945 closed

[2021-11-23 06:38] #6851 closed

[2021-11-23 07:23] shreya-gb commented on #5481
Hello, @Anant1711 #5481 https://github.com/shreya-gb/winter-of-contributing/tree/revert-1-Info-Gathering--SB Please review my PR, I apologize for the previous merge.

[2021-11-23 07:39] Anu2001-prog opened #8285 "Function call in c++"
### Description

With my presentation, I would explain the function calls in C.

### Domain

C/CPP

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-11-23 07:40] Anu2001-prog commented on #8285
/assign

[2021-11-23 07:55] #8226 closed

[2021-11-23 07:55] #8229 closed

[2021-11-23 09:01] #8177 closed

[2021-11-23 09:02] #7923 closed

[2021-11-23 09:03] #8200 closed

[2021-11-23 09:06] #8270 closed

[2021-11-23 10:01] deepthi1107 commented on #8020
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-23 10:12] deepthi1107 commented on #6360
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-23 10:16] #8222 closed

[2021-11-23 10:16] priyanshu688 opened #8291 "[DSA]: Greedy Algorithm"
### Description

Discuss in detail about Greedy Algorithm.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-23 10:17] priyanshu688 commented on #8291
/assign

[2021-11-23 10:32] likitarai1 commented on #1298
@manjeetdhayal plz review my PR #7915

[2021-11-23 11:17] #8291 closed

[2021-11-23 11:19] saloni33 opened #8292 "Date and Time picker in Android"
### Description

Documentation on creating date and time pickers in Android

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-11-23 11:20] saloni33 commented on #8292
/assign

[2021-11-23 11:23] prathimacode-hub commented on #6360
Issue assigned to @deepthi1107 for video contribution

[2021-11-23 11:28] priyanshu688 opened #8294 "[DSA]: Hash Table and Its Primary Operations"
### Description

Briefly discuss about Hash Table.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-23 11:29] priyanshu688 commented on #8294
/assign

[2021-11-23 11:52] aasthasarswat24 commented on #7997
/assign

[2021-11-23 12:13] adityabisoi commented on #8022
There's an issue already existing on this topic. Closing the issue

[2021-11-23 12:13] #8022 closed

[2021-11-23 12:13] PrachiDoshi2170 commented on #5484
@Anant1711 if @HumblePlebeian has not been able to complete can I work on the documentation?

[2021-11-23 12:37] #7597 closed

[2021-11-23 12:49] aasthasarswat24 commented on #8040
/assign

[2021-11-23 13:15] shivam-iitk opened #8299 "C_CPP: Added Hidden Number problem"
### Description

Added a CP problem of finding a hidden number in a given way (nonlinear manner) using an optimized algorithm.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-co

[2021-11-23 13:15] shivam-iitk commented on #8299
/assign

[2021-11-23 13:30] Isha307 opened #8301 "ML : Gold Price Prediction"
### Description

### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** :  Gold Price Prediction
🔴 **Aim of the Project** : Predicting Gold prices accurately
🔴 **Dataset** : https://www.kaggle.com/sid321axn/gold-price-prediction-dataset
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to implement more than three machine learning algorithms and make a compari

[2021-11-23 13:32] vasu-1 commented on #8058
Please Make the Pr for the same !

[2021-11-23 13:32] vasu-1 commented on #8189
Please make the pr

[2021-11-23 13:33] vasu-1 commented on #8189
issue can not be merged !

[2021-11-23 13:34] vasu-1 commented on #8189
you will have to make the changes in the repositories , and then makr the pr for the rrespective issue !

[2021-11-23 13:34] vasu-1 commented on #8189
if you don't getting it then DM me in the discord

[2021-11-23 13:42] deepthi1107 commented on #8301
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do documentation on this issue.my approach: a detailed explanation

[2021-11-23 13:43] deepthi1107 commented on #8301
Full name : Deepthi M
Batch Number : 02
GitHub Profile Link : https://github.com/deepthi1107
Approach for this Project : EDA, svm, decision tree, random forest
Are you a participant of GWoC21?
 YES

[2021-11-23 13:49] Isha307 commented on #8301
Assigned to you 🚀, Please make the PR within 3 days.

[2021-11-23 13:58] HumblePlebeian commented on #5484
I'm sorry about the delay, I'll make the PR by tonight

[2021-11-23 14:07] #8299 closed

[2021-11-23 14:12] ganaaduvva commented on #7743
@Ash515 can you please review my PR

[2021-11-23 14:12] priyankapiba commented on #48
@adityabisoi can I work on this?

[2021-11-23 14:35] priyanshuc4423 commented on #420
I have my sem now I can't do it right now sorry :(

[2021-11-23 14:39] dummy-co-der commented on #8058
@vasu-1 kindly review PR #8306

[2021-11-23 14:46] dummy-co-der commented on #8189
@vasu-1 Kindly review #8308 PR

[2021-11-23 14:51] ganaaduvva commented on #3391
@garvitraj can you please review my PR

[2021-11-23 14:54] ganaaduvva commented on #7191
@Ash515 can you please assign me the audio

[2021-11-23 14:57] ganaaduvva commented on #5975
/assign audio

[2021-11-23 14:58] ganaaduvva commented on #5975
@Ash515 can you please assign me the audio

[2021-11-23 14:59] ganaaduvva commented on #4717
/assign audio

[2021-11-23 15:02] ganaaduvva commented on #6503
/assign audio

[2021-11-23 15:03] ganaaduvva commented on #6503
@Ash515 can you please assign me the audio

[2021-11-23 15:13] Jinal4502 opened #8310 "Competitve Programming: Find nth Magic Number"
### Description

I will provide explanation about the method to calculate the nth magic number alongwith its implementation in Python.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.c

[2021-11-23 15:14] #8085 closed

[2021-11-23 15:14] Jinal4502 commented on #8310
/assign

[2021-11-23 15:59] amanraj-iit commented on #8042
/assign

[2021-11-23 16:03] #8213 closed

[2021-11-23 16:09] #8042 closed

[2021-11-23 16:40] amanraj-iit opened #8313 "Currency Converter Application"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-23 16:41] #8202 closed

[2021-11-23 16:42] amanraj-iit commented on #8313
/assign

[2021-11-23 16:56] ANUSHKA-AARYA opened #8316 "WAVE AND SPIRAL TRAVERSAL"
### Description

In this, I will explain about wave and spiral traversal problems using 2d array in c.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-11-23 16:57] ANUSHKA-AARYA commented on #8316
/assign

[2021-11-23 16:59] anjalirai12 opened #8317 "[JS]:HTTP Request Types"
### Description

A Documentation on HTTP Request Types.

Topics to be included in this documentation:

1. What are HTTP Request Methods?
2. How Do HTTP Requests Work?
3. Different types of HTTP Request Methods

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/bl

[2021-11-23 16:59] anjalirai12 commented on #8317
/assign

[2021-11-23 17:12] subhangi2731 opened #8319 "Export and Import of Modules in JavaScript"
### Description

With the help of ES6, we can create modules in JavaScript. In a module, there can be classes, functions, variables, and objects as well. To make all these available in another file, we can use export and import. The export and import are the keywords used for exporting and importing one or more members in a module.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

D

[2021-11-23 17:13] subhangi2731 commented on #8319
/assign

[2021-11-23 17:23] eshan1925 commented on #5999
Hey @sitamadex11 Why this PR not merged still?

[2021-11-23 17:24] eshan1925 commented on #7347
/assign

[2021-11-23 17:24] eshan1925 commented on #7349
/assign

[2021-11-23 17:42] Parth-001-git commented on #7368
/assign for audio

[2021-11-23 17:43] Parth-001-git commented on #7361
/assign for audio

[2021-11-23 17:46] Parth-001-git commented on #7357
/assign for audio

[2021-11-23 17:52] subhangi2731 opened #8322 "Animations in JavaScript"
### Description

JavaScript animations are done by programming gradual changes in an element's style. The changes are called by a timer. When the timer interval is small, the animation looks continuous.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/bl

[2021-11-23 17:52] subhangi2731 commented on #8322
/assign

[2021-11-23 17:55] #8257 closed

[2021-11-23 17:56] #7607 closed

[2021-11-23 17:56] subhangi2731 commented on #8322
/assign

[2021-11-23 18:00] #7804 closed

[2021-11-23 18:01] amanraj-iit commented on #8313
/assign

[2021-11-23 18:14] #8181 closed

[2021-11-23 18:20] archijaiswal commented on #8140
/assign

[2021-11-23 18:44] #8313 closed

[2021-11-23 18:46] amanraj-iit opened #8326 "Job_Sequencing_Problem C_CPP"
### Description

C_CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-23 18:46] amanraj-iit commented on #8326
/assign

[2021-11-23 18:59] its-me-Harsh-Anand opened #8328 "JS: Fetch API"
### Description

Description
- What is fetch api
- Benefits of using fetch api over traditional one
- Example with GET and POST request

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gi

[2021-11-23 19:00] its-me-Harsh-Anand commented on #8328
/assign
@paramsiddharth sir, please review this issue and assign it to me

[2021-11-23 19:14] amanraj-iit opened #8331 "Minesweeper Game C_CPP"
### Description

C_CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-23 19:15] amanraj-iit commented on #8331
/assign

[2021-11-23 19:16] amanraj-iit commented on #8331
/assign

[2021-11-23 19:37] amanraj-iit commented on #8331
/assign

[2021-11-23 19:47] amanraj-iit commented on #8331
/assign

[2021-11-23 19:51] #8292 closed

[2021-11-24 02:23] eliziaeve7 commented on #7667
/assign Documentation, I would write up a step by step process of making this model.

[2021-11-24 02:25] eliziaeve7 commented on #7666
/assign, Documentation, I would be providing a detailed step by step guide to complete this issue.

[2021-11-24 02:27] eliziaeve7 commented on #7341
/assign Documentation

[2021-11-24 02:29] eliziaeve7 commented on #7396
/assign Documentation or audio contribution

[2021-11-24 02:42] ayush-sleeping commented on #689
Hey @rahulsain , assign me this issue <br>
-> 05.2 Android Services #689  for ` " AUDIO " ` Section ...........................

[2021-11-24 03:12] 124015001 opened #8341 "C_CPP: Member Functions of "string" class"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 03:12] 124015001 commented on #8341
/assign

[2021-11-24 03:26] #8301 closed

[2021-11-24 03:32] prathimacode-hub commented on #7667
Don't self assign yourself. Instead add details before doing so and ask for confirmation so that i can assign it. @eliziaeve7

[2021-11-24 03:33] prathimacode-hub commented on #7341
Don't self assign yourself without providing details. @eliziaeve7

[2021-11-24 03:47] #8142 closed

[2021-11-24 03:50] amanraj-iit commented on #8331
/assign

[2021-11-24 03:50] kumarankm opened #8344 "Python: Adding Index to Readme"
### Description

Need to add a pending index to the python main readme

### Domain

Python_Domain

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-11-24 04:12] priyankapiba commented on #8344
/assign

[2021-11-24 04:14] kumarankm commented on #8344
@adityabisoi Assign this issue to @priyankapiba

[2021-11-24 04:34] #7924 closed

[2021-11-24 04:47] abhisheks008 commented on #7856
@priyall waiting for your PR.

[2021-11-24 04:47] abhisheks008 commented on #8255
What's the progress here @shrestharushika

[2021-11-24 04:56] akarshlahariya11 commented on #6757
/assign

[2021-11-24 05:25] shrestharushika commented on #8255
I'll make the PR by the end of the day.

[2021-11-24 06:31] subhangi2731 opened #8347 "The prototype chain in JavaScript"
### Description

When we invoke a function with the new operator, It will create a new Object and It will assign the new Object to this context.
It will link the __proto__ property of that new object to the prototype property of the function. Player. prototype in our case.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contribut

[2021-11-24 06:32] subhangi2731 commented on #8347
/assign

[2021-11-24 06:33] #7937 closed

[2021-11-24 06:37] Pragati1419 opened #8348 "Microsoft Home page clone"
### Description

Description

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 06:38] Pragati1419 commented on #8348
Microsoft Clone

[2021-11-24 06:38] Pragati1419 commented on #8348
"/assign"

[2021-11-24 07:14] adityabisoi commented on #48
Audio or video?

[2021-11-24 07:50] heet-kumar commented on #7622
@Anshii12 any updates ?

[2021-11-24 08:07] AnantDuhan commented on #8348
/assign

[2021-11-24 08:08] AnantDuhan commented on #8033
/assign

[2021-11-24 08:10] AnantDuhan commented on #5696
/assign

[2021-11-24 08:25] #8025 closed

[2021-11-24 08:28] akratikushwah opened #8352 "Merge Two Sorted Linked List"
### Description

Here,I will merge two sorted linked lists.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 08:29] akratikushwah opened #8353 "Question based on Floyd's Algorithm"
### Description

Here, I will discuss a question based on Floyd's Algorithm with its code.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-11-24 08:30] akratikushwah opened #8354 "Reverse a linked list"
### Description

Here, I will reverse a linked list by using two methods
1. Iterative Method
2. Recursive Method

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blo

[2021-11-24 08:31] akratikushwah opened #8355 "Reverse K nodes in a linked list"
### Description

In this we will reverse k nodes in a linked list

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-11-24 08:33] akratikushwah commented on #8352
/assign

[2021-11-24 08:34] akratikushwah commented on #8353
/assign

[2021-11-24 08:34] akratikushwah commented on #8354
/assign

[2021-11-24 08:34] akratikushwah commented on #8355
/assign

[2021-11-24 08:38] #8355 closed

[2021-11-24 09:35] amanraj-iit commented on #8331
/assig

[2021-11-24 09:35] #8331 closed

[2021-11-24 09:40] amanraj-iit opened #8358 "Prime Factor C_CPP"
### Description

C_CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 09:40] amanraj-iit commented on #8358
/assign

[2021-11-24 09:42] amanraj-iit commented on #8358
@Saviour1001 please assign this to me

[2021-11-24 09:44] amanraj-iit commented on #8358
I had closed all my issues then also the bot is not assigning me

[2021-11-24 09:46] amanraj-iit commented on #8358
/assign

[2021-11-24 09:55] amanraj-iit commented on #8358
/assign

[2021-11-24 10:10] priyankapiba commented on #48
Actually on the documentation part, because there isn't any documentation in https://github.com/girlscript/winter-of-contributing/tree/Python/Python/GitHub_Terminologies

[2021-11-24 10:16] amanraj-iit commented on #8331
/remove

[2021-11-24 10:21] Aditi542 opened #8360 "cpp"
### Description

Adding a content

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 10:23] Aditi542 commented on #8360
/assign

[2021-11-24 10:30] Aditi542 opened #8361 "cpp"
### Description

adding documentation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 10:30] Aditi542 commented on #8361
/assign

[2021-11-24 10:31] amanraj-iit opened #8362 "The Pigeonhole Principle"
### Description

C_CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 10:49] amanraj-iit commented on #8358
/assign

[2021-11-24 10:55] tejas342 commented on #5229
@adityabisoi please unassign me from this issue, due to some reason i will unable to complete it

[2021-11-24 11:13] Saviour1001 commented on #8358
Closing this as #8359 got merged

[2021-11-24 11:14] #8358 closed

[2021-11-24 11:14] Kajal13081 commented on #6094
PR #8363
@VikasPandey121, @sitamadex11 Sir review the PR.

[2021-11-24 11:18] amanraj-iit commented on #8362
/assign

[2021-11-24 11:23] priyankapiba commented on #48
Which mentor is assigned?

[2021-11-24 11:29] Kajal13081 commented on #6105
/assign

[2021-11-24 11:35] #7961 closed

[2021-11-24 11:36] #7400 closed

[2021-11-24 11:36] adityabisoi commented on #48
You can ping any mentor.

[2021-11-24 11:40] Anant1711 commented on #5484
ok
submit on time please!

[2021-11-24 11:45] Vishaka830 commented on #350
Vishaka Saxena
Serial No: 901
Batch: 20
Issue Number: 350
Type: Documentation
Approach: Introduction to Python’s NLP
Tokenizing
Filtering Stop Words
Lemmatizing
Chunking
Chinking
Finding Collocations
Conclusion
@prathimacode-hub  Can I work on it?

[2021-11-24 11:50] Anant1711 commented on #5481
I did'nt find out your 8284 PR, and 5481 is not looking good (other branch material is also there!)

[2021-11-24 13:03] amanraj-iit opened #8367 "Expression Evaluation"
### Description

C_CPP

### Domain

C/CPP

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 13:03] amanraj-iit commented on #8367
/assign

[2021-11-24 13:34] CMELAKKIA opened #8370 "JavaScript functions"
### Description

A brief introduction to functions in Javascript

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-24 13:34] #8370 closed

[2021-11-24 13:34] Ash515 commented on #7743
PR ID please

[2021-11-24 13:35] Ash515 commented on #7191
yeah sure

[2021-11-24 13:38] ARUNBALACHOCKALINGAM opened #8371 "JavaScript Arrow Functions"
### Description

A Brief Introduction of Arrow Functions in Javascript

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-11-24 13:38] ARUNBALACHOCKALINGAM commented on #8371
/assign

[2021-11-24 13:42] Ash515 opened #8372 "SQL Views and Indexes"
### Description

Learn how the views and indexes concepts and contribute here.

### Domain

Database

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-11-24 13:45] Ash515 opened #8373 "SQL transactions and Injections"
### Description

Contribute here

### Domain

Database

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 13:50] Isha307 opened #8374 "ML : Restaurant Revenue Prediction"
### Description

### 📌 Issues for Week 9 - Basic Projects of Machine Learning

🔴 **Project Title** : **Restaurant Revenue Prediction**
🔴 **Aim of the Project** : Machine learning model to predict the revenue of restaurant.
🔴 **Dataset** : https://www.kaggle.com/c/restaurant-revenue-prediction/data
🔴 **Domain** : Machine Learning
🔴 **Special Credit** : **Try to implement more than three machine lea

[2021-11-24 13:51] deepthi1107 commented on #8374
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do documentation on this issue.my approach: a detailed explanation

[2021-11-24 13:52] Isha307 commented on #8374
@deepthi1107 Assigned to you, Create the PR in 3 days.

[2021-11-24 13:52] deepthi1107 commented on #8374
Full name : Deepthi M
Batch Number : 02
GitHub Profile Link : https://github.com/deepthi1107
Approach for this Project : EDA, SVM, logistic regression, knn
Are you a participant of GWoC21?
 YES

[2021-11-24 14:03] #8294 closed

[2021-11-24 14:23] #2466 closed

[2021-11-24 14:23] #7175 closed

[2021-11-24 14:49] #8143 closed

[2021-11-24 14:55] prathimacode-hub commented on #350
yes, issue assigned to @Vishaka830 for documentation

[2021-11-24 15:22] #8121 closed

[2021-11-24 15:58] Pranshu321 opened #8382 "C_CPP : Minimum number moves in snakes and ladder using Graph"
### Description

In this, I explain how we can find the minimum number of moves at reaching 100 number square box in snake and ladder game using the graph.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://githu

[2021-11-24 15:58] Pranshu321 commented on #8382
/assign

[2021-11-24 16:08] Octocat-10 opened #8385 "bank management project in cpp"
### Description

how to do bank management project in cpp.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 16:12] deepthi1107 commented on #367
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-24 16:13] deepthi1107 commented on #383
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-24 16:13] deepthi1107 commented on #391
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-24 16:14] deepthi1107 commented on #427
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-24 16:16] deepthi1107 commented on #3523
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do video on this issue.
My approach: a detailed explanation

[2021-11-24 16:16] deepthi1107 commented on #4170
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-24 16:17] deepthi1107 commented on #4171
Hello, I am Deepthi M with serial number:172, Batch-5. I would like to do audio on this issue.
My approach: a detailed explanation

[2021-11-24 16:21] prathimacode-hub commented on #367
Issue assigned to @deepthi1107 for audio contribution

[2021-11-24 16:21] prathimacode-hub commented on #383
Issue assigned to @deepthi1107 for audio contribution

[2021-11-24 16:22] prathimacode-hub commented on #391
Issue assigned to @deepthi1107 for video contribution

[2021-11-24 16:22] prathimacode-hub commented on #427
Issue assigned to @deepthi1107 for audio contribution

[2021-11-24 16:23] prathimacode-hub commented on #3523
Issue assigned to @deepthi1107 for video contribution

[2021-11-24 16:23] prathimacode-hub commented on #4170
Issue assigned to @deepthi1107 for audio contribution

[2021-11-24 16:24] prathimacode-hub commented on #4171
Issue assigned to @deepthi1107 for audio contribution

[2021-11-24 16:44] ashish-reddy-20-08 commented on #367
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:45] prathimacode-hub commented on #367
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-24 16:47] ashish-reddy-20-08 commented on #377
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do AUDIO on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:48] ashish-reddy-20-08 commented on #416
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:49] ashish-reddy-20-08 commented on #417
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:50] ashish-reddy-20-08 commented on #1027
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:51] ashish-reddy-20-08 commented on #730
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do AUDIO on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:51] 0xUvaish commented on #8276
/assign

[2021-11-24 16:51] ashish-reddy-20-08 commented on #466
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:52] ashish-reddy-20-08 commented on #429
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do AUDIO on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:52] 0xUvaish commented on #8274
/assign

[2021-11-24 16:54] ashish-reddy-20-08 commented on #4758
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:55] ashish-reddy-20-08 commented on #4749
@prathimacode-hub , Mam
I am M. Ashish Reddy. I would like to do video on this issue.
Batch number: 5
serial number:174.
Approach: A detailed explanation with examples and real life uses

[2021-11-24 16:57] 0xUvaish commented on #7306
/assign

[2021-11-24 17:00] #8385 closed

[2021-11-24 17:00] Suvraneel commented on #8385
Code present [here](https://github.com/girlscript/winter-of-contributing/blob/C_CPP/C_CPP/Projects%20in%20C_C%2B%2B/Simple_ATM_Bank_in_C.md)

[2021-11-24 17:01] 0xUvaish commented on #8276
/assign

[2021-11-24 17:06] #8258 closed

[2021-11-24 17:09] 0xUvaish opened #8392 "[DSA]: 7.2.3 Introduction to Minimum Spanning Tree"
### Description

Explain Minimum Spanning Tree in Graphs with diagrams

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-11-24 17:09] 0xUvaish commented on #8392
/assign

[2021-11-24 17:12] 0xUvaish opened #8393 "[DSA]: 7.2.4 Shortest Paths Algorithm"
### Description

Explain Shortest Path Algorithms in Graphs with diagrams and codes

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-11-24 17:12] 0xUvaish commented on #8393
/assign

[2021-11-24 17:17] prathimacode-hub commented on #4749
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-24 17:18] prathimacode-hub commented on #4758
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-24 17:18] prathimacode-hub commented on #429
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-24 17:19] prathimacode-hub commented on #466
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-24 17:19] prathimacode-hub commented on #730
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-24 17:19] prathimacode-hub commented on #1027
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-24 17:20] prathimacode-hub commented on #417
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-11-24 17:21] prathimacode-hub commented on #377
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-11-24 17:49] amanraj-iit opened #8395 "To Find Equilibrium Index of an Array"
### Description

C_CPP

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-24 17:49] amanraj-iit commented on #8395
/assign

[2021-11-24 18:01] iam-sakshi opened #8397 "Find the Top K Frequent Elements"
### Description

how to find the optimized solution to find Top K Frequent Elements.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-11-24 18:21] amanraj-iit opened #8403 "Terminal_Game C_CPP"
<hr>

## Description 📜

Please include a summary of the change and which issue is fixed. Please also include relevant motivation and context.
Fixes #issue_number_here

<hr>

## Type of change 📝

- [ ] Au#dio (Should be in mp3 format Includes speech clarity, Concise ,Low distortion)
- [ ] Vi#deo (Animations, screen-recordings, presentations and regular explanatory films are all possibilties etc)
-

[2021-11-24 18:22] amanraj-iit commented on #8403
/assign

[2021-11-24 18:28] iam-sakshi commented on #8397
/assign

[2021-11-24 18:42] iam-sakshi commented on #8397
/assign

[2021-11-25 03:03] #2175 closed

[2021-11-25 03:13] #3316 closed

[2021-11-25 03:16] #1298 closed

[2021-11-25 03:48] #6094 closed

[2021-11-25 03:48] #5999 closed

[2021-11-25 03:49] #7255 closed

[2021-11-25 03:50] #6010 closed

[2021-11-25 03:50] #7888 closed

[2021-11-25 03:51] VikasPandey121 commented on #8173
Yes, sure @Kajal13081.
Go ahead.

[2021-11-25 03:52] #8130 closed

[2021-11-25 03:53] VikasPandey121 commented on #8005
I have assigned this issue to you @priyanshu688. You can start working on it now.

[2021-11-25 03:53] #7816 closed

[2021-11-25 03:54] VikasPandey121 commented on #6007
I have assigned this issue to you @Nikita512, you can begin contributing to this issue.

[2021-11-25 03:55] VikasPandey121 commented on #34
Yes, sure @issue31. I have assigned this issue to you.

[2021-11-25 03:57] #6111 closed

[2021-11-25 03:58] VikasPandey121 commented on #55
Sure, I am assigning this issue to you. You can begin contributing to this issue.

[2021-11-25 05:36] ayush-sleeping commented on #2361
Hey @rahulsain ,`  "  Assign  "  `  me this issue for Audio section .................

[2021-11-25 05:39] #8274 closed

[2021-11-25 05:40] #8276 closed

[2021-11-25 05:46] ayush-sleeping opened #8410 "Android Kotlin: Readme Update"
## Description :scroll:

* All the Topics name in Roadmap make responsive  <br> (so that just touching the topics name we can reach to the documentation very easily )

*  Badge or Sheild  of Kotlin lang. and Android studio .

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_

[2021-11-25 05:49] ayush-sleeping commented on #8410
Hey @rahulsain , I want to make all the topic and subtopic name in Roadmap of Android dev. kotlin " Responsive " <br> and want to add Badge or sheild of Android studio and Kotlin lang. <br>
* It will make out Readme of Android dev. kotlin more impressive and Responsive <br>
* What do you think @rahulsain let me know <br>

And if you agree ,  " Assign "  me this issue . ........................

[2021-11-25 06:05] amanraj-iit commented on #8403
/assign

[2021-11-25 06:09] #5916 closed

[2021-11-25 06:34] roopali-1 commented on #8150
@adityabisoi is this issue open for audio ??
is yes then please assign it to me as audio contribution . Thank you

[2021-11-25 06:36] roopali-1 commented on #8117
@adityabisoi is this issue available for audio ?? if it is then please assign it to me . Thank you

[2021-11-25 06:55] #8354 closed

[2021-11-25 06:55] #8353 closed

[2021-11-25 07:02] #8221 closed

[2021-11-25 07:13] akratikushwah opened #8417 "Bank Management System using C++"
### Description

Bank management system using c++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-11-25 07:13] akratikushwah commented on #8417
/assign

[2021-11-25 07:14] akratikushwah commented on #8417
/assign

[2021-11-25 07:37] prathimacode-hub commented on #7666
Issue assigned to @eliziaeve7 for documentation.

[2021-11-25 07:44] #8352 closed

[2021-11-25 08:14] deepeshaburse commented on #1291
@avishj Can I work on this?

[2021-11-25 08:15] deepeshaburse commented on #1294
@avishj Can I work on this?

[2021-11-25 08:16] #6370 closed

[2021-11-25 08:26] #6757 closed

[2021-11-25 08:30] #7798 closed

[2021-11-25 08:31] #6360 closed

[2021-11-25 08:33] #5850 closed

[2021-11-25 08:34] #5390 closed

[2021-11-25 08:35] #4171 closed

[2021-11-25 08:35] #4170 closed

[2021-11-25 08:42] #1830 closed

[2021-11-25 08:43] #1126 closed

[2021-11-25 08:51] #419 closed

[2021-11-25 08:55] #347 closed

[2021-11-25 09:08] #8204 closed

[2021-11-25 09:43] #7591 closed

[2021-11-25 09:46] varnikarathee opened #8424 "Scheduling_Algorithms_using_Vectors"
### Description

Description

Scheduling_Algorithms_using_Vectors

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proj

[2021-11-25 10:12] Manya1609 commented on #6789
/assign

[2021-11-25 10:17] Manya1609 opened #8425 "What are Vectors in Cpp!"
### Description

Explanation of what vectors are and how and when to use Vectors!!

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-11-25 10:18] Manya1609 commented on #8425
/assign

[2021-11-25 10:46] #8266 closed

[2021-11-25 10:57] #8235 closed

[2021-11-25 10:58] #6974 closed

[2021-11-25 10:59] #7284 closed

[2021-11-25 11:03] divya-chhoriya commented on #4751
/assign
Divya Chhoriya
Sr no. 444
Batch 12
Type: documentation
Approach: explain polynomial regression with the help of code

[2021-11-25 11:07] #8069 closed

[2021-11-25 11:08] prathimacode-hub commented on #4751
Issue assigned to @divya-chhoriya for documentation

[2021-11-25 11:17] juhik24 opened #8430 "Deletion in Binary Search Tree"
### Description

Discuss the implementation to delete a node from Binary Search Tree.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-11-25 11:21] juhik24 commented on #8430
/assign

[2021-11-25 11:24] #5895 closed

[2021-11-25 11:24] #5912 closed

[2021-11-25 11:29] #2660 closed

[2021-11-25 11:29] #8382 closed

[2021-11-25 11:29] #6957 closed

[2021-11-25 11:39] #3605 closed

[2021-11-25 11:41] #848 closed

[2021-11-25 11:41] #852 closed

[2021-11-25 11:41] #854 closed

[2021-11-25 11:41] #864 closed

[2021-11-25 11:41] #874 closed

[2021-11-25 11:41] #885 closed

[2021-11-25 11:41] #886 closed

[2021-11-25 11:41] #891 closed

[2021-11-25 11:41] #927 closed

[2021-11-25 11:41] #952 closed

[2021-11-25 11:41] #958 closed

[2021-11-25 11:41] #962 closed

[2021-11-25 11:41] #963 closed

[2021-11-25 11:41] #979 closed

[2021-11-25 11:41] #981 closed

[2021-11-25 11:41] #1004 closed

[2021-11-25 11:41] #1020 closed

[2021-11-25 11:41] #1047 closed

[2021-11-25 11:41] #1059 closed

[2021-11-25 11:41] #1295 closed

[2021-11-25 11:41] #1327 closed

[2021-11-25 11:41] #1347 closed

[2021-11-25 11:41] #1357 closed

[2021-11-25 11:41] #1375 closed

[2021-11-25 11:41] #1381 closed

[2021-11-25 11:41] #1419 closed

[2021-11-25 11:41] #1421 closed

[2021-11-25 11:41] #1422 closed

[2021-11-25 11:41] #1437 closed

[2021-11-25 11:41] #1478 closed

[2021-11-25 11:41] #1529 closed

[2021-11-25 11:41] #1589 closed

[2021-11-25 11:41] #1612 closed

[2021-11-25 11:41] #1624 closed

[2021-11-25 11:41] #1626 closed

[2021-11-25 11:41] #1627 closed

[2021-11-25 11:41] #1629 closed

[2021-11-25 11:41] #1631 closed

[2021-11-25 11:41] #1638 closed

[2021-11-25 11:41] #1646 closed

[2021-11-25 11:42] #1705 closed

[2021-11-25 11:42] #1708 closed

[2021-11-25 11:42] #1729 closed

[2021-11-25 11:42] #1744 closed

[2021-11-25 11:42] #1749 closed

[2021-11-25 11:42] #1817 closed

[2021-11-25 11:42] #1873 closed

[2021-11-25 11:42] #1914 closed

[2021-11-25 11:42] #1921 closed

[2021-11-25 11:42] #1923 closed

[2021-11-25 11:42] #1924 closed

[2021-11-25 11:42] #1976 closed

[2021-11-25 11:42] #1989 closed

[2021-11-25 11:42] #1990 closed

[2021-11-25 11:42] #2001 closed

[2021-11-25 11:42] #2022 closed

[2021-11-25 11:42] #2081 closed

[2021-11-25 11:42] #2132 closed

[2021-11-25 11:42] #2195 closed

[2021-11-25 11:42] #2283 closed

[2021-11-25 11:42] #2337 closed

[2021-11-25 11:42] #2339 closed

[2021-11-25 11:42] #2340 closed

[2021-11-25 11:42] #2373 closed

[2021-11-25 11:42] #2389 closed

[2021-11-25 11:42] #2431 closed

[2021-11-25 11:42] #2437 closed

[2021-11-25 11:42] #2467 closed

[2021-11-25 11:42] #2609 closed

[2021-11-25 11:42] #2610 closed

[2021-11-25 11:42] #2632 closed

[2021-11-25 11:42] #2649 closed

[2021-11-25 11:42] #2915 closed

[2021-11-25 11:42] #3036 closed

[2021-11-25 11:47] #3049 closed

[2021-11-25 11:47] #3068 closed

[2021-11-25 11:47] #3107 closed

[2021-11-25 11:47] #3159 closed

[2021-11-25 11:47] #3169 closed

[2021-11-25 11:47] #3179 closed

[2021-11-25 11:47] #3210 closed

[2021-11-25 11:47] #3244 closed

[2021-11-25 11:47] #3307 closed

[2021-11-25 11:47] #3329 closed

[2021-11-25 11:47] #3332 closed

[2021-11-25 11:47] #3429 closed

[2021-11-25 11:47] #3530 closed

[2021-11-25 11:47] #3588 closed

[2021-11-25 11:47] #3618 closed

[2021-11-25 11:47] #3623 closed

[2021-11-25 11:48] #3743 closed

[2021-11-25 11:48] #3763 closed

[2021-11-25 11:48] #3828 closed

[2021-11-25 11:48] #3855 closed

[2021-11-25 11:48] #3856 closed

[2021-11-25 11:48] #3908 closed

[2021-11-25 11:48] #3961 closed

[2021-11-25 11:48] #4007 closed

[2021-11-25 11:48] #4018 closed

[2021-11-25 11:49] #4269 closed

[2021-11-25 11:49] #4275 closed

[2021-11-25 11:49] #4284 closed

[2021-11-25 11:49] #4354 closed

[2021-11-25 11:49] #4418 closed

[2021-11-25 11:49] #4442 closed

[2021-11-25 11:49] #4443 closed

[2021-11-25 11:49] #4458 closed

[2021-11-25 11:49] #4459 closed

[2021-11-25 11:49] #4484 closed

[2021-11-25 11:49] #4498 closed

[2021-11-25 11:49] #4505 closed

[2021-11-25 11:49] #4512 closed

[2021-11-25 11:49] #4521 closed

[2021-11-25 11:49] #4552 closed

[2021-11-25 11:49] #4568 closed

[2021-11-25 11:49] #4570 closed

[2021-11-25 11:49] #4584 closed

[2021-11-25 11:49] #4593 closed

[2021-11-25 11:49] #4640 closed

[2021-11-25 11:49] #4658 closed

[2021-11-25 11:49] #4825 closed

[2021-11-25 11:49] #4855 closed

[2021-11-25 11:49] #4865 closed

[2021-11-25 11:49] #4870 closed

[2021-11-25 11:49] #4902 closed

[2021-11-25 11:49] #5044 closed

[2021-11-25 11:49] #5064 closed

[2021-11-25 11:49] #5119 closed

[2021-11-25 11:49] #5139 closed

[2021-11-25 11:49] priyanshu688 commented on #8005
@VikasPandey121 Please review this PR - https://github.com/priyanshu688/winter-of-contributing/pull/32

[2021-11-25 11:49] #5140 closed

[2021-11-25 11:49] #5156 closed

[2021-11-25 11:49] #5161 closed

[2021-11-25 11:49] #5164 closed

[2021-11-25 11:49] #5255 closed

[2021-11-25 11:49] #5270 closed

[2021-11-25 11:49] #5303 closed

[2021-11-25 11:49] #5400 closed

[2021-11-25 11:49] #5409 closed

[2021-11-25 11:49] #5563 closed

[2021-11-25 11:49] #5564 closed

[2021-11-25 11:49] #5565 closed

[2021-11-25 11:49] #5567 closed

[2021-11-25 11:49] #5568 closed

[2021-11-25 11:49] #5578 closed

[2021-11-25 11:49] #5605 closed

[2021-11-25 11:49] #5638 closed

[2021-11-25 11:49] #5639 closed

[2021-11-25 11:49] #5656 closed

[2021-11-25 11:49] #5672 closed

[2021-11-25 11:51] #5723 closed

[2021-11-25 11:51] #5827 closed

[2021-11-25 11:51] #5857 closed

[2021-11-25 11:51] #5974 closed

[2021-11-25 11:51] #6271 closed

[2021-11-25 11:51] #6447 closed

[2021-11-25 11:51] #6455 closed

[2021-11-25 11:51] #6483 closed

[2021-11-25 11:51] #6551 closed

[2021-11-25 11:51] #6563 closed

[2021-11-25 11:51] #6789 closed

[2021-11-25 11:51] #6797 closed

[2021-11-25 11:51] #6934 closed

[2021-11-25 11:51] #7069 closed

[2021-11-25 11:51] #7089 closed

[2021-11-25 11:51] #7116 closed

[2021-11-25 11:51] #7174 closed

[2021-11-25 11:51] #7265 closed

[2021-11-25 11:51] #7266 closed

[2021-11-25 11:51] #7278 closed

[2021-11-25 11:51] #7407 closed

[2021-11-25 11:51] #7296 closed

[2021-11-25 12:01] priyanshu688 opened #8432 "[DSA]: Introduction to Tries and Its Implementation in Cpp, Java or Python"
### Description

Introduction to Tries and Its Implementation in Cpp, Java or Python

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-11-25 12:02] priyanshu688 commented on #8432
/assign

[2021-11-25 12:04] priyanshu688 commented on #8432
@nimisha-yadav Please assign this issue to me