[2021-09-26 14:48] Sharayu1071 opened #2923 "[Create New Issue]: CSS Comments"
### Description

In computer programming, a comment is a programmer-readable explanation or annotation in the source code of a computer program. They are added with the purpose of making the source code easier for humans to understand. I will be creating documentation regarding comments in CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [

[2021-09-26 14:48] #613 closed

[2021-09-26 14:48] Sharayu1071 commented on #2923
/assign

[2021-09-26 14:51] ashish-reddy-20-08 commented on #2781
Hello @geeythree @abhisheks008 ,
can you assign me this issue
M.Ashish Reddy
batch-2

[2021-09-26 14:52] ashish-reddy-20-08 commented on #2776
@geeythree @abhisheks008 , Can you kindly assign me this work.
M.Ashish Reddy
Batch-2

[2021-09-26 14:52] xxEasterGrymm commented on #666
@Aryamanz29 but I was active, I had raised two PRs, yes both of them were invalidated, but I wasn't inactive

[2021-09-26 14:59] abhisheks008 commented on #2781
Sorry @ashish-reddy-20-08 as @BhaswatiRoy has already commented in it, it'll be assigned to @BhaswatiRoy.

@BhaswatiRoy Issue assigned to you, go ahead and complete this by Wednesday 🎉

[2021-09-26 15:00] abhisheks008 commented on #2776
@ashish-reddy-20-08 Issue assigned. Go ahead 🚀

[2021-09-26 15:00] ashish-reddy-20-08 commented on #2776
@abhisheks008 , thank you so much sir.

[2021-09-26 15:02] #2794 closed

[2021-09-26 15:06] prathimacode-hub commented on #2407
Issue is assigned to @anamhayat for audio contribution

[2021-09-26 15:08] prathimacode-hub commented on #1831
This issue is already assigned for other for documentation. if you're interested you can take it for audio / video contribution. @hrugved06

[2021-09-26 15:08] jyotsana279 commented on #2830
/assign document

[2021-09-26 15:09] nakshatra-garg opened #2927 "Python: Yield Keyword"
### Description

Description:
What is the yield keyword?
Where yield keyword is used?
Advantages and Disadvantages.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contr

[2021-09-26 15:10] vasu-1 commented on #2467
Hey @Subhampreet
Please make another Issue.. of this topic and opt for video format.....
And assign it to yourself
For assigning to yourself you will have to type ` /assign `

[2021-09-26 15:11] nakshatra-garg commented on #2927
/assign
@adityabisoi @prathimacode-hub

[2021-09-26 15:16] a12baghel2 commented on #2910
/assign

[2021-09-26 15:18] iamsunil25 commented on #2923
/assign audio

[2021-09-26 15:18] deepthi1107 commented on #588
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do documentation on this issue.

[2021-09-26 15:19] iamsunil25 commented on #2909
/assign audio

[2021-09-26 15:19] deepthi1107 commented on #605
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-09-26 15:22] riyasai22 commented on #1335
Kindly review my PR @code-reaper08 .

[2021-09-26 15:25] #672 closed

[2021-09-26 15:26] HastiSutaria commented on #437
@prathimacode-hub @Kareem-negm I am getting a small error. Can I get help?

[2021-09-26 15:28] anmol20112000 opened #2929 "Insertion in an Array.."
I will explain Insertion in an Array in a better way...with code and

Domain
C/CPP

Type of Contribution
Documentation

[2021-09-26 15:30] anmol20112000 commented on #2929
/assign

[2021-09-26 15:30] Eswari-Priya opened #2930 "Python Strings"
### Description

# Strings
 I would like to include the following-
- Accessing strings.
- String methods
- operations that can be performed on them.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gith

[2021-09-26 15:31] #2929 closed

[2021-09-26 15:31] Eswari-Priya commented on #2930
@adityabisoi pls assign me this issue!
I am eswari priya and i belong to python-batch6

[2021-09-26 15:32] abhisheks008 opened #2931 "ML 2.15 : Implement Decision Tree without using any standard ML library like scikit-learn or more (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement Decision Tree without using any standard ML library like scikit-learn or more_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of

[2021-09-26 15:33] pratishthaa opened #2933 "Flutter: Introduction to Basic of Widgets Library"
### Description

Add documentation of Basic of Widgets-
- What are widgets?
- Background or inspiration for widgets
- Basic example using Widget(e.g. print Hello World)

Feel free to add any basic example as per your wish!

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-o

[2021-09-26 15:35] riyasai22 commented on #2809
I would like to contribute to this issue. @Isha307
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: Audio

/assign

[2021-09-26 15:35] abhisheks008 opened #2935 "ML 2.16 : Implement KNN without using any standard ML library like scikit-learn or more (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement KNN without using any standard ML library like scikit-learn or more_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine L

[2021-09-26 15:36] pratishthaa opened #2936 "Flutter : Basics of Widgets - Video"
### Description

Add Video explaining of Basic of Widgets-
- What are widgets?
- Background or inspiration for widgets
- Basic example using Widget(e.g. print Hello World)

Feel free to add any basic example as per your wish!

### Domain

Android Dev (Flutter)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-con

[2021-09-26 15:36] #2479 closed

[2021-09-26 15:36] Eswari-Priya commented on #2930
/assign
@adityabisoi

[2021-09-26 15:36] #1686 closed

[2021-09-26 15:38] abhisheks008 opened #2937 "ML 2.17 : Random Forest Algorithms (A)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Random Forest Algorithms_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice yo

[2021-09-26 15:39] BhaswatiRoy commented on #2781
Sure thanks!

[2021-09-26 15:40] abhisheks008 opened #2938 "ML 2.17 : Random Forest Algorithms (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Random Forest Algorithms_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice yo

[2021-09-26 15:40] pratishthaa opened #2939 "Flutter : Basic Widgets used - Documentation"
### Description

Add documentation on basic widgets used-
-Text
-Row, Column
-Stack
-Container

Each should be explained with examples to distinctively explain the use of each widget.

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRI

[2021-09-26 15:41] riyasai22 commented on #2809
/assign

[2021-09-26 15:41] pratishthaa opened #2940 "Flutter : Basic Widgets - Video"
### Description

Add video explanation on basic widgets used-
-Text
-Row, Column
-Stack
-Container

Each should be explained with examples to distinctively explain the use of each widget.

### Domain

Android Dev (Flutter)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTI

[2021-09-26 15:42] abhisheks008 opened #2941 "ML 2.17 : Random Forest Algorithms (V)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Random Forest Algorithms_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice yo

[2021-09-26 15:43] Safwan310 commented on #2939
/assign

[2021-09-26 15:44] abhisheks008 opened #2943 "ML 2.18 : Implement Random Forest without using any standard ML library like scikit-learn or more (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement Random Forest without using any standard ML library like scikit-learn or more_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of

[2021-09-26 15:46] rishitajain01 opened #2945 "Java:Multiple inheritance using Interface"
### Description

I will explain how we can achieve multiple inheritance in Java using the concept of interface.
Please assign this work to me.

### Domain

Java_Domain

### Type of Contribution

Documentation
Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github

[2021-09-26 15:47] rishitajain01 commented on #2945
/assign documentation

[2021-09-26 15:47] pratishthaa opened #2946 "Flutter : Using Material Components - Documentation"
### Description

Add documentation on "Using Material Components" covering-

-  Components to build a Material Design
-  Detail of MaterialApp and basic widgets used inside to create it
-  Add examples for clarity

### Domain

Android Dev (Flutter)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contrib

[2021-09-26 15:47] NiharikaSngh opened #2947 "Entity-Relationship Model"
### Description

Write an Introduction to E-R Model

### Domain

Database

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-09-26 15:48] NiharikaSngh commented on #2947
\assign

[2021-09-26 15:48] NiharikaSngh commented on #2947
/assign

[2021-09-26 15:49] pratishthaa opened #2948 "Flutter : Using Material Components - Video"
### Description

Add video explanation on "Using Material Components" covering-

-  Components to build a Material Design
-  Detail of MaterialApp and basic widgets used inside to create it
-  Add examples for clarity

### Domain

Android Dev (Flutter)

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributin

[2021-09-26 15:51] 7sakshi7 commented on #2239
I would like to contribute
Batch 10

[2021-09-26 15:53] Tani21 commented on #2933
I am interested to work on this

[2021-09-26 15:54] anmol20112000 commented on #73
@paramsiddharth  sir i have a problem regarding the issue....& I m not able to find u on discord...can u plzz tell me how can i approach u on discord...

[2021-09-26 15:55] anmol20112000 commented on #71
/unassign

[2021-09-26 15:55] Ananyagupta43 commented on #1896
@mukeshmjn Sir I am working on this .

[2021-09-26 15:55] NiharikaSngh commented on #2947
Hello visitors, this isssue has been created by me. Do not think of assigning it to yourself!! Have a nice day!!

[2021-09-26 15:56] abhisheks008 opened #2950 "ML 2.19 : Gradient Descent Algorithms (A)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Gradient Descent Algorithms_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice

[2021-09-26 15:57] AastikSharma05 opened #2952 "Issue: Given a string, find the repeated character present first in the string. C++"
### Description

Given a string, find the repeated character present first in the string.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-09-26 15:58] AastikSharma05 commented on #2952
/assign

[2021-09-26 15:58] abhisheks008 opened #2954 "ML 2.19 : Gradient Descent Algorithms (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Gradient Descent Algorithms_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice

[2021-09-26 16:00] abhisheks008 opened #2955 "ML 2.19 :Gradient Descent Algorithms (V)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Gradient Descent Algorithms_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice

[2021-09-26 16:05] #1362 closed

[2021-09-26 16:06] ctnkaan opened #2956 "How NPM and Yarn works."
### Description

If its not in progress. I would like to write a documentation about how NPM works and the difference between NPM and yarn.
It's a task located in week 1 at React folder.
Feel free to assign me to this issue if it's free.

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github

[2021-09-26 16:08] abhisheks008 opened #2957 "ML 2.20 : Implement Gradient Descent without using any standard ML library like scikit-learn or more (D)"
### Description

### 📌  Issues for Week 2
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement Gradient Descent without using any standard ML library like scikit-learn or more_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet

[2021-09-26 16:15] hrugved06 commented on #1831
There was no assignee for the issue so I picked it up.
The person who was assigned removed himself from the assignee position @prathimacode-hub can you please confirm it

[2021-09-26 16:16] Ananyagupta43 commented on #1896
Recently I was up with a topic of other domain so I started working on this topic today only.

[2021-09-26 16:17] Aryamanz29 commented on #2837
@HassanRahim26  Assigned, Happy docs 🎉🎉

[2021-09-26 16:17] Pranshu321 commented on #2879
How did you open this issue i already opened this issue before than your issue please check it.

[2021-09-26 16:17] riyasai22 commented on #2937
I would like to contribute to this issue. @abhisheks008
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: Audio

[2021-09-26 16:19] riyasai22 commented on #2937
/assign

[2021-09-26 16:20] Aaryan376 opened #2960 "DSA: Search in a sorted and rotated array"
### Description

Implementation of Search in a sorted and rotated array problem by writing code.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/COD

[2021-09-26 16:21] Aaryan376 commented on #2960
/assign

[2021-09-26 16:24] #1108 closed

[2021-09-26 16:24] Aryamanz29 commented on #1104
@Binita-tech  Any updates??

[2021-09-26 16:25] Niranjan5601 commented on #2946
/assign

[2021-09-26 16:25] Aryamanz29 commented on #2523
Already covered #315 @anupamishra333

[2021-09-26 16:25] #2523 closed

[2021-09-26 16:26] Aryamanz29 commented on #1348
We don't need this issue now
Thanks

[2021-09-26 16:26] #1348 closed

[2021-09-26 16:27] newbiens opened #2962 "Version Control System"
### Description

In this document, version control and it's type will be discussed.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-09-26 16:28] newbiens commented on #2962
/assign

[2021-09-26 16:28] #1508 closed

[2021-09-26 16:28] #2257 closed

[2021-09-26 16:29] #1884 closed

[2021-09-26 16:32] abhisheks008 commented on #2809
@riyasai22 one issue at a time. Complete the assigned issue previously and do not use `/assign` tag in future.

[2021-09-26 16:33] abhisheks008 commented on #2937
@riyasai22 One issue at a time, and please do not use `/assign` tag.

[2021-09-26 16:33] AkMo3 commented on #2445
Documentation pr made and merged. Other 2 domains are available.

[2021-09-26 16:33] guptapriya-83900 commented on #2954
Name: Priya Gupta
Batch: batch-1
Github Profile link: https://github.com/guptapriya-83900
Type of Contribution: Documentation , I will explain in detail bout Gradient Descent along with implementation and its uses.

[2021-09-26 16:34] AkMo3 commented on #2608
Documentation PR merged.  Other 2 domains are available to take.

[2021-09-26 16:34] abhisheks008 commented on #2954
Issue assigned @guptapriya-83900. Go ahead 🚀

[2021-09-26 16:35] AkMo3 commented on #2363
@anjali-kundliya05 You have been assigned documentation.

[2021-09-26 16:36] #1876 closed

[2021-09-26 16:39] guptapriya-83900 commented on #2954
Thankyou for assigning me this issue @abhisheks008
I have a doubt, Can we use scikit library for this or we have to implement this without using scikit.
And Is it Ok if we show implementation both with the help of Scikit library and without it?

[2021-09-26 16:45] ishivamgupta9 commented on #2439
/assign video

[2021-09-26 16:47] ishivamgupta9 commented on #2623
/assign audio

[2021-09-26 16:48] ishivamgupta9 commented on #2426
/Assign Audio

[2021-09-26 16:48] ishivamgupta9 commented on #2426
/assign auido

[2021-09-26 16:48] #1071 closed

[2021-09-26 16:48] ishivamgupta9 commented on #2426
/assign audio

[2021-09-26 16:48] abhisheks008 commented on #2954
Show both, then compare them, it'll be a great one @guptapriya-83900

[2021-09-26 16:49] ishivamgupta9 commented on #2870
assign Audio

[2021-09-26 16:50] ishivamgupta9 commented on #2870
assign Video

[2021-09-26 16:51] Kareem-negm commented on #437
Of course, I am here to help you

[2021-09-26 16:51] Aryamanz29 commented on #2962
Already covered @newbiens See this https://github.com/girlscript/winter-of-contributing/tree/Opensource/Open_Source

[2021-09-26 16:51] #2962 closed

[2021-09-26 16:56] Aryamanz29 opened #2965 "Opensource : 6.2 Compare `npm vs yarn`"
### Description

<hr>

## Description 📜

Opensource :  6.2  Compare `npm vs yarn`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.2_npm_vs_yarn.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-09-26 16:59] iamsunil25 commented on #2965
/assign

[2021-09-26 16:59] VikasPandey121 commented on #2599
If you created a PR on this issue then please tag the issue number on your PR like #2599 so that I can look into it,

[2021-09-26 17:00] HastiSutaria commented on #437
PFA screenshot.
![Screenshot 2021-09-26 22 29 17](https://user-images.githubusercontent.com/69644003/134816963-054778e4-dbdd-4d03-b26d-0ad82bc655c5.png)

[2021-09-26 17:04] HastiSutaria commented on #437
Please find attached screenshot of the error.
![Screenshot 2021-09-26 22 29 17](https://user-images.githubusercontent.com/69644003/134817084-79d6d26e-a535-48a9-af43-63937ca173f5.png)

[2021-09-26 17:06] Aryamanz29 opened #2966 "Opensource : 6.3 Everything about `PIP`"
<hr>

## Description 📜

Opensource :   6.3 Everything about `PIP`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.3_PIP.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://git

[2021-09-26 17:07] ashishbdhane commented on #2952
/assign

[2021-09-26 17:08] HastiSutaria commented on #437
Please find attached screenshot @Kareem-negm
![Screenshot 2021-09-26 223739](https://user-images.githubusercontent.com/69644003/134817191-8be93e8d-e044-4530-b2f4-ecb53d76d3a8.png)

[2021-09-26 17:09] Kareem-negm commented on #437
I think it's about OpenCV version

[2021-09-26 17:09] Aryamanz29 opened #2967 "Opensource : 6.4 Everything about `vscode`"
<hr>

## Description 📜

Opensource :   Opensource : 6.4 Everything about `vscode`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.4_vscode.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of c

[2021-09-26 17:11] iamsunil25 commented on #2625
/assign audio

[2021-09-26 17:12] Aryamanz29 opened #2969 "Opensource : 6.5 Explain everything about `Ansible`"
<hr>

## Description 📜

Opensource :   6.5 Explain everything about `Ansible`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.5_Ansible.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of cond

[2021-09-26 17:13] HastiSutaria commented on #437
I downloaded latest opencv version.

[2021-09-26 17:14] AdityaStark7 commented on #2967
/assign

[2021-09-26 17:15] AdityaStark7 commented on #2938
/assign

[2021-09-26 17:16] AdityaStark7 commented on #2938
Batch No. 03
Documentation

[2021-09-26 17:17] Aryamanz29 opened #2971 "Opensource : 6.6 Explain everything about `Azure Docs`"
<hr>

## Description 📜

Opensource :   6.6 Explain everything about `Azure Docs`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.6_Azure_Docs.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-09-26 17:18] anjali-kundliya05 commented on #2363
Sir, I unknownly click on  unassign me. But I really want to contribute Sir! What can I do?

[2021-09-26 17:19] abhisheks008 commented on #2938
Come on man @AdityaStark7 We are requesting you guys not to self assign issues, still you are doing it. Anyways this is the last warning. Issue assigned, complete it by this Wednesday.

[2021-09-26 17:19] eshan1925 commented on #2412
Hey @anantcodes I have created the PR , you can merge it if there is no issue.

[2021-09-26 17:20] Aryamanz29 opened #2973 "Opensource : 6.7 Explain everything about `DefinitelyTyped`"
<hr>

## Description 📜

Opensource : 6.7 Explain everything about `DefinitelyTyped`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.7_DefinitelyTyped.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) &

[2021-09-26 17:21] AdityaStark7 commented on #2938
Sorry ! I didn't know it. Don't Worry I'll do it in 30 mins only

[2021-09-26 17:21] NIRBHAYKAUSHIK11 commented on #171
https://github.com/NIRBHAYKAUSHIK11/winter-of-contributing/blob/db357d2d7b43e51eeda8551ded994b17da3d3e63/Cyber_Security/Week_1/Explain%20what%20is%20Linux%20File%20System%20directories%20(1).md

[2021-09-26 17:21] deepthi1107 commented on #2935
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do documentation on this issue.

[2021-09-26 17:22] NIRBHAYKAUSHIK11 commented on #171
This is the permalink of the file.

[2021-09-26 17:23] VikasPandey121 commented on #118
It is just an update comment to know whether you are still working on the issue or not as it is not like if it is part of module 10 then we will accept the PR in week 10 only.

[2021-09-26 17:24] #913 closed

[2021-09-26 17:28] Subhrato20 commented on #2935
I would like to contribute @abhisheks008 sir
Name: Subhrato Som
Batch: 2
Contribution type: Documentation

[2021-09-26 17:29] GyaniRoman23 commented on #2966
Hey @Aryamanz29  I want to contribute to this issue.

[2021-09-26 17:30] Aryamanz29 opened #2974 "Opensource : 6.8 Explain everything about `Deno`"
<hr>

## Description 📜

Opensource : 6.8 Explain everything about `Deno`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.8_Deno.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](htt

[2021-09-26 17:31] KhafiaAyyub commented on #2971
/assign

[2021-09-26 17:32] Aryamanz29 opened #2975 "Opensource : 6.9 Explain everything about `Three.js`"
<hr>

## Description 📜

Opensource : 6.9 Explain everything about `Three.js`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.9_ThreeJS.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of condu

[2021-09-26 17:33] anjali-kundliya05 commented on #2969
/assign

[2021-09-26 17:33] Anant1711 commented on #171
Man what you did??
Do you know How to make PRs? Where to make a contribution? I didn't get any PR!
You have to select  Cyber_security branch.
<img width="395" alt="Capture" src="https://user-images.githubusercontent.com/63709820/134817951-1d2dac5d-6ab6-4a52-ab6d-dfe6666c4ba2.PNG">

[2021-09-26 17:35] mayankkuthar commented on #2974
/assign

[2021-09-26 17:36] mayankkuthar commented on #2974
Please Assign me I would like to work on this issue.

[2021-09-26 17:36] mayankkuthar commented on #2975
/assign

[2021-09-26 17:36] mayankkuthar commented on #2975
Please Assign me I would like to work on this issue.

[2021-09-26 17:37] HassanRahim26 commented on #2975
/assign

[2021-09-26 17:38] mayankkuthar commented on #2973
/assign

[2021-09-26 17:39] balasai45 opened #2976 "Upcasting and Downcasting"
### Description

Upcasting and downcasting in C++ .

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-26 17:39] Nay907 commented on #1558
Sorry for the delay!! I will be doing it soon!

[2021-09-26 17:39] balasai45 commented on #2976
/assign

[2021-09-26 17:40] Priyanshirathore commented on #118
But there is no deadline to it, right? till December?

[2021-09-26 17:42] UditJain77 commented on #605
@abhisheks008 I am extremely sorry for not updating, i had some issues. By tomorrow i will try to commit it fully.

[2021-09-26 17:42] Aryamanz29 opened #2978 "Opensource : 6.10 Explain everything about `Material UI`"
<hr>

## Description 📜

Opensource : 6.10 Explain everything about `Material UI`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.10_MaterialUI.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-09-26 17:42] Aryamanz29 opened #2979 "Opensource : 6.11 Explain everything about `Webpack`"
<hr>

## Description 📜

Opensource : 6.11 Explain everything about `Webpack`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.11_Webpack.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of cond

[2021-09-26 17:42] eshan1925 commented on #2974
/asign

[2021-09-26 17:42] Aryamanz29 opened #2980 "Opensource : 6.12 Explain everything about `Socket.io`"
<hr>

## Description 📜

Opensource : 6.12 Explain everything about `Socket.io`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.12_SocketIO.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of c

[2021-09-26 17:42] Aryamanz29 opened #2981 "Opensource : 6.13 Explain everything about `React Native`"
<hr>

## Description 📜

Opensource : 6.13 Explain everything about `React Native`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.13_React_Native.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Co

[2021-09-26 17:42] Aryamanz29 opened #2982 "Opensource : 6.14 Explain everything about `Grunt`"
<hr>

## Description 📜

Opensource : 6.14 Explain everything about `Grunt`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.14_Grunt.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct]

[2021-09-26 17:42] Aryamanz29 opened #2983 "Opensource : 6.15 Explain everything about `Ember.js`"
<hr>

## Description 📜

Opensource : 6.15 Explain everything about `Ember.js`

### NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.15_EmberJS.md`

<hr>

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of con

[2021-09-26 17:43] NiharikaSngh opened #2984 "Relational Data Model"
### Description

Give an explaination of Relational Data Model and Reduction of E-R Schema to Tables.

### Domain

Database

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-09-26 17:43] NiharikaSngh commented on #2984
/assign

[2021-09-26 17:44] Aryamanz29 commented on #2975
@mayankkuthar  Happy learning 🎉🎉

[2021-09-26 17:44] anjali252001 commented on #2553
/assign

[2021-09-26 17:44] NiharikaSngh commented on #2984
I am the author of this issue now. Have a nice day !

[2021-09-26 17:45] HassanRahim26 commented on #2981
/assign

[2021-09-26 17:45] Aryamanz29 commented on #2974
@eshan1925 Assigned,  Happy Learning 🎉🎉

[2021-09-26 17:45] diksha137 commented on #1047
/assign

[2021-09-26 17:47] RK1905101 commented on #2800
Can I also contribute in this issue!?
In documentation form.

[2021-09-26 17:47] HassanRahim26 commented on #2981
I would like to work on this issue, please assign me this issue.

[2021-09-26 17:49] eshan1925 commented on #1573
/assign

[2021-09-26 17:52] #1093 closed

[2021-09-26 17:52] rishabh2030 commented on #2712
da

[2021-09-26 17:52] #2712 closed

[2021-09-26 17:53] PurviBhoyar21 commented on #2799
Thank you for assigning me
I will try to give my PR request  in 4-5 days.

[2021-09-26 17:55] NiharikaSngh opened #2987 "[Create New Issue]: Relational Algebra"
### Description

State all the Fundamental Operations of Relational algebra like Select, Project, Union, Set difference, etc.

### Domain

Database

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-

[2021-09-26 17:55] NiharikaSngh commented on #2987
/assign

[2021-09-26 17:55] v-rohan commented on #2866
Hey @ayush572, Kindly close this issue. You've made a basic error. Kindly got to any pre-existing issue, and assign to yourself by commenting /assign on it.

[2021-09-26 17:59] rishabh2030 opened #2989 "JavaScript Numbers"
### Description

Description
I want to create a documentation on JavaScript Numbers.

Domain
Frontend Dev HTML/CSS/JS

Type of Contribution
Documentation

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of condu

[2021-09-26 17:59] rishabh2030 commented on #2989
/assign

[2021-09-26 18:00] rishabh2030 commented on #2989
/assign

[2021-09-26 18:00] Harshkumar62367 commented on #2983
/assign

[2021-09-26 18:01] #675 closed

[2021-09-26 18:04] Harshkumar62367 commented on #2980
/assign

[2021-09-26 18:04] goelesha commented on #699
@mansisingh2803 Pls let me know if you will redo the task, else I will assign it to someone else.

[2021-09-26 18:05] KhafiaAyyub opened #2990 "JavaScript vs jQuery"
### Description

As jQuery is a JavaScript library. So, this issue  will cover about JS vs jQuery.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributin

[2021-09-26 18:05] KhafiaAyyub commented on #2990
/assign

[2021-09-26 18:06] aishapervin commented on #2990
/assign

[2021-09-26 18:07] v-rohan opened #2992 "MERN_MongoDB: 6.2 Mongoose Schemas and Models"
### Description

## Description

## Mongoose Schemas and Models

**Include the following...**

- Introduction to Mongoose Schemas
- Setting up Models, with examples, like a User Model with role based authentication.
- Step by step procedure for making a model
- Project Directory Branch ```MERN>MERN/Topic/Backend/MongoDB/```

Name the file as ```6.2_Mongoose_Schemas_And_Models.md```

### Domain

ME

[2021-09-26 18:07] Aryamanz29 commented on #2981
@HassanRahim26  Assigned, Happy Learning 🙂

[2021-09-26 18:08] riyapandey730 commented on #2979
I would like to contribute to this via documentation.

[2021-09-26 18:09] NiharikaSngh commented on #2987
This issue has been opened by me and I'll assign it to myself. So visitors, kindly move over to the next issue!!

[2021-09-26 18:09] aishapervin commented on #2992
/assign

[2021-09-26 18:11] Aryamanz29 commented on #2979
@riyapandey730  Suree, Happy Learning 🎉🎉

[2021-09-26 18:12] Aryamanz29 commented on #2966
@GyaniRoman23  Sure, Happy learning 🎉🎉

[2021-09-26 18:13] #2913 closed

[2021-09-26 18:13] riyapandey730 commented on #271
I would like to contribute to this via documentation

[2021-09-26 18:13] Aryamanz29 commented on #647
@aaditya2801  Assigning this you , Happy Learning 🎉🎉

[2021-09-26 18:13] riyapandey730 commented on #271
/assign

[2021-09-26 18:14] SudhansuuRanjan commented on #2982
/assign

[2021-09-26 18:15] riyapandey730 commented on #264
I would like to contribute to this via documentation

[2021-09-26 18:15] riyapandey730 commented on #242
I would like to contribute to this via documentation.Please consider me for this..
Riya Pandey
Batch-2

[2021-09-26 18:18] #656 closed

[2021-09-26 18:18] NiharikaSngh commented on #2987
/assign

[2021-09-26 18:18] riyapandey730 commented on #1479
I would like to contribute to this via documentation.Please consider me for this..
Riya Pandey
Batch-2

[2021-09-26 18:19] Aryamanz29 commented on #667
@LegendSumeet  Any updates ??

[2021-09-26 18:19] Aryamanz29 commented on #669
@mayankkuthar  Assigning this you @mayankkuthar , Happy Learning 🎉🎉

[2021-09-26 18:22] #803 closed

[2021-09-26 18:23] yatharthrajput opened #2995 "Python Numpy"
### Description
NumPy can be used to perform a wide variety of mathematical operations on arrays. It adds powerful data structures to Python that guarantee efficient calculations with arrays and matrices and it supplies an enormous library of high-level mathematical functions that operate on these arrays and matrices.<br>
NumPy arrays facilitate advanced mathematical and other types of operations

[2021-09-26 18:23] newbiens commented on #2978
/assign

[2021-09-26 18:23] stark255 commented on #2978
/assign

[2021-09-26 18:24] yatharthrajput commented on #2995
/assign

[2021-09-26 18:25] yatharthrajput commented on #2940
/assign

[2021-09-26 18:26] yatharthrajput commented on #2940
I can work on this,pls assign this to me,ill upload the video with proper explanation

[2021-09-26 18:30] NiharikaSngh opened #2997 "C/C++ Libraries"
### Description

Write the functions of various libraries in Cpp/c.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-09-26 18:30] yatharthrajput opened #2998 "Why Python Is IMP"
### Description

Why should me use python,
what are the advantages on using it.How it will helps you in future.

### Domain

Python_Domain

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-c

[2021-09-26 18:30] yatharthrajput commented on #2998
/assign

[2021-09-26 18:31] diksha137 opened #3000 "Operating System Concepts : Memory Management"
### Description

Includes clear explanation of how memory is managed in any Operating system.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-09-26 18:31] diksha137 commented on #3000
/assign

[2021-09-26 18:31] ron352 commented on #2950
Sarmistha Sarna
Batch :01
https://github.com/ron352
type : audio

[2021-09-26 18:33] ELLIPSIS009 commented on #1104
@Aryamanz29 can i work on this ?

[2021-09-26 18:34] ayush-sleeping commented on #1576
Hey @rahulsain I have completed all my panding issues , Now assign me this issue . I want to make a Documentation on this Topic.

[2021-09-26 18:36] Op-panda commented on #1302
no I have already done work on this , just need a finishing touch after
that i make my PR. please make your own issues

On Sun, Sep 26, 2021 at 3:31 PM Chakit Gupta ***@***.***>
wrote:

[2021-09-26 18:39] ayush572 commented on #2866
How do I close the issue?
Actually i thought that, until someone completes an issue, anyone can take any issue...

Also, umm... most of the issues have been taken, that's why..., I assigned it.

Plz lemme know the command to unassign an issue

[2021-09-26 18:40] SoubhPrat17 commented on #2998
/assign document

[2021-09-26 18:40] ayush572 commented on #2866
/unassign

[2021-09-26 18:43] Kareem-negm commented on #437
Yes, I mean maybe this method may be changed in this version, and you must work on the different one
add me to the notebook to take a look

[2021-09-26 18:44] deepthi1107 commented on #2941
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-09-26 18:46] Rohit-2602 commented on #807
@Janhvi-s can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:47] Rohit-2602 commented on #123
@shekhars08  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:49] Rohit-2602 commented on #645
@priyanshu688 can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:50] Rohit-2602 commented on #126
@anisha-01-phoenix  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:52] Rohit-2602 commented on #74
@kritika2311  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:52] #91 closed

[2021-09-26 18:53] Rohit-2602 commented on #55
@ananddasani  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:53] aishapervin commented on #2992
@v-rohan assign me this issue

[2021-09-26 18:53] Rohit-2602 commented on #49
@saigoud25 can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:54] #447 closed

[2021-09-26 18:55] Rohit-2602 commented on #36
@pranjalkalal are still facing problems with Git or it is OK

[2021-09-26 18:55] Rohit-2602 commented on #35
@anjanaaaaaaaa  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:56] Rohit-2602 commented on #34
@sumitmukharjeeeeee  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:56] Rohit-2602 commented on #19
@Seldcouth can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 18:57] PAKHI1323 opened #3008 "C_CPP: Input and Output Operators"
I want to contribute on the following using video:
- Input and Output Operators in C

[2021-09-26 18:58] anisha-01-phoenix commented on #126
Yes Sir, I have completed the documentation on Floating Action Bar and Snack Bar along with an introduction on Material Designs and how they are better than normal XML views such as edit text or button. I have written about the usage of floating action button and Snack bar along with the codes on how to implement them.  I was thinking of making a simple project based on the usage of all the materi

[2021-09-26 18:58] PAKHI1323 commented on #3008
/assign

[2021-09-26 18:58] saigoud25 commented on #49
I'm working on it. Is there any deadlines to complete?

[2021-09-26 19:00] Rohit-2602 commented on #418
@Kajal13081  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 19:01] Rohit-2602 commented on #495
@Nikita512  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 19:01] imcoza commented on #1108
I have done the PR

I have made the documentation but did not able to make a PR perfectly

[2021-09-26 19:01] Rohit-2602 commented on #277
@samy0444  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 19:02] Rohit-2602 commented on #122
@saloni33  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 19:03] Rohit-2602 commented on #116
@Priyanshirathore  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 19:03] Rohit-2602 commented on #278
@Srijan221  can you please give a progress update about the issue and if you are facing any problem feel free to ask.

[2021-09-26 19:12] Priyanshirathore commented on #116
No sir, i will do it....i suppose we can complete our issues till December,  right? I am just having exams in my college right now.

[2021-09-26 19:12] iamsunil25 commented on #2627
/assign audio

[2021-09-26 19:17] khushi-purwar opened #3018 "MERN_Express : JsonWebToken Introduction"
### Description

I will add documentation for the respective topic with examples

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md

[2021-09-26 19:17] khushi-purwar commented on #3018
/assign

[2021-09-26 19:20] queenish001 commented on #2998
It looks good to me
@adityabisoi Kindly have a look and If this is fine, assign the documentation to @yatharthrajput

[2021-09-26 19:21] deepthi1107 commented on #2792
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-09-26 19:31] queenish001 commented on #2995
@adityabisoi This looks fine to me. Kindly review once.

[2021-09-26 19:31] Rohit-2602 commented on #49
there is no deadline, but will be better if you complete it as soon as possible

[2021-09-26 20:07] pranjalkalal commented on #36
Yes please arrange one talk with any mentor who explain me this process .
suppose it's easy from your side but I have some time to understand  so
direct talk is better option more than documents .

On Mon, Sep 27, 2021, 12:25 AM Rohit Sharma ***@***.***>
wrote:

[2021-09-26 20:09] akarshan2602 commented on #1270
@Suravihere hey! Can u tell me in which branch do I have to upload the file? I didn't see any folder named "Searching" or something like that.

Regards,
Akarshan

[2021-09-26 20:12] Kajal13081 commented on #418
I am done 80%. Work will be finished in 2-3 days more. Will definitely ask if facing any issue.

[2021-09-26 20:14] keshavop opened #3026 "Issue 1"
### Description

DSA 1

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-26 20:14] Keshavop commented on #3026
/assign

[2021-09-26 20:18] akarshan2602 commented on #1341
/assign

[2021-09-26 20:19] akarshan2602 commented on #2997
/assign

[2021-09-26 20:22] akarshan2602 commented on #1643
/assign

[2021-09-26 20:24] NiharikaSngh commented on #2997
@akarshan2602 This issue has been created by me. I am also a contributor like you. I'll assign this issue to myself later. So, back off !!

[2021-09-26 20:24] VandanaKumari18 commented on #1643
Hey akarshan this issue have already been assigned so pls follow the GWOC rule it is clearly written that if someone has been assigned the issue then try not to spam/assign it again untill it is been unassigned

[2021-09-26 20:25] NiharikaSngh commented on #2997
/assign

[2021-09-26 20:27] akarshan2602 commented on #1643
hey really sorry, i didn't see an ASSIGNED label so didn't know, my bad

[2021-09-26 20:28] akarshan2602 commented on #2997
Gurl u could have said that in a good way, i didn't see that it was
assigned, so i did that, use your brains

On Mon, 27 Sep 2021, 1:54 am Niharika Singh, ***@***.***>
wrote:

[2021-09-26 20:30] NiharikaSngh commented on #2997
Ohhkk......then un-assign yourself now .....so that I can assign this issue to me. And sorry if you were hurt 👍

[2021-09-26 20:37] akarshan2602 commented on #2997
It's ok...i will unassign..sorry for the trouble, im struggling alot, im
new there lmao, sorry if i was rude

On Mon, 27 Sep 2021, 2:00 am Niharika Singh, ***@***.***>
wrote:

[2021-09-26 20:45] ahmedtarek26 commented on #611
I want to take this issue.
Ahmed Tarek
ML-batch-1
https://github.com/ahmedtarek26
Video

[2021-09-26 20:46] ahmedtarek26 commented on #2780
I want to take this issue.
Ahmed Tarek
ML-batch-1
https://github.com/ahmedtarek26
Video

[2021-09-26 20:48] ahmedtarek26 commented on #2793
I want to take this issue.
Ahmed Tarek
Batch :1
https://github.com/ahmedtarek26
interested

[2021-09-26 20:54] ahmedtarek26 commented on #520
I want to take this issue.
Ahmed Tarek
Batch :1
https://github.com/ahmedtarek26
doc

[2021-09-26 20:55] Gagarod commented on #1234
I have created a PR. You can merge if everything is good to go.
Thank you

[2021-09-26 21:16] saloni33 commented on #122
@Rohit-2602 sir my main topic is notifications in android and I have completed the following subtopics in it-
1. Appearances on a device
2. Create a Notification
3. Using Notification Channels
4. How to Create a Notification
and only a few things are left in it.

[2021-09-26 21:27] amino19 opened #3030 "[Create New Issue]:"
### Description

<hr>

## Description 📜
**Defer**
Basic-Intermediate-Advanced information about `Defer` in Golang, also needs to create some examples.
This must be inside the `Defer and Error Handling` folder.

**References:**
- [Geeks for Geeks](https://www.geeksforgeeks.org/defer-keyword-in-golang/)
- [Go By Example](https://gobyexample.com/defer)
- [golangbot](https://golangbot.com/defer/)

<hr

[2021-09-26 21:33] NikitaEmberi commented on #2943
I want to contribute to this issue :
Name-Nikita Bhrugumaharshi Emberi
Domain-Data Science with Python
Batch-6
Serial No-992
Issue Number-2943
Choice-Documentation

[2021-09-26 21:36] amino19 opened #3031 "GoLang: 10.1.DOC Defer and Error Handling - Error Handling"
### Description

<hr>

## Description 📜
**Polymorphism**
Basic-Intermediate-Advanced information about `Error Handling` in Golang, also needs to create some examples.
This must be inside the `Defer and Error Handling` folder.

**References:**

- [Tutorialspoint](https://www.tutorialspoint.com/go/go_error_handling.htm)
- [Go Docs](https://golangdocs.com/errors-exception-handling-in-golang)
- [golan

[2021-09-26 21:42] amino19 opened #3032 "GoLang: 10.3.DOC Defer and Error Handling - Custom Errors"
### Description

**Custom Errors**
Basic-Intermediate-Advanced information about `Custom Errors` in Golang, also needs to create some examples.
This must be inside the `Defer and Error Handling` folder.

**References:**

- [Digital Ocean](https://www.digitalocean.com/community/tutorials/creating-custom-errors-in-go)
- [golangbot](https://golangbot.com/custom-errors/)

## Instructions ✔

* Kindly m

[2021-09-26 21:49] amino19 opened #3033 "GoLang: 10.4.DOC Defer and Error Handling - Panic and Recover"
### Description

**Custom Errors**
Basic-Intermediate-Advanced information about `Panic and Recover` in Golang, also needs to create some examples.
This must be inside the `Defer and Error Handling` folder.

**References:**

- [gfg-panic](https://www.geeksforgeeks.org/panic-in-golang/)
- [gfg-recover](https://www.geeksforgeeks.org/recover-in-golang/)
- [golangbot](https://golangbot.com/panic-and-r

[2021-09-26 22:52] priyanshu688 commented on #645
@Rohit-2602 its in  progress..will update you soon.....sure I will ask you if got stuck anywhere.

[2021-09-26 23:42] kailash360 commented on #2125
/assign

[2021-09-27 00:17] mansisingh2803 commented on #699
No no I will  redo and send pr today only

On Sun, Sep 26, 2021, 11:34 PM Esha Goel ***@***.***> wrote:

[2021-09-27 01:28] AkMo3 commented on #2426
@arsheelsheikh You have been assigned for documentation and @ishivamgupta9 You cannot be assigned, it will be after #2953 is merged.

[2021-09-27 01:29] whatmansi commented on #2729
/assign

[2021-09-27 02:40] anantcodes commented on #1234
Please mention the issue in your PR.

[2021-09-27 02:51] Nikita512 commented on #498
@Anant1711 I was not able to complete due to health issues, Can I submit by tomorrow?

[2021-09-27 02:52] anjali-kundliya05 commented on #2363
@AkMo3 Sir, I unknowingly unassign me. But I really want to contribute, so what to do now?

[2021-09-27 02:53] AkMo3 commented on #2363
@anjali-kundliya05 You have been assigned back for documentation

[2021-09-27 02:53] Nikita512 commented on #495
@Rohit-2602 I'll submit the work by tomorrow night, is that okay?

[2021-09-27 03:02] sarav18302 opened #3034 "C/C++: Effective use of Constructor, Destructor and Assignment Operator"
<hr>

## Description :scroll:

* Giving ideas about effective use of Constructor, Destructor and Assignment Operator
*  Required Documentation or Video or Audio.

[2021-09-27 03:04] sarav18302 commented on #3034
\assign

[2021-09-27 03:04] saloni-15 commented on #2478
Hey, @hsteg420, if you are working on this issue, make sure to name the file as `7.2_Defining_Schemas`.

[2021-09-27 03:13] #3034 closed

[2021-09-27 03:15] sarav18302 opened #3035 "[C/C++]:Effective use of Constructor, Destructor and Assignment Operator"
### Description

## Description :scroll:

* Giving ideas about effective use of Constructor, Destructor and Assignment Operator
*  Required Documentation or Video or Audio.

### Domain

C/CPP

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-09-27 03:15] sarav18302 commented on #3035
\assign

[2021-09-27 03:18] vishnu95075 opened #3036 "[C_CPP]: Cheat sheet of C Programming"
### Description

Concept of C Progeamming .

Begginer friendly   Cheat sheet of C Programming

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-09-27 03:18] vishnu95075 commented on #3036
/assign

[2021-09-27 03:19] VikasPandey121 commented on #118
There is a deadline now, We have added GitHub action that will unassign the issue if will not be resolved within 10-15 days.

[2021-09-27 03:20] sarav18302 commented on #3036
/assign

[2021-09-27 03:23] ilakkiya-v commented on #1075
Hello! I'm working on it!

[2021-09-27 03:24] pooja002 commented on #2668
/assign document

[2021-09-27 03:24] ilakkiya-v commented on #40
Hello! I'm so sorry for the delay! I'll submit it in two days! Other works had come up.

[2021-09-27 03:25] #2569 closed

[2021-09-27 03:42] Anant1711 commented on #2800
Okay go with it!

[2021-09-27 03:42] anujkumar070 opened #3038 "[Create New Issue]: Java Swing Tutorial"
### Description

Bu Using Java Swing, We can demonstrate how to include GUI in any Java program. The program will demonstrate how to use Java swing Components like JLabel , JTextField, JButton, JRadioButton, JTable, JList and so on. The Program will have tutorial how to use JavaSwing to create Basic Registration and Login GUI form in Java.

### Domain

Java_Domain

### Type of Contribution

Docume

[2021-09-27 03:43] LegendSumeet commented on #667
Yes today last day @Aryamanz29

[2021-09-27 03:43] VanshikaSable commented on #3035
/assign

[2021-09-27 03:44] preestine commented on #1027
@Kareem-negm Hello sir,Kindly review my PR.

[2021-09-27 03:45] Anant1711 commented on #1479
Sorry @riyapandey730 Documentation is already done!
you can contribute in `Video`
And cybersecurity has only 1 batch I guess!

[2021-09-27 03:48] Anant1711 commented on #498
Yes please submit it by tomorrow!

[2021-09-27 03:48] Anant1711 commented on #40
Okay please submit in only two days!

[2021-09-27 03:50] Anant1711 commented on #737
Okay submit it by Tuesday please!

[2021-09-27 03:51] VanshikaSable commented on #168
@LegendSumeet  sir i have made a pull request on this issue please review it.

[2021-09-27 03:57] saloni-15 commented on #2866
@ayush572 go the end of this conversation, there you will get an option for `Close Issue`

![image](https://user-images.githubusercontent.com/75828760/134843308-14117a48-55f6-4945-8bcf-399d063fa886.png)

[2021-09-27 03:57] #1096 closed

[2021-09-27 03:58] nakshatra-garg commented on #427
I think you can close this issue now? @prathimacode-hub

[2021-09-27 04:01] LegendSumeet commented on #786
@Anant1711 made PR review it sir

[2021-09-27 04:04] PranavMasekar commented on #2933
/assign

[2021-09-27 04:04] sarav18302 commented on #3035
@VanshikaSable can you please unassign this issue because I wanted to contribute to this issue as I created this issue .

[2021-09-27 04:05] HumblePlebeian commented on #2992
Hi,
I would like to work on this topic. Please assign this issue to me.
Thanks!

[2021-09-27 04:06] SathiyaEthi commented on #599
Hi Abhishek, Today, i will complete this issue and upload the audio . Thanks!

[2021-09-27 04:06] Anindyadeep commented on #2957
/ assign
Name: Anindyaeep
Batch 1

[2021-09-27 04:06] PranavMasekar commented on #2936
/assign

[2021-09-27 04:08] Anindyadeep commented on #2931
/ assign
Name : Anindyadeep
Batch: 1

[2021-09-27 04:09] anjanaaaaaaaa commented on #35
hey
The pr for this issue that I created is already merged.

[2021-09-27 04:16] pragmatic-philosopher09 commented on #2800
@Anant1711 since i've already taken this up in documentation form, it shouldn't be a problem, right?

[2021-09-27 04:16] #2866 closed

[2021-09-27 04:16] ayush572 commented on #2866
okay, closed the issue...

[2021-09-27 04:21] awesometushar000 commented on #486
Do you have closed this issue, should we will not able to contribute?

[2021-09-27 04:22] Anant1711 commented on #2800
yeah!
I created this issue for multiple contributions, I'll merge other submissions only if their content is different from yours!
so there will be no Problem.

[2021-09-27 04:30] Priyanshirathore commented on #118
Ohh I was told that i can. Contribute anytime before December.  If that's not the case then with deep regret I have to say I won't be able to do it soon. I have my exams in college till 7th October.

[2021-09-27 04:38] kalyanirb12 commented on #3035
I want to contribute
mode :-documentation

[2021-09-27 04:40] Satyam175 commented on #1644
<h2>Send the pr link</h2>
<h2>You have made the changes in our domain branch . Please make changes inside Backend Folder.</h2>
<p>create a folder named spring boot inside Backend Folder and then create a pr </pr>

[2021-09-27 04:42] kalyanirb12 commented on #1787
can I work on this
kalyani rajebhosale
mode:-documentation
batch:-1

[2021-09-27 04:49] deepthi1107 commented on #2955
Hello, I am Deepthi M with serial number:198, Batch-2. I would like to do video on this issue.

[2021-09-27 04:52] rahulsain commented on #520
@Narayan1002 You working on this, it has been 7 days and no reply from your side

[2021-09-27 04:58] Satyam175 opened #3042 "Maven - Plugins and Dependencies"
### Description

<h1>Maven</h1>
<h3>Explanation about maven and its plugins and dependencies and their use and how to add them. </h3>

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-09-27 04:59] aparajitachaturvedi opened #3043 "Cheat sheet for HTML"
### Description

I will include here all the topics of HTML5 in Short with suitable example so that it is easy to go through HTML5 in one go.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://

[2021-09-27 05:02] Satyam175 opened #3044 "POM.xml file configuration"
### Description

<h2>Create Documentation for configuration of POM.xml file </h2>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-09-27 05:02] aparajitachaturvedi commented on #3043
/assign

[2021-09-27 05:07] abhisheks008 commented on #2935
Issue assigned @deepthi1107. Go ahead 🚀

[2021-09-27 05:07] Satyam175 opened #3045 "Why Spring"
### Description

<h2>Documentation on Spring Framework </h2>
<ul><li>features</li>
<li>advantages</li>
<li>setup</li>
<li>Servlets</li>
</ul>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](

[2021-09-27 05:08] abhisheks008 commented on #2943
@NikitaEmberi This is Machine learning domain.

[2021-09-27 05:08] rahulsain commented on #1576
@ayush-sleeping Do the required changes in the PR , so that I can merge it

[2021-09-27 05:08] ayush-sleeping commented on #1576
Thanks @rahulsain

[2021-09-27 05:09] ayush-sleeping commented on #1576
ok .... what i have to change ... can you tell me

[2021-09-27 05:11] samridhikapoor commented on #2941
I would like to contribute for this issue. I request you to assign me the same.
Thanks

Name: Samridhi Kapoor
Batch No.: 3
Github Profile link: https://github.com/samridhikapoor
Type of contribution I want to make: Video (as specified)

[2021-09-27 05:11] Satyam175 opened #3046 "Dependency Injection and IOC"
### Description

<h2>Dependency Injection and Inversion of Control</h2>
<ul><li>Setter Injection</li>
<li>Dependency Injection</li>
<li>Beans</li>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of cond

[2021-09-27 05:12] abhisheks008 commented on #2950
Issue assigned @ron352

[2021-09-27 05:12] #2775 closed

[2021-09-27 05:13] Ajinkyap331 commented on #2249
@adityabisoi I am working on this issue . I will do The PR till tomorrow . I am reading some useful stuffs

[2021-09-27 05:14] Shraddha-Jaggi commented on #2626
\assign video

[2021-09-27 05:16] harichandana1406 commented on #389
/assign
Name - Srikurmum HariChandana
Serial Number - 929
Batch :21
Type - Documentation
Approach: I will explain Introduction to Linear Algebra for data science with python.

[2021-09-27 05:17] samridhikapoor commented on #2792
I would like to contribute for this issue. I request you to assign me the same.
Thanks

Name: Samridhi Kapoor
Batch No.: 3
Github Profile link: https://github.com/samridhikapoor
Type of contribution I want to make: Video (as specified)

[2021-09-27 05:19] AdityaNikhil commented on #2957
Full name : Aditya Nikhil
Batch Number : 175
GitHub Profile Link : github.com/adityanikhil
Which type of Contribution you want to make :
 Documentation (Coding in .ipynb file, show the implementation)

[2021-09-27 05:20] shubhmittal07 opened #3048 "Android Kotlin: 08.1 Intent Types"
<hr>

## Description :scroll:

* Give a step-by-step tutorial of Intent and it's types in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>
## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ directory under Android_Development_With_Kotlin branch.
* I

[2021-09-27 05:20] abhisheks008 commented on #2957
Issue assigned @Anindyadeep. Go ahead 🚀

[2021-09-27 05:21] shubhmittal07 commented on #3048
/assign

[2021-09-27 05:23] aparajitachaturvedi opened #3049 "The Preprocessors in C language"
### Description

I would like to make a documentation on different preprocessors in C language along with suitable example.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contr

[2021-09-27 05:23] shubhmittal07 commented on #3048
I would be contributing in the Documentation part

[2021-09-27 05:23] Rutumbhara commented on #3043
@aparajitachaturvedi @praveenscience I wanted to contribute to this issue. May I contribute if it is not assigned to anyone else.

[2021-09-27 05:23] AdityaNikhil commented on #2955
**Full name** : Aditya Nikhil
**Batch Number** : 2
**GitHub Profile Link** : github.com/adityanikhil
**Which type of Contribution you want to make** :
Documentation (Coding in .ipynb file, show the implementation)

[2021-09-27 05:23] abhisheks008 commented on #2941
@samridhikapoor issue assigned to you. Go ahead and complete this by this wednesday. 🚀

[2021-09-27 05:26] aparajitachaturvedi commented on #3049
/assign

[2021-09-27 05:28] AdityaNikhil commented on #2804
**Full name** : Aditya Nikhil
**Batch Number**: 2
**GitHub Profile Link** : github.com/adityanikhil
**Which type of Contribution you want to make** :
video

[2021-09-27 05:32] RahulJaiswal-18 commented on #2237
@goelesha Completed the documentation. Kindly review the PR.
Thank you

[2021-09-27 05:33] Rutumbhara commented on #2112
@shubh045 I wanted to contribute to this issue if it is not assigned to anyone else.

[2021-09-27 05:34] Abhay3008 commented on #1104
/assign

[2021-09-27 05:34] Abhay3008 commented on #1104
/assign

[2021-09-27 05:37] newbiens commented on #2978
I have done the required things, please merge the PR.

[2021-09-27 05:37] mukeshmjn commented on #1896
@Ananyagupta43 okay. Hoping to see updates over this soon!

[2021-09-27 05:41] aishanii commented on #1125
@rahulsinghal1904 @Aaksha-sharma any updates?

[2021-09-27 05:42] mukeshmjn opened #3052 "FRONTEND WITH FRAMEWORK: Angular (2.3)-> What are Pipes?Explain Built-in and Custom Pipes."
### Description

- What are pipes?
- Why are they used?
- Built in pipes
- Custom pipes
- Explain with syntax/code.
- Reference:- https://angular.io/guide/pipes
(It's a week-2 issue )

Note:-

1. Don't even think about copy pasting we after reviewing would be merging the PR.
2. Changes should be made inside "Frontend_Web_Development_React_Angular_Vue/Angular/Week2" directory
3. Tasks would be assi

[2021-09-27 05:42] Aaksha-sharma commented on #1125
Yes I have sent pr link to @prathimacode-hub

[2021-09-27 05:43] aishanii commented on #1038
@Akshat2019VITB any updates on the documentation?

[2021-09-27 05:44] #2938 closed

[2021-09-27 05:46] shubh045 commented on #2112
@Rutumbhara if you want to contribute to this topic in other format than document then maybe you can do, as somebody else's work for this topic in document format has already been merged, and maybe that is why they are not merging my pull request

[2021-09-27 05:47] Rutumbhara commented on #2112
Ok

[2021-09-27 05:48] pallak-delta2 commented on #67
Hi , I too want to work on this issue

[2021-09-27 05:59] garvitraj opened #3054 "Java 15.4: Throw, throws, finally"
### Description

Add audio, documentation, and video regarding the **Catching Exceptions**

---

**Location of File to be added**
The files should be added inside the `Exception Handling` which will be inside `Throw_Throws_Finally` folder which will be inside of  `Java` folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be in the `.md/.py/.i

[2021-09-27 06:02] ayushjain27 commented on #2987
/assign

[2021-09-27 06:06] garvitraj opened #3055 "Java 15.5: Built-in Exceptions and chained exceptions"
### Description

Add audio, documentation, and video regarding the **Built-in Exceptions and chained exceptions**

---

**Location of File to be added**
The files should be added inside the `Built-in_And_Chained_Exceptions` which will be inside the `Exception Handling` folder which will be inside of  `Java` folder. If the folder is not present, create the folder with this exact name.

- The docume

[2021-09-27 06:06] aaditya2801 commented on #647
@Aryamanz29 Thank you, I am working on it 👍

[2021-09-27 06:08] Subhrato20 commented on #2943
I would like to contribute @abhisheks008 sir
Name: Subhrato Som
Batch: 2
Contribution type: Documentation

[2021-09-27 06:09] NikitaEmberi commented on #2943
@abhisheks008 I apologize, while commenting for request on both domains simultaneously, I forgot to change the domain name.

[2021-09-27 06:11] Subhrato20 commented on #2931
I would like to contribute @abhisheks008 sir
Name: Subhrato Som
Batch: 2
Contribution type: Documentation

[2021-09-27 06:16] #2359 closed

[2021-09-27 06:17] queenish001 commented on #2249
Okay
Just a reminder that the deadline is 5 days, so make sure you do it before that :)

[2021-09-27 06:22] nooobcoder commented on #3052
/assign

[2021-09-27 06:22] PrachiDoshi2170 commented on #1674
If @Divyanshigarg is not working on the documentation can I work on the documentation?

[2021-09-27 06:23] #798 closed

[2021-09-27 06:29] PrachiDoshi2170 commented on #2837
Hello @Muskan-creator and @Aryamanz29 Can i work on this issue for documentation?

[2021-09-27 06:31] Aaksha-sharma commented on #2955
I want to contribute through audio

[2021-09-27 06:34] Aaksha-sharma commented on #2804
I want to contribute through audio

[2021-09-27 06:41] akshat12000 opened #3058 "[Issue]: Dutch National Flag Algorithm"
### Description

Given an array of 0's, 1's, and 2's, the task is to sort this array without using extra space or a sorting algorithm.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.c

[2021-09-27 06:41] Karan-0206 commented on #2868
/assign

[2021-09-27 06:41] akshat12000 commented on #3058
/assign

[2021-09-27 06:43] MeghaGD commented on #3054
\assign DOCUMENTATION

[2021-09-27 06:43] Prateek-8168 commented on #3049
I want to work in this issue.

[2021-09-27 06:44] MeghaGD commented on #3054
/assign Document

[2021-09-27 06:45] Ajinkyap331 commented on #2249
Ok i will do in time @queenish001

[2021-09-27 06:48] das-ankur commented on #2823
Hello, I want to work on this issue. Please assign me this issue. Batch : 4, Serial No. 109

[2021-09-27 06:49] prachigarg19 commented on #3055
/assign

[2021-09-27 06:50] Chakita commented on #1079
I would like to work on this issue!
/assign

[2021-09-27 06:51] Chakita commented on #1079
/assign

[2021-09-27 06:51] #2376 closed

[2021-09-27 06:52] Karan-0206 opened #3059 "Nodejs"
### Description

A brief and concise introduction to Nodejs and what it really does and what it is used for.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-c

[2021-09-27 06:52] Karan-0206 commented on #3059
/assign

[2021-09-27 06:53] das-ankur commented on #2955
Hello, I would like to work on this issue.
Full Name: Ankur Das
Batch No: 2
GitHub : https://github.com/das-ankur
Documentation : Document / Video

[2021-09-27 06:55] das-ankur commented on #2792
I would like to contribute for this issue. I request you to assign me the same.
Thanks

Name : Ankur Das
Batch No. : 2
Github: https://github.com/das-ankur
Type of contribution : Document/Video

[2021-09-27 06:55] das-ankur commented on #1259
I would like to contribute for this issue. I request you to assign me the same.
Thanks

Name : Ankur Das
Batch No. : 2
Github: https://github.com/das-ankur
Type of contribution : Document/Video

[2021-09-27 06:59] das-ankur opened #3060 "[Backend Develpoment Python]: Flask Route"
### Description

Description
Routing  can be easily done using Flask which is micro-framework of Python.
Document / Video of  how routing can be done using Flask

### Domain

Backend Dev (Python)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of c

[2021-09-27 07:00] pooja002 commented on #2668
/unassign me

[2021-09-27 07:02] kailash360 commented on #2125
/assign

[2021-09-27 07:03] Umesh-JNU commented on #1697
Hi Chakit Gupta,
As already there are 4-5 members who are contributing, So please another
one.

Thanks
Umesh

On Sun, Sep 26, 2021 at 3:55 PM Chakit Gupta ***@***.***>
wrote:

[2021-09-27 07:03] das-ankur commented on #422
I would like to work on this.
Ankur Das
Type: Documentation
Batch: 4
Issue: 109
Approach:
What is Validation?
What  is Cross Vlidation?
Importance
How  it works
How it can be implemented using python
Paramaters abd Tuning
Conclusion

[2021-09-27 07:06] #2768 closed

[2021-09-27 07:06] kailash360 commented on #2113
/assign

[2021-09-27 07:06] #3059 closed

[2021-09-27 07:08] Karan-0206 opened #3062 "Nodejs"
### Description

A brief and concise description on what Nodejs exactly is how do we use it.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob

[2021-09-27 07:08] Karan-0206 commented on #3062
/assign

[2021-09-27 07:09] sanjana-iyengar commented on #2809
I would like to contribute.

Full name: Sanjana Alaham
Batch Number: 6
GitHub Profile Link: https://github.com/sanjana-iyengar
Contribution: Audio

[2021-09-27 07:11] bakisama commented on #159
@ViAsmit https://youtu.be/Fi9lnrZu0mE Raising a Pull Request right now

[2021-09-27 07:12] abhisheks008 commented on #2955
As we are assigning issues on FCFS basis, this issue is assigned to @AdityaNikhil. Go ahead! 🚀

[2021-09-27 07:12] ashish-reddy-20-08 commented on #1939
hello @prathimacode-hub , Can you please assign me this issue for video contribution mam.
approach: i will explain the code and about the recommendation system.
M. Ashish Reddy
Batch - 5

[2021-09-27 07:14] Narayan1002 commented on #520
Yes i will commit my work in 2 to 3 days.

[2021-09-27 07:16] abhisheks008 commented on #2943
@NikitaEmberi No issues, issue assigned to you. Go ahead 🚀

[2021-09-27 07:16] palakshivlani-11 commented on #2960
/assign

[2021-09-27 07:18] abhisheks008 commented on #2931
@Subhrato20 Issue assigned to you. Read the guidelines of this issue before contributing in it.  Go ahead 🚀

[2021-09-27 07:18] palakshivlani-11 commented on #2835
/assign

[2021-09-27 07:18] abhisheks008 commented on #2809
@sanjana-iyengar Issue assigned to you. Go ahead 🚀

[2021-09-27 07:19] palakshivlani-11 commented on #2688
/assign

[2021-09-27 07:20] palakshivlani-11 commented on #2660
/assign

[2021-09-27 07:20] palakshivlani-11 commented on #2597
/assign

[2021-09-27 07:21] palakshivlani-11 commented on #2527
/assign

[2021-09-27 07:21] abhisheks008 commented on #1259
@sanjana-iyengar you have unassigned yourself from this issue, and @das-ankur is assigned for this issue.

@das-ankur this is only video contribution, no need to provide any documentation. Just check out what others have and then do accordingly.

[2021-09-27 07:23] Anant1711 commented on #1674
@Divyanshigarg When are you going to submit your work?
You took 6 days from assigning date!
Otherwise, I'll forward it to @PrachiDoshi2170

[2021-09-27 07:23] shubhamraj1601 opened #3067 "DSA"
### Description

Writing Solution for the problems.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-09-27 07:23] abhisheks008 commented on #2804
Great issue assigned to @Aaksha-sharma. Go ahead 🚀

[2021-09-27 07:23] ruchi1234s opened #3068 "break /continue statement"
### Description

break /continue statement
how they works
when to use

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-09-27 07:24] shubhamraj1601 commented on #3067
/assign

[2021-09-27 07:24] ruchi1234s commented on #3068
/assign

[2021-09-27 07:29] goelesha opened #3070 "DSA 2.1.1.1 Strings : Introduction to Strings"
### Description
Explain strings, string representation, and declaration.

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not

[2021-09-27 07:29] ron352 commented on #2937
Sarmistha Sarna
Batch :01
https://github.com/ron352
type : audio

@abhisheks008

[2021-09-27 07:31] goelesha opened #3071 "DSA 2.1.1.2 Strings : Implementation of Strings in C & C++"
### Description
Explain the implementation of strings in C and C++

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#i

[2021-09-27 07:32] #2950 closed

[2021-09-27 07:34] abhisheks008 commented on #2937
@ron352 Issue assigned. Go ahead 🚀

[2021-09-27 07:35] kailash360 commented on #2125
@paramsiddharth Can I work on this issue?

[2021-09-27 07:36] kailash360 commented on #2125
@jawed321 Can I work on this issue?

[2021-09-27 07:36] goelesha opened #3072 "DSA 2.1.1.3 Strings: Arithmetic Operations on Strings"
### Description
Explain arithmetic operations in strings.

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
-

[2021-09-27 07:40] Rohan749 opened #3074 "Integrating With Other People's Libraries"
### Description

In this issue, I will provide documentation on the importance of integrating with other people's libraries and its benefits,
with a clear and concise explanation.
Please assign me this issue.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contribut

[2021-09-27 07:42] ankurg132 commented on #206
No @Rijudas149 , it is nicer if you can upload a presentation but not necessary.

[2021-09-27 07:44] goelesha opened #3077 "DSA 2.1.2.1 Strings : Palindrome Problems (Problem-1)"
### Description

Description### Description
Check if given string is a palindrome or not

## Task
- [ ] Audio
- [ ] Video
- [x] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA

[2021-09-27 07:45] goelesha opened #3078 "DSA 2.1.2.2 Strings : Palindrome Problems (Problem-2)"
### Description
Check is given string is a rotation of a palindrome

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#

[2021-09-27 07:48] goelesha opened #3079 "DSA 2.1.2.3 Strings : Palindrome Problems (Problem-3)"
### Description

### Description
Check if characters of a given string can be rearranged to form a palindrome

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-

[2021-09-27 07:49] 1PRatgit commented on #3071
Pranjali R
DSA batch 7
I want to work on this issue

[2021-09-27 07:49] 1PRatgit commented on #3071
Documentation

[2021-09-27 07:49] ritikaxx commented on #3077
/assign documentation

[2021-09-27 07:50] goelesha opened #3080 "DSA 2.1.2.4 Strings : Palindrome Problems (Problem-4)"
### Description

### Description
Longest Palindromic substring

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issue

[2021-09-27 07:52] goelesha commented on #3071
@1PRatgit Assigning this issue to you for documentation.
Make sure to submit a PR within 7 days.
All the best !!

[2021-09-27 07:53] srijanishere opened #3081 "CSS Class and ID selectors"
### Description

**Purpose**
A brief documentation explaining about the class and ID selectors in CSS and the main difference between them

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://git

[2021-09-27 07:53] srijanishere commented on #3081
/assign

[2021-09-27 07:54] goelesha commented on #3077
@ritikaxx Pls read the guidelines properly. It has been already told to you that don't use self-assign on issues created by supervisors. Pls refrain from doing this from now on.

Make sure to submit a PR within 7 days.
All the best !!

[2021-09-27 07:56] abhisheks008 commented on #1115
@karma659 What's the update on this issue?

[2021-09-27 07:57] abhisheks008 commented on #1963
Please do the needful and complete this issue @kishlayaug15

[2021-09-27 07:58] abhisheks008 commented on #1966
What's the update @HastiSutaria

[2021-09-27 07:58] abhisheks008 commented on #2200
@Arjun2905 update on this issue.

[2021-09-27 07:59] abhisheks008 commented on #2207
You have create a md file with proper naming, and then insert the link there in proper syntax provided in the Demo folder. You can check out others contributions to have an idea of it. @101Priyanshi

[2021-09-27 08:00] Akshat2019VITB commented on #1038
I am done with the documentation, the PR is pending for review after some changes that were requested.

[2021-09-27 08:02] ritikaxx commented on #3077
@goelesha  Sorry about that,
Name-Ritika Singh
Batch-7 (DSA)
Thnakyou!

[2021-09-27 08:03] VikasPandey121 commented on #118
Okay @Priyanshirathore, Thanks for the information.

[2021-09-27 08:04] ashish-reddy-20-08 commented on #2776
@geeythree @abhisheks008 @Isha307 , can you please evaluate my PR.
Link : https://github.com/girlscript/winter-of-contributing/pull/3083
M. Ashish Reddy
ML -> Batch -2

[2021-09-27 08:05] VikasPandey121 commented on #35
Can you tag your merged PR just for confirmation?
Thanks.

[2021-09-27 08:06] Ash515 opened #3084 "SQL expressions and SQL commands"
### Description

Learn how to form expressions and commands in SQL  and upload the documentation or video, or audio into Database folder

### Domain

Database

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.

[2021-09-27 08:07] Anna-cod commented on #353
@prathimacode-hub Kindly assign me this issue
Name : Noor ul Huda
Serial No : 926
Mode: Video
Approach : Explain basics, how it originated, its applications, and also demonstrate reinforcement learning  by executing coding examples

[2021-09-27 08:14] SUKHJIT-CYBER commented on #3078
Hey , I  am up to Contribute to this issue . <Assign>
 <SUKHJIT SINGH>
<Batch 8>

[2021-09-27 08:17] kishlayaug15 commented on #1963
I completed the documentation and working on audio right now. Background
noises are problem. If you permit, I can commit my documenation right now.
For audio, I'll work tonight to get better sound quality.

Or any suggestion from your side regarding background noises will be
helpful.

On Mon, Sep 27, 2021, 13:27 Abhishek Sharma ***@***.***>
wrote:

[2021-09-27 08:18] Khushi-Agrawal-1 commented on #1807
@AkMo3 I'm little confused as to what to do with my Google Drive link. I'm contributing with audio but I have also made a markdown file just for reference purpose so am I suppose to put the link in it

[2021-09-27 08:19] Khushi-Agrawal-1 commented on #1807
@garvitraj I'm little confused as to what to do with my Google Drive link. I'm contributing with audio but I have also made a markdown file just for reference purpose so am I suppose to put the link in it ?

[2021-09-27 08:19] Anna-cod commented on #391
@rajveer43 are you still working on it?

[2021-09-27 08:22] goelesha commented on #3078
@SUKHJIT-CYBER Assigning this issue to you for Documentation.
Make sure to submit a PR within 7 days.
All the best !!

[2021-09-27 08:22] Anna-cod commented on #391
Name : Noor ul Huda
Serial No : 926
Mode: Documentation
Approach: Start from basic definition, explain its working, demonstrate by handling dataset.

[2021-09-27 08:24] anjalikumawat2002 commented on #412
Thanks

[2021-09-27 08:27] VanshikaSable commented on #3080
Vanshika Sable Batch 1 type- documenatation

[2021-09-27 08:32] pankaj-sawnani commented on #2407
I would like to work on this.
Pankaj Sawnani - 935
Batch - 21
Issue No - #2407
Type: Video
Approach:

-> Introduction to seaborn
-> Different Types of plots with example
-> Conclusion

[2021-09-27 08:35] aishapervin commented on #3079
/assign

[2021-09-27 08:38] aishapervin commented on #3080
/assign

[2021-09-27 08:41] #2935 closed

[2021-09-27 08:42] VanshikaSable commented on #3080
@goelesha mam please assign me this issue .

[2021-09-27 08:42] diya-dhan commented on #3070
Diya Dhandapani
Batch No 7
Documentation

[2021-09-27 08:44] aishapervin commented on #2614
Kindly close the issue now that it is merged,because i have to assign myself in other isssues too.Since the issue is already open,i am not able to assign myself others.Thankyou

[2021-09-27 08:45] Isha307 commented on #2792
@deepthi1107 you can now work on this.

[2021-09-27 08:47] iamsunil25 commented on #3081
/assign audio

[2021-09-27 08:50] aryan-mehta05 commented on #1840
The updates to 1.1_What_is_MongoDB? are made and PR has been merged without any problems.

[2021-09-27 08:50] #1840 closed

[2021-09-27 08:53] #2776 closed

[2021-09-27 08:54] anupamishra333 commented on #2523
/unassign

[2021-09-27 08:56] akarshlahariya11 commented on #2101
Actually, I did already  submitted it in the doc format.

[2021-09-27 08:57] Isha307 commented on #588
@prishita-s Update?

[2021-09-27 09:04] ashish-reddy-20-08 commented on #610
Helo @abhisheks008 @Isha307 , can you please assign me this issue .
M. Ashish Reddy
Batch - 2

[2021-09-27 09:19] TishaJhabak1014 commented on #72
@paramsiddharth Sir, please it is a request to do the needful to close the issue. Thank you.

[2021-09-27 09:21] YASHMAROO commented on #3042
/assign

[2021-09-27 09:34] rahulsinghal1904 commented on #1125
I have sent the PR info. and link in the Discord PR thread.

[2021-09-27 09:44] ishaan107 commented on #2784
Ishaan Yogesh Khanduja
ml-batch-6
GitHub Profile Link : https://github.com/ishaan107
Which type of Contribution you want to make : Audio

/assign

[2021-09-27 09:54] Janhvi-s commented on #807
My content is ready, was just stuck in the git commands. Working on it!

[2021-09-27 09:54] eshan1925 commented on #2974
@Aryamanz29 I have created the PR, please review and merge if it is having no issues.
THANK YOU

[2021-09-27 09:58] kailash360 commented on #1665
/assign

[2021-09-27 10:03] VanshikaSable commented on #168
Please have a review on my PR.

[2021-09-27 10:07] Rutumbhara opened #3101 "List of HTML5 Tags"
### Description

List of HTML5 tags (elements) for better document structure and formatting.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob

[2021-09-27 10:08] Rutumbhara commented on #3101
/assign

[2021-09-27 10:12] Anushka-Gamad commented on #3070
/assign documentation

[2021-09-27 10:12] Anushka-Gamad commented on #3070
/assign Audio

[2021-09-27 10:13] kailash360 commented on #2155
/assign

[2021-09-27 10:13] prathimacode-hub commented on #1939
Issue assigned to @ashish-reddy-20-08 for video contribution

[2021-09-27 10:14] kailash360 commented on #1592
/assign

[2021-09-27 10:21] goelesha opened #3105 "DSA 2.1.1.1 Strings : Introduction to Strings- Audio"
### Description

### Description
Explain strings, string representation, and declaration.

## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
-

[2021-09-27 10:21] goelesha commented on #3105
@Anushka-Gamad You can take up this issue.

[2021-09-27 10:22] goelesha commented on #3070
@Anushka-Gamad It has been mentioned to not use assign command in the issues created by the supervisors. You can still work on the audio part. Work on - #3105

@diya-dhan Assigning the issue to you for documentation.
Make sure to submit a PR within 7 days.

[2021-09-27 10:23] Sarfraz-droid commented on #2727
/assign

[2021-09-27 10:24] Sarfraz-droid commented on #2727
Can I work on the Video?

[2021-09-27 10:25] goelesha commented on #3079
@aishapervin It has been mentioned to not use assign command in the issues created by the supervisors. Refrain from doing this. I am not unassigning you this time.

Make sure to submit a PR within 7 days

[2021-09-27 10:26] #2978 closed

[2021-09-27 10:26] goelesha commented on #3080
@aishapervin It has been mentioned to not use assign command in the issues created by the supervisors. Refrain from doing this.

@VanshikaSable Assigning the issue to you. Make sure to submit a PR within 7 days
All the Best !!

[2021-09-27 10:28] #2974 closed

[2021-09-27 10:31] supercoder246 opened #3107 "Code for finding the permutations of array"
### Description

In this cpp file we I will be using the function in order to generate all possible permutations of array

### Domain

C/CPP

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-09-27 10:35] Sarfraz-droid commented on #2237
/assign

[2021-09-27 10:35] #647 closed

[2021-09-27 10:36] kailash360 opened #3111 "[CSS]: CSS Background Property"
### Description

A well-written documentation about the CSS 'background' property and it's attributes.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-09-27 10:36] Sarfraz-droid commented on #1882
/assign

[2021-09-27 10:36] kailash360 commented on #3111
/assign

[2021-09-27 10:36] supercoder246 commented on #3107
/assign

[2021-09-27 10:37] shrey-ya commented on #562
@adityabisoi please review my PR #562

[2021-09-27 10:37] Sarfraz-droid commented on #1267
/assign

[2021-09-27 10:38] shrey-ya commented on #3038
\assign

[2021-09-27 10:38] shrey-ya commented on #3038
/assign

[2021-09-27 10:40] ron352 commented on #2784
Sarmistha Sarna
Batch :01
https://github.com/ron352
type : audio

Can I work on this?

 @Isha307  @abhisheks008

[2021-09-27 10:41] sumitaccess007 opened #3112 "[Java 15.6]: Creating Own Exception"
### Description

### Description

Add audio, documentation, and video regarding the **Exception Types**

---

**Location of File to be added**
The files should be added inside the *`Creating Own Exception`* which will be inside *`Exception Handling`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be in

[2021-09-27 10:43] shrey-ya commented on #3112
/assign

[2021-09-27 10:44] shrey-ya commented on #3112
\assign documentation

[2021-09-27 10:44] pooja002 commented on #3046
/assign document

[2021-09-27 10:44] sumitaccess007 opened #3113 "[Java 16.1]: Thread Priorities"
### Description

### Description

Add audio, documentation, and video regarding the **Exception Types**

---

**Location of File to be added**
The files should be added inside the *`Thread Priorities`* which will be inside *`Multithreaded Programming`* folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

- The documentation file can be

[2021-09-27 10:44] Aryamanz29 commented on #684
@rajatsinghchauhan  Any updates ??

[2021-09-27 10:45] shrey-ya commented on #3112
/assign

[2021-09-27 10:49] sumitaccess007 commented on #3112
Documentation - @shrey-ya
Audio Content - Available To Take
Video Content - Available To Take

[2021-09-27 10:52] sirilalithaadapa commented on #3072
Siri Lalitha
Batch-7
DSA
Documentation

[2021-09-27 10:53] #2599 closed

[2021-09-27 10:54] #409 closed

[2021-09-27 10:54] sumitaccess007 commented on #3113
/assign Video

[2021-09-27 10:55] sumitaccess007 commented on #3113
/assign

[2021-09-27 10:56] sumitaccess007 commented on #3113
Documentation -  Available To Take
Audio Content - Available To Take
Video Content - @sumitaccess007

[2021-09-27 10:58] pranshukas opened #3115 "DSA 2.2.9 Searching & Sorting Algorithms : Merge Sort - Documentation"
### Description

## Description:
Documentation of Merge Sort (Implementation + Code + Time Complexity)
Language Implementing: C++

- Name of Contributor: Pranshu Kasyap
- Domain of Contribution: DSA (Documentation)
- Batch - 5

**Please Assign me the issue.**

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/

[2021-09-27 10:58] pranshukas commented on #3115
/assign

[2021-09-27 11:01] Pratham-Shah commented on #362
@prathimacode-hub I would like to work on the audio presentation for this issue. I would explain the basics of CNN and some types of models in it like VGG-16
Serial no:842, batch:20

[2021-09-27 11:03] nimisha-yadav commented on #486
@awesometushar000 you can still contribute to the audio part, if interested let me know, I'll reopen.

[2021-09-27 11:03] #486 closed

[2021-09-27 11:05] awesometushar000 commented on #486
Will you let me know the exact procedure for contributing to Audio Part.

[2021-09-27 11:06] iamsunil25 commented on #3111
/assign audio

[2021-09-27 11:06] iamsunil25 commented on #3101
/assign audio

[2021-09-27 11:07] #2553 closed

[2021-09-27 11:11] ganaaduvva commented on #3084
/assign documentation

[2021-09-27 11:11] sumitaccess007 commented on #3112
@garvitraj
Need your help to add missing tags to this Issue
![image](https://user-images.githubusercontent.com/14336951/134897614-db84191a-1706-448d-ad59-cee2f5942041.png)

[2021-09-27 11:20] nimisha-yadav commented on #486
Sure, you can explain the topic in audio format, create a file named 1.2.2.5_Master_Method_Audio.md in the respective folder and put your mp3 file in drive and insert the link there

[2021-09-27 11:36] samy0444 commented on #277
I am figuring out how can I merge my documentation, trying to send PR, please brief a little!

[2021-09-27 11:43] Isha307 commented on #610
@ashish-reddy-20-08 ,This issue is assigned to @mohitmishra786

[2021-09-27 11:47] SourabhSaraswat-191939 commented on #621
Hey @Techno-Simpola, any updates?

[2021-09-27 11:50] #2930 closed

[2021-09-27 11:56] goelesha commented on #3072
@sirilalithaadapa Assigning the issue to you for documentation.
Make sure to submit a PR within 7 days

[2021-09-27 11:57] Eswari-Priya opened #3120 "Python Strings"
### Description

# Strings
 I would like to include the following-
- Accessing strings.
- String methods
- operations that can be performed on them.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gith

[2021-09-27 11:58] Eswari-Priya commented on #3120
I am eswari priya of batch6 .i'd like to work on this!

[2021-09-27 11:58] Eswari-Priya commented on #3120
/assign
@adityabisoi

[2021-09-27 12:03] Deepanshu-bhalla opened #3123 "Object Oriented Programming Approach"
### Description

This particular issue will discuss the various concepts of OOP in python

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-09-27 12:06] Deepanshu-bhalla commented on #3123
/assign

[2021-09-27 12:09] Riya-Bisht commented on #73
I would like to work on this. Please assign it to me.

[2021-09-27 12:23] Riya-Bisht commented on #2208
/assign

[2021-09-27 12:23] Riya-Bisht commented on #2208
/assign

[2021-09-27 12:28] Riya-Bisht commented on #2208
@Nandani-koli hey, can I work on this issue? I dont have any idea how to assign myself to any issue so, can you please tell me how to do that? I tried writing this --> /assign but do I have to wait ?

[2021-09-27 12:40] Gaurav701a opened #3128 "Why to choose python as a programming language?"
### Description

This will give the information about:
1)The python capabilities in our today's world.
2)Scope of Python.
3)Major Uses of Python and more.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:

[2021-09-27 12:43] Gaurav701a commented on #3128
/assign

[2021-09-27 13:04] pallavidhere23 opened #3133 "DSA :2.1 Comparison Between Between Different Sorting Algorithm"
### Description

This Documentation will Compare Different Sorting Algorithm on the basis of Time and Space Complexity.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributin

[2021-09-27 13:05] pallavidhere23 commented on #3133
/assign

[2021-09-27 13:05] #2472 closed

[2021-09-27 13:05] PrachiDoshi2170 opened #3134 "[Frontend with HTML/CSS/JS] How does the Internet work"
###  Description

Mention the details about how does the internet work and what are the services provided by the internet in the area of web development

Please /assign me this task @moulikagrawal

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-09-27 13:06] Sin-Sumit opened #3135 "Add the Programming Fundamentals of JavaScript"
### Description

Add the Programming Fundamentals of JavaScript as defined in JavaSript RoadMap

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-09-27 13:07] PrachiDoshi2170 commented on #3134
Please /assign me this issue @moulikagrawal, if it is not yet create and guide me about where and under what title should I submit the PR

[2021-09-27 13:07] Sin-Sumit commented on #3135
/assign

[2021-09-27 13:07] Rohit-2602 commented on #277
document type can be any but should be readable on Github, .doc type can't be used

[2021-09-27 13:09] Rohit-2602 commented on #807
Nice work @Janhvi-s  👍

[2021-09-27 13:10] pallavidhere23 opened #3137 "DSA : 2.2.1 Naive Pattern Searching Algorithm"
### Description

This issue Explains the Naive Pattern Search Algorithm for Strings.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-09-27 13:12] #212 closed

[2021-09-27 13:12] #209 closed

[2021-09-27 13:13] elixir14082002 commented on #3134
/assign

[2021-09-27 13:15] ayushjain27 commented on #2757
/assign

[2021-09-27 13:16] elixir14082002 commented on #3035
/assign

[2021-09-27 13:20] tavneetgill commented on #2406
I would like to work on this issue
Name: Tavneet Kaur Gill
Serial No. 323
Type: Audio
Approach: Definition of OpenCV, where it is used, relevant examples and which resources to refer to incorporate it

[2021-09-27 13:21] Saviour1001 commented on #2362
Closing this as the PR got merged

[2021-09-27 13:21] #2362 closed

[2021-09-27 13:22] Ayushi11-hue commented on #2674
@dikshatakyar /assign

[2021-09-27 13:27] Saviour1001 commented on #934
Closing this as the PR #2762 got merged

[2021-09-27 13:27] #934 closed

[2021-09-27 13:34] AS8420 commented on #934
Thanks Supervisor🙂

On Mon, Sep 27, 2021, 6:58 PM Harsh Ghodkar ***@***.***>
wrote:

[2021-09-27 13:34] rajveer43 commented on #391
@Anna-cod hello, Actually I got covid for past 10 days so wasn't even active on discord and I am still recovering!

[2021-09-27 13:34] ashish-reddy-20-08 commented on #2403
@prathimacode-hub , Can you evaluate the PR mam
Link of PR: #2906
Name: M. Ashish Reddy
Batch - 5

[2021-09-27 13:35] moulikagrawal commented on #3134
@PrachiDoshi2170 sorry this issue is already created and PR is generated

[2021-09-27 13:35] ISHITA-ROY016 commented on #3077
@goelesha  can I work on the audio part?
Name- Ishita Roy
Batch- 8 (DSA)

[2021-09-27 13:35] divya1467 commented on #1240
@goelesha can you please review #3102

[2021-09-27 13:43] sarav18302 opened #3139 "[CP]:Moving Zeroes to the right"
### Description

Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the non-zero elements.

Note that you must do this in-place without making a copy of the array.

### Example 1:

Input: nums = [0,1,0,3,12]
Output: [1,3,12,0,0]

### Example 2:

Input: nums = [0]
Output: [0]

### Constraints:

**1 <= nums.length <= 104
-231 <= nums[i] <= 231 - 1**

*

[2021-09-27 13:43] sarav18302 commented on #3139
/assign

[2021-09-27 13:44] #2674 closed

[2021-09-27 13:45] Ayushi11-hue opened #3140 "What is HTTP?"
### Description

Hyper-Text Transfer Protocol

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this proje

[2021-09-27 13:45] Ayushi11-hue commented on #3140
/assign

[2021-09-27 13:46] iamsunil25 commented on #3135
/assign audio

[2021-09-27 13:53] #856 closed

[2021-09-27 13:55] Sin-Sumit commented on #3135
@iamsunil25 You can try on those issues which are not assigned to anyone. I'm assigned to this issue And I'm working on it.

[2021-09-27 13:56] Nandani-koli commented on #2208
@Riya-Bisht This one is already assigned to me, so you cannot assign the issue which is already assign to someone else. you have to create your own issue on the topic which is not already taken by someone else and then use this /assign command for self assign.

[2021-09-27 14:09] Saviour1001 commented on #2474
Closing this as the PR got merged

[2021-09-27 14:09] #2474 closed

[2021-09-27 14:11] goelesha commented on #3077
@ISHITA-ROY016 I am creating a separate issue for audio. You can take that up.

[2021-09-27 14:12] tamalbag117 commented on #2084
\assign Video

[2021-09-27 14:13] goelesha opened #3144 "DSA 2.1.2.1 Strings : Palindrome Problems (Problem-1) - Audio"
### Description

### Description
Check if the given string is a palindrome or not

## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do no

[2021-09-27 14:13] goelesha commented on #3144
@ISHITA-ROY016 You can work on this issue.
Make sure to submit a PR within 7 days.

[2021-09-27 14:18] Tanushree-coder commented on #1454
/assign
I want to work on the documentation part.

[2021-09-27 14:21] Diksha-11 commented on #740
Please /assign @manjeetdhayal sir.
I corrected the nomenclature properly.

[2021-09-27 14:23] #945 closed

[2021-09-27 14:24] dhruti29 commented on #3078
I would like to work on this issue (documentation).
batch-2
Dhruti Gandhi

[2021-09-27 14:25] dhruti29 commented on #3077
I would like to work on this issue (documentation).
batch-2
Dhruti Gandhi

[2021-09-27 14:25] VARUN-K-BANSAL opened #3150 "Doubly Linked List Documentation"
### Description

In this documentation I will add logic with code for inserting, deleting and updating an element in doubly Linked List.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-09-27 14:26] VARUN-K-BANSAL commented on #3150
/assign

[2021-09-27 14:27] dhruti29 commented on #3079
I would like to work on this issue (documentation).
batch-2
Dhruti Gandhi

[2021-09-27 14:29] dhruti29 commented on #3072
I would like to work on this issue (documentation).
batch - 2
Dhruti Gandhi

[2021-09-27 14:30] dhruti29 commented on #3071
batch - 2
documentation
Dhruti Gandhi

[2021-09-27 14:31] anjanaaaaaaaa commented on #35
https://github.com/girlscript/winter-of-contributing/pull/188

[2021-09-27 14:35] Techno-Simpola commented on #621
[https://github.com/girlscript/winter-of-contributing/pull/3145](url)
Check this out if it's fine or not.....

[2021-09-27 14:41] shubh045 opened #3153 "[Create New Issue]: HTML Button"
### Description

About HTML button element and different attributes used in it.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github

[2021-09-27 14:42] shubh045 commented on #3153
/assign

[2021-09-27 14:43] v-rohan commented on #2992
@HumblePlebeian I have assigned you this issue.

[2021-09-27 14:44] #1947 closed

[2021-09-27 14:46] tamalbag117 commented on #1223
/assign video

[2021-09-27 14:48] tamalbag117 commented on #2212
/assign

[2021-09-27 14:48] tamalbag117 commented on #2212
/assign video

[2021-09-27 14:49] tamalbag117 commented on #2212
\assign video

[2021-09-27 14:52] tamalbag117 commented on #3139
/assign video

[2021-09-27 14:52] tamalbag117 commented on #3139
\assign video

[2021-09-27 14:54] CSAURABH commented on #3052
@mukeshmjn @anandhu720 can I work on this issue.

[2021-09-27 14:56] mukeshmjn commented on #3052
@CSAURABH sure.

[2021-09-27 14:56] Isha307 commented on #2784
@ishaan107 YOU CAN WORK ON THIS.

[2021-09-27 15:01] tamalbag117 commented on #2884
\assign Video

[2021-09-27 15:01] priyankapiba commented on #2294
@adityabisoi  please assign me this issue.

[2021-09-27 15:02] tamalbag117 commented on #2212
\assign Video

[2021-09-27 15:02] tamalbag117 commented on #1702
\assign Video

[2021-09-27 15:03] tamalbag117 commented on #1668
\assign Video

[2021-09-27 15:04] #914 closed

[2021-09-27 15:09] ikavyajain opened #3159 "Simple ATM Bank in C"
### Description

A simple program for beginners to choose at the initial stage to make a project in C! 👍
The program will be a menu driven program which will allow the user to-
- [x] Check the balance
- [x] Money deposited
- [x] Money withdraw

Hope you understand the simple code and code it in you system! 💯
Enjoyyy coding! 👍

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of

[2021-09-27 15:09] ikavyajain commented on #3159
/assign

[2021-09-27 15:10] Saviour1001 commented on #2735
Closing this as the PR got merged.

[2021-09-27 15:10] #2735 closed

[2021-09-27 15:11] pankaj-Makhijani commented on #534
Hello @mukeshmjn I would like to work on the documentation part of this issue.

[2021-09-27 15:12] 101Priyanshi commented on #2207
I have completed the task and created a pull request as well

[2021-09-27 15:13] anuragdw710 opened #3162 "Description Lists"
### Description

Add Description Lists Elements  <dl>, ,<dt>,<dd> in HTML LIST .

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-09-27 15:13] priyanshinaredi commented on #713
@adityabisoi
Sir I would like to contribute to this issue
Name: Priyanshi Naredi
batch: 2
Type: Documentation

[2021-09-27 15:13] anuragdw710 commented on #3162
/assign

[2021-09-27 15:14] Saviour1001 commented on #1307
Closing as the PR got merged!

[2021-09-27 15:14] #1307 closed

[2021-09-27 15:15] #2937 closed

[2021-09-27 15:19] #2207 closed

[2021-09-27 15:20] HastiSutaria commented on #1966
@abhisheks008 Will create PR by tomorrow.

[2021-09-27 15:22] ViAsmit commented on #159
@bakisama have you raised the pull request. I cant see it. also mention this issue in your PR.
like this: Fixes #<issueNo>

[2021-09-27 15:23] ikavyajain opened #3165 "SuperBall Game In C"
### Description

This is an advanced program in C Programming with graphics and use of colors!💯
In this game you need to balance the circular ball on a rectangular plate and prevent it from falling down. Once the ball falls down you will loose a point and till you balance the ball on the plate it will score you some points! 👍

Try to code and enjoy playing! :)

### Domain

C/CPP

### Type of Contr

[2021-09-27 15:23] ikavyajain commented on #3165
/assign

[2021-09-27 15:25] ViAsmit commented on #2940
@yatharthrajput  its already assigned to you

[2021-09-27 15:26] #2792 closed

[2021-09-27 15:29] Saviour1001 commented on #2548
Closing this as PR got merged.

[2021-09-27 15:29] #2548 closed

[2021-09-27 15:30] AtharvaaPatil commented on #2800
@Anant1711 I want to work on documentation too Can you assign it to me too

[2021-09-27 15:30] AkMo3 commented on #1807
Yes. Please see https://github.com/girlscript/winter-of-contributing/pull/3157/files for reference

[2021-09-27 15:33] harshithatnbr commented on #1312
/ assign video

[2021-09-27 15:34] debidattasuryaprakash commented on #534
May I work on this issue?

[2021-09-27 15:34] harshithatnbr commented on #1312
/assign video

[2021-09-27 15:35] abhisheks008 commented on #610
@mohitmishra786 you have been assigned this issue 9 days ago. Any problem, you can share with me personally, here is my discord ID : **abhisheks008#2463**

[2021-09-27 15:35] AkMo3 commented on #3055
@prachigarg19 You have been assigned documentation

[2021-09-27 15:36] abhisheks008 commented on #1966
Yeah that's what is the motto of the issue, add major things which will be beneficial for the users @HastiSutaria

[2021-09-27 15:40] harshithatnbr commented on #1312
I am going to make video explanation regarding questions asked on graphs in interview.

[2021-09-27 15:46] TusharSrivastav-27 opened #3167 "Quick Sort"
### Description

I want to contribute for in this topic.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-27 15:47] TusharSrivastav-27 commented on #3167
/assign

[2021-09-27 15:51] #2392 closed

[2021-09-27 15:53] soumya-dash3 opened #3169 "CPP: Strings in C++"
### Description

Description
This article will be briefing newbies to C++ about what is string, a set of  inbuilt functions that can be used to perform different tasks on strings and some examples explaining the same

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-09-27 15:57] pjdurden opened #3170 "DSA 2.2.17 KMP Algorithm"
## Description
Give an introduction and explain the working of Knuth–Morris–Pratt algorithm.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the

[2021-09-27 15:58] pjdurden opened #3171 "DSA 2.2.20 Aho-Corasick Algorithm"
## Description
Give an introduction and explain the working of Aho-Corasick algorithm.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue

[2021-09-27 15:59] soumya-dash3 commented on #3169
/assign

[2021-09-27 16:00] prathimacode-hub commented on #2407
Issue assigned to @pankaj-sawnani for video contribution

[2021-09-27 16:01] pjdurden opened #3172 "DSA 2.2.3 Monotonic functions"
## Description
Give an introduction and explain the working of monotonic functions in the context of binary search and bisection method.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBU

[2021-09-27 16:01] ishivamgupta9 commented on #3170
/assign Document

[2021-09-27 16:02] pjdurden opened #3173 "DSA 2.2.4 Bisection Method ( Binary search)"
## Description
Give an introduction and explain the working of bisection method for root finding.

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that

[2021-09-27 16:02] VanshikaSable commented on #3171
Vanshika Sable batch-1- documentation

[2021-09-27 16:03] VanshikaSable commented on #3173
/assign

[2021-09-27 16:04] VanshikaSable commented on #3173
DSa batch 1-documentation

[2021-09-27 16:04] prathimacode-hub commented on #2713
Issue assigned to @das-ankur  for documentation. But you haven't provided up with the details needed for assigning the issue. @das-ankur

[2021-09-27 16:05] prathimacode-hub commented on #2823
@ShraddhaP123, this issue has no information. Kindly add them. And @das-ankur an issue is assigned to you.

[2021-09-27 16:09] Ashi-00 commented on #575
i would like to work on this via VIDEO
@adityabisoi
Ashi Dubey
batch -5

[2021-09-27 16:12] manjeetdhayal opened #3175 "MERN: Update Readme.md with roadmap"
### Description

# Update Roadmap in the Readme.md

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-27 16:12] prathimacode-hub opened #3176 "Data Science with Python : Usage of get_dummies to create Dummy Variables with Pandas"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Usage of get_dummies to create Dummy Variables with Pandas Tutorial to Usage of get_dummies to create Dummy Variables with Pandas and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Sci

[2021-09-27 16:13] ayushijindal commented on #3176
/content/globalterrorismdb_0718dist.csv

[2021-09-27 16:13] #2166 closed

[2021-09-27 16:13] hardikk2002 commented on #3175
/assign

[2021-09-27 16:15] prathimacode-hub opened #3177 "Data Science with Python : Data Cleaning"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Data Cleaning. Tutorial to Data Cleaning and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation, Au

[2021-09-27 16:15] ayushijindal commented on #3176
/assign

[2021-09-27 16:17] ShraddhaP123 commented on #2823
What information needs to be included?

[2021-09-27 16:18] prathimacode-hub commented on #1831
Ok, you can proceed working on it for documentation. @hrugved06

[2021-09-27 16:21] deepthi1107 commented on #3177
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do documentation on this issue.

[2021-09-27 16:22] ISHITA-ROY016 commented on #3144
Okay @goelesha . Thank you.

[2021-09-27 16:23] samahuja642 opened #3179 "Selection Sort using c++ with video and code"
### Description
I have made a full video in English to explain selection sort algorithm and then write code by explaining it .

### Domain

Competitive Programming

### Type of Contribution

Video, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girls

[2021-09-27 16:23] samahuja642 commented on #3179
/assign

[2021-09-27 16:24] nandini7637 opened #3180 "Java 16.2: Synchorization"
### Description
 Add audio, documentation, and video regarding the **Synchorization**

 **Location of File to be added**
 The files should be added inside the _`Synchorization`_ which will be inside _`Multithreaded Programming`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb`

[2021-09-27 16:24] eshan1925 commented on #3172
/assign Eshan Gupta Batch-9

[2021-09-27 16:26] nandini7637 opened #3183 "Java 16.3: Messaging, thread class and runnable interface"
### Description
 Add audio, documentation, and video regarding the **Messaging, thread class and runnable interface**

 **Location of File to be added**
 The files should be added inside the _`Messaging, thread class and runnable interface`_ which will be inside _`Multithreaded Programming`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact

[2021-09-27 16:26] akarshlahariya11 commented on #3045
/assign

[2021-09-27 16:28] shital-09 opened #3184 "HTML_Forms"
### Description

I will be creating documentation regarding HTML Forms it contains controls such as text fields, password fields, checkboxes, radio buttons, submit button, etc.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTI

[2021-09-27 16:30] eshan1925 commented on #2361
/assign

Hey, @rahulsain and @ydasc815 may I start with the documentation of the issue.

[2021-09-27 16:32] RIYANSHGARG commented on #534
I want to work on this issue, kindly assign it to me.

[2021-09-27 16:32] shital-09 commented on #3184
/assign

[2021-09-27 16:34] RIYANSHGARG commented on #345
What is status, If not resolved can I work on this ?

[2021-09-27 16:34] dikshatakyar commented on #2674
@Ayushi11-hue  why did you close this issue ?

[2021-09-27 16:35] dikshatakyar commented on #2674
@Ayushi11-hue reopen this issue please, I am left to contribute in this topic via VIDEO.

[2021-09-27 16:36] Anant1711 commented on #2800
Okay!
Assigned!

[2021-09-27 16:38] tejas342 commented on #3120
hello @adityabisoi
i want to do this in documentation
tejas prajapati (python batch-6)

[2021-09-27 16:39] tejas342 commented on #3120
/assign

[2021-09-27 16:42] Kanishk0412 opened #3189 "Important Resources and Books"
### Description

# Description

In the documentation form, I'll share all of the resources and books used to prepare for the interview.

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girls

[2021-09-27 16:43] Kanishk0412 commented on #3189
/assign

[2021-09-27 16:43] raina-akshay opened #3190 "ML 2.1 : What is Learning? Why Machine Learning works? (D)"
### Description

### Description

Welcome to 'ML' Team, good to see you here

This issue will helps readers in acquiring all the knowledge that one needs to know about **What is Learning? Why Machine Learning works?**.

To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", this issue is only for **Video** content.

Domain : Machine Learning

[2021-09-27 16:43] Kanishk0412 commented on #3189
/assign

[2021-09-27 16:43] ashish-reddy-20-08 commented on #3190
Hello, I am M. Ashish Reddy, I would like to work on this issue.
Batch Number: 2
Serial Number: 260
GitHub Profile Link: https://github.com/ashish-reddy-20-08
contribution you want to make : Documentation

[2021-09-27 16:44] ayushi424 commented on #3177
Name: Ayushi Shrivastava
S No: 811
Approach to be followed:
-  Documentation
 - Proper code and explanation for a sample dataset with missing or null or inappropriate data values to clean and balance the dataset so that it can be used for data training & model creation.Also improve the performance of the project.

@prathimacode-hub Kindly assign :)

[2021-09-27 16:44] ashish-reddy-20-08 commented on #3190
@raina-akshay , can you please assign me sir.

[2021-09-27 16:44] prathimacode-hub commented on #3177
You both are so active. This is done on contributors request. If not claimed, you both can choose. But priority goes to person who has asked for this issue. All issues created now are from requests. @ashish-reddy-20-08 @deepthi1107

[2021-09-27 16:45] prathimacode-hub commented on #3177
Issue assigned to @ayushi424 for documentation. You both can choose audio / video. @ashish-reddy-20-08 @deepthi1107

[2021-09-27 16:45] ashish-reddy-20-08 commented on #3177
@prathimacode-hub , I will do video mam

[2021-09-27 16:47] prathimacode-hub commented on #2823
@ShraddhaP123, serial number and approach you would be following for this issue.

[2021-09-27 16:49] deepthi1107 commented on #3177
Hello, I am Deepthi M with serial number:172, Batch-2. I would like to do audio on this issue.
my approach: a detail explanation .

[2021-09-27 16:50] Harsh652-cpu commented on #3169
/assign

[2021-09-27 16:51] Ayushi11-hue commented on #2674
Ok I have make a new issue for the same you can contribute there.. it's
same.. just find with the same name and assign it to yourself..

On Mon, 27 Sep 2021, 10:06 pm Diksha, ***@***.***> wrote:

[2021-09-27 16:51] Harsh652-cpu commented on #3049
I want to work with this issue,please assign this issue with me

[2021-09-27 16:52] HastiSutaria commented on #437
Have created my PR! @Kareem-negm

[2021-09-27 16:55] Harsh652-cpu commented on #2668
/assign document

[2021-09-27 16:59] HastiSutaria commented on #1966
Okay! Is audio and face compulsory in video ?

[2021-09-27 17:01] Sarthak-Agg opened #3193 "DSA 2.2.2 Linear Search & Binary Search"
## Description
Give an introduction and explain the working of Linear Search & Binary Search, and compare them in terms of their complexities

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CON

[2021-09-27 17:04] Shende-Ayush opened #3197 "Visualization using Seaborn"
### Description

I will be creating documentation regarding Visualization Using Seaborn Functions it contains Functions such as Imlot , relplot , Scatterplot , catplot, heatmap , etc.

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONT

[2021-09-27 17:04] Shende-Ayush commented on #3197
/assign

[2021-09-27 17:08] prathimacode-hub commented on #3177
Ok. Issue assigned to @ashish-reddy-20-08 for video and @deepthi1107 for audio contribution.

[2021-09-27 17:09] prathimacode-hub commented on #3197
This issue is already done. Don't create issues and self assign yourself. @Shende-Ayush

[2021-09-27 17:09] Sarthak-Agg opened #3198 "DSA 2.2.2.1 Ternary search"
## Description
Give an introduction and explain the working of Ternary search, both iterative and recursive methods

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In

[2021-09-27 17:10] #3197 closed

[2021-09-27 17:12] prathimacode-hub commented on #3176
Bot says you have more than 3 open issues under you. Is it? @ayushijindal

[2021-09-27 17:12] dikshatakyar commented on #2674
ok,but please don't close the new issue till i contribute there which is #3140  right ? @code-reaper08 , please look into this matter.

[2021-09-27 17:15] mayankkuthar commented on #2975
@Aryamanz29 Kindly Review Pull request #3196  So that I can Open a Pull request for this Issue in the opensource branch

[2021-09-27 17:16] Khushi-Agrawal-1 commented on #3054
\assign Audio
I would like to contribute to this via audio @garvitraj

[2021-09-27 17:17] #669 closed

[2021-09-27 17:18] JayashreeSadarhalli commented on #3180
/assign audio

[2021-09-27 17:20] mayankkuthar commented on #2975
@Aryamanz29 Thanks! 😄

[2021-09-27 17:21] TishaJhabak1014 opened #3200 "Python: Dictionary_Comprehension"
### Description

Description:
What is dictionary comprehension?
Why is dictionary comprehension is needed?
Utility of dictionary comprehension with examples
Some advantages

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-09-27 17:22] TishaJhabak1014 commented on #3200
@adityabisoi Please assign this issue to me sir. I would like to work on it.

[2021-09-27 17:22] #2965 closed

[2021-09-27 17:25] Ayushi11-hue commented on #2674
Yup I will not .. I have to that one because of some issue with the ID ..
just do this one it will be open.
Sorry for that!!!...

On Mon, 27 Sep 2021, 10:42 pm Diksha, ***@***.***> wrote:

[2021-09-27 17:31] ayushijindal commented on #3176
No

[2021-09-27 17:31] Sarthak-Agg opened #3204 "2.2.5 Counting Sort & Radix Sort"
## Description
Give an introduction and explain the working of Counting Sort and its complexity, Radix sort and its usage and complexity and how it uses counting sort as a subroutine to sort, and its applications

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines

[2021-09-27 17:32] adityabisoi commented on #2294
You can star working on it

[2021-09-27 17:33] adityabisoi commented on #3200
Assigned

[2021-09-27 17:36] Sravani29-2001 commented on #3183
/assign Documentation

[2021-09-27 17:36] Arya-Gupta commented on #3184
I want to contribute to this issue : HTML_Forms
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-3184
Contribution Approaches-How to create an HTML form, various form controls and how they work
Type-Audio

[2021-09-27 17:37] Sachit-10 opened #3206 "Reverse of an array (code+explanation in C++)"
### Description

 Reverse of an Array with code and explanation in C++

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this p

[2021-09-27 17:37] Sachit-10 commented on #3206
/assign

[2021-09-27 17:37] garvitraj commented on #3180
@JayashreeSadarhalli go with audio

[2021-09-27 17:39] paramsiddharth commented on #2882
You aren't! It is correct! Go ahead with the PR, @Aditi-247 !

[2021-09-27 17:39] Sunainacode opened #3208 "[Frontend with HTML_CSS_JS]: Domain Name Basics"
### Description

Description
In this issue, I will work upon the domain name and all the basics about it.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-cont

[2021-09-27 17:39] garvitraj commented on #1995
@Sneha-0308 go with the audio

[2021-09-27 17:39] Sunainacode commented on #3208
/assign

[2021-09-27 17:40] Sunainacode commented on #3208
/assign

[2021-09-27 17:40] Arya-Gupta commented on #1918
I want to contribute to this issue : Frontend Dev with HTML,CSS and JS: HTML Table attributes
Name-Arya Gupta
Domain-Frontend with HTML CSS
Batch-16
Serial No-3172
Issue Number-1918
Contribution Approaches-What are HTML tables, uses of tables and various table attributes
Type-Audio

[2021-09-27 17:41] paramsiddharth commented on #72
@TishaJhabak1014 No, I won't close the issue yet. As the workflow for us has been, this same issue will be reopened and reused for the other formats.

[2021-09-27 17:41] garvitraj commented on #3183
@Sravani29-2001 documentatio

[2021-09-27 17:41] Narotam-singh opened #3209 "[Create New Issue]: DNF Sort in C++ (Documentation)"
### Description

Hey, I want to create documentation on DNF ( Dutch National Flag ) sort in C++

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-09-27 17:42] Narotam-singh commented on #3209
/assign

[2021-09-27 17:43] garvitraj commented on #2870
@ishivamgupta9 go with video

[2021-09-27 17:43] Aryamanz29 commented on #2167
@Harshil-Jani  Assigning this to you , Happy learning 🎉🎉

[2021-09-27 17:44] prathimacode-hub commented on #3176
It's still open as it's assigned to multiple contributors. So it can't be closed until all the persons assigned to that issue doesn't complete their PR. Issue assigned to @ayushijindal for documentation

[2021-09-27 17:44] garvitraj commented on #2705
@Anushka-Gamad go with audio

[2021-09-27 17:46] TishaJhabak1014 commented on #72
@paramsiddharth sir, okay I got it. Actually, I guess, this issue is counted as open and even I am not working on 3 open issues, the bot prompts 3 issue at a time is exhausted for me. Thus, I cannot work on rest domains.

[2021-09-27 17:47] garvitraj commented on #2627
@iamsunil25 audio

[2021-09-27 17:47] Harshil-Jani commented on #2167
Hey Thanks for Assigning ! Can You please guide me regarding topic number ? You are giving any unique topic number of shall I name it as 5.4_Docker ?

[2021-09-27 17:49] supercoder246 opened #3210 "printing the pyramid using nested for loop"
### Description

in this we will be going to print the the pyramid using "*"character with any number of rows

### Domain

C/CPP

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-09-27 17:50] Sarthak-Agg opened #3211 "2.2.5 Pigeonhole Sort"
## Description
Give an introduction and explain the working of Pigeonhole Sort, its complexity and also explain how it is different from counting sort,

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/D

[2021-09-27 17:50] supercoder246 commented on #3210
/assign

[2021-09-27 17:50] garvitraj commented on #3054
@Khushi-Agrawal-1 go with audio

[2021-09-27 17:51] palsahabmalviyan commented on #3193
/assign

[2021-09-27 17:52] Puja-Saraf opened #3212 "Binary Exponentiation (C++)"
### Description

Binary Exponentiation in C++
Algorithm
Implementation
Applications

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.git

[2021-09-27 17:53] Puja-Saraf commented on #3212
/assign

[2021-09-27 17:55] ShivaniPaliwal29 commented on #3204
/assign
Shivani Paliwal
dsa-batch-4

[2021-09-27 17:56] ShivaniPaliwal29 commented on #3204
/assign

[2021-09-27 18:03] arushi-tailang commented on #2992
/assign

[2021-09-27 18:04] Sarthak-Agg opened #3213 "2.2.5 Bitonic Sort"
## Description
Give an introduction and explain the working of Bitonic Sort, its use cases and its complexity

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case

[2021-09-27 18:04] Parth-001-git commented on #1457
@sitamadex11  I am very new to these things . Can you see my update commit?

[2021-09-27 18:08] Sakalya100 commented on #1841
An update on my end. I am having my exams. So it is a bit delayed. Apologies. I will make the PR as soon as possible. Hope that is fine @prathimacode-hub

[2021-09-27 18:09] Sarthak-Agg opened #3214 "2.2.5 Binary Insertion Sort"
## Description
Give an introduction and explain the working of Binary Insertion Sort, using both iterative and recursive approach, and its complexity

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA

[2021-09-27 18:13] Shende-Ayush commented on #3176
Approach : Using a dataset to explain the Usage of get_dummies to create Dummy Variables with Pandas
Format   :  Documentation
Serial No. : 695
Batch : 18
@prathimacode-hub my humble request for the allotment of  this issue

[2021-09-27 18:19] iamsunil25 commented on #3135
@Sin-Sumit i have not seen audio label that's why i write. btw no problem you can work on it. i will find another issues

[2021-09-27 18:21] paramsiddharth commented on #259
Hey Aakansha! I think your issue was missed due to improper formatting. Sorry about that, please try to use the format specified in the contribution guide here: https://github.com/girlscript/winter-of-contributing/blob/Javascript/JavaScript/CONTRIBUTING.md

Please look for another issue or create your own! Thank you so much for the contribution!

P. S. Are you joining our weekly acknowledgement se

[2021-09-27 18:21] #259 closed

[2021-09-27 18:22] WajihaFatim commented on #3214
/assign

[2021-09-27 18:22] Adi7171 opened #3217 "Opensource : 6.16 Explain everything about `Next.js`"
### Description

Description

Opensource : 6.16 Explain everything about Next.js

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CON

[2021-09-27 18:22] Adi7171 commented on #3217
/ assign

[2021-09-27 18:22] WajihaFatim commented on #3213
/assign

[2021-09-27 18:23] Adi7171 commented on #3217
/assign

[2021-09-27 18:24] AGR-12JU opened #3218 "Kruskal's Algorithm for minimum spanning tree"
### Description

I will be explaining Kruskal's algorithm with the code in order to find minimum spanning tree.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of

[2021-09-27 18:24] PrachiDoshi2170 commented on #3134
Okay so should I close this issue or delete it? And can you guide me how to
find out that which topics are still left in the front-end roadmap?

On Mon, 27 Sep, 2021, 7:05 pm Moulik Agrawal, ***@***.***>
wrote:

[2021-09-27 18:24] AGR-12JU commented on #3218
/assign

[2021-09-27 18:25] Sarthak-Agg opened #3220 "2.2.5 Pancake sorting"
## Description
Give an introduction and explain the working of Pancake sorting, and bill gates contribution to this problem and its progress over the years

## Task
- [ ] Documentation
- [ ] Audio
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-27 18:25] Adarshswain commented on #345
alerady done

[2021-09-27 18:26] WajihaFatim commented on #3198
/assign

[2021-09-27 18:27] iamsunil25 commented on #3153
/assign audio

[2021-09-27 18:28] iamsunil25 commented on #3140
/assign audio

[2021-09-27 18:29] WajihaFatim commented on #3220
/assign

[2021-09-27 18:32] paramsiddharth commented on #72
In such a situation, you can just unassign yourself from an issue that you are done working on. :)

[2021-09-27 18:32] ParagD25 commented on #2995
@yatharthrajput can u assign me this issue?

[2021-09-27 18:33] aishapervin commented on #3211
@Sarthak-Agg plz assign me this issue

[2021-09-27 18:39] chaudharydivya199 commented on #2956
/assign it to me

[2021-09-27 18:42] TishaJhabak1014 commented on #72
Thank you sir : )

[2021-09-27 18:43] #2830 closed

[2021-09-27 18:44] a-rcane opened #3223 "C_CPP : Hamiltonian Path"
### Description

Description : Hamiltonian path in graphs.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-27 18:44] a-rcane commented on #3223
/assign

[2021-09-27 18:48] a-rcane opened #3224 "DSA : Heapsort"
### Description

Description : Heapsort algorithm (documentation + simple implementation)

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CO

[2021-09-27 18:48] a-rcane commented on #3224
/assign

[2021-09-27 18:49] eshan1925 commented on #1573
/assign

[2021-09-27 18:50] eshan1925 commented on #3172
/assign

[2021-09-27 18:52] vanshika230 commented on #2402
Ma'am I was assigned for documentation as I created this issue, I have done the work too.

[2021-09-27 18:54] aishapervin commented on #3171
@pjdurden  assign me this issue

[2021-09-27 18:59] lakshya7878 commented on #2873
/assign

[2021-09-27 18:59] lakshya7878 commented on #2873
/assign  audio

[2021-09-27 18:59] kajaljha09 opened #3227 "C_CPP : Diagonal Matrix"
### Description

I would like to contribute in the documentation part of Diagonal Matrix. I will be explaining about diagonal matrix and how to create Diagonal Matrix using C language as well as C++ class.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-09-27 18:59] geetika005 opened #3228 "Functions in Javascript"
### Description

Introduction to Functions in Javascript

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-09-27 18:59] geetika005 commented on #3228
/assign

[2021-09-27 19:00] kajaljha09 commented on #3227
/assign

[2021-09-27 19:04] kajaljha09 opened #3230 "C_CPP : Lower and Upper Triangular Matrix"
### Description

I will be explaining about how to create Lower Triangular and Upper Triangular Matrix using both row major and column major mapping.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/

[2021-09-27 19:04] kajaljha09 commented on #3230
/assign

[2021-09-27 19:09] stranger311 commented on #3113
/assign documentation

[2021-09-27 19:16] Nay907 commented on #3214
Name- Nayanika Mishra
Batch- 9

[2021-09-27 19:20] stranger311 commented on #3113
\assign

[2021-09-27 19:27] yogeshkumar-1234 opened #3234 "C_CPP: POLICY BASED DATA STRUCTURES"
### Description

This documentation will include policy based data structure along with it's functions.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-09-27 19:27] yogeshkumar-1234 commented on #3234
/assign

[2021-09-27 19:29] saurav3232 commented on #566
Hi @kumarankm i would like to contribute in this.
Name-Saurav Kumar
python batch-5
Type-Video

[2021-09-27 19:30] koshimagoyal opened #3235 "[FRONTEND WITH FRAMEWORK]: Angular(2.4)->What is Property Binding?"
### Description

**Description**
- What is property binding?
- How it works?
- Difference between property binding and interpolation.
- How to bind directive property?
- Brief about property binding among components.
- Explain with code snippets/syntax.
- Reference :- https://angular.io/guide/property-binding
(Week-2 Issue)

Note:-

1. Don't even think about copy pasting we after reviewing would b

[2021-09-27 19:41] PS-20 commented on #1378
I would like to work on this issue. Kindly assign me this @rahulsain

[2021-09-27 19:45] singhnikhiljsr opened #3240 "Quick Notes/ Cheat Sheet -> SQL"
### Description

A crisp and concise revision sheet to refer to while preparing for the Interview!
-> Inbuilt functions
-> Important concepts

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com

[2021-09-27 19:45] singhnikhiljsr commented on #3240
/assign

[2021-09-27 19:59] kashyap1905 opened #3243 "Reference Variables in C++ - Documentation"
### Description

Points to be discussed in documentation -

- What are Reference Variables
- Difference between Referance and Address of a Variable
- Declaration syntax and rules for a Reference Variable
- Reference Variables and Ampersand Operators
- Difference between Pointers and Reference Variables
- Usage of Reference Variables
- Examples and Code Snippets

### Domain

C/CPP

### Type of Cont

[2021-09-27 20:00] kashyap1905 commented on #3243
/assign

[2021-09-27 20:00] RIYANSHGARG commented on #3235
I would like to work on it. kindly assign it to me.

[2021-09-27 20:02] AGR-12JU opened #3244 "Break and continue"
### Description

I will be telling about break and continue statement with codes.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-09-27 20:02] AGR-12JU commented on #3244
/assign

[2021-09-27 20:21] brassgolem-25 commented on #3198
@Sarthak-Agg Assign me this issue
Name - Tushar Tiwari
Batch - #6

[2021-09-27 20:22] brassgolem-25 commented on #3213
Name - Tushar Tiwari
Batch - 6

[2021-09-27 20:41] syedareehaquasar commented on #3240
Go ahead looks good!

[2021-09-27 20:43] samipak458 opened #3245 "[Frontend with HTML,CSS,JS]: HTML LIST"
### Description

What is List ?
Types Of List
1)Ordered List
2)Unordered List

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-09-27 20:43] samipak458 commented on #3245
/assign

[2021-09-27 20:46] priyashajain opened #3247 "DSA : Recursion using Tower of Hanoi"
### Description

I will submit the documentation on the topic Recursion using Tower of Hanoi, where I will explain the concept of recursion, and its step by step working through Tower of Hanoi problem.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRI

[2021-09-27 20:47] priyashajain commented on #3247
/assign

[2021-09-27 20:47] priyashajain commented on #3247
/assign

[2021-09-27 20:47] priyashajain commented on #3247
/assign

[2021-09-27 20:48] eshan1925 commented on #3172
\assign

[2021-09-27 20:48] eshan1925 commented on #3172
Please assign me this @pjdurden

[2021-09-27 20:48] #1782 closed

[2021-09-27 20:52] priyashajain opened #3248 "DSA : Recursion using Tower of Hanoi"
### Description

I will submit the documentation on the topic Recursion using Tower of Hanoi, where I will explain the concept of recursion thoroughly, and its step by step working through the famous Tower of Hanoi problem.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-27 20:52] priyashajain commented on #3248
/assign

[2021-09-27 20:53] priyashajain commented on #3248
/assign

[2021-09-27 20:54] priyashajain commented on #3248
/assign

[2021-09-27 20:54] priyashajain commented on #3247
/assign

[2021-09-27 21:00] eshan1925 commented on #3172
/assign

[2021-09-27 21:15] Suvraneel opened #3249 "[Create New Issue]:"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-27 21:21] hrugved06 commented on #1831
Sure

[2021-09-27 21:26] eshan1925 commented on #2361
![image](https://user-images.githubusercontent.com/78701779/134987577-e62117fe-4c0b-4377-b239-4aa9f783eb24.png)

Hey, @rahulsain and @ydasc815 is this file path (also file and folder names) correct for storing the documentation?

[2021-09-27 21:26] ctnkaan commented on #2956
/assign

[2021-09-27 21:34] ctnkaan opened #3251 "React Components"
### Description

This documentation will explain how React components work

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-09-27 21:34] ctnkaan commented on #3251
/assign

[2021-09-27 21:46] ctnkaan commented on #2956
Welp, I thought I needed a confirmation from a mentor. Oh well... Maybe we can work together on this issue with @chaudharydivya199. I can write about Yarn and @chaudharydivya199 can write about NPM.

@gauravdas014 When you have free time can you assign me to this issue too ? Thanks!

[2021-09-27 22:13] Nikita512 commented on #498
@Anant1711 Please let me know how to upload audio file and submit and pull request

[2021-09-27 22:26] eshan1925 commented on #1573
Hey, @amino19 Please review the code. I have created the PR.
THANK YOU

[2021-09-27 22:49] eshan1925 commented on #3172
/assign

[2021-09-28 00:11] nimisha-yadav commented on #1787
Assigning this issue to you @kalyanirb12, all the best.

[2021-09-28 00:19] #410 closed

[2021-09-28 00:25] #411 closed, assigned to GenMech

[2021-09-28 00:28] #482 closed

[2021-09-28 00:31] #483 closed

[2021-09-28 00:35] #485 closed

[2021-09-28 00:37] #1781 closed

[2021-09-28 00:51] Sin-Sumit commented on #3135
But it is a documentation, why I add audio?

[2021-09-28 01:26] nimisha-yadav opened #3255 "DSA 1.1.3.3_Difference Arrays_Video/Audio"
## Description
What is a difference array and how is it used to perform range update queries?

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.m

[2021-09-28 01:27] nimisha-yadav opened #3256 "DSA 1.2.2.2 Algorithms: Lower and Upper bounds - Audio/Video"
## Description
Discuss Asymptotic Notations. What are Lower and Upper bounds? Describe their usages.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIB

[2021-09-28 01:27] nimisha-yadav opened #3257 "DSA 1.2.2.1 Algorithms: Recurrence Relations - Audio/Video"
## Description
Explain recurrence relations and their properties.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should

[2021-09-28 01:28] nimisha-yadav opened #3258 "DSA 1.2.2.4 Recurrence Relations: Recursion Tree Method - Audio/Video"
## Description
How can you solve recurrences using Recursion Tree Method?

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes

[2021-09-28 01:30] nimisha-yadav opened #3259 "DSA 1.1.3.4_Arrays: Merge Sort Tree - Audio/Video"
## Description
Explain about Merge Sort Tree.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should be made inside the `

[2021-09-28 01:30] nimisha-yadav opened #3260 "DSA 2.1 Implementation of Strings in Java - Documentation"
## Description
How are strings implemented in Java? Discuss string class, string length.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues)

[2021-09-28 01:31] nimisha-yadav opened #3261 "DSA 2.1 Implementation of Strings in Java - Audio"
## Description
How are strings implemented in Java? Discuss string class, string length.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Chan

[2021-09-28 01:31] nimisha-yadav opened #3262 "DSA 2.1 Implementation of Strings in Java - Video"
## Description
How are strings implemented in Java? Discuss string class, string length.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Chan

[2021-09-28 01:32] nimisha-yadav opened #3263 "DSA 1.1.3.5 Arrays: Suffix Array - Audio/Video"
## Description
Explain the construction and applications of Suffix Array.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes

[2021-09-28 01:33] nimisha-yadav opened #3264 "DSA 2.1 Implementation of Strings in Python - Video"
## Description
How are strings implemented in Python? Discuss with examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should b

[2021-09-28 01:34] nimisha-yadav opened #3265 "DSA 2.1 Implementation of Strings in Python - Documentation"
## Description
How are strings implemented in Python? Discuss with examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes

[2021-09-28 01:34] nimisha-yadav opened #3266 "DSA 2.1 Implementation of Strings in Python - Audio"
## Description
How are strings implemented in Python? Discuss with examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should b

[2021-09-28 01:39] moulikagrawal commented on #3134
Yes you can close the issue. To find already taken issues, you will have to search the issues tab for the topic

[2021-09-28 01:40] #3134 closed

[2021-09-28 01:41] Harsh652-cpu opened #3267 "Sorting algorithm and code"
### Description

Programs, algorithm and it's explanation of all sorting techniques in c

Contribution in audio and documentation format.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/w

[2021-09-28 01:52] nimisha-yadav opened #3268 "2.1 Strings - Rabin-Karp Algorithm - Video"
## Description
Discuss the Rabin-Karp Algorithm. Mention about its implementation, complexity, examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md

[2021-09-28 01:53] nimisha-yadav opened #3269 "2.1 Strings - Rabin-Karp Algorithm - Documentation"
## Description
Discuss the Rabin-Karp Algorithm. Mention about its implementation, complexity, examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIB

[2021-09-28 01:53] nimisha-yadav opened #3270 "2.1 Strings - Rabin-Karp Algorithm - Audio"
## Description
Discuss the Rabin-Karp Algorithm. Mention about its implementation, complexity, examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md

[2021-09-28 02:04] nimisha-yadav opened #3271 "2.1 Strings - Manacher's Algorithm - Video"
## Description
Discuss Manacher's Algorithm and its significance. Mention about its implementation, complexity, and examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DS

[2021-09-28 02:04] nimisha-yadav opened #3272 "2.1 Strings - Manacher's Algorithm - Documentation"
## Description
Discuss Manacher's Algorithm and its significance. Mention about its implementation, complexity, and examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing

[2021-09-28 02:04] nimisha-yadav opened #3273 "2.1 Strings - Manacher's Algorithm - Audio"
## Description
Discuss Manacher's Algorithm and its significance. Mention about its implementation, complexity, and examples.

**Important: Do not use assign command for this issue.**
## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DS

[2021-09-28 02:11] adityabisoi commented on #3120
Go ahead.

[2021-09-28 02:43] divya1467 commented on #3269
Can you please assign this to me
Divya(DSA batch-5)

[2021-09-28 02:43] dhruti29 commented on #3272
I would like to work on this issue.
Dhruti Gandhi
Batch - 2

[2021-09-28 02:44] dhruti29 commented on #3269
I would like to work on this issue.
Dhruti Gandhi
Batch - 2

[2021-09-28 02:44] dhruti29 commented on #3265
I would like to work on this issue.
Dhruti Gandhi
Batch - 2

[2021-09-28 02:45] dhruti29 commented on #3260
I would like to work on this issue.
Dhruti Gandhi
Batch - 2

[2021-09-28 02:51] divya1467 commented on #3193
I would like to work on this issue
Divya (DSA batch-5)

[2021-09-28 02:52] divya1467 commented on #3193
I would like to work on the documentation
Divya (DSA batch-5)

[2021-09-28 03:30] newbiens opened #3274 "Everthing_about_DevOps"
### Description

all things about DevOps and about the stages that are there in it.

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-09-28 03:31] newbiens commented on #3274
/assign

[2021-09-28 04:00] Anant1711 commented on #498
Upload your audio on your google drive, then copy the link of your audio!
Then make a `<Your_topic_name>.md` file in respective Week folder and embed your audio like this!
![](your_audio_link)

[2021-09-28 04:04] #2301 closed

[2021-09-28 04:05] TechnoPhasePRO commented on #139
@micepram please delete my other commits and merge my PR as it is not possible to squash all commits from my end.

[2021-09-28 04:07] #1937 closed

[2021-09-28 04:11] utkarshpathak2504 opened #3278 "Binary Search in array of infinite numbers"
### Description

Find the position of an element in a sorted array of infinite numbers.
Binary search interview question.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribut

[2021-09-28 04:11] utkarshpathak2504 commented on #3278
/assign

[2021-09-28 04:11] utkarshpathak2504 commented on #3278
/assign

[2021-09-28 04:19] #36 closed

[2021-09-28 04:22] VaibhavMalik4187 opened #3279 "[Create New Issue]: Cycle Detection in graphs using Disjoint Union Set Data Structure"
### Description

I will be working on the documentation of cycle detection in graphs using Disjoint Union Set using efficient approach.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.

[2021-09-28 04:22] VaibhavMalik4187 commented on #3279
./assign

[2021-09-28 04:23] VaibhavMalik4187 commented on #3279
/assign

[2021-09-28 04:25] rwiteshbera opened #3281 "JS: Error-Handling"
### Description

Discussion about error-handling
- What is a try-catch block?
- How to use it to deal with exceptions in code?
- Example

Directory:

### Domain

JavaScript

### Type of Contribution

- [x] Documentation
- [ ] Video
- [ ] Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Co

[2021-09-28 04:25] #2772 closed

[2021-09-28 04:26] aishaandatt opened #3282 "Dynamic HTML Tables"
### Description

I would like to contribute to creating dynamic HTML tables using JS/JQuery by taking the user input.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation, Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girls

[2021-09-28 04:27] Sakalya100 commented on #1453
I want to work on this issue in the documentation section.
Myself Sakalya Mitra(Batch 3 Android Dev with Kotlin)
@sitamadex11 @rahulsain

[2021-09-28 04:35] ashish-reddy-20-08 commented on #3190
@raina-akshay , @Isha307 @abhisheks008 , Can you please evaluate my PR.
PR Link : https://github.com/girlscript/winter-of-contributing/pull/3283

[2021-09-28 04:40] tanvideshmukh29 commented on #3269
Can I work on it?
Name-Tanvi Deshmukh
batch-7
Contribution type: documentation

[2021-09-28 04:40] tanvideshmukh29 commented on #3265
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-28 04:41] tanvideshmukh29 commented on #3071
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-28 04:41] tanvideshmukh29 commented on #3070
Can I work on it?
Name-Tanvi Deshmukh
batch-5
Contribution type: documentation

[2021-09-28 04:45] photon149 opened #3287 "Data Attributes in Js"
### Description

I will be creating documentation and giving introduction to Data Attributes in JavaScript.
I will also cover reading , writing and updating data Attributes in Js.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIB

[2021-09-28 04:45] photon149 commented on #3287
/assign

[2021-09-28 04:48] pushpit-J19 commented on #3220
/assign

[2021-09-28 05:06] nishant-jhaa commented on #3269
assign to me
Name- Nishant Jha
batch-8

[2021-09-28 05:13] #2761 closed

[2021-09-28 05:13] #2211 closed

[2021-09-28 05:15] goelesha commented on #3072
The documentation part is already assigned. You can take up either video or audio or you can work on some other issue.

[2021-09-28 05:15] Rohit484 commented on #2705
This exception means basically use in java whose resolve the runtime error on the code
These is basically three types
1. Checked exceptions
2. unchecked exceptions
3. error exceptions

[2021-09-28 05:20] goelesha opened #3292 "DSA 2.2.6 Searching & Sorting Algorithms : Selection Sort - Documentation"
### Description
Implement and explain selection sort Algorithm

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issue

[2021-09-28 05:20] iamsunil25 commented on #3135
okk i got you

[2021-09-28 05:22] goelesha opened #3293 "DSA 2.2.7 Searching & Sorting Algorithms : Insertion Sort - Documentation"
### Description
Implement and explain Insertion sort Algorithm

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issue

[2021-09-28 05:22] SakshiMishra1 opened #3294 "JS: Tutorial for JSX"
### Description

# JSX

To make a documentation for JSX.
Folder:- Flavours/JSX

### Domain

JavaScript

### Type of Contribution

- [x] Documentation
- [ ] Video
- [ ] Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-28 05:22] SUKHJIT-CYBER commented on #3292
Please assign this issue .
SUKHJIT
<Batch 8>

[2021-09-28 05:22] SakshiMishra1 commented on #3294
@paramsiddharth sir please assign this issue to me.

[2021-09-28 05:23] goelesha opened #3295 "DSA 2.2.8 Searching & Sorting Algorithms : Bubble Sort - Documentation"
### Description
Implement and explain Bubble sort Algorithm

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).

[2021-09-28 05:23] SakshiMishra1 commented on #3294
/assign

[2021-09-28 05:25] goelesha commented on #3292
@SUKHJIT-CYBER Assigning the issue to you.
Make sure to submit a PR within 7 days

[2021-09-28 05:28] goelesha opened #3296 "DSA 2.2.6 Searching & Sorting Algorithms : Selection Sort - Video"
### Description
Implement and explain selection sort Algorithm

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issue

[2021-09-28 05:30] goelesha opened #3298 "DSA 2.2.6 Searching & Sorting Algorithms : Selection Sort - Audio"
### Description

### Description
Implement and explain selection sort Algorithm

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONT

[2021-09-28 05:30] goelesha commented on #3293
@lvi131 Assigning the issue to you. Make sure to submit a PR within 7 days.

[2021-09-28 05:33] goelesha opened #3299 "DSA 2.2.7 Searching & Sorting Algorithms : Insertion Sort - Video"
### Description

### Description
Implement and explain Insertion sort Algorithm

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONT

[2021-09-28 05:33] RIYANSHGARG commented on #3235
/assign

[2021-09-28 05:34] goelesha opened #3300 "DSA 2.2.7 Searching & Sorting Algorithms : Insertion Sort - Audio"
### Description

### Description
Implement and explain Insertion sort Algorithm

## Task
- [ ] Audio
- [ ] Video
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONT

[2021-09-28 05:34] kiran11621 commented on #3282
/assign

[2021-09-28 05:35] goelesha opened #3301 "DSA 2.2.8 Searching & Sorting Algorithms : Bubble Sort - Video"
### Description

### Description
Implement and explain Bubble sort Algorithm

## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not use

[2021-09-28 05:36] darshan4903 opened #3302 "CSS Float Propert[Create New Issue]:"
### Description

I want to work on this

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-28 05:36] goelesha opened #3303 "DSA 2.2.8 Searching & Sorting Algorithms : Bubble Sort - Audio"
### Description

### Description
Implement and explain Bubble sort Algorithm

## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not use

[2021-09-28 05:37] goelesha opened #3304 "DSA 2.2.9 Searching & Sorting Algorithms : Merge Sort - Audio"
### Description

### Description
Implement and explain Merge sort Algorithm

## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not use

[2021-09-28 05:38] varnikarathee opened #3305 "Stack Parameter Constructor, String Copy Constructor, Destructor"
### Description

Briefing about the application of constructors and destructors in our daily coding world.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-09-28 05:39] goelesha opened #3306 "DSA 2.2.9 Searching & Sorting Algorithms : Merge Sort - Video"
### Description

### Description
Implement and explain Merge sort Algorithm

## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- **Do not use

[2021-09-28 05:39] darshan4903 commented on #3302
/assign

[2021-09-28 05:40] goelesha commented on #3295
@divya1467 Assigning the issue to you. Make sure to submit a PR within 7 days.
All the best !!

[2021-09-28 05:41] WajihaFatim commented on #3304
/assign

[2021-09-28 05:42] WajihaFatim commented on #3303
/assign

[2021-09-28 05:43] aishapervin commented on #3305
@varnikarathee plz assign me this issue

[2021-09-28 05:44] payonidhi opened #3307 "structure in c++"
### Description

adding an brief indroduction of structures in c++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-09-28 05:48] WajihaFatim commented on #3307
/assign

[2021-09-28 05:48] varnikarathee commented on #3305
/assign

[2021-09-28 05:48] payonidhi commented on #3307
/assign

[2021-09-28 05:49] onlykingKD commented on #3298
/assign

[2021-09-28 05:50] payonidhi commented on #3307
/assign

[2021-09-28 05:53] onlykingKD commented on #3298
please assign it to me

[2021-09-28 05:53] goelesha commented on #3298
@onlykingKD Assigning this issue to you. Make sure to submit a PR within 7 days.
All the best !!

[2021-09-28 05:55] onlykingKD opened #3308 "When to use which sorting algorithm"
### Description

I want to create documentation on comparison of different sorting algorithms and when to use which

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-09-28 05:56] onlykingKD commented on #3308
/assign

[2021-09-28 05:58] onlykingKD commented on #3308
please assign

[2021-09-28 05:58] Moeen-Ul-Islam opened #3310 "JS: Async/Await"
## Description

## Directory
[code]

### Domain

JavaScript

### Type of Contribution

- [ ] Documentation
- [ ] Video
- [ ] Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-09-28 06:16] akshara20 commented on #1073
I'm facing an error while cloning the repo. Can you help me? Meanwhile, I'll make the .md file

[2021-09-28 06:22] raina-akshay commented on #3190
1. There aren't any references for the images/other content you borrowed from anywhere.
2. Bulleted lists are better as lists and not in a single paragraph (refer to 'Why is ML important?' and 'Some use cases...')

[2021-09-28 06:23] cenacrharsh commented on #3310
/assign Batch-5 frontend with html and css

[2021-09-28 06:25] cenacrharsh commented on #3310
Just to be sure, I am a part of Frontend with html/css/js domain, I can work on this one right ??

[2021-09-28 06:33] aryan-mehta05 opened #3315 "Frontend_With_HTML_CSS_JS_-_CSS:_Grid_vs_Flex"
### Description

This is a documentation issue that briefs the comparison between CSS Flex and CSS Grid.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contr

[2021-09-28 06:34] aryan-mehta05 commented on #3315
/assign

[2021-09-28 06:38] daminimehra commented on #3310
@paramsiddharth pls assign this issue. I would like to work on this issue.

[2021-09-28 06:40] Anna-cod commented on #353
/assign video

[2021-09-28 06:40] HassanRahim26 commented on #3306
Hey @goelesha, I would like to work on this issue. Can you please assign me this issue.
Name: Hassan Rahim
Batch: DSA Batch-2
Type: Documentation

[2021-09-28 06:40] HassanRahim26 commented on #3306
Hey @goelesha, I would like to work on this issue. Can you please assign me this issue.
Name: Hassan Rahim
Batch: DSA Batch-2
Type: Documentation

[2021-09-28 06:40] HassanRahim26 commented on #3306
Hey @goelesha, I would like to work on this issue. Can you please assign me this issue.
Name: Hassan Rahim
Batch: DSA Batch-2
Type: Documentation

[2021-09-28 06:45] aryan-mehta05 opened #3316 "MERN_NodeJS: 1.5 NPM vs Yarn"
### Description

Documentation for NPM vs Yarn, and its related subtopics.

### Domain

MERN

### Project Directory

`Branch MERN>MERN/Topic/Backend/Node/`

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-09-28 06:45] aryan-mehta05 commented on #3316
/assign

[2021-09-28 06:46] HassanRahim26 commented on #3272
Hey @nimisha-yadav , I would like to work on this issue. Can you please assign me this issue.
Name: Hassan Rahim
Batch: DSA Batch-2
Type: Documentation

[2021-09-28 06:46] HassanRahim26 commented on #3260
Hey @nimisha-yadav , I would like to work on this issue. Can you please assign me this issue.
Name: Hassan Rahim
Batch: DSA Batch-2
Type: Documentation

[2021-09-28 06:48] eshan1925 commented on #3172
/assign

[2021-09-28 06:50] Anant1711 opened #3317 "Cybersecurity 4 Cryptography"
### Description

## Description
### What is Cryptography and its importance in the cyber world?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first com

[2021-09-28 06:51] goelesha commented on #3306
@HassanRahim26 Pls read the title of the issue carefully. This issue is for a video on merge sort.

[2021-09-28 06:52] Anant1711 opened #3319 "Cybersecurity 4.1 Symmetric Cryptography"
### Description

Description

### What is Symmetric cryptography, its `advantages` and `disadvantages`.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *f

[2021-09-28 06:53] sirilalithaadapa commented on #3301
Siri Lalitha
Batch -07
Type : Documentation

[2021-09-28 06:53] Anant1711 opened #3321 "Cybersecurity 4.2 Asymmetric cryptography"
### Description

## Description
### What is asymmetric cryptography, its `advantages` and `disadvantages`.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on

[2021-09-28 06:54] HassanRahim26 commented on #3306
@goelesha, is there any issue related to Merge Sort which you have opened in which, we have to contribute in Documentation form.

[2021-09-28 06:55] Anant1711 opened #3322 "Cybersecurity: 4.3 XOR"
### Description

## Description

### Explain how encryption and decryption can be done in XOR in `detail`.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on

[2021-09-28 06:55] sirilalithaadapa commented on #3300
Siri Lalitha
Batch -07
Audio

[2021-09-28 06:56] Anant1711 opened #3323 "Cybersecurity 4.4 RSA"
### Description

## Description

### What is the RSA algorithm, explain in detail.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve

[2021-09-28 06:57] Deepanshu-bhalla commented on #2948
/assign

[2021-09-28 06:58] Anna-cod commented on #76
@prathimacode-hub #1941

[2021-09-28 06:58] Yash-Chandrani commented on #3045
/assign document

[2021-09-28 06:59] I-Infinatoo commented on #3317
can i do the documentation ?

[2021-09-28 07:00] medhatiwari commented on #3323
Hey, I would like to work on this. Please assign this to me.

[2021-09-28 07:00] I-Infinatoo commented on #3317
/assign documentation

[2021-09-28 07:00] Yash-Chandrani commented on #3044
\assign document

[2021-09-28 07:01] Yash-Chandrani commented on #3044
/assign document

[2021-09-28 07:02] tejas342 commented on #554
@ankurg132 i had created it's pr please review it

[2021-09-28 07:03] Anant1711 commented on #3323
assigned!

[2021-09-28 07:04] daminimehra commented on #2990
@paramsiddharth pls assign this issue to me. I would like to work on this issue.

[2021-09-28 07:11] bakisama commented on #159
@ViAsmit oh okay

[2021-09-28 07:12] iamsunil25 opened #3325 "Open Source: 4.20 explain everything related to SWOC(Script Winter Of Code)"
### Description

in this issue you have to Explain everything related to SWOC(Script Winter Of Code)

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-09-28 07:14] AastikSharma05 opened #3326 "Program to reverse words in a given string in C++"
### Description

Given a sentence in the form of string, the task is to reverse each word of the given sentence in C++.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/w

[2021-09-28 07:14] AastikSharma05 commented on #3326
/assign

[2021-09-28 07:14] goelesha commented on #3306
@HassanRahim26 It is already assigned

[2021-09-28 07:15] goelesha commented on #3300
@sirilalithaadapa Assigning it to you. Make sure to submit a PR within 7 days.

[2021-09-28 07:15] daminimehra opened #3327 "[JS] Topic: JavaScript Static Methods"
Directory
Topics/5.Syntax/6.Functions/

Description
I want to add topic JavaScript Static Methods

Domain
JavaScript

Type of Contribution
 Documentation

[2021-09-28 07:16] daminimehra commented on #3327
@paramsiddharth pls assign this issue to me. I would like to work on this issue.

[2021-09-28 07:19] #2808 closed

[2021-09-28 07:24] iamsunil25 opened #3328 "Open Source : 6.17 explain everything related to tensorflow"
### Description

expalin everything related to tensorflow

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-09-28 07:24] #3190 closed

[2021-09-28 07:25] Utkarsh1726 opened #3329 "Break and continue in c++"
### Description

I will be giving brief note on break and continue statements in c++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDU

[2021-09-28 07:26] #2795 closed

[2021-09-28 07:26] Utkarsh1726 commented on #3329
/assign

[2021-09-28 07:29] Utkarsh1726 commented on #3329
/assign

[2021-09-28 07:29] #2803 closed

[2021-09-28 07:32] #2780 closed

[2021-09-28 07:38] cenacrharsh opened #3331 "HTTP Status Codes"
### Description

Breaking down and explaining every single HTTP status code that you need to know in order to get started building the perfect web application or API.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [

[2021-09-28 07:38] cenacrharsh commented on #3331
/assign Batch-5

[2021-09-28 07:53] WajihaFatim commented on #2619
@EkjotKaur please check

[2021-09-28 08:01] AnantDuhan commented on #262
/assign

[2021-09-28 08:01] AnantDuhan commented on #208
/assign

[2021-09-28 08:01] #844 closed

[2021-09-28 08:06] AnantDuhan commented on #268
/assign

[2021-09-28 08:08] ShikhaSwati60 opened #3332 "CPP: Constructors in derived classes"
### Description

I will provide a documentation on constructors in derived classes.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-09-28 08:09] ShikhaSwati60 commented on #3332
/assign

[2021-09-28 08:09] ShikhaSwati60 commented on #3332
/assign

[2021-09-28 08:13] ashish-reddy-20-08 commented on #422
@prathimacode-hub , Mam can you please assign me this issue , I would like to work on this. ( Video or audio )
M. Ashish Reddy
Batch - 5
approach: a detailed explanation along with examples

[2021-09-28 08:15] Adi7171 commented on #3328
/assign

[2021-09-28 08:16] prathimacode-hub commented on #422
You can work on for audio. If it is ok I shall assign @ashish-reddy-20-08

[2021-09-28 08:16] prathimacode-hub commented on #422
Issue assigned to @Vishaka830 for documentation.

[2021-09-28 08:17] #1473 closed

[2021-09-28 08:18] #2016 closed

[2021-09-28 08:19] #3326 closed

[2021-09-28 08:19] prathimacode-hub commented on #422
Issue assigned to @ashish-reddy-20-08 for audio contribution

[2021-09-28 08:21] AastikSharma05 opened #3335 "Program to reverse words in a given string in C++"
### Description

Given a sentence in the form of string str, the task is to reverse each word of the given sentence in C++.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscri

[2021-09-28 08:21] AastikSharma05 commented on #3335
/assign

[2021-09-28 08:36] #2975 closed

[2021-09-28 08:46] ELLIPSIS009 commented on #3325
/assign

[2021-09-28 08:49] ELLIPSIS009 commented on #3325
@iamsunil25 @Aryamanz29 can you assign me this manually, the bot cant because i am currently dont have any issue but the previous issue are not yet closed by the respective mentors/supervisors

[2021-09-28 08:54] Kareem-negm commented on #437
I mean on Google Colab
via my Gmail: `negmkareem38@gmail.com`

[2021-09-28 08:59] nandita-jain commented on #3243
/assign

[2021-09-28 09:01] prathimacode-hub opened #3341 "Data Science with Python : Birch Algorithm"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Birch Algorithm. Tutorial to Birch Algorithm and how it's applied using sample code.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and choice you prefer (Documentation

[2021-09-28 09:27] eshan1925 commented on #2361
@rahulsain I have created the PR , please review it and if there are no issues please merge it.
THANK YOU

[2021-09-28 09:41] anjalirai12 opened #3346 "[JS]: Object-Oriented JavaScript (ES6 Classes)"
### Description

Directory
Topics/Object-Oriented JavaScript (ES6 Classes)

Description
What are classes?
Different ways of defining classes
What is Constructor
What are methods
Static methods and properties
Inheritance

### Domain

JavaScript

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing

[2021-09-28 09:42] anjalirai12 commented on #3346
/assign

[2021-09-28 09:45] rachita11 commented on #3341
/assign
Name - C. Rachita
serial no. - 767
batch -19
Contribution type: Documentation
Approach - Theory, algorithm functioning, code snippets and visualization

[2021-09-28 09:45] vartikavr opened #3347 "C_CPP : Shallow copy and Deep copy in C++"
### Description

Documentation on <b>Shallow copy and Deep copy</b> in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-09-28 09:46] vartikavr commented on #3347
/assign

[2021-09-28 09:50] #2112 closed

[2021-09-28 10:00] kalyanirb12 commented on #1787
@nimisha-yadav thanku

[2021-09-28 10:01] ron352 commented on #3341
Sarmistha Sarna
serial no:614
type :audio

[2021-09-28 10:10] iamsunil25 commented on #3325
@ELLIPSIS009 i am just contributor i can't assign

[2021-09-28 10:11] iamsunil25 commented on #3325
@ELLIPSIS009 i am just contributor i can't assign

[2021-09-28 10:30] tamalbag117 commented on #2212
/assign audio

[2021-09-28 10:36] AnantDuhan commented on #1445
/assign

[2021-09-28 10:39] AnantDuhan commented on #3251
/assign

[2021-09-28 11:07] photon149 commented on #3341
Name: Shiwansh Raj
- Batch: 10
- Sr. No: 368
- [GitHub Profile](https://github.com/photon149)
-  [x]  Documentation
- Approach: Introduction, properly commented code, images wherever required, proved conclusion

@prathimacode-hub please assign the same to me , I have asked for the same on discord

[2021-09-28 11:14] #988 closed

[2021-09-28 11:24] #110 closed

[2021-09-28 11:32] RahulRam29 opened #3357 "Destructors in CPP"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-09-28 11:32] RahulRam29 commented on #3357
/assign

[2021-09-28 11:39] joshi-kaushal commented on #3327
Is this issue still open? I'd like to help!

[2021-09-28 11:41] joshi-kaushal commented on #210
I would love to contribute to this!

[2021-09-28 11:41] adityabisoi commented on #2294
@hritikksingh Is the mentor of this issue. Please reach out to him for your queries.

[2021-09-28 11:42] adityabisoi commented on #2686
@hritikksingh Is the mentor of this issue. Please reach out to him for your queries.

[2021-09-28 11:42] adityabisoi commented on #2754
@hritikksingh Is the mentor of this issue. Please reach out to him for your queries.

[2021-09-28 11:42] adityabisoi commented on #2927
@hritikksingh Is the mentor of this issue. Please reach out to him for your queries.

[2021-09-28 11:42] joshi-kaushal commented on #236
I would love to contribute to this! I have my personal notes that I can use..

[2021-09-28 11:42] adityabisoi commented on #2995
@hritikksingh Is the mentor of this issue. Please reach out to him for your queries.

[2021-09-28 11:42] adityabisoi commented on #3120
@hritikksingh Is the mentor of this issue. Please reach out to him for your queries.

[2021-09-28 11:42] adityabisoi commented on #2998
@queenish001 Is the mentor of this issue. Please reach out to her for your queries.

[2021-09-28 11:42] adityabisoi commented on #3123
@queenish001 Is the mentor of this issue. Please reach out to her for your queries.

[2021-09-28 11:42] joshi-kaushal commented on #207
Is this issue still open? I would love to contribute to this!

[2021-09-28 11:42] adityabisoi commented on #3128
@queenish001 Is the mentor of this issue. Please reach out to her for your queries.

[2021-09-28 11:42] adityabisoi commented on #3200
@queenish001 Is the mentor of this issue. Please reach out to her for your queries.

[2021-09-28 11:43] joshi-kaushal commented on #214
Is this issue still on? I'd love tohelp

[2021-09-28 11:43] prathimacode-hub commented on #3341
Issue assigned to @photon149 for documentation and @ron352 for audio contribution

[2021-09-28 11:44] prathimacode-hub commented on #3341
If you're interested, you can take up video option. @ron352

[2021-09-28 11:44] joshi-kaushal commented on #266
Is this issue still on? I'd love to help :)

[2021-09-28 11:44] Nikita512 commented on #498
@Anant1711 I created .md file and embed the audio file, how to add in week folder it's showing to pull request

[2021-09-28 11:48] joshi-kaushal commented on #499
Is this issue still on? I'd love to work on this!

[2021-09-28 11:50] joshi-kaushal commented on #865
Is this issue still on? I'd love to contribute. I can make use of my personal notes

[2021-09-28 11:50] joshi-kaushal commented on #842
Is this issue still on? I'd love to help

[2021-09-28 11:51] joshi-kaushal commented on #955
Is this issue still on? I'd love to contribute

[2021-09-28 11:52] joshi-kaushal commented on #1292
Is this issue still on? I'd love to contribute! :D

[2021-09-28 11:53] joshi-kaushal commented on #1243
Is this issue still on? I'd love to help

[2021-09-28 12:01] Saviour1001 commented on #2889
Closing this as the PR got merged !

[2021-09-28 12:01] #2889 closed