[2021-10-06 19:33] #918 closed

[2021-10-06 19:37] Saviour1001 commented on #4805
Closing this as the PR got merged

[2021-10-06 19:59] palsahabmalviyan opened #4877 "Disjoint Set Union"
### Description

I will work on this topic in documentation format . I will explain the Disjoint Set Union  with the code and also i will discuss its applications .

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Cod

[2021-10-06 19:59] palsahabmalviyan commented on #4877
/assign

[2021-10-06 20:45] Tulsi25 opened #4884 "HTML Comments"
### Description

Hello I would like to work on **HTML comments** issue.

My workflow will be :

- What are HTML comments?
- How to write HTML comments?
- Use of HTML comments?

please assign this issue to me.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contribut

[2021-10-06 21:09] Jonty512 opened #4886 "12.1.Android Graphics"
### Description

Android Graphics with Explanation and Examples

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) o

[2021-10-07 02:37] KSridharrao opened #4889 "[Create New Issue]: Update Introduction-to-html"
### Description

Description
Adding one more syntax in Intro-to-html

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CO

[2021-10-07 02:37] KSridharrao commented on #4889
/assign

[2021-10-07 03:06] ayushjha952 commented on #4785
I want to work on the documentation part @nimisha-yadav can you please assign it to me ?
Ayush Jha
DSA Batch - 3.

[2021-10-07 03:29] pranshukas commented on #3606
@vikhyatsingh123 I am willing to work on this issue if it's still open.
Name: Pranshu Kashyap
Batch: DSA Batch-5
Language of Contribution: C++ (Documentation + Code)

Please assign me this issue.

[2021-10-07 03:30] MeghaGD commented on #3054
The deadline is 12 days which has not been completed yet.

[2021-10-07 03:39] #4117 closed

[2021-10-07 03:46] singhnikhiljsr opened #4890 "Most popular Algorithms asked in Interviews"
### Description

Here I will be listing most popular Algorithms Definitions, where to use it along with its psuedo code where applicable.

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gir

[2021-10-07 03:47] rahulsain commented on #542
Dont create new file just edit this file `Android_Development_with_Kotlin/01. Version Control System/01.2_Git_flow_&_commands.md`

[2021-10-07 03:48] singhnikhiljsr commented on #4890
/assign Document

[2021-10-07 03:48] HarshS1611 commented on #4890
/assign

[2021-10-07 03:49] #4890 closed

[2021-10-07 03:51] singhnikhiljsr opened #4891 "Most popular Algorithms asked in Interviews."
### Description

Here, I will be listing most popular Algorithms Definitions, where to use it along with its psuedo code where applicable.

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/gi

[2021-10-07 03:51] singhnikhiljsr commented on #4891
/assign Document

[2021-10-07 04:00] RIYANSHGARG commented on #2063
@SourabhSaraswat-191939 hey if no one is working on it please assign it to me.

[2021-10-07 04:13] Aryamanz29 commented on #4688
Not for me XD

[2021-10-07 04:14] anandhu720 commented on #2303
@Hritik157 Its assigned to you now,Please try to make pr faster

[2021-10-07 04:33] motasimmakki commented on #4828
Kindly check PR #4896

[2021-10-07 04:34] Prateek-8168 commented on #2063
I am stuck after made the documentation.

[2021-10-07 04:39] SourabhSaraswat-191939 opened #4897 "FRONTEND WITH FRAMEWORK: VueJS-3.2 => Class Binding"
### Description

Contributors are required to explain about Inline style manipulation using Bindings in Vue.js, which should cover questions like:-
What is Class Bindings in Vue.js?
How does this work?
What are the advantages to use it?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 examples with codes of different types to explain this.
etc....

Note:

Pl

[2021-10-07 04:44] RIYANSHGARG commented on #4897
/assign

[2021-10-07 04:50] daminimehra opened #4899 "[JS]: JSON Object Literals and JSON Arrays Literals"
### Description

Description
I want to update the already made README file for JSON with some additional contents JSON Object Literals and JSON Arrays Literals.

Directory
Topics/8.JSON

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBU

[2021-10-07 04:51] daminimehra commented on #4899
@paramsiddharth pls assign me this issue. I would like to work on this Issue.

[2021-10-07 04:53] Adi7171 opened #4900 "Open Source : 6.31 Explain everything related to D3.js"
### Description

Description

Open Source : 6.30 Explain everything related to D3.js

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-10-07 04:53] Adi7171 commented on #4900
/assign

[2021-10-07 04:55] mehabhalodiya commented on #4785
@nimisha-yadav Please assign this to @ayushjha952

[2021-10-07 04:56] Aryamanz29 commented on #4900
@Adi7171  Go ahead 🎉🎉

[2021-10-07 05:00] Ab2602 commented on #1406
/assign

[2021-10-07 05:05] priyanshuc4423 opened #4901 "Open Source : 6.32 Explain everything related to Flask"
### Description

Description
Open Source : 6.32 Explain everything related to Flask

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_

[2021-10-07 05:05] priyanshuc4423 commented on #4901
/assign

[2021-10-07 05:10] priyanshuc4423 commented on #4901
/assign

[2021-10-07 05:10] Hirdiyansh opened #4902 "String Concatenate Function Implementation"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-07 05:25] Parth-001-git commented on #542
![image](https://user-images.githubusercontent.com/72301112/136324845-953fc37f-54ce-47c3-9383-20a9aee5ffae.png)
@rahulsain  I am unable to edit this file!

[2021-10-07 05:28] prathimacode-hub commented on #4759
Issue assigned to @prishita-s for documentation

[2021-10-07 05:33] prathimacode-hub commented on #4751
Issue assigned to @BhaswatiRoy for documentation

@deepthi1107, already an issue is assigned to you.

[2021-10-07 05:35] #4750 closed

[2021-10-07 05:35] prathimacode-hub commented on #4749
Add your approach as well. @nehakale8

[2021-10-07 05:36] anjalirai12 opened #4904 "[JS]: Event Listeners"
### Description

Concepts to be covered

What are Event Listeners?
Syntax of it.
How to add an Event Listener to an element
How to pass parameters ?
What is event capturing and bubbling?
How to remove an Event Listener?

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contr

[2021-10-07 05:37] anjalirai12 commented on #4904
/assign

[2021-10-07 05:37] prathimacode-hub commented on #4747
Issue assigned to @ayushi424 for documentation

[2021-10-07 05:38] prathimacode-hub commented on #4667
@soma2000-lang, you haven't provided all the details.

[2021-10-07 05:39] SourabhSaraswat-191939 opened #4905 "FRONTEND WITH FRAMEWORK: VueJS-3.3 => ref keyword in VueJS"
### Description

Contributors are required to explain about ref keyword in Vue.js, which should cover questions like:-
What is the ref keyword in Vue.js?
How does this work?
What are the advantages to use it and when to use it?
How to implement this with code (also give theory explanation of code)?
You can take 2-3 examples with codes of different types to explain this.
etc....

Note:

Plagiarism

[2021-10-07 05:39] #4438 closed

[2021-10-07 05:40] prithwishpramanik commented on #2501
/assign video

[2021-10-07 05:44] prathimacode-hub commented on #3800
No, it's an algorithm. It needs .ipynb file with sample code and implementation along with README.md file with good elaboration. @shreyarai05

[2021-10-07 05:45] prathimacode-hub commented on #3800
Sorry to say, but this issue is already done. It can't be worked on. If you would like to work on this issue, there is already an open issue with same title, you can check over there if audio / video contribution available. @shreyarai05

[2021-10-07 05:45] #3800 closed

[2021-10-07 05:49] prathimacode-hub commented on #4170
Issue assigned to @SaloniThete for video contribution

[2021-10-07 05:50] rex2828 commented on #3200
@adityabisoi I can make a video on this, plz assign to me.

[2021-10-07 05:54] #3978 closed

[2021-10-07 06:02] prathimacode-hub commented on #2713
Kindly revert with details else this issue will be closed. Data file in DS Datasets. @das-ankur

[2021-10-07 06:05] prathimacode-hub commented on #3521
Issue is assigned to @kishlayaug15 for audio contribution

[2021-10-07 06:08] prathimacode-hub commented on #1823
You can choose audio / video conribution. Documentation is already assigned. @Sumit3301

[2021-10-07 06:09] prathimacode-hub commented on #4663
This issue is already open and created earlier. @DhruvBajaj01

[2021-10-07 06:11] prathimacode-hub commented on #1828
@vanshhhhh, audio or video contribution isn't done for this issue. So its kept open.

[2021-10-07 06:17] goelesha commented on #3296
@purohitmansi Assigning it to you for video.

[2021-10-07 06:23] prathimacode-hub commented on #1524
No, you have to wait for approval but she has already addded up in thread about this issue to get it assigned for her so it's self assigned by her. @sriya26

[2021-10-07 06:28] prathimacode-hub commented on #1067
This issue is not as it's not informed and no proper details. @tjanhvi

[2021-10-07 06:28] #1067 closed

[2021-10-07 06:31] prathimacode-hub commented on #1031
Issue assigned to @Sakalya100 for video contribution

[2021-10-07 06:42] prathimacode-hub commented on #382
@shripaddhopate @m0hit-kumar @BhaswatiRoy, only audio left?

[2021-10-07 06:45] vishvarana commented on #1531
By this weekend for sure, even before that if I get proper time

[2021-10-07 06:49] purohitmansi commented on #3296
Thankyou

On Thu, 7 Oct 2021, 11:47 am Esha Goel, ***@***.***> wrote:

[2021-10-07 06:57] BhaswatiRoy commented on #1038
yes ma'am I am already doing an issue

[2021-10-07 07:01] soma2000-lang commented on #4667
@prathimacode-hub  mam how to get the serial number ??Can you please tell should be specified in the approach par.
other details I have mentione

[2021-10-07 07:04] prathimacode-hub commented on #4667
Serial number is in domain spreadsheet shared in announcement channel. Approach means how would like to proceed, your inclusions, strategy and everything. @soma2000-lang

[2021-10-07 07:07] #2387 closed

[2021-10-07 07:08] prathimacode-hub commented on #466
Issue assigned to @Aaksha-sharma for audio contribution

[2021-10-07 07:10] perveen-neha opened #4912 "Setting up Visual Studio Code for java"

[2021-10-07 07:11] perveen-neha commented on #4912
/assign

[2021-10-07 07:12] prathimacode-hub commented on #433
Issue assigned to @mahmoudmohamed22 for video contribution

[2021-10-07 07:13] prathimacode-hub commented on #429
What kind of contribution? Documentation is already done. @Anindyadeep

[2021-10-07 07:15] prathimacode-hub commented on #427
Its still open for audio or video @nakshatra-garg

[2021-10-07 07:19] prathimacode-hub commented on #417
Issue is assigned to @23-24 for audio contribution

[2021-10-07 07:20] pranshukas commented on #3171
@0xUvaish Are you sure because no one is currently assigned to this issue, that's why I requested for it. If possible please check with the mentors/supervisors.

[2021-10-07 07:22] prathimacode-hub commented on #4749
Issue added to @nehakale8 for documentation

[2021-10-07 07:34] shahishree03 commented on #507
I have working on the video , why you have unassigned me

[2021-10-07 07:45] shahishree03 commented on #4857
can I be part of this issue

[2021-10-07 07:46] prathimacode-hub opened #4918 "Data Science with Python : Disneyland Review Analysis"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Disneyland Review Analysis. Tutorial to Disneyland Review Analysis and how it's applied using sample code.

This issue is created on contributors request through the thread.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data

[2021-10-07 07:47] Rosy03 commented on #3566
Can I get assigned for video contribution ?

[2021-10-07 07:48] prathimacode-hub opened #4919 "Data Science with Python : Optics Clustering Algorithm"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Optics Clustering Algorithm. Tutorial to Optics Clustering Algorithm and how it's applied using sample code.

This issue is created on contributors request through the thread.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Da

[2021-10-07 07:52] prathimacode-hub opened #4921 "Data Science with Python : Image Caption Generator"
Welcome to 'DSWP' Team, good to see you here

This issue will helps readers in gaining all the guidance that one needs to know about Optics Clustering Algorithm. Tutorial to Optics Clustering Algorithm and how it's applied using sample code.

This issue is created on contributors request through the thread.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Da

[2021-10-07 07:57] Binita-tech commented on #3528
Can I work on this issue of documentation part @sumitaccess007 . It's been 8 days and no PR by assignee.

[2021-10-07 08:21] Ayushias0203 opened #4925 "Conditional Statements in JavaScript"
### Description

I'll be adding documentation about conditional statements in JavaScript

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-10-07 08:21] Ayushias0203 commented on #4925
/assign

[2021-10-07 08:22] anchal-gupta commented on #1907
/assign

[2021-10-07 08:23] Ayushias0203 commented on #4925
/assign

[2021-10-07 08:24] joshi-kaushal commented on #1379
Is this issue still live? I'd love to contribute to this!

[2021-10-07 08:34] photon149 commented on #4919
Name: Shiwansh Raj
- Batch: 10
- Sr. No: 368
- [GitHub Profile](https://github.com/photon149)
-  [x]  Documentation
- Approach: Introduction, properly commented code, images wherever required, proved conclusion
@prathimacode-hub , can you assign this to me manually as I have unclosed issues, I have asked for the same on discord
 :)

[2021-10-07 08:37] joshi-kaushal commented on #2476
/assign

[2021-10-07 08:43] elixir14082002 opened #4930 "Variadic Functions in C"
### Description

I will be talking about the variadic functions in C with the help of a sample code.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gith

[2021-10-07 08:44] elixir14082002 commented on #4930
/assign

[2021-10-07 09:05] prathimacode-hub commented on #4919
Issue assigned to @photon149 for documentation

@Robinrai2612, audio or video?

[2021-10-07 09:18] ashutoshlovpry commented on #4921
Ashutosh Singh
Serial no.-116
Batch -4
Type- document
Approach- train model by cnn

[2021-10-07 09:20] tamalbag117 commented on #1903
/assign audio

[2021-10-07 09:33] subhradwip01 commented on #3390
/assign audio

[2021-10-07 09:34] Elisha-s commented on #4227
/assign

[2021-10-07 09:37] Elisha-s commented on #4310
I would like to work on the documentation for this issue. Kindly assign it to me.
Elisha Singh
DSA-Batch 9

/assign

[2021-10-07 09:38] tamalbag117 commented on #3868
@nandini7637, please assigned me to this issue. I will provide audio content for this issue.

[2021-10-07 09:45] arjyo851 opened #4934 "CSS Math Functions"
### Description

This issue will cover all the Math functions available in CSS

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-10-07 10:20] #4636 closed

[2021-10-07 10:21] paramsiddharth commented on #4904
@anjalirai12 I'm assuming you'll be doing back-end events (Node.js) and not front-end events. If you are looking for the latter, check out #761.

[2021-10-07 10:31] Khushi-Agrawal-1 commented on #1807
Hey @AkMo3 can you please merge the PR as I'm not able to generate PR for another issue under Java. Thankyou

[2021-10-07 11:23] Gauravmauryaios commented on #4593
/assign

[2021-10-07 11:30] Binita-tech opened #4940 "Measurement Units for Responsive Designs"
### Description

CSS Units for Responsive web design

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of thi

[2021-10-07 11:30] vishnu95075 opened #4941 "[C_CPP]: Type Casting"
### Description

- Type Castiing

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-07 11:45] #3269 closed

[2021-10-07 11:58] #4674 closed, assigned to Akshat-2002-coder

[2021-10-07 12:21] Rohit484 commented on #4831
/assign documentation

[2021-10-07 12:23] KSridharrao opened #4949 "Updating Head tag in Introduction"
### Description

Updating syntax and information about head in Introduction to HTML

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gi

[2021-10-07 12:56] ghost opened #4952 "Documentation on HTML API"
### Description

I added a md file where I written and explained a documentation on HTML API and its applications

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter

[2021-10-07 12:59] AnuvabSen commented on #4952
/assign

[2021-10-07 13:08] shubhmittal07 opened #4954 "Android Kotlin: 13.1 Progress Bar"
<hr>

## Description :scroll:

* Give a step-by-step tutorial of Progress Bar in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ directory under Android_Development_With_Kotlin branch.

[2021-10-07 13:09] shubhmittal07 commented on #4954
/assign

[2021-10-07 13:18] Rohit-2602 opened #4956 "Android-Development-Java 4.1: Android Option Menu Example"
### Description

Give a brief about
- Option Menu
- Usage
- How to use it in Activities and Fragments.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/

[2021-10-07 13:21] Rohit-2602 opened #4958 "Android-Development-Java 4.4: Android-Context-Menu"
### Description

Give a brief about
- Context Menu
- Usage
- How to use it in Activities and Fragments.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing

[2021-10-07 13:45] mayankkuthar opened #4965 "Opensource: 4.24 Explain everything about ```GitHub Externship```"
### Description

Explain everything about ```GitHub Externship```

Note : 👇
Doc should be submitted inside ```4.Open_Source_Programs/``` with the name ```4.24_GitHub_Externship.md```

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md)

[2021-10-07 13:48] GoutamVerma opened #4967 "How to do UDP socket in android studio with java?"
### Description

Create documentation which consist all the necessary information or process requires to implement UDP receiver in android studio using java.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct

[2021-10-07 13:52] SwarnaliBhunia commented on #3323
/assign video

[2021-10-07 14:24] ShivaniAgarwal2001 commented on #4958
/assign documentation @Rohit-2602 @VikasPandey121

[2021-10-07 14:25] Ash515 commented on #4453
Just create a sepearte folder audio in database folder

[2021-10-07 14:25] #4433 closed

[2021-10-07 14:39] akratikushwah opened #4979 "Recursion questions"
### Description

Questions from basic to advance

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-07 14:39] #4967 closed, assigned to GoutamVerma

[2021-10-07 14:59] GoutamVerma opened #4981 "Program to find prime number in java"
### Description

This is a program which return that number is prime or not.

### Domain

Backend Dev (Java)

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-10-07 15:03] LegendSumeet commented on #691
@rahulsain no folder for activities
After 4  direct 7
@ydasc815
Where to commit 06 issues

[2021-10-07 15:14] RahulRam29 opened #4982 "Advanced Concepts of Virtual Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-07 15:18] #4330 closed

[2021-10-07 15:23] shreyarai05 opened #4983 "Data Science with python: Introduction to plotly and cufflinks"
### Description

Brief description of the topic using code and examples.

### Domain

Datascience with Python

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF

[2021-10-07 15:24] #3947 closed

[2021-10-07 15:25] #4648 closed, assigned to hassanrahim26

[2021-10-07 15:37] Parth-001-git commented on #4785
@nimisha-yadav Please review (The previous one was not correct)

[2021-10-07 16:39] Akshat-2002-coder opened #4996 "quick sort using DAC algorithm"
### Description

explain quick sort

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-07 17:04] Megha0606 opened #4998 "Range based for loop"
### Description

Documentation

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-07 17:05] Megha0606 commented on #4998
/assign

[2021-10-07 17:11] samy0444 opened #5000 "Android Google Map Tutorial 15.1 :"
### Description

Documentation on implementation of google map in android.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CO

[2021-10-07 17:44] Rohit-2602 opened #5003 "Android-Development-Java 2.1.1 EditText in Android"
### Description

Explain -
- What is EditText
- Attributes
- Use cases with some code example

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-10-07 17:45] Rohit-2602 opened #5004 "Android-Development-Java 2.1.2 ImageView in Android"
### Description

Explain -
- What is ImageView
- Attributes
- Use cases with some code example

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/mai

[2021-10-07 17:46] Rohit-2602 opened #5005 "Android-Development-Java 2.1.3 Recyclerview in Android"
### Description

Explain -

- What is Recyclerview
- Attributes
- Write code for simple Recyclerview Adapter and explain.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wint

[2021-10-07 17:48] Rohit-2602 opened #5006 "Android-Development-Java 2.1.4 ViewPager in Android"
### Description

Explain -

- What is EditText
- Attributes
- Use cases with some code example

Also, include TabLayout for the same

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girl

[2021-10-07 17:50] Rohit-2602 opened #5007 "Android-Development-Java 2.1.5 DrawerLayout in Android"
### Description

Explain -

- What is DrawerLayout
- DrawerLayout with NavigationDrawer
- How to sync toolbar with NavigationDrawer

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girls

[2021-10-07 17:55] Rohit-2602 opened #5008 "Android-Development-Java 2.1.6 Bottom NavigationView in Android"
### Description

Explain -
- A brief about BottomNavigation

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-10-07 17:56] Rohit-2602 opened #5009 "Android-Development-Java 2.1.7 CardVew in Android"
### Description

A brief about CardView and its attributes.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-10-07 17:57] sameer-19 commented on #3247
Sameer Aggrawal
Batch-3 DSA
Documentation
Please assign this problem to me. I would like to solve this problem.

[2021-10-07 17:57] Rohit-2602 commented on #5006
@ShivaniAgarwal2001 do "/assign"

[2021-10-07 17:57] sameer-19 commented on #3247
/assign

[2021-10-07 17:57] ShivaniAgarwal2001 commented on #5009
@Rohit-2602 assign documentation

[2021-10-07 17:58] sameer-19 commented on #2960
Sameer Aggrawal
Batch-3 DSA
Documentation
Please assign this problem to me. I would like to solve this problem.

[2021-10-07 17:58] Rohit-2602 commented on #5005
@ShivaniAgarwal2001 do "/assign"

[2021-10-07 18:02] ShivaniAgarwal2001 commented on #5009
/assign documentation

[2021-10-07 18:10] prathimacode-hub commented on #4983
You created issue on own and self assigned yourself. @shreyarai05

[2021-10-07 18:18] Rohit-2602 opened #5014 "Android-Development-Java 2.1.8: ProgressBar in Android"
### Description

Explain about ProgressBar with an example considering showing and hiding with a fake task.

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contribu

[2021-10-07 18:24] #1668 closed

[2021-10-07 18:38] heet-kumar commented on #4297
it is assigned to @shreya024

[2021-10-07 18:59] #4125 closed

[2021-10-07 19:51] #4218 closed

[2021-10-07 20:24] rishitajain01 opened #5031 "Importing packages in Java:Video"
### Description

I will add video content for the topic Importing packages in Java.

### Domain

Java_Domain

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-10-07 20:25] rishitajain01 commented on #5031
/assign video

[2021-10-07 20:49] #4956 closed, assigned to nobody

[2021-10-07 20:50] #4886 closed

[2021-10-07 21:32] abhinavdixit2306 opened #5036 "[DSA 1.1] Scanline Algorithm"
### Description

<h1> Scanline ALgorithm </h1>
<p> This algorithm is used very much in competitive programming and has various use cases. </p>

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscrip

[2021-10-07 22:50] AkMo3 opened #5037 "Java 20.6: Type annotations"
### Description
 Add audio, documentation, and video regarding the **Type annotations**

 **Location of File to be added** The files should be added inside the _`Type annotations`_ which will be inside _`Annonations`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb` format.
 *

[2021-10-07 22:51] AkMo3 opened #5038 "Java 21.1: Appelets"
### Description
 Add audio, documentation, and video regarding the **Applet Fundamentals**

 **Location of File to be added** The files should be added inside the _`Applet_Fundamentals`_ which will be inside _`Appelets`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb` format.

[2021-10-07 22:52] AkMo3 opened #5039 "Java 21.2: Transient and volatile modifiers"
### Description
 Add audio, documentation, and video regarding the **Transient and volatile modifiers**

 **Location of File to be added** The files should be added inside the _`Transient_And_Volatile_Modifiers`_ which will be inside _`Appelets`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in th

[2021-10-07 23:56] #4941 closed

[2021-10-08 01:36] Rohan749 commented on #4884
Hey, I can provide audio for this issue explaining HTML comments. Please assign it to me.

[2021-10-08 01:46] Rohan749 opened #5041 "CSS pagination"
### Description

In this issue, I will provide audio explaining everything about CSS pagination in great detail.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contr

[2021-10-08 01:47] Rohan749 commented on #5041
/assign

[2021-10-08 03:32] Binita-tech commented on #5038
\assign Document

[2021-10-08 03:56] ishrutik opened #5043 "[DSA]:Arrays: Valid Sudoku: C++"
### Description

Determine if a 9 x 9 Sudoku board is valid. Return true if sudoku is valid otherwise false. Implemented in C++

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-con

[2021-10-08 03:57] ishrutik commented on #5043
/assign

[2021-10-08 04:00] tanvideshmukh29 commented on #5043
Tanvi Deshmukh
Batch -6
Plz assign to me.

[2021-10-08 04:05] ii-varsha-ii opened #5044 "C++11: Smart pointers and their advantages"
### Description

**Description**
C++11: Explain everything related to Smart pointers and their advantages

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-10-08 04:11] #1331 closed

[2021-10-08 04:12] #394 closed

[2021-10-08 04:17] manjeetdhayal commented on #2260
@ritik-vashist Send the PR asap. Else it will be unassigned to you

[2021-10-08 04:30] ShubhamPatel01 commented on #4748
I would like to work on this issue.
Name: Shubham Patel.
serial no. 104
Type: Documentation
Approach: several ways of dealing with missing values.

[2021-10-08 04:41] tejaswini5801 commented on #5037
/assign document

[2021-10-08 04:53] ShivaniAgarwal2001 commented on #3325
@Aryamanz29 review and merge the PR #5001

[2021-10-08 05:27] rahulsain commented on #691
you can make one for folder 05. , I have updated the issue name

[2021-10-08 05:27] #691 closed

[2021-10-08 05:31] ksheetiz opened #5046 "Longest Mountain in Array DSA Problem"
### Description

Given an integer array arr, return the length of the longest subarray, which is a mountain. Return 0 if there is no mountain subarray.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/

[2021-10-08 05:36] princemsd007 commented on #2730
i'll check in a moment !! and merge it :)

[2021-10-08 05:44] thejayeshsoni commented on #5038
/assign documentation

[2021-10-08 05:47] Tulsi25 opened #5050 "HTML Comments"
### Description

Hello i would like to work on this issue ..

It will include :
what are comments ?
Html comment tag syntax
single line and multiple line comments
Supported browsers

please assign this issue to me!

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-con

[2021-10-08 05:56] eshan1925 commented on #4818
@saloni-15 I just checked the file for installation of windows is already present in the path you mentioned so I have to work on the issue or not?

[2021-10-08 05:57] Binita-tech commented on #5038
I had first commented, then why it got assigned to @thejayeshsoni
Please resolve this.

[2021-10-08 06:02] vishvarana opened #5052 "[Competitive programming]: K- Concatenation Problem codechef"
### Description

You are given an array A with size N and an integer K. Another array B with size N*K is created with concatenation of the array A, K times.
Find the maximum subarray sum of array B.
I will be providing documentation with explanation of code using C++

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Gui

[2021-10-08 06:05] vishvarana commented on #5052
/assign

[2021-10-08 06:11] shreya-gb opened #5053 "README.md in Contribution Guidelines"
### Description

**Description:**
The "templates" section `under the Index(readme) files` that has to redirect, is not loading.

**Link of the Documentation:**
https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md#index-readme-files

![Screenshot (125)](https://user-images.githubusercontent.com/61507305/136506345-2e3269f3-ed92-4f81-b187-3c3d67cdfb62.png)

![Screens

[2021-10-08 06:14] saloni-15 commented on #4818
@eshan1925, i guess that file is for documentation part and this issue is for video one.

[2021-10-08 06:15] Supriyo-455 commented on #5008
/assign

[2021-10-08 06:30] DhruvBajaj01 opened #5055 "Data Science With Python : Blurring and Smoothing images with open CV"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Blurring and Smoothing images with open CV' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the cho

[2021-10-08 06:32] DhruvBajaj01 opened #5056 "Data Science With Python: Color Filtering with open CV"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Color Filtering with open CV' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer

[2021-10-08 06:34] DhruvBajaj01 opened #5057 "Data Science With Python: Image Contours with open CV"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Image Contours with open CV
' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer

[2021-10-08 06:36] DhruvBajaj01 opened #5058 "Data Science With Python: Ordinary Least Squares Regression(OLSR)"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Ordinary Least Squares Regression(OLSR)' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice

[2021-10-08 06:38] DhruvBajaj01 opened #5059 "Data Science With Python: Scale-Invariant Feature Transform"
### Description

Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Scale-Invariant Feature Transform' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you p

[2021-10-08 06:43] #2624 closed

[2021-10-08 06:44] #5031 closed, assigned to nobody

[2021-10-08 07:17] ii-varsha-ii commented on #5044
@shruti3000 Sorry for the confusion, I created this issue to work on it by myself. Waiting for the approval. Can you please unassign yourself?

[2021-10-08 07:25] shruti3000 commented on #5036
/assign

[2021-10-08 07:38] eshan1925 commented on #5007
/assign

[2021-10-08 07:46] ayush-sleeping opened #5063 "HTML - DropDown Menu"
### Description

Description:
<br>

I want to make a Documentation, how we can make a Dropdown Menu using " HTML " . <br>
And also, I will implement small project making ```Dropdown Menu ```  .

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-10-08 07:50] shruti3000 opened #5064 "Find if two rectangles overlap"
### Description

Given two rectangles to you , find if the given two rectangles overlap or not.
Note that a rectangle can be represented by the  two coordinates, top left and bottom right. So mainly we are given with following four coordinates.
l1: Top Left coordinate of first rectangle.
r1: Bottom Right coordinate of first rectangle.
l2: Top Left coordinate of second rectangle.
r2: Bottom Right c

[2021-10-08 08:05] fomalhauting opened #5066 "Statistics - Basic definitions"
### Description

Write down all the basic definitions and formulas we use in Statistics.

### Domain

Statistics

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-10-08 08:10] shahhilag commented on #4359
@nimisha-yadav mam would it be possible to merge my pull request?
Actually I have my video ready on String anagram.
If possible,not a hurry.

[2021-10-08 08:14] Robinrai2612 commented on #5058
@DhruvBajaj01 I would like to work on this issue.I will explain detailed information and  code regarding it.

Type: Documentation
Sr.No: 146

[2021-10-08 08:28] Rosy-Chadha commented on #5039
/assign audio

[2021-10-08 08:46] #3628 closed

[2021-10-08 08:54] #4875 closed

[2021-10-08 09:02] Sunainacode opened #5068 "[C/CPP]: Single traversal showing all preorder inorder postorder traversals documentation"
### Description

Here I will work on documentation in which Binary Search Tree's depth first search traversals (inorder, preorder, postorder) will be done using a single traversal.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code

[2021-10-08 09:16] Jafrin-khan opened #5069 "Navbar-Bootstrap"
### Description

Bootstrap’s powerful, responsive navigation header, the navbar. Includes support for branding, navigation, and more, including support for collapse plugin.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.m

[2021-10-08 09:20] VikasPandey121 commented on #5009
Please tag your PR with the issue and tag any of the mentors for review.

[2021-10-08 09:27] akratikushwah commented on #2142
I would not be able to work on this issue please unassign it to me.

[2021-10-08 09:28] akratikushwah commented on #1833
I would not be able to work on this issue please unassign it to me.

[2021-10-08 09:34] #4979 closed, assigned to pjra99

[2021-10-08 09:37] itsbittoosharma commented on #4311
@Subhradeep10 It's been 4 days there is no update from the person you assigned according to your last comment. You forgot to unassign me, and that person still gave no progress.
So now can I make a PR by tonight if you allow?

[2021-10-08 09:39] akratikushwah opened #5072 "Basic Recursion Questions"
### Description

Basic recursion questions

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-08 09:39] akratikushwah commented on #5072
/assign

[2021-10-08 09:43] tirelesslearner-1901 opened #5073 "[New Issue CPP]:"
### Description

Design a Round Robin Scheduling program based on OOPS concepts in C++ for n processes. Time Quantum /Slice time is provided by the user.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.

[2021-10-08 10:05] Mitali-13 opened #5080 "multiple inheritance in c++"
### Description

adding about what is multiple inheritance with explanantion about ambiguity in multiple inheritance

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-10-08 10:08] Mitali-13 commented on #5080
/assign

[2021-10-08 10:36] ankur7864 commented on #4366
Can you assign this issue to me?
Ankur Singh
Batch - 2

[2021-10-08 10:42] a12baghel2 commented on #2910
@hardikk2002  I have made the requested changes.

[2021-10-08 10:54] #4744 closed

[2021-10-08 11:22] perveen-neha commented on #1869
/assign

[2021-10-08 12:04] Isha307 commented on #1966
@sanjana-iyengar Update?

[2021-10-08 12:19] priyapahwa opened #5091 "Web API with DRF"
### Description

- Brief description about a basic `Django` project.
- Extend it into a web API with `Django REST Framework`.

### Domain

Backend Dev (Python)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscrip

[2021-10-08 12:19] priyapahwa commented on #5091
/assign

[2021-10-08 12:20] RC2208 opened #5092 "ML (week 3) : Outlier Detection Using Autoencoders (D)"
### Description

I want to contribute in this topic. <br>
The documentation will have proper explanation as well as code on the same.

Under :
[x] GWOC21
[x]Hacktober

### Domain

Machine Learning

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-08 12:22] RC2208 commented on #5092
Ritika Chand
Batch 1

@geeythree  @abhisheks008  Please assign it to me ^-^

[2021-10-08 12:34] GyaniRoman23 commented on #2766
Hey @saloni-15 I'll make a PR by tomorrow, its finished.

[2021-10-08 12:40] Isha307 commented on #2784
@ishaan107 Update?

[2021-10-08 12:41] Apoorv-17 commented on #5059
Hello, I am Apoorv Yadav, I would like to work on this issue.
Batch Number: 5
Serial Number: 709
GitHub Profile Link: https://github.com/Apoorv-17
contribution: Video, Documentation

[2021-10-08 13:29] anu-oss opened #5104 "multiple inheritance in c++"
### Description

I will be adding the audio for multiple inheritance in c/c++

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-10-08 13:29] anu-oss commented on #5104
/assign

[2021-10-08 13:30] anu-oss commented on #5104
/pinned

[2021-10-08 13:59] nimisha-yadav commented on #5036
All the valid merged PRs will automatically count for hacktober fest, all the best.

[2021-10-08 14:00] Vibhu562 opened #5111 "Python: Linked List"
### Description

# Description

What is Linked List in Python?
Why we need Linked List in Python?
Some advantages of Linked List

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-10-08 14:01] its-me-Harsh-Anand opened #5112 "JS: Control statements and Recursion in JS"
### Description

Control Statements like
- if
- ternary operator
- switch
- Different Loops
- Recursion
- Short circuit Evaluation
- And many more...

### Domain

JavaScript_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:/

[2021-10-08 14:02] atharva20-coder commented on #5053
what it should display??

[2021-10-08 14:05] atharva20-coder commented on #4692
I have created a PR for please check it.

[2021-10-08 14:20] nimisha-yadav commented on #4368
Fixed it

[2021-10-08 14:23] BhaswatiRoy commented on #4623
sir in python domain my all prs are merged..........the last one being "recursion in python audio"

[2021-10-08 14:27] naveeramesh commented on #5111
/assign
Can I work on this issue for documentation part.?

[2021-10-08 14:27] naveeramesh commented on #5111
/assign

[2021-10-08 14:34] shahhilag commented on #4368
Really sorry

[2021-10-08 14:34] #4785 closed

[2021-10-08 14:38] ASLManasa opened #5115 "HTML: Search Engine Optimization Basics"
### Description

HTML: Search Engine Optimization Basics

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-10-08 14:39] guptapriya-83900 commented on #5111
/assign

[2021-10-08 14:56] NIKITAjadhav4124 opened #5119 "C/Cpp : Structures in cpp"
### Description

Struct in cpp and its uses.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-08 14:56] NIKITAjadhav4124 commented on #5119
/assign

[2021-10-08 15:09] #4965 closed, assigned to mayankkuthar

[2021-10-08 15:12] tshukla2001 opened #5121 "CSS: Using Animation on Scroll Library"
### Description

Documentation on how to use Animation on scroll (AOS) library in your Project.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-10-08 15:37] purvanshgarg commented on #2778
pls close  it asap to avoid the confusion

[2021-10-08 15:46] #5111 closed, assigned to nobody

[2021-10-08 16:10] Vibhu562 opened #5126 "Python: String Method"
### Description

# Description
What are methods in String.
Explain all method by giving suitable example.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-10-08 16:19] #4841 closed

[2021-10-08 16:21] arp99 opened #5128 "JS: TypeScript"
### Description

### Directory
Flavours/Typescript

### Description
What is Typescript?
Why Typescript is better?
What are types?
How to define types?
Generics

### Domain

JavaScript_Domain

### Type of Contribution

- [x] Documentation
- [ ] Video
- [ ] Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONT

[2021-10-08 16:42] madildev commented on #621
@SourabhSaraswat-191939 I have created the pull request kindly check it. Thanks

[2021-10-08 16:45] NIKITAjadhav4124 commented on #1784
@nimisha-yadav Name: Nikita Jadhav
Batch No: DSA Batch-6

[2021-10-08 16:57] guptapriya-83900 commented on #5126
@adityabisoi
I would like to do the documentation part of this issue. Please assign me this issue.

[2021-10-08 16:58] WajihaFatim commented on #5128
/assign

[2021-10-08 17:11] pjdurden commented on #3170
no problem @cookieg13 , i have seen your pull request, i will merge it after it is reviewed by the mentor.

[2021-10-08 17:12] deepak089 opened #5132 "how it works image is not setuped and what is synchronous and asynchronous?"
### Description

ajax working with a image will make it  more clear and what is aynchronous and synchronous

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-co

[2021-10-08 17:13] #5132 closed, assigned to nobody

[2021-10-08 17:19] #4773 closed

[2021-10-08 17:23] geetika005 opened #5135 "Backtracking Algorithm"
### Description

This documentation is on the famous backtracking algorithm and some questions related to the same

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-10-08 17:26] Meghna2080 opened #5136 "HTML Code Editors: Audio"
### Description

Information about different code editors for HTML.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-10-08 17:27] Vibhu562 commented on #5126
/assign

[2021-10-08 17:46] Meghna2080 opened #5139 "FCFS CPU Scheduling algorithm"
### Description

Details of First Come First Serve CPU Scheduling algorithm

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of

[2021-10-08 17:50] Meghna2080 opened #5140 "Round Robin CPU Scheduling algorithm"
### Description

Details about Round Robin CPU Scheduling algorithm, it's concept and working

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-10-08 18:05] #4624 closed, assigned to VaibhavMalik4187

[2021-10-08 18:32] vrajdesai78 commented on #514
Can I work on this issue I will create a video on this topic

[2021-10-08 18:39] Shrijhaa opened #5142 "CSS_Background attachment"
### Description

My name is R.Shrijhaa, GWOC Contributor.
I want to work on Front-end Web development with HTML, CSS, JS, Bootstrap.
I am interested to contribute documents based on CSS-Background Attachment property.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-

[2021-10-08 18:47] anu-oss opened #5144 "Stack Video"
### Description

I will be contributing a video on stack.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-08 18:48] anu-oss opened #5145 "Stack Audio"
### Description

I will be contributing an audio on stack.

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-08 18:48] anu-oss commented on #5145
/assign

[2021-10-08 18:59] afreenabegum commented on #3261
Ok mam. I'll do it .
Thank you.

[2021-10-08 19:06] shubhmittal07 opened #5146 "Android Kotlin: 13.3 Toast & Snackbar"
<hr>

## Description :scroll:

* Give a step-by-step tutorial of Toast & Snackbar in Android (Kotlin).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_With_Kotlin/ directory under Android_Development_With_Kotlin branch.
* Insid

[2021-10-08 19:39] Suvraneel commented on #864
@shreya0204  Which PR ?
This is an issue...

[2021-10-08 19:57] geetika005 opened #5150 "Randomize algorithm"
### Description

Documentation on randomize algorithm

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-08 19:58] geetika005 commented on #5150
/assign

[2021-10-09 00:06] #3251 closed

[2021-10-09 00:33] sandeepkumar00110 commented on #1419
/assi

[2021-10-09 00:36] sandeepkumar00110 commented on #1419
/assign

[2021-10-09 01:22] mansisingh2803 opened #5156 "Header Files in CPP"
### Description

I want to create an issue on the topic Header Files in CPP. I want to contribute in the documented form.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-10-09 01:56] Rohit484 opened #5157 "Android Development with JAVA"
### Description

Description

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 03:20] ganaaduvva commented on #2870
@AkMo3 my PR is ready for the review

[2021-10-09 03:21] Isha307 commented on #1259
okay @das-ankur, take care.
And let us know after 2-3 days that are you willing to work on this or not.

[2021-10-09 03:22] swatigupta121 opened #5160 "Find a peak element"
### Description

Problem: Given an array of integers. Find a peak element in it. An array element is a peak if it is NOT smaller than its neighbors.
I will provide a well commented solution for this problem in C++.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-10-09 03:25] #2806 closed

[2021-10-09 04:01] VARUN-K-BANSAL opened #5161 "BFS Video"
### Description

Adding video for Breadth First Search along with its code in C.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of th

[2021-10-09 04:02] VARUN-K-BANSAL commented on #5161
/assign

[2021-10-09 04:22] ayushjain27 opened #5163 "[Create New Issue]: Create registration form using HTML and CSS"
### Description

Create registration form using HTML and CSS

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE

[2021-10-09 04:23] ayushjain27 commented on #5163
/assign

[2021-10-09 04:35] AkMo3 commented on #1808
@Shraddha-Jaggi Audio content has already been merged.

[2021-10-09 04:35] anandhu720 commented on #4335
@joshi-kaushal it is alredy assigned to someone,if he is not replaying to us then we will assign work to you bro.

[2021-10-09 04:40] uzma024 opened #5164 "C_CPP Data Structures : Floyd's Algorithm - Video"
### Description

Implement and explain Floyd's Algorithm in order to detect cycle in any singly linked list.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gith

[2021-10-09 04:40] uzma024 commented on #5164
/assign

[2021-10-09 04:42] cookieg13 commented on #3170
Thank you!! My PR has been reviewed by  mentor. 😊

[2021-10-09 04:42] AkMo3 commented on #4830
@stranger311 You have been assigned documentation

[2021-10-09 04:43] 0xUvaish commented on #3319
@Anant1711 I made a PR. Is there anything else to do?

[2021-10-09 04:49] AkMo3 opened #5165 "Java 21.3: Instanceof, strictfp"
### Description
 Add audio, documentation, and video regarding the **Instanceof, strictfp**

 **Location of File to be added** The files should be added inside the _`Instanceof, strictfp`_ which will be inside _`Classes and methods`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.i

[2021-10-09 04:50] AkMo3 opened #5166 "Java 21.4: Assert, imports, static imports"
### Description
 Add audio, documentation, and video regarding the **Assert, imports, static imports**

 **Location of File to be added** The files should be added inside the _`Assert, imports, static imports`_ which will be inside _`Import`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.

[2021-10-09 04:51] itsgourav62 opened #5167 "C-CPP DSA: Bubble Sorting but printing all the passes"
### Description

Well, this code will be representing the implementation of bubble sort and printing output of all the passes that occured between the elements.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://

[2021-10-09 04:51] akriti-upadhyay opened #5168 "Puzzles for Inteviews"
### Description

This will include the resources for the Puzzles that are asked in interview rounds

### Domain

Interview Prep

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/ma

[2021-10-09 04:52] itsgourav62 commented on #5167
/assign

[2021-10-09 04:52] AkMo3 opened #5169 "Java 22.1: Generics_Fundamentals_And_Importance"
### Description
 Add audio, documentation, and video regarding the **What are generics, importance of it**

 **Location of File to be added** The files should be added inside the _`Generics_Fundamentals_And_Importance`_ which will be inside _`Generics`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can b

[2021-10-09 04:52] vandana3869 commented on #5050
/assign

[2021-10-09 05:01] Shikhar007-bot opened #5171 "Operators in Python"
### Description

Description

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 05:04] akriti-upadhyay commented on #5168
@princemsd007 @syedareehaquasar Hey, I created this issue, can I start working on it? Also, can you please tell me how can I add the label "hacktoberfest" in this issue?

[2021-10-09 05:10] iamsunil25 commented on #5169
/assign

[2021-10-09 05:11] iamsunil25 commented on #5166
/assign audio

[2021-10-09 05:11] heet-kumar commented on #4297
@shreya024 what is the update till now on this issue.

[2021-10-09 05:11] iamsunil25 commented on #5165
/assign doc.

[2021-10-09 05:12] iamsunil25 commented on #5163
/assign audio

[2021-10-09 05:14] iamsunil25 commented on #5169
@AkMo3 can you assign me documentation?

[2021-10-09 05:16] itsgourav62 opened #5175 "C CPP : Documentation on Palindrome using Stack"
### Description

This code will be using stack to determine the string is a palindrome or not..

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-10-09 05:19] Satyam175 opened #5176 "Servlets & Dispatcher Servlet"
### Description

<h2>Servlets & Dispatcher Servlet</h2>
<ul>
<li>Meaning</li>
<li>Configuring Dispatcher servlet</li>
<li>Working of dispatcher servlet behind the  scene</li>
</ul>

### Domain

Backend Dev (Java)

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-10-09 05:22] Satyam175 opened #5177 "Controller Class"
### Description

<h3>Controller Class</h3>
<ul>
<li>Controller Annotation</li>
<li>Mapping annotation</li>
<li>Mapping function</li>
<li>Simple Code depicting a Controller class</li>
</ul>

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONT

[2021-10-09 05:25] Satyam175 opened #5178 "View Resolver in Spring MVC"
### Description

<h3>View Resolving</h3>
<ul>
<li>How to setup view resolver</li>
<li>adding suffix and prefix</li>
<li>simple program</li>
</ul>

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://gi

[2021-10-09 05:29] Satyam175 opened #5179 "Model in Spring"
### Description

<h3>Models</h3>
<ul>
<li>Models</li>
<li>Model Attributes</li>
<li>Simple program</li>
</ul>

### Domain

Backend Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contri

[2021-10-09 05:34] riyasai22 commented on #610
If this issue is still open I would like to contribute to this issue. @Isha307
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: Audio

[2021-10-09 05:42] prathimacode-hub commented on #5058
Serial number and approach @Anindyadeep

[2021-10-09 05:46] tejas342 commented on #5171
@adityabisoi is this issue is open for video contribution?
if yes than I want to do this in video
tejas prajapati (python batch 6)

[2021-10-09 05:46] Robinrai2612 commented on #5058
@prathimacode-hub  I would like to work on this issue.I will explain detailed information and code regarding it.

Type: Documentation
Sr.No: 146

[2021-10-09 05:48] SAYAK-CHAKRABORTY commented on #5177
I would like to work on this issue
SAYAK CHAKRABORTY
type documentation

[2021-10-09 05:49] prathimacode-hub commented on #5057
Issue assigned to @Apoorv-17 for Video and Documentation

[2021-10-09 05:49] SAYAK-CHAKRABORTY commented on #5177
/assign

[2021-10-09 05:49] NIKITAjadhav4124 commented on #3084
I would like to work on this issue @Ash515

[2021-10-09 05:51] prathimacode-hub commented on #4983
Add your serial number and I shall assign it to you. @shreyarai05

[2021-10-09 05:54] iamsunil25 opened #5180 "HTML Audio and video tag"
### Description

how can we add audio and video in html.
make  2 files HTML_Audio.md  and HTML_Video.md -> create HTML_Audio_And_Video(subfolder) -> frontend folder (subfolder) -> web development main folder.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contribut

[2021-10-09 05:55] RahulRam29 opened #5181 "C/CPP: Queue Operations"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 05:57] iamsunil25 commented on #5180
@sumitaccess007 can you assign me Documetation?

[2021-10-09 06:02] iamsunil25 opened #5182 "Difference between HTML and HTML5"
### Description

Difference between HTML and HTML5

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this

[2021-10-09 06:02] iamsunil25 commented on #5182
/assign

[2021-10-09 06:05] iamsunil25 commented on #5182
@salil-naik can you please assign me this issue?

[2021-10-09 06:07] iamsunil25 opened #5183 "how to use web storage api in javascript"
### Description

create a file webStorage and in this file explain how to use local Storage and Session Storage in javscript

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlsc

[2021-10-09 06:13] guptapriya-83900 commented on #5180
/assign documentation

[2021-10-09 06:22] jiteshjitsun opened #5184 "binary search"
### Description

Video explanation of binary search algorithm.

### Domain

C/CPP

### Type of Contribution

Audio, Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 06:22] jiteshjitsun commented on #5184
/assign

[2021-10-09 06:27] prachigarg19 commented on #5063
/assign audio

[2021-10-09 06:29] eshan1925 commented on #5006
@VikasPandey121 This is the issue and i have generated the pr.
Please review it.
Thanks

[2021-10-09 06:39] eshan1925 commented on #5006
@VikasPandey121 I have updated the image now.
Please have a look

[2021-10-09 06:55] SAYAK-CHAKRABORTY commented on #4857
I would like to contribute to this
SAYAK CHAKRABORTY
java(batch1)

[2021-10-09 06:55] SAYAK-CHAKRABORTY commented on #4857
/assign

[2021-10-09 06:55] iamsunil25 commented on #5180
@praveenscience can you please look at here?

[2021-10-09 06:56] iamsunil25 commented on #5183
/assign

[2021-10-09 07:00] jaigora24 commented on #5182
/assign

[2021-10-09 07:01] jaigora24 commented on #5169
/assign document

[2021-10-09 07:05] anandhu720 commented on #4335
ok

[2021-10-09 07:20] 124015001 opened #5189 "C_CPP: Throwing Exception From Functions"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 07:26] shahishree03 commented on #507
thank you

[2021-10-09 07:28] shahishree03 commented on #5183
can I assigned video part in this .... will be looking nice

[2021-10-09 07:33] Narcos101 commented on #4296
@heet-kumar I'll do it today itself!

[2021-10-09 07:36] shreyarai05 commented on #4983
Serial no. 155
I have mentioned this issue in thread too.

On Sat, 9 Oct, 2021, 11:22 AM Prathima Kadari, ***@***.***>
wrote:

[2021-10-09 07:40] Narcos101 commented on #5182
/assign

[2021-10-09 07:41] Narcos101 commented on #3631
/assign

[2021-10-09 07:42] ganaaduvva commented on #2947
@Ash515 can you please review my PR

[2021-10-09 07:45] #2608 closed

[2021-10-09 07:47] shahishree03 commented on #507
I have made an app basic  and working on the video part editing ,I will make a pull request coming 2 days

[2021-10-09 07:49] rahulsain commented on #507
For now just work for the video

On Sat, 9 Oct, 2021, 1:18 pm Shahi Shreshth, ***@***.***>
wrote:

[2021-10-09 07:51] shahishree03 commented on #507
okay sir

[2021-10-09 08:04] DiyaVj commented on #2727
I want to work on documentation part.

[2021-10-09 08:28] Nileshmalav opened #5193 "CSS Syntactically Awesome Stylesheet(Sass) Functions"
### Description

* Sass String Functions

* Sass Numeric Functions

* Sass List Functions

* Sass Map Functions

* Sass Selector Functions

* Sass Introspection Functions

* Sass Color Functions

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/

[2021-10-09 08:28] Nileshmalav commented on #5193
/assign

[2021-10-09 08:28] Nileshmalav commented on #5193
\assign

[2021-10-09 08:30] #2556 closed

[2021-10-09 08:30] #5145 closed

[2021-10-09 08:31] #3223 closed

[2021-10-09 08:31] #4054 closed

[2021-10-09 08:31] #4285 closed

[2021-10-09 08:41] Pawanupadhyay10 commented on #1347
Pls assign this to me .

[2021-10-09 08:43] Pawanupadhyay10 commented on #1375
@Siddhartha-Dhar  me more than 12 days passed

[2021-10-09 08:50] Aryamanz29 commented on #4669
@palakshivlani-11  Any updates on this?

[2021-10-09 08:52] Aryamanz29 commented on #4694
@Adi9235  Any updates on this?

[2021-10-09 08:53] Aryamanz29 commented on #401
@Harshit-Poddar90  @A-GHOSH-dev  Sure , Go ahead

[2021-10-09 08:54] priyall commented on #4675
Yes I'll create PR by today

[2021-10-09 09:01] GyaniRoman23 commented on #4672
Yeah @Aryamanz29 have been working on it. Its almost finished, will make a PR asap.

[2021-10-09 09:09] anu-oss opened #5197 "DNF Sorting Algorithm Audio"
### Description

In this submission,I'll be submitting an audio for DNF Sorting Algorithm.

### Domain

C/CPP

### Type of Contribution

Audio
Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_C

[2021-10-09 09:13] kiru-dev opened #5198 "Sampling - Types of Random sampling techniques"
### Description

I am from **Batch - 1** of Statistics Domain.
 I would like to provide information about the **Types of Random Sampling techniques** through Documentation.

### Domain

Statistics

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-09 09:27] Vibhu562 commented on #5126
@adityabisoi Please assign me my task.

[2021-10-09 09:28] ikavyajain opened #5199 "Functions In C"
### Description

I have prepared a documentation on:
- What is a function?
- Why do we need Function?
- Types of Functions
- Parts of Functions
- It's Importance

Do read and learn :)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Co

[2021-10-09 09:31] ikavyajain opened #5200 "Color Options In Text Mode In C"
### Description

I have prepared a documentation on:

Color Options In Text Mode In C

- Using colors in Text Mode
- Colors and their values
- Code Examples

Enjoy learning! :)

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of c

[2021-10-09 09:32] ikavyajain commented on #5200
/assign

[2021-10-09 09:40] #3325 closed

[2021-10-09 09:44] yashvardhan-verma commented on #3963
@AVS18  please check this PR https://github.com/girlscript/winter-of-contributing/pull/4375

[2021-10-09 09:46] yashvardhan-verma commented on #3963
I have resolved both issues that were assigned to be in a single PR.

[2021-10-09 09:47] ShivaniAgarwal2001 commented on #5009
/assign documentation

[2021-10-09 10:11] AkMo3 commented on #4831
@jaigora24 You have been asigned documentation

[2021-10-09 10:13] #5006 closed, assigned to nobody

[2021-10-09 10:20] AkMo3 commented on #5169
@prachigarg19 We are strictly following the rules of assignement any mismatch of comment from assignment will not lead to assignment. Please read carefully it is `\` in the issue comment to prevent from auto assignment and we are removing all auto assignemnt.

[2021-10-09 10:31] AkMo3 commented on #5037
@tejaswini5801 @Rosy-Chadha You both are not assigned this issue at it fails to match with the comment instruction, read them again and comment with the proper sign. We do not want any auto assignements.

[2021-10-09 10:48] fomalhauting opened #5205 "Introduction Statistics"
### Description

1. Data basics
Observations, variables, and data matrices; Types of variables; Relationships between variables; Explanatory and response variables; Introducing observational studies and experiments;

2. Sampling principles and strategies
Populations and samples; Anecdotal evidence; Sampling from a population; Observational studies; Sampling methods

### Domain

Statistics

### Typ

[2021-10-09 10:50] AkMo3 commented on #5037
@tejaswini5801 You have been assigned documentation,. @Rosy-Chadha You already have one issue assigned, please merge pr for that first.

[2021-10-09 10:52] iamsunil25 commented on #5166
@AkMo3  i want to work on audio part of this issue

[2021-10-09 10:52] itsIapetus opened #5206 "Statistics: Summarizing data"
### Description

Examining numerical data
Scatterplots for paired data; Dot plots and the mean; Histograms and shape; Variance and standard deviation; Box plots, quartiles, and the median; Robust statistics; Transforming data; Mapping data

### Domain

Statistics

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com

[2021-10-09 10:54] itsIapetus opened #5208 "Statistics: Summarizing Data"
### Description

Considering categorical data
Contingency tables and bar plots; Row and column proportions; Bar plot with two variables; Mosaic plots; Pie Chart; Comparing numerical data across groups

### Domain

Statistics

### Type of Contribution

Audio, Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob

[2021-10-09 10:54] AkMo3 commented on #5166
@iamsunil25 You have been assigned audio.

[2021-10-09 10:55] AkMo3 commented on #5169
@iamsunil25 You have been already been assigned an issue.

[2021-10-09 11:17] harmankaler2000 commented on #5171
Hey can I work on this issue through video contribution
Harmandeep Kaur Kaler
python batch - 4

[2021-10-09 11:18] harmankaler2000 commented on #5126
Hey can I work on this issue through video contribution
Harmandeep Kaur Kaler
python batch - 4

[2021-10-09 11:18] harmankaler2000 commented on #4797
Hey can I work on this issue through video contribution
Harmandeep Kaur Kaler
python batch - 4

[2021-10-09 11:18] VaishnaviPhadtare opened #5211 "Circular Linked list"
### Description

introduction
Application
implementation

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 11:28] Suvraneel commented on #1419
@sandeepkumar00110  Link this issue no. to your PR properly..

[2021-10-09 11:35] nickel-28 commented on #5199
/assign

[2021-10-09 11:36] #4725 closed

[2021-10-09 11:41] elixir14082002 opened #5213 "Tailwind CSS"
### Description

I will create a document describing the various features of Tailwind CSS and how to implement those features in detail.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://githu

[2021-10-09 11:45] syedareehaquasar commented on #5168
I am adding the label You can also edit I guess in the right pannel!
You can go ahead with this issue!

[2021-10-09 11:48] Ayan-thecodeking commented on #5213
Start working @elixir14082002

[2021-10-09 11:49] #4003 closed

[2021-10-09 11:57] abhisheks008 commented on #610
@mohitmishra786 I am unassigning this issue due to the deadline, @riyasai22 issue assigned to you and complete it by this monday, as this is an issue of week 1.

[2021-10-09 11:59] abhisheks008 commented on #1966
@sanjana-iyengar you have assigned the by your own choice still after 7 days you have not come up with the PR. Please provide us the update.

[2021-10-09 12:07] abhisheks008 commented on #4112
@SrijanShovit Can you please make a new PR for this. I have faced some technical difficulties while merging the PR. Your file is properly decorated, no need to make any change there, just create a new PR and upload the file once again in the Unsupervised Machine Learning folder.

[2021-10-09 12:14] VaishnaviPhadtare opened #5215 "odd_Even Sort"
### Description

Algorithm

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 12:15] VaishnaviPhadtare commented on #5215
/assign

[2021-10-09 12:20] ydasc815 opened #5216 "Android Kotlin: 12.0 Fragment Basics"
<hr>

## Description :scroll:

* Create a basic documentation/video/audio explaining basics of fragment in Android.
* Some points you that you cover include, but are not limited to: How do you create a fragment, and how is it different from an activity? When to use an activity and when to use a fragment?

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

## Refer

[2021-10-09 12:23] #4391 closed

[2021-10-09 12:25] eraditya1024 opened #5217 "Android Kotlin: 12.1 Fragment Lifecycle in Android"
<hr>

## Description :scroll:

* Create an illustrative documentation explaining lifecycle of a fragment in Android.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :
[Fragment Lifecycle](https://developer.android.com/guide/fragments/lifecycle)

<hr>

## Please Read it Carefully Before Contributing
* Changes should be made in Android_Development_

[2021-10-09 12:29] ydasc815 opened #5219 "Android Kotlin: 12.2 Jetpack Navigation Components"
<hr>

## Description :scroll:

* Create an illustrative documentation (may include code snippets, screenshots etc.) regarding Jetpack Navigation Components and how is it different from traditional fragment manager navigation approach.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :
[Jetpack Navigation Codelabs](https://developer.android.com/cod

[2021-10-09 12:33] vikky-10 opened #5220 "Every thing you want to know about WebRTC"
### Description

This is a Beginner friendly doc. under this, I gonna talk about webRTC. WebRTC is an open framework that enables Real-Time Communication(RTC), which is very useful for things like Video-Audio calling, Chatting, P2P file sharing, …

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://gi

[2021-10-09 12:34] eraditya1024 opened #5222 "Android Kotlin: 12.3 Fragment Navigation using FragmentManager"
<hr>

## Description :scroll:

* Write a detailed documentation explaining how can we use FragmentManager to perform inter fragment navigation.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Kotlin)

<hr>

<hr>

## References :
[Fragment Manager](https://developer.android.com/guide/fragments/fragmentmanager)

<hr>

## Please Read it Carefully Before Contributing
* Changes should

[2021-10-09 12:39] SUSHANT731 opened #5223 "[Create New Issue]: Bubble Sort Algorithm"
### Description

Hi! I am willing to add a bubble sorting algorithm to this repo. The concept of bubble sort is to compare each adjacent pair of elements and swap them if they don't follow the order. While bubble sort is not an efficient way of sorting, it is one of the most classical approaches to sorting.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I fol

[2021-10-09 12:40] SUSHANT731 commented on #5223
/assign

[2021-10-09 12:49] mahmoudmohamed22 commented on #5056
can you assign me ?
name :mahmoud mohamed abdelwahab
issue:5056
serial number:91
type: Documation
i want to work in issue

[2021-10-09 12:55] Yugal41735 commented on #4104
@abhisheks008  sorry due to my mid sem i was not able to give u any update, and yup i am working on it, if it possible could u give me time till tomorrow.

[2021-10-09 12:57] harichandana1406 commented on #5055
/assign

[2021-10-09 13:15] asdhamidi opened #5228 "Adding shell sort"
### Description

Adding shell sort algorithm to DSA/2.2 Searching & Sorting Algorithms/. It is one of the famous sort algorithms.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-c

[2021-10-09 13:16] asdhamidi commented on #5228
/assign

[2021-10-09 13:21] Cyber-Prajwal opened #5229 "Common mistakes and erros in python programming"
### Description

In this issue, we will discuss and cover a few common errors mistakes that one can make during programming unknowingly.

Discussing these errors and where is one going wrong can be really helpful as getting continuous errors while trying to solve a problem is very frustrating especially for newbie programmers and all the programmers agree upon this.

Eg., Modifying a list while it

[2021-10-09 13:27] dikshamalik2552 opened #5230 "HTML_Quotation_and_Citation_Elements"
### Description

Adding various quotation and citation elements used in HTML

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-10-09 13:28] 4neesc0des commented on #380
@paramsiddharth can you assign the document type to me

[2021-10-09 13:29] dikshamalik2552 commented on #5230
/assign

[2021-10-09 14:01] an5hu19 opened #5234 "Search element in 2D matrix"
### Description

We will be given a 2D matrix which will be sorted both row wise and column wise and we need to search the given element in that matrix.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com

[2021-10-09 14:02] an5hu19 commented on #5234
/assign

[2021-10-09 14:03] 4neesc0des commented on #4673
@riyapandey730  I want to work on this

[2021-10-09 14:04] Shruti-Subu commented on #3601
@vikhyatsingh123  Can i work on the audio part
NAME : SHRUTI SUBU
DSA BATCH 1

[2021-10-09 14:09] mayankkuthar opened #5236 "Open Source : 6.33 Explain everything related to ```Linux kernel```"
### Description

## Description 📜
Open Source: 6.33 Explain everything related to ```Linux kernel```

### NOTE 👇
Please put your doc ```6.Popular_Projects``` with the name ```6.33_Linux_kernal.md```

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-10-09 14:14] mayankkuthar opened #5238 "Open Source : 6.34 Explain everything related to ```The Go Programming Language```"
### Description

## Description 📜
Open Source: 6.34 Explain everything related to ```The Go Programming Language```

### NOTE 👇
Please put your doc ```6.Popular_Projects``` with the name ```6.34_Go_Programming_Lanuage.md```

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contrib

[2021-10-09 14:15] mayankkuthar commented on #5238
/assign

[2021-10-09 14:17] areenoverclouds opened #5239 "[CP]: Floyd's cycle detection algorithm"
### Description

I would like to provide documentation on "detection of cycle in linked list" using Floyd's algorithm.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-10-09 14:18] amaan118921 commented on #5217
/assign

[2021-10-09 14:28] ashish-patwal opened #5240 "OpenSource : 6.39 Explain everything related to `gun.js`"
### Description

[![GUN](https://i.ytimg.com/vi/oTQXzhm8w_8/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAk_A97ffzKYXm5Hcw4FXy-z7SLYQ)](https://www.youtube.com/watch?v=oTQXzhm8w_8)

## Description
GUN is an opensource project and an ecosystem of tools that allows you to create encrypted applications that run thanks to a community . Gun is based on Decentralized web or "D

[2021-10-09 14:29] 4neesc0des commented on #1616
/assign

[2021-10-09 14:37] Adi9235 commented on #5240
/assign

[2021-10-09 14:37] an5hu19 opened #5242 "HTML Classes and Id"
### Description

This documentation deals with HTML classes and ids, how to use them and the difference between them.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-10-09 14:37] Meghna2080 commented on #5240
/assign

[2021-10-09 14:41] Meghna2080 commented on #5240
@ashish-patwal

[2021-10-09 14:43] Meghna2080 commented on #5240
Yes, I created some issues of other domains and self assigned yesterday only

[2021-10-09 14:43] HassanRahim26 commented on #5240
@ashish-patwal, can you please assign me this issue

[2021-10-09 14:45] 4neesc0des commented on #1682
Hy any update regarding this issue

[2021-10-09 14:45] HassanRahim26 commented on #5240
So, can I work on this issue?

[2021-10-09 14:47] ashish-patwal commented on #5240
@Meghna2080 , Hey no worries . And please no salutation . I'm not that old .

[2021-10-09 14:53] prachigarg19 commented on #5169
\assign audio

[2021-10-09 14:58] jaya6400 commented on #3570
ok mentor

[2021-10-09 15:02] photon149 commented on #4748
- Name: Shiwansh Raj
- Batch: 10
- Sr. No: 368
- [x]  Documentation
- [ ] Approach: several ways of dealing with missing values , and explaination giving examples
@prathimacode-hub please assign the same to me

[2021-10-09 15:05] iamtanya-22 opened #5246 "Encapsulation in JAVA"
### Description

Encapsulation is one of the four fundamental OOP concepts.

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.

[2021-10-09 15:07] iamtanya-22 commented on #5246
Please assign this task to me. I will do my best.

[2021-10-09 15:09] ksheetiz opened #5248 "Minimum Number of swaps to sort an array"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 15:09] ksheetiz commented on #5248
/assign

[2021-10-09 15:10] #5072 closed

[2021-10-09 15:12] iamtanya-22 opened #5249 "Adding Constructors in JAVA"
### Description

A constructor initializes an object when it is created. It has the same name as its class and is syntactically similar to a method. This is an important concept in JAVA.

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.

[2021-10-09 15:12] akratikushwah opened #5250 "Important Questions of Stacks"
### Description

This will cover some important questions of stacks

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this pr

[2021-10-09 15:13] iamtanya-22 commented on #5246
/assign

[2021-10-09 15:18] abhinavdixit2306 commented on #5036
@nimisha-yadav Please review my PR and let me know if any changes are required.
https://github.com/girlscript/winter-of-contributing/pull/5194

[2021-10-09 15:23] Debasmita-01 opened #5253 "Redesign a feature"
### Description

Find a feature in an application that frustrates you. Redesign it. You can use any tools according to your choice . Working on this issue will make you a better observer and a better UX designer.

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.

[2021-10-09 15:25] rohit-goyal commented on #404
I would like to work on documentation part of these issue
Name : Rohit Goyal
Batch : DSA Batch 2

[2021-10-09 15:27] ishivamgupta9 opened #5254 "Android Java:"
<hr>

## Description :scroll:

* Give a step-by-step tutorial of Nested RecyclerView in Android (Java).
*  Required Documentation or Video or Audio.

<hr>

## Domain of Contribution :bar_chart:

- [x] Android Dev (Java)

<hr>

<hr>

[2021-10-09 15:28] #5167 closed

[2021-10-09 15:28] yogeshkumar-1234 opened #5255 "[C_CPP]:Dijkstra's Algorithm"
### Description

This documentation will explain the dijksta's algorithm for graphs

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-10-09 15:29] yogeshkumar-1234 commented on #5255
/assign

[2021-10-09 15:35] yogeshkumar-1234 opened #5257 "[C_CPP]:Prim's algorithm"
### Description

Description:
This documentation will include the explanation of the prim's minimum spanning tree.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/b

[2021-10-09 15:36] yogeshkumar-1234 commented on #5257
/assign

[2021-10-09 15:54] Debasmita-01 opened #5261 "Luncher App Design"
### Description

With Luncher there will be no more problems finding a lunch companion .
Points you can keep in mind while building features :
Luncher will be definitely of great use if
🥗 you don’t have a company to eat out;
🍔 you’ve just moved to another city and haven’t found new friends yet;
🍲 you want to try something new;
🌭 you want to expand your social circle.

### Domain

UI/UX

### Type o

[2021-10-09 15:59] Debasmita-01 opened #5263 "Grocery shopping App Redesign"
### Description

Show the whole user journey map - > from  user onboarding to final payments .
References: [https://dribbble.com/shots/16013328-Grocery-App](https://dribbble.com/shots/16013328-Grocery-App)

Additional credits will be given to innovative designs.

### Domain

UI/UX

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https:/

[2021-10-09 16:03] manognyaa opened #5265 "Neuromorphism UI/UX Design"
### Description

hello I want to explain few designs on neuromorphic in this contribution. Can you pls assign me this issue as a part of hacktoberfest'21 ?

### Domain

UI/UX

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/g

[2021-10-09 16:04] Debasmita-01 opened #5266 "UX and Business"
### Description

Discuss briefly the Importance of UX Design in Modern Business . There is a big focus on making an outstanding first impression or providing the audience with the best experience. This has brought focus on UX design, these days UX design has become more important than writing the code for the digital product. Share your views keeping this thing in mind.

### Domain

UI/UX

### Typ

[2021-10-09 16:16] Debasmita-01 opened #5267 "List of UX topics everyone should know Part 2"
### Description

User Research . A design that is user-centric means that it was designed in a way to solve those users’ pain points in a way that feels natural to them. Describe briefly about user research and its importance .

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contribut

[2021-10-09 16:16] Debasmita-01 opened #5268 "List of UX topics everyone should know Part 1"
### Description

Research about UX STRATEGY and briefly describe the importance of it in making digital products . Why should someone know about it ?
Every UX Designer should be aware of UX strategy because it is an invisible force that’ll affect how you design whether you like it or not

### Domain

UI/UX

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing

[2021-10-09 16:19] adityabisoi commented on #5229
Go ahead

[2021-10-09 16:26] #4901 closed, assigned to priyanshuc4423

[2021-10-09 16:28] abhisheks008 commented on #4104
@Yugal41735 No worries complete this by tomorrow positively!

[2021-10-09 16:31] #5092 closed

[2021-10-09 16:33] ikavyajain opened #5270 "Hollow Rhombus Pattern"
### Description

A fascinating pattern which can have as many equal number of rows and columns as the user wants. 👍
Do try it and enjoy! :

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/

[2021-10-09 16:33] ikavyajain commented on #5270
/assign

[2021-10-09 16:34] Aryamanz29 commented on #4692
@atharva20-coder  Link your PR with this issue , Using fixes #issue_number in PR description

[2021-10-09 16:36] Aryamanz29 commented on #4673
@4neesc0des  Go ahead 🚀

[2021-10-09 16:55] afreenabegum commented on #401
I would like to work on this. Can you assign it to me!!
@Aryamanz29

Afreena begum
open source batch-1.

[2021-10-09 17:01] riyapandey730 commented on #4673
But sir by tomorrow I will make pr

[2021-10-09 17:13] Shreya241 opened #5275 "HTML Multimedia"
### Description

A brief description about multimedia in html and there types.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-10-09 17:13] Shreya241 commented on #5275
/assign

[2021-10-09 17:13] Shreya241 commented on #5275
/assign

[2021-10-09 17:25] mrkc2303 commented on #5216
/assign

[2021-10-09 17:26] balasai45 opened #5280 "Game using C++"
### Description

Snake game using  C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 17:26] balasai45 commented on #5280
/assign

[2021-10-09 17:39] ParagD25 opened #5284 "Python : Python Closures"
### Description

Description:
What is Python Closure?
When do we have Python Closure?
What is the use of Python Closure?

### Domain

Python_Domain

### Type of Contribution

Video, Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/win

[2021-10-09 17:40] ParagD25 commented on #5284
/assign

[2021-10-09 17:40] harsh827 commented on #3264
@nimisha-yadav  .Before making a pull request, I wanted to confirm my doubt

1.  is location where file to be added  correct ? =
 `winter-of-contributing/DSA/2.1 Strings/3. Implementation in Java, Python/`

[2021-10-09 17:40] ayush-sleeping commented on #5219
/assign

[2021-10-09 17:45] Rohit-2602 opened #5285 "Android-Development-Java 4.5: BroadCast Receivers in Android"
### Description

Give a brief about BroadCast Receivers with a simple example (can be: Data Change, Connectivity Change)

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winte

[2021-10-09 17:54] Rohit-2602 opened #5286 "Android-Development-Java 5.3: Network Call Using Volley"
### Description

Give a brief about Network calling and all API using Volley

Try to make the layout simple (single TextView, or recycler view)

Can Use JsonPlaceHolderApi - https://jsonplaceholder.typicode.com/posts or anything you familiar with

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.co

[2021-10-09 17:55] Rohit-2602 opened #5287 "Android-Development-Java 5.3: Network Call Using Retrofit"
### Description

Give a brief about - making a network call using Retrofit

Try to make the layout simple (single TextView, or recycler view)

Can Use JsonPlaceHolderApi - https://jsonplaceholder.typicode.com/posts or anything you familiar with

### Domain

Android Dev (Java)

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/

[2021-10-09 17:57] atharva20-coder commented on #4692
Now done as per instructions.

[2021-10-09 17:59] shreya-gb commented on #5265
Can I as well give documentation on this?

[2021-10-09 18:00] tamojeetK commented on #5268
I want to work on this, pls assign me. @Debasmita-01 Ma'am

[2021-10-09 18:00] shreya-gb commented on #5263
Willing to work on this :)

[2021-10-09 18:05] #4378 closed

[2021-10-09 18:07] akriti-upadhyay commented on #5168
@syedareehaquasar Hey, I am really sorry, I think I merged my pull request and closed it by mistake. How can I undo this now? My PR was not yet reviewed.

[2021-10-09 18:13] abhishekd358 commented on #1284
/assign

[2021-10-09 18:17] abhishekd358 commented on #1279
/assign

[2021-10-09 18:22] Rohit-2602 commented on #127
@LegendSumeet you working on this ?

[2021-10-09 18:25] abhishekd358 commented on #1923
Is the issue still open ? If yes .
Please /assign to me

[2021-10-09 18:33] paul-111 opened #5291 "Explain the Sliding Window Technique"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 18:38] paul-111 opened #5293 "Explain Two Pointer Algorithm"
### Description

Description

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-09 18:57] riyapandey730 opened #5296 "Web development: Work of Internet"
### Description

How does the Internet work?
About the Internet
Beginning of Internet
What is WWW
How world Affected
Internet of Things
Advantage
Disadvantage

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-09 18:58] Rohit-2602 commented on #127
do "/assign" @LegendSumeet

[2021-10-09 18:59] aroratushar346 commented on #3908
/assign

[2021-10-09 19:00] riyapandey730 commented on #5296
/assign

[2021-10-09 19:00] riyapandey730 commented on #5296
Hey, @sifa123 Please add the Hacktoberfest-accepted label in this issue. So that its PR will be counted Hacktoberfest.

[2021-10-09 19:00] shreyansh2416 commented on #5222
@rahulsain assign me for audio.

[2021-10-09 19:05] vineetsingh0809 opened #5297 "[Added a code of AlogoMagic]:"
### Description

A problem of Code Chef which gives you the Algo-Magic of problem.

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.gith

[2021-10-09 19:07] vineetsingh0809 commented on #5297
/assign

[2021-10-09 19:16] Suvraneel commented on #5199
@nickel-28  Her PR has already been  merged... So this issue is closed

[2021-10-09 19:57] ShivaniAgarwal2001 commented on #5287
/assign documentation

[2021-10-09 20:31] Adi9235 commented on #4694
@Aryamanz29 i am working on it till how much time I have to make PR can you tell

[2021-10-09 21:19] 4neesc0des commented on #4673
@Aryamanz29 I made a PR, Please have a look

[2021-10-09 21:28] subhram260 commented on #3508
/assign

[2021-10-09 21:37] hritamdutta18 opened #5303 "A Number Converter"
### Description

This program converts a number in a particular base to another desired base, as selected by the user from the given menu.
Bases format include the popular ones like Binary, Hexadecimal, Octal & Decimal.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob

[2021-10-09 21:38] hritamdutta18 commented on #5303
/assign

[2021-10-10 02:48] #3775 closed

[2021-10-10 03:00] warmachine028 commented on #4300
Hey! Can you ask him to have a look into my PR?

[2021-10-10 03:08] Anant1711 commented on #2800
@AtharvaaPatil @RK1905101 Please submit your work ASAP!

[2021-10-10 03:15] #3319 closed

[2021-10-10 03:20] Anant1711 opened #5307 "Cybersecurity 6 Vulnerability identification"
### Description

## Discuss Vulnerability identifications, what are the steps and approach!

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come fi

[2021-10-10 03:22] Anant1711 opened #5308 "Cybersecurity 6.1 Vulnerability analysis"
### Description

## Discuss How you will analyze any vulnerabilities, what are your key points to analyze any vulnerability!

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task w

[2021-10-10 03:24] Anant1711 opened #5309 "Cybersecurity 6.2 Risk assessment"
### Description

## Discuss Risk assessment in Vulnerability assessment!

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check

[2021-10-10 03:26] Anant1711 opened #5310 "Cybersecurity 6.3 Remediation"
### Description

Discuss about Remediation in Vulnerability assesment!

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it

[2021-10-10 03:32] Ajinkyap331 commented on #4393
@NikhilSharma03 I will probability make a PR today. So please check that once

[2021-10-10 03:38] I-Infinatoo commented on #5309
/assign documentation

[2021-10-10 03:40] #4089 closed

[2021-10-10 03:45] shreya024 commented on #4297
I have written the codes,output and overall documentation.Only explanation bit is left.

[2021-10-10 04:21] tejas342 commented on #5229
@adityabisoi If this issue is open for video contribution
then please assign me, i want to do this
Tejas Prajapati (python batch 6)

[2021-10-10 04:42] tanvideshmukh29 commented on #5291
Can I work on it ?
Tanvi Deshmukh
Batch -7

[2021-10-10 04:46] riyasai22 commented on #2941
If this issue is still open I would like to contribute to this issue. @Isha307
Name: Riya Srisailam Sailesh
Batch: 4
Profile link: https://github.com/riyasai22
Contribution type: Audio

[2021-10-10 04:48] LegendSumeet commented on #127
/assign

[2021-10-10 05:07] dummy-co-der commented on #5307
/assign documentation

[2021-10-10 05:20] #4912 closed

[2021-10-10 05:35] #3045 closed

[2021-10-10 05:36] abhisheks008 opened #5314 "ML 4.4 : Q-Learning (A)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Q-Learning_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docu

[2021-10-10 05:37] geeythree opened #5315 "ML 4.8: Implement DQNs (D)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement DQNs_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (

[2021-10-10 05:37] PurviBhoyar21 commented on #5314
@abhisheks008
I want to work on this issue
I am from ML batch 1

[2021-10-10 05:38] #3434 closed

[2021-10-10 05:38] Isha307 opened #5317 "ML 4.1: Introduction to RL: Definition and Types (D)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ----  Introduction to RL: Definition and Types

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentatio

[2021-10-10 05:38] Shivangik01 commented on #5317
Name: Shivangi Kochrekar
Batch: 3
Github Link: https://github.com/Shivangik01
Type: Documentation
I would like to contribute to this issue.

[2021-10-10 05:38] TishaJhabak1014 commented on #5317
name tisha jhabak batch 6 github: https://github.com/TishaJhabak1014 Documentation

[2021-10-10 05:38] abhisheks008 opened #5318 "ML 4.4 : Q-Learning (D)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Q-Learning_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docu

[2021-10-10 05:39] Isha307 opened #5319 "4.1 Introduction to RL: Definition and Types (A)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ----  Introduction to RL: Definition and Types

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentatio

[2021-10-10 05:39] geeythree opened #5320 "ML 4.8: Implement DQNs (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement DQNs_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (

[2021-10-10 05:39] Isha307 opened #5321 "ML 4.1: Introduction to RL: Definition and Types (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ----  Introduction to RL: Definition and Types

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentatio

[2021-10-10 05:39] Yugal41735 commented on #5317
Name: Yugal Agarwal
Batch - 1
Profile: https://github.com/Yugal41735
Documentation

[2021-10-10 05:40] abhisheks008 opened #5322 "ML 4.4 : Q-Learning (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Q-Learning_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Docu

[2021-10-10 05:40] nehakale8 commented on #5319
Neha Kale
Batch 3
Github: https://github.com/nehakale8
I would like to be assigned this issue
Type Audio

[2021-10-10 05:40] PurviBhoyar21 commented on #5321
@Isha307
I want to work on this issue
I am from ML batch 1

[2021-10-10 05:41] Yugal41735 commented on #5318
Name: Yugal Agarwal
Batch - 1
Profile: https://github.com/Yugal41735
Documentation

[2021-10-10 05:41] PurviBhoyar21 commented on #5321
@Isha307 Please add a hacktoberfest label after assigning me this issue

[2021-10-10 05:42] abhisheks008 opened #5323 "ML 4.5 : Deep Q-Networks (A)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Deep Q-Networks_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-10 05:42] Isha307 opened #5324 "ML 4.2: Contrast in Supervised, Unsupervised and Reinforcement Learning (D)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- Contrast in Supervised, Unsupervised and Reinforcement Learning

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice yo

[2021-10-10 05:42] geeythree opened #5325 "ML 4.9: Practical Applications of Reinforcement Learning (A)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Practical Applications of Reinforcement Learning_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one wo

[2021-10-10 05:42] Yugal41735 commented on #5324
Name: Yugal Agarwal
Batch - 1
Profile: https://github.com/Yugal41735
Documentation

[2021-10-10 05:42] Isha307 opened #5326 "4.2 Contrast in Supervised, Unsupervised and Reinforcement Learning (A)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ----  Contrast in Supervised, Unsupervised and Reinforcement Learning

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice y

[2021-10-10 05:43] Isha307 opened #5327 "4.2 Contrast in Supervised, Unsupervised and Reinforcement Learning (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ----  Contrast in Supervised, Unsupervised and Reinforcement Learning

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice y

[2021-10-10 05:43] abhisheks008 opened #5328 "ML 4.5 : Deep Q-Networks (D)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Deep Q-Networks_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-10 05:43] uttarabahad commented on #5328
Name- Uttara Bahad
Batch Number- 3
GitHub Link- https://github.com/uttarabahad
Type of contribution- Documentation

[2021-10-10 05:43] geeythree opened #5329 "ML 4.9: Practical Applications of Reinforcement Learning (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Practical Applications of Reinforcement Learning_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one wo

[2021-10-10 05:44] TishaJhabak1014 commented on #5328
name tisha jhabak batch 6 github: https://github.com/TishaJhabak1014 Documentation

[2021-10-10 05:45] geeythree opened #5330 "ML 4.9: Practical Applications of Reinforcement Learning (D)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Practical Applications of Reinforcement Learning_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one wo

[2021-10-10 05:45] Yugal41735 commented on #5330
Name: Yugal Agarwal
Batch - 1
Profile: https://github.com/Yugal41735
Documentation

[2021-10-10 05:45] abhisheks008 opened #5331 "ML 4.5 : Deep Q-Networks (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Deep Q-Networks_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-10 05:45] Isha307 opened #5332 "4.3 SARSA (D)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- SARSA

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with al

[2021-10-10 05:46] Isha307 opened #5333 "ML 4.3: SARSA (A)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ----  SARSA

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with a

[2021-10-10 05:46] abhisheks008 opened #5334 "ML 4.6 : Implement SARSA (D)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement SARSA_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-10 05:47] TishaJhabak1014 commented on #5334
name tisha jhabak
batch 6
github: https://github.com/TishaJhabak1014
Documentation

[2021-10-10 05:47] Isha307 opened #5335 "4.3 SARSA (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

▶️ This issue will helps readers in acquiring all the knowledge that one needs to know about ---- SARSA

🔴 To get assigned to this issue, add your Batch Numbers mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer (Documentation, Audio, Video). You can go with al

[2021-10-10 05:47] guptapriya-83900 commented on #5332
I will be giving detailed explanation of this along with example and uses in documentation.

[2021-10-10 05:47] geeythree opened #5336 "ML 4.10: Challenges and Future Scope (D)"
### Description

### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Challenges and Future Scope of Reinforcement Learning_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning

[2021-10-10 05:48] abhisheks008 opened #5337 "ML 4.6 : Implement SARSA (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement SARSA_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you prefer

[2021-10-10 05:48] Isha307 commented on #5317
@Shivangik01 Assigned to you, Make the PR in 3 days.

[2021-10-10 05:49] geeythree opened #5338 "ML 4.10: Challenges and Future Scope of Reinforcement Learning (A)"
### Description

### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Challenges and Future Scope of Reinforcement Learning_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning

[2021-10-10 05:50] abhisheks008 opened #5339 "ML 4.7 : Implement Q-Learnings (D)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement Q-Learnings_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you p

[2021-10-10 05:50] Anant1711 commented on #5308
Assigned!

[2021-10-10 05:50] VandanaKumari18 commented on #5293
/assign

[2021-10-10 05:51] Anant1711 commented on #5310
One Task at a time!

[2021-10-10 05:51] Isha307 commented on #5332
@guptapriya-83900 Assigned to you, Make the PR in 3 days.

[2021-10-10 05:51] abhisheks008 opened #5340 "ML 4.7 : Implement Q-Learnings (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Implement Q-Learnings_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach one would follow and choice you p

[2021-10-10 05:51] geeythree opened #5341 "ML 4.10: Challenges and Future Scope of Reinforcement Learning (V)"
### Description

### 📌  Issues for Week 4
Welcome to 'ML' Team, good to see you here

:arrow_forward: This issue will helps readers in acquiring all the knowledge that one needs to know about ----
### **_Challenges and Future Scope of Reinforcement Learning_**.

:red_circle: To get assigned to this issue, add your **Batch Numbers** mentioned in the spreadsheet of "Machine Learning", the approach o

[2021-10-10 05:53] abhisheks008 commented on #5314
This is an Audio content. @PurviBhoyar21 Issue assigned to you, complete within 3 days.

[2021-10-10 05:54] abhisheks008 commented on #5318
@ayushi424 issue assigned to you, complete this within 3 days.

[2021-10-10 05:54] Isha307 commented on #5319
@nehakale8 Assigned to you, Make the PR in 3 days.

[2021-10-10 05:55] abhisheks008 commented on #5323
@riyasai22 issue assigned to you, complete this within 3 days.

[2021-10-10 05:56] abhisheks008 commented on #5328
@uttarabahad Issue assigned to you, complete this within 3 days.

[2021-10-10 05:58] abhisheks008 commented on #5334
@TishaJhabak1014 Issue assigned to you, complete this within 3 days.

[2021-10-10 05:58] geeythree commented on #5330
@Yugal41735 Go ahead! Please make sure to complete the work and make a PR within 3 days. 😄

[2021-10-10 05:58] nehakale8 commented on #5319
Yess
Thank you 😄

[2021-10-10 05:59] abhisheks008 commented on #5314
@PurviBhoyar21 One issue at a time.

[2021-10-10 05:59] harsh827 commented on #2445
/assign audio

[2021-10-10 05:59] geeythree commented on #5336
@ayushi424 Go ahead! Please make sure to complete the work and make a PR within 3 days. 😄

[2021-10-10 06:02] abhisheks008 commented on #5336
@ayushi424 One issue at a time please!

[2021-10-10 06:02] Muskan-creator opened #5342 "DSA:2.2.11 Explain everything related to shell sort"
### Description

Give an introduction and explain the working of an algorithm for shell sort.

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been

[2021-10-10 06:05] Muskan-creator opened #5343 "DSA:2.2.12 Explain everything related to shell sort"
### Description

## Description
Give an introduction and explain the working of shell sort

## Task

- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned,

[2021-10-10 06:06] Muskan-creator opened #5344 "DSA:2.2.13 Everything about shell sort"
### Description

## Description
Give an introduction and explain the working of shell sort in video format

## Task

- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already

[2021-10-10 06:07] abhisheks008 commented on #5336
@Ruchika-20 Issue assigned to you, complete this within 3 days.

[2021-10-10 06:09] dikshamalik2552 opened #5345 "DSA:Quick_Sort"
### Description

Adding all about the searching and sorting algorithm Quick sort and its implementation in java

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/m

[2021-10-10 06:09] ashish-patwal commented on #5240
@Adi9235 Sorry , the issue has already been claimed .

[2021-10-10 06:12] Muskan-creator opened #5346 "DSA:2.2.1.1 Difference between searching and sorting algorithms"
### Description

## Description
Give an introduction and explain difference between searching and sorting algorithms

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the

[2021-10-10 06:13] abhisheks008 commented on #5321
@PurviBhoyar21 One issue at a time.

[2021-10-10 06:14] abhisheks008 commented on #5324
@Yugal41735 Issue assigned to you, complete this within 3 days.

[2021-10-10 06:15] Muskan-creator opened #5348 "[DSA]: 2.2.1.2 Differnece between searching and sorting algorithms."
### Description

## Description
Give an introduction and write about differences between searching and sorting alogorithms

## Task

- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the i

[2021-10-10 06:15] 1PRatgit opened #5349 "JUCE Framework with C++"
### Description

Explain about JUCE framework with respect to C++ in documentation.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUC

[2021-10-10 06:16] Yugal41735 commented on #5324
Yup I will make pr by today 👍

On Sun, 10 Oct 2021, 11:45 Abhishek Sharma, ***@***.***>
wrote:

[2021-10-10 06:16] #5345 closed

[2021-10-10 06:16] ron352 commented on #5338
Sarmistha sarna
Batch 1
Type: audio

[2021-10-10 06:16] Muskan-creator commented on #5345
Please don not create duplicated issue

[2021-10-10 06:17] Ruchika-20 commented on #4757
would like to work on this issue
name : ruchika singh
Batch no : 10
Serial no : 331
type : documentation
approach : all necessary info

[2021-10-10 06:17] Ruchika-20 commented on #5059
would like to work on this issue
name : ruchika singh
Batch no : 10
Serial no : 331
type : documentation
approach : all necessary info

[2021-10-10 06:18] Muskan-creator opened #5350 "DSA:2.2.1.3 Explain difference between searching and sorting algorithms"
## Description
explain the difference between searching and sorting algorithms

## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to reques

[2021-10-10 06:21] ASLManasa commented on #5324
Name: A.S.L.Manasa
Batch - 1
Profile: https://github.com/ASLManasa
Documentation

[2021-10-10 06:21] Muskan-creator opened #5351 "[DSA]:2.10.3 explain Quick sort"
## Description
Explain quick sort in video format

## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request for a different task within

[2021-10-10 06:21] usgn94 commented on #5329
I would like to work on documentation
Pla assign me

[2021-10-10 06:23] ASLManasa commented on #5327
Name: A.S.L.Manasa
Batch - 1
Profile: https://github.com/ASLManasa
Documentation

[2021-10-10 06:23] abhisheks008 commented on #5324
@ASLManasa issue assigned to you, complete this within 3 days.

[2021-10-10 06:24] abhisheks008 commented on #5327
@sanjana-coder @GauravPoosarla @ASLManasa  this is a Video content, read the guidelines of the issue before commenting into that.

[2021-10-10 06:25] Muskan-creator opened #5352 "DSA:2.2.14.1 Explain heap sort ( Searching and sorting)-Video"
### Description

## Description
explain heap sort algorithm

## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request for a different t

[2021-10-10 06:26] abhisheks008 commented on #5341
@mandeep168 provide all the details mentioned in the issue guidelines.

[2021-10-10 06:27] Muskan-creator opened #5353 "[DSA]:Explain heap sort(Searching and sorting ) -Audio"
### Description

Explain heap sort in audio format

## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request for a different task withi

[2021-10-10 06:29] Muskan-creator opened #5354 "[DSA]2.2.14.3 explain heap sort(searching and sorting)-Documentation"
### Description

explain the heap sort

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- In case you see that the issue has already been assigned, try to request for a different task within th

[2021-10-10 06:34] TusharSrivastav-27 opened #5355 "Competitive Programming : Insertion Sort"
### Description

Documentation about Insertion Sort (Definition, Algo, code, etc)

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.githu

[2021-10-10 06:36] Arjun2905 commented on #5325
Arjun Wankhede
ML - batch 3
https://github.com/Arjun2905
Type of Contribution : Audio

[2021-10-10 06:40] Muskan-creator opened #5356 "DSA:2.1.14.1 explain Knuth–Morris–Pratt algorithm(Strings)-Documentation"
### Description

Discuss the Knuth–Morris–Pratt . Mention about its implementation, complexity, examples.

## Task
- [ ] Documantation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should be made inside the ``

[2021-10-10 06:41] mrkc2303 commented on #5348
/assign

[2021-10-10 06:43] mrkc2303 commented on #5348
/assign

[2021-10-10 06:43] Muskan-creator opened #5357 "[DSA]: 2.2.14.2 Explain Knuth–Morris–Pratt algorithm(Strings)-Audio"
### Description

Discuss the Knuth Moris Pratt Algorithm. Mention about its implementation, complexity, examples.

## Task
- [ ] Audio

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should be made inside the ``

[2021-10-10 06:43] srini047 commented on #5329
Hi, I would like to work on this issue.
Name: Sriniketh J
Batch No: 1
Profile: https://github.com/srini047/
Type: Video

[2021-10-10 06:43] tanvideshmukh29 commented on #5330
Tanvi Deshmukh
Batch 5
Plz assign to me

[2021-10-10 06:45] Muskan-creator opened #5358 "DSA:2.2.14.3 Explain Knuth–Morris–Pratt algorithm(Strings)-Video"
### Description

Discuss theKnuth–Morris–Pratt  Algorithm. Mention about its implementation, complexity, examples.

## Task
- [ ] Video

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- Kindly refer to [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIBUTING.md#issues).
- Changes should be made inside the `

[2021-10-10 06:45] Anant1711 commented on #5310
Assigned!

[2021-10-10 06:48] 0xUvaish commented on #5346
Assign this to me pls.
Mohd Uvaish Siddiqui
Batch - 7 DSA
Type - Documentation

[2021-10-10 06:48] amino19 commented on #3031
Pl abide code of conduct of the program, do not assign more than 3 issues.
Do you still wanna pick this up?

[2021-10-10 06:55] mandeep168 commented on #5354
Mandeep Kaur
DSA batch - 5
video

[2021-10-10 06:57] GenMech commented on #5354
Gitesh Pareek
DSA Batch -1
Document

[2021-10-10 07:00] mandeep168 commented on #5352
Mandeep Kaur
batch - 5

[2021-10-10 07:03] paramsiddharth commented on #5128
@arp99 Done! :) Please go ahead.

[2021-10-10 07:04] paramsiddharth commented on #2358
Of course, @deepak089 ! Please tag me in the General channel for JS in Discord. I'll help you out.

[2021-10-10 07:05] paramsiddharth commented on #380
@4neesc0des Please note that a document is already contributed. I encourage you to contribute in a different format, or extend the document if you feel the need to.

[2021-10-10 07:12] anisha-01-phoenix opened #5363 "Animations in Android Studio"
### Description

In this I will be explaining how you can use the following types of animations in your Applications.
        ○ Fade In Animation
        ○ Fade Out Animation
        ○ Cross Fading Animation
        ○ Blink Animation
        ○ Zoom In Animation
        ○ Zoom Out Animation.
        ○ Rotate Animation
        ○ Move Animation
        ○ Slide Up Animation
        ○ Slide Down Animat

[2021-10-10 07:13] anisha-01-phoenix commented on #5363
/assign

[2021-10-10 07:14] tanvideshmukh29 commented on #5354
Tanvi Deshmukh
Batch 7
Type_documentation
Plz assign to me.

[2021-10-10 07:15] tanvideshmukh29 commented on #5351
Tanvi Deshmukh
Batch 7
Documentation

[2021-10-10 07:16] tanvideshmukh29 commented on #5346
Plz assign to me
Tanvi Deshmukh
Batch 7

[2021-10-10 07:19] tanvideshmukh29 commented on #5324
Tanvi Deshmukh
Batch 5
Plz assign to me

[2021-10-10 07:20] tanvideshmukh29 commented on #5317
Tanvi Deshmukh
Batch 5
Plz assign to me

[2021-10-10 07:20] paramsiddharth commented on #73
@Jafrin136 Please note that a documentation has already been contributed. If you wish to make a PR, either extend the previously merged document or contribute in a different format.

[2021-10-10 07:22] tanvideshmukh29 commented on #5355
Tanvi Deshmukh
Batch 7
Plz assign to me

[2021-10-10 07:24] paramsiddharth commented on #2693
@its-me-Harsh-Anand @madildev I'm sure more content on this topic would be a great addition to the repository. Please go ahead. Check the update I'll make to the issue description in a few minutes.

[2021-10-10 07:29] Ruchika-20 commented on #5336
@abhisheks008  where is reinforcement _learning branch?

[2021-10-10 07:30] paramsiddharth commented on #830
@4neesc0des You're most welcome to do it! Please keep track of #3514, which might be merged soon, to ensure there aren't any conflicts introduced by a PR that you make.

If you need any help, tag me or the mentors in Discord. Good luck!

[2021-10-10 07:32] ankushsingh24 opened #5366 "C_CPP : Common Elements in Three Sorted Arrays"
### Description

This documentation will explain Common Elements in Three Sorted Arrays with the help of a problem in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contrib

[2021-10-10 07:36] NikitaEmberi commented on #5327
Name-Nikita Bhrugumaharshi Emberi
Domain-Machine Learning
Batch-6
Serial No-992
type : video

[2021-10-10 07:36] YASHMAROO commented on #4765
@anandhu720 @NikhilSharma03 please close this issue as my PR has been merged.

[2021-10-10 07:37] YASHMAROO commented on #5179
/assign

[2021-10-10 07:40] Ruchika-20 commented on #5336
where is reinforcement branch?where do i create a PR?

On Sun, Oct 10, 2021 at 11:37 AM Abhishek Sharma ***@***.***>
wrote:

[2021-10-10 07:57] #3804 closed

[2021-10-10 08:02] adityabisoi commented on #3689
@apeksha235 Is the mentor of this issue

[2021-10-10 08:08] #4777 closed

[2021-10-10 08:09] mandeep168 commented on #5351
Mandeep Kaur
batch - 5
video

[2021-10-10 08:10] DiyaVj commented on #2727
/assign

[2021-10-10 08:13] #4473 closed

[2021-10-10 08:17] #5014 closed

[2021-10-10 08:19] #5009 closed, assigned to ShivaniAgarwal2001

[2021-10-10 08:19] AdityaPandey03 commented on #1943
@anandhu720 can you please merge the pr?

[2021-10-10 08:20] #49 closed

[2021-10-10 08:20] kashishahuja2002 opened #5372 "Lower bound: cpp"
### Description

Documentation on lower_bound() method in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project

[2021-10-10 08:21] kashishahuja2002 commented on #5372
/assign

[2021-10-10 08:26] TusharSrivastav-27 commented on #5355
Sorry Tanvi Deshmukh I have already written half of documentation on this topic

[2021-10-10 08:34] SourabhSaraswat-191939 commented on #2063
@Prateek-8168, this PR is opened from last 18 days. Please update us if you are facing any issues.

[2021-10-10 08:35] #4536 closed

[2021-10-10 08:40] thatSophisticatedMess18 commented on #5356
Diksha Gupta
Batch -2

[2021-10-10 08:43] thatSophisticatedMess18 commented on #5342
Diksha Gupta
Batch-2

[2021-10-10 08:47] #4897 closed, assigned to RIYANSHGARG

[2021-10-10 08:48] anandhu720 commented on #2063
@Prateek-8168 If you will not respond in one day we will re-assign this task.

[2021-10-10 08:54] dhruti29 commented on #5346
@Muskan-creator I would like to work on this issue. (documentation)
Batch -2
Dhruti Gandhi

[2021-10-10 08:56] riyasai22 commented on #5323
I have completed my PR #5361. Kindly look review it. @abhisheks008

[2021-10-10 08:58] Aryamanz29 commented on #4694
Max 1day more @Adi9235

[2021-10-10 09:10] anisha-01-phoenix commented on #5363
/assign

[2021-10-10 09:29] VandanaKumari18 commented on #5344
Pls assign this to me..
Dsa batch 8

[2021-10-10 09:30] Sumit3301 commented on #5322
@abhisheks008 kindly assign me this issue
Name: Sumit Gaur
Batch - 3
type:video

[2021-10-10 09:41] jaigora24 commented on #5356
/assign

[2021-10-10 09:41] jaigora24 commented on #5356
Jai Gora
Batch 7

[2021-10-10 09:42] Muskan-creator commented on #5351
@tanvideshmukh29 go ahead

[2021-10-10 09:43] jaigora24 commented on #5346
/assign

[2021-10-10 09:49] #4196 closed

[2021-10-10 09:51] Muskan-creator commented on #5346
@dhruti29 assigning to you

[2021-10-10 09:54] Gauri-1608 commented on #5050
/assign

[2021-10-10 10:15] stuti2 commented on #5242
/assign

[2021-10-10 10:15] ayushkx commented on #5242
/assign

[2021-10-10 10:41] stuti2 opened #5388 "Frontend Web Development: CSS Dropdowns"
### Description

This documentation is about creating a hoverable dropdown with CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.g

[2021-10-10 10:43] ayushkx commented on #5388
I want to work on this .

[2021-10-10 10:44] ayushkx commented on #5388
/assign

[2021-10-10 10:48] ayushkx opened #5389 "Frontend Web Development: CSS !important property"
### Description

This documentation is about the !important rule in CSS.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_O

[2021-10-10 10:48] ayushkx commented on #5389
/assign

[2021-10-10 11:11] prathimacode-hub commented on #5056
Issue assigned to @mahmoudmohamed22 for documentation

[2021-10-10 11:16] hrugved06 commented on #5326
- Name: Hrugved Kolhe
- Batch: 3
- [GitHub Profile](https://github.com/hrugved06)
-  [x]  Audio
I would like to work on the issue

[2021-10-10 11:27] AdityaNikhil commented on #5335
**Full name** : Aditya Nikhil
**Batch Number** : 2
**GitHub Profile Link** : github.com/adityanikhil
**Which type of Contribution you want to make** :
Video

[2021-10-10 11:29] susrutadas commented on #5284
/assign

[2021-10-10 11:34] prathimacode-hub opened #5390 "Data Science with Python : Clustering of Countries"
Description
Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Clustering of Countries' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Document

[2021-10-10 11:35] vasu-1 opened #5391 "gcc/g++ installation guide for ubuntu users"
### Description

In this issue i will work on how to install of gcc/g++ in ubuntu.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-10-10 11:37] prathimacode-hub opened #5392 "Data Science with Python : Data Discretization during Pre Model Processing"
Description
Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Data Discretization during Pre Model Processing' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the cho

[2021-10-10 11:39] Yugal41735 commented on #4104
@abhisheks008  I am unable to checkout to Machine Learning  branch after cloning the repo

[2021-10-10 11:40] prathimacode-hub opened #5394 "Data Science with Python : Dealing with Missing Values"
Description
Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Dealing with Missing Values' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Docu

[2021-10-10 11:42] pushpit-J19 commented on #5392
Thankyou @prathimacode-hub
I will be working on documentation part of this issue
[x] I will follow Contributing Guidelines & Code of conduct of this project.

[2021-10-10 11:44] prathimacode-hub commented on #5390
Issue assigned to @Deepika-Pavundoss for documentation

[2021-10-10 11:45] prathimacode-hub commented on #5059
Issue assigned to @Ruchika-20 for documentation

[2021-10-10 11:52] #4996 closed, assigned to Akshat-2002-coder

[2021-10-10 11:56] prettylittleminds opened #5396 "C_CPP: Introduction To Arrays"
### Description

I want to contribute using **documentation** on "Introduction to Arrays" using C. I would be covering every topic from the very basics.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.c

[2021-10-10 11:56] Pranshu321 opened #5397 "C_CPP :- Structure Padding in C"
### Description

### I would like to work on this issue in this , I deeply explain about the Structure padding . How it is , How its work and with understandable code snippets.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of c

[2021-10-10 11:56] Pranshu321 commented on #5397
/assign

[2021-10-10 12:00] photon149 commented on #5394
/assign

[2021-10-10 12:01] #5396 closed

[2021-10-10 12:02] photon149 commented on #5394
/Name: Shiwansh Raj
Batch: 10
Sr. No: 368
 Documentation
 Approach: several ways of dealing with missing values , and explaination giving examples
@prathimacode-hub please assign the same to me

[2021-10-10 12:02] prettylittleminds opened #5400 "C_CPP: Introduction To Arrays"
### Description

I want to contribute using **Video** on "Introduction to Arrays" using C. I would be covering every topic from the very basics.

### Domain

C/CPP

### Type of Contribution

Video

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/wi

[2021-10-10 12:10] pranav7kaushik commented on #5334
Name-Pranav Kaushik
Domain-Machine Learning
Batch-4
Github Profile: https://github.com/pranav7kaushik
Type : Documentation

[2021-10-10 12:23] prathimacode-hub commented on #5394
Hey, there is already same issue that's assigned to you. I shall close this one as it's duplicate. @photon149

[2021-10-10 12:24] prathimacode-hub commented on #4757
Already an issue is assigned to you. @Ruchika-20

[2021-10-10 12:25] prathimacode-hub commented on #3985
Serial number? @nakshatra-garg

[2021-10-10 12:33] tanvideshmukh29 commented on #5351
It is for documentation .

[2021-10-10 12:40] TammanaNiharika opened #5404 "Python Scope"
### Description

The objective is to explain the scope of variables in a python program and their behavior within the scope.

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter

[2021-10-10 12:44] asppanda12 opened #5405 "[Create New Issue]: DP ON TREES"
### Description

I WILL BE GIVING AN DOCUMENTATION ON DP WITH TREES WITH FULL EXPLANATION AND SOME QUESTION WHICH WILL HELP OTHERS UNDERSTANDING THE CONCEPT

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of con

[2021-10-10 12:45] asppanda12 commented on #5405
/assign

[2021-10-10 12:45] asppanda12 commented on #5405
/assign

[2021-10-10 13:14] TusharSrivastav-27 opened #5406 "DSA : Time Complexity"
### Description

I will discuss about time complexity and how to calculate it using some examples.

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/C

[2021-10-10 13:16] Varun270 commented on #4363
<img width="875" alt="DSA_sync" src="https://user-images.githubusercontent.com/75975268/136697363-2b42130b-1f04-4d8e-9050-65fef0c48e64.png">
@nimisha-yadav See this is the problem that I am facing while syncing DSA(local) -----> DSA (upstream). The document is ready but I am unable to find the folders where I am supposed to put it and the reason is my local is not synced with upstream. What can I

[2021-10-10 13:16] ashish-reddy-20-08 commented on #5390
good evening mam @prathimacode-hub , Can you please assign me this issue for Video contribution.
Name: M. Ashish Reddy
Batch: 5

[2021-10-10 13:36] NandiniAgrawal15 opened #5409 "N-Queen Problem"
### Description

I want to add n-queen problem code
/assign

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-10 14:11] Isha307 commented on #5335
@AdityaNikhil Assigned to you, Make the PR in 3 days.

[2021-10-10 14:12] Isha307 commented on #5326
@hrugved06 Assigned to you, Make the PR in 3 days.

[2021-10-10 14:17] Isha307 commented on #5333
@tavneetgill Assigned to you, Make the PR in 3 days.

[2021-10-10 14:19] YASHMAROO commented on #4555
@Satyam175 please close this issue also.

[2021-10-10 14:20] #5366 closed

[2021-10-10 14:23] Isha307 commented on #5338
@ron352 Assigned to you, Make the PR in 3 days.

[2021-10-10 14:24] triptic1412 commented on #3301
@goelesha ma'am kindly review my PR. Since I'm a beginner, so if anything wasn't done right, you can let me know, I'll make the required changes.

[2021-10-10 14:29] #4792 closed

[2021-10-10 14:30] ViAsmit opened #5417 "Flutter: Create a Flutter Dice App"
### Description

# A simple Flutter Dice App.

<img src="https://user-images.githubusercontent.com/55342789/136699490-7913e8e6-c0c3-4e91-9217-5b20fdc3a74e.png" height="500px" />

## Description:
A simple dice application, with two dice images, a button to roll the dice, and a variable to show the sum of the variable, according to the images shown above.

### Checklist or Features Required:
- [x] A

[2021-10-10 14:30] likitarai1 commented on #4453
@Ash515 please review my PR.

[2021-10-10 14:31] Niranjan5601 commented on #5417
/assign

[2021-10-10 14:32] LegendSumeet commented on #5356
/assign

[2021-10-10 14:32] saloni-15 commented on #4822
hey @ChauhanRitika, you can simply comment `/assign` to get assigned.

[2021-10-10 14:34] ViAsmit opened #5418 "Flutter: Dice App: Part 1 - Add Assets"
### Description

Add assets for the dice images - 6 images of dice representing each side of the dice.

Reference: #5417

### Domain

Android Dev (Flutter)

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of

[2021-10-10 14:35] SB2318 commented on #5285
I want to work on this issue. Please assign it to me @Rohit-2602

[2021-10-10 14:36] ViAsmit opened #5419 "Flutter: Dice App: Add Static Screen"
### Description

Add a simple static home screen,  having two dice, a button, and a count variable according to the image referred in the main issue.

Reference: #5417

### Domain

Android Dev (Flutter)

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of c

[2021-10-10 14:37] Niranjan5601 commented on #5418
/assign

[2021-10-10 14:38] ViAsmit opened #5420 "Flutter: Dice App: Logic and adding functions"
### Description

After having assets and UI, you have to create a logic and function between them, to complete the working of DICE App.

Reference: #5417

### Domain

Android Dev (Flutter)

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https:

[2021-10-10 14:43] likitarai1 commented on #3268
@nimisha-yadav please review my PR #5225

[2021-10-10 14:45] #4555 closed

[2021-10-10 14:45] Safwan310 commented on #5420
/assign

[2021-10-10 14:46] karma659 opened #5422 "Competitive Programming : : Flatten Binary Tree to Linked List"
### Description

I want to provide  documentation of flattening a binary tree

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-10-10 14:46] Safwan310 commented on #5419
/assign

[2021-10-10 14:48] KhafiaAyyub opened #5423 "Open Source : 6.35 Explain everything related to VLC media player"
### Description

Open Source: 6.35 Explain everything related to VLC media player

NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.35_VLC_media_player.md`

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of

[2021-10-10 14:51] #5005 closed, assigned to eshan1925

[2021-10-10 14:56] anisha-01-phoenix commented on #5286
/assign

[2021-10-10 15:02] KhafiaAyyub opened #5424 "Open Source: 6.36 Explain everything related to `LibreOffice`"
### Description

Description
Open Source: 6.36 Explain everything related to LibreOffice

NOTE 👇
Please put your doc `6.Popular_Projects` with the name `6.36_LibreOffice.md`

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code o

[2021-10-10 15:06] ankushsingh24 opened #5426 "C_CPP : Valid Brackets using Stack in C++"
### Description

This documentation will explain whether the expression have Valid Brackets or Not using Stack in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributin

[2021-10-10 15:07] ankushsingh24 commented on #5426
/assign

[2021-10-10 15:08] Rohit-2602 commented on #5285
@SB2318 type "/assign"

[2021-10-10 15:09] rishitajain01 commented on #3391
/assign video

[2021-10-10 15:12] #2945 closed

[2021-10-10 15:29] IshitaBisaria opened #5431 "DSA : Next Greater Element"
Question : Given an array. Find the next Greater Element for every element in the array and return the new arrary

[2021-10-10 15:30] satyam-mahajan commented on #5230
Hii,I am able to fix the issue, can you assign me the task ?

[2021-10-10 15:30] IshitaBisaria commented on #5431
/assign

[2021-10-10 15:46] Ashi-00 commented on #572
i would like to contribute to it via **VIDEO**
Ashi Dubey
batch 5
@adityabisoi

[2021-10-10 15:46] IshitaBisaria opened #5434 "DSA : Majority Element"
###Description
This documentation contains the solution for the Majority Element.
Given an array A of N elements. Find the majority element in the array. A majority element in an array A of size N is an element that appears more than N/2 times in the array.

###Domain
DSA

###Type of Contribution
Documentation

###Code of Conduct
- [x]  I follow Contributing Guidelines & Code of conduct of this pr

[2021-10-10 15:47] ViAsmit opened #5435 "Flutter: Create a Flutter Bulb App"
### Description

# A simple Flutter Bulb App

## Description
A simple app with bulb images (one on, and one off ) and a switch button, to make the bulb on or off.

<img src="https://user-images.githubusercontent.com/55342789/136703071-f04909c9-8d76-47b3-bf27-a5f2f0d57719.png" height="500px" />

Features Required:

- [x] Add Assets
- [x] Create Static Main Page ( No Logic, only UI)
- [ ] Add Logic

[2021-10-10 15:48] ViAsmit opened #5436 "Flutter: Add Assets"
### Description

Add assets like 2 bulb images  (one on and one off) and any other images required

Reference: #5435

### Domain

Android Dev (Flutter)

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-con

[2021-10-10 15:50] ViAsmit opened #5437 "Flutter: Bulb App: Add Static Home Page"
### Description

Create a home page, consist of bulb image, switch, app bar, or any other components if required
(Only UI, no logic here)

Reference: #5435

### Domain

Android Dev (Flutter)

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](http

[2021-10-10 15:51] ViAsmit opened #5438 "Flutter: Bulb App: Add Logic and Functions"
### Description

After assets and UI, create logics and function, to complete the working of app

Reference: #5435

### Domain

Android Dev (Flutter)

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contr

[2021-10-10 15:57] harichandana1406 commented on #5055
Name: Srikurmum HariChandana
Batch - 21
Profile: https://github.com/harichandana1406
Documentation

[2021-10-10 15:57] naveeramesh commented on #5437
/assign

[2021-10-10 15:58] harichandana1406 commented on #5055
@prathimacode-hub Can you assign me the task now?

[2021-10-10 16:00] sakshamlamba109 opened #5439 "Java 22.2: Bounded Types"
<hr>

## Description 📜

Add audio, documentation and video regarding the Need of Java.

<hr>

## Domain of Contribution 📊

- [x] Java

<hr>

## Location of File to be added

The files should be added inside the `Bounded Types` folder which is inside the `Generics` folder present in the `Java` main folder. If the folder is not present, create the folder with this exact name. The documentation file

[2021-10-10 16:03] eshan1925 commented on #5417
/assign

[2021-10-10 16:06] satyam-mahajan opened #5440 "Survey Form for GWOC"
### Description

In the Survey Form, we have to collect the information like name, email-id, how the progress of contributors going on and they want any suggestion to improve etc. are done with this feedback form.
for creating a feedback form,I uses html and css.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidel

[2021-10-10 16:07] satyam-mahajan commented on #5440
/assign

[2021-10-10 16:22] SB2318 commented on #5285
/assign

[2021-10-10 16:25] Ayushi-Kosta opened #5442 "Max Circular Subarray Sum"
### Description

Given an array arr[] of N integers arranged in a circular fashion. Find the maximum contiguous subarray sum.
[Link](https://practice.geeksforgeeks.org/problems/max-circular-subarray-sum-1587115620/1#)

### Domain

Competitive Programming

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-c

[2021-10-10 16:26] Ayushi-Kosta commented on #5442
/assign

[2021-10-10 16:48] Safwan310 commented on #5420
@ViAsmit

[2021-10-10 16:48] #4670 closed

[2021-10-10 16:50] areenoverclouds opened #5445 "[C_CPP]: NaN in C++"
### Description

I would like to provide documentation on NaN exception in C++

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md)

[2021-10-10 16:51] #4982 closed

[2021-10-10 16:51] areenoverclouds commented on #5445
/assign

[2021-10-10 16:56] SrijanShovit commented on #4112
@abhisheks008 I have made the PR.

[2021-10-10 16:57] ViAsmit commented on #5417
Hey @eshan1925 this is the project, you don't have to assign in it.. check out the sub-issue or sub task, mentioned in this issue, and then assign that issue to yourself.....

[2021-10-10 16:58] iamtanya-22 opened #5448 "[JAVA]: Relational and Bitwise operators in JAVA"
### Description

Description

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-10 17:00] iamtanya-22 opened #5450 "JAVA : Polymorphism in Java"
### Description

Description

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-10 17:02] iamtanya-22 commented on #5448
/assign

[2021-10-10 17:05] jaissumi1402 commented on #5436
@ViAsmit please assign me this issue

[2021-10-10 17:05] #5242 closed

[2021-10-10 17:25] nandini7637 commented on #5450
@iamtanya-22 you cannot create issues yourself, your PR won't be considered!

[2021-10-10 17:31] #5450 closed, assigned to iamtanya-22

[2021-10-10 17:50] #5418 closed, assigned to Niranjan5601

[2021-10-10 17:51] ViAsmit commented on #5419
@Safwan310 assets are added..now you can start creating home screen..and try to do it fast..so that the contrbutor can work on

[2021-10-10 18:30] Nafizza commented on #5268
/assign

[2021-10-10 18:36] #4368 closed

[2021-10-10 18:37] vikhyatsingh123 commented on #3606
@Shruti-Subu ok

[2021-10-10 18:54] #5372 closed

[2021-10-10 19:07] #5391 closed

[2021-10-10 19:09] nimisha-yadav commented on #4779
Hey, there's a folder named Lyndon Factorisation in 2.1 Strings. You need to add your file there and name it 2.1.18.1_Lyndon_Factorisation.md
And you need to add your documentation via md files, that's it. For reference, you can glance through the already merged files there. @thatSophisticatedMess18

[2021-10-10 19:21] #5046 closed

[2021-10-10 19:25] Palak-Srivastava commented on #5439
\assign documentation

[2021-10-10 19:39] Palak-Srivastava commented on #5166
/assign documentation

[2021-10-10 19:45] anisha-01-phoenix opened #5468 "Different Types of Numbers"
### Description

In this we will be seeing about the different types of numbers and their implementations in C++.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/bl

[2021-10-10 19:45] anisha-01-phoenix commented on #5468
/assign

[2021-10-10 19:48] ayushmansxn01 opened #5469 "Using Google Fonts"
### Description

documentation for insertion of google fonts.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.m

[2021-10-10 19:48] ayushmansxn01 commented on #5469
/assign

[2021-10-10 20:31] aaryan078 commented on #5337
would like to work on this issue
name : Aaryan
Batch no : 2
type : documentation

[2021-10-10 21:06] #1985 closed

[2021-10-10 21:15] Saviour1001 commented on #5349
Closing this as PR #5449 got merged

[2021-10-10 21:15] #5349 closed, assigned to 1PRatgit

[2021-10-10 23:41] nakshatra-garg commented on #3985
609

[2021-10-11 00:52] Rohan749 opened #5476 "NodeJS Described"
### Description

In this issue, I will be providing audio containing a brief description of NodeJS and its usage.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-cont

[2021-10-11 00:52] Rohan749 commented on #5476
/assign

[2021-10-11 00:56] #3634 closed

[2021-10-11 01:59] D-Palamala-Sai-Niharika commented on #5324
Palamala D Sai Niharika
Batch 1
https://github.com/D-Palamala-Sai-Niharika
Documentation
Plz assign to me

[2021-10-11 02:34] warmachine028 commented on #4300
No... Actually he mentioned some issue with my PR .. I'll resolve it and make it again by today ...

[2021-10-11 03:06] #5339 closed

[2021-10-11 03:41] ishrutik opened #5479 "[DSA]:Array: Rotate Image:C++"
### Description

You are given an n x n 2D matrix representing an image, rotate the image by 90 degrees (clockwise).Implemented in C++

### Domain

DSA

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter

[2021-10-11 03:56] akshat-crypto commented on #3506
@pratishthaa i have created one pull request regarding this issue. Can you please check this and merge it

[2021-10-11 04:11] Anant1711 opened #5481 "Cybersecurity 6.4 Information gathering"
### Description

## Tell What is Information gathering and how it will be done?

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
-

[2021-10-11 04:12] Anant1711 opened #5482 "Cybersecurity 6.5 Reconnaissance"
### Description

## Discuss Reconnaissance and its methods/tools

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [

[2021-10-11 04:12] ShivaniAgarwal2001 commented on #5469
/assign documentation

[2021-10-11 04:13] Anant1711 opened #5483 "Cybersecurity 6.6 Threat Modelling"
### Description

## Discuss Threat Modelling in detail

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Check it out [Contributi

[2021-10-11 04:14] Anant1711 opened #5484 "Cybersecurity 6.7 Gaining access"
### Description

## Discuss Gaining access and its types, methods and tools.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
- Ch

[2021-10-11 04:16] Anant1711 opened #5485 "Cybersecurity 6.8 Maintaining access"
### Description

## Discuss how hackers maintain access, methods and its types.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first come first serve*
-

[2021-10-11 04:17] Anant1711 opened #5486 "Cybersecurity 6.9 Covering tracks"
### Description

## Discuss how hackers Covering their tracks so that nobody can identify them.

## Note:
- If interested, mention in which format you want to contribute: `Documentation` or `Video`
- Please avoid copy/paste, `BE YOURSELF`
- Try to explain with *Diagrams*
- Changes should be made inside the `Cyber_Security/` directory & `Cyber_Security `branch.
- Task will be assigned on *first com

[2021-10-11 04:22] #5041 closed, assigned to Rohan749

[2021-10-11 04:29] Anant1711 commented on #5483
Assigned!

[2021-10-11 04:32] ChauhanRitika commented on #4822
/assign

[2021-10-11 04:42] ayushmansxn01 commented on #5469
/assign

[2021-10-11 04:49] kashishahuja2002 opened #5489 "StringBuilder and StringBuffer: Java"
### Description

Documentation on StringBuilder and StringBuffer classes and their methods.

### Domain

Java_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/

[2021-10-11 04:58] syedareehaquasar commented on #5168
it's merged in ur repo if u want I can unmerge the changes but it's not pushed into GWoc repo yet. it's merged from ur branch to main.

[2021-10-11 05:04] shreyansh2416 commented on #5222
/assign

[2021-10-11 05:18] #3512 closed

[2021-10-11 05:39] ishangupta6412 commented on #2267
https://github.com/girlscript/winter-of-contributing/pulls/ishangupta6412

bhaiya this is the link

On Mon, Oct 11, 2021 at 3:50 AM Hrishit Prasad Biswas <
***@***.***> wrote:

[2021-10-11 05:43] ayushjain27 commented on #5163
@moulikagrawal Please review my PR
https://github.com/girlscript/winter-of-contributing/pull/5170/commits/6cd34c0e90c248d1254136970485bf4b097c98b4

[2021-10-11 05:47] KmKalpana commented on #5481
/assign
type-documentation

[2021-10-11 05:50] jaissumi1402 commented on #5436
@ViAsmit yes sure

[2021-10-11 05:53] Aarushijain-06 opened #5496 "Phone Call Scenerio Project"
### Description

I will add the program for the phone call scenario in C language.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT

[2021-10-11 05:53] Aarushijain-06 commented on #5496
/assign

[2021-10-11 05:55] #5323 closed

[2021-10-11 06:03] ishangupta6412 opened #5499 "Juice Framework with Cpp"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-11 06:05] abhisheks008 commented on #5322
@Sumit3301 issue assigned to you.

[2021-10-11 06:09] abhisheks008 commented on #5331
@riyasai22 issue assigned.

[2021-10-11 06:09] abhisheks008 commented on #5337
@aaryan078 this is a video contribution

[2021-10-11 06:23] RK1905101 commented on #5435
Can I contribute in this for documentation part?

[2021-10-11 06:25] shreyarai05 opened #5501 "Assignment operators in c++"
### Description

Explaination of the topic using examples and code.

### Domain

C/CPP

### Type of Contribution

Audio

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-11 06:25] RK1905101 commented on #5435
/assign

[2021-10-11 06:27] Aarushijain-06 opened #5502 "Program to append last N nodes to first"
### Description

I will add the program to append the last N nodes to the first in Linked List.

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CO

[2021-10-11 06:32] PrachiDoshi2170 commented on #5482
Name: Prachi Doshi
Type: Documentation
@Anant1711 if you can assign this to me please

[2021-10-11 06:38] nidhi333-9 commented on #242
Hello @praveenscience , I'm interested on this issue. I would like to contribute on this topic via documentation(including the code).
Plz consider me.

[2021-10-11 06:49] goelesha opened #5504 "DSA 3.1.1 LINKED LIST- Introduction to Linked List"
### Description

### Description
Explain what is a linked list and how to implement it.
**Do not use ASSIGN command**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blo

[2021-10-11 06:52] goelesha opened #5505 "DSA 3.1.2.1 LINKED LIST- Operations on Linked List - Insertion"
### Description

### Description
Explain and implement insertion in the linked list.

**Do not use ASSIGN command**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/

[2021-10-11 06:54] goelesha opened #5506 "DSA 3.1.2.2 LINKED LIST- Operations on Linked List - Deletion"
### Description

### Description

Explain and implement deletion in the linked list.

**Do not use ASSIGN command**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/

[2021-10-11 06:55] goelesha opened #5507 "DSA 3.1.2.3 LINKED LIST- Operations on Linked List - Searching"
### Description

### Description

### Description
Explain and implement searching in the linked list.

**Do not use ASSIGN command**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-c

[2021-10-11 06:56] goelesha opened #5508 "DSA 3.1.2.4 LINKED LIST- Operations on Linked List - Sorting"
### Description

### Description
Explain and implement sorting in the linked list.

**Do not use ASSIGN command**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DS

[2021-10-11 06:58] goelesha opened #5510 "DSA 3.2.4 Greedy Algorithms - Huffman Coding"
### Description

### Description
Explain and implement Huffman coding

**Do not use ASSIGN command**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contributing/blob/DSA/DSA/CONTRIB

[2021-10-11 07:00] goelesha opened #5512 "DSA 3.2.9 Greedy Algorithms - Kruskal's MST"
### Description

### Description
Explain and implement Kruskal's Minimum Spanning Tree Algorithm.

**Do not use ASSIGN command**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contr

[2021-10-11 07:00] HumblePlebeian commented on #5484
I would like to work on the documentation part.
Please assign this issue to me

[2021-10-11 07:00] goelesha opened #5513 "DSA 3.2.10 Greedy Algorithms - Prim's MST"
### Description

### Description
Explain and implement Prim's Minimum Spanning Tree Algorithm.

**Do not use ASSIGN command**

## Task
- [ ] Documentation

## Note
- While requesting the issue to be assigned, please mention your **NAME & BATCH NUMBER**.
- **Mention the type of contribution you want to make**.
- Kindly refer to the [Issue Guidelines](https://github.com/girlscript/winter-of-contribu

[2021-10-11 07:14] nickel-28 opened #5514 "Rat in a maze"
### Description

Backtracking-**Rat in a maze**

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-11 07:15] nickel-28 commented on #5514
/assign

[2021-10-11 07:20] thatSophisticatedMess18 commented on #5510
Diksha Gupta
Batch-2
Mam, can you please assign this issue to me.

[2021-10-11 07:28] #3506 closed

[2021-10-11 07:30] iamsunil25 opened #5517 "Open Source: 6.37 Explain everything related to `Electron`"
### Description

Description
Open Source: 6.37 Explain everything related to Electron (Software Framework)

NOTE 👇
Please put your doc  6.Popular_Projects with the name 6.37_Electron.md

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.m

[2021-10-11 07:38] iamsunil25 opened #5519 "Open Source : 7.11 Explain everything related to Eclipse Public License"
### Description

Description 📜
Open Source : 7.11 Explain everything related to Eclipse Public License

NOTE 👇
Please put your doc 7.License/ with the name 7.11_Eclipse_Public_License.md

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.

[2021-10-11 07:39] iamsunil25 commented on #5519
/assign

[2021-10-11 07:53] #1674 closed

[2021-10-11 07:55] Sin-Sumit opened #5522 "Programming Fundamentals of JavaScript"
### Description

I will add the Operators in JavaScript & some mathematical operations.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main

[2021-10-11 07:56] thatSophisticatedMess18 commented on #5505
so mam I won't be getting any other issues apart from this now?

[2021-10-11 08:08] nickel-28 opened #5524 "C_CPP: The Knight’s tour"
### Description

Documentation of **The Knight’s tour Problem**

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this projec

[2021-10-11 08:35] prathimacode-hub opened #5529 "Data Science with Python : Vision Transformers"
Description
Welcome to the 'DSWP' Team, good to see you here.

With this issue, readers will get introduced to the core information about 'Vision Transformers' along with sample code completely in an effective way.

To get assigned to this issue, add your serial numbers mentioned in the spreadsheet of "Data Science with Python", the approach one would follow and the choice you prefer (Documentatio

[2021-10-11 08:50] nickel-28 opened #5532 "Open Source: 5.48 Everything about TensorFlow"
### Description

Documentation about the tensorflow

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-11 08:50] nickel-28 commented on #5532
/assign

[2021-10-11 09:09] nehakale8 commented on #4757
Please assign this issue to me
Name: Neha Kale
Type: documentation
Serial no: 114
Batch 5
Approach: what is 3D reconstruction, Computer Vision, other applications of computer vision, code and output
Thank You

[2021-10-11 09:45] Niki2501 opened #5537 "[Create New Issue]: Basics of Python"
### Description

Description[https://colab.research.google.com/drive/1ZputGUtTUeciPMU5RYh-LijgbjLdIsvN?usp=sharing](url)

Explained about List, Tuples , Set ,etc

### Domain

Python_Domain

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct]

[2021-10-11 09:46] #5537 closed, assigned to nobody

[2021-10-11 10:12] RahulRam29 opened #5539 "Errors in C/C++"
### Description

Description

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CONDUCT.md) of this project.

[2021-10-11 10:19] riyapandey730 opened #5540 "Open Source: 6.38 Explain Everything related to `MongoDB`"
### Description

Open Source: 6.38 Explain everything related to MongoDB Database

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.md) & [Code of conduct](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CODE_OF_CO

[2021-10-11 10:22] Cyber-Prajwal commented on #5229
@tejas342 bro whoever completes first video or doc , create a folder "common_mistakes_&_errors_in_python_programming"

As our issue is same we'll have to use the same folder .

[2021-10-11 10:22] riyapandey730 commented on #5540
@Aryamanz29 please assign me this issue..

[2021-10-11 10:42] #4828 closed, assigned to motasimmakki

[2021-10-11 11:36] dgeee13 opened #5546 "Change opacity of background image using pseudo selectors"
### Description

In this documentation, I will explain how to change the opacity of a background image in a div without affecting the text. This effect can be achieved with the help of before and after pseudo selectors. I will add the explanation along with screenshots and code.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Con

[2021-10-11 11:42] ViAsmit commented on #5437
@naveeramesh assets are ready. now you can start making UI for the application... Also complete it within a day or two..so that other contributor can do logic part....

[2021-10-11 11:44] prathimacode-hub commented on #5529
Issue assigned to @AdityaNikhil for documentation

[2021-10-11 12:39] AkMo3 opened #5553 "Java 22.2: Bounded types"
### Description
 Add audio, documentation, and video regarding the **Bounded types**

 **Location of File to be added** The files should be added inside the _`Bounded_Types`_ which will be inside _`Generics`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb` format.
 * Audio sh

[2021-10-11 12:39] AkMo3 opened #5554 "Java 22.3: Wildcard Arguments"
### Description
 Add audio, documentation, and video regarding the **Wildcard Arguments**

 **Location of File to be added** The files should be added inside the _`Wildcard_Arguments`_ which will be inside _`Generics`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb` format.

[2021-10-11 12:40] AkMo3 opened #5555 "Java 22.4: Generic Methods and generic constructors"
### Description
 Add audio, documentation, and video regarding the **Generic Methods and generic constructors**

 **Location of File to be added** The files should be added inside the _Generic_Methods_And_Constructors`_ which will be inside _`Generics`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can b

[2021-10-11 12:41] AkMo3 opened #5556 "Java 22.5: Generic Interfaces"
### Description
 Add audio, documentation, and video regarding the **Generic Interfaces**

 **Location of File to be added** The files should be added inside the _`Generic_Interfaces`_ which will be inside _`Generics`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.md/.py/.ipynb` format.

[2021-10-11 12:41] AkMo3 opened #5557 "Java 22.6: Ambiguity and generic restrictions"
### Description
 Add audio, documentation, and video regarding the **Ambiguity and generic restrictions**

 **Location of File to be added** The files should be added inside the _`Ambiguity_And_Rstrictions`_ which will be inside _`Generics`_ folder which will be inside of Java folder. If the folder is not present, create the folder with this exact name.

 * The documentation file can be in the `.m

[2021-10-11 12:57] AdityaNikhil commented on #5529
@prathimacode-hub I'll be contributing a video.!

[2021-10-11 13:20] chetan-2002 commented on #5507
Chetan Thakral
Batch -10
I am very much excited to work upon this issue and I would like to contribute to the **documentation** part.  Can you please assign this issue to me?

[2021-10-11 13:30] ikavyajain opened #5563 "Inverted Half Pyramid"
### Description

I have prepared a documentation on:

Inverted Half Pyramid

A fascinating pattern which can have as many equal number of rows and columns as the user wants. 👍
Do try it and enjoy! :

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIB

[2021-10-11 13:31] ikavyajain opened #5564 "Floyd's Triangle"
### Description

I have prepared a documentation on:

Floyd's Triangle
A fascinating pattern which can have as many equal number of rows and columns as the user wants. 👍
Do try it and enjoy! :

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTING.

[2021-10-11 13:33] ikavyajain opened #5565 "Butterfly Pattern"
### Description

I have prepared a documentation on:

Butterfly Pattern

A fascinating pattern which can have as many equal number of rows and columns as the user wants. 👍
Do try it and enjoy! :

### Domain

C/CPP

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript/winter-of-contributing/blob/main/.github/CONTRIBUTIN